[2020-12-16 13:23] rifelpet commented on #9705
I think the process should be documented for others to follow in the future as well. Even just comments in the channels files might be acceptable.

[2020-12-16 14:24] daviddyball commented on #8142
/remove-lifecycle stale

[2020-12-16 15:25] jeffhubLR commented on #8823
/remove-lifecycle stale

[2020-12-16 16:37] cdemers commented on #10388
Thanks for the followup @marga-kinvolk, and sorry for my confusion.  We have the most vanilla Flatcar  install as possible, running a very basic Kops K8s cluster.  Flatcar version 2605.9.0 result in a _no pods can ever start_ situation and rolling back Flatcar to the previous version fixes all issues. It's hard for me not to see the interaction between the Kops and Flatcar 2605.9.0 as being relate

[2020-12-16 16:40] davoodece commented on #5183
Hi all , I am facing same issue..Plz help me on this

ubuntu@ip-172-31-47-103:~$ kops version
Version 1.18.1 (git-453d7d96be)
ubuntu@ip-172-31-47-103:~$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.0", GitCommit:"af46c47ce925f4c4ad5cc8d1fca46c7b77d13b38", GitTreeState:"clean", BuildDate:"2020-12-08T17:59:43Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"

[2020-12-16 16:58] marga-kinvolk commented on #10388
@cdemers I see. To avoid more noise in this issue, please file a Flatcar issue documenting your setup and if possible giving us pointers as to how to reproduce. One particularly interesting piece of info would be the CNI used and the underlying platform (AWS, GCP, bare metal, etc), as we've seen issues with some specific CNIs on specific platforms. Thanks.

[2020-12-16 17:15] MoShitrit commented on #9705
Hey guys,
Glad to help however I can!
I can take the documentation task upon myself as well.
Which section of the docs would it fall under? My gut tells me it should go as a new section under `Development`, even though it's not really _Development_ per-se. Perhaps it's worth renaming this section to `Contribute`?
I can take a first stab at creating the branch and PR and we can kick off the discuss

[2020-12-16 17:22] hakman commented on #10388
@marga-kinvolk if you need any help from the kOps side, please let me know.

[2020-12-16 20:00] justinsb commented on #10382
I implemented a workaround for the failing test in #10437.

I really like the idea of tagging these roles now that they support tagging - it would make cleanup easier, and we could detect collisions (unlikely as they are)

[2020-12-16 20:30] msidwell opened #10438 "AWS EBS gp3 and io2 Support for etcd Volumes"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
Add support to ```addAWSVolume()``` in master_volumes.go for etcd volumes to use AWS gp3 SSD's as they are cheaper and more performant than gp2. Adding support for etcd io2 volumes is also desired due to their higher durability objective relative to io1.

(Edited to remove gp3 node root volume support and defaults which i

[2020-12-17 00:11] rifelpet commented on #9705
We have a few pages that are essentially instructions for contributors to follow when performing certain tasks periodically:
* https://kops.sigs.k8s.io/development/new_kubernetes_version/
* https://kops.sigs.k8s.io/development/release/
* https://kops.sigs.k8s.io/development/homebrew/

Maybe it makes sense to group them together separately from other generic instructions regarding development envir

[2020-12-17 03:52] Deniall commented on #5183
For me, what fixed it was sshing using the user for the specific system your node is running on. ie. if you are running CoreOS, the command/user you want is `ssh -i ~/.ssh/id_rsa core@35.154.181.194`. Ubuntu is different, debian is different again, etc. Hope that helps!

[2020-12-17 07:57] olemarkus commented on #10438
Thanks for all this. No chance you can submit a PR? Seems like you have a good understanding of what should be added.

[2020-12-17 09:51] Moshem123 opened #10441 "Add option to set FELIX_IGNORELOOSERPF for Calico"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.18.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
AWS

4-7. I updated my cluster's instance groups (nod

[2020-12-17 11:37] hakman commented on #10441
@Moshem123 I am familiar with the issue, will try to add this new option to kOps 1.19 that will be released soon.

[2020-12-17 11:38] hakman commented on #10441
/assign

[2020-12-17 13:42] MoShitrit commented on #9705
Yep, agreed!
OK cool, I'll take point on that documentation change and kick off a PR so we can continue the discussion there.

[2020-12-17 13:51] DmyMi commented on #8626
Hello, tried to run
[code]
with kops 1.18.2 and still got the same error:
spec.subnets[1].region: Required value: region must be specified for GCE subnets

[2020-12-17 14:31] msidwell commented on #10438
Can do, I'll attach it in this request thread once I've submitted it

[2020-12-17 16:27] #9603 closed

[2020-12-17 20:36] bharath-123 opened #10454 "Support generating TOML files"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Currently in kOps, there is no easy way to generate TOML files. Containerd uses a TOML file for configuration. This makes it an important use case for kOps as we will be moving away from docker soon enough :)

**2. Feel free to provide a design supporting your feature request.**

https://github.com/pelletier/go-toml seem

[2020-12-17 21:37] jsonmp-k8 commented on #10147
I see this issue after upgrading to 1.18
[code]
However I don't see any of those hanging pods on a cluster that is running for a longer period. (may be the  rolling-update has done the trick)
I see this issue on any new 1.18 KOPS cluster

[2020-12-18 11:36] #10441 closed

[2020-12-18 18:54] #10168 closed

[2020-12-19 11:27] bharath-123 commented on #9712
/assign @bharath-123

[2020-12-19 18:16] #8834 closed

[2020-12-20 08:25] balibebas commented on #10454
I believe OP is suggesting that because Kubernetes is dropping support for Docker as a CRI a change will be necessary in order to use kOps to specify containerd Config when bootstrapping a cluster. Is that correct logic on my part @bharath-123? Also, can you provide an example use case for analysis/testing?

[2020-12-20 10:55] Moshem123 opened #10480 "kops-configuration not starting on ARM processors"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
`AWS`

Trying `kOps 1.19.0-beta2` to run with ARM processor o

[2020-12-20 13:52] hakman commented on #10480
Thanks for reporting this @Moshem123. Should be fixed in beta 3 that will be released next week.
Until then, you can try using AMD64 control plane with ARM64 worker nodes.

[2020-12-20 13:57] Moshem123 commented on #10480
Thanks @hakman but I changed only worker nodes, not masters. As I understand, worker nodes should already support ARM64 no? Is there anything else I need to change in order for the worker nodes to work with ARM64?

[2020-12-20 14:11] hakman commented on #10480
By any chance you are using a `.local` cluster name? Also, what k8s version did you use?
Can you check the logs for the `kops-configuration` service using journalctl? Should tell you what exactly fails.

[2020-12-20 16:03] Moshem123 commented on #10480
Yeah, my cluster name is `clustername.k8s.local`.
Logs I'll try to provide asap as we reverted to AMD64 processors.

[2020-12-20 16:21] hakman commented on #10480
Thanks. No need for logs. I am familiar with the issue, see https://github.com/kubernetes/kops/pull/10396.
A workaround may be to create an empty `/lib64` dir on the host (maybe with a hook).

[2020-12-20 17:59] Moshem123 commented on #10480
Thanks, will it be introduced in beta3?
I didn't see an option in the hooks to create an empty dir, mind giving an example?
Thanks kindly.

[2020-12-20 18:25] hakman commented on #10480
Try using with execContainer and run a shell command `mkdir -p /lib64`.
Or create a file in that dir with fileAssets: https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#fileassets.
Or use additionalUserData to create the dir: https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#optional-step-add-root-certificates-to-instancegroups-root-ca-bundle.

[2020-12-21 08:55] hakman commented on #2214
As @rifelpet and @olemarkus said, kOps creates a route table for each Private subnet. For these we could easily add routes like this:
[code]

Maybe it would be easier create a route table for each Public subnet also and then add new routes to each desired subnet as desired.

[2020-12-21 11:15] dnalencastre commented on #10185
I'm getting the same behaviour in most of my attempts , with the caveat that the labels do eventually change.

Once I discovered that the labels eventually changed (by accident), I measured it to take 52 minutes after the first replacement node became available according to `kubectl get nodes`.
These 52m time was consistent across 3 different attempts.

Further, to add to the confusion, I did get

[2020-12-22 13:17] ryan-dyer-sp commented on #9929
/remove-lifecycle stale

[2020-12-22 17:00] javipolo opened #10492 "nodeup failing to update containerd and dockerd files (and node wont start)"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.19.0-beta.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.16.15

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the sim

[2020-12-22 17:36] hakman commented on #10492
@javipolo I think you bumped into this: https://github.com/kubernetes/kops/issues/10122

[2020-12-22 17:36] hakman commented on #10480
Any luck @Moshem123 ?

[2020-12-22 17:51] javipolo commented on #10492
It totally looks like that .... I'll close the issue then

[2020-12-22 17:51] #10492 closed

[2020-12-22 17:58] Moshem123 commented on #10480
Got rejects from management :) Let's call it for now and close.
Thanks for all the help.

[2020-12-22 17:58] #10480 closed

[2020-12-22 18:15] hakman commented on #10480
Sorry to hear that. :)

[2020-12-22 18:31] hakman commented on #10492
Thanks @javipolo

[2020-12-23 16:41] yannh opened #10498 "Automate rotation of cluster secrets"
This is a follow-up to https://github.com/kubernetes/kops/issues/8919

Kops clusters have an admin account - the credentials, stored in S3, can be exported with kops export kubecfg.
These credentials are not automatically rotated - the following procedure  describes how to do this manually https://kops.sigs.k8s.io/rotate-secrets/

This however requires running commands via SSH on every node, and i

[2020-12-23 17:44] #9705 closed

[2020-12-24 19:20] bharath-123 commented on #10454
@balibebas that is true to an extent. Configuring containerd in kOps is pretty difficult https://github.com/kubernetes/kops/blob/master/pkg/model/components/containerd.go#L70

Quite a few container runtimes are using TOML files to configure like cri-o etc. So adding a way of configuring TOML file will be useful.

[2020-12-25 08:02] olemarkus commented on #10454
Also relevant for the bottlerocket support, @rifelpet

[2020-12-25 08:07] olemarkus commented on #10498
The steps involved to achieve this is documented here: https://kubernetes.io/docs/tasks/tls/manual-rotation-of-ca-certificates/

It is not that trivial to automate this, but at least it may be we can help facilitate the rotation.

[2020-12-25 10:30] #9600 closed

[2020-12-25 16:23] rifelpet commented on #10454
I'm actually using that same library to generate the bottlerocket userdata:

https://github.com/kubernetes/kops/pull/9855/files#diff-c1c852aea92883d3117fae99c1610c5cdcbc217f5aa3b340f23b5dd02e971d99R442

I think using it for generating other TOML files would be appropriate.

[2020-12-25 17:37] #9624 closed

[2020-12-26 12:49] vedantbajaj96 opened #10499 "running kops within docker on ec2 with iam role"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
v1.18.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
v1.19.3

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest

[2020-12-27 08:39] olemarkus commented on #10498
One idea on how to go about this:
* make nodeup check a secret `old-ca`.
* If it exists, write the individual CAs + a bundle to the kubernetes cert location. If it doesn't, just write the regular CA to the bundle file.
* Use the bundle file for kube-apiserver, kube-scheduler etc

The above will ensure that stuff signed by both the old and the new CA works.

In addition, one would need a `kops toob

[2020-12-27 20:36] rifelpet opened #10506 "Data Races reported by `go test -race`"
https://github.com/kubernetes/kops/pull/10443 exposed a few data races that are worth triaging:

<details>
<summary>awstasks.(*SecurityGroup).FindDeletions()</summary>

[code]
</details>

<details>
<summary>openstacktasks.(*Instance).RenderOpenstack()</summary>

[code]

/kind bug

[2020-12-28 03:49] tobernguyen commented on #8714
/remove-lifecycle stale

[2020-12-28 15:55] kuzaxak commented on #9982
What should we do with existing cluster? Is it possible to upgrade?

[2020-12-28 20:51] #9662 closed

[2020-12-28 23:32] colinhoglund commented on #8296
I am having this same issue in multiple clusters which seems to be causing significant amounts of TCP retransmission.

It looks like the discussion above was centered around the `memberlist` GossipState, but protokube uses the `mesh` `GossipState` implementation by default.

https://github.com/kubernetes/kops/blob/784c4f02bc0f01bfcb88a733f62c9cb4c2769f46/protokube/cmd/protokube/main.go#L83

The `m

[2020-12-29 03:58] #9661 closed

[2020-12-29 16:10] #9643 closed

[2020-12-29 22:16] rifelpet commented on #9982
A solution is proposed here: https://github.com/kubernetes/kops/pull/10424#issuecomment-752256987 to prevent any mistaken `terraform apply`s without doing the necessary `terraform state mv` first, the idea is to require an environment variable be set for `kops update cluster --target terraform` whenever this issue would occur.

Any feedback on this solution would be appreciated

[2020-12-29 22:32] kuzaxak commented on #9982
Problem not with tf itself, but with уесв certificates naming.

Domain name for etcs nodes will be changed from etcd-1 to etcd-a, etc.
We already tried it and got a lot certificates issues, adding one by one didn't work either.

[2020-12-29 23:16] rifelpet commented on #9982
With the proposed solution the etcd member names and their certificates won't change for existing clusters, only the terraform resource names. upon upgrading to kops 1.19 you'll be required to `terraform state mv` the `aws_ebs_volume` resource(s) before `terraform apply`, and set an env var for `kops update cluster --target terraform` to confirm you've done that.

[2020-12-30 21:38] #8956 closed

[2020-12-30 23:01] kristijorgji commented on #4534
+1 need this feature, doesn't make sense to have lb and pay extra just for 1 bastion instance

[2020-12-31 07:14] olemarkus commented on #4534
/reopen

It is not that likely that any regular maintainer have the time to implement this, but I am happy to review any PR.

[2020-12-31 08:49] #8768 closed

[2020-12-31 08:50] #9496 closed

[2020-12-31 09:46] juanjoDiaz commented on #8831
/remove-lifecycle stale

[2020-12-31 14:08] rifelpet commented on #10122
This issue is impacting kubernetes 1.17 as well: https://testgrid.k8s.io/kops-versions#kops-aws-k8s-1.17

https://storage.googleapis.com/kubernetes-jenkins/logs/e2e-kops-aws-k8s-1-17/1344395270774853632/artifacts/18.193.88.194/protokube.log

[code]

[2020-12-31 14:15] hakman commented on #10122
Yes, dbus should be installed on those images.
Ref: https://github.com/kubernetes-sigs/image-builder/issues/130

[2020-12-31 22:53] jetersen commented on #8481
/remove-lifecycle rotten

[2021-01-01 15:58] rifelpet opened #10515 "Remove copyright year from generated go files"
The copyright year being in the file header causes issues every new year requiring us to regenerate the apimachinery files for all active branches. This issue was raised and determined the year is not necessary: https://github.com/kubernetes/gengo/issues/24

See also the linked PRs to that issue that are removing it from various kubernetes repos. We should update ours to do the same. One issue we

[2021-01-01 18:01] olemarkus commented on #5092
/remove-lifecycle rotten

[2021-01-01 20:25] #9507 closed

[2021-01-02 21:34] bmelbourne commented on #10515
@rifelpet
I'd already started looking into this issue as a result of the failed `make quick-ci` test in one of my PRs, so I can take this one.

/assign @bmelbourne

[2021-01-02 22:48] seh opened #10517 "EC2 security groups meant only for NLB-fronted API server are attached to all machines in the cluster"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.19.0-beta.3

**1. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

`version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.4", GitCommit:"d360454c9bcd1634cf4cc52d1867af54

[2021-01-03 23:15] #9048 closed

[2021-01-04 01:13] #10515 closed

[2021-01-04 07:23] #9693 closed

[2021-01-04 09:52] abhi1git commented on #8091
@olemarkus  Can you please let us know whether this fix is now released in a stable version ? If yes, what is the version number.
TIA.

[2021-01-04 09:58] olemarkus commented on #8091
It was released in 1.18.0

[2021-01-04 10:53] abhi1git commented on #8091
Thanks @olemarkus Can you please help me with one more doubt.
I am currently using kops version 1.17.0 and Kubernetes cluster version 1.16.9

Is it ok to update kops directly to 1.18.0 and follow the steps mentioned [here](https://kops.sigs.k8s.io/single-to-multi-master/) ? Will this impact my cluster due to kops version upgrade ?

[2021-01-04 11:21] olemarkus commented on #8091
In theory you should be able to just follow those steps and implicitly upgrade the cluster as part of expanding the control plane

[2021-01-04 16:47] kmichailg commented on #2990
Tested with `terraform:0.14.3` and `kops` `Version 1.18.2 (git-84495481e4)`

Still capturing the .k8s.local instead of the correct ELB address. Workarounds doesn't seem to work.

[code]

Tried re-exporting the ELB endpoint:
[code]

Doing this makes the master node seem to be stuck on the `initializing` status on AWS on a few occasions. Eventually becomes okay

Also tried creating the gateway and E

[2021-01-04 19:29] #10438 closed

[2021-01-04 22:15] #10517 closed

[2021-01-05 09:38] h3poteto commented on #9753
I added this option, so I will close this issue.

[2021-01-05 09:38] h3poteto commented on #9753
/close

[2021-01-05 09:38] #9753 closed

[2021-01-05 10:05] hakman commented on #9753
Thanks @h3poteto :)

[2021-01-05 11:31] ashwinbasavaraja opened #10531 "Does KOPS cluster is setup with IAM Roles"
Hi All,

I am new user to KOPS & seeing documentation to setup kops in AWS. As per the initial step it is asking us to create IAM User with privileges mentioned - https://kops.sigs.k8s.io/getting_started/aws/#setup-iam-user

Instead of IAM User, can we setup the kops cluster using IAM roles with same privileges. Please give us steps to configure if we need to setup kops by IAM Role.

Thanks,
Ashwi

[2021-01-05 11:36] olemarkus commented on #10531
You can reuse that entire guide. Just assign the policies to your role instead of the iam user/group.

[2021-01-05 11:51] DiegoLelis opened #10533 "Unexpected behavior with dicts from sprig functions"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Tested on 1.18.0 and 1.18.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

v1.17.14

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?

[2021-01-05 12:10] DiegoLelis commented on #10533
It seems version 1.18 doesn't have the get function yet: [Release docs](https://github.com/kubernetes/kops/blob/release-1.18/vendor/github.com/Masterminds/sprig/functions.go#L89l)

Does anybody know a way to get the value out of a dictionary on 1.18?

[2021-01-05 12:24] olemarkus commented on #10533
This will be fixed in 1.20 through #10191

[2021-01-05 12:37] DiegoLelis commented on #10533
Found a workaround using the pluck function.
This will work:
[code]

[2021-01-05 12:38] #10533 closed

[2021-01-05 17:19] #9982 closed

[2021-01-05 17:32] olemarkus commented on #10531
NP. Assume this can be closed
/close

[2021-01-05 17:32] #10531 closed

[2021-01-05 20:35] henninge opened #10539 "Impossible to deactivate PrometheusGoMetrics for Calico Networking"
We are using kops 1.18 with a 1.18 cluster on AWS but that information is mostly irrelevant to this report. I have identified the cause of the bug in the current master branch (0ca0e38518) but am unsure how to fix it.

Consider the following networking configuration.

      networking:
        calico:
          majorVersion: v3
          prometheusMetricsEnabled: true
          prometheusGoMetrics

[2021-01-06 19:09] #9866 closed

[2021-01-07 02:23] btai24 opened #10543 "s3context taking a long time to find my s3 bucket"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.18.2 (git-84495481e4)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.12", GitCommit:"

[2021-01-07 04:37] rifelpet commented on #10382
confirmed this is no longer an issue
/close

[2021-01-07 04:38] #10382 closed

[2021-01-07 15:59] hakman commented on #10539
Nice find @henninge. Thanks for reporting it.

There is another option, meaning converting those booleans to pointers using this template function:
https://github.com/kubernetes/kops/blob/ef8c36999a8b16f71fb71aa05d74e6c13f3aeae1/upup/pkg/fi/cloudup/template_functions.go#L88-L93

Example:
[code]
https://github.com/kubernetes/kops/blob/92911d7dcfd37a210b5ac6e658d0d04936ecef1a/upup/models/cloudup/res

[2021-01-07 18:55] henninge commented on #10539
Hi @hakman! Thanks for that information. I was not aware that the Unmarshal function handled pointers so nicely. That should work. I will come back with the PR.

[2021-01-08 05:54] #3717 closed

[2021-01-08 20:18] hhaslam11 opened #10546 "helm rolling-update fails with calico"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]
**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest wa

[2021-01-08 20:19] hhaslam11 commented on #10546
I have also posted this on [stackoverflow](https://stackoverflow.com/questions/65635088/updating-kubernetes-with-kops-causes-calico-node-to-fail-with-bird-is-not-ready)

[2021-01-08 21:44] hhaslam11 commented on #10546
I have solved this by updating all the masters at the same time, without validation.

[code]

[2021-01-08 21:44] #10546 closed

[2021-01-09 09:40] Aut0R3V commented on #10412
anything I can do here?

[2021-01-09 10:20] olemarkus commented on #10412
Any of these are up for grabs, I would think.

[2021-01-09 17:29] #3695 closed

[2021-01-09 20:03] rifelpet commented on #10412
I think we can remove `Be able to mount etcd volumes from protokube. Currently we rely on etcd-manager for volume mount` from the list. That is only needed for the "legacy" etcd option before etcd-manager. Given that it will eventually go away, I don't see a need to add support for it in Azure.

[2021-01-10 16:11] justinsb commented on #10506
Initial fix for AWS in #10552 - it looks like SecurityGroup rule deletion relies on the other tasks having run, so we need to run the deletion in a separate execution phase.

OpenStack proposed fix is in #10553

[2021-01-11 10:47] aramhakobyan commented on #8823
+1

[2021-01-11 15:41] hakman commented on #10539
Let me know if you need any help @henninge.

[2021-01-11 18:17] #9141 closed

[2021-01-11 18:22] olemarkus commented on #9141
This was fixed in #10438
/remove-lifecycle rotten

[2021-01-11 18:51] hakman commented on #10454
This is done as part of #10507, including adding the https://github.com/pelletier/go-toml lib.

[2021-01-11 18:52] hakman commented on #10454
/close

[2021-01-11 18:52] #10454 closed

[2021-01-12 00:25] cameronattard opened #10558 "Equivalent of `kops create secret dockerconfig` for Containerd"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

It would be useful to be able to configure containerd via a kops secret for things like authenticated Docker registries (e.g. to bypass DockerHub rate limiting).

**2. Feel free to provide a design supporting your feature request.**

Reference: https://github.com/kubernetes/kops/blob/master/docs/cli/kops_create_secret_do

[2021-01-12 06:39] olemarkus commented on #10558
Firstly: kubernetes will keep reading authentication settings from the docker secret. If you already set a docker config for the purpose of avoiding the docker hub ratelimit, this will keep working after migrating to containerd.

Secondly: I don't think we'll do the equivalent for containerd. Containerd doesn't already have a notion of a user config that augments the system config. And compiling t

[2021-01-12 07:30] dntosas commented on #10252
Here is the part of code that add ENV for etcd afaik --> https://github.com/kubernetes/kops/blob/9bc1c0ed7743eb387d14f2649b2a3cc39cfc56fa/pkg/model/components/etcdmanager/model.go#L495-L503

[2021-01-12 07:50] cameronattard commented on #10558
@olemarkus Oh, I didn't know that  the docker secret would still work. That'll be fine for our use case. Thanks.

[2021-01-12 10:02] h3poteto commented on #9751
/close

[2021-01-12 10:03] #9751 closed

[2021-01-12 14:07] hoepfnerj opened #10562 "Terraform bug with API load balancer with NLB and sslCertificate"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.19.0-beta.3 (git-e43f1cc6e3c77d093935d1706042861095d75eb7)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Server Version: version.Info{Major:"1", Minor:"

[2021-01-12 14:33] SCLogo commented on #490
it would be good if we could set mfa or password or something on kops side, so we could protect cluster and configs from accidental delete

[2021-01-12 14:39] dpinchukov-ueni opened #10563 "Kops is using 100% CPU per thread while sleeping"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.18.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.18.14

**3. What cloud provider are you using?**
n/a

**4. What commands did you run?  What is the simplest w

[2021-01-12 16:30] #10372 closed

[2021-01-13 05:31] rifelpet commented on #10562
Thanks for the report! This is a bug specific to terraform and cloudformation in how we generate the listener definitions. I have a fix in #10567 and we'll be sure to include it in the 1.19.0 release.

[2021-01-13 07:43] fvasco commented on #10155
I dump here the tail of first start of `journalctl -u kops-configuration.service`.
After a while the process has been restarted and it works.

[code]

[2021-01-13 07:55] hakman commented on #10155
The error seems to be related to https://github.com/kubernetes/kops/issues/10206#issuecomment-744372627:
[code]

[2021-01-13 09:04] #10562 closed

[2021-01-13 18:22] cpuguy83 commented on #10388
Note that the fact that there are events in docker for these signals means there is a client calling the kill API with that signal.

In the case of the docker CLI, if you attach to a container (e.g. `docker run -it busybox` or `docker attach`) the default is to forward signals sent to the CLI to the container. The Docker CLI does not currently have a special case for SIGURG and as such would be fo

[2021-01-13 20:31] eli-rh commented on #9987
Thanks.

[2021-01-13 20:31] #9987 closed

[2021-01-13 22:28] ngalantowicz commented on #10412
Not sure how tasks are divided up for an issue like this or if work started needs to be reported, but folks I work with and myself are interested in starting

Will be first time kops contributors, so any pertinent info to contributing that may be omitted from relevant docs is much appreciated

[2021-01-13 23:01] rifelpet commented on #10412
@ngalantowicz thanks for stepping up! [here](https://github.com/kubernetes/kops/blob/9bc1c0ed7743eb387d14f2649b2a3cc39cfc56fa/upup/pkg/fi/cloudup/azure/azure_cloud.go#L130) is the function that needs implementing. you'll see the return type contains either an IP or Hostname. For clusters that use api load balancers with hostnames we specify the hostname, otherwise use the api load balancer's IP(s)

[2021-01-13 23:05] kenji-cloudnatix commented on #10412
Thanks, @ngalantowicz , @rifelpet ! Just wanted to make a quick comment for listing VMs. I hink we can reuse the code in etcd-manager like [this](https://github.com/kopeio/etcd-manager/blob/master/pkg/volumes/azure/discovery.go#L48).

[2021-01-14 11:16] urz9999 commented on #8481
In case like this one or other similar cases where AWS SSO result in incompatibilities with your library and you don't want to play with workarounds or complicated fixes, maybe you can give a try to our open-source project: [https://github.com/Noovolari/leapp](https://github.com/Noovolari/leapp). It deals with AWS SSO authentication and accounts/roles retrieval then it creates short-lived temporar

[2021-01-14 14:37] kazekin94 opened #10580 "Support for AWS m5zn.xlarge instances in kops Version 1.18.2."
Trying to create an IG in a cluster deployed on aws, my use case requires me to use very high clock speed cpu's hence the m5zn.xlarge instances.

On running kops update cluster name --yes encounter this error.

ERROR -->
[ec2-user@ip-xxx-x-xx-xx ~]$ kops update cluster
Using cluster from kubectl context: some.domian.name
cpunodes.spec.machineType: Invalid value: "m5zn.xlarge": machine type specifi

[2021-01-15 12:39] hakman commented on #10580
Thanks for reminding us about this.
Fixed in #10587.
/close

[2021-01-15 12:39] #10580 closed

[2021-01-15 13:53] DOboznyi opened #10590 "Possibility to disable hostname-override in kubelet"
According to the CIS benchmark kubelet shouldn't have the hostname-override flag. So it will be great to have the possibility to disable hostname-override.

Ref #6150

[2021-01-15 14:30] DOboznyi commented on #10590
Can be removed this part? https://github.com/kubernetes/kops/blob/a140168c70de521939399f19fb0bdec7dd51ffa4/pkg/model/components/kubelet.go#L136

[2021-01-15 18:34] olemarkus commented on #8774
/remove-lifecycle rotten

I also have #10516 that should fix the CA cert

[2021-01-15 18:35] olemarkus commented on #10498
Something like #10516

[2021-01-15 19:13] olemarkus commented on #10590
In most instances, this flag is ignored, if I remember correctly. So we could force it to empty. PRs welcomed.

[2021-01-15 19:22] jsonmp-k8 commented on #9291
I am trying to upgrade a 1.16 cluster to 1.18 and the master nodes does not join the cluster
[code]

[2021-01-15 19:24] DOboznyi commented on #10590
@olemarkus according to docs `if --cloud-provider is set, the cloud provider determines the name of the node`. So i'll prepare PR with removing hostname-override as default. Also tested locally, everything works on our environments.

[2021-01-15 19:33] olemarkus commented on #10590
Sounds good. Thanks

[2021-01-15 19:40] olemarkus commented on #9291
Can you create a new issue? That symptom is very generic

[2021-01-15 21:20] #9939 closed

[2021-01-16 14:40] myspotontheweb opened #10596 "Update cluster attempts to create resources that already exist."
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

 Note:

 * We first noticed this problem after upgrading to kops 1.17

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

[code]

**3. What cloud provid

[2021-01-16 15:07] olemarkus commented on #10596
Thanks for the report. Can confirm the bug

[2021-01-17 07:15] olemarkus commented on #10596
The reason why this happens is because you set the `Name` label. This propagates to resources and overrides tags kOps uses for identifying resources it owns.

The quick fix here is to remove/rename the tags you are setting. You may have to manually change the `Name` tag of resources back to the cluster name `kops-staging-test2.k8s.local` in the example above.

We will add some validation on reserv

[2021-01-17 14:07] bmelbourne commented on #10356
/close

[2021-01-17 14:07] #10356 closed

[2021-01-17 16:35] #4288 closed

[2021-01-17 18:27] #10596 closed

[2021-01-17 18:37] #9290 closed

[2021-01-18 09:04] myspotontheweb commented on #10596
Appreciate this timely diagnosis and fix. Thank you

[2021-01-19 09:32] kaelzhang commented on #7438
Exactly the same issue for me which is related to t2.micro instances.

It takes much longer for the master node to start.

[2021-01-20 02:45] cameronattard opened #10611 "kOps deletes AWS Launch Templates with multiple (>3) versions"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.18.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

v1.18.14

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simple

[2021-01-20 03:59] hakman commented on #10611
Thanks for reporting this @cameronattard. Launch Templates were heavily modified in 1.19 and use versioning instead of new named templates. Would it be possible for you to give a try to the latest kOps 1.19 beta?

[2021-01-20 04:34] cameronattard commented on #10611
Sure, will give it a try. Thanks!

[2021-01-20 15:44] #9694 closed

[2021-01-20 18:56] NickSchleicher commented on #10412
is there any additional information in regards to
`Populate node labels from nodeIdentifier.IdentifyNodeChange`?

i assume it might just mean labeling the nodes with the labels that can be specified in the instance group as seen below, by grabbing the tags from the cloud, but want to be sure i cover the whole depth of it
[code]

i was going to start work on that, but it looks like there might be a

[2021-01-20 19:30] kenji-cloudnatix commented on #10412
Thanks for looking into, @NickSchleicher ! This looks like a bug in my original code. I believe we need to trim with `clusterNodeTemplateLabel` defined in https://github.com/kubernetes/kops/blob/309dc9fc26a5eb65614c3961239fd102f272ace5/pkg/model/azuremodel/context.go#L74.

You're right on the label `kops.k8s.io/cluster` as well. Currently `CloudTagsForInstanceGroup` has a logic to replace all occu

[2021-01-20 22:00] tsturzl commented on #8959
Yesterday in an attempt to reissue certificates I ran into some new problems that I don't think have been outlined here. This morning @hakman was assisting me in troubleshooting the issue. What seems to have happened for me is that the secrets that are created for service account tokens were no longer valid after reissuing certs. This caused several services to fail: kube-proxy, dns controller, ca

[2021-01-21 04:25] mtb-xt opened #10623 "Leftover launch configurations when using kops 1.19-beta.3"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.19.0-beta.3

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.18.14

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the sim

[2021-01-21 04:46] mtb-xt commented on #10623
Update: This problem is solved by just deleting the launch configurations from the state file.

`terraform state rm aws_launch_configuration.master-ap-east-1a-masters-k8s-hk-prod-*-*`
and so on...

[2021-01-21 09:14] hakman commented on #10623
Hey @mtb-xt. Please check the release notes for more info on this topic:
https://kops.sigs.k8s.io/releases/1.19-notes/#required-actions

[2021-01-21 11:09] jecnua commented on #7342
Was my comment ignored? Noice, no worry I am gonna recreate the same ISSUE. Gotta love stale bots :)

[2021-01-21 11:10] jecnua opened #10625 "Feature request: compatibility with gVisor"
I would love to be able to spin up a cluster with kops that has support for gVisor for security.

gVisor's kubernetes integration page shows that the only production mode option is as a plugin to containerd.

I know that the only supported container runtime right now is Docker, and Docker runs against some version of containerd. So theoretically maybe I can go through the steps of the gVisor insta

[2021-01-21 14:58] olemarkus commented on #10625
Master branch defaults to using containerd, so in order to implement support for gvisor you only need to install gvisor's runtime+config and configure containerd to use it

[2021-01-21 20:45] mtb-xt commented on #10623
🤦 Thank you.

[2021-01-21 20:45] #10623 closed

[2021-01-21 21:48] ngalantowicz commented on #10412
Reaching out with for more info
`Support tag update of virtual networks`

Seeing
https://github.com/kubernetes/kops/blob/309dc9fc26a5eb65614c3961239fd102f272ace5/upup/pkg/fi/cloudup/azuretasks/virtualnetwork.go#L114-L121

An interesting behavior to note regarding route tables (which task and client files seem to be a mirror of the vnet files):
When creating a cluster with existing route table no n

[2021-01-21 22:15] kenji-cloudnatix commented on #10412
Yes, I think so, but I'm not certain if removing the tag is what kops does for other CSPs. I think other people can chime-in.

The issues with updating a tag of vnet was that it causes an `InUseSubnetCannotBeDeleted` error. I haven't fully figured out a cause, but my guess is that we need to set the `Subnet` field of `VirtualNetworkPropertiesFormat`.

https://raw.githubusercontent.com/Azure/azure-

[2021-01-22 23:20] mmerrill3 opened #10640 "Allow the server signing key to be obtained via a VFS when configuring the kubeAPIServer in the cluster spec"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
Allow the server signing key to be accessible via a VFS when configuring the kubeAPIServer in the cluster spec

When defining kubeAPIServer.serverSigningKey, we still set the location on the master node where the private key should be stored to sign JWT tokens.
In addition, define where that key can be obtained, via the V

[2021-01-22 23:50] rifelpet commented on #10412
FWIW, based on the code in pkg/resources it doesn't seem that Kops removes any tags on shared resources when a cluster is deleted.

[2021-01-23 18:30] rifelpet opened #10647 "Don't allow invalid paths in `set cluster`"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Currently `kops set cluster` accepts paths that aren't valid.

`kops set cluster foo.k8s.local spec.foo=invalid`

This can lead to confusion when paths contain typos. We should return an error when a path doesn't match an actual field in the cluster spec.

**2. Feel free to provide a design supporting your feature reques

[2021-01-23 18:41] guerzon opened #10648 "kops --api-ssl-certificate is ignored"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.18.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest

[2021-01-24 02:22] rifelpet commented on #10648
Theres a bug in the kops code in which this field is ignored if an api loadbalancer would not otherwise be created. Try also specifying `--api-loadbalancer-type=public` or `--api-loadbalancer-type=internal` based on whether you want the load balancer to be internet facing or internal. This should create the load balancer and include the specified ACM certificate.

Kops should create the loadbalanc

[2021-01-24 08:01] olemarkus commented on #10640
Thanks for the time making this issue.

I was thinking that we perhaps define something like `spec.PublicDataStore`. There may be other things that one can put in a store that one expects is world readable. E.g if the public key of the cluster CA was there, users could build kubeconfig without having access to the secretStore.

[2021-01-24 08:08] olemarkus commented on #8957
Trying to understand the usecase here. If you use internal API access, the difference between the internal DNS and API DNS is that the latter uses a loadbalancer. It shouldn't have any practical significance.

Using a completely different domain would cause issues with TLS.

[2021-01-24 08:13] olemarkus commented on #9990
@justinsb guess this can be closed now?

Just running `kops export kubecfg --admin` also works, defaulting to the current context

/remove-lifecycle rotte

[2021-01-24 08:13] olemarkus commented on #9990
/remove-lifecycle rotten

[2021-01-24 08:14] alexcarol commented on #8957
I'm talking from memory here, as when I posted my reply here I was working for a different company, but for me the issue was that (because of the way we had security groups configured in aws), that the internal dns had to be used when running kops in an AWS machine vs using the external API DNS when running it from our laptops (which were connected to a VPN and have access through that).

[2021-01-24 08:14] olemarkus commented on #9833
/remove-lifecycle rotten
/close

We have regular office hours at a EU-friendly time now

[2021-01-24 08:15] #9833 closed

[2021-01-24 08:32] hakman commented on #9833
@olemarkus maybe we should add an entry in the docs for the EU hours.

[2021-01-24 08:35] olemarkus commented on #9833
I can add something like that.

Where do we publish the EU time? Slack? Office hours meeting notes?

[2021-01-24 08:38] hakman commented on #9833
I think here https://github.com/kubernetes/kops/blob/master/docs/welcome/office_hours.md

[2021-01-24 11:17] olemarkus commented on #9833
The EU slot doesn't have a regular time. I was more wondering where they would look for the time and date of the next EU slot.

[2021-01-24 11:31] olemarkus commented on #8957
One benefit is that kOps no longer will override kubeconfig on `kops update` by default. So you can safely modify the config now. I think that will solve this use case.

[2021-01-24 15:39] guerzon commented on #10648
Hi @rifelpet, thanks for the suggestion, the API is now using the certificate.

However, the kube config generated by kops can no longer authenticate to the cluster. I am guessing I need to configure something else but I can't seem to find it out.

[code]

[2021-01-24 16:02] rifelpet commented on #10648
What exactly is the error you're seeing? Can you regenerate the kubeconfig with `kops export kubecfg ${CLUSTER_NAME}` ? and just to confirm this is all using Kops 1.18.2 right? Kops 1.19 will require an additional --admin flag to generate admin credentials in the kubeconfig file.

[2021-01-24 16:43] guerzon commented on #10648
When `--api-loadbalancer-type=public` is added and the cluster is created, `kops` now returns `Validation failed: unexpected error during validation: error listing nodes: Unauthorized`

The config it added to `~/.kube/config` cannot login to the cluster: `You must be logged in to the server`.

[2021-01-24 22:23] justinsb commented on #10206
By default kops overrides a set of syscalls from the OS defaults:

https://github.com/kubernetes/kops/blob/d5d08a43034dd4c7242cf1faa020cf9a8c3965e2/nodeup/pkg/model/sysctls.go#L67-L82

(And there are more in that file!)

In particular: `net.ipv4.tcp_rmem = 4096 12582912 16777216`; with a much higher second number (the default receive buffer size, IIUC).

Do I understand correctly that we should *r

[2021-01-24 22:52] justinsb commented on #10206
Although of course I've realized that these TCP settings are applied by nodeup, so don't apply to the download of nodeup itself.  I don't think we have a dependency configured so that we download only applying the sysctls, so I would guess it won't apply to the download of kubelet etc.

A potential workaround could therefore be to explicitly set `net.ipv4.tcp_rmem` in the bootstrap script, and the

[2021-01-25 01:56] rifelpet commented on #10648
You may be running into [this issue](https://github.com/kubernetes/kops/blob/master/docs/releases/1.18-NOTES.md#known-issues) that requires editing the ClusterSpec and performing a rolling update on the cluster. Its unfortunate that we don't address this at creation time when `--api-ssl-certificate` is specified.

This is half-mitigated in Kops 1.19 by supporting NLBs which don't experience this i

[2021-01-25 08:55] zacblazic commented on #7604
/remove-lifecycle stale

[2021-01-25 14:26] CheyiLin commented on #10206
As a workaround, I set sysctl parameters by using `additionalUserData` and make sure it won't be overridden by nodeup. In recent 2 months every new node can join the cluster in reasonable ~5m.

[code]

[2021-01-25 17:41] mmerrill3 commented on #10640
Thanks for the feedback @olemarkus .
I'm focusing on the ability to just set the private signing key used by the API server, so I can set this key if I decide to create an new OIDC issuer for the cluster.  The key would be stored at a VFS location somewhere, and not publicly accessible, but only accessible to kOps.  The public key could go in the spec.PublicDataStore though, along with all the oth

[2021-01-25 18:20] olemarkus commented on #10640
Yep. Slightly different problems. I think that when we create a "managed" signing key, we should put the private bit in SecretStore and just let nodeup fetch it from there. fields like ServiceAccountSigningKeyFile should be managed by kOps and not set by users.

The challenging bit we have been talking about on slack is how to expose the resulting JWKS document somewhere world-readable.

[2021-01-26 04:54] atam003 commented on #10122
I am using kops1.19 +Kubernetes 1.16. I tried using image latest available kops image "kope.io/k8s-1.16-debian-stretch-amd64-hvm-ebs-2020-07-20". I see this issue.
Is there any latest published image of kops which can be used?

[2021-01-26 06:08] hakman commented on #10122
@atam003 until 1.19 is released, you can use the official Debian 9 [image](https://kops.sigs.k8s.io/operations/images/#debian-9-stretch) or the Ubuntu 20.04 [image](https://kops.sigs.k8s.io/operations/images/#ubuntu-2004-focal).

[2021-01-26 06:56] #9835 closed

[2021-01-26 08:31] trondhindenes opened #10659 "Allow specifying annotations for addons clusterAutoscaler and nodeTerminationHandler"
We use kiam to manage aws permissions in our cluster. Kiam is configured via pod annotations, such as `iam.amazonaws.com/role: {{ cluster_name }}-cluster-autoscaler`. It would be awesome if kops allowed adding extra annotations to the cluster-autoscaler and node termination handler addons. Since these interact with the aws api we prefer explicit roles (via kiam) for them, which would be easy to ad

[2021-01-26 09:45] olemarkus commented on #10659
Right now cluster autoscaler runs on the control plane. Do you run kiam agents also on the control plane? That can have some unintended consequences.

Going forward, the plan is to support Instance Roles for Service Accounts (IRSA) for the addons that talk to the AWS API. kOpx will then also provision the IAM Roles needed for the addons.

[2021-01-26 10:04] trondhindenes commented on #10659
Ah, gotcha. We currently run cluster-autoscaler on workers.
Nice, then there is a plan for it. That's all I need to know :-)

Feel free to close this.

[2021-01-26 20:42] luanguimaraesla opened #10663 "Cilium-dedicated etcd is reaching space quota limit without AUTO_COMPACTION"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**
[code]

**4. What commands did you run?  What is the simple

[2021-01-26 22:07] kxesd opened #10664 "InstanceGroup externalLoadBalancer - found duplicate tasks"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest wa

[2021-01-27 08:11] miguelbernadi commented on #9887
I just got a similar issue on AWS with kops 1.18.2 where enabling this feature makes the apiserver to stop responding entirely. Times out in the TLS handshake. The only fix I found so far is to revert the config change and terminate a master to get the cluster running again, which seems less than ideal.

[2021-01-27 17:19] cassandracomar commented on #226
/reopen

this prevents assumed roles for kops execution generally without a wrapper script and it's definitely still an issue in 1.19.0-beta.3.

[2021-01-27 17:31] #10664 closed

[2021-01-27 17:32] rifelpet commented on #226
/remove-lifecycle rotten

[2021-01-27 18:11] olemarkus commented on #10659
Closing then :)

/close

[2021-01-27 18:11] #10659 closed

[2021-01-27 18:23] olemarkus commented on #10663
/kind office-hours

Should this be handled on etcd-manager side?
Also worth considering if etcd-manager should run defrag from time to time.

[2021-01-27 18:27] hakman commented on #10664
Thanks for reporting this @kxesd. Should be fixed in next release.

[2021-01-27 18:53] olemarkus commented on #10663
/label office-hours

[2021-01-28 04:13] #10648 closed

[2021-01-28 05:15] sonowz commented on #10122
Is there any workaround with this issue?
I'm using kops 1.19-beta3, Kubernetes 1.18, and my AMI is Ubuntu 18.04 with Docker pre-installed.
Then struck into same error as #10492.
What should I do in order for the AMI to work?

[2021-01-28 05:45] hakman commented on #10122
@sonowz can you explain a bit more why Ubuntu 18.04 and why docker pre-installed?

As for workaround, you could try with:
[code]

The issue should be fixed once 1.19 is released later this week (I hope).

[2021-01-28 06:13] sonowz commented on #10122
There's no reason to use 18.04, it's just a version I'm currently using.
The reasons why Docker is pre-installed are the following:
- [nvidia-container-runtime](https://github.com/NVIDIA/nvidia-container-runtime) should be configured as default runtime
- Some images should be stored in AMI due to its gigantic size (~20GB)

That's good to hear! I'm looking forward to it.

[2021-01-28 06:26] hakman commented on #10122
Thanks for explaining. You may also disable the Docker and containerd services in the AMI. kOps will start them later.

[2021-01-28 08:50] alejandroandreu opened #10671 "Can't use `create cluster` with target set to Terraform"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.18.2 (git-84495481e4)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Using the `create cluster` command, I'm providing the `--kubernetes-version="1.18.15

[2021-01-28 09:31] jdomag commented on #9946
And did you mange to fix it somehow?

[2021-01-28 09:38] olemarkus commented on #7119
@bwagner5 had any time to look into this yet?

[2021-01-28 10:46] sonowz commented on #10122
Disabling autostart of Docker and containerd service works! Thanks a lot 👍

[2021-01-28 11:28] mi5guided commented on #5174
I think the use of additionalNetworkCIDRs option solves this problem.

See bottom of this issue:   https://github.com/kubernetes/kops/issues/5045

[2021-01-28 15:52] #9844 closed

[2021-01-28 17:53] haugenj commented on #7119
👋  hey @olemarkus I'm going to take this over from @bwagner5 as he's caught up with some other work for now. If I have questions where's the best place to ask them? Here, slack, maybe a incomplete/draft pr?

[2021-01-28 18:07] #10671 closed

[2021-01-28 18:15] olemarkus commented on #7119
Hey @haugenj. Any way you like. I can imagine slack is easiest in the beginning, and then a draft PR once you have a rough implementation.

[2021-01-29 07:02] superfly-git opened #10678 "Creating cluster using KOPS in DigitalOcean never validates"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.19.0-beta.1 (git-6fa37fc5bdc2eedd7f0c696dd8155ac267b310fd)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.19.0

**3. What cloud provider are you using?**

[2021-01-29 07:15] alejandroandreu commented on #10671
@rifelpet I built from `master` after your PR was merged but the issue persisted. Is there anything else I should do/know?

[2021-01-29 08:02] olemarkus commented on #10678
/assign @srikiz

[2021-01-29 11:42] olemarkus commented on #5767
/remove-lifecycle stale
/close

Again: the node names comes from the k8s cloud provider and there is nothing kops can do to solve this.

[2021-01-29 11:42] #5767 closed

[2021-01-29 15:08] bharath-123 commented on #10647
Have been a victim of this many a times, especially when setting kubernetes versions :( I think this would require messing around with stuff in reflect utils. Will take this up.

[2021-01-29 15:08] bharath-123 commented on #10647
/assign @bharath-123

[2021-01-29 15:15] rifelpet commented on #8481
I believe this should be addressed by https://github.com/kubernetes/kops/pull/10682 if someone could test with a custom kops build off of master that would be much appreciated!

[2021-01-29 18:18] #7111 closed

[2021-01-29 19:11] olemarkus commented on #7111
/remove-lifecycle rotten

This issue should have been fixed now.

[2021-01-29 20:21] eddycharly opened #10687 "Backport PR 10221 in next 1.18 and/or 1.19 ?"
Hello,

Would it be possible to get https://github.com/kubernetes/kops/pull/10221 backported in next 1.18 and/or 1.19 release ?

Nothing really important but that would allow me to use the implementation coming from the kops package directly.

[2021-01-29 22:57] atam003 commented on #10122
@hakman
I see kops 1.19 is released today. I tried using it. I see the issue is still there ... Please note that I am using Kubernetes 1.16.9 version.

[2021-01-29 23:12] rifelpet commented on #10006
/remove-lifecycle rotten

[2021-01-30 02:48] jsonmp-k8 commented on #10400
Will this enhancement be considered for any of the upcoming releases ?

[2021-01-30 06:07] olemarkus commented on #10400
It is an interesting feature. I would certainly be happy to review a pull request.

[2021-01-30 09:37] hakman commented on #10122
Thanks @atam003, https://github.com/kubernetes/kops/pull/10691 should fix this in 1.19 also.

[2021-01-30 16:33] mmerrill3 opened #10693 "Update weave to 2.8.1 and manifest to address CVE-2020-26278"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
kops 1.19.beta3
**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
k8s 1.19.6
**3. What cloud provider are you using?**
aws
**4. What commands did you run?  What is the s

[2021-01-30 19:44] atam003 commented on #10122
@hakman I still see the same issue ...

Jan 30 19:43:11 ip-172-20-37-61 nodeup[846]: I0130 19:43:11.909736     846 changes.go:81] Field changed "Mode" actual="0777" expected="0755"
Jan 30 19:43:11 ip-172-20-37-61 nodeup[846]: I0130 19:43:11.909751     846 changes.go:81] Field changed "Type" actual="symlink" expected="file"
Jan 30 19:43:11 ip-172-20-37-61 nodeup[846]: I0130 19:43:11.909821     846

[2021-01-30 22:59] atam003 commented on #10122
@hakman Looks changes are not picked particular libs are picked from repositories.
I am building my kops using the following doc.
https://kops.sigs.k8s.io/contributing/building/

Can you please help with that?

[2021-01-31 05:53] #9861 closed

[2021-01-31 07:13] olemarkus commented on #5569
/remove-lifecycle stale

[2021-01-31 08:41] hakman commented on #10687
/cc @olemarkus

[2021-01-31 09:23] olemarkus commented on #10687
I think this is more a feature than a bugfix. It is also behavior change, although a small one. I would prefer to not backport this one.

[2021-01-31 09:36] eddycharly commented on #10687
Ok, thanks @olemarkus. Closing the issue.

[2021-01-31 09:37] #10687 closed

[2021-01-31 09:39] hakman commented on #10687
@eddycharly The plan is to have 1.20 out by end of Feb. So shouldn't be long.

[2021-01-31 10:58] #9273 closed

[2021-01-31 20:15] kmichailg commented on #2990
Still experiencing this regarding gossip-based clusters. Abandoning the infrastructure-as-code for now (via terraform), will just deploy via kops only.

Hopefully you reopen this for tracking. Thank you!

[2021-02-01 05:49] #10693 closed

[2021-02-01 06:26] zetaab commented on #10678
when you are using do you should export s3 credentials first, and if I remember correctly you need use `do://` in state store instead of `s3://`

You need to have following variables exported before running kops commands:
`S3_ENDPOINT`
`S3_ACCESS_KEY_ID`
`S3_SECRET_ACCESS_KEY`

like the docs https://github.com/kubernetes/kops/blob/3d039680839933ca93ca03e392d6a20d46897a54/docs/getting_started/digit

[2021-02-01 07:58] olemarkus commented on #9920
/remove-lifecycle rotten
/close

Until next year :)

[2021-02-01 07:58] #9920 closed

[2021-02-01 09:15] ari-becker opened #10703 "Masters should finish updating before applying changes to other instance groups"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.18.3

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.18.15

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest w

[2021-02-01 09:44] MichaelJDrK opened #10704 "kops-controller enters crashloop on update to k8s 1.19.7"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.19.0 (git-04d36d7d92c72601efd918877fc180c846129ffb)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Client Version: version.Info{Major:"1", Minor:"20", Gi

[2021-02-01 10:17] ari-becker commented on #9370
/remove-lifecycle stale

[2021-02-01 15:29] mikesplain opened #10705 "CNCF Kubernetes Conformance for kOps 1.19"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
kOps 1.19 conformance test results uploaded to https://github.com/cncf/k8s-conformance

**2. Feel free to provide a design supporting your feature request.**

[2021-02-01 15:30] mikesplain commented on #10705
Testing in progress.

[2021-02-01 16:52] hslavchev commented on #2520
For what it's worth the `cannot find kubecfg certificate` error which comes up when you try to run `kops export kubecfg` also occurs if locally you are using a version of `kops` that's different from the version the cluster was deployed with (e.g. locally running 1.17 and cluster was deployed with 1.19).

[2021-02-01 17:50] timothyclarke opened #10706 "[Question / Feature Request] AWS NLB - EIP Allocations"
Firstly thanks for the work people have put in for the the Network Loadbalancer in AWS clusters.

Is there a way (without using `-out ... --target=terraform` and editing the tf config) to use IP allocations so we can make use of static IP's?

I haven't thought through the cli elements to create the cluster, but I would expect that the spec would be something like
[code]

[2021-02-01 19:29] bharath-123 commented on #10706
I don't think kOps currently supports specifying allocationIds of elasticIps to attach to a network load balancer. You probably would have to manually associate an elastic ip at this point of time.

But I do see a way to do this in kOps. The `SubnetMapping` struct in `CreateLoadBalancerInput` accepts an allocationId for an elasticIp for a specified subnet.([link](https://pkg.go.dev/github.com/aws/

[2021-02-01 19:49] bharath-123 commented on #10706
I think if we can specify a mapping of subnetId to allocationId of the elastic ip in the lb spec, we should be able to associate elastic ips to the nlb.

[2021-02-01 19:52] bharath-123 commented on #10706
/kind feature

[2021-02-01 23:09] mikesplain commented on #10705
This is almost ready, I need to add that we require 2 nodes to pass conformance: https://github.com/kubernetes/kubernetes/issues/69601

[2021-02-02 00:41] rifelpet commented on #10706
Agreed, I think it would be reasonable to support this. We'll need the new API fields to be able to represent which subnet ID to use for each allocation ID. I _believe_ that the [name](https://github.com/kubernetes/kops/blob/9d0dd3c4c1957f829504376778d0ee67f8f4d28f/tests/integration/update_cluster/complex/in-v1alpha2.yaml#L68) field of subnets in the ClusterSpec are unique, so we might be able to

[2021-02-02 03:03] hamc opened #10708 "kops update cluster in version 1.19.0 always removes the Classical Load Balancer from AutoScaling Group"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.19.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.19.7

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest

[2021-02-02 08:40] superfly-git commented on #10678
Yes, correct. I changed to a DO bucket and the issue is fixed. After some trial and error i remembered that credentials are needed in order to access an S3 bucket. Something which is not available on a droplet unless you manually add them.

After switching to a DO spaces bucket for the state the problem is fixed. Issue can be closed, its not a bug

[2021-02-02 10:14] timothyclarke commented on #10706
Shouldn't the subnet ID's come (indirectly) from the master instance groups ?
I also noticed that the **Cross-zone load balancing** is disabled by default. Wouldn't that cause issues when one or more of the masters is down ?

[2021-02-02 10:21] MichaelJDrK opened #10709 "Route53 entry for kops-controller stays after cluster is deleted"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.19.0 (git-04d36d7d92c72601efd918877fc180c846129ffb)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.19.7

**3. What cloud provider are you using?**

AWS

[2021-02-02 10:51] krangerich commented on #10147
I encountered the same issue these days multiple times. Cluster example:

[code]

[2021-02-02 10:52] MichaelJDrK commented on #10704
Multi-master clusters are affected as well, same as private topology. Easily reproducable.

It seems, that it's NOT possible to update ANY cluster to 1.19.7 (at least not on AWS).

[2021-02-02 20:04] nambyats opened #10714 "Getting certificate error while running kops update cluster"
Version 1.19.0 (git-04d36d7d92c72601efd918877fc180c846129ffb)

/home/ubuntu# kops update cluster --name sajeer.dev.k8s.sajeer.in --yes --admin
I0202 19:53:30.048678    2898 dns.go:96] Private DNS: skipping DNS validation
I0202 19:53:30.338228    2898 executor.go:111] Tasks: 0 done / 79 total; 44 can run
W0202 19:53:30.439775    2898 vfs_castore.go:604] CA private key was not found
I0202 19:53:30.4

[2021-02-02 22:49] kxesd opened #10715 "InstanceGroup name being prepended to externalLoadBalancer name"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest wa

[2021-02-03 00:25] rifelpet commented on #10704
Hi @MichaelJDrK thanks for the report. Can you confirm if the kops-controller deployment has the `kops.k8s.io/kops-controller-pki: ""` nodeSelector? and does the master node have that label?

https://github.com/kubernetes/kops/blob/bdeec95a04af00faf6e2052f7d86f97cad48d83a/upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template#L48

That nodeSelector is meant to pr

[2021-02-03 00:42] rifelpet commented on #10706
Yes we can consider grabbing the subnets from the master instance groups and fetching their IDs. That would likely be more accurate than just the list of subnets in the ClusterSpec.

We can discuss enabling cross-zone load balancing by default for new clusters, apparently [it was suggested](https://github.com/kubernetes/kops/pull/6958#issuecomment-504252194) when it was first introduced :)

And we

[2021-02-03 04:19] bharath-123 commented on #10709
I can confirm this. I just checked my route53 entries and saw a whole list of kops-controller dns records. Not sure why these records are not deleted.

[2021-02-03 04:35] bharath-123 commented on #10714
How did you create the cluster? Could you share the cluster and instance group spec?

[2021-02-03 04:36] bharath-123 commented on #10714
Please follow this template when raising issues for kOps [issue-template](https://github.com/kubernetes/kops/issues/new?assignees=&labels=&template=bug_report.md)

[2021-02-03 07:56] atam003 commented on #10122
@hakman @justinsb Any update on it. Looks like Nodeup has to be updated in repository with these changes?

[2021-02-03 09:46] Vlatombe opened #10716 "Problem listing ssh admin keys on S3"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.19.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest way to r

[2021-02-03 10:08] nambyats opened #10717 "kops validate cluster failing with error on AWS"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.19.0 (git-04d36d7d92c72601efd918877fc180c846129ffb)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Client Version: version.Info{Major:"1", Minor:"20", GitV

[2021-02-03 10:44] MichaelJDrK commented on #10704
Yes, the kops-controller deployment and the master node both have the `kops.k8s.io/kops-controller-pki: ""` label.

I did some more tests. What happens is:
Case a) kops 1.18.3, Cluster 1.18.15
Update kops to 1.19.0, update cluster first (without updating to Kubernetes 1.19.7 in the same step).
-> new masters will get the `kops.k8s.io/kops-controller-pki: ""` label, even the certificates are not th

[2021-02-03 11:02] kristijorgji commented on #4534
/reopen very important issue this one, should be addressed. The bastion should be optional whether to be in load balancer or not, there is no security risk here.

The kops tools can create proper security group public (or cidrs specified by us) only for the single bastion instance, instead of always paying the cost of lb

[2021-02-03 11:05] MichaelJDrK commented on #10717
Did you try to add `--admin` to `kops update cluster dev.k8s.valaxy.in --yes`? Otherweise the local connection information (in `~/.kube`) will not get updated any more

On an existing cluster, you can export the settings with `kops export kubecfg --admin`

[2021-02-03 11:18] nambyats commented on #10717
Hi Michael,

Many thanks for your response. I tried running with --admin but the result is same for kops update cluster. I can see the master and nodes created in AWS console but the kops validate cluster is failing with error "cannot load kubecfg settings for "dev.k8s.sajeer.in": context "dev.k8s.sajeer.in" does not exist"

root@ip-/home/ubuntu# kops update cluster --name dev.k8s.sajeer.in --yes

[2021-02-03 16:30] timothyclarke opened #10718 "[BUG] KOPS 1.19 Seg Fault when removing an in-use instance type from a mixed instance group"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
`Version 1.19.0 (git-04d36d7d92c72601efd918877fc180c846129ffb)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
AWS

[2021-02-03 18:15] alanbover opened #10719 ""does not contain acceptable node role" error when starting a k8s 1.19 cluster specifying custom iam roles"
**1. What `kops` version are you running? The command `kops version`, will display
1.19.0

**2. What Kubernetes version are you running?
1.19.7

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest way to reproduce this issue?**
kops create -f ${BUILD_PATH}/cluster.yaml --state ${ASSETS_S3_PATH} -v9

**5. What happened after the commands executed?**

[2021-02-04 04:06] rifelpet commented on #10719
Hi @alanbover thanks for the report and the detailed investigation! You're right it seems the code assumes that the IAM instance profile name matches the IAM role name which is not necessarily true. We should call [iam.GetInstanceProfile](https://docs.aws.amazon.com/sdk-for-go/api/service/iam/#IAM.GetInstanceProfile) to get the instance profile's list of roles and append their names to this list.

[2021-02-04 04:54] rifelpet commented on #10704
I think the problem is that Kops 1.19's protokube component will always add the `kops-controller-pki` label to control plane nodes, regardless of kubernetes version:

https://github.com/kubernetes/kops/blob/1885ccee1730d6b6b6326f5bdfaaf02cac19e74a/protokube/pkg/protokube/labeler.go#L49-L52

but the PKI files are only populated by nodeup for k8s >= 1.19:

https://github.com/kubernetes/kops/blob/188

[2021-02-04 08:27] olemarkus commented on #8959
/close

[2021-02-04 08:27] #8959 closed

[2021-02-04 08:58] h3poteto commented on #10719
I got the same error.

[2021-02-04 09:37] Maduflavins opened #10723 "please enter username"
each time i run any kubectl command i get please enter username this has been happening for the past one week

[2021-02-04 09:39] h3poteto commented on #10719
Probably I can fix it, so I will take this issue.

/assign

[2021-02-04 09:51] olemarkus commented on #10719
Thanks @h3poteto

[2021-02-04 10:10] codablock commented on #5632
/reopen

Just ran across this same bug. I've pre-created VPCs and subnets and want to control by myself which subnets are used for internal ELBs. Kops is now overriding the tag "kubernetes.io/role/internal-elb" for my pre-created subnets.

[2021-02-04 10:11] codablock commented on #5632
@mirnujAtom I can't reopen this issue. Can you maybe do that?

[2021-02-04 10:52] mirnujAtom commented on #5632
/reopen

@codablock, let me try.

[2021-02-04 11:11] olemarkus commented on #5632
/remove-lifecycle rotten

This should not be too hard to fix. Will be happy to review a PR

[2021-02-04 13:33] zetaab opened #10724 "[OpenStack] Ensure that instances are really deleted"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.** master

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.** 1.20.2

**3. What cloud provider are you using?** openstack

**4. What commands did you run?  What is the simpl

[2021-02-04 13:33] zetaab commented on #10724
/kind bug

[2021-02-04 13:35] bharath-123 commented on #10723
Please follow this template when raising issues for kOps so that we can help you better! :) [issue-template](https://github.com/kubernetes/kops/issues/new?assignees=&labels=&template=bug_report.md)

[2021-02-04 14:31] rifelpet opened #10726 "Ensure all instance types in mixedInstancesPolicy are the same architecture"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

master

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

k8s 1.19

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simple

[2021-02-04 14:51] h3poteto commented on #10723
This is my guess, have you forgotten `--admin` or `--user` flag in commands such as `kops update cluster` ? In 1.19.0, you have to add these flags to export kubernetes config.
https://github.com/kubernetes/kops/releases/tag/v1.19.0

[2021-02-04 14:55] alexandrst88 commented on #10715
I had the same issue while rolling upgrade, on the bastion instance group

[code]

When I detached LB manually, I got the same error as @kxesd.

```error attaching LoadBalancers: ValidationError: Provided Load Balancers may not be valid. Please ensure they exist and try again```

[2021-02-04 21:03] Maduflavins commented on #10723
@h3poteto thank you it fixed it

[2021-02-04 22:54] rifelpet commented on #10717
@nambyats this should be fixed for an upcoming 1.19.1 release.

If you're able to confirm this that would be great. There is a linux amd64 kops build [here](https://storage.googleapis.com/kops-ci/pulls/pull-kops-e2e-kubernetes-aws-1-19/pull-0b761467f2/linux/amd64/kops) you could use, or you could build the kops CLI yourself from the release-1.19 branch.

[2021-02-04 22:54] rifelpet commented on #10709
@MichaelJDrK this should be fixed for an upcoming 1.19.1 release.

If you're able to confirm this that would be great. There is a linux amd64 kops build [here](https://storage.googleapis.com/kops-ci/pulls/pull-kops-e2e-kubernetes-aws-1-19/pull-0b761467f2/linux/amd64/kops) you could use, or you could build the kops CLI yourself from the release-1.19 branch.

[2021-02-04 23:55] #10723 closed

[2021-02-05 01:56] amanualt opened #10734 "kops version:"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

**3. What cloud provider are you using?**

**4. What commands did you run?  What is the simplest way to reproduce thi

[2021-02-05 01:56] amanualt opened #10735 "kops version: 1.18.3"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

**3. What cloud provider are you using?**

**4. What commands did you run?  What is the simplest way to reproduce thi

[2021-02-05 01:56] #10735 closed

[2021-02-05 03:53] tarnjeetsingh opened #10736 "I am unable to create the cluster as it fails to export the Kubecfg for cluster. Seems to a bug"
root@ip-172-31-15-52:/home/ubuntu# kops update cluster --name tarnjeetdemo.valaxy.net --yes --admin
I0205 03:51:09.326878    2589 dns.go:96] Private DNS: skipping DNS validation
I0205 03:51:09.611193    2589 executor.go:111] Tasks: 0 done / 79 total; 44 can run
I0205 03:51:10.492653    2589 executor.go:111] Tasks: 44 done / 79 total; 15 can run
I0205 03:51:11.684376    2589 executor.go:111] Tasks:

[2021-02-05 05:21] #10678 closed

[2021-02-05 06:08] #10647 closed

[2021-02-05 07:15] callum-p commented on #10206
This still happens for me even with the sysctl changes:

[code]

[2021-02-05 07:24] jetersen opened #10737 "calico-kube-controllers stuck not ready during rolling update."
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.18.3 (git-11ec695516)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]
1.18.10, upgrading to 1.18.15.

**3. What cloud provider are you using?**
AWS

[2021-02-05 07:30] jetersen commented on #10737
Here are the logs from calico
[code]

[2021-02-05 07:55] olemarkus commented on #10184
Think there is nothing more to do here.

/remove-lifecycle stale
/close

[2021-02-05 07:55] #10184 closed

[2021-02-05 08:09] vhamburger opened #10738 "Installing kops on GCP west4 fails with "unable to infer cloud provider from zones (is there a typo in --zones?)""
**1. What `kops` version are you running?
Version 1.19.0 (git-04d36d7d92c72601efd918877fc180c846129ffb)

**3. What cloud provider are you using?**
Google Cloud

**4. What commands did you run?  What is the simplest way to reproduce this issue?**
kops create cluster server-cluster.k8s.local --zones us-west4-a --state "gs://$PROJECT-kops-clusters/"/ --project=$PROJECT --node-count=4

**5. What happe

[2021-02-05 08:40] MichaelJDrK commented on #10709
I did a quick test and the route53 record got deleted this time, so it seems to work now. Thanks!

[2021-02-05 10:12] nambyats commented on #10717
@rifelpet ,

I am on Version 1.19.0 (git-04d36d7d92c72601efd918877fc180c846129ffb). Can you guide me on how I can transfer the build file to AWS instance to install it?

[2021-02-05 10:49] bharath-123 commented on #10736
This seems to be a duplicate of this issue https://github.com/kubernetes/kops/issues/10717 It has been fixed and will be available in the 1.19.1 release.

[2021-02-05 10:51] tarnjeetsingh commented on #10736
by when can we expect next release

[2021-02-05 11:49] h3poteto commented on #10718
I got the same error not only when removed but also when added.

[2021-02-05 12:08] #10709 closed

[2021-02-05 16:01] #9264 closed

[2021-02-05 18:31] bharath-123 commented on #10706
@timothyclarke I tried to add an elastic ip to a pre-created load balancer but it looks like that is not possible as you said. AWS puts not being able to allocate an elastic ip to the nlb as a 'Temporary Limitation' for some reason. Based on this doc https://aws.amazon.com/premiumsupport/knowledge-center/elb-attach-elastic-ip-to-public-nlb/ I assumed that we could edit existing nlbs to allocated e

[2021-02-05 19:56] bharath-123 opened #10745 "Deprecate LaunchConfigurations in favour of LaunchTemplates"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
AWS strongly recommends to use LaunchTemplates instead of LaunchConfigurations.
xRef: https://docs.aws.amazon.com/autoscaling/ec2/userguide/LaunchConfiguration.html.

**2. Feel free to provide a design supporting your feature request.**

[2021-02-05 19:57] bharath-123 commented on #10745
cc: @rifelpet

[2021-02-05 21:31] dontlaugh commented on #7053
This still appears to be an issue, and it's kidn of surprising behavior.

We launch kops clusters into existing subnets, to take advantage of existing local resources and our existing VPN. And we use temporary clusters for testing, so we quickly run out of tags. The AWS limit is 50.

[2021-02-05 21:35] olemarkus commented on #7053
/reopen
/remove-lifecycle rotten

Happy to review a PR on this.

[2021-02-05 22:17] dontlaugh commented on #7053
Thank you for reopening, @olemarkus . I'm cooking up a quick hack for my team right now, but fixing it upstream is something we'd be willing to do. Can you (or anyone else) point to a place in the code where we can shim this in?

For myself, I'm sketching out a program that does this:

* list tags on our existing, well-known subnets
* for each tag that looks like something kops would provide (`*.k

[2021-02-06 03:16] #10705 closed

[2021-02-06 06:53] olemarkus commented on #7053
A good place to start is this file: https://github.com/kubernetes/kops/blob/master/pkg/resources/aws/aws.go

[2021-02-06 10:15] hakman commented on #10745
We waited for 1.19 release before doing this and see if there are any major issues with LaunchTemplates.

[2021-02-06 10:19] #9745 closed

[2021-02-06 10:21] #10734 closed

[2021-02-06 11:41] bharath-123 commented on #10745
That's great. Should we discuss this in office hours before beginning work on this?

[2021-02-06 11:51] bharath-123 commented on #10738
Yup. kOps defaults to aws cloud. I think it's not very explicit that the default for the option `cloud` is aws. I think we should make it explicit in the docs that the option defaults to aws.

[2021-02-06 11:59] bharath-123 commented on #10745
/kind office-hours

[2021-02-06 12:21] #9898 closed

[2021-02-06 15:40] bharath-123 commented on #10738
@vhamburger you can see the docs here https://kops.sigs.k8s.io/cli/kops_create_cluster/ . The default for cloud option is not explicitly specified. Will add that.

[2021-02-06 16:44] bharath-123 opened #10751 "Add PR CI jobs to catch documentation build failures."
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
It looks like we don't have a job in the PR CI jobs which can catch documentation build failures.

eg: https://github.com/kubernetes/kops/pull/10689 introduced a build failure in `make build-docs` which was not caught by the job and was merged.

**2. Feel free to provide a design supporting your feature request.**
I am no

[2021-02-06 19:14] callum-p commented on #10206
I'm still having this issue even with 1.19 that includes this fix https://github.com/kubernetes/kops/pull/10654.

[2021-02-07 08:57] bharath-123 commented on #10716
Hi @Vlatombe. I am not able to reproduce this error :( Does this error occur intermittently or are you able to consistently reproduce this error?

[2021-02-07 09:55] alejandroandreu opened #10753 "Traefik won't work OOTB with default "masters" IAM role"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

v1.18.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

v1.18.15

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simpl

[2021-02-07 10:16] Vlatombe commented on #10716
@bharath-123 I can reproduce it every time with 1.19.0, and it always works with 1.18.3.

FWIW, I'm using temporary credentials obtained through sts assume role in case that could matter.

[2021-02-07 11:21] bharath-123 commented on #10716
Thank you for your reply. Is it possible to share the cluster spec you used? I ll try to reproduce the failure and see if its a bug in kOps.

[2021-02-07 14:46] hakman commented on #10737
@jetersen Most likely you are hitting https://github.com/projectcalico/calico/issues/3751, which will only be fixed in Calico 3.18.

[2021-02-07 14:55] jetersen commented on #10737
@hakman Thanks, for linking my google / github search-fu was not good enough to find the issue.

[2021-02-07 14:58] hakman commented on #10718
Thanks @h3poteto, should be all good with the next patch release.

[2021-02-07 14:58] #10718 closed

[2021-02-07 15:00] #10737 closed

[2021-02-07 15:03] hakman commented on #10737
No worries, it was well hidden :).

[2021-02-07 15:16] hakman commented on #10753
@alejandroandreu Did you try manually adding the  `iam:CreateServiceLinkedRole` permission to see if there's anything else missing?

[2021-02-07 15:49] alejandroandreu commented on #10753
Yes, and it works as expected.

7 Feb 2021 16:16:49 Ciprian Hacman <notifications@github.com>:

[2021-02-07 18:23] #10715 closed

[2021-02-07 21:30] justinsb commented on #10738
@vhamburger  yes - sorry - it's a good idea to specify cloud, but you shouldn't have to (it's a bug that we don't know that us-west4-a is GCE).

@bharath-123 thanks for looking into this!  The default value for the cloud is in GuessCloudForZone.  If you don't specify cloud (which you don't normally have to), then we will use the zone to figure out which cloud you meant.  Unfortunately that list is

[2021-02-08 03:41] bharath-123 commented on #10738
Hey @justinsb! What you say makes sense! I would love to put in the work to do this! I wrote a small PR explicitly stating the default for the `cloud` option to be aws. But I think your suggestions are better for the long term. Will raise a PR soon with you suggestions :)

[2021-02-08 03:41] bharath-123 commented on #10738
/assign @bharath-123

[2021-02-08 09:05] #9916 closed

[2021-02-08 09:33] #10704 closed

[2021-02-08 09:36] Vlatombe commented on #10716
I've tried this again today and it is timing out somewhere else, even on other versions. Not sure what is going wrong here but it looks related to my connection rather than kops.

[2021-02-08 09:36] #10716 closed

[2021-02-08 10:24] timothyclarke commented on #10706
Personally I don't think that is a valid use case. The reason I was watching this one (and am looking to implement) are due to remote working / WFH reasons.
* We do not want the admin interface to be accessible to world + dog so an IP restrictions are in place.
* As a business we do not want to have a VPN to every cluster for management purposes same goes for a vpn to a transit vpc which then peer

[2021-02-08 10:47] janroesner opened #10763 "Nodes regularly disappear from K8S even though available in EC2"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.18.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a210802493

[2021-02-08 11:16] olemarkus commented on #10763
I assume you roll _all_ nodes after doing that config change?

To triage further, you can look at the kubelet logs on the disappeared nodes. It should say why it cannot stay connected to the cluster.

[2021-02-08 11:21] janroesner commented on #10763
Hello @olemarkus,

I did not roll all nodes but created the cluster via:

[code]
I did NOT make that change to a cluster already running. Do I have to do a rolling update even before cluster initialization?

Regarding kubelet logs: 2 nodes just died few minutes ago again, but I can not connect to the pods via kubectl, therefore no access to the logs. Again, both instances were still available, nor

[2021-02-08 11:24] olemarkus commented on #10763
In order to read the kubelet log you need to ssh into your ssh instance and run `journalctl -u kubelet`

[2021-02-08 11:26] janroesner commented on #10763
I will do that, next time an instance dies and come back. Thank you.

[2021-02-08 11:49] dntosas opened #10766 "Improve logic when it comes to identify firstRun for a Cluster"
At the moment, Kops does a check for the Cluster if it is already created or if it is the first time that Kops apply changes to the cloud on this line --> https://github.com/kubernetes/kops/blob/9e14b29867ba282dfb8b78e9d86fac9a6e846ade/cmd/kops/update_cluster.go#L311

It actually checks if kubeconfig context is present for the Cluster. This logic needs to be improved a little because if Kops is us

[2021-02-08 12:30] olemarkus commented on #10763
Add a bastion:
https://github.com/kubernetes/kops/blob/master/docs/bastion.md

[2021-02-08 13:18] justinsb commented on #10763
There's also some behaviour in kube-controller-manager which should remove NotReady nodes by shutting them down in EC2, though it has a failsafe where if a majority of nodes are unavailable it assumes that the control plane is at fault and doesn't take action.  (It may be a majority of nodes in one AZ, I can't recall exactly)

If you're able to SSH into the node as @olemarkus suggests, we may get

[2021-02-08 14:29] UncleEricB opened #10769 "Failure to remove tags from subnets when cluster is deleted, hits AWS tag limit eventually"
1. What kops version are you running? The command kops version, will display this information.
$ kops version
Version 1.19.0-beta.3 (git-e43f1cc6e3c77d093935d1706042861095d75eb7)

2. What Kubernetes version are you running? kubectl version will print the version if a cluster is running or provide the Kubernetes version specified as a kops flag.
$ kubectl version
Client Version: version.Info{Major:

[2021-02-08 17:24] dkoutsou opened #10770 "Cannot SSH into Kubernetes Cluster"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]
**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]
**3. What cloud provider are you using?**
Google Cloud

**4. What commands did you run?  What is the simp

[2021-02-08 17:58] olemarkus commented on #10770
Can you try using `ubuntu` as username for the ubuntu nodes? cos users `coreos` iirc.

[2021-02-08 18:06] bharath-123 commented on #10706
@timothyclarke I get your points. I was looking at giving more flexibility to the user. I think you would be interested in this PR https://github.com/kubernetes/kops/pull/10741

This PR is doing exactly what I proposed i.e allowing the user to pass in the subnets and specify the elastic IP. But in this PR case, the author has only considered privateIPv4address for the case of an internal load bala

[2021-02-08 18:08] dkoutsou commented on #10770
@olemarkus I still receive the pubkey error. When I login with SSH using the GCloud UI to the node, I can see that the .ssh folder is empty, meaning that they key hasn't been copied anywhere.

[2021-02-08 18:11] olemarkus commented on #10770
I don't know exactly what to expect on GCE.
I see that the images you use are very old though. I suspect our GCE docs are somewhat dated.

@rifelpet maybe you can have a look?

[2021-02-08 18:12] dkoutsou commented on #10770
Ok, I just used Ubuntu because I thought it would be easier. Any suggestions for the image? Should I use the default one?

[2021-02-08 18:18] olemarkus commented on #10770
Yep. You should use the default one. Just skip the image flag.

[2021-02-08 18:25] dkoutsou commented on #10770
Great, it now works. A final question before I close, is this a problem related to Ubuntu or does it appear in other OS versions as well (e.g. Debian)?

[2021-02-08 21:13] timothyclarke commented on #10706
@bharath-123 Thank you.

If I take this back to requirements, rather than implementation.
* I'm after static IP's for the external management API.
* I'm not at the stage where I want to output terraform and apply that, however I'm not averse to terraform and I perform the initial VPC setup via terraform.

KOPS already allows us to add additional security groups to the masters I'd be happy if I cou

[2021-02-08 21:39] rifelpet commented on #10706
One option you might consider exploring is the [externalLoadBalancers](https://pkg.go.dev/k8s.io/kops/pkg/apis/kops#InstanceGroupSpec) InstanceGroupSpec field. It allows you to define a classic load balancer or an ALB/NLB target group that will be attached to the ASG. You could provision an NLB and TargetGroup externally with terraform and then pass the TG ARN to each of the master instance groups

[2021-02-09 02:16] #10738 closed

[2021-02-09 02:51] andrewstuart commented on #8335
FWIW you can get around this by copying the huge replace block in kops' go.mod into your own.

e.g.

https://github.com/kubernetes/kops/blob/04d36d7d92c72601efd918877fc180c846129ffb/go.mod#L7-L49

[2021-02-09 08:07] olemarkus commented on #10149
The underlying problem has been solved by using cert-manager instead.
/close

[2021-02-09 08:07] #10149 closed

[2021-02-09 08:09] olemarkus commented on #10770
Not sure. This _should_ work on any supported image. But I don't have access to GCE so I cannot check. Sorry.

[2021-02-09 09:35] timothyclarke commented on #10706
@rifelpet externalLoadBalancers InstanceGroupSpec was more or less the route I was thinking (I'm doing similar for nginx ingress). My question however is then on the DNS / SAN side of things.
While I can create the external loadbalancer the DNS name will not be in the SAN that the clusters SSL cert provides. `kops export kubecfg | sed` is not an insurmountable problem.
As far as I was aware the de

[2021-02-09 11:15] janroesner commented on #10763
I close this issue, since my cluster is running stable for 24 hours now. Should the problems re-occur, I will open a new issue.

For everyone who might have similar issues, there's just one thing, that I changed in my pod configs: resource requests and resource limits. Beforehand I configured requests and limits both for CPU and mem very generously. Especially the limits exceeded the capacity by f

[2021-02-09 11:15] #10763 closed

[2021-02-09 12:08] rochacon opened #10773 "Linux AMD64 binary is missing from release v1.20.0-alpha.2"
Basically the title. The release for v1.20.0-alpha.2 seems to not include the `kops-linux-amd64` binary.

Corresponding SHA256 file: https://github.com/kubernetes/kops/releases/download/v1.20.0-alpha.2/kops-linux-amd64.sha256
Missing binary: https://github.com/kubernetes/kops/releases/download/v1.20.0-alpha.2/kops-linux-amd64

[2021-02-09 12:32] hakman commented on #10773
Sorry for that. Please give it a try now.

[2021-02-09 12:32] #9915 closed

[2021-02-09 12:52] amorey opened #10774 "running "kubectl drain" no longer removes machine instances from ELBs"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.19.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.19.7

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest

[2021-02-09 13:12] rochacon commented on #10773
LGTM, thanks!

[code]

[2021-02-09 13:12] #10773 closed

[2021-02-09 17:44] Jiawei0227 opened #10777 "Install CSI driver by default in preparation of CSI Migration"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

CSI Migration is a Kubernetes feature that when turn on, it will redirect in-tree plugin traffic to the corresponding CSI driver. It has been Beta in k8s since v1.17 without turning on by default.

Recently, we decide to push this feature forward and it will be turn on by default in v1.22 for a lot of plugins according t

[2021-02-09 18:28] olemarkus commented on #10777
Can you clarify which feature you refer to? There are
* CSIMigrationAWS, which will use the CSI driver if installed, but fallback otherwise. Hence does not strictly need the driver. Thi sis the flag that is currently in beta, but disabled
* CSIMigrationAWSComplete, which strictly requires the driver and is currently in alpha.

We have support for the AWS CSI driver, where we will set the latter fl

[2021-02-09 19:16] olemarkus commented on #10774
If I understand you correctly, you mean that an ELB provisioned through a `Service` does not target drained nodes?
That should not be the case. An ELB should target ALL nodes and then kube-proxy forwards to the correct node.

Furthermore, kOps have not changed anything that will influence the behavior of commands like `kubectl`.

[2021-02-09 19:56] amorey commented on #10774
Thanks for your quick reply. Just to clarify - the behavior I'm seeing is that an ELB provisioned through a `Service` targets ALL nodes; however, this wasn't the case previously (with kops/k8s 1.18.2/1.18.10). Previously, draining a node would also remove it from the ELB targets.

Ok, it makes sense that this change isn't related to kops. Considering this behavior how do you recommend updating ins

[2021-02-09 20:03] olemarkus commented on #10774
If the problem is that proxied connections are killed there are two solutions that I am aware of:
a) use NLB and local traffic policy. In this case, only nodes with the pods on them will reply to the NLB health check. See e.g https://aws.amazon.com/blogs/opensource/network-load-balancer-support-in-kubernetes-1-9/
b) Have a look at https://cilium.io/blog/2020/11/10/cilium-19#maglev. This feature is

[2021-02-09 20:40] #9926 closed

[2021-02-10 03:11] rifelpet commented on #10706
Yes what you said is correct, you'll likely run into cert issues and need to recreate the master instances.

I think that https://github.com/kubernetes/kops/pull/10741 will get us most of the way towards what you're after, and we can add the Allocation ID API field in a followup PR allowing you to use EIPs created outside of kops. Would that be sufficient for your usecase?

[2021-02-10 08:36] Jiawei0227 commented on #10777
I am talking about CSIMigrationAWS/CSIMigrationGCE/CSIMigrationAzure.

This might not be true, if `CSIMigrationAWS` is enabled on both kube-controller-manager and kubelet, then CSI driver is a requirement. Otherwise the in-tree plugin will not work. This flag is currently in beta but not on by default. We are planning to turn it on by default in 1.22

`CSIMigrationAWSComplete` has been replaced wi

[2021-02-10 08:45] olemarkus commented on #10777
Thanks for the clarifications. No only `CSIMigrationAWSComplete` was set, so I guess this is noop then. We will add `CSIMigrationAWS` as well if the addon is installed. I think turning it on for 1.22 by default should be fine.

We'll bring this up in our office hours and decide then what to do about the other cloud providers.

[2021-02-10 08:56] Jiawei0227 commented on #10777
Yep, this is exactly why we replaced `CSIMigrationAWSComplete` to `InTreePluginAWSUnregister`. Now you only need to enable `InTreePluginAWSUnregister` and the in-tree plugin will just not be registered so you do not need to support in-tree at all. And installing the aws ebs driver to use CSI directly should be good then.

[2021-02-10 09:06] olemarkus commented on #10777
`InTreePluginAWSUnregister` will be introduced in k8s 1.21? So we still need to go with `CSIMigrationAWSComplete` until then if we want to unregister the in-tree plugin

[2021-02-10 15:29] r00twayne commented on #5710
/reopen

[2021-02-10 15:43] rifelpet commented on #5710
/remove-lifecycle rotten

[2021-02-10 17:08] timothyclarke commented on #10706
Such changes would be sufficient in my use case. https://github.com/kubernetes/kops/pull/10741 looks good.
Once it's in I'll probably be happy to attempt a PR of my own extending that code. I'm a little rusty on Go so hopefully any code I produce isn't toooo bad.
The BLM logo's on the [contributing](https://kops.sigs.k8s.io/welcome/contributing/) and [building(https://kops.sigs.k8s.io/welcome/cont

[2021-02-10 18:01] #9931 closed

[2021-02-10 18:05] Jiawei0227 commented on #10777
InTreePluginAWSUnregister will be introduced in 1.21

[2021-02-10 18:14] bharath-123 commented on #10726
/assign @bharath-123 I didn't see this issue before I started working on it.

[2021-02-10 20:27] atam003 opened #10783 "Kops fail to start cluster if Nvidia hook is used"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
kops1.19

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Kubernetes 1.16

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the

[2021-02-10 20:29] atam003 commented on #10783
@hakman
This issue can be related with recent change for docker. Can you please help with proposed solution for it.

[2021-02-10 20:35] olemarkus commented on #10783
The nvidia hook isn't maintained anymore. Try the GPU operator https://kops.sigs.k8s.io/gpu/

[2021-02-10 21:43] NickSchleicher commented on #10412
From a glance it looks like we don't have support yet for multi AZ instances
https://github.com/kubernetes/kops/blob/master/pkg/model/azuremodel/vmscaleset.go#L68

Coming from an AWS background where the subnets are zonal, but from looking at the other models, it looks like to go about implementing this it would more closely track the GCE model?

[2021-02-10 22:04] atam003 commented on #10783
I understand, Though replacing to GPU operator is really a challenge for us as it will require helm.
I want to classify this issue as very generic level. it can fail when any hook or user script try to install docker.
What is the suggestion in that case.

[2021-02-11 06:19] hakman commented on #10783
@atam003 main thing would be NOT to use the kope.io image. Use the generic/official [Debian N image](https://kops.sigs.k8s.io/operations/images/#debian-9-stretch).
If you don't want kOps to install Docker, set the (skipInstall flag)[https://kops.sigs.k8s.io/cluster_spec/#skip-install].

[2021-02-11 08:08] olemarkus commented on #10412
Is the CSI driver used for Azure Disks?
K8s is looking to disable the in-tree disk plugins as of kubernetes 1.22 and we need to be ready for that. See #10777

[2021-02-11 10:55] mbolek opened #10786 "kops generated terraform generates multiple identical IDs in nodes_security_group"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.18.3 (git-11ec695516)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.0", GitCommit:

[2021-02-11 12:55] atam003 commented on #10783
@hakman Thanks, will try that.
@olemarkus  I have one more question. I see we have marked

[2021-02-11 12:55] #10783 closed

[2021-02-11 12:58] hakman commented on #10786
/cc @olemarkus

[2021-02-11 14:11] shamil opened #10792 "Once cluster autoscaler enabled in spec.clusterAutoscaler, there is not way to disable it."
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

`aws`

**4. What happened?**

I've enabled cluster autosca

[2021-02-11 15:25] olemarkus commented on #10792
For the main issue: kOps does not uninstall addons. It is a missing feature as such

For the unrelated issue: auto-discovery is an AWS-only feature so kops will not be using that. Making it possible to disable CAS for some IGs is possible though. Would be happy to review a PR for that.

[2021-02-11 16:16] kenji-cloudnatix commented on #10412
@olemarkus , I see. No, the CSI driver is not used for Azure Disks. Thanks!

[2021-02-11 16:27] shamil commented on #10792
Thanks @olemarkus for quick response.
I'm aware that auto discovery works in AWS only. But since `kops` allows me to pass arguments as part of the spec, I can do it without having `kops` to support it natively.

The fact that I can't disable `kops` from adding the arguments of the IGs, is what preventing me from using `auto-discovery`. My current solution is just use a manually installed cluster a

[2021-02-11 17:42] bertux commented on #9862
/close

[2021-02-11 17:42] #9862 closed

[2021-02-12 01:06] rifelpet commented on #10786
/kind bug

The reported behavior is confirmed in our integration tests:

https://github.com/kubernetes/kops/blob/ec495195a7288d3b26550f62bb57eb77d0d6b0b5/tests/integration/update_cluster/launch_templates/kubernetes.tf#L29-L31

A workaround would be to wrap the output references in `toset()` which should deduplicate the values. We should probably be using sets or maps instead of lists anyways becau

[2021-02-12 01:40] mtb-xt opened #10798 "kops update changes port with an NLB loadbalancer"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.19.0 (git-04d36d7d92c72601efd918877fc180c846129ffb)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
v1.19.7

**3. What cloud provider are you using?**
AWS

[2021-02-12 04:26] Maduflavins opened #10800 "kops edit ig not working"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
I am running kops version 1.19.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
kubernetes version v1.19.0 --kops

**3. What cloud provider are you using?**
cloud pr

[2021-02-12 04:27] Maduflavins opened #10801 "kops edit ig nodes not working"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
I am running kops version 1.19.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
kubernetes version v1.19.0 --kops

**3. What cloud provider are you using?**
cloud pr

[2021-02-12 05:29] hakman commented on #10801
Hi @Maduflavins. Could you try:
[code]
?

[2021-02-12 05:30] hakman commented on #10800
Duplicate of #10801.

[2021-02-12 05:30] #10800 closed

[2021-02-12 08:30] Maduflavins commented on #10801
this actually solved the problem. thank you however i want to be able to specify min nodes and max nodes wondering if the code will solve the problem.

[2021-02-12 10:11] hakman commented on #10801
As the release notes say, `New clusters will now have one nodes group per zone. The number of nodes now defaults to the number of zones.`, because of multi-AZ scaling issues:
https://kops.sigs.k8s.io/releases/1.19-notes/#general

[2021-02-12 16:14] Maduflavins commented on #10801
thank you

[2021-02-13 15:48] ari-becker commented on #9143
/remove-lifecycle rotten

[2021-02-14 12:29] #9930 closed

[2021-02-14 14:31] #7636 closed

[2021-02-14 20:37] #9947 closed

[2021-02-15 08:40] #10801 closed

[2021-02-15 14:55] #8626 closed

[2021-02-15 15:56] #9441 closed

[2021-02-15 17:38] rifelpet commented on #8723
/remove-lifecycle stale

[2021-02-15 21:08] dignajar opened #10831 "dns-controller avoid creation by annotation"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
There is some way to avoid the creation of the DNS record for specific ingress?

For example, the following ingress will create the DNS record for `echo.mydomain.com`.
[code]

**2. Feel free to provide a design supporting your feature request.**
Would be good to have an annotation to deny to the dns-controller to set up t

[2021-02-16 00:04] xinau commented on #9127
/remove-lifecycle stale

[2021-02-16 00:43] LordNoteworthy opened #10835 "Question: why max pods lower than expected on AWS?"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.18.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest wa

[2021-02-16 01:00] agilgur5 opened #10836 "kOps 1.19 sets Cilium enableRemoteNodeIdentity to true by default, which is a breaking change"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.19

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.18.9

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest way

[2021-02-16 06:11] nathanleyton opened #10837 "panic: runtime error on new or updated instance groups using mixedInstancesPolicy"
**1. What `kops` version are you running? The command `kops version`, will display
1.19.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.19.6

**3. What cloud provider are you using?**
aws

**4. What commands did you run?  What is the simplest way to reproduce this i

[2021-02-16 07:58] olemarkus commented on #10831
I assume you are running dns-controller with `watch-ingress=true`? Recommend you use [external-dns](https://github.com/kubernetes-sigs/external-dns) instead.

[2021-02-16 08:26] olemarkus commented on #10836
I see there is a documentation bug in 1.19 versioned structs, while the master branch has the correct version https://pkg.go.dev/k8s.io/kops@v1.20.0-alpha.2/pkg/apis/kops#CiliumNetworkingSpec

A PR against the 1.19 branch to fix the documentation there would be nice. I don't think we can do much about the release notes for 1.19 though.
Largely this is just following upstream and the kOps dry-run w

[2021-02-16 08:38] dignajar commented on #10831
Yes, I'm using `watch-ingress=true`, the idea is to pick up some ingress and not all of them.
I will check external-dns.

Meanwhile, I solved it like this.
[code]

[2021-02-16 10:27] lichuan0620 opened #10842 "aws ebs volume IOPS to size error reported for small volumes"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

v1.20.0-alpha.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simples

[2021-02-16 12:41] michaelajr commented on #10836
@olemarkus This derailed us for a few days while we tracked it down. Probably does need to be called out as a breaking as a somehow.

[2021-02-16 12:50] olemarkus commented on #10836
I don't disagree. but I am not sure of any way to do this effectively. Going back and change the release notes is not ideal. Not sure how many will re-read those.

Ideally we'd have caught how this influences policies earlier in beta and handled things better (e.g by only following cilium defaults for new clusters). That would require more people to test our betas though.

[2021-02-16 12:56] DOboznyi commented on #9728
@hakman we faced with issue that if you add volume encryption key and encryption itself kops provide new version of launch template, but it doesn't switch default version to new version of launch template. So we should do it manually.

[2021-02-16 13:01] hakman commented on #9728
@DOboznyi please create an issue with simplest way to reproduce the problem and will take a look.

[2021-02-16 13:10] rifelpet commented on #10836
It cant hurt to update release notes, I'm sure there are many people that havent upgraded yet and will hopefully (re)read the release notes when they do.

Perhaps we have some sort of upgrade docs that mention checking any addon changes reported by a kops dryrun and confirming their impact in the third party project's docs.

[2021-02-16 13:43] DOboznyi commented on #10202
We also can't update kops in clusters from 1.18 to 1.19 because of file assets. Can it be decreased?

[2021-02-16 13:55] hakman commented on #10837
Looks identical to this one: https://github.com/kubernetes/kops/issues/10718

[2021-02-16 14:19] bhushan558 opened #10848 "The public LB getting associated to private subnet in Kops 1.17.6 (Note- I don't see same issue in Kops 1.11.8)"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.17.6

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
v1.17.6
**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the sim

[2021-02-16 16:32] timothyclarke commented on #10706
Now that https://github.com/kubernetes/kops/pull/10741 has been merged I've taken a first pass at updating kops to make use of the ElasticIP's. The diff is at https://github.com/kubernetes/kops/compare/master...timothyclarke:NLB-EIP however I'm getting the following error when I try to edit the cluster to replace the Classic LP with a NLB with a EIP  (I've changed the allocation id, I am using a r

[2021-02-16 16:46] jetersen commented on #8481
How to get a kops bin off the master without manually building it?
What are the chances for back porting this to 1.18.x?

[2021-02-16 23:29] nathanleyton commented on #10837
Apologies, missed that one as I was only searching for open issues. Yes, it looks like the same issue.

Cheers

[2021-02-17 00:48] #10837 closed

[2021-02-17 04:57] hakman commented on #10837
1.19.1 should be out soon with the fix :)

[2021-02-17 07:02] hakman commented on #10835
I think there is some confusion about what Kubernetes recommends and what AWS allows:
https://kubernetes.io/docs/setup/best-practices/cluster-large/
https://kubernetes.io/docs/concepts/cluster-administration/networking/#aws-vpc-cni-for-kubernetes

Should be easy to increase the limit if you want to:
[code]

[2021-02-17 07:03] LordNoteworthy commented on #10835
Hey @hakman

I understand now. Thank you so much.

[2021-02-17 07:03] #10835 closed

[2021-02-17 09:43] #10724 closed

[2021-02-17 13:16] VVvKamper commented on #10558
Hello @olemarkus
I just installed a new cluster with containerd and unfortunately it doesn't work - i can see right config.json in the /root/.docker folder and kubelet is configured with `HOME=/root` but it can't download image from my private registry.

kops version: Version 1.19.0
kubernetes version: 1.19.7

Could you help me what should i check or how we could fix this?

[2021-02-17 18:56] timothyclarke opened #10862 "Horizontal Pod Autoscaler Label clash"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
`Version 1.20.0-alpha.2`
I'm working on adding features under https://github.com/kubernetes/kops/issues/10706 however I think this bug is independant

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version

[2021-02-17 18:57] timothyclarke commented on #10862
/kind bug
cc @rifelpet

[2021-02-17 20:24] VVvKamper commented on #10558
I found that issue caused by harbor (https://github.com/goharbor/harbor/issues/10305)

[2021-02-18 06:04] olemarkus commented on #10836
Added a note now

[2021-02-18 08:48] lichuan0620 commented on #10842
/kind bug

[2021-02-18 13:03] #9158 closed

[2021-02-18 23:32] #10726 closed

[2021-02-19 03:53] jetersen commented on #8481
@rifelpet I simply downloaded the latest 1.21.0-alpha.1

Sadly it does not work.
I also tried using `AWS_PROFILE` to no avail.
[code]

[2021-02-19 07:42] DOboznyi commented on #6150
4.2.10 fixed in #10022, thanks @olemarkus

[2021-02-19 07:45] DOboznyi commented on #6150
Most of 1.4 find in [PR](https://github.com/aquasecurity/kube-bench/pull/800) to kube-bench

[2021-02-19 15:16] Schachte commented on #10736
Seeing this issue as well when removing letter balancer and utilizing DNS instead

[code]

works when load balancer type is used:
https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md

[2021-02-19 15:53] Schachte commented on #10736
Seems to be fixed with alpha release I tried. However, using DNS in API spec instead of load balancer isn't working.

[2021-02-19 18:47] AbdulmomenAhmed commented on #10717
i encountered the same problem, after upgrading to 1.19.1, i can confirm that it works.

[2021-02-19 20:41] karenin-overseas opened #10889 "Can I add calicoctl installs to the kops LaunchConfigurations directly?"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
We recently changed our networking provider from `kubenet` to `calico`, following the docs: https://kops.sigs.k8s.io/networking/calico/

Calico has a monitoring tool called `calicoctl` that I'd like to be able to use on kops-managed nodes: https://docs.projectcalico.org/getting-started/clis/calicoctl/install.

When I ssh

[2021-02-20 05:18] hakman commented on #10889
To answer the title question, you cannot add calicoctl to LC directly.
You could though this to download it easily:
https://kops.sigs.k8s.io/instance_groups/#additionaluserdata
https://kops.sigs.k8s.io/cluster_spec/#hooks

[2021-02-20 15:09] bowqtr opened #10893 "NODEUP Error got error running nodeup (will retry in 30s): error building loader: error finding containerd version"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.19.9

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c62

[2021-02-20 20:58] #9976 closed

[2021-02-21 01:06] ozbillwang opened #10895 "No debug enable options?"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

not sure if `kops` cli has debug options or not.

**2. Feel free to provide a design supporting your feature request.**

When run the kops cli, sometime I need do the troubleshooting, and want to see more outputs, but seems there is no `debug` option in kops cli

If this feature is exist, please point it out, thanks.

I

[2021-02-21 01:08] ozbillwang commented on #10895
found it

[code]

[2021-02-21 01:08] #10895 closed

[2021-02-21 10:38] hakman commented on #10893
Please try using a newer AMI as the one you are using is quite old:
https://kops.sigs.k8s.io/operations/images/#ubuntu-2004-focal

[2021-02-21 12:01] ari-becker commented on #10272
/remove-lifecycle stale

[2021-02-21 12:29] andsens commented on #10304
/close

Haven't experienced this since then, and the second run worked as well.

[2021-02-21 12:30] #10304 closed

[2021-02-21 13:24] bharath-123 commented on #10862
Hi @timothyclarke , I think kOps does not want you to provide labels with prefixe `k8s.io`? Based on this code https://github.com/kubernetes/kops/master/pkg/apis/kops/validation/cluster.go#L128. I don't think changing the load balancer type should be of any issue over here.

[2021-02-21 14:22] bowqtr commented on #10893
Hi, and thank you for assisting.

I’ve updated to the ami-0c6b46c1a4827505d which is k8s-1.16-debian-buster-amd64-hvm-ebs-2020-04-27

But still get the same issue…

In my cloud-init-output.log

Cloud-init v. 18.3 running 'init-local' at Sun, 21 Feb 2021 14:02:54 +0000. Up 17.24 seconds.

Cloud-init v. 18.3 running 'init' at Sun, 21 Feb 2021 14:02:55 +0000. Up 18.23 seconds.

ci-info: +++++++++++++

[2021-02-21 14:48] bowqtr commented on #10893
Hi, and thank you for assisting;  I very much appreciate all the help I can get as this is very much out of my comfort zone... :(

I’ve updated to the ami-0c6b46c1a4827505d which is k8s-1.16-debian-buster-amd64-hvm-ebs-2020-04-27

But still get the same issue…

**Feb 21 14:03:09 ip-172-20-33-177 nodeup[625]: W0221 14:03:09.843445     625 main.go:138] got error running nodeup (will retry in 30s): e

[2021-02-21 16:05] hakman commented on #10893
Hi. I meant an official Debian or Ubuntu image, not kope.io one. As of version 1.18, kOps recommends using Ubuntu 20.04.

[2021-02-21 16:13] olemarkus commented on #10862
The validation is probably a bit overeager. The intention is to prevent people from setting labels that kOps depend on being set to a specific value. I do think people should be able to enable CAS auto discovery though.

@timothyclarke would you be able to do a PR against the validation logic? I believe we probably want this in before kOps 1.20 GA.

[2021-02-21 18:32] bowqtr commented on #10893
Ok, will try an one like ami-0de4bebf376ac28f1 and see what happens.

Thanks,

Nick

On 21/02/2021, 16:06, Ciprian Hacman <notifications@github.com> wrote:

Hi. I meant an official Debian or Ubuntu image, not kope.io one. As of version 1.18, kOps recommends using Ubuntu 20.04.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe

[2021-02-22 09:34] omg-sr commented on #10893
👋 all,

I've just encountered this same issue this morning.

I'm running kops 1.18.3 to run k8s on AWS with the SpotInst integration. My master node is using the `image: 099720109477/ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-20210119.1` ami.

My cluster config looks like this

[code]

I was getting the same `got error running nodeup (will retry in 30s): error building loader: error fin

[2021-02-22 11:34] timothyclarke commented on #10862
@olemarkus I'm sorry I'm not that skilled as a developer to review and fix this issue.

I've been able to simplify the steps to replicate the issue that is completely independent of my PR.

1. Download the current 1.20.0-alpha.2 build
2. Perform a dry-run create of the cluster with the cloud labels arg and redirect to a file
I've only kept the args I believe are pertinent
[code]
3. Create (but not

[2021-02-22 12:49] hpursultani commented on #6520
For posterity to disable Designate and fall back to gossip DNS, the name should end with `k8s.local`.

[2021-02-22 14:03] BartoszZawadzki commented on #9712
What is the status of this?

[2021-02-22 14:03] mitch000001 opened #10898 "Openstack: reconciliation of InstanceGroups on rolling update does not work properly sometimes"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.19.0 (git-04d36d7d92)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.18.15

**3. What cloud provider are you using?**
Openstack

**4. What commands did y

[2021-02-22 14:03] rwunderer opened #10899 "kops-controller DNS name should be configurable"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

About a year ago company re-branding caused a change of DNS domain for our kOps clusters. It is currently not possible to rename a running cluster (see #298) so we adjusted the following settings in order to not have to re-create everything from scratch:

[code]

So far this has been working perfectly.

Upgrading to kops

[2021-02-22 14:09] bharath-123 commented on #9712
Hi @BartoszZawadzki . This feature is targeted for release in kOps 1.21. https://github.com/kubernetes/kops/pull/10662 have raised a WIP PR. we need to change protokube to a systemd process for this to work. So we targetted this work for kOps 1.21

[2021-02-22 14:51] bowqtr commented on #10893
Hmm - I don't have systemctl on my master node in AWS or my local mac.    How can I get that on?

Running locally
➜  ~ kops version
Version 1.19.0
➜  ~ kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c626e08b245ab19037", GitTreeState:"clean", BuildDate:"2020-07-15T16:58:53Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"d

[2021-02-22 15:17] mitch000001 commented on #10898
/area area/provider/openstack

[2021-02-22 15:17] mitch000001 commented on #10898
/area provider/openstack

[2021-02-22 15:18] mitch000001 commented on #10898
/area rolling-update

[2021-02-22 15:19] mitch000001 commented on #10898
/kind bug

[2021-02-22 16:15] bowqtr commented on #10893
Sorry manage to find a version of this on my node, but when I ran I got this...

admin@ip-172-20-xx-xx:/bin$ ./systemctl restart kops-configuration
Failed to connect to bus: No such file or directory
admin@ip-172-20-xx-xx:/bin$

[2021-02-22 16:19] bowqtr commented on #10893
Wondering if this is connected to some issue with docker....

admin@ip-172-20-xx-xx:/bin$ docker version
Client:
 Version:           18.06.3-ce
 API version:       1.38
 Go version:        go1.10.3
 Git commit:        d7080c1
 Built:             Wed Feb 20 02:28:26 2019
 OS/Arch:           linux/amd64
 Experimental:      false
Got permission denied while trying to connect to the Docker daemon sock

[2021-02-22 16:27] karenin-overseas commented on #10889
Thanks! I'll give that a shot

[2021-02-22 16:58] hakman commented on #10893
To understand what happens, would need a log from the kops-configuration service, but using the AMI that @omg-sr was using `099720109477/ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-20210119.1`.
Please use kOps v1.19.1 when trying.

[2021-02-22 17:01] bowqtr commented on #10893
ok let me try that @hakman,  I've just changed my AMI to k8s-1.16-debian-buster-amd64-hvm-ebs-2020-04-27 - ami-0c6b46c1a4827505d as I hoped it would be a smaller change I still got the same problem

Feb 22 16:54:15 ip-172-20-63-192 nodeup[615]: W0222 16:54:15.745175     615 main.go:138] got error running nodeup (will retry in 30s): error building loader: error finding containerd version

admin@ip-

[2021-02-22 18:46] rifelpet commented on #8264
/remove-lifecycle stale

this is in progress

[2021-02-22 20:28] bowqtr commented on #10893
Ok have an instance running

ubuntu-eks/k8s_1.18/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-20210119.1 - ami-0c7de20ac40893f86
Canonical, Ubuntu EKS Node OS (k8s_1.18), 20.04 LTS, amd64 focal image build on 2021-01-19
Root device type: ebs Virtualization type: hvm ENA Enabled: Yes

....in the end I see the same error:
**Feb 22 20:23:42 ip-172-20-61-25 nodeup[2500]: W0222 20:23:42.539148    250

[2021-02-22 20:31] bowqtr commented on #10893
I can see that there is no file under the "containerd" folder - is that normal?

![Screenshot 2021-02-22 at 20 31 05](https://user-images.githubusercontent.com/17901816/108766343-f1d27d00-754c-11eb-9a96-1793ca87e8d4.jpg)

[2021-02-22 20:34] bowqtr commented on #10893
This is also my kube_env.yaml

Assets:
- 2ca2a3104d4cce26db128e3a0b7a042385df4f2c51bdbe740e067fdfaa2fcdd1@https://storage.googleapis.com/kubernetes-release/release/v1.19.1/bin/linux/amd64/kubelet
- da4de99d4e713ba0c0a5ef6efe1806fb09c41937968ad9da5c5f74b79b3b38f5@https://storage.googleapis.com/kubernetes-release/release/v1.19.1/bin/linux/amd64/kubectl
- 994fbfcdbb2eedcfa87e48d8edb9bb365f4e2747a7e47

[2021-02-22 22:33] danfinn opened #10901 "Issue creating cluster using existing VPC and subnets"
[code]

The team that is in charge of our AWS environment setup would prefer that we use kOps with an existing VPC and subnets if possible.  They created a VPC and 2 subnets.  I used the following command to try and create a cluster with kOps:

[code]

And I get the following output:
[code]

I've found a few other people reporting this but there doesn't seem to be any suggested fixes or workaround

[2021-02-22 22:37] schollii commented on #10314
/remove-lifecycle stale

[2021-02-22 22:59] lowrylp opened #10902 "kops cluster upgrade fails with kops-controller left in CrashLoopBack"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.19.0 (git-04d36d7d92c72601efd918877fc180c846129ffb)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Client Version: version.Info{Major:"1", Minor:"20", Gi

[2021-02-23 03:46] hakman commented on #10893
From the file you pasted above, I can see that you are using kOps v1.18.2 and install kubernetes 1.19.1, which is not supported.
You should download and use the kOps 1.19.1 binary from https://github.com/kubernetes/kops/releases/tag/v1.19.1.
To upgrade the cluster you should follow:
https://kops.sigs.k8s.io/operations/updates_and_upgrades/#automated-update

[2021-02-23 06:25] hakman commented on #10902
Please try also with kOps 1.19.1.

[2021-02-23 09:25] olemarkus commented on #10901
You need to specify `--utility-subnets` as well.

`kops create cluster` should probably require this when `--topology=private`

[2021-02-23 10:16] omg-sr opened #10908 "Panic during kops update cluster"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

I0223 10:06:57.744484    4932 featureflag.go:167] FeatureFlag "Spotinst"=true
Version 1.19.1 (git-8589b4d157a9cb05c54e320c77b0724c4dd094b2)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specifie

[2021-02-23 10:31] hakman commented on #10908
/cc @liranp

[2021-02-23 11:03] hakman commented on #10893
No worries. Please add the output of `kops get --name my.example.com -o yaml`.

[2021-02-23 11:12] bowqtr commented on #10893
Hi @hakman  - attached the output; I know the instancegroups are wrong and need changing, was planning on doing that once I know I have a config for the main node to get up and running.

[cluster yaml output.txt](https://github.com/kubernetes/kops/files/6028530/cluster.yaml.output.txt)

Many thanks!

[2021-02-23 11:17] hakman commented on #10893
Your user data doesn't match the cluster version, it does just partially. I am not sure how you ended up in that state.
How did you upgrade the cluster?

[2021-02-23 11:20] shapirus commented on #4032
Any update? kOps is now at 1.19, LaunchTemplates come by default out of the box.

[2021-02-23 11:21] bowqtr commented on #10893
Hi @hakman

kops edit cluster
Can I make changes manually to fix?

I'm less clear on how to make changes through "kops edit ig" etc

....but happy to try and make them, so long as I know what to make.

[2021-02-23 11:22] hakman commented on #10412
kOps v1.20.0-beta.1 was just released today. The plan is to have another beta in 1-2 weeks and  the final release in in 3-4 weeks.
Please test the new Azure support as much as possible and report any issues you find.

[2021-02-23 11:26] hakman commented on #10893
Did you ever run something like this or similar?
[code]

[2021-02-23 11:40] bowqtr commented on #10893
Kinda, my usuale upgrade process was

[code]

Which may have been only partially correct, but that what I was handed over from the guy that left.

[2021-02-23 11:44] bowqtr commented on #10893
when I do a kops upgrade cluster, I now get this

➜  ~ kops upgrade cluster
Using cluster from kubectl context: k8s.staging.acme.com

I0223 11:43:20.350760   65415 upgrade_cluster.go:197] Custom image (099720109477/ubuntu-eks/k8s_1.19/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-20210211) has been provided for Instance Group "master-eu-west-1a"; not updating image
ITEM

[2021-02-23 11:46] bowqtr commented on #10893
Look like this would update the IG which I have for small and large worker nodes, but would it solve the Docker issue in the main node?

[2021-02-23 11:51] liranp commented on #10908
Checking. At first glance, it looks like #9011 is related ([ref.](https://github.com/kubernetes/kops/commit/e91ed114499294f3e4242c6b23e7150a5c7262ec#diff-0593c7071645ffd8c524c9a1fc5cbf6119bada3887d09b9dfc4b25b3a72cd7fb)). Thanks, @hakman.

[2021-02-23 12:06] hakman commented on #10893
Upgrade cluster is not needed now, but at least update cluster should tell you that there are changes that need to be applied.
Rolling update with `--cloudonly` should work.

[2021-02-23 12:08] bowqtr commented on #10893
Ok, ran that and got this

`➜  ~ kops rolling-update cluster --cloudonly
Using cluster from kubectl context: acme.com

NAME                    STATUS  NEEDUPDATE      READY   MIN     TARGET  MAX
large-nodes             Ready   0               0       0       0       3
master-eu-west-1a       Ready   0               1       0       1       1
nodes                   Ready   0               0       0

[2021-02-23 12:11] hakman commented on #10893
'update cluster` not `rolling-update cluster`. :)

[2021-02-23 12:14] bowqtr commented on #10893
Hmm, something is amiss

[code]

[2021-02-23 12:15] bowqtr commented on #10893
I did do this... should I now repeat wth --yes?

[code]

[2021-02-23 12:17] bowqtr commented on #10893
I did this, kops update cluster, should I now repeat with --yes?

[code]

[2021-02-23 12:28] hakman commented on #10893
Yes and after rolling update.

[2021-02-23 12:33] hakman commented on #10893
[code]

[2021-02-23 12:36] olemarkus commented on #10862
Thanks for the info. That is what I need to fix this.  PR incoming.

[2021-02-23 13:05] bowqtr commented on #10893
Hi @hakman

Ok got this...just waiting for my new IP to propagate to see if I can connect using LENS...

[code]

[2021-02-23 13:16] bowqtr commented on #10893
Ok - I can't connect using LENS.

I also can't login as it used an older launch config in the autoscaling group; it has changed this launch config back to the original which has the AMI has been updated, but the key pair is the old key pair.

I have created a new launch config with the new AMI and correct key pair, call MAIN NODE (UBUNTU 1.19 AMD2) but how do I use kops or kubectl to ensure the au

[2021-02-23 13:23] hakman commented on #10893
You should really read the docs, just saying.
Manual changes will be rewritten by kOps and you should never do manual changes to your launch templates and user data.
https://kops.sigs.k8s.io/cluster_spec/
You should use only edit cluster / ig and upgrade, update, rolling-update commands.
Also you may try your luck in the Slack channel https://kubernetes.slack.com/messages/kops-users/.
Good luck!

[2021-02-23 14:01] bowqtr commented on #10893
I get most of that, I just don't understand how my autoscaling group is linked to a particular launch config, or how I may be able to change that by issuing a new KOPS command.    I don't see this listed in any of the config or even that cluster_spec URL, unless I'm so tired, I'm just missing it.   Sorry for been a newbie, but grateful if you're able to help.

[2021-02-23 14:06] hakman commented on #10893
This should help: https://kops.sigs.k8s.io/tutorial/working-with-instancegroups/
Short version, `minSize` and `maxSize` control the ASG size. You get an ASG for each instace group.

[2021-02-23 14:32] bowqtr commented on #10893
I read that..but sorry, still lost

I have three instance groups

[code]

And my instance groups have min / max as you can see above
But in the instancegroup definition, I don't see a linkage to the launch configuration in the scaling group.

The launch config, contains the nodeup cloud-init for the EC2 instance, plus the SSH key pair.
I changed that ... so trying to get the KOPS config to use the

[2021-02-23 14:45] hakman commented on #10893
There is not link between launch config and IG, kOps manages the launch config, not you.
Use kOps to edit the IGs and add the options that you want, which will be translated into a launch config when running an update.

[2021-02-23 14:52] bowqtr commented on #10893
So this is where I'm totally lost...as this is my maste rnode IG config when I type **kops edit instancegroup master-eu-west-1a**

But in this I see no reference to the launch configuration attached to the auto-scaling group in AWS.
Which means that its launching with the old EC2 launch user data config, ssh keys etc

I can change the auto-scaling group manually in the EC2 dashboard, but this chan

[2021-02-23 15:00] hakman commented on #10893
Try using https://kops.sigs.k8s.io/secrets/#create-secret or https://kops.sigs.k8s.io/cluster_spec/#sshkeyname.

[2021-02-23 15:16] bowqtr commented on #10893
ok, I think I managed to resolve the issue by creating a new template instead of a config

The node still doesn't come up though - says its missing Docker binaries in assets

[code]

Is this because in the new 1.19.1 I need to change the launch script in the EC2 instance?

Attached are the cluster_spec, ig_spec, and kube_env YAML files which are created when the EC2 instance is launched.

I figuri

[2021-02-23 15:27] hakman commented on #10893
From my point of view, this is not a support issue, it is just user error. You are trying to manually change things that you shouldn't touch and you insist doing that. I don't think anyone can help with that.
If you want to learn, create a new cluster as described in the docs and you can see how things change when you edit/update/roll the cluster.

[2021-02-23 15:38] bowqtr commented on #10893
Hi @hakman I appreciate that perspective, but nothing had changed - I just tried to bring up the cluster one day and was getting the error.   It surprised me!   I have another cluster in another region (slightly different config) which still works ok.   Ont his cluster in staging which is failing we originally saw this error....

**865 main.go:138] got error running nodeup (will retry in 30s): err

[2021-02-23 16:07] danfinn commented on #10901
Thanks @olemarkus.  It's not entirely clear to me how to setup these subnets when trying to create a private cluster.  Is there a good break down of how subnets vs utility subnets are used or should be laid out?

[2021-02-23 16:14] hakman commented on #10893
You are using configs form kOps 1.18 with kOps 1.19 binaries. The only way to get there is by manually changing the user data. If you would just run all the steps for an upgrade, you would fix things.
Also, I think I asked for some times to use the ubuntu image that has no bundled Docker. This is where `upgrade cluster --yes` would have helped.
FYI, kOps 1.19.1 installs Docker 19.03.15.

[2021-02-23 17:39] danfinn commented on #10901
I tried splitting up the subnets, one for --subnets and one for --utility-subnets and I still get the same error

[code]

[2021-02-23 18:04] bowqtr commented on #10893
I've managed to get it back up and running; a sincere thanks to you and others who helped.   I know it can be frustrating to help those who are less familiar but its sincerely appreciated.

THANK YOU!

![Screenshot 2021-02-23 at 18 03 45](https://user-images.githubusercontent.com/17901816/108886947-80a0d180-7601-11eb-98df-0a0ebe2ea9c5.jpg)

[2021-02-23 18:22] hakman commented on #10893
Happy it all worked out. Hope this helped a little with getting to know k8s and kOps.
Would appreciate if you can write a short summary of what was the solution before closing.

[2021-02-23 18:31] bowqtr commented on #10893
Will try too, but I think it was mainly what you said, that I needed to use a different AMI (so choose 099720109477/ubuntu-eks/k8s_1.19/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-20210211) and then I have to adjust the user data of the launch script for references to amd64 in the yaml.   Then I just let the kops upgrade cluster do it's thing.  I then applied that to the main node, and then the

[2021-02-23 18:55] hakman commented on #10893
To learn more, I would suggest some course like https://www.udemy.com/course/certified-kubernetes-administrator-with-practice-tests/.

[2021-02-23 20:08] olemarkus commented on #10901
I recommend using a cluster spec file for creating the cluster rather than using `kops create cluster`. See https://kops.sigs.k8s.io/manifests_and_customizing_via_api/

Kops and k8s need some specific tagging on various resources. Easiest is to provision everything with kops first, then copy what kops did.

[2021-02-23 20:23] danfinn commented on #10901
I actually was just doing some work on this and ended up getting it working using exactly that.  The biggest issue we were having at first when letting kOps create the subnets is that it was trying to use huge subnets, /19 and /22 if I remember correctly.

So what we did was create a cluster like so:
[code]

then edit the cluster:
[code]

And change both subnets to use a /24 instead.  kOps then su

[2021-02-23 20:39] olemarkus commented on #10901
`kops create cluster` is more just for getting a working cluster up and running.

For real use, you should only use the yaml resources. You can use `kops create -f <yaml>` to create clusters based on those.

That way you can check in those yamls into version control.

[2021-02-23 20:41] danfinn commented on #10901
ok, thank you very much for all the help.

[2021-02-24 04:01] sujeet-agrahari opened #10916 "Why does kops create two scaling groups?"
I have a cluster with two worker nodes and one master node in only one availability zone on AWS.

By default, kops created two auto scaling groups: one for master node and one for worker nodes.

Why does it need two auto scaling group if cluster is running inside on zone only?

Can I somehow merge them into one auto scaling group?

Also, will AWS charge for these separate scaling groups?

One more

[2021-02-24 06:54] hakman commented on #10916
I think most of these questions are answered in the docs.

#### Why does it need two auto scaling group if cluster is running inside on zone only?
https://kops.sigs.k8s.io/instance_groups/#the-instancegroup-resource

#### Can I somehow merge them into one auto scaling group?
No

#### Also, will AWS charge for these separate scaling groups?
https://aws.amazon.com/autoscaling/pricing/

#### One more

[2021-02-24 08:43] sujeet-agrahari commented on #10916
Thanks @hakman
You answer for _Why does it need two auto scaling group if cluster is running inside one zone only?_  doesnt actually explains the why part.
_Also, will AWS charge for these separate scaling groups?_ So it doesn't charge! Correct me here if I am wrong.

_One more thing, It also create a load balancer, what is the use of this load balancer? Is it publicly accessible?_

So kops create

[2021-02-24 08:43] sujeet-agrahari commented on #10916
Thanks @hakman
You answer for _Why does it need two auto scaling group if cluster is running inside one zone only?_  doesnt actually explains the why part.
_Also, will AWS charge for these separate scaling groups?_ So it doesn't charge! Correct me here if I am wrong.

_One more thing, It also create a load balancer, what is the use of this load balancer? Is it publicly accessible?_

So kops create

[2021-02-24 09:23] hakman commented on #10916
Masters and nodes are different things, running different services, with different IAM permissions so require different ASGs.
Masters use fixes size ASG of 1, to be recreated in case of failure, nodes can be scaled as much as you want.

kOps creates a load balancer for HA user access to the nodes. It is a preference if you want to use LB or DNS, internal or not, both depending on your cluster arch

[2021-02-24 09:23] #10893 closed

[2021-02-24 09:25] #10916 closed

[2021-02-24 12:04] 7echno opened #10917 "error updating "storage-aws.addons.k8s.io""
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.18.2 (git-84495481e4)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
v1.17.11

**3. What cloud provider are you using?**
AWS

**4. What commands did you ru

[2021-02-24 12:19] olemarkus commented on #10917
The easiest way to solve this is to remove the storageclass and then kops will readd it shortly after. Pods using the storage class won't be able to start meanwhile, but should fix itself after a about a minute.

[2021-02-24 12:53] olemarkus commented on #10314
The workaround was removed because it frequently led to broken clusters. So we don't want to lead people down that path anymore.
This issue is also fixed on supported versions of kOps so those who are affected by this need to upgrade anyway.

/close

[2021-02-24 12:53] #10314 closed

[2021-02-24 12:55] amorey commented on #10774
Thanks for your suggestions! I went down a cilium/eBPF/maglev rabbit hole and found it very interesting. Now I think I have a better handle on the issue I described earlier but while testing out NLB's I ran into a bigger issue. In my setup, when the master node's machine instance restarts, the NLB target instances all get deregistered simultaneously and then re-registered which causes a long outag

[2021-02-24 12:56] 7echno commented on #10917
@olemarkus This is something that we kind of planned to do. But there are few things I need to be sure.

[2021-02-24 13:00] olemarkus commented on #10774
A master instance restart should not cause the entire NLB target group to re-register. Is that something you see happening consistently?

[2021-02-24 13:24] amorey commented on #10774
Yes, consistently. I tried it about five times using different versions of K8S (1.19, 1.20 and 1.21) and saw it happen each time. I noticed it first when running `kops rolling-update cluster` but then narrowed it down to an issue with the master node instance coming back online. I haven't tried it with a HA master setup.

[2021-02-24 13:45] olemarkus commented on #10774
Managing those things is handled by the control plane. I don't think it would actully de-register nodes just because ... but maybe there is a timeout or something that causes this. Do you have the chance to test a HA cluster as well?

[2021-02-24 13:57] adam-thg commented on #9834
I don't think this is stale, how's the maintainership of the OpSt code?

[2021-02-24 14:01] olemarkus commented on #9834
Best effort :)

OpenStack comes in so many different forms that it is not as easy to maintain as public cloud providers.
I am pretty sure the original issue was solved in 1.19 though.

Can you create a new issue with the errors you are seeing?

/close

[2021-02-24 14:01] #9834 closed

[2021-02-24 17:38] lowrylp commented on #10902
kops 1.19.1  worked fine.   Thanks for the heads up.

[2021-02-24 17:38] #10902 closed

[2021-02-24 18:29] #9980 closed

[2021-02-24 19:50] SimplicityGuy commented on #372
/remove-lifecycle stale

[2021-02-24 19:51] SimplicityGuy commented on #372
Is there progress on when kops will allow us to specify encrypted EBS volumes on EC2 instances?

[2021-02-24 19:53] SimplicityGuy commented on #372
Looks like the workaround here is referenced here: https://github.com/kubernetes/kops/issues/4225#issuecomment-517789339

[2021-02-24 20:18] timothyclarke commented on #10706
PR has been merged and will be in 1.20.  closing

[2021-02-24 20:18] #10706 closed

[2021-02-25 03:59] rifelpet commented on #10412
Would folks find terraform support for azure clusters useful? If someone is interested in implementing it I can provide assistance.

[2021-02-25 06:22] hakman commented on #10908
I think `nlb` can also be nil here:
https://github.com/kubernetes/kops/blob/8e9f91beaa9300e3b59a0a6d539cca4e644a56e7/upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go#L353

[2021-02-25 06:42] olemarkus commented on #10901
I'll close this for now. Let me know if you run into more issues.

[2021-02-25 06:42] #10901 closed

[2021-02-25 09:02] amorey commented on #10774
I just tested it on a 3-master HA cluster and found that terminating 1/3 or 2/3 master instances simultaneously did not de-register the nodes but terminating 3/3 simultaneously did.

[2021-02-25 10:08] kesor opened #10927 "Scheduler addon needs updated yaml policy when using k8s 1.20"
**1. What `kops` version are you running?**
`Version 1.20.0-beta.1`

**2. What Kubernetes version are you running?**
`Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"e87da0bd6e03ec3fea7933c4b5263d151aafd07c", GitTreeState:"clean", BuildDate:"2021-02-18T16:03:00Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"linux/amd64"}`

**3. What cloud provider are you us

[2021-02-25 16:48] zetaab commented on #10898
yeah I have seen this same issue, sometimes it will not create the new instance and it leads to fail. No idea why that happens but there should be maybe some retry loop when creating that

[2021-02-25 17:04] mitch000001 commented on #10898
Yeah, I mean, a quickfix could be to put the wait before the apply rather than after it. This way we can configure to wait longer before reapplying.
Also, can you check if this is still a problem if running that with the introduction of hashes for instance names? I mean, it's a different name then but possibly it won't trigger recreation when there are still enough nodes within the instance group.

[2021-02-25 17:14] samturton2 opened #10930 "Error reading cluster configuration "kops.samdevopsinuse.ml": error reading s3://kops.samdevopsinuse.ml/kops.samdevopsinuse.ml/config: Unable to list AWS regions: AuthFailure: AWS was not able to validate the provided access credentials status code: 401, request id: b80890d3-535c-4f18-81e8-00945c8d26c7"
**1.** `kops ` version - 1.19.0

**2.** `kubectl` version - 1.19.3

**3.** I am new to kubernetes and trying to launch a simple terraform file that will create 2 nodes with a master node. I have set up a DNS with route53, and an s3 bucket, along with my IAM user container most of the `FullAccess` permissions.

Kops seems to not be able to locate the region, and has authentication errors, which con

[2021-02-25 17:52] #8178 closed

[2021-02-25 18:21] bharath-123 commented on #10927
I think allowing users to provide the scheduler-policy is a better option rather than depending on add-ons in this case. I can see that the scheduler policy is constantly evolving, it maybe hard for us to keep up. What do you think @olemarkus ?

[2021-02-25 18:46] zetaab commented on #10898
@mitch000001 the problem with this might be that deleting instance takes sometime. Like for us it might take like n minutes (where n < 5). Lets imagine situation that we 1) terminate the instance 2) execute apply without waiting anything. The result for this is that apply does not do anything because it thinks that the instance still exists? We should loop until the instance is really deleted.

Ac

[2021-02-25 18:52] mitch000001 commented on #10898
@zetaab I agree that the cleanest solution is to make sure the machine is completely removed. Or we have to make sure that the node in question is marked in a way that it is not a part of the instance group anymore. Then the waiting is not mandatory unless you have too strict of a quota set.

[2021-02-25 18:54] zetaab commented on #10898
the problem is with the `port` if we do not wait that its completely removed. Because we are reusing ports in instances, its going to be a problem. I think that PR 10849 is good direction and hopefully it will solve this issue. Anyways we will see that in future

[2021-02-25 21:48] revandarth opened #10933 "sysctlParameters isn't working"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.18.2 (git-84495481e4)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

k8s: "v1.18.10"

**3. What cloud provider are you using?**
AWS

**4. What commands d

[2021-02-26 03:29] MoSheikh commented on #6788
Can we please reopen this issue? I'm having the same issue when initializing a new cluster on GCE.

[2021-02-26 04:59] rifelpet commented on #6788
/reopen

can you post your cluster spec and the generated terraform code?

[2021-02-26 09:01] mitch000001 commented on #10898
@zetaab when you introduced the hashes within instance names did you touch the port names also, i.e. are they having the name of the instance or are they having still the old names?

[2021-02-26 09:57] zetaab commented on #10898
Ports are still using old port names

[2021-02-26 10:11] bharath-123 commented on #10927
Looks like kOps had support for this but was changed to add it as a dynamic add on. Will discuss this in office hours

/kind office-hours

[2021-02-26 14:14] mitch000001 commented on #10898
But if ports just count up, how do they relate to VMs? Can't there be issues when the wrong port is used?

[2021-02-26 14:18] zetaab commented on #10898
the "real instance name" is nowadays located in instance metadata. It works otherwise in same way than it worked before. Like I said it needs much bigger change if we change this whole logic.

[2021-02-26 15:49] BartoszZawadzki opened #10936 "kube-dns/core-dns pods constantly getting killed"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.** v1.19.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.** v1.18.9

**3. What cloud provider are you using?** AWS

**4. What commands did you run?  What is the simplest

[2021-02-26 16:00] bowqtr commented on #10893
Thanks for all you help on this….a further issue developer though with authentication.

Did something change in 1.19.7 that I need to make more changes for?

You can see the details of this here…https://stackoverflow.com/questions/66387892/jenkins-kubernetes-builds-fail-with-forbidden-user-systemanonymous-verb-get

Is anybody can assist since this is beyond my skillset, I’d be externally grateful!

[2021-02-26 17:12] hakman commented on #4127
As mentioned in the [kOps 1.20 release notes](https://kops.sigs.k8s.io/releases/1.20-notes/#deprecations), Aliyun/Alicloud support is being deprecated:

If anyone is interested in contributing, please contact the maintainers in the #kops-dev Slack channel.

[2021-02-26 19:36] olemarkus commented on #10936
I assume a lot of other things in the cluster is broken as well?

It looks like something prevents cilium from creating cilium endpoints, which in turn prevents general connectivity.

@aanm is these errors you recognize?

[2021-02-26 20:56] MoSheikh opened #10938 "Incorrect deployment command format for cluster-autoscaler on GCE causing "Back-off restarting failed container" loop"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.19.1
1.20.0-beta.1

Bug occurs in both versions.

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.20.2

**3. What cloud provider are you using?**

Google Compute

[2021-02-26 21:55] gregkoganvmm opened #10939 "externalPolicies sort order affects kops update cluster change tracking"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.19.1
**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
v1.20.4
**3. What cloud provider are you using?**
AWS
**4. What commands did you run?  What is the simpl

[2021-02-27 00:41] MoSheikh commented on #6788
@rifelpet

Sorry for the delay.

Looks like the error doesn't occur after initializing the cluster with `kops update -y`  (without the `--target=terraform`) first, waiting for the resources to be deployed on cloud, and then running `kops update -y --out=. --target=terraform` after validating the cluster.

Here's the cluster spec:

[code]

And here's the generated kubernetes.tf:

[code]

[2021-02-27 02:44] MoSheikh commented on #6788
It looks like this is an issue with gossip-based clusters. Trying a setup with `--dns-zone` set runs everything fine.

[2021-02-27 09:41] hakman commented on #10939
Thanks for reporting this @gregkoganvmm. #10940 should fix this issue.

[2021-02-27 10:32] #9946 closed

[2021-02-27 11:37] neilg opened #10941 "Cannot build kops using documented instructions"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Building kops 1.19.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb19681

[2021-02-27 12:28] olemarkus commented on #10941
Which go version are you using?

[2021-02-27 13:23] neilg commented on #10941
[code]

[2021-02-27 17:00] olemarkus commented on #10941
Try go1.15.x instead. That should work.

[2021-02-27 17:10] neilg commented on #10941
Yes, that worked. It builds fine with ``` go1.15.8 linux/amd64```

[2021-02-27 18:06] #10939 closed

[2021-02-27 18:53] olemarkus commented on #10933
unfortunately not all changes to the cluster spec will be detected by kops CLI. You can add `--force` to push the change through.

[2021-02-27 20:48] #10862 closed

[2021-02-28 04:09] rifelpet commented on #8837
/reopen
/remove-lifecycle rotten

[2021-02-28 06:26] olemarkus commented on #10146
Do still experience this problem?

[2021-02-28 11:37] disapointmntPanda opened #10947 "SSL certificate get expired after some amount of time"
I am running latest stable version of kops.

I have two worker and one master node setup in the cluster.

After some amount of time my access to kubectl and the cluster context gets expired.
I get below error

[code]

At his poin I had do again this to access the cluster with kubectl again.

[code]

[2021-02-28 12:04] olemarkus commented on #10947
Yes. Certificates are only valid for 18h by default for security reasons. See https://kops.sigs.k8s.io/releases/1.19-notes/#changes-to-kubernetes-config-export

[2021-02-28 12:22] disapointmntPanda commented on #10947
Is there any workaround? And also, is there any side effect of running
[code]
What is the right way to make it working again?

[2021-02-28 12:26] olemarkus commented on #10947
Both of those questions are answered in the link above I guess. `kops export kubecfg` is probably the most appropriate command.

Note that using the admin credentials is discouraged

[2021-02-28 13:54] disapointmntPanda commented on #10947
I did run the below command but I still get the same error.
[code]

[2021-02-28 14:09] olemarkus commented on #10947
You need to add `--admin`

[2021-02-28 14:32] #10947 closed

[2021-02-28 16:01] #6356 closed

[2021-03-01 02:12] bittopaz commented on #4127
@hakman Thank you for following this up.

There is a task list that I came out with when I tried to develop Alicloud provider in this https://github.com/kubernetes/kops/issues/4127#issuecomment-534536277.

Also, if anyone would like to pick it up, he/she can use this PR https://github.com/kubernetes/kops/pull/8275 as a reference for setting up development.

If anyone is interested in contributing,

[2021-03-01 07:46] #10938 closed

[2021-03-01 07:46] #8837 closed

[2021-03-01 08:26] olemarkus opened #10959 "New API version: v1alpha3"
I want to restart the new API version discussion that we had in #9178

As I think we'll do a number of changes, an umbrella issue is appropriate and this one should serve as that.

I want v1alpha3 to not be roundtrip-compatible with v1alpha2. However, both should roundtrip with the unversioned spec without data loss. This is the same that we see k/api doing.

This means we need to use a lot of con

[2021-03-01 09:20] BartoszZawadzki commented on #10936
@olemarkus Actually only kube-dns pods are getting killed.

I've also noticed that cilium-operator pod throws-out:

[code]

[2021-03-01 09:23] olemarkus commented on #10936
Yes. This is related to not being able to create a CEP for kube-dns/coredns.

[2021-03-01 13:41] BartoszZawadzki commented on #10936
I've also checked the other (not upgraded) cluster (kops 1.18.1; kubernetes 1.18.9) for CEP's:

[code]

While executing the same command in my current (broken) cluster returns:

[code]

[2021-03-01 14:17] aanm commented on #10936
@olemarkus yes, this was fixed in https://github.com/cilium/cilium/pull/13369 and it's available since >= 1.8.5 and >= 1.9.0

[2021-03-01 14:38] olemarkus commented on #10936
The default version in kOps 1.19.1 is cilium 1.8.6. Can you confirm this version is running?

[2021-03-01 14:40] BartoszZawadzki commented on #10936
cilium:

[code]

cilium-operator:

[code]

[2021-03-01 16:05] BartoszZawadzki commented on #10936
I've also switched the image for both operator and cilium to v1.8.7 and it did not help.

[2021-03-01 16:24] gnufied commented on #2624
For posterity you could also force a PVC to bind to existing PV by specifying `volumeName: ` in pvc spec.

[2021-03-01 16:25] olemarkus commented on #10936
Looking at the change in the linked issue, the problem was sort of introduced there.

There is a mismatch between the manifests and agent version.

So could be setting cilium version to 1.8.3 actually fixes this

[2021-03-02 07:27] olemarkus commented on #10936
Can you remove this controller? I suspect this is the one that enforces what you see above.
`OwnerReferencesPermissionEnforcement`

[2021-03-02 08:55] #10936 closed

[2021-03-02 10:39] BartoszZawadzki commented on #10936
After removing `OwnerReferencesPermissionEnforcement` cluster started working. I don't see any kube-dns restarts.

Thanks for the help.

[2021-03-02 10:45] olemarkus commented on #10936
Good to know. You should be able to reenable that controller once kops 1.19.2 or 1.20.0 has been released. Both have that finalizer fix.

[2021-03-02 10:56] olemarkus commented on #7119
Hi @haugenj. Have you had the chance to look into this yet? Anything I can help out with?

[2021-03-02 15:07] haugenj commented on #7119
@olemarkus yeah, I've got the SQS provisioning done but I'm still working on the Eventbridge rules. Once I've got those done I'll open a draft pr, hopefully by end of this week 🤞

[2021-03-02 16:06] dmcnaught commented on #10146
Adding more memory to the masters seems to be working, thanks @olemarkus

[2021-03-02 16:27] msidwell commented on #10930
Hey there! Did you make sure to export your access key ID and secret key as environment variables? kOps is only able to leverage your configured IAM user through this method (https://kops.sigs.k8s.io/getting_started/aws/):

# Because "aws configure" doesn't export these vars for kops to use, we export them now
export AWS_ACCESS_KEY_ID=$(aws configure get aws_access_key_id)
export AWS_SECRET_ACCESS

[2021-03-02 17:56] samturton2 commented on #10930
Thankyou, that fixes it. I had environment variables but they were labelled differently

Unfortunately now i am getting problems with my DNS name i have in a route53 group, with the name servers added to the domain host.

[code]

[2021-03-02 18:41] msidwell commented on #10930
kops.samdevopsinuse.ml doesn't appear to be a public DNS zone. If you wish to use public DNS, you'll have to create a public route53 hosted zone by purchasing the samdevopsinuse.ml domain. If you just want to try out kOps without dealing with buying a domain name, you can leverage gossip DNS by using a domain name that ends with .k8s.local instead.

https://kops.sigs.k8s.io/gossip

[2021-03-02 18:53] wknapik commented on #2428
/remove-lifecycle stale

[2021-03-02 22:14] VladimirTambovtsev commented on #1449
Got the same issue in Ubuntu 20
kubectl version: v1.20.4
[code]
[code]

[2021-03-02 23:56] #9875 closed

[2021-03-03 05:33] #4032 closed

[2021-03-03 12:42] daenney opened #10973 "Managing networking pods resource requests/limits"
I'd like to be able to configure CPU and memory requests and limits for the networking pods. I want the ability to set them in such a way that it can result in a QoS class of Guaranteed, to minimise the chance of networking pods getting evicted due to resource pressure. This has been implemented for Weave in #8216 but is missing for Calico and most other networking options.

[2021-03-03 12:43] daenney commented on #10973
One other thing I'm wondering about; if I add resource requests/limits directly into the generated k8s.yaml (the one in the state store), will that persist across upgrades, and is that a feasible/recommendable way of managing these values until kOps natively supports it?

[2021-03-03 12:46] olemarkus commented on #10973
Setting limits on networking pods is not a good idea. Networking components need to consume whatever they need.
Networking pods are also marked with node/cluster critical and will not easily get evicted.

[2021-03-03 13:17] daenney commented on #10973
We’re regularly seeing eviction issues on Calico’s node pod which is rather disruptive. As shown by the Weave related PR, there’s already precedent for doing it exactly for this reason.

Node/cluster critical doesn’t help as that’s just a scheduling priority. When k8s evicts based on resource pressure, resource usage weighs more heavily. Not having requests/limits means it ends up being an early c

[2021-03-03 13:59] daenney commented on #10973
On the limits thing, I don't know whether it would matter much in this particular case. But not being able to set requests, and the pods not having a minimum for memory, appears to be problematic.

[2021-03-03 15:25] h3poteto commented on #10719
I have confirmed that this issue has already been resolved in 1.19.1. So I will close.

/close

[2021-03-03 17:48] asikrasool commented on #1599
i got the simillar issues, i didnt set any zone on route53, i used cluster name as asik.k8s.local
[code]
what i did was,
[code]
 vi ~/.kube/config and added ':443' at the end of server name and kubectl get nodes works fine ..

[2021-03-03 21:43] ReillyTevera commented on #10908
So I'm not going to create a PR with my changes (as there's probably a better/cleaner solution which I'll leave up to @liranp ) but I was able to get past this error by commenting out lines 340-348 and 353-355 in `kops/upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go` and compiling a new `release-1.19` binary.

@liranp , I additionally have a few other of what I'm pretty sure are bugs with Spotins

[2021-03-04 03:50] kxesd opened #10974 "Unable to update cni config: no networks found in /etc/cni/net.d/"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest wa

[2021-03-04 09:08] hakman commented on #10974
Please take a look at the troubleshooting guide and see if you can find out more:
https://kops.sigs.k8s.io/operations/troubleshoot/#missing-files-in-optbincni

[2021-03-04 18:38] olemarkus commented on #1449
Can you try to run `kops export kubecfg --admin`?

[2021-03-04 19:06] olemarkus commented on #10973
Agreed. That CNI at least set some requirements is good. that it should be configurable ... not sure. My guess is that we would accept a PR.

[2021-03-04 19:18] mmerrill3 commented on #10786
I saw this too when I did my latest upgrades using kops 1.20.beta 1.  The subnets are duplicated as well.  I'll take a look.

[2021-03-04 20:11] jmcdonagh opened #10977 "Cluster-Wide Default Pod Topology Constraint Will Not Apply to 1.19.7"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.19.0 (git-04d36d7d92c72601efd918877fc180c846129ffb)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Client Version: version.Info{Major:"1", Minor:"20", Gi

[2021-03-04 21:41] #9868 closed

[2021-03-04 21:49] kxesd commented on #10974
Thanks for the tip @hakman.

nodeup was successful on the upgraded node

`/opt/cni/bin` is populated with a bunch of executables (Note: the documentation says `/opt/bin/cni` which did not exist on my node, is that a typo?) however it is missing 3 executables when compared to a healthy node running kubernetes v1.18.15

healthy node
[code]

bad node
[code]

We are using calico as our CNI so this mak

[2021-03-05 01:34] rifelpet commented on #9598
/remove-lifecycle rottena

this is in progress with the kubetest2 efforts

[2021-03-05 04:22] olemarkus commented on #9598
/remove-lifecycle rotten

[2021-03-05 07:11] olemarkus commented on #10977
The scheduler config is not a resource you can apply into the cluster, but a file that is fed to kube-scheduler using the `--config` flag.

Currently, it is not possible to add more than what is defined here: https://pkg.go.dev/k8s.io/kops/pkg/apis/kops#KubeSchedulerConfig

[2021-03-05 08:48] #10539 closed

[2021-03-05 15:43] iamakulov commented on #6284
Looks like this was just implemented in https://github.com/kubernetes/kops/pull/10934.

[2021-03-05 19:26] jmcdonagh commented on #10977
Ok, so I can enable the option in the cluster yaml to load the scheduler config from a configmap, do I just name the file, whatever.yaml inside the ConfigMap? This page https://kops.sigs.k8s.io/cluster_spec/#kubescheduler says the path I need to put it but not much about what format to put it in.

[2021-03-05 20:51] olemarkus commented on #10977
As mentioned you cannot configure more than those properties and that does not include plugin configs.

It will take some development effort to support what you are after.

[2021-03-06 04:18] ReillyTevera commented on #9887
FYI as far as I can tell this has been fixed in etcd-manager by this commit: https://github.com/kopeio/etcd-manager/commit/c781d9c7112469aa198ce27abcad243b52c0d639 (which is present in etcd-manager 3.0.20210228 and should be in future versions of kops).

[2021-03-06 07:11] olemarkus commented on #10250
I think we can consider this one resolved from our side.

/remove-lifecycle stale
/close

[2021-03-06 07:12] #10250 closed

[2021-03-06 16:23] #10020 closed

[2021-03-07 11:01] kesor opened #10989 "Please add cache to `DescribeImages` API call"
https://github.com/kubernetes/kops/blob/9b214b48cf5f3066ffb087c752f76a91123b4aaf/upup/pkg/fi/cloudup/awsup/aws_cloud.go#L1433

[2021-03-07 13:47] ari-becker commented on #9713
/remove-lifecycle rotten

[2021-03-07 14:09] kesor commented on #10989
I "hacked" github.com/ticketmaster/aws-sdk-go-cache into kops with 30 seconds caching for AWS API requests. The code is based on their provided example file https://github.com/ticketmaster/aws-sdk-go-cache/blob/master/example.go

This is the result
[code]

[2021-03-07 16:19] kesor commented on #10989
As suggested by @rifelpet it is possible to replace loops over ELBs & Tags with direct API request for specific resources that have certain tags on them using the AWS ResourceGroupsTaggingApi.

Instead of code that receives a list of all Classic ELBs and all of their Tags and filters in the client which ones have the proper `Name` tag, a request for this can be done directly using:

[code]

Per @r

[2021-03-07 16:47] #9845 closed

[2021-03-08 08:01] olemarkus commented on #9741
/remove-lifecycle stale

Has this one now been resolved?

[2021-03-08 11:48] atze234 opened #10993 "api.internal Not Updated after Master shutdown"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
`Version 1.18.3 (git-11ec695516)
`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
`Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.15", GitComm

[2021-03-08 12:24] olemarkus commented on #8911
Think this one should be solved now. Can you confirm?

[2021-03-08 12:26] olemarkus commented on #10993
When you tear fown the CP nodes and start them up again, it will take a while for the cluster to figure out what nodes exists and reschedule pods. So this should sort itself out after 5 minutes or so.

[2021-03-08 12:27] h3poteto commented on #8911
In kops `Version 1.20.0-beta.1 (git-b27875fcc4)`, it does not say any errors. But kops can not detect any changes when I remove SpotPrice parameter in cluster spec, so kops can't change IG from spot to normal ASG.

[code]

[2021-03-08 12:45] atze234 commented on #10993
No its in this state forever. As you can see above the Ready master is running 167m in this example. Problem is that the dns-controller is in Running State on the old not ready master.
maybe there should be an automatic cleanup of the old master that is not happening here?

[2021-03-08 15:09] #10029 closed

[2021-03-08 16:50] olemarkus commented on #10993
If you scaled your ASGs to 0, I don't see how you can have 12d nodes. Further, you should have 3 fresh nodes as the other CP nodes join the cluster too. I suspect your control plane doesn't correctly recover.

If you upgrade to kops 1.19, can you run `kops get instances`?

[2021-03-08 18:50] timoreimann commented on #10386
/remove-lifecycle stale

[2021-03-08 18:53] dmcnaught commented on #9695
I can't seem to set the options in kops 1.19.1
[code]

[2021-03-09 10:37] atze234 commented on #10993
Ok, 12days before i scaled Master and Nodes ASG to "0". So no time for k8s api to get a node deleted or so.
Then after those 12 days im switching it on again (Master to "1" and Nodes to "2").
Then the Master CP is recovering and new Master transitions to "Ready" state.

The Problem now is, that the k8s api is not cleaning up the old master and nodes in its etcd store *and* that the dns-controller

[2021-03-09 11:32] h3poteto commented on #9845
Do you still need this feature? If it is needed please reopen this issue, and if no one take this issue, I will take this.

[2021-03-09 11:45] olemarkus commented on #10993
It would be interesting to see what the kubelet log says on the other CP nodes.

[2021-03-09 11:47] estahn commented on #10166
/remove-lifecycle stale

[2021-03-09 11:55] olemarkus commented on #2214
As usual, we are happy to review a PR. But at least for me, I have other priorities for the coming releases.

[2021-03-09 12:03] atze234 commented on #10993
There are no other CP nodes? They were terminated 12 days ago. They exist only in the etcd of the ApiServer and are not cleaned up until the api.internal dns change.

[2021-03-09 12:29] mohammadasim opened #10997 "Using servers with different architecture in Mixed nodes instance groups"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
We use Mixed node instance groups in our cluster. These instance groups consist of both on-demand ec2 instances and ec2 spot instances. Recently AWS has released t4g servers that are based on ARM-64 architecture. I wanted to use these servers in our mixed node instance groups that currently have t3a.medium, t3.medium and

[2021-03-09 14:13] olemarkus commented on #10993
The cloud provider is supposed to delete nodes k8s resources that have been terminated in AWS. I think it checks for the terminated state. Not sure why your nodes are not being deleted. But that is a kubernetes issue, not a kops one. There have been issues with this in the past: e.g https://github.com/kubernetes/kubernetes/pull/79436

[2021-03-09 15:16] jmcdonagh opened #11000 "kops rolling update --yes breaks my kubeconfig every time I run it"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.19.0 (git-04d36d7d92c72601efd918877fc180c846129ffb)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Client Version: version.Info{Major:"1", Minor:"20", Gi

[2021-03-09 15:36] jcmartins opened #11001 "roleCustomIamRoles doesn't work"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
kops version 1.19.1
**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Kubernetes 1.19.8

**3. What cloud provider are you using?**
aws

**4. What commands did you run?

[2021-03-09 22:06] ngalantowicz commented on #10412
@finnje can build from master branch and or kops release v1.20.0-beta.1 supports azure features.

[2021-03-10 04:27] cameronattard opened #11008 "kOps doesn't update LaunchTemplate version in AWS AutoScaling Group when it's been previously updated out-of-band"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.19.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.19.8

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest

[2021-03-10 06:28] hakman commented on #11008
Hey @cameronattard. As you can imagine, it is pretty hard to deduce what happens without some more detailed info. Would appreciate if you can provide some simple steps to reproduce the issue.

Other than this, kOps uses its own config as the source of truth and it generates new launch templates from that. Values from previous launch template are not kept as a base.
If you want to update AMIs easie

[2021-03-10 06:34] hakman commented on #11001
Hi @jcmartins. I don't see any reference to `roleCustomIamRoles`. By any chance you were looking for:
https://kops.sigs.k8s.io/iam_roles/#adding-external-policies
or
https://kops.sigs.k8s.io/iam_roles/#adding-additional-policies
?

[2021-03-10 12:15] jcmartins commented on #11001
@hakman yes, I think that maybe it's not a documented feature

Please see:
[](https://github.com/kubernetes/kops/blob/2cc4d162b9daad79cbe5135388ed75861177652f/tests/integration/update_cluster/existing_iam/in-v1alpha2.yaml)

[2021-03-10 12:45] hakman commented on #11001
In this case, please look at the first link. That thing you are mentioning is something very old and for sure it doesn't exist anymore. Probably it's just some forgotten test.

[2021-03-10 13:40] hakman commented on #11001
For reference: https://github.com/kubernetes/kops/pull/11010

[2021-03-10 19:03] sagarkal opened #11012 "kops delete cluster command throws error "unknown file found: kops-version.txt""
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.19.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.19.8

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest wa

[2021-03-10 19:26] hhaslam11 commented on #6377
/reopen

still having this issue in `1.19`

[2021-03-10 20:24] jcmartins commented on #11001
tks!
But what's happen with this feature?
How can I change the kops default roles to use my role name pattern ( BURoleForKopsMaster and BURoleForKopsNode )

[2021-03-10 21:19] cheeseandcereal commented on #6377
/reopen

this is still an issue

[2021-03-10 21:22] cheeseandcereal commented on #6377
/remove-lifecycle rotten

[2021-03-11 03:21] cameronattard commented on #11008
Sorry @hakman, should have included that!

Steps to reproduce:

1. Create new Launch Template version (can be done via console) with some arbitrary change e.g. updating AMI
2. Update AutoScaling Group to refer to the template created in step 1 (can be done via console)
3. Run kops with some arbitrary change that will generate a new Launch Template (e.g. updating AMI, changing container runtime, et

[2021-03-11 06:06] hakman commented on #11008
Thanks @cameronattard. The behavior you noticed is the expected one. As I mentioned before, kOps generates new LTs every time the update cluster runs based on its config and doesn't preserve any manual changes.

To get what you want, you will need to do 3 doing kOps. You can either use templates, the 'set' command, or the replace command.

[2021-03-11 06:10] hakman commented on #11001
This feature never existed. No idea how you got to it.
Roles are a collection of policies, so you can use https://kops.sigs.k8s.io/iam_roles/#adding-external-policies as explained before.

[2021-03-11 13:38] rifelpet commented on #11012
Hi @sagarkal can you confirm that the kops binary used to delete the cluster is in fact version 1.19.1 ? This error should only be happening if you used an older kops version to delete a cluster that was created or updated with kops >= 1.19.0

[2021-03-11 14:44] jcmartins commented on #11001
But my problem is the name of Role that use the policies declare in the
Kops roles are create automatic/hardcode.
Kops create a role **masters.cluster-name.k8s.local** and **nodes.cluster-name.k8s.local**
bu I need use my pattern name **BURoleFor**XXXXXXXX

you can see it in kubernetes.tf.  ( --target=terraform)
resource "aws_iam_instance_profile" "masters-mlcoe-dev-a-k8s-local" {
  **name = "mast

[2021-03-11 18:20] gamer22026 opened #11014 "kubeAPIServer authorizationMode still requires adding Node,RBAC on k8s 1.19.x"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.19.1
**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.19.8
**3. What cloud provider are you using?**
AWS
**4. What commands did you run?  What is the simplest way t

[2021-03-11 23:04] cameronattard commented on #11008
Understood @hakman, but shouldn't kops always update the LT version referred to by the ASG to the latest one (i.e. the one just provisioned by kops)? I am not referring to preserving manual changes, but failing to overwrite them.

[2021-03-12 08:37] #9570 closed

[2021-03-12 10:09] MMeent opened #11021 "Kubecfg overwritten in kops 1.19, without user flags specified"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.19.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.19

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest wa

[2021-03-12 10:10] MMeent commented on #11021
specifically, I'm annoyed that 1.19 still updates the kubecfg, even when the release notes explicitly call out that that doesn't happen anymore by default ("kOps will no longer automatically export the kubernetes config on kops update cluster")

[2021-03-12 10:49] sachincool opened #11023 "[toolbox]: instance selector with arm64 arch, outputs wrong arch image"
kops Version: 1.19.1

cli-command:

`kops toolbox  instance-selector nodes --vcpus 4 --flexible --usage-class spot --cpu-architecture arm64 --dry-run `

output:
[code]

  The AMI  : `099720109477/ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-20210119.1` is x86_64

  Expected:  Output AMI should be of the same Arch

[2021-03-12 11:05] maohsiang opened #11024 "InsecureRegistries present not correct setting in DOCKER_OPTS"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.19.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.19.8

**3. What cloud provider are you using?**
aws

**4. What commands did you run?  What is the simplest wa

[2021-03-12 12:32] hakman commented on #11024
Hi @maohsiang. Sorry to be annoying, but `kop replace, kops create` is an actual way to reproduce the issue. Would you mind adding at least the docker config to the description?

[2021-03-12 13:18] maohsiang commented on #11024
I updated the kops yaml in describe.

[2021-03-12 16:10] #11024 closed

[2021-03-12 17:31] hakman commented on #10745
Done as part of #10937

[2021-03-12 17:31] #10745 closed

[2021-03-12 17:37] guydog28 opened #11033 "[toolbox]: assets bundle for offline mirror"
Currently it is required to do a `kop update cluster` dry run to see what all resources are going to be downloaded when deploying a cluster.  For staging an offline (completely no internet access) cluster with a local mirror, request a toolbox command that will download all of the required kubernetes, kops, cni, etc resources and sha256 files to a local destination for eventual use by Cluster/asse

[2021-03-12 17:38] guydog28 commented on #11033
@justinsb re: office hours 3/12/2021

[2021-03-12 18:04] guydog28 opened #11036 "Kops will not download SHA files from assets/fileRepository mirror location."
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.18.3 (git-11ec695516)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.14", GitCommit

[2021-03-12 18:08] guydog28 commented on #11036
@justinsb ref office hours 3/12/2021.  This one is a major issue for us right now.  If you can let me know which version this security check started in (requiring SHAs to come from the trusted location) I can revert to that version for now which should get me up and running while we wait for a permanent fix.  I must use a version > 1.17.0 however.

[2021-03-12 18:10] guydog28 commented on #11036
Life can further be improved staging these files for offline use as with this toolbox request: https://github.com/kubernetes/kops/issues/11033

[2021-03-13 04:36] guydog28 opened #11038 "container-selinux still has hard-coded internet location, and does not map via assets/fileRepository for isolated environments."
This appears to be the last remaining item that can't be mirrored for offline cluster downloading in the assets phase.

https://github.com/kubernetes/kops/blob/5857e9d2c4eb07fa2d3693d69275d2a7552f2ac1/nodeup/pkg/model/packages.go#L73

[2021-03-13 05:10] hakman commented on #11038
Not quite sure how you get to this in the assets phase.

[2021-03-13 11:03] #8771 closed

[2021-03-14 12:38] failytaler opened #11045 "Cannot upgrade any cluster from 1.18 to 1.19"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.19.1/1.20beta2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.18.16->1.9.x

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What

[2021-03-14 14:42] rifelpet opened #11050 "Improve time to resolve API DNS record of new clusters"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

master

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.18 though the behavior happens on various minor versions

**3. What cloud provider are you using?**

aws

T

[2021-03-14 23:53] prudhvigodithi commented on #10422
Hey @zetaab, I still see in /etc/hosts, deleted clusters information, also during startup in logs I see  OnGossip &KVState also shows deleted cluster information
Using kops v1.16.15

[2021-03-15 06:30] loibucket opened #11053 "Upgraded kubernetes from 1.19 to 1.20 and enabled cert manager at same time. Cert manager missing"
1. What kops version are you running? The command kops version, will display
this information.

1.20 kops 1.20 kubectl

2. What Kubernetes version are you running? kubectl version will print the
version if a cluster is running or provide the Kubernetes version specified as
a kops flag.

1.20

3. What cloud provider are you using?

aws

I used kops upgrade to upgrade from 1.19 to 1.20 .  At the sam

[2021-03-15 08:30] olemarkus commented on #11053
Hi, there is some missing info missing in this bug report. Can you paste the redacted cluster spec `kops get -o yaml`?

[2021-03-15 09:36] bigman3 commented on #8708
@paalkr can you share/guide how the systemd unit should like? I am trying to replicate, with increased timeouts (TimeoutStopSec, TimeoutSec) but hitting 2 minutes when it stops not gracefully

[2021-03-15 14:19] guydog28 commented on #11038
This is for a RHEL 7.9 deployment (I'm required to used that for this deployment). Specifically though, I can stage all assets locally using the assets phase and a local file folder as my fileRepository.  I can then sync that folder to a mirror location accessible in my offline cluster environment.  Then change the fileRepository to use that mirror URL in my offline/no-internet environment. I can

[2021-03-15 14:28] hakman commented on #11038
One request, if you don't mind. Please specify in all tickets:
1. the kOps version you use and a simple cluster spec that can be used to reproduce things
2. command / output / logs that can make it easier to reproduce.

In this case, I am not sure you are using RHEL 7 or CentOS 7, given what I see in code:
https://github.com/kubernetes/kops/blob/de65803ceb0d01826acbbb840f3455dba275be82/nodeup/pkg/

[2021-03-15 16:53] guydog28 commented on #11038
1. kOps version 19.1, simple spec to stage files to a local folder to create an asset mirror:
[code]
2. Using, above file, create cluster records in temporary internet-connected S3 `kops create -f kops-offline.k8s.local.yaml`
3. Stage Assets to `/local/path/to/staged/asset_folder` using `kops update cluster --yes --phase assets -v 4`
4.  Manually move files at `/local/path/to/staged/asset_folder`

[2021-03-15 16:59] guydog28 commented on #11038
The issue is this `http://vault.centos.org/7.6.1810/extras/x86_64/Packages/container-selinux-2.107-1.el7_6.noarch.rpm` is treated like a hardcoded edge case in this code.  Perhaps in the assets phase, it could download this file just in case you are deploying to CentOS or RHEL if it doesn't know this from the specified AMI ID yet at that point.  Then, if this is downloaded to assets, and `fileRepo

[2021-03-15 17:08] hakman commented on #11038
I think I understand the issue. The file is used in RHEL setups because that file is not available in any free repo.
I think though it should be possible to add a condition there and try `fileRepository` when it's set.

[2021-03-15 17:18] guydog28 commented on #11038
Yes, that would work.  So two parts:

1. Assets phase downloads that file to my local `/local/path/to/staged/asset_folder` to create my mirror.
2. This code would try to dowload from `http://resolvable-mirror-url-in-captive-environment/centos/7.6.1810/extras/x86_64/Packages/container-selinux-2.107-1.el7_6.noarch.rpm` if `fileRepository` is set.

[2021-03-15 17:48] guydog28 commented on #11033
This is currently my process for staging assets for an offline mirror, but it requires creating a temp cluster and a cluster spec to download the assets and then delete the cluster.

1. Using kOps version 19.1, create a simple spec to stage files to a local folder to create an asset mirror:
[code]
2. Using, above file, create cluster records in temporary internet-connected S3 `kops create -f kops-

[2021-03-15 17:52] hakman commented on #11038
I think there may be a confusion regarding the assets phase in general. We call assets phase the part where kOps tracks various files it needs later, like kubelet, kubectl, docker, containerd and a few others. At this point, everything is generic, no info on OS type. One could have N different IGs, with different OS on each one.

The packages part is different and has nothing to do with the assets

[2021-03-15 19:04] cjheppell opened #11055 "Register (and deregister) A record value in Route53 when instance group nodes come up (and down)"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

When my master node comes up, it registers its ip address in an A record value in the corresponding route 53 hosted zone.

I'd like the same thing to happen for my instance group nodes.

For example, if I have a cluster with a hosted zone name of `mycluster.example.com` then when a node comes up in my instance group `myi

[2021-03-15 19:09] olemarkus commented on #11055
This is done by dns controller. You can easily use this behavior yourself by setting node labels on the instance group. See https://github.com/kubernetes/kops/tree/master/dns-controller

[2021-03-15 19:16] #11023 closed

[2021-03-15 19:23] loibucket commented on #11053
apiVersion: kops.k8s.io/v1alpha2
kind: Cluster
metadata:
  creationTimestamp: "2021-03-10T20:57:32Z"
  generation: 18
  name: redact.ed
spec:
  additionalSans:
  - redact.ed
  api:
    dns: {}
  authorization:
    rbac: {}
  certManager:
    enabled: true
  channel: stable
  cloudProvider: aws
  configBase: s3://redact.ed
  containerRuntime: docker
  etcdClusters:
  - cpuRequest: 200m
    etcdMemb

[2021-03-15 19:47] olemarkus commented on #11053
Would be easier if you put this in a code block. The indentations look a bit random now.

Do you remember if `kops update cluster` dry run said the addon would be added? Should be visible in the diff output.

Can you also list the annotations in `kops get -o yaml ns kube-system`?

Could you also list a couple of minutes output of `journalctl -u protokube` from one of the master nodes? Between two

[2021-03-15 19:48] guydog28 commented on #11038
hmm, in that case maybe a separate approach may be even better.

what if kOps also looked at four folders in the `fileRepository` URL, `bastions`, `masters`, `nodes`, and `packages`.  Any file here would be downloaded to the instance when it comes up.  For instance, in my `fileRepository` mirror, i may see the following folders:

[code]

inside `packages` I could place `container-selinux.rpm` and

[2021-03-15 19:56] guydog28 commented on #11038
I think the `masters`, `nodes`, `bastions` solution likely could go into another "improvement" ticket.  But the `packages` folder would solve this ticket.

[2021-03-15 19:59] cjheppell commented on #11055
Looks like the relevant code for this is commented out? https://github.com/kubernetes/kops/blob/master/dns-controller/pkg/watchers/node.go#L145-L193

I just tried adding the annotation to an existing node, but didn't see a new dns A record get registered.

Is there some additional config necessary?

[2021-03-15 20:18] olemarkus commented on #11055
This should happen automatically. This is how the api dns entries work.

But ofc it needs to have permissions to add the entries too. It won't have by default if the entry is a different zone than the cluster domain.

[2021-03-15 20:26] cjheppell commented on #11055
That's strange...

My API dns entries are getting set just fine. But adding the annotation does not result in a new record for the node. As far as I understand, I haven't changed any of the hosted zone configuration.

I'm getting these in the dns-controller logs:

[code]

But absolutely no entries in the hosted zone other than the API.

Something isn't quite right here

[2021-03-15 20:41] loibucket commented on #11053
I a yml of the certmanager in the addons folder in my s3 bucket.  I was able to apply that and got cert-manager installed.

I remembered the dry run said the addon would be added.

[code]

[code]

[2021-03-15 20:41] #11053 closed

[2021-03-15 21:00] cjheppell commented on #11055
So it seems that `AliasTarget` is set to `true` for all Nodes (other than the masters?): https://github.com/kubernetes/kops/blob/11ec695516cc64759da9200493e41e8a2bcce8b1/dns-controller/pkg/dns/record.go#L37-L40

And assuming this comment is true, then it seems that alias targets won't ever be actually set in DNS (Route 53). Which would explain why I'm not seeing it.

With that in mind... it seems

[2021-03-15 21:21] olemarkus commented on #11055
You are right. Something is not quite right.

kOps actually set the labels on pods, not the nodes themselves. So you could try that. See e.g the label being set on `kube-apiserver-ip.****`

[2021-03-15 21:25] cjheppell commented on #11055
Ok, some more investigation...

It seems the docs are very unclear on this.

Evidently, I can "abuse" the fact that registering a **service** with the `dns.alpha.kubernetes.io/internal` set to something will cause an entry to be created in my hosted zone with the ip address of _all_ internal nodes. That means I can register a single "dummy service" of type NodePort with the annotation set to get m

[2021-03-15 21:28] cjheppell commented on #11055
Might I suggest correcting the docs so this offending line is removed, as it's not true?: https://github.com/kubernetes/kops/blob/11ec695516cc64759da9200493e41e8a2bcce8b1/dns-controller/README.md#L15-L20

[2021-03-15 21:34] olemarkus commented on #11055
Long-term goal is to replace dns-controller with external-dns, but meanwhile I'll see if I can dig into this.

Again I'd try labelling pods and see what happens.

[2021-03-16 03:16] hakman commented on #11038
You already have:
1. https://kops.sigs.k8s.io/instance_groups/#additionaluserdata
2. https://kops.sigs.k8s.io/cluster_spec/#hooks

I would suggest using one of them to download the package. What do you think?

[2021-03-16 05:37] failytaler commented on #11045
This issue was relevant. https://github.com/kubernetes/kops/issues/11014

[2021-03-16 05:37] #11045 closed

[2021-03-16 06:16] failytaler commented on #10974
https://github.com/kubernetes/kops/issues/11014