[2016-10-13 06:08] justinsb commented on #639
The master is tainted, so normal pods should not schedule on it.  Daemonsets don't honor taints though, but we also label it, so that you can target a daemonset only to run on the master.  We don't have a label on the nodes yet, so you could target a daemonset to run only on the nodes, but we probably should.

This is the "new way" of doing things, but we're ahead of - well - everyone here.  And p

[2016-10-13 06:42] kris-nova opened #641 "Kops documentation improvements"
It looks like kops has evolved quite a bit since it's creation..

Wondering what the powers that be think about giving the README a once over in order to simplify things?

I think we can gain quite a bit from the community in demonstrating a simple and elegant explanation of kops.. Less is more in this case right?

I think we can defer a lot of the current README into specialized docs in the `/doc

[2016-10-13 06:43] kris-nova commented on #641
Also I think we can do better than `kops deployment` for a repo one liner.. yeah?

[2016-10-13 08:04] shamil commented on #639
2 questions:
1. Are taints supported in k8s 1.3.x? or we need to upgrade to 1.4
2. The `NodePort` issue is deal-breaker no? Usually masters using smaller instances, which may affect networking as well.

[2016-10-13 17:00] praoreo opened #642 "kube-scheduler and kube-controllermanager not coming up in 1.4.1"
Hi,

I am trying to upgrade my lab from kubernetes 1.3.6 to 1.4.1. After copying the latest kube-scheduler and kube-controllermanager binary I am not able to start the process as it says "unable to build config from flags: invalid configuration: no configuration has been provided"

[code]

I have a valid kubeconfig file at "/var/lib/kube-scheduler/kubeconfig/config" and "/var/lib/kube-controller-m

[2016-10-13 17:11] chrislovecnm commented on #641
We need to get @justinsb as an admin, because neither of us can edit that

[2016-10-13 19:18] praoreo commented on #642
@justinsb
Is this issue same as https://github.com/kubernetes/kops/issues/463
I am facing same issue while starting kube-controller-manager as well.

[2016-10-13 20:20] chrislovecnm opened #643 "Enable Travis CI builds"
This is moving https://github.com/kubernetes/kubernetes/issues/34737 over to the kops repo.

@spxtr we are not able to enable travisci builds on this repo. We do not see the admin tab in GitHub, and cannot configure webhooks for the project. Can someone assist or grant us the Admin Permissions?  Who is your backup on this repo as an admin?  Thanks a ton!

Thanks @ixdy for your help.

[2016-10-13 20:20] spxtr commented on #643
I added it.

[2016-10-13 20:21] chrislovecnm commented on #643
@spxtr ~ much thanks Joe.  Who is your backup for all things admin?

[2016-10-13 20:22] spxtr commented on #643
https://github.com/kubernetes/kops/pull/638 looks like it's working. Anyone who is an owner of the kubernetes org can do this, but you should get a couple admins for this repo specifically.

[2016-10-13 20:25] ixdy commented on #643
To elaborate on what @spxtr said:
* the list of owners in the kubernetes org can be found [here].(https://github.com/orgs/kubernetes/people?utf8=%E2%9C%93&query=%20role%3Aowner)
* several of the repos have [-admin teams](https://github.com/orgs/kubernetes/teams?utf8=%E2%9C%93&query=admin) which give admin access to those repos. I'm not sure what the policy is for creating these teams.

[2016-10-13 20:27] chrislovecnm commented on #643
Let me close this out and open another issue for admin stuff

[2016-10-13 20:28] chrislovecnm commented on #643
closing thanks @spxtr

[2016-10-13 20:28] #643 closed

[2016-10-13 20:33] chrislovecnm opened #644 "Add another user or two as admins"
Add a new group to this repo and determine who should have admin perms.  This would be modeling the following type of group structure:

https://github.com/orgs/kubernetes/teams?utf8=%E2%9C%93&query=admin

Projects like helm also have admin users that are not in kubernetes owners. @spxtr you are the only current admin.  Thoughts on the best approach?

Thanks

[2016-10-14 03:02] Grillz commented on #633
This would be very beneficial to my teams development. Although I'm not sure I'm crazy about using both s3 and etcd as mentioned in method two. I see how that could logically be the simplest path, but I feel like the extra pieces complicates things. Perhaps there should be two modes: a way of bootstrapping it with etcd, or fallback to a default of just using s3.

[2016-10-14 12:13] jkemp101 commented on #428
@ajohnstone Here it is https://github.com/closeio/devops/tree/master/scripts/k8s.  Let me know if you have any questions.

[2016-10-14 13:30] bassco opened #646 "k8s-1.4 AWS AMI image issues with missing linux headers"
We recently upgraded our cluster from v1.3.5 to v.1.4.0 which changed the default AMI version from 8s-1.3-debian-jessie-amd64-hvm-ebs-2016-06-18 - ami-aa029cd9, to use k8s-1.4-debian-jessie-amd64-hvm-ebs-2016-09-30 - ami-d35a1ca0

This caused the following fallout:

The logging from our containers to https://www.papertrailapp.com/ stopped working.

Work around: Add "--poll" cli option to the remot

[2016-10-14 17:25] tnine opened #648 "type:LoadBalancer with firewall rules does not open node ports on minions. Service functions from within pods."
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d961f4675cd97a46b", GitTreeState:"clean", BuildDate:"2016-09-26T18:16:57Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d96

[2016-10-14 19:34] tnine commented on #648
Closing.  Not an issue.

[2016-10-14 20:26] offlinehacker commented on #618
Thanks!

[2016-10-14 20:53] chrislovecnm commented on #646
@bassco thanks for letting us know.  The new ami is with the LST kernel, which resolved a docker issue, and we probably need to include the kernel headers as well.

How is `inotify` acting differently?  Is this a K8s issue or a ami issue?

[2016-10-14 20:53] chrislovecnm commented on #648
I will close it for yah.

[2016-10-14 20:53] #648 closed

[2016-10-14 20:55] chrislovecnm commented on #641
Documentation improvements needed:

- Developer Guide
- CHANGES.md is out of date
- CONTRIBUTING
- README needs some TLC
- code of conduct?
- General refactor of docs directory

[2016-10-14 21:54] bassco commented on #646
@chrislovecnm I think the inotify is a by-product of the fs driver changing from aufs to overlayfs or devicemapper. Aufs is no longer supported in the 4.4.23 kernel. The only other notify difference between the older 3.16 and 4.4.23-k8s kernel is that # CONFIG_FANOTIFY_ACCESS_PERMISSIONS is not set in the new kernel.

I still have to research what this kernel option is for as it seems to be very s

[2016-10-14 22:30] chrislovecnm commented on #646
@bassco thanks! Please cc' me on the issue, as we need to update our kernel on our ami as well.

[2016-10-14 22:34] bassco commented on #646
@chrislovecnm the CONFIG_FANOTIFY_ACCESS_PERMISSIONS is not set on the older AMI 1.3. I was on the bastion and not on the 1.3 AMI when I "found" the difference. Apologies for that.

[2016-10-14 22:38] chrislovecnm commented on #633
And the question of the hour. Do we want to use k8s etcd or our own datastore?

@Grillz we have the basic Causality Delima where we would not have a K8s server to host a kops microservice, and do not have an etcd data source when we are installing for the very first time.  After we have the first cluster, then we have a place to host a microservice.

[2016-10-14 22:50] chrislovecnm commented on #644
@thockin @bgrant0607 @erictune what is the process for stuff like this?  At this point, the maintainers of this project have to go to @spxtr or another googler to do something as simple as changing the title of the project.  Helm has an admin team what is the process to create a team that can properly maintain this repo.

[2016-10-15 00:26] bgrant0607 commented on #644
@chrislovecnm We need to develop a policy/process.

Right now, it's up to each repo. The main kubernetes repo is frozen until we develop a fair policy, and a mechanism that scales.

@kubernetes/kops-maintainers has 3 members, including @justinsb and @mikedanese. I don't know whether it's intentional that they don't have admin privileges. spxtr is actually an owner of the org, as is mikedanese.

Fo

[2016-10-15 01:33] chrislovecnm commented on #644
@bgrant0607 completely understand. Can someone who has the power create kop-admin? My thought is to have at least @justinsb and @mikedanese as admins.

[2016-10-15 02:09] bgrant0607 commented on #644
Done

[2016-10-15 02:23] chrislovecnm commented on #605
@tazjin any ideas on this one?

[2016-10-15 03:05] kris-nova commented on #633
Hey @Grillz,

@chrislovecnm is right about the needing a cluster to deploy a microservice (that will then deploy more microservices and clusters...)

Also I think it's important to note that with the two proposed modes (**traditional** and **kubernetes**) each would have it's own data store. Neither of them would ever be used at the same time to store kops data.

As far the question of the hour is

[2016-10-15 03:15] kris-nova opened #651 "More than one vendor directory - some with more than one copy of the same dependency"
It looks like we have a **vendor** and **_vendor** directory for the project. Is this intentional? Or should we consolidate these?

Also I noticed there are a few duplicated dependencies in the project, is this also intentional? Can we clean this up?

[**_vendor** with git submodules - spf13](https://github.com/kubernetes/kops/tree/master/vendor/github.com/spf13)

[**vendor** with included depende

[2016-10-15 03:28] kris-nova commented on #605
Just curious - did we `see aws.Config.CredentialsChainVerboseErrors` yet?

[2016-10-15 03:57] kris-nova commented on #444
Where are we with this? @chrislovecnm did you get the headers script into the repo?

[2016-10-15 04:05] chrislovecnm opened #652 "Update README and project name"
Add Travis and [![Go Report Card](https://goreportcard.com/badge/k8s.io/kops)](https://goreportcard.com/report/k8s.io/kops) tags.

What should the project title be?

We need to write a omg we are seriously awesome paragraph as well.

[2016-10-15 04:06] chrislovecnm commented on #652
Also add the info that @kris-nova did about slack

[2016-10-15 04:07] chrislovecnm commented on #651
What do you recommend?

[2016-10-15 04:08] chrislovecnm commented on #646
No worries. Are we just missing the headers?

[2016-10-15 04:09] chrislovecnm commented on #581
Following up with u

[2016-10-15 04:10] chrislovecnm commented on #554
You find a resolution?

[2016-10-15 04:14] chrislovecnm commented on #489
Upgrades are on my list. Will ping you if I need more details.

[2016-10-15 04:16] kris-nova commented on #490
In the name of getting this feature through, and keeping it flexible I think we should move forward with node/master flags for term protection. @chrislovecnm can we get a priority on this - feel free to assign it to me and I can start banging it out.

[2016-10-15 04:22] kris-nova commented on #652
**Title:** A tool used to deploy, manage, and support kubernetes clusters.

[2016-10-15 04:25] kris-nova commented on #651
Send out a PR that :

- consolidates **all** dependencies into `vendor`
- removes `_vendor` directory
- repoints all imports to the new `vendor` directory

Obviously we want to validate tests with this new release

[2016-10-15 04:52] chrislovecnm commented on #651
Do it.

[2016-10-15 04:53] kris-nova commented on #651
Labels and assign to me please :)

[2016-10-15 09:46] tazjin commented on #605
@chrislovecnm This particular cases was solved by fiddling with the IAM permissions (I override some of them in the TF output of `kops`).

The problem seems to mostly be that there were no proper error messages for IAM issues. Justin's recent change probably fixed that but I haven't had time to verify.

[2016-10-15 15:14] chrislovecnm commented on #651
Done ;)

[2016-10-15 15:20] chrislovecnm commented on #444
Yah that PR is in, but needs testing.

[2016-10-15 15:40] chrislovecnm commented on #428
@kris-nova this is the issue that I would like you to work on when you are wanting to OSS.  What is the next step?  Break apart @jkemp101's python into steps that `kops` needs?  I think these are a set of PRs.

1. experimental support for all private nodes w/o HA
2. support for all private node w/ HA.
3. experimental support for private and public nodes, with private masters w/o HA
4. support for

[2016-10-15 16:08] justinsb commented on #651
I'll add a document for this.  It's deliberate, and it's subtle.

[2016-10-15 17:31] justinsb commented on #642
@praoreo this doesn't like you installed using kops?   If so I would suggest opening an issue in https://github.com/kubernetes/kubernetes

Going to close, but if this is kops, please reopen

[2016-10-15 17:31] #642 closed

[2016-10-15 17:33] justinsb commented on #651
Added #656, going to try to assign to you kris-nova, but having a little trouble doing so (github permissions).

[2016-10-15 17:38] chrislovecnm commented on #644
@bgrant0607 well now we are having issues assigning people tasks. Not sure if this is related, but reopening this.

[2016-10-15 17:39] chrislovecnm commented on #644
@justinsb can u see the admin tab on the project?

[2016-10-15 17:40] chrislovecnm opened #658 "Unable to assign tasks"
I am unable to assign a task to @kris-nova for instance. Does she need to be a k8s member?

cc: @bgrant0607 @thockin

[2016-10-15 17:41] chrislovecnm commented on #658
Sorry to bug u guys again on this :(

[2016-10-15 17:41] chrislovecnm commented on #658
cc @justinsb

[2016-10-15 17:42] chrislovecnm commented on #651
Openned an issue about not being able to assign tasks to @kris-nova

[2016-10-15 17:45] chrislovecnm opened #659 "Go deps tooling"
Per https://github.com/kubernetes/kops/pull/656 we are doing deps sorta by hand.

Asses using either glide or godeps for this project.

[2016-10-15 17:46] chrislovecnm commented on #659
@kris-nova once cstone comes up with a recommendation we should demo it for @justinsb

[2016-10-15 17:52] justinsb commented on #659
Look forward to seeing that ;-)

[2016-10-15 17:58] kris-nova commented on #428
Assign to me

[2016-10-15 18:14] kris-nova commented on #658
Referenced here https://github.com/kubernetes/kops/pull/656 as well.. Please please please <3

[2016-10-15 18:16] kris-nova commented on #659
Okay great - will put together a good side-by-side - yay dependency management in Go

[2016-10-15 19:54] bgrant0607 commented on #658
@chrislovecnm

(a) Please read github help, ask on slack, and raise these kinds of issues on kubernetes-wg-contribex.

(b) Yes, one needs to be a member of the org.

@kris-nova What are your contributions so far?

[2016-10-15 21:27] nckturner opened #661 "Single Zone HA Master"
We are discussing setting up a cluster with an HA master in one zone for a development environment.  It seems that to create an HA master cluster from the command line, you must specify multiple zones.  This will incur a (slight) [cost increase](https://forums.aws.amazon.com/message.jspa?messageID=326076), so I just wanted to float the idea that in some circumstances it might be desirable to have

[2016-10-15 23:44] kris-nova commented on #658
@bgrant0607 -

Just getting started with k8s - but I am helping to [organize sig-aws](https://github.com/kubernetes/community/tree/master/sig-aws), also I have been helping out with [PRs/issues for kops](https://github.com/kubernetes/kops/issues?utf8=%E2%9C%93&q=kris-nova).

[2016-10-16 00:51] chrislovecnm commented on #659
@JuJu227 I know that you will probably be looking at glide or godeps for us internally.  Would be good to share what we figure out, if we can improve this project.

[2016-10-16 00:57] chrislovecnm commented on #658
@bgrant0607 again it was Github wigging out, the timing coincided with the group change, so I thought that something may have changed.  Again, always appreciated!  Next time I will bug peeps on slack first.

[2016-10-16 00:57] #658 closed

[2016-10-16 00:58] chrislovecnm commented on #661
@nckturner if you are concerned about cost then why run HA in dev?  HA is not HA if it is not in multiple AZ ... 😀 Are you doing working on K8s itself?

[2016-10-16 02:16] chrislovecnm opened #663 "Set roadmap for 1.5 and 1.6 releases"
Starting with this issue, but we need to start working on a roadmap for 1.5 and 1.6 releases.  Please comment on your current needs, and we will get it into a PR for a roadmap.  We will host a meetup to discuss and prioritize.

Here is the list for our first meeting:
1. ~~Private networking https://github.com/kubernetes/kops/issues/428~~ complete
2. Improve upgrades https://github.com/kubernetes/k

[2016-10-16 02:18] chrislovecnm commented on #644
We are good

[2016-10-16 02:18] #644 closed

[2016-10-16 03:38] kris-nova opened #664 "Kops builds are failing - maybe missing/invalid creds?"
The kops build has been failing for some time now. Can we look into what is going on and possibly get a solution out?

Example failure :
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kops-build/133

@zmerlynn maybe you can shed some light here?

[2016-10-16 03:41] kris-nova commented on #661
@chrislovecnm is right - From a true highly available standpoint a user typically wants the components of the cluster in different availability zones (AZ). That way if one AZ fails - we still have others to fail over to.

Also he brings up another good question - which is why are we running HA in a dev environment? Is this by design? There might be some cost we could shave there by only run dev wi

[2016-10-16 03:54] nckturner commented on #661
Yeah I'm not concerned about it actually being HA, I am more concerned with it mirroring production.  I went with masters in different AZ's because the cost is only $0.01 per GB, and given we won't have much data transfer it will be small.  Closing Issue.

[2016-10-16 03:54] #661 closed

[2016-10-16 09:41] luxas commented on #538
This should be a top priority IMO, we might have removed the legacy networking as well in v1.5

[2016-10-16 18:46] luxas commented on #538
Oops, seems like you've made the changes required, maybe just close this issue?

[2016-10-16 22:19] mrxinu commented on #633
This would be an excellent addition to the current functionality. The toughest sell for this tech, at least with my customers, is the maintenance overhead so being able to use an API in alongside the existing CLI/S3 option would really smooth things out. Kudos to @kris-nova for the suggestion and everyone else for chiming in! I'm excited to see how this pans out! 👍

[2016-10-16 22:36] mrichmon commented on #633
What is the purpose of the simple k8s cluster? Would the proposed scenario be met with:

1. User launches stand-alone HTTP server exposing a kops API. (Using S3 for confit store)
2. User calls HTTP API to launch cluster.
3. Optional addon runs HTTP API server in a pod.

Ideally, the `kops` command could evolve to being a thin client that calls the API server.  An optional "--server=bootstrap" flag

[2016-10-17 02:12] chrislovecnm commented on #247
This PR will close this issue https://github.com/kubernetes/kops/pull/621

[2016-10-17 02:17] chrislovecnm commented on #538
Closing.

[2016-10-17 02:17] #538 closed

[2016-10-17 14:28] jbye opened #665 "Connecting timeout while retrieving nodeup.sha1 (via S3 bucket)"
I have been trying to configure my master for some time no with no success. Logging in to the master reveals that there's a curl process stuck on resolving retrieving nodeup.sha1.

`curl -f --ipv4 -Lo nodeup.sha1 --connect-timeout 20 --retry 6 --retry-delay 10 https://kubeupv2.s3.amazonaws.com/kops/1.4.1/linux/amd64/nodeup.sha1`

`
Resolving kubeupv2.s3.amazonaws.com (kubeupv2.s3.amazonaws.com)...

[2016-10-17 15:00] jbye commented on #665
It is clear that instances within the kubernetes VPC created by Kops are not able to communicate over the internet when the master is configured without a public IP.

Correct me if I am wrong, but with no public IP on the master, and with Kops assigning an Internet Gateway to the subnet, then there's no wonder the master cannot go "online"?

Is the master required to have a public IP in such a con

[2016-10-17 15:05] jbye commented on #665
Seems there's no support for the kind of setup I was trying to achieve (private subnet); https://github.com/kubernetes/kops/issues/428

[2016-10-17 15:05] #665 closed

[2016-10-17 15:24] bassco commented on #646
@chrislovecnm Yes, just the headers. https://github.com/kopeio/kubernetes-kernel/pull/2 and https://github.com/kubernetes/kube-deploy/pull/248 will resolve the missing kernel headers.

[2016-10-17 16:57] kris-nova commented on #652
@chrislovecnm - The title has been updated, can we close this and defer the remaining work here to https://github.com/kubernetes/kops/issues/641 ?

[2016-10-17 17:37] kris-nova commented on #633
@mrichmon

My thoughts on the preliminary k8s cluster :

1. Because we still would offer kops from the command line, deploying a cluster will be baked into kops already. It makes sense to just run kops in a pod on a cluster it already is creating.
2. As kops (and the kops HTTP API) would evolve we could start to see a need for other pods (IE: etcd to store state) building the service into a k8s cl

[2016-10-17 18:07] zmerlynn commented on #664
Well, crap. Sorry for not noticing it, that build isn't emailing me. I'll fix that part, too.

[2016-10-17 18:23] chrislovecnm commented on #664
@zmerlynn thanks amigo!

[2016-10-17 19:12] mrichmon opened #666 "Deleting a cluster should delete the kubectl context for the cluster"
I have multiple kops managed clusters. When I delete a cluster using "kops delete cluster", it should clean up kubectl by removing the kubectl context for the deleted cluster.

[2016-10-17 19:59] chrislovecnm commented on #666
@mrichmon I am really trying not to make a comment about the issue number.  I will add this to our roadmap issue

[2016-10-17 20:00] chrislovecnm commented on #663
Pretty easy request https://github.com/kubernetes/kops/issues

[2016-10-17 20:15] mrichmon commented on #666
@chrislovecnm Heh. This issue number was a missed opportunity.

[2016-10-17 20:17] zmerlynn commented on #664
I "fixed" this by adding `661044217466-compute@developer.gserviceaccount.com:W` to the gs://kops-ci bucket. I think there's a real issue here, though: That service account should now be deletable from `gs://kubernetes-release-dev` as well, but, if I'm looking at all the permissions groups correctly, it looks like any attempt to do that would suffer a similar fate to this. The `kops-build` job very

[2016-10-17 20:24] zmerlynn commented on #664
For reference, here are the last two builds. The only difference between these is that, behind the scenes, I did:
[code]

Success: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kops-build/135
Fail: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kops-build/134

[2016-10-17 20:45] ixdy commented on #664
@spxtr

[2016-10-17 21:02] zmerlynn commented on #664
FWIW, this entirely could be a difference in `kops-build` vs `kubernetes-build`, but I've been looking over each and I don't see what that would be (except for minor differences in `workspace-cleanup`).

[2016-10-17 21:16] austinmoore- opened #668 "Cannot create a Persistent Volume Claim in Centos 7 (unable to find root CA certificates)"
With Centos 7, I am unable to create a Persistent Volume Claim because kube-controller-manager (I think) cannot find system roots.

[code]

On Centos 7, the root CA certificates are installed in the `/etc/pki/tls/certs` directory. `/etc/ssl/certs` is symlinked to this directory. Inside that directory there is a `ca-bundle.crt` and a `ca-bundle.trust.crt`.

If I `exec` into the kube-controller-mana

[2016-10-17 21:34] zmerlynn commented on #664
Yeah, I logged auth info in #667 and the service account isn't active at all:
[code]

[2016-10-17 21:51] zmerlynn commented on #664
I think I know what's going on:

[code]

The `CLOUDSDK_CONFIG` export here is useless, since it immediately swaps shells. Put up #669 to confirm.

[2016-10-17 21:58] zmerlynn commented on #664
Yeah, confirmed:
[code]

[2016-10-17 22:06] chrislovecnm opened #670 "Log message about write config incorrect"
I have

[code]

and kops logged

[code]

It wrote the config out to `~/.kube/config` but we need log that we wrote it to that.

[2016-10-17 22:27] erutherford commented on #428
Allowing for additional routes or existing network infrastructure would be great.  We're using VPC Peering for environment interconnectivity.

[2016-10-17 22:54] #664 closed

[2016-10-17 23:56] justinsb opened #672 "Odd warning from kubeconfig"
`W1017 15:54:21.505025    1019 update_cluster.go:157] error reading kubecfg: error getting config from kubectl: cannot parse current config from kubectl: invalid character 'U' looking for beginning of value
`

Perhaps when kubeconfig file is empty?

[2016-10-17 23:58] justinsb opened #673 "`kops delete cluster` should ignore stopped instances"
When instances are terminated, we still list them.  That is confusing, because it could be from a prior run.

[2016-10-18 00:42] justinsb opened #674 "Help text on `dns-zone` is wrong"
` DNS hosted zone to use (defaults to last two components of cluster name)`

That isn't right any more... we now do the longest suffix.

[2016-10-18 02:27] kris-nova commented on #672
Whenever I see 'U' I immediately think it's some pythonic error... does kubectl do any Python things?

[2016-10-18 03:19] #674 closed

[2016-10-18 04:03] justinsb commented on #668
It's definitely a kops issue... it's to do with the paths for the CA certificates an mounting them.  I actually thought this was fixed - I'll track down the change!

[2016-10-18 04:08] justinsb commented on #646
A new image is available @bassco: `kope.io/k8s-1.4-debian-jessie-amd64-hvm-ebs-2016-10-18`.  It has 4.4.25, with headers installed using your metapackage (thanks).

It isn't yet tagged as the stable image, but the only thing really stopping me from doing so is getting a "this works with sysdig" from you :-)  (you should be able to try it by editing your instance groups with `kops edit ig`, then `k

[2016-10-18 04:23] kris-nova commented on #670
The error methinks :

https://github.com/kubernetes/kops/blob/d3f69496e410630c219fa8ea35032e5a22eb6991/upup/pkg/kutil/kubecfg_builder.go#L187

Probably just need to be a bit smarter about the message.. Mind if I take this one?

[2016-10-18 04:42] kris-nova opened #680 "Kops planning"
Just a simple feature request.. for the devs..

Can we start to formalize a kops planning **something**?

Be it a weekly call, or a time we agree to be in slack together, really whatever, etc..

Just a venue with some structure that allows us to address outstanding issues/blockers..

Thoughts?

[2016-10-18 04:43] kris-nova commented on #680
Example agenda item : https://github.com/kubernetes/kops/issues/640

Just general house cleaning / planning / agenda for all the kops things

[2016-10-18 05:30] #673 closed

[2016-10-18 05:42] chrislovecnm commented on #670
Why u askin? Assign it and code ;)

[2016-10-18 07:07] rcruzper commented on #493
@chrislovecnm I tried to add elasticsearch and kibana as services instead of addons but it was not possible, so I added them as addons to the master.

It would be great to add elasticsearch and kibana as an option when a cluster is created instead of doing it manually, @dmfenton idea is also a great feature.

[2016-10-18 11:32] jkemp101 commented on #663
+1 Backups/recovery and just general disaster recovery

I would also like to see #312 added to the list to include one/both of the authorizations modes.

[2016-10-18 13:09] austinmoore- commented on #668
Thanks!

[2016-10-18 14:26] bassco commented on #646
@justinsb the new ami-aa1b54d9 AWS AMI is working great, in that our sysdig-agent DS is running without a glitch.

I am unable to verify the papertrailapp.com inotify issue, as that service only runs in prod.

[2016-10-18 14:31] chrislovecnm commented on #652
Be good to update the readme as well ;)

[2016-10-18 16:08] abkaplan07 commented on #69
Can verify - error message appeared when running kops import on our 1.2 Kubernetes cluster. Very clear and easy to resolve via AWS console.

[2016-10-18 16:40] chrislovecnm opened #684 "Add unit tests for pull 660"
https://github.com/kubernetes/kops/pull/660 still needs to unit test TLC.

We should at least have a unit test that an imported cluster name doesn’t fail validation

And maybe that the route table name matches, though that one is just another reason I want to move the models into code

[2016-10-18 17:42] justinsb commented on #672
With an empty kubeconfig, I got this:

[code]

Still no `U` there, but definitely not JSON.

[2016-10-18 17:42] justinsb commented on #672
Does seem very likely to be the use of "CombinedOutput" on exec

[2016-10-18 18:43] justinsb opened #685 "Problem with custom docker images"
From slack...

I tracked something down on my local setup. `kube-apisever` isn't even coming up on the master. It looks like the `docker load` isn't actually firing, because I'm seeing e.g.
[code]

... but a corresponding `sudo docker images` showed it wasn't loaded. Kubelet confirms that it's failing to pull that tag (which doesn't really exist outside the sideload).

[2016-10-18 18:43] justinsb commented on #685
Theory: we are loading the image before we switch docker to overlay

[2016-10-18 18:43] justinsb commented on #685
cf #686

[2016-10-18 18:43] justinsb opened #686 "Should docker load image task depend on docker"
From slack...

There's also this trail in `/var/log/cloud-init-output.log`, which looks innocuous:
[code]

... however, we might want to make `LoadImageTask` dependent on `docker-engine`? I can't tell exactly what's going on here, or why we didn't load (dropped error? checking code in a sec), but that's what I'm seeing.

[2016-10-18 20:40] adambkaplan opened #687 "Toolbox convert-imported doesn't support --dns-zone flag"
Our primary domain for development servers has both a public and private hosted zone. When trying to convert an imported cluster inside said domain, it gave the following errors:

[code]

[2016-10-18 21:52] chrislovecnm commented on #493
At this point we only install kube-dns as a base package and have channel support coming in soon. If you could add some requirements to the roadmap issue we can look at possible solutions. I want to keep kops focused on cluster lifecycle management though, for instance we are not including CNI provider daemonset installs by default, but are configuring k8s to run in cni mode.

[2016-10-18 21:53] chrislovecnm commented on #493
https://github.com/kubernetes/kops/issues/663 Is the roadmap issue

[2016-10-18 22:09] zmerlynn opened #689 "Debt: Unit tests in nodeup/nodetasks"
c.f. https://github.com/kubernetes/kops/pull/688#issuecomment-254653914

[2016-10-18 22:19] #685 closed

[2016-10-18 22:26] chrislovecnm commented on #686
Should be fixed in master

[2016-10-18 22:26] #686 closed

[2016-10-18 23:06] chrislovecnm commented on #663
@zmerlynn any ideas?

[2016-10-18 23:07] chrislovecnm commented on #663
@jkemp101 we already have an engineer working through the steps, and it is his desire to drop that in.

[2016-10-18 23:21] chrislovecnm commented on #663
@jkemp101 https://github.com/kubernetes/kops/issues/312 is important to us as well as we are looking at multi-homing :rimshot

[2016-10-18 23:22] chrislovecnm commented on #663
cc: @JuJu227 @faraazkhan

[2016-10-18 23:23] zmerlynn commented on #663
We'd like to see explicit AWS support by Kubernetes in 1.5. In order to do that, there's a few more pieces of developer efficiency that need to be done:
* PR builder for the `kops` repo
* PR builder on the `kubernetes` repo
* Submit queue blocking build

[2016-10-19 03:48] #684 closed

[2016-10-19 04:09] chrislovecnm commented on #680
@kris-nova reopening this :) We need to get this going.

[2016-10-19 04:30] chrislovecnm opened #699 "Consider using k8s API instead of kubectl"
Wondering if using the new API instead of kubectl has value. We would drop the dependency and make it easier to run out of a container.

[2016-10-19 05:39] chrislovecnm opened #700 "Remove configure cbr0 options"
Keep track of this impacts kops https://github.com/kubernetes/kubernetes/pull/34906

[2016-10-19 05:47] chrislovecnm commented on #700
This may also remove classic networking mode in k8s.

[2016-10-19 11:58] kris-nova commented on #666
@chrislovecnm - Are we tracking the roadmap anywhere?

[2016-10-19 12:20] kris-nova commented on #680
I figured we would address it on our first call - but happy to see it here too!

[2016-10-19 12:38] kris-nova opened #702 "Misleading cluster edit suggestion"
After creating a new cluster

[code]

Now trying to run the suggested command

[code]

Kops yells about a missing RegistryPath

[2016-10-19 12:40] kris-nova commented on #702
Workaround :

Add the `--state` flag

```kops edit cluster kris-private-networking.us-west-2.datapipe.io --state s3://kris-private-networking```

[2016-10-19 17:10] chrislovecnm commented on #680
Our first call is still not set ... we need to set that up for next week some time.

[2016-10-19 17:12] kris-nova commented on #680
Who all needs to be on the call? I can handle organizing it.

[2016-10-19 17:18] chrislovecnm commented on #680
Open call.  @justinsb is required.  Like to get as many of the people that are active in issues on the call.

[2016-10-19 17:19] kris-nova commented on #680
I will set up a time for next week that works for at least the three of us, and announce the time to everyone else. I will mention everyone I find in the issues.

Sound good?

[2016-10-19 17:29] chrislovecnm commented on #680
Rest of our team maybe as well

[2016-10-19 17:38] zmerlynn commented on #700
I believe this ruined the `updown` test, and if it a PR builder (which is my goal when the tag leaks disappear),

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws-updown/2851 manages to create a cluster, https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws-updown/2852 doesn't.

[2016-10-19 20:30] #700 closed

[2016-10-19 20:38] kris-nova commented on #680
The planning meeting is next [Thursday the 27th at 11am PDT](https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=OGJnZHNkc25iNmwyMHBuZzlqYXZlZzZhbjQgbml2ZW5seS5jb21fanMxMmF0Yms1dTlkNXBibnZtdWMzcGt2cGtAZw&tmsrc=nivenly.com_js12atbk5u9d5pbnvmuc3pkvpk%40group.calendar.google.com)

We will be meeting on [zoom](https://zoom.us/my/k8ssigaws).

Starting to tag people now, feel free to add an

[2016-10-20 05:20] justinsb commented on #702
Ah, interesting point... I think if the user specified the `--state` flag, we should probably plumb that through.  We should also encourage them to `export KOPS_STATE_STORE=<registry>` as well :-)

As to whether you want to detect someone using the wrong editor and encourage them to set a better one in their bash profile ... I'll leave that up to you ;-)

[2016-10-20 05:21] justinsb opened #704 "kops fails to parse CIDR `10.0.0.0/0`"
In the `adminAccess` list of settings - it treats it as 0.0.0.0/0.  That arguably isn't incorrect though...

[2016-10-20 05:22] justinsb commented on #704
But it does fail to make the comparison with the existing AWS security group rules, which is inconsistent.

[2016-10-20 05:49] justinsb commented on #689
I did create a few... I think we can close this, but more would of course be welcome!

[2016-10-20 05:49] #689 closed

[2016-10-20 05:52] #478 closed

[2016-10-20 05:55] justinsb commented on #605
The "Deprecated" thing is an annoying message ... it actually just means that we haven't set CredentialsChainVerboseErrors.  If we still see this, we need to set it...

[2016-10-20 05:56] justinsb commented on #605
(and I'm pretty sure we _don't_ set it for CredentialsChainVerboseErrors, but that might actually need to be fixed in kubernetes/kubernetes once we merge #697)

[2016-10-20 05:57] justinsb commented on #600
I _think_ the problem here was #677.  Let's see if it persists...

[2016-10-20 06:10] justinsb commented on #532
Going to close, for now.  We now retry for much longer when tagging the route table, and can recover and delete an untagged one (if it is attached to the VPC etc)

[2016-10-20 06:10] #532 closed

[2016-10-20 06:35] justinsb opened #705 "e2e test failures due to master being schedulable"
I tried directly running the command for the failing test, and this is what I saw:

[code]

That suggested to me that the problem was that we can't cope with a 10.123.45.x IP, which is the master "fake IPs".

This would be fixed by https://github.com/kubernetes/kubernetes/pull/33347, but I can't actually see where a daemonset-style pod is being created... the master is not supposed to be schedulab

[2016-10-20 06:37] justinsb commented on #705
Spoke too soon...

`networking_utils.go` schedules on random nodes, as long as they are schedulable.

Another test that needs to be updated for the move to taints...

[2016-10-20 18:35] kris-nova commented on #444
Closing

The PR is merged, and the hack directory is now in Kops. Devs can begin using it.

[2016-10-20 18:35] #444 closed

[2016-10-20 18:43] kris-nova opened #706 "Header Improvements (File description and scope)"
Would like to propose a format to start including descriptive headers in kops code.

Digging into kops is fun, but I am constantly referencing my notes as I explore the code base.

I think it would be helpful to store descriptions and code docs in the files themselves. Not a hard requirement, but it would be nice to have an agreed upon format and blessing to start doing this if an engineer so desi

[2016-10-20 19:09] chrislovecnm commented on #706
We actually have a standard on the use of a proper license header that needs to be documented ...  We need the boilerplate block to make the K8s lawyers happy, to be able to run the header checker that I have.

Another code block afterward I think is awesome.

See:

https://github.com/kubernetes/kops/tree/master/hack/boilerplate

[2016-10-20 19:13] kris-nova commented on #706
Makes sense..

/*
Copyright 2016 The Kubernetes Authors.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS I

[2016-10-20 19:15] chrislovecnm commented on #706
FYI -

[code]

We need to figure out the auto gen code because it does not have a header.

[2016-10-20 19:23] chrislovecnm opened #708 "Capability to validate cluster and node status"
Will add more detail, but think kube-up.sh validating cluster, making sure that nodes are down and up for upgrades.

https://github.com/kubernetes/kops/pull/707

[2016-10-20 19:58] caseydavenport opened #709 "Integrate with Calico"
CNI support has been added, hooray! https://github.com/kubernetes/kops/pull/621/files

With the above merged, it should be easy to add Calico.

This issue is to track the testing / documentation for Calico + kops.

[2016-10-20 20:04] chrislovecnm commented on #709
@caseydavenport This issue is to track the testing & documentation for Calico + kops. 😀

[2016-10-20 20:51] caseydavenport commented on #709
@chrislovecnm Yes, that's correct :) Updated.

[2016-10-20 21:01] sairez opened #710 "Address space collision with docker0 bridge"
As per a conversation with @justinsb in #kubernetes-users slack:

One of our customers is currently experiencing difficulties accessing nodes and masters via SSH because the CIDR of their client VPN (172.17.0.0/16) overlaps with the CIDR of the docker bridge `docker0`.

In other Docker implementations, we could potentially solve this conflict by adding the bridge IP `--bip` flag to `DOCKER_OPTS` t

[2016-10-20 22:31] chrislovecnm commented on #710
@sairez need more details.  Version of K8s, network config in kops, etc.

I am not sure if "In other Docker implementations, we could potentially solve this conflict by adding the bridge IP --bip flag to DOCKER_OPTS to supply a specific IP address and netmask for the docker0 bridge" is recommended for K8s.  That is what we would need to determine.  I am thinking that it is not, but may be wrong.

[2016-10-21 00:48] chrislovecnm opened #711 "CNI Networking at scale"
Investigate this: https://github.com/kubernetes/kops/pull/621 @ scale.  @justinsb do you have that error?

[2016-10-21 02:39] #670 closed

[2016-10-21 03:50] kris-nova commented on #651
Closing https://github.com/kubernetes/kops/pull/656

[2016-10-21 03:50] #651 closed

[2016-10-21 03:51] kris-nova commented on #428
Code changes for the PR coming soon https://github.com/kubernetes/kops/pull/694

[2016-10-21 09:05] starkers commented on #428
Thanks Kris, I'll test soon also

[2016-10-21 13:59] kris-nova commented on #428
@starkers - It's still a WIP - let me hammer on it this weekend a bit more before testing. Was just adding the pointer last night, some people were asking about it.

[2016-10-21 14:09] sairez commented on #710
Sure thing. Here are the bits I think are relevant:

[code]

[code]

[code]

[code]

Kubernetes cluster is inside a VPC with CIDR `10.y.x.x/16`.

Masters and nodes reside in private subnets `10.y.8.0/24`, `10.y.9.0/24`, `10.y.10.0/24` across 3 availability zones.

All three private subnets share the same route table (K8s limitation) and thus the same NAT gateway.

OpenVPN appliance exists in publi

[2016-10-21 15:45] druidsbane commented on #372
From: https://support.bioconductor.org/p/88223/

This will need to be done first before support can be added for kops.

[2016-10-21 15:59] yissachar commented on #372
@druidsbane Thanks for pointing this out. That would work for images that kops has control over, but we want to support a wide range of images that kops doesn't have control over, that we can't assume have set this.

At this point I think it's probably best to leave this step outside of kops and have kops just deal with the passed in image - it would be up to the user to manually encrypt that firs

[2016-10-21 16:02] yissachar commented on #372
Oh, and regardless of what we decide to do here, whoever has control over the k8s AMI should probably grant read permissions as @druidsbane pointed out.

[2016-10-21 22:25] chrislovecnm opened #715 "Self Hosting of Resources"
During the DNS attack today on github.com and other internet end-points, we were not able to deploy new K8s clusters.  We need to address capability of self-hosting docker containers and other components that are downloaded.  For instance with channels:

"https://raw.githubusercontent.com/kubernetes/kops/master/channels/stable": error fetching

Larger companies will want to self-host binaries, doc

[2016-10-21 22:27] kris-nova commented on #715
This should be a global discussion about all dependency management in the project. We could/should offer a way to easily overload some of these parameters...

My gut makes me think `yml` with Viper....

[2016-10-22 06:05] #581 closed

[2016-10-22 14:23] justinsb commented on #715
Agreed - this was really just an error/shortcut I made - I didn't think it through.

I'd say a "base directory" for all our resources would be helpful.  And we should pull from there:

* protokube (moving it to a tar file)
* nodeup
* dns-controller docker image (moving it to a tar file)
* the "stable" channel metadata (though this should only be on `kops upgrade`, which is really just a shortcut o

[2016-10-24 07:27] luxas commented on #700
Is this all fixed now? kops isn't using the old mode anywhere at HEAD?

Also be beware that `reconcile-cidr` probably will be removed in v1.5 as well

[2016-10-24 14:04] chrislovecnm commented on #715
I would say that we can define a docker Reg for -

- all docker images like protocube
- all docker images like etcd

Http / s3 repo for all artifacts like nodeup.

[2016-10-24 14:20] ApsOps opened #718 "Feature request: Add DNS A records of nodes in Route53 via dns-controller"
### Use case

If we're running a UDP service (like StatsD), and we need to expose it publicly, we can use only `NodePorts` since `ELBs` don't work with UDP.
### Solution

One possible solution is keeping updated A records for all the nodes in Route53, and using a pre-defined `nodePort` value.

So, it would be awesome if `dns-controller` can create and keep the records up-to-date with the IPs of he

[2016-10-24 14:51] chrislovecnm commented on #718
Since nodes can be really ephemeral how do we handle not polluting DNS?

[2016-10-24 15:56] justinsb commented on #718
@chrislovecnm the dns-controller watches nodes & updates DNS.    Might be a higher update volume than e.g. services, but we do have some debouncing in there, and it shouldn't be too bad (it isn't like we're registering individual pods!)

It also gets really interesting because this effectively replaces ELB (with hostPort).  So if you're running on bare-metal (or just "raw" VPS), and you set up ing

[2016-10-24 16:39] chrislovecnm commented on #710
@justinsb you have any recommendations?

[2016-10-24 20:33] michaelajr commented on #399
We have our own Domain name (e.g., mydepartment.mycompany.com) and our DHCP options are configured to use it. We also have our own DNS servers that resolve to these names (set up via our AMI). It would be nice not to require the VPC to have DNS host names set to true. Is there any way I can work around this issue?

[2016-10-24 20:35] dwradcliffe commented on #489
Even if you have just one master, it starts killing workers before the new master is ready.

[2016-10-25 00:37] chrislovecnm commented on #489
@dwradcliffe working on it this week ;) we gonna make it a bunch better :P

[2016-10-25 00:42] dwradcliffe commented on #489
Sweet! Happy to test it when you're ready.

[2016-10-25 03:02] felipejfc opened #719 "Pulled last changes from master and can't build anymore"
[code]

[2016-10-25 03:11] justinsb commented on #719
Is you tree clean @felipejfc ?  (i.e. `git status` doesn't show that e.g. the federation directory has been deleted?)

I also noticed that the command is `git pull; and make` - I presume that is a problem of the copy-and-paste?

[2016-10-25 05:56] kris-nova commented on #652
Closed with https://github.com/kubernetes/kops/pull/717

[2016-10-25 05:56] #652 closed

[2016-10-25 07:04] kris-nova opened #722 "Cross compiling / building"
I am **very** reluctant to bring this up, but wondering if we have any plans to support our PC friends?

IE: [Cross compiling](https://github.com/golang/go/wiki/WindowsCrossCompiling) for Windows..

... Or any other platforms?

<img width="206" alt="screen shot 2016-10-25 at 12 58 51 am" src="https://cloud.githubusercontent.com/assets/13757818/19675986/d241fa98-9a4e-11e6-8c92-d274714b1db1.png">

[2016-10-25 07:09] kris-nova opened #723 "go fmt && go vet"
Can we add `go fmt` and `go vet` to our travis CI builds?

If either commands need attention, can we fail the build?

I am secretly hoping this _encourages_ us to get these into our `make` targets

[2016-10-25 11:18] felipejfc commented on #719
Hi @justinsb yes, it is clean, I've just checked.
No, the command is right, I use [fish shell](https://github.com/fish-shell/fish-shell), thats why
Never had a problem with compiling kops before on it...

[2016-10-25 14:19] chrislovecnm commented on #723
Do it ;)

[2016-10-25 17:16] chrislovecnm commented on #719
@felipejfc we have ci turned on, so travis is doing clean builds.  Any luck at figuring it out?

[2016-10-25 17:16] chrislovecnm commented on #722
RUN ... no good point.  We need to figure it out

[2016-10-25 21:14] justinsb commented on #723
Please do :-).  We do have a makefile target `make gofmt` that will apply gofmt, but I don't think we enforce.

I thought `go vet` was in our CI, but if not :+1:

[2016-10-25 21:17] justinsb opened #724 "Update CNI plugin to 07a8a28637e97b22eb8dfe710eeae1344f69d16e"
User jkemp on slack found an issue with the version of CNI we are using (it assigned .255), and @dcbw pointed out we are using an older CNI plugin.

The current CNI plugin in kube-up/salt is 07a8a28637e97b22eb8dfe710eeae1344f69d16e.  That corresponds to a git sha: https://github.com/containernetworking/cni/commit/07a8a28637e97b22eb8dfe710eeae1344f69d16e

We should probably update the hard-coded ve

[2016-10-25 21:53] petergarbers opened #725 "HPA: failed to get CPU consumption and request"
Version:
[code]

As per https://github.com/kubernetes/kops/blob/master/docs/addons.md I have run
`kubectl create -f https://raw.githubusercontent.com/kubernetes/kops/master/addons/monitoring-standalone/v1.2.0.yaml` on my cluster. It has the pods currently running:

[code]

However, it would appear that the hpa doesn't work:

`kubectl describe hpa some-hpa` gives the following output:

[code]

The

[2016-10-25 21:58] justinsb opened #726 "Register API server in public hosted zone"
Idea from slack: do "split horizon" DNS when we have 2 hosted zones, one public, one private.

We would (optionally) create the public DNS name (only) in the public hosted zone, but everything else in the private zone.

[2016-10-25 23:19] vreon opened #727 "Render groups to static token file"
kops [renders](https://github.com/kubernetes/kops/blob/36df0753d9fb33975a8fe50e61dd27029183e3fc/upup/models/nodeup/_kubernetes_master/kube-apiserver/files/srv/kubernetes/known_tokens.csv.template) the static token file (`/srv/kubernetes/known_tokens.csv`) by looking at secrets of type `Secret`, treating the text of the secret as the token and the name of the secret as the user name/ID. However, th

[2016-10-26 00:24] robinpercy opened #728 "Default master size is too small"
As per my slack conversation with @justinsb and @chrislovecnm. The current default master size of m3.medium only has a single core, which is insufficient for scheduling a CNI provider DS on the master.

The telltale symptom is that weave-net claims to install correctly, but is schedule for 0 nodes:

As per justinsb, the workaround is to scale down one of the bigger pods on the master by reducing t

[2016-10-26 02:59] chrislovecnm commented on #728
So the master size is a bit too small period, if we cannot install 1 ds on it...

[2016-10-26 03:00] chrislovecnm commented on #728
We gotta do initial sizing docs, may as well do them here

[2016-10-26 03:17] chrislovecnm commented on #640
Is this done?

[2016-10-26 03:19] chrislovecnm commented on #633
So when we move to http deployment we are gonna have to think about state. We are gonna need a datastore, because we need to handle a use case when kops is upgrading a cluster, and gets shutdown and moved to another node. This is gonna be fun!

[2016-10-26 03:20] itajaja commented on #476
just to be 100% sure, these messages are just false positive right? I see

![image](https://cloud.githubusercontent.com/assets/697647/19712170/980c9aa2-9b09-11e6-8ab3-2bba01102779.png)

but the first two changes will actually not be applied, correct?

[2016-10-26 03:21] chrislovecnm commented on #633
Heck I am wondering if it easier to launch a job now to upgrade cluster... Deep thoughts.

[2016-10-26 03:22] chrislovecnm commented on #489
I am wondering if launch a job in the cluster to upgrade itself has value currently. Probably phase two.

[2016-10-26 03:53] chrislovecnm commented on #725
So not sure this is a kops issue. You may want to file and issue with the heapster folks.

[2016-10-26 03:54] chrislovecnm commented on #725
Please close if this is not a kops issue.

[2016-10-26 09:48] starkers opened #729 "Add optional tags to AWS deployments"
I would like to add additional tags to a k8s cluster that are used at an organisational level for tracking resources..

Examples would be:
- `owner: starkers`
- `environment: develop`
- `project: awesome`

Currently this can be done by modifying the cluster after kops has deployed but then I can no longer run kops again because it would undo the tags.

Initially I think this is essential on ec2 in

[2016-10-26 10:21] chrislovecnm commented on #724
@JuJu227 this is low hanging fruit btw.  To do the initial update.

[2016-10-26 10:22] chrislovecnm commented on #723
oh and we need a linter ... imports are all funky monkey.  Funky Monkey == not in Goimports format

@JuJu227 what did you end up using?

[2016-10-26 11:18] chrislovecnm commented on #663
Another one https://github.com/kubernetes/kops/issues/729 tags!!!

[2016-10-26 11:27] JuJu227 commented on #723
I personally like https://github.com/golang/lint for the linter. However, I would actually go a step beyond gofmt and move towards goimports. It's basically  a superset of gofmt but it also cleans up formats the imports in the correct manner.

[2016-10-26 13:08] kris-nova commented on #663
Would like to get https://github.com/kubernetes/kops/issues/640 in there tomorrow as well..

[2016-10-26 13:09] kris-nova commented on #663
Also - would it be prudent to get issues created for the topics listed above without issues? I think it would.. @chrislovecnm thoughts?

[2016-10-26 15:26] justinsb commented on #724
cf https://github.com/kubernetes/kubernetes/issues/30338
https://github.com/kubernetes/kops/issues/626

[2016-10-26 15:33] justinsb commented on #729
@starkers have you seen: https://github.com/kubernetes/kops/blob/master/docs/labels.md

I like the idea of applying this to other resources also.  There are two types of "other resources":

* resources created & managed by kops.  Should be relatively easy to add.
* resources dynamically created by k8s (EBS volumes & ELBs primarily).  A little trickier to add, as this would need to be done by k8s.

[2016-10-26 16:05] chrislovecnm commented on #709
@caseydavenport I am assigning this to you.

[2016-10-26 16:29] WillPlatnick commented on #646
Working fine here too. Can this be closed?

[2016-10-26 16:35] chrislovecnm commented on #646
Done

[2016-10-26 16:35] #646 closed

[2016-10-26 16:35] chrislovecnm commented on #646
Let me know if I need to re-open :)

[2016-10-26 17:18] kris-nova opened #731 "Integration Tests"
I remember someone mentioning that we have a Google budget and AWS access somewhere...

Should we look at integration tests for the next release? Will bring it up in the meeting, but here is the issue to track the work.

[2016-10-26 17:18] kris-nova commented on #663
Integration Tests? https://github.com/kubernetes/kops/issues/731

[2016-10-26 17:22] starkers commented on #729
Ahh cool, so for now 'labels' will do most of what I need (thanks)

I will have a look at the kubernetes issues to see about the resources it creates.

It would be nice to do this at the time of creating the cluster hopefully because I'm planning to put kops in a pipeline (unless something like this already exists?)

All this in terms of functionality is utterly trivial but I think it would be a p

[2016-10-26 18:43] watkinsv-hp opened #732 "Single zone, multiple masters"
We would like to make multiple masters in a single availability zone when using the cloud provider AWS using kops. While #661 has some great discussion around single-zone vulnerability versus true high-availability, we have a slightly different use case where we want to spread individual clusters around multiple availability zones instead of spreading a single cluster across multiple availability

[2016-10-26 19:15] kastork commented on #172
How about in AWS partitions that don't have Route 53 at all (gov cloud)?

[2016-10-26 21:54] starkers commented on #732
The way it currently works on AWS is by spinning up 4 auto scaling groups.

The first three are just 1 master per AZ and the final one is for the nodes (which seem to randomly distribute magically for me)

I haven't tried it with less than three but when you run kops you can explicitly specify the zones desired... My assumption was this effected the nodes InstanceGroup also? If not then agree it's

[2016-10-27 02:32] chrislovecnm commented on #715
https://github.com/kubernetes/kops/pull/730 another one

[2016-10-27 02:32] chrislovecnm commented on #724
Please update this on what #730 did :)

[2016-10-27 03:04] kris-nova opened #733 "Stale PRs"
Can we come up with a deadline for open and stale PRs?

I think we add it to the repo, and reference it upon closing a stale PR. Of course they can always be reopened - but in a name of keeping the queue clean I think it's fair to set a reasonable expiration date.. and close PRs with no movement..

Thoughts on our deadline? 15 days? 30 days?

[2016-10-27 03:53] kris-nova commented on #633
How does *etcd* not solve this? I guess I am confused what we would be missing in the upgrade scenario... also if this will be useful to another issue - can we point them together please?

@chrislovecnm - obviously this is in response to your comments

[2016-10-27 04:14] chrislovecnm commented on #731
https://github.com/zmerlynn Is the man. He is on vacation so will not be on the call tomorrow

[2016-10-27 04:14] chrislovecnm commented on #731
And he already has notes in the roadmap... Please close ;)

[2016-10-27 04:15] chrislovecnm commented on #733
Nope ... PRs stay open forever in k8s. Stale are 20 ish days. We need the bots. @justinsb who is @k8s-bot guru?

[2016-10-27 04:21] #731 closed

[2016-10-27 04:26] chrislovecnm commented on #663
See Zach's comments above

[2016-10-27 04:32] chrislovecnm commented on #663
Yaml examples and demos, @brandoncole mentioned that

[2016-10-27 04:42] chrislovecnm commented on #663
Image road map, ami's

[2016-10-27 04:53] kris-nova commented on #663
# Labels and Milestones

Can we start using them more? I added some new labels I would like to start using for PRs..

But more importantly.. milestones, and what are the thoughts there?

[2016-10-27 05:26] chrislovecnm commented on #663
@kris-nova we need process improvements.  As we talked using github kanban is duplicated work for the Datapipe folks.

[2016-10-27 05:28] chrislovecnm commented on #21
Done .. closing

[2016-10-27 05:28] #21 closed

[2016-10-27 05:30] chrislovecnm commented on #92
@colemickens actually want to look at Azure and other providers in possibly 1.6 or 1.7

[2016-10-27 05:31] chrislovecnm commented on #122
Can we even run on T2?

[2016-10-27 05:32] chrislovecnm commented on #157
@kris-nova do you know if "c2.xlarge" instance is supported?

[2016-10-27 05:34] chrislovecnm commented on #198
We should check that this is documented

[2016-10-27 05:36] chrislovecnm commented on #224
👍

[2016-10-27 05:38] chrislovecnm commented on #226
@ProTip always happy to have you guys help us implement this.  Kind of an interesting idea.

[2016-10-27 05:39] chrislovecnm commented on #230
@JuJu227 did this get resolved?

[2016-10-27 05:41] chrislovecnm commented on #232
@kris-nova assigning this to you :)  How does this fold into our new networking stuff.  I am not sure if it does, or it is more a networking plugin module??

[2016-10-27 05:43] chrislovecnm commented on #203
@justinsb / @ivansoban is this still open?

[2016-10-27 05:45] chrislovecnm commented on #209
Well this is an interesting one.  We are seeing multiple bugs with different docker storage options. I would recommend that we use the most tested option for docker.  You can bring your own ami, and may be able to overide the docker settings.  Would need to test.

@exul thoughts?

[2016-10-27 05:47] chrislovecnm commented on #212
Closing as this is implemented

[2016-10-27 05:47] #212 closed

[2016-10-27 05:49] chrislovecnm commented on #220
@billyshambrook please reach out, we are having a planning meeting, and would love your help!!

@kris-nova How does this fold into https://github.com/kubernetes/kops/issues/428

[2016-10-27 05:50] chrislovecnm commented on #223
Hey all PRs are welcome!!!!  Please let us know if you are able to help out documenting this awesome tool!!!

[2016-10-27 05:52] chrislovecnm commented on #236
There is also an open issue for creating profiles.

[2016-10-27 05:55] chrislovecnm commented on #240
One word ... immutable.  I have serious problems with this design.  Please someone tell me I am wrong.  @dnascimento CoreOS does not do that either.  I replaces itself inline.

@justinsb lets chat about this some time.

[2016-10-27 05:56] chrislovecnm commented on #245
@justinsb this is supported ... correct?

[2016-10-27 05:56] chrislovecnm commented on #247
Closing

[2016-10-27 05:56] #247 closed

[2016-10-27 05:57] chrislovecnm commented on #261
@kevin-cantwell yes there are ways to do this.  Sorry we have taken so long to get back to you, but let me know ...  Otherwise we can close this.

[2016-10-27 05:58] chrislovecnm commented on #264
Documentation??

[2016-10-27 05:59] chrislovecnm commented on #266
@kris-nova here is another one for you :)

[2016-10-27 06:00] chrislovecnm commented on #267
We need this documented!!!

[2016-10-27 06:00] chrislovecnm commented on #274
@johnt337 please reach out!

[2016-10-27 06:01] chrislovecnm commented on #278
I am going to close this as a K8s issue and not kops

[2016-10-27 06:01] chrislovecnm commented on #279
@clanstyles this is a k8s / aws fun thingy.  Not sure if we can help you in kops.  Ideas?

[2016-10-27 06:03] chrislovecnm commented on #290
@robscott are you interesting in helping move support into main?

[2016-10-27 06:04] chrislovecnm commented on #300
@JuJu227 here is another one for you

[2016-10-27 06:05] chrislovecnm commented on #311
@oO-Zam if you are able to contribute please let us know!

[2016-10-27 06:06] chrislovecnm commented on #312
@tazjin you interested in taking on some of this security stuff???

[2016-10-27 06:07] chrislovecnm commented on #315
DONE

[2016-10-27 06:07] #315 closed

[2016-10-27 06:08] chrislovecnm commented on #326
We kinda have this, but I need it at a yaml file level, or example on how to do it in yaml

[2016-10-27 06:08] kris-nova commented on #157
`c3.xlarge` is a valid instance size.. archiving..

[2016-10-27 06:09] chrislovecnm commented on #327
Done :)  We have a challenge with the autogen stuff.  Needs to be put into the make process.

[2016-10-27 06:17] chrislovecnm commented on #362
What is the status on this issue?

[2016-10-27 06:18] chrislovecnm commented on #363
@justinsb what is the status on this?

[2016-10-27 06:20] kris-nova commented on #264
What would a warning look like? Should it break?

[2016-10-27 06:20] chrislovecnm commented on #370
Closing due to inactivity

[2016-10-27 06:20] #370 closed

[2016-10-27 06:21] chrislovecnm commented on #372
Can someone propose a design?

[2016-10-27 06:21] kris-nova commented on #267
I'm still confused what we want/need here... Assigning to you @chrislovecnm - please send a PR with docs/use cases

[2016-10-27 06:23] chrislovecnm commented on #382
Didn't you fix this?

[2016-10-27 06:23] chrislovecnm commented on #383
What is the status on this?

[2016-10-27 06:23] kris-nova commented on #274
@johnt337

Open up a pull request as a work in progress (WIP)... We can start to use the PR to track your changes and discuss ideas..

[2016-10-27 06:26] chrislovecnm commented on #387
I would recommend another approach.  I would encourage users to use there own aws node, instead of injecting a script.  Thoughts?

[2016-10-27 06:26] chrislovecnm commented on #388
Done

[2016-10-27 06:28] chrislovecnm commented on #413
What is the status of this?

[2016-10-27 06:29] kris-nova commented on #326
Taking this one - small code change

[2016-10-27 06:29] chrislovecnm commented on #415
@felipejfc did this get fixed with the kernel upgrade?

[2016-10-27 06:29] chrislovecnm commented on #418
What is the status on this?

[2016-10-27 06:30] chrislovecnm commented on #427
We have this in alpha.  Closing cause it is done

[2016-10-27 06:30] kris-nova opened #734 "Autogen needs to include k8s headers"
As it stands `make codegen` will clobber the legal k8s headers.. we need a PR to fix this :)

[2016-10-27 06:31] chrislovecnm commented on #428
Little bird is telling me that we may have out first demo on Friday .. no promises, but @kris-nova is kicking some butt!!

[2016-10-27 06:31] kris-nova commented on #327
Closing in favor of https://github.com/kubernetes/kops/issues/734

[2016-10-27 06:31] #327 closed

[2016-10-27 06:32] chrislovecnm commented on #429
We doing aufs or btrfs?

[2016-10-27 06:34] chrislovecnm commented on #471
@brandoncole thoughts on this?

[2016-10-27 06:35] #427 closed

[2016-10-27 06:35] chrislovecnm commented on #448
We support 1.4.4 and with the TLS issue please upgrade :)

[2016-10-27 06:36] chrislovecnm commented on #451
Isn't this done?

[2016-10-27 06:37] chrislovecnm commented on #481
What is the status on this?

[2016-10-27 06:38] chrislovecnm commented on #483
Closing

[2016-10-27 06:38] #483 closed

[2016-10-27 06:39] #388 closed

[2016-10-27 06:40] chrislovecnm commented on #526
@scottbessler please submit a PR

[2016-10-27 06:40] kris-nova commented on #413
@stevezau - Can we get a tad more information?

Replication steps? Which cloud? How do you know they are missing?

[2016-10-27 06:41] chrislovecnm commented on #530
@feniix we are discussing the additions of various plugins within kops.  Will let you know

[2016-10-27 06:44] chrislovecnm commented on #588
This is work in progress.  The first PR is to help with upgrades, and then we will expose the features to the cli

[2016-10-27 06:45] chrislovecnm commented on #598
What does our /etc/hosts look like?

[2016-10-27 06:46] chrislovecnm commented on #600
Closing ... Please reopen as needed

[2016-10-27 06:46] #600 closed

[2016-10-27 06:46] chrislovecnm commented on #601
Channels need to be revisted

[2016-10-27 06:48] kris-nova commented on #598
Need context here.. What is resolving to what - and under what conditions?

[2016-10-27 06:50] chrislovecnm commented on #602
this is a duplicate ...

[2016-10-27 06:50] #602 closed

[2016-10-27 06:51] chrislovecnm commented on #618
Moving this to documenation

[2016-10-27 06:52] chrislovecnm commented on #620
This is DONE

[2016-10-27 06:52] #620 closed

[2016-10-27 06:53] chrislovecnm commented on #641
Now have a documentation tag ... yay

[2016-10-27 06:55] chrislovecnm commented on #732
@brandoncole thoughts on this

[2016-10-27 07:08] chrislovecnm commented on #598
He is talking the IP address that is used to resolve local host on a deployed kops VM

[2016-10-27 07:10] chrislovecnm commented on #326
Super important btw.

[2016-10-27 07:12] chrislovecnm opened #735 "Tag DNS issues"
About half way through grooming all the issues, I figured it that a DNS label would be a tad helpful!

[2016-10-27 07:13] chrislovecnm commented on #734
We also need it to be checked in the ci Travis build with the python script in hacks

[2016-10-27 08:53] chrislovecnm commented on #659
Here is the answer the mothership is moving to glide https://github.com/kubernetes/kubernetes/pull/24202

[2016-10-27 08:55] billyshambrook opened #736 "Signal Prometheus to scrape etcd"
Prometheus can auto discover services to scrape by adding annotations to the pod manifest. Would there be a way of adding arbitrary annotations to the etcd manifest? Falling that, what do you think about just adding it so if people are using Prometheus it just works?

The annotations are described here - https://github.com/prometheus/prometheus/blob/master/documentation/examples/prometheus-kuberne

[2016-10-27 09:15] exul commented on #209
Yes, that sounds like a reasonable decision.

Actually when I created the issue, it was because we had problems when using k8s with aufs. So I'm fine with whatever the most tested/stable storage is.

[2016-10-27 11:27] brandoncole commented on #471
I'm coming in a bit late on this, for context this is about pre configuring limits per: http://kubernetes.io/docs/admin/limitrange/ on the cluster?

Workaround today would be using `kops` to stand up cluster first then use `kubectl` to create and apply to the namespaces correct?

I can think of a few reasons it might make sense to put this into `kops` such as:

1. Default limits based on number of

[2016-10-27 11:48] brandoncole commented on #732
@chrislovecnm @watkinsv-hp I think there's merit in this request - perhaps not from a HA perspective but from how to handle node failures gracefully within one availability zone if that's all you're looking for.  It's not uncommon to run cluster mirrors as the HA strategy with higher level load balancing.

Sounds like the proposal here would be to have something like:

`--master-zones=us-east-1b,u

[2016-10-27 12:13] kris-nova commented on #735
Done

[2016-10-27 12:13] #735 closed

[2016-10-27 13:09] jkemp101 commented on #387
I kind of agree with @chrislovecnm.  I build a custom AMI so I can add my puppet bootstrapping scripts and other modifications I need.

[2016-10-27 14:39] kevin-cantwell commented on #261
Feel free to close. And although I'm not actively pursuing k8s atm, I would certainly be interested in learning how to specify existing subnets.

[2016-10-27 15:07] #261 closed

[2016-10-27 15:11] chrislovecnm commented on #663
Another one https://github.com/kubernetes/kops/issues/471

[2016-10-27 15:21] watkinsv-hp commented on #732
Thanks for the discussion!

As a user to kops, I would find a combination of `--num-masters=N` and `--master-zones=us-east-1b` more intuitive. Consider the eu-central-1 region in AWS where there are only two availability zones; it would be much easier to combine `--num-masters=3 --master-zones=eu-central-1a,eu-central-1b` to spread 3 masters across 2 or `--num-masters=3 --master-zones=eu-central-1

[2016-10-27 15:39] justinsb commented on #732
I was thinking that we should in fact specify instancegroups for the etcd clusters, rather than zones.  It would be much more precise, and cope with clouds where the zones concept doesn't necessarily apply.

[2016-10-27 15:40] justinsb commented on #261
Docs are here: https://github.com/kubernetes/kops/blob/master/docs/run_in_existing_vpc.md

Running in the same subnet is high risk with VPC routing, less so with weave.  And I think we're tracking the tagging issues elsewhere.

[2016-10-27 15:43] yissachar commented on #387
Using our own AMI would give us the most control, but it also introduces a management headache that we don't necessarily want to incur just to run a script on instance startup.

[2016-10-27 15:44] yissachar commented on #383
I haven't had this happen since my last post. I think this is safe to close for now, if it crops up again we can reopen.

[2016-10-27 15:44] #383 closed

[2016-10-27 15:51] brandoncole opened #737 "Silent failures if nodeup stalls"
There are scenarios where AMI's have issues on AWS which cause `nodeup` to hang indefinitely with a sequence like this:

[code]

In this case the cluster never comes up, the Route53 records never get created and it's in an endless loop.  It would be nice if we could have something like a `--wait` flag for `kops` so that wait loops in the calling shell aren't necessary.

@chrislovecnm would love to

[2016-10-27 15:57] justinsb commented on #659
That's not how I read it @chrislovecnm .. ;-)  Commented there - hopefully we'll get some clarity.

[2016-10-27 15:58] justinsb commented on #734
Which headers are we talking about?

[2016-10-27 16:01] justinsb commented on #737
Having a `wait` command would be great, I agree.

Here what is the root cause of the problem?  apt-get got confused?  In the past I have detected that and run the repair command, but I was hoping we wouldn't need it...

[2016-10-27 16:02] justinsb commented on #383
We now have some additional logic to pick up an untagged route table, when it is safe to do so.  I think this should no longer happen, and reopen if it does.

[2016-10-27 16:04] justinsb commented on #736
We should put the annotations on there I think.   As you say, if people aren't using prometheus it won't matter.

My only concern would be whether there is a use case for having prometheus _not_ scrape etcd.  But I think having the visibility is more important.

[2016-10-27 16:06] justinsb commented on #471
In #479 we had the suggested command: `kubectl apply -f https://raw.githubusercontent.com/kubernetes/kubernetes/master/cluster/saltbase/salt/kube-admission-controls/limit-range/limit-range.yaml`

[2016-10-27 16:07] justinsb commented on #602
Duplicate of #471.  Added the command there.

[2016-10-27 16:07] justinsb commented on #451
This is done, yes :-)

[2016-10-27 16:07] #451 closed

[2016-10-27 16:08] justinsb commented on #418
Sounds like it was fixed with the cluster name from the tags.

Will close, we can always reopen.

[2016-10-27 16:08] #418 closed

[2016-10-27 16:43] justinsb commented on #382
No, this is a really weird AWS issue that I've only seen on that one account.

[2016-10-27 16:46] justinsb commented on #448
This will be fixed in 1.5 by https://github.com/kubernetes/kubernetes/pull/35526

If you use weave you should side-step the problem (though you may step into different ones... I'm not sure!)

Your pod should still be able to access the internet though .. it just can't access the pod network.  You need to make sure `dnspolicy` is set to `default`, not `clusterfirst` IIRC, because otherwise it will

[2016-10-27 16:49] justinsb commented on #429
For the docker instances we're doing aufs or overlay.  We should revisit that as other approaches get more testing.

For using instance storage, we should use whatever is appropriate for whatever we decide to use it for :-)

[2016-10-27 16:52] justinsb commented on #264
It's in the docs, but it's an easy mistake to make, hence the desire for a warning

pseudocode:

[code]

[2016-10-27 16:53] justinsb commented on #157
The idea would be to validate this earlier.

We should also validate that e.g. you're not trying to use `maxPrice` with a `t2` instance type.  I make that mistake at least once a week.

[2016-10-27 16:56] justinsb commented on #278
I'd like to have a configuration available for the stuff that ships with kube-up, at least.  Otherwise we're just swimming upstream.

[2016-10-27 16:58] justinsb opened #738 "We should use KMS to encrypt items in S3"
Following on from #212, we should use a KMS key to encrypt (secret) items in S3

[2016-10-27 16:59] justinsb commented on #212
Opened #738 to track the idea of KMS encryption

[2016-10-27 17:03] justinsb commented on #122
Of course :-)  I believe it's still the default for our nodes

[2016-10-27 18:02] shrinandj opened #739 "Kubernetes master also shows up as a minion"
I deployed a k8s cluster on AWS with kops. One of differences I'm seeing between this and another cluster brought up using kube-up is that the k8s master also shows up as a node in the kops cluster. Wonder if this is intentional. The master has it's own ASG, can have different resources (cpu, mem) than other nodes and the networking can be setup differently for nodes and master. Therefore, there s

[2016-10-27 18:03] shrinandj commented on #739
In my case, I see that pods on the nodes are getting IPs 100.96.A.B. But the master is not on the same network. So anything scheduled on the master can't reach IPs in the 100.96* range and fail.

[2016-10-27 18:16] brandoncole commented on #737
I just noticed this issue too - #588 which is very similar

[2016-10-27 19:16] Shrugs commented on #474
Just to confirm to any other people that stumble into this via google, the config does need to be at the root of the spec like so:

[code]

[2016-10-27 19:16] chrislovecnm opened #740 "Code of conduct"
~~https://github.com/kubernetes/helm/blob/master/code-of-conduct.md~~

we need that here

[2016-10-27 19:34] yissachar commented on #666
I believe https://github.com/kubernetes/kops/issues/287 is the same issue.

[2016-10-27 20:08] kris-nova commented on #734
@justinsb https://github.com/kubernetes/kops/blob/master/doc.go#L1-L15

[2016-10-27 20:11] kris-nova commented on #382
Is this a kops issue? Maybe we note it in FAQ / Troubleshooting and close the issue?

Maybe open an issue w/ AWS and point the two?

Ideas...?

[2016-10-27 20:28] chrislovecnm commented on #740
actually that is the wrong one ... https://github.com/kubernetes/kubernetes/blob/master/code-of-conduct.md

[2016-10-27 20:44] Shrugs commented on #739
Starting with 1.4, kops uses taints to make the master node unschedulable. If you `kubectl describe nodes | grep Taints` and search for `Taints:`, one of them should have `dedicated=master:NoSchedule`, meaning non-system pods won't be scheduled on it. It does have the unfortunate side effect that you can't easily tell which node is master when running `kubectl get nodes`.

[2016-10-27 20:54] chrislovecnm opened #741 "should we use the bots"
should we use the k8s bots?

[2016-10-27 21:03] shrinandj commented on #739
Great. I see that in my 1.4.3 cluster, the master is "tainted" as described above.

[2016-10-27 21:06] kris-nova commented on #741
Context? Use what bots for what purpose?

[2016-10-27 21:21] Shrugs commented on #739
Agreed, that'd be cool. In this case those feature are kubernetes-level, so you should open an issue on `kubernetes/lkubernetes` to add it.

[2016-10-27 21:29] chrislovecnm commented on #741
K8s project has @k8s-bot - it does a lot in k8s.  It is not used outside of K8s /kubernetes/kubernetes, leads of google have talked about it being used.  I do not know if it is ready for us, but if it is, it can help.  We need to determine if it can help or get in the way.

@zmerlynn I am assigning this to you.

[2016-10-27 21:33] chrislovecnm commented on #741
@zmerlynn you will get a few items, ping me when you are back so that I can coordinate with you.  We have not talked about this item, but I am guessing you can close this or re-assign it in about a 5 min discussion.

[2016-10-27 21:41] #739 closed

[2016-10-27 21:43] chrislovecnm commented on #739
@shrinandj dude

| Great. I see that in my 1.4.3 cluster, the master is "tainted" as described above.

| it will be good to either (i) make output of "get nodes" mention that node will run user pods or not or (ii) filter the output to not include non-schedulable nodes (with a "-a" option to show all).

dude I missed the -a  ... victory

[2016-10-27 21:49] shrinandj opened #742 "Kops should add labels to nodes"
For a K8S cluster created using Kops, the master node is assigned an appropriate label:

`kubernetes.io/role=master`

However, the minion nodes do not have this label. It'll be useful to have this label on the minion nodes. Particularly for applying a nodeSelector to run daemonsets.

[2016-10-27 22:09] justinsb commented on #739
I see you opened #743, which is great for targeting daemonsets until we get some of the fixes.

We have upstream issues for the underlying networking bug, we also have an issue for kubectl being unhelpful with a tainted master.

[2016-10-27 22:30] snarlysodboxer opened #743 "Allow very confusing IAM setups (Should not require ListHostedZones permission?)"
Tl:dr: Can't create cluster because AWS credential set doesn't have `ListHostedZones` rights, despite having rights to manage the required Route53 Hosted Zone.

Our credential set can assume a role from another AWS account which allows it to fully manage the Record Sets for their particular Hosted Zone for our cluster. This credential set is however, not allowed to ListHostedZones, since that woul

[2016-10-27 23:51] snarlysodboxer commented on #743
Another thought is, a credential set can potentially have write access (`ChangeResourceRecordsSets`) to Records Sets without having read (`ListResourceRecordSets`) access. (We actually have a case where this is true.)

Maybe attempting a [write](http://docs.aws.amazon.com/Route53/latest/APIReference/API_ChangeResourceRecordSets.html) (`UPSERT`) to api.dev.k8s.mydomain.com would be sufficient? I'm

[2016-10-28 00:56] kris-nova opened #744 "Revisit kops models"
Myself and @justinsb have been talking about a future where kops no longer has YAML model files, but rather implements the tasks in code.

Opening a task for feedback and to track a potentially large refactor.

[2016-10-28 01:11] kris-nova commented on #744
This might be a missed candidate for 1.5 - this is a huge win for kops - and with the extra help we are getting... this might be remarkably beneficial

[2016-10-28 05:28] chrislovecnm commented on #122
Lmao

[2016-10-28 05:28] chrislovecnm commented on #209
Closing

[2016-10-28 05:28] #209 closed

[2016-10-28 05:29] chrislovecnm commented on #659
Lol - sounds good. No rush

[2016-10-28 05:43] chrislovecnm commented on #429
Then what should we use.

[2016-10-28 05:46] chrislovecnm commented on #157
Stability

[2016-10-28 05:50] chrislovecnm commented on #737
I ran into this with our image, and have not time to diagnose. We should have the wait command, and a timeout.

Stability

[2016-10-28 05:51] chrislovecnm commented on #474
@Shrugs if you are able to help to update the docs, that would be amazing

[2016-10-28 05:52] chrislovecnm commented on #666
@mrichmon closing in favor of the other number ;)

[2016-10-28 05:52] #666 closed

[2016-10-28 05:55] chrislovecnm commented on #382
I think we need to close

[2016-10-28 13:14] justinsb commented on #382
We can move to kubernetes/kubernetes, but let's not close.

Correct mitigation will probably be a warning at deployment time.  Once you have a cluster up and running, it's too late.

[2016-10-28 15:53] Shrugs commented on #474
@chrislovecnm Good idea, I'll plan on it.

[2016-10-28 16:00] Shrugs opened #746 "Updating subproperties after cluster creation is prohibited by kops cli"
kops doesn't accept adding the `runtimeConfig` with an existing cluster because the definition in `config` differs from `cluster.spec` (i.e., it thinks we're trying to set `CloudProvider` to `""`, and rejects the change).

The solution to get around this is to download `config.spec` and copy over the `kubeAPIServer` block over to `config` in full (and then add `runtimeConfig`).

After that I belie

[2016-10-28 17:33] chrislovecnm commented on #224
We need to determine if we able to edit, create, update, delete sec groups.

[2016-10-28 17:34] chrislovecnm opened #748 "Audit Security Groups for kops"
- we need to determine if the SG for kops are sufficient, pretty good, let's make them awesome

[2016-10-28 17:38] chrislovecnm opened #749 "Heapster is not able to communicate to node because of SG"
- heapster is not able to make an http call into kubelet running on the node that heapster is deployed to

Heapster is not able to run on one of your clusters, we have not attempted to recreate with 1.4.4 and kops master

[2016-10-28 18:30] dmcnaught commented on #535
Yes, should we follow the same instructions as for 1.2 to kops 1.3?
https://github.com/kubernetes/kops/blob/master/docs/upgrade_from_k8s_12.md
Thanks

[2016-10-28 22:19] kris-nova commented on #715
```I1028 16:17:44.574437   78106 channel.go:68] Loading channel from "https://raw.githubusercontent.com/kubernetes/kops/master/channels/stable"```

Will start logging these as I notice them

[2016-10-28 22:37] watkinsv-hp commented on #732
Been stewing on the idea of specifying instancegroups for the etcd clusters rather than zones. I like it more and more. Decoupling etcd from the masters makes a lot of good sense and really minimizes the need for any kind of redundancy for the masters (in light of autoscaling groups respawning masters KIA).

If there were an instancegroup for the etcd cluster and only 1 master, a master would be a

[2016-10-28 23:02] chrislovecnm commented on #715
Thanks ... nodeup as well.  All of the dockers :)

[2016-10-28 23:37] kris-nova opened #751 "Kops can hang forever on delete deadlock"
See TODO here

https://github.com/kubernetes/kops/blob/master/upup/pkg/kutil/delete_cluster.go#L255

Code in support for a master timeout for deleting, either a (very long) total time, or some formula based on Iterations of no deltas over time

.. Or something..

[2016-10-28 23:39] kris-nova commented on #751
Looking closer - there is support for this - dropping the todo in PR https://github.com/kubernetes/kops/issues/751

[2016-10-28 23:39] #751 closed

[2016-10-28 23:56] kris-nova commented on #748
Perhaps we allow overriding SG rules so the user can define their own *awesome* SG?

[2016-10-29 16:26] chrislovecnm commented on #748
Have another issue for CRUD on SG :)

[2016-10-29 16:30] chrislovecnm commented on #746
@Shrugs so we are missing pieces to the runtimeConfig section upon initial creation?

[2016-10-29 17:05] kris-nova commented on #748
Pointer? I feel like these two are related - and might be the same work

[2016-10-29 17:43] chrislovecnm commented on #748
https://github.com/kubernetes/kops/issues/224 related

[2016-10-29 17:44] chrislovecnm commented on #748
https://github.com/kubernetes/kops/issues/749 This is broke because of SC

[2016-10-29 17:55] chrislovecnm commented on #732
Yah that is an issue for me architecturally and for upgrades ;( I know this is a big debate, but I like to keep it as simple as possible.  We have been managing multiple components on servers for years, the cost and complexity concern me. We are managing noisey neighbors on nodes all the time, How is managing etd any different. I would have to have my mind changed significantly. So go, change my m

[2016-10-29 17:56] chrislovecnm commented on #732
Oh and Kelsey started this, none of the Google installs have ever done this.

[2016-10-29 17:57] chrislovecnm commented on #732
@watkinsv-hp open another issue for me if you want to discuss breaking out the etcd servers.

[2016-10-29 20:17] chrislovecnm opened #752 "Document yaml and have yaml examples"
- document all possible options for CRUD, for clusters.

@justinsb you mentioned that we can get the yaml from a get?

[2016-10-29 21:23] felipejfc commented on #719
yes @chrislovecnm I was trying to build kops from inside:
$GOPATH/src/github.com/kubernetes/kops
and it was not working.
When I tried with $GOPATH/src/k8s.io/kops it worked.

[2016-10-29 22:03] kris-nova commented on #719
&felipejfc you need the kops package in $GOPATH/src/k8s.io - that is how the package is referenced internally

[2016-10-29 22:57] chrislovecnm commented on #719
@felipejfc since the GOPATH is your problem please close ;)

[2016-10-30 09:06] keglevich3 commented on #535
IMO we should

[2016-10-30 14:19] Shrugs commented on #746
@chrislovecnm I haven't looked at the code just yet, so this may be off, but the issue seems to be that when `kops` receives the updated `config` from `kops edit cluster :cluster`, it attempts to diff the changes with the existing `cluster.spec`. The process that diffs the old `config` with the new `config` seems to take non-specified values and coerce them into empty string. Then the process that

[2016-10-30 15:15] chrislovecnm commented on #746
@justinsb thoughts?

[2016-10-30 15:17] chrislovecnm commented on #725
@petergarbers could this be a SG issue?  We noticed that heapster cannot talk to kubelet, because of the Security Group being tight.  Thoughts?

[2016-10-30 16:33] #719 closed

[2016-10-30 17:26] chrislovecnm commented on #535
@justinsb can you comment on this?  @kris-nova and myself are not familiar with the kube-up.sh import.

[2016-10-30 18:04] petergarbers commented on #725
I did not do anything out of the box when setting up the cluster so I doubt that it's a security group issue. I was messing around with it today. It started working after I removed all the containers that were present before I added heapster to the cluster. Perhaps it has something to do with that?

[2016-10-30 18:04] #725 closed

[2016-10-30 18:14] chrislovecnm commented on #725
@petergarbers sizing and headroom :)

[2016-10-30 18:44] kris-nova commented on #719
There is now a troubleshooting section in our build documentation - I'll add a note there for this issue - this isn't the first time I've heard of someone doing this

[2016-10-30 22:57] Shrugs opened #753 "[docs] Discussing alternative cluster migration strategies"
We wanted to migrate from a kube-up-created 1.2.x cluster to a kops-managed 1.4.0 cluster with 0 downtime. After reading the docs in [upgrade_from_k8s_12.md](https://github.com/kubernetes/kops/blob/master/docs/upgrade_from_k8s_12.md), we decided to go with the following strategy to avoid the possibility of downtime. The following steps are taken from the writeup I did internally to document our ap

[2016-10-30 23:39] gladiatr72 opened #754 "certificate authority CN=kubernetes-<cluster name> (feature request)"
Right now with every new cluster, I get this:`/CN=kubernetes`

Other bits, are, of course, unique; however, this is the bit that primates tend to glance at.  Perhaps `CN=kubernetes, O=dev.kube.poc.thing.com` or some such?

Thanks for all of your efforts!

-S

[2016-10-31 00:04] felipejfc opened #755 "PVC Not being mounted correctly after a cluster upgrade from 1.4.0 to 1.4.3"
Hi!

Yesterday I upgraded my cluster from 1.4.0 to 1.4.3 using kops and after that 2 PVCs started behaving in a strange way, the pods depending on then would start but keep in CrashLoopBackoff because the mounted volumes did not contain any data inside like all the data from the PVCs was lost. I then sshed to the instance and the EBS volume was not mounted anywhere, I mounted it manually and all t

[2016-10-31 00:10] chrislovecnm commented on #754
I don't know if it would impact the cluster, but not a bad idea to make the o and ou unique when you create a TLS cert

[2016-10-31 00:11] chrislovecnm commented on #755
Upgrades needs tlc, I would not be surprised that this happened. Have not recreated this, but will test ;)

[2016-10-31 00:12] chrislovecnm commented on #753
@justinsb what do you think?

[2016-10-31 00:33] felipejfc commented on #755
I tried to terminate the instance but I'm having the same issue with the new one generated by the autoscaling group :/

[2016-10-31 03:58] stevezau commented on #413
closing this issue, i thought cadvisor ran as a pod, didn't realise it's included in kubelet

[2016-10-31 03:58] #413 closed

[2016-10-31 12:41] felipejfc commented on #755
@justinsb @chrislovecnm maybe this is related to this issue: https://github.com/kubernetes/kubernetes/pull/33616
?

[2016-10-31 12:58] felipejfc commented on #755
Ok, I have more info, the volume were being mounted inside the Pod! It seems that the problem was because all the files inside the mounted volume were with the wrong permissions!
All the files were owned by messagebus:ssh when they should be owned by jenkins:jenkins, is it possible that kubernetes changed the permissions of the files inside the PV?

[2016-10-31 13:04] dwradcliffe commented on #752
I tried `-f cluster.yml` but it didn't like that. Also looked at the code but couldn't find where this was supported.

[2016-10-31 15:14] justinsb opened #756 "Need heading for ubuntu"
We have links for the other OSes, but it is hard to link to Ubuntu here: https://github.com/kubernetes/kops/blob/master/docs/images.md

[2016-10-31 15:23] justinsb opened #757 "Grab glog output"
We need a way to capture the glog output, for use when we're driving kops as a library.

Hopefully just a docs issue, but it is needed.

[2016-10-31 15:24] justinsb opened #758 "`kops create --filename` odd error"
An odd error was reported:

[2016-10-31 15:25] chrislovecnm commented on #752
https://github.com/kubernetes/kops/blob/master/cmd/kops/create.go#L44 for instance.  Has not been released yet, os you have to build off of master

[2016-10-31 15:37] justinsb opened #759 "Verify 1.4.5 and bump stable channel"
It has a nice looking changelog: `Fix volume states out of sync problem after kubelet restarts`

[2016-10-31 15:39] chrislovecnm commented on #755
@felipejfc have not seen that one before.  I am guessing that the user and group id's have changed.

[2016-10-31 15:46] dwradcliffe commented on #752
Ah, it's on the create command but not create subcomands.

Now:
`error: error parsing file "template.yml": no kind "Cluster" is registered for version "v1alpha1"`

[2016-10-31 15:49] justinsb opened #760 "State directly that you can have multiple instance groups"
We "bury the lede" here: https://github.com/kubernetes/kops/blob/master/docs/instance_groups.md

Multiple instance groups are awesome :-)

[2016-10-31 16:35] starkers commented on #226
I think this is very important for enterprise adoption of kops (FWIW).

Boto3 supports it as does terraform but I've just heard from a friend at another company who just hit this limitation (I hadn't got here yet) so suggest a bit of love goes into addressing this.

On phone at the moment but happy to provide some examples later

[2016-10-31 16:49] chrislovecnm commented on #226
@starkers if you are able to assist with a PR, we would love to see this in.  We are currently prioritizing work on security for 1.5 and 1.6 releases, and security is a big chunk of the work

[2016-10-31 16:59] justinsb opened #762 "Automatically configure subdomain for Route53/Route53 case"
We can automatically configure NS records for a subdomain in the route53/route53 case.

We should maybe do this.  Or maybe just beef up the documentation.  Maybe even have a video!

[2016-10-31 17:45] PendletonJones commented on #762
Even if the process ends up being tedious to automate or people don't have time or something, the section of the kubernetes documentation where they walk you through setting up with kops could benefit from some clarification.

In particular it would be very helpful if the following passage were more clear about the fact that you *copy* the NS records created automatically in the hosted zone for th

[2016-10-31 18:13] justinsb opened #763 "Link to imagebuilder from docs"
We need a link to https://github.com/kubernetes/kube-deploy/tree/master/imagebuilder from https://github.com/kubernetes/kops/blob/master/docs/images.md to explain where the image comes from

[2016-10-31 18:24] chrislovecnm opened #764 "CNI Networking install"
Test if you have to install CNI on the master.  This would need to be a documented step, or a step that we need to automate.

[2016-10-31 22:36] zmerlynn commented on #700
@luxas: I believe so, yeah.

[2016-10-31 23:03] justinsb opened #767 "User reported issue"
From slack:

kubelet in kops is having trouble starting .. this seems to be the cause:
[code]

then there is
[code]

and in docker im seeing
[code]

Yeah ok. Ive tried about 6 terminations and it keeps happening. Im guess there is more to it.  The cloud-final service seems to fail:
[code]

My create looked like the following:

[code]

[2016-11-01 00:45] bernielomax commented on #767
Docker seems to work initially then falls over:
[code]
I can also confirm that deleting /var/lib/docker and restarting does not fix the issue. The only way I have found to get docker to start is by installing docker v1.12.3

[2016-11-01 02:40] bernielomax commented on #767
Changing the node instance type in the cluster to t2.medium seem to resolve the issue.

[2016-11-01 03:58] justinsb opened #768 "Rolling-update in HA master is broken / slow"
`kops rolling-update cluster` with an HA cluster restarted the first node, but did not make any progress after > 5 minutes.

[2016-11-01 04:25] bernielomax commented on #767
After working with @justinsb on this issue it seems that it was likely caused by creating the cluster with an older version of kops. After using version 1.4.1 to perform a `kops udpate`  and a `kops rolling-update` the cluster started behaving as expected. However during the initial rolling update (without the master interval param) the update appeared to hang after shutting down the first node. S

[2016-11-01 05:53] kris-nova commented on #740
@chrislovecnm - Assigning to you - can you get a PR out please?

[2016-11-01 05:58] kris-nova commented on #758
What version/release is this error reported from? Also which arch type?

Unable to recreate here Darwin / HEAD:master

[2016-11-01 06:01] justinsb commented on #535
Yes, it works from 1.3 as well.

The downside is that I think you have to build from master right now, as I think some bugs crept in (in particular that it will immediately reject the import attempt because the old name isn't a valid DNS name)

[2016-11-01 06:01] justinsb commented on #535
That will be fixed when we do the next release though!

[2016-11-01 07:26] chrislovecnm commented on #740
Opps

[2016-11-01 07:58] exul commented on #758
I was the one who reported the issue, I hope this contains all the relevant output:

[code]

[2016-11-01 15:15] druidsbane commented on #428
@kris-nova @chrislovecnm How is that demo going?  :)  This would be super-useful for creating a simple kubernetes cluster without having to modify the kops terraform output to create the private subnets.  Also, hoping for user-supplied security-groups on instance groups soon as well!

[2016-11-01 18:08] chrislovecnm commented on #641
`kops get secrets kube --type secret -oplaintext` is deep in the droves of documentation.  Consolidate a cheat sheet / quick start guide

[2016-11-01 18:22] zmerlynn commented on #705
Should be fixed by kubernetes/kubernetes#35937 (fingers crossed)

[2016-11-01 18:22] #705 closed

[2016-11-01 18:39] iherbmatt commented on #615
Did you find any resolution to this issue? I'm seeing it as well.

[2016-11-01 21:24] arun-gupta opened #770 "Clusters cannot span multiple regions - not able to create cluster"
Using 1.4.1 to create a cluster as:

[code]

This fails with the following error message:

[code]

[2016-11-01 21:52] chrislovecnm opened #771 "link linter for docs"
K8s and other projects have a linter that checks the links on markdown documents.

[2016-11-01 21:52] watkinsv-hp opened #772 "separate instancegroup for etcd"
@justinb proposed specifying instancegroups in kops for etcd clusters rather than zones in #732. The driving goal is to provide a level of resilience for kubernetes masters "and cope with clouds where the zones concept doesn't necessarily apply" (justinb).

I imagine this looking something like `kops --num-etcds=3 --num-nodes 10 --num-masters 2 clustername.example.com`

I cannot hope to one-up Kel

[2016-11-01 22:10] chrislovecnm commented on #754
@kris-nova is there a security benefit?

[2016-11-01 22:10] razic opened #773 "Migrating from default networking to CNI"
Hey... I tried following the docs here:

https://github.com/kubernetes/kops/blob/master/docs/networking.md

But was unable to successfully migrate my existing cluster. Some context:

The cluster was originally created with `kops`. It has practically default everything, except that it specifies HA masters (i.e `--master-zones`).

I started by running `kops edit cluster`. When the editor came up, I

[2016-11-01 22:59] arun-gupta commented on #770
Cluster could be created as:

[code]

[2016-11-01 23:09] bernielomax commented on #768
When I ran this job again using the master interval to 2 seconds it completed almost immediately. I then ran a rolling update without the master interval set and it worked this time round. It could have possibly been related to the fact that the cluster was in failed state. Non schedulers were running, etc. This was caused by issue https://github.com/kubernetes/kops/issues/767

[2016-11-01 23:10] zmerlynn opened #774 "e2e failure: Kubernetes Dashboard should check that the kubernetes-dashboard instance"
See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws/1/#k8sio-kubernetes-dashboard-should-check-that-the-kubernetes-dashboard-instance-is-alive

This one has an obvious cause: `kops` doesn't launch the dashboard by default, `kube-up.sh` does.

[2016-11-01 23:12] hsyed commented on #428
I have put together almost the exact same architecture as listed above. We are trying to get this to a state for production usage.I generate the VPC in terraform and then graft the output of kops onto the VPC output.

Weavenet doesn't stay stable for very long. When I begin populating services into the cluster. It ends with all sorts of networking weirdness I can't diagnose (kubedns becoming blind

[2016-11-01 23:13] zmerlynn opened #775 "e2e failure: Services should be able to create a functioning NodePort service"
See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws/1/#k8sio-services-should-be-able-to-create-a-functioning-nodeport-service

This one is because we're not doing any of the stuff in [`test-setup`](https://github.com/kubernetes/kubernetes/blob/712d3d2cd3abe3bf862f813c0969f04d2454afb2/cluster/aws/util.sh#L1558) for `kops` e2e.

[2016-11-01 23:43] chrislovecnm commented on #428
@hsyed need more details on weave. Can you provide details on an open cni issue?

Work still in progress with weave

[2016-11-02 00:40] justinsb opened #776 "Need to reduce cpu requests on master"
We don't have enough CPU left for a weave/calico daemonset.

Compounded by kubernetes/kubernetes#31369 when using a machine with a single core.

[2016-11-02 00:41] justinsb opened #777 "Should automatically install cni manifest"
Just like we do dns-controller, as otherwise we have to SSH to the master

[2016-11-02 00:41] justinsb opened #778 "Weave errors during bootstrap"
When using weave, when a node first comes up it isn't really ready; this self heals though:

[code]

[2016-11-02 00:42] justinsb opened #779 "Weave problems at ~ 125 nodes"
At 125 nodes running the guestbook app, started seeing this error:

[code]

[2016-11-02 00:49] chrislovecnm commented on #777
Can we do this via addons or do we need another enntrypoint?

[2016-11-02 00:56] chrislovecnm commented on #776
So a couple of choices. First if we are installing cni, we can lower the CPU weave. Secondly which items are sized too large??

[2016-11-02 00:57] chrislovecnm commented on #779
This was the same problem that you where probably trying to solve wit sig networking. That exception that you where discussing. I wills check with the weave folks.

[2016-11-02 01:02] chrislovecnm commented on #779
Will investigate more

[2016-11-02 01:34] chrislovecnm commented on #776
Initially going to address this via docs. You need to consider you master size not blindly ;)

[2016-11-02 02:29] druidsbane opened #780 "Lack of Internet Gateway is Fatal Error on Existing Private VPC"
Hi,

It would be useful to not require an internet gateway when setting up on a pre-existing VPC, especially if it is intended to be completely internal and not have public IP's.  Currently it fails with:

[code]

Is there a flag that we can use today to not require it?

Also might be useful option to ensure works when implementing: #428 #694

[2016-11-02 07:16] starkers commented on #772
I would like this for production worthy deploys (or at least the option)

[2016-11-02 12:53] jschneiderhan commented on #428
I'm very excited to see all of the progress on this issue! Thanks for all the hard work!

I have been running a cluster in AWS using a setup similar to the "private" topology mentioned in #694. and pretty much a spot on match to to the diagram @jkemp101 created above, where each private subnet has a public "utility" subnet with its own NAT gateway and corresponding route tables which send 0.0.0.0/

[2016-11-02 14:33] billyshambrook opened #781 "Error doing DNS lookup for NS records when using a Private DNS zone"
Since 621dec765da9778b06035a80cdde61216f249934, I have started to get the following error when I try to use KOPS with just a Private DNS zone.

This may impact the current private networking work...

[code]

[code]

Thanks

[2016-11-02 14:45] hsyed commented on #428
@JSchneiderhan  I do not know what approach is being taken by the work being done by @kris-nova. I assumed it was updating multiple route tables.

I had a realisation that there is an alternative architecture that could work. We would need a second network interface on each node. This would be 9 Subnets per cluster. 3 Subnets for kubenet connected to the route table it manages, 3 additional subnet

[2016-11-02 14:46] chrislovecnm commented on #772
Who has this setup in production? Who can actually give us non-anecdotal data that this setup actually provides value?

[2016-11-02 14:47] chrislovecnm commented on #774
Lol

[2016-11-02 15:02] johnt337 commented on #274
@chrislovecnm @kris-nova thanks for responding. I haven't started anything, but will do.

[2016-11-02 15:15] hsyed commented on #778
I see the following errors right off of bootstrap. I'm running a 3 private subnet  - 3 nat gateway - 3 public subnet. non standard setup. I don't know the implications of these errors as the cluster continuous to work for a while.

[code]

[2016-11-02 15:24] watkinsv-hp commented on #772
The number of production deploys with this may be low because kops provides such great value out of the box. I'm betting a lot of people are willing to trade off for the excellent convenience of deploying Kubernetes clusters without having to write their own automation. Would it be better to weigh the pros and cons? Respectfully, should we take a closer look at some of the "whys?" behind your rese

[2016-11-02 16:17] keglevich3 opened #782 "Allow to set SG for InstanceGroup"
I would like to be able to set/append existing SG to InstanceGroup.
This should be available on the initial creation of the cluster and on update InstanceGroup.
The use-case:
Some entreprises insist that the IT will create all the AWS components like SG and the DevOps need to use them.

[2016-11-02 16:40] chrislovecnm opened #783 "Cobra improvements"
1. Generate documentations from Cobra
2. Enable autocomplete functionality from Cobra

[2016-11-02 16:49] chrislovecnm opened #784 "Cleanup and improve examples"
Let's have more examples and more robust examples!

[2016-11-02 17:05] chrislovecnm opened #785 "Developer Cheatsheet and Lifecycle Examples"
Commands like this

[code]

are gold ... document

[2016-11-02 17:27] austinmoore- opened #786 "Relax VPC DNS requirements for 1.5"
kops (and Kubernetes) require that the "DNS resolution" and "DNS hostnames" options be enabled on a VPC. If Kubernetes 1.5 has this requirement relaxed, kops should should relax the requirement as well. I do think there should still be a warning of some kind though. There should also probably be a section about when to disable these options in the [running in existing VPC](https://github.com/kuber

[2016-11-02 17:36] chrislovecnm opened #787 "CNI install problems"
Here you go

[2016-11-02 17:47] jschneiderhan commented on #428
@kris-nova I'd be happy to add an issue over in the kubernetes project, but before I do I could use another pair of eyes to make sure I'm not just being stupid:

I think for all of this (really awesome) work to function in AWS without and overlay network, an improvement needs to be make to kubernetes itself. If a subnet-per-AZ is being created, we will end up with multiple VPC routing tables that

[2016-11-02 18:02] bbriggs opened #788 "Terraform output does not generate Route53 resources"

[2016-11-02 18:09] hsyed commented on #787
Cluster setup process.

1. Create a static VPC with Terraform (10.1.0.0/16)
  1. 3 subnets + 3 route tables for NAT based network egress in each AZ in eu-west-1.

  2. 3 Public subnets tagged with `KubeneretesCluster` with the cluster-id of the cluster we are about to create.

  3. 3 private subnets associated with the route table of the AZ (the route table has a nat peering route as well to 10.0.

[2016-11-02 18:34] hsyed commented on #787
---
Usage:

I have had a broken cluster 4 times now. I don't have a malfunctioning cluster any longer -- I have a fresh one now. I get to a problematic cluster by trying to populate it with what we will be running on the dev / prod cluster(s) -- my current goal is setting up an internal docker server. I'm learning k8s as I go along. The docker server recipe looks as follows:

1. Internal ELB creat

[2016-11-02 18:44] hsyed opened #789 "Support for adding user snippets to the user-data -- Perhaps a systemd unit abstraction ?"
My current use case is to mount an EFS drive on all cluster nodes. Perhaps there is support for doing this with DaemonSets -- or there is some other k8s mechanism for it. Regardless it would be nice if we could have abstractions for just verbatim appending user supplied chunks of data to the user-data scripts.

It would be fantastic if we could get some support at the level of coreos cloud-config

[2016-11-02 18:47] hsyed commented on #787
There is another issue here. For a private deploy could we get an alias setup from `api.*` to `api.internal` ?

[2016-11-02 19:19] bboreham commented on #787
Hi, I work on Weave Net.

Things are unlikely to work smoothly in this state.  Is that all the messages like that?  Could you post the whole log as a gist?

[2016-11-02 19:52] hsyed commented on #787
The log is quite repetitive. I don't see any output from the startup of the node but the timestamp of cluster boot seems correct.

https://gist.github.com/hsyed/6a9aa612ad145cbe88e0159a53fb8260

[2016-11-02 20:45] hsyed commented on #787
Here is an output from a fresh install.

https://gist.github.com/hsyed/88b89cf5fbac95b40596528b3b0c8efe

[2016-11-02 22:52] hsyed opened #790 "apiserver-count is zero in HA setup."
I'm seeing a lot of these in /var/log/kube-apiserver.log on my masters. 3x HA.

[code]

Googling indicates --apiserver-count should be set to 3 in this case but it is currently being set to 0.

[2016-11-02 22:56] chrislovecnm commented on #787
@hsyed I have not tested TF.... So that is a problem.  Can I look at those please?

[2016-11-02 22:57] chrislovecnm commented on #787
BTW ... holy crap dude.  You know how to file a bug.  NICE!!  I will go through tomorrow, and try to recreate.

[2016-11-02 23:28] ericsage opened #791 "Simple method for creating cluster centralized logging?"
With the kube-up script one could automatically setup elastisearch, kibana, and fluentd on each node to inject container logs for analysis. I need this functionality for a production deployment, but I don't see any documentation in Kops to set this up. Can Kops handle this during creation or as an add-on?

[2016-11-03 02:22] ajohnstone opened #792 "set hostname -f in nodes"
When launching a daemonset with ```hostNetwork: true```, ```hostname -f``` fails within pods and on the ec2 instance itself.

E.g.

[code]

If you ssh into the nodes and append entries to /etc/hosts hostname -f will succeed and additionally inside a container on that host with ```hostNetwork: true```.

As a result its suggested to bootstrap a EC2 node with the appended hostnames to /etc/hosts
This

[2016-11-03 02:42] chrislovecnm commented on #792
@ajohnstone is this required for CNI?

[2016-11-03 02:47] johnyzhu commented on #615
me too T_T  Is there any solution?

[2016-11-03 03:06] ajohnstone commented on #792
/etc/cloud/templates/hosts.debian.tmpl - could also set manage_etc_hosts: True in cloud-init.

"use host networking " - I meant hostNetwork, half asleep :)

[2016-11-03 03:09] kris-nova commented on #780
@druidsbane - I will look into how much it will take to get this into #694 - if it's a minor change I can shoehorn it in for you.

Otherwise this might have to be a feature added after the initial private networking PR goes through.

Either way I think it's a valid point, and worthwhile to get into the code base.

[2016-11-03 03:17] chrislovecnm opened #793 "TF support"
I know we have it ... people talk about if we keep it.  GO

[2016-11-03 03:47] chrislovecnm commented on #792
@ajohnstone ping me when you are rested ... still not understanding.

[2016-11-03 03:49] chrislovecnm commented on #791
@ericsage we only handle the base install.  We provision a production ready cluster, and the bare components to bootstrap the cluster.  No bells and whistles :)  You get to have fun and do that yourself!!

[2016-11-03 03:51] chrislovecnm commented on #789
We are installing the base install.  Bare bones.  If you need CM after the fact.  I encourage you to do that.

[2016-11-03 03:52] chrislovecnm commented on #788
Route53 resources??  More details please.

[2016-11-03 04:00] chrislovecnm commented on #786
Should ... please explain.  I like stuff that works... aka DNS.  Call me old school :)  How does this work in GCE??  We are going to support more than one cloud shortly.

[2016-11-03 04:06] yancl opened #794 "Can it work without Route53 support on aws?"
We have not Route53 function on aws, so can we use the kops? or how can we work around it
to build a production k8s cluster? thanks

[2016-11-03 04:06] chrislovecnm commented on #782
This is a duplicate ... :)  Take a look here. https://github.com/kubernetes/kops/issues?q=is%3Aopen+is%3Aissue+label%3Aarea%2Fsecurity

[2016-11-03 04:06] #782 closed

[2016-11-03 04:07] chrislovecnm commented on #790
Is this a functioning cluster out of the box?  What version of `kops`??

[2016-11-03 04:07] chrislovecnm commented on #781
@justinsb thoughts?

[2016-11-03 04:10] chrislovecnm commented on #775
@zmerlynn status on this?

[2016-11-03 04:14] chrislovecnm commented on #793
@justinsb thoughts?  Just concerned that if we don't have a testing framework this will slow down testing cycles.  I kinda like it ... kinda don't.  Thoughts?

[2016-11-03 04:16] chrislovecnm commented on #274
@johnt337 can we add this to the Jan 1 release??  No is a valid answer :)

[2016-11-03 04:17] chrislovecnm commented on #774
@zmerlynn to be clear at this time we don't want `kops` to install anything but the components needed to bootstrap k8s.  Dashboard is NOT required 🙊

[2016-11-03 04:18] chrislovecnm commented on #768
@bernielomax can you recreate this on a green field install?

[2016-11-03 05:11] kris-nova opened #795 "Cluster Spec YAML Beautification"
# So there is an **old school** sysadmin in me yet

But I am wondering if it would be prudent to clean up (beautify) the cluster spec YAML that is stored in the STATE_STORE.

## 1 - Directive descriptions from code

My first thought was to have the API documentation (in code) populate as YAML comments in the state.

So..

[code]

(in go) would translate to

[code]

(in yaml)

## 2 Default value de

[2016-11-03 05:49] chrislovecnm opened #796 "Pretty pictures in documentation"
Me love some pictures http://blog.couchbase.com/2016/november/multimaster-kubernetes-cluster-amazon-kops.  Would some stuff like this be helpful??

[2016-11-03 05:50] chrislovecnm commented on #795
Does it have the api version on it??  I think that is SUPER important.

[2016-11-03 05:51] chrislovecnm commented on #794
DNS / Route53 is required.  It is a base feature of aws. http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/Welcome.html

[2016-11-03 05:52] chrislovecnm commented on #793
@kris-nova ping :)

[2016-11-03 05:52] chrislovecnm commented on #615
Set your STATE_STORE :)  Either use the command line option or the env var.

[2016-11-03 06:05] chrislovecnm commented on #744
So this is a HUGE refactor.  We have to have e2e harness, and MAJOR unit tests in place.  There be BIG dragons....  Really big dragons here.

[2016-11-03 06:08] chrislovecnm opened #797 "README install instructions"
We need a bit better instructions for install in README.md.  Probably steal / model / reuse `helm`'s shell script.  Also we need to list that `kubectl` is required.

[2016-11-03 06:10] chrislovecnm commented on #797
Also @kris-nova that demo gif is so completely awesome, but you did not actually create a cluster :P  Thoughts?

[2016-11-03 06:17] chrislovecnm commented on #428
@justinsb thoughts about @jschneiderhan comment?  cc: @kubernetes/sig-network ~ can someone give @jschneiderhan any guideance?

@jschneiderhan we are only initially going to be running with CNI in private mode btw.

[2016-11-03 06:19] yancl commented on #794
@chrislovecnm  thanks for your reply, but the aws does not have Route53 in china region now:(.
So will you please give me some advise on how to deploy k8s for production?

I found the kube-up.sh is [deprecated for production use](http://kubernetes.io/docs/getting-started-guides/aws/#kube-up-bash-script) :(

[2016-11-03 07:05] kris-nova commented on #754
Lets catch up on this on our call tomorrow - I will follow up on the issue afterwards

@chrislovecnm

[2016-11-03 07:11] kris-nova commented on #783
Can I also suggest convenience flags?

EG: `--topology` has the alias `-t`

[2016-11-03 07:13] kris-nova commented on #784
@JuJu227 - Can I get a little verbage on what you would **love** to see here?

[2016-11-03 07:16] kris-nova commented on #785
1. Gotchas with developing kops
2. Commonly used commands (we should probably offer a developer bash/alias something to drop in `~/.bash_profile`)
3. How to test your code
4. `go fmt`

[2016-11-03 07:25] chrislovecnm commented on #783
Hooray

[2016-11-03 07:26] chrislovecnm commented on #794
Can u run it out of a region it is in?

[2016-11-03 07:27] kris-nova commented on #791
Is container logging bells and whistles? Or is this just one of the (more) rich features we could see from kops in the future?

Not that I think we should include this functionality in kops, but offering an avenue to extend kops might be worthwhile in cases like this. Thoughts?

[2016-11-03 07:27] keglevich3 commented on #224
+1

[2016-11-03 07:27] chrislovecnm commented on #794
also tell aws to get there act together and get route53 up... Not joking

[2016-11-03 07:29] kris-nova commented on #789
Pointing https://github.com/kubernetes/kops/issues/791 and https://github.com/kubernetes/kops/issues/789 to each other..

More use cases for extending kops

[2016-11-03 07:30] kris-nova commented on #788
How did you generate the TF config(s)? What was your kops command?

[2016-11-03 07:32] chrislovecnm commented on #791
Plugin model that we have talked about, could address this, but right now let's get deployments awesome. The problem is there are three different dashboards and 30 different logging options that I can pull off the top of my head. There are sister projects like helm that address installs very well. Deis has a couple of other projects as well.

Thoughts?

[2016-11-03 07:33] chrislovecnm commented on #791
We could look at a helm plugin ... Thoughts?

[2016-11-03 07:34] chrislovecnm commented on #788
DNS is usually done by the DNS controller so this ticket confuses me :P

[2016-11-03 07:38] kris-nova commented on #774
Another use case for extending kops

https://github.com/kubernetes/kops/issues/791
https://github.com/kubernetes/kops/issues/789

[2016-11-03 07:42] kris-nova commented on #796
I think this is a bigger task TBH - which is `tutorials`

I think kops should offer a `tutorials` section that attempts to go through a few commonly used cluster deployment scenarios in the same fashion that your wonderful link does.. Pretty pictures and all..

This could be a big part of 1.5

[2016-11-03 07:43] chrislovecnm commented on #772
Happy to setup a time on our next kops call. I love simple when it comes to DevOps. There are two sides that well etcd on another box is simpler. And the other side is etcd on the master with the API server is simpler.

I have run a cluster with 1009 nodes, single master with etcd on it. Was for a demo, not anything super heavy production wise, but 999 pets where happy chugging along.

I love data

[2016-11-03 07:43] kris-nova commented on #795
To give some clarity on @chrislovecnm's comment

We are looking at the YAML file housing the kops version, and current kops API version in the cluster spec as comments...

I smell a nice shiny header :)

[2016-11-03 07:45] kris-nova commented on #793
@chrislovecnm - This is a huge deal.. Can we clean this issue up and give it a little more context?

It would be great if we could see :

1. Why we are using Terraform targets in the first place
2. Why it would be wise to continue/stop supporting the target
3. Open questions to the community
4. Any data on current users

[2016-11-03 07:47] kris-nova commented on #615
This is big - I think kops needs

1. Better STATE_STORE output
2. To be smarter on detecting STATE_STORE from other input

CC https://github.com/kubernetes/kops/issues/702

[2016-11-03 07:48] kris-nova commented on #744
We know - but its a necessary evil - and we need to start discussions on this

[2016-11-03 07:50] kris-nova commented on #797
Nope - I sure didn't!

But my original goal of getting a GIF out there so we can discuss how to make it better seems to be working..

What do we want to see here?

Ideas:

1. Single command k8s install
2. Elegant create/edit/update flow

Thoughts?

[2016-11-03 07:57] kris-nova commented on #797
Lets hit this tomorrow on our call - once I have the commands I can record it and get it out

.. Also I want to spritz up my `emacs` a bit before recording <3

[2016-11-03 08:03] kris-nova commented on #795
Just throwing this out there...

[code]

[2016-11-03 09:17] yancl commented on #794
Thanks for your great advise, chrislovecnm, i will contact aws to make sure they can support that:)

[2016-11-03 10:02] yancl commented on #794
@chrislovecnm according to the reply from aws, china region has its own IAM systems that is isolated from aws global. so there can't be an aws account that can simultaneously operate instances in china region and Route53 service in global. so we can't make it work in this situation.

So can i change the DNS record in my public/private DNS, and change the kops code to ignore the **change DNS ** ope

[2016-11-03 12:18] hsyed commented on #790
The cluster is working beyond networking problems with weave net. Kops version is git-18cc365.

[2016-11-03 13:40] bbriggs commented on #788
Whoa responses! AHHHH!

Y'all are right, I needed to do a better job describing this initially and that's on me.

So here's what I'm seeing. I create a cluster using `kops create cluster --name a.domain.i.own.io --zones=us-west-2a` and kops generates the cluster config as expected. Then, as noted in the docs, I do a `kops update cluster --target=terraform` and I get a complete TF config dropped in

[2016-11-03 13:49] shamil commented on #788
@bbriggs in `kops` 1.4 all DNS entries generated by DNS controller, which runs on master.

neither `kops` or `terraform` do it directly. AFAIK...

[2016-11-03 14:10] bbriggs commented on #788
kops is doing something TF is not, for sure.

These A records get created when doing a `create`. They're not represented in TF (although all the other resources like security groups, EC2 instances, etc. are)
<img width="613" alt="screen shot 2016-11-03 at 10 02 52 am" src="https://cloud.githubusercontent.com/assets/2350379/19969116/b7a9286c-a1ad-11e6-865f-6f6669c2208a.png">

[2016-11-03 14:17] shamil commented on #788
I'm using TF, and those records are created by DNS controller, once master finishes bootsraping...

[2016-11-03 14:28] bbriggs commented on #788
How long should I wait? I created two clusters, one using just Kops and the other using TF. The records showed up right away when using Kops only, but never showed up when using TF.

I did try to give TF some time to bake, but 6 hours seems a bit excessive :/

[2016-11-03 14:32] shamil commented on #788
Right 6 hours is way longer that it should be :)
I suggest, login to master and look at the `protokube`/`kubectl` logs for any errors

[2016-11-03 14:34] bbriggs commented on #788
Will do. So how are DNS records propagating to route53 then, if not via TF or Kops? It seems like kubes wouldn't know how to authenticate to the AWS API with my creds and do this.

[2016-11-03 14:40] callmeradical commented on #793
As a Kops user, I really like the output to terraform. I think it becomes less of a blackbox and makes it easy to customize what Kops is launching. Most of our other infrastructure is managed via terraform and it eases the learning curve a little bit.

[2016-11-03 14:44] callmeradical commented on #788
I am actually having this issue also. This didn't seem to be a problem when running kops 1.4alpha1. I just upgraded and launched a couple clusters and it seems I am having this issue now. Also previously launched clusters were Kubernetes 1.3~

[2016-11-03 15:05] yancl opened #799 "Update the version of aws-sdk-go to be above v1.3.0?"
During the use of the latest release branch, I found the aws-sdk-go repos version is v1.2.7, which
does not read the ~/.aws/config, that will cause problem in china region like following:
[code]

if the aws-sdk-go lib can read the ~/.aws/config, it will know that we are in `cn-north-1` region and access the right S3 service.

So will you please update the dependency of aws-sdk-go to be above v1.3.

[2016-11-03 15:43] yissachar commented on #786
See also https://github.com/kubernetes/kops/issues/786

[2016-11-03 15:49] austinmoore- commented on #786
These options are Amazon VPC specific. I should have been more clear about that in the OP. These options are enforced [here](https://github.com/kubernetes/kops/blob/v1.4.1/upup/pkg/fi/cloudup/awstasks/vpc.go#L112) which is under `awstasks`.

I'm not very familiar with GCE, but it's my understanding that GCE instances always have a FQDN so there are no similar options. I am not seeing any similar r

[2016-11-03 15:50] austinmoore- commented on #786
@yissachar Wrong issue? :)

[2016-11-03 15:51] yissachar commented on #786
Uhh, oops, meant https://github.com/kubernetes/kops/issues/399

[2016-11-03 16:04] shamil commented on #788
`kops` generates IAM roles for master which includes authorization to Route53

[2016-11-03 16:09] yissachar commented on #791
See https://github.com/kubernetes/kops/issues/791

[2016-11-03 16:11] yissachar commented on #232
This is actually supported already, see https://github.com/kubernetes/kops/blob/master/docs/run_in_existing_vpc.md#running-in-a-shared-subnet

[2016-11-03 16:16] yissachar commented on #192
Related to https://github.com/kubernetes/kops/issues/476

[2016-11-03 16:30] kelseyhightower commented on #772
@chrislovecnm My comments are based on experience supporting people running etcd in production while employed at CoreOS (were we also ran etcd in production). Just like any database you have to consider the tradeoff of running your database on the same machines as the application(s) accessing them.

In some cases you can get away with running the database side by side on the same machine, in other

[2016-11-03 16:31] rdtr commented on #779
Although I do not use kops and manually deployed k8s cluster by using CoreOS's way, I'm currently seeing the exactly same error message.

`E1101 15:47:49.843097       1 endpoints_controller.go:513] Endpoints "node-exporter" is invalid: [subsets[0].addresses[0].nodeName: Forbidden: Cannot change NodeName for 172.18.64.5 to ip-172-18-64-5.ec2.internal, subsets[0].addresses[1].nodeName: Forbidden: Ca

[2016-11-03 17:06] jschneiderhan opened #800 "Support internal DNS names when exporting kubecfg"
When I created my cluster, I specified the `--admin-access` flag to the CIDR of a management subnet in my VPC. I connect to the management subnet using a VPN server, which gives me network access to the machines in my cluster.

When I run a `kops export kubecfg`, it populates my `~/.kube.config` using the public DNS entry for my cluster instead, which isn't reachable from my workstation. If I chan

[2016-11-03 17:11] callmeradical commented on #767
Hey I am experiencing a similar issues standing up a brand new cluster. Every single node has a problem with docker 1.11.2 starting. As a result it can't run the kubelet or isn't running it.

[2016-11-03 17:12] callmeradical commented on #788
@bbriggs are you sure that your kubelet is launching properly? I am having an issue referenced over here #767

[2016-11-03 18:42] austinmoore- opened #801 "kops import: Support kops created clusters"
`kops import` is intended for use with clusters created with kube-up. If it could support kops created clusters as well, when paired with Terraform (or other output format someday) it could become a great way to ensure cluster infrastructure can be completely rebuilt from scratch.

[2016-11-03 19:13] fluential opened #802 "How do you switch to rkt container?"
2delete

[2016-11-03 19:26] ericsage commented on #791
I would much prefer an opinionated solution exist today like the one we received with the kube up script, it was a big selling point for my team that we would not need to setup a centralized logging stack on our own. We are a small team in a cancer research lab with limited capacity for Ops. In the meantime, if there are instructions on how to setup such a stack manually, I have had a hard time fi

[2016-11-03 19:32] #802 closed

[2016-11-03 20:59] chrislovecnm commented on #799
@yancl thanks ... will look at what it will take to upgrade.

[2016-11-03 21:01] kris-nova commented on #428
If you are interested in testing the current branch you are welcome to run it. More information can be found in the PR https://github.com/kubernetes/kops/pull/694

[2016-11-03 21:17] chrislovecnm commented on #791
@ericsage I get you and I think we can beef up documentation more on how to install these components.  The components included are not difficult to install, just the knowledge I think is buried.

K8s and turn key :)  That is a lofty goal, not saying it is impossible, but lofty.

[2016-11-03 21:23] chrislovecnm commented on #794
@yancl part of the challenge is that DNS is used for internal system discovery.  We would need another DNS server in place and configure the cluster to use it.  Not impossible, but not trivial.

[2016-11-03 21:32] chrislovecnm commented on #772
@kelseyhightower appreciate the incite.  I do like the use cases that you bring up, and I am wondering who can help us with more information of what has occurred in a production environment.  What has worked well, and what has fallen down.

To me, it comes down to how to run etcd and the kubernetes components well.  Frankly, I do not have enough information to make an educated opinion that I would

[2016-11-03 23:43] chrislovecnm commented on #752
Command show the beautiful yaml :)

`kops get cluster --name $NAME -o yaml --full`

[2016-11-04 00:10] ese opened #803 "Support taints in instancegroup configuration"
Sometimes is useful have instance groups dedicated for specific tasks. For example currently masters are being taint with `dedicated=master:NoSchedule` in order to have a fine grain control about what you want to run in those specific nodes
As cluster administrator you can also want to have other instances groups with different taints key,values to schedule different workloads. This should be done

[2016-11-04 03:49] justinsb commented on #800
Interesting!  Can you explain a little bit more about your setup?

* Is there any way we can know the internal name?
* How are you doing this?  Is this something we should recommend for people so they can use private hosted zones?

[2016-11-04 03:58] justinsb commented on #793
I think we should keep it; though we probably need more of an explanation of the limitations and how to work with it.  Specifically:

* That we still generate some files in S3 directly
* That you probably want to continue to make changes through kops, even if you export to TF
* If you want to make your own changes, you can do that using git and branches
* But you probably should ask us to build th

[2016-11-04 04:02] justinsb commented on #771
I feel like we could collect these into an issue which is essentially "if kubernetes is going to be multi-repo, we have to figure out how not to copy and paste a bunch of infrastructure between projects."

Also, these should be run by k8s-the-group, using k8s-the-system, in Jobs that run in parallel :-)  Or in Bazel...

[2016-11-04 04:45] justinsb commented on #615
@iherbmatt @johnyzhu wondering if you didn't find the instructions, or if they weren't sufficiently clear?

I think we probably need a very explicit step-by-step guide.

I'll also fix the error message though....

[2016-11-04 04:46] johnt337 commented on #274
@chrislovecnm my gut says no, but i'd like to look further before I commit to that statement.

So at a glance I appears that lives under nodeup and you already have a structure in place for different os families.

[code]

My initials thoughts

1. docker/rkt are bundled by default with CoreOS so its a matter of what configs we need to apply to satisfy k8s. Patterns for handling this the "CoreOS way

[2016-11-04 09:56] hsyed commented on #793
I use terraform for all sorts of things. I have peering connections, public / private subnets and an EFS drive to name a few. I have tweaked a lot over the past few weeks to get a nearly working 3x ha solution. Weavenet is unstable for me.

Having peeked a bit under the covers I wonder why it isnt the only way of bootstrapping a cluster most of the magic occurs in nodeup and protokube.

[2016-11-04 10:32] yancl commented on #794
@chrislovecnm  thank you for your detail explanation, it really helps me a lot.  According to the feedbacks from aws, there will not be Route53 in our region. but there are a lot of k8s users and aws users, most of important, the kops is so great for aws k8s management.

So should i issue a feature for kops that support not only Rout53 for master-ip&etc discovery?
for example, specify the master o

[2016-11-04 14:02] callmeradical commented on #274
To number 4, particularly embedding the k8s manifests etc., couldn't it be bundled in a container as well? If the installed items are also to be containers?

[2016-11-04 14:04] kris-nova commented on #615
Closing - #808

[2016-11-04 14:04] #615 closed

[2016-11-04 14:05] jschneiderhan commented on #800
A bit more information about my setup:

I have a few VPCs, all of which existing before I spun up my k8s cluster. One is a management network (172.16.0.0/16) which has an OpenVPN server and a few other monitoring servers in it. The other VPCs are just for different environments (dev/staging/production). Most of our servers are in private subnets without public IPs, with most internet traffic comin

[2016-11-04 15:49] justinsb opened #809 "Need a step-by-step tutorial"
Some of the steps are getting skipped :-)

[2016-11-04 15:49] justinsb commented on #615
I'll open an issue for the need for a step-by-step tutorial...

[2016-11-04 16:35] billyshambrook commented on #793
TF support is a key feature for why we chose KOPS, as we have a CD pipeline setup to deploy infra changes using Terraform.

We can integrate KOPS into our pipeline by running the KOPS CLI manually to design the changes, then output the TF config and add that to our infra TF repo which runs through our pipeline to apply the changes to the various environments.

Another added benefit of this feature

[2016-11-04 16:38] kris-nova commented on #809
Are we talking about the gifcast - or another tutorial somewhere?

[2016-11-04 16:43] billyshambrook commented on #788
I have had some instances where the DNS records were not created by protokube, and this was always due to me being sneaky and editing the terraform output before applying it and screwing it up.

My normal debug steps are....

1. SSH into a master instance and run `sudo docker ps` to see if anything is running under docker. If not, check the syslog and you will probably find the error.
2. If there

[2016-11-04 16:56] callmeradical commented on #767
Turns out my issue was exactly as @bernielomax described.

[2016-11-04 17:45] chrislovecnm commented on #793
Cool... Thanks for the feedback.  We need to get more testing around it!!!

[2016-11-04 17:51] chrislovecnm commented on #801
What do you mean?

[2016-11-04 18:10] chrislovecnm commented on #777
@razic all yours!

What we talked about

1. add the networking options to actually vendors that are supported
2. leave cni option to leave an option open to install something that is not tested
3. create a new weave option
4. include weave daemonset in the bootstrap addons section as optional (go template)
5. make the weave option include the the weave daemonset on install

Questions?

[2016-11-04 18:51] kris-nova commented on #777
1. Version our manifests by vendor

[code]

2. Can we get a write up on design/proposed approach in the WIP PR

[2016-11-04 20:32] austinmoore- commented on #801
I'm imagining a worst case scenario where all cloud resources are destroyed. While unlikely, it is important to be capable of completely recovering from such a scenario. Describing infrastructure as code is a great way to do this, and the Terraform support in kops can provide this. However, since everything is gone - including the kops state store in S3 - the cluster created with TF cannot be mana

[2016-11-04 21:10] chrislovecnm commented on #777
@bboreham this is the ticket that I mentioned.  @razic is going to be taking a stab at it, and basically, we will be moving the weave ds into the source model.  Have some other issues which I have not gotten a chance to test again, but I am guessing most of them are around known CNI issues with K8s.

[2016-11-04 21:47] chrislovecnm commented on #709
@caseydavenport you can coordinate with @razic on this.  He is dropping in support for weave.  Here is the issue https://github.com/kubernetes/kops/issues/777 as well.

[2016-11-04 21:50] caseydavenport commented on #709
@chrislovecnm @razic happy to coordinate.

I'll also introduce @heschlie.

[2016-11-04 21:51] chrislovecnm commented on #709
@caseydavenport who do you want this assigned to?

[2016-11-04 22:18] nelson9087 commented on #799
I tried out this branch using our govcloud aws account.  It wouldn't work until I changed the two references with hardcoded regions to not set the region.
[code]

[code]

Also, had to set the environment variable
`AWS_SDK_LOAD_CONFIG=1`

If the region is specified in code (as it was before changing it as mentioned above), it always overrides the config AWS_SDK_LOAD_CONFIG or the AWS_REGION environ

[2016-11-05 00:28] billyshambrook commented on #783
I thought I would take a stab at this, have opened a PR, thanks

[2016-11-05 05:48] justinsb opened #813 "Bug in security group matching"
Our go report card highlighted this, in upup/pkg/fi/cloudup/awstasks/securitygroup.go:

[code]

We build filters, but then don't use it...

[2016-11-05 07:25] Buzer commented on #709
Currently following was required when installing Calico on multi-AZ kops cluster which was created with cni networking:

1. Modify calico.yaml with following

  1.1. Add annotations (this should be fixed with https://github.com/projectcalico/calico/pull/163)
  1.2. Change latest tags to actual versions
  1.3. Change etcd_endpoints to list of etcd nodes (`http://etcd-$AZ.internal.$NAME:4001`)
2. Ch

[2016-11-05 08:25] gladiatr72 commented on #800
@jschneiderhan, Hey there.  AWS uses the split-horizon DNS model--if you resolve one of their generated host names from within a VPC's address space you'll get VPC IP addresses; outside of their networks you are served the EIP of the instance.

[2016-11-05 08:53] yancl commented on #799
@nelson9087   you are right, when i first run into the problem, i think it was only the current version aws-sdk-go the kops referenced that does not read the `~/.aws/config`  cause the problem, but after i run the higher version aws-sdk-go, it can not work as aspect. then after i make changes to the **hard coded** code you mentioned, it works fine with s3 operations.

So maybe we should also chang

[2016-11-05 09:47] yancl commented on #172
@justinsb  just like what @chrislovecnm talks with me in this issue #794 several days ago, we have not Route53 support in our region, and there is no plan for it from aws. so we really hope `kops` can start clusters without Route53 support.

Currently, to work around the problem, I just change the code related with Route53 and make it generates `terraform` code and apply it and change some configs

[2016-11-05 12:18] zapman449 commented on #203
@chrislovecnm would an approach like https://github.com/kubernetes/kops/issues/618#issuecomment-252804973 allow you to specify the arguments needed?

This ignores how to actually retrieve the --authorization-policy-file (presumably from KOPS_STATE_STORE)... but that's probably solvable.

[2016-11-05 14:25] chrislovecnm commented on #793
Another reason to keep TF https://github.com/kubernetes/kops/issues/172 - people can generate good solid server layout then make modifications that they need.

[2016-11-05 15:11] kris-nova opened #815 "Kops API/Swagger Spec"
So now that we have a lovely kops API - I think we should get in the habit of documenting it. I think we should follow the kubernetes approach and generate a swagger spec/contract.

It would be great to look at generating a spec/contract from our go code as well! (I know, generating code that generates documentation.. right?)  But having the notes from the API definition in `go` would be very valu

[2016-11-05 15:56] chrislovecnm commented on #815
So API docs make sense.  With the swagger we need to figure out how we are making an API outa this :)  If we embed this into the K8s API server, it may gen the swagger for us.  Not sure.

[2016-11-05 15:58] chrislovecnm commented on #799
@yancl so if you have a different issue please open a separate issue :)  @justinsb has a PR in for the API upgrade.  Just double checking a couple of things with him.

[2016-11-05 15:59] chrislovecnm commented on #793
Thanks folks ... GREAT feedback.  Support is here to stay :)  @justinsb do you have TF support for gcloud?

Closing.

[2016-11-05 15:59] #793 closed

[2016-11-05 16:01] chrislovecnm commented on #794
@yancl on another issue @justinsb mentioned that in non-ha-mode this should work.  We have a PR in that will probably get around this problem.  I do not recommend non-ha in production, and we probably need to look at other options.  Can you recommend another DNS server that has an API that we could hook into?

[2016-11-05 16:13] chrislovecnm opened #816 "Document TF Support Better"
From @justinsb - think we should keep it; though we probably need more of an explanation of the limitations and how to work with it. Specifically:

* That we still generate some files in S3 directly
* That you probably want to continue to make changes through kops, even if you export to TF
* If you want to make your own changes, you can do that using git and branches
* But you probably should ask

[2016-11-05 17:51] caseydavenport commented on #709
@Buzer thanks for the detailed steps :)

Sounds like we need to get projectcalico/calico#163 merged and into a release to address 1.1 and 1.2 above.

For 1.3, `etcd_endpoints` will likely need to be templated, _or_ we could set up a Kubernetes service which fronts the etcd cluster with a well-known clusterIP, similar to kubedns?

For 4.1, we do something similar for `kubeadm` - we tell Calico not

[2016-11-05 17:54] caseydavenport commented on #709
@chrislovecnm could you assign @heschlie?  Thanks!

[2016-11-05 18:32] chrislovecnm commented on #709
He is not a member of the kubernetes org, so alas I cannot.  Will keep it assigned to you..

[2016-11-05 18:33] caseydavenport commented on #709
Ah, right.  Fine to keep assigned to me!

[2016-11-05 19:16] chrislovecnm commented on #709
SGTM

[2016-11-05 20:43] zapman449 commented on #748
Not a deep enough sample size, but a good start:  (file x has output of vpc flow logs):

[code]

Those awk filters translate to:
The filters are
1. source not equal to the IP of master,
2. source and destination port not 443
3. Ignore rules rejected by the SG already

I'll try to dig deeper to prove that assertion, but early results indicate the master only needs to be accessed by:
1. ADMIN_CIDR o

[2016-11-05 20:53] zapman449 commented on #748
Further, to clarify: The master should be able to touch the nodes on all ports.  But the nodes should only need to talk to the master on port 443... not all traffic.

[2016-11-05 20:57] zapman449 commented on #748
If heapster is a concern, we would also need to allow node-> master over port 4194/tcp  (--cadisor-port)

[2016-11-05 21:00] zapman449 commented on #748
[code]

I believe we can ignore the 10k ports.  That leaves 22, 4194 and 443.

[2016-11-05 23:57] #799 closed

[2016-11-06 03:06] yancl commented on #799
@chrislovecnm ok, thanks:)

[2016-11-06 16:48] Buzer commented on #709
I'm not too familiar with etcd's (or kubernetes services) internals, but how well it would deal with various error situations? And does etcd allow writing to any node (ex. do non-leader nodes internally forward requests that they cannot handle to current leader or is it clients' responsibility)?

Job approach sounds good. I was thinking it initially, but couldn't find a way to disable automatic po

[2016-11-06 18:16] chrislovecnm opened #820 "Get test coverage badge in README"
This is going to probably have to wait till we have a tad bit better code coverage, but it would at least show us where it is lacking.

The below markup is from the kubernetes project.

[code]

[2016-11-06 18:47] justinsb opened #821 "Ensure etcd is not reachable from nodes"
etcd ports should not be reachable from the nodes.

@zapman449 reported that it was (thanks for the heads-up)

[2016-11-06 18:48] justinsb opened #822 "Ensure etcd is encrypted in HA mode"
When running in HA mode, etcd peer-to-peer traffic should use TLS

[2016-11-06 19:13] chrislovecnm commented on #822
Is it not? This is a duplicate btw.

[2016-11-06 19:15] chrislovecnm commented on #230
Duplicate of https://github.com/kubernetes/kops/issues/230

[2016-11-07 01:06] stonith commented on #709
I've been trying to get this working and found that latest(master) referenced in the [k8s hosted calico.yaml](http://docs.projectcalico.org/master/getting-started/kubernetes/installation/hosted/calico.yaml) doesn't seem to work for me, it can't route to the internet but other version do work such as `v1.0.0-beta-4-gfd4cf3c`.

Also, with the v1 beta changes, updating the pool is slightly different:

[2016-11-07 02:57] justinsb opened #828 "Add default ssh users"
At least to the docs.  Maybe to the recommended commands as well (but this would mean "knowing" what type of image it was).

debian: admin
ubuntu: ubuntu
rhel: ec2-user
centos: ?

[2016-11-07 03:17] justinsb commented on #668
Sorry it took me so long to get to this.  The issue is the apiserver calls out to the AWS API in one place - when labelling a volume with zone information.  But apiserver didn't have /etc/pki/ca-trust mounted - I think I removed it before we were targeting RHEL/CentOS.

[2016-11-07 03:18] yancl commented on #794
@chrislovecnm thank you very much for this, can't agree with you more about that we should not use non-ha in production. Sorry, I don't know for now there is a DNS server that has programmable API and also HA like Route53.  If i know later, i will ping you about that:)

[2016-11-07 03:32] yancl opened #830 "Change hard coded param that breaks on some aws region?"
Hi, I found that the following code related with the `us-east-1` does not work in cn-north-1 region, will you please make a change on it? thanks.

[code]

[code]

[2016-11-07 04:02] #668 closed

[2016-11-07 07:48] #756 closed

[2016-11-07 10:58] exul commented on #758
I updated kops today (`Version git-d1c2273`) and now `create --filename` works. The issue can be closed.

[2016-11-07 13:21] jschneiderhan commented on #800
@gladiatr72 thanks - I've noticed that before but didn't know the formal name. I'm not using AWS generated host name here, though. I'm using the kops created DNS names `api.k8s.example.com` and `api.internal.k8s.example.com` which are A records to the public and internal IP addresses of the machines. Those two resolve to the same values from both outside and inside the VPC.

Either way, I'm runnin

[2016-11-07 15:22] austinmoore- commented on #828
The [official Centos AMI](https://aws.amazon.com/marketplace/pp/B00O7WM7QW) uses `centos`.

[2016-11-07 15:53] chrislovecnm commented on #794
@yanci do you code in go?

[2016-11-07 16:08] justinsb commented on #828
Thanks @austinmoore... Wasn't sure when I was writing the issue!

[2016-11-07 16:13] vendrov opened #831 "Empty DOCKER_OPTIONS when using Ubuntu 16.04 official AMI"
Empty DOCKER_OPTIONS when using Ubuntu 16.04 official AMI .

"sudo systemctl reload-or-restart docker" is fixing the problem

[2016-11-07 16:33] ajohnstone commented on #241
this still seems to be an issue.

[code]

[2016-11-07 16:53] Shrugs commented on #753
Bumping. If this is something we want to add to the https://github.com/kubernetes/kops/blob/master/docs/upgrade_from_k8s_12.md doc, I can make a PR.

[2016-11-07 19:35] zmerlynn opened #833 "Fix version tags, etc., for v1.6"
c.f. #832 - right now we only have `_k8s_1_5` tags, but we're not generating `_k8s_1_6` (and it might be good just to fall back to the 1.5 tag in that case, like it's doing)

[2016-11-07 20:59] chrislovecnm commented on #758
@justinsb was this on master??

[2016-11-07 21:48] pandeybk opened #834 "Master nodes behind AWS ELB and certificate manager"
Use Case: Use AWS certificate manager (https://aws.amazon.com/certificate-manager/) as certificate authority for master node

"AWS Certificate Manager removes the time-consuming manual process of purchasing, uploading, and renewing SSL/TLS certificates"

As per current implementation, KOPS create self signed certificate and create A-Record entry sets in route53 for kubernetes api.

I wonder If we

[2016-11-07 22:54] austinmoore- commented on #830
Chiming in with some info about the China AWS region. Most, if not all, of the AWS products in China are completely isolated from the rest of the AWS regions. Services like S3 that operate across regions will require special use cases just for the China region.

I suggest that clients are created using the region specified in the user's `~/.aws/config`. I know that in the Python AWS package, it wi

[2016-11-08 00:18] justinsb commented on #834
My understanding is that the requirement is for a trusted certificate, and that elb is just a suggested means to achieve that

[2016-11-08 02:03] yancl commented on #830
@austinmoore,  yes, you are right, we should use `~/.aws/config` whenever possible to make it clear.  but as you can see the comments from @nelson9087 at here #799, the hard code `us-east-1` override the config from `~/.aws/config`, i think that is the problem i want to point out:)

[2016-11-08 02:05] yancl commented on #794
@chrislovecnm  yes, i love it:)

[2016-11-08 03:51] #758 closed

[2016-11-08 05:40] #813 closed

[2016-11-08 07:08] kris-nova opened #835 "Cleanup cloudup _master_* tags"
After the new topology feature is implemented into kops - as a clean up effort I would like to port the `_master_*` YAML implementation into the `topologies` directory.

I would also like this feature to be complete with a full YAML clean up / documentation
As well as unit tests for the masters (if not already in the topology PR)

#694

[2016-11-08 07:26] kris-nova opened #836 "Bastion improvements"
After #694 goes through we need a PR to add a bastion configuration feature.

I think the main use case is bastion instance size, but we should also be able to turn it on/off and support things like DNS / ephemeral TCP ports, etc

[2016-11-08 07:34] kris-nova opened #837 "Unmarshalling Instance Pointer"
The `load_balancer_attachment` awstask isn't unmarshalling correctly. There are notes in the code, but we either need to rip out the member, or fix the bug.

[2016-11-08 07:35] kris-nova opened #838 "Terraform for private networking"
We need to code in terraform support for the new `awstask`'s that were created in #694

[2016-11-08 08:00] kris-nova opened #839 "Upgrading public to private topology"
According to some excellent feedback from @MrTrustor on https://github.com/kubernetes/kops/pull/694#issuecomment-258684636

We will need to tighten up our support for the upgrade path from public to private topologies.

This is probably a high visibility and highly used feature that will need to be expedited.

[2016-11-08 09:05] chrislovecnm commented on #839
So the elephant in the room is can we migrate from public to private networking. I would say initially that we do not support it, and we scope if and how it will work. The premise that I have it built on we don't want down time, if we can help it.

Not saying that it cannot be done, I am saying that we want to do it well.

[2016-11-08 12:07] billyshambrook opened #841 "Add example help to each Cobra command"
Add a `Example` field for each cobra command.

[2016-11-08 15:26] shrabok-surge commented on #800
@jschneiderhan,

When you connect to your VPN does it assign the AWS internal DNS server to your host (in your case 172.16.0.2) resolvers?
http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/hosted-zones-private.html (See Custom DNS Servers)

[2016-11-08 16:50] hubt commented on #387
A custom AMI also doesn't solve my personal issue of needing to install a different version of docker. Some components get overwritten by nodeup in a way that makes it difficult to customize. The reality of docker stability and bugs means that people will sometimes want to upgrade it or other components without having to upgrade all of k8s.

[2016-11-08 17:40] chrislovecnm commented on #387
@hubt you should be able to override the docker tag on yaml / edit. If not we need to fix that.

I am happy to have someone design and submit a PR for this support. We need to get a standard design process, as well, but I digress. I understand that we will have edge cases for pre and post scripts.

Here is the challenge ;)

Supporting non OOB installs can be a ton of fun. We know that not everyone

[2016-11-08 18:02] #783 closed

[2016-11-08 18:03] chrislovecnm opened #842 "Release Notes for 1.5 Release"
I created the milestones for 1.5 and for release notes.  This issue is for adding items to the 1.5 release notes.

[2016-11-08 18:07] chrislovecnm commented on #841
@billyshambrook are you able to take this on??

[2016-11-08 18:19] chrislovecnm commented on #312
@billyshambrook yo you are doing this!!!

[2016-11-08 18:30] chrislovecnm commented on #794
@yancl so my question is how do we address this :)  Ideas?  Do we need internal dns pod?  Do we need to not do DNS initially?  @kris-nova and I have chatted and we are wondering how to do this best within the constraints that we have.

[2016-11-08 21:14] jschneiderhan commented on #800
@shrabok-surge no - I don't have my VPN server changing any DNS settings client-side. I'm not familiar with private hosted zones so I'll read up on them. Maybe this is a non-issue and is just me not being experienced enough with the networking side of things.

If there is a way to have DNS requests for `api.k8s.example.com` return the values currently set for `api.internal.example.com`, then I can

[2016-11-08 21:58] shrabok-surge commented on #800
Ah, I missed that you have a different name space for your internal dns.
As per @gladiatr72 statement that AWS uses split-horizon dns model. Usually you will have the same zone:

api.k8s.example.com (public zone)
api.k8s.example.com (private zone)

When you connect to your VPN you inject the AWS DNS server 172.16.0.2 in your case and you will automatically resolve to api.k8s.example.com internal e

[2016-11-08 22:09] zmerlynn opened #844 "Handle pending delete better"
Seen in https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws/881/build-log.txt:

[code]

Alternately, don't just fire & forget the deletion of the ASG?

[2016-11-08 22:10] zmerlynn opened #845 "instancegroup was listed, but then not found "nodes""
Seen in https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws/851/build-log.txt and https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws/852/build-log.txt:

[code]

[2016-11-08 22:40] kris-nova opened #846 "Skunkworks"
Apres kops planning at kubecon

@chrislovecnm @justinsb

[2016-11-08 22:48] kris-nova opened #847 "New Website"
@chrislovecnm needs to touch base with CNCF to check guidelines on a website

@kris-nova needs to come up with a framework to store website content in the repository

All PRs will need to push documentation changes with the feature

@justinsb needs to think about what the tutorial / example / documentation should contain

[2016-11-08 23:33] zmerlynn commented on #845
If I'm understanding this code correctly, it looks like the equivalent of `aws s3 ls s3://$STATE_STORE/$CLUSTER/instancegroup/` found the `nodes` entry, but then a subsequent attempt to fetch `s3://$STATE_STORE/$CLUSTER/instancegroup/nodes` didn't find it. S3 eventual consistency biting us?

[2016-11-09 06:15] kris-nova commented on #835
This might go away with #744

[2016-11-09 06:22] kris-nova commented on #428
Closed with #694

[2016-11-09 06:22] #428 closed

[2016-11-09 08:12] yancl commented on #794
@chrislovecnm maybe we can use [ENI](http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_ElasticNetworkInterfaces.html) with **fixed private ip** address that we specify?  if so, we can start the cluster as following:

* create an ASG for some number(three/five) of etcds with each instance has an ENI and fixed ip
* create an ASG for one k8s master which also has an ENI and fixed ip, the mast

[2016-11-09 09:03] Eyjafjallajokull commented on #267
Hi, just wanted to note this issue is very important for me. I need to automate cluster creation with custom options which are not editable by command line switches (spot price, cidrs). Is there currently any way to script whole process of cluster creation?

[2016-11-09 09:43] chrislovecnm commented on #847
@sarahnovotny we have an interesting question.  We would like to have a kops website.  I checked with CNCF folks, and did not seem to be a challenge, but would like to coordinate with the community.  We are breaking apart core for kubernetes/kubernetes, and I think this would be a good prototype of how to scale documentation velocity.  I chatted with Brain Grant, who I am not tagging, for a reason

[2016-11-09 09:44] OleksandrBerezianskyi opened #849 "Update docker version or make it configurable"
The current version of docker is 1.11.2. We face the the problem described in https://github.com/kubernetes/kubernetes/issues/32304. Can we please either update a docker version to 1.12.+ or make it configurable?

[2016-11-09 09:45] chrislovecnm commented on #845
@kris-nova any ideas?

@zmerlynn can you reproduce or are we flaky?  I have been waiting to write that sentence for months.  I know I am a flake, but is the test a flake?

[2016-11-09 09:47] chrislovecnm commented on #844
@zmerlynn in order to not get in your way... Can you assign to yourself, and let us know that you are keeping track of your tasks.  Or if you need assistance, please reach out.  I am sure you are already, but wanted to offer the olive branch.

[2016-11-09 09:49] chrislovecnm opened #850 "E2E testing with private VPC"
@zmerlynn so now we have private VPC support in Master...  Do want to pollute what you are doing, but when is it appropriate to turn on private vpc testing for e2e tests?  Also, can you point us to have to run the tests ourselves, in our own ec2 accounts?

[2016-11-09 09:54] chrislovecnm commented on #849
@justinsb are we going to encounter other issues with 1.12?  Also, what do we need for k8s 1.5? Should we two birds one stone with this issue?

[2016-11-09 10:32] chrislovecnm commented on #794
@kris-nova can u jump in here?

[2016-11-09 12:45] ajohnstone opened #853 "K8s services exposed as a ELB include the master nodes."
An AWS service exposes the master nodes in the ELB instance list for nodes to route to the underlying pods.
However I do not want to expose the master nodes to proxy traffic to the correct nodes, how can you remove them from the instances listed in the ELBs?

An example...

[code]

[2016-11-09 13:01] zytek commented on #842
BTW, seems there are two changelogs: CHANGES and HISTORY, would be nice to unify them ?

[2016-11-09 13:10] jaygorrell commented on #351
Just want to add disk size to the list for this. We have one image that is over 1gb so it's a little difficult to manage on a 20gb disk. I'm going to override the TF output for now but a variables file would greatly help!

[2016-11-09 14:14] chrislovecnm commented on #351
@jaygorrell thanks for following up.  We are really looking for someone to help us wrangle our TF who is a TF guru.  If you are interested please let me know.  Based on feedback we need to strive to keep TF support stable in our tool.

How would you propose a design to do this?  I can see some interesting edge cases since the source of truth is the cloud and not TF.  One of the challenges with hav

[2016-11-09 14:23] chrislovecnm commented on #853
So this actually smells like a how to use k8s question.

What are you trying to do with your services?  There are three different types of services in K8s, and also ingress.

[2016-11-09 14:58] jaygorrell commented on #351
I'm pretty comfortable with TF so I can certainly try to help out -- we're using it to do some pretty fancy things across 5 environments in their own accounts.

I definitely see the concerns with having two sources of truth here, but that's a concern regardless. This proposal in particular only pushes the "hard-coded" values into a variables.tf file to isolate configuration. You may be onto someth

[2016-11-09 15:11] exarkun opened #855 "`kops create cluster` fails with NoCredentialProviders"
Following the getting started guide at http://kubernetes.io/docs/getting-started-guides/kops/ I encountered a fatal error on step 4:

[code]

My AWS credentials are available and - so far as I can tell - properly configured.  kubectl is happy with them.  Also the AWS CLI:

[code]

[2016-11-09 15:13] jaygorrell commented on #784
I'll try to add more later, but one thing I'd like to see is is more thorough options listed rather than a handful of "how to resize nodes" or "how to change the root volume":
https://github.com/kubernetes/kops/blob/master/docs/instance_groups.md

There's not really a simply complete listing of available options on any of the pages, which makes them a little overwhelming to wade through. The index

[2016-11-09 15:20] johnt337 commented on #274
@chrislovecnm @kris-nova I opened PR #854 to move this conversation along.

[2016-11-09 15:40] exarkun commented on #855
Putting the credentials from $AWS_PROFILE in ~/.aws/credentials into AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY environment variables allows kops to operate properly.  So there seems to be a problem with loading credentials from a specified profile in ~/.aws/credentials.

[2016-11-09 15:56] shamil commented on #853
@ajohnstone,

@justinsb already mentioned about this in #639, this is due to `kops` configures the masters with `taints`.
As for kubernetes `1.4` taints with `NoSchedule` will avoid scheduling pods on master, but `NodePort` will still be exposed and will be configured in LoadBalancers, e.g ELBs. There is already an issue tracked in `kubernetes` project https://github.com/kubernetes/kubernetes/pull

[2016-11-09 15:56] jschneiderhan commented on #800
Ok, so I think I understand what is being recommended. Have `k8s.example.com` resolve to public IP addresses from the public internet, and to internal ip addresses from inside the VPC and from clients set to use the private hosted zone for DNS resolution.

That would work, but it would then require me to manually manage the DNS entry in the private hosted zone, since I don't think kops will curren

[2016-11-09 15:56] roeyazroel opened #856 "Unable to deploy 1.5 version"
Hi,

I want to deploy v1.5.0-alpha.2 using the --kubernetes-version parameter on aws.

It seems that some command kubelet flags are not up to date:
Nov 10 08:03:10 ip-172-166-181-126 kubelet[3376]: unknown flag: --configure-cbr0
Nov 10 08:03:10 ip-172-166-181-126 kubelet[3376]: Usage of /usr/local/bin/kubelet:
Nov 10 08:03:10 ip-172-166-181-126 kubelet[3376]: --address ip

[2016-11-09 15:57] kris-nova commented on #855
Just curious - what do the permissions/ownership on the file look like?

[2016-11-09 16:15] shrabok-surge commented on #800
I think we are in the same boat @jschneiderhan. Currently we are looking to deploy using kops and we require internal only deployment which relies on internal dns, private subnets and using existing routes with nat gateways. Currently from what I can tell is some of the private networking stuff is getting added to the master branch, but I only think part of the solution is there. And the DNS manag

[2016-11-09 17:01] exarkun commented on #855
~/.aws is a symlink to another directory.  The directory is 0700.  The credentials file inside the directory is 0600.

[2016-11-09 17:17] kris-nova commented on #855
This is a known issue with the go `filepath.Walk` not following symlinks https://github.com/golang/go/issues/17451

Wondering what happens when you remove the symlink ;)

[2016-11-09 17:23] jmound commented on #836
Some design feedback:

* For on/off, the ASG can be set to desired/min/max =0, which should be sufficient for most needs.
* DNS can be as simple as `--bastion-name="bastion"`  which would then create the route 53 record such that `bastion` of the `--dns-zone` domain mapped to the ASG's ELB.
* A `t2.medium` default instance size with a parallel `--bastion-instance-size`
* A high [idle timeout](http

[2016-11-09 17:39] exarkun commented on #855
Good guess.  I moved the symlink aside and copied its target to ~/.aws.  In that configuration, `kops get cluster` succeeds instead of failing with a credentials error.

[2016-11-09 19:21] kris-nova commented on #855
Resolved

[2016-11-09 20:13] ajohnstone commented on #481
bump?

[2016-11-09 20:21] exarkun commented on #855
Wait, what was the resolution?

[2016-11-09 20:28] chrislovecnm opened #857 "include zsh completion"
Well we got bash.  That is awesome.  We might want to think about zsh.

[2016-11-09 20:42] kris-nova opened #858 "Kops deployments to US-EAST-2"
Kubernetes doesn't run in US-EAST-2
Kops can deploy resources in US-EAST-2

That is a major problem for users not aware of the US-EAST-2 restriction with kubernetes. We should have the kops validation catch this, and fail to deploy erroneous infrastructure

CC @jmound

[2016-11-09 22:20] shrabok-surge commented on #858
@kris-nova Is there any clarity or information regarding kubernetes not running in us-east? Is that AWS or GCE?

[2016-11-09 22:26] petergarbers opened #859 "Cluster not entirely spun up (API Record Not Created)"
I’m trying to setup a cluster in a new aws account using kops following [this guide](https://github.com/kubernetes/kops/blob/master/docs/aws.md)

I have noticed that 2 records aren’t being created. `api.clustername.domain.com` and `api.internal.clustername.domain.com`. I only have the domain records for the etcd service.

As a result I am unable to connect to my cluster using kubectl.
From what I

[2016-11-09 22:35] yissachar commented on #859
@justinsb @chrislovecnm I'm seeing a ton of reports with this issue in the past week on Slack. Anything changed recently that would cause this?

[2016-11-09 22:51] petergarbers commented on #859
I feel like I should mention that mine resolved itself after ~20 minutes but I'm leaving this open as other people are still seeing the issue

[2016-11-09 23:21] shrabok-surge commented on #859
I experienced this when I didn't have my NS records publishing the subdomain I was using. When the NS records were added the api records were created.

[2016-11-09 23:25] tomdavidson commented on #859
@shrabok-surge can you be more specific? Maybe even use the example from http://kubernetes.io/docs/getting-started-guides/kops/

When you ref subdomain are you saying useast1  or dev in useast1.dev.example.com ?

[2016-11-09 23:30] kris-nova opened #860 "Error running single node clusters with topology"
Creating an issue for tracking purposes.

We ran into an issue with the new topology feature. Running a cluster with a single `zone` defined would fail the GetBastionZone check.

Reported by @robinpercy

https://github.com/kubernetes/kops/pull/694#pullrequestreview-7914789

[2016-11-09 23:39] kris-nova commented on #858
Its a known issue https://github.com/kubernetes/kubernetes/pull/35013

I think the scope of this work is more in line with supporting a kops feature for `unsupported regions` in AWS.. With it's first and temporary use case being `us-east-2`

[2016-11-09 23:48] kris-nova commented on #267
So this feature is already coded into kops https://github.com/kubernetes/kops/blob/master/cmd/kops/create.go#L44

I think we have a little more effort in documenting it, and providing an example YAML file with all possible configurations..

I can try to get one out soon, if nobody else wants to take it.

[2016-11-10 00:42] tomdavidson commented on #859
checkout out the terraform output there are no route 53 resources. how is the cluster subdomains suppose to be created?

[2016-11-10 06:18] alok87 commented on #836
It would be great if we can give the user flexibility to use an existing bastion from his current vpc which can be peered with the kubernetes vpc.

[2016-11-10 07:30] alok87 opened #862 "Error parsing bastion yaml"
This PR https://github.com/kubernetes/kops/pull/694  introduced private networking. After this PR, on doing below tasks to setup a new cluster with private networking i get the parsing error shown below.

- `kops create cluster --networking cni --topology private --zones=us-west-1a uswest1.clusters.mydomainexample.com`
- `kops edit cluster uswest1.clusters.mydomainexample.com`
- added `bypassBasti

[2016-11-10 07:54] alok87 opened #863 "Need to update create-cluster doc for topology"
Create cluster doc - https://github.com/kubernetes/kops/blob/master/docs/cli/kops_create_cluster.md for `--toplogy`

[2016-11-10 08:08] roeyazroel commented on #856
Update: I'm not able to deploy 1.5.0-alpha.2

It seems that some command kubelet flags are not up to date:
Nov 10 08:03:10 ip-172-166-181-126 kubelet[3376]: unknown flag: --configure-cbr0
Nov 10 08:03:10 ip-172-166-181-126 kubelet[3376]: Usage of /usr/local/bin/kubelet:
Nov 10 08:03:10 ip-172-166-181-126 kubelet[3376]: --address ip                                              The IP address for th

[2016-11-10 09:51] CliMz commented on #859
@petergarbers From a machine within the same VPC, are you able to resolve your domain : `dig ns clustername.domain.com` ?

[2016-11-10 13:13] #860 closed

[2016-11-10 13:43] kris-nova commented on #863
Closed with https://github.com/kubernetes/kops/pull/864

[2016-11-10 13:43] #863 closed

[2016-11-10 13:44] cyberroadie commented on #859
@CliMz I have the same problem (no api domain names, and do have etcd names). I successfully resolved `dig ns clustername.domain.com` from a machine within the same VPC

[2016-11-10 14:13] alok87 commented on #862
@kris-nova: The error gets resolved on removing the comments from bastion.yaml. Can u verify?

[2016-11-10 16:43] jmound commented on #836
* I left off one additional feature [to this list in my previous comment](https://github.com/kubernetes/kops/issues/836#issuecomment-259472013), namely making the bastion aspect completely optional. That would solve your use case @alok87, you can just have it disabled and use whatever pre-existing bastion setup you have.

[2016-11-10 17:05] cyberroadie commented on #859
I waited over an our but still no api domain :-/

I ssh'd into the admin node and in the  `/var/log/kube-apiserver.log` i see:
`controller.go:88] Unable to perform initial IP allocation check: unable to refresh the service IP block: client: etcd cluster is unavailable or misconfigured`

Is this relevant?

[2016-11-10 17:14] zmerlynn commented on #845
@chrislovecnm: I saw it twice and then it disappeared.

My best guess is that this was a weird read-after-write inconsistency with S3, and we should probably do the write then poll to verify it landed. But according to [the docs](http://docs.aws.amazon.com/AmazonS3/latest/dev/Introduction.html#ConsistencyModel), all regions should have read-after-write. One thing I don't quite understand in the do

[2016-11-10 17:16] zmerlynn commented on #844
@chrislovecnm: Do we have a help-wanted label? I'm filing bugs for what I can see, and I definitely poke at failures, but I could use help.

[2016-11-10 17:27] kris-nova commented on #844
@zmerlynn - we do now :)

[2016-11-10 18:06] kris-nova commented on #777
Starting on this now

[2016-11-10 18:06] chrislovecnm commented on #777
`./upup/models/cloudup/resources/addons/bootstrap-channel.yaml` is the droid you are looking for

[2016-11-10 19:15] zmerlynn opened #866 "Cluster creation hanging for >20m"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws/1001
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws/1002
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws/1003
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws/1010
https://k8s-gubernator.a

[2016-11-10 19:31] chrislovecnm commented on #866
How can I re-run this tests??

[2016-11-10 19:34] chrislovecnm commented on #859
@cyberroadie please add you install command, kops version, aws region.

[2016-11-10 19:35] chrislovecnm commented on #856
1.5 is not supported yet.  There is an issue open. Finding the issue

[2016-11-10 19:35] zmerlynn commented on #866
From the k8s repo, and $KOPS pointing to a kops binary, $CLUSTER being your desired e2e cluster FQDN, $STATE_STORE being your state store, and `v1.6.0-alpha.0.351+a330acddee9f66` is the version for 1001-1003 (but it did succeed on another run with that version, incidentally):

[code]

[2016-11-10 19:36] zmerlynn commented on #866
That *just* turns a cluster up and back down. Ping if you want to see how to run tests, but it's basically the `-test` option with the right options. But this problem is just up/down nastiness.

[2016-11-10 19:38] chrislovecnm opened #867 "Support K8s 1.5"
We need to have `kops` 1.5 release support K8s 1.5.

[2016-11-10 19:39] chrislovecnm commented on #866
@zmerlynn we are having issues that have problems with the 1.5 release.  Can you get on to a master or a node and get us some logs?

[2016-11-10 19:41] zmerlynn commented on #866
@chrislovecnm: The Jenkins e2e infrastructure does have a method to capture logs before teardown, but right now the way it's handled for `kops` relies on `kubectl get nodes` working. A local repro could obviously do something different, though.

[2016-11-10 20:05] shrabok-surge commented on #858
Thanks for the clarification @kris-nova

[2016-11-10 20:46] alok87 commented on #862
Closed with https://github.com/kubernetes/kops/pull/865

[2016-11-10 20:46] alok87 commented on #862
Closed with https://github.com/kubernetes/kops/pull/865

[2016-11-10 20:46] #862 closed

[2016-11-10 22:13] bernielomax commented on #768
Yeah sure. I will give it a go.

[2016-11-10 23:33] robinpercy commented on #232
@yissachar Those docs state that shared subnets are only supported when external networking is used. Today I tried spinning up a few clusters using shared subnets with default (kubenet) networking. The problem was that the Routing Table created and populated by kops was not associated with the shared subnet.

[2016-11-11 00:36] chrislovecnm commented on #858
It will be supported in the next k8s release

[2016-11-11 00:39] chrislovecnm commented on #351
Help is appreciated!!! We will be starting office hours for developer, so file a PR, or swing by and talk about getting started on a PR

[2016-11-11 00:40] chrislovecnm commented on #866
Zack I think a how to track this info down 101. Can we sechule a time to have you walk me and @kris-nova through this??

[2016-11-11 05:42] kris-nova commented on #858
Great news @chrislovecnm - I still would like to see kops support this a little more gracefully

Right now it allows the user to *attempt* to create resources in the region.. and that is bad.. I think the right approach is to define a list of *supported* regions for kops (the regions we know work today) and have kops yell at the user if they try to use one that isn't in the list.

After support fo

[2016-11-11 09:53] cyberroadie commented on #859
Solved: Found out what the problem was: misconfiguration of the DNS subdomain. Logging in into the master node and looking in the /var/log/etcd.log file I could see the region.dev.xx.xx domain didn't get resolved. This prevented the etcd server from starting and subsequently prevented the api server from starting because it couldn't connect to the etcd cluster.

[2016-11-11 16:20] tomdavidson commented on #859
@cyberroadie is this a bug or is this a subdomain you configured for for the cluster? For example, I have done exactly has described in http://kubernetes.io/docs/getting-started-guides/kops/ but have the same symptoms you have had.

[2016-11-11 16:22] cyberroadie commented on #859
@tomdavidson  It's not a bug. I made a mistake setting up the subdomain in route53

[2016-11-11 19:13] tomdavidson commented on #859
@cyberroadie  We are not the only ones so maybe we are all making the same mistake.  Is there an issue with the steps in http://kubernetes.io/docs/getting-started-guides/kops/  ?

[2016-11-11 19:22] danielfrg commented on #172
I'll +1 this since it will be useful for me that I don't have access to route 53. For me it would be completely fine if to generate the terraform configuration but even with `--target=terraform` it requires access to Route 53.

@yancl would you mind telling what things you changed to skip Route 53?

[2016-11-11 19:30] cyberroadie commented on #859
I can describe to steps I took: I was creating a test run for setting up a kubernetes cluster. As described, if your not in control of the main domain e.g. `testing.net` you can create a hosted zone for the subdomain e.g. `dev.testing.net`. This will be the case in a future project. But now as a test I added _two_ hosted zones in route53 with a domain I control myself. One was for `testing.net` an

[2016-11-11 19:31] cyberroadie commented on #859
PS the etcd domain names where added to the `dev.testing.net` hosted zone

[2016-11-11 19:41] chrislovecnm opened #869 "Add a get bastion call for a cluster"
In private networking we need a way to get the ELB for the bastion server.

[2016-11-11 20:24] tomdavidson commented on #859
Yes, Im conused about the NS too. In my case I deletated a zone to r53 - c.b.a.edu. Then with kops create I used a name such as tom.c.b.a.edu.  etcd records were created for tom.c.b.a.edu but nothing else.

[2016-11-11 20:29] chrislovecnm commented on #859
Can I get a status on where this issue is at? Not following the comments ;)

[2016-11-11 20:33] tomdavidson commented on #859
@chrislovecnm
I have not been able to confirm the NS is configured as needed by kops. I have done excatly as discribed in http://kubernetes.io/docs/getting-started-guides/kops/ but the direction is not the clear.

This is potentially all user error / unclear docs but until we can clarify the needed config we can not verify it is soley user error.

[2016-11-11 20:40] chrislovecnm commented on #859
Take a look at this http://blog.couchbase.com/2016/november/multimaster-kubernetes-cluster-amazon-kops

We have an issue to drop something like this into our docs

[2016-11-11 20:41] chrislovecnm commented on #779
We are having more problems with Weave btw.  Seems that we have dup networks as well.

[2016-11-12 05:19] cyberroadie commented on #859
I'm going to have a play around this weekend to see if I can create more clarity. For the project I'm currently working on it would be ideal if every developer team has control over it's own subdomain and the main domain is controlled separately. (Both in route53)

Test scenario:
- parent domain in a hosted zone in route53
- sub domains in _separate_ hosted zones, also in route53

So far we know:

[2016-11-12 09:32] tomdavidson opened #871 "discuss continuous delivery"
I want to deliver our k8s clusters with a pipeline. Each cluster will start by forking the starter repo.   Pre kops jobs will include a Terraform plan for our VPC config. Post kops jobs will install some k8s add-ons and Helm Charts.

Can anyone share experiences with commit testing, acceptance testing, vendoring and upgrading in a pipeline context?

[2016-11-12 09:46] tomdavidson commented on #859
Deleted my Route53 zones and created new ones. This time the api record was created.  FYI the default limit on a new aws account kept my autoscale group from populating - encase there is a common problems section in the new docs.

[2016-11-12 11:31] aliakhtar opened #872 "Getting timeouts attaching pvc volumes"
I have a petset that creates 3 replicas.

Everything has been running fine for weeks, however today when I ran `kubectl get po` i saw that one of the 3 replicas had been restarted:

[code]

The pods -0 and -1 have both been up for 32d but -2 has been restarted.

1) Is it possible to find out why -2 was restarted? `kubectl logs cassandra-2 -p` gives `Error from server: previous terminated container

[2016-11-12 11:39] aliakhtar opened #873 "Adding disk space to a cluster - Questions"
1) When I do `kops edit ig nodes`, I don't see any field there for editing the storage / disk space of the cluster. Which field do I need to add to change the disk space? Perhaps this should be documented somewhere.

2) How can I edit this using a saner editor than whichever editor this opens, which does not respond to ctrl + c? nano will be fine.

3) After I do this, I understand that this will r

[2016-11-12 15:17] yancl commented on #172
@danielfrg well, when i run kops with `--v=8` and `--target=terraform`, it just breaks when meet Route53 operation, i can see the failed line and function, and just change some code(what ever, since we don't use Route53) to make it pass to generate TF. Maybe you will try the process two or three times to make it work finally. hoping it helps:)

BTW, i don't think it is a good way to do things like

[2016-11-12 15:49] chrislovecnm commented on #859
@tomdavidson there is a troubleshooting guide, feel free to update

[2016-11-12 15:52] chrislovecnm commented on #872
So this is not smell like a kops issue, and I recommend that you file an issue in the main repo, or reach out on slack to #kubernetes-users channel. Slack is probably your best option.

[2016-11-12 15:52] #872 closed

[2016-11-12 15:54] chrislovecnm commented on #873
PVC timeouts have nothing to do with base disk size of a node / minion.

Yes we need to document how to change disk sizing, and how the default editor works.

[2016-11-12 15:55] aliakhtar commented on #873
Can you answer the questions for now?

[2016-11-12 16:45] chrislovecnm opened #874 "Recommended Kernel and Docker Storage for 1.4 / 1.5"
We need to document and validate that this is resolved. https://github.com/kubernetes/kubernetes/issues/30706

1. What kernel is recommended
2. What docker storage is recommended
3. How do we test this

[2016-11-12 16:45] chrislovecnm commented on #874
@kris-nova this is a P0 that needs to be tracked for Datapipe

[2016-11-12 16:46] chrislovecnm commented on #874
@dchen1107 / @justinsb / @zmerlynn how do we get this documented and tested?

[2016-11-12 17:06] jaygorrell commented on #874
@chrislovecnm posted this after discussing things with me in Slack.

Basically where I'm at is I have a kops `git-a09f3a9` that was originally managing 1.3.x clusters that have been bumped to 1.4. My understanding is that the panic issue in kubernetes/kubernetes#30706 for m4 instance types is resolved in the 4.4 kernel so I'm trying to understand the best upgrade path.

Kops has an updated AMI/ker

[2016-11-12 18:53] chrislovecnm opened #876 "Using Flannel as a CNI provider"
Until this gets resolved, we cannot use the provider https://github.com/coreos/flannel/issues/545

[2016-11-12 19:19] chrislovecnm opened #877 "Error with Romana Networking Provider topology private"
When I follow the instructions from Romana on how to install.  The DNS controller fails to start:

[code]

I am using head version of kops, using a build script that uploads a custom nodeup.  Please reach out to test.  I will be filing and issue with Romana.

[2016-11-12 19:23] chrislovecnm commented on #877
@cgilmour can you assist?

[2016-11-12 19:24] chrislovecnm commented on #709
@caseydavenport I need a tested method.  Can you reach out to me?

[2016-11-12 19:45] chrislovecnm commented on #709
Another test failed.

[code]

Created on full private vpc cluster.  Using kops head, and required nodeup.

[code]

Install command

[2016-11-12 20:09] chrislovecnm opened #878 "Currently only '--networking cni' is supported for private topologies"
Yah that is a needed fix, but I am not sure how to fix it.  @justinsb this is on you mate.

[2016-11-12 20:14] chrislovecnm opened #879 "Weave issues with '--topology private'"
Hi, all we are experiencing issues with routing and bridging where we are see CPUs that are pegged.  I will get more information on Monday, but literally networking loops are causing CPUs spiked at 100%

[2016-11-12 20:17] cgilmour commented on #877
@chrislovecnm: of course. I'll look into it.

[2016-11-12 21:01] chrislovecnm commented on #871
so this is an on-going conversation in the K8s community.

1. what are you using for CI
2. What are your reqs

We have discussed a plugin with kops and helm ... a post install plugin that would allow for helm installs.

[2016-11-12 22:11] kris-nova opened #881 "Help with Kops API (Please please please)"
So I am trying to make the kops API example great again..

From the master branch run the following command :

[code]

The code returns

[code]

I was able to pull a full stack trace from the `kubernetes.runtime` package that was the origin of the error

[code]

[2016-11-12 22:26] chrislovecnm commented on #874
yah ... @jaygorrell you covered about 42+ things that should be created as an issue.  I jest as I just created a cluster with 42 in it and if you don't know the significance of 42 I have a book for you.

1. use kops 1.4.1 as it is stable
2. need to validate which ami is used by 1.1.4 ~ @justinsb
3. you need to install 1.4.4+ K8s version
4. do not use master, as it requires a new version of nodeup

[2016-11-12 22:29] chrislovecnm commented on #874
Also, we need some more toys on the base image ... https://github.com/kubernetes/kube-deploy/issues/255

[2016-11-12 22:32] chrislovecnm commented on #873
Would have answered if I had the answer off of the top of my head

[2016-11-12 22:36] chrislovecnm commented on #873
https://github.com/kubernetes/kops/blob/master/docs/instance_groups.md#changing-the-root-volume-size-or-type I assume is the droid you are looking for?

Now ... time for a customer service survey 😀

1. How can we organize the docs better?
2. What would have stopped you from opening an issue?

Now for an ask

Can you help us with any of your recommendations?  I understand if the answer is no, but p

[2016-11-12 22:39] chrislovecnm commented on #753
@Shrugs been at kubecon 😀

Actually, the name of that doc sucks so rename it.  The content is great, make it AWESOME.  When have I turned down a PR?  You the man.

[2016-11-12 22:41] chrislovecnm commented on #881
@justinsb promised to look at this tomorrow.  Thanks amigo!

[2016-11-12 22:49] chrislovecnm commented on #831
@keglevich3 you specifying the ami version?

[2016-11-13 01:38] caseydavenport commented on #709
@chrislovecnm will reach out on Monday.  That looks like the wrong manifest.

@heschlie has been out sick.

[2016-11-13 01:47] tomdavidson commented on #871
@chrislovecnm  thanks for the reply.  I don't think kops need to do my helm installs for me. That can be a post kops job task.  Im looking at kops as having a theory of "only" the k8s cluster and performing its scope perfectly.

Im a fan of GitLab CI / Deploy, but I think we can be k8s & kops specific but ci/cd tool generic. We also use CircleCI, Travis, CodeShip, and last week a team started usin

[2016-11-13 01:55] chrislovecnm opened #884 "When aws is not happy kops can hang"
Something is going on with api calls.  Rate limiting or something is borked on aws side.  This is causing kops to hang.  Currently, https://github.com/kubernetes/kops/pull/882  has been hanging for 50 min.  That PR is master with a build script, and it worked like a champ 3 hrs ago.

[code]

I will get the full logs into a private gist.

[2016-11-13 04:03] chrislovecnm opened #885 "Smoke test for kops master"
https://github.com/kubernetes/test-infra/issues/1049 tracking this

[2016-11-13 04:05] chrislovecnm commented on #300
Closing this a duplicate

[2016-11-13 04:06] #300 closed

[2016-11-13 04:37] chrislovecnm commented on #822
[code]

This requires certs for every etcd member.

[2016-11-13 04:51] chrislovecnm commented on #822
@kris-nova you think we should self gen certs for each member or just key off of the CA that we already have created?

We eventually need to code a plugin for certs.

[2016-11-13 08:17] chrislovecnm opened #886 "Bastion not created in us-east-1 when using private"
I am trying to spin up a cluster in us-east-1 and this is what I am getting.

[code]

[code]

I am using master branch, and the following command:

[code]

[2016-11-13 08:20] chrislovecnm commented on #886
The full output log is in your home directory on our build box.

[2016-11-13 08:28] chrislovecnm commented on #884
I am fairly certain this is an issue with hitting quotas, but I am uncertain.

[2016-11-13 13:04] aliakhtar commented on #873
I actually did see that link before, I read it more carefully again and saw the `rootVolumeSize` option, so that one's on me not RTFMing properly, sorry. (I'm guessing the size given is in GB)

How can I use nano editor to edit the ig, and, what will this exactly do - will it restart all deployments? Will it correctly assign my pvc to their deployments?

I'll be happy to send a PR to the docs w/ a

[2016-11-13 15:35] yancl commented on #794
@chrislovecnm @kris-nova excuse me, does the ENI way described above make sense?

[2016-11-13 16:43] kris-nova commented on #886
Oh `us-east-1` networking woes.. Okay - will get a patch out! Good find!

[2016-11-13 18:19] heschlie commented on #709
First, I'm currently using the following kops if it makes a difference:
[code]

@chrislovecnm Here is the manifest I have been trying to get deployed, @caseydavenport might want to review it make sure it is sane:

https://gist.github.com/heschlie/4c0a137d1a6e9c3dec6d651866e52b26

The job in the above manifest never gets to run, but it is necessary, I run the container manually below to get calicoc

[2016-11-13 18:47] Buzer commented on #709
The DNS entries are created by the dns-controller and it should start after the CNI is configured (ex. after Calico starts). Judging from your kubedns logs, you likely have something similar in dns controller logs (or errors about accessing route53). You can also try to exec into the dns controller if it's started to see if you have network connectivity there or not.

Few things you might want to

[2016-11-13 20:02] justinsb commented on #884
If it keeps saying

[code]

that looks like IAM being eventually consistent.

[2016-11-13 22:29] chrislovecnm commented on #709
Does calico not allow for a full manifest install? I have to run another docker? How is that managed by k8s?

[2016-11-13 23:32] logicaleak commented on #663
Item 28 seems very critical to me. Absence of this feature forces us to have all the nodes k8s needs up and running, which means we have to pay for them even if we dont have traffic. Am I missing something, or with the current condition, it is very inefficient to have k8s up in aws ? Can someone enlighten me?

[2016-11-14 02:30] caseydavenport commented on #709
Calico can be installed entirely through a k8s manifest - it's basically just a `DaemonSet` and a `ReplicaSet`.  An example of that can be found [here](http://docs.projectcalico.org/v2.0/getting-started/kubernetes/installation/hosted/calico.yaml).

It's also possible to use `Job`s to provide arbitrary configuration options to Calico, and a `Secret` for any certificates you might want to provide (e

[2016-11-14 03:27] justinsb opened #893 "Support ELB alias records"
We should support ELB ALIAS records in dns-controller, for efficiency...

[2016-11-14 04:37] kris-nova commented on #869
@alok87 Let me know if you have any questions with this feature..

Cheers!

[2016-11-14 07:22] heschlie commented on #709
@Buzer It looks like the dns-controller is starting before I get a chance to deploy the calico.yaml manifest.  I've checked that the proper config files exist in `/etc/cni/net.d/` as well and appear to be setup correctly, and that the CNI binaries are in `/opt/cni/bin`, and the NAT rules are in place (though the job is still not running in the yaml file so I need to run calicoctl via docker run st

[2016-11-14 14:01] chrislovecnm commented on #869
I am on the fence about this feature btw. We don't have a get call for non private servers ...

[2016-11-14 14:03] #881 closed

[2016-11-14 15:24] zapman449 opened #895 "Feature Request: --full for kops get instancegroups"
`kops get cluster --o yaml --full` is awesome. See everything implied or inferred in the full kops spec.

kops should add `--full` to `kops get instancegroup <name> -o yaml` for the same reason.

[2016-11-14 15:56] OleksandrBerezianskyi commented on #387
@chrislovecnmdo is there a way to override the docker tag on yaml without rebuilding nodeup? we are struggling with getting the docker version update reliably automated. Chef is problematic, because if chef recipe is applied simultaneously with nodeup they could deadlock each other. any other hints?

[2016-11-14 17:45] chrislovecnm commented on #387
@OleksandrBerezianskyi at this point there is not.  Now it should not install if it is already installed.  Is this not the case?

[2016-11-14 19:50] jaygorrell commented on #874
That was very helpful @chrislovecnm, thank you!

As for what would make this all amazing? Simply having what you outlined readily available! We have kops versioning that _almost_ aligns with Kubernetes versioning, making things a bit confusing. The lack of clarity around which system dictates the AMI received for 4.4 kernel is a great example of the problems around this.

Perhaps all we need is a

[2016-11-14 19:51] OleksandrBerezianskyi commented on #387
it is not the case - if docker is already installed then the previous version will be uninstalled during the nodeup

[2016-11-14 21:06] heschlie commented on #709
@caseydavenport and I found that the pods necessary to get CNI up and running weren't able to run on the tainted master.  We nailed down the proper annotations to add and applied it to the calico-node DS, the configure-calico Job, and the calico-policy-controller RS.  After that the cluster came up properly, and policies were being enforced appropriately.

Here is the manifest that works to get th

[2016-11-14 21:15] yissachar commented on #476
@justinsb Until this is fixed we should add a warning to the [existing VPC doc](https://github.com/kubernetes/kops/blob/master/docs/run_in_existing_vpc.md) that explains these changes won't actually be applied. It is a really scary message to see if you're not expecting it. (I would just submit a PR to add the warning myself but I'm still in CLA limbo...)

[2016-11-15 05:52] stonith commented on #709
This is the following I've done to get kops working with calico:

1. create cluster: `kops create cluster --cloud=aws --master-zones=<master_zone> --zones=<zone_A>,<zone_B> --master-size=t2.large --ssh-public-key=~/.ssh/id_rsa.pub --kubernetes-version=1.4.5 --networking=cni <cluster_name> --yes`
1. ssh to master, `wget https://raw.githubusercontent.com/projectcalico/calico/master/v2.0/getting-star

[2016-11-15 06:41] kris-nova commented on #836
@alok87 it would be great if you could take a stab at this issue!

Basically the high level overview is that we want the bastion server to have some useful features for users..

@jmound has called out a few features he would find useful, and I mentioned a few above..

The steps we would like to see for a larger feature like this are

1. Open up a PR with some documentation around the new feature.

[2016-11-15 12:49] hsyed commented on #876
When I gave the flannel addon a try -- kind of froze the cluster if I can remember correctly -- it also refused to uninstall. By this I mean I removed the daemonset manifest but the pods would not die even if I tried to kill them individually.

[2016-11-15 14:58] zytek commented on #234
Does this relate to https://github.com/kubernetes/kops/issues/834 ?

[2016-11-15 14:59] zytek commented on #834
Configuring ELB with valid cert from certificate manager requires manual request validation (email sent to domain admin with auth link), no idea if this can be automated but it would definitely improve user experience.

[2016-11-15 17:12] zmerlynn opened #900 "Retry 500s"
See [1389](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws/1389/) (failed teardown) and [1390](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws/1390/) (failed cluster up).

[2016-11-15 17:31] zmerlynn commented on #900
Discussion here: http://docs.aws.amazon.com/general/latest/gr/api-retries.html. I'm guessing we never override (`cfg.MaxRetries`)[https://github.com/aws/aws-sdk-go/blob/83dcb597bed3dd7ad629b65a0f3658bc9169621f/aws/client/client.go#L52] and that it's relatively straightforward to fix this.

[2016-11-15 17:49] zmerlynn commented on #900
Actually, it looks like I'll need to fix this to get the PR builder working, too - we don't retry enough to get around `RequestLimitExceeded` errors from multiple instances of `kops` abusing the API.

[2016-11-15 18:04] justinsb opened #901 "`kops get ig --v=8` prints a secret"
It outputs the kubecfg, which includes a token.

[2016-11-15 18:05] justinsb opened #902 "KOPS_STATE_STORE=s3:///bucket.name (extra slash) doesn't work"
We should validate it, because otherwise it kinda works, but behaves oddly

[2016-11-15 18:51] chrislovecnm commented on #901
AWESOME ... line number?

[2016-11-15 18:56] chrislovecnm opened #903 "Update developer script with these steps"
1. get dns in route53
2. create s3 buckets
3. run script
4. find bastion to ssh into
5. your pem will be the access token
6. user is admin, and the default is debian
7. set zones appropriately, you need 3 zones in a region for HA

[2016-11-15 18:57] chrislovecnm commented on #879
https://github.com/kubernetes/kops/issues/903

[2016-11-15 18:59] chrislovecnm commented on #876
Not ready IMHO.

[2016-11-15 19:01] chrislovecnm opened #904 "Architect etcd 1.3 upgrade"
As of now etcd 1.3 will not be required till 1.6 k8s.  Move that support into `kops` upgrade capability

[2016-11-15 19:01] chrislovecnm commented on #900
yah .. we are seeing stalling when you hit limits

[2016-11-15 19:13] chrislovecnm commented on #895
I think this is a duplicate actually.  And yes we need this!

[2016-11-15 19:14] chrislovecnm commented on #387
@OleksandrBerezianskyi bummer.  That should not be the case.  You want to file an issue?  Or shall I?

[2016-11-15 19:50] chrislovecnm commented on #834
rather than introducing aws cert manager support specifically I believe we need to look at a plugin model for certs.  For instance people will have use cases for vault.  That is  a bit of a refactor, but has already been discussed.

[2016-11-15 20:34] #776 closed