[2018-01-10 11:08] kenden commented on #3502
/remove-lifecycle stale

[2018-01-10 11:28] ese commented on #4112
duplicated #3605

[2018-01-10 11:37] pkaramol opened #4250 "Successive cluster updates end up yielding inconsistent cluster state"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

[code]

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version s

[2018-01-10 14:15] zetaab opened #4251 "could not translate host name "xxx.us-east-1.rds.amazonaws.com" to address: Try again"
1. What `kops` version are you running? 1.8.0

2. What Kubernetes version are you running?

Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.0", GitCommit:"925c127ec6b946659ad0fd596fa959be43f0cc05", GitTreeState:"clean", BuildDate:"2017-12-16T03:15:38Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1

[2018-01-10 14:50] dcowden opened #4252 "api: loadbalancer: Internal does not create correct Route53 entries"
**Operating Environment**
kops 1.8.0
aws
k8s 1.8.4

**What we expect to happen**
Our kops spec looks like this:

[code]

Per the documentation [here](https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md), we expect kops to create and maintain a route53 record for api.internal.ecom-2.dev.domain.com, which points to an AWS loadbalancer created for the masters.

**What actually happens

[2018-01-10 14:50] dcowden commented on #3702
I believe the root cause is that the internal name is not set up correctly. closing this in favor of that one.

[2018-01-10 14:50] #3702 closed

[2018-01-10 14:51] dcowden commented on #4247
I believe the root cause is that the internal name is not set up correctly. closing this in favor of that one.

[2018-01-10 14:51] #4247 closed

[2018-01-10 15:10] ganeshmedhekar commented on #4144
Hi,
 We do have requirement where we want to put the master and worker node into separate VPC. Does KOPS support the cluster across multiple VPC?

[2018-01-10 15:42] drora commented on #1386
Hi guys, I have a weird thing going on with KOPS.
after launching to a new VPC, I can't seem to get kubectl configured to the created cluster (no such host).
looking into route53 record (api.dev.mydomain.co) I can see it pointing to an ELB appropriately.
quick ELB inspection showed that all registered instances are out-of-service.
can't SSH to master instances (no public ip), not even through a ba

[2018-01-10 16:04] geronimoda commented on #4209
I'm having exactly the same issue, with the only difference that I'm using --role=Node

Have anyone identified a workaround?

[2018-01-10 16:17] joan38 commented on #4105
Is this the tracking ticket for the 1.9 series release?

[2018-01-10 17:01] chrislovecnm commented on #4188
@krogon-dp we do not use the distribution kernel. Is the fix in the actual kernel itself?

[2018-01-10 17:41] roberthbailey opened #4253 "The GCE getting started guide should encourage use of KOPS_STATE_STORE much earlier"
1. Describe IN DETAIL the feature/behavior/change you would like to see.

https://github.com/kubernetes/kops/blob/master/docs/tutorial/gce.md should be updated to take advantage of the KOPS_STATE_STORE environment variable right after the state store is introduced.

2. Feel free to provide a design supporting your feature request.

The current guide repeatedly uses the `--state` flag, which is cum

[2018-01-10 18:35] huang-jy commented on #4144
My suggestion would be to try. Since the cluster uses security groups to communicate, I would think it would be able to.

[2018-01-10 18:40] chrislovecnm commented on #4105
This is a issue for the items we need to update. Gong to actually close this as these are resolved. Once we have an alpha cut we will start a tracking issue

[2018-01-10 18:40] #4105 closed

[2018-01-10 19:11] chrislovecnm commented on #4144
Kops does not support masters in a separate vpc.

[2018-01-10 19:45] huang-jy commented on #4144
I stand corrected :)

[2018-01-10 20:28] toddams opened #4254 "Question: how to manage DNS for ingress with dns-controller?"
During this time I had only deployments and services, and I used **dns.alpha.kubernetes.io/external** to assign the records

Now I have to put **HAProxy** or **Nginx** ingress-controllers between AWS ELB and my app with 3 replicas.
For me it's kinda vague how to manage DNS for ingress'es because
 - There were some issues with --watch-ingress flag, should it be set to true? (now it is set to false)

[2018-01-10 20:31] emilhdiaz commented on #2383
Bump. Running into this same requirement. Need to be able to run dockerd on a TCP port instead of the unix socket. Has there been any progress in supporting the `-H` option? Or can you point me in the right direction of how I might be able to do this myself?

[2018-01-10 21:35] rroopreddy commented on #1967
Hi @chrislovecnm,  we have been using Kubernetes with exactly same number/size nodes on new Kubernetes/kops as before (Kubernetes 1.4.12). I do not see how this is  resource sizing problem given nothing changed.  This is kind of blocking issue, as we are trying to upgrade from Kubernetes 1.4.12 to new version of Kubernates/kops with significant slowdown.

Please do not close this, any guidance on

[2018-01-10 21:41] chrislovecnm commented on #4251
This appears to be a kube-dns or kube-proxy issue, may no be related to kops. I would search the main repo for issues.

[2018-01-11 00:11] rfoley05 opened #4255 "ontroller"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified

[2018-01-11 00:28] #3608 closed

[2018-01-11 04:24] ganeshmedhekar commented on #4144
Thanks @Chris and @Huang. Do we have any article within KOPS which states it does not support separate VPC, this will help us to put our stand and make our decision for the deployment.

[2018-01-11 04:26] ganeshmedhekar commented on #4144
Though we have tried with changing the KOPS configure file but it does not help, still would like to confirm if we do have any article for proof if concern. I appreciate your help on this

[2018-01-11 05:22] int128 opened #4256 "rootVolumeType accepts only gp2 or io1"
Instance group spec `rootVolumeType` seems to accept only `gp2` or `io1` type.
https://github.com/kubernetes/kops/blob/2f3f0548c25e5b6b572bf58f9945f337beb16dd4/pkg/model/awsmodel/autoscalinggroup.go#L71-L72

A SSD volume is best for production but sometimes cheaper `standard` is convenient for experimental use.
Is there any reason to limit the volume type?

I think it is nice to support following

[2018-01-11 09:02] FrederikNS commented on #2801
/remove-lifecycle stale

[2018-01-11 09:03] FrederikNS commented on #2130
/remove-lifecycle stale

[2018-01-11 09:04] #2999 closed

[2018-01-11 09:05] FrederikNS commented on #329
/remove-lifecycle stale

[2018-01-11 09:23] FrederikNS commented on #4255
/close

[2018-01-11 10:08] minghsieh-prenetics commented on #4188
FYI,

https://usn.ubuntu.com/usn/usn-3522-1/

[2018-01-11 10:22] nebril opened #4257 "nodeup not being able to parse certificate from `pki/issued/ca/keyset.yaml` causes cluster to not deploy"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.8.0 (git-64ce4835a)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

1.8

3. What cloud provider are you using?

aws

4. What commands did you run?  What is the si

[2018-01-11 11:32] bcorijn commented on #4188
@justinsb I see kernel 4.4.111 has been released with more Spectre related fixes. Can another kops image be built? Thanks for all the work!

[2018-01-11 12:23] sybeck2k commented on #3991
I'm having exactly the same problem. I'm using debian stretch but in fact /dev/disk/by-id is still not existing (there is /dev/disk/by-uuid/ which symlinks only the root disk).
Protokube then fails [here](https://github.com/kubernetes/kops/blob/master/protokube/pkg/protokube/aws_volume.go#L314). The etcd disks are correctly mounted as reported by fdisk:
[code]

I have to use a M5 instance as in th

[2018-01-11 13:24] dcowden commented on #4252
as a workaround, we updated the api.internal dns record, and then scaled dns-controller to 0 to prevent it from getting changed back.

This resulted an in improvement, but it means now k8s cannot create dns names when we launch services, so its not acceptable long term.

We also noted that while our workloads kept running this time, the nodes in the same AZ as the master still went to NotReady, ma

[2018-01-11 15:07] huang-jy commented on #4144
A VPC is meant to be isolated from other VPCs. If you want to talk between them, you'd need to peer it, and that itself may result in different subnets.

Why do you have to use multiple VPCs anyway?

[2018-01-11 15:40] pkaramol commented on #4209
Same here with `kops 1.8`

[2018-01-11 15:41] iMartyn opened #4258 "Github dependency should not be a thing"
If github goes down for a period, users should not be unable to operate on their clusters.

On the #kubernetes-users slack someone reported the following :
[code]
Kops should not fail to operate on a cluster because github is down.

[2018-01-11 19:13] harsha-y commented on #3197
/remove-lifecycle stale

[2018-01-11 23:20] bobhenkel commented on #3427
I'm getting this when trying to add a ig for a new node group type.

[2018-01-11 23:35] adityadani opened #4261 "protokube container should mount "/" (rootfs) in rslave mode."
Issue:

Currently the protokube container is started with the following mount options:

[code]
Is there any reason why "/" is not mounted as rslave ? Ideally if you are mounting the whole rootfs of the host into a container it should be in rslave. One such reason this is required is explained below:

- Any block device mounted before starting protokube container will be visible as mounted inside t

[2018-01-12 00:42] kennyko commented on #4250
You would need to run
`kops update cluster <cluster-name>--yes`
after you edit your instance group, and then a rolling-upgrade is not required as the ASG will auto terminate.

[2018-01-12 01:10] chrislovecnm commented on #4255
Closing

[2018-01-12 01:10] #4255 closed

[2018-01-12 03:08] parispittman commented on #4203
What would be the difference in reviews for kops vs core/rest of projects? Is the methodology different? More/less checks?

[2018-01-12 04:03] metametadata commented on #2175
According to https://github.com/kubernetes/kops/issues/2378#issuecomment-296488846 there's no need to specify to `--config` as it "is actually not for kubeconfig". So it looks like changing the env var does the trick:

[code]

[2018-01-12 04:39] renuraj18 opened #4262 "AWS persistent volume issue - PVCs attaching to single node in a cluster"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.8.0-alpha.1 (git-991cd8c)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or pro

[2018-01-12 07:37] qrevel opened #4263 "Add yaml extension when kops edit"
Hi,

I'm using kops 1.8.0 and neovim as my editor but when I `kops edit` something, I don't have syntax hightlighting because the filetype is not detected.

kops use the following `kops-edit-sej1pyaml` for example.
kubectl add the extension at the end of its tempfiles: `kubectl-edit-llngz.yaml`.
filetype is detected for kubectl but not for kops.

Can you please add a `.` before the `yaml` in kops

[2018-01-12 10:05] #4236 closed

[2018-01-12 10:31] bboreham commented on #1908
There is a new `Priority` feature which should help with [evictions](http://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/kubelet-eviction.md#eviction-strategy).

Currently in Alpha, and off by default.

[2018-01-12 10:48] bboreham commented on #1908
/remove-lifecycle stale

[2018-01-12 10:56] seankeeneycat commented on #927
Did anybody find a solution to this? Think we have the same issue.

[2018-01-12 12:31] kenden commented on #1166
PR https://github.com/kubernetes/kops/pull/4171 is still being worked on
/remove-lifecycle stale

[2018-01-12 13:37] neilhwatson opened #4264 "kube-dns fails to start on new AWS install"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
1.7.1

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version spe

[2018-01-12 13:47] wknapik commented on #2862
This appears to be fixed as of kubectl v1.9.0.
/close

[2018-01-12 13:47] #2862 closed

[2018-01-12 14:00] ctownsen357 commented on #2034
Thank you for the follow up.  I've switched over to `kube-aws` and that has been a little easier for me to make progress with.

[2018-01-12 15:26] frittentheke commented on #4149
/open ?

[2018-01-12 16:12] chrislovecnm commented on #3295
/close

This should be stable now

[2018-01-12 16:12] #3295 closed

[2018-01-12 16:13] chrislovecnm commented on #3126
/lifecycle frozen

[2018-01-12 18:09] caraboides commented on #4202
I can do simple Patch for kops and deactivate the logging of STDERROR to /var/log/kube-apiserver.log, when audit-logging is activated. But it seems to be wrong way of solving the issue.

[2018-01-12 18:17] keiths-osc opened #4265 "kubernetes.io/cluster/<name>=shared tag being added to VPC that isn't managed by kops"
We use kops to create Kubernetes clusters in AWS in a preexisting VPC that is maintained outside of kops by a separate Terraform (but we let kops create its own subnets in the VPC).  I recently started using kops 1.8 and noticed that kops has started adding the `kubernetes.io/cluster/<name>=shared` tag to the VPC even though kops is not managing the VPC.  Since Terraform doesn't know anything abou

[2018-01-12 18:30] liwenwu-amazon commented on #4218
Hi @dezmodue @chrislovecnm ,  the cni plugin back-end (L-IPAM) allocates IP addresses on the primary ENI interface right after it is initialized. So at the time when kubelet is reporting node address, the primary ENI interface already have multiple secondary IP addresses assigned.

I like the idea of your poc that passing --node-ip=LOCAL-IPV4 to the kubelet.  Can we use that to fix this issue?

[2018-01-12 19:35] huang-jy commented on #4262
ReadWriteOnce means it can only be r/w once - hence only one node.

Also, AWS defaults to ebs, and this is not read-many, unless you expose a storage service within the cluster.

If you look on AWS volumes, you'll see the volume mounted to a single node.

You might want to consider using NFS if you need something rwm across nodes.

[2018-01-12 19:38] huang-jy opened #4266 "Why have maxSize/minSize on igs?"
In the instance group definitions, we can specify a max and min size of instance. Why? In AWS, kops doesn't configure autoscaling to scale up/add new instances on load (for example) so having a min of 1 and max of 10 would constantly have a count of 1.

[2018-01-12 21:50] chrislovecnm commented on #4203
@mikesplain mentioned the question how often do we follow up on PRs

[2018-01-12 21:57] mikesplain commented on #4203
As discussed, during dev mentoring meeting, how often to follow up on PRs.

We have fejta-bot which addresses PRs older than 90 days.  The conclusion was we should probably follow up in a few weeks if there's been no response.  There's obviously also a judgement if we see a stronger need for a given PR to follow up more aggressively (or less aggressively).

[2018-01-12 22:04] elisiano commented on #760
So how can we use multiple instance groups? I did stumble upon the docs that @justinsb mentioned above but I was not clear on how to use them.
The necessity we have is to have different nodes instance types.

[2018-01-12 22:05] chrislovecnm commented on #4257
This is a duplicate of https://github.com/kubernetes/kops/issues/4156

[2018-01-12 22:14] chrislovecnm commented on #4257
Are you working off of master or a branch of yours?

[2018-01-12 22:21] chrislovecnm commented on #4203
Also if they are a contributor or a review, follow-ups are useful as well.  I have a bunch open, and sometimes forget to clean house, or finish the work :(

[2018-01-12 22:35] wendorf commented on #4012
The [1.8.0 release notes](https://github.com/kubernetes/kops/releases/tag/1.8.0) still document `kops replace --create`. Can that be edited?

[2018-01-12 22:50] chrislovecnm commented on #4012
@wendorf I will reopen, and if you could submit a PR that would be awesome, otherwise it will go into the queue.

Thanks

Chris

[2018-01-12 22:51] chrislovecnm commented on #760
`kops create ig --help` or use a manifest.

/lifecycle frozen

[2018-01-12 22:51] chrislovecnm commented on #1908
/lifecycle froze

This needs to get addressed

[2018-01-12 22:53] chrislovecnm commented on #927
@seankeeneycat same question as what @justinsb asked

[2018-01-12 22:57] elisiano commented on #760
thanks @chrislovecnm, I've played with it and I managed to create additional nodes.
I've noticed a couple of things that kops might handle better though:
   * if the subnet specified does not exist, kops panics and quit with a trace (1)
   * there is no validation on min and max number of nodes (by mistake I inverted the number of min and max). Kops doesn't complain but AWS does when creating the

[2018-01-12 23:12] chrislovecnm commented on #760
The panic is an open issue ;) And the min and max is something new that you found!

[2018-01-13 00:23] ocnam commented on #3907
Is this also true for [fileAssets](https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#fileassets)? From the documentation it is alluded to that Bastions are supported, but not seeing files placed as they are with Master and Nodes.

kops 1.8.0

+1 for this as well.

[2018-01-13 02:10] wendorf commented on #4012
Unfortunately, I'm waiting on an org CLA to submit a couple PRs, but the issue is in both the [release notes markdown](https://github.com/kubernetes/kops/blob/master/docs/releases/1.8-NOTES.md) as well as the [Github release's notes](https://github.com/kubernetes/kops/releases/tag/1.8.0), which I wouldn't be able to PR.

[2018-01-13 12:13] ruippeixotog commented on #351
/remove-lifecycle stale

I still think this is an useful thing to have. I think that the only advantage for people to use Terraform instead of the default method is to later extend the Terraform definition with other cloud resources (databases, alarms, external load balancers...). Having the information that comes from the Kops in TF variables would be useful not in order for us to override them (

[2018-01-13 18:50] emilhdiaz commented on #2430
I'm experiencing this exact same issue with Version 1.8.0 (git-5099bc5) on Ubuntu 16.

[2018-01-13 19:08] emilhdiaz commented on #2603
I'm testing with kops 1.8 as well on Ubuntu and both `kops create -f` and `kops replace -f` only export the cluster config. Ironically I have the same exact kops version on an Ubuntu subsystem (Windows 10) and that exports both the cluster and instance group definitions.

[2018-01-13 20:30] Madhu788 opened #4269 "Can't we create SharePoint 2013 server with Visual studio 2017 and .net core installed in azure ?"
Can't we create SharePoint 2013 server with Visual studio 2017 with .net core in Azure ?

[2018-01-13 21:51] chrislovecnm commented on #4269
@Madhu788 no idea my friend.  I would check on slack, and stackoverflow.  I am going to close this issue as this is a tad off topic. If you have issues with kops, and not running Sharepoint on k8s please let us know!

[2018-01-13 21:51] #4269 closed

[2018-01-14 00:29] chrislovecnm commented on #351
Would be great if someone implemented:

main.tf
variables.tf
outputs.tf

Spent a bunch of time with TF today.

[2018-01-14 01:47] chrislovecnm commented on #4012
No worries! Thanks, and hopefully they will sign it soon.

[2018-01-14 01:49] chrislovecnm commented on #4202
What is the right way? We have issues to get api server logs accessible to kubectl get logs as well.

[2018-01-14 14:26] elisiano commented on #760
@chrislovecnm should I create a separate issue for that?

[2018-01-14 15:27] chrislovecnm commented on #760
Pleas

[2018-01-15 01:36] LilyFaFa commented on #4127
We started this work recently, my partners @xh4n3 @Xiao An
Hope to get your help, thanks! @geojaz

[2018-01-15 02:43] comster commented on #3197
@markine could you share details about your work around and how it been working?

As a newbie, I'm not sure how aufs works around the problem? ie will my ci/cd use of dind cause the problem even with aufs?

Are you just using an off the shelf Ubuntu AMI like ami-1ee65166 as your instance group image? ie. did you have to do anything to add aufs support?

Thanks!

[2018-01-15 07:09] pluttrell commented on #1998
/remove-lifecycle stale
/lifecycle frozen

[2018-01-15 07:10] pluttrell commented on #1996
/remove-lifecycle stale
/lifecycle frozen

[2018-01-15 07:10] pluttrell commented on #1983
/remove-lifecycle stale
/lifecycle frozen

[2018-01-15 07:11] pluttrell commented on #36
/remove-lifecycle stale
/lifecycle frozen

[2018-01-15 07:12] pluttrell commented on #1613
/remove-lifecycle stale
/lifecycle frozen

[2018-01-15 08:43] huang-jy commented on #4256
See https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSVolumeTypes.html

*st1 and sc1 cannot be used as boot volumes* -- this isn't a restriction by kops, but by AWS.

[2018-01-15 08:50] TGippert commented on #4188
Currently I have seen, there are new AMI's available: kope.io/k8s-1.**x**-debian-jessie-amd64-hvm-ebs-2018-01-14

Kernel (uname -a) - `Linux ip-10-0-0-129 4.4.111-k8s #1 SMP Sun Jan 14 19:32:08 UTC 2018 x86_64 GNU/Linux`

Result of https://github.com/speed47/spectre-meltdown-checker
[code]

[2018-01-15 09:58] FrederikNS commented on #4266
I'm pretty sure that the min and max are there so you have the option of adding in auto-scaling. There are already many different projects trying to implement auto-scaling for kubernetes clusters, which works with the AWS Auto-scaling Groups. Kops also offers [a cluster auto-scaler](https://github.com/kubernetes/kops/tree/master/addons/cluster-autoscaler), though I haven't tried it out.

So if you

[2018-01-15 10:08] huang-jy commented on #4266
Yes, I had to configure autoscaling on the ELB manually, after it was created. Is there an option in kops to configure it at the time of creation?

EDIT: https://github.com/kubernetes/kops/tree/master/addons/cluster-autoscaler

Looks like I hadn't installed this addon :man_facepalming:

[2018-01-15 10:08] #4266 closed

[2018-01-15 11:19] seankeeneycat commented on #927
Apologies - this is using calico.

[2018-01-15 11:48] nebril commented on #4257
This happens to me on master, 1.8 binary and my cilium-specific branch.

[2018-01-15 11:51] nebril commented on #4257
Seems to be the same issue as #4156. After reading through this I think I may have updated Go to 1.9.2 just before I started seeing this.

[2018-01-15 12:34] nebril commented on #4257
Checked with kops built from master with Go 1.8.5, could replicate the bug. Closing this one and subscribing to #4156

[2018-01-15 12:34] #4257 closed

[2018-01-15 12:45] nebril commented on #4156
@chrislovecnm I don't think this is OSX go bug, I got hit by this on Linux with kops built from master with both go 1.9.2 and go 1.8.5.

[2018-01-15 14:13] FrederikNS opened #4274 "Map the cpu-manager-policy kubelet flag"
Kubernetes 1.8 introduced a beta feature to [change the CPU Manager Policy](https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/). Some of our workloads are very CPU intensive and suffer badly when they can't keep their CPU caches primed.

In Kubernetes 1.8 the kubelet feature gate `CPUManager=true` was introduced, and `kops` maps that feature gate already, but to actually

[2018-01-15 15:04] YoniTapingo commented on #67
@kilpatty Could you please elaborate on what the confusion was? i'm hitting the same issue.

[2018-01-15 15:12] markine commented on #3197
Jeff, I will leave the overlay vs aufs details for you to research, but
yes, switching to aufs was all it took to resolve the issue. I used a
standard AMI available on AWS and configured docker to use aufs (kops
configuration somewhere).

On Sun, Jan 14, 2018 at 19:43 Jeff Pelton <notifications@github.com> wrote:

--
Mikhail Markine
mikhail@altschool.com

1245 Folsom Street
San Francisco, CA 94103

[2018-01-15 15:53] hatemosphere commented on #4202
with default cluster setup using kops, logs of Kubernetes components are being duplicated to /var/log/ and to STDOUT of corresponding component's container

[2018-01-15 16:10] caraboides commented on #4202
Why?

[2018-01-15 16:57] KashifSaadat commented on #4156
Hey @nebril, just into S3 as normal (e.g. `make upload`) and then using them by setting `PROTOKUBE_IMAGE`, `NODEUP_URL` etc.

Yep you're right, looks like I've mixed up a separate issue here!

[2018-01-15 17:17] elisiano opened #4276 "Kops should check that maxSize >= minSize in instance groups."
While creating an additional instance group I mistakenly inverted min and max sizes.

Kops did not complain and kept trying to create it although aws was spitting out the error.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
[code]

2. What Kubernetes version are you running? `kubectl vers

[2018-01-15 17:20] elisiano commented on #760
#4276 has been opened

[2018-01-15 17:23] duizendnegen commented on #722
I'd be happy to take it for a test drive @chrislovecnm - I couldn't find the binary attached to the last release, should I look somewhere else?

[2018-01-15 17:35] thomasv314 commented on #1983
AWS Availability zone identifiers are randomized. Given 2 AWS accounts, the `us-east-1a` availability zone in either account is not guaranteed to be the same physical location.

@justinsb I'd be curious to know when the AWS account you're using was created. Rather than iterating AZ's and creating a subnet in each, [account creation date](https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/defau

[2018-01-15 18:23] blakebarnett commented on #1510
/lifecycle frozen

[2018-01-15 18:24] blakebarnett commented on #1510
I think this might be addressed with the new kops-server changes?  Or maybe the decision to keep protokube as-is.

[2018-01-15 19:10] BobbyJohansen commented on #4050
This can be resolved

[2018-01-15 19:10] #4050 closed

[2018-01-15 19:10] pierreozoux commented on #4040
We are also seeing slow dns queries.
We use canal as a networking (so flannel).
And the strange thing is that, this is just with cloudflare dns. The rest is fine.
(we just opened a ticket with them, wait and see.)

And also, if we nslookup with the default dns resolver from the vpc, I have issues from the pod, but not from the host.

[2018-01-15 20:04] maingoh opened #4277 "Specify custom instance template in instance group"
Hi,

I would like to deploy a GPU cluster on GCE but I don't find a way to give a predefined `instanceTemplate` to the instance group instead of the `machineType` and `image`. Is it possible ? or can we only specify the google defined machine types ? (those don't contain GPUs by default)

Thanks !

[2018-01-15 23:23] StephanX commented on #4192
Ran into exactly this, today.  `Jan 15 23:09:39 ip-172-20-41-132 nodeup[1065]: W0115 23:09:39.038154    1065 main.go:141] got error running nodeup (will retry in 30s): error building loader: unable to locate asset "bridge"
`

[2018-01-16 05:54] hiberabyss opened #4279 "[Feature Request] make instance group unschedulable"
Sometimes, I need to mark nodes in the new created instance group as `SchedulingDisabled` with `kubectl cordon NODE`.

Is there any method to mark nodes as `SchedulingDisabled` just after creating the instance group? I searched how to implement this with `kops`, but with no luck.

Thanks!

[2018-01-16 09:58] huang-jy opened #4280 "Adding subnets requires deletion of ELBs"
I have a cluster in London region which has just introduced a third AZ. Adding that into the cluster definition and then updating failed with message:

`subnet changes on LoadBalancer not yet implemented: actual=[subneta,subnetb] -> expected=[subneta,subnetb,subnetc]`

I have to delete the ELBs (bastion, api) and let kops recreate, and then do a `--force --cloudonly` rolling-update which causes do

[2018-01-16 10:02] dezmodue commented on #4218
@chrislovecnm if that is a satisfactory solution I could try to work ok it (with some guidance on how it should be implemented)

[2018-01-16 11:48] chaosaffe commented on #595
Just as a note in case anyone else comes across this, 100.64.0.0/10 is assigned as [Shared Address Space](https://tools.ietf.org/html/rfc6598) and is _not_ a public block.

[2018-01-16 13:53] jordanjennings commented on #4279
You can add a taint to the kops instance group under `spec.taints` to achieve something fairly similar. That will prevent most things from scheduling on there, for example on a tainted instance group I have I see only two pods running (networking and monitoring). Would that work for your use case?

[2018-01-16 15:01] mikesplain commented on #4279
@hiberabyss Check out the [Instance Group Taints](https://github.com/kubernetes/kops/blob/e42a3f1e50a95a6720d3e5fd7008499a0996cf59/docs/instance_groups.md#adding-taints-to-an-instance-group) docs as @jordanjennings pointed out. That's the best way to accomplish what you're looking for.

[2018-01-16 17:45] jordanjennings commented on #4279
@hiberabyss Awesome! (don't forget to close the issue if that meets your need)

[2018-01-16 18:34] mikesplain commented on #4279
Closing for @hiberabyss if it'll let me ;)
/close

[2018-01-16 18:34] #4279 closed

[2018-01-16 20:12] activeshadow commented on #2354
@chrislovecnm which docs would you like me to add this to?

[2018-01-16 21:33] blackstar257 commented on #2586
Just ran into this also

[2018-01-17 04:48] metametadata commented on #3882
Is it not needed anymore because by default `kops update cluster` will use the key from `~/.ssh/id_rsa.pub`? The docs still have this step specified, e.g. see https://github.com/kubernetes/kops/blob/59440bbc6832d31a31bbbcf4869967795819fd63/docs/manifests_and_customizing_via_api.md.

[2018-01-17 08:40] metametadata opened #4287 "`kops create --dry-run` should not require an SSH key"
1. What `kops` version are you running?

1.8.0

2. What Kubernetes version are you running?

1.8.0

3. What cloud provider are you using?

AWS

4. What commands did you run?  What is the simplest way to reproduce this issue?

I'm trying to automate cluster creation and the first step is to generate a yaml manifest (as per [manifests_and_customizing_via_api.md](https://github.com/kubernetes/kops/bl

[2018-01-17 09:19] metametadata opened #4288 "`kops create --dry-run` should not fail if cluster state already exists"
1. What `kops` version are you running?

1.8.0

2. What Kubernetes version are you running?

1.8.0

3. What cloud provider are you using?

AWS

4. What commands did you run?  What is the simplest way to reproduce this issue?

After cluster state is already in state store (e.g. it is already created or manifest was uploaded to S3 via `kops replace -f ...`) try to produce a manifest using the `--nam

[2018-01-17 09:20] pierreozoux commented on #4040
We found the probable root cause:
One node wasn't able to start kube-proxy, we saw this event happening:
FailedToStartNodeHealthcheck

But we think that this node wasn't evicted, and continued to receive traffic, at least, this is what we saw at the ELB level in aws.
So we guess that 5% of the network traffic, sent to this node was just dropped, affecting all other services.

Still investigating t

[2018-01-17 11:10] ArneZsng commented on #3606
@lastonoga @mikesplain Thank you, you just saved me hours of debugging.

[2018-01-17 13:55] neilhwatson opened #4289 "Nodes do not have permissions to list AWS R53 hosted zones"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
1.8.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version spe

[2018-01-17 13:58] vendrov commented on #1179
/remove-lifecycle stale

[2018-01-17 14:05] neilhwatson commented on #4264
Some new info, if I run the install from an ec2 instance  located in the k8s destination VPC then kube-dns starts. But run the same install from my laptop, using the same AWS credentials, and kube-dns fails to start. I've tried this multiple times and the results is always the same.

[2018-01-17 14:49] mikesplain commented on #3606
@ArneZsng You bet. I'm looking into adding more checks in validation for issues like this.

[2018-01-17 15:13] philstrong commented on #4188
So still Vulnerable for 2 CVEs.  Any word on patches for those?

[2018-01-17 18:13] chrislovecnm commented on #4288
Huh it is trying to run create in a created cluster. Sounds like you need a replace dry run? Why do you need a dry-run with an existing cluster, trying to figure out the need and a solution

[2018-01-17 19:35] wendorf opened #4291 "Support idempotent sshpublickey secret updates"
I am building a CD pipeline for configuring and deploying my kops cluster, and am pulling a dynamically-configured public key for the `kops create secret sshpublickey admin --name my-cluster.example.com` step. If I change the public key (which will happen as I rotate credentials), the existing public key remains and the new key is appended, so I see something like this when running `kops get secre

[2018-01-17 19:40] metametadata commented on #4288
Essentially I'm writing an "idempotent" function to automate cluster deploy, in pseudocode:

[code]

So that I can commit the cluster config into Git repo as part of the script (which is then e.g. invoked by CI):

[code]

Then if I want to increase the number on nodes I make a new commit changing the number in the script:

[code]

Thus `deploy` can be called more or less frequently in an automated

[2018-01-17 20:21] metametadata commented on #4291
I've recently stumbled upon this too. My current workaround is to first delete `admin` key (and ignore the error in case there's no key yet): `kops delete secret sshpublickey admin`. To me it looks like there's no need to enumerate the IDs if one is careful about not adding duplicate keys from the beginning.
My approach is also described in more detail in https://github.com/kubernetes/kops/issues/

[2018-01-17 20:44] mv78 commented on #1558
We are running Kops 1.8 with k8s-1.8-debian-jessie-amd64-hvm-ebs-2017-12-02 (ami-06a57e7e) where it says that ENA is enabled. However, when i run check on that instance it returns simple network:
aws ec2 describe-instance-attribute --instance-id 123 --attribute sriovNetSupport
{
    "InstanceId": "123",
    "SriovNetSupport": {
        "Value": "simple"
    }
}

I also ssh into the instance and ra

[2018-01-17 21:49] chrislovecnm commented on #4288
@robinpercy / @mikesplain any ideas?  Should --dry-run work with an existing cluster with `kops create`?

[2018-01-17 22:08] mellena1 commented on #3693
Following up on the above posters' issue, I am having the same problem. Pass in sshKeyName in my yaml, go to run update, and get ```SSH public key must be specified when running with AWS```.

[2018-01-17 22:16] KashifSaadat commented on #4289
Hey @neilhwatson, thanks for raising an issue.

Kops creates IAM roles for the Master & Node Instance Groups and grants them the access required to build successfully and operate within the Cluster. If the helm package you're attempting to install requires additional AWS API privileges on the nodes, you can extend the IAM policies generated by Kops and add these permissions in.

Please take a look

[2018-01-17 22:19] KashifSaadat commented on #4280
Hey @huang-jy, thanks for raising an issue. I've raised PR #4281 which should resolve this, please take a look and let me know if you have any concerns.

[2018-01-17 22:31] huang-jy commented on #4280
Thanks, @KashifSaadat will keep an eye on that. So far no concerns, but will definitely take a look and give it a go when it's ready for that.

[2018-01-17 23:08] neilhwatson commented on #4289
Do you have an docs on how to add that policy to a newly created cluster config (before actual creation) without human intervention? My goal is to automatically build the cluster and the addons without human intervention.

[2018-01-18 02:50] mikesplain commented on #4288
My initial reaction is, if I run `kops create --dry-run` I would want all the same checks as a regular `kops create`, just no actual execution.  That would include the check for existing clusters, similar to the way `terraform plan` takes into account existing state.  I think it could get confusing allowing a dry run to pass a check (like existing cluster), that would break an actual creation.

Th

[2018-01-18 07:54] metametadata commented on #4288
@mikesplain Thanks.

I agree.

I can also see the problems with the `legacy iam` example, didn't think about such cases before.

And `kops set` looks neat.

[2018-01-18 08:01] vainu-arto commented on #1908
This also needs to be addressed in clusters that have PodPriority enabled, in which case the criticalpod annotation isn't used.

For example, the kube-proxy manifest seems to be hard-coded in nodeup and thus somewhat difficult to reliably change to contain a priority setting that prevents kube-proxy from being evicted (this problem would also be fixed by moving to running kube-proxy from a daemons

[2018-01-18 08:19] TGippert commented on #4188
For those of you speaking german: Very interesting article regarding linux kernel patches and explaining our "new friends" spectre and meltdown and how to protect against them
https://www.heise.de/ct/artikel/Die-Neuerungen-von-Linux-4-15-3900646.html

[2018-01-18 11:16] nebril commented on #4156
So building all binaries and pushing them to my s3 bucket as described in https://github.com/kubernetes/kops/blob/master/docs/development/adding_a_feature.md#testing works for me (I did it with 1.8 tag). I wonder if binaries in "default" s3 bucket are affected by this?

[2018-01-18 12:26] RobertDiebels commented on #2859
@Stelminator Could you provide a link/gist to/with said script? As there hasn't been any response from contributors to this repo afaik.

[2018-01-18 13:34] nebril opened #4293 ""networking mode=" log message in `create cluster` doesn't shows default kubenet"
As in the title, `networking mode` is logged before it's set based on `networking` flag.

[2018-01-18 13:56] jcardoso-bv commented on #4289
The following works for us:

- kops create cluster --dry-run --output yaml > cluster-spec.yaml
- sed --in-place $'/  api:/{e cat spec-additionalpolicies.yaml\n}' cluster-spec.yaml

Ensure "spec-additionalpolicies.yaml" exists and contains whatever policies you need. For external-dns that would be something like this with the appropriate hosted zone replacing "ABCDEFGHIJKLMN":

[code]

[2018-01-18 13:59] krogon-dp commented on #4188
@philstrong it depends on upstream distro patches, which are not available right now: https://github.com/hannob/meltdownspectre-patches#linux-distributions

[2018-01-18 14:15] grimborg opened #4295 "LoadBalancer always reports instances as OutOfService"
I expose a deployment using a service of type LoadBalancer. That creates an ELB, but the EC2 instances it has never pass the health checks, so they are marked as OutOfService and I can't access my deployment from outside.

Am I doing something wrong? Or is this a kops bug?

cloud: aws
kops version: 1.8.0
kubectl version:
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.1", GitCo

[2018-01-18 15:51] #4289 closed

[2018-01-18 16:16] BobbyJohansen commented on #4196
A lock in on Kops create cluster would be a great option. or atleast a change on kops edit to specify the image to v0.0.20

[2018-01-18 16:23] neilhwatson commented on #4264
Trouble was caused by using 1.7.x of kops to install 1.8.x of k8s. Perhaps kops should check if k8s version is supported.

[2018-01-18 16:23] #4264 closed

[2018-01-18 16:53] murali-reddy commented on #4196
If any one can tell me what is the expected change i can submit a PR.

[code]

I can atlease change the pull policy to IfNotPresent. But i am not sure how do i go about the image version. What are other supported CNI plugins KOPS practice?

Should i lock it to latest stable version and update manifest once in a while (by sumbitting PR) to latest stable?

[2018-01-18 17:07] BobbyJohansen commented on #4196
I like either locking it or adding a variable to the template https://github.com/kubernetes/kops/blob/98b2437bc001907da8d4632b8476d7865f797eb1/upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.6.yaml.template#L40 to use a variable that comes from the kops cluster.spec section:

` networking:
    kuberouter: {}`

[2018-01-18 17:18] ottoyiu commented on #1558
@mv78 have you tried the debian stretch image?

[2018-01-18 18:03] mv78 commented on #1558
I have not, but looking at source code [https://github.com/kubernetes/kube-deploy/blob/master/imagebuilder/templates/1.8-stretch.yml](url), I dont see "ixgbevf" module included either.

[2018-01-18 18:07] gkope opened #4296 "Taint not working in instance-groups"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

[code]

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

`Kubernetes 1.7.11`

3. What cloud provider are you using?

`AWS`

4. What commands did you run?  What is the simples

[2018-01-18 19:03] chrislovecnm commented on #140
/lifecycle frozen

this would be nice!

[2018-01-18 20:59] RobertDiebels commented on #3816
@chrislovecnm If you tell me what the steps are to build I'd be willing to test the binary.

[2018-01-18 21:23] chrislovecnm commented on #3816
The dev documentation has the instructions for building the binary, and it should be built with the base make command.

[2018-01-18 23:00] Stelminator commented on #2859
@RobertDiebels these are the salient bits:
[code]
[code]
It's not that pretty, but it works.

[2018-01-18 23:06] kureikain opened #4300 "[Question] Rolling upgrade per instance group"
Hi,

I have a cluster 1.7.11 with kops 1.7 on flannel and without RBAC. I would like to upgrade to 1.8 but I checked the issue and saw some people with issue which may or may not fixed. In some issues, the cluster was inoperable. My upgrading on a test cluster went smoothly but I feel a bit nervous to do on our production cluster.

In a hope for a better choice, I would like to see if it has anywa

[2018-01-19 01:39] samwilson commented on #1749
Is there a workaround for this? I'm getting the following:

[code]

[2018-01-19 09:08] chrisfu opened #4301 "API instances appear as OutOfService on ELB for a brand new cluster"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

AWS in the us-east-1 region.

**4. What commands did you r

[2018-01-19 09:19] mingyuanzhu commented on #4197
Same issue. When delete the one of the services the elbSecurityGroup will be remove from the nodesSecurityGroup Inbound rule.

[2018-01-19 10:44] tsupertramp commented on #4197
This is only happening for external elbs. Internal are uneffected but experiencing the same issue here. Not 100% understood it. Digging deeper into it. Lucky it happened on the staging cluster for us...

kops: 1.8
k8s version: 1.8.5
kubectl: 1.8.2 (will upgrade and see if it happens as well)

[2018-01-19 11:03] pkutishch commented on #2294
+1 to the same issue

[2018-01-19 12:31] RobertDiebels commented on #2859
@Stelminator great thanks! 👍

[2018-01-19 12:38] xoen commented on #4007
FYI: This should be resolved by [this PR](https://github.com/kubernetes/kops/pull/4085). It's merged but not sure when that would be released.

[2018-01-19 16:27] vpistis commented on #4254
maybe this is helpful: https://github.com/kubernetes-incubator/external-dns/blob/master/docs/legacy/kops-dns-controller.md

[2018-01-19 16:44] srossross commented on #3246
This looks very useful. Is there an associated PR or docs?

[2018-01-19 17:09] georgebuckerfield opened #4303 "Unable to create new instance groups"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
[code]
2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version spe

[2018-01-19 17:10] georgebuckerfield commented on #4303
I have a fix for this locally, I'll try and get a PR submitted tonight.

[2018-01-19 17:54] mikesplain commented on #4288
@metametadata Exactly!  Do you have any other thoughts? If this is something you're interested in, I'd say we should flush out more ideas here, before implementing.

We always love new contributions if you have some time to contribute something like this :)

[2018-01-19 17:56] chrislovecnm commented on #4303
@georgebuckerfield there have been multiple reports for this issue, can you round up the issues so we close them all?

[2018-01-19 17:59] chrislovecnm commented on #4288
Is there a comparable kubectl command that we can model?  Not sure if there is a 'set' in kubectl.  We hope to eventually be using kubectl as well as the kops binaries when we have the kops-server running.  So if we can have parity that would be awesome.

[2018-01-19 17:59] chrislovecnm commented on #1644
/remove-lifecycle rotte

[2018-01-19 17:59] chrislovecnm commented on #1644
/remove-lifecycle rotten

[2018-01-19 18:05] chrislovecnm commented on #3246
there are multiple PRs, and a lack of documentation which is in an open issue.

https://github.com/kubernetes/kops/blob/master/pkg/apis/kops/cluster.go#L179

Has the API components that need to be set, and the assets phase uploads the binaries and containers.  You need to not run the assets phase after the assets are uploaded since it will upload the containers again and again.  It does not check

[2018-01-19 18:08] chrislovecnm commented on #1605
/remove-lifecycle rotten
/remove-lifecycle stale

[2018-01-19 18:10] chrislovecnm commented on #4277
/cc @roberthbailey

would you have an answer to this one in terms of the google api?

At this point @maingoh we only set a machine type in kops.

[2018-01-19 18:17] #4293 closed

[2018-01-19 18:44] roberthbailey commented on #4277
The google api allows you to specify accelerators when creating a machine (see https://cloud.google.com/compute/docs/gpus/add-gpus#create-new-gpu-instance). The public docs don't seem to show it, but if you look at the [go client libraries](https://raw.githubusercontent.com/google/google-api-go-client/master/compute/v1/compute-gen.go) and search for `type InstanceProperties struct` you can see tha

[2018-01-19 18:56] mmacfadden commented on #4301
For what it is worth this is happening to me to. I was seeing this behavior using kops installed from home brew using the HEAD of master.

[2018-01-19 18:57] mmacfadden commented on #4301
I think the issue might be partly that you are trying to use k82 1.9.x with kops 1.8.x. Not sure that this is supported? I think the HEAD might be in the same situation.

[2018-01-19 19:13] chrisfu commented on #4301
I'm similar to you in that I've installed kops using Homebrew, but version 1.8.0 in my case.

As for K8s, I've tried all 1.8.0-1.8.4 versions and also 1.7.11. All showing the same symptoms. Very peculiar.

[2018-01-19 19:29] mmacfadden commented on #4301
Interesting. Well at least you know you are not alone. This is currently a blocker for me. I took a look at the master node. I sshed into it. It seemed like non of the expected API ports were open. Checked using netstat.

So I am not sure if the services are not starting up or what.

[2018-01-19 19:32] openJT commented on #3182
/remove-lifecycle stale

[2018-01-19 19:37] chrisfu commented on #4301
I'm fairly confident you're seeing no listening services because none of the nodes or masters are being bootstrapped at all. You may also find that none of the required Docker images have been pulled either.

Just to rule out the Homebrew builds of kops being "bad", I'll try tomorrow with a self-built binary or one from an official source.

[2018-01-19 19:57] chrislovecnm commented on #3816
https://github.com/kubernetes/kops/blob/master/docs/development/building.md is the documentation for building kops.

`make` will create the kops binaries under:
`k8s.io/kops/.build/dist/windows/amd64/kops.exe`

[2018-01-19 19:58] chrislovecnm commented on #3816
The full makefile most likely will not work on windows platform as it runs Linux containers, but just the base `make` target should run ok ... Let us know!

[2018-01-19 20:50] mmacfadden commented on #4301
I think you are right. I had also done a `docker ps -a` which yielded nothing. Similarly `docker images` came up empty. The nodes definitely are not being bootstraped.

[2018-01-19 21:21] chrisfu commented on #4301
I'm not going to be near a computer until tomorrow, so unfortunately can't test this suggestion myself, but I'm wondering if running the following could yeild some information as to why the userdata provisioning shell script is failing? You'd need to sudo to root to run it.

`bash <(curl -s http://169.254.169.254/latest/user-data)`

If all went well (I'd imagine it would fail and hopefully yeild a

[2018-01-19 21:56] vhosakot commented on #3512
Thanks @chrislovecnm. One of my colleagues did `kubectl create configmap -n kube-system kube-dns` and it resolved the following error due to which the `kube-dns` pod was in `CrashLoopBackOff` state:

[code]

[2018-01-20 01:40] mmacfadden commented on #4301
So I ran that command, here is what I got:

[code]

It seemed to just sit there forever seeming doing nothing. Looking in the syslog, I see the following log messages:

[code]
This then repeats every 30s. Not sure if this is the problem you are seeing, but it seems like it can't parse the certificate and therefore the bootstraping process does not complete.

[2018-01-20 04:15] StephanX commented on #4156
Upstream master moved to go 1.9.2.  I was able to build nodeup today and have it work just fine with kubernetes 1.9 (since I've been asked to use the new m5/c5 ec2 instance types.) . The standard nodeup from https://kubeupv2.s3.amazonaws.com/kops still fails for me, though.

[2018-01-20 15:54] gambol99 commented on #4303
A similar issue was fixed in https://github.com/kubernetes/kops/pull/4275 .. as errors.NewNotFound was introduced

[2018-01-20 16:23] georgebuckerfield commented on #4303
Looking at other issues around instance groups, I think #4209 can be closed as well, that was fixed in #3987.

[2018-01-20 18:26] audip commented on #3998
@justinsb Is this a `good-stater-issue`? Can you point me to the files where this change to default-on will need to be made?
I read through #3125 and can submit a PR for this (if this is trivial). Still reading through and learning about the code base

[2018-01-20 18:50] mmacfadden commented on #4295
Do you think this is the same issue as #4301? I know this was reported first, but I think that issue has more info in it.

[2018-01-20 18:56] mmacfadden commented on #4301
I think this is related to #4156.

[2018-01-20 19:22] wendorf commented on #4291
@metametadata Good idea. It's definitely simpler than my approach.

[2018-01-20 19:48] audip commented on #4132
@chrislovecnm I want to help to fix this problem.

[2018-01-20 22:05] huang-jy commented on #4300
From the man page:

`      --instance-group stringSlice   List of instance groups to update (defaults to all if not specified)
`
So, yes, if you don't specify an instance group with the rolling-update flag, it will cycle through all the groups (master first, then nodes)

[2018-01-21 04:30] puppetbabu opened #4311 "Error reporting while trying to create clusters"
[issue logs.txt](https://github.com/kubernetes/kops/files/1649533/issue.logs.txt)
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
vagrant@ubuntu-xenial:~$ kops version
Version 1.8.0 (git-5099bc5)

2. Wh

[2018-01-21 09:44] #1593 closed

[2018-01-21 10:57] ganeshmedhekar commented on #4144
We have drop the idea to use multiple VPC. Thanks for the support

[2018-01-21 10:57] #4144 closed

[2018-01-21 11:02] ganeshmedhekar opened #4312 "Kubernetes authentication"
Hi,
We are running kubernates 1.8 setup on AWS private VPC which is having DHCP enabled with our windows AD running on AWS EC2 instance. We want to authenticate kubernetes with the windows AD. Kindly suggest the best way to implement this. I have gone thru webhook, keystone, dex but not sure what should be best way and very limited resource on the implementation perspective. if possible provide th

[2018-01-21 12:48] RobertDiebels commented on #3816
@chrislovecnm I'll try to work on this somwhere next week. Will keep you posted.

[2018-01-21 15:06] mmacfadden commented on #4156
@StephanX Any tips on how to do that?

[2018-01-21 15:07] mmacfadden commented on #4295
Ultimately the actual issue is probably #4156.

[2018-01-21 17:13] mmacfadden opened #4313 "Suggestions after cluster is created lists wrong ssh public key."
1. What `kops` version are you running? The command `kops version`, will display
 this information.
1.8.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
1.8.4

3. What cloud provider are you using?
AWS

4. What commands did you run?  What is the simplest way to reproduce t

[2018-01-21 23:01] philrz opened #4314 ""kops validate cluster" shows "your nodes are NOT ready" even though the same output shows READY=True for every node"
1. What `kops` version are you running?

`Version 1.8.0 (git-5099bc5)`

2. What Kubernetes version are you running?

[code]

3. What cloud provider are you using?

AWS

4. What commands did you run?  What is the simplest way to reproduce this issue?

[code]

5. What happened after the commands executed?

Usually when I do this, within 5-10 minutes, a `kops validate cluster` shows everything is rea

[2018-01-22 01:04] puppetbabu commented on #1757
Even i am getting the same problem, any idea how to resolve this issue
vagrant@ubuntu-xenial:~$ kops create cluster --name=kubernetes.babuacadamy.win --state=s3://kops-state-babu99 --zones=ap-south-1a --node-count=2 --node-size=t2.micro -
-master-size=t2.micro --dns-zone=kubernetes.babuacadamy.win
I0122 01:01:09.339514    1831 create_cluster.go:439] Inferred --cloud=aws from zone "ap-south-1a"
I01

[2018-01-22 03:08] zengchen1024 commented on #3566
@fejta-bot Sorry for that. Because of my company's work, I had no time to add new PR to this issue for the past two months. But, from now on, I come back to work on it.  Because there are still a lot of works to do to finish this issue, I need more time. Sorry!

[2018-01-22 03:08] zengchen1024 commented on #3566
/remove-lifecycle stale

[2018-01-22 09:33] huang-jy commented on #4314
There are only 40 nodes in that list, but you have specified 42. The other 2 probably haven't yet registered themselves into the cluster yet. Check to see if they have shown up on AWS and if they have, check if they are showing ready. If they are, try doing a reboot (not a terminate) on the two boxes to see if they show up.

[2018-01-22 10:06] mikn commented on #4132
Oh, sorry @audip, didn't see your comment on the issue before I pushed my fix :(

[2018-01-22 10:33] maingoh commented on #4277
I am not sure I understand if it is currenly feasible with kops ?

If yes, how the yaml config would look like ?
If no and it is not too complicated (i am not familiar with go), I can try to make a PR.

[2018-01-22 11:07] spa-87 commented on #4181
@vidurgupta I believe you should create an issue at the fork repository because spotinst provider isn't supported by the official version yet: https://github.com/spotinst/kubernetes-kops

[2018-01-22 11:25] vidurgupta commented on #4181
@spa-87 The issues are not enabled on the forked repo. I will try to get some other tool .

[2018-01-22 13:05] michaelajr commented on #3993
I was surprised to see that I still needed to create an sshpublickey secret when specifying the `sshKeyName` in the cluster yaml. Glad to see this is slated for 1.8.1.

[2018-01-22 13:40] audip commented on #4132
No problem, @mikn.

[2018-01-22 14:01] errordeveloper commented on #1818
/close

[2018-01-22 14:01] #1818 closed

[2018-01-22 14:53] mmacfadden commented on #4156
@francoran In terms of the keyset.yaml, I don't think you would see any error on the machine you are running KOPS from. The error happens when the nodes are bootstrapping after kops is done. I believe you would have to ssh in to a master node (for example) and take a look at the syslog to see the issue. At least that is my experience.

[2018-01-22 16:41] charleszheng44 opened #4322 "Set max-request-inflight for large cluster"
Hi,

Can I set the max-request-inflight by using kops? I have tried

kops edite cluster

spec:
    kubeAPIServer:
        maxRequestInflight: 1000

But it does not been recognized.

Thanks,
Charles

[2018-01-22 18:38] StephanX commented on #4156
@mmacfadden shortest answer I can give (for me on OSX):
Requirements:
- golang 1.9.2 from homebrew
- docker
- write access to an S3 bucket (export AWS_ACCESS_KEY=<your key> AWS_SECRET_KEY=<your secret>)
[code]

Build time takes me 45 minutes.  I comment out windows build targets in the MakefileThe binaries will be built and pushed to your S3 bucket.  During `kops create` you will need to then expo

[2018-01-22 19:35] blakebarnett commented on #3861
I think this is an upstream cloud-provider issue, it's something to do with detecting all the AZs that an ELB has subnets in between 1.8 and 1.9, once all the nodes are upgraded it stops happening AFAICT.

[2018-01-22 20:22] philrz commented on #4314
Ah! Thank you @huang-jy. I'm slightly embarrassed how that eluded me, but I'm glad there's such a simple explanation. I'll go ahead and close this issue and open a new one if I should ever find the hunt-&-reboot strategy doesn't work in the future. Your action plan makes perfect sense though.

[2018-01-22 20:22] #4314 closed

[2018-01-22 20:29] huang-jy commented on #4314
Not a problem, it catches me still sometimes ^^

[2018-01-22 20:46] psyhomb commented on #3413
@huang-jy could you please share with us what exactly did you fix, what exactly was wrong with configuration?

[2018-01-22 20:52] huang-jy commented on #3413
@psyhomb at the time I was trying to setup a cluster without actually having a publicly resolvable domain. No wonder the api wouldn't function properly since it couldn't resolve correctly. Fixed that by purchasing a domain through Amazon (something I had been wanting to do for a while) and using that in Route 53. Then it all worked.

[2018-01-22 21:08] harsha-y opened #4323 "Random TCP timeouts when accessing SVCs intra-cluster using ClusterIP"
We are able to reproduce this problem across multiple clusters in different environments. But for simplicity sake, the test cluster we are currently running has 3 masters and 2 nodes.

1. `kops version`
[code]

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
[code]

3. What

[2018-01-22 22:14] mellena1 opened #4324 "The kubernetesApiAccess field doesn't work properly when using an ELB"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
1.8.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version spe

[2018-01-22 22:34] mellena1 commented on #4324
I may have jumped the gun here... From my googling, it seems like having the sg in the Master's SG should be enough to allow the traffic, which is what kops sets up. Does anyone know why I would be seeing this odd behavior?

[2018-01-22 22:48] mellena1 commented on #4324
Ok, now it just kinda randomly started working. Why AWS, why? -___-

Thanks for all you do kops devs!

[2018-01-22 22:48] #4324 closed

[2018-01-22 23:48] philrz commented on #4314
BTW @huang-jy, I found myself in this same situation this afternoon and your reboot idea worked like a charm. Got me from 96 to 97 nodes, hence saved me a lot of time & money. If anyone else should stumble onto this issue in the future, I also created a little helper script in Python to dump the set of slave nodes from my AWS that I could `diff` against the set from `kops validate`, and hence easi

[2018-01-23 00:36] psyhomb commented on #3413
@huang-jy thanks for the quick answer!

[2018-01-23 00:40] drequena opened #4326 "Kubernetes Dashboard never goes up again after Master Reboot."
Hello everybody,

I'm running kops 1.7.1 on AWS using weave and my current version of kubernetes is 1.7.2
This cluster is a simple cluster, 1 master, 3 nodes.
After rebooting the master ec2 instance (ssh in to it and rebooted), the dashboard does not start anymore.
I've tried to delete the entire deploy:

kubectl delete -f https://raw.githubusercontent.com/kubernetes/kops/master/addons/kubernetes-

[2018-01-23 01:32] ReillyProcentive commented on #3697
/remove-lifecycle stale

[2018-01-23 04:21] dannolan commented on #3060
Has this gotten anywhere? Currently worried about upgrading.

[2018-01-23 05:14] huang-jy commented on #4314
I think there's some kind of race condition going on here, that a reboot fixes - though no idea what, and why it sometimes happens and doesn't.

[2018-01-23 06:20] dzoeteman commented on #3060
@dannolan @qrpike this should be in 1.8.0+.

[2018-01-23 08:02] notmaxx commented on #3961
@chrislovecnm I have similar question, I would like to use my `tf` configuration mgmt system but really love how `kops` does k8s setup & startup. So if it is possible to manage/create/modify configuration for `nodeup`, `protokube` (what else?) by `terraform` and its providers/templates that would be great

[2018-01-23 13:01] mmacfadden commented on #4156
@justinsb you mentioned publishing a 1.9.0-alpha.1 release to fix this. Is that a possibility?

[2018-01-23 14:24] glend opened #4327 "Pod sandbox issues and stuck at ContainerCreating"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

[code]

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

[code]

3. What cloud provider are you using?

`AWS`

4. What commands did you run?  What is the simplest way to repr

[2018-01-23 15:20] snoby commented on #4188
So I was just looking at the stable channel and it looks like the 01-14 build is being used now:
kope.io/k8s-1.8-debian-jessie-amd64-hvm-ebs-2018-01-14

https://github.com/kubernetes/kops/blob/2a5e13660d59184f6269c406a95ff49181408c8d/channels/stable#L24

I loaded it up on a test cluster and ran the spectre-meltdown-checker:
[code]
seems like no change from the 01-05 image.

[2018-01-23 15:33] krogon-dp commented on #4188
@snoby See my previous response - there are no upstream patches for debian/ubuntu yet. Moreover there is a known bug [1] in recent Intel microcode (for Variant 2), which results in reverting it [2].
[1] https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=886998
[2] https://launchpad.net/ubuntu/+source/intel-microcode/3.20180108.1+really20171117.1

[2018-01-23 15:47] krogon-dp commented on #4188
^up: seems like 4.4.0-111.134 [1] was released yesterday and addresses this issues [2].

[1] https://launchpad.net/ubuntu/+source/linux-lts-xenial/4.4.0-111.134~14.04.1
[2] https://usn.ubuntu.com/usn/usn-3540-2/

[2018-01-23 16:11] yoz2326 commented on #4327
See this two links:
https://github.com/weaveworks/weave/issues/2797
https://github.com/weaveworks/weave/issues/2797

Basically weave does not reclaim unused IP addresses after nodes have been removed from the cluster. This was fixed in weave 2.1.1 but kops release 1.8.0 ships weave 2.0.5. The master branch in kops has weave 2.3.1, so we're waiting for a new release.
Meanwhile we're removing unused

[2018-01-23 16:21] neilhwatson opened #4328 "NodePort services in AWS deploy not working"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
Version 1.8.0 (git-5099bc5)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the

[2018-01-23 16:24] yoz2326 commented on #4265
We have a similar setup (as in VPC created and managed via terraform and kops creates the cluster). It is better to use the new set of tags going forward.

In our case, to reconcile the two tools, we create the tags in terraform and use something similar to the code below:

[code]

[2018-01-23 17:03] metametadata commented on #4288
`kubectl` has `apply` which creates or brings the resource to the specified state using the passed configuration:

[code]

The provided configuration doesn't have to contain all the fields, there're a lot of optional fields which have sensible default values. This looks similar to how `kops` doesn't require the full manifest on creating the cluster and "infers" values from the limited number of ex

[2018-01-24 01:22] #4132 closed

[2018-01-24 02:12] cjcullen commented on #2790
/remove-lifecycle stale
/lifecycle frozen

[2018-01-24 02:14] cjcullen commented on #2790
Has this been fixed in kops?

[2018-01-24 08:02] thomasjungblut commented on #2254
hey @chrislovecnm, I'd like to work on this. Any suggestion where to start?

[2018-01-24 09:12] chrisfu commented on #4301
So, I found the root cause of my issue, and it wasn't related to #4156.

Basically, for the staging cluster (account 2, us-east-1) we were using a bucket via cross-account access (in account 1, us-east-2). This worked fine for a Kops 1.7.0/K8s 1.7.6 deployment.

Unfortunately, this didn't work in our production account (account 3, us-east-1) using the same bucket in account 1, us-east-2. During th

[2018-01-24 09:17] FrederikNS commented on #3605
The script @ese provided didn't work for me, but then I found 2 small errors in the hook. After fixing those it seems to work nicely. The hook should have been:

      hooks:
      - manifest: |
          Type=oneshot
          ExecStart=/usr/bin/docker run --net host quay.io/sergioballesteros/check-aws-tags
          ExecStartPost=/bin/systemctl restart kubelet.service
        name: ensure-aws-ta

[2018-01-24 10:20] ApsOps opened #4330 "rootVolumeSize value not respected for spot node instance group with M5 instance"
1. kops version:   **Version 1.8.0 (git-5099bc5)**

2. kubectl version: **v1.8.7**
[code]

3. cloud provider: **AWS**

4. What commands did you run?  What is the simplest way to reproduce this issue?
**Created an instance group with following configuration.**
[code]

5. What happened after the commands executed?
**The nodes ASG was created with 100 GB root volume, but with only 8GB partition being

[2018-01-24 11:00] guitmz commented on #4330
I just came across the exact same issue, disk is created with the correct size but root partition defaults to 8gb instead. Pretty much the same config as above.

[2018-01-24 11:11] tatobi opened #4331 "CrashLoopBackOff on RHEL/CentOS Host with KOPS+Calico+crossSubnet"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

`
Version 1.8.0 (git-5099bc5)
`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

[code]

3. What cloud provider are you using?
AWS

4. What commands did you run?  What is th

[2018-01-24 11:31] ApsOps commented on #4330
From the statement in release notes, I assumed only masters are affected since it says

[2018-01-24 14:44] chrislovecnm commented on #1738
/lifecycle frozen

[2018-01-24 14:45] justinsb commented on #4210
Thanks @roberthbailey  - will be fixed by #4334

(And #4332 spares you from having to specify --project as well, if you have it configured in gcloud)

[2018-01-24 15:01] tatobi commented on #4331
Workaround on CentOS / RHEL:
[code]

[2018-01-24 15:01] #4331 closed

[2018-01-24 16:14] mikesplain commented on #4203
Ensure all new or modified files have proper licensing at the top.

[2018-01-24 16:59] neilhwatson commented on #4328
More info: From a node I can ```curl -H "HOST: helloworld.k8s.example.net" localhost:32595``` where 32595 is the endpoint for nginx-ingress controller. This returns the correct content. From outside the cluster ```curl helloworld.k8s.example.net``` returns 'Connection refused'.

[2018-01-24 17:20] thegranddesign commented on #834
/remove-lifecycle stale

[2018-01-24 18:04] rifelpet opened #4339 "Tests fail if AWS_REGION is set"
I noticed that a few tests fail if the AWS_REGION environment variable is set.
[code]

It'd be great if we could add isolation to these tests so that their behavior isn't affected by environment variables that happen to be set in the parent shell.

[2018-01-24 21:25] neverfox commented on #1478
I used -A but still no luck. FWIW, I can specified a pre-existing key pair using `sshKeyName` when creating the cluster.

[2018-01-24 22:23] adhadkar opened #4340 "subnets option is not available in version 1.8.0"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
1.8.0
2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version spec

[2018-01-24 22:46] bismarck commented on #4328
@neilhwatson You need to open up the nodePorts on your security groups.  In Kops 1.8 they added an experimental flag to do this for you, see https://github.com/kubernetes/kops/pull/3336.

[2018-01-24 22:47] chrislovecnm commented on #4340
That option I think is only in master. Take a look for the docs that are on the git tag.

[2018-01-24 22:47] chrislovecnm commented on #4340
If it is in master it will be released with 1.9. What does —help show?

[2018-01-24 22:49] quicksnap commented on #4288
To chime in, I've been looking for something exactly like `kops apply` as well.

I'm writing some scripts that automate the creation of our cluster, and the nodes AWS policy needs `additionalPolicies` for Route53 (for k8s/external-dns). That option is not available for the CLI, but it would make more overall sense if I could `kops create --dry-run` a cluster, modify the yaml, and run an idempotent

[2018-01-24 22:51] chrislovecnm commented on #2657
/lifecycle frozen

[2018-01-24 22:51] chrislovecnm commented on #4339
Related https://github.com/kubernetes/kops/issues/2657

[2018-01-24 22:53] chrislovecnm commented on #4203
@mikesplain that should be picked up by our linter which checks for the boilerplate.

I would modify the statement to all scripts must end with sh suffix so that our linger parses them.

[2018-01-24 22:58] chrislovecnm commented on #2254
/lifecycle frozen

[2018-01-24 22:59] chrislovecnm commented on #2254
What change needs to occur with how we setup k8s?

[2018-01-24 23:00] chrislovecnm commented on #4288
So kubectl apply is sorta like kops replace btw.

[2018-01-24 23:06] johanneswuerbach commented on #2254
Assumably there should be a field/annotation within the instance group spec to toggle https://docs.aws.amazon.com/sdk-for-go/api/service/autoscaling/#AutoScaling.EnableMetricsCollection

[2018-01-24 23:38] chrislovecnm commented on #2254
Is there a harm in always enabling the service

[2018-01-24 23:54] valdisrigdon commented on #4139
FYI we've done a calico 2.6.2 to 2.6.6 upgrade by changing the calico `DaemonSet` to `RollingUpgrade` and then updating the image on an already created cluster. The upgrade was successful.

[2018-01-25 00:00] adhadkar commented on #4340
Help doesn't show this option. Looks like it is not supported in current version 1.8.0

[2018-01-25 00:00] #4340 closed

[2018-01-25 07:43] johanneswuerbach commented on #2254
@chrislovecnm I think its mainly a minor cost increase due to the new cloudwatch metrics but shouldn’t cause anything else

[2018-01-25 07:48] thomasjungblut commented on #2254
can't this be feature flagged?

[2018-01-25 11:50] bcorijn commented on #1558
@mv78 that is because the base image already has it in-kernel, so there is no need to install it on top.
Your SriovNetSupport looks fine to me, if ENA is not supported that property will be empty, while a value of simple means that enhanced networking is enabled. (see [documentation](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/sriov-networking.html))

It all depends on which instance type

[2018-01-25 14:34] neilhwatson commented on #4328
Sadly this did not help. Indeed I have already tried allowing traffic direct to the nodes. It appears that once the traffic hits the node it's not forwarded to the ingress controller. When I send traffic via the ingress ELB:

This works.
```curl -H "HOST: helloworld.k8s.example.net" ae9xxxxcentral-1.elb.amazonaws.com```

This timesout.
```curl helloworld.k8s.example.net```

Very likely I don't und

[2018-01-25 15:47] #4303 closed

[2018-01-25 16:06] chrislovecnm commented on #2254
If we can verify that there is cost that would be awesome. If there is a cost then we need an api value, if not might as well enable by default.

[2018-01-25 16:08] veksler commented on #1558
i was using m5 .

[2018-01-25 16:15] chrislovecnm commented on #4322
We do not seem to have that exposed in https://github.com/kubernetes/kops/blob/master/pkg/apis/kops/componentconfig.go

Good news is that it is super easy to expose see

 https://github.com/kubernetes/kops/blob/master/docs/development/api_updates.md

Add the struct value, generate api machinery and you are good to go!

[2018-01-25 16:18] chrislovecnm commented on #4258
You can actually set channels to any https url, so you can use your own. There is not a hard dependency on GitHub, but a dependency on the file accessible via https or http

[2018-01-25 16:19] johanneswuerbach commented on #2254
@chrislovecnm researching a bit it seems those metrics are actually free https://aws.amazon.com/about-aws/whats-new/2016/08/free-auto-scaling-group-metrics-with-graphs/ and could be opt-in by default.

[2018-01-25 16:48] #4210 closed

[2018-01-25 17:28] gbmpgb commented on #3154
@gdvadas **Add the nat id:**

- cidr: x.x.x.x/x
    egress: nat-00aaaaa000aaaaa0a
    id: subnet-aaaaaaaa
    name: us-east-1a
    type: Private
    zone: us-east-1a

[2018-01-25 18:23] virusdave commented on #4188
Any updates on getting kops images with the latest upstream security fixes?

[2018-01-25 18:33] chrislovecnm commented on #1647
/lifecycle frozen

[2018-01-25 19:40] roberthbailey commented on #4210
Thanks!

[2018-01-25 19:45] cdenneen commented on #3154
@gbmpgb what's the egress needed for? I haven't had to add it and everything works... is something broken without this? Just needed the `id:` and it will use existing ones.

[2018-01-25 21:10] justicel opened #4343 "KOPS update/upgrade does not check routing type matches on upgrade"
1. What `kops` version are you running? The command `kops version`, will display
 this information.
- 1.8.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
- 1.8.6

3. What cloud provider are you using?
- AWS

4. What commands did you run?  What is the simplest way to repro

[2018-01-25 21:26] neilhwatson commented on #4328
This problem is was fixed. The problem was not with kops, but with nginx-ingress. To use in AWS with one ELB and external-dns install it this way:
[code]

[2018-01-25 21:26] #4328 closed

[2018-01-25 22:36] benjigoldberg commented on #4330
Also seeing this issue on our new M5 Nodes.

[2018-01-26 00:59] robinpercy commented on #4203
Ensure all commits have been squashed to represent meaningful work, as per https://github.com/kubernetes/community/blob/e038c259b12e4cf6615ed57a2816d6da402a0d89/contributors/guide/github-workflow.md#7-create-a-pull-request

[2018-01-26 04:00] chrislovecnm commented on #4330
@ApsOps does it work with stretch?

[2018-01-26 04:00] chrislovecnm commented on #4183
Is this fixed?

[2018-01-26 06:17] ApsOps commented on #4330
@chrislovecnm yeah, looks like it works with the stretch image. There's an extra 1MB partition (of unusable space, I think) though.
[code]

[2018-01-26 06:33] chrislovecnm commented on #3566
@zengchen1024 ... that is a silly bot, not a human.

/cc @fejta we may want to add the fact that this is a bot and not a human.

[2018-01-26 07:13] mingyuanzhu commented on #4040
@kgignatyev-inspur Do you have some updates? I have the same issues. Deploy k8s cluster in the aws cn-north-1 and DNS resolution is very slow from the pods. But resolution is very fast from the instance. I use the `kubenet` as the networking.

[2018-01-26 09:06] gozer2222 commented on #780
+1 Also very very interested.

[2018-01-26 12:39] #2254 closed

[2018-01-26 14:23] jjo opened #4345 "kops-installed kubernetes-iptables-setup.service voids weave-npc rules from working, making kops + weave unusable for kubernetes network policies"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.8.0 (git-5099bc5)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

`1.8.5`, using `image: kope.io/k8s-1.8-debian-jessie-amd64-hvm-ebs-2017-12-02`
*and* `weave` / `

[2018-01-26 15:21] boube commented on #4323
Hi, the same here :(

[2018-01-26 17:47] rifelpet commented on #2657
@chrislovecnm how would you suggest solving this? unexporting all of these variables in the `make test` ?

[2018-01-26 18:30] chrislovecnm commented on #4203
When a go dependency is updated or added it should be the only change in the PR.  No other code changes should be included.

[2018-01-26 18:32] chrislovecnm commented on #3716
/lifecycle freeze

[2018-01-26 19:15] chrislovecnm commented on #4203
Common challenges that I see often with PR reviews.

1. edit markdown docs that are generated from cobra - we have tried to mitigate this with notes in the markdown, has not worked.  CI catches this though.  Maybe instructions with PR "hey here is how to run CI"?
1. update addons that are in https://github.com/kubernetes/kops/blob/master/upup/pkg/fi/cloudup/bootstrapchannelbuilder.go and do not up

[2018-01-26 19:19] chrislovecnm commented on #4203
@parispittman we have much overlap with other PR reviews but here is a list of differences:

1. vendoring is different between subprojects.  kubernetes/kubernetes uses godep, we use submodules, and maybe dep soon
1. docs are generated differently in kubernetes/kubernetes and this causes some confusion with new contributors with code generated docs.
1. CI is different with Travis runs, and e2e is s

[2018-01-26 19:24] blakebarnett commented on #4203
@chrislovecnm if I was going to work on it, I'd much rather move it out of the code, so that configuring versions is a simple config change that gets put in the state bucket.

[2018-01-26 19:24] harsha-y commented on #4323
@boube Are you running CoreOS/Container-Linux(we are)? What version of kops+kubernetes versions did you use in your tests assuming you're running the cluster on AWS?

[2018-01-26 19:36] #4256 closed

[2018-01-26 19:39] jjo commented on #4345
BTW below `cluster.yaml` hook works-around this issue by having pre-set
`FORWARD` policy to `ACCEPT`, thus voiding `iptables-setup` logic
(verified working via node addition):
[code]

[2018-01-26 19:53] chrislovecnm commented on #4345
/cc @bboreham

@jjo what specific rule(s) need to change for weave?

/cc @caseydavenport does this impact calico as well?

[2018-01-26 19:56] dtirer commented on #1525
any update here?  I just experienced this issue.  I created a cluster in one AZ  and tried to add 2 AZs, and the load balancer never updated with the new subnets:

[code]

[2018-01-26 20:47] caseydavenport commented on #4345
@chrislovecnm from the description above, I don't think this will affect Calico.

[2018-01-26 21:14] chrislovecnm commented on #1525
@dtirer I believe we had another PR open to fix this ... let me re-open this

[2018-01-26 21:15] chrislovecnm commented on #4277
@maingoh no this is not currently supported in kops and would need to be implemented.

[2018-01-26 21:16] chrislovecnm commented on #4312
@ganeshmedhekar I would look on stackoverflow or ask on slack.  This may not be the correct forum to get an answer.

[2018-01-26 21:17] chrislovecnm commented on #4311
Can you retry?  This seems to be an error with the hash in google storage.  More an upstream problem, as kops seems to be working fine.

[2018-01-26 21:18] chrislovecnm commented on #4301
@chrisfu this seems to be an IAM issue, are we missing a permission?  We reduced the IAM roles significantly in kops 1.8, did we miss something?

[2018-01-27 09:09] kaijparo commented on #4156
I'm running into this too:

$ kops version
Version 1.8.0 (git-5e68a5a33)

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.4", GitCommit:"9befc2b8928a9426501d3bf62f72849d5cbcd5a3", GitTreeState:"clean", BuildDate:"2017-11-20T19:12:24Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"darwin/amd64"}

I had an existing cluster at version 1.8.7 and I was trying to a

[2018-01-27 14:48] jjo commented on #4345
The issue is that (freshly after boot) added `iptables -A FOWARD -p <proto> -j ACCEPT`
will void any filtering decision for rules added afterwards, as `weave-npc` does (dunno
about Calico). These rules are added only if `FORWARD` policy is `DROP`, my
workaround sets it to `ACCEPT` before, so that this condition is not met.

We could instead do that in the same script (flip the default policy to `A

[2018-01-27 14:56] Cryptophobia commented on #2216
/remove-lifecycle stale

[2018-01-27 14:58] Cryptophobia commented on #2216
/remove-lifecycle stale

[2018-01-27 15:20] chrislovecnm commented on #4156
@kaijparo can I get detailed instructions of the steps you have taken? Also, can you please use “make upload” and use a custom version of nodeup?

[2018-01-27 18:40] ganeshmedhekar commented on #4312
Thanks

[2018-01-27 19:09] #4312 closed

[2018-01-27 19:19] DATLegendKujo commented on #4312
Create a new build

[2018-01-27 22:29] chrislovecnm commented on #3717
/lifecycle frozen

[2018-01-27 22:33] bhack commented on #518
Any Kops maintainer can comment on https://github.com/kubernetes/kubernetes/issues/54011?

[2018-01-28 07:26] fejta commented on #3083
@kubernetes/sig-aws-misc
@chrislovecnm @justinsb @krzyzacy
Is this fixed?

[2018-01-28 09:10] bboreham commented on #4345
I believe this would be mostly fixed by https://github.com/weaveworks/weave/pull/3210 wherein we insert our drop rule at the top of the chain.

“mostly” because someone can still come along later and insert an accept rule ahead of our drop rule.

[2018-01-28 22:20] krzyzacy commented on #3083
/assign
done
/close

[2018-01-28 22:20] #3083 closed

[2018-01-29 06:58] gvonness opened #4347 "DNS issues with autoscaler on AWS"
cluster-autoscaler is not launching correctly on AWS with the pod logs giving the following error:
[code]

Bug report information:

- kops version: 1.8.0
- Kubernetes version: 1.9.2
- Cloud provider AWS

I have a running cluster with a number of instance groups. I am using the following config for the autoscaler deployment:

[code]

I have gone through the solutions in [Issue 1796](https://github.

[2018-01-29 09:45] tettaji opened #4348 "dns-controller deployment not updated when setting externalDns.watchIngress: true"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.8.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.8.6

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest w

[2018-01-29 10:16] maingoh commented on #4277
With some specifications and guidances I can try to make a PR if you want. Is it something that require a refactoring or can it be implemented "easily" ?

[2018-01-29 10:37] bcorijn commented on #800
/remove-lifecycle rotten

As mentioned above, I would still appreciate having this feature.

[2018-01-29 11:14] boube commented on #4323
Yes, using CoreOS stable on AWS. Versions:

$ kops version
Version 1.8.0
$ kubectl version | grep Server
Server Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.6", GitCommit:"6260bb08c46c31eea6cb538b34a9ceb3e406689c", GitTreeState:"clean", BuildDate:"2017-12-21T06:23:29Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

[2018-01-29 12:24] chrislovecnm commented on #800
/lifecycle frozen

[2018-01-29 12:32] chrislovecnm commented on #4345
@bboreham that will be in weave 2.2?

[2018-01-29 17:26] KashifSaadat opened #4350 "Master nodes sometimes attach unassociated ETCD Volumes"
1. What `kops` version are you running?
    * `Version 1.8.0 (git-2a5e13660)`
2. What Kubernetes version are you running?
    * `Kubernetes v1.8.4`

3. What cloud provider are you using?
    * Amazon Web Services

4. What commands did you run?  What is the simplest way to reproduce this issue?
    * Create a Kubernetes Cluster with a kops `EtcdClusterSpec` similar to below (more masters increases

[2018-01-29 18:10] KashifSaadat opened #4351 "Updating from kops v1.8.0 to master fails due to missing keyset.yaml in S3"
1. What `kops` version are you running?
    * Initial Cluster Build, kops v1.8.0 (5099bc5)
    * Cluster Update, kops v1.8.0 (2a5e136)

2. What Kubernetes version are you running?
    * Kubernetes v1.8.4

3. What cloud provider are you using?
    * Amazon Web Services

4. What commands did you run?
    1. Build a Kubernetes Cluster via kops ([official v1.8.0 release](https://github.com/kubernetes/

[2018-01-29 20:32] kaijparo commented on #4156
@chrislovecnm I tried the steps @StephanX and it looks like i can get to the keyset.yaml file now... but now i'm getting:

"Jan 29 11:12:27 ip-10-203-27-231 nodeup[692]: W0129 11:12:27.654983     692 main.go:141] got error running nodeup (will retry in 30s): error building loader: CA certificate "ca" not found"

[2018-01-29 21:04] kaijparo commented on #4156
@KashifSaadat did you ever resolve this?

[2018-01-29 21:20] philpennock opened #4352 "security: SSH HostKeyCallback / ssh.InsecureIgnoreHostKey"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

Code examination of HEAD.

2. What Kubernetes version are you running?

N/A

3. What cloud provider are you using?

N/A

4. What commands did you run?  What is the simplest way to reproduce this issue?

`fgrep -r InsecureIgnoreHostKey kops`

5. What happened after the commands executed?

I got a ma

[2018-01-29 21:52] mmacfadden commented on #4156
@kaijparo I think you are now at the bug the rest of us are seeing. It seems like this won't be resolved until we get an alpha release of kops 1.9.0...

[2018-01-29 21:52] perryao commented on #3957
I'd like to try my hand at this. I'll work on a rough version over the coming weeks and hopefully come back to discuss design with you @chrislovecnm

[2018-01-29 22:05] StephanX commented on #4156
@kaijparo I agree with @mmacfadden , I couldn't effectively do an upgrade where the old nodes were built on 1.8.7 and new nodes on 1.9.2.  The alternative (for me) was to ssh to the nodes, and change the download of the new nodeup to read from the old assets; basically, not upgrade at all.  Building brand new clusters, using kubernetes version 1.9 and building nodeup worked for me, as of kops sha

[2018-01-29 22:41] kaijparo commented on #4156
@StephanX

how did you accomplish this?

The alternative (for me) was to ssh to the nodes, and change the download of the new nodeup to read from the old assets; basically, not upgrade at all.

Feeling pretty green here

[2018-01-29 23:05] StephanX commented on #4156
@kaijparo the answer gets a bit more in the weeds than I'd normally like to post in a bug report.  Assuming you're on AWS, the most direct suggestion I can think of would be to look at your earlier AWS autoscaling launch configurations.  They'll have a name similar to nodes.demo1.k8s.<redacted>-20171124195225 . The 201711 in this case shows the configuration created on Nov 24, 2017.  Click a confi

[2018-01-30 00:39] azuretek opened #4353 "Using existing natgw doesn't work"
Kops Version: 1.8.0

I use `kops create -f my-cluster.yaml` to create my cluster, when I specify an existing NATGW it doesn't work, it seems to just create a new NATGW in addition to the one that already exists in my VPC.

My subnet config looks similar to this:
[code]

Support was added last year (https://github.com/kubernetes/kops/pull/1366) but I can't seem to figure out why it's not working. A

[2018-01-30 00:48] kaijparo commented on #4156
@StephanX

Thanks for the help!

After doing those steps, i found myself back at:

Jan 29 23:26:54 ip-10-203-25-183 nodeup[706]: I0129 23:26:54.869405     706 s3fs.go:176] Reading file "s3://<redacted>/pki/issued/master/keyset.yaml"
Jan 29 23:26:54 ip-10-203-25-183 nodeup[706]: W0129 23:26:54.879330     706 main.go:141] got error running nodeup (will retry in 30s): error building loader: error in

[2018-01-30 01:27] StephanX commented on #4156
Unless you deleted it for posting purposes, it appears your kops S3 store isn't being referenced.  For example, my kops store is `s3://<MY_KOPS_STORE_BUCKET>/<MY_CLUSTER_NAME>/pki/issued/ca/keyset.yaml`

[2018-01-30 01:28] chrislovecnm commented on #4156
i am guessing you need a newer version of nodeup.

make upload with the s3 bucket name will help with that.

Let me know how it goes. I am concerned about upgrades with this as well.

[2018-01-30 02:12] kaijparo commented on #4156
@StephanX i did remove the bucket name for the post actually..
@chrislovecnm this right?

make upload S3_BUCKET=s3://<your AWS S3 bucket>/<Clustername>

[2018-01-30 06:00] gvonness commented on #4347
I realised that I had been putting in the AZ instead of the region into the AWS_REGION placeholder. Please disregard.

[2018-01-30 06:00] #4347 closed

[2018-01-30 08:49] hzxuzhonghu opened #4355 "Should stop using `--address` kube-apiserver flag"
kube-apiserver `--address` flag is marked deprecated more than a year ago. https://github.com/kubernetes/kubernetes/pull/36604

And now it's time to remove it, but when I do it(https://github.com/kubernetes/kubernetes/pull/59018), I found the kops-aws failed. So I look into code here and find this flag is still used.  So I think `KubeAPIServerConfig.Address` should be removed.

[2018-01-30 09:06] KashifSaadat commented on #4156
Hi @kaijparo, The error about the missing `keyset.yaml` is different to what this issue was originally tracking. I've raised #4351 to track the missing `keyset.yaml` on cluster upgrades.

A temporary workaround (to get your cluster upgrade working) would be to modify the following lines, setting `useBundle` to false:
- https://github.com/kubernetes/kops/blob/2a5e136/upup/pkg/fi/vfs_castore.go#L360

[2018-01-30 09:21] KashifSaadat commented on #4301
Hi @chrisfu. Good find, so it appears that an additional IAM permission is required for the cases where an S3 bucket is located in a region different to where the cluster has been built / instances are running.

Please could you test by adding the relevant IAM permission to the master & node policies, I believe something like:
[code]

If so, we would need to extend the permissions here: https://gi

[2018-01-30 09:46] KashifSaadat commented on #4301
Related code performing the brute-force reqs: https://github.com/kubernetes/kops/blob/cc67497/util/pkg/vfs/s3context.go#L181-L228

[2018-01-30 12:24] JerryPreissler opened #4358 "--subnets flag not working with create cluster"
According to https://github.com/kubernetes/kops/blob/master/docs/run_in_existing_vpc.md kops should support specifying existing subnets to use when setting up a cluster. When I run

kops create cluster \
  --node-size t2.small \
  --master-size t2.small \
  --node-count 4 \
  --cloud aws \
  --subnets ${SUBNETS} \
  --zones eu-central-1a \
  --master-zones eu-central-1a \
  --vpc ${VPCID} \
  --dn

[2018-01-30 14:37] erkolson commented on #1917
Seeing this now too.  I would be better if kops issued a warning about the route tables rather than erroring.  In my case, I am purposely routing outgoing connections through a traffic monitoring device.

[2018-01-30 15:04] erkolson commented on #1917
/remove-lifecycle rotten

[2018-01-30 15:04] erkolson commented on #1917
/remove-lifecycle stale

[2018-01-30 15:18] mikesplain commented on #4351
We actually just started getting this too, though our clusters are still under Kops 1.7 and I think a master build snuck in there somewhere in testing. Will update when I know more.

[2018-01-30 15:57] tchelovilar commented on #4353
Hi,

I just used it here and it worked correctly. Have you used an existing VPC? Please send the complete configuration file.

Thanks.

[2018-01-30 16:05] huang-jy commented on #4358
`kops create cluster` doesn't have a `--subnet` flag.

`kops create cluster --help` will confirm

Some other commands - `kops create ig` for example, *do* have the flag.

If you want to attach existing subnets you have to edit the cluster config after the create cluster command is complete.

Try checking this out -- it's blog post I did to attach a new cluster to existing subnets and VPC.

https:/

[2018-01-30 16:09] bboreham commented on #4345
Yes, just released https://github.com/weaveworks/weave/releases/tag/v2.2.0

[2018-01-30 16:20] mikesplain commented on #4351
Confirmed, I ran into this because I was running master kops but not up to date nodeup.  Then rolled back to 1.8.. and ran into an error that `issued/ca/keyset.yaml` had actually been generated but kops cli 1.8.0 didn't know what it was.  Deleting that, solved this issue for now.

[2018-01-30 16:25] wlan0 commented on #2778
/remove-lifecycle rotten

[2018-01-30 16:42] gasserk commented on #3963
We are running Kubernetes `1.8.3` with Docker CE `17.03.2` without kops, same issue on all nodes in our cluster that we have deployed at AWS:
[code]

[2018-01-30 17:16] aldev-web opened #4360 "Master not starting in AWS eu-west-3"
1. What `kops` version are you running? The command `kops version`, will display
 this information.
=> Version 1.8.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
=> Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.1", GitCommit:"3a1c9449a956b6026f075fa

[2018-01-30 17:51] azuretek commented on #4353
Yes, here's my cluster.yaml

[code]

[2018-01-30 17:58] azuretek commented on #4353
@tchelovilar can you post the config you used that worked? I'm not seeing what I'm doing wrong, I believe I'm following the docs properly.

[2018-01-30 18:15] tomdee commented on #4037
@KashifSaadat Could you raise an issue against flannel to make this configurable

[2018-01-30 18:51] KashifSaadat commented on #2510
/assign
/close

[2018-01-30 18:51] #2510 closed

[2018-01-30 19:53] KashifSaadat commented on #2231
/close

[2018-01-30 19:53] #2231 closed

[2018-01-31 06:08] chrislovecnm commented on #2959
/lifecycle freeze

[2018-01-31 07:36] kaijparo commented on #4156
Just following up - I eventually had to rebuild the cluster with the new make upload binary and the new nodeup with hash.

Thanks all for your help!

[2018-01-31 09:23] ShualLiu commented on #3236
I make it just now....
1. Download shadowsocks.
2. Get a ss account and connect ss.
3. Download privoxy.
4. Set up forward rule, default to 8118.
5. Set docker proxy, and set http(s)_proxy to http://localhost:8118 (according to 4)
6. Restart docker daemon and docker.
7. Enjoy it.

[2018-01-31 11:26] hzxuzhonghu commented on #4355
/help

[2018-01-31 11:50] olemarkus commented on #1097
Looks like. See #3433

[2018-01-31 16:31] tchelovilar commented on #4353
It seems to be all right in your config. Check the configuration of the nat-gateway you are using.  Or export to terraform to see if applying by terraform generates some error.

My kops version is `Version 1.8.0 (git-5099bc5)`.

I used the config below for testing.

[code]

[2018-01-31 20:40] jhedev commented on #4249
For anyone reading this issue: #4336 solves my problem and will hopefully get merged soon

[2018-01-31 20:48] azuretek commented on #4353
Your config seemed to work for me, not sure what's causing mine to not work properly. I don't know of any way to output to terraform using the `kops create -f` command.

I just ran my config again to confirm I didn't screw something up but it's definitely not working the same as your config.

[2018-01-31 23:12] schweizerbolzonello commented on #4360
Hello,

Can you check in your Auto Scaling Groups what is the status of your master nodes ?
https://eu-west-3.console.aws.amazon.com/ec2/autoscaling/home?region=eu-west-3#AutoScalingGroups:

Do you use a different image (AMI) for your masters than the workers ?
For example if you use CoreOS you need to accept their Terms of Services/License in the Marketplace, then your masters will spawn (hence c

[2018-02-01 00:03] cgilmour commented on #4183
Hi @chrislovecnm , sorry I dropped the ball on this one. I have _a_ fix, but I thnk it'd be disruptive to other CNIs. I'll redo it in a different way and submit the PR after it's tested.

[2018-02-01 08:30] jhedev commented on #4056
I'm using Kops in combination with terraform for nearly a year now and it's basically the workflow above. If no one has started working on this so far, I could try :)

[2018-02-01 08:57] ApsOps commented on #4056
@jhedev Please go ahead :)

How do you handle rolling updates? That's the only thing stopping me from using TF workflow right now. I have a few ideas, but not sure what's the safest approach.

[2018-02-01 09:33] cmur2 commented on #4069
Today we discovered that kops 1.8.0 still uses the very outdated weave 2.0.5 because one of our clusters could not launch new pods since the IP address allocation pool was exhausted.

Could you please think about releasing a new version of kops including the fix from https://github.com/kubernetes/kops/commit/1b9486a7af97a9df02fbcff9d7322e63ff2ad44b or even a more recent weave version 2.2.0 soon?

[2018-02-01 09:49] KashifSaadat commented on #4037
@tomdee sure, I've raised the following issue to track this: https://github.com/coreos/flannel/issues/938

[2018-02-01 10:57] aldev-web commented on #4360
Hello,

Thanks for your messsage, I could found the solution.
By default, kops launches master size m3.medium but this instance type doesn't exist in eu-west-3. I added --master-size in create cluster and command and it works :)

[2018-02-01 10:57] #4360 closed

[2018-02-01 11:02] kubebc commented on #4052
@dio ! Thanks! This works for me too.
@chrislovecnm Thanks for the reminder. Looking forward to enabling istio-initializer without alpha features. And please close this issue.

[2018-02-01 14:13] huang-jy opened #4362 "Worker nodes will *randomly* not register with cluster, requiring a reboot"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

`Version 1.8.0 (git-5099bc5)`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide t

[2018-02-01 14:20] bcorijn commented on #3762
Just a heads-up for people who are considering the above, after adding the cgroup changes to my manifest and restarting my masters, a lot of nodes went into `NotReady` until their kubelet was restarted. I guess due to a mismatch in where the masters expect docker and kubelet to be running, and where the nodes actually have it running?
All in all, would not recommend to implement this on a running

[2018-02-01 14:47] huang-jy commented on #4362
Additional note: this affects the feasibility of using an autoscaler if you cannot reliably trust the new worker nodes to register themselves.

[2018-02-01 15:48] Rishka commented on #4362
duplicate of #3605

[2018-02-01 15:55] huang-jy commented on #4362
@Rishka are you saying this only affects spot instances?

[2018-02-01 15:58] Rishka commented on #4362
I believe so, and the fix posted in the linked issue is working for multiple people

Can you duplicate it with a non spot instance?

[2018-02-01 17:22] eherot opened #4363 "Missing internet gateway should be created in shared VPCs"
Because of #1885 I am required to use the shared VPC option if I want to use a private DNS zone, so I created a completely plain vanilla VPC and tried to run with it and got this:

[code]

If an internet gateway doesn't exist in a shared VPC, wouldn't it make sense for `kops create cluster` to create it?

[2018-02-01 19:11] omarlari commented on #3273
this still occurs if you have pass (--networking cni).

[2018-02-01 19:13] #4052 closed

[2018-02-01 19:15] chrislovecnm commented on #2858
/lifecycle frozen

[2018-02-01 20:10] colinhoglund commented on #530
I can verify that the approach @woodlee took seems to work. However, it appears that the [ELB Listeners are not currently configurable](https://github.com/kubernetes/kops/blob/master/pkg/model/awsmodel/api_loadbalancer.go#L114-L116) in the _cluster.spec_, so there's no way to make this change in a way that `kops` is aware of.

Any updates on supporting something like this?

[2018-02-01 21:11] huang-jy commented on #4362
I will check, but the workout mentioned -- is that supposed to go into the cluster def or the node def?

[2018-02-01 21:11] integrii opened #4364 "git history is huge (2.7GB) - switch to go dep?"
4. What commands did you run?  What is the simplest way to reproduce this issue?
`go get k8s.io/kops`

5. What happened after the commands executed?
2.7GB of data came down, 1.3GB of which is in the .git directory.

6. What did you expect to happen?
A reasonable amount of code to be downloaded.

It is possible to go back in time and purge this stuff out.  Is there a reason nobody has done this yet

[2018-02-01 21:51] Rishka commented on #4362
I think it can go in either, I have mine in the cluster def

[2018-02-01 21:53] huang-jy commented on #4362
Thanks, I'll give that a try in the morning.

[2018-02-02 01:11] shavo007 commented on #3666
So....

Just to confirm. I need to update the master instance group only?

[code]

If I do not force, it states no update needed.

Should this be added to the doc here?
https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#audit-logging

[2018-02-02 03:49] shavo007 commented on #4202
Just got this issue also.

Updated my kops config with audit details, rolling update of master and now my api server will not start!
Kops version is 1.8
I edit cluster and added in the details:

[code]

Then restarted my master

[code]

completely broken after...

checked logs on master node for api server:

[code]

@caraboides  how did you resolve this? This a bug?

[2018-02-02 05:12] pluttrell commented on #1771
/remove-lifecycle stale

[2018-02-02 06:03] shavo007 commented on #4202
My fault!

I was running kops on a VM, version 1.7 and messed up the state files on s3 bucket!!! ;-)

[2018-02-02 06:27] shavo007 opened #4368 "cant see audit logs"
1. What `kops` version are you running? The command `kops version`, will display
 this information.
kops 1.8.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

[code]

3. What cloud provider are you using?
AWS
4. What commands did you run?  What is the simplest way to repro

[2018-02-02 08:09] Sturgelose opened #4369 "Kubernetes Dashboard v1.8.1 is not accessible after enabling RBAC"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.8.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.2", GitCommit:"5fa2db2bd46ac79e5e00a4e6ed24

[2018-02-02 08:17] jhedev commented on #4056
I don't know if what I am doing is the safest approach :D

I am currently running multiple (rather small,i.e. only a couple of nodes) clusters on AWS using a combination of kops + terraform for the setup.

All manifests are stored in a single git repo. The terraform config is split into multiple environments. In a subdirectory I have stored the kops yaml files (cluster.yaml, instance group yamls).

[2018-02-02 08:30] huang-jy commented on #4362
I put it in the cluster def and my master wouldn't come up good :(

[2018-02-02 09:02] KashifSaadat commented on #3666
Hi @shavo007. The latest version of kops has this bug fixed, so you no longer need to provide the `--force` flag when updating the KubeAPIServer Spec.

[2018-02-02 09:42] joelittlejohn commented on #232
@chrislovecnm could you elaborate on what you mean by, "may be supported now with labels"? Thanks!

[2018-02-02 10:19] joelittlejohn commented on #4358
Looks like this section needs to be corrected: https://github.com/kubernetes/kops/blob/master/docs/run_in_existing_vpc.md#shared-subnets

[2018-02-02 11:25] huang-jy commented on #4358
@chrislovecnm

[2018-02-02 13:44] iMartyn commented on #4249
My PR is merged so running from **master** and any releases beyond today the following should work for you -

In your kops.yaml file, you can add the following block to the cluster spec :
[code]
I wish there was a way to sensibly include HCL in the yaml (so you could include the assume_role stuff), but that would require parsing the yaml differently and that's a step beyond what I want to achieve.

[2018-02-02 13:46] Rishka commented on #4362
You may need to add the `Master` role to that, but I am not sure if that will help. Make sure you are using the manifest at the bottom of that thread.

[2018-02-02 13:52] huang-jy commented on #4362
the last one, yes

[2018-02-02 13:58] jhedev commented on #4249
@iMartyn Thanks so much for your efforts!

[2018-02-02 15:29] zuyong commented on #780
+1 Also very very very interested.

[2018-02-02 16:37] krogon-dp commented on #3937
Did you tried with `additionalSecurityGroups` for InstanceGroupSpec ?
https://github.com/kubernetes/kops/blob/4e284e9966298b082d7b1b1468b83b14ccd4d541/pkg/apis/kops/v1alpha2/instancegroup.go#L90

[2018-02-02 16:40] griffin-oly commented on #4326
I'm in a similar problem.  I have a cluster that works with the exception of the dashboard.  I'm getting same error message.  I have also tried deleting the dashboard with the kubectl delete.  I'd like to be able to figure out how to at least run the dashboard without TLS so I can see it work at least.  I don't know how to make it generate new apiserver certificates.  It appears to start dashboard

[2018-02-02 18:01] KashifSaadat commented on #4005
v3.3.0 has officially been released. The following PR should correct issues with logging and pick up version changes for a rolling update: https://github.com/kubernetes/kops/pull/4371

I'll be testing this out and will see how it goes!

[2018-02-02 18:32] stuffandthings commented on #2047
are we still lacking rbac setup documentation?

[2018-02-02 18:48] mmacfadden commented on #4156
I also got a cluster up and running by uploading a new version of nodeup to S3. However, I think we will hold off on moving forward until this issue is resolve. It was suggested that an 1.9.0 alpha release might solve the problem by referencing the more recent nodeup. Do we still think this is the case? If so, is there any approximate timeline for a 1.9 alpha just for planning purposes? Thanks for

[2018-02-02 20:18] Nitecon commented on #4188
@chrislovecnm can you comment on images going out now that upstream is available?  It's been out for a while and we have some critical stuff in the path so just like others any update would be useful to provide back.

[2018-02-02 20:24] Cryptophobia commented on #387
/remove-lifecycle stale

[2018-02-02 20:24] Cryptophobia commented on #387
We would love this feature as well. Baking AMIs here and we can't append easily to EC2 startup scripts when using kops.

[2018-02-02 20:49] cgilmour commented on #4183
Fixed in #4365, closing.

[2018-02-02 20:49] #4183 closed

[2018-02-03 02:57] integrii commented on #4364
Looks like this really involves how the project uses vendoring, which must be solved before this is fixed.

We should consider using `go dep` and not including the vendor directory into the codebase.

[2018-02-03 05:07] shavo007 commented on #3666
Thanks @kashifsaadat still can't see the log file tho..

[2018-02-03 12:43] manhongcc opened #4373 ""kops create secret sshpublickey" using the same public key"
I am not sure if this is a bug.
1. What `kops` version are you running? The command `kops version`, will display
 this information.
`Version 1.8.0 (git-5099bc5)`
2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
[code]
3. What cloud provider are you using?
AWS
4. What commands

[2018-02-03 16:42] justinsb commented on #4364
We have tried repeatedly and continue, `go dep` currently crashes out while trying to resolve the dependencies.

The git submodule approach works in the meantime, although it's not great, just the best we've got that works.  The biggest downside is what you've identified - that `_vendor` has the git submodules, and that `go get` fetches git submodules (and does a full fetch, not a shallow clone)

[2018-02-03 17:13] justinsb commented on #4364
Actually ... I may have got this working with a few version overrides.  So hopefully in kops 1.9 / 1.10.  But not cloning the submodules will remain the big win!

[2018-02-04 10:38] KashifSaadat commented on #3666
@shavo007 the issue you're experiencing is a little different from this one.

Please can you raise a new issue including your Kops ClusterSpec and images used for the master/node instances? I'll see if I can replicate and debug further.

[2018-02-04 10:55] shavo007 commented on #3666
raised an issue @KashifSaadat  #4368

[2018-02-05 05:53] natemurthy opened #4383 "Unable to connect to apiserver with cluster created with `--networking=cni`"
-------------------- BUG REPORT --------------------

 this information.

[code]

 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

`kubectl v1.9.1, kubernetes 1.8.6`

[code]

[code]

After about 15 minutes to let DNS propagate, I tried to connect the apiserver but the connection timed out. I noticed that the A records for the master node had not been

[2018-02-05 11:21] timothyclarke opened #4385 "[FEATURE REQUEST] rolling-update should grow first"
Currently when you perform a rolling update the pods are evicted, an instance is removed, and then a new instance is created.

Request : Can we change the order so a new instance is created first. I'd prefer to pay a little more for additional capacity rather than possibly losing resiliency etc.
I'd be happy if this was a flag eg
`kops rolling-upgrade --yes --grow`
This change the order of things

[2018-02-05 15:04] KashifSaadat opened #4386 "rolling-update broken on master branch"
It looks like following the dependency updates for Kubernetes v1.9 in PR #4377, kops rolling-updates no longer work successfully. The following error is returned:
[code]

I'm investigating ATM.

CC @justinsb , @chrislovecnm

[2018-02-05 17:44] #4386 closed

[2018-02-05 17:44] chrislovecnm commented on #4385
This is actually a duplicate request, and there is an open PR which should address this :)

https://github.com/kubernetes/kops/pull/4038

Can we close this?

[2018-02-05 17:53] chrislovecnm commented on #4383
@natemurthy this is working as expected.  Launching with`--networking cni` allows a user to ssh into a master and install cni on the master.  I have considered removing this option.

[2018-02-05 18:30] bashims commented on #2990
I am having the same problem here with (see version info below), the work around does indeed work but it takes way too long to complete - it would be great if this could be resolved.

kops version
[code]

[2018-02-06 02:18] mattparkes commented on #4358
I just struck this as well.

Here's the commit where it was added: https://github.com/kubernetes/kops/commit/48d4a7cb1ad5c800c692289023431f2017d2b4dc (Dec 14 vs release 1.8.0 which was released Dec 4).

Is this functionality coming in a new release of Kops, because it's pretty handy?

[2018-02-06 06:12] ssubramanian123 opened #4389 "Error create load balancer with pre-defined subnets Error "Field is required: Subnets""
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

kops version
Version 1.8.0 (git-5099bc5)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running o

[2018-02-06 06:13] natemurthy commented on #4383
@chrislovecnm hm, I was able to ssh into a master without `--networking cni` enabled. Is it expected that I none of my `kubectl` commands work with this flag set?

[2018-02-06 06:29] kirsazlid opened #4390 "kubeadm init failed:'error marking master: timed out waiting for the condition'"
------------- BUG REPORT TEMPLATE --------------------
1. What Kubernetes version are you running?
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.0", GitCommit:"925c127ec6b946659ad0fd596fa959be43f0cc05", GitTreeState:"clean", BuildDate:"2017-12-15T21:07:38Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}
Docker Version: docker-ce.17.09.0-ce

2. What commands did

[2018-02-06 07:47] timothyclarke commented on #4385
yes

[2018-02-06 07:47] #4385 closed

[2018-02-06 09:52] joelittlejohn opened #4391 "DNS mostly fails inside application pods on brand new cluster"
**Kops version: 1.8.0 (git-5099bc5)**
**Kubernetes version: v1.8.6 (6260bb08c46c31eea6cb538b34a9ceb3e406689c)**
**Cloud: AWS**

### The issue

When I create a brand new cluster, everything appears to be working fine. All the masters and workers are ready and I can deploy application pods. BUT, mostly the pods cannot resolve public DNS names like www.google.com, or even internal names like `myservi

[2018-02-06 11:09] joelittlejohn commented on #4391
After further investigation of this, I have five workers and only two of those worker nodes will have the DNS problem in any application pod they run. The two nodes that have this problem in their pods are the two nodes that are running a kube-dns pods.

[2018-02-06 11:17] joelittlejohn commented on #4391
Some logs:

kubedns log (same on both kube-dns pods):
[code]

dnsmasq logs (same on both kube-dns pods):
[code]

sidecar log (same on both kube-dns pods):
[code]

[2018-02-06 12:00] joelittlejohn commented on #4391
I rebuilt this cluster without specifying the image to use, so the cluster was built with Debian Jessie instead of CoreOS (`k8s-1.8-debian-jessie-amd64-hvm-ebs-2018-01-14 (ami-8ec0e1f4)` instead of `595879546273/CoreOS-stable-1632.2.1-hvm (ami-a53335df)`) and this problem is solved :thinking:

So it seems like it's an issue in CoreOS or the provisioning code for CoreOS.

[2018-02-06 13:56] Caskia opened #4392 "configuration for docker version"
Hi guys,
     I want to upgrade my docker version to 17.06+, so changed the cluster config file. But it doesn't have any effect! So I want to know how to update docker version?

kops version: 1.8.0
cloud provider: aws
code command:
[code]
manifest
[code]

[2018-02-06 16:53] Zwordi opened #4393 "AWS-Nodes-don't-show up"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. Version 1.8.0 (git-5099bc5)

2. Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.2", GitCommit:"5fa2db2bd46ac79e5e00a4e6ed24191080aa463b", GitTreeState:"clean", BuildDate:"2018-01-18T10:09:24Z", GoVersion:"go1.9.2", Compiler:"gc", P

[2018-02-06 17:04] KashifSaadat opened #4394 "kops update always shows modifications to AutoScalingGroup resources"
**kops version:** [master](https://github.com/kubernetes/kops/tree/a5374c3af62c5c6bacf52822a4ea306d2ff13852)
**Cloud provider:** AWS

**Description:**
When running a `kops update cluster`, the following changes are always shown (for all AWS AutoScaling Groups):

[code]

Related to the AutoScalingGroup awstask, when retrieving the AutoScalingGroup the response contains a list of `EnabledMetrics`, a

[2018-02-06 17:27] ctbarrett commented on #4353
One thing that jumps out at me, since you're talking about interacting with the AWS API, is the difference in [IAM role configuration](https://github.com/kubernetes/kops/blob/master/docs/iam_roles.md#iam-roles):

[code]

vs

[code]

Seems like a bit of a stretch, but the only other difference I see is the CNI you're using (calico vs flannel). If there's an issue resolving the resource ID for the e

[2018-02-06 19:01] phs opened #4396 "SecurityPolicyViolated while downloading kubelet in nodeup"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.8.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes ve

[2018-02-06 19:01] nick4fake opened #4397 "Update kubernetes-release urls to dl.k8s.io"
https://github.com/kubernetes/kubernetes/issues/33726

1. What `kops` version are you running? The command `kops version`, will display
 this information.
Version 1.8.0 (git-5099bc5)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
Client Version: version.Info{Major:"1", Min

[2018-02-06 19:03] trinitronx commented on #4391
I think this has to do with kubernetes/kubernetes#21613

Fix that appears to work for us is to run `sudo modprobe br_netfilter` on all cluster nodes.

This affected clusters using CoreOS AMI also!

Symptoms are that DNS responses are coming from unexpected source IP.  When a DNS lookup is made it sends packet to the `kube-dns` **_Service IP_**.  Then it receives response from the **_Pod IP_**, whi

[2018-02-06 19:04] noqcks commented on #1757
[code]

[2018-02-06 19:13] aaboyd commented on #4397
I just came here to report the same thing, but I think there might be some problems on the other side of this equation.

If you change the URL to `dl.k8s.io`, it just gives you a redirect to the full bucket URL.  If you follow that redirect you run into the same problems.  Probably should change the URL to avoid any problems later if they do change the bucket.

[code]

[2018-02-06 19:17] fawadkhaliq commented on #4397
Same problem seen with v1.7.11

`
I0206 10:54:02.370299   33839 apply_cluster.go:799] error reading hash file “https://storage.googleapis.com/kubernetes-release/release/v1.7.11/bin/linux/amd64/kubelet.sha1“: unexpected response code “403 Forbidden” for “https://storage.googleapis.com/kubernetes-release/release/v1.7.11/bin/linux/amd64/kubelet.sha1": <?xml version=‘1.0’ encoding=‘UTF-8’?><Error><Cod

[2018-02-06 19:18] mikesplain commented on #4397
This is an ongoing issue with the bucket as a whole and the gcr.io registry. If you're on slack, see #sig-release for updates. They're currently working to remediate the issue.

[2018-02-06 19:19] blakebarnett commented on #4389
These look like public subnets, not private?
[code]
Tells kops you are going to use private subnets for both masters and nodes.

[2018-02-06 19:23] trinitronx commented on #4391
Not sure where in `kops` provision process this should go... but it probably can be solved by dropping in a file to `/etc/modules-load.d/` to load this kernel module.

    echo br_netfilter > /etc/modules-load.d/br_netfilter.conf

[If using `cloud-init` or Ignition, there are equivalent options][1]

[1]: https://coreos.com/os/docs/latest/other-settings.html#loading-kernel-modules-with-options

[2018-02-06 19:30] mikesplain commented on #4397
https://status.cloud.google.com/incident/container-engine/18003

[2018-02-06 19:36] alfonsol commented on #1757
I also seeing this.  This worked as of friday, so it seems something might have changed:

➜  ~ kops create cluster alfonso-dev.k8s.local --zones us-west-2a   --authorization "RBAC" --networking "weave" --yes
I0206 11:32:31.005402   37392 create_cluster.go:439] Inferred --cloud=aws from zone "us-west-2a"
I0206 11:32:31.005721   37392 create_cluster.go:971] Using SSH public key: /Users/alfonsolopez/

[2018-02-06 19:37] noqcks commented on #1757
I think perhaps some config on google's side changed

[2018-02-06 19:41] mikesplain commented on #4397
@nick4fake @fawadkhaliq @aaboyd Looks like it's fixed now.

[2018-02-06 20:44] noqcks commented on #1757
Yep, seems to be working now

[code]

Thanks google! :)

[2018-02-06 21:29] duckie commented on #4390
I had this problem and I fixed it by using the `--node-name` switch of `kubeadm` with the FQDN of the master.

[2018-02-07 01:37] #4390 closed

[2018-02-07 01:55] benzwjian commented on #3606
@lastonoga Could you provide more details of how to solve your problem? Thanks.

[2018-02-07 02:41] Caskia commented on #4392
Sorry, it's my fault. it only supports 17.03.2 and 17.09.

[2018-02-07 02:41] #4392 closed

[2018-02-07 04:03] lastonoga commented on #3606
@benzwjian I created a support ticket to expand accounts limits. But firstly go to history of autoscaling and check that. There should be an error

[2018-02-07 07:57] mitpwd opened #4399 "Documentation on requirements"
Environment:
KOPS Version: 1.8.0
Kubectl: latest
Cloud provider: AWS

Issue:
We require a confirmation on compatibility requirement, if users are intended to use latest KOPS stable release with the latest stable kubectl version.

We are trying to automate KOPS & kubectl deployment and they need to 'marry' in compatibility.

We are aware of the Compatibility matrix and it seems KOPS 1.6 matches kub

[2018-02-07 09:07] caraboides commented on #4202
@shavo007 i deleted  `2>&1` in kube-apiserver.manifest.

[2018-02-07 10:15] joelittlejohn commented on #4391
@trinitronx Thanks loading this module completely fixed the problem! I had found a bunch of potential solution in the kubernetes issues list but not this one :joy:

So it looks like kops for CoreOS should adding `echo br_netfilter > /etc/modules-load.d/br_netfilter.conf` (or something else to load this module) as part of provisioning a CoreOS cluster, because right now the CoreOS clusters that kop

[2018-02-07 10:53] mikaelfa opened #4400 "kubedns not working"
Hi,

I've just installed a kops cluster on AWS and seen that internal kubernetes dns name resolving doesn't work for me. kubernetes works ok and even when creating an AWS loadbalancer into a kubernetes server, the traffic is working fine. The problem began when trying from one pod to access another kubernetes service with its name (dns).

I'm using kops Version 1.8.0 (git-5099bc5)

I ran a simple

[2018-02-07 11:25] joelittlejohn commented on #4391
I fixed this in my own kops cluster by editing the cluster:

[code]

and adding a hook:

[code]

[2018-02-07 11:30] Congrammers opened #4401 "Spot instance not requested for ig with 'Node' role"
1. What `kops` version are you running? The command `kops version`, will display
 this information.
`Version 1.8.0`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
[code]

3. What cloud provider are you using?
`aws`

4. What commands did you run?  What is the simplest way t

[2018-02-07 11:56] Congrammers commented on #4401
So I tested with a custom created ig, it doesn't roll out any spot request too.

[2018-02-07 11:58] rdkr commented on #752
Link to docs: [docs/manifests_and_customizing_via_api.md](https://github.com/kubernetes/kops/blob/master/docs/manifests_and_customizing_via_api.md)

[2018-02-07 14:00] mikaelfa commented on #4400
After investigation I see that I can't access the Kubernetes services by using IP. This means my problem is more on Kubernetes services routing than DNS.

Not sure how to solve that.

[2018-02-07 14:16] wingyplus commented on #2150
@andrewsykim I interesting in DO provider. Could you provide some information to me?

[2018-02-07 14:40] thpham commented on #4358
How can we generate the correct terraform output if there is no flag to define the subnets ?

[2018-02-07 15:12] bcorijn opened #4402 "M5 instances with kops AMI won't stop correctly"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
1.8.0
2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version spec

[2018-02-07 16:08] mikaelfa commented on #4400
I found the problem.
kops defined several routing tables to the VPC. This caused conflicts on the master to find the routing table. I had to clean this a let only one.

I think it's a bug,

[2018-02-07 16:32] aaboyd opened #4403 "Updating secrets / locking down access with `kubectl` doesn't appear to be working"
1. What `kops` version are you running? The command `kops version`, will display
 this information.
Version 1.8.0 (git-5099bc5)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCommit:"6e937839ac04a38

[2018-02-07 17:12] brantburnett commented on #2048
/remove-lifecycle stale

This is also an issue for my company, for the same reasons as mentioned above surrounding billing

[2018-02-07 17:48] simongartz commented on #4348
I had the exact same error. I patched the deployment as a workaround until it is fixed.

Steps for the workaround:

Check the yaml of current deployment for the dns-controller. Here you will find the path to the --watch-ingress setting.
[code]

Use the path and make a patch of the deployment. I think the path here will work for most.
[code]

Check the patched pod for changes.
[code]

[2018-02-07 18:40] andrzej-jedrzejewski commented on #4393
Did you check if any resources have been created, e.g. load balancer or security groups?

[2018-02-07 18:57] blakebarnett commented on #2856
I believe this was actually a calico issue and has been resolved in recent releases.  Feel free to re-open if you are still seeing it.

[2018-02-07 18:57] #2856 closed

[2018-02-07 19:38] badie commented on #3762
@so0k As part of trying to solve my "SystemOOM" issues,  I tried something similar to your config above and still got "SystemOOM" on my nodes.

Was wondering if the block below is required?

[code]

[2018-02-07 20:18] adambarthelson commented on #4401
I'm currently having better luck with Minion Manager.

https://blog.argoproj.io/use-spot-instances-with-your-kubernetes-clusters-on-aws-2a27f1887bb0

[2018-02-07 20:21] klaus993 opened #4404 "Update instance groups creation documentation to match required flag"
Hi!

I removed all the other questions from the template because they're not relevant to this issue.

This is a documentation issue, referring to the `Creating a new instance group` section of the `instance_groups.md` doc (https://github.com/kubernetes/kops/blob/master/docs/instance_groups.md#creating-a-new-instance-group).

1. What `kops` version are you running?

[code]

2. What commands did you

[2018-02-07 20:54] perryao commented on #2422
@chrislovecnm could you give a few words on what needs to happen at a high level in order for this to work? I'm assuming it'd be supported on k8s 1.9+. Just want to get an idea which part of kops would be subject to change.

[2018-02-07 22:31] virusdave commented on #4188
We're over 2 weeks now since upstream security patches have been available.
Is there any progress on this?  I'll be very sad if we have to migrate away from kops because images don't get patched :(

[2018-02-07 23:25] blakebarnett commented on #2809
/remove-lifecycle stale

[2018-02-07 23:36] chrislovecnm commented on #4399
@mitpwd this is actually a kubectl <> kubernetes compatibility question, so I am thinking kubernetes should document it if it is not documented already.

kops is backward compatible with Kubernetes and requires kubectl.  kubectl is used to create and export the kubeconfig file, so there is not really a required version.  That being said when kubectl with a k8s cluster, it is recommended to use the

[2018-02-07 23:36] chrislovecnm commented on #2809
/lifecycle frozen

[2018-02-07 23:52] chrislovecnm commented on #4400
@mikaelfa we need to have two route tables when you use private topology, one for the private subnets and another for the public subnets.  Also, you seem to be mixing private and public subnets in a curious fashion.  What topology are you using?  What is the purpose of the Private subnet?  You seem to be using Public topology and defining a private subnet.  I have never done that before and would

[2018-02-07 23:54] chrislovecnm commented on #4396
@phs there have been issues with google storage recently.  I have seen an error like this when downloading kubernetes and the gcs bucket is not happy.  Can you re-create?

[2018-02-07 23:56] chrislovecnm commented on #4394
I know that we recently added https://github.com/kubernetes/kops/commit/02855fc13fab7319d6d516fa3ea631a97cc990c5#diff-3860344ecedd8a98848d9bb72b6fefb1

marking this as blocks next.

[2018-02-07 23:57] chrislovecnm commented on #4391
/assign @KashifSaadat @gambol99

calling the CoreOS gurus :)

[2018-02-08 00:02] chrislovecnm commented on #4383
@natemurthy unless you need to I recommend having kops install a CNI provider, using `--networking weave` for instance.  `--networking cni` is only if you need to install your own provider, and you have to do it with kubectl on the master.  It is an advanced feature that was put in place before we included the various CNI providers.

[2018-02-08 00:04] chrislovecnm commented on #4369
@shadoi @KashifSaadat @mikesplain do any of you have instructions using the dashboard with RBAC?

[2018-02-08 00:06] chrislovecnm commented on #4358
@joelittlejohn the problem is that we are not versioning our documentation.   If we versioned our docs we would not have those instructions.  An issue has been open for a long time to version our documentation.

[2018-02-08 00:07] chrislovecnm commented on #4352
@philpennock `kops toolbox bundle` is actually for bare metal provisioning, which is a work in progress.  So this will only impact bare metal clusters.

/assign @justinsb

[2018-02-08 00:09] chrislovecnm commented on #4351
Closing this as a duplicate ...

[2018-02-08 00:09] #4351 closed

[2018-02-08 00:09] chrislovecnm commented on #4351
https://github.com/kubernetes/kops/issues/4156 dup

[2018-02-08 00:10] chrislovecnm commented on #4350
Sound like we have a matching problem still with protokube.  Protokube mounts the etcd volumes and may be mounting the wrong ones.  Should this be a blocking issue?

[2018-02-08 00:19] chrislovecnm commented on #4300
Can we close?

[2018-02-08 00:19] chrislovecnm commented on #4295
@grimborg are you using master or a released kops version?

[2018-02-08 00:20] chrislovecnm commented on #4265
/assign @justinsb

[2018-02-08 00:25] chrislovecnm commented on #4277
@maingoh it is not a huge change of code but does require some tweaking.

1. we need a new field in the instance group spec. Documentation https://github.com/kubernetes/kops/blob/master/docs/development/api_updates.md for how to add a field.
2. follow @roberthbailey's instructions and add the `GuestAccelerators` I think in here https://github.com/kubernetes/kops/blob/master/upup/pkg/fi/cloudup/gce

[2018-02-08 00:25] chrislovecnm commented on #4277
Oh and reach out on slack if I am around, I get a lot of issue updates, and often they sit awhile.

[2018-02-08 00:26] chrislovecnm commented on #4249
@iMartyn can we close this issue now?

[2018-02-08 00:27] chrislovecnm commented on #4218
@liwenwu-amazon what is the recommended solution?

[2018-02-08 00:28] chrislovecnm commented on #4205
I thought that should have been addressed.  How do you recreate this?  Can I please have more context?

[2018-02-08 00:28] chrislovecnm commented on #4202
@KashifSaadat does your PR update this as well?

[2018-02-08 00:29] chrislovecnm commented on #4196
@murali-reddy it is your call on what version you set the container to, but we need a version number.

[2018-02-08 00:32] chrislovecnm commented on #4192
@KashifSaadat any ideas?  Asking because this is CoreOS.

[2018-02-08 00:36] liwenwu-amazon commented on #4218
The recommended solution is

* kubeletes must also explicit specify using primary IPv4 address on the Primary ENI as its node-ip, for example:
[code]

[2018-02-08 00:37] chrislovecnm commented on #4188
@virusdave I am uncertain of the timeline for the update, and I do understand your concern.  Most of us have day jobs and volunteer our time for kops. Another option is to use your own AMI.  You do not have to use our image.

[2018-02-08 00:38] justinsb commented on #4188
I'll build and push a new image into the alpha channel, or you can just use the latest debian/ubuntu/centos/rhel AMI (with kops) if you'd prefer :-)

[2018-02-08 00:39] justinsb commented on #4188
Docs on how to use an arbitrary AMI are here: https://github.com/kubernetes/kops/blob/master/docs/images.md

[2018-02-08 00:44] chrislovecnm commented on #4218
If someone wants to contribute this, I can provide more details on how to do this in nodeup.

[2018-02-08 00:44] blakebarnett commented on #4369
We use oath2-proxy + dex.  It's kind of complicated to setup, so I wouldn't recommend documenting it here.

[2018-02-08 00:44] chrislovecnm commented on #4200
@anitakumar you figure out your problem?

[2018-02-08 00:48] chrislovecnm commented on #4131
/assign @rdrgmnzs

@rdrgmnzs was this fixed?  Is it in kops 1.8?

[2018-02-08 00:49] chrislovecnm commented on #4090
@djotanov is this a duplicate?  @gnanda17 can we close?

[2018-02-08 00:52] chrislovecnm commented on #4054
p2.xlarge are supported in our machine_types.go for over a year.  Dumb question, do you have quota on those instance types?

[2018-02-08 00:53] chrislovecnm commented on #3957
@perryao let me know, if you have questions happy to chat with you.

[2018-02-08 00:54] chrislovecnm commented on #3937
Can we close this?

[2018-02-08 00:56] chrislovecnm commented on #3861
@blakebarnett any ideas?  Have you found an open issue upstream?

[2018-02-08 00:56] #3765 closed

[2018-02-08 00:57] chrislovecnm commented on #3734
/remove-lifecycle stale

[2018-02-08 00:59] chrislovecnm commented on #3734
Here are the tasks:

1. create a new secret for weave, either manual secret or automatically
2. update the API much like this PR https://github.com/kubernetes/kops/pull/4398, with a value for weave encryption

[2018-02-08 00:59] chrislovecnm commented on #3716
/lifecycle frozen
/remove-lifecycle stale

[2018-02-08 01:00] chrislovecnm commented on #3697
/lifecycle frozen
/remove-lifecycle stale

[2018-02-08 01:01] chrislovecnm commented on #3669
/lifecycle frozen
/remove-lifecycle stale

[2018-02-08 01:01] chrislovecnm commented on #3647
This is done.
/close

[2018-02-08 01:01] #3647 closed

[2018-02-08 01:01] chrislovecnm commented on #3604
/lifecycle frozen
/remove-lifecycle stale

[2018-02-08 01:01] chrislovecnm commented on #3599
/lifecycle frozen
/remove-lifecycle stale

[2018-02-08 01:02] chrislovecnm commented on #3500
/lifecycle frozen
/remove-lifecycle stale

[2018-02-08 01:03] chrislovecnm commented on #3414
we have done this

[2018-02-08 01:03] #3414 closed

[2018-02-08 01:04] chrislovecnm commented on #3412
@robinpercy any recommendations?

/remove-lifecycle stale

[2018-02-08 01:04] chrislovecnm commented on #3375
@shyamram private subnets are not supported in GCE AFAIK

[2018-02-08 01:05] chrislovecnm commented on #3376
/lifecycle frozen
/remove-lifecycle stale

Can someone validate that this is fixed in master?

[2018-02-08 01:06] chrislovecnm commented on #3334
@jpaulgs I am going to close this because I am pretty sure it is fixed.

[2018-02-08 01:06] #3334 closed

[2018-02-08 01:08] chrislovecnm commented on #3297
@ketzacoatl can we close this?
@sarphram do you still need to add a custom iam policy to fix this, or does the iam profile work in gov?

[2018-02-08 01:53] lapee79 commented on #4197
@chrislovecnm
I set elbSecurityGroup of kops cluster spec described https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#elbsecuritygroup and I created k8s cluster on AWS.

[code]

When I created first Service(type: LoadBalancer), elbSecurityGroup was added to "Inbound" rule of nodes SecurityGroup. And then that rule unchanged when I additionally create multiful Services(type: LoadB

[2018-02-08 02:06] rdrgmnzs commented on #4131
@chrislovecnm yeah as @mmacfadden mentioned this was landed post 1.9 as it needed an updated of the aws SDK and it was too late in the validation process of 1.8 to make those changes.

Good new is that I have an internal build of 1.8 with the patches and have been using it for a while with no issues so far.

[2018-02-08 02:25] blakebarnett commented on #3861
This started happening every time we do a rolling-update with 1.8, I haven't seen it cause any issues, it retries and works once all the masters are up.

[2018-02-08 02:35] phs commented on #4396
Not sure what you mean.  I could reproduce the issue reliably before I altered my cluster resource yaml to `kubernetesVersion: 1.8.6`.  That allowed the (newer) kubelet download to succeed on subsequent nodes.  I've also migrated the cluster to newer AMIs, but the issue had already vanished at that point.

[2018-02-08 03:17] gnanda17 commented on #4090
you can close

[2018-02-08 04:08] mmacfadden commented on #4131
I have used it in master and it seems to be working there also.

[2018-02-08 06:25] #4300 closed

[2018-02-08 06:29] johncchen commented on #3970
I used kubeadm to install kubernetes on aws beijing, it was work.

https://blog.frognew.com/2017/12/kubeadm-install-kubernetes-1.9.html

[2018-02-08 06:33] ssubramanian123 commented on #4389
@blakebarnett thanks for your reply. I have changed the topology to use internal ELB. Now my current config looks like this, Still I am getting the same error.

[code]

[code]

[2018-02-08 06:37] ssubramanian123 commented on #4389
I missed to change in one more place where loadbalancer was defined as public.

[code]

This works fine now.

[2018-02-08 06:43] ssubramanian123 commented on #4389
Re-opening the issue because during trial run above config worked. But with --yes, it is throwing now different error.

I am using private subnets and this private subnet is attached to **Virtual Private Gateway**. There is no NAT G/W or internet G/W attached to these subnets.

Does kops does not support subnets with vpg?

[code]

[2018-02-08 07:24] huang-jy commented on #4205
During testing I attempted declared a spot instance size that wasn't available in the region I was testing in, the instance never came up and I only figured this out because the spot request could not be fulfilled.

[2018-02-08 08:04] mikaelfa commented on #4400
The problem was I saw 3 routing tables assigned to the same VPC. Two of them had no subnet assigned at all. So removed both and let only 1 routing table.

Yes I need mixed topology for security reasons.

[2018-02-08 08:49] Sturgelose commented on #4369
After few days I found a simple solution, so I hope this will help people in the future :)

The thing is that for some reason, the `authorizationRbacSuperUser: admin` parameter only affects when accessing from `kubetctl`. So, mostly what I did is to give `cluster-admin` permissions to user `admin`:
`kubectl create clusterrolebinding cluster-admin-binding --clusterrole=cluster-admin --user=admin`
T

[2018-02-08 09:34] nebril commented on #4383
@chrisglass that's weird, when I was trying Cilium out with kops clusters, I was able to create cluster with `--networking cni`, but the master node wasn't ready until I installed the cni plugin (via daemonset). After that nodes were starting as usual. But the point is, I had access to master node via kubectl.

[2018-02-08 09:48] chrisglass commented on #4383
@chrislovecnm I suspect ^^ was meant for you :)

[2018-02-08 10:18] KashifSaadat commented on #4368
Hey @shavo007, looking at #4202 did you solve this in the end?

[2018-02-08 10:23] KashifSaadat commented on #4202
@chrislovecnm sorry which PR? The `KubeAPIServerSpec` is now included in the user-data for master nodes so a forced rollout shouldn't be necessary any more.

The following PRs slightly change the command exec and logging behaviour:
- https://github.com/kubernetes/kops/pull/4286(merged)
- https://github.com/kubernetes/kops/pull/4371 (not merged yet)

[2018-02-08 10:30] KashifSaadat commented on #4350
Not necessarily blocking, but if we fix this it's likely to cause some problems attempting to get an elegant rolling update (without taking all master nodes offline so the volumes are detached), so maybe better to get in as part of the kops v1.9 release.

[2018-02-08 11:08] ketzacoatl commented on #3297
@chrislovecnm is it fixed?

[2018-02-08 11:13] shavo007 commented on #4368
Nah @kashifsaadat, I initially was using the wrong version of kops on my cluster.

I added in the config above and i don't see the log file on the machine.

[2018-02-08 11:16] shavo007 commented on #4368
Actually checking doc it states You can pass a file with the policy to kube-apiserver using the --audit-policy-file flag. If the flag is omitted, no events are logged."

Is that true?

I thought that was for advanced auditing and without policy file it would use default?

[2018-02-08 11:21] gambol99 commented on #4391
Yeah .. we've hit this one before, its an old [bug](https://github.com/kubernetes/kubernetes/issues/23385) (albeit not in kops but a previous installer we used) ... The br-netfilter module [needs to be enabled](https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L262-L267) so iptables forces all packets, even those traversing the bridge, to go through the pre-routing tab

[2018-02-08 11:29] shavo007 commented on #4368
"Note: you could use the fileAssets feature to push an advanced audit policy file on the master nodes."

Cant find anywhere how to use this fileassets feature.

Any examples?

Also the doc is wrong if it says could. Sounds like you need a policy file or auditing doesn't work.

[2018-02-08 11:40] olafure opened #4407 "Feature Request: meta/annotation field in spec"
I think it would be beneficial to have a arbitrary metadata/annotations field in all the kops spec.
It would be an object field that's otherwise ignored by kops, but stored like other fields.

**Use case:**
When you have multiple clusters and are scripting updates to cluster specs it can be quick an easy way to see (both for the script and also admins looking at the spec) if the update has been ap

[2018-02-08 12:13] sarphram commented on #3297
@chrislovecnm My issue wasn't in a govcloud account, but a regular region that had route 53 available. A [service control policy](https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_scp.html) was applied to my account from the org master account removing route 53 access which seemed to produce a similar effect as just not having the service at all.

My eventual workarou

[2018-02-08 12:26] AmazingDreams commented on #4090
I have not noticed new nodes not connecting anymore either.

[2018-02-08 12:27] gambol99 commented on #4391
I noticed in the logs of CoreOS-stable-1632.2.1-hvm
[code]

It might be worth raising on the flannel repo to get an official response ..

[2018-02-08 13:44] sstarcher opened #4408 "Nodeup on master fails when s3 bucket is in a different region"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

1.8.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

I believe 1.8.4, but it won't launch due to the master failure

3. What cloud provider are you using?

aws

4. What co

[2018-02-08 14:14] mikaelfa commented on #4400
After re-building of the cluster from scratch I can identify the problem:
2 routing tables were created: one for public subnets and one for private subnet.
The routing table of private subnet is just pointing to the nat gateway of the subnet. It does not include routing to different POD subnets (100.96.x.x) as the public routing table.
So, the whole kubernetes networking as paralyzed on the privat

[2018-02-08 15:05] boube commented on #4323
@harsha-y any updates?

[2018-02-08 15:15] iMartyn commented on #4249
@chrislovecnm I think so, my instinct is to close issues when a release is done that includes the fix but not sure how this project deals with issue fixes.

[2018-02-08 15:34] blancsys commented on #4054
@chrislovecnm Hi Chris, thanks for your info. I have checked that we have 5 p2.xlarge instances as limit on us-west-2, but the same instance type doesn't appear on us-west-1 (the region I'm trying to use for Kubernetes, where we don't have any p2.xlarge instances running instances yet). So, it seems like it's just a problem with the quotas. The error message ("The specified instance type p2.xlarge

[2018-02-08 15:34] #4054 closed

[2018-02-08 17:38] natemurthy commented on #4383
@nebril Yes definitely weird. And to make things weirder, you were able to access your master node via kubectl, but I cannot.

@chrislovecnm I also tried using the weaveworks CNI provider, still observing timeouts connecting to master via kubectl.

[2018-02-08 17:47] Nitecon commented on #4188
@justinsb is the only change the ixgbevf and ena drivers because it looks like this was addressed in upstream on andsens/bootstrap-vz.  If there is nothing off the top of your head then I'm probably gonna try build it off master to see how it works and will respond with outcome here if it works

[2018-02-08 18:59] bdashrad commented on #4265
This bit us, and is quite frustrating. I don't want to have to change all of our resource tagging. Do we gain anything by tagging the shared vpc?

[2018-02-08 19:27] jdnurmi commented on #4192
Similar on AWS/stretch AMI trying to go from 1.8 to any 1.9+

It would appear this is because the newest CNI plugins file asset ends in _tgz, not .tgz - changing this moved the puck as far as why my 1.10-alpha3 cluster won't turn up

[code]

I'm not submitting this as a branch/patch because it seems likely a smarter check would be .tgz or _tgz - or just renaming the asset or some other solution --

[2018-02-08 19:44] caulagi commented on #2082
Will try to spend time this weekend.

[2018-02-08 20:07] chrislovecnm commented on #2082
/remove-stale

[2018-02-08 20:38] blakebarnett commented on #4389
How do you have egress to the internet configured? Generally this is what the IGW is for (you can have an egress-only IGW also).

[2018-02-08 21:35] Nitecon commented on #4188
@justinsb i was referring to the updates that you provided in your fork has been implemented in andsens/bootstrap-vz master so the custom fork shouldn't be required anymore.  Beyond that I was still reading through the imagebuilder setup and it looks like it's basically 100% locked to debian at this point and all additional distros would require a lot of dev work, so with that said I'm probably go

[2018-02-08 21:46] justinsb commented on #4188
@Nitecon the kubernetes AMI that we build is the 4.4 LTS kernel (to avoid some kernel panics with the debian jessie kernel, primarily); some tweaks to better run docker (e.g. more inodes), preinstallation of docker for speed, and then we preinstall some utilities.

I'm confused about what you're trying to achieve though - can you just use the official Ubuntu / Debian / RHEL / CentOS image that has

[2018-02-08 22:16] ddumontatibm opened #4410 "Please add support to detect additional CIDRs in existing VPC"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

1. What `kops` version are you running? The command `kops version`, will display
 this information.
Version 1.8.0 (git-357eadd)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
Client V

[2018-02-08 22:26] Nitecon commented on #4188
The whole idea is to mitigate Spectre and make future paching easier while not loosing custom compiled kernels as required by kops/kubernetes.  Just using the official images would still reduce spin up time / deployment time and I'm trying to avoid going slower by just pre-building it.  Would make life easier to test across multiple distros too though.

[2018-02-09 00:33] ssubramanian123 commented on #4389
@blakebarnett Our subnet is attached to VPG (Virtual Private Gateway) and which is intern connect with AWS VPC VPN and Custom Gateway. Instances created in this subnet, I am able to connect to internet like google.com are accessible.

I am not sure how to mitigate this issue in the config.

[2018-02-09 00:35] blakebarnett commented on #4389
Yeah, I think there's another issue that outlines support for "Custom routing" etc. I'll try to find it and link here.

[2018-02-09 01:25] justinsb commented on #4188
New image in alpha channel, includes 4.4.115 compiled with gcc 7.3.  Mitigates spectre v2.  Spectre v1 not yet addressed in the 4.4 kernel.

https://github.com/kubernetes/kops/pull/4411#issuecomment-364305807

[2018-02-09 03:01] trinitronx commented on #4391
Like @joelittlejohn  we were able to fix this on cluster create by adding the following hook via `kops cluster edit`:

[code]

[2018-02-09 04:12] leosunmo opened #4412 "Some public/private config options are case-sensitive"
1. What `kops` version are you running? The command `kops version`, will display this information.
`1.8.0`

2. What Kubernetes version are you running? `kubectl version` will print the version if a cluster is running or provide the Kubernetes version specified as a `kops` flag.
Somewhat irrelevant, but trying to spin up a 1.8.4 cluster.

3. What cloud provider are you using?
AWS

4. What commands

[2018-02-09 09:19] KashifSaadat commented on #4368
Hi @shavo007, there's some docs here on defining FileAssets within your ClusterSpec: https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#fileassets

For example:
[code]

A contribution is welcome to update the documentation! :)

[2018-02-09 13:15] shavo007 commented on #4368
Can you answer the questions above please? Is the documentation up to date?

[2018-02-09 15:14] MosheBlumbergX opened #4414 "Kops does not fail when hitting AWS 20 instances limit"
Current count of AWS instances: 17

Command used:
kops create cluster --image ami-5055cd3f --master-size t2.large --node-size t2.large --node-count 4 --zones eu-central-1b --name mydomain --state s3://k8s-systems-store --networking flannel --yes

It never fails, just complete as expected, but never changes the placeholder IP of the API endpoint to the instance public IP.

The master node is never

[2018-02-09 15:46] horaceheaven opened #4415 "Kube-proxy running in QoS class Burstable, should be class Guaranteed"
### Context:
Deploying a Kubernetes cluster with kops version `1.8.0` will provision kube-system pods e.g. kube-proxy, api-server in QoS class Burstable. There are some disadvantages to this even though these pods have the critical annotation applied to them and are static which reduces the likelihood of it being evicted by the kubelet, they are still high on the list to be evicted by system OOM k

[2018-02-09 15:52] KashifSaadat commented on #4368
The documentation does appear to need updating to say that specifying an audit policy file is required. A PR would be welcome if you're able to, just need to add a note under the `kubeAPIServer - audit logging` section and could reference this example file: https://raw.githubusercontent.com/kubernetes/website/master/docs/tasks/debug-application-cluster/audit-policy.yaml

[2018-02-09 17:22] dezmodue commented on #4218
@chrislovecnm I would like to contribute

[2018-02-09 20:36] mitpwd commented on #4399
Hi Chris,
I am happy to keep matching major releases, that is sufficient.
Thanks,
Dejan

[2018-02-09 23:42] dezmodue commented on #4218
@chrislovecnm I gave it a try - https://github.com/kubernetes/kops/pull/4417 - let me know

[2018-02-10 06:53] mfaizanse opened #4418 "Auto Scaling Group failed to maintain the desired number of nodes. [AWS]"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
`Version 1.8.0 (git-5099bc5)`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide th

[2018-02-10 13:35] bhack opened #4419 "Autoscaler and kube-proxy"
How we can workaround this issue https://github.com/openai/kubernetes-ec2-autoscaler/issues/23#issuecomment-284370307?

[2018-02-10 20:55] rbizzell40 opened #4420 "Kops edit cluster will not allow me to save the config file after making changes. Found fields that are not recognized adding Kube API Server to spec"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information. 1.8.

2. What Kubernetes version are you running? `kubectl version` will print the 1.8
 version if a cluster is running or provide the Kubernetes version

[2018-02-10 21:05] rbizzell40 commented on #4420
When I added rbacl authorization I was able to add
kubeAPIServer:
    authorizationRbacSuperUser: admin also

[2018-02-10 21:10] rbizzell40 commented on #4420
If I try an add it back because for some reason it is no longer there I get Found fields that are not recognized
#         name: a

#       name: events

# -   iam:

# +   iam: null

# -     legacy: true

#     kubeAPIServer:

#       authorizationRbacSuperUser: admin

# +     legacy: true

#     kubernetesApiAccess:

#     - 0.0.0.0/0

I don't get it I am lost

[2018-02-11 04:20] shavo007 commented on #4368
no worries @KashifSaadat  ill look to do that next week and test it out

[2018-02-11 07:02] jaipradeesh commented on #2383
@emilhdiaz AFAIK, no. I ended up creating ssh sessions (programatically) to the host and executing `docker` commands on the host.

[2018-02-11 16:57] michaelajr commented on #1873
Hi. I moved to the new stricter IAM roles and had volume issues on the nodes (deployments that had to create volumes or needed to claim existing volumes did not work). Not sure if this was an oversight. Masters of course had everything they needed. For now will add the Kms and volume privies to the additional policies in the cluster yaml.

[2018-02-11 17:49] michaelajr commented on #1873
Interesting. This seems to be a permission issue with the masters because of this condition on the `AttachVolume` action: `ec2:ResourceTag/KubernetesCluster = nonprod-us-east-1.servicebench.npr.aws.asurion.net`. I know that these strict policies are for cluster creation, but again, maybe the basic policies should allow volume attachment as it is a standard thing for K8s to do. Just a thought.

[2018-02-11 18:02] chrislovecnm commented on #1873
@michaelajr if I understand you correctly you are having pods on nodes attach volumes? First, you can accomplish this by adding an additional role to the nodes see https://github.com/kubernetes/kops/blob/master/docs/iam_roles.md

I get what you mean, but aren’t volume attach and detach usually handled by the masters? Seems like this is a perm needed by a custom application and not k8s. Please let

[2018-02-11 21:03] mmacfadden commented on #4410
Take a look at these two related issues: #4131 and #3536. This allows you to specify `additionalNetworkCIDRs` in your cluster spec. It is not automatic, per say, but it is related to what you are talking about.

[2018-02-11 21:04] michaelajr commented on #1873
@chrislovecnm Hey. So I initially thought the nodes needed privileges - that was incorrect. As you stated the masters attach volumes. The issue is probably not a big deal. But here it is. The `PersistentVolume` object has an option to specify a pre-existing EBS volume:

[code]

But because the `AttachVolume` IAM action that kops creates for the masters has a condition on the volume being tagged wi

[2018-02-12 03:48] #3047 closed

[2018-02-12 05:40] joelso opened #4424 "Spot request for spot instance group expires after 1 week"
Kops version: **1.7.0**
Kube version: **1.6.2**
Cloud provider: **AWS**

I successfully created a spot instance group ~1 month ago. Today I noticed that the spot instance requests were in state `request-canceled-and-instance-running`.

After quick investigation it seems like kops sets date `Valid Until` to today + 7 days so spot instance request is cancelled. Is there any way I can change this dur

[2018-02-12 05:53] joelso commented on #4424
Found in [AWS CLI docs](https://docs.aws.amazon.com/cli/latest/reference/ec2/request-spot-instances.html):

So probably, kops does not set it which makes it 7 days as default.

[2018-02-12 07:58] apLD opened #4425 "aws kops create cluster errors out as InvalidClientTokenId"
Errors out while creating kubernetes cluster in aws kops. Here is the command i used for creating the cluster

$ kops create cluster --name cs.cluster.k8s.local --zones $AWS_AVAILABILITY_ZONES --yes

Here is the error i am getting,

error running tasks: deadline exceeded executing task IAMRole/nodes.cs.cluster.k8s.local. Example error: error creating IAMRole: InvalidClientTokenId: The security tok

[2018-02-12 09:07] alexandrst88 commented on #2779
/remove-lifecycle stale

[2018-02-12 09:07] #2779 closed

[2018-02-12 09:35] starkers commented on #2175
/close

[2018-02-12 09:35] #2175 closed

[2018-02-12 12:58] shavo007 commented on #4368
all good, got it working.

ill create a PR this week to update the doc.

config is

[code]

file asset:
[code]

[2018-02-12 15:00] ddumontatibm commented on #4410
I was encouraged to report this from the cops slack.   I did get it to work but the command errors if you specify subnets outside of the range of the first cidr it finds via vpc name.

[2018-02-12 15:02] ddumontatibm commented on #4410
Ideally it could find all the cidrs on the vpc and not error.

[2018-02-12 16:07] justinsb opened #4428 "Add a feature flag to prevent accidentally running e.g. k8s 1.10 with kops 1.8"
kops 1.8 only officially supports k8s 1.8.x and lower.  We should have a feature flag to prevent people accidentally using e.g. k8s 1.10

[2018-02-12 16:07] mdavidsen commented on #3384
This issue should've been closed a while back, as the related PR was merged. Sorry for the dangling issue.

[2018-02-12 16:07] #3384 closed

[2018-02-12 17:49] KashifSaadat commented on #4368
Great to hear, also thanks for the PR much appreciated! 👍

I'll close this issue, feel free to re-open if you are still having any issues with this.

/assign
/close

[2018-02-12 17:49] #4368 closed

[2018-02-12 18:43] #4408 closed

[2018-02-12 19:01] chrislovecnm commented on #4415
@horaceheaven had a discussion about this recently as well, and I agree that it would be good to have this configuration accessible in the API / ClusterSpec.  I think we will need to target only specific versions of k8s for this feature if I recall correctly this will only work with K8s 1.8+.  Also, I am wondering what upstream is handling this.  We try to mirror the GCE install scripts in kuberne

[2018-02-12 21:04] argais commented on #4415
Why target 1.8+ :/ ? QoS has been around for a while now, checking the k8s changelogs I found mentions of it way back in 1.3.

I guess that @horaceheaven 's request is could be read as in "can we get to set req/lim for the cluster resources?". Regardless of what comes from upstream (those should be great defaults), being able to customize some values wouldn't hurt :)

[2018-02-12 21:45] zyounker opened #4429 "Kops 1.7.0 master sg missing 443"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

1.7.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version sp

[2018-02-12 21:48] eschneider1271 opened #4430 ""additionalSecurityGroups" field not recognized in cluster config"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.8.1

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes ve

[2018-02-12 23:10] cuzz22000 commented on #4430
I don't see it being added to the [1.81](https://github.com/kubernetes/kops/commits/1.8.1) release.

[2018-02-12 23:28] eschneider1271 commented on #4430
Thanks @cuzz22000. Closing this.

[2018-02-12 23:28] #4430 closed

[2018-02-12 23:35] isugimpy commented on #4156
Echoing the questions above, any chance of that change making it to master or a 1.9.0 alpha coming out?  I'm really itching to use the new --subnets functionality, and this is a blocker in its current state.

[2018-02-12 23:50] xlucas commented on #4111
@zengchen1024 How fare are you on this matter ? Do you need some help ?

[2018-02-13 02:10] chrislovecnm commented on #4156
The 1.8.1 release and master have been fixed to use the new nodeup in 1.8.1.  This was part of # 4375, and allows the keyset.yaml to be ignored.

[2018-02-13 02:10] chrislovecnm commented on #4156
Closing ...

[2018-02-13 02:10] #4156 closed

[2018-02-13 03:01] chrislovecnm commented on #4415
@argais QoS has been around for awhile but if I recall correctly the functionality has improved substantially.  Could be wrong :)  Yes I agree that we should default to what upstream has set, and allow for a user to configure req and limits but hand for kube-proxy.  A bit off topic, but CNI has this issue as well, and it would be good to handle CNI via addons manager.

[2018-02-13 03:10] argais commented on #4415
Oh definitely QoS improved with time as everything in k8s land :D
And yes CNI has this exact same issue, but that one is easier to solve even with a post deployment script to patch the manifests, but in the case of static pods there isnt much that can be done after the cluster is deployed :( (ugly hacks aside of course :D)

[2018-02-13 03:22] chrislovecnm commented on #4425
This usually means that your AWS credentials are not configured or are incorrect.  See https://docs.aws.amazon.com/STS/latest/APIReference/CommonErrors.html

[2018-02-13 03:23] chrislovecnm commented on #2307
/lifecycle frozen
/remove-lifecycle stale

[2018-02-13 03:40] justinsb commented on #4364
Half way there ... we're using dep now as of #4382.  Now just to remove `_vendor` ...

[2018-02-13 04:02] chrislovecnm commented on #4424
WIth the AWS API call that we are using it does not appear that the option to set the valid-until date is exposed.  I am guessing that we would need to implement the use of spot fleets, but I am only taking an educated guess.

We are using `CreateLaunchConfigurationInput` which has the struct member `SpotPrice` but does not have a request until date.

[2018-02-13 04:06] chrislovecnm commented on #4399
Can we close?

[2018-02-13 04:14] chrislovecnm commented on #4383
@nebril yah it kinda works in that weird way. The dns-controller deployment, which is part of kops, sets the DNS name of the API server, but the deployment will not launch until a CNI provider is installed.  We use k8s to setup DNS, thus until k8s starts you will not have DNS for the API endpoint. So you have to ssh on to the master and install a CNI provider.

@natemurthy if you are not able to u

[2018-02-13 04:32] chrislovecnm commented on #4396
@phs I think we hit a problem with google storage or the release, rather than kops.  The error you hit is what kops is meant to do when encoutering a SHA that does not match the binary that is down loaded.  Will leave this open in case someone else has a problem with 1.7.6.

[2018-02-13 05:44] phs commented on #4396
Assuming kops isn't directly responsible for maintaining that download, I agree.

I could imagine kops noticing the payload beginning with `<?xml` (or perhaps a 4xx response code) and giving a clearer explanation in the logs, no but real behavior changes.

[2018-02-13 06:16] virusdave commented on #4188
Thanks for all the updates.  Sorry if I came off brusquely, and thanks for the link for custom images in kops.  We might use that temporarily while the official channels get updated.

Keep up the great work all!

[2018-02-13 06:55] chrislovecnm commented on #1873
Oh, good catch!  Hrmmm wondering if we should remove the tag restriction.

@KashifSaadat thoughts about loosening the policy so that EBS volumes do not have to have the cluster tag?  @michaelajr has a valid use case where existing volumes may not have those tags.

[2018-02-13 06:59] chrislovecnm commented on #1718
/lifecycle frozen
/remove-lifecycle stale

@Deshke #4038 is the next generation of rolling-updates.  Hopefully @gambol99 has some bandwidth to get the PR in :)

[2018-02-13 07:00] chrislovecnm commented on #2383
@jaipradeesh if you are interested in implementing this let me know.

[2018-02-13 07:03] chrislovecnm commented on #4192
@jdnurmi we should have the fixes in master for the tgz extension.  You will need to use `make upload` and set the location of nodeup, in order to test.  We are running e2e tests against the dev versions of 1.10 k8s.

[2018-02-13 07:05] chrislovecnm commented on #4323
This might be a duplicate, as there is an issue with flannel and coreos. Possible dupicate https://github.com/kubernetes/kops/issues/4391

@boube there is a workaround listed in #4391, but I would recommend seeing if flannel has addressed this problem, and we can get flannel updated in kops.

[2018-02-13 07:05] #4090 closed

[2018-02-13 07:07] chrislovecnm commented on #3970
Closing :)

[2018-02-13 07:07] #3970 closed

[2018-02-13 07:12] chrislovecnm commented on #2422
@perryao nodeup is our component that bootstraps a node, and it would need to be updated greatly.  Give you an idea all of the models are task components that nodeup completes.  Here is the directory with the models https://github.com/kubernetes/kops/tree/master/nodeup/pkg/model.  It is also completely driven by systemd, so we would need to tweak that for windows.

If you want the nitty-gritty det

[2018-02-13 07:16] chrislovecnm commented on #780
If anyone has some time to test https://github.com/kubernetes/kops/pull/3031, it would be much appreciated.  I have tested the PR, but I do not have a VPN or other solution setup to test with.

[2018-02-13 07:19] chrislovecnm commented on #232
@joelittlejohn we have support for existing subnets, and vpc.  It is documented here: https://github.com/kubernetes/kops/blob/master/docs/run_in_existing_vpc.md

We do not have support yet for not having an IGW, and I have a PR in for supporting alternative egress solutions.

[2018-02-13 07:22] chrislovecnm commented on #2778
/lifecycle frozen
/remove-lifecycle stale

[2018-02-13 07:29] chrislovecnm commented on #2657
@rifelpet I think trying to unset the variables in the Makefile is a good start.  Also ran into `AWS_REGION` today as well.  We probably want to unset the general AWS evn variables.  The good news is that bazel does not have this problem, as it does not inherit the environment variables.  The plan is to eventually convert to bazel, but at this point, we are not quite there.

[2018-02-13 07:30] chrislovecnm commented on #1558
@veksler you probably where, but you need to be using the stretch ami with m5's

[2018-02-13 07:37] chrislovecnm commented on #2790
We have support for turning off Anon Auth, https://github.com/kubernetes/kops/blob/b418c3036db984ab5cc5d6056cc411bd32d56145/docs/security.md#kubelet-api

@gambol99 / @KashifSaadat are we supporting all of the items that @cjcullen mentioned?

[2018-02-13 07:45] chrislovecnm commented on #1776
/lifecycle frozen
/remove-lifecycle stale

[2018-02-13 07:47] chrislovecnm commented on #2437
/cc @caseydavenport @blakebarnett not sure how to fix this.  Any ideas?

[2018-02-13 07:48] chrislovecnm commented on #3251
@gauravarora can we close this issue?

[2018-02-13 07:50] chrislovecnm commented on #4025
@ms4720 just seeing your response now. We need to improve kops validate to pull back error messages from ASG's.  This is not really something that we can check before we create the ASG's.  Let me know if you want to take this on, and please reach out on slack if you like.

[2018-02-13 07:53] gauravarora commented on #3251
Yes.

[2018-02-13 07:53] #3251 closed

[2018-02-13 07:54] chrislovecnm commented on #754
Happy to have someone contribute this feature!

[2018-02-13 07:55] gauravarora commented on #4429
I saw this with 1.7.0 as well although rarely. I would suggest you upgrade to 1.8.1 and then try.

[2018-02-13 08:00] jaipradeesh commented on #2383
@chrislovecnm Will take a look at the feasibility and let you know.

[2018-02-13 08:16] gauravarora commented on #4418
Did your node terminate or did the kubelet crash? ASG will only bring up a new node if your old nodes terminate.

[2018-02-13 08:18] apLD commented on #4425
Thank you. That helped me track down the issue.
I did not export the following 2 environment variables which is required while creating a cluster using kops

export AWS_ACCESS_KEY_ID=$(aws configure get aws_access_key_id)
export AWS_SECRET_ACCESS_KEY=$(aws configure get aws_secret_access_key)

[2018-02-13 08:18] #4425 closed

[2018-02-13 09:47] zengchen1024 commented on #4111
@xlucas Sorry. the key reason is I have not much time to do the work on this issue. But I promise I will complete it. The next week is Chinese New Year and I will leave for about a week. I will start to work on it when I come back. Thanks for your comments.

[2018-02-13 10:10] joelso commented on #4424
Thanks for reply. I see, I think you are right about spot fleets. AWS does not seem to expose `valid until` in any SDK (by curiosity I checked Java and JS).

Does anyone know if there is another way to achieve spot instances using kops even though it requires manual tweak (i.e. changing something in AWS that is not reflected in state store)? From what I know there is no way to modify on active spo

[2018-02-13 11:52] zytek commented on #1873
Although this is a valid use case I'd opt for **secure by default** approach. Good documentations and error logs should help debug use cases such as @michaelajr - which is valid, but so is deploying apps that need tons of other IAM perms, for which we have `kube2iam`.

[2018-02-13 11:53] bhack commented on #4419
See https://github.com/kubernetes/kops/blob/master/nodeup/pkg/model/kube_proxy.go#L44

[2018-02-13 13:05] dmfenton commented on #754
@chrislovecnm would you point to the line in the code where the cert is generated? I went through the codebase once before and wasn't sure I identified it.

[2018-02-13 14:43] #4420 closed

[2018-02-13 14:43] rbizzell40 commented on #4420
No resolution to my issue I haven't seen any responses so I am just closing it.

[2018-02-13 14:48] michaelajr commented on #1873
On one hand, I think this is just part of what the masters should do out of the box. Just like being able to enter Route53 records or launching instances. But on the other... I also like that it is locked down to JUST the volumes created by the cluster. I.e., if you do not BYOV, then the `PersistentVolume` is created with the tag and claimed just fine. So maybe the 80/20 rule is fine here. As long

[2018-02-13 14:51] argais commented on #4415
If you think this is something worth implementing, I could try to whip up a PR for this, would be a good reason to study more on golang :P (and would pair with @horaceheaven if he is up to it ;). We both work with @robinpercy so we could get some guidance from him too.

[2018-02-13 15:51] dreampuf commented on #780
Hi @chrislovecnm
I have tested that patch in our environment.

{code}
$ ssh ec2-user@10.2.0.3
Last login: Mon Feb 12 18:50:58 2018 from XXX.XXX.XXX.XXX

       __|  __|_  )
       _|  (     /   Amazon Linux AMI
      ___|\___|___|

https://aws.amazon.com/amazon-linux-ami/2017.09-release-notes/
13 package(s) needed for security, out of 22 available
Run "sudo yum update" to apply all updates.
[ec2-u

[2018-02-13 15:55] huang-jy commented on #4362
Seems to work now, so I'll close the ticket

[2018-02-13 15:55] #4362 closed

[2018-02-13 16:01] dreampuf commented on #780
@chrislovecnm I tested it with an InternetGateWay but didn't work with an internal VPN. We have a simular environment.

[2018-02-13 16:03] chrislovecnm commented on #780
@dreampuf can I get more details please?

[2018-02-13 16:07] chrislovecnm commented on #4111
@xlucas if you want to help, I do not think tasks for networks or creating instance / something like autoscaling groups are completed.

[2018-02-13 16:13] chrislovecnm commented on #196
/lifecycle frozen
/remove-lifecycle stale

[2018-02-13 16:14] chrislovecnm commented on #232
/lifecycle frozen
/remove-lifecycle stale

[2018-02-13 16:15] chrislovecnm commented on #3612
/lifecycle frozen
/remove-lifecycle stale

[2018-02-13 16:18] chrislovecnm commented on #3297
@sarphram are you able to contribute a fix? Wondering if that call could be a warning rather than an error

[2018-02-13 16:20] chrislovecnm commented on #2354
@activeshadow you probably know better than me. Just pic a doc that makes sense or create a new one.

[2018-02-13 16:21] chrislovecnm commented on #4369
/area documentation

Going to leave this open as we should document this

[2018-02-13 16:31] chrislovecnm commented on #722
@duizendnegen you have to build the binary yourself off of master

[2018-02-13 16:38] chrislovecnm commented on #3019
@blakebarnett more like the addon manager maybe ??

[2018-02-13 16:39] chrislovecnm commented on #3155
@blakebarnett I think fixing dnscomtroller to make this a wanting rather than an error is appropriate

[2018-02-13 16:44] boube commented on #4323
Hi! It looks like a duplicate. It isn't the exact same behavior but it could be related.

Thank you very much, feel free to mark it as dup and close this.
I'm out of the office today, but I will try again this week with and without workaround. If both solutions fail, I will reopen again.

[2018-02-13 16:59] canadiannomad commented on #2506
The placement and wording of that actually confused me.  It maked it seem like you may have to run either
`kops create secret --name <clustername> sshpublickey admin -i ~/.ssh/newkey.pub`
or
`kops create secret --name <clustername> sshpublickey core -i ~/.ssh/newkey.pub`
because it isn't clear anywhere if "admin" in that command is referring to a username or something else.

[2018-02-13 17:25] #4323 closed

[2018-02-13 17:28] chrislovecnm commented on #4296
@KashifSaadat @blakebarnett  @mikesplain  do you guys use taints?

[2018-02-13 17:31] chrislovecnm commented on #927
/cc @blakebarnett @caseydavenport any ideas folks?

[2018-02-13 17:33] chrislovecnm commented on #3268
Closing this, please re-open if needed

[2018-02-13 17:33] #3268 closed

[2018-02-13 17:35] harsha-y commented on #4323
@chrislovecnm Thanks for the tip! We've ruled out DNS because name resolution never fails within the cluster but #4391 looks like very similar to what we are seeing. Will the give the workaround a shot and report back if that solves the problem.

[2018-02-13 17:38] KashifSaadat commented on #4296
CC @gambol99

[2018-02-13 17:41] chrislovecnm commented on #754
I think it is here https://github.com/kubernetes/kops/blob/26e0c781eac71cc0aaabe40d80fa76aa40159a5c/upup/pkg/fi/fitasks/keypair.go

@gambol99 I think you know this code better than I, can you give us some direction?

[2018-02-13 17:44] mikesplain commented on #4296
We use taints, kops 1.8.0 and k8s 1.7.12 and no issue. @gkope looks like you're using a custom build of 1.8.0 from master, can you try the released version?

[2018-02-13 17:52] KashifSaadat commented on #1873
Both good points. I'm not keen on opening AttachVolume for any volume, as the cluster could be in a shared AWS Account with other resources and so there's risk that you interfere with volumes used for other deployments.

The "secure by default" approach should be sufficient and then users have at least the following options to support this extra use-case (which we should ensure is appropriately do

[2018-02-13 17:52] chrislovecnm commented on #3668
/lifecycle frozen
/remove-lifecycle stale

[2018-02-13 17:58] chrislovecnm commented on #4414
Unfortunately, you are not the first or probably the last person to hit this.

The challenge is the way AWS API works and quotas.  Quota are not accessible via the API at all, they only appear in the console. If someone can figure out how to get to quotas via the  AWS API, and show that it works, I will buy them a cookie.  Heck, a box of cookies!

When we create an ASG with kops, the API call is p

[2018-02-13 17:59] chrislovecnm commented on #4404
Go for it... I love documentation PRs

[2018-02-13 17:59] chrislovecnm commented on #4404
Maybe we add the docs to the `--help` ux as well, or better docs on how to do this.

[2018-02-13 18:00] chrislovecnm commented on #4364
I have a PR in to remove _vendor ... yay

[2018-02-13 18:09] chrislovecnm commented on #1873
Yah don't use that tag.

Wondering if we should add another tag name that we can use to enable this?  We can document the tag name, os that a user can utilize that tag, and not run into deletion issues.

[2018-02-13 18:11] jolcese commented on #429
+1 for supporting instance storage. I3's performance is great

[2018-02-13 18:12] chrislovecnm commented on #429
/lifecycle frozen
/remove-lifecycle stale

[2018-02-13 18:14] chrislovecnm commented on #3635
Closing this please re-open if needed

[2018-02-13 18:14] #3635 closed

[2018-02-13 18:39] blakebarnett commented on #2437
Like @jaipradeesh said, the ideal behavior would be for kops to query for subnets to make sure there are no non-tagged conflicts.  I think the only other thing to do here is to make it more clear in the docs that `nonMasqueradeCIDR` is what's used for things like the utility subnets, not the VPC networkCIDR

Also validation that everything will actually fit in a /24 would be good... I'm guessing t

[2018-02-13 18:44] blakebarnett commented on #3019
Yeah, I'm thinking the apiserver will have nicer ways to query for the current state of the cluster (the way kops set it up) so that we can ask it things like "Was crossSubnet enabled previously?" to make upgrade decisions like this.

[2018-02-13 18:49] blakebarnett commented on #927
This sounds like `crossSubnet` mode turned on without https://github.com/ottoyiu/k8s-ec2-srcdst working (assuming the nodes are in different AZs/subnets).

[2018-02-13 18:50] blakebarnett commented on #927
No idea what it would be with kubenet, probably a problem with the way the Route Tables are configured?

[2018-02-13 18:52] jordanjennings commented on #1873
@chrislovecnm Yes I like that idea, roughly similar to the shared subnets tag approach (although kops sets the shared subnet tag itself, whereas here it wouldn't set a tag). Then kops can set up the permissions out of the box and users can add tags to opt-in for specific volumes to be accessible.

[2018-02-13 18:54] chrislovecnm commented on #1873
@jordanjennings actually maybe we can re-use the shared tags ...

[2018-02-13 18:54] arrkaye opened #4439 "Error creating cluster on eu-west-1a"
1. 1.8.1 - KOPS

2. 1.9.0 - KUBECTL

3. What cloud provider are you using?
AWS

4. What commands did you run?  What is the simplest way to reproduce this issue?

kops create cluster --zones=eu-west-1a --name=kube-live.internal.xxx.com --vpc=vpc-xxxxx --topology private --networking calico --master-size t2.micro --node-size t2.micro

5. What happened after the commands executed?

I0213 18:49:02.038

[2018-02-13 18:55] blakebarnett commented on #4296
I think this is something to do with updating existing nodes, but new nodes would get it, @gkope can you verify?

[2018-02-13 18:59] chrislovecnm commented on #1576
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2018-02-13 19:00] mikesplain commented on #4296
That would make sense, you may need for force roll over existing nodes?

[2018-02-13 19:02] chrislovecnm commented on #4439
The IP address for the HTTPS endpoint `10.0.1.165` looks like a private IP address.  Not sure how your DNS is sending you there.

[code]

Is what I am getting locally.

[2018-02-13 19:57] dreampuf commented on #780
@chrislovecnm Sorry for the misleading. I thought the wrong issue. It's worked both having an IGW to let the kops finish the setting up progress or utilizing this patch to skip forcing create new IGW.

We have a VPN and route the out bandwidth to that VGW. Kops with this patch can work with that. I can send you the history echo if you need it.

[2018-02-13 20:09] chrislovecnm commented on #780
@dreampuf yes please set the API value and test for me.  Let me know if the IGW is created and if it isn't if we try to delete one.

[code]

Needs to be set either via an edit or use a YAML manifest.

[2018-02-13 20:12] klaus993 commented on #4404
@chrislovecnm In the `--help` ux it says this about the `--subnet` flag:

"Subnet in which to create instance group. One of Availability Zone like eu-west-1a or a comma-separated list of multiple Availability Zones."

I think it's enough, though maybe it's better to add an example as well.

[2018-02-13 20:45] nburn42 opened #4441 "Missing documentation for kops cluster autoscale addon"
I'm running kops on aws.

There is some documentation here about how to add the autoscaler to the cluster but as far as I can tell kops doesn't create its own autoscaling groups and there doesn't seem to be any documentation on how to create an autoscaling group that will interact with the cluster.

I can follow all the existing documentation and I will end up with this error message
Failed to upd

[2018-02-13 21:10] nburn42 commented on #1964
Where is the documentation and example cloud formation for this?

[2018-02-13 21:13] caseydavenport commented on #927
Sounds a lot like this one: https://github.com/kubernetes/kubernetes/issues/58908

Could you check a couple of things?
- Version of docker installed on the nodes
- The version of kubernetes

If kubernetes >= v1.9
- The value passed to the kube-proxy for `--cluster-cidr`
- The value passed to the controller-manager for `--cluster-cidr` (for kubenet, @gcis )
- The IP pool that Calico is using (For t

[2018-02-13 21:13] chrislovecnm commented on #1964
@nburn42 there really is not much documentation for this, not sure how many users are using CF and kops.  Set `--target=cloudformation` with a `kop create cluster`.

[2018-02-13 21:41] nelsonfassis commented on #3963
Same here:
NAME                         STATUS     ROLES     AGE       VERSION   EXTERNAL-IP   OS-IMAGE                KERNEL-VERSION               CONTAINER-RUNTIME

k8s-worker-001               Ready      <none>    83d       v1.8.4    <none>        CentOS Linux 7 (Core)   3.10.0-693.5.2.el7.x86_64    docker://Unknown

[2018-02-13 23:17] dreampuf commented on #780
@chrislovecnm

I just created a cluster in a non-IGW VPC.
[code]

[2018-02-13 23:50] joelittlejohn commented on #3236
@chrislovecnm I'm using the `containerRegistry` option with great success. Is the `fileRepository` feature usable in kops 1.8?

[2018-02-14 00:17] smcquay commented on #4389
I'm currently trying to follow along with the [aws getting started guide](https://github.com/kubernetes/kops/blob/master/docs/aws.md) and am running into what feels like a similar issue:

[code]

I configured the cluster as:

[code]

I built kops from source at master:

[code]

in order to get `amazon-vpc-routed-eni`. Does this seem like the same issue, or should I open a separate one?

[2018-02-14 10:40] jpds opened #4442 "kops does not set up a cluster-admin role"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.8.1 (git-94ef202)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

[code]

3. What cloud provider are you using?

AWS

4. What commands did you run?  What is the s

[2018-02-14 10:58] jpds commented on #4442
It seems that I had read somewhere that RBAC was the default mode in the documentation, however I found that this was not the case in 1.8.1. Enabled RBAC and everything works as expected.

[2018-02-14 10:58] #4442 closed

[2018-02-14 13:14] sarphram commented on #3297
@chrislovecnm
My fix isn't ideal...but to help at least some: I changed https://github.com/kubernetes/kops/blob/b44d894813fb583d63c7e9b2ff211747053fdc54/dns-controller/pkg/dns/dnscache.go#L82 to "continue", which worked for our setup at the time. but I didn't test it on any other setup configurations.

[2018-02-14 14:26] Rishka commented on #4441
Each node group _is_ an ASG in AWS. You need to get that Id from the console and pass it to the Cluster Autoscaler instead of the node-group name

https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws/examples

[2018-02-14 15:23] Cryptophobia commented on #4006
This would be nice to have for security. Ideally, kops should allow some method to partition volumes as well. An attacker could potentially fill up the whole rootVolume with data and prevent the node from allowing connections or he/she can theoretically hijack applications.

This applies to every partition and volume (/tmp in this example):

Center for Internet Security (CIS)

[2018-02-14 17:09] mikesplain commented on #3972
/close

[2018-02-14 17:09] #3972 closed

[2018-02-14 17:50] abednarik opened #4444 "Bastions role additionalUserData not available?"
Hi

 Thanks for this tools, works great :)

1. I'm currently using additionalUserData for nodes and masters to install SaltStack and setup users and a few minor things we apply to all instances. I'm trying to do the same for bastions groups, but even when I edit bastions IG nothing changes and kops doesn't detect any change.

Here is what I do

[code]

I add the example present in Instance Group f

[2018-02-14 18:21] arrkaye commented on #4439
Thanks. That was it. I had an ec2 endpoint setup in my VPC.

[2018-02-14 18:21] #4439 closed

[2018-02-14 18:41] harsha-y commented on #4323
@chrislovecnm @boube That totally worked!

We enabled the `br_netfilter` module on all CoreOS masters and nodes. That solved our issue. We have some monitoring around timeouts within our cluster and haven't seen any alerts since we made this change. 😄

Interesting to note that before we made changes we took inventory of where this module was already present and roughly 30% of our nodes had this mo

[2018-02-14 19:19] #160 closed

[2018-02-14 20:32] pandeybk commented on #2378
We can use one liner this

`
KUBECONFIG=$HOME/test-kubeconfig.yaml kops export kubecfg --name k8s.test.eu-west-1.aws.redacted.net --state s3://k8s/kops/
`

[2018-02-14 23:18] robinpercy commented on #4415
/assign

I'll help @horaceheaven and @argais come up with an initial PR

[2018-02-14 23:49] gambol99 commented on #4296
I think the answer has pretty much been given, the values are mapped to

[code]
so applies new nodes (perhaps rebooted node as well - note sure the node registration code works)

[2018-02-14 23:53] chrislovecnm commented on #2867
/lifecycle frozen
/remove-lifecycle stale

[2018-02-15 00:22] 97turbotalon commented on #4348
I also having the same issue with KOPS 1.8.1 and K8s: 1.8.8.   Restarted the pod and restarted the masters.

[2018-02-15 08:59] krasaee commented on #3575
Seem to be running into the same issue with calico 1.6.0 on coreos and kubeadm setup not kops on digital ocean.

[2018-02-15 10:15] mausch commented on #3020
/remove-lifecycle rotten

[2018-02-15 10:42] shavo007 opened #4446 "kube-dns pods not starting on cluster"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
kops 1.8.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes versio

[2018-02-15 13:20] joelittlejohn commented on #387
Our use-case is the same as @qqshfox. In China we need to replace the default apt sources so that we are using a China mirror, otherwise when nodeup attempts to `apt update` it is likely to fail or be painfully slow. Hooks can't help with this as nodeup runs `apt update` before running hooks. I've baked these changes into the base AMI for now, but this would have been a lot simpler if some custom

[2018-02-15 14:55] mitpwd commented on #4399
Yes

[2018-02-15 14:55] #4399 closed

[2018-02-15 16:28] duboisf commented on #4444
I think it's because of this: https://github.com/kubernetes/kops/blob/1.8.0/pkg/model/bootstrapscript.go#L48

[2018-02-15 16:44] mausch commented on #2785
I'm using kops 1.8.1 and seeing this same error. Even if it is harmless (is it?), any such "invalid" errors tend to swamp the logs and make it much harder to find the cause of actual issues.

[2018-02-15 17:18] smcquay commented on #2830
@chrislovecnm: I'm going to add that this flag has also confused me.

I have an AWS VPC with the CIDR `10.10.0.0/16` and I'd like the kubernetes cluster to only use `10.10.168.0/21` (as much of the network address space is already being used). When I try to run:

[code]

I get the same error.

I'm pretty new to the `kops` project (trying it out for the first time) but I'm more than happy to dive i

[2018-02-15 17:52] Cryptophobia commented on #387
@joelittlejohn , hooks seem to solve our problem for us and we are using them now. `apt update` is expected to be the first thing ran when bootstrapping new AMIs anyways. Sounds like nodeup would be a blocker for you in any case because it will always try to run `apt update`.

[2018-02-15 17:56] joelittlejohn commented on #387
@Cryptophobia Yes, nodeup will always run `apt update`, which is why a startup script is required to replace the default apt sources before nodeup runs. Hooks can't be used for this.

[2018-02-15 18:00] Cryptophobia commented on #387
Yeah, but you should be bootstrapping your sources when making the AMI images is what I said. Bootstrapping as an idea is getting things like apt sources ready before deploying a virtual machine...

[2018-02-15 18:15] joelittlejohn commented on #387
@Cryptophobia I think what we're talking about here is a solution that allows this kind of minimal customisation without the requirement to introduce an AMI bootstrapping step. This is the gist of this comment if I understand it correctly:

https://github.com/kubernetes/kops/issues/387#issuecomment-256681848

[2018-02-15 18:36] robinpercy commented on #3412
@doronoffir and @etiennetremel: I suspect you've both worked through this issue already, but I'll include some suggestions for posterity, based on my past experience restoring the primary etcd cluster. This is from memory and is meant to provide guidance rather than be a comprehensive recovery procedure. It should go without saying that this shouldn't be done in production without sufficient backu

[2018-02-15 18:37] Cryptophobia commented on #387
We have a bootstrap process for the kops.io AMIs every time we deploy new ones. Do you work in an organization or a team where you don't have any bootstrapping and security tools deployed with your instances?

The tradeoff here is a lot of work to be done on something that will create little value and can mostly be done with hooks.

I don't want the kops team to work on things that are easily done

[2018-02-15 19:00] joelittlejohn commented on #387
@Cryptophobia Sorry, we seem to be rehashing the same discussion about which use cases for this feature are valid and which aren't. There seems to be some agreement here that kops should (and could fairly easily) support injecting a custom step into the user data. I'm not trying to suggest that the use case I have is the one that justifies implementation of this feature, only that I would find the

[2018-02-15 21:08] smcquay opened #4448 "Unable to create cluster with .k8s.local (gossip): DNS Unable to connect to the server: EOF"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

I'm trying to test out recently merged `amazon-vpc-routed-eni` functionality, so I'm running off of master:

[code]

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

My `kube

[2018-02-16 01:14] chrislovecnm commented on #3888
/lifecycle frozen
/remove-lifecycle stale

[2018-02-16 01:14] chrislovecnm commented on #1230
/lifecycle frozen
/remove-lifecycle stale

[2018-02-16 01:35] chrislovecnm commented on #2087
/lifecycle frozen
/remove-lifecycle stale

[2018-02-16 04:54] chrislovecnm commented on #2830
@smcquay we have office hours tomorrow morning, see the README.  If want to swing by we would love to have you.  Otherwise please reach out via slack if you have questions.  I usually use manifests with more complex configurations, but that is just me.  Can I get a -v10 debugging on the kop create or update?

[2018-02-16 04:58] chrislovecnm commented on #4448
Are instances being created?  Any errors on the ASG's?  What does `kops validate` say?  You may be running into a problem with a 'feature' of nodeup that we have currently.  Are you getting nodeup errors?  Can you rebase and try again, please?  I fixed something in the Makefile which might help.  How are you building kops?

[2018-02-16 04:59] chrislovecnm commented on #4444
@duboisf that is correct.  Happy to see a contribution to fix that.  We do not have docker on the bastion as well so not container hooks :(

[2018-02-16 05:32] chrislovecnm commented on #3575
Anyone figure out a root cause? I am seeing two different cni providers, so I think it is not the providers. Different OS. I am thinking docker or k8s maybe. Anyone find anything in the logs? Anyone have a repeatable set of commands to recreate this?

[2018-02-16 06:07] GaudamThiyagarajan opened #4450 "Unable to Scale Cluster Using Kops"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

1. **Kops Version** 1.8.1 (git-94ef202)

2. **Kubectl Client Version:** version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeState:"clean", BuildDate:"2017-04-03T20:44:38Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}

**Kubectl

[2018-02-16 06:53] #704 closed

[2018-02-16 08:55] #210 closed

[2018-02-16 09:58] iMartyn opened #4451 "kops requires environment variable AWS_REGION to be set"
1. What `kops` version are you running? The command `kops version`, will display
 this information.
Version 1.8.0 (git-5099bc5) but also reproduced on master

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
Client Version: version.Info{Major:"1", Minor:"10+", GitVersion:"v1.

[2018-02-16 10:49] rlees85 commented on #4252
I've been battling with something similar. The `api.` DNS record is created correctly as an alias to the load balancer but as soon as any of the masters comes up it is overwritten by 3 IP addresses.

In my instance, `masterInternalName` and `masterPublicName` where set the same in the YAML. Changing them to be different fixed the problem at least for `masterPublicName`.

I doubt it will solve your