[2017-09-10 19:29] chrislovecnm commented on #1796
@andrewsykim we need kube-dns on the master?

[2017-09-10 19:31] chrislovecnm commented on #3357
These are kops API components, not kubectl. You need to be using kops to apply the yaml to your cluster ;)

[2017-09-10 20:40] chrislovecnm commented on #2064
I recommend running all of the masters in one az.  You can run into nasty issues with split brain :(  Since you have 2 and 1 you can loose the masters if you loose the AZ with two anyway.  The way to get around this is to have more than three masters or more than three etcd instances between the two AZs.    I do not think kops supports more than 3 masters, but I have not tested it.

From their doc

[2017-09-10 20:41] chrislovecnm commented on #2064
We need to document this ;)

[2017-09-10 21:33] andrewsykim commented on #1796
Makes more sense to set `dnsPolicy: Default` for cluster-autoscaler as it shouldn't depend on kube-dns anyways.

[2017-09-10 21:35] andrewsykim commented on #1796
^ @7chenko any chance you can open a PR for this?

[2017-09-10 23:27] KyleU commented on #1796
I'm seeing the same thing. What's the advice, kube-dns on master or dnsPolicy? How do I accomplish either?

[2017-09-11 00:01] chrislovecnm commented on #1796
@KyleU we need the manifest for autoscaler to be changed.  It should not be utilizing cluster dns.  Also kube-dns should not probably live on the master.

[2017-09-11 00:02] andrewsykim commented on #1796
@KyleU example https://github.com/kubernetes/kops/blob/master/upup/models/cloudup/resources/addons/external-dns.addons.k8s.io/pre-k8s-1.6.yaml.template#L27

[2017-09-11 00:38] KyleU commented on #1796
Mine turned out to be specifying the AZ (us-east-1a), and not the region (us-east-1). The URL showed my error, but I overlooked it.

[2017-09-11 01:19] PI-Victor commented on #433
sounds interesting, would like to take a shot at it starting tomorrow if nobody's working on it.

[2017-09-11 04:07] KernCheh commented on #1796
I faced the same issue and changed dnsPolicy from `ClusterFirst` to `Default` on cluster-autoscaler deployment and it seemed to work. The cluster started to scale down

[2017-09-11 05:57] Globegitter commented on #618
Just as an update, running on kops 1.7.0 and adding the cronjob support as mentioned above, I did not need to add the `cloudProvider: aws` line and it still worked for me (of course also running on aws). Good to know about just needing to recreate the masters.

[2017-09-11 06:16] dolftax commented on #433
@PI-Victor Can we collaborate?

[2017-09-11 07:54] kumudt commented on #3197
Any workaround for this?? Our kops 1.7 cluster is also facing this issue.
Any way to clear these overlays manually without disturbing the running containers??

[2017-09-11 11:07] zioalex commented on #1836
I like this idea and looking how to migrate to etcd3 . Any concrete plan here?

[2017-09-11 11:24] zioalex commented on #3357
Argh. You are right I think I messed up 2 issues. I'm fixing the description.

[2017-09-11 11:36] johanhubens opened #3363 "Cluster autoscaler addon cannot list statefulsets.apps at the cluster scope"
After deploying the addon `https://github.com/kubernetes/kops/blob/master/addons/cluster-autoscaler/v1.6.0.yaml` to the cluster, the cluster autoscaler controller keeps logging the following:

[code]

The cluster role `cluster-autoscaler` specified in the yaml file does not have any authorizations defined for reading statefulsets.

[2017-09-11 11:44] zioalex commented on #2842
Hi guys, any update here?

[2017-09-11 12:31] zioalex commented on #3356
Great. Please let me know if I can help here.

[2017-09-11 13:53] iMartyn commented on #822
This would be a big help to convince my team on kube too, if I could securely deploy kube with kops, I'd be VERY happy.

[2017-09-11 14:25] niclic commented on #3363
Just encountered this myself. Proposed [fix](https://github.com/kubernetes/kops/pull/3364) works.

[2017-09-11 14:39] caarlos0 opened #3365 "dns-controller rolled back the api.internal to an old master ip addr"
I terminated the master node by mistake.

It was ok, the ASG launched a new one. Everything was working for a few minutes... until all nodes became unavailable.

Looking into the logs:

[code]

The IP `10.10.201.182` was the previous master node. Somehow it was rolled back :(

Kubernetes 1.5.7, created with kops 1.5.1 (if I'm not mistaken)

[2017-09-11 15:55] tmjd commented on #3352
Hi @chrislovecnm, I'm the one that submitted #3187 :smile:.
The update to v2.5 requires a Calico data migration step and requires K8s v1.7, so is not as simple as that one.  At minimum, even if it is expected that the user is expected to understand the need to manually do the migration prior to using Kops to update the Calico versions, there is also the requirement that this is only used for K8s v

[2017-09-11 18:04] 7chenko commented on #1796
I run kube-dns on the master because I also find that when it runs on the nodes it prevents scale-down (along with kube-dns-autoscaler pod). What's the right way to avoid that? I do have --skip-nodes-with-system-pods=false.

[2017-09-11 20:16] orangejulius commented on #2881
Hi @justinsb,
Just wanted to say I was running into the same problem when using a bastion node with a gossip cluster, and building kops from source with your branch worked great. Thanks for the fix and I'm hoping it can get merged soon!

[2017-09-12 05:03] thejsj opened #3370 "Is it possible to use Custom Admission Controllers/API server flags in kops using Terraform export?"
I've been trying to use admission control with kops. The documentation explains that I need to pass a flag to `api-server` (https://kubernetes.io/docs/admin/admission-controllers/#how-do-i-turn-on-an-admission-control-plug-in), but I don't really understand where I can pass these flags.

How can I pass runtime flags to the API server in `kops`? I specifically want this to pass my own array of admi

[2017-09-12 05:57] geojaz commented on #1953
closed in 2052 :)

[2017-09-12 05:57] #1953 closed

[2017-09-12 05:59] geojaz commented on #1760
I think we can close this stale issue that relates to very old alpha versions

[2017-09-12 05:59] #1760 closed

[2017-09-12 06:11] thejsj commented on #3370
Seems like the solution is:

[code]

Then adding the following:

[code]

Then `kops update cluster ...`

[2017-09-12 06:14] thejsj opened #3371 "kops edit + kops update don't make any changes when update `kubeAPIServer` is edited + updated and using Terraform"
After creating a cluster, I'm trying to change some of the options in`kubeAPIServer` using terraform scripts, but editing the cluster + updating don't make any changes to my terraform scripts.

[code]
(The `max_size` property I changed manually in AWS)

[2017-09-12 07:42] KashifSaadat commented on #3371
Hey @thejsj. PR #3120 was merged into master recently (with a few follow-up updates), which takes the KubeAPIServer spec and includes it within node user-data scripts, forcing a difference to be picked up in the node config and should trigger a rebuild of the instances.

It hasn't been tagged under a kops version yet, but you can use this functionality if you build kops from source:
1. Install gol

[2017-09-12 08:03] KashifSaadat commented on #3353
The below process will get somewhat through a few resources, but I think you'll still have some resources lingering such as IAM policies and maybe the VPC:
1. Set kops s3 state to your S3 bucket
2. Run `kops create cluster` with the same cluster name and settings (or `kops create -f cluster.yaml` if you have the config saved)
3. Without updating, run `kops delete cluster <cluster-name> --yes`, whi

[2017-09-12 10:17] venth commented on #2064
We think to use on premise master node as a simulation of third availability zone.
@chrislovecnm do you know how to join a manually spun up master to existing kops setup and reduce number of master per zone in Aws to 2?

[2017-09-12 13:32] JonahAcquah opened #3373 "Error listing images"
Hi Guys, I am trying to deploy my public docker image using the kops create cluster command but keep getting "error listing images: InvalidUserID.Malformed: Invalid user id: "jetbrains"". I am using the image "jetbrains/teamcity-server" which I believe is public. I've tried other public images and still get the same error message. The full command is "kops create cluster myfirstcluster.k8s.local -

[2017-09-12 13:51] chrislovecnm commented on #2064
@venth you would need to figure out if you can run nodeup and protokube on bare metal by hand.

@justinsb? Ideas?

[2017-09-12 13:51] chrislovecnm commented on #2064
Oh and not really supported ;)

[2017-09-12 13:56] KashifSaadat commented on #3373
Hi @JonahAcquah. The command you are running is to create the full Kops Kubernetes cluster, not to deploy / run a docker image on a node. The `--image` flag can be used to specify what to build the instances with (master & compute nodes), so you could provide an AWS AMI for CoreOS, Debian, etc or leave it to the default.

After fully creating the cluster, you can then communicate with it using `ku

[2017-09-12 14:04] JonahAcquah commented on #3373
Thanks KashifSaadat. I knew I was doing something fundamentally wrong there.

[2017-09-12 14:47] chicagobuss commented on #429
Not only do the i3s have amazing iops performance, the d2 instance class has the most cost-efficient storage available on AWS... 6TB for $150 a month is almost as cheap as s3.

[2017-09-12 14:49] venth commented on #2064
Sounds like non trivial task. What about virtual networking?

[2017-09-12 15:32] ketzacoatl commented on #2347
This is a problem, in particular, if you run the `route53-mapper`, and then run `dns-controller` without the `--watch-ingress=false` cli flag. EG, if you have run, or are running `route53-mapper`, read up on `--watch-ingress=false` and consider whether you want to use it (depends on whether or not you want to use `dns-controller` _and_ `route53-mapper` or not). I believe `kops` have changed their

[2017-09-12 15:47] ketzacoatl commented on #2347
For anyone who stumbles on this later, see https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#externaldns for some helpful info..

[2017-09-12 17:01] thejsj commented on #3371
Ok, will try this and let you you know.

[2017-09-12 17:39] thejsj commented on #3371
It worked. It's a kops miracle. Should we close this?

BTW, just some feedback. The only way I was able to find out about being able to modify `KubeAPIServer` is because I found this issue (https://github.com/kubernetes/kops/issues/312) and through digging through the source code. Happy to submit a documentation PR if pointed to the right place.

[2017-09-12 20:49] snoby commented on #3235
After doing some more investigation, I tried spinning up a new cluster that only had 1 master and 1 node ( both obviously ) in the same AZ zone.  Once I did that the creation of a Persistent Volume Claim worked perfectly fine.
[code]

However with multiple Masters this fails.

[2017-09-12 21:23] snoby commented on #3235
Running the same test as above, this time with 3 master nodes (us-east2a,b,c) and only one node in us-east-2b.  I got the following error messages from the kube-scheduler on the master in **us-east-2c**
[code]

It seems that the scheduler couldn't figure out othat it had to send the job to another master on us-east-2b since that is where the only  worker node was.  A contrived example for sure, I'

[2017-09-13 01:24] snoby commented on #3235
Another test point.  This time I spun up a new cluster with 3 masters and 3 slaves across 3 AZ's.  Also per a suggestion from Hubert Chen in the slack channel I deployed version 1.7.2 of k8s with authorization set to allowAlways.  The result of this was:
first time I submitted the mongodb helm chart it scheduled on the master in us-east-2c and then scheduled the pod on the node in us-east2c and ev

[2017-09-13 03:14] addisonlee commented on #3353
Thanks @KashifSaadat. That worked for one of my clusters but not 2 of the others (I'm guessing I modified them in some way which deviated from the default way clusters are created via kops); but I was able to delete the other 2 by first removing the auto scaling groups.

[2017-09-13 03:14] #3353 closed

[2017-09-13 08:10] KashifSaadat commented on #3371
Great to hear :) Sure I think the ticket can be closed.

I believe there are some notes on defining the `KubeAPIServer` block here: https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md

It might be worthwhile updating the `README.md` in the above folder if the above doc isn't linked appropriately or needs the description updating.

[2017-09-13 08:34] pjoe opened #3374 "Manifest files with terraform/cfn output"
Is it possible to get terraform/cfn output when using manifest files?

Trying something like
`kops create -f myspec.yml --target=terraform --out=tf`
errors with:
`unknown flag: --target`

I'd really like to switch to using manifest with all the extra options, but need to go through terraform for setting up some extra stuff, like access to external RDS, S3 etc

[2017-09-13 09:50] mateuszkwiatkowski opened #3375 "Segmentation violation when creating cluster in GCE"
Hello,

I'm working on creating cluster with kops using Google Cloud. It works fine with public networks but when I try to create cluster with private networking then it fails with segmentation violation (log below). I'm aware that this is probably not supported configuration but I thought that I should report it anyway because it's not documented (it's reported here: https://github.com/kubernetes

[2017-09-13 10:48] alok87 commented on #476
@chrislovecnm @justinsb anyone working on it? should i give a fix?

[2017-09-13 11:03] PI-Victor commented on #433
sorry for the late reply - @dolftax sounds good, what do you have in mind?

[2017-09-13 11:20] KashifSaadat commented on #476
@alok87 have a peek at PR #3184 which has some progress on a fix for this issue.

[2017-09-13 15:49] gnufied commented on #3235
Are those all 3 masters active or standing by?

[2017-09-13 15:54] chrislovecnm commented on #3235
Also are you deleting the pvc volumes by hand 60 seconds after the pods are deleted? Statefulsets do not delete there own volumes

[2017-09-13 15:57] chrislovecnm commented on #3375
Yes this configuration is not supported and we should fix the code to not allow private ;)

[2017-09-13 16:10] tuannvm commented on #3123
@david92rl I have same issue with @nmarshall-cst . I did add the config and start from scratch, but the issue still exists.

Result when running the above check:
[code]

My server & client versions:
[code]

[2017-09-13 16:14] vascop opened #3376 "Panic when adding "additionalSecurityGroups" to master IG's"
After doing `kops edit ig master-eu-west-1a` / 1b / 1c and adding:

[code]

To the three of them, I get this:

[code]

I didn't have any `additionalSecurityGroups` defined before. This happens in versions 1.6.0/1.6.2/1.7.0. Is there anything I can do to avoid this?

[2017-09-13 16:33] snoby commented on #3235
@gnufied - all three masters are active, it's up to the magic of the ELB that is fronting them as to which one I land on.
@chrislovecnm  - I'm just using helm to allocate the mongodb
`helm install --name mongo stable/mongodb`
this is using a deployment not a stateful set.

[2017-09-13 16:53] Nowaker commented on #2115
From https://github.com/kubernetes/kops/pull/3112:

Now that https://github.com/kubernetes/kops/pull/3292 ("Implementing GCE as an interface") is done, how are we looking with rolling updates for GCE, @chrislovecnm? Super eager to see it working one day. :smiley: Thanks for all the work.

[2017-09-13 17:13] gnufied commented on #3235
So by 'masters' I hope you mean both API Server and controller manager right? (I am sorry, I am not super familiar with how kops deploys these components).

In general - PV Controller and AttachDetach Controller (which are part of k8s controller-manager) aren't designed to run in active-active HA setup. You should have only one controller and 2 of them standing by.

[2017-09-13 17:41] msau42 commented on #3235
@snoby can you try just setting up 1 master and multiple nodes across zones?  Let's rule out potential issues of multiple active schedulers and controllers fighting with each other.

[2017-09-14 01:28] chrislovecnm commented on #2115
Work in progress when I have time

[2017-09-14 05:42] robinpercy commented on #3376
@vascop, I tried to reproduce on 1.7.0 (OS X) but failed.  Any other details you can provide that may be relevant?

[code]

[2017-09-14 05:59] robinpercy commented on #3374
@pjoe  you can do it in two steps:
[code]

[code]

[2017-09-14 06:47] ilovezfs commented on #2630
@justinsb FYI the checksum for 1.7.0 has now changed as well, and I have yet to be able to reconstruct the original, even using the method described here: https://github.com/Homebrew/homebrew-core/issues/18044#issuecomment-329313468. I was able to reconstruct all of the other checksums that had changed as described in that issue, so something is going on here that's different from the others.

[2017-09-14 07:04] pjoe commented on #3374
@robinpercy: doh, should have figured that out, of course `create` won't actually create any resources :)

If others end up here you also need to create the ssh secret (as shown in [docs](https://github.com/kubernetes/kops/blob/master/docs/manifests_and_customizing_via_api.md#yaml-examples) ) , so full commands would be something like:
[code]

..oO(if only I could read docs properly)

closing issu

[2017-09-14 07:04] #3374 closed

[2017-09-14 07:35] vascop commented on #3376
I've run it directly with --yes since the panic was in `/go/src/k8s.io/kops/upup/pkg/fi/dryrun_target.go`. This avoided the issue, but the code is still broken. I unfortunately do not know enough Go to be productive debugging this at the moment.

[2017-09-14 10:30] RahulMahale commented on #2242
@pastjean If I create a one new  master IG and bring that up, will that automatically be synced with cluster and etcd ?

[2017-09-14 11:21] justinsb commented on #3321
Sorry for the delay on this one - we had some test problems that was stopping our test suite from working.

So the error messaging `refusing to delete: unknown file found: s3://my-kubestore/my.cluster.com/` is because we see a file that we don't recognize, and so we deliberately choose to stop deleting things.  The idea is that if you had put important things into the bucket, we don't want to acci

[2017-09-14 13:10] vvbogdanov87 commented on #3321
I use my custom tool to create cluster specs from several templates and instance group files. After that I copy all this files to s3 folder and launch clusters using kops update. This case may be very specific. But I think that deletion of "folder" object is safe operation.

[2017-09-14 14:12] opensean opened #3378 "Trouble creating custom ami with pre-pulled docker images"
Hello,

[code]

I attempted to create a custom ami to use with kops that has some pre-pulled docker images but ran into some issues.
I took the following steps:
1.  Created an ec2 instance using the ```kope.io/k8s-1.7-debian-jessie-amd64-hvm-ebs-2017-07-28``` ami and 20Gb ebs volume attached.
2.  Pulled some docker images to the machine.
3.  Stopped the instance and created a snapshot then registe

[2017-09-14 20:03] s3asfour commented on #3358
I am using kops version v1.6.2, which should have cloud labels support to tag the resources it creates in AWS.

The following resources are not tagged by kops:

- Security groups
- EBS Volumes
- Network interfaces

[2017-09-14 21:30] pluttrell commented on #1796
For 1.7.x clusters, should we set `dnsPolicy: Default` or not?

[2017-09-14 21:31] #1532 closed

[2017-09-14 21:42] chrislovecnm commented on #3376
@vascop can we get a kops version?

[2017-09-14 21:46] chrislovecnm commented on #822
The challenge with this, is that it causes downtime with ha masters and rolling update. I believe that all three etcd masters need to be up and running.

@justinsb is that still the case?

[2017-09-14 21:48] chrislovecnm commented on #3357
@gambol99 ideas on this?

[2017-09-14 21:52] chrislovecnm commented on #3378
Docker probably probably installed, can you look at the daemon.log file for me. Nodeup does the docker installs

[2017-09-14 21:59] PI-Victor commented on #433
Here's what i've got so far as a starting point.

The entire documentation about what rkt needs to work with k8s is here:
https://kubernetes.io/docs/getting-started-guides/rkt/

rkt on CentOS is problematic:
- https://coreos.com/rkt/docs/latest/distributions.html#centos
- https://github.com/rkt/rkt/issues/1305

rkt version on k8s master branch is pretty old, the last bump was to v1.9.1 over a year

[2017-09-14 22:00] vascop commented on #3376
@chrislovecnm Like I said in the first post this happened with versions 1.6.0, 1.6.2 and 1.7.0. I didn't try any others.

[2017-09-14 22:01] PI-Victor commented on #433
i've started hacking around in [a branch fork](https://github.com/PI-Victor/kops/commit/4cfc0e8aa0365a0aaa1264ef60dcea76f02a4d59) basically just mimicking what the docker builder model does, but i'm unsure weather to submit a WIP PR at this point.

[2017-09-14 23:16] chrislovecnm commented on #3376
Can you post the full ig yaml?

[2017-09-14 23:17] chrislovecnm commented on #3376
Here is an example for using sec groups that we use for testing https://github.com/kubernetes/kops/blob/master/tests/integration/complex/in-v1alpha2.yaml

[2017-09-15 01:03] chrislovecnm commented on #3340
Should be fixed

[2017-09-15 01:03] #3340 closed

[2017-09-15 01:17] #2933 closed

[2017-09-15 01:17] #3282 closed

[2017-09-15 01:48] chrislovecnm commented on #3375
/area gce

[2017-09-15 01:49] chrislovecnm commented on #3373
Can we close?

[2017-09-15 01:52] #3363 closed

[2017-09-15 01:54] chrislovecnm commented on #3358
Need to check if kops 1.7.x us tagging security groups. The root ebs volumes and nics cannot be tagged by kops at this time.  As Das as I know AWS does not provide the capability for an asg to label Ebs and nics created by the asg. You can use lambda functions or other post processing programs to label.

[2017-09-15 01:59] chrislovecnm commented on #3344
We are able to add node and cloud tags, I am not certain how this functionality differs.

You have to use yaml to maintain your clusters or edit the cluster. Here is an example https://github.com/kubernetes/kops/blob/master/tests/integration/complex/in-v1alpha2.yaml

Also the instance group documentation provides examples.

[2017-09-15 02:00] chrislovecnm commented on #3349
At this point no. I am not certain the aws go API provides this functionality

[2017-09-15 02:07] chrislovecnm commented on #3319
It this an autoscaler issue or kops?

[2017-09-15 02:14] chrislovecnm commented on #3315
If you give the cluster a bit does weave finally install? I have not encountered this with weave. The messages you have seen are corrected eventually. The cluster is created using eventual consistency and the error messages are new for 1.7.

[2017-09-15 02:15] chrislovecnm commented on #3298
We need to update and have a storage class for 1.7.0. Contributions are always appreciated!

[2017-09-15 02:58] opensean commented on #3378
@chrislovecnm

I ran ```cat /var/log/daemon.log | grep nodeup | grep docker > daemon-parsed.log ``` and then pulled this section out after a quick scan by eye:

[code]

Looks like something is going on here?  However, there is a lot more to log even after parsing with "nodeup" and "docker", I can post it all if you like.  Also I can parse with an suggested keywords as well.

Thanks

[2017-09-15 04:19] justinsb commented on #3052
You want to avoid the ephemeral port range aka local port range which ranges from 32767 - 65535 (see e.g. https://www.cyberciti.biz/tips/linux-increase-outgoing-network-sockets-range.html).    You can reconfigure this range e.g. 40000 - 65535, in theory, but I don't know that anyone has tested it.

On reducing the lower bound, as long as you avoid any ports that have services listening (e.g. 443,

[2017-09-15 06:04] dolftax commented on #433
@PI-Victor I need to get more familiar with Kops codebase. Will look into it tomorrow (IST) and update here.

[2017-09-15 06:05] greg-jaunt commented on #3344
The example above *is* already possible, but the needed feature is the equivalent of the above for annotations:

[code]

Would automatically add "somekey:somevalue" to the metadata.annotation map on every launched node in that instance group.

[2017-09-15 07:30] KashifSaadat commented on #3357
Hi @zioalex, this is a typo in the docs. `disable` is not a recognised field, and should actually be spelt as `disabled`. I've updated the docs in PR #3381.

[2017-09-15 08:11] vascop commented on #3376
@chrislovecnm The ig yaml:
[code]

Here is the end of the output from running `kops update cluster -v 10` with that ig yaml (panic still happens after having applied the changes already): https://gist.github.com/vascop/ba8cfda89d875e55af0b8f7f5bf42f82

There's nothing suspicious in the rest of the output that I can see, it looks like the issue is when trying to delete the tmp deploy directory? I c

[2017-09-15 08:26] RahulMahale commented on #1467
I am getting the same error on adding it to my cluster spec in both the ways.
[code]

[code]

[2017-09-15 10:47] mdavidsen opened #3384 "Feature request: Add --master-public-name as a parameter to kops"
Hi,

In order to get going without the requirement for external DNS, i could't find a way that would not break the initial certificates generated.

## Challenge:
I'm trying to deploy kubernetes to AWS, but can't use Route53 (for reasons).
I also have to use the Terraform.

In order to use Gossip (meeting the requirement of no Route53), we have to append `k8s.local` to the cluster name. This again

[2017-09-15 13:29] #3357 closed

[2017-09-15 13:43] chrislovecnm commented on #3384
Shouldn't kops update fix the cert? That would allow a users to either do an edit or use manifests to create the cluster.

[2017-09-15 14:05] chrislovecnm commented on #3378
Can you post the log in a gist, and link it here? I would need to recreate, and you can rerun nodeup to see if it clears the containers again on a node.

@justinsb ideas?

[2017-09-15 16:25] KashifSaadat opened #3386 "AWS IAM policy cleanup for Master & Node Instance Groups"
Following on from PR #3343, there are some outstanding tasks to look into:
1. Make ASG permissions optional based on use
2. Prefix ASG permissions based on related resource
3. Make IAM Cert permissions optional based on use of certs on ELBs
4. Validate the correct set of ECR actions are allowed
5. Extend the `Equal` function to support checking Condition Keys
6. Route53 check on China region and f

[2017-09-15 16:57] chrislovecnm commented on #3052
Closing

[2017-09-15 16:57] #3052 closed

[2017-09-15 16:58] chrislovecnm commented on #3326
Closing as fixed

[2017-09-15 16:58] #3326 closed

[2017-09-15 17:53] chrislovecnm opened #3388 "Using autoscaler with instancegroups, spot instances, that can go down to zero"
We should be able to have an instancegroup in kops that is set up to go down to zero.  Setup the instance group with a `maxPrice`, and have auto-scaler control the group.

https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-0.6.1

With that combination, you can have auto-scaler control a very affordable group of k8s nodes, and significantly reduce the price of the nodes.

cc:

[2017-09-15 17:54] Rishka commented on #3388
related docs: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-scale-a-node-group-to-0

[2017-09-15 18:06] chrislovecnm commented on #3388
@andrewsykim can you comment on this?  Do we have a setup that we can reference that works?

[2017-09-15 19:42] chrislovecnm commented on #3386
Not at the top of my head.

@lwoggardner did we miss anything?  Do you have the docs on IAM and ASG perms?  You mentioned on the PR that there is new IAM support for ASG.

[2017-09-15 20:17] nilocbb opened #3389 "Documentation: 3 or more Masters into Regions with only 2 AZ"
Heres my problem:
I only have a Region with **2 AZ**. When I created a cluster with **3 masters** split into **2 AZ** I ran into connection lost every now and then.

`kubectl get nodes` sometimes gets the nodes sometimes not.

I used it in a **Private** subnet.

I resolve this using **3 masters** in only one AZ and nodes split between the other two.

Maybe we should Doc this to alert when creating

[2017-09-15 21:36] robinpercy commented on #1896
@justinsb, I'd be happy to help with this. Do you have a particular design in mind for it? I'm wondering if we want the ability to schedule a regular backup and upload to S3/Cloud Storage?

[2017-09-15 21:58] chrislovecnm commented on #1896
@robinpercy can the etcd operator be setup for just backups? We should have an addon for this, someone must have an operator. We should have update and rolling-update call the operator as well, when the masters are touched.

[2017-09-15 22:00] robinpercy commented on #1896
@chrislovecnm good call. I'll have a look at what the operator (and others) provide. +1 for calling it before rolling updates.

[2017-09-15 22:19] chrislovecnm commented on #1896
Looking at the operator, it appears you need to create the etcd cluster via the operator. Would need to dig through the code. We should just make this simple. A cronjob or a pod that calls backup and stored the data on a pvc. An optional addon.

[2017-09-16 01:44] mr-rick commented on #387
While I'd like native support for a post-startup script, there may be an easier hack than doing nodeup builds.

I noticed in the LaunchConfiguration on AWS ASG's, there is a script that kops puts into place.  The script is generated by the kops binary.  I think I can modify the template in the kops source code and run "make" to get my own kops binary with a modified template.  The template is loca

[2017-09-16 02:09] andrewsykim commented on #1796
From the start, cluster-autoscaler should run with `dnsPolicy: Default`. If someone can open a PR to address that, it would be great, otherwise, I will push a patch sometime next week when I have some bandwidth, thanks!

[2017-09-16 02:18] andrewsykim commented on #3388
This is supported in GCE at the moment: https://github.com/kubernetes/autoscaler/issues/82. I believe AWS support is pending: https://github.com/kubernetes/autoscaler/issues/131.

cc @mumoshu

[2017-09-16 02:18] andrewsykim commented on #3388
Unfortunately, I've never tried it and can't provide a setup that works :(

[2017-09-16 16:06] Rishka commented on #3388
As far as I can tell, this works. I spun up a temporary cluster to test it. It will scale the Instance Group to 0, and will allow scaling up from 0

[2017-09-16 16:27] Rishka commented on #3388
@andrewsykim AWS support is pending for price based autoscaling. Scale to 0 was added in 0.6.1

[2017-09-17 22:30] markine opened #3410 "Log rotation for containers running on master nodes"
We have kops 1.7 + Kuberenetes 1.7.2 running on AWS. I've configured the cluster ('kops edit cluster') with a docker stanza to enable log rotation on minions:

[code]

Unfortunately this does not seem to have any effect on master nodes. E.g. I just spotted a 700M+ log file from a verbose app-under-test at /var/lib/docker/containers/XXXXXXXXX/XXXXXXXXX-json.log on a master node.

What's the best wa

[2017-09-18 07:26] doronoffir opened #3412 "Restore a failed etcd-events cluster"
Hi Guys,

We have a problem with etcd cluster that your insight would be appreciated.

The situation is:
A K8s 1.6 cluster that it etcd-events cluster became unhealthy due to misconfiguration of new members. Since the cluster is unhealthy, we can not use the member remove command.
The etcd cluster on the other hand is healthy.

We are trying to fix only the etcd-events cluster, but it does not see

[2017-09-18 07:46] erez-rabih commented on #2755
We also have this issue on kops 1.7.0 with kubernetes 1.7.5
It seems that kubelet tries to start pods before the CNI is configured on node.
https://github.com/kubernetes/kubernetes/issues/43014

[2017-09-18 08:02] mdavidsen commented on #3384
Definitively, but I'm not sure what other complications that could occur if you start updating those certificates during production.

From what I understand right now at least, the certificates are only updated during provisioning of the master/node, I am correct?

Is there a reliable way of updating the certificates on the masters during production currently? I absolutely think this something tha

[2017-09-18 12:46] huang-jy opened #3413 "API Container on AWS Stack never starts up successfully"
Following the guide here:

https://kubernetes.io/docs/getting-started-guides/kops/

And using the following kops call (with ```kops version``` => 1.7.0):

[code]

Creates a cluster (```kops update``` was successful) , but the master node can't hold the api server container open. The container exits after a few minutes with the following:

[2017-09-18 13:59] erez-rabih commented on #2923
This issue is probably because of this flannel issue: https://github.com/coreos/flannel/issues/719

It was resolved on flannel v0.8.0

You can take https://github.com/kubernetes/kops/blob/1.7.0/upup/models/cloudup/resources/addons/networking.flannel/k8s-1.6.yaml
and replace the image version there. That's resolved the issue for us.

[2017-09-18 14:04] erez-rabih opened #3414 "We should update to flannel 0.8.0"
Currently there is an issue with K8s clusters with flannel as CNI - they cannot be larger than 100 nodes (https://github.com/coreos/flannel/issues/719)
It was resolved on flannel v0.8.0 (https://github.com/coreos/flannel/pull/729)

[2017-09-18 14:16] opensean commented on #3378
@chrislovecnm

Here is a link to the full daemon.log:

[https://gist.github.com/opensean/20f9aebb4c6d6676bb35cf2414290c06](url)

I have user data in the ami that was useful when building the ami that logs into the ecr and pulls the docker images for me.  I can see at the beginning of the log it performs this action and confirms the images are present.

I connected to the node in the cluster and re

[2017-09-19 04:36] cyberious commented on #1185
I think warning the user would be a better bet than to outright stop them from deploying.

[2017-09-19 07:29] #1796 closed

[2017-09-19 09:47] vascop commented on #3376
After running this with --yes like mentioned previously to avoid the panic in "dryrun" code, now lost all ability to ever not run "--yes" as kops always panics in the same spot. Following the traceback the crash is caused when printing the list of changes, one of the resources being converted to a string apparently.

[2017-09-19 11:27] johanhubens opened #3418 "Cluster autoscaler addon has insufficient permissions for the actions needed to scale down"
Using the cluster autoscaler `https://github.com/kubernetes/kops/blob/master/addons/cluster-autoscaler/v1.6.0.yaml` with RBAC enabled, it has insufficient permissions for the actions needed to scale down. This happens only when the autoscaler needs to evict pods from the node that will be deleted.

I sequentially ran into the following permission errors:

[code]

Fixed by adding `get` permission

[2017-09-19 13:11] jitendrabhalothia commented on #859
Check if the kops version is  1.5+, we need not to define the **--dns-zone=experimental.com**

I also got the same error bit after removing this  **--dns-zone=experimental.com**, it works just define the cluster name thats all.

For an example:
kops create cluster  --name=kops-k8s-expt --state=s3://kops-k8s-experimental --zones=us-east-1a --node-count=2 --node-size=t2.micro --master-size=t2.micro

[2017-09-19 17:36] RichardBronosky commented on #134
It would be nice if the messaging where more helpful

    $ kops get

    clusterName is required

could add a 2nd line of output (or put in parenthesis on a single line

    (use "clusters" to list all)

[2017-09-19 18:18] glend opened #3420 "weave-net is not marked as critical pod"
Using kops:

[code]

kubectl:

[code]

and used the `--network weave` option as described in the example:

https://github.com/kubernetes/kops/blob/master/docs/high_availability.md

The weave-net daemonset is not marked as critical:

[code]

I had prometheus + EFK + app worker pods hanging one of the nodes and weave-net restarted causing connectivity issues in all the pods scheduled there.

Accordi

[2017-09-20 07:07] venth commented on #1794
How can I adjust timezone for kops 1.7? Is there any workaround for now?

[2017-09-20 10:03] Globegitter commented on #3388
Only tangiably related and I already posted it on another issue here, but it would be great if an instancegroup of kops can work somehow with https://github.com/cristim/autospotting, further improving costs.

[2017-09-20 14:57] grealish commented on #2436
So this is also blocking us, has anyone managed to do a rolling-update? i'm moving between 1.7.4 to 1.7.6 so minor version release, As we are running two clusters we have the flexibility to switch between both but that is double the cost to move between k8s versions

`kops rolling-update cluster ${NAME} --yes --fail-on-validate-error="false" --node-interval=8 --instance-group nodes`

which returns

[2017-09-20 18:46] marshallbrekka commented on #1896
Figured I would chime in here and provide another data point as I created some backup/restore tooling for etcd3 prior to using kops to manage our k8 clusters.

(none of this applies to etcd2).

### The Setup
Similar to kops, we ran a sidecar program that was responsible for bootstrapping the etcd servers, however it would continue running after etcd had started to perform periodic backups.

### Ba

[2017-09-20 21:31] tgrosinger commented on #2057
I am interested in what I think @thaniyarasu is requesting as well. Basically, when a Kubernetes cluster is created with a bastion, it would be great to be able to forward Kubernetes services through that bastion (through ssh tunneling probably) without performing multiple hops.

Because of #1015, there is only SSH access from the bastion to the nodes in the cluster. If that were reverted it would

[2017-09-20 22:37] FrederikNS commented on #2436
@grealish If you add a `--force` it should perform the rolling upgrade, and apply the changes.

[2017-09-20 22:58] chrislovecnm commented on #1794
@venth I typically run the image in UTC.  If you really need to, you could use a hook to change the TZ, which is NOT tested :)  Here is more information on hooks https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#hooks

[2017-09-20 23:14] chrislovecnm commented on #2057
It is really a security concern with bastions. You override the bastion sec group by adding an addition on to the instance group, if you like.

Forwarding services through the bastion is an interesting use case. But our intention is that the bastion is a jump box, not a proxy.

[2017-09-20 23:17] chrislovecnm commented on #3413
how do you have the cluster up? The above logs appear to be normal messages. After a few minutes does the API server start?

[2017-09-21 00:44] kineta-Jiang opened #3424 "etcd image not push to private registry when use containerRegistry"
kops 1.7.1-beta.2
kubernetes 1.7.4

 set assets containerRegistry to config, copydockerimage not push gcr.io/google_containers/etcd:2.2.1 to private registry server.  the master daemon.log show it still need gcr.io/google_containers/etcd .

we are in aws china , can not access gcr.io.

`
Container {Name:etcd-container Image:gcr.io/google_containers/etcd:2.2.1 Command:[/bin/sh -c /usr/local/bin/etc

[2017-09-21 01:50] chrislovecnm commented on #3424
The container registry and file repository components are still a work in progress. Hopefully in the next few weeks I will have bandwidth. If anyone has bandwidth to assist please reach out!

[2017-09-21 04:28] huang-jy commented on #3413
No, the box starts and it starts the containers, but apiserver will start, run for a few minutes, then terminate, then start again, and terminate again, and repeat a couple of times, and then it will give up retrying. As a result, the DNS names for api and api.internal, never get updated off their placeholder IPs. Meaning kubectl won't work.

I left it for an hour to see if it would sort itself ou

[2017-09-21 04:32] venth commented on #1794
Thanks :+1:

[2017-09-21 05:13] chrislovecnm commented on #3418
/assign @andrewskim

When you have a chance. You know the perms best

[2017-09-21 18:11] Stelminator commented on #2859
I'd like this as well.

I think it should just take a few definitions of [aws_s3_bucket_object](https://www.terraform.io/docs/providers/aws/d/s3_bucket_object.html).  However, that would also require the `Content-Type` of something like `text/*` to be set by kops*, so that terraform will actually grab the body.

Ideally, those would come with [outputs](https://www.terraform.io/docs/configuration/o

[2017-09-21 19:19] Stelminator commented on #2859
Something like this, though it still needs to be pulled out of the json object.
[code]

I didn't find an easy way to get the bucket key for the crt/key files.

[2017-09-21 20:00] azman0101 opened #3427 "Error with "default machine type" while migrating from single to multi-master"
While trying to [Migrating from single to multi-master](https://github.com/kubernetes/kops/blob/master/docs/single-to-multi-master.md)

I've this error at the step [Create new master instance group](https://github.com/kubernetes/kops/blob/master/docs/single-to-multi-master.md#a---create-new-master-instance-group)

[code]

This "mix" of error messages is a bit confusing for me

Before that, the clu

[2017-09-21 22:31] philipbjorge commented on #1506
I would love it if someone could figure out option 2 for our team :).

[2017-09-22 07:44] prateeknayak opened #3428 "kops update --yes recycles off two instances randomly on aws"
* `kops` : version `1.7.0`

After upgrading `kops` to 1.7.0 we have noticed that after the `kops update --yes` command `kops` recycles two `aws` instances from our group of instances.

We are running  5 `masters` 5 `nodes` at the moment in our clusters. And the first time we tried the upgrade in our dev cluster `kops` killed 2 `masters` after the update stage. And second time it killed 2 `nodes`.

[2017-09-22 17:28] chrislovecnm commented on #3124
@gambol99 I am starting on this

/assign

[2017-09-22 18:32] opensean commented on #3378
@chrislovecnm Solved! --> just a difference in docker storage drivers

I investigated this further today and I took a look at the docker-engine package information on a node in my cluster and it looks like docker is not reinstalled otherwise I think the package info would reflect any changes in the 'Modfy' date:
[code]

After digging through the daemon.log further I noticed that docker is using th

[2017-09-22 19:52] blakebarnett commented on #3384
Depends on this being done first: https://github.com/kubernetes/kops/issues/1919

[2017-09-22 20:08] blakebarnett commented on #3378
Sounds like this is resolved, feel free to re-open if not.

[2017-09-22 20:08] #3378 closed

[2017-09-22 20:12] blakebarnett commented on #3371
Seems ok to close, reopen if necessary.

[2017-09-22 20:12] #3371 closed

[2017-09-22 20:13] blakebarnett commented on #3373
reopen if necessary

[2017-09-22 20:13] #3373 closed

[2017-09-22 20:15] blakebarnett commented on #3351
Is there another issue or PR to reference here?

[2017-09-22 20:20] blakebarnett commented on #3410
This is done for GCE in core: https://github.com/kubernetes/kubernetes/pull/40634 we should do the same.

[2017-09-22 20:23] blakebarnett commented on #12
Seems like maybe there should be a `clusterUid` and things like the AWS tags should just combine `$clusterUid-$clusterName`.  Should probably set max-length on `clusterName` then to be in line with AWS tag length limits.

[2017-09-22 20:25] blakebarnett commented on #71
This looks like it's addressed with the ingress controller whitelisting, please re-open if needed

[2017-09-22 20:25] #71 closed

[2017-09-22 20:26] blakebarnett commented on #72
Is this still valid?  Seems like there have been a ton of changes around phases and lifecycle since then, maybe documenting each phase etc. needs it's own issue?

[2017-09-22 20:27] blakebarnett commented on #81
Should we bump this again or just close it?  Seems to not be causing issues.

[2017-09-22 20:28] blakebarnett commented on #88
re-open if needed.

[2017-09-22 20:28] #88 closed

[2017-09-22 20:32] blakebarnett commented on #112
I think there was a recent PR that added some things that were being missed, so they didn't trigger the warning.  Pretty sure most cases are caught now.

[2017-09-22 20:32] #112 closed

[2017-09-22 20:33] blakebarnett commented on #126
Hard to maintain a list of things that are "tricky", but maybe all changes for edits should prompt?  What happens when multiple "tricky" things change during the same edit?

[2017-09-22 20:34] blakebarnett commented on #139
Would this just loop on the `kops validate` logic?

[2017-09-22 20:36] blakebarnett commented on #192
seems resolved, please re-open if needed

[2017-09-22 20:36] #192 closed

[2017-09-22 20:39] blakebarnett commented on #196
If someone would like to re-open #2395 and finish it off that'd be awesome.

[2017-09-22 20:42] blakebarnett commented on #226
@ahawkins is there a PR for this somewhere?  If not please add one!  :)

[2017-09-22 20:43] blakebarnett commented on #240
I also think this is a can of worms and this issue is ancient so I'll close for now, if anyone wants to revisit the discussion please re-open it.

[2017-09-22 20:43] #240 closed

[2017-09-22 20:46] blakebarnett commented on #297
:+1: the kops bucket should just have versioning enabled.

[2017-09-22 20:50] blakebarnett commented on #234
Is this actually needed?  We do this by simply creating a separate "External" service record with a cert via the annotation in TCP mode and let dns-controller create the DNS for it.

[2017-09-22 23:36] chrislovecnm commented on #3410
Agreed, have at it :)

[2017-09-22 23:39] chrislovecnm commented on #3351
I have seen this reported a couple of times. We have an issue where an old master is hanging around. This is most likely with using dns for masters and not an elb. Have not had a chance to recreate

[2017-09-22 23:40] chrislovecnm commented on #3351
Old master hanging around means that the dns controller is setting an address for a master that. No longer exists. It may be a race condition with the k8s API where the old master is still registered, I have not looked at the code, or tried to re create.

[2017-09-23 00:05] blakebarnett commented on #3410
Is the only reason the GCE support is in core is because "google"?  Should we push to get AWS support for this in core also, or just do it in kops?

[2017-09-23 00:27] chrislovecnm commented on #3410
kops - kube-up.sh is no longer supported for aws.

[2017-09-23 00:56] #3356 closed

[2017-09-23 05:45] alok87 opened #3432 "Making dockerhealth check timeout configurable"
**What?**

We are facing an issue in our staging k8s cluster where we run about 80-110 pods in a single node. `docker ps` starts taking more than 10 seconds sometimes to respond back on high loads.

If this [value](https://github.com/kubernetes/kops/blob/master/upup/models/nodeup/docker/_systemd/_debian_family/files/opt/kubernetes/helpers/docker-healthcheck#L29) can be configured using `kops` it w

[2017-09-23 09:58] #3427 closed

[2017-09-23 15:34] joshgarnett opened #3433 "Add support for internal API LoadBalancer and pubic topology"
kops version: 1.7.0
kubernetes version: 1.7.6

If you try to use set --api-loadbalancer-type to internal and --topology public, kops will complain about subnets not being specified for the load balancer.  My assumption, is that kops is looking for private subnets and not seeing any specified.  While that should be the default, in a public setup, it should fallback to using the public subnets.

[2017-09-23 16:04] stantonk commented on #3168
@paologf i think i ran into a similar issue. I waited a lot longer, and it *eventually* gets past `==> Checking out branch master` and I get an error: `Error: No such file or directory - bin/kops`

Full output from the installation:
[code]

[2017-09-24 01:44] chrislovecnm opened #3440 "Improve logging for rolling-update"
We have logging going to stdout ... send it to https://github.com/kubernetes/kops/blob/master/pkg/instancegroups/instancegroups.go#L384 a &bytes.Buffer instead of stdout.

[2017-09-24 01:44] chrislovecnm commented on #3440
See comment here https://github.com/kubernetes/kops/blob/master/pkg/instancegroups/instancegroups.go#L378

We have it in another place as well.

[2017-09-24 03:36] chrislovecnm opened #3441 "Fix typos with drain and validate code"
PR review showed that I still cannot spell :)

https://github.com/kubernetes/kops/pull/3329

[2017-09-24 18:43] chrislovecnm commented on #2914
Drain and validated is now enabled by default in master.  Can we close this?

[2017-09-24 18:43] chrislovecnm commented on #2633
@apenney can we close this?

[2017-09-24 18:47] chrislovecnm commented on #2407
closing this ... non issue

[2017-09-24 18:47] #2407 closed

[2017-09-24 19:01] Cryptophobia commented on #3316
I opened a PR with some of the text of the disclaimer I want to add to the docs. Would like for other people to peer review as well.

https://github.com/kubernetes/kops/pull/3445

Thanks!

[2017-09-24 19:01] #3316 closed

[2017-09-24 19:02] chrislovecnm commented on #1647
This is impacting rolling-update as well, as the health check comes back too quick.

[2017-09-24 19:59] kaazoo commented on #2914
Thanks!

[2017-09-24 19:59] #2914 closed

[2017-09-25 04:59] #3194 closed

[2017-09-25 05:44] mdavidsen commented on #3384
@blakebarnett I'm not sure that #1919 is required before implementing this. I was able to solve this specific issue with: #3385 But it definitively related.

[2017-09-25 06:45] prateek-1708 opened #3450 "kops 1.7 performs uneccesary rolling update even when no changes."
`kops` incorrectly thinks that the cluster needs to be updated every single time ever since we moved from `kops` `1.6` to `kops` `1.7` even though there is no change in the source code other than few `.md`s
0
In the plan stage it shows following
[code]

What confuses me is
* we aready have `rootVolumeOptimization: true` in `kops` cluster definition then why does it think that it needs to update ?

[2017-09-25 07:04] kenden commented on #1517
@chrislovecnm I have that `while` loop in bash inside a makefile:

[code]
It's a bit "urgh".
I think it would look much cleaner with just a `--wait` on the `create/update` commands.
There are similar tickets for helm to make the user's life easier BTW.
https://github.com/kubernetes/helm/issues/2114
https://github.com/kubernetes/helm/issues/1805

[2017-09-25 07:07] kenden commented on #139
@blakebarnett Yes.
I think we should close this ticket as duplicate (of https://github.com/kubernetes/kops/issues/1517). This one is older but the other has more info/comments.

[2017-09-25 13:34] justinsb commented on #3384
Looks good, I just want to retrace your steps - commented at https://github.com/kubernetes/kops/pull/3385#issuecomment-331882374

[2017-09-25 13:58] jlaswell commented on #3441
I'll help out with this one.

[2017-09-25 16:45] #139 closed

[2017-09-25 20:20] joshgarnett commented on #3433
I've confirmed this is an issue in the latest code from master as well.

{code}
W0925 16:19:59.275176   27827 executor.go:109] error running task "LoadBalancer/api.foo.com" (9m58s remaining to succeed): Field is required: Subnets
{code}

[2017-09-25 21:37] chrislovecnm opened #3454 "/bin/sh: 1: protoc: not found - travis CI failing"
We are getting random build failers on travis.

[code]

I have seen this with multiple different versions of the travis build.

@alrs any ideas?

[2017-09-25 23:47] gambol99 commented on #3450
Hi @prateek-1708 ... I'm not sure about the LaunchConfiguration but the LoadBalancerAttachment was fixed on master https://github.com/kubernetes/kops/pull/3226. .. I'll have a look a LaunchConfiguration

[2017-09-26 01:07] prateek-1708 commented on #3450
That would be super awesome ... thanks for the update @gambol99

[2017-09-26 02:42] justinsb commented on #3454
`protoc: not found` suggests the protobuf compiler is not in the base image.  Do you have a link to a failing build?

[2017-09-26 02:55] alrs commented on #3454
That is a problem, but the Makefile shouldn't be trying to use protoc
because that target is checked in.

On Sep 25, 2017 7:42 PM, "Justin Santa Barbara" <notifications@github.com>
wrote:

[2017-09-26 08:59] schmitzcc commented on #3143
+1

[2017-09-26 11:16] bhack commented on #1726
@flx42 Can we find any solution for the next imminent k8 1.8 release?

[2017-09-26 11:20] bhack commented on #1726
The Debian image can be builded installing [Nvidia debian packages](https://wiki.debian.org/it/NvidiaGraphicsDrivers). Is it legal to distribute this AMI?

[2017-09-26 17:47] flx42 commented on #1726
@bhack sorry, I'm not a lawyer so I can't answer that.
In the future, driver installation should be solved using the new feature called [Device Plugin](https://github.com/kubernetes/community/blob/bf6057138c12a427fb0fecf71b74025f6b0bb9b6/contributors/design-proposals/device-plugin.md)

[2017-09-26 19:05] hsyed opened #3457 "manually created cluster and state syncing oddities."
### Issue

We have a 3xHA fully private cluster with no bastion created in a shared VPC. The utility and private subnets were created manually. The VPC is meant to house multiple clusters, it has one other cluster in it at the moment. The cluster bootstrapped fine and it's working fine.

I added a new SG to the worker nodes and `output 1` (see below) is what I got when I planned the update. The se

[2017-09-26 19:34] faheem-cliqz commented on #3457
This might be related to  #3450. I am also seeing the same behavior with kops 1.7.0 and k8s 1.7.6

[2017-09-26 20:49] chrislovecnm commented on #3457
1. You need to have the shared tag and corrxf k8s tags on the subnets
2. You can skip the network phase by only running iam and cluster phases

kops update cluster --phase iam
Then
kops update cluster --phase cluster

[2017-09-26 20:51] chrislovecnm commented on #3143
The PR for this support I think is the latest alpha release

[2017-09-26 21:53] #3418 closed

[2017-09-27 15:27] frosenb opened #3463 "Kube-router rbac v1.7"
Creating cluster:

[code]

Kube-router fails with:

`Pod Failures in kube-system
NAME
kube-router-32jb6`

and log:
[code]

[2017-09-27 15:36] murali-reddy commented on #3463
I will test and raise PR if required @frosenb

[2017-09-27 15:38] hsyed commented on #3457
@chrislovecnm

I can update the tags in private subnets since they belong to the cluster in question. This gets rid of the modify entries for those.

For the shared resources (utility subnets, VPC and IGW) I updated them so that they do not contain a `KubernetesCluster` cluster tag and I added `KubernetesCluster: devb.k8s.foo.bar.com` to it. I now expect the modify entry to disappear however It st

[2017-09-27 15:52] Pharb commented on #3450
@prateek-1708 the problem with the RootVolumeOptimization has been fixed on master, see #3313.

Until the next kops version is released, you can ignore the required changes from `RootVolumeOptimization	 <nil> -> true` by not starting the rolling update, or build your own kops version that includes the bugfix.

[2017-09-27 18:00] hsyed opened #3464 "Feature Request: Support for using AWS Certificate Manager managed certs in the API load balancer."
Picking up a CA cert file is standard practise in k8s tooling and support for picking it up from the kube config is present in most k8s api libraries. There are lots of scenarios where a k8s library cannot be used -- a tool using a well-known k8s library is misconfigured ([example](https://github.com/JetBrains/teamcity-kubernetes-plugin)), or it is just too inconvenient.

Another key benefit would

[2017-09-27 18:01] chrislovecnm commented on #3450
@Pharb alpha is out as well, stability is not guaranteed as of yet, but they do not have to compile from source

[2017-09-27 18:01] chrislovecnm commented on #3450
alpha kops version

[2017-09-27 18:01] chrislovecnm commented on #3450
@prateek-1708 can we close this since this is fixed in master?

[2017-09-27 18:26] hsyed opened #3465 "Feature Request: Kops Support for issuing shell commands to the controller plane and Instance groups."
The ability to issue commands to groups of nodes that are part of a Kops cluster would be a killer feature to have. For cluster management, cluster development and simple general purpose ops utilities.

If this infrastructure was present in Kops core it could implement a lot of use cases by direct shell interaction with the nodes. In a lot of cases it would sidesteps having to go through a node re

[2017-09-27 21:03] hsyed opened #3467 "Changing authorisation modes is not recognised as a "rolling-update"-able."
After changing the api server authorisation mode. I had to do a <i>force</i> rolling-update on each individual master node IG one by one (3x) to get the change picked up.

Improvements:

1. Recognise auth mode change as a concept that requires a control plane update so that the instance groups are rolling updated.
2. Provide a distinct flag to target the control plane (`--masters` ?) or a `--insta

[2017-09-27 22:10] Spittal commented on #3235
Hey guys,

Just noting here that I'm experience a very similar if not the same issue. Here's all the information I can give you:

I have one configuration file (below is an edited version)
[code]

This creates the Deployment and Persistent Volume successfully. However it will immediately error with the following

[code]

However when I got into the AWS dashboard I can confirm that the volume `vol-

[2017-09-27 22:13] snoby commented on #3235
I don't know if this helps or not, but I was not able to reproduce this bug after having it for weeks.  I used the exact same scripts the exact same cluster.  Even using new clusters where I was able to reproduce the mounting was working again.  I have absolutely no proof of it, but I have to think somewhere in AWS land there is something dreadfully wrong...

[2017-09-27 22:23] prateek-1708 commented on #3450
@chrislovecnm  any idea if this would be patched to 1.7 release ?? or do we have to wait for 1.8 release ? and would that be 1.7 compatible ??

[2017-09-27 22:24] #3450 closed

[2017-09-27 22:49] cordoval commented on #618
https://github.com/kubernetes/kops/issues/618#issuecomment-281121955 is the right answer

[2017-09-28 01:02] mtolan commented on #834
This is a better idea in principle than in practice.

While enabling SSL termination at the ELB in front of the masters would _mostly_ allow the use of an ACM managed certificate to secure communications to your kube api, the limitations of Elastic Load Balancers creep up on you over time.

The first thing that breaks is the ability to use `kubectl exec` on any pods in your cluster. The reason for

[2017-09-28 01:12] mtolan commented on #3464
That would mean that instead of creating a TCP Listener for port 443, forwarding to TCP 443 on the relevant instances, you'd want an ELB created with an HTTPS Listener on port 443 (which is necessary if you want to SSL terminate at the ELB, which is probably the only place an ACM certificate would be useful) forwarding to HTTPS:443 on each of the instances.

The trouble with that listener change i

[2017-09-28 04:16] prateeknayak opened #3468 "Secrets not encrypting as part of Kubernetes 1.7 upgrade with kops 1.7"
I was expecting to see encrypted data at rest as per [kubes doco](https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/) but to my frustration the upgrade to `kubernetes 1.7` using `kops 1.7` did not give us this feature. Which was one of the main reasons for the upgrade.

I do understand keeping up with `kubernetes` releases is not easy but, can we expect a patch to `kops 1.7` release

[2017-09-28 09:46] asim42 commented on #1338
Please update if there is any solution to this. I have also faced this issue. I have setup a kubernetes cluster on aws. I am able access it using kubectl. State store is maintained in s3 bucket as terraform statefiles. I want to use `kops validate cluster` for testing. kop is unable to find my cluster.

I provide following envvars:
[code]

[2017-09-28 11:42] nishantjadhavcg commented on #2422
Can someone provide steps to manually setup kubernetes using AWS EC2 instances on windows container. I tried to setup linux host and windows host but no luck. I would be great if some one provide steps to setup kubernetes master node on ubuntu and worker nodes on windows container.

[2017-09-28 20:50] chrislovecnm opened #3469 "Makefile does not appear to be rebuilding / regenerating gobin targets"
When changes are made to our components that use gobin, we need to run it before we build dependencies.  Currently, kops and nodeup use gobin components.  The default make target should either figure out if we need the update, or run gobin.

/assign @alrs

[2017-09-28 20:57] chrislovecnm commented on #3469
I might be wrong, hopefully, I am, I am just not seeing the target being run.

``console
$ make
go install  -ldflags "-X k8s.io/kops.Version=1.8.0-alpha.1 -X k8s.io/kops.GitVersion=548a8291f " k8s.io/kops/cmd/kops/
[code]

[2017-09-28 21:01] alrs commented on #3469
@chrislovecnm That should be what is happening on lines 163 and 167 of the Makefile. @justinsb added this recently, so that when any of the files listed in `UPUP_MODELS_BINDATA_SOURCES` or `FEDERATION_MODELS_BINDATA_SOURCES` get modified the respective `bindata.go` files are rebuilt. If you want to verify that the `bindata.go` files are being rebuilt when needed you can manually delete them and ru

[2017-09-28 21:04] chrislovecnm commented on #2679
@alrs this was the issue that I mentioned

[2017-09-28 21:09] alrs commented on #3469
I also tested this path:

1. run `make clean`
2. run `make kops`. I saw `go-bindata`, `upup/models/bindata.go`,`federation/model/bindata.go` and `kops` get built.
3. run `make kops`. Nothing happens, because kops is already built.
4. add a newline to `federation/model/manifest.yaml`.
5. run `make kops`. `make` correctly doesn't bother rebuilding `go-bindata` or `upup/models/bindata.go`, but it doe

[2017-09-28 23:47] erickt opened #3470 "segfault validating cluster update after changing cluster name"
I just tried to rename a cluster with kops with commit ea314784b5b515f5cc2a56abc6f1452f3637e93b and I got a segfault or nil pointer dereference. I did `kops edit cluster` and then changed the the metadata from:

[code]

To:

[code]

Kops produced this backtrace:

[code]

[2017-09-29 01:55] chrislovecnm opened #3471 "More gracefully handle aws rate limiting with kops"
In large AWS accounts, kops can experience some timeouts.  We have two things that are recommended.  We also have calls that run in fairly tight loops that are limited by the AWS API.  For instance, if you have 1000 LaunchConfigurations you will incur 10 API calls in a tight loop when you create a kops cluster.

1. Implement a global rate limiter
2. Implement waits where we are doing paging

In `k

[2017-09-29 02:18] chrislovecnm commented on #3471
When we search for Route53 record.  Can we set:

[code]

[2017-09-29 02:26] chrislovecnm commented on #3471
When we search for ELBs we need to filter by cluster:

https://github.com/kubernetes/kops/blob/master/upup/pkg/fi/cloudup/awstasks/load_balancer.go#L186

[2017-09-29 06:48] notmaxx commented on #387
@mr-rick so, do you have any interesting news? The same task is relevant for us as well

[2017-09-29 07:19] vicenteampliffy opened #3473 "Add more basic_auth entries"
It would be great if we could add more basic_auth entries. I understand we can create substitute the current authorizer, but it would be a lower barrier to entry if we could just setup some more entries in the basic_auth.csv file.

I guess it would be some entries to be saved into S3, which may be complemented with the admin user.

I may be missing some other easy way to do that, but I haven't fou

[2017-09-29 15:14] bcorijn commented on #3121
Looking into the AWS R53 API for some other projects, I think the `DELETE` + `CREATE` action could actually be replaced by an `UPSERT` which would already slash the amount of changes in half?

[2017-09-29 16:50] chrislovecnm commented on #3469
Appears to be working ... yay ... closing

[2017-09-29 16:50] #3469 closed

[2017-09-29 19:06] chrislovecnm opened #3475 "document alpha etcd3 support"
/assign @gambol99
@gambol99 provided a correct example

[2017-09-29 21:37] chrislovecnm commented on #3296
This is in upstream.  Closing the issue

[2017-09-29 21:37] #3296 closed

[2017-09-29 21:39] jhernandezb commented on #3352
What about including it for k8s 1.8, the TPR API is removed in this version so it won't work even for older versions of calico (< 2.5)

[2017-09-29 22:13] chrislovecnm commented on #3468
@prateek-1708 you can use kops 1.8.0.alpha1 with a kubernetes 1.7.x cluster.   We maintain backward compatibility with k8s versions. The release for 1.8.0 is alpha, so I would encourage you to be careful.

[2017-09-29 22:27] chrislovecnm commented on #2842
We have https://github.com/kubernetes/kops/pull/3176 in the alpha release, and https://github.com/kubernetes/kops/issues/3475 open for documentation.

https://github.com/kubernetes/kubernetes/issues/43600 has been resolved in core, but I think there still are some upgrade challenges.  We have not tested a migration with our rolling update, so we are only recommending ectd3 for new clusters.

[2017-09-29 22:30] chrislovecnm commented on #2811
@Sedward we already have a dry-run mode, but I am uncertain that we are running #2837 during dry run for update.  Do you mind testing or opening another issue?

[2017-09-29 22:31] chrislovecnm commented on #2144
Closing as this is non-issue

[2017-09-29 22:31] #2144 closed

[2017-09-29 22:34] chrislovecnm commented on #2086
@justinsb we are still leaking fw rules.

[2017-09-29 22:35] chrislovecnm commented on #1941
Closing, fixed upstream

[2017-09-29 22:35] #1941 closed

[2017-09-29 22:39] chrislovecnm commented on #1767
I am not seeing this anymore ... closing

[2017-09-29 22:39] #1767 closed

[2017-09-29 22:39] chrislovecnm commented on #1686
Closing, as this is fine

[2017-09-29 22:39] #1686 closed

[2017-09-29 22:41] chrislovecnm commented on #1388
Fixed ...

[2017-09-29 22:41] #1388 closed

[2017-09-30 03:53] jatan28 commented on #3389
I can work on this, also would it make sense to support having 3 masters balanced across 2 AZs in the regions that has only 2AZs.

[2017-09-30 11:10] SergeySevruk opened #3489 "vSphere cloud - DNS Image error"
OVA (uploaded 04/18/2017)
https://i.gyazo.com/4e857ceaaa2697f0d2fac98a8a052251.png

[2017-09-30 15:52] gambol99 commented on #3475
Hi @chrislovecnm ... near enough :-) I've taken the following snippets from our prod cluster.yaml. Both events and main must have version and tls enabled and yes the kube apiserver storage is handled for the user. I'll raise a PR this weekend with proper docs

[code]

[2017-09-30 21:05] chrislovecnm commented on #3489
@luomiao can you offer some advice?

@SergeySevruk is also facing

Hi who know a password from Core DNS server, default (Username/Password: root/kubernetes) not works  https://github.com/kubernetes/kops/blob/master/docs/vsphere-dev.md
GitHub
kubernetes/kops
Kubernetes Operations (kops) - Production Grade K8s Installation, Upgrades, and Management

[2017-09-30 21:12] chrislovecnm commented on #3235
@snoby in aws land, with your accound :(  Closing

[2017-09-30 21:12] #3235 closed

[2017-09-30 21:12] chrislovecnm commented on #3463
/assign @murali-reddy

[2017-09-30 21:21] chrislovecnm commented on #3450
@prateek-1708 1.8.0 alpha is out, and yes we are backward compatible with kubernetes.

[2017-09-30 21:38] chrislovecnm commented on #2715
Closing ... as we have had support .. DOH

[2017-09-30 21:38] #2715 closed

[2017-09-30 23:01] #3294 closed

[2017-09-30 23:45] chrislovecnm opened #3500 "Developer style guide"
Not sure if k8s has one we need to referred to - but this was a good write up from @justinsb

My rules of thumb for when to fmt.Errof:

If we're calling our function, we don't need fmt.Errorf - we should return good errors
If we're calling a library function we probably should fmt.Errorf - we shouldn't assume anyone else returns good errors
If we have extra context, we can fmt.Errorf (even on our

[2017-09-30 23:57] slongstreet commented on #3389
I would categorize this is a "known issue", not a best practice.  Putting all 3 masters in a single AZ means it isn't highly available -- this is just a workaround until kops supports specifying only two AZs for the master zones.

[2017-10-01 00:58] chrislovecnm commented on #2496
What is the status on this issue? Did we figure it out?

[2017-10-01 01:02] sethpollack commented on #2496
yup

[2017-10-01 01:06] chrislovecnm opened #3502 "external-dns for kops"
Owners have discussed this multiple times, but I am not finding an issue for this. I did find the issue in the external-dns project https://github.com/kubernetes-incubator/external-dns/issues/221.

The thought is that we would like to rely on external dns, so that our dns is far more flexible. Add a cloud provider and we could have dns support for it before we even have the provider, for instance.

[2017-10-01 01:16] chrislovecnm commented on #3502
@gambol99 @blakebarnett @sethpollack @geojaz @robinpercy @justinsb  et al

What am I missing here?

[2017-10-01 03:03] jatan28 opened #3503 "Support for having multiple master distribute across AZs in regions with 2AZs"
Currently, when I try to deploy a cluster using kops in a AWS region with 2 Availability Zones, it will not be created when there are 2 regions in the `--master-zones` argument. A current workaround is to create all 3 masters in one zone, which actually defeats the purpose of HA. It would be nice to have support for 3 masters balanced across the 2 AZs.

[2017-10-01 03:19] chrislovecnm commented on #3503
@jatan28 you can get into some nasty split brain issues when you lose two masters in one AZ.  That is why at this point we do not support running 2 AZ.  You would need to run (N-1)/2 spread across two AZ to have HA.  Externalizing etcd, which can cause latency issues, or have multiple etcd servers on the same node the may be some other options.  Externalizing etcd is an option, but you can run int

[2017-10-01 03:26] jatan28 commented on #3503
So currently, In production we are using etcd on a separate instancegroup dedicated just for etcd for performance reasons. We are trying to adopt kops for cluster deployment and that is one of the features we are looking for.  There is already an open issue for that, and I would be more than happy to contribute to that issue. We have tested outage of 2 masters and haven't seen an issue since the m

[2017-10-01 08:40] #2496 closed

[2017-10-01 08:44] chrislovecnm commented on #3503
@jatan28 we should have an issue open for dedicated etcd instance support, and I am interested in data that you are having better performance with etcd offloaded to another instance!

Please let me know what information you need, and reach out on slack if you have questions.

[2017-10-01 08:44] chrislovecnm commented on #3389
Related: https://github.com/kubernetes/kops/issues/3503

[2017-10-01 08:46] chrislovecnm commented on #3389
We just want to make sure that we have (N-1)/2 spread across two AZ to have HA.  Creating an instancegroup type for just etcd, may be best, but I am open to other options.

[2017-10-02 10:16] mad01 commented on #2195
@chrislovecnm can we close this? or is there anything more that we need to do so?

[2017-10-02 15:06] ringods commented on #2975
I think this is already resolved with PR #3206 where the version is bumped to 2.4.1

[2017-10-02 15:18] fraenkel commented on #2975
I will close it out.

[2017-10-02 15:18] #2975 closed

[2017-10-02 15:31] jonathan-kosgei commented on #2677
@andyp1per can you similarly specify an ACM certificate for SSL?

[2017-10-02 15:35] andyp1per commented on #2677
@jonathan-kosgei did not try. Obviously SSL termination in the load balancer is an interesting problem. I think when I looked at this I needed to setup an nginx ingress controller and did not have the time to experiment.

[2017-10-02 15:39] chrislovecnm opened #3512 "updating kube-dns to 1.14.5 because of CVE-2017-14491"
Edit: see https://github.com/kubernetes/kops/pull/3563#issuecomment-335039130

### Details

Due to https://security.googleblog.com/2017/10/behind-masq-yet-more-dns-and-dhcp.html

We have an upgraded version of kube-dns that needs to be PR'ed and tested.

If you do not want to wait for a kops release update your kubernetes cluster accordingly

### Manual Update

#### Update the kube-dns deployment

[2017-10-02 15:39] jonathan-kosgei commented on #2677
Thanks, I guess I'll stick with the addon to allow SSL termination

[2017-10-02 15:42] StevenACoffman commented on #2391
@justinsb What are your thoughts here?

[2017-10-02 15:54] justinsb commented on #2391
There's a lot of progress on deciding on an addon manager for the kubernetes project, which might end up being helm, but it's more likely to be something lower level which helm would then leverage IMO.  See bgrant's "Declarative Application Management" presentations.

For the core addons (kube-dns) we don't want to & probably can't use helm - this is low level bootstrapping.  Then some people have

[2017-10-02 16:10] justinsb commented on #3512
Hotfix command should be ` kubectl set image deployment/kube-dns -n kube-system kubedns=gcr.io/google_containers/k8s-dns-kube-dns-amd64:1.14.5 dnsmasq=gcr.io/google_containers/k8s-dns-dnsmasq-nanny-amd64:1.14.5`

[2017-10-02 16:10] blakebarnett commented on #3502
Seems like it would make sense to just replace dns-controller with it first, then separately add support to protokube to use it?  Have
all the feature gaps between this and dns-controller been filled?

[2017-10-02 16:21] chrislovecnm commented on #3512
Note: @justinsb missed the sidecar which in included in the command  https://github.com/kubernetes/kops/issues/3512#issue-262128556

[2017-10-02 16:31] jchv commented on #2677
SSL termination works for me in Kubernetes since at least 1.5 without any cluster addons. SSL certificate annotations have no impact on the DNS settings and visa versa.

[code]

[2017-10-02 16:33] andyp1per commented on #2677
Ah good to know!

[2017-10-02 16:40] jonathan-kosgei commented on #2677
@jchv didn't know that, thanks

[2017-10-02 16:41] chrislovecnm commented on #2195
Closing :)

[2017-10-02 16:41] #2195 closed

[2017-10-02 16:59] chrislovecnm commented on #3502
@blakebarnett someone needs to build a feature list for both and compare them ;) I do not know which features if any we are missing

[2017-10-02 17:03] chrislovecnm commented on #2391
I may be working on extending our addons functionality that we have in core. For bootstrapping the cluster is works very well. For instance installing Jenkins or another ci tool that would build the cluster services for you.

We have the channels tool, and do not see it going away in the future. We need to keep kops bootstrapping dead simple IMO.

Helm is a great tool, but installing a cni provide

[2017-10-02 17:16] blakebarnett commented on #3502
The issue you linked in here does a pretty good job :)

[2017-10-02 17:25] chrislovecnm commented on #3502
And https://github.com/kubernetes-incubator/external-dns/blob/master/docs/legacy/kops-dns-controller.md

[2017-10-02 17:26] chrislovecnm commented on #3502
And https://github.com/kubernetes/kops/blob/master/dns-controller/README.md

[2017-10-02 17:27] chrislovecnm commented on #3502
And https://github.com/kubernetes/kops/blob/master/protokube/README.md has a section about dns and protokube

[2017-10-02 17:29] chrislovecnm commented on #3502
There are still a couple of comments on the linked issue that need to be resolved / documented.

[2017-10-02 17:34] sethpollack commented on #3502
- multiple targets
- internal alias records (for nodes)
- node source
- pod source
- internal/external annotations
- dns-contoller backwards compatibility for service, ingress, node, pod sources.
- record caching so we don't get rate-limited

[2017-10-02 17:37] sethpollack commented on #3502
I have an open PR for multiple targets https://github.com/kubernetes-incubator/external-dns/pull/326

And I already have the code for alias records, node source, pod source, and dns-contoller backwards compatibility, they just depend on each other so I need to open the PR's one at a time.

[2017-10-02 17:40] sethpollack commented on #3502
As for internal/external annotations @justinsb do we need that support? Or can that be limited to the backwards compatibility?

[2017-10-02 17:41] sethpollack commented on #3502
Also caching would be nice, but not sure if thats a blocker.

[2017-10-02 17:42] chrislovecnm commented on #3512
PR is merged, and if testing goes well will be included in our next 1.8.0 alpha release

[2017-10-02 18:58] edbergavera commented on #3512
Awesome. Thank you guys!

[2017-10-02 19:18] mikesplain commented on #3512
Tested https://github.com/kubernetes/kops/pull/3511 on a fresh aws cluster after jumping through some hoops.  Testing spinning up a 1.7.7 cluster now for kicks.

[2017-10-02 19:24] samanthakem commented on #298
So, is there a way to change a name of a running cluster? I have created two on-prem clusters but by default they get the name 'kubernetes' which might me the problem for why I am not able to create a federation with a host cluster being one of those.

[2017-10-02 19:31] mikesplain commented on #3512
Tests above were done on current stable (1.7.2).  Results the same as below minus obvious version numbers.

Also verified, looks good on 1.7.7 (gotta update my kubectl):
[code]

[2017-10-02 20:20] carlosmkb opened #3515 "Can I choose the Hosted Zone ID in a service using the route53-mapper?"
In my case I have two hosted zone with the same domain name (privates in different VPCs).
When I create a service in a private K8s cluster in a certain VPC, the route53-mapper is trying to create the DNS record in the Hosted Zone of the another VPC (because the domain names are equal).

[2017-10-02 21:09] thegranddesign commented on #834
@mtolan If you have a cluster you should have a bastion host in front of it that SSH proxies your commands.  You shouldn't be doing any `kubectl` commands through your ELB.

[2017-10-02 22:31] blakebarnett commented on #2842
Using the kops 1.8.0-alpha.1 build, upgrading a k8s 1.7.7 cluster built with kops 1.7.0

verified etcd v2 -> v3 upgrade is a no-go at least with 3.0.17: `2017-10-02 22:24:56.772105 E | rafthttp: request sent was ignored by peer 4bdc0ce04b3f39b5 (server version incompatible)`

It seems to know it should upgrade: `2017-10-02 22:17:02.340452 I | etcdserver: starting server... [version: 3.0.17, cluste

[2017-10-03 00:02] blakebarnett opened #3516 "rolling-update cluster always detects changes"
The cluster I was testing on was k8s 1.7.5 built with kops 1.7.0, upgraded to k8s 1.8.0 with kops 1.8.0-alpha.1

Every time I run `update cluster --yes` and `rolling-update cluster --yes` it restarts all instance groups (except bastions).

[2017-10-03 00:02] blakebarnett commented on #3516
/cc @justinsb @chrislovecnm

[2017-10-03 00:48] StevenACoffman commented on #2391
Thanks! Brian Grant was involved in this [Declarative application management in Kubernetes](https://docs.google.com/document/d/1cLPGweVEYrVqQvBLJg6sxV-TrE5Rm2MNOBA_cxZP2WU/edit) document which may be what your are referring to.

[2017-10-03 04:59] chrislovecnm commented on #2011
/assign @chrislovecnm

[2017-10-03 05:01] chrislovecnm commented on #2011
@zacblazic the kops owners need to talk about design, but I agree it may be a good idea to add more tags tag management in kops.

@justinsb / @blakebarnett / @geojaz any ideas on which networks should be tagged which?  Private is is simple, but do we use utlity or Public for public?

[2017-10-03 05:06] chrislovecnm commented on #3454
@alrs here is debug https://gist.github.com/chrislovecnm/fdb51ee9ccea144a5d226fe33f5ef83f

[2017-10-03 05:08] chrislovecnm commented on #3454
[code]

nodeup should not depend on mesh.pb.go.  Does it depend on protokube?  I am guessing no.  Nodeup depends on some of the kops base code, but it is standalone, and I do not think it should inter mix with protokube at all.

[2017-10-03 05:15] chrislovecnm commented on #3454
and the next build run:

[code]

WTH

[2017-10-03 05:57] chrislovecnm commented on #3515
route53-mapper or kops? If it is route53-mapper I would recommend openning an issue with them :)

[2017-10-03 06:23] chrislovecnm commented on #2842
@blakebarnett more details please :)  I think what you are saying is that we allow a user to upgrade from etcd2 -> etcd3 and we should not.

[2017-10-03 06:32] chrislovecnm commented on #298
on-prem? @samanthakem I am guessing that you did not use kops ;)  You probably want to talk to the install team that built the installer you are using.

This may be possible with kops, but it is not supported or documented at this point.  Not trivial and much testing is required.

[2017-10-03 06:35] chrislovecnm opened #3518 "use the host kubectl in protokube"
Instead of bundling kubectl, can we just use the kubectl on the host?  Channels need kubectl at this point and in protokube we need it.

In the protokube container, we d/l kubectl on the build of the container.  Instead of that modify nodeup to mount kubectl in the protokube container.

[2017-10-03 08:30] kchugalinskiy opened #3521 "Separate CLI implementation from interface"
At the moment implementation of CLI is tied to arguments validation. In other words there is almost no chance to invoke kops command to create cluster programmatically.
At this moment I'm working on provider for terraform which will allow to create k8s cluster using kops in declarative way (https://www.terraform.io/docs/plugins/basics.html). And this problem with interface blocks me to be precise.

[2017-10-03 11:26] KashifSaadat commented on #3475
PR: #3514

[2017-10-03 14:23] mansurali901 commented on #1132
I have done this by following this .
**Step # 1 Get Nodes & Master Result for Group Names**
root@worker:~#  kops get ig
Using cluster from kubectl context: cluster.#######.local

NAME                    ROLE    MACHINETYPE     MIN     MAX     SUBNETS
master-us-east-1d       Master  m3.medium       1       1       us-east-1d
nodes                   Node    t2.medium       0       0       us-east-1d

[2017-10-03 15:01] geojaz commented on #2011
It looks like upstream has what we need to get kops to do what we need.

This issue is on my radar too-

@chrislovecnm: I think you're proposing that when we create a private subnet or designated it as shared, we tag it `"kubernetes.io/role/internal-elb"`. Likewise, I think we can tag the utility subnets `"kubernetes.io/role/elb"`. What do you mean by Public?

Dropping tags on any subnets that we

[2017-10-03 16:05] geojaz commented on #2011
Sorry, I'm silly. I figured out what Public is.

[2017-10-03 16:08] AnthonyWC opened #3526 "kops edit cluster shows empty file (doesn't match what's in s3)"
I created a new cluster on AWS where kops get cluster & kops get cluster -o=yaml works

[code]

But
[code]
Shows me an empty file despite that I have config files in S3.

[2017-10-03 16:10] chrislovecnm commented on #3521
Some of this work may be needed for our kops server as well. Can you give us some more details of what you are doing? @justinsb any ideas on how we need some refactoring in cmd with our inbound kops server work?

[2017-10-03 16:15] 1ambda commented on #859
output terraform failed even with `--dns-zone`.

[code]

[2017-10-03 16:41] blakebarnett commented on #2842
I think we just need to use this image: https://github.com/kubernetes/kubernetes/issues/43600#issuecomment-333760185

I'll try it later today.

[2017-10-03 17:39] kchugalinskiy commented on #3521
I would like to help you with this job. Not quite sure how it should look like but definitely all functions related to declaration of commands using cobra should stay on their places. All remaining code should be used to some modules. Not sure if this is one module, I'm still investigating it. As a result I want anyone to be able to invoke kops commands without using application CLI, but by invoca

[2017-10-03 18:35] rofc commented on #3222
Anyone? Is this possible or is there another way to validate server's version?

[2017-10-03 20:26] blakebarnett commented on #3526
I don't think you should be specifying `cluster` in the state bucket URI.

[2017-10-03 20:46] AnthonyWC commented on #3526
I defined the prefix as part of the original KOPS_STATE_STORE (unless that's not suported)?

[code]

[2017-10-03 20:48] blakebarnett commented on #3526
hmm, I'm not certain, check the actual contents of the bucket to make sure it look like you'd expect.

[2017-10-03 21:01] AnthonyWC commented on #3526
s3 bucket has the configuration:

I copied the s3 content:

[code]

Anyway it is quite strange and make me very suspect of using kops on AWS with a somewhat non-default configuration.

[2017-10-03 21:07] luomiao commented on #3489
Hi @SergeySevruk , sorry we have stopped the development of kops for vsphere for a while so haven't tried it out with latest kops since then. But I just downloaded the OVA and started it, the username/password: root/kubernetes works fine with this OVA image. Can you please double-check? Thanks.

[2017-10-03 21:12] chrislovecnm opened #3529 "phase iam includes route-tables"
It appears that route-tables are in the wrong phase.

[code]
Outputs the route table tf

[code]

@justinsb where is the route_table.go lifecycle set?

[2017-10-03 21:13] AnthonyWC commented on #3526
Actually I see that in route 53 none of the api/api.internal/etcd-a.internal/etcd-events.a.internal entry were created.

[2017-10-03 21:15] chrislovecnm commented on #3529
When you run:

[code]

You get the route tables as well :)

[2017-10-03 21:40] blakebarnett commented on #2842
According to this doc: https://github.com/mml/kubernetes.github.io/blob/eb34336f01b7c4c710d1d7a868267510b226cb86/docs/admin/etcd_upgrade.md

We need to make the etcd static pod manifest run `/usr/local/bin/migrate-if-needed.sh` and set the following vars:
[code]

[2017-10-03 22:52] devinburnette opened #3530 "nodeLabels prepend cluster-autoscaler template"
When editing an instance group and adding NodeLabel key value pairs like:

    spec:
      nodeLabels:
        kops.k8s.io/foo: "bar"

The following prefix is automatically prepending to the key.

    k8s.io/cluster-autoscaler/node-template/label

This seems weird as I'm not sure how Kops would know about my cluster autoscaler. The problem with this is that the assumption that every nodeLabel is u

[2017-10-04 01:43] snoby commented on #3512
My cluster which is v1.5.7 does not have the same kube-dns that is listed above.  I don't have the same images in my kube-dns pod.  Getting the deployment and dumping / grepping for image shows:
[code]
What is the upgrade path for a cluster that is < 1.6.x?

[2017-10-04 03:56] chrislovecnm commented on #3512
I have asked on the dev list for a compatibility matrix and have not gotten an answer. I will need to look in kubernetes / kubernetes to see. With the other pod container names are you able to upgrade to 1.4.5

[2017-10-04 10:40] 3h4x commented on #3512
@snoby according to k8s 1.5.8 release (https://github.com/kubernetes/kubernetes/pull/53149/files) you need to update just `dnsmasq` container in `kube-dns` pod.

[code]

after that you will see dnsmasq updated version
[code]

I have manually checked other containers that are in `kube-dns` pod.
They *do not* have `dnsmasq` binary.

[2017-10-04 13:08] gregd72002 commented on #2990
I can reproduce the problem using kops 1.7.5

[2017-10-04 14:11] justinsb commented on #3512
Trying to collate this information into a file: https://github.com/kubernetes/kops/pull/3534

[2017-10-04 17:40] chrislovecnm commented on #3512
From Aaron on the dev list.  For k8s 1.5 and below.

kubectl set image deployment/kube-dns dnsmasq=gcr.io/google_containers/k8s-dns-dnsmasq-amd64:1.14.5 --namespace=kube-system

[2017-10-04 17:59] AnthonyWC opened #3535 "Bug: Cannot update cluster: error running tasks: deadline exceeded executing task Subnet/us-east-1a.#####.org. Example error: Subnet.CIDR: Invalid value: "172.17.32.0/19": field is immutable: old="172.17.3.0/24" new="172.17.32.0/19""
I am trying to update a new cluster that erred out during creation due to subnet conflict, in trying to update the subnet definition I ran into this error (using kops update cluster --state s3://##-### --name #####.org --yes)

[code]
Seem similar to error encountered here: https://github.com/kubernetes/kops/issues/2470 as I am also using calico.

[2017-10-04 18:03] varsharaja commented on #3512
I followed this for version 1.5.5
kubectl set image deployment/kube-dns dnsmasq=gcr.io/google_containers/k8s-dns-dnsmasq-amd64:1.14.5 --namespace=kube-system

Iam seeing that kube-dns pod keeps restarting . The kube events show the liveness check is failing
`4m         4m          1         kube-dns-4101612645-bs7cp   Pod          spec.containers{dnsmasq-metrics}   Normal    Killing             {k

[2017-10-04 18:08] chrislovecnm commented on #2790
@cjcullen have you confirmed that we have api support configurations available in kops for these configs?

[2017-10-04 18:37] chrislovecnm commented on #3512
@varsharaja is it looking for the new config map?

[2017-10-04 18:41] chrislovecnm commented on #3512
@varsharaja I edited your comment so I could read it better, can we get the previous logs from the container?

[2017-10-04 19:04] AnthonyWC commented on #3526
I ended up deleting the cluster.

[2017-10-04 19:04] #3526 closed

[2017-10-04 19:06] rdrgmnzs opened #3536 "Support for VPCs with multiple CIDR (Field cannot be changed: CIDR)"
AWS added support to add a secondary CIDR address to a VPC, however when trying to specify the secondary CIDR to be used by kops you get the following error: "Field cannot be changed: CIDR"

KOPS - Version 1.7.0 (git-e04c29d)
Also saw the same results when using the latest 1.8.0 beta.

Support for multiple CIDR was added to aws-sdk-go v1.10.34, where kops is currently using v1.6.10

[logoutput.txt

[2017-10-04 19:11] genexp opened #3537 "Network Connection Lost / Weave / KubeDNS issues in 1.7"
I'm writing this ticket (and closing it) for the benefit of anyone else that had a similar problem.  We deployed KOPS in AWS using a private configuration with the following:

[code]
We had a ton of reliability issues after a week of killing and restarting worker nodes.  We ended up determining the problem was weave, swapped to flannel, and everything has been wonderful and stable.

[2017-10-04 19:11] #3537 closed

[2017-10-04 19:13] mikesplain commented on #3512
@varsharaja I just setup a 1.5.7 cluster, ran your command and things look fine.  What version of kops are using? It may be useful to get the rest of your kube-dns deployment if you don't mind.

[code]

[2017-10-04 19:57] AnthonyWC commented on #2437
I ran into this bug with kops 1.7.0.

[2017-10-04 21:27] chrislovecnm opened #3539 "kops validate output yaml and json"
Would be awseom if `kops validate` would output yaml and json.  I will update the issue with a couple ideas on the format.

[2017-10-04 21:31] chrislovecnm commented on #3535
At this point we do not support changing subnet CIDR addresses.  You can always add a new CIDR, but once the create is done, you cannot update it.  This is not a bug, but would be a new feature.

[2017-10-04 21:55] AnthonyWC commented on #3535
So with this issue (https://github.com/kubernetes/kops/issues/2294 ) and this lack of feature means you have to tear down initial cluster deployment if the issue chose an subnet that overlap with existing subnet?

[2017-10-05 01:48] yangyuqian opened #3541 "Explicit write permissions required for AWS"
Hi,

I've been looking for efficient ways to install k8s on AWS recently, and kops is really awsome, thank you for doing this.

I noticed that kops docs suggests to perform the installation with `*FullAccess` policies, which is forbidden in the company I'm working for.

Do you think it's possible to provide or figure the explicit write `Actions` or `Operations` during kops installing the k8s clust

[2017-10-05 02:01] yogin commented on #2032
Stumbled on the same issue today as I was setting up a cluster. There's a small trick I found [here](http://kubecloud.io/setup-ha-k8s-kops/) at the very bottom, which basically tells you to create records in your public zone for the ELBs created by kops (bastion and api).

This only works if you have a public and private route53 zone with the same domain. And in that case it works fine. But it pro

[2017-10-05 02:33] clenimar commented on #3094
#3324 fixed it. closing.

[2017-10-05 02:33] #3094 closed

[2017-10-05 03:38] justinsb commented on #3512
I made a mistake on one of the clusters and conflated the 1.5 and the 1.6/1.7 instructions.  If you apply the change, make double sure that `kubectl get pods -n kube-system | grep kube-dns` is showing all the containers running, and not 2/3 or 3/4

[2017-10-05 04:16] dnascimento commented on #3123
In addition to @david92rl actions:

[code]
Read the logs of **controller-manager**. You may have a lack of role permissions. *error querying for DNS zones: AccessDenied: User*

Create a policy like:
[code]
Attach the policy to your Role. DON'T use this in production, I didn't check what are required actions.

[2017-10-05 05:37] chrislovecnm commented on #3123
We really need a document about federation.  Ran across this the other day https://kumorilabs.com/blog/k8s-10-setup-kubernetes-federation-different-aws-regions/

[2017-10-05 05:46] varsharaja commented on #3512
@mikesplain : I havent used kops for the cluster upgrade. I tried changing only the dnsmasq container image with the kubectl command.
My kubernetes is in 1.5.5
Here is the kube-dns pod config :
10:40 $ kubectl --kubeconfig=./kubecfg describe  pod kube-dns-4101612645-nmm04 -n kube-system
Name:		kube-dns-4101612645-nmm04
Namespace:	kube-system
Node:		<Removed this data>
Start Time:	Wed, 04 Oct 2017

[2017-10-05 05:48] varsharaja commented on #3512
@chrislovecnm

The spin up is within seconds .Let me try to get the logs from the syslog. Let me check on the configmap part as well

[2017-10-05 06:35] chrislovecnm commented on #3512
@varsharaja container logs via kubectl please

[2017-10-05 06:44] dnascimento commented on #3123
@chrislovecnm I just followed the same tutorial. I didn't have to add the *runtimeConfig* (guess because of 1.7.6 instead of 1.7.2. However, I still had to add the Role.
It's not a kops bug, it's a kubefed limitation.

[2017-10-05 06:56] chrislovecnm commented on #3535
@justinsb any ideas?

[2017-10-05 07:08] #3389 closed

[2017-10-05 07:28] varsharaja commented on #3512
Here it is
kubectl --kubeconfig=./kubecfg -n kube-system logs kube-dns-4101612645-8375g -c kubedns
I1005 07:24:37.775741       1 dns.go:42] version: v1.6.0-alpha.0.680+3872cb93abf948-dirty
I1005 07:24:37.776007       1 server.go:107] Using https://10.0.0.1:443 for kubernetes master, kubernetes API: <nil>
I1005 07:24:37.777923       1 server.go:68] Using configuration read from ConfigMap: kube-syst

[2017-10-05 17:49] chrislovecnm opened #3543 "phase network includes autoscaling attachments"
running:

[code]

Outputs the AWS autoscaling attachments for ASGs that do not exist yet.  I think we need to move ELBs into the compute phase?

[code]

Getting a couple more errors as well

[code]

[2017-10-05 18:05] chrislovecnm commented on #3543
What is happening is the security groups for the elbs are in the network phase and should be in or after the compute phase.

Here is the TF

[code]

[2017-10-05 18:23] gbmpgb commented on #2394
kops edit cluster cluster-name --state= s3://bucket-name
Edit cidr with your custom subnets.

![image](https://user-images.githubusercontent.com/30672259/31245543-51b14f0e-a9d0-11e7-94cc-fa79eca04daf.png)

[2017-10-05 18:54] chrislovecnm opened #3545 "phases validation issues"
I am getting the following errors:

[code]

Steps to reproduce
1. `kops create cluster`
2. `kops update cluster private-ha-sec-groups.aws.k8spro.com --out kops-security-groups-iam --target terraform --phase iam`
3. terraform the kops-security-groups-iam directory
4. ` kops update cluster private-ha-sec-groups.aws.k8spro.com --out kops-security-groups-network --target terraform --phase network`
5.

[2017-10-05 20:45] chrislovecnm commented on #3512
You need to create the config-map by hand.  This was an issue upgrading to the newest version of kube-dns.

[2017-10-05 20:47] chrislovecnm commented on #3512
@varsharaja see https://github.com/kubernetes/kops/issues/2827#issuecomment-315323072 for instructions

[2017-10-05 21:27] chrislovecnm commented on #3512
Specifically

[code]

If not, then create an empty one:

[code]

[2017-10-06 11:04] mtrofimm commented on #1967
@aachuthan have you found any solution or workaround the timeouts?

[2017-10-06 12:27] moos3 commented on #1467
Any updates on this?

[2017-10-06 12:34] RahulMahale commented on #1467
@moos3  I got it working using
[code]
and then
[code]

But not able to get autoscaling based on QPS working.

[2017-10-06 12:35] moos3 commented on #1467
Awesome, trying now.

[2017-10-06 16:25] KashifSaadat opened #3551 "RBAC Authorization fails when deploying a fresh cluster on Kubernetes v1.8.0"
**Steps to recreate:**
1. Use kops release `v1.8.0-alpha.1` (or building off master)
2. Create a Kubernetes Cluster (mostly default settings are fine) setting RBAC Authorization (`--authorization rbac`)
3. Login to a master node
4. Follow the journal log for the kubelet service or view the kube-controller-manager logs

The API fails to start successfully and you can see logs such as follows:
[code

[2017-10-06 16:46] robinpercy commented on #1896
After being sidetracked for the last couple of weeks, here's what I'm thinking.  For now I'm targeting etcd2, since it's the only option supported by kops, but I think this will be easily adapted (and even simplified for etcd3).

### General Approach
* Install a privileged pod on each master
* the pod contains 2 containers and an emptyDir volume
* container 1 is responsible for backing up the "loc

[2017-10-06 16:47] KashifSaadat opened #3552 "Protokube fails to mount etcd master volume in Kubernetes v1.8"
**Steps to recreate:**
1. Build kops, nodeup & protokube off master (I've tested at commit https://github.com/kubernetes/kops/commit/51d3cde6970bfc29018eab9c8f05753079115f7c)
2. Set your environment variables (`NODEUP_URL`, `PROTOKUBE_IMAGE`)
3. Create a Kubernetes cluster (standard options should be fine)

The cluster will fail to start. Logging into a master node, you can see some run.scope serv

[2017-10-06 17:32] chrislovecnm commented on #1896
Having this as an addon is fine, or we can deploy a sidecar with etcd?  Do we need two containers?  Having a single loop seems reasonable.  Should we backup to pvc or s3?  I am thinking PVC is better for IAM perms, we do not need yet another bucket.

Do we need backups or can we do snapshots? https://github.com/kubernetes-incubator/external-storage/tree/master/snapshot

How do we monitor that back

[2017-10-06 18:00] saivarunr opened #3553 "Service name not resolved after pod deployment update."
I have a pod named 'frontend' with two containers ui and server in it, and a single service 'server' exposing them of type loadbalancer.

ui exposing on port 4200 and server exposing port 5000

After a recent update of the pods, using kubectl apply, with in the pod service 'server' couldn't be resolved, I don't know why,

when I say curl http://server:5000 it just waits and dies where as for http:

[2017-10-06 18:07] robinpercy commented on #1896
@chrislovecnm:

So, the problem I see with a PVC is that we'd need one for each backup pod, and we end up with backups spread across each.  The two-container approach is just there so users can easily override that "upload" behavior however they want.

I've avoided the snapshot route due to the conversation here:
https://github.com/kubernetes/kubernetes/issues/40027#issuecomment-288930752 and rela

[2017-10-06 20:54] glesperance opened #3554 "How to use kops addons"
Can't seem to find the documentation on how to use kops' addons (found in kops/addons) ; more specifically `logging-elasticsearch`.

It seems I could just apply the YML config via  `kubectl` but what is that "channel" tool mentioned [here](https://github.com/kubernetes/kops/blob/master/docs/addon_manager.md)?

Thanks!

[2017-10-06 22:59] yahavb opened #3555 "signal SIGSEGV: segmentation violation with --bastion --topology private options enabled"
Any idea what is the reason for the segmentation violation I get after executing:
[code]

[2017-10-07 01:57] chrislovecnm commented on #3555
private topology and bastions are not supported on gce, this is a bug, and an issue with validation :)

[2017-10-07 14:53] hrzbrg commented on #530
Hey @woodlee,

I've been trying it your way, but unfortunately now all my non-master nodes are in an `Unknown` state when I run `kubectl get nodes`. The masters are okay. Anything I might have missed?

[2017-10-07 16:42] chrislovecnm commented on #3552
Thanks I will test a full build. The interesting thing is that e2e should be running this same test continuously ... interesting meaning that if you are correct, e2e is busted ;(

I appreciate your help!

[2017-10-07 16:43] chrislovecnm commented on #3551
@liggitt / @justin what new changes do we need in terms of RBAC or kubelet?

[2017-10-07 16:48] chrislovecnm commented on #3551
I think the docs tell us what to do

1. Enable the Node authorization mode (--authorization-mode=Node,RBAC) and the NodeRestriction admission plugin
2. Ensure all kubelets’ credentials conform to the group/username requirements
3. Audit apiserver logs to ensure the Node authorizer is not rejecting requests from kubelets (no persistent NODE DENY messages logged)

Question is what is the node admiss

[2017-10-07 16:51] iBluemind commented on #42
It didn't work that `insecureRegistry` specified by `kops edit cluster` or `kops edit ig` when a kops cluster was created.
I removed a kops cluster and then re-created the cluster with `kops edit cluster` when the cluster isn't created yet.

[2017-10-07 17:50] chrislovecnm commented on #3123
By role you mean iam policy?

[2017-10-07 17:51] chrislovecnm commented on #42
You have to update and do a rolling update for changes to occurr.

[2017-10-07 17:53] chrislovecnm commented on #1467
Re-opening.

Does someone mind documenting once we figure this out?

[2017-10-07 18:19] liggitt commented on #3551
To ensure requests from nodes are authorized, you can:
  a. ensure nodes user/group names conform to the [Node authorizer requirements](https://kubernetes.io/docs/admin/authorization/node/#overview) (*in the `system:nodes` group, with a username of `system:node:<nodeName>`*), and add in the `Node` authorization mode with `--authorization-mode=Node,RBAC`
  b. OR create an RBAC clusterrolebinding fr

[2017-10-07 20:19] chrislovecnm commented on #3551
This follows us down security challenge as well https://kubernetes.io/docs/admin/kubelet-tls-bootstrapping/. Which I am uncertain we are currently doing.

It appears that is we get bootstrapping working the name is setup correctly.

[2017-10-07 21:12] dnascimento commented on #3123
Right, IAM policy. I will follow up with the exact required actions

[2017-10-07 22:19] chrislovecnm commented on #3123
To document in this thread you can add policies with kops as well.

https://github.com/kubernetes/kops/blob/master/docs/iam_roles.md

[2017-10-07 22:21] chrislovecnm opened #3557 "iam documentation is out of date"
https://github.com/kubernetes/kops/blob/master/docs/iam_roles.md because of the new roles is very out of date. We should reference the unit tests where we have policies generated. Also add more info about legacy.

[2017-10-07 22:33] chrislovecnm commented on #3554
Great question!

Channels is one of the areas of little documentation unfortunately. One of the components that we use internally for kops, but can be used externally as well.

## Internal details

Inside a kops state store cluster s3 bucket you will see a addons folder. That folder is automatically generated by kops for such components as kube-dns, dns-controller, cni, etc. Those manifest files a

[2017-10-08 00:02] chrislovecnm commented on #3552
#### Note
I found some challenges in the Makefile, I have put in one PR, about to drop another

#### Create cluster

So here is what I did, I use scripts so this bash is untested.  I have standard manifests that I use, that have k8s version 1.8.0 set.

[code]

#### Validate Protokube

ssh'ed into the master and it seems to be working

It installed correctly

[code]

And it mounted protokube correc

[2017-10-08 02:49] chrislovecnm commented on #3555
@yahavb what version of kops are you on?

[2017-10-08 05:27] chrislovecnm commented on #3555
@yahavb so playing around some.

### Findings

When you turn off the public ip address for a GCE instance, it no longer has access to the external internet.

1. GCE does not have a NAT GW support offering.  We would need to add nat gw support in kops, for GCE instances to have internet access w/o a public ip address.  Another option is setting up a https proxy, that the instances can access.  We h

[2017-10-08 05:35] chrislovecnm commented on #3521
@kchugalinskiy if you are able to make developer office hours, it may be a good venue to discuss this.

[2017-10-08 05:38] chrislovecnm commented on #3470
@erickt we need to improve validation, but you should not be able to change that field ;)

[2017-10-08 05:43] chrislovecnm commented on #3470
Somehow the old cluster is coming back as nil, probably because he name has changed :)  We need to fix the nil, and fix the validation.

[2017-10-08 05:46] chrislovecnm commented on #3457
@hsyed I am going to implement validation with phases, that has validation that is a tad lax.  Currently, the validation is strict and forces the tags.

[2017-10-08 19:12] itskingori commented on #1467
@chrislovecnm I don't mind doing it ... I can give this a stab this week and report back.

[2017-10-08 22:10] yahavb commented on #3555
I am using the latest kops I pulled from Oct 10th.

[2017-10-08 22:39] yahavb commented on #3555
@chrislovecnm is the http/s proxy to be deployed externally outside of the cluster? Or is it something to be deployed as a workload in the new cluster?

[2017-10-08 22:41] chrislovecnm commented on #3555
Has to be external to the cluster, or k8s will not start. We may be able to use assests API which is not done, but I do not know how nodeup will act

[2017-10-09 02:44] zengchen1024 opened #3566 "Add support for the platform of Openstack"
kops supports several platforms like AWS, GCE etc, but Openstack is not available. This issue tries to add support for the cloud platform of Openstack, which will deploy Kubernetes on it.

[2017-10-09 04:33] chrislovecnm commented on #3566
We have office hours on Friday, as listed in the README.  If you can swing by let use know.

[2017-10-09 05:36] RahulMahale commented on #1467
@chrislovecnm @itskingori  I can document it can you point me where to document that ? I will create a PR. Thanks.

[2017-10-09 07:14] #3463 closed

[2017-10-09 07:17] chrislovecnm commented on #1467
@RahulMahale https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md is probably best :)

[2017-10-09 08:14] KashifSaadat commented on #3552
Hey Chris, thanks for looking into this!

Did you build protokube fresh off the master branch? Could you try with a new image?

When I built a cluster with protokube `v1.8.0-alpha1` the volume mounts were successful, but with a custom protokube image (just built off of commit hash https://github.com/kubernetes/kops/commit/51d3cde6970bfc29018eab9c8f05753079115f7c, no local changes) that's when I st

[2017-10-09 08:41] RahulMahale commented on #1467
Thank @chrislovecnm here we go https://github.com/kubernetes/kops/pull/3570

[2017-10-09 08:43] itskingori commented on #1467
@RahulMahale awesome! Keen to give it a spin.

[2017-10-09 10:51] varsharaja commented on #3512
@chrislovecnm: Thanks for the pointer, fixed the configmap issue. However the pod failed with the liveness-health check the first time. I had to edit the skydns-rc.yaml file to set the image name. Things worked fine after this.
Now I have the latest dnsmasq running.

[2017-10-09 10:55] woodlee commented on #530
@hrzbrg Sorry, nothing I'm aware of. We never encountered such an issue and I'm not sure what could be causing it since the process I describe should really only affect access to the master nodes. When we set that up we were using kops/k8s 1.6 ... possibly something has changed in later versions?

[2017-10-09 11:01] thomaschaaf commented on #3249
The m3.medium only has one cpu -> 1000m. Weave uses 200m and there are a bunch of other pods running on the masters. Simply changing the instance type to a larger size should fix the problem. e.g. c4.large or m3.large

[2017-10-09 12:03] elblivion commented on #3433
Also ran into this just now, kops 1.7.0 / Kubernetes 1.6.7.

[2017-10-09 18:15] tuananh opened #3574 "s3 bucket accidentally deleted? How do i re-generate it?"
s3 bucket accidentally deleted? How do i re-generate it?

[2017-10-09 19:39] AnthonyWC opened #3575 "BUG REPORT:kube-dns stuck at Error syncing pod/Pod sandbox changed, it will be killed and re-created"
--BUG REPORT --
Initial kops cluster has issue with kube-dns; kube-dns stuck at Error syncing pod/Pod sandbox changed, it will be killed and re-created.

kops command
[code]

`kops version`
Version 1.7.0 (git-e04c29d)

`kubectl version`
[code]
cloud provider: AWS

[code]

p.s. I had to change the taint on the master node to get past the initial error message of No nodes are available that match al

[2017-10-09 20:33] chrislovecnm commented on #3574
Did you have versioning on in the s3 bucket?  You may be able to import the cluster, but I have not attempted that.

[2017-10-09 20:37] chrislovecnm opened #3576 "Unable to use kubelet reserved resources"
`kops version`
- my dev branch, have not validated on the master, but I have not changed this code
- k8s version 1.8
- on ec2

I am getting the error from kubelet: `failed to run Kubelet: cannot reserve "storage" resource`
Here is the relevant cluster spec section that I am having problems with:

[code]

cluster is being created using kops create -f mycluster.yaml

Expected behavior is that the ku

[2017-10-09 20:43] chrislovecnm commented on #3576
may be a duplicate of https://github.com/kubernetes/kops/issues/3223

[2017-10-09 20:45] chrislovecnm commented on #3576
@itskingori @blakebarnett ideas?  #3223 recommends removing: ` enforceNodeAllocatable: "pods,system-reserved,kube-reserved"`

[2017-10-09 20:50] chrislovecnm commented on #3249
@thomaschaaf yes, but this is new, and I think our default instance size is a m3.medium :)

[2017-10-09 22:37] johanneswuerbach opened #3578 "Terraform: Continuous API ELB subnet changes"
`kops version` Version 1.7.0

When running  `kops update cluster --target=terraform --name xxx --out=.` multiple times the `kubernetes.tf` frequently shows changes of the API ELB subnet order. We already tried to checkin the file, but it keeps changing.

[code]

It looks like https://github.com/kubernetes/kops/pull/1570 didn't fully resolve the ordering issues, but I don't really understand so far

[2017-10-09 23:14] tuananh commented on #3574
Unfortunately i do not. Can you show me the instruction?
On Tue, Oct 10, 2017 at 03:33 Chris Love <notifications@github.com> wrote:

[2017-10-09 23:29] chrislovecnm commented on #3574
If it is not versioned, I am not certain we have a solution for you :(

@justinsb any ideas?

[2017-10-09 23:37] chrislovecnm commented on #3512
@varsharaja did the kubectl command not work for you?

[2017-10-10 01:05] chrislovecnm commented on #3552
Tested on master.

[2017-10-10 02:04] zengchen1024 commented on #3566
@chrislovecnm Thank you for your responding. Sorry I am afraid I can't join the meeting, because I will have an examination on Saturday. But I have invited my colleague(@freesky-edward) to join instead.

[2017-10-10 02:19] chrislovecnm commented on #3566
If he is in China, we could setup a time that is not in the middle of the night ;)

[2017-10-10 07:18] zengchen1024 commented on #3566
@chrislovecnm  Many thanks for your kind intentions.  Yeah, both of us are in China.  It would be great if setting up a special time for the contributors like us.

[2017-10-10 10:12] varsharaja commented on #3512
@chrislovecnm  : When I gave the kubectl command, I see the already running kubedns pod getting killed, and new one starting. This new pod is killed within 1 min due to liveness check failure and if skydns-rc.yaml points to old dnsmasq image , the new pod + 1 has the old image for dnsmasq.

Once I  make the change the rc file, the new image get loaded when i kill the kubedns pod.

[2017-10-10 10:50] #3518 closed

[2017-10-10 15:04] vpm-bradleyhession commented on #1071
Is there now an official process to change the networking driver on a cluster that is already built? Any supporting documentation around that?

Thanks,

[2017-10-10 17:16] pastjean commented on #2990
If you run `kops update cluster $NAME --target=terraform` after the terraform apply it, it's actuallyt gonna generate a new certificate `kops export kubecfg $NAME` after that and you got a working thing. Although i know, its not pretty straightforward

[2017-10-10 21:41] chrislovecnm opened #3599 "Phases and Lifecycles Improvement and Design"
1. fix route-table lifecycle missed code network.go - line 278
2. refactor some of the code to make phases easier or use two lifecycles per builder.  Not sure if we want to refactor or re-use.
3. implement new phases: iam, network, security-groups, compute, load-balancers
4. implement allow-fail validation, which allows the Lifecycle validation to fail.  cli options for each of the phases, which w

[2017-10-10 22:44] tavisma opened #3600 "Kops 1.7.1 breaks DNS (For 1/2 of all requests) when using Kubernetes 1.7.8"
-------------BUG REPORT --------------------
1. Fill in as much of the template below as you can.

2. What kops version are you running? use `kops version`
$ kops version
Version 1.7.1 (git-c69b811)

3. What Kubernetes version are you running? use `kubectl version`
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.8", GitCommit:"bc6162cc70b4a39a7f39391564e0dd0be

[2017-10-10 23:54] chrislovecnm commented on #3600
You do not need to roll the cluster ;) The update occurs when the new addon is moved into s3. So the problem I am guessing is with something else.  And rolling update should have not bumped the version. It should have replaced all the nodes.

How many nodes? What happened with the nodes?

Also did you used the drain and validate feature flag?

[2017-10-11 00:02] chrislovecnm commented on #3599
Recommended sequence of work. Aka how I would do it

1. Fix route table.
2. Create integration test for just iam phase.
3. Create lifecycle for security groups. We need to figure out if we want to refactor tasks for this. @justinsb?
4. Implement the security group lifecycle.
5. Implementt the security group phase option in update cluster - order iam, network, sec group, compute
6. Create integrati

[2017-10-11 00:02] chrislovecnm commented on #3599
If you want to talk through this ping me tomorrow. Let me know what you can bite off, it is actually not a ton of work ;)

[2017-10-11 05:04] chrislovecnm commented on #1071
I think we have another issue open about a fix that worked. We need it documented :(

[2017-10-11 05:25] #3578 closed

[2017-10-11 06:56] yngwuoso opened #3601 "Deploy Kubernetes on AWS Reserved instances"
I'm very new to KOPS, so I have very questions about the cluster deployment process in AWS.

Supose I have 3 reserved instances: I want to deploy one Master and two workers in my existing AWS reserved instances.

Can anyone write a step by step guide to acomplsih that?

Thanks.

[2017-10-11 07:17] ryuheechul opened #3602 "Want to add flag to kube-controller-manager"
-------------FEATURE REQUEST --------------------

1. Describe IN DETAIL the feature/behavior/change you would like to see.

2. Feel free to submit an issue documentating a design supporting your feature request.

[2017-10-11 08:29] binoopnanu opened #3603 "Route53 Private hosted zone issue"
I'm setting up a new cluster in aws using kops/private hosted zone within a VPC. Cluster creation has been successful however the validation fails with below errors and I waited for a long time thinking it could be an issue with DNS.. Any thoughts ? Just fyi we'd recently setup a cluster using kops exactly the same way without these issues.

VPC CIDR 10.0.0.0/16

[root@ip-10-0-0-45 ~]# kubectl ver

[2017-10-11 09:16] owenmorgan commented on #2011
any update on this?

[2017-10-11 10:10] varsharaja commented on #3512
@chrislovecnm  : When I gave the kubectl command, I see the already running kubedns pod getting killed, and new one starting. This new pod is killed within 1 min due to liveness check failure and if skydns-rc.yaml points to old dnsmasq image , the new pod + 1 has the old image for dnsmasq.

Once I  make the change the rc file, the new image get loaded when i kill the kubedns pod.

[2017-10-11 10:25] richarvey opened #3604 "Old Launch Configs not deleted"
-------------BUG REPORT --------------------
### Versions
kops version: 1.7.0
kubectl version: 1.7.7
cloud provider: aws

### Behaviour/Issue:
When editing InstanceGroups a new launch configuration is created and attached to the ASG. However old instance groups are not deleted leaving a lot of configuration dormant.

### Replicate Command:

[code]

### Expected Behaviour
kops should delete old con

[2017-10-11 12:29] ese opened #3605 "Kubelet fail to register node arbitrarily using Spot Instances"
kops 1.8.0-alpha.1
kubernetes: 1.7.8
provider: AWS

To reproduce it create a cluster and add and instance group with maxPrice value

Some instances not register with apiserver, some of them works fine so it seems some kind of race condition.
If you kill kubelet process, after respawn all works fine.

The relevant part of logs i could find in kubelet are this lines repeated in loop:

[code]

Cluste

[2017-10-11 12:58] lastonoga opened #3606 "Kops does not create EC2 instances"
2. What kops version are you running? use `kops version`

`Version 1.7.0 (git-e04c29d)`

3. What Kubernetes version are you running? use `kubectl version`

[code]

4. What cloud provider are you using?

`aws`

5. What commands did you execute (Please provide cluster manifest `kops get --name my.example.com`, if available) and what happened after commands executed?

[code]

[code]

6. What you expe

[2017-10-11 13:25] cohadar opened #3607 "error reading channel"
Thanks for submitting an issue!

-------------BUG REPORT --------------------
1. Fill in as much of the template below as you can.

2. What kops version are you running? use `kops version`
Version 1.8.0-alpha.1 (git-991cd8c)

3. What Kubernetes version are you running? use `kubectl version`
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCommit:"6e937839ac04a38cac63e6a7a

[2017-10-11 13:34] mikesplain commented on #3601
Hi @yngwuoso, you shouldn't need to do anything special for reserved instances.  Simply follow a guide, but set your master and node size to your reserved instance sizes.

https://github.com/kubernetes/kops/blob/master/docs/aws.md

Add these flags to `kops create cluster`

`--master-size m3.medium`
`--node-size m3.large`

[2017-10-11 13:55] mikesplain commented on #3606
Hi @lastonoga, have you tried a larger master-size? Quite a few containers need to run so I would suggest using a larger instance like an `m3.medium` & `m4.large` for master.

[2017-10-11 13:56] mikesplain commented on #3606
Also are instances launching in your AWS account? Can you ssh into the instances?

[2017-10-11 14:00] lastonoga commented on #3606
@mikesplain I tried with any types of instances, anyway they don't create.
There is no instances. Kops does not create them, but it creates everything else like volumes, dns records

[2017-10-11 14:03] mikesplain commented on #3606
@lastonoga can you add `-v=10` to your create command and provide the output?

[2017-10-11 14:07] lastonoga commented on #3606
@mikesplain

[code]

[2017-10-11 14:33] andrewsykim commented on #2150
I have not forgotten about this, just haven't had much bandwidth lately :)

[2017-10-11 14:34] lastonoga commented on #3606
@mikesplain How can i do that?

In tutorial it says
`All instances created by kops will be built within ASG (Auto Scaling Groups), which means each instance will be automatically monitored and rebuilt by AWS if it suffers any failure.`

[2017-10-11 14:40] mikesplain commented on #3606
@lastonoga In your aws console, goto the autoscaling groups:https://console.aws.amazon.com/ec2/autoscaling/home. Select the autoscaling groups created by kops, then look in activity history to see if there are any details.

[2017-10-11 14:43] lastonoga commented on #3606
@mikesplain Finally! Thanks. Problem with account.

[2017-10-11 14:46] mikesplain commented on #3606
@lastonoga Great!

[2017-10-11 14:49] lastonoga commented on #3606
@mikesplain Best UI ever.. Only small message somewhere deep. No notification at all even in dashboard.

[2017-10-11 14:49] #3606 closed

[2017-10-11 14:54] dennis-bell commented on #1606
Also seeing the same problem when using public networking and reusing existing VPC and subnets.
Required routing tables are not being created.

[2017-10-11 15:22] nmnellis opened #3608 "Support for single instance node creation"
-------------FEATURE REQUEST --------------------

1. Describe IN DETAIL the feature/behavior/change you would like to see.
We wanted to create a single node with an EIP and join it to our kubernetes cluster for some applications that require whitelisted ips. We were able to do this pretty easily by creating an `ig` with min/max instances of 0 and building a terraform module to use the userdata ge

[2017-10-11 16:24] erkolson commented on #3235
I experienced this issue today.  Something was wrong with the aws instance, the volume would not complete the attachment but k8s could not tell.  It thought that the volume had been attached but according to `df` and `lsblk`on the host it had not.  When I looked in the aws console, it said that the volume was having trouble attaching and offered some troubleshooting steps (force detach, restart in

[2017-10-11 16:41] johanneswuerbach commented on #3235
Sounds a bit like https://github.com/kubernetes/kubernetes/issues/53692

[2017-10-11 17:32] chrislovecnm commented on #3602
So this API definition has the flags that. And be tweaked for k-c-m
https://github.com/kubernetes/kops/blob/master/pkg/apis/kops/componentconfig.go

I am not seeing the flag you want, but it is a super easy thing to add.

[2017-10-11 19:29] dcowden commented on #1718
@chrislovecnm We've been talking about rolling updates a lot here over the past week.  We've had a great experience with a running kops cluster [thanks], but we've had less great experiences with rolling updates.  It seems that its usually cluster networking [weave]. We think its due to weave's decentralized approach of storing ips.

Anyhow, we've concluded that roling updates will take a long tim

[2017-10-11 19:44] yngwuoso commented on #3601
Hi Mike. Doesn't Kops create on demand instances in the deployment process? I say that, because when I purchase reserved instances, they are present at the "Reserved Instances" section at AWS Console. I thougth that, I have to configure that particular instances somewhere in the configuration files in Kops to use them (avoiding the creation of other instances).

[2017-10-11 19:55] yngwuoso commented on #3601
Ok, reserved instances are a "billing contract", not a virtual machine... So, you are right.

Thanks for the information.

[2017-10-11 19:56] #3601 closed

[2017-10-11 19:56] yngwuoso commented on #3601
.

[2017-10-11 20:45] blakebarnett opened #3609 "static pods with hostNetwork:true using dnsPolicy:ClusterFirst"
-------------BUG REPORT --------------------
1. Fill in as much of the template below as you can.

2. What kops version are you running? use `kops version`

`1.7.0, 1.8.0-alpha.1`

3. What Kubernetes version are you running? use `kubectl version`

`1.7.7`

4. What cloud provider are you using?

`AWS`

5. What commands did you execute (Please provide cluster manifest `kops get --name my.example.com

[2017-10-11 22:02] toidiu commented on #1718
@dcowden We personally dont use rolling-restarts because the cluster is fronted by an ha-proxy and by the end of a roling-restart we would end up with stale records. However, we considered it a bit and decided it was actually too slow to be useful.

The restriction you pose makes perfect sense in the context of weave - but I would point out that your suggesting is to peg the performance to the 'lo

[2017-10-11 22:54] dcowden commented on #1718
hi @toidiu   We are currently stuck with weave. canal is our first choice, but unfortunately we have extremely high security requirements, and one of them is that our pod network is encrypted. weave supports this.  Flannel is working on adding encryption, and weave is working on the problems associated with the decentralized model. For now, we're stuck until one of them moves.

[2017-10-12 00:03] dcowden commented on #1718
As a side note, we're also looking into using wireguard. Has anyone tried that with kubernetes?

[2017-10-12 00:16] geekofalltrades commented on #2216
I would love to see some priority on this. The Kubernetes documentation [explicitly recommends](https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/) that Kubernetes' state be kept on a separate, dedicated etcd cluster.

I was also perplexed to find that the etcd static pods created by kops are not even storing their state in PersistentVolumes, instead storing their state di

[2017-10-12 00:45] chrislovecnm commented on #2216
@geekofalltrades how do we get PVC's before k8s is started?  We have a chicken and the egg problem with k8s, in both a recovery and bootstrapping situation.  We already support etcd3, but install etcd2 by default.

We are completely open to having etcd externalized in kops, but there has never been someone who wants to code it.  It is not even that complex.  The one thing I would love to see is ha

[2017-10-12 01:40] tuananh commented on #2656
Can someone take a look at this?

[2017-10-12 02:15] jatan28 commented on #3539
@chrislovecnm Are you thinking about something like `kops validate cluster -o yaml`, similar to the `kubernetes get pod -o yaml`?

[2017-10-12 03:16] tuananh commented on #3574
ended up re-creating the cluster and migrate over.

[2017-10-12 04:30] chrislovecnm commented on #3539
@jatan28 exactly :)  We would need an output format, but you get the idea.  Would be helpful for programmatically using validate.

[2017-10-12 04:58] chrislovecnm commented on #3521
@kchugalinskiy bump :)

[2017-10-12 05:06] chrislovecnm opened #3612 "Document Cluster Startup"
1. addons are created in the s3 bucket by kops update cluster
1. nodeup creates the base manifests
1. nodeup downloads protokube from s3 in a tarball and is imported into docker via docker import
1. protokube mounts etcd disks
1. protokube bootstraps etcd
1. protokube sets etcd DNS endpoints
1. kubectl starts, everything is in eventual consistency
1. etcd starts
1. API server comes up

then we hav

[2017-10-12 05:22] chrislovecnm commented on #2656
kops 1.6?  We recommend that you use kops 1.7 with all k8s versions :)

k8s 1.4 -> 1.7 are supported by kops 1.7.

[2017-10-12 05:57] chrislovecnm commented on #1718
Ish ... we have some ideas.  As much as it has been tested rolling-update is not that risky.  It uses the same HA principle as failover.

You can, but how many nodes?  If you do it that slow just cordon and drain a node and delete it in ec2.  Wash, rinse, repeat.  You could build a simple controller that kills the oldest node :)  It gets complicated managing the launch configurations :)

I think y

[2017-10-12 07:12] airstand opened #3613 "error building tasks: unhandled LoadBalancer type "Private""
Hey guys,

I faced an issue while creating cluster with private api loadbalancer.

kops Version 1.8.0-alpha.1 (git-991cd8c)

[code]

[code]

//cc @justinsb @chrislovecnm

[2017-10-12 07:34] airstand commented on #3613
That one is strange, because I have a cluster that loadbalancer type is Private and it works well, but I found that the loadbalancer should be type: Internal.

Closing that one, will let you know on slack.

[2017-10-12 07:34] #3613 closed

[2017-10-12 08:25] etiennetremel commented on #3551
As @liggitt mentioned, the way to resolve it until a proper fix is to edit the `system:node` cluster role binding as follow:

```kubectl edit clusterrolebinding system:node```

add the group binding to the **subjects** section, which should look like that:

[code]

[2017-10-12 09:30] linki commented on #3502
@sethpollack Kops compatibility is the main part of our next milestone. Sorry for the delay in reviewing the PR. We will look at at whenever there's time.

[2017-10-12 12:08] meeee commented on #3512
There probably is a typo in the [command to update the image for 1.6](https://github.com/kubernetes/kops/blob/e1c2bb1cd26ee64f42d84ee2c1d738239e46166c/docs/advisories/cve_2017_14491.md#kubernetes-versions-16x-and-higher).

The command sets `gcr.io/google_containers/k8s-dns-dnsmasq-amd64:1.14.5` as image. When trying that, the dnsmasq container ends up in a crash loop.

The image that was previousl

[2017-10-12 12:29] imsky commented on #2656
@chrislovecnm this issue was filed months ago, before 1.7. Reading the source, it still seems to be the case that specifying subnets is required when creating an instance group.

[2017-10-12 12:34] dcowden commented on #1718
@chrislovecnm thanks. in our experience, rolling updates have broken things quite frequently.  I think @toidiu is right--  that's weave's fault, and the right solution is to fix weave not to tiptoe around it.

I like your ig-base rolling update approach. would it be possible to have a manual step/trigger between steps 3 and 4?

[2017-10-12 16:35] chrislovecnm commented on #1718
have you worked with the weave team? Where is the issue?

[2017-10-12 16:36] chrislovecnm commented on #2656
That is correct ... can we close this?

[2017-10-12 16:37] chrislovecnm commented on #3512
@meese can you pr the update to the docs or give me cli examples so I can update it pleas?

[2017-10-12 16:46] dcowden commented on #1718
The main issue is still pending [here](https://github.com/weaveworks/weave/issues/2797), and one possible solution is underway [here](https://github.com/weaveworks/weave/pull/3022)

[2017-10-12 16:59] imsky commented on #2656
@chrislovecnm can the requirement to specify subnets be lifted? in pre-1.6 kops it wasn't required.

[2017-10-12 17:34] geekofalltrades commented on #2216
@chrislovecnm how do I change the etcd version?

[2017-10-12 17:50] chrislovecnm commented on #3609
what does upstream look like in k/k?

[2017-10-12 17:53] chrislovecnm commented on #3599
@xrl I am starting on Fix route table, and will do the second step as well.

[2017-10-12 18:02] blakebarnett commented on #3609
I don't think they test anything that requires in-cluster DNS resolution for the API server, but I could be wrong.  Anyway, I can't find anything about the dnsPolicy in any of the manifests in the core repo (which I assume means it's using ClusterFirst)

[2017-10-12 18:09] chrislovecnm commented on #3566
Some time next week? Thursday afternoon Denver time?

[2017-10-12 18:10] chrislovecnm commented on #3566
Take a look at the vsphere implantation btw. It will be the closest to what you have. Cloud groups / instance groups is probably the biggest abstraction that we need to figure out.

[2017-10-12 18:12] chrislovecnm commented on #3609
We need to figure out why we have set it in that manner then.

[2017-10-12 18:12] blakebarnett commented on #3609
It's just the default, `ClusterFirstWithHostNet` didn't exist before 1.6

[2017-10-12 19:58] chrislovecnm commented on #3347
closing

[2017-10-12 19:58] #3347 closed

[2017-10-12 19:59] gutiago opened #3617 "Modify default-ulimits of Docker on nodes when creating a cluster"
Thanks for submitting an issue!

1. Fill in as much of the template below as you can.
2. What kops version are you running? use `kops version`
`Version 1.7.0`
3. What Kubernetes version are you running? use `kubectl version`
`v1.8.0`
4. What cloud provider are you using?
**AWS**
5. What commands did you execute (Please provide cluster manifest `kops get --name my.example.com`, if available) and wh

[2017-10-12 20:03] chrislovecnm commented on #351
We need this as well for testing now.   This allows us to validate the testing tf and kinda clean it up more.

All of this should be in a separate file:
[code]

[2017-10-12 20:11] chrislovecnm opened #3618 "Terraform is missing bastion elb route 53 entry"
I may be wrong, but I think we should have a bastion elb dns entry with a kops cluster like:

[code]

2. What kops version are you running? use `kops version`

master

3. What Kubernetes version are you running? use `kubectl version`

n/a

4. What cloud provider are you using?

AWS

5. What commands did you execute (Please provide cluster manifest `kops get --name my.example.com`, if available) an

[2017-10-12 20:13] brosander commented on #822
Would really like this to be secure by default.

[2017-10-12 20:24] blakebarnett commented on #3516
I noticed this doesn't happen until I update the k8s version and do a rolling-update, after that it does it every time.

[2017-10-13 02:47] tuananh commented on #3574
@chrislovecnm sorry to bother you again. since the bucket is deleted, i have to manually clean up the cluster. Can you take a look to see if I'm missing anything here.

Very much appreciated.

[] remove nodes, master ASG
[] remove VPC
[] remove IAM roles
[] remove elastic load balancers

[2017-10-13 06:19] negz commented on #2115
I'm guessing this is the same bug, given the stack, but wanted to be explicit that this happens on `delete instancegroup` too.

[code]

[2017-10-13 07:05] meeee commented on #3512
@chrislovecnm The correct command is:

[code]

Sorry, my employer doesn't have the CLA accepted yet. I'll poke them again, so I can create a PR next time.

[2017-10-13 08:59] thomasjungblut commented on #1071
@chrislovecnm can you point us to the issue? would be of great help :)

[2017-10-13 10:07] zengchen1024 commented on #3566
@chrislovecnm I am ok with the time. Please tell me the exact time on Thursday. Thanks! I have been learning the Kops and reading the codes of 'nodeup'.

[2017-10-13 10:32] wknapik commented on #2428
Right now, to achieve idempotency in your automation, you have basically two choices, both of them bad:

1. Implement creation via `kops create cluster` and modification via yaml manipulation - double the effort
2. Implement creation and modification via yaml manipulation, by populating static yaml templates with values - all well and good, until the config format changes (keys added/removed/renam

[2017-10-13 14:41] 3h4x commented on #2928
I have experienced similar issue:
kops 1.6.2
k8s 1.6.6

We don't yet know why the containers were dead. What should we look at? Our cluster has plenty of unused cpu and memory.

[2017-10-13 16:59] KashifSaadat commented on #3552
Apologies I forgot to mention, I had this issue using CoreOS. It may be fixed by the following PR (I'll test): https://github.com/kubernetes/kops/pull/3621

[2017-10-13 18:32] chrislovecnm opened #3626 "Add bindata to bazel"
-------------FEATURE REQUEST --------------------

1. Describe IN DETAIL the feature/behavior/change you would like to see.

`make bazel-buld` needs to generate the bindata stuff

2. Feel free to submit an issue documentating a design supporting your feature request.

We need to add https://github.com/bazelbuild/rules_go/tree/master/examples/bindata to bazel

[2017-10-13 18:32] chrislovecnm commented on #3626
@alrs something that may interest you

[2017-10-13 19:21] wlan0 commented on #3612
Thanks for adding this issue @chrislovecnm

In addition, could we also document how to debug addons startup by the channels binary?

I understand that addon manifests are available in ${STATE_STORE}/${CLUSTER_NAME}/addons

I think it'll be good to document where to find channels logs, and also how to find if there are any errors during addon startup

[2017-10-13 19:25] chrislovecnm commented on #3612
Channels binary runs inside of protokube, but you can run it locally :)  Just take a look at the protokube logs on a master.

kops update cluster <- builds the manifests and uploads them to s3.  They are k8s manifests
protokube executes channels
channels reads the addons yaml file, and executes kubectl
`kubectl apply my-addon.yaml` <- that is weave, kube-dns etc

[2017-10-13 19:49] ramonkeypr commented on #2830
I am also seeing this issue with:

[code]

In my case, I added an additional CIDR to my dev vpc on AWS, and now I am attempting to enable some APIs per the instructions in: https://github.com/kubernetes/kops/issues/474

[2017-10-13 21:04] #2066 closed

[2017-10-13 21:53] chrislovecnm commented on #2830
This is a limitation of kops currently.  Changing CIDRs is NOT trivial :(  We are alway happy to have someone help!

[2017-10-13 21:57] ferdy-lw commented on #3384
I have a similar issue with a private zone and terraform, all my topology is private and in an existing vpc. The resultant certificate does not include the ELB or any publicly resolvable address so I can't use kubectl from outside the vpc (without modifying etc/hosts). If I could specify the public api name I can then setup a cname to the elb. This isn't just helpful for gossip.

Is there a timeli

[2017-10-13 22:10] ramonkeypr commented on #2830
Definitely.  But the CIDR for the cluster isn't changing, nor are any of the CIDRs.

[2017-10-13 22:20] chrislovecnm commented on #3599
See https://github.com/kubernetes/kops/pull/3579#issuecomment-336484468 on refactoring the builder

[2017-10-13 22:51] chrislovecnm commented on #2830
Miss understood. What is the vpc definition in the cluster spec?

kops get cluster -o yaml

[2017-10-13 22:57] chrislovecnm commented on #2928
You neee to be using kops 1.7.1 with k8s 1.6.6 - please report on how it works!

[2017-10-13 22:58] chrislovecnm commented on #3566
Thursday 5:30 Denver?

[2017-10-13 22:59] chrislovecnm commented on #2115
Again not implemented in kops 1.7.x please try kops 1.8.x or master with all versions of k8s

[2017-10-13 23:01] chrislovecnm commented on #3574
Launchconfigs just go and remove the vpc in aws UI. It will clean house

[2017-10-13 23:02] chrislovecnm commented on #3574
Tags as well ;) if you choose a new cluster name

[2017-10-13 23:03] chrislovecnm commented on #3441
Closinf

[2017-10-13 23:03] #3441 closed

[2017-10-13 23:03] chrislovecnm commented on #3334
This should be fixed in master. Can you test?

[2017-10-13 23:15] rajatjindal83 commented on #2194
@justinsb

(first of all, thanks to you and all the awesome contributors for this awesome project).

we are able to start kubernetes api service with additional parameter for authenticationTokenWebhookConfigFile. and using kops-hook, we are able to drop the webhook.yaml file into the file system too.

The webhook.yaml file refers to the certificates which we do not want to add to the kops-hook.

o

[2017-10-13 23:21] tuananh commented on #3574
Many thanks.

[2017-10-13 23:21] #3574 closed

[2017-10-13 23:38] chrislovecnm commented on #3298
We need a v1.7.0 file in addition to https://github.com/kubernetes/kops/blob/master/upup/models/cloudup/resources/addons/storage-aws.addons.k8s.io/v1.6.0.yaml

And need to update bootstrap builder.go

[2017-10-13 23:40] chrislovecnm commented on #72
Closing, as we have some docs and issues open for others

[2017-10-13 23:40] #72 closed

[2017-10-13 23:40] chrislovecnm commented on #81
Closing

[2017-10-13 23:40] #81 closed

[2017-10-13 23:41] chrislovecnm commented on #157
Closing

[2017-10-13 23:41] #157 closed

[2017-10-13 23:42] chrislovecnm commented on #177
Is this still a need?

[2017-10-13 23:42] chrislovecnm commented on #186
Closing implemented in master

[2017-10-13 23:42] #186 closed

[2017-10-13 23:44] chrislovecnm commented on #228
Can we confirm this?

[2017-10-13 23:45] chrislovecnm commented on #232
/assign

This will be supported by tweaking phases. And may be supported now with labels

[2017-10-13 23:46] chrislovecnm commented on #233
Closing as this works

[2017-10-13 23:46] #233 closed

[2017-10-13 23:47] chrislovecnm commented on #281
We specify version and the docs are updated

[2017-10-13 23:47] #281 closed

[2017-10-13 23:47] #311 closed

[2017-10-13 23:48] chrislovecnm commented on #313
Closing because we have other issues open

[2017-10-13 23:48] #313 closed

[2017-10-13 23:49] chrislovecnm commented on #358
This is not always applicable since you can store your state wherever. Does this still need docs?

[2017-10-13 23:50] chrislovecnm commented on #359
Bump - please close

[2017-10-13 23:55] chrislovecnm commented on #380
Closing as we have options now. Please reopen if needed

Hooks and fileassests

[2017-10-13 23:55] #380 closed

[2017-10-13 23:56] chrislovecnm commented on #435
Is this still an issue?

[2017-10-13 23:57] chrislovecnm commented on #552
Closing

[2017-10-13 23:57] #552 closed

[2017-10-13 23:58] chrislovecnm commented on #591
Closing as we do not have this, please re-open if you need

[2017-10-13 23:58] #591 closed

[2017-10-13 23:59] chrislovecnm commented on #599
This should be fixed, please reopen if needed

[2017-10-13 23:59] #599 closed

[2017-10-14 00:03] chrislovecnm commented on #702
I think this is fixed ... can anyone confirm?

/assign

[2017-10-14 00:05] chrislovecnm commented on #715
Still a work in progress

/assign

[2017-10-14 00:08] chrislovecnm commented on #755
Any update on this?

[2017-10-14 00:09] chrislovecnm commented on #780
My phase work will fix this

/assign

[2017-10-14 00:10] chrislovecnm commented on #788
Route53 record is being created for bastion, but not the API elb. I am not certain what the best pattern for this is.

Thoughts?

Protokube and dns-controller updates a lot of the other stuff when we launch.

[2017-10-14 00:11] chrislovecnm commented on #795
Closing

[2017-10-14 00:11] #795 closed

[2017-10-14 00:11] chrislovecnm commented on #796
Closing we have some

[2017-10-14 00:11] #796 closed

[2017-10-14 00:12] chrislovecnm commented on #809
Justin has two in...closing

[2017-10-14 00:12] #809 closed

[2017-10-14 00:12] chrislovecnm commented on #815
We have this with the API server, can we close now?

[2017-10-14 00:13] chrislovecnm commented on #853
This is an upstream issue

[2017-10-14 00:13] #853 closed

[2017-10-14 00:14] chrislovecnm commented on #904
Done

[2017-10-14 00:14] #904 closed

[2017-10-14 00:14] chrislovecnm commented on #911
Still a problem? Closing

[2017-10-14 00:14] #911 closed

[2017-10-14 00:17] chrislovecnm commented on #933
Closing because of bazel and the standard kubernetes/kubernetes image

[2017-10-14 00:17] #933 closed

[2017-10-14 00:17] chrislovecnm commented on #937
Already doing this

[2017-10-14 00:17] #937 closed

[2017-10-14 00:19] chrislovecnm commented on #969
Closing we have readme

[2017-10-14 00:19] #969 closed

[2017-10-14 00:20] chrislovecnm commented on #972
Closing as dup

[2017-10-14 00:20] #972 closed

[2017-10-14 00:21] chrislovecnm commented on #1035
Closing as we have addon manager issues

[2017-10-14 00:21] #1035 closed

[2017-10-14 00:48] chrislovecnm commented on #1055
What questions do you have? With my work on phases and lifecycles we could do some cool stuff

[2017-10-14 00:50] chrislovecnm commented on #1115
Do we have this now?

[2017-10-14 01:07] chrislovecnm commented on #1142
We have a couple of PRs in that should address this.

/assign @geojazz @justinsb

[2017-10-14 01:09] chrislovecnm commented on #1163
Closing

[2017-10-14 01:09] #1163 closed

[2017-10-14 01:09] chrislovecnm commented on #1162
This is a dup

[2017-10-14 01:09] #1162 closed

[2017-10-14 01:10] chrislovecnm commented on #1166
We are working on getting this in ;)

/assign

[2017-10-14 01:11] chrislovecnm commented on #1185
Closing

[2017-10-14 01:11] #1185 closed

[2017-10-14 01:12] chrislovecnm commented on #1201
/assign

I think I know where the instructions are

[2017-10-14 01:13] chrislovecnm commented on #1207
Yah this need to be text in ux ... this is not trivial

[2017-10-14 01:14] chrislovecnm commented on #1214
Closing

[2017-10-14 01:14] #1214 closed

[2017-10-14 01:16] chrislovecnm commented on #1241
@bcorijn that is actually a separate issue that should be fixed by some work I am doing with phases.

[2017-10-14 01:16] chrislovecnm commented on #1241
Going to close this issue, please reopen if needed

[2017-10-14 01:16] #1241 closed

[2017-10-14 01:18] chrislovecnm commented on #1252
Any update?

[2017-10-14 01:19] chrislovecnm commented on #1277
This is an upstream issue that has been resolved. Please reopen if needed

[2017-10-14 01:19] #1277 closed

[2017-10-14 01:19] chrislovecnm commented on #1280
Closing because of the release issue. We are working on a fix. Not fixed yet, but this is a dup.

[2017-10-14 01:19] #1280 closed

[2017-10-14 01:20] chrislovecnm commented on #1281
Have we tested?

[2017-10-14 01:21] chrislovecnm commented on #1284
/area rolling-update

[2017-10-14 01:22] chrislovecnm commented on #1303
Any update?

[2017-10-14 01:24] chrislovecnm commented on #1338
Add --name to validate ;)

[2017-10-14 01:37] chrislovecnm commented on #1395
We are Dong this now

[2017-10-14 01:37] #1395 closed

[2017-10-14 02:13] chrislovecnm commented on #1262
Closing as this is in progress

[2017-10-14 02:13] #1262 closed

[2017-10-14 02:14] chrislovecnm commented on #1285
Closing as this is in flight

[2017-10-14 02:14] #1285 closed

[2017-10-14 02:15] chrislovecnm commented on #1298
Do we have this??

[2017-10-14 02:17] chrislovecnm commented on #1470
What is the status on this?

[2017-10-14 02:17] chrislovecnm commented on #1491
Closing, as we are using API machinery

[2017-10-14 02:17] #1491 closed

[2017-10-14 02:18] chrislovecnm commented on #1510
Channels and updates are also provided by protokube. Thoughts?

[2017-10-14 02:19] chrislovecnm commented on #1514
Closing as we have the fix in

[2017-10-14 02:20] #1514 closed

[2017-10-14 02:38] chrislovecnm commented on #1520
@geojaz can we close?

[2017-10-14 02:39] chrislovecnm commented on #1530
/assign

After phases updates we will allow other resources, but not certain how to support more

[2017-10-14 02:40] chrislovecnm commented on #1549
Closing as this is upstream and contribex work

[2017-10-14 02:40] #1549 closed

[2017-10-14 02:43] chrislovecnm commented on #1873
Keep this open, but the new policies are in place.

[2017-10-14 02:45] chrislovecnm commented on #1577
I am removing P0 as this is not a show stopper

[2017-10-14 02:46] chrislovecnm commented on #1586
Yah with services this would be interesting. I think that network policies are the way to go. Ideas?

[2017-10-14 02:47] chrislovecnm commented on #1604
Is this still the case?

[2017-10-14 02:47] chrislovecnm commented on #1604
Is this still the case?

[2017-10-14 02:47] #1604 closed

[2017-10-14 02:48] chrislovecnm commented on #1604
Closed as it seems his answer was that it is fixed

[2017-10-14 02:48] chrislovecnm commented on #1627
Closing as what we can do was answered. Please reopen if needed

[2017-10-14 02:48] #1627 closed

[2017-10-14 02:50] chrislovecnm commented on #1639
We need this for GCE ;)

[2017-10-14 02:52] chrislovecnm commented on #1676
Closing because of the pr

[2017-10-14 02:52] #1676 closed

[2017-10-14 02:54] chrislovecnm commented on #2404
@mad01 can we close this? Btw I would love a demo of how this works ;)

[2017-10-14 02:56] chrislovecnm commented on #1758
We have kops get -o yaml now ;) Closing

[2017-10-14 02:56] #1758 closed

[2017-10-14 02:57] chrislovecnm commented on #1780
Closing since we have hooks

[2017-10-14 02:57] #1780 closed

[2017-10-14 02:57] chrislovecnm commented on #1817
I think this is fixed. Any updates?

[2017-10-14 03:06] sudermanjr commented on #2783
After reading the docs/images.md and this issue, I thought I would try running on stretch.  I also need it for another project.  Changing one of my instance groups to:

image: 379101102735/debian-stretch-hvm-x86_64-gp2-2017-10-08-48016

Results in the nodes not connecting back into the cluster.  I got that image id from here: https://wiki.debian.org/Cloud/AmazonEC2Image/Stretch.

So, either I am d

[2017-10-14 03:09] chrislovecnm commented on #1832
Need to check if we can do shared tag now. But we should be able to bypass this with phases

[2017-10-14 03:10] chrislovecnm commented on #1835
Closing

[2017-10-14 03:10] #1835 closed

[2017-10-14 03:11] chrislovecnm commented on #1841
Yes kops now supports basic cf.

Closing as we have basic support.

[2017-10-14 03:11] #1841 closed

[2017-10-14 03:12] chrislovecnm commented on #1878
Done

[2017-10-14 03:12] #1878 closed

[2017-10-14 03:13] chrislovecnm commented on #1908
I believe we have these on the pods now. Need to double check

/assign

[2017-10-14 03:14] chrislovecnm commented on #1913
This is part of sig-contribx need to coordinate with them

[2017-10-14 03:14] chrislovecnm commented on #1916
We have the label now

[2017-10-14 03:14] #1916 closed

[2017-10-14 03:39] chrislovecnm commented on #1964
At this point we do not have any user requests.

[2017-10-14 03:40] chrislovecnm commented on #1967
The instance sizing is your first problem, as they may be way too small. This is a kubernetes operational issue not really a kops issue. Can we close?

[2017-10-14 03:45] chrislovecnm commented on #2003
Currently disabled. Removing p0

[2017-10-14 03:46] chrislovecnm commented on #2013
This is complete

[2017-10-14 03:46] #2013 closed

[2017-10-14 03:47] chrislovecnm commented on #2034
/assign

Need to check this in iam roles

[2017-10-14 03:47] chrislovecnm commented on #2038
We have it now, what do we do?

[2017-10-14 03:49] chrislovecnm commented on #2041
Do you still need instructions?

[2017-10-14 03:49] chrislovecnm commented on #2053
It is merged. Closing

[2017-10-14 03:49] #2053 closed

[2017-10-14 03:51] chrislovecnm commented on #2057
Closing as this can be modified via additional sec groups. Also the bastion is not really a proxy.

Please reopen if you have other concerns

[2017-10-14 03:51] #2057 closed

[2017-10-14 03:54] chrislovecnm commented on #2081
We have docs now. See tutorials.

Closing

[2017-10-14 03:54] #2081 closed

[2017-10-14 03:55] chrislovecnm commented on #2092
The subnet section is required ;)

Closing as I think this is resolved. Please reopen if needed

[2017-10-14 03:55] #2092 closed

[2017-10-14 03:56] chrislovecnm commented on #2098
I may have fixed this. Need to check

/assign

[2017-10-14 03:56] chrislovecnm commented on #2100
Closing as this is documented and addressed

[2017-10-14 03:56] #2100 closed

[2017-10-14 03:58] chrislovecnm commented on #2106
Closing since we have solution on here.

[2017-10-14 03:58] #2106 closed

[2017-10-14 03:58] chrislovecnm commented on #2115
Closing as this is in the alpha 1.8.1 release

[2017-10-14 03:58] #2115 closed

[2017-10-14 03:59] chrislovecnm commented on #2115
Sorry 1.8.0 alpha release

[2017-10-14 04:00] chrislovecnm commented on #2132
@justinsb we fix this?

[2017-10-14 04:01] chrislovecnm commented on #2141
Is this still the case in kops 1.8?

[2017-10-14 04:02] chrislovecnm commented on #2145
This should be fixed. Closing. Please reopen if needed

[2017-10-14 04:02] #2145 closed

[2017-10-14 04:03] chrislovecnm commented on #2170
This is working now, as I know we have coreos users. Closing. Plesss reopen if needed

[2017-10-14 04:03] #2170 closed

[2017-10-14 04:03] vkumar2808 commented on #391
Hello,
Changing to cpu from 250m to 50m didnt fix the problem. do we have any other solution?

[2017-10-14 04:04] chrislovecnm commented on #2174
Closing, please reopen if needed

[2017-10-14 04:04] #2174 closed

[2017-10-14 04:06] chrislovecnm commented on #2232
Closing, as it appears solved. Please reopen if needed

[2017-10-14 04:06] #2232 closed

[2017-10-14 04:08] chrislovecnm commented on #2235
This appears to be an upstream issue, which I thing is resolved

Closing, as it appears solved. Please reopen if needed

[2017-10-14 04:08] #2235 closed

[2017-10-14 04:09] chrislovecnm commented on #2268
We have these now. Closing, as it appears solved. Please reopen if needed

[2017-10-14 04:09] #2268 closed

[2017-10-14 04:10] chrislovecnm commented on #2272
Closing as this is a duplicate. Please reopen if needed

[2017-10-14 04:10] #2272 closed

[2017-10-14 04:11] chrislovecnm commented on #2287
Any updates on this? We have multiple calico users ;)

[2017-10-14 04:15] chrislovecnm commented on #2214
My work on phases will allow networking patterns like these

/assign

[2017-10-14 04:15] chrislovecnm commented on #2312
Closing, as it appears solved. Please reopen if needed

[2017-10-14 04:15] #2312 closed

[2017-10-14 04:17] chrislovecnm commented on #2347
Can we close?

[2017-10-14 04:19] chrislovecnm commented on #2366
Can we close this?

[2017-10-14 04:20] chrislovecnm commented on #2413
Closing as we have them

[2017-10-14 04:20] #2413 closed

[2017-10-14 04:23] chrislovecnm commented on #2460
This should be in kops 1.7 if not then it is in 1.8

Need to check

/assign

[2017-10-14 04:24] chrislovecnm commented on #2470
Any update?

[2017-10-14 04:24] chrislovecnm commented on #2500
Can we close?

[2017-10-14 04:43] chrislovecnm commented on #2637
Closing as we have fixed the docs

[2017-10-14 04:44] chrislovecnm commented on #2669
Any update

[2017-10-14 04:45] chrislovecnm commented on #2681
I think we have this fixed. Need to check

/assign

[2017-10-14 04:47] chrislovecnm commented on #2727
/area vsphere

[2017-10-14 04:47] chrislovecnm commented on #2729
Closing as this should be fixed

[2017-10-14 04:47] #2729 closed

[2017-10-14 04:48] chrislovecnm commented on #2730
/area vsphere

[2017-10-14 04:49] chrislovecnm commented on #2731
/area vsphere

[2017-10-14 04:49] chrislovecnm commented on #2732
/area vsphere

[2017-10-14 04:50] chrislovecnm commented on #2733
/area vsphere

[2017-10-14 04:50] chrislovecnm commented on #2734
/area vsphere

[2017-10-14 04:50] chrislovecnm commented on #2735
/area vsphere

[2017-10-14 04:50] chrislovecnm commented on #2736
/area vsphere

[2017-10-14 04:51] chrislovecnm commented on #2737
/area vsphere

[2017-10-14 04:51] chrislovecnm commented on #2738
/area vsphere

[2017-10-14 04:51] chrislovecnm commented on #2740
/area vsphere

[2017-10-14 04:52] chrislovecnm commented on #2741
/area vsphere

[2017-10-14 04:52] chrislovecnm commented on #2742
/area vsphere

[2017-10-14 04:53] chrislovecnm commented on #2743
/area vsphere

[2017-10-14 04:53] chrislovecnm commented on #2744
/area vsphere

[2017-10-14 04:53] chrislovecnm commented on #2745
/area vsphere

[2017-10-14 04:55] chrislovecnm commented on #2746
/area vsphere

[2017-10-14 04:55] chrislovecnm commented on #2747
/area vsphere

[2017-10-14 04:55] chrislovecnm commented on #2748
/area vsphere

[2017-10-14 04:58] chrislovecnm commented on #2907
Closing as fixed

[2017-10-14 04:58] #2907 closed

[2017-10-14 04:58] chrislovecnm commented on #2779
Does https://github.com/kubernetes/kops/pull/3090 fit your needs?

[2017-10-14 05:00] chrislovecnm commented on #2785
Protokube is d/l from s3 and does not exist in a registry. It is imported into docker once uncompressed. Any questions?

[2017-10-14 05:02] chrislovecnm commented on #2825
Closing as fixed

[2017-10-14 05:02] #2825 closed

[2017-10-14 05:03] chrislovecnm commented on #2857
Closing as fixed

[2017-10-14 05:03] #2857 closed

[2017-10-14 05:07] chrislovecnm commented on #2901
Can we close this?

[2017-10-14 05:08] chrislovecnm commented on #2922
@justinsb is this supported?

[2017-10-14 05:10] chrislovecnm commented on #2961
Any update?

[2017-10-14 05:12] chrislovecnm commented on #3032
@KashifSaadat can we close this?

[2017-10-14 05:13] chrislovecnm commented on #3068
Fixed in master

[2017-10-14 05:13] #3068 closed

[2017-10-14 05:14] chrislovecnm commented on #3071
/area vsphere

[2017-10-14 05:31] chrislovecnm commented on #3106
Take a look at https://stackoverflow.com/questions/5195607/checking-bash-exit-status-of-several-commands-efficiently

[2017-10-14 05:32] chrislovecnm commented on #3122
Closing since it is fixed

[2017-10-14 05:32] #3122 closed

[2017-10-14 05:33] chrislovecnm commented on #3126
/assign

Will close when sec group work is done

[2017-10-14 05:38] chrislovecnm commented on #3185
Closing as fixed

[2017-10-14 05:38] #3185 closed

[2017-10-14 05:41] chrislovecnm commented on #3271
Closing

[2017-10-14 05:41] #3271 closed

[2017-10-14 05:42] chrislovecnm commented on #3276
Closing as I think this is fixed

[2017-10-14 05:42] #3276 closed

[2017-10-14 05:42] chrislovecnm commented on #3295
/assign justinsb

[2017-10-14 05:43] chrislovecnm commented on #3327
Closing as we are now using the hosts kubectl

[2017-10-14 05:43] #3327 closed

[2017-10-14 05:47] chrislovecnm commented on #3386
/area security

[2017-10-14 05:49] chrislovecnm commented on #3420
@bboreham do we have this?

[2017-10-14 05:50] chrislovecnm commented on #3454
Closing as we know this is a make issue

[2017-10-14 05:50] #3454 closed

[2017-10-14 05:52] chrislovecnm commented on #3465
I like the idea, if you want to start with a MVP Inder toolbox

[2017-10-14 05:52] chrislovecnm commented on #3468
Any updates?

[2017-10-14 05:52] chrislovecnm commented on #3475
Closing

[2017-10-14 05:52] #3475 closed

[2017-10-14 05:55] chrislovecnm commented on #3541
Can you update the docs?

[2017-10-14 05:57] chrislovecnm commented on #3553
This seems to be a issue using k8s, I would post something on stack overflow or the users channel on slack. Can we close?

[2017-10-14 05:59] saivarunr commented on #3553
I looked the pod logs, the kube-proxy pod for the node in which this behaviour is observed was evicted, any idea why and what caused that? @chrislovecnm

[2017-10-14 06:01] chrislovecnm commented on #3607
So the error means the cluster could not talk to github. Any updates?

[2017-10-14 06:08] chrislovecnm commented on #2783
Stretch I think is supported in master now. Will check

/assign

[2017-10-14 06:13] chrislovecnm commented on #3553
Sorry to be to write this, but you would be better served by taking my above advice. These issue are issues for kops, and frankly I am not able to diagnose your service issues.

Please take my advice and talk to people on the kubernetes-users slack channel, or post the question to stackoverflow

[2017-10-14 06:35] saivarunr commented on #3553
@chrislovecnm ooh, sorry for the trouble, thanks!

[2017-10-14 06:35] #3553 closed

[2017-10-14 07:56] 3h4x commented on #2928
@chrislovecnm Thanks for the tip. Is it somwhere in kops docs?

[2017-10-14 08:14] tazjin commented on #435
Nope!

[2017-10-14 08:14] #435 closed

[2017-10-14 09:38] KashifSaadat commented on #3032
Yeah, this issue can be closed now.

[2017-10-14 15:22] #3032 closed

[2017-10-14 17:16] itskingori commented on #2928
Closing this because a solution was found even thought it's not quite explainable.

[2017-10-14 17:16] #2928 closed

[2017-10-14 21:40] Cryptophobia commented on #2216
@chrislovecnm , I would be willing to contribute in my free time and will ping you on slack to follow up on this.

The main argument is that all of k8s is dependent on the state of etcd cluster and when it is filled beyond capacity it crashes. It becomes a single point of failure for the whole cluster. Not to mention that routing and DNS other configurations depend on it.

[2017-10-14 21:53] chrislovecnm commented on #2216
@geekofalltrades we have etcd 3 version stuff under docs, it is not released quite yet.  We do not support upgrading etcd yet.

[2017-10-14 22:09] chrislovecnm commented on #2307
We need to

1. update CONTRIBUTING.md to point to our docs on how to build kops.  /docs/development/building.md
1. update building.md with a link to install go
1. update building.md with a note that we do not support dev on windows.  Windows devs need to use a container
1. update building.md with a list of base tools
  - make
  - bash
  - sha sum (may not need)
  - aws cli
  - docker
1. update bui

[2017-10-15 04:20] mumoshu commented on #3464
Hi @hsyed - I believe what I've experimented in not kops but kube-aws before would help here.

For me, it was't easier than what I had thought.

Basically, we are relying on TLS to authenticate not only servers(=apiservers may or may not behind a LB) but also clients.

ACM would help automating management of certs for authenticating servers, but it implies that we can no longer rely on TLS to be u

[2017-10-15 13:01] ese commented on #3605
After some deep analysis it seems to be a race condition running kubelet before AWS tags are available which it is happening with spot instances but maybe could happen also with on-demand instances.
You need to have more than one cluster in the same region

[code]

[2017-10-15 13:53] vendrov opened #3631 "K8S node fails during bootstrap"
During a node bootstrap I receive the following error:
_Oct 15 13:13:36 ip-10-210-225-1 nodeup[1735]: W1015 13:13:36.000299    1735 executor.go:109] error running task "package/python-apt" (8759h44m22s remaining to succeed): error installing package "python-apt": exit status 100: Reading package lists...
Oct 15 13:13:36 ip-10-210-225-1 nodeup[1735]: Building dependency tree...
Oct 15 13:13:36 ip-1

[2017-10-15 14:14] ese commented on #3605
A quick workaround is add this hook to cluster spec:

[code]

[2017-10-15 16:28] chrislovecnm commented on #3631
So you need to update your image ;)

Need to check if nodeup installs python-apt directly.

[2017-10-16 01:40] #2997 closed

[2017-10-16 01:40] #2998 closed

[2017-10-16 05:50] hikhvar opened #3634 "Documentation of the PKI"
-------------DOCUMENTATION REQUEST --------------------

Hey,

we had an issue with the PKI in the S3 Bucket. Some Kops command or mechanism created new x509 keys some month ago. After restarting our master node some days ago, the master fetched the most recent x509 keys and certs. Since the service account signing key was also renewed, all service account tokens were rendered invalid. The current

[2017-10-16 06:57] exceed007 opened #3635 "Need help to install kops and kubectl on windows 10"
Hi All,
I am new here, i want to know if i can install kops and kubectl on windows 10. From where  can i get the installations ?

[2017-10-16 12:18] yngwuoso opened #3636 "ELB and single node Instance Groups"
Hi. I am doing some testing with kops in AWS, and yesterday I created a simple cluster with one master and two nodes. After that, I created a Bastion Instance Group with one node.

Looking for resources created in AWS, I realized that two classic ELB were created for de "master" Instance Group and "bastions" Instance Group.

My question is: is possible to configure Kops to not create ELB's when th

[2017-10-16 12:34] kenden commented on #2404
@mad01 Missed this before, this is great, thanks!
This is in 1.8.0-alpha.1 at the moment, will be in 1.8.0, then.

[2017-10-16 12:37] gutiago commented on #3617
I've seen that Kops has a `default-ulimits` option that can be [set](https://github.com/kubernetes/kops/blob/2c2f9fd6cdf3c306fa0ab7dc046fb2b113ddf097/pkg/apis/kops/dockerconfig.go#L28).
So I've tried many ways to update my cluster spec, like this one:
[code]
But when I try to save it, it gives me the following error:

[code]
Is this option available? Or am I doing something wrong when changing the

[2017-10-16 13:05] KashifSaadat commented on #3552
PR #3621 has been merged into master now. I gave this another test and the cluster builds successfully on CoreOS (nodes healthy, kuberang tests pass), however I noticed the following unit failures (CoreOS, etcd v3.0.17, tls enabled):
[code]

It doesn't appear to be causing any issues but figured I'd raise just incase. @justinsb any thoughts?

[2017-10-16 13:11] Nowaker commented on #2115
Good job, @chrislovecnm! Thank you.

[2017-10-16 13:56] bboreham commented on #3420
@chrislovecnm we did not

@glend I would be interested in more detail regarding "weave-net restarted causing connectivity issues in all the pods scheduled there" - if using the (default) fastdp mode there should be no disruption and in the other mode the disruption should be temporary until the pod restarts.
Until it restarts, no _new_ pods will be able to attach, but your comment suggests existin

[2017-10-16 15:15] caedev commented on #2189
Same story for us too

[2017-10-16 16:29] dims commented on #3566
cc @bugosiphionah @ss22ever

[2017-10-16 16:45] bugosiphionah commented on #3566
Thanks for the ping @dims. I will join the chat as well and find out how to get involved. It will be like 4:00 am here but I will ensure.

[2017-10-16 16:49] gutiago commented on #3617
So I discovered that the problem was related to the logDriver flag, after setting it to the cluster spec, it could be saved without any problem.

Code:
[code]

[2017-10-16 16:49] #3617 closed

[2017-10-16 16:59] chrislovecnm commented on #3566
@balajismaniam we can set up another time next week, but 5:30 is the latest that I can meet.  We need to get this documented and determine who wants to code what.

[2017-10-16 17:06] #3420 closed

[2017-10-16 17:16] blakebarnett commented on #1252
Assuming it's resolved, otherwise we'd be hearing from people using kopeio/weave/etc.

[2017-10-16 17:16] #1252 closed

[2017-10-16 17:30] blakebarnett commented on #2470
This is solved because we don't use the configure-calico job anymore, which means this race can't happen.

[2017-10-16 17:30] #2470 closed

[2017-10-16 17:30] chrislovecnm commented on #3599
@xrl I am knocking this stuff this morning

[2017-10-16 17:34] blakebarnett commented on #2901
This still happens with 4.4.65, but it's far less frequent, I think we should still upgrade to whatever it's tested by test-infra ASAP.

[2017-10-16 17:43] chrislovecnm commented on #2901
@itskingori et al, if someone wants to make updates with our builder, it would help.  @justinsb mentioned that he wanted a new 1.8.0 image.

[2017-10-16 18:10] chrislovecnm commented on #3618
This is a non-issue.  Did not have the bastion ELB set

[2017-10-16 18:10] #3618 closed

[2017-10-16 18:10] chrislovecnm commented on #3529
Fixed

[2017-10-16 18:10] #3529 closed

[2017-10-16 18:12] chrislovecnm commented on #1839
Phases will actually assist with this

/assign

[2017-10-16 18:13] chrislovecnm commented on #1576
Phases and lifecycles will help with this.  Working out those details now.

/assign

[2017-10-16 19:24] carldanley opened #3645 "fileAssets do not work for me"
What kops version are you running? `1.7.0`
What Kubernetes version are you running? `1.8.0-alpha.1`
What cloud provider are you using? `AWS`

I am trying to create a cluster that uses webhook authentication. I have specified the following:

[code]

The yaml above is used to generate a working kops configuration. My scripts run and the cluster comes up but it will not write the file. Keep in mind t

[2017-10-16 19:24] carldanley commented on #3645
cc: @chrislovecnm @KashifSaadat

[2017-10-16 19:26] chrislovecnm commented on #3645
Btw you can just rerun nodeup in order to test this.  kops update will change the manifest in the state store.  I would run nodeup with -v=10 as well

[2017-10-16 19:28] genexp commented on #367
Note: I think the idea is to create a single placement group per availability zone.

[2017-10-16 19:28] chrislovecnm commented on #1510
Not entirely correct. You can run a kops update, for example, and it will update kube-dns :)  `channels` will see the change in the addons, and it will update it.

[2017-10-16 19:29] carldanley commented on #3645
Sorry not familiar with where to run `nodeup`. Do you have an example of this?

[2017-10-16 19:31] chrislovecnm commented on #3635
@exceed007 at this point we do not make a kops native windows binary.  I would recommend running from a container.  We have https://github.com/kubernetes/kops/blob/master/docker/Dockerfile-light

As always if you want to take a stab at getting it running, would love the help!

[2017-10-16 19:37] chrislovecnm commented on #3645
[code]

Run on the node ... if the file location of nodeup is not correct grep the logs.  You may want to check to see if `/var/lib/toolbox/kubernetes-install/kube_env.yaml` is being updated.

If that does not work.  `kops replace -f mycluster.yaml` then `kops update cluster --yes` then delete a node in the asg in aws.  That way you do not have to kill the entire cluster.

[2017-10-16 20:25] chrislovecnm commented on #1026
@FutureSharks looks awesome.  With some work I am doing with phases I need to make some tweaks to the TF.  Here is my first stab at breaking up the tf https://github.com/kubernetes/kops/tree/master/tests/integration/update_cluster/lifecycle_phases

1. we need to have the outputs in the phases that own the output
2. we need to have defaults.tf with the duplicated TF such as cluster name

Any other

[2017-10-16 20:28] blakebarnett commented on #1510
right... I didn't say that very clearly, but I think it's pretty unclear what that flow is from a user perspective, I'm guessing there hasn't been a lot of use of this feature purely because it requires a kops release to make it stick right?

[2017-10-16 20:41] carldanley commented on #3645
@chrislovecnm My `/var/lib` folder contains:

[code]

I grepped logs for:
1. `/var/log/kube-apiserver.log`
1. `/var/log/kube-controller-manager.log`
1. `/var/log/kube-proxy.log`
1. `/var/log/kube-scheduler.log`

Could not find anything mentioning `nodeup` - what am I missing?

[2017-10-16 20:44] chrislovecnm commented on #3645
/var/log/daemon.log :)  There is a service that creates it ... let me see if I can find the code

[2017-10-16 20:47] carldanley commented on #3645
Ah, found it at `/var/cache/kubernetes-install` - debugging now

[2017-10-16 20:51] mschurenko opened #3646 "Expose ETCD_HEARTBEAT_INTERVAL and ETCD_ELECTION_TIMEOUT for etcd"
As per the discussion in the office hours zoom meeting on Friday Oct 13th, we would like to be able to configure the following etcd environment variables by way of kops:

ETCD_HEARTBEAT_INTERVAL
ETCD_ELECTION_TIMEOUT

https://coreos.com/etcd/docs/latest/op-guide/configuration.html

I have implemented this by adding the following fields to EtcdClusterSpec:

[code]

If these fields are set they will

[2017-10-16 20:51] diafour commented on #3566
Is it possible to join? Is this the correct time?
https://www.timeanddate.com/worldclock/fixedtime.html?msg=kops+openstack+support&iso=20171019T1730&p1=75&ah=1

[2017-10-16 20:56] carldanley commented on #3645
My `/var/cache/kubernetes-install/kube_env.yaml` looks like this:

[code]

Would I just update the file in the s3 bucket and then manually run that command to test or?

[2017-10-16 21:08] chrislovecnm commented on #3645
That is generated, do not know file assets well enough. You want to allow kops to regenerate the manifest. Btw kops version and nodeup version please.

You are going to have to do a kops update to change any changes

Please provide nodeup -v 10

[2017-10-16 21:09] chrislovecnm commented on #3645
Btw that last assest line with cni is a tad wonky. Should work but interesting

[2017-10-16 21:11] chrislovecnm commented on #3566
That is it, and I will open the zoom room that is in the readme

[2017-10-16 21:15] chrislovecnm commented on #3646
man we need an API for damn protokube soon.

Do we have other durations as string in the API?

Can you start with an API pr and we can rock it from there

[2017-10-16 21:15] chrislovecnm commented on #3646
Are these specific to etcd2 or is it both etcd2 and 3?

[2017-10-16 21:20] chrislovecnm opened #3647 "Update cni to for k8s 1.9"
Ounce
https://github.com/kubernetes/kubernetes/pull/51250

Goes through we need to update cni in kops for k8s 1.9

[2017-10-16 21:36] jjo commented on #3223
@ivelichkovich regarding your comment:

confirming it fixes it, as kubelet defaults to "pods" as above value,
see also https://docs.openshift.com/container-platform/3.3/admin_guide/allocating_node_resources.html

[2017-10-16 21:37] mschurenko commented on #3646
Unless I'm looking in the wrong place it seem they should work for both v2 and v3 https://github.com/coreos/etcd/blob/release-3.0/Documentation/op-guide/configuration.md

I did my testing with v2.

[2017-10-16 21:39] mschurenko commented on #3646
I already have implemented this feature in my fork. It's not a tonne of changes. Is it ok to just create a PR with what I'm implemented (including the API change) or would you still prefer to just have the API change first?

[2017-10-16 22:06] chrislovecnm commented on #2693
Bad merge bot

[2017-10-16 22:37] chrislovecnm commented on #3646
@mschurenko we are trying to do APIs by themselves, and then do a PR based on that branch.  A new pattern that we are testing in the repo.  The API values are super important, and naming is tough.  Ping me on slack if you have questions.

[2017-10-17 00:27] olxsystem commented on #2436
I've hit this as well.

[2017-10-17 00:29] unixhat commented on #2436
I have hit this as well,
➜  my-kubernetes-files git:(master) ✗ kubectl version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.3", GitCommit:"0480917b552be33e2dba47386e51decb1a211df6", GitTreeState:"clean", BuildDate:"2017-05-10T15:48:59Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.4", GitCom

[2017-10-17 01:14] chrislovecnm opened #3649 "bazel seems to be missing tests"
-------------FEATURE REQUEST --------------------

1. Describe IN DETAIL the feature/behavior/change you would like to see.
When we run make test, I expect that the tests under cloudup run.  I am getting:

[code]

I think all of upup is missing :(

2. Feel free to submit an issue documentating a design supporting your feature request.

[2017-10-17 01:25] jatan28 commented on #3539
@chrislovecnm  Do you have a design in mind for the output format? I saw that it is using print statements, is there an object that we can leverage for the structure of the output json/yaml. Once we finalize the design and approach, I can start working on it.

[2017-10-17 01:29] mschurenko commented on #3646
Ok I created https://github.com/kubernetes/kops/pull/3650 and added just the api changes. As far as the type goes, I used string because it needs to be a string when it is used as a value for the environment variables in the PodSpec. But maybe it makes more sense to have it as an int in the api?

[2017-10-17 01:34] huzhengchuan commented on #3566
cc @huzhengchuan

[2017-10-17 02:53] carldanley commented on #3645
No luck with anything yet...

[2017-10-17 03:06] chrislovecnm commented on #3645
Can we get

1. Cluster spec
2. Output of node up logs?

[2017-10-17 03:08] chrislovecnm commented on #3645
Can u please try with kops 1.8.1 alpha and k8s 1.8.1?

[2017-10-17 03:20] whithajess opened #3651 "kubernetes-dashboard v1.7.0 addon not displaying anything."
-------------BUG REPORT --------------------
[code]
[code]

Cloud Provider: **AWS**

Reproduce:
[code]
[code]
browse to: http://127.0.0.1:8001/ui/

Takes me to: http://127.0.0.1:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy

with nothing displayed.

**EDIT - Add Dashboard Logs**
[code]

Looks like this was merged recently: https://github.com/kubernetes/kops/pull/3459

@zou

[2017-10-17 03:40] zengchen1024 commented on #3566
@chrislovecnm The meeting time is ok for me. I will join on time. Thanks!

[2017-10-17 03:45] ss22ever commented on #3566
Thanks, @dims, @chrislovecnm works for me too.

[2017-10-17 04:18] chrislovecnm commented on #3539
I don't, come up with something and let's iterate

[2017-10-17 04:19] chrislovecnm commented on #3566
I do not have anyone's email address, so I will just open the bridge. If someone else wants to rummage around commits for email they can send out an invite

[2017-10-17 08:14] FutureSharks commented on #1026
@chrislovecnm looks good.

Is this just for an integration test? Or would it later be copied for general use by kops? You're not passing any data into the module so its use as a module is limited but I guess for a test you want everything hardcoded?

[2017-10-17 08:25] KashifSaadat commented on #3645
Hey @carldanley, as @chrislovecnm mentioned please test with kops-v1.8.0-alpha1 as this includes some changes to FileAssets (docs should still be valid): https://github.com/kubernetes/kops/releases/tag/1.8.0-alpha.1

I've tested with this version using your `authentication.yaml` example and it ran successfully, creating the file in the specified path (including creating directories that did not pr

[2017-10-17 08:39] dewet22 commented on #3319
This is an issue for us at the moment; we fire up temporary fleets of spot IGs to do batch processing, so balancing is not a concern for us. Our bids are pretty aggressive and differences between AZ pricing will often result in completely unbalanced IGs, which autoscaling unhelpfully tries to rebalance continually, sometimes quite disruptively when it manages to start a new instance which almost i

[2017-10-17 08:53] FrederikNS commented on #2436
@unixhat You didn't mention your kops version. Your included output just shows that your kubectl is out of date with your cluster.

[2017-10-17 12:17] jonathan-kosgei opened #3654 "What kind of log rotation does kops do?"
I'm trying to make sense of these lines
[code]
In https://github.com/kubernetes/kops/blob/master/nodeup/pkg/model/logrotate.go

Does this mean that kops rotates all container logs hourly and ensure a max size of 10mb?

Thanks.

[2017-10-17 13:38] kenden commented on #2404
@chrislovecnm I made a PR for this: https://github.com/kubernetes/kops/pull/3655

[2017-10-17 14:24] carldanley commented on #3645
Oh my... This whole time I've been thinking k8s 1.8.0-alpha.1 not kops... let me update and try again. If things don't go well, I'll post cluster spec and output of node up logs like @chrislovecnm suggested!

🤞

[2017-10-17 15:14] chrislovecnm commented on #3319
So a value on the ig API to do this? Possibly a value when we launch the asg?

[2017-10-17 15:18] mbenabda commented on #3654
Hi there. going through the same struggle, here is what i found:

for K8s > v1.6, container logs rotation seems to be handled at the docker engine level.

- see https://github.com/kubernetes/kubernetes/pull/40634/files for GCE
- this seems to stand true for kops setups (AWS) as well:
 ```ps aux | grep /usr/bin/dockerd``` yields
[code]

[2017-10-17 15:52] dewet22 commented on #3319
@chrislovecnm Indeed, this is a function of the autoscaling group itself. The programmatic equivalent is

[code]

See https://docs.aws.amazon.com/autoscaling/latest/userguide/as-suspend-resume-processes.html for more.

Terraform also picks up on these changes, and undoes them every time we apply by hand:

[code]

[2017-10-17 19:11] etiennetremel commented on #3412
I'm having a similar issue, any tips to restore it?

[2017-10-17 20:30] carldanley commented on #3645
Ok - as an update:

Using kops `1.8.0-alpha.1` did the trick for me. I tested several times with this and it seemed to work great! Documentation seems pretty accurate.

Thanks for all of the help through everything!

[2017-10-17 20:30] #3645 closed

[2017-10-17 20:59] whithajess commented on #3651
Using the official https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml It does work correctly, I am not aware of the reasoning for Kops having its own addon but I assume there is a good reason?

[2017-10-17 21:15] carldanley commented on #3651
@whithajess Have you seen the changes for 1.7 dashboard? https://github.com/kubernetes/dashboard#getting-started

You need to access the dashboard via `http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/` instead of `http://127.0.0.1:8001/ui`

[2017-10-18 04:18] rajatjindal83 commented on #2194
@sethpollack @zanhsieh @justinsb

any recommendations?

[2017-10-18 05:42] jonathan-kosgei commented on #3654
Thanks for the link, I think I'll close this for now.

[2017-10-18 05:42] #3654 closed

[2017-10-18 21:20] chrislovecnm commented on #3626
This should not have been closed :(

[2017-10-19 01:31] zengchen1024 commented on #3566
@chrislovecnm Do we just access the URL listed in the README to join the meeting or some other URLs? thanks.

[2017-10-19 03:46] chrislovecnm commented on #3566
https://zoom.us/my/k8ssigaws to be clear

[2017-10-19 07:53] bcorijn commented on #1817
I have not seen this again since my original report.

[2017-10-19 10:10] KashifSaadat commented on #789
I believe this is covered by the implementation of Hooks (https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#hooks), but otherwise extension of the user-data scripts may be covered in PR #3633.

[2017-10-19 14:26] roeera opened #3665 "Missing IAM ECR roles in master role after creating new cluster in AWS"
Thanks for submitting an issue!

-------------BUG REPORT --------------------
1. Fill in as much of the template below as you can.

2. What kops version are you running? use `kops version`
Version 1.8.0-alpha.1
3. What Kubernetes version are you running? use `kubectl version`
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.4", GitCommit:"793658f2d7ca7f064d2bdf606519f9fe1229c381

[2017-10-19 15:06] chrislovecnm commented on #3665
We need a bit more detail please fill out the form ;)

[2017-10-19 15:23] Parrryy opened #3666 "kops update not picking up new kubeAPIServer details added using kops edit"
Kops: v1.7.1
Kubernetes: v1.8.1
Cloud Platform: AWS

I'm trying to setup kubeAPIServer for my current cluster to enable logging and OIDC authentication.

[code]

I've added these using ```kops edit cluster```, saving the changes. Running ```kops update cluster``` gives the following output, explaining there are no changes to be applied.

[code]

I just want kops to apply the changes so that I can

[2017-10-19 16:27] roeera commented on #3665
Updated bug description

[2017-10-19 16:30] mikesplain commented on #3666
@Parrryy changes like that are saved right to s3 and aren't reflected in `kops update cluster` I believe. You need to force roll your masters to see the changes. `kops rolling-update cluster --force --yes --instance-group master-us-east-1a` or similar

[2017-10-19 16:36] Parrryy commented on #3666
@mikesplain I did perform `kops rolling-update --force`, didn't add the --yes or instance group. I can't seem to find a way to test if the changes that I have applied are working. I've setup the OIDC with google, but when trying to access kubectl with my client machine, I get error: couldn't read version from server: Get `https://api.cluster.aws.learnium.com/api: x509: certificate signed by unknow

[2017-10-19 17:38] chrislovecnm opened #3668 "kops LifecycleExistsAndValidates and LifecycleExistsAndWarnIfChanges task failing"
1. What kops version are you running? use `kops version`

Master

What Kubernetes version are you running? use `kubectl version`
N/A
What cloud provider are you using?
AWS

What commands did you execute (Please provide cluster manifest `kops get --name my.example.com`, if available) and what happened after commands executed?

Create a kops cluster with `kops create -f myfile.yaml`.
Run `kops updat

[2017-10-19 18:27] wlan0 opened #3669 "Enabling other cloud support in Kops"
With the recent move to use the Cloud Controller Manager instead of compiling in cloud dependencies into Kubernetes core, it has become very easy to add new clouds to Kubernetes core, as well as to kops. This also enabled a lot of vendors to create and distribute their own CCMs.

I added this PR to run CCM for core cloud providers when starting kops clusters - https://github.com/kubernetes/kops/pu

[2017-10-19 20:19] #2366 closed

[2017-10-19 20:46] brosander opened #3672 "Advanced Audit Log Configuration"
I'm a new kops user and am really enjoying it so far!

One area I'm not sure how to address currently within kops directly is audit logging.

I think I've configured it as much as I can currently within kops based on [the cluster spec doc](https://github.com/kubernetes/kops/blob/1.7.0/docs/cluster_spec.md#audit-logging):
[code]

[Kubernetes provides advanced audit configuration options.](https://v

[2017-10-19 20:51] brosander commented on #3666
I had a similar issue while trying to enable audit logging. ```kops rolling-update cluster --force --yes``` did the trick for me (although it was probably a little heavy handed on my part to restart the nodes also)

[2017-10-19 21:02] philipbjorge commented on #3358
Kops 1.7.1 tagged my security groups.

[2017-10-19 21:41] chrislovecnm commented on #3666
Just specify the instance group name and only the masters can be restarted

[2017-10-20 00:31] chrislovecnm commented on #3566
remind me and I will figure out where to post the video.  I will get an email from zoom.

To recap:

1. vendor the required openstack dependencies in a PR by itself - https://github.com/kubernetes/kops/blob/master/docs/development/dependencies.md - missed talking about this
1. create vfs store for swift - get `kops create cluster` working with swift
1. start by coding some small tasks - apply_clus

[2017-10-20 00:36] chrislovecnm commented on #3649
PR is already in master that fixed this

[2017-10-20 00:36] #3649 closed

[2017-10-20 01:30] dims commented on #3566
Thanks @chrislovecnm - here are my notes

* pointers to how things work
https://github.com/kubernetes/kops/issues/3612
https://github.com/kubernetes/kops/blob/master/docs/development/how_it_works.md

* Need a place to store things
https://github.com/kubernetes/kops/tree/master/util/pkg/vfs

* kops tasks unique for each cloud
https://github.com/kubernetes/kops/tree/master/upup/pkg/fi/cloudup
https:

[2017-10-20 03:50] andrewsykim commented on #3669
👍 agreed, these tend to be questions in general about using out-of-tree cloud providers. Luckily in kops, we have more control over to reduce the possibility of failures but we should definitely document as much as we can so the community is aware.

[2017-10-20 08:30] zengchen1024 opened #3676 "Implement VFS with Openstack Swift"
Add a new implementation of VFS to store the state of cluster in order to support deploying k8s on openstack(#3566)

[2017-10-20 08:31] zengchen1024 commented on #3566
@chrislovecnm @dims  thanks for your guidance. I will start working on this "Start with VFS implementation that stores data, possibly OpenStack swift". I think it is a good start.  see #3676

[2017-10-20 09:21] Parrryy commented on #3666
Thanks for the responses guys, is this an issue with `kops` not being able to process the update or relay any decent feedback for changing the `kubeAPIServer` config?

@mikesplain I'm able to access kubectl on the platform where I created the cluster using kops. I'm trying to find a decent approach for enabling our development team to access it with RBAC from their client machines. I seem to have

[2017-10-20 12:30] chrislovecnm commented on #3676
Please vendor the golang depedencies that you will need. We can get them in before any code. We have instructions under the developer director howto.

[2017-10-20 12:32] chrislovecnm commented on #3666
This is an open issue on how we detect changes with kops. This has been a known issue for awhile.

[2017-10-20 12:35] mikesplain commented on #3666
@Parrryy Configs like `kubeAPIServer` are only picked up when an instance boots.  Some changes (I can't remember which specifically) are also stored in the instance user-data but for the most part we recommend rolling-updates whenever possible.  Since you should be running with multiple masters, it shouldn't have any negative effect.

As for the OIDC stuff, I haven't dipped my toes into it too muc

[2017-10-20 12:39] chrislovecnm commented on #3676
/area openstack

[2017-10-20 12:40] chrislovecnm commented on #3566
/area openstack

[2017-10-20 12:40] mikesplain commented on #3666
@Parrryy Although this chat just happened on slack which you may find useful: https://kubernetes.slack.com/archives/C3QUFP0QM/p1508494577000197

[2017-10-20 12:43] Parrryy commented on #3666
@mikesplain I am on the slack so I will check that now, thanks. We're currently only at one master node so will have to implement another one. I will add another master node, perform the appropiate rolling-update and then if I am still having issues then I will ask on sig-auth. Thanks for the help.

[2017-10-20 12:45] mikesplain commented on #3666
@Parrryy you bet, don't forget to follow directions when moving from single to multi: https://github.com/kubernetes/kops/blob/master/docs/single-to-multi-master.md

[2017-10-20 17:45] KashifSaadat commented on #3666
@Parrryy this issue was actually fixed a month ago, and has made it into the following kops release: https://github.com/kubernetes/kops/releases/tag/1.8.0-alpha.1

With the above release, when you run an update it will attempt to add some Cluster & IG Spec data into the user-data for the nodes, marking them as requiring a rolling update.

[2017-10-20 22:11] chrislovecnm opened #3678 "unable to run default GCE network task"
/area gce

User is reporting error with running network tasks on gce.  They are using master.

[code]

[2017-10-20 22:28] activeshadow commented on #3678
Here's the cli command I used that generated the above errors.

[code]

[2017-10-20 22:34] activeshadow commented on #3678
If it helps any I get the same errors when I run the precompiled kops `v1.8.0-alpha.1 (git-991cd8c)`.

[2017-10-20 23:22] chrislovecnm commented on #3678
did you try getting a service account token?

[2017-10-20 23:25] activeshadow commented on #3678
I already had one. Didn’t try getting a new/different one.

[2017-10-21 01:17] chrislovecnm commented on #3626
Maybe try this https://github.com/bazelbuild/rules_go/issues/290

[2017-10-21 22:16] thedonvaughn commented on #2990
I also had the same reported issue.  I can confirm that the instructions provided by @pastjean does indeed update the kubecfg with new cert and proper DNS address of the ELB.

[2017-10-21 22:40] thedonvaughn commented on #2990
Nevermind.  I have to create the cluster with `--target=terraform` first.  After running terraform apply and then updating I get a new master cert.    I was creating the cluster, then I updated with `--target=terraform`, then apply, then I re-ran the update.  This didn't generate a new cert.   So my bad on the order.  Issue is resolved.  Thanks.

[2017-10-22 02:30] val-litvak commented on #3154
I am experiencing the same issue,

when I run `sudo service kubelet status` most of the output has this:
[code]

[2017-10-22 07:05] vendrov commented on #3631
@chrislovecnm does kops execute "apt-get update" on bootstrap?

In addition it seems that sometime the installation is complete successfully and sometime it fails with the error above, any idea what can cause this strange sporadic behavior?

[2017-10-22 12:53] inazrabuu commented on #858
I tried to create a cluster in ap-southeast-1 with kops, it returned:

unable to infer CloudProvider from Zones (is there a typo in --zones?)

does kubernetes not supported in that region?

[2017-10-22 13:40] roeera commented on #3665
@chrislovecnm  See my updates... tx

[2017-10-22 14:27] chrislovecnm commented on #3631
apt-get update does not get executed on bootstrap, at least to my knowledge

[2017-10-22 14:29] chrislovecnm commented on #3665
/assign @KashifSaadat

Do you mind taking a look?

[2017-10-22 17:07] chrislovecnm commented on #2990
Closing!

[2017-10-22 18:58] justinsb commented on #3668
We need to make these errors: https://github.com/kubernetes/kops/blob/62d702a22b679968403c43f84ef241bf777ed219/upup/pkg/fi/context.go#L116-L118

into recognized non-retryable errors, so the executor won't keep retrying.

(Or, if we care about AWS flakes, into a limited retry, but that is a much bigger can of worms!)

[2017-10-22 19:43] justinsb commented on #3551
I think we should create the bridging policy in kops 1.8, and aim to support the full NodeAuthorizer in kops 1.9.

[2017-10-22 20:22] #2011 closed

[2017-10-23 03:37] justinsb commented on #858
@inazrabuu you have to specify zones, not regions - i.e. `--zones ap-southeast-1a`, not `--zones ap-southeast-1`

[2017-10-23 04:22] inazrabuu commented on #858
@justinsb you are right, I did that last night and it worked. Forgot to update here.

[2017-10-23 06:15] zetaab commented on #3566
could we make this object storage configurable? Like we are using openstack but we do not have swift installed, instead we have product which implements S3 API inside our datacenter. So we could use same S3 in openstack as well

[2017-10-23 06:23] geojaz commented on #1142
This should be all set in 1.8.x via #3682. Closing...

[2017-10-23 06:23] #1142 closed

[2017-10-23 06:24] geojaz commented on #1332
Should be closed by #1812

[2017-10-23 06:24] #1332 closed

[2017-10-23 06:24] geojaz commented on #1497
closed in #1812 :)

[2017-10-23 06:24] #1497 closed

[2017-10-23 07:12] brdude commented on #2309
Link to the docs for future reference https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#sshkeyname

@chrislovecnm this ticket could probably be closed.

[2017-10-23 07:47] geojaz commented on #2714
@bdshibly #3682 was merged today and should help you out. Please test it out and if you're still having problems, re-open the issue. Thanks!

[2017-10-23 07:47] #2714 closed

[2017-10-23 07:48] #2528 closed

[2017-10-23 08:27] geojaz commented on #2048
My understanding is that cloud labels are associated with InstanceGroups, not all AWS resources. In this case, I think kops is acting as intending.

It looks like you'd like to be able to assign a "global" tag to all resources in your cluster? This sounds like a reasonable thing to do and I would be open to thinking about implementation.

[2017-10-23 09:15] KashifSaadat commented on #3665
Hi @roeera, thanks for raising the issue. There was some refactoring work done to the IAM Builder, producing a stricter set of permissions for the Master & Compute nodes. As part of this, we wrapped the ECR permission set around a boolean flag but it was never fully implemented, so the permissions are no longer granted. In the short term you can switch to legacy IAM to get the ECR permissions back

[2017-10-23 10:23] dims commented on #3566
@zetaab yes, makes sense.

[2017-10-23 12:13] zengchen1024 commented on #3676
@chrislovecnm Thanks for you guidance! Did you want to say the dependencies said at here https://github.com/kubernetes/kops/blob/master/docs/development/dependencies.md ? So far, my codes just depend on the library of "https://github.com/gophercloud/gophercloud". I will commit my codes according to the rules as that doc said.

[2017-10-23 12:58] roeera commented on #3665
@KashifSaadat @chrislovecnm Thanks, this actually solved our problem for now.
Feel free to contact in case you need any further help ;)

[2017-10-23 17:00] activeshadow commented on #3678
Hi @chrislovecnm anything else I can try to get this working?

[2017-10-23 18:35] chrislovecnm commented on #3676
Please if we do not have it

[2017-10-23 18:37] chrislovecnm commented on #2048
So we already have global tags, KubernetesCluster for instance. But not sure if we should use it in the elb, as I am not certain how the cloud provider will react ;)

Let me know Eric

[2017-10-23 18:39] chrislovecnm commented on #3566
@zetaab already works that way. VMware folks used an in house s3 clone. ftp and file:// are two others to access as well. I think file will work now with vfs, we would need to test it.

The thing to remember is that secrets reside in the object store.

[2017-10-23 18:47] #2309 closed

[2017-10-23 18:52] chrislovecnm commented on #3678
Reaching out to people, including @justinsb. Anyway to get a gist of that log, so more people can view?

[2017-10-23 18:59] chrislovecnm commented on #3678
Anything in https://cloud.google.com/compute/docs/activity-logs about the API call?

[2017-10-23 19:10] activeshadow commented on #3678
Here's a [gist](https://gist.github.com/activeshadow/88de07980d3de0bd296f504c0990e60f).

I'm not seeing anything in Stackdriver, though I'm not 100% sure what to filter for when it comes to network events.

I'm wondering if it has something to do with me trying to use the `default (legacy)` VPC network?

[2017-10-23 19:43] bowei commented on #3678
Is there a verbose mode to see what API error is actually causing this?

[2017-10-23 19:52] activeshadow commented on #3678
@bowei on the `kops` side of things, the gist I posted w/ `kops` logs was using `--v=10`.

[2017-10-23 20:18] clockworksoul commented on #2216
External etcd is a requirement for my company's K8S setups, so this would be a very convenient little feature to have.

As long as I'm not stepping on any toes, I'll try to carve out some time to take a crack at it as well.

[2017-10-23 20:40] chrislovecnm commented on #3678
Looking at this we are getting an odd error on the task validation.  @activeshadow

1. `kops create cluster simple.k8s.local --zones $ZONES --master-zones $ZONES --node-count 10 --project ${PROJECT} --authorization RBAC --cloud gce --ssh-public-key ~/.ssh/id_ed25519.pub -v 10`
2. `kops get -o yaml`
3. `kops update cluster simple.k8s.local -v 10`
4. `kops update cluster simple.k8s.local -v 10 --yes

[2017-10-23 20:46] chrislovecnm commented on #2216
@clockworksoul have at it.  A good place to start is an external etcd section in our API.  I would just PR that and get feedback.

Any auto information will need to be handled as secrets.

[2017-10-23 21:14] activeshadow commented on #3678
@chrislovecnm this [gist](https://gist.github.com/activeshadow/06c7bd1d62ac45fa54a12b6d943f6a48) has all the logs you requested above.

[2017-10-23 21:24] chrislovecnm commented on #3678
Is your netowork in auto or legacy mode. https://cloud.google.com/compute/docs/vpc/using-vpc

[2017-10-23 21:26] activeshadow commented on #3678
My `default` network is in `Legacy` mode.

[2017-10-23 21:45] chrislovecnm commented on #3678
Can you change it to auto?

[2017-10-23 21:46] activeshadow commented on #3678
No but I can create a new VPC that uses auto and try to use it for the cluster.

[2017-10-23 21:51] john-delivuk opened #3693 "sshKeyName throws Secret Error"
Thanks for submitting an issue!

-------------BUG REPORT --------------------
1. Fill in as much of the template below as you can.
[code]
2. What kops version are you running? use `kops version`
1.8.0
3. What Kubernetes version are you running? use `kubectl version`
1.8
4. What cloud provider are you using?
aws
5. What commands did you execute (Please provide cluster manifest `kops get --name my.e