[2017-12-04 01:34] #4001 closed

[2017-12-04 06:25] caseydavenport commented on #3911
@jurgenweber the manifests here will work for v2.6 - https://github.com/projectcalico/canal/tree/ff2a346124ac0a2203237c3f76e1a5428c8369ab/k8s-install/1.7

You'll need the new CRDs if you're upgrading from pre-v2.5.

You should be able to do the data migration, then upgrade kops/canal. You need at least Kubernetes v1.7 in order to use Canal v2.5+, because CRDs do not exist in earlier versions of Ku

[2017-12-04 07:13] justinsb opened #4003 "Consider deleting untagged security groups"
If we're deleting a VPC, security groups will block deletion.  We should consider deleting security groups even if they are untagged, if they have the correct name and we're also deleting the VPC (and the SG is bound to the VPC).

Or we could look at / wait for an atomic create-security-group-with-tags operation.

[2017-12-04 09:40] KashifSaadat commented on #3993
Hi @afirth, thanks for raising an issue! I believe this is related to issue #3882.

@chrislovecnm what is the current behaviour, is the secret created in kops on cluster update automatically now (or uses `sshKeyName` if specified)? Can the kops `sshpublickey` secret be removed altogether?

[2017-12-04 10:06] Solisol commented on #2214
Experiencing the same problem.. Any other workarounds except manually editing route tables or python scripting? Does it matter which networking mode I choose?

[2017-12-04 10:58] rlees85 commented on #3576
I think @jjo has found a bug, maybe not in Kops but Kubernetes at least.

Similar thing happened to me, I upgraded from `1.7.11` -> `1.8.4` and now the kubelets fail to start.

Error:
[code]

Kops config:
[code]

Notice: No CGROUPS so this is not related to the appropriate cgroups not being present.

[2017-12-04 11:11] mcasimir opened #4004 "How to specify retention in elasticsearch loggin addons"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

v1.7.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

v1.6.4

3. What cloud provider are you using?

AWS

4. What commands did you run?  What is the simplest way to reprod

[2017-12-04 11:46] KashifSaadat opened #4005 "ETCD database space / quota exceeded, goes into maintenance mode"
Kops Version: kops v1.8.0-beta.2
Kubernetes Version: kubernetes v1.8.2
ETCD Version: v3.0.17 (TLS enabled)
Cloud Provider: AWS

Steps to recreate (will take time):
1. Create a Kubernetes Cluster on the versions specified above, using ETCD v3 with config similar to below (I had 5 members configured, just trimmed this spec so less spammy).
2. Need to give some operation time on the Cluster (creating

[2017-12-04 12:32] afirth commented on #3993
Hi @KashifSaadat thanks for looking. I opened this based on a slack thread with @justinsb , the behaviour I was seeing was not what Chris describes, so I can only assume I've got a mistake in my spec file.

Excerpt:

[code]

where `sillyname` is the name of an existing ec2 keypair in the account

Someone suggested I try the ARN too but that didn't seem to work either (same error)  `sshKeyName: arn

[2017-12-04 13:31] chrislovecnm commented on #3993
I am not certain the behavior, since there have been several code changes. It use to be

create -f mycluster.yaml
create secret
update cluster

Had to do those three in order. We need to test off of master, as I we just merged another pr into master. And document ;)

[2017-12-04 13:32] chrislovecnm commented on #3993
https://github.com/kubernetes/kops/pull/3933 that PR

[2017-12-04 13:34] chrislovecnm commented on #2214
No updates at this time.

[2017-12-04 13:34] chrislovecnm commented on #2214
Oh and networking mode does not impact this.

[2017-12-04 14:30] justinsb commented on #4005
So the apiserver issues a compaction every 5 minutes (IIRC).  I don't understand exactly the cause, but it looks like an etcd bug.  Related:

https://github.com/kubernetes/kubernetes/issues/45037
https://github.com/coreos/etcd/issues/8009
https://github.com/coreos/etcd/issues/7116

It sounds like an etcd bug, @lavalamp asked for a backport and was told "no", but the fix will be in etcd 3.3.

[2017-12-04 14:52] josselin-c commented on #3891
Thanks for the review, indeed it wasn't enough to block traffic from pods CIDR.
Here is another try at fixing the issue while staying with flannel-only networking:
https://gist.github.com/josselin-c/3002e9bac8be27305b579ba6650ad8da

[2017-12-04 14:59] bgeesaman commented on #3891
Again, very clever!

[2017-12-04 15:11] lleszczu opened #4006 "Add support for volumes for nodes/masters."
1. Describe IN DETAIL the feature/behavior/change you would like to see.
I would like to be able to add volumes to my master/node instances, so that I can configure separate volumes for stuff like /var/log or /var/lib/docker.

[2017-12-04 16:03] chrislovecnm commented on #3905
Closing - it is out

[2017-12-04 16:03] #3905 closed

[2017-12-04 16:03] chrislovecnm commented on #3813
Closing done

[2017-12-04 16:03] #3813 closed

[2017-12-04 16:04] chrislovecnm commented on #3759
It is out - yay

Closing

[2017-12-04 16:04] #3759 closed

[2017-12-04 16:05] chrislovecnm commented on #3733
I would do a post if I had perms.

@sarahnovotny @parispittman who owns the kops-announce google group?

[2017-12-04 16:46] sarahnovotny commented on #3733
not me. I just joined and there have been no posts.

[2017-12-04 17:32] KashifSaadat commented on #4005
Cheers, that's probably the cause of it then!

In regards to apiserver doing the compaction every 5 minutes, shouldn't this mean that the other 4 nodes with disk space remaining should have remained operational? Or maybe we still needed to do the defrag to reclaim the free space on the members / clear the alarms that had triggered?

[2017-12-04 17:37] odedpriva commented on #2830
I'm trying to create a cluster in an existing VPC that has 6 subnets:
![image](https://user-images.githubusercontent.com/4990615/33566507-da21eb46-d928-11e7-80d5-3f5ab64accdc.png)

I want the new cluster to use its own subnet  172.31.112.0/20
[code]
getting the following error:
[code]

[code]

What am I doing wrong ?

[2017-12-04 17:52] chrislovecnm commented on #3733
I may be owned by Kris, what about kubernetes-announce? I do not have perms for that either.

[2017-12-04 17:59] KashifSaadat commented on #4005
If anyone runs into the above issue, you can attempt to follow the below very rough recovery steps that I took (tested on CoreOS).

Run this on each of the members affected, which still have available space on the etcd volume:
[code]

For any members that have experienced the above mentioned bug, where volume is at 100% (not entirely sure whether steps 2-5 are necessary in all cases):
1. Find the

[2017-12-04 18:52] blakebarnett commented on #3576
According to https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/#example-scenario it's `ephemeral-storage` not `storage`, maybe the key is wrong in kops?  I'll take a look when I get a chance.

[2017-12-04 20:14] polasekr opened #4007 "field oidcUsernamePrefix is not recognized in cluster configuration file"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running?
Version 1.8.0 (git-5099bc5)

2. What Kubernetes version are you running?
[code]
3. What cloud provider are you using?
AWS

4. What commands did you run?  What is the simplest way to reproduce this issue?
kops edit

[2017-12-04 22:17] bowei commented on #3678
Migration from legacy to custom is not currently supported. You will have to create a new network.

From glcoud:
[code]

[2017-12-04 22:39] jurgenweber commented on #3911
I am currently on k8s 1.7.10.

So looking at the currently deployed DS I have:

[code]

Calico 2.5.1 supports both TPR and CRD? And so does k8s 1.7.

I have already the configuration in CRD from my first botched attempt to go to k8s 1.8:

[code]

[2017-12-05 03:40] caseydavenport commented on #3911
@jurgenweber Calico v2.4 and less uses TPRs to store data.

Calico v2.5+ uses CRDs only.

[2017-12-05 04:39] chrislovecnm commented on #4007
We currently do not have username-prefix mapped.  See  https://github.com/kubernetes/kops/blob/master/pkg/apis/kops/componentconfig.go#L230

It is a very easy change to a new API value.  https://github.com/kubernetes/kops/blob/master/docs/development/api_updates.md

[2017-12-05 08:30] FuriKuri commented on #3129
We have the same problem.

[2017-12-05 10:18] odedpriva commented on #2830
I exported the configuration to yaml, and changed the subnet section.
honestly, the --network-cidr is a bit confusing.

[2017-12-05 10:29] lleszczu commented on #1846
I just hit this issue with kops 1.7.1. I wasn't able to neither update cluster nor delete. After manual removal of entries related to nat gateway in VPCs route tables I was able to succesfully delete cluster.

[2017-12-05 10:42] stefancocora commented on #3943
I've built and tested `kops` from the master branch before the release of `kops` `1.8.0` and I can confirm this issue is fixed.
Thanks for all the effort !

[2017-12-05 11:01] wangycc commented on #595
Did you find the way? I also want to change the private ip range

[2017-12-05 12:20] itskingori commented on #3576
@blakebarnett seems like that's a K8s 1.7 vs 1.8 change. In the [1.7 docs][1] it's `storage`. Haven't looked at the code though to verify if it was just the docs that were changed or the code as well.

<img width="700" alt="screen shot 2017-12-05 at 06 20 13" src="https://user-images.githubusercontent.com/703786/33606792-6732aa2e-d984-11e7-888d-97a7a83488ba.png">

[1]: https://v1-7.docs.kubernetes

[2017-12-05 13:43] rlees85 commented on #3576
No, not filed upstream as of yet. I am bit new to Kubernetes & Kops and felt I better make sure more qualified people were sure it wasn't a Kops bug before doing so.

Looks like Kubernetes have changed the storage key name hence the problems

[2017-12-05 14:39] iMartyn commented on #3907
+1 for this feature - If I can't install sssd on the bastion, it's no use as a bastion.

[2017-12-05 14:54] krogon-dp commented on #1846
NAT Gateways are not tagged. That's why NATs are detected via existing [private route](https://github.com/kubernetes/kops/blob/master/upup/pkg/fi/cloudup/awstasks/natgateway.go#L125) or via [subnet](https://github.com/kubernetes/kops/blob/master/upup/pkg/fi/cloudup/awstasks/natgateway.go#L136).

Not sure it was historically impossible, but now it is available (checked at AWS): http://docs.aws.amaz

[2017-12-05 14:57] lleszczu opened #4011 "Add support in cli for mixed network topology."
I would like to use mixed topology with most of the nodes available in private network only and some nodes (in separate instancegroup) associated with public IPs.
It would be nice to mark topology as mixed, so during cluster create required subnets are created and then operator just create json/yaml manifest with precreated subnets and associatePublicIp flag set to true.

[2017-12-05 16:07] thuandt commented on #3868
kops 1.8.1 has support c5 instances but  EC2 instance will failed. We need AMI update also

[2017-12-05 16:52] khelll commented on #3986
I applied the daemonset definition as @murali-reddy instructed and things worked out.
Basically and to be in the safe side, I pulled out the definition from this file to a new file locally, then applied it:
`kubectl apply -f definition.yml -n kube-system`

[2017-12-05 16:54] polasekr commented on #4007
Thank you for the info.
The second link sounds like a simple fix to do myself, but I am wondering whether there is a plan to introduce those new api parameters to kops official build.

[2017-12-05 17:42] willejs commented on #3693
I am running against what is on master and get this issue too.
[code]
spec:
  ...
  sshAccess:
  - 0.0.0.0/0
  sshKeyName: a14b50515-test-main-k8s
[code]
SSH public key must be specified when running with AWS (create with `kops create secret --name a14b50515-test-main-k8s.main.test.ri-tech.io sshpublickey admin -i ~/.ssh/id_rsa.pub`)
[code]

[2017-12-05 17:56] jonathan-kosgei commented on #2393
@KashifSaadat I'm trying to update the docker logging driver to use aws

[code]
But I get the same no rolling-update required. And running with `--force` takes down the entire cluster. The master goes down, the api elb is outofservice it stalls and doesn't work. I have to remove the above config and terminate the master to get back to where I was.

[2017-12-05 18:00] markine commented on #2393
FYI when you update the docker stanza in the cluster config, the change is saved in S3 and any new EC2 instance that comes up absorbs the new settings.

[2017-12-05 18:02] jonathan-kosgei commented on #2393
Thanks for the super fast reply @markine! I didn't know that. Thanks, let me do this again without forcing a rolling update.

[2017-12-05 18:15] markine commented on #2393
@jonathan-kosgei No problem, I've actually been avoiding 'kops rolling-update' in live clusters. I'd need to correctly set up PodDisruptionBudgets on all "customer" pods to make pod eviction safe on nodes. And I've been manually killing master nodes one at a time in clusters with 3 masters (master fault tolerance).

[2017-12-05 18:16] dharmisha commented on #3868
Any idea about the timeline?

On Tue, Dec 5, 2017 at 8:07 AM, Thuan Duong <notifications@github.com>
wrote:

[2017-12-05 18:30] jonathan-kosgei commented on #2393
@markine I'm finding that the master's elb won't come up (change to InService) with my docker options set

[2017-12-05 18:32] markine commented on #2393
@jonathan-kosgei Sorry, can't help you there, I have not played with awslogs log driver.

[2017-12-05 18:32] jonathan-kosgei commented on #2393
@makine no prob thanks

[2017-12-05 18:39] cdenneen commented on #3877
Anyone know how I can add to kops my nodes ig some sort of hook to do the "docker pull" automatically rather than logging in to each of these nodes to get past the delay?

[2017-12-05 19:15] joan38 opened #4012 "kops replace --create not working"
[code]

According to the release note that should have worked?

[2017-12-05 22:24] gambol99 commented on #4012
hi @joan38 ... this was added in https://github.com/kubernetes/kops/pull/3089, the flag was originally ``--create`` and then after discussion changed to ``--force`` . Where's the documentation indicating the ``--create`` so we update

[2017-12-05 22:25] gambol99 commented on #4012
/assign @gambol99

[2017-12-05 22:37] jacobrandall commented on #3875
Any chance we can get a quick confirmation on the work around for those hitting this issue? From what I can tell, if you already have a cluster up you need to delete either first or second certificate, and the matching key (first or second) from the following locations leaving only one certificate and key in each.

s3://${KOPS_STATE_STORE}/${CLUSTER}/pki/issued/ca
s3://${KOPS_STATE_STORE}/${CLUSTE

[2017-12-05 22:48] gladiatr72 commented on #754
is this still something that might make it into a release?

[2017-12-06 00:20] mikn commented on #3875
That's correct. But you can also go on the master(s) and delete it, then restart the controller-manager. :)

[2017-12-06 00:22] jacobrandall commented on #3875
@mikn cool thanks, btw only had this issue on the cluster I created in AWS, the one I created in GCE only had one cert / key.

[2017-12-06 00:45] murali-reddy commented on #3986
Thanks @khelll. Thats strange. I will take a look.

[2017-12-06 03:24] zengchen1024 opened #4015 "Implement security group/rule task for Openstack platform"
Implement security group/rule task for Openstack platform. This is part of work of issue (#3566)

[2017-12-06 11:57] vorti2 commented on #3855
I have a comment on another line, I deleted it and afterwards it worked.

[2017-12-06 20:10] phspagiari opened #4019 "[Quick Question] Why my endpoints IPs differ from nonMasqueradeCIDR"
Quick question guys,

I've defined in my `cluster.yaml` the `.nonMasqueradeCIDR` as `100.164.0.0/10` but all my endpoints varies from range `10.32.0.0` to `10.43.254.254`. Why? There is another field to specify this range?

[2017-12-06 20:56] chrislovecnm commented on #4019
Which version of kops?

[2017-12-06 21:00] chrislovecnm commented on #4019
Can we get the value of KubeControllerManager.ClusterCIDR in the spec.
kops get cluster $NAME —full -o yaml

/cc @bboreham

[2017-12-06 21:10] phspagiari commented on #4019
@chrislovecnm `clusterCIDR: 100.96.0.0/11`

[2017-12-06 21:34] johanneswuerbach commented on #2681
Looking into kops v1.8.0, `autoscaling:DescribeTags` seems not be included yet:
Legacy:
https://github.com/kubernetes/kops/blob/fbfe24afd96790b8470cf370dbe452353074a8b7/pkg/model/iam/tests/iam_builder_master_legacy.json#L17-L25
Strict:
https://github.com/kubernetes/kops/blob/fbfe24afd96790b8470cf370dbe452353074a8b7/pkg/model/iam/tests/iam_builder_master_strict_ecr.json#L53-L81

[2017-12-06 22:03] phspagiari commented on #4019
I've found that `10.32.0.0/12` is "hardcoded" on launch.sh script of weave https://github.com/weaveworks/weave/blob/v2.1.3/prog/weave-kube/launch.sh#L28

[2017-12-07 00:56] igoratencompass commented on #3817
Hi guys, first sorry for the delayed response, I'm not fully dedicated to Kubernetes at work due to many other roles I'm attending to so it might take a week (or two) sometimes before I get back to it.
I just gave it another try, this time going from 1.6.13 to 1.7.11 and can see the same issue. This is the log:
[code]
So, I'm still seeing the same problem with `kube-proxy` pods stuck in `CrashLoop

[2017-12-07 01:06] igoratencompass commented on #3817
Looking at the `kube-proxy` manifest on one of the nodes I can see the command arguments have been messed up:
[code]
This can not be right:
[code]
how did the `tftest.encompasshost.internal consul` part end up there? I have `consul` defined in the `kube-dns` as stub domain.

[2017-12-07 01:07] blakebarnett commented on #3817
I think it's this bit in the kube-proxy command-line: `--hostname-override=ip-10-99-6-160.eu-west-1.compute.internal tftest.encompasshost.internal consul`

It only wants 1 argument there, I recall hitting this elsewhere, I'll try to track it down.

[2017-12-07 01:09] blakebarnett commented on #3817
Ah yes, it was this: https://github.com/kubernetes/kops/pull/3067

We ended up removing the extra DHCP Options from our VPC to fix it.  It looks like it's still broken even with that fix in place?

[2017-12-07 01:49] macropin commented on #3961
It would be great to see this documented.

[2017-12-07 02:05] macropin commented on #3341
This is a documentation issue.

Try `kops delete ig bastions`.

[2017-12-07 03:05] igoratencompass commented on #3817
Ok, following the suggestion from @blakebarnett (a.k.a shadoi in kops slack channel) i was able to upgrade to k8s 1.711 this time from 1.6.13. The main point was upgrading kops to:
[code]
where this bug is fixed thus did not have to remove the extra DHCP Options from my VPC.

[2017-12-07 09:13] arlampin opened #4021 "Change AWS NTP source to Amazon Time Sync Service"
Amazon has released Amazon Time Sync Service for AWS ([Blog post](https://aws.amazon.com/blogs/aws/keeping-time-with-amazon-time-sync-service/)). The docs have also been updated (https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/set-time.html).

I think it would be nice to have nodes in EC2 sync with EC2's own, internal NTP system, instead of using external NTP (Debian pool currently).

[2017-12-07 10:37] alexppg commented on #3903
I'd love this feature to!

[2017-12-07 12:37] joan38 commented on #4012
I see.
Do you know why we didn't get with `kops apply` for consistancy?

Thanks @gambol99

[2017-12-07 15:16] sneako opened #4025 "No error message when EC2 instance limit reached"
------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running?
1.7.1

2. What Kubernetes version are you running?
1.7.8

3. What cloud provider are you using?
AWS

4. What commands did you run?  What is the simplest way to reproduce this issue?
[code]
5. What happened after the commands executed?
The command succeeded and reported that the cluster was created succe

[2017-12-08 07:15] vainu-arto opened #4028 "M5 nodes sometimes fail to connect to the network"
1. What `kops` version are you running? The command `kops version`, will display
 this information.
1.8.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

1.8.4

3. What cloud provider are you using?

AWS

4. What commands did you run?  What is the simplest way to reproduce

[2017-12-08 10:09] timurkhafizov commented on #1885
Running the simple
`kops create cluster --name=sample.domain.com --zones=eu-west-1a --target=terraform --out=./kops/sample --dns=private --dns-zone=domain.com`
fails with output:
[code]

I am using kops 1.8.0.
Has it been fixed in 1.8.0 as well?

[2017-12-08 10:33] gambol99 commented on #4012
no worries :-) .... also in regard to the 'apply' ... taken from the original PR

[2017-12-08 12:45] vainu-arto commented on #4028
It seems that using M5 nodes isn't actually required, but the same issue can be reproduced on M4 as well (it's just much less likely), so the real problem is probably with the stretch image..

[2017-12-08 14:47] sybeck2k commented on #3311
I have the same need for setting a log-group for AWS CloudWatch logs - it would be nice to have a different log-group per instance group (e.g. master and nodes)

[2017-12-08 15:54] larte commented on #4028
I have the same thing happening with C4 instances with a stretch image.
kops 1.8.0
kubernetes 1.8.4
Docker version 1.13.1

The journal looks similar, with kubelet errors.

[2017-12-08 16:50] kennyko commented on #4007
You could always create a PR with your fix 😉  (Provided you have setup all of the other requirements)

[2017-12-08 16:54] ihoegen commented on #3965
Would it be possible to have a tag like `KopsNoDelete` or something in that vein that kops respects?

[2017-12-08 17:57] geojaz commented on #3964
I'll jump on this for 1.9

[2017-12-08 18:03] greggilbert commented on #3955
@KashifSaadat: sorry, I haven't had a chance to look at this in a bit. Our cluster is on 1.7 right now and we'd like to keep that 'til 1.8 is stable. I'll update when I can.

[2017-12-08 19:24] wannabesrevenge opened #4029 "libcgroup dependency typo in docker models"
This is pretty self explanatory.  The docker model has a list of dependencies associated with various versions of docker. In 2 places, libcgroup is mispelled as libgcroup .

I'm working on a PR right now.

Typo here: https://github.com/kubernetes/kops/blob/80e47411b63ef9c8f6428ce2a6aed250c99660c6/nodeup/pkg/model/docker.go#L422

And here: https://github.com/kubernetes/kops/blob/80e47411b63ef9c8f64

[2017-12-08 19:38] wannabesrevenge commented on #4029
That's the PR above. Signing legal jargon. Plz don't take my kidney

[2017-12-08 20:28] Olofguard commented on #4028
We encountered a similar issue with m5.large nodes failing status checks, a simple reboot in the ec2 console brought them up. Currently using m5.large nodes with this image `kope.io/k8s-1.8-debian-jessie-amd64-hvm-ebs-2017-12-02`. Hope that helps.

[2017-12-08 20:45] tmikulin opened #4031 "Error creating DNS HostedZone in k8 (on aws)"
I was in the process of creating a k8 cluster with kops on aws, and I ran into an interesting exception:

    error running task "DNSZone/foobar" (1m42s remaining to succeed): error creating DNS HostedZone "": InvalidParameter: 1 validation error(s) found.
    - missing required field, CreateHostedZoneInput.Name.

I created a hosted zone on Route 53 and set the **zone** type to **private**.

I als

[2017-12-08 20:59] geojaz commented on #3964
Just kidding- this is addressed in #3997. I'll work to help get this in.

[2017-12-08 22:12] #4029 closed

[2017-12-09 00:20] geojaz commented on #4031
@tmikulin Thanks for the report. If we're going to debug this, I'll need some information- most specifically the exact command that you're using to create this cluster via kops.

But I'm also interested to know, which version of k8s are you attempting to install? You're probably best off installing something more current than this tutorial uses- 1.8.x is where I would start.

Even if you decide th

[2017-12-09 03:04] adammillerio opened #4032 "Add the ability to deploy T2 Unlimited instances on AWS"
1. AWS recently announced [T2 Unlimited instances](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/t2-unlimited.html), which is essentially just a setting on a t2 class instance that will make it "purchase" extra credits instead of returning to the baseline performance level once credits are exhausted. This would be ideal for a master in a low-utilization cluster, as it would allow for a cheap

[2017-12-09 17:48] BobbyJohansen commented on #3974
I have tried this out and it works very nicely. Thank you! We can close

[2017-12-09 17:48] #3974 closed

[2017-12-10 20:47] jacobleonw opened #4033 "Docker fails to start when using awslogs"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
`Version 1.8.0`
2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes ve

[2017-12-11 12:05] glend commented on #4004
There is rotation in place, every index is named logstash-[date]. You can run a cronjob that automates the task of removing older indexes.

Also see https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-snapshots.html if you want to archive older logs.

[2017-12-11 12:43] tmikulin commented on #4031
Hi, geojaz

I wrote all the details on my original post, the version etc..

I think I found a solution the original problem, but now I have a different error:

**unable to pre-create DNS records - cluster startup may be slower: Error pre-creating DNS records: InvalidChangeBatch: RRSet with DNS name api.euwest2.foo.bar.pvc. is not permitted in zone bar.vpc.**

Does that mean that there is some prob

[2017-12-11 13:04] RaphaelHerd opened #4034 "Mount Volume in KubeApiServer"
Hey,

I would like to ask if it's possible to add a volume into the API server? I tried something like kops edit cluster .... but without any luck.

Maybe I miss something.

Thanks for helping

[2017-12-11 13:08] lleszczu opened #4035 "Tagging all created resources in AWS with KubernetesCluster tag"
I noticed that certain resources are not tagged with KubernetesCluster value (right now I see it on NatGateway), which is problematic, when running multiple kops clusters in the same region.

I believe this should be set for any kops-created resource for easier filtering in console/API (if supported by AWS: http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html).

[2017-12-11 13:29] szwed commented on #4035
Ideally, every AWS resource supporting tags should be tagged with KubernetesCluster value (tag key: "Name")

[2017-12-11 15:53] KashifSaadat opened #4037 "Canal on K8s v1.8 with chain append mode no longer respects networkpolicies"
The information around this issue is documented here: https://github.com/projectcalico/canal/issues/115

Depending on the outcome from the above issue, we will likely need updates to the following files:
- [k8s-1.8.yaml.template](https://github.com/kubernetes/kops/blob/1.8.0/upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.8.yaml.template)
- [k8s-1.6.yaml.template](htt

[2017-12-11 16:26] activeshadow commented on #2354
You can also use the CA capabilities now built into Kubernetes to achieve this. For example, I have a k8s v1.8 cluster running in AWS and I wanted to add another cluster admin. I generated a new RSA key and certificate signing request for the new user using openssl, making sure to set the organization to `system:masters` when generating the CSR. I then submitted the CSR via a `CertificateSigningRe

[2017-12-11 16:47] estebancrw commented on #3575
I'm also seeing this issue with a K8s cluster created with:
[code]
OS version `Container Linux by CoreOS 1576.4.0 (Ladybug)`

Private topology with public dns using Calico
[code]

[code]

[2017-12-11 17:16] gambol99 commented on #4034
/assign @gambol99

Hi @RaphaelHerd, there isn't a mechanism to add an additional volume via kops at the moment. The best you could do as of now would be something hacky with a daemon and privileged container (though not a recommendation) ...

[2017-12-11 17:20] gambol99 commented on #4021
/assign @gambol99

hi @arlampin ... you could use the [hooks](https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#hooks) extension to get this configured, assuming it can't be done by a privileged daemonset.

[2017-12-11 17:20] caseydavenport commented on #4037
@KashifSaadat just to confirm, this is only an issue when the `chainInsertMode`  has been set to `append` - the default `insert` continues to work as expected.

[2017-12-11 17:33] KashifSaadat commented on #4037
Yes I believe so, because the flannel rules are then at the bottom of the `FORWARD` chain and so the Calico rules will be processed first.

[2017-12-11 18:12] caseydavenport commented on #4037
See my comment [here](https://github.com/projectcalico/canal/issues/115#issuecomment-350808410).

Essentially, Calico is behaving as expected for the given config. There's probably room for a change in flannel to play nicer in this situation, but if possible I'd recommend using the default `chainInsertMode`.

[2017-12-11 18:26] tgrosinger opened #4039 "Cluster doesn't start when using Calico and etcd v3"
1. What `kops` version are you running? **1.8.0**
2. What Kubernetes version are you running? **go1.8.3**
3. What cloud provider are you using? **AWS**
4. What commands did you run?  What is the simplest way to reproduce this issue?

[code]

5. What happened after the commands executed? What did you expect to happen?

When the below yaml is used to create a cluster, the following is the resulting

[2017-12-11 18:32] tgrosinger commented on #4039
The etcd configuration in the cluster manifest was copied from the documentation updates made in 7c2ce19 by @gambol99

[2017-12-11 18:34] chrislovecnm commented on #4039
/cc @blakebarnett @caseydavenport

[2017-12-11 18:40] blakebarnett commented on #4039
I don't see anything about etcdv3 in here... ?

[2017-12-11 18:42] chrislovecnm commented on #4021
We should check what to use in gce.

[2017-12-11 18:43] tgrosinger commented on #4039
Oops, I posted the working version of the manifest. I updated the original post with the non-working version that is configured for etcdv3.

[2017-12-11 18:43] chrislovecnm commented on #4021
And vsphere and do should be left alone

[2017-12-11 18:44] chrislovecnm commented on #4031
Please use kops 1.8 as it is backwards compatible. Also you have a cve in that release

[2017-12-11 18:46] chrislovecnm commented on #4034
Hook as well would work.

[2017-12-11 18:47] chrislovecnm commented on #3955
You can use kops 1.8 with a k8s 1.7 server. Try out the new features and let us know

[2017-12-11 18:50] chrislovecnm commented on #3965
The shared tag is the kops don’t delete tag. If a resource is not tagged or has the shared tag then kops should leave the resource alone.

[2017-12-11 18:51] chrislovecnm commented on #2354
@activeshadow you mind adding that to docs? We need to start a cluster hardening / best practices doc.

[2017-12-11 18:52] chrislovecnm commented on #4025
So first please use kops 1.8

Secondly yes this is an enhancement that we need in kops validate cluster. We need to pull back errors from the asg.

[2017-12-11 18:53] chrislovecnm commented on #4025
If you have any desire to implement this change we always appreciate contributions!!

[2017-12-11 18:56] caseydavenport commented on #4039
Calico supports TLS to etcd, so naively we could just add that to the manfiest? I'm a bit distant from the kops nitty-gritty details though. Are the certs etc. available through k8s secrets?

[2017-12-11 18:58] blakebarnett commented on #4039
Yeah you could modify the YAML in the state store s3 bucket and it'd work until the next kops update.

[2017-12-11 19:00] tgrosinger commented on #4039
Oh I missed that. I removed that setting and things seem to be coming up correctly. Let me do a little more validation and then I will close this issue. Thank you!

[2017-12-11 19:05] #4039 closed

[2017-12-11 19:08] kgignatyev-inspur opened #4040 "DNS resolution for external domains if VERY slow from within containers on CentOS hosts"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
1.8.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version spe

[2017-12-11 20:29] kgignatyev-inspur commented on #4040
Interesting observation: if I try to resolve directly agains pods then DNS resolution is quick!

time nslookup google.com 100.96.2.5:10053
Server:    100.96.2.5
Address 1: 100.96.2.5

Name:      google.com
Address 1: 2607:f8b0:4004:803::200e iad23s59-in-x0e.1e100.net
Address 2: 216.58.217.78 iad23s41-in-f78.1e100.net
real	0m 0.06s
user	0m 0.00s
sys	0m 0.00s
/ #

but going via service is sloooowwww

[2017-12-11 21:28] kgignatyev-inspur commented on #4040
when I run alpine and try to do nslookup from within alpine container it would not resolve google.com with this output:

/ # nslookup google.com
;; reply from unexpected source: 100.96.2.10#53, expected 100.64.0.10#53
;; reply from unexpected source: 100.96.2.10#53, expected 100.64.0.10#53
;; reply from unexpected source: 100.96.2.10#53, expected 100.64.0.10#53
;; connection timed out; no servers

[2017-12-11 21:47] jonhosmer commented on #1873
This change was causing lots of errors on my cluster:

[code]

I had to manually add the "ec2:DescribeTags" action to `kopsK8sEC2NodePerms` when kops changed it from `ec2:Describe*` to just `ec2:DescribeInstances` (https://gist.github.com/chrislovecnm/a93941b4afbbd5afe746354af0cfddcc#file-iam-node-json).

I am not sure what exact part of kubernetes is calling `DescribeTags` but each node seems to

[2017-12-11 22:06] igoratencompass commented on #4006
@lleszczu just as a side note, assuming that disk space is the main concern for making this request, kops has a support for disk size and type in IG. You can use that to set the disk size to 200G lets say to override the default one (20G iirc).

[2017-12-11 22:42] igoratencompass opened #4042 "Expose the Calico interface and the ipip tunnel MTU for configuration in the kops specs"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- FEATURE REQUEST TEMPLATE --------------------

1. Describe IN DETAIL the feature/behavior/change you would like to see.

Please expose the mtu variables for Calico, both for calico interface and the ipip tunnel, similar to what is done for weave:

[code]

2. Feel free to provide a design support

[2017-12-11 22:52] chrislovecnm commented on #1873
Is a master calling this or a node?  Is protokube running?  kubelet should be the only thing on the nodes.  @KashifSaadat you guys seeing these errors?

Also, @jonhosmer what version of k8s?

Different account types have different ec2 instance types, gov for example.  If you have a better option, please PR it!! Or file an issue :) Another reason is that new instances often require code in both kop

[2017-12-12 00:21] luhkevin commented on #4040
I used the default AMIs and am also noticing this. I think it might have to do with `flannel` networking, because I created two k8s clusters with kops, the only difference being the networking, and the cluster that uses the default networking mode works fine re: DNS.

[2017-12-12 02:16] robinpercy commented on #2681
@chrislovecnm I just hit this as well with kops 1.8.0. Do we want to fix it in kops? There's a case to be made for using something like kube2iam instead.

[2017-12-12 03:05] chrislovecnm commented on #2681
Yes we need this in kops. We may be missing another perms as well. Really we should have a use autoscalig flag to enable / disable in the api.

[2017-12-12 03:07] chrislovecnm commented on #4040
Can someone try kubenet? Start with what is tested the most.

[2017-12-12 03:17] robinpercy commented on #2681
sounds good. Will open a PR.

/assign

[2017-12-12 06:26] luhkevin commented on #4040
Yeah, in my above comment, I meant `kubenet` when I said "default networking mode". DNS lookups work fine there, but not with `flannel` networking.

[2017-12-12 06:48] ms4720 opened #4043 "docs/cluster_spec.md etcdClusters yml chunk is duplacated"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

N/A docs issue

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes v

[2017-12-12 07:08] vainu-arto commented on #2354
However keep in mind that the certificates cannot be revoked, so any access you grant using those is permanent (until the cert expires). Sadly PR #33519 (that fixes at least parts of this) has not been applied.

[2017-12-12 07:27] kgignatyev-inspur commented on #4040
just tried, when used --networking=kubenet DNS resolution is instantaneous:

kubectl run alpine -ti --image=alpine

/ # time nslookup google.com
nslookup: can't resolve '(null)': Name does not resolve

Name:      google.com
Address 1: 172.217.3.174 sea15s11-in-f174.1e100.net
Address 2: 2607:f8b0:400a:808::200e sea15s11-in-x0e.1e100.net
real	0m 0.00s
user	0m 0.00s
sys	0m 0.00s

[2017-12-12 07:30] activeshadow commented on #2354
OY! Good point @vainu-arto, thanks!

Perhaps one way of getting around this would be to create new [cluster]
role binding(s) that reference a new user or group name that is used as
the common name (CN) and/or organization (O) values in the certificate
signing request?

On Mon, Dec 11, 2017 at 11:08:59PM -0800, vainu-arto wrote:

[2017-12-12 07:41] ms4720 commented on #4043
I am an idiot sometimes, things looked different after coffee :/

[2017-12-12 07:41] #4043 closed

[2017-12-12 10:20] bhack commented on #1726
There is some recent upstream activity in https://github.com/kubernetes/kubernetes/issues/54011.

[2017-12-12 13:04] shyamram commented on #3375
Is there a work around or other options to using private with kops while this feature is enabled?

[2017-12-12 13:25] jonhosmer commented on #1873
The cloudwatch logs say the call is coming from the worker node itself and trying to describe only its own tags (the master nodes might also be doing this but the IAM role for masters allows this by default so we didn't see any errors from any masters).

Each worker node has the following services `enabled`:
[code]

A `docker ps` shows each node running containers `flannel`, `kube-proxy`, and `pro

[2017-12-12 13:48] chrislovecnm commented on #1873
@jonhosmer are you running gossip or dns based kops? If dns can you stop the protokube service and see if the calls stop?

Regardless we see to be missing a new role from somewhere.

[2017-12-12 15:20] arthur-c commented on #3433
The error also exists with the following config:
- existing vpc
- private nodes & masters
- public api loadbalancer

The same config works fine in a new vpc managed by kops

[2017-12-12 16:44] gambol99 commented on #4012
/close

[2017-12-12 22:25] jkemp101 opened #4049 "Kubelet 'failed to get cgroup stats for "/system.slice/kubelet.service"' error messages"
1. What `kops` version are you running? The command `kops version`, will display
 this information.
`Version 1.8.0 (git-5099bc5)`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
[code]
3. What cloud provider are you using?
AWS

4. What commands did you run?  What is the sim

[2017-12-13 00:49] emwalker commented on #2354
Pending a way to manage tokens from kops, is there a convenient way to carry out this step?  (We have three masters.)

[2017-12-13 01:09] BobbyJohansen opened #4050 "Altering autscale group in AWS makes dns faulty"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

kops version 1.7.1

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernet

[2017-12-13 07:51] thomasjungblut commented on #4050
We actually see a similar behaviour on our newly upgraded 1.8.4 cluster. We have a cluster-autoscaler running and everytime the node is terminated it stays around as a zombie.

We solve it by deleting the node that can't be contacted via:

To me it looks like kubernetes doesn't pick up a terminated node though.

[2017-12-13 09:22] KashifSaadat commented on #1873
I'm afraid I've not seen this issue when using the tightened IAM policy.

@jonhosmer would you be able to provide your Cluster Spec (with sensitive info dropped), I'll try to recreate the issue and investigate.

[2017-12-13 09:42] SharpEdgeMarshall commented on #2354
@emwalker `kops rolling-update --force --instance-group <masters-ig-name>` should do it

[2017-12-13 12:56] kubebc opened #4052 "How to enable Kubernetes alpha features via KOPS?"
Hi, Team,
I'm trying Istio 0.3.0, there's request from it.
"If you wish to enable automatic injection of sidecar, you need to turn on Kubernetes alpha features in your cluster."

**So how to enable Kubernetes alpha features via KOPS?** Thanks!

Btw, I used to do it this way following https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md
[code]
But not working, found nothing in --runt

[2017-12-13 13:34] gambol99 commented on #4052
Hi @kubebc ... can you provide a link to the docs showing what it needs please.. as i'd assume it would just need Initiatlizers admission controller and the admissionregistration.k8s.io/v1alpha1: true for dynamic registration ..

Also whats version of kops are your using? `kops version`

[2017-12-13 13:35] SharpEdgeMarshall commented on #3991
So actually to use kops 1.8 and M5 instances what we should do?

[2017-12-13 13:38] blancsys opened #4054 "AutoscalingLaunchConfiguration error (unsupported instance type p2.xlarge)"
Hi, I'm trying to deploy a Kubernetes cluster using GPU instance types (p2.xlarge) as described at https://github.com/kubernetes/kops/blob/master/docs/gpu.md.

However, after edit the ig to use p2.xlarge and execute the "kops update cluster <cluster-name> --yes" command, I get the following error:

[code]

This problem occurs even if I configure minNodes=1 and maxNodes=1. It seems like AWS Autosca

[2017-12-13 13:56] kubebc commented on #4052
Hi, gambol99,

# kops version
Version 1.7.1 (git-c69b811)

And here's the link, https://istio.io/docs/setup/kubernetes/quick-start.html

After added this spec I mentioned above,  no kube api server is running any more.
[code]
$ ps -ef|grep api
core      2637  2626  0 13:50 pts/0    00:00:00 grep --colour=auto api

$ kubectl get pods -n hp --all-namespaces
Unable to connect to the server: dial tcp

[2017-12-13 14:04] tommyvn opened #4055 "Kops 1.8, gossip clusters and route53 no longer play nicely together"
1. What `kops` version are you running? 1.8.0

2. What Kubernetes version are you running? 1.8.4

3. What cloud provider are you using? AWS

4. What commands did you run?  `kops create cluster --cloud aws --topology private --networking weave --node-count 3 --zones ${AWS_DEFAULT_REGION}a,${AWS_DEFAULT_REGION}b,${AWS_DEFAULT_REGION}c --node-size m4.2xlarge --master-zones ${AWS_DEFAULT_REGION}a,${AW

[2017-12-13 14:51] lleszczu commented on #4006
It's not exactly that, the scenario that I want to address is:
- something bad happens, that uses all available disk spaces and/or inodes on /var/lib/docker
- tools for monitoring/alerting/mitigating the issue are not affected, because they use different partition for storing theirs state

[2017-12-13 15:09] BobbyJohansen commented on #4050
kubectl get nodes though does not show any phantom nodes. It shows all the new nodes that the autoscaling group made.

[2017-12-13 15:11] thomasjungblut commented on #4050
yeah maybe it is also a slightly different issue, since we see "no route to host" rather than refused connections or timeouts.

[2017-12-13 15:16] gambol99 commented on #4052
So I looked at the docs and I checked out the install files ...

[code]
Appear to be right ..it's just using an Initializer to inject the sidekick ..

[code]
This would require >= 1.7 kubernetes as well ...

[2017-12-13 15:33] chrislovecnm opened #4056 "Document TF workflow"
High-level outline of documenting how to use manifests, templating, etc

/area documentation

1. generate a cluster manifest with --dry-run -`kops create cluster --zones us-west-2b -oyaml --dry-run --name $NAME --networking weave --authorization RBAC > $NAME.yaml`
1. edit the manifest to add anything you need such as audit logs for the API server.
1. figure out what if anything needs to be templat

[2017-12-13 15:38] BobbyJohansen commented on #4050
It is almost like kube-dns, kube-dns-autoscaler, and dns-controller couldnt handle new nodes coming into the system. I moved over to the new nodes in a rolling fashion. I must be missing some understanding of how kubernetes handles dns under the hood. I just assumed it would detect the new nodes and handle the amount of kube-dns pods it needs to scale to. However my bet is that the scaler cant sca

[2017-12-13 15:44] thereallukl opened #4057 "Add kops patch command."
Having `kops patch` command (just like: https://kubernetes-v1-4.github.io/docs/user-guide/kubectl/kubectl_patch/) would drastically ease up spec modifications when using scripted approach for managing the cluster.

[2017-12-13 16:00] lleszczu opened #4058 "Validate object schema when loading spec from file."
When objects are created/modified with kops `replace create/replace -f` kops should verify if document is compliant with schema. If it's not compliant kops should fail instead of silently ignoring fields.

Example:
After setting `spec.sshAccess` to `spec.sshAcce` (typo) kops is removing whole section from manifest. I believe it should fail in such scenario.

[2017-12-13 16:13] lleszczu opened #4059 "kops get cluster missing fields"
When running `kops get cluster -o json` `kind` and `apiVersion` fields are missing.

I'm using `kops 1.7.1`

[2017-12-13 16:19] BobbyJohansen commented on #4050
I attempted to scale up the dns pods using the config map in the dns-autoscaler using "min:3" which scaled them up but with no affect to my pods attempting to access a host using dns

[2017-12-13 16:45] emwalker commented on #2354
@SharpEdgeMarshall thank you.  I learned last night that `kops rolling-update --force` (without `--instance-group <masters-ig-name>`) _rebuilds_ the nodes.  Does the `--instance-group` flag cause the nodes just to be rebooted?

[2017-12-13 16:52] SharpEdgeMarshall commented on #2354
no this flag just limits the command to some ig.
IMHO your instances should be immutable: rebuilding == rebooting

[2017-12-13 17:31] chrislovecnm commented on #4058
This is already an open enhancement issue. On mobile so not going to search for the issue.

[2017-12-13 17:57] jonhosmer commented on #1873
@chrislovecnm dns (I think).  The cluster was created with:
[code]

I checked the new instance group I launched with kops 1.8.0 and it does not have a `protokube` service running.  I just reapplied the security group change (remove `Describe*` add `DescribeInstances`) and I see authorization failures coming from nodes in that new instance group:

[code]

[2017-12-13 17:58] KashifSaadat commented on #4059
Hi @lleszczu, I believe this is fixed in kops v1.8.0. Please can you retest and confirm?

FYI kops v1.8.0 is backwards compatible with older kubernetes versions so you won't need to update to Kubernetes v1.8 to test.

[2017-12-13 17:58] jonhosmer commented on #1873
@KashifSaadat Cluster spec attached [production-us-east-1-8.XXXXXXX.com-spec.yaml.txt](https://github.com/kubernetes/kops/files/1556478/production-us-east-1-8.XXXXXXX.com-spec.yaml.txt)

[2017-12-13 18:00] jonhosmer commented on #1873
...And I just noticed the `"userAgent": "Boto/2.46.1 Python/2.7.13 Linux/4.13.16-coreos-r2",` in the CloudTrail event log so maybe this is not a Kops issue after all...  I am looking into what other pods I have running that could be using python/boto now.

[2017-12-13 18:26] chrislovecnm commented on #3991
Use the stretch image. kope.io/k8s-1.8-debian-stretch-amd64-hvm-ebs-2017-12-02 it is alpha in the channels.

[2017-12-13 18:28] chrislovecnm commented on #4040
Can someone file an issue with flannel, please?

[2017-12-13 19:09] jonhosmer commented on #1873
Yup, this appears to be a DataDog issue, not kops, my apologies!  I have a datadog daemonset running and appearantly the datadog agent uses the node's IAM instance profile to retrieve the tags:
https://github.com/DataDog/dd-agent/blob/master/utils/cloud_metadata.py#L178

Is there a way to modify the IAM role policy in the cluster spec or kops create flags?

If not, I will probably either disable t

[2017-12-13 19:39] jonhosmer commented on #1873
This does not appear to be the case.  My cluster spec has `legacy: true` but is still updated with the new stricter IAM policies.  Want me to make a separate issue for this?

[2017-12-13 19:48] BobbyJohansen commented on #4050
Also feels very similar to this issue: https://github.com/kubernetes/kubeadm/issues/193

[2017-12-13 19:57] onyxraven commented on #3868
@justinsb mind linking those PRs for easy tracking from this ticket?

[2017-12-13 20:09] KashifSaadat commented on #1873
A `kops update ..` will still show updates to the IAM roles, which may just be slight reordering and Statement IDs being added in. The permissions themselves should be mostly the same / identical.

If some permissions are being incorrectly dropped and are causing problems then yes please raise a new issue and feel free to assign me.

[2017-12-13 20:12] thomasjungblut commented on #4050
Thanks for the link Bobby. I think we may have forgotten to update the kops AMI on upgrading, here was a fix along for iptables and forwarding https://github.com/kubernetes/kops/issues/3958

[2017-12-13 20:26] BobbyJohansen commented on #4050
Oh interesting! Can I resolve this in my current clusters manually? or should i rebuild my clusters using Kops:Master?

[2017-12-13 20:28] thomasjungblut commented on #4050
I believe if you update your instance groups to include the new AMI, it should be enough to get it.
Here's the manifest about the latest AMIs:
https://github.com/kubernetes/kops/blob/master/channels/stable#L16

[2017-12-13 20:33] chrislovecnm commented on #4050
Actually nodeup in kops 1.8 should fix it. Kops is backwards compatible. I would test rolling the cluster with kops 1.8 in dev.

[2017-12-13 20:37] BobbyJohansen commented on #4050
So I should just upgrade to kops 1.8?

[2017-12-13 20:38] chrislovecnm commented on #3868
This is fixed in 1.8. Please see release notes, let us know if you need more details!!

[2017-12-13 20:44] BobbyJohansen commented on #4050
Will try switching AMIs and then moving to kops 1.8

[2017-12-13 20:53] chrislovecnm commented on #4050
You need kops 1.8. That has the fix. Ami does not matter, personally I would do both. You can do a rolling update. But I am not certain that is your problem. Test ;)

[2017-12-13 21:02] dmfenton commented on #754
I'm interested in this too. I want to script saving a bunch of certs to the OSX keychain. Apparently you can't automatically a new cert as trusted if one is already in the keystore with the same CN

[2017-12-13 21:07] chrislovecnm commented on #4052
Please use kops 1.8 as it is backwards compatible ;)

[2017-12-13 21:20] satran commented on #4056
I have been using kops for a while now and would love to contribute. If it’s okay I would like to work on this.

[2017-12-13 21:32] BobbyJohansen commented on #4050
Update: Upgrading the AMIs on all of the worker nodes did not resolve the issue. Moving to a 1.8 cluster and 1.8 kops

[2017-12-13 22:25] BobbyJohansen commented on #4050
Do you guys know if the errors in kubedns sidecar are benign or not?

[2017-12-13 23:37] gobengo commented on #1026
Folks interested in this should have a look at the tf module in https://github.com/poseidon/typhoon

[2017-12-14 04:25] #4015 closed

[2017-12-14 04:27] chrislovecnm commented on #4055
Well said, we need to triage, but would welcome a PR!

[2017-12-14 07:25] #3950 closed

[2017-12-14 07:38] kubebc commented on #4052
kops edit cluster
[code]

[2017-12-14 08:21] thuandt commented on #3868
FYI, if you want use c5 please ensure you didn't use EBS volume. Because kubernetes 1.8 can't mount it as devices path.

Waiting for 1.9 you want to use c5 with EBS

[2017-12-14 09:51] argusua commented on #3605
Same for me after moving to image 2017-12-02 (both 1.7 and 1.8). 40% of started spot instances not added to the cluster.

[2017-12-14 10:36] bhack commented on #1842
Is this plan still active?

[2017-12-14 10:41] ese commented on #3605
I have this workaround in the cluster spec that seems to work
[code]

[2017-12-14 11:11] max-rocket-internet commented on #1026
@gobengo looks interesting but I don't think project is designed to be used in a live environment?
For example they are using `aws_instance` resource:
https://github.com/poseidon/typhoon/blob/master/aws/container-linux/kubernetes/controllers.tf#L17

Instances that exist outside of ASGs will not be replaced automatically so can't really be considered resilient.

[2017-12-14 11:25] kubebc opened #4068 "How to change k8s sevice and pod CIDR?"
Hi, Team,
How to change k8s service and pod CIDR?
I have more than two 1.7.1 kops stacks running in the same aws region, need to keep service and pod CIDR unique.

I tried to update nonMasqueradeCIDR like this on kops 1.8
# kops edit cluster
[code]
# kops update cluster ${NAME}
[code]

# kops rolling-update cluster --yes
[code]
# kops rolling-update cluster --yes
[code]

[2017-12-14 12:47] jjo opened #4069 "upgrade weave to 2.1.3"
`kops-1.8` still uses `weave` 2.0.5, we should switch to 2.1.3, some picks from
https://github.com/weaveworks/weave/blob/master/CHANGELOG.md ->
* Improved Kubernetes Network Policy - Weave Net now supports the 'v1' policies introduced in Kubernetes 1.7 as well as the 'beta' policies supported previously (_read_: weave 2.0.5 is _unusable_ for 1.7+ network policies)
* Weave Net now reclaims IP addre

[2017-12-14 13:10] argusua commented on #3605
@ese thank's for the workaround! It works.

[2017-12-14 14:04] willejs commented on #3693
@chrislovecnm I know you have an issue to clear up how this should work...
If you specify the existing aws ec2 key name in the cluster spec/cli when you create the cluster, should you still have to create the secret with the public key in?

[2017-12-14 15:27] anitakumar opened #4071 "how do i use existing subnets in kops 1.7.1 Kops seems to try to create them if they are already existing"
1. kops 1.71

3.cloud provider = aws

4. kops update cluster <cluster_name> --yes

5. in my config i have specified subnets which are already in aws and

6. i expect that if they exist they should not create it but i get the  error

error running task "Subnet/<subnet name>" (8m56s remaining to succeed): error creating subnet: InvalidSubnet.Conflict: The CI
DR '' conflicts with another subnet

[2017-12-14 15:59] gambol99 commented on #4071
hi @anitakumar .. you need to add the id: subnetID in the subnet definition ..

https://github.com/kubernetes/kops/blob/master/pkg/apis/kops/cluster.go#L355-L356

[2017-12-14 16:02] gambol99 commented on #4069
hi @jjo .. i believe this has been [merged](https://github.com/kubernetes/kops/pull/3944) already

[2017-12-14 16:08] gambol99 commented on #4068
Having done this before, I found changing the service address is very fiddly as even if you update the config any kubernetes services you've got in your cluster will still have the old addresses (include the default kubernetes api service) ... In the end I just blasted the clusters and rebuilt as while i got it working by doing a cloudonly rollout, deleting all the services and recreating I was ne

[2017-12-14 16:11] gambol99 commented on #4056
Controversial question but I thought I'd ask :-) .. Should we support for all three streams? .. i.e. do we need to support three ways of building a kops cluster in the same cloud beyond backwards compatibility

[2017-12-14 16:13] anitakumar commented on #4071
Thanks I did that the cluster is up. thanks

[2017-12-14 16:13] #4071 closed

[2017-12-14 16:33] darron opened #4072 "kops get cluster exits with 1 if no clusters are found."
1. What `kops` version are you running?  1.8.0

2. What commands did you run?  What is the simplest way to reproduce this issue?

kops 1.8.0 exits with 1 if no clusters are found.

[code]

3. What did you expect to happen?

Previous kops versions don't exit with 1 - they exit with 0:

[code]

4. Please run the commands with most verbose logging by adding the `-v 10` flag.
  Paste the logs into thi

[2017-12-14 17:21] murali-reddy commented on #3986
@khelll just tested with laest cops

[code]

and with 1.8.4
[code]

I dont see any issue

[code]

[2017-12-14 17:25] #2681 closed

[2017-12-14 17:57] khelll commented on #3986
If I recall correctly, this happened because I upgraded my KOPs to 1.8 then upgraded the cluster via rolling update.

However, when I create a new cluster, I don't get that error.

[2017-12-14 18:10] chrislovecnm commented on #3986
@khelll upgrade should work as well.  Can you provide more details?

[2017-12-14 18:20] bhvr-fmarceau commented on #2712
Upvoting this issue! I'd really like to be able to have a dry-run option to validate changes in yaml!

[2017-12-14 18:46] chrislovecnm commented on #3605
@ese nice find, any ideas on what we should do for the race condition?  Not familiar with check-aws-tags

[2017-12-14 18:47] jjo commented on #4069
Ah cool thanks, I spotted it while using kops 1.8
(seeing that PR to actually merged just a few hours ago, waiting for 1.8.1 now :) ).

Cheers! --jjo

[2017-12-14 18:47] #4069 closed

[2017-12-14 20:49] lleszczu commented on #4059
@KashifSaadat I checked 1.8.0 today and it looks to be working fine.

[2017-12-14 20:49] #4059 closed

[2017-12-14 21:11] weaseal opened #4073 "Make `kops export kubecfg` support `--kubeconfig`"
------------- FEATURE REQUEST TEMPLATE --------------------

1. Describe IN DETAIL the feature/behavior/change you would like to see.

`kops export kubecfg` should allow me to add `--kubeconfig` to specify a non-default kubeconfig file.

The reason for this is to support automation, I am generating (using ansible) a series of kubeconfigs for many users, and I need to be able to update multiple fil

[2017-12-14 21:57] chrislovecnm commented on #2712
We actually just need to get validation working better internally first. Always appreciate help!

[2017-12-14 21:59] chrislovecnm commented on #1842
@bhack the kubeadm team is looking at breaking up kubeadm into usable parts, but at this point we are not able to.

[2017-12-14 22:00] chrislovecnm commented on #3868
To be clear pvc volumes are not supported in k8s 1.8 - will be supported in 1.9

[2017-12-14 22:05] chrislovecnm commented on #4049
@blakebarnett ideas?

[2017-12-14 22:13] blakebarnett commented on #4049
Yes, dupe of https://github.com/kubernetes/kops/issues/1869

[2017-12-14 22:29] jkemp101 commented on #4049
@blakebarnett This repeating error message about collecting stats is a duplicate of setting kubelet reserved resources?

[2017-12-14 22:59] blakebarnett commented on #4049
oh sorry, I misread the errors.  I believe it's because the base image doesn't have proper cgroups configured though, which is ultimately the same problem as #1869

[2017-12-14 23:08] jkemp101 commented on #4049
Well that doesn't sound good. I guess my first question is if the `kubeletCgroups` and `runtimeCgroups` settings I'm using is a safe workaround or is this a bigger issue?  I got that fix from the stackoverflow thread mentioned in this issue https://github.com/kubernetes/kubernetes/issues/53960 but I didn't really research if this is a good fix or if I should be more concerned.

I should have menti

[2017-12-15 02:10] sami9gag commented on #3986
I ran into this issue when upgrading as well. It only happened on a multi-master upgrade, our single master staging environment didn't have the same issue.

I'm just guessing here, but what I assume that happened is that the legacy annotation format init-container setup took precedence over the new syntax. I noticed that my daemonset had all 3 formats, alpha and beta annotations as well as the spe

[2017-12-15 02:23] blakebarnett commented on #4035
This should probably use the new form: `kubernetes.io/<clustername>=<owned|shared>`

ref: https://github.com/kubernetes/kubernetes/issues/35052

[2017-12-15 04:52] murali-reddy commented on #3986
@chrislovecnm any presribed way to do CNI upgrade.  I see your comment in #3620.

[code]

I have not addressed your comment. Has it got anything to with this issue.

[2017-12-15 05:19] argusua commented on #3605
@chrislovecnm It runs a simple sh script which waits for ec2 tags:
[code]

[2017-12-15 05:32] rdrgmnzs commented on #4056
@gambol99 at least for me, currently not having the ability to export TF templates would just about kill the way I use Kops. This is because I modify the outputted templates to support some of the things I do. Such as re-using a already create SG and IAM role.

I know there is a PR pending that will cover both of those feature but I imagine many other folks having similar requirements, that may no

[2017-12-15 08:03] vainu-arto commented on #4028
This actually seems to happen more on Jessie than it did on Stretch, and also happens on M4 (but happens much more on M5). This seems to actually be a general bug in kops (probably a missing dependency between services causing a timing issue).

[2017-12-15 08:57] kubebc commented on #4052
I tried it on a new kops 1.8 stack, still no luck as well - masters are NOT ready. Here're what i've done.

**kops edit cluster ${NAME}**
[code]
**kops update cluster ${NAME}**
[code]
kops update cluster ${NAME} --yes
**kops rolling-update cluster ${NAME} --yes**
[code]
**kops validate cluster**
[code]

[2017-12-15 09:52] anitakumar opened #4083 "have nodes in public and private subnets"
1. kops 1.71
aws cloud provider

hi,

i have a cluster running with a utility, private and public subnets. These are all shared. Currently the masters are in the utility subnet, the nodes are in the private and the public subnet is empty.

I would like to add nodes into the public subnet so basically have another instance group in the public subnet. Is that possible to do.

Thanks

[2017-12-15 11:10] anitakumar opened #4084 "error fialed to create an external load balancer in kubernetes cluster on a shared public subnet"
i am running kops 1.7.1 on aws and had this error

i was running the command
kubectl create -f helloworld-service.yml

Failed to create load balancer for service default/helloworld-service: could not find any │
suitable subnets for creating the ELB

i have added the public subnet into the config. They do not have the KubernetesClutser tag as they already existed. I do not want to add the tags to t

[2017-12-15 12:20] damascenorakuten opened #4086 "Can't create AWS cluster because of SSH error"
**Version**
[code]

**Create cluster command**
[code]

**Error**
[code]

[2017-12-15 14:03] nebril opened #4087 "Add support for Cilium CNI plugin"
I would like for kops to be able to deploy Kubernetes clusters with Cilium [0] as the CNI plugin.

I will start working on that and send out PR when I have something working.

[0] https://github.com/cilium/cilium

[2017-12-15 14:39] anitakumar commented on #4084
I did add the name value tags in aws
for KuberntesCluster but for some reason did not find the subnets

[2017-12-15 16:22] #3275 closed

[2017-12-15 16:24] chrislovecnm opened #4088 "Change Docker registery for k8s containers"
https://github.com/kubernetes/kubernetes/pull/54174

See above

This needs to occur after the file assets PR

[2017-12-15 16:26] chrislovecnm commented on #3605
We probably need that in protokube

[2017-12-15 17:49] anitakumar commented on #4083
i have answered my own question.

kops create instancegroup  --subnets <subnets>

[2017-12-15 17:49] #4083 closed

[2017-12-15 17:51] anitakumar commented on #4084
the tag name is kubernetesCluster and the Value is the name of the cluster. i did not have the right cluster name so it didnt work.

[2017-12-15 17:51] #4084 closed

[2017-12-15 17:58] anitakumar opened #4089 "in kubernetes delete the cluster without deleting the s3 bucket"
hi,

i would like to keep the cluster config in the bucket and spin up a new cluster from that bucket. Can i  delete the cluster without deleting the bucket.

[2017-12-15 18:16] gnanda17 opened #4090 "kube-proxy - Failed to retrieve node info - cluster does not validate"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.8.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.5", GitCommit:"cce11c6a185279d037023e02ac5

[2017-12-15 18:56] jardel-lima opened #4091 "Could not automaticlly upgrade K8s to version 1.8.0 on Centos7 instances"
1. What `kops` version are you running? The command `kops version`, will display
 this information.  `1.8.0`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag. `1.7.11`

3. What cloud provider are you using? `aws`

4. What commands did you run?  What is the simplest way to rep

[2017-12-15 19:50] chrislovecnm commented on #4089
@anitakumar not at this time.  Take a look at using manifests, that way they manifest is local. https://github.com/kubernetes/kops/blob/master/docs/manifests_and_customizing_via_api.md

Questions?

[2017-12-15 19:52] chrislovecnm commented on #4091
This is a bug, and an easy fix. If you want to contribute I can point you in the right direction.

This needs to be updated. https://github.com/kubernetes/kops/blob/master/nodeup/pkg/model/docker.go

[2017-12-15 20:10] gnanda17 commented on #4090
When I changed the instance group name to not include dots it created the node successfully and the cluster validates. If '.' are not supported in instance group names - better documentation or a better error message would be helpful.

[2017-12-15 20:45] chrislovecnm commented on #4086
You try following the instructions and generate a new ssh key? Are you on linux?

[2017-12-15 20:56] chrislovecnm commented on #4028
M5’s are not supported with Kops Jessie image.

Do not use Jessie with m5’s please!

Use m4s all the time and have not seen this problem. But that is the older Jessie image.

[2017-12-15 21:12] wbauern commented on #4052
We are having the same issue as kubecb trying to get Istio running in a kops created k8s cluster.  We are running kops 1.8.0.  We have tried to enable the alpha features the same way and are having the same result, the masters will not start up correctly.  Anything else we can try?

[2017-12-15 21:34] chrislovecnm commented on #4052
Are you sure the api versions are correct? Log errors from the cluster? What is not starting?

[2017-12-15 22:03] darron commented on #4072
This could probably be fixed by something like this:

[code]

[2017-12-15 22:31] chrislovecnm commented on #4072
Is it an error that we do not find any clusters?

[2017-12-15 22:31] chrislovecnm commented on #4072
To me it is.

kubectl get po - where there are no pods does it throw an error?

[2017-12-15 22:38] chrislovecnm commented on #4049
How about we close this and continue on the other issue?

[2017-12-15 22:39] chrislovecnm commented on #4049
Never mind the other issue is closed. See if I can find the one I am thinking of

[2017-12-15 22:42] darron commented on #4072
saws cluster create --name vpc.dev.saws-dev.io \
  --vpc vpc-9de196fb \
  --network-cidr 172.25.0.0/16 \
  --nodes 3 \
  --zones us-west-2a,us-west-2b,us-west-2c \
  --kube-version 1.7.11

I don't think it should be an error if you don't find any clusters - especially if you don't have any. (It didn't operate that way before either - which is totally OK - just noting the change.)

If you can't con

[2017-12-15 22:50] chrislovecnm commented on #4072
Did I change it? On my phone tough to wade through diffs

[2017-12-15 23:22] darron commented on #4072
This is where it became an error:

https://github.com/kubernetes/kops/pull/3610

That reason for the change totally makes sense - if you're looking for a specific named cluster and it doesn't exist - it should probably throw an error. That's probably going to be the only way to figure that out given you're running from a script.

But I don't know if not having any clusters, secrets, instance group

[2017-12-15 23:31] blakebarnett commented on #4049
This one? https://github.com/kubernetes/kops/issues/3762

[2017-12-15 23:44] #3121 closed

[2017-12-16 00:01] tsupertramp opened #4092 "Enable rbac as default (for new clusters) / Show warning if not enabled"
Kops Version: 1.8
Cloud Provider: AWS

Hi community,

Creation of a new Cluster currently does not enable rbac as default. I think we should change that to increase security even if it is uncomfortable.

Rolling Update / Cluster Update / Create Cluster could additionally show a warning if rbac is disabled and link to some guidelines for kops (rbac enable).

Greetings, Thomas

[2017-12-16 00:08] chrislovecnm commented on #4092
@justinsb you know eta for upstream?

[2017-12-16 01:01] chrislovecnm commented on #4049
Closing as a duplicate of #3762

[2017-12-16 01:02] chrislovecnm commented on #3762
How do other operating systems handle this? Do we need different process for rhel? CoreOs?

/cc @gambol99

I know nada about CoreOS

We should put this in nodeup

[2017-12-16 01:13] jkemp101 commented on #4049
We can close this but I wouldn't call it a duplicate of #3762 unless you change the title.  That issue is a recommendation to follow best practices, this is an error message.  I'm trying to prepare new 1.8 clusters for critical production workloads.  Can someone clarify if:

1. This error message is benign and should be ignored
1. The listed workaround using `kubeletCgroups` and `runtimeCgroups` s

[2017-12-16 01:56] chrislovecnm commented on #4049
/cc @itskingori @gambol99 @justinsb

Added a couple of gurus to see if they can help

[2017-12-16 02:03] blakebarnett commented on #4049
I think his solution of adding:
[code]

[2017-12-16 05:10] 97turbotalon commented on #4033
I had the same issue and resolved it by removing
 awslogs-create-group=true
and manually creating the cloudwatch group

[2017-12-16 20:12] jordanjennings commented on #3927
The ability to define additional admission controllers on top of the default would be great. With cluster updates I always have to remember to compare my custom list with the defaults to manually build the defaults + extras list.  (Coincidentally we are also using `PodNodeSelector` and `PodTolerationRestriction`, which is why I noticed this issue).

[2017-12-17 09:40] dio commented on #4052
Using the latest kops ([1.8.0](https://github.com/kubernetes/kops/releases/tag/1.8.0)), the following changeset works for me.

[code]

And just to be sure 😄

[code]

[2017-12-17 16:22] chrislovecnm commented on #3203
Any update on this issue? Can we close?

[2017-12-17 16:28] chrislovecnm opened #4093 "Update running in existing vpc documentation"
The document does not talk about setting shared tags on shared resources properly. The users need to set shared tags on vpc, subnets, route tables, etc.

[2017-12-17 16:32] chrislovecnm commented on #4093
https://github.com/kubernetes/kops/blob/master/docs/run_in_existing_vpc.md

Is the document. It is also referring to the old style tag “KubernetesCluster” which has been changed.

[2017-12-17 23:38] #3883 closed

[2017-12-18 05:56] jurgenweber commented on #3911
Sorry, I have not gotten back to this really busy but over Christmas when things are slow I hope to do the upgrade.

So going by my Canal deployment image tags, I am on CRD's.... Assuming your "Calico v2.5+" == " image: quay.io/calico/node:v2.5.1"? Or is the CNI version the version I should be concerned with?

Do I? What image/part of Calico is in question here?

Ok.

[2017-12-18 08:12] vainu-arto commented on #4028
This may well be related to https://github.com/kubernetes/kubernetes/issues/43768 and thus a general problem with kubelet itself. Systemd-analyze on a failed M4 node running Stretch shows this:

systemd-analyze critical-chain kubelet.service
The time after the unit is active or started is printed after the "@" character.
The time the unit takes to start is printed after the "+" character.

kubelet

[2017-12-18 08:19] vainu-arto commented on #4028
Hmm. /etc/resolv.conf was written to much later:
ls -l /etc/resolv.conf
-rw-r--r-- 1 root root 90 Dec 18 07:59 /etc/resolv.conf

Does anything other than the dhcp client touch that? Could that be the smoking gun?

[2017-12-18 08:29] vainu-arto commented on #4028
No, probably not. The dhcp client rewrites that constantly.

[2017-12-18 08:36] krogon-dp commented on #4006
The most value I see in such separation is that whenever disk is full you are not able to ssh into machine.

[2017-12-18 08:38] vainu-arto commented on #4028
However this could very well be it:

Failed:
I1216 07:28:57.369519    1900 aws.go:847] Building AWS cloudprovider
I1216 07:28:57.369555    1900 aws.go:810] Zone not specified in configuration file; querying AWS metadata service
E1216 07:28:57.586712    1900 tags.go:94] Tag "KubernetesCluster" nor "kubernetes.io/cluster/..." not found; Kubernetes may behave unexpectedly.
W1216 07:28:57.586744    19

[2017-12-18 13:55] cohadar commented on #3607
It is stuck in file: **util/pkg/vfs/context.go**
kops -v 4 upgrade cluster
Using cluster from kubectl context: foo.bar.link

I1218 14:44:09.647864   20969 s3context.go:163] Found bucket "111122223333.eu-central-1" in region "eu-central-1"
I1218 14:44:09.648166   20969 s3fs.go:176] Reading file "s3://111122223333.eu-central-1/kops/foo.bar.link/config"
I1218 14:44:09.965902   20969 s3fs.go:213] List

[2017-12-18 13:59] cohadar commented on #3607
This timeout is really strange because both my local machine and all k8s cluster machines can curl github with no problems.

[2017-12-18 13:59] jardel-lima commented on #4091
Thanks for you quickly reply @chrislovecnm .

I haven't done anything specific with `go`, but  since it is a easy fix and if you give me the directions I would like to contribute to this project.

With a quickly look at the code, a guess it is just necessary to add docker 1.13.1 dependencies to the `dockerVersions` array. Am I right?

[2017-12-18 14:58] chrislovecnm commented on #4091
Correct, testing it is the fun part as you will need a full build.

[2017-12-18 15:19] cohadar commented on #3607
I think this is a problem with mac version of kops!
Using docker ubuntu image from same machine kops works fine!

[2017-12-18 15:43] swapnilsm commented on #3413
We are also facing the same issue.

[2017-12-18 15:51] huang-jy commented on #3413
@swapnilsm no, I never did. :(

[2017-12-18 17:37] #4007 closed

[2017-12-18 18:00] caseydavenport commented on #3911
@jurgenweber yep, `calico/node:v2.5.1` means Calico v2.5.1.

[2017-12-18 19:03] jacobleonw commented on #4033
thanks @97turbotalon - that did the trick!

[2017-12-18 19:03] #4033 closed

[2017-12-18 19:30] blakebarnett commented on #3609
I think we should probably just make this configurable.

It's breaking a few different things for us, for example a connecting to a DaemonSet with `hostNetwork: true` via a Service makes kube-proxy timeout for DNS because it's using `ClusterFirst` in the kube-proxy DaemonSet so it doesn't how now to lookup the podIPs and times out in a strange way:

[code]

[2017-12-18 20:00] zachaller opened #4103 "kops not not url encoding upon sha check etc"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
[code]

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version sp

[2017-12-18 20:27] lleszczu opened #4104 "Add support for masking systemd units via hooks."
Currently using hooks mechanism it's possible to disable systemd service. Unfortunatelly in certain cases it's not enough( CoreOS's update-engine is on read-only partition) , and masking a service is required. It would be nice to be able to do that from API.

[2017-12-18 20:29] szwed commented on #4104
+1

[2017-12-18 20:36] tsupertramp commented on #4093
@chrislovecnm I would take care of that. We just migrated everything to new Tagging Format.

Public Subnets =>
- "kubernetes.io/cluster/cluster-name"   = "shared"
- "kubernetes.io/role/elb"                         = "1")

Private Subnets =>
- "kubernetes.io/cluster/cluster-name" = "shared"
- "kubernetes.io/role/internal-elb"         = "1"

VPC
- "kubernetes.io/cluster/cluster-name" = "shared"

Any

[2017-12-18 21:00] jkemp101 commented on #4049
Thanks for getting back to this quickly. Sounds like I should stick with my current workaround until other fixes are in place. This issue can be closed if there aren't any other suggestions.

[2017-12-18 21:03] blakebarnett commented on #4049
Let's keep it open until we either get the defaults / docs updated or come up with a better solution.

[2017-12-18 21:57] jurgenweber commented on #3911
I'll be honest, I do not know how that happened or maybe it was also 2.5.1... or I dunno. Anyway, sounds like I am on CRD's. Thank you for all of your patience with my questions.

[2017-12-18 22:24] chrislovecnm opened #4105 "Kubernetes 1.9 updates"
- new cni version
- new etcd version
- Docker version?

Now sure if we need a new Docker version

/cc @justinsb

[2017-12-18 22:26] chrislovecnm commented on #3609
I think you are hitting a kube-proxy issue btw in k8s

[2017-12-18 22:29] chrislovecnm commented on #4103
We need to do a regex and clean the url. We always appreciate contributions, and if you are interested in helping let me know. You can set the VERSION=1.8.1 during the build to work around this.

[2017-12-18 22:31] chrislovecnm commented on #3607
I develop on a Mac, can you change your dns to use google? 8.8.8.8

[2017-12-18 22:37] chrislovecnm commented on #3413
@swapnilsm can I get the exact commands and kops version please. Also all logs from a master?

[2017-12-18 22:56] cohadar commented on #3607
Ah, it is possible office DNS has bad config, I tried kops update from mac on home network and it works. Thanks Chris, I will close this issue once I verify it was DNS problem.

[2017-12-19 08:00] huang-jy commented on #3413
Here's mine:

https://blenderfox.com/2017/09/18/scribble-tinkering-with-kubernetes-and-aws-wip/

[2017-12-19 10:02] AlexRRR commented on #3575
I had the same problem going while running 1.7.11. This began all of the sudden which is scary as even though this happened on staging, my production environment has exactly the same setup. Pods stuck on ContainerCreating.

I tried going from 1.7.11 -> 1.8.4 on a desperate attempt to get things working again, but things remained the same.

This fix was suggested to me by @hubt on the **#kops** sla

[2017-12-19 10:07] swapnilsm commented on #3413
@chrislovecnm It started automatically after leaving it for 40-50 minutes.

[2017-12-19 10:33] AmazingDreams commented on #4090
I see the same thing. I have 3 m3.large nodes but only one of them is coming up as a node using `kubectl get nodes`. There does seem to be some communication between the master and nodes as I see service ports being registered. I've already tried restarting the nodes that won't connect to no result.

[code]

[2017-12-19 10:57] huang-jy commented on #3413
@swapnilsm @chrislovecnm hmmm. That's strange. Guess I'll try again on my side and see if it now works. too.

[2017-12-19 11:04] anitakumar opened #4108 "create a user so the user can administer an existing cluster from his machine"
Hi,

I have an existing cluster running on aws. The current version of kubectl is git version:"1.8.3". I will need to set up a few users that will be able to access the cluster and manage it. can you point me to the correct documentation to this please.

Thanks

[2017-12-19 11:35] blancsys commented on #4054
@justinsb Hi Justin, I read that you had success deploying a kops/k8s cluster using ec2 instances with GPU support (https://github.com/kubernetes/kops/blob/master/docs/gpu.md). I'm trying to achieve the same setup for a machine-learning project using Kops/k8s 1.8.

But, when I try to create the cluster I get the following error:

``` "AutoscalingLaunchConfiguration error (unsupported instance type

[2017-12-19 11:53] danieljamesscott commented on #3203
I'm still seeing this issue

[2017-12-19 12:06] KashifSaadat commented on #3203
Hi @danieljamesscott, which version of the Kops binary are you using? Can you provide a snippet of the `kops update cluster` dryrun command so I can see what resources it is saying will be updated?

[2017-12-19 12:51] danieljamesscott commented on #3203
[code]

So it's showing that it will change the name of the gateway. For the SSH key, I created the cluster with no ssh key, then added an 'sshKeyName' entry to the spec - possibly it needs to re-upload a public SSH key?

[2017-12-19 13:28] cohadar commented on #3607
In the end the bug turned out to be in my office internet.
Specifically our ISP provider had network overload and UDP packets got dropped which prevented some DNS resolutions which prevented some HTTP requests.

Sorry for wasting peoples time with this.

[2017-12-19 14:22] dcowden opened #4110 "Rescheduler not running?"
[According to documentation](https://v1-7.docs.kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/) since k8s version 1.7, by default a static rescheduler pod should be running, but in our cluster it is not. The rescheduler should be making sure that critical pods are running.

Kops appears to enable it by default [here](https://github.com/kubernetes/kops/blob/ma

[2017-12-19 14:34] hingstarne commented on #4108
We solved this by adding them afterwards via terraform to the bucket.
You can use this as a boilerplate or maybe other people have smarter integrations.

[code]

[2017-12-19 14:39] hingstarne opened #4111 "Openstack documentation"
I would appreciate if there would be a hint how to use the openstack implementation.
Is there any docs on it?

[2017-12-19 15:01] micahhausler commented on #226
The AWS SDK now has a [`StdinTokenProvider`](https://docs.aws.amazon.com/sdk-for-go/api/aws/credentials/stscreds/#StdinTokenProvider) that we could use:

[code]

[2017-12-19 15:20] nebril commented on #2901
Does `block-next` label mean that kernel will be updated in next kops release?

[2017-12-19 16:00] david92rl opened #4112 "Spot instances fail to register on 1.8 with calico CNI"
**What `kops` version are you running?**
`Version 1.8.0 (git-5099bc5)`

**What Kubernetes version are you running?**
[code]

**What cloud provider are you using?**
AWS

**What commands did you run?  What is the simplest way to reproduce this issue?**
First, created the cluster spec with
[code]
Then modified the following in the cluster spec:
[code]
Then created the cluster and the following instan

[2017-12-19 17:11] chrislovecnm commented on #4111
It is still a work in progress, I do not have the engineers name handy.  @dims who is working on this again?

[2017-12-19 17:13] chrislovecnm commented on #4110
@dcowden interesting ... @justinsb any reason we are not running this??

[2017-12-19 17:17] chrislovecnm opened #4113 "Add support for new Paris region"
AWS launched the new Paris region today.  This is a great starter issue.

1. get kops building https://github.com/kubernetes/kops/blob/master/docs/development/building.md
2. update https://github.com/kubernetes/kops/blob/43b79a29b5b6e2f9173a05227d7bc60dd6e61668/upup/pkg/fi/cloud.go#L60
3. build kops
4. create a cluster in Paris
5. PR

[2017-12-19 17:30] dcowden commented on #4110
For now, we ran it manually using the manifest above. We needed to adjust the volume mounts for pre 1.8 syntax, but other than that it is running ok. We're in the middle of doing some testing, and if we find out something interesting we'll report back.

We started with a 3 node cluster, and a 2-replicas kube-dns installation working great. Over the course of two or three rolling updates, we ended

[2017-12-19 17:42] dims commented on #4111
Chris, that would be @zengchen1024

zengchen, Can you please add some docs when there are some scenarios working?

[2017-12-19 18:27] chrislovecnm commented on #4111
/area documentation

[2017-12-19 18:44] darron commented on #4113
One thing will likely need to be done before this works:

[code]

Is there a documented way to get the images there?

[2017-12-19 18:59] chrislovecnm commented on #4113
@darron just use a Ubuntu or Debian stretch image

[2017-12-19 18:59] chrislovecnm commented on #4113
But yes we need to get the image over there as well.

[2017-12-19 19:01] chrislovecnm commented on #4113
@darron that is something that @justinsb has to run actually, imagbuilder has to be run. It is part of kube-deploy

[2017-12-19 19:42] arun-gupta opened #4114 "Master build issues protokube is not starting"
Checked out the repo and built as explained at:

https://github.com/kubernetes/kops/blob/master/docs/development/building.md

Tried to create a cluster using Amazon CNI provider as:

[code]

Cluster cannot be validated:

[code]
This was checked 30 mins after the cluster was created.

[2017-12-19 20:07] chrislovecnm commented on #4114
I think the is related to our makefiles and release version in the makefile. Arun is digging out the log message, but protokube is not starting.

[2017-12-19 20:10] liwenwu-amazon commented on #4114
Can you also try following instruction which is provide by @aledbf

   ** build and upload kops** from PR #3997
[code]

[2017-12-19 20:39] plombardi89 opened #4115 "Segfault when kops create -f with a SSHCredential"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

`Version 1.8.0 (git-5099bc5)`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide t

[2017-12-19 21:02] plombardi89 commented on #4115
Did some fiddling... it turns out it's an ordering problem... SSHCredential needs to come after the Cluster spec in the YAML document. Which is... annoying because I'm using `kubectl toolbox template ...` to generate the Cluster manifest and I cannot control the ordering of the output.

Not sure how to proceed. I have a workaround but it's not great.

[2017-12-19 21:08] darron commented on #4113
No problem @chrislovecnm - I've gotten a cluster to build like this:

[code]

And it validates:

[code]

I am having all sorts of problems with instance types and LaunchConfig ValidationErrors:

[code]

There are no c4's or m4's available in this Region - looking to see if `aws-sdk-go` needs to be updated.

[2017-12-19 21:10] jmiller-auro commented on #2214
Anyone using aws cli to add this?

[2017-12-19 21:50] afirth commented on #4115
just linking:
currently documented [here] (https://github.com/kubernetes/kops/blob/0683db2ea3d623f32094c41843f96d7c11364045/docs/secrets.md#adding-ssh-credential-from-spec-file)
perhaps relates to #3993

[2017-12-19 23:30] arun-gupta commented on #4114
@liwenwu-amazon could build with these instructions. Here is the final output:

[code]

[2017-12-20 02:10] zengchen1024 commented on #4111
@hingstarne Currently, it can not build a k8s cluster on openstack platform by kops. Up to now, I have implemented the framework of openstack that you can run the command like "kops create cluster --cloud openstack --zones nova -v 15 --target direct --yes myoscluster4.k8s.local", but it does not really deploy a cluster because there are many tasks to be done.  Besides, I have implemented the tasks

[2017-12-20 02:30] macropin commented on #2432
Changing the dns to Private (from Public) also does not work.

[2017-12-20 04:26] chrislovecnm commented on #4113
No c4’s or m4’s wth. T2 2xl might be our code. I will have to log in lol.

[2017-12-20 04:58] darron commented on #4113
I think because it’s a new region, this is going to be the default going
forward with the new virtualization they announced at Reinvent.

They have m5/c5 types but I know they’re problematic until 1.9.
On Tue, Dec 19, 2017 at 9:26 PM Chris Love <notifications@github.com> wrote:

[2017-12-20 06:01] chrislovecnm commented on #4114
You should not have to do the full build with only the CNI provider. The full build is when you update nodeup and protokube, which are not impacted by a new CNI provider.

[2017-12-20 07:22] chrislovecnm commented on #4114
So I am uncertain why but:

[code]

So you seem to need a custom nodeup ... which is what you get by doing an upload build.  `daemon.log` is where I found the message on Debian.

[2017-12-20 07:25] chrislovecnm commented on #4108
@anitakumar what type of users?

[2017-12-20 08:45] stephanlindauer commented on #280
@justinsb can this be closed? i lost track if the kops development and went on to building my own terraform setup.
feel free to close this. :wink:

[2017-12-20 10:10] pluttrell opened #4118 "[Feature Request] Use the new Amazon Time Sync Service to Sync EC2 Clocks"
Amazon recently launched the [Amazon Time Sync Service](https://aws.amazon.com/blogs/aws/keeping-time-with-amazon-time-sync-service/).

This is a feature request to implement clock syncing on the EC2 instances that back kops created clusters using Amazon's Time Sync Service, which has several benefits over using external sources.

Here are [additional AWS docs](https://docs.aws.amazon.com/AWSEC2/l

[2017-12-20 10:53] #1075 closed

[2017-12-20 10:54] #1082 closed

[2017-12-20 11:56] vainu-arto commented on #3319
Note that the cluster autoscaler has the flag "--balance-similar-node-groups" which should help a bit with this (this way the autoscaler will try to keep the zones balanced when scaling down), see https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#im-running-cluster-with-nodes-in-multiple-zones-for-ha-purposes-is-that-supported-by-cluster-autoscaler

[2017-12-20 12:00] vainu-arto commented on #4112
Can you check if this is the same as issue #4028? Looking at the journal entries for kubelet startup ("journalctl -u kubelet.service", search for a line like "Tag "KubernetesCluster" nor "kubernetes.io/cluster/..." not found; Kubernetes may behave unexpectedly.") should make this clear fairly quickly.

[2017-12-20 12:04] vainu-arto commented on #4090
Can you check if this is the same as issue #4028? Looking at the journal entries for kubelet startup on a node that fails to connect ("journalctl -u kubelet.service", search for a line like "Tag "KubernetesCluster" nor "kubernetes.io/cluster/..." not found; Kubernetes may behave unexpectedly.") should make this clear fairly quickly.

[2017-12-20 12:07] vainu-arto opened #4119 "Please update to Kubernetes v1.8.5"
None of the channels currently advertise Kubernetes 1.8.5. What is missing from being able to update to that?

[2017-12-20 12:19] david92rl commented on #4112
@vainu-arto That's it:
```Dec 20 12:11:35 ip-10-0-42-5 kubelet[1295]: E1220 12:11:35.605272    1295 tags.go:94] Tag "KubernetesCluster" nor "kubernetes.io/cluster/..." not found; Kubernetes may behave unexpectedly.```
In my case, this only happens with spot instances.

[2017-12-20 12:28] david92rl commented on #4112
Actually, doing `systemctl restart kubelet` on the instance fix the issue and the node is registered immediately. I guess the kubelet service is starting before the instance is tagged?

[2017-12-20 12:30] tspacek commented on #2990
I reproduced this in `1.8.0` after `kops create cluster ...  --target=terraform` and `terraform apply`

I can confirm that running the following fixed it:
`kops update cluster $NAME --target=terraform`
`kops rolling-update cluster $NAME --cloudonly --force --yes`

[2017-12-20 12:37] vainu-arto commented on #4112
I have the issue reported upstream here: https://github.com/kubernetes/kubernetes/issues/57382

If you find any additional information that could help with solving it go ahead and add it there.

[2017-12-20 13:03] KashifSaadat commented on #3203
Hi @danieljamesscott, thanks for providing the output.

I've tested with the specific kops version you were using (git hash `5099bc5`) and was able to recreate the issue. I then built kops from source, retested and found that both the IGW and SSHKey changes were no longer shown, so it seems this has been fixed now.

Would you be able to test and confirm by building kops off the master branch?

[2017-12-20 13:48] AmazingDreams commented on #4090
@vainu-arto indeed I found that line

[code]

[2017-12-20 13:50] vainu-arto commented on #4090
Was that also just the spot nodes, or ondemand as well?

[2017-12-20 13:55] AmazingDreams commented on #4090
I have only spot nodes except my master node. Do you want me to check an ondemand node?

[2017-12-20 13:56] vainu-arto commented on #4090
No real need, I'll run some tests tomorrow in any case.

[2017-12-20 14:56] mikesplain commented on #3319
@chrislovecnm do you mean as mentioned in my PR? https://github.com/kubernetes/kops/pull/3829#issuecomment-346412431

@ffjia We use both in separate IG's

[2017-12-20 16:15] blakebarnett commented on #1474
/remove-lifecycle stale

[2017-12-20 16:16] blakebarnett commented on #1474
We definitely need this one now that enabling TLS on the etcd cluster can break things in a bad way.

[2017-12-20 17:10] stiller-leser opened #4121 "ForwardingRule "api-kubernetes-demo-k8s-local" not found"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

```Version 1.8.0```

2. What Kubernetes version are you running? kubectl version will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a kops flag.

`Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.0", GitCommit:"925c127ec6b946659ad0fd59

[2017-12-20 17:31] liwenwu-amazon commented on #4114
@chrislovecnm @aledbf Is this due to the fact that CNI needs a updated IAM policy for master and node? thanks

[2017-12-20 19:33] bitfusion-brian opened #4123 "FailSwapOn kubelet option is not exposed by Kops"
Kubelet config is defined in pkg/apis/kops/componentconfig.go and many other files. FailSwapOn is not part of any of these files. In K8s >= 1.8.0, this options defaults to 'true', and there is no way to set it to 'false'.

-- edit below with additional info --

Kops is missing the `--fail-swap-on` config option for Kubelet. In kubernetes/kubelet version <1.8.0, kubelet uses the flag `--experimenta

[2017-12-20 19:40] kbruner opened #4124 "Feature request: Support per-instance group IAM roles"
1. Describe IN DETAIL the feature/behavior/change you would like to see.

Right now all node instance groups have the same IAM role.  It would very useful if each could be given their own IAM role so different additional IAM policies could be attached to each, depending on the types of jobs run in each node pool.  I realize this can be also be managed with `kube2iam`, but having a lighter-weight o

[2017-12-20 21:13] chrislovecnm commented on #4124
This work is already underway. We should have iam profile per ig

[2017-12-20 22:37] julianvmodesto commented on #1714
This can be marked as done.

[2017-12-20 23:23] starkers commented on #2214
just using a very dirty dirty boto script for now I'm afraid, happy to dig it up and share of you need

[2017-12-21 00:47] darkjeff99 commented on #1769
/close

[2017-12-21 00:47] #1769 closed

[2017-12-21 03:17] LilyFaFa opened #4127 "Aliyun support"
Do you have plans to make kops support Aliyun? We plan to carry out the relevant work, do you have any suggestions? @justinsb

[2017-12-21 03:34] fejta commented on #1840
Testing...
/close

[2017-12-21 03:34] fejta commented on #1840
Woo!
/reopen

[2017-12-21 08:07] huang-jy commented on #3413
Yep, confirmed. My DNS was incorrectly setup. Found some "unable to resolve" errors in the etc container logs which led me to a bad configuration. Fixed and the containers came up.

Closing the ticket.

[2017-12-21 08:07] #3413 closed

[2017-12-21 10:15] alvgarvilla commented on #3804
Hi would like to do something similar, but just add some entries to the hosts file in every node in the cluster. How could I achieve that? Thanks!

[2017-12-21 10:56] johanneswuerbach opened #4128 "Kops rolling doesn't wait until masters are terminated / etcd volumes are available again"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

[code]

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

[code]

3. What cloud provider are you using?

`AWS: us-east-1`

4. What commands did you run?  What is the simplest

[2017-12-21 11:01] ajtrichards commented on #530
When we scanned a test cluster whilst evaluating KOPS we came up with this:
[code]

It was also self-certified. We'd love to be able to use KOPS and provide our own certificate.

[2017-12-21 14:50] martcturvey commented on #4039
Hi, I've hit the exact same issue having updated the YAML to use etcd v3 & enableEtcdTLS: true as per https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md

@blakebarnett , you mentioned modifying the yaml to allow Calico to work with TLS?

[2017-12-21 14:51] sujeetkp opened #4129 "kops not deploying the multi node kubernetes cluster on aws free tier"
I am trying to deploy a kubernetes cluster of 2 nodes and 1 master on aws.
But every time I try it creates 2 nodes but it does not create the master. I am completely new to kubernetes and aws free tier.

I tried it in 3 regions us-east-1, us-west-2 and eu-central-1, but every time It failed.

kubectl version

Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.4", GitCommit:"9befc2

[2017-12-21 16:28] #1934 closed

[2017-12-21 16:36] dghubble commented on #1026
@max-rocket-internet I'm biased (author), but don't think that's a fair conclusion. Typhoon is explicitly [for real](https://typhoon.psdn.io/) environments. Controller ASGs were used in the past, but we've switched to instances as part of moving away from self-hosted etcd (i.e. atop k8s) and collocating etcd's across controllers (trades heterogeneity/statefulness for cost savings). For stateful no

[2017-12-21 16:36] #1742 closed

[2017-12-21 16:37] chrislovecnm commented on #1764
/lifecycle frozen

[2017-12-21 16:38] chrislovecnm commented on #1764
Most of the env variables are in urls.go

[2017-12-21 17:11] john-delivuk commented on #3693
Just following up. I am using v1.8 as mentioned, even in the GA release this is still present. I want to only use my sshKey which is specified in my AWS Account, I shouldn't have to specify the id_rsa.pub to pass validation.

[2017-12-21 18:34] chrislovecnm commented on #2050
Is this fixed now?

[2017-12-21 18:35] chrislovecnm commented on #4128
Yes that would be a good check!

[2017-12-21 18:35] sethpollack commented on #2050
I don't think so

[2017-12-21 18:37] chrislovecnm commented on #4127
/asign @geojaz

You should probably coordinate

[2017-12-21 18:38] chrislovecnm commented on #2050
Please mark issue as you need, or it will close

[2017-12-21 18:39] geojaz commented on #4127
@LilyFaFa I'm going to be talking about this during office hours tomorrow 9 california time. If you'd like to join and talk about plans to coordinate, we would love to have you. https://github.com/kubernetes/kops#office-hours

[2017-12-21 18:39] sethpollack commented on #2050
/remove-lifecycle stale

[2017-12-21 19:02] sethpollack commented on #2050
Fixed in #4026

[2017-12-21 19:02] #2050 closed

[2017-12-21 19:32] geojaz commented on #4129
@sujeetkp Can you run please try running your cluster creation command with verbose logging and share those logs with us? ie:

`kops create cluster --cloud=aws ... -v=10`
`kops update cluster --yes -v=10`

You also shouldn't need double (or single) quotes on any of your flagged commands but I don't think that's your issue.

[2017-12-21 19:49] sujeetkp commented on #4129
@geojaz : Please find the attached logs.

[create_logs.txt](https://github.com/kubernetes/kops/files/1580409/create_logs.txt)
[update_log.txt](https://github.com/kubernetes/kops/files/1580410/update_log.txt)

[2017-12-21 21:42] amalucelli commented on #4112
I've the same issue running with `flannel` networking. But I don't think that is a networking issue.

[code]

I checked the logs of the `kube-controller-manager`, and I think that the reason of the errors below are caused because the `kubelet` service on the node couldn't find the tags `KubernetesCluster` or `kubernetes.io/cluster/...` (as mencioned in kubernetes/kubernetes#57382), so there isn't

[2017-12-21 22:52] wbauern commented on #4052
Thanks @dio !  This worked perfectly for me.

[2017-12-22 01:05] mattlawnz opened #4131 "Unable to provision to a VPN with 2 CIDR's in AWS"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
Version 1.8.0 (git-5099bc5)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the

[2017-12-22 03:44] jngbng opened #4132 "Upgrade k8s 1.7.11 to 1.8.4 fails."
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

**Version 1.8.0 (git-5099bc5)**

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide

[2017-12-22 04:31] teknivor opened #4133 "Cannot import cluster using kops cluster import with error "cannot determine INSTANCE_PREFIX""
1. What `kops` version are you running? The command `kops version`, will display
 this information.
Version 1.8.0 (git-5099bc5)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.5", GitCommit:"cce11c6a185279d

[2017-12-22 06:04] macropin opened #4135 "Allow setting clusterSpec.Kubelet.PodInfraContainerImage"
It looks like the pause image is [hardcoded](https://github.com/kubernetes/kops/blob/e17127bd501cb692b6198d73dcb0d4ef5e16d3a8/pkg/model/components/kubelet.go#L200) to `gcr.io/google_containers/pause-amd64:3.0`. Please allow this to defined. This will allow usage of alternate pause containers, which in this case is necessary to get ahead of this zombie reaping issue: Ref: kubernetes/kubernetes/issu

[2017-12-22 10:57] LilyFaFa commented on #4127
@geojaz Thank you for your invitation, my partners and Ali engineers will attend the meeting.

[2017-12-22 15:01] mrballcb commented on #4135
The way I have managed this since I found the pause issue is by following a cluster create with a `kops edit ig` for each instance group and in the spec section override it:
[code]
After doing a `kops update` for each ig, and a `kops rolling-update cluster`, all of the new nodes (and I do masters too for consistency) spawn images with the desired container.

[2017-12-22 15:02] mrballcb commented on #4135
It would be nice, allowing it to be specified from the kops cli, but I don't think it necessarily should require a new cli option.  Maybe a more generic option, such as `--set-item` could be added so that you can do
[code]
on the commandline and it would insert it into the config.  It would do it for all instance groups.  This does not seem to step on the toes of any available cli options.  But it

[2017-12-22 15:48] KashifSaadat commented on #4132
Hi @jngbng, thanks for raising an issue.

Looking at the logs you've provided, it appears the nodeup failure occurs here:
[code]

Peeking at the code it looks like this relates to the permission `s3:GetBucketLocation` (different to what you've added in), which is granted in the IAM Policies for both Master & Node instances (in both legacy and strict IAM configuration).

I've tried to replicate usi

[2017-12-22 17:12] jngbng commented on #4132
Yes, that was my first assumption when looking at the log.
Actually, aws cli tool fails to run 'aws s3api get-bucket-location --bucket
BUCKET_NAME' with access deny message in the node instance.
However, it also happens at the master instance which does not suffer from
this problem.

Moreover, master instance also has that error message since my bucket
resides in us-west-2 region. But it immediate

[2017-12-22 17:21] chrislovecnm commented on #4132
Do we need DescribeRegion as well?

[2017-12-22 17:54] jngbng commented on #4132
I replaced es:Describe* with es:DescribeRegions and it also works well!

[2017-12-22 18:14] geojaz commented on #4127
@LilyFaFa Could you cc your team here so we can organize the Aliyun implementation?

[2017-12-22 20:28] ajohnstone commented on #2177
On Fri, 22 Dec 2017 at 19:46, fejta-bot <notifications@github.com> wrote:

--

Andrew Johnstone / Core Engineerandrew@ajohnstone.com / 075953 334703

http://www.ajohnstone.com

[image: Facebook]  <http://www.facebook.com/andrew.johnstone.925>[image:
Twitter]  <http://twitter.com/ajohnstone>[image: Google Plus]
<http://google.com/+AndrewJohnstone83>[image: Linkedin]
<http://uk.linkedin.com/in/andre

[2017-12-23 00:45] geojaz opened #4138 "[Proposal] Refactor network config from cluster spec into a New Network Spec"
This was discussed at kops office hours on 12/22 and I believe folks have been thinking about this idea for some time.

I propose that it's time to pull network config (VPC, subnets, routes, etc) out of the cluster spec and into a first class networking spec/object. We currently have the ability to configure networking in the cluster spec, but as kops networking moves away from the aws vision of t

[2017-12-23 00:59] geojaz commented on #4138
@justinsb @chrislovecnm

[2017-12-23 01:01] geojaz commented on #2173
We don't need this anymore. Closing

[2017-12-23 01:01] #2173 closed

[2017-12-23 01:03] geojaz commented on #2432
@macropin I'm not sure, but is that documented anywhere? Would you be able to review the docs about this and clean up/clarify/improve this area in a PR? :)

[2017-12-23 01:36] tudor opened #4139 "Upgrade Calico to v2.6.3 or higher?"
We are hitting this bug in Calico: https://github.com/projectcalico/confd/issues/32, which is a high-priority issue causing new nodes (added via an autoscaler) to lose connectivity to pods on old nodes.

The bug was fixed in Calico v2.6.3, see https://github.com/projectcalico/calico/issues/1420, but kops 1.8.0 is still on 2.6.2.

Is there any chance that kops could be upgraded to 2.6.3?

Thanks!

[2017-12-23 08:52] vietwow commented on #4139
Calico v3.0.1 is released, so it would be great if kops upgrade to this version :)

[2017-12-23 09:08] dixudx commented on #2922
@chrislovecnm Supported.

[2017-12-23 12:33] aardelean opened #4140 "kops creates (maybe) incomplete cluster"
------------- BUG REPORT TEMPLATE --------------------

1. kops version 1.8.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
kubectl 1.9.0

3. What cloud provider are you using?
aws

4. What commands did you run?  What is the simplest way to reproduce this issue?
Following

[2017-12-23 16:00] geojaz opened #4141 "Change good-starter-issue label to standard Github labels"
Apparently Github is promoting the use of the labels `help wanted` or `good first issue` as the label for what I think we're calling `good-starter-issue`. I don't think it is likely to make a ton of difference, but it's low impact/effort and if it makes it easier for someone to contribute- that's awesome.

![image](https://user-images.githubusercontent.com/9451328/34320796-231a1fda-e7b6-11e7-92ac-

[2017-12-23 16:33] chrislovecnm commented on #4141
Do if

[2017-12-23 16:34] chrislovecnm commented on #2290
We have a warning now

/close

[2017-12-23 16:34] #2290 closed

[2017-12-23 16:36] chrislovecnm commented on #2116
/remove-licycle stale

[2017-12-23 16:36] chrislovecnm commented on #2116
/remove-lifecycle stale

[2017-12-23 16:38] chrislovecnm commented on #1645
/assign
/lifecycle frozen

[2017-12-23 16:39] chrislovecnm commented on #2093
Closing as duplicate

[2017-12-23 16:39] #2093 closed

[2017-12-23 16:39] chrislovecnm commented on #2119
/lifecycle frozen

[2017-12-23 16:39] chrislovecnm commented on #2398
Closing

[2017-12-23 16:39] #2398 closed

[2017-12-23 16:40] chrislovecnm commented on #4139
Happy to accept PRs ...

[2017-12-23 16:41] chrislovecnm commented on #4140
Logs from the master? What started?

[2017-12-23 16:42] chrislovecnm commented on #4140
Set you master to a big t2 or a c4 instance size

[2017-12-23 16:48] chrislovecnm commented on #1732
This is fixed a bunch of different ways now... closing

[2017-12-23 16:48] #1732 closed

[2017-12-23 16:49] chrislovecnm commented on #1479
This I think is a duplicate. Will let bot close

[2017-12-23 16:51] chrislovecnm commented on #4131
I am fairly certain we added this feature in master. Please give master a try, or you will need to wait for the 1.9 release.

[2017-12-23 16:56] geojaz commented on #4129
@sujeetkp I'm sorry I missed this before, but could you upgrade to the latest release (kops 1.8) and  We don't support previous releases of kops because it's possible to manage previous versions of kubernetes with a newer kops. You don't necessarily need to run kops 1.7 with kubernetes 1.7.

I am not seeing the same situation as you are, but I don't have a free tier account. My understanding is th

[2017-12-23 16:57] chrislovecnm commented on #1984
We have create with dry-run now. Does that help?

[2017-12-23 16:59] chrislovecnm commented on #4132
/area security

So we need DescribeRegions as well. If you want to help out with a PR let me know. This is super simple!

[2017-12-23 17:08] chrislovecnm commented on #958
Nobody has picked up this issue. Please submit a POC PR if you are interested

[2017-12-23 17:10] chrislovecnm commented on #4138
Sounds great, but this will be a fun migration. We probably need some tool for this

[2017-12-23 17:11] chrislovecnm commented on #4138
Also, we are creating ordering problem. The network will depend on a cluster, and I would like for this to not. IG and secrets depend on a cluster, and it is a pain.

If you create a secret before a cluster it is not handled gracefully.

[2017-12-23 17:59] chrislovecnm commented on #4052
Can we close? Do we need more docs.

Btw using alpha features is dangerous. Expect migration upgrade problems when they go beta

[2017-12-23 18:01] #1714 closed

[2017-12-23 18:20] chrislovecnm commented on #2441
/close

[2017-12-23 18:20] #2441 closed

[2017-12-23 19:10] elisiano commented on #4039
I'm facing the same issue. If someone can give some sort of explanation on how to get it working (if possible at all) that would be greatly appreciated.

[2017-12-23 20:11] chrislovecnm commented on #4039
Calico and TLS together are not supported at this time.  You can open a feature request if you like.

[2017-12-23 20:15] chrislovecnm commented on #2214
https://github.com/kubernetes/kops/issues/2214 will address some of this

[2017-12-23 20:16] chrislovecnm commented on #4123
@bitfusion-brian more details please?

[2017-12-23 21:03] geojaz commented on #2149
/close

No action on this- I think we have most use cases covered on the networking side. Please reopen if you still need help.

[2017-12-23 21:03] #2149 closed

[2017-12-23 22:39] chrislovecnm commented on #2464
/lifecycle froze

[2017-12-23 22:39] chrislovecnm commented on #2464
/lifecycle frozen

[2017-12-23 23:36] geojaz commented on #4129
possibly related to #3751

[2017-12-24 01:38] geojaz commented on #4138
So we had an idea on the call about how to make this less painful for those with existing clusters- essentially to allow the network elements to be specified in both the cluster spec and the network spec and let the cluster spec overload the network spec... just tossing around ideas for now.

[2017-12-24 03:17] chrislovecnm commented on #4119
Set kubernetes version via cli or edit cluster.

[2017-12-24 08:13] foxylion commented on #1891
/remove-lifecycle stale

[2017-12-24 14:04] geojaz commented on #2585
Fixed in #3682

[2017-12-24 14:04] #2585 closed

[2017-12-24 15:47] chrislovecnm commented on #2072
/lifecycle frozen

[2017-12-24 15:48] chrislovecnm commented on #2597
/lifecycle frozen

[2017-12-24 16:47] geojaz commented on #2593
/lifecycle frozen

[2017-12-24 16:57] chrislovecnm commented on #3751
I believe that the initial problem was the lack of m3 instances. We need to determine what instance type we want for masters as m3’s are getting rare and sometimes do not exist at all.

[2017-12-24 16:58] chrislovecnm commented on #1637
/lifecycle frozen

[2017-12-24 16:59] chrislovecnm commented on #1779
This may be a duplicate but not certain

/lifecycle frozen

[2017-12-24 17:00] chrislovecnm commented on #4114
Not certain why we need a custom nodeup. But you do now.

[2017-12-24 17:00] chrislovecnm commented on #1474
/lifecycle frozen

[2017-12-24 17:01] chrislovecnm commented on #2990
More detail please

[2017-12-24 17:02] chrislovecnm commented on #4118
This may be a duplicate. I am on my phone so it is difficult to check

[2017-12-24 17:03] #280 closed

[2017-12-24 17:04] chrislovecnm commented on #2901
We released new images with 1.8 release. Removing label but keeping open.

[2017-12-24 17:08] chrislovecnm commented on #2901
The issue is still open as this is a bug in the Linux kernel that has not been resolved yet.

[2017-12-24 17:09] chrislovecnm commented on #1248
Closing we have issue form

[2017-12-24 17:09] #1248 closed

[2017-12-24 20:55] mmacfadden opened #4142 "Private Utility Subnet Option"
Thanks for the great work on this project! KOPS is a life saver!

When creating a private topology, I noticed that a utility subnet is created with an internet gateway, while the main subnet is created with a nat gateway. We also have the api-elb set to internal when creating the cluster. My understanding is that the private subnet is where the api-elb, master, and nodes would live, but that the u

[2017-12-25 02:44] geojaz commented on #1924
/close
fixed in #2097

[2017-12-25 02:44] #1924 closed

[2017-12-25 02:56] geojaz commented on #3751
Figuring out which instances to use in each region is turning out to be a real pain... I'm only writing the below because I keep seeing or hearing about people having the wrong number of nodes coming up... it's apparently not an obvious thing. So we should try to make it better.

My presumption of the flow is that while creating the cluster, it's possible to create the ASG just fine with or withou

[2017-12-25 03:30] mmacfadden commented on #3536
I just ran into this same issue using 1.8,0. For reference here is the announcement from AWS:

https://aws.amazon.com/about-aws/whats-new/2017/08/amazon-virtual-private-cloud-vpc-now-allows-customers-to-expand-their-existing-vpcs/

It looks like the team is adding some improved functionality in KOPS 1.9.0 to use existing VPCs and Subnets. It would seem like this would be a good feature to have to

[2017-12-25 03:34] mmacfadden commented on #4131
I think this is a duplicate of #3536.

[2017-12-25 03:38] mmacfadden commented on #3536
@rdrgmnzs It looks like support for this was added in master.

[2017-12-25 03:45] rdrgmnzs commented on #3536
I actually merged a change to allow this. It should be included in 1.9

https://github.com/kubernetes/kops/pull/3898

[2017-12-25 03:45] #3536 closed

[2017-12-25 03:49] ms4720 commented on #2603
just to put my 2 cents in on naming commands, why not:

    kops apply -f file.(yml|json) $NAME
    and
    kops apply -f file.(yml|json) --yes  $NAME

seems more in line with kubectl

[2017-12-25 06:31] ms4720 commented on #4142
I am interested in this as well

[2017-12-25 09:33] sujeetkp commented on #4129
@geojaz : Thanks a lot Sir. It worked like a charm after I updated the kops version to 1.8. My Cluster is ready.
But I am not able to validate the cluster using "kops validate cluster" command or the kubectl command is also not working.

I have created a "Hosted Zone" and attached it to my default VPC.

ubuntu@ip-172-31-86-134:~$ kops validate cluster
Using cluster from kubectl context: useast1.k8

[2017-12-25 10:26] ganeshmedhekar opened #4144 "Kubernates cannot get nodes error: DNS issue"
Hi,

We are deploying kubernates 1.8 setup on AWS private VPC which is having DHCP enabled with our AD running on AWS EC2 instance. We are using Route 53 subdomain.
The setup complete but when we run the below command find the issiue with the DNS resolution.
Command and error:
$ kops validate cluster
Using cluster from kubectl context: test-cluster.example.com

Validating cluster test-cluster.exam

[2017-12-25 21:00] #1068 closed

[2017-12-25 23:22] temujin9 opened #4145 "'kops create cluster' doesn't respect '--node=0'"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.8.0 (git-5099bc5)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.0", GitCommit:"925c127ec6b94

[2017-12-26 02:56] ms4720 commented on #4025
I would like to take a stab at it, what is the process for claiming it?

[2017-12-26 06:59] zhangxiaoyu-zidif commented on #1965
+1

[2017-12-26 07:08] zhangxiaoyu-zidif commented on #1965
one situation plus：
The master acts as node also, and a dpdk daemonset's pod runs on the master-node. I am not sure does that concern

[2017-12-26 08:05] ringods commented on #1984
Didn't test it yet, but reading the documentation I think it's a good start. I will create a more detailed change request when I would still be missing out on something.

[2017-12-26 08:05] #1984 closed

[2017-12-26 16:00] tgrosinger opened #4146 "Support TLS between Etcd when using Calico"
1. Describe IN DETAIL the feature/behavior/change you would like to see.

The backing Etcd cluster should be able to be secured using the `enableEtcdTLS` option documented [here](https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#etcdclusters-v3--tls) when using Calico. According to the resolution of https://github.com/kubernetes/kops/issues/4039 this is not possible currently.

I

[2017-12-26 16:02] tgrosinger commented on #4146
CC:
* @gambol99 - Added Etcd TLS support
* @blakebarnett - responded to my other related issue
* @caseydavenport - had an implementation suggestion on my related issue

[2017-12-26 16:17] neverfox opened #4147 "ASG Health Check Grace Period default too low"
I was asked to submit this issue by @geojaz after a debugging session on Slack. Thanks to Slack user bradgeesaman for coming up with the solution to the problem. Essentially, I had a three master HA setup across three AZs and last night all of the masters went into a restart loops, i.e. they were shutting-down and being restarted by their ASGs only to get shutdown again. I was unable to get contro

[2017-12-26 18:50] srflaxu40 commented on #2603
So, essentially this becomes a create and then replace (with existing YAMLs)?  Also, are we sure this is exporting instance groups?  I tried this with v1.8 and I only see the cluster manifest; no groups.  https://github.com/kubernetes/kops/blob/master/docs/manifests_and_customizing_via_api.md

[2017-12-26 20:26] wannabesrevenge commented on #4123
just to clarify, this is my main account. @bitfusion-brian is me.

Kops is missing the `--fail-swap-on` config option for Kubelet. In kubernetes/kubelet version <1.8.0, kubelet uses the flag `--experimental-fail-swap-on` which defaults to `false`. In kubernetes/kops >=1.8.0, kubelet uses the flag `--fail-swap-on`, and it defaults to `true`.

If `--fail-swap-on` is set to `true`, kubelet will error

[2017-12-26 23:25] geojaz commented on #4129
@sujeetkp You're probably not able to connect to your cluster because you're using a private DNS zone. 172.31.0.2 looks like an internal IP address-  I'm not sure what your network topology looks like, but possible things that may help would be getting onto the network that k8s is running on so you'd have access to those DNS records and they would make sense or if it's exposed externally, you may

[2017-12-26 23:25] #4129 closed

[2017-12-26 23:37] geojaz commented on #2148
/close

we dunnit!

[2017-12-26 23:37] #2148 closed

[2017-12-26 23:38] geojaz commented on #2507
/close

done!

[2017-12-26 23:38] #2507 closed

[2017-12-26 23:38] geojaz commented on #1473
/close

[2017-12-26 23:38] #1473 closed

[2017-12-26 23:39] geojaz commented on #1962
/close

[2017-12-26 23:39] #1962 closed

[2017-12-26 23:40] geojaz commented on #1939
/close

[2017-12-26 23:40] #1939 closed

[2017-12-27 00:32] jurgenweber commented on #3911
Just dropping a note to say I managed the upgrade to 1.8.6 this morning. Thank you for all your advice and help.

[2017-12-27 01:40] ms4720 commented on #2603
kops 1.8.0 gives me instance groups and cluster with the following

kops get $NAME -o yaml

my work flow is :

- kops create --dry-run ...
- edit file
- kops create -f file.yaml

gets a 3 nod and 3 master cluster up in aws, I need to say I am far from an expert in kops or kubernetes

[2017-12-27 01:54] ms4720 commented on #2603
Small update, that does not export secrets and I have no federations to test with

[2017-12-27 02:47] mtoumi007 commented on #4145
I am not sure about the creation time. but you can edit the cluster. and set the max min to 0. then cluster update, rolling-update.
 kops edit instancegroup nodes

NODE STATUS
NAME				ROLE	READY
ip-172-26-101-25.ec2.internal	master	True
ip-172-26-150-149.ec2.internal	master	True
ip-172-26-33-91.ec2.internal	master	True

also you can check the ASG. whether it deleted them or not.

[2017-12-27 09:19] frittentheke opened #4149 "kops replace does not like Kind=SSHCredential in kops.yaml"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

3. What cloud provider are you using?

4. What commands did you run?  What is the simplest way to reproduce this issue?

to c

[2017-12-27 12:51] adrianchifor commented on #2710
/close

[2017-12-27 12:51] #2710 closed

[2017-12-27 13:01] 1810755jiawei commented on #4149
open

[2017-12-27 13:03] huang-jy opened #4150 "kops incorrectly detects overlapping CIDR ranges, but still creates the subnets"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.8.0 (git-5099bc5)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.5", GitCommit:"17d7182a7ccbb

[2017-12-27 13:18] tsupertramp commented on #4139
Just looked into it - First we have to ensure etcdv3 cluster upgrade is default. Otherwise calico v3 will not work. (source: https://docs.projectcalico.org/v3.0/getting-started/kubernetes/upgrade/) - But will dig into 2.6.x pr.

[2017-12-27 13:44] tsupertramp commented on #4139
Checked k8s config between 2.6.2 => 2.6.5, only image version updated.
[code]

[2017-12-27 15:53] chrislovecnm commented on #4146
Rolling updates are part of the challenge with this btw. Getting new keys to the old etcd servers.

[2017-12-27 15:54] chrislovecnm commented on #329
/lifecycle frozen

[2017-12-27 15:57] tgrosinger commented on #4146
This commit (https://github.com/gyuho/etcd/commit/4e21f87e3d014d606bb3ba2a89731a7d24806611) actually might help with that. I was something we added because we need to reload certificates in etcd internally. Basically you just need to update the certificate files on disk and etcd will pull them in!

[2017-12-27 16:36] naveensrinivasan commented on #3750
We are running into the same issue.

- We are trying to upgrade the cluster from `v1.7.7` to `v1.8.6` with `RBAC` turned on.
- We used the `kops` master to upgrade `kops version
Version 1.8.0 (git-4876009bd)`
[code]

[code]
What is the workaround?
cc @chrislovecnm

[2017-12-27 16:43] liggitt commented on #3750
Was that an actual upgrade? What authorization modes were used with the 1.7.x deployment?

See https://kubernetes.io/docs/admin/authorization/node/#upgrades-from-previous-versions-using-rbac for a discussion of the kubelet permissions transitioning from being managed by RBAC to being managed by the Node authorizer.

[2017-12-27 16:44] naveensrinivasan commented on #3750
We upgraded `v1.7.7` to `RBAC` and then now we are trying to move `v1.8.6`

[2017-12-27 18:53] chrislovecnm commented on #3750
/open

[2017-12-27 20:34] naveensrinivasan commented on #3750
@chrislovecnm Do you want me to open another ticket?

[2017-12-27 21:31] chrislovecnm commented on #3750
@naveensrinivasan yes please

[2017-12-27 22:04] chrislovecnm opened #4156 "Cert errors creating cluster"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

on a feature branch

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kuberne

[2017-12-27 22:21] chrislovecnm commented on #2750
/lifecycle frozen

[2017-12-27 22:46] naveensrinivasan commented on #3750
@chrislovecnm is there a work around for now?

Thanks

[2017-12-27 23:14] chrislovecnm commented on #1403
/close

[2017-12-27 23:14] #1403 closed

[2017-12-27 23:15] chrislovecnm commented on #2726
/lifecycle frozen

[2017-12-27 23:44] chrislovecnm commented on #4156
I think we have broken using a kops master build, w/o current nodeup.  I am testing to verify.

@justinsb can we cut an alpha version of 1.8.1 or another unreleased beta if so?

[2017-12-28 00:23] chrislovecnm commented on #4156
I just did

1. git co master
1. updated master
1. S3_BUCKET=s3://$BUCKET make kops upload
1. set the NODEUP_URL
1. `kops create cluster --name $CLUSTER_NAME --zones us-west-2c --api-loadbalancer-type public --yes`

And I am getting the cert errors :(

[2017-12-28 01:08] chrislovecnm commented on #4156
So on a whim I used go 1.9.2 to do the `make upload`, by changing the makefile.  I also d/l'ed the version that was uploaded to s3.  Doing all that has it working.

[2017-12-28 02:22] leeeboo commented on #3970
https://github.com/kubernetes/kops/blob/master/docs/aws-china.md

[2017-12-28 03:46] chrislovecnm commented on #2713
/close

[2017-12-28 03:46] #2713 closed

[2017-12-28 04:12] macropin commented on #4135
@mrballcb Thanks, that seems to have worked! I initially tried updating the kops generated terraform userdata, and rebuilding the cluster, but it seems the values defined there are not used.

[2017-12-28 04:12] #4135 closed

[2017-12-28 04:30] vietwow opened #4157 "Add some more useful info in README"
Hi,

I think it would be great if we have a up-to-date component and version listed in README (like https://github.com/apprenda/kismatic). So it will be easier for everyone who want to quickly check etcd, calico, flannel, ... that kops currently supported. Thank you so much.

Best Regards,
VietNC

[2017-12-28 09:26] huang-jy opened #4158 "kops validate will fail if `associate-public-ip` is false"
I am attempting to plug in a new k8s cluster into existing subnets and VPC and want to avoid giving anything public IPs if possible.

So I used this:

`kops create cluster --cloud aws --name {CLUSTER_NAME} --state s3://k8sstate --node-count 1 --zones eu-west-1a,eu-west-1b --node-size r3.large --master-size r3.large --master-zones eu-west-1a --ssh-public-key ~/.ssh/id_rsa.pub --associate-public-ip=

[2017-12-28 09:53] keesveerman opened #4159 "Question: sizing of utility subnet"
I'm trying to convert our public cluster to a private one. Although that went quite well i have now the challenge that my utility subnets are too small as they are defined as a /28. I have several services with external elb's which refuse to be created since i NEED to have 8 ip's free.
Which means that in a /28 with 5 reserved for aws itself, an igw and 8 free ip's i can only have 2 internet facin

[2017-12-28 10:59] 1810755jiawei commented on #4159
15815579644

地址:深圳

邮箱:101o@139.com

手机:15815579644

------------------ 原始邮件 ------------------

 发件人: Kees Veerman  <notifications@github.com>

 发送时间: 2017-12-28 17:53:35

 收件人: kubernetes/kops  <kops@noreply.github.com>

 抄送: Subscribed  <subscribed@noreply.github.com>

 主题: [kubernetes/kops] Question: sizing of utility subnet (#4159)

I'm trying to convert our public cluster to a private one. A

[2017-12-28 12:18] marciorodrigues87 opened #4160 "How to set `--live-restore=false` on nodes docker?"
Hi Guys!

It's more a question than a bug or a feature request (I can open another issue with the correct template later)

We've experiencing some pod restarts with the following message in our kubernetes cluster:

`Pod sandbox changed, it will be killed and re-created.`

Some people recommends to set this flag to prevent this behaviour (https://docs.google.com/document/d/1YHwzDj7jUGqnTdFoCDRE3GTa

[2017-12-28 13:11] KashifSaadat commented on #4156
Got the same issue. Not sure why it's looking for a `keyset.yaml` in S3, I haven't seen that before..

[2017-12-28 13:19] mzahn86 opened #4161 "Protokube fails when restarting journald"
1. What `kops` version are you running?

2. What Kubernetes version are you running?

3. What cloud provider are you using?

4. What commands did you run?  What is the simplest way to reproduce this issue?
[code]
Then restart journald service on a node/master:

5. What happened after the commands executed?
Protokube.service tries to restart every second.
It fails since it is already running and th

[2017-12-28 13:33] rajholla commented on #3268
@DerekV @chrislovecnm
Is there an option to turnoff Nat Gateways when [http_proxy](https://github.com/kubernetes/kops/blob/master/docs/http_proxy.md) is setup ?

[2017-12-28 14:46] huang-jy opened #4162 "Feature Request: Inherit Tags/Labels onto referenced resources"
using `cloudLabels` allows you to tag instances/nodes, but the resources associated by that node (volumes, snapshots,etc.) are not. When tags are used for billing purposes, this is a problem, especially if/when the resources are detached.

Current workaround is to use something like Graffiti Monkey which will go through and add/update tags onto the resources associated by an instance, but it would

[2017-12-28 15:21] naveensrinivasan opened #4163 "Migrating to 1.8 with RBAC is incompatiable"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
Version 1.8.0 (git-4876009bd)
2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the

[2017-12-28 15:22] naveensrinivasan commented on #3750
https://github.com/kubernetes/kops/issues/4163

[2017-12-28 15:33] liggitt commented on #4163
Do the authorization errors persist in the log after the api server has completed startup and /healthz returns a 200? Some denials during server startup are normal as the authorization cache fills

[2017-12-28 16:03] naveensrinivasan commented on #4163
It continues and the cluster is inoperable.

[2017-12-28 16:30] stijndehaes commented on #3388
In the latest version of kops 1.8.0 the autoscaling:DescribeLaunchConfigurations is added to the master permissions. autoscaling:DescribeTags is not added but according to the documentation of cluster autoscaler this is only needed when you use `--node-group-auto-discover`.

I have been testing with 0 as a min for autoscaling and it works.

[2017-12-28 16:32] liggitt commented on #4163
After upgrading, what does this show?
[code]

[2017-12-28 16:35] liggitt commented on #4163
I also see this: https://github.com/kubernetes/kops/blob/1ff42edfac77df99ffa617113e51dad209ae0ce8/upup/models/cloudup/resources/addons/rbac.addons.k8s.io/k8s-1.8.yaml

I'm not familiar with what kops does on upgrade with the add on bindings

[2017-12-28 17:02] naveensrinivasan commented on #4163
@liggitt I manually ran the above yaml and it didn't help.

The api-server is unavailable after the upgrade so any of the kubectl commands fail.

[2017-12-28 17:10] liggitt commented on #4163
kubelet permissions should not affect api server availability. I'm not sure how to debug further if the api server is unreachable. Do you have more apiserver logs that might be illuminating? @chrislovecnm any ideas of what else might be at play here?

[2017-12-28 20:03] chrislovecnm commented on #4156
@KashifSaadat I got past this by using the same golang version for kops and nodeup.

[2017-12-28 20:44] mrballcb opened #4164 "Add rolling-update interactive cli option"
**Description:**
Sometimes when doing a kops rolling-update, I would like to ssh to a new master or new node to check that some component is configured properly, has started, or just in general look around to make sure it's behaving properly.  If I know a breaking change is coming, I'd like to have kops wait after each host for me to allow it to continue with the rolling update.

**Feature Request

[2017-12-28 21:38] whereisaaron commented on #3388
With cluster-autoscaler 1.0.2 I can get regular ASGs to scale to zero, however I can't get spot price ASGs to scale to zero, even when the min-size is set to zero. Anyone else achieved zero for spot price ASGs?

[2017-12-28 21:39] Rishka commented on #3388
It worked with 0.6.1 when I originally tested it, not sure if 1.0.* still does

[2017-12-28 21:59] sdcarter commented on #4145
This is already tracked by issue #3073. Think this is a big (or at least a bad user design experience irrespective of the intention). Worth adding your logs in there.

[2017-12-28 22:20] temujin9 commented on #3073
I have recently tested with setting the node count to zero in a YAML manifest. It does work, however it imposes several design decisions (such as managing a YAML manifest through version changes) that not all users will want. See https://github.com/kubernetes/kops/issues/4145 for my logs.

[2017-12-28 22:21] temujin9 commented on #4145
Closing as duplicate of #3073, have added commentary there directing people here for logs.

[2017-12-28 22:21] #4145 closed

[2017-12-28 23:17] thebadmonkeydev commented on #4144
I'm seeing this same issue in a public hosted zone...it seems that no matter how long I wait, the DNS records for the api endpoint aren't getting updated.  I know that an update is happening because the etcd records are getting updated to a proper IP.

[2017-12-28 23:23] mrballcb commented on #4164
I pushed another commit which prompts the user, accepts input, and responds based on that input. There may be better ways to do this, we'll work through them while working on a PR.

[2017-12-29 00:33] rdrgmnzs commented on #4160
This option is unfortunately not currently configurable with Kops https://godoc.org/k8s.io/kops/pkg/apis/kops#DockerConfig so it would have to be added.

I'm configuring it, but I'm also creating my own Linux images and so I just bake that configuration in. This however can get messy and is probably not what you'd want to do.

[2017-12-29 01:02] mrballcb commented on #4164
https://github.com/kubernetes/kops/pull/4166

[2017-12-29 07:42] huang-jy commented on #4158
Temporary workaround is to set the api DNS entry to be the same as api-internal

[2017-12-29 07:46] huang-jy commented on #4144
if api-internal.test-cluster.example.com is set, try setting api.test-cluster.example.com to the same IP.

[2017-12-29 14:58] KashifSaadat commented on #4163
@naveensrinivasan was RBAC already configured and working on when the Cluster was on `v1.7.7`, or did you change it in the spec as part of the upgrade?

@liggitt not sure about the addons behaviour, but if performing an upgrade from `v1.7` then the necessary RoleBinding will already exist, so that shouldn't be the issue I suspect.

[2017-12-29 15:02] KashifSaadat commented on #3911
Good to hear it's working, thanks for letting us know. Going to close this issue, feel free to update / reopen if you think there's anything outstanding here.

/close

[2017-12-29 15:02] #3911 closed

[2017-12-29 15:23] naveensrinivasan commented on #4163
@KashifSaadat RBAC was already configured and working when the cluster was `v1.7.7`

[2017-12-29 15:29] naveensrinivasan commented on #4163
Here are the log files. https://gist.github.com/naveensrinivasan/80eb10aa3bd2259139b48a6a78100357

I don't know exactly when I grabbed them. This from the master and I grabbed all the logs
- api
- controller
- proxy
- scheduler

[2017-12-29 16:18] chrislovecnm commented on #2481
Support is in for this

[2017-12-29 16:18] #2481 closed

[2017-12-29 20:00] erickt commented on #3575
Weave is getting upgraded to 2.1.3 in #3944, which hopefully will fix this problem for new clusters.

@bboreham will a kops upgrade automatically upgrade weave on a running cluster, or will admins need to manually upgrade weave in their clusters?

[2017-12-29 21:25] emwalker commented on #2354
These commands will reboot the master nodes and result in the updating of the `/srv/kubernetes/known_tokens.csv` file:
[code]

This assumes you have copied a user file to the S3 bucket as described in [this comment](https://github.com/kubernetes/kops/issues/2354#issuecomment-307927218).  (Also, as has been mentioned, the token in the S3 user file must be base64 encoded.)

[2017-12-29 22:19] chrislovecnm commented on #4162
@huang-jy I assume that you are working in AWS.  The last time I checked this was a limitation of using ASG.  We could write something into protokube to tag the volumes as well.  Can you provide more details on what you would expect?

[2017-12-29 22:36] davidblum commented on #4156
+1
Built from master branch today to get the new subnet functionality (hawtness), using go 1.9.2.

Running into the same issue with the certificate length when bringing a new cluster online:

[code]

[2017-12-29 23:08] chrislovecnm commented on #4156
You need to do a make upload and use the custom nodeup.

[2017-12-29 23:10] chrislovecnm commented on #4156
I have a PR in to fix this, but

1. Change makefile to use 1.9.2 or use golang 1.8.x locally
2. If you want to use 1.9 you need to upload nodeup and set the nodeup env variable

[2017-12-29 23:11] huang-jy commented on #4162
@chrislovecnm yes, I am using AWS, though I suspect something similar would be needed on the other supported clouds too.

Basically if I tag a node using cloudLabels with something like
[code]
Then the volumes (both the root volume and any additional volumes configured to be attached) should be tagged similarly.

[2017-12-29 23:18] chrislovecnm commented on #4156
/assign @justinsb

He is going to add some unit tests to figure out what is going on

[2017-12-29 23:58] DerekV commented on #3268
@rajholla http_proxy support is currently targeted for the situation where you are deploying to an existing VPC or network.  So for now the best approach might be to set up your VPC outside of kops and deploy into it (see the docs on existing VPC).   Since we don't create an http proxy server for you, using http_proxy more or less implies this situation anyways.

[2017-12-30 01:22] rajholla commented on #3268
Got it. @DerekV thank you again for the excellent work on http_proxy.

[2017-12-30 01:38] chrislovecnm commented on #4156
Well Justin put in https://github.com/kubernetes/kops/pull/4172 which shows the cert works work the supported versions of golang.

Any ideas folks?

[2017-12-30 04:51] naveeng68 opened #4173 "Clock Sync at the Node Level"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1.I am using  Kops version-1.8.0
2.Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.5", GitCommit:"cce11c6a185279d037023e02ac5249e14daa22bf", GitTreeState:"clean", BuildDate:"2017-12-07T16:16:03Z", GoVersion:"go1.8.3", Compiler:"gc", P

[2017-12-30 10:40] mercantiandrea commented on #4049
this workaround works also on AWS default image for kops (debian based)

`sudo vim /etc/sysconfig/kubelet`

add at the end of DAEMON_ARGS string:

` --runtime-cgroups=/systemd/system.slice --kubelet-cgroups=/systemd/system.slice`

finally:

`sudo systemctl restart kubelet`

[2017-12-30 12:05] huang-jy opened #4174 "[AWS] Respun nodes do not register after rolling-update with associate-public-ip=false"
I have created a k8s cluster and plugged into existing private subnets and an existing VPC.

I am using private topology.

The cluster comes up okay and the nodes register with the master. I can create jobs, etc. The cluster works fine in this state.

Then I update the nodes via `kops edit ig nodes clustername` -- for example, changing the maxPrice value (spot instance cost)

Running `kops update

[2017-12-30 15:10] vankhoa011 commented on #2881
I got same problem . My command is

[code]

[2017-12-31 03:20] mmacfadden commented on #2924
This is especially useful in an "infrastructure as code" paradigm. We use terraform and KOPS to manage our infrastructure. When standing up environments, we need to be able to use a known root or intermediate cert so that we can use pre-generated client certs to access the environment in automated testing scenarios. Having KOPS create it's own certificate creates a minor hurdles we have to jump th

[2017-12-31 10:49] yoni-rotvel commented on #4090
@AmazingDreams I got the exact same situation going on, were you able to figure out the cause or fix it?

[2017-12-31 11:07] AndreaGiardini commented on #3575
If yes, maybe it's worth releasing a v1.8.1 version?

[2017-12-31 12:37] gladiatr72 commented on #754
Bueller...

Bueller...

[2017-12-31 17:56] thuandt commented on #3251
@gauravarora use cloudinit

[code]

[2018-01-01 01:00] xech3l0nx commented on #2150
We are developing a cli for automated production ready k8s clusters provisioning and configuration
‘kubedo ’ started the project yesterday and looking for contributors have a look at the dev branch and let me know. We will keep the project on because we at SNAPUP LABS LLC are DO customers.
https://github.com/snapup-labs/kubedo

[2018-01-01 09:46] dorsegal commented on #1195
/remove-lifecycle stale

[2018-01-01 10:29] AmazingDreams commented on #4090
@yoni-rotvel `service kubelet restart` is the fix. Not sure about the cause.

[2018-01-01 12:23] yoni-rotvel commented on #4090
@AmazingDreams TNX for the reply, but im facing this while autoscaling the cluster, i cant ssh into newly created nodes and do it manually each time, im looking everywhere for a solution for this.

Anyone know the cause/fix?

[2018-01-01 12:54] akhfa commented on #2881
For all of you that still searching for this solution, you can create cluster with private networking first (without bastion), and then add bastion with [this](https://github.com/kubernetes/kops/blob/master/docs/examples/kops-tests-private-net-bastion-host.md#adding-a-bastion-host-to-our-cluster).

[2018-01-01 22:02] #2821 closed

[2018-01-02 06:23] vainu-arto commented on #4090
@yoni-rotvel As far as I can tell the cause is a misunderstanding between the code in kubelet and the way the AWS api works (the instance is tagged after startup, not before). See https://github.com/kubernetes/kubernetes/issues/57382 for the report against kubelet. A fix hasn't yet been developed.

[2018-01-02 08:42] yoni-rotvel commented on #4090
@vainu-arto Thanks for the reply, guess i'll need to wait for the fix.

[2018-01-02 09:40] djotanov commented on #4090
This is same as [#3605](https://github.com/kubernetes/kops/issues/3605). There is a suggested workaround there in one of the comments.

[2018-01-02 10:57] MQasimSarfraz commented on #4163
I am hitting the same issue after the upgrade following different installation method and I am sure `system:nodes` group have `system:node` role. Interestingly it isn't just `system:nodes` I see other groups e.g `system:authenticated` effected as well.
[code]

[2018-01-02 11:45] cordoval commented on #1776
/lifecycle frozen

[2018-01-02 12:55] huang-jy opened #4180 "[AWS] Nodes are not starting the same containers after rolling-update with no changes"
When creating a node, the following containers are seen on the box (and the box registers with the master successfully)

[code]

After applying a `rolling-update --yes --force` *without making any changes*, the nodes come up with only the following containers:

[code]

There are a number of containers missing but no errors in the cloud-init/cloud-init-output logs

[2018-01-02 12:56] vidurgupta opened #4181 "Placeholder IP not getting resolved(Spotinst - Kops)"
Following up with this guide " [http://blog.spotinst.com/2017/08/17/elastigroup-kubernetes-operations-kops/]

I'm setting up a new cluster using spotinst provider but not able to connect to the api server ,
commands are failing with what looks like the common "placeholder IP" address error.
`$kops validate cluster

cannot get nodes for "example.xyz.co": Get https://api.example.xyz.co/api/v1/nodes:

[2018-01-02 14:06] huang-jy commented on #4181
Are the DNS entries mapping to local IPs?

[2018-01-02 16:53] davidblum commented on #4156
With the passing tests, it just looks like version conflict on go itself.

Once 1.9 is pushed up and used in the AMI's we should be fine?

I'll try a 1.8 version locally and see if the issue persists.

Thanks @chrislovecnm

[2018-01-02 17:56] hubt commented on #3605
This should probably be fixed by k8s core, not kops per kubernetes/kubernetes#57382

[2018-01-02 18:00] foxish commented on #2537
Sorry, I never saw this @chrislovecnm.
I'm not sure if this is the wrong behavior - Waiting for Container creation to complete before trying to evict seems like a safe thing to do.
We don't expect the container creating state to last that long.

[2018-01-02 18:02] foxish commented on #2537
Related: https://github.com/kubernetes/kubernetes/issues/48307#issuecomment-312223291

[2018-01-02 18:35] bhack commented on #2493
This is going to be closed by the bot. How this will relate with https://github.com/kubernetes/kubernetes/issues/54011?

[2018-01-02 18:49] bhack commented on #2493
See also section:
[v1.8 onwards](https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/)

[2018-01-02 18:51] bhack commented on #1726
The new K8 doc was merged in https://github.com/kubernetes/website/pull/6736

[2018-01-02 18:54] bhack commented on #2493
See also ubuntu section in  https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/cmd/nvidia_gpu/README.md

[2018-01-02 19:42] liggitt commented on #4163
@naveensrinivasan what does apiserver /healthz show while the API server is crashlooping in that state?

seeing this, which makes me suspect issues writing to etcd:
[code]

[2018-01-02 19:45] liggitt commented on #4163
@MQasimSarfraz what is the output of a superuser in the `system:masters` group calling /healthz on the apiserver? RBAC denials could prevent other components from talking to the API server, but would not keep the API server from coming up. I suspect issues reading from and/or writing to etcd

[2018-01-02 19:56] MQasimSarfraz commented on #4163
@liggitt Where can I find that output? also following is what I can find related to /healthz in API server logs:
[code]

[2018-01-02 19:58] liggitt commented on #4163
formatted better, that shows:
[code]

the details for the failed hooks are available at these URLs:
[code]

[2018-01-02 20:11] chrislovecnm commented on #3605
@hubt agreed, but how are we suddenly having this problem?  And I have not been able to recreate as well.

[2018-01-02 20:11] MQasimSarfraz commented on #4163
Can't find anything useful from URLs:

[code]

[2018-01-02 20:14] hubt commented on #3605
I've had this problem for a long time, my 1.4 cluster has done this forever, but i never investigated it and pinpointed it until i saw this. It's feels like it's most problematic when there's a lot of node churn, like a big sweep of spots takes out and then replaces a lot of nodes at once.

[2018-01-02 20:15] chrislovecnm commented on #2537
/lifecycle frozen

[2018-01-02 20:17] chrislovecnm commented on #3605
Well let me disagree, I think this may be handled best if we put it in the installer and not in k8s.  Technically the node is not ready for k8s to be installed.

[2018-01-02 20:24] hubt commented on #3605
I think that's fine. If assumption is that only kops knows about spot vs on-demand instances and kops should take care of all the nuanced differences, then putting into protokube makes sense.

[2018-01-02 20:40] liggitt commented on #4163
All of those point to etcd write errors/hangs. Did etcd setup change during the upgrade? What are the flags passed to the apiserver?

[2018-01-02 21:38] MQasimSarfraz commented on #4163
Ahan interesting, No I haven't changed it but let me try to check `etcd` dumps. Also following are flags to apiserver:
[code]

[2018-01-02 21:57] chrislovecnm commented on #4163
I noticed that etcd is not setup for etcd 3 btw. Check but I think you are still running efcd2

[2018-01-02 21:58] chrislovecnm commented on #4163
You have

storageBackend: etcd3

But you are not setting the etcd version in the manifest as required

[2018-01-02 22:30] MQasimSarfraz commented on #4163
@liggitt thanks for the pointer for me it was `etcd`. The etcd cluster was misbehaving for some reason and everything is back to normal once I fixed it. I wonder  why ectd was marked `ok` in the health check or there wasn't any logging for `etcd` failure.
[code]
Thanks again!

[2018-01-02 22:32] naveensrinivasan commented on #4163
I have it running as `etcd3`

[2018-01-02 22:41] liggitt commented on #4163
@naveensrinivasan and is your etcd cluster an etcd3 cluster? What version is it running?

[2018-01-02 22:43] naveensrinivasan commented on #4163
@liggitt  It was running `etcd` and part of the upgrade I had to change it to `etcd3`.

[2018-01-02 22:46] liggitt commented on #4163
Did you migrate the etcd data from the etcd2 to etcd3 stores? You cannot simply upgrade the etcd binary and switch to etcd3 mode. If you didn't do a migration, you should continue to run kubernetes in etcd2 mode as long as you have v2 data (even against an etcd3 server)

[2018-01-02 22:51] naveensrinivasan commented on #4163
Nope, I didn't migrate. I was trying to use etcd2 in `kops` for `1.8` and I was running into issues which made me change to `etcd3`.

@chrislovecnm Would `kops` upgrade to `v1.8` without moving to `etcd3`.

[2018-01-02 22:52] liggitt commented on #4163
You can continue to use etcd2 (or etcd3 in etcd2 mode) against 1.8 and 1.9

[2018-01-02 22:53] naveensrinivasan commented on #4163
how do you use etcd2 in etcd3?

[2018-01-02 23:01] liggitt commented on #4163
Run etcd3 binaries and start the kube apiserver with --storage-backend=etcd2

Kubernetes will continue to use the v2 API (which etcd3 still supports) and will have access to your old c2 data via it

[2018-01-02 23:03] naveensrinivasan commented on #4163
Thanks, I don't know if `kops` is doing this or is it possible to do this in `kops`?

[2018-01-02 23:19] chrislovecnm commented on #4163
Yes, remove the etcd3 line in you manifest. Or edit your cluster.

[2018-01-03 01:56] cgilmour opened #4183 "Additional IAM permission required for Romana"
Version: kops v1.8.x
Cloud Provider: AWS
CNI: Romana

With a basic setup, the IAM role for masters does not have permission for ec2:ReplaceRoute
While looking for the best way to fix this, I noticed a few things:
`// Network Routing Permissions - May not be required with the CNI Networking provider` [comment](https://github.com/kubernetes/kops/blob/2fdf83454b3812c2219f18bf217e2ce9ba9aa527/pkg/mode

[2018-01-03 06:40] vidurgupta commented on #4181
@huang-jy  no the DNS entries are also mapped to placeholder ip i.e. 203.0.113.123

[2018-01-03 07:05] chrislovecnm commented on #4183
^ that is what I would rather have.  Easier to track that way.

[2018-01-03 07:06] chrislovecnm commented on #4183
@cgilmour ping me about e2e testing, we need to implement some testing to not have this happen in the future.

[2018-01-03 07:29] chrislovecnm commented on #4092
@liggitt what are your thoughts on this?  Do gke and openshift run RBAC by default?  I am thinking it is time.

[2018-01-03 07:32] huang-jy commented on #4181
@vidurgupta all four entries are stuck at placeholder IP? If so, then you should check on the worker node for errors in the logs. Also, check to make sure the worker nodes can talk to the master nodes. (ssh onto worker and attempt to curl to the master for starters)

Since you're using AWS like I am, also check which zones your master and workers are in. In my case, I had master in A and worker in

[2018-01-03 08:53] KashifSaadat commented on #3076
/assign
/close

This is now resolved in the latest kops releases (v1.8.0 and up).

[2018-01-03 08:53] #3076 closed

[2018-01-03 09:05] KashifSaadat commented on #2956
The SHA for kops is listed and downloadable on the releases page now 👍

/assign
/close

[2018-01-03 09:05] #2956 closed

[2018-01-03 09:38] vidurgupta commented on #4181
@huang-jy Yeah, all four entries are stuck at placeholder ip. I'm able to reach my master node from worker node. my one worker node is in west-1a and another in 1c, master is also in 1c.

There are no logs in kube proxy log in both worker nodes.

[2018-01-03 10:30] huang-jy commented on #4181
@vidurgupta there should be logs within the kube-proxy log on the worker even if not connectable.

Can you curl from the worker to the master?

e.g. curl -IL http://api.{clustername} ?

[2018-01-03 10:38] vidurgupta commented on #4181
@huang-jy  There are no logs in kube proxy , i think kops skipped the part where it load a docker image for kube proxy in worker node.

I'm not able curl the api server from the worker node.

These are the logs at time of creating the cluster

`I0103 08:08:18.092416   25915 create_cluster.go:884] Using SSH public key: /home/vidur/.ssh/id_rsa.pub
I0103 08:08:25.462181   25915 subnets.go:183] Assign

[2018-01-03 10:41] vidurgupta commented on #4181
@huang-jy This is the command I'm using for creating the cluster

` kops create cluster \
    --name $KOPS_CLUSTER_NAME \
    --zones $KOPS_CLUSTER_ZONES \
    --cloud $KOPS_CLOUD_PROVIDER \
    --node-size $KOPS_NODE_SIZE \
    --master-size $KOPS_MASTER_SIZE \
    --master-volume-size $KOPS_MASTER_VOLUME_SIZE \
    --node-volume-size $KOPS_NODE_VOLUME_SIZE \
    --spotinst-cloud-provider $SPOTIN

[2018-01-03 11:32] huang-jy commented on #4181
@vidurgupta --spotinst-cloud-provider? Which version of kops are you using? (I'm on 1.8.0)

[2018-01-03 11:43] vidurgupta commented on #4181
@huang-jy I'm using Version 1.7.1-beta.2 (git-1719d50)
This is a special binary of  kops in integration with spotinst service, can found it on the [ link ](http://blog.spotinst.com/2017/08/17/elastigroup-kubernetes-operations-kops).

[2018-01-03 11:45] rlees85 commented on #2722
please be aware this decision prevents scaling nodes down to 0 (which is a shame for dev environments only really used from 9-5). I tried looking around but is there any way of stopping Kops deploying kube-dns so I can just deploy my own modified version? Failing that I'll try using `replace`. Would be really nice to have a KOPS option to say "allow kube-dns on master" but I fully understand that

[2018-01-03 12:12] huang-jy commented on #4181
@vidurgupta thanks for that, that's something I wasn't aware of. I've not used the spotinst provider so I can't really say what might be causing that problem.

[2018-01-03 14:07] vidurgupta commented on #4181
@huang-jy thanks for all the help. Could you tag the right person for the problem ?

[2018-01-03 14:14] huang-jy commented on #4181
@vidurgupta I am not sure who would be the best person, I'm afraid. But if you did find the answer, I'm keen to know too

[2018-01-03 15:52] liggitt commented on #4092
Yes, GCE, GKE, kubeadm, openshift, tectonic, etc all enable RBAC by default on new clusters. That requires them to set up permissions for addons or cluster components set up by the installation.

[2018-01-03 17:00] anitakumar opened #4186 "documentation regarding iam roles required to create a cluster and do the full admin"
i have been creating cluster on aws using kops and i have full permissions on aws on my local machine .
This is not ideal so we will need to create/delete/administer cluster from another machine. Any member of the team should be able to run kops/kubectl commands on this machine

Does anyone know what access should be added to the roles for the aws user to make this happen.

Thanks

[2018-01-03 17:23] chrislovecnm commented on #3246
/close

Work is done

[2018-01-03 17:23] #3246 closed

[2018-01-03 17:38] joan38 commented on #3575
Same issue here and Calico

[2018-01-03 18:54] davidblum commented on #4156
@chrislovecnm Still having the issues when building kops with golang 1.8 locally.

Same error as before with issues parsing the cert.

[code]

[2018-01-03 19:04] naveensrinivasan commented on #4163
I think the issue was I was using the `kops` from the master branch or another version which was causing the whole migration messed up. I pulled the release version of kops `1.8` and it is working. Thanks

[2018-01-03 19:04] #4163 closed

[2018-01-03 20:45] jordanjennings commented on #3605
Unfortunately the workaround that @ese posted does not work for me. My spot instances still fail to register about half the time during a rolling update. I'm not sure if the root cause of my issue is with tagging (could be, just don't know for sure), but restarting kubelet manually during a rolling update fixes it for me. Not ideal...

[2018-01-03 22:08] jordanjennings commented on #4049
Thanks for the workaround! One thing that I noticed it fixes is the reported docker version from `kubectl get nodes -o wide`

First node has the workaround, second doesn't:

[code]

[2018-01-03 22:29] blakebarnett commented on #2135
/remove-lifecycle stale

[2018-01-03 22:36] blakebarnett commented on #2658
/lifecycle frozen

[2018-01-03 22:37] blakebarnett commented on #2639
/remove-lifecycle stale

[2018-01-03 22:39] blakebarnett commented on #3155
/lifecycle frozen

[2018-01-03 22:39] blakebarnett commented on #3155
I imagine we can close this once we switch to external-dns assuming it doesn't have the same problems.

[2018-01-03 22:40] blakebarnett commented on #1922
closed via PR #2063

[2018-01-03 22:41] blakebarnett commented on #1919
/remove-lifecycle stale

[2018-01-03 22:43] blakebarnett commented on #3141
I haven't had time to verify this, but I assume it's working.

[2018-01-03 22:43] #3141 closed

[2018-01-03 22:54] blakebarnett commented on #3019
/remove-lifecycle stale

[2018-01-03 22:54] blakebarnett commented on #3019
maybe this will be possible with the new kops api server?

[2018-01-04 01:48] chrislovecnm opened #4188 "Update kops ami for cve issues - meltdown and spectre"
Patch kernel in our Jessie and Stretch amis for

(CVE-2017-5715, CVE-2017-5753, and CVE-2017-5754)

[2018-01-04 01:51] pickledrick commented on #4188
Patches required for AMIs to address

https://meltdownattack.com/

CVE-2017-5753 and CVE-2017-5715 refer to Spectre
CVE-2017-5754 refers to Meltdown

Meltdown and Spectre exploit critical vulnerabilities in modern processors. These hardware bugs allow programs to steal data which is currently processed on the computer. While programs are typically not permitted to read data from other programs, a

[2018-01-04 01:53] chrislovecnm commented on #4188
What kernel versions are patched?

[2018-01-04 02:25] chrislovecnm commented on #4188
We determine that Linus just updated his branch, and the patch for 4.4 is not available yet.

More info about the exploits https://aws.amazon.com/security/security-bulletins/AWS-2018-013/

[2018-01-04 02:25] imsky commented on #2656
@chrislovecnm ping

[code]

[2018-01-04 05:42] chrislovecnm commented on #4188
For CoreOS users from @philips https://lkml.org/lkml/2018/1/3/105

[2018-01-04 06:17] chrislovecnm commented on #4188
For google container os follow https://support.google.com/faqs/answer/7622138

[2018-01-04 06:20] chrislovecnm commented on #4188
/area security

[2018-01-04 08:20] chrislovecnm commented on #4188
This has not been merged yet https://lkml.org/lkml/2018/1/3/770 ... once the kernel gurus finish duking it out, we may have the patches in. Not sure when they plan on cutting next kernel release though.

[2018-01-04 08:25] chrislovecnm commented on #2399
/lifecycle frozen

[2018-01-04 08:59] chrislovecnm opened #4190 "Assess moving from Debian to Amazon Linux 2 for base AMI"
They now support systemd https://aws.amazon.com/amazon-linux-2/, but I think are running the 4.9 kernel.  Filing this as a placeholder, as the AMI is not released as a stable image as of yet.

[2018-01-04 10:17] #3428 closed

[2018-01-04 10:18] prateeknayak commented on #3428
This was due to a bug in old version of `kops` which now seems to be fixed in version 1.8

[2018-01-04 10:50] kenden commented on #2348
/lifecycle stale

[2018-01-04 10:53] kenden commented on #2348
Still interested in this.
/remove-lifecycle stale

[2018-01-04 11:58] kenden commented on #165
/remove-lifecycle stale

[2018-01-04 13:02] iwasnobody opened #4191 "kops can't create master node in AWS BJS Region"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
kops 1.8.0
2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version

[2018-01-04 13:06] iwasnobody commented on #3751
I also find the same exception in AWS BJS region, I had copy AMI and specify the Region/AZ information， when I create the cluster , only nodes can be setup and no master at all.
I set the master instance type as t2.medium but still the same problem. Pls give me a help

[2018-01-04 13:44] #3146 closed

[2018-01-04 15:53] mvijftigschild opened #4192 "Nodeup doesn't load cni plugins with CNI 0.60"
1. What `kops` version are you running? The command `kops version`, will display
 this information.
`Version 1.8.0 (git-5099bc5)`
2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
`Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.0", GitCommit:"925c127ec6b94

[2018-01-04 16:37] chrislovecnm commented on #1922
/close

BTW that bot command should work for you @blakebarnett

[2018-01-04 16:37] #1922 closed

[2018-01-04 16:58] chrislovecnm commented on #3350
This is fixed in master closing

[2018-01-04 17:09] chrislovecnm commented on #3312
I am wondering if we should print an info message with a create that is using the default node size. We run e2e testing with the t2’s btw.

/remove-lifecycle stale

[2018-01-04 17:12] chrislovecnm commented on #2656
It is a requirement for a subnet to specified at this time. How do you recommend handling this when we have 3+ subnets with a kops cluster?

[2018-01-04 17:40] imsky commented on #2656
@chrislovecnm if i recall correctly, the previous behavior was to add all cluster subnets to the instance group

this actually seems to be fixed in https://github.com/kubernetes/kops/commit/65bcbe7729c9f9ce92a445d05e160275f2e1c523

now subnets will be inferred from the cluster spec here: https://github.com/kubernetes/kops/blob/7a2ff89d77a77667c556663db05557f6ada026cc/upup/pkg/fi/cloudup/populate_i

[2018-01-04 22:22] alock commented on #1177
/remove-lifecycle stale

[2018-01-04 22:42] huang-jy opened #4195 "Bastion box does not get key added to it"
When creating a box with a bastion role, I'm finding that while it does come up, and gets a public IP and is accessible, it has no private key on it, so when you attempt to SSH into the master or worker nodes, you cannot until you copy the private key you used to create the cluster into the bastion box.

[2018-01-04 22:57] dasgoll commented on #2437
Same issue with kops version 1.8.0

[2018-01-05 01:03] ctownsen357 commented on #2034
I would be glad to help sort this out.  I'm running a Docker Swarm cluster out on GovCloud right now but would like to migrate to Kubernetes eventually for some of the additional features Kubernetes provides.  Currently, requiring Route53 appears to be a show stopper.  I can help test running commands on GovCloud and have external DNS through hover.com.  I can't find any documentation on bypassing

[2018-01-05 02:07] ctownsen357 commented on #2034
I got much further with this after reading @geojaz 's comment and following the documentation to specify `.k8s.local` for the suffix of the cluster name.  The create cluster command started creating resources but can't find the target AMI out on GovCloud.  I'm getting this error now:
[code]
So close! 72/75 tasks reported as complete.

[2018-01-05 02:59] perryao commented on #3957
@chrislovecnm Is this work active or still awaiting the machine api?

[2018-01-05 03:20] igorvpcleao opened #4196 "Lock kube-router version"
Hi everyone,

It seems kops doesn't lock kube-router version. It may cause several problems as it may update to a newer version without user knowledge, and break things inexplicably.

On the template, it has only the image name, without a explicit version. That downloads `latest`, which may change and break:
https://github.com/kubernetes/kops/blob/98b2437bc001907da8d4632b8476d7865f797eb1/upup/mode

[2018-01-05 04:14] chrislovecnm commented on #3957
@perryao nobody has started on this, would love someone to pick this up!

[2018-01-05 04:33] chrislovecnm commented on #4195
This is as designed. You can use ssh agent forwarding to forward the key

[2018-01-05 04:33] towens commented on #780
+1 Also very interested.

[2018-01-05 04:56] justinsb commented on #4156
I think this happens when running nodeup that doesn't match the kops version.  I added keyset.yaml to the directory, and it isn't a PEM file, but nodeup 1.8 will still try to parse it as such.

The workaround (which is present in master) is this code:

[code]

I suspect the problem is not go 1.8 vs 1.9, but rather just the act of building the code.

How are people building though?  It sounds like

[2018-01-05 05:04] huang-jy commented on #4195
Okay, let me try that, thank you

[2018-01-05 05:55] lapee79 opened #4197 "elbSecurityGroup is also removed from node security group when deleted LoadBalancer type service!"
* kops version: 1.8.0
* kubernetes version: 1.7.11
* kubectl verison: 1.8.4
* cloud provider: AWS

I set elbSecurityGroup at kops cluster spec.
When LoadBalancer Service create Security group rule is added only elbSecurityGroup.
But elbSecurityGroup is also removed from node security group when deleted LoadBalancer type service!
It cause outage of all ELB service.
Is this problem fixed or not?

[2018-01-05 07:47] huang-jy commented on #4195
If anyone wants the command:

`ssh -i /path/to/cluster_rsa_key -o ProxyCommand='ssh -W %h:%p admin@bastion.$CLUSTER_NAME' admin@MASTER_IP`

[2018-01-05 07:47] #4195 closed

[2018-01-05 08:45] metametadata commented on #3146
Just stumbled upon this problem. Is it now documented somewhere else than StackOverflow?

[2018-01-05 09:12] BradErz commented on #4188
any progress?

[2018-01-05 12:18] eisig commented on #4191
Do your follow guides in docs/aws-china.md ?

[2018-01-05 15:41] anitakumar opened #4200 "The connection to the server localhost:8080 was refused - did you specify the right host or port?"
I have a cluster running on aws and am trying to connect to it from another machine

I created a user in a namespace and then set-credentials and all that was fine

i also copied over the certificate and the pem and client.crt

i have done this before and has worked before but for some reason it is not working.
can you help me troubleshoot this problem

if i run commands like kubectl get nodes i g

[2018-01-05 16:15] davidblum commented on #4156
@justinsb I agree with you on the build aspect (vs the go version).

Initially I was running the `make` independent of the `make upload` suggested by Chris.  What's interesting is that those two should produce the same version of kops for OSX.  However they seem to have a different git hash.

As I mentioned earlier, I was able to successfully build, and deploy from the master branch when I ran `ma

[2018-01-05 16:19] anitakumar commented on #4200
i used this link to create a user. and generate certificates. https://docs.bitnami.com/kubernetes/how-to/configure-rbac-in-your-kubernetes-cluster/#use-case-1-create-user-with-limited-namespace-access

[2018-01-05 17:18] chrislovecnm commented on #1506
This is a duplicate.  Closing

https://github.com/kubernetes/kops/issues/1896

[2018-01-05 17:18] #1506 closed

[2018-01-05 17:27] StephanX commented on #4156
I can verify that on OSX, two different versions of kops is built, when `make kops upload` is executed, apparently one version by the local go, and a different version by the containerized build.  The local version (even when built against 1.9.2, and an updated Makefile) produces the original error, "

Relevant details below, I hope they're helpful:
[code]

[2018-01-05 18:12] tsupertramp commented on #4188
https://security-tracker.debian.org/tracker/CVE-2017-5753
https://security-tracker.debian.org/tracker/CVE-2017-5715
https://security-tracker.debian.org/tracker/CVE-2017-5754

Jessie currently has no patches, only one stretch cve fixed.

(stretch is the one which will be used with kops 1.9 release and is not released stable yet)

So we still have to wait @BradErz

[2018-01-05 18:54] andrewsykim commented on #4196
@igorvpcleao @Cisneiros @tonidas is there a version of kube-router you know works very well with the latest version of kops?

[2018-01-05 18:57] Cisneiros commented on #4196
We have been running 0.0.20 for about 17 hours straight with no errors

[2018-01-05 18:57] andrewsykim commented on #4196
cc @murali-reddy

[2018-01-05 18:57] andrewsykim commented on #4196
If someone can open a PR for this, I can approve it :)

[2018-01-05 19:25] chrislovecnm commented on #4196
/assign @murali-reddy

[2018-01-05 19:27] zparnold commented on #3605
It may be a bit crude since it doesn't depend on checking the AWS API for node tags but right after the line:
`set -o pipefail` we added `sleep 2m`

because in general the tags will be present on the node by then. This is a decent workaround for us at least until https://github.com/kubernetes/kubernetes/issues/57382 is taken care of.

[2018-01-05 19:32] caraboides opened #4202 "apiserver not starting with audit logging (STDOUT)"
1. What `kops` version are you running?
`Version 1.8.0 (git-5099bc5)`
2. What Kubernetes version are you running?
[code]
3. What cloud provider are you using?
aws
4. What commands did you run?  What is the simplest way to reproduce this issue?
`kops edit`
[code]
`kops update`
[code]
5. What happened after the commands executed?
kube-apiserver pod is not starting, see this in syslog at the master:

[2018-01-05 19:35] chrislovecnm opened #4203 "HOWTO PR review"
This is an issue where we can start outlining a document on howto PR review in kops.  We have three different types of PR reviews

1. documentation
2. code
3. code with API changes

We should determine what documentation we already have on this from the community repo kubernetes/community.

Basic principles for the PR review

1. unit tests
2. integrations tests
3. go docs
4. go conventions (camelC

[2018-01-05 19:37] chrislovecnm commented on #4203
HOWTO handle a brand new contributor vs old salts contributor :)

Also, gratitude and empathy are key.  Always!  We are serving the community via PR reviews.

[2018-01-05 19:39] mikesplain commented on #4203
As Chris mentioned in chat, for non-members, wait/nudge on CLA before `/ok-to-test`.

[2018-01-05 19:42] chrislovecnm commented on #4203
1. proper labels
2. proper build queue labels

[2018-01-05 19:55] iamrandys commented on #3607
I was getting the same x509 issue when downloading Kops 1.8.0 from https://github.com/kubernetes/kops/releases/download/1.8.0/kops-darwin-amd64

Version 1.8.0 (git-5099bc5)  <<---- this build shows the git version

**If I did a "brew install kops" the issue was gone.**  When I did a version on kops with this installation it only showed "Version 1.8.0" and didn't have the git sha.

[2018-01-05 19:56] chrislovecnm commented on #3607
Need more context @iamrandys

[2018-01-05 20:26] BobbyJohansen commented on #4188
Are you guys planning on updating the Jessie AMI?

[2018-01-05 22:29] blancsys commented on #4054
@justinsb Any feedback will be greatly appreciated. Thank you very much in advance!

[2018-01-05 23:51] chrislovecnm commented on #4188
Kops alpha channel has the new AMIs. Please test!!

[2018-01-06 02:04] chrislovecnm commented on #4156
So this seems to be an OSX go bug ... YAYAYAYAYA

[2018-01-06 02:50] gankit commented on #1776
Question - do people prefer Weave or Calico for network encryption?

[2018-01-06 02:50] gankit commented on #1776
/remove-lifecycle stale

[2018-01-06 02:56] ReillyProcentive commented on #1776
@gankit Perhaps I'm not seeing it but I'm not seeing that Calico supports network encryption directly at the moment. Weave does so we would prefer to have that as an option.

Flannel also appears to be close to having an encrypted overlay network: [link](https://github.com/coreos/flannel/pull/637)

[2018-01-06 07:51] RobertDiebels commented on #2859
/remove-lifecycle stale

[2018-01-06 09:25] huang-jy commented on #4200
[code]

[2018-01-06 09:31] huang-jy opened #4205 "No error generated when requesting an unavailable/non-existent instance type"
I attempted to update my node config to use a t2.nano (which doesn't exist in the region I'm working in) for my nodes and the cluster took the update but never spun it up and it wasn't evident why it didn't spin up until I checked why there was no spot instance request.

[2018-01-06 14:44] sidguptajhs opened #4207 "CLI should warn users about limitation of using the new AWS instance types (P3, C5, M5, H1)"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
1.8.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version spe

[2018-01-06 15:39] timworx commented on #4202
What is the output of `/var/log/kube-apiserver.log` - the syslog just appears to be confirming that services can't connect to the kube-apiserver.

[2018-01-06 16:23] caraboides commented on #4202
There is no output in the kube-apiserver.log.

[2018-01-06 17:46] mohammedali-kadri commented on #3475
is there a way to reduce or control the size of these volumes??

[2018-01-06 18:00] mohammedali-kadri opened #4208 "reduction of the EBS volume for etcd"
is there a way to reduce the EBS volume for etcd,,,it is defaulting to 20GB.

[  etcdClusters:
  - etcdMembers:
    - encryptedVolume: true
      instanceGroup: master0-az0
      name: a-1
    - encryptedVolume: true
      instanceGroup: master1-az0
      name: a-2
    - encryptedVolume: true
      instanceGroup: master2-az0
      name: a-3
    - encryptedVolume: true
      instanceGroup: master0-

[2018-01-06 18:38] abhishek181 opened #4209 "Segmentation fault while creating new instance group using kops"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

Ans. kops version is 1.8.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

Ans. kubectl version displays the following:

Client Version: version.Info{Major:"1", Minor:"9",

[2018-01-06 23:21] kyrias commented on #2771
Fixed by #2837.

[2018-01-06 23:21] #2771 closed

[2018-01-07 05:34] roberthbailey opened #4210 "Unable to create kops cluster on GCE without an ssh key"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

$ kops version
Version 1.8.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide th

[2018-01-07 11:11] superzhouqi commented on #4191
@eisig yes, I follow the aws-china.md, set the AWS_REGION=cn_north_1, make sure the internet can be accessed and copy the AMI from us-west-2, and then run the kops

[2018-01-07 16:54] chrislovecnm commented on #4188
PR for the advisories is in https://github.com/kubernetes/kops/pull/4211.  Please comment, and review!!!!!

[2018-01-07 17:13] eisig commented on #4191
Any error log?  We use terraform to build the clusters in bjs. https://github.com/kubernetes/kops/blob/master/docs/terraform.md

[2018-01-07 18:01] chrislovecnm commented on #3545
/close

[2018-01-07 18:01] #3545 closed

[2018-01-07 18:21] chrislovecnm commented on #3543
/close

Should be fixed

[2018-01-07 18:21] #3543 closed

[2018-01-07 20:01] chrislovecnm opened #4212 "Shared Security Group Work not completed"
Work not completed for shared security groups PR https://github.com/kubernetes/kops/pull/3595

- documentation
- examples
- security group rules are printing on dry-run
- security groups are deleted
- elb work not complete - https://github.com/kubernetes/kops/pull/3562

@justinsb I assume you want follow-up PRs

[2018-01-07 23:34] chrislovecnm commented on #3249
/close

Fixed

[2018-01-07 23:34] #3249 closed

[2018-01-08 00:00] dezmodue opened #4218 "kubectl logs POD broken when using amazon-vpc-cni-k8s (kubelet registers the wrong IP)"
1. What `kops` version are you running? The command `kops version`, will display
 this information.
kops and nodeup built from master 2fdf83454b3812c2219f18bf217e2ce9ba9aa527 - golang 1.8.5

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
Server Version: version.Info{Major:"

[2018-01-08 00:38] chrislovecnm commented on #4218
Can you please file this issue with https://github.com/aws/amazon-vpc-cni-k8s?

[2018-01-08 01:57] chrislovecnm commented on #4208
Not supported that this point and contributions are always appreciated!

[2018-01-08 01:58] chrislovecnm commented on #4209
kops create instancegroup bastions --role Bastion --subnet= --name= --state=s3://

are you missing the state store bucket name?

[2018-01-08 01:59] chrislovecnm commented on #4209
Admittedly this is a bug, as we should not panic

[2018-01-08 03:54] abhishek181 commented on #4209
Hi,

I am not missing the bucket name. If bucket name would not be there , then there would be some error regarding state store bucket.

Any timeline, when this bug will be resolved?

[2018-01-08 05:27] chrislovecnm commented on #3515
Closing

[2018-01-08 05:27] #3515 closed

[2018-01-08 06:10] superzhouqi commented on #4191
@eisig
Hi eisig:
    Thanks for your reply, I followed the below cmd to create the cluster, no exceptions show but also no master had been created. The ami-1b69bb76 is copied from the us-west-2 region, Any ideas?

export AWS_REGION=cn-north-1
export AWS_AVAILABILITY_ZONES=cn-north-1a,cn-north-1b
export S3_BUCKET=kubernetes-demo
export KOPS_STATE_STORE=s3://${S3_BUCKET}

kops create cluster \
  --n

[2018-01-08 07:20] qrevel commented on #2142
/remove-lifecycle stale
agree with @ahawkins

[2018-01-08 10:47] #3539 closed

[2018-01-08 11:02] KashifSaadat commented on #4156
@justinsb I was building via `make version-dist` and uploading all assets (including nodeup) to S3, however was still encountering this issue (I'm on OSX). Just re-testing now fresh off master (#b8a701b2), will update shortly. :)

[2018-01-08 12:28] gambol99 commented on #4156
i can see this https://github.com/gambol99/kops/blob/master/upup/pkg/fi/vfs_castore.go#L471 is defaulting to true causing it to useBundle .. though i can't see anywhere in the code the file is created ... i'm missing something?? :-(

[2018-01-08 13:25] lsiddiquee commented on #2422
/remove-lifecycle stale

[2018-01-08 13:29] hatemosphere commented on #4202
+1 to this, we have the same problem

[2018-01-08 15:40] KashifSaadat commented on #4156
Any pointers on how we can get kops to generate the `keyset.yaml` file (if it's detected as missing) during a `kops update cluster..` command? I was trying to follow through the logic and got a little lost!

[2018-01-08 15:44] krogon-dp commented on #4188
@chrislovecnm `This advisory includes the intial work to resolve CVE-2017-5753 and CVE-2017-5754`.
[Debian](https://security-tracker.debian.org/tracker/CVE-2017-5753) does not fix CVE-2017-5753 yet. I run [spectre-meltdown-checker](https://github.com/speed47/spectre-meltdown-checker) and it shows that AMI `kope.io/k8s-1.7-debian-jessie-amd64-hvm-ebs-2018-01-05` is vulnerable.
[code]

[2018-01-08 16:22] rwiggins commented on #4146
I believe this is also an issue for Romana. I can file a separate issue for that if needed.

[2018-01-08 16:52] caseydavenport commented on #4146
Provided the infrastructure is in place to distribute the requisite keys then enabling this is Calico should be straightforward.

The calico components all take options to configure this: https://docs.projectcalico.org/v2.6/reference/node/configuration

^ See the `ETCD_` options in the above link

[2018-01-08 17:09] gambol99 commented on #4146
Taking a look at this now .. I shouldn't be too difficult to support
/assign

[2018-01-08 17:21] steveruckdashel opened #4225 "[AWS] Feature Request: Encrypted volume support in storage-aws.addons.k8s.io"
I would like the ability to have the default EBS storage class provision encrypted volumes. I image configuring this through the cluster_spec:
[code]

Resulting in storage-aws.addons.k8s.io/v1.7.0.yaml having the `encrypted: true` flag:
[code]

[2018-01-08 18:00] karlmutch commented on #4209
Using instructions found at,https://github.com/kubernetes/kops/blob/master/docs/bastion.md a similar thing fails in that the utility subnet is missing and so the bastion cannot be created. I believe the two things are related but am not sure how to create the utility subnets manually.

[2018-01-08 18:02] so0k commented on #3762
As a workaround using the default debian images, would it be sufficient use `system.slice` for `system-reserved` and use hooks to create a dedicated cgroup for `kube-reserved`?

i.e `podruntime.slice`

[code]

[2018-01-08 18:08] karlmutch commented on #2881
It appears the above suggestion does not work in the case I have.  I appears that kops 1.8.0 is not creating the utility subnet ?
If the utility subnet is used durung the create we get a go panic,  if the utility- is not used then the create opens the editor and after the editor is closed then a readable message is produced saying that the utility subnet cannot be found.  See below:

$ **kops upda

[2018-01-08 18:41] decoursin commented on #3274
I'm having the same problem, but I'm using a `kube-aws`, it seemed to happen after deleting a pod, but that might just be a coincidence.

[2018-01-08 18:51] dinar-dalvi commented on #3154
any update?

[2018-01-08 18:57] gdvadas commented on #3154
@cdenneen @dinar-dalvi in order to make kops work in an existing vpc, is necessary some pre existing attributes on it. Ensure that your VPC has enabled DNS hostname and all your route tables and subnets are to been tagged with 'KubernetesCluster={your.cluster.name.here}'

I made this changes and it started to work.
Beware, KOPS will take control of your VPC resources tagged with KubernetesCluster,

[2018-01-08 18:57] #3154 closed

[2018-01-08 19:07] Stelminator commented on #2859
FWIW, I ended up scripting `KUBECONFIG=kubectl.yaml kops export kubecfg`, uploading `kubectl.yaml` via the `aws` cli, and then using a `data "aws_s3_bucket_object" "..." {` block to pull it down, followed by a bunch of regexes.

[2018-01-08 19:07] cdenneen commented on #3154
I wouldn't recommend tagging your existing VPC subnets with that tag to avoid it getting deleted.
You can edit the configuration to supply the subnet-id's and it will work with existing as per docs...
Issue is you can't specify the subnet-id's on the command line but you can create the configuration and then modify the config to supply the id's... then you can save that configuration for creating

[2018-01-08 22:05] cdenneen opened #4228 "kubectl proxy (dashboard 1.8.1)"
[code]

[2018-01-08 22:24] JayBusch commented on #518
It is unclear to me how to do this on Debian Jessie and only to a specific instance group.  Don't really want to deploy a new cluster for my GPU enabled instances.

Anyone have any ideas?

[2018-01-08 22:27] bhack commented on #518
On new versions of K8 I think the ubuntu version is valid also or debian: https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/cmd/nvidia_gpu/README.md

[2018-01-08 22:49] suneeta-mall commented on #2436
+1 encountered same issue as well

[2018-01-08 22:57] RickyCook commented on #4188
AFAIK one of the Spectre variants can't be fixed through a kernel patch?

[2018-01-09 06:48] krogon commented on #4188
Nope. Spectre Variant 2 is corrected with microcode, along with kernel which enables new microcode. Variant 1 & 3 are pure kernel patches.

What's wrong is stating that the advisory fixes Variant 1 (Spectre) & 3 (Meltdown) while only last is correct.

[2018-01-09 06:49] krogon-dp commented on #4188
Nope. Spectre Variant 2 is corrected with microcode, along with kernel which enables new microcode. Variant 1 & 3 are pure kernel patches.

What's wrong is stating that the advisory fixes Variant 1 (Spectre) & 3 (Meltdown) while only last is correct.

[2018-01-09 06:52] RickyCook commented on #4188
ill defer to your much better understanding :)

i hate the mixed messages everyone has about this. that’s possibly the worst part; how hard it is to find reliable summaries

i’ll edit my comment so it’s obvious

[2018-01-09 07:00] vicenteampliffy commented on #3473
If someone could point me where in the code should I add this support, I may present a PR.
Thanks in advance!

[2018-01-09 07:02] shamsalmon commented on #4056
Agree with @rdrgmnzs . If there was a way to define the "base" terraform that was generated and we can change things as needed (re-using EIPs, additional routes for VPC peering) that would be awesome.

[2018-01-09 07:13] Shemeikka commented on #3861
Hi,

Any updates on this? This happens at least every time I do a rolling-update cluster and this only affects internal load balancers.

[2018-01-09 10:43] david92rl commented on #4112
I ended up with a workaround until the kubelet issue is resolved. Add this hooks to the cluster spec:
[code]
It just makes the instance wait until the KubernetesCluster tag is present.

[2018-01-09 11:25] wknapik commented on #2861
Appears to be resolved in 1.9, or earlier.
/close

[2018-01-09 11:25] #2861 closed

[2018-01-09 11:35] Globegitter commented on #2242
I am just running into the same issue. We are looking at autoscaling for our test clusters to save money. For the nodes it is easy, but it would also be nice to have something for masters. For our use-case I could imagine some linking to the nodes. If there is only one node, then scale down to one master. If there are more than one node scale up to 3 masters in 3 AZs. As sometimes we want to simul

[2018-01-09 11:57] xh4n3 commented on #4127
Hi @geojaz ,
We're currently reading the kops codes, now this seems really large for two or three weeks' development.
We plan to follow the process like DO does #2150  , to implement AliCloud as cloud provider.

Here are some raw ideas:
1. DNS Provider seems does the job for end-users to access clusters, not compulsory. The gossip-based thing should do the work for node to discover masters. So we

[2018-01-09 12:49] rbtcollins commented on #2075
/remove-lifecycle stale

[2018-01-09 13:38] nebril opened #4236 "Specify etcd version from cli"
I would like to be able to specify etcd version from command line.

I am working on adding Cilium as a CNI plugin for k8s clusters deployed by kops. Cilium needs etcd>=3.1.0, default version in kops is much older.

This change would allow deployment of kops with Cilium as a one-liner, but is possibly beneficial for users not using Cilium, so I want to do this as separate PR.

[2018-01-09 14:08] tobstarr commented on #1097
Is this only working for network topology private? I tried this with topology public but am getting this error here:

`W0109 15:02:44.591167   17833 executor.go:109] error running task "LoadBalancer/api.v1.wunderscale.com" (9m58s remaining to succeed): Field is required: Subnets`

I tried to add a subnets field to `api.loadBalancer` and `api` but both were not accepted.

What I am trying to achiev

[2018-01-09 15:54] huang-jy commented on #4180
Not encountered this for a while, so going to close.

[2018-01-09 15:54] #4180 closed

[2018-01-09 15:55] huang-jy commented on #4174
I think I was a little too impatient. Waiting a while longer let it register. Or even doing another ```--cloudonly ``` update worked. Might be a race condition somewhere....

[2018-01-09 15:55] #4174 closed

[2018-01-09 15:57] huang-jy commented on #4158
Should use `--topology=private` in conjunction with this to make the api entry an alias, instead.

[2018-01-09 15:57] #4158 closed

[2018-01-09 15:57] huang-jy commented on #4144
IS this still happening?

[2018-01-09 16:19] anitakumar opened #4238 "connect to master instance"
i used kops to create a cluster in aws
. however i  did not provide the ssh-public-key in the setup.
how do i connect to the master/node instances in aws

[2018-01-09 16:24] ganeshmedhekar commented on #4144
Hi,
Thanks for ur comments. We have resolved this by setting AWS route 53 private domain and make the cluster as a private domain but definitely would like to know the concrete resolution for this.

[2018-01-09 17:36] gambol99 commented on #4146
Working on the PR in #4240

[2018-01-09 17:40] huang-jy commented on #4144
I used to have this problem, but when I re-created use private topology, (which creates the api entry as an *alias*) the problem was fixed.

[2018-01-09 18:03] chrislovecnm commented on #4146
Migration is the fun part, you would need to check with calico to see if they have worked it out yet

[2018-01-09 18:14] chrislovecnm commented on #4188
@RickyCook give our advisory a read, and @krogon-dp if you want to add a section to the advisory about the 2nd variant, that would be awesome.

Here is the kops advisory: https://github.com/kubernetes/kops/blob/master/docs/advisories/spectre-meltdown-kernel-update.md

I think the patch is on its way for variant two.

Gentoo always provides super low detailed info about stuff like this https://wiki

[2018-01-09 18:15] chrislovecnm commented on #4188
@krogon-dp thanks for the info, was 5753 not resolved yet?

[2018-01-09 18:26] chrislovecnm commented on #4238
@anitakumar does ssh with the admin use work?  I assume you used the default ami.

[2018-01-09 18:28] chrislovecnm commented on #4210
@roberthbailey we should integrate into the gce security for ssh, and not worry about a key.  Not certain if @justinsb has done that already.  Here is a guide for ssh key creation https://www.digitalocean.com/community/tutorials/how-to-set-up-ssh-keys--2.  Also, we need to add that documentation to both AWS and GCE guides.

[2018-01-09 18:32] chrislovecnm commented on #4236
We actually have this hiding in the `--override` flag.

[code]

You, of course, will need more flags.  This feature has already been exposed to manifest users.

Can we close?

[2018-01-09 18:34] chrislovecnm commented on #4202
@sethpollack do you have any insight?  I think you dropped in the options for api audit logging.

[2018-01-09 18:34] sethpollack commented on #4202
nope, never used it in the end

[2018-01-09 19:56] huang-jy opened #4242 "[Question] Mixed-spec nodes?"
This isn't an issue, but more of a question.

Can I specify different instance types for the cluster within kops? i.e. Let's say I have a t2.medium on 6 worker nodes, and I want to add 2 r4.large instances, while keeping the 6 mediums. Can I do that?

[2018-01-09 19:57] chrislovecnm opened #4243 "Allow protokube to be a staged assets"
The asset API does not currently allow for protokube to be staged in a docker registry.  This needs to be implemented.

1. assets phase should d/l the tarball
2. extract the tarball
3. docker install the container locally
4. push the container to the registry

[2018-01-09 19:57] chrislovecnm commented on #3124
/lifecycle frozen

[2018-01-09 19:58] chrislovecnm commented on #2672
/close as it is implemented

[2018-01-09 19:58] chrislovecnm commented on #2571
/close

Implemented

[2018-01-09 19:58] #2571 closed

[2018-01-09 19:59] chrislovecnm commented on #715
/close

as this is implemented

[2018-01-09 19:59] #715 closed

[2018-01-09 19:59] chrislovecnm commented on #2391
I am going to close this as work will start on the addon manager, which will probably not use charts.

[2018-01-09 19:59] #2391 closed

[2018-01-09 20:00] chrislovecnm commented on #2034
@ctownsen357 you copy the image over to gov?  Or you can use another ami

[2018-01-09 20:01] chrislovecnm commented on #1873
I am going to close this very long long long issue.  We are code complete, and please file issues on any other IAM improvements/problems.

[2018-01-09 20:04] philstrong commented on #4188
@chrislovecnm fantastic share thanks!

Exceptionally well done advisory

[2018-01-09 20:30] erickt commented on #4207
I think this is a dup of #3868.

[2018-01-09 20:56] huang-jy commented on #4242
Found it here:

https://github.com/kubernetes/kops/blob/master/docs/instance_groups.md

[2018-01-09 21:27] dezmodue commented on #4218
Hi @chrislovecnm, I will do as I cannot seem to reproduce the same issue when running a private kops cluster with flannel-vxlan by simply adding eni and IPs to the nodes

[2018-01-09 21:48] anitakumar commented on #4238
it didnt work.  i spun up a new cluster with ssh-public-key supplied as i did not have the key

[2018-01-09 22:37] krogon-dp commented on #4188
@chrislovecnm about 5753 not yet in ubuntu/debian kernels
https://github.com/hannob/meltdownspectre-patches

[2018-01-10 01:08] #4123 closed

[2018-01-10 02:14] so0k commented on #3762
Just wanted to share back my finalised cluster manifest snippet for `kops 1.8 - kubernetes 1.7.12` - running `m4.large` masters and `m4.xlarge` nodes. would love feedback if I did something wrong.

**Note**: Adjust memory reservations according to your node size or your cluster won't come up - I spent way too long on this as I was testing on machines that were too small... :rage4:

`clusterSpec` -

[2018-01-10 02:17] dcowden opened #4247 "Confused and Hungry-- ingress gives 502 error when master is down in same AZ"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

kops 1.9.1.
kubernetes 1.8.4
aws based kops
masters in each of 3 AZs, with 2 workers in each AZ

When we do a rolling update, and a master goes offline,  the notice that these things happen:

(1) all of the nodes in that AZ go NotReady
(2) ingress controllers start giving 502 gateway errors, even though the p

[2018-01-10 06:44] roberthbailey commented on #4210
Under https://github.com/kubernetes/kops/blob/master/docs/tutorial/gce.md#creating-a-cluster it says

which I suppose covers it, but if you don't have a key you don't get nearly that far through the document before needing to know that tidbit.

[2018-01-10 06:47] roberthbailey opened #4248 "Zone column is not filled in for new GCE cluster"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

[code]

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

_n/a_

3. What cloud provider are you using?

GCE

4. What commands did you run?  What is the simplest way to reprodu

[2018-01-10 10:44] jhedev opened #4249 "Provider problems when using kops' Terraform output as a module"
I'm using kops terraform output as a module in our terraform setup.

The setup defines a provider using the `assume_role` feature to create all resources in a different account, i.e. the provider looks like this:

[code]

However, since kops defines it's own provider in the generated terraform config like this:

[code]

the provider setting is overwritten and the main account is used.

I see that