[2020-02-13 15:00] ifosch commented on #7931
My bad, I understood these were interexchangeable. Thank you very much, and sorry for my mistake.

[2020-02-13 15:12] kforsthoevel commented on #7119
Another way of handling node draining on termination taken from Zalando's kubernetes-on-aws: https://github.com/zalando-incubator/kubernetes-on-aws/blob/449f8f3bf5c60e0d319be538460ff91266337abc/cluster/userdata-worker.yaml#L92-L120

[2020-02-13 15:20] hakman commented on #7931
Thanks for clarifying this @mazzy89. If I get some extra time will make it more reliable in the future.

[2020-02-13 15:33] Nilubkal commented on #6879
/reopen

[2020-02-13 15:43] Nilubkal commented on #6879
Thanks @rifelpet for reopening ! It seems that i cannot pass the flag `--kubelet-certificate-authority` to the kube-apiserver when using a template to create the cluster. In the https://github.com/kubernetes/kops/blob/master/pkg/apis/kops/componentconfig.go there is no such option ?

[2020-02-13 15:50] Nilubkal opened #8546 "Enable the usage of --kubelet-certificate-authority in kube-apiserver"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

It seems that i cannot pass the flag --kubelet-certificate-authority to the kube-apiserver when using a template to create the cluster. In the https://github.com/kubernetes/kops/blob/master/pkg/apis/kops/componentconfig.go there is no such option ?

[2020-02-13 15:53] tkoeck commented on #8224
It's possible to use Debian Buster with an earlier k8s version (I tried 1.13) if you change the iptables mode to legacy. There is a way to to that with cloud init https://github.com/kubernetes/kops/pull/7381

[2020-02-13 16:17] #7458 closed

[2020-02-13 16:42] rifelpet commented on #8546
You're correct, it appears that we dont expose that field through the Kops API. It should be pretty straight forward to add if someone is willing to add it. here's an example PR: https://github.com/kubernetes/kops/pull/7109, simply add the field to each of the componentconfig.go files and run `make apimachinery crds` to update some generated files.

[2020-02-13 19:24] yxiay2k commented on #8521
@robinpercy Thank you so much for your help!
I use "kops edit cluster", add that line to kubelet configurations and then run "kops update cluster".
It works fine for me now!
Should I close this issue or leave it open?

[2020-02-13 19:32] yxiay2k commented on #8521
@hakman Thanks a lot for your info! This issue could be closed now.

[2020-02-14 01:54] gsstuart opened #8554 "kops v1.15 storage-aws.addons conflicting with user-defined StorageClass"
Hi all, we recently upgraded from kops/k8s v1.13 to v.1.14/15, and noticed some new error messages showing up on the masters (`/var/log/messages`):
[code]
These errors are repeated about once a minute, and seem to be happening because we already have a StorageClass defined with the name `gp2`, and kops is trying to create an SC with the same name.  I can make the error go away by deleting our Stor

[2020-02-14 04:15] johngmyers commented on #8554
The kops storage-aws addon indeed creates a `StorageClass` named `gp2`. That's not going to be able to be changed at this point.

[2020-02-14 16:02] Freyert opened #8560 "Migrating Control Plane to EKS?"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
I'm beginning a conversation/exploration into what it takes to migrate as seamlessly as possible from personally managed control plane to EKS managed control plane.

I imagine this is largely a data migration from personally managed to EKS managed, but there are perhaps several roadblocks to consider such as:

1. Migratin

[2020-02-14 20:33] jhohertz opened #8562 "1.17 alpha versions causing regression for kiam?"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Any of the 1.17 alphas so far.

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

seen in 1.17.0-rc.2 through 1.17.3. Works without issue on kops/k8s 1.15 and 1.16 bui

[2020-02-14 21:09] jhohertz commented on #8562
That kubernetes issue just linked is likely at the root of all this.

[2020-02-14 21:12] gsstuart commented on #8554
Gotcha, thanks for the clarification... we'll adjust!

[2020-02-14 21:12] #8554 closed

[2020-02-14 21:23] robinpercy commented on #8521
Glad it's working @yxiay2k! And yes, please close this one.

@hakman thanks for that info. I'm torn on whether it should be back-ported, since it would be altering default behavior in a patch release. I'm inclined to leave it where it is but document the workaround in the version branches.

[2020-02-14 23:15] rifelpet commented on #7052
Just an update on the native HCL2 syntax effort. I have a very rough draft of what it could look like:

https://github.com/rifelpet/kops/tree/hcl2-native

You can compile this with `make kops-install` and run a `kops update cluster --target terraform` and see the new syntax temporarily being printed to stdout.

I'm using the [hclwrite](https://pkg.go.dev/github.com/hashicorp/hcl/v2@v2.3.0/hclwrite

[2020-02-15 02:56] qqshfox opened #8564 "Rolling-updated nodes are still NotReady since 1.15.1"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.15.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.14.10

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest w

[2020-02-15 03:59] hakman commented on #8521
@robinpercy I cherry-picked the fix to 1.16 and 1.17 (still unreleased). Will try to find time to add something in the release notes for 1.15.

[2020-02-15 05:05] hakman commented on #8521
/close

[2020-02-15 05:05] #8521 closed

[2020-02-15 07:42] den-is commented on #7004
same here
`kops 1.15.2`

[2020-02-16 16:17] justinsb commented on #2881
/reopen

[2020-02-16 19:24] agrakhov commented on #4877
Glad I found this. In my case, this was happening with dns-controller version `1.15.2` so I edited deployment `kubectl -n kube-system edit deployments dns-controller`, added to spec.containers command: `- --metrics-listen=127.0.0.1:4040` and it worked.
Hope this will help someone :)

[2020-02-16 20:16] johngmyers commented on #4877
The fix for this was removed in ed797d1bcb781ce564f2bd6a587ae4eb02a548c0 by @justinsb

/reopen
/assign @justinsb

[2020-02-16 21:54] hingstarne commented on #8529
You could try to use an IAM role in your terraform aws profile. This role you could grant rights in the hosted zone. That's the way we handle that chicken and egg issue.

Snippet of the credentials file
[code]

[2020-02-17 13:49] #7615 closed

[2020-02-18 05:04] #7563 closed

[2020-02-18 05:18] grosser commented on #6106
/remove-lifecycle rotten

[2020-02-18 10:07] canhnt commented on #7286
/remove-lifecycle rotten

[2020-02-18 15:04] rifelpet commented on #6106
/lifecycle frozen

:)

[2020-02-18 15:51] jhohertz commented on #8562
Update: This seems to be specific to using the flannel/canal CNI with the vxlan backend by some accounts, and further testing seems to support that.

[2020-02-18 19:05] jhohertz commented on #8562
So the problem clearly isn't with kops itself, however, it might be worthwhile to warn users in documentation, or even make invalid configurations with network CNI flannel/canal and vxlan backend with 1.17 versions, as it's going to result it more odd reports like this one. :)

[2020-02-18 22:33] mmerrill3 commented on #8391
+1

[2020-02-18 22:37] mmerrill3 commented on #8391
It looks like that option is hard coded right now.  I have run into an issue with this setting with weave, since pods remain running on the node after it is deleted from the cluster, and weave is still participating in the ipam ring, after another weave instance claimed the IP space.

This is the location where the changes would need to allow for the option to ignore daemonsets would be included.

[2020-02-19 02:06] johngmyers commented on #8562
What, specifically, are the invalid configurations?

[2020-02-19 02:10] johngmyers commented on #8391
I suspect what might make sense is to first evict all non-daemonsets, then evict the daemonsets. But if, for example, fluentd-logging depended on weave then things would be more complicated.

/area rolling-update

[2020-02-19 02:14] BobbyJohansen commented on #372
This would be great

[2020-02-19 05:27] johngmyers commented on #8391
On second thought, this might be a duplicate of #7119. It should probably be termination that gracefully stops the DaemonSet pods, not rolling update.

[2020-02-19 10:09] radarnex commented on #8264
We're also interested in this feature

[2020-02-19 16:11] jhohertz commented on #8562
1) Using the Canal CNI (As it is fixed to use vxlan in kops, not sure it works with other backends)

2) Using the Flannel CNI in it's default "vxlan" configuration. Superficial testing shows the problem doesn't seem to exist with the "udp" backend, however most using Flannel and working around the issue seem to be suggesting the "host-gw" backend, which is not currently usable via kops.

See the f

[2020-02-20 00:01] mmerrill3 commented on #8391
With having weave running on a node that is cordoned, but not yet terminated, there is the chance for some portions of the IPAM ring to become unreachable.  It would be nice to have the option to really make sure nothing is running on the node before calling kubectl delete node, and then terminating the AWS instance.  This way, there's a guarantee that when the event for node deletion is processed

[2020-02-20 03:18] johngmyers commented on #8562
It seems there's not enough information to identify a particular bad configuration. It looks like the issue is still being triaged and is likely a bug in Flannel and/or Canal. There's time before kops 1.17 is released for the bug(s) to be fixed. If it later turns out to be a more permanent situation, we could add an api validation check then.

[2020-02-20 04:42] johngmyers commented on #8264
Could we not host the two documents from a Deployment on the cluster? Perhaps give an option to annotate the `Service` if we don't want to assume the cluster will support `Ingress`.

In general I think a separate keypair for a separate purpose would be preferable.

I would suggest a separate field than the one for the IAM Authenticator. It doesn't seem inherently AWS-specific feature. It looks lik

[2020-02-20 08:39] cpanato commented on #7976
/remove-lifecycle stale

[2020-02-20 15:21] jhohertz commented on #8562
See comment above for what constitutes a non-working configuration, which I've detailed as requested.

The bug is in Flannel (which Canal uses), and I've linked the issue involved. Yes, it's possible that there will be a fix made available, but I'm not holding my breath as the project seems to be trending towards dormancy.

[2020-02-20 15:51] #7968 closed

[2020-02-20 16:31] rewilliams1 opened #8596 "Create Kubernetes cluster in existing private subnet"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.15.2 (git-ad595825a)
**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Client Version: version.Info{Major:"1", Minor:"17",
**3. What cloud provider are you usi

[2020-02-20 17:14] rewilliams1 commented on #8596
This is the config I use to try to update the existing cluster.
`  subnets:
  - cidr: 10.0.1.0/24
    name: us-east-1b
    type: Private
    zone: us-east-1b
  - cidr: 10.0.3.0/24
    name: utility-us-east-1b
    type: Utility
    zone: us-east-1b
  - cidr: 10.0.2.0/24
    name: us-east-1c
    type: Private
    zone: us-east-1c
  - cidr: 10.0.4.0/24
    name: utility-us-east-1c
    type: Utility

[2020-02-20 17:24] povils opened #8597 "Provide prebaked custom AMI without user_data"
Is it possible to provide my own AWS AMI with all preinstalled and configured dependencies and don't rely on user_data?

Simple use case:
Due to regulatory reasons all traffic has to stay inside VPC which user_data by fetching all these binaries is violating.

[2020-02-20 18:23] brunomassaini commented on #8400
would you mind elaborating the steps you did?
that would be a first step since we can have it documented already

[2020-02-20 18:47] sstarcher opened #8598 "ETCD Manager should have a memory limit"
**1. What `kops` version are you running?  1.15.2

**2. What Kubernetes version are you running? `1.15.6`

**3. What cloud provider are you using?** AWS

**4. What commands did you run?  What is the simplest way to reproduce this issue?** Unknown

**6. What did you expect to happen?** Node got taken offline

ETCD manager consumed 6gb of ram prior to it crashing the master node.

Typical memory on

[2020-02-20 19:16] rdrgmnzs commented on #8597
@povils one way to get around this that we use, is that we build the binaries internally and host them in our own S3 bucket. You can then configure the user_data script to pull from your internal S3 bucket instead.

[2020-02-21 04:13] #7659 closed

[2020-02-21 07:29] povils commented on #8597
Thank for the response! How do you override user_data provided by kops? The only option I could find was additionalUserData but that's not what I want because it just appends to kops user_data

[2020-02-21 08:00] srikiz commented on #7442
Multi-master HA support changes to add load balancer is merged. Closing this issue.

[2020-02-21 08:00] #7442 closed

[2020-02-21 08:05] srikiz commented on #8396
@miron9 - I was wondering if you continue to see this behavior? I know it takes a while for the DNS to get resolved, and what you see with 203.0.113.123 is a dummy IP that is initially assigned.
FYI - @timoreimann

[2020-02-21 08:40] flmmartins commented on #7739
/remove-lifecycle stale

[2020-02-21 09:17] srikiz commented on #8396
I just tested on release-1.16 branch and it seems to be working fine.

[2020-02-21 11:20] #7637 closed

[2020-02-21 13:40] kforsthoevel commented on #7119
I have just implemented node drain via systemd. The systemd unit gets provisioned via kops [hooks](https://github.com/kubernetes/kops/blob/1.15.0/docs/cluster_spec.md#hooks). The kubeconfg is written to disk by a daemonset.

Works like a charm. Thanks @thomaspeitz for your support.

[2020-02-21 15:54] constructdian commented on #4032
Any updates to this?

[2020-02-21 20:26] rifelpet commented on #8264
My concern with using a Deployment is for users who don't allow public ingress from the internet to their cluster. I don't think any solution could work for entirely air-gapped clusters, but I would hope we could at least find a solution for clusters that aren't allowed any public ingress.

I like the idea of a separate cloud-agnostic field in the API for this. We should keep it flexible so that d

[2020-02-21 20:48] johngmyers commented on #8264
I think the choices are one or more of:

* Deployment
* Second S3 bucket (plus equivalent option for other cloud providers)
* Provide file to be hosted externally

We might have to provide multiple options. There probably isn't a one-size-fits-all choice.

[2020-02-21 20:50] mmerrill3 commented on #8391
@johngmyers what if we give users the ability to set the drain order via an annotation?  That way, we can put the network overlay pods last in the order of pods to evict?

[2020-02-21 20:58] johngmyers commented on #8391
My understanding of the use case was that you had a DaemonSet pod, `fluentd-logging` that had some local state that was desirable to flush before the instance gets terminated. That use case is not specific to rolling update; it applies to any instance termination.

If it's that your CNI can't handle the node being deleted before the DaemonSet pod is terminated, I have to wonder why you're using su

[2020-02-21 22:04] mmerrill3 commented on #8391
Hi @johngmyers, thanks for the feedback.  I feel there's many use cases, beyond what CNI is used, where it may be preferable to also remove the daemon sets when we drain a node during a rolling-update.  The CNI example I gave is just one example.  Really, the original poster's issue, and my weave issue,  can both be solved by exposing "ingore-daemonsets", which is already inside the kubectl drain

[2020-02-21 22:23] johngmyers commented on #8391
That solution would not work well if DaemonSet pods are evicted before the workload pods that depend on them.

[2020-02-21 22:44] mmerrill3 commented on #8391
Thanks @johngmyers, I can appreciate ordering is important.  Non daemon set pods should be evicted before the daemon set pods.  I agree.

[2020-02-21 23:14] reversefold opened #8607 "Route53 ARN has incorrect partition in govcloud"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.15.2 (git-ad595825a)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06

[2020-02-21 23:16] rifelpet commented on #8607
This was fixed in https://github.com/kubernetes/kops/issues/8359, included in Kops 1.16 which will be released imminently. Are you able to try the latest Kops 1.16 beta to confirm it is fixed?

[2020-02-21 23:25] robinpercy commented on #8560
Hey @Freyert. I may be misunderstanding what you mean by "migrating the control plane" but EKS has some very specific constraints on how self-managed nodes are initialized in the cluster. So, you're not going to be able to migrate without also rebuilding the node pools.

Have you looked at a solution like Velero? https://github.com/vmware-tanzu/velero

[2020-02-21 23:31] #7389 closed

[2020-02-21 23:42] reversefold commented on #8607
I've downloaded 1.16.0-beta.2 and it seems to fix this arn problem but I suspect there is other code with a similar issue as I get this error now:
[code]
It found the existing records but then fails to create a new record on the same zone.

[2020-02-21 23:48] robinpercy commented on #8546
/assign

I'll take this one. I need to re-familliarize myself with the build process anyway :)

[2020-02-22 05:08] olemarkus commented on #8596
You need to explicitly set subnet id on both clusters so that kops set the correct tags on the them.

[2020-02-22 05:12] olemarkus commented on #8597
Using your own binaries would be very similar to the process described here https://github.com/kubernetes/kops/blob/master/docs/development/adding_a_feature.md#testing

[2020-02-22 07:12] povils commented on #8597
@olemarkus thanks for the response but as I understand it just overrides nodeup url? What I'm trying to achieve is to have all binaries already baked in AMI and have no network I/O in user data

[2020-02-22 07:28] olemarkus commented on #8597
It will allow you to ensure no traffic goes out of your AWS account.

Avoiding any downloads whatsoever could be technically possible, I guess. You could have kops create cloudformation templates and then remove those parts of the cloudinit.

[2020-02-22 16:48] #7662 closed

[2020-02-22 19:51] #7503 closed

[2020-02-22 19:51] #6848 closed

[2020-02-22 23:20] johngmyers commented on #8562
So you're proposing kops should disallow a CNI of either Canal or Flannel for Kubernetes versions equal to or greater than 1.17?

[2020-02-22 23:55] #7682 closed

[2020-02-23 08:03] #7608 closed

[2020-02-23 10:05] #3433 closed

[2020-02-23 15:15] HagaiBarel opened #8615 "Can't create/use multiple subnets on GCE"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.15.2 (git-ad595825a)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.15.9

**3. What cloud provider are you using?**
`gce`

**4. What commands did you run

[2020-02-23 19:38] mohag commented on #7193
/remove-lifecycle stale

[2020-02-23 20:15] #6571 closed

[2020-02-23 20:58] rvirdiz commented on #8451
@robinpercy were you able to solve this issue. It tried by specifying the required values, but no luck.
--service-account-issuer
--service-account-signing-key-file
--service-account-key-file
--service-account-api-audiences (--api-audiences now)

I am using kops 1.15.2 on K8s cluster 1.15.10 on AWS, to install istio-1.3.2, which requires the above values to be added to kube-apiserver, I am not sure

[2020-02-24 04:03] jim-barber-he commented on #8113
The above improvement was merged into Kops 1.18 alpha
Will it be backported to the current stable 1.15.x series?
I saw no mention of it in the 1.15 release notes.

[2020-02-24 04:40] #2881 closed

[2020-02-24 06:25] #7592 closed

[2020-02-24 08:27] #7149 closed

[2020-02-24 12:31] #7673 closed

[2020-02-24 15:37] rifelpet commented on #6150
/remove-lifecycle stale
/lifecycle frozen

[2020-02-24 18:00] hairyhenderson commented on #4021
Did https://github.com/kubernetes-sigs/image-builder/pull/127 fix this? /cc @qqshfox

[2020-02-24 18:01] hairyhenderson commented on #4021
/remove-lifecycle stale

[2020-02-24 19:28] austinorth commented on #7825
/remove-lifecycle rotten

[2020-02-24 20:12] richstokes opened #8621 "Unable to attach external IAM Policy"
Following this doc:
 https://github.com/kubernetes/kops/blob/master/docs/iam_roles.md#adding-external-policies

I add the lines via `kops edit cluster` and get
[code]

I am adding this under `spec:`
[code]

[code]
(also tried on latest build - same behavior)

AWS-Based cluster

[2020-02-24 20:19] rifelpet commented on #8621
Hi @richstokes, that feature was only recently added and will be in Kops 1.18: https://github.com/kubernetes/kops/pull/7837 we may backport it to Kops 1.17 but I'm afraid you'll have to wait a bit until you can use this feature.

When you say you tried on latest build, what was the exact Kops version that you used? If you compile it yourself from master, that should work.

[2020-02-24 20:23] richstokes commented on #8621
Sorry, by build I meant latest release (which is 1.15.2 via brew) - but thats OK, I can attach these manually for now and will revisit once we are on >1.18.0

Thanks

[2020-02-24 20:39] #7136 closed

[2020-02-25 02:51] pai911 opened #8624 "Is gossip-based dns + private topology + "DNS access to master nodes" a valid configuration?"
Hi gurus!

I started out with a cluster with private topology +  gossip-based DNS, and everything worked just fine!

But since I don't want to pay for the extra ELB for HA, I surveyed for a little while and found that kops supports a way to [allow access to the master node with dns](https://github.com/kubernetes/kops/blob/9bf2818b858df0bcbbfba9e8d48ae856a5fd936f/docs/cluster_spec.md#api).

But the

[2020-02-25 02:51] basu-ntnx commented on #8129
@mikesplain : Is that a flag to API server? I am facing the same issue on 1.16.6 and  Sonobuoy Version: v0.17.2.

[2020-02-25 02:54] basu-ntnx commented on #8129
@mikesplain :
[Fail] [sig-network] Services [It] should be able to change the type from ExternalName to NodePort [Conformance]
/workspace/anago-v1.16.6-beta.0.3+72c30166b2105c/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/framework/service/jig.go:821

[Fail] [sig-network] Services [It] should be able to change the type from ExternalName to ClusterIP [Conformance]

[2020-02-25 08:09] mehercharan opened #8626 "unable to create a kops cluster configuration for GCE using Private topology"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.15.2 (git-ad595825a)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
N/A . Did not specify any Kubernetes version

**3. What cloud provider are you using?**

[2020-02-25 10:14] jecnua commented on #8013
Still valid, please remove stale label.

[2020-02-25 10:15] jecnua commented on #7871
Still valid, please remove the label stale.

[2020-02-25 12:24] carpenterm opened #8627 "Specify etcd-manager version in kops config"
We need to rebuild etcd-manager in order to remove critical vulnerabilities in the publicly released images for security and compliance reasons. Having the tag hard coded in the kops code makes this really difficult to do well, as we have to use the same tag each time which leads to a lot of confusion around what has/hasn't been pushed, or we need to rebuild kops every time we update the code whic

[2020-02-25 12:52] zetaab commented on #8627
you can override etcd-manager with ENV variable AFAIK

[2020-02-25 13:49] carpenterm commented on #8627
Excellent, that's exactly what I was after - thank you!

[2020-02-25 13:49] #8627 closed

[2020-02-25 14:01] rifelpet commented on #7871
/remove-lifecycle stale

[2020-02-25 19:59] Vlli commented on #7142
Facing the same issue again.
It was **fixed in version 1.14.0**, after upgrading to **1.15.2 the bug is back again**.
Every Instance-Group with mixed instance is "needed to update" every time we perform an rolling-update even the instance-group was updated minutes ago.

[2020-02-26 10:46] mathieu-gilloots commented on #8451
Same problem here, with istio sds, we need to add the extra flags like here :
https://github.com/istio/istio/blob/master/prow/config/trustworthy-jwt.yaml
How to process to do that with kops ?
Thanks

[2020-02-26 11:45] flmmartins commented on #7043
I upgraded to 1.15.9 and now I can shutdown the machines again to save cash without issue ^^

[2020-02-26 16:48] rewilliams1 commented on #8596
I set the two subnet-id's when I was creating the cluster. Where else should these values be set?

[2020-02-26 18:44] olemarkus commented on #8596
If the subnets were created with the first cluster, you need to add the IDs there as well, then run update. That will cause kops to change the subnet tags to be shared instead of owned.

[2020-02-26 23:07] #7821 closed

[2020-02-26 23:54] mehercharan commented on #8626
can some please comment if this feature of creating a private network instead of public ip for master and worker nodes is supported for GCP using KOPS?

[2020-02-27 03:48] rifelpet commented on #1645
This has been implemented in #7837 and will be included in Kops 1.18
/close

[2020-02-27 03:48] #1645 closed

[2020-02-27 03:50] rifelpet commented on #760
I think there are sufficient docs for this that make this clear

/close

[2020-02-27 03:50] #760 closed

[2020-02-27 03:53] rifelpet commented on #1613
ELBs are default for AWS clusters so this should be safe to close.

/close

[2020-02-27 03:53] #1613 closed

[2020-02-27 08:17] leoskyrocker commented on #6318
After editing our kops cluster to use CoreDNS, I observed that it already created a autoscaler deployment called "coredns-autoscaler", in addition to the pre-existing kube-dns-autoscaler. It seems that there's no need to modify the existing autoscaler rather than just removing it.

[2020-02-27 10:04] #7840 closed

[2020-02-27 16:22] bsmedberg-xometry commented on #855
For the record, I just experienced this issue and I resolved it by exporting AWS_SDK_LOAD_CONFIG=true in my environment.

[2020-02-27 16:32] rochacon opened #8642 "CoreDNS externalCoreFile regression on v1.16"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

v1.16.7

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simples

[2020-02-27 16:59] rifelpet commented on #8642
Thanks for the report! I just opened a cherry-pick for 1.16, so it will be included in Kops 1.16.1.

[2020-02-27 19:15] rochacon commented on #8642
Thanks @rifelpet !

[2020-02-27 21:56] #8642 closed

[2020-02-28 05:47] rifelpet opened #8648 "Add terraform testing"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
Currently Kops has integration tests that test the cluster spec -> terraform file flow. It would be great if we could take that a step further and run terraform commands against the generated tf files to ensure they are valid.

It wouldn't necessarily have to be an `apply`, perhaps just a `terraform init && terraform vali

[2020-02-28 09:36] itmecho commented on #8017
/remove-lifecycle stale

I think this is still a valid feature request

[2020-02-28 21:21] carnivorelogic commented on #8508
This parameter was introduced in **v1.18** version, and now **cherry picked for v1.17.0-beta.1** (https://github.com/kubernetes/kops/pull/7730).

[2020-02-29 02:40] #8564 closed

[2020-02-29 14:03] MqllR commented on #7928
This PR https://github.com/kubernetes/kops/pull/7986 fix the problem.

[2020-02-29 14:03] #7928 closed

[2020-02-29 21:49] geojaz commented on #8626
Hey @mehercharan - I've been doing some work with kops/GCE to get it up to speed and more on par with AWS/other cloud providers, but we have a long ways to go. My guess is that kops GCE is unlikely to support private clusters right now, but I'll have to do some investigation to see. I wouldn't be that surprised if you could get kops to work with GCE in private mode if you did some networking confi

[2020-02-29 21:58] geojaz commented on #8626
Bug: Kops ends up in a state where you have subnets with no regions when using private topology on GCE. It seems to happen whether you're trying to reuse an existing VPC or not.  https://github.com/kubernetes/kops/blob/632b426bdfc2bd3566c6bc5a690fa1c4022d736d/upup/pkg/fi/cloudup/utils.go#L46-L53

[code]

[2020-03-01 05:40] geojaz commented on #8626
This is actually pretty complicated due to some assumptions that we make about the network in GCP. I think we would like to support private topologies in GCE, but we have some work to do before we get there.

[2020-03-01 05:45] #7738 closed

[2020-03-01 08:05] paalkr commented on #7119
@kforsthoevel , that sounds very interesting. Do you mind sharing the implementation details?

[2020-03-01 10:50] #7726 closed

[2020-03-01 15:38] tanjunchen commented on #8546
@robinpercy  Any progress？

[2020-03-01 15:55] #6624 closed

[2020-03-01 20:52] linecolumn commented on #8508
It is working with v1.17.0-beta.1, thank you.

[2020-03-01 20:52] #8508 closed

[2020-03-01 23:47] wildk1w1 commented on #5754
Looking at the returned json showed kops was trying to create a utility subnet for every node subnet

I Found that passing the same node subnet list to the utility subnet worked around this issue.
where KOPS_SUBNETS = comma-separated list of AWS subnets you have set-up for the private networks.

[2020-03-02 12:51] kforsthoevel commented on #7119
@paalkr I will write a little blog post about it and let you know.

[2020-03-02 14:15] miron9 commented on #8396
Thanks for getting back to me @srikiz
I noticed it some time later that those IPs indeed get updated to correct ones but it takes around 10 minutes.

[2020-03-02 15:05] johngmyers commented on #7119
The kops hook I saw by following links was a good proof of concept, but it had the problem that it assumed the container runtime was Docker.

[2020-03-02 18:07] mehercharan commented on #8626
Thanks @geojaz

[2020-03-03 01:54] jeffb4 opened #8662 "ephemeral volume mapping can stomp on AMI"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.15.0 (git-9992b4055)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.13.12

**3. What cloud provider are you using?**

AWS

**4. What commands did you r

[2020-03-03 13:01] rvirdiz commented on #8451
I tried to made changes in K8s 1.15 API server manifest, and restarted kubelet service, it worked for me.

/etc/kubernetes/manifests/kube-apiserver.manifest, added following parameters to this file.
    - --feature-gates=TokenRequest=true
    - --service-account-issuer=kubernetes.default.svc
    - --service-account-signing-key-file=/srv/kubernetes/server.key
    - --service-account-key-file=/srv/k

[2020-03-03 14:13] john-delivuk opened #8664 "Backport Launch Template Volume Tagging"
Volume tagging in launch templates has been a requested feature for [years](https://github.com/kubernetes/kops/issues/3358), and a simple change. It would be ideal if we could backport the [changes](https://github.com/kubernetes/kops/commit/4b33efedaa9afb0e246fa8424dae93b0ce9de492) to some of the more recent kops versions like 1.16, 1.17.

[2020-03-03 16:47] rifelpet commented on #8664
Hi @john-delivuk I just opened a cherry-pick for that change into 1.17: https://github.com/kubernetes/kops/pull/8665 so once it is merged it will be a part of the next Kops 1.17 release.

[2020-03-03 19:43] tewing-riffyn commented on #7810
/remove-lifecycle rotten

Bumping this back to active.  I'm still hoping for a flag or an option to get a different exit code when rolling-update is required.  Not having this option forces me to parse the text output from the command to determine rolling-update logic.

[2020-03-03 21:06] gamer22026 opened #8668 "Add option to disable BGP when using Calico in native vxlan mode"
From Calico 3.9 onward native vxlan is supported. There also is an option to disable BGP when running completely in vxlan mode (https://docs.projectcalico.org/v3.9/getting-started/kubernetes/installation/config-options) but I see kops hard codes both the `calico_backend` and the `bird-ready` options which means to disable BGP you currently have to modify the manifests after kops creation and resta

[2020-03-04 04:40] tanjunchen commented on #8546
/close

[2020-03-04 04:40] #8546 closed

[2020-03-04 07:20] rvirdiz commented on #8451
For kops, add following parameters to your cluster spec yaml file.
spec:
  kubeAPIServer:
    apiAudiences:
    - api
    - istio-ca
    featureGates:
      TokenRequest: "true"
    serviceAccountIssuer: kubernetes.default.svc
    serviceAccountKeyFile:
    - /srv/kubernetes/server.key
    serviceAccountSigningKeyFile: /srv/kubernetes/server.key

[2020-03-04 14:34] tkoeck opened #8671 "Support Matrix doesn't reflect Kops/Kubernetes 1.16"
The support matrix doesn't reflect Kops/Kubernetes 1.16 yet.

Greetings
Tobias

[2020-03-04 14:37] mmerrill3 commented on #8512
👍 seeing this as well.  certificate specifies an incompatible key usage", ServerName ".  Is this metrics/health related?  It comes every couple minutes, like a health check or metrics scrape that is using http and not https.

[2020-03-04 15:47] #8671 closed

[2020-03-04 16:35] jmcdonagh commented on #8400
Hi Bruno, thanks for the response... I honestly don't even have the history access to that box anymore. My time is extremely tight these days but I will be at some point trying to put together a little script or bash function helper for this RSN and I will get back to you

[2020-03-05 00:07] arontx commented on #5569
/remove-lifecycle stale

[2020-03-05 08:04] srikiz commented on #8396
Awesome @miron9 . Thanks ! Can you please close this issue?
FYI - @timoreimann .

[2020-03-05 09:40] jmymy commented on #8451
working on updating docs https://github.com/istio/istio.io/pull/6744

note, featureGates for TokenRequest is not needed in k8s 1.12+

[2020-03-05 12:37] Neomek commented on #8481
I vote for this feature or steps which are need to set up...

[2020-03-06 01:02] azkore commented on #7469
/reopen

[2020-03-06 10:33] ebcarty commented on #7742
Seems to be a replica of Issue #3957 .

Propose to close this issue.

[2020-03-06 10:34] ebcarty commented on #8087
May want to comment and see the thread for #3957 - Azure Support.

Propose to close this issue in the mean time.

[2020-03-06 12:27] kforsthoevel commented on #7119
@paalkr Here is the blog post: https://tech.ivx.com/how-to-drain-nodes-before-they-get-terminated-by-aws

[2020-03-06 12:45] rifelpet commented on #7742
Agreed, it is best to consolidate discussion to that issue

/close

[2020-03-06 12:45] #7742 closed

[2020-03-06 12:45] rifelpet commented on #8087
Agreed, it is best to consolidate discussion to that issue

/close

[2020-03-06 12:45] #8087 closed

[2020-03-06 13:07] paalkr commented on #7119
Thx!

[2020-03-06 13:14] tkoeck commented on #4196
What happened to that ticket? Is it now possible to setup the kube-router version?

[2020-03-06 14:01] miron9 opened #8689 "Etcd fails to mount volumes for second cluster created in Digitalocean"
**1. What `kops` version are you running?
Version 1.15.2 (git-ad595825a)

**2. What Kubernetes version are you running?
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean", BuildDate:"2020-02-12T13:43:46Z", GoVersion:"go1.13.7", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:

[2020-03-06 16:13] john-delivuk commented on #8664
Any objection to doing 1.16.1 as well :)

[2020-03-06 18:03] MMeent opened #8690 "k8s 1.16.7 node fails to go to Ready state in mixed 1.15,1.16 master cluster"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.16.0 (git-4b0e62b82)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]
**3. What cloud provider are you using?**

AWS

**4. What commands did you run?

[2020-03-06 21:22] mgs4332 commented on #8607
Having just got off with Amazon Support, it turns out that Alias records are not supported by Gov Cloud at this time.

We are looking at augmenting the code and will test the possibility of a CNAME record instead of an Alias and will report back ASAP.

[2020-03-06 22:00] rifelpet commented on #8607
Ah, thats good to know, thanks for the update! We may be able to force kops to use CNAMEs rather than Aliases when in GovCloud.

[2020-03-07 16:43] jecnua commented on #8013
Stale label still present. Please remove.

[2020-03-07 18:00] rifelpet commented on #8013
/lifecycle frozen

[2020-03-08 05:04] mgs4332 commented on #8607
Thanks @rifelpet! Will let you know this week if we can get it working with some augmented code. I may try it in a non-GovCloud region and also a Gov Cloud Region.

Out of curiousity why is Kops using Alias records and not CNAME's? Is there also a reason why it is still using the classic ELB type rather than the more modern ALB/NLB architecture?

[2020-03-08 06:06] UnderMyBed opened #8695 "1.16 Cluster fails to become healthy using kuberouter networking"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`1.16.0`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

`1.16.7`

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simp

[2020-03-08 13:35] GMartinez-Sisti commented on #8690
Your best would be to check `/var/log/syslog` in the nodes failing to bootstrap.

You might see something like this:

[code]

[2020-03-08 19:21] geojaz opened #8699 "Should be able to configure GCE instance service accounts"
An important input when creating instances in GCE is the Service Account (best practice would discourage using the default: https://github.com/kubernetes/kops/blob/f6a771955022d6324f048405a6c797de0fb33b12/upup/pkg/fi/cloudup/gcetasks/instancetemplate.go#L280-L283

Thoughts:
1. A first step might be to create a service account and assign some permissions to it that would be required to bootstrap cl

[2020-03-09 05:36] johngmyers commented on #7685
@justinsb Now that surging has landed, I'd like to come to a conclusion on your deferred review comment about the method I chose to disable rolling updates for an instance group.

Currently rolling updates are disabled for an instance group by setting both `maxSurge` and `maxUnavailable` to `0`. Alternatively we could make that a validation error and introduce a separate boolean option under `roll

[2020-03-09 06:01] johngmyers commented on #7902
@hairyhenderson Now that surging has landed, I believe it and `PodDisruptionBudget` could solve your use case. Give your workloads appropriate `PodDisruptionBudget`s and set `maxSurge` to `"100%"` (or less if you want to go more slowly).

[2020-03-09 06:48] tanjunchen opened #8702 "[Helped]so many TODO in kops/tests/ , can we solve some of them?"
ref:https://github.com/kubernetes/kops/issues/8238

If the following TODO does not exist, I hope you can reply this TODO in here, so I can update this list in time. Or you have solved one of the TODOs and hope you can associate this issue for easy tracking.

Here are TODO under /tests folder.

- [x] tests/integration/update_cluster/complex/cloudformation.json.extracted.yaml:    # TODO(zmerlynn): N

[2020-03-09 06:48] tanjunchen commented on #8702
/help

[2020-03-09 06:51] tanjunchen opened #8703 "[Helped] so many TODO in kops/cmd /cloudmock /util /protokube,can we solve some of them?"
ref:https://github.com/kubernetes/kops/issues/8238

Here are TODO under /cmd  /cloudmock /util /protokube   folders.

If the following TODO does not exist, I hope you can reply this TODO in here, so I can update this list in time. Or you have solved one of the TODOs and hope you can associate this issue for easy tracking.

- [ ] cmd/kops/upgrade_cluster.go:	// TODO: What if a kubernetes version is

[2020-03-09 06:52] tanjunchen commented on #8703
/help

[2020-03-09 06:56] tanjunchen opened #8704 "[Helped] so many TODO in kops/nodeup /upup /k8s , can we solve some of them?"
ref:https://github.com/kubernetes/kops/issues/8238

Here are TODO under /nodeup  /upup /k8s folders.

If the following TODO does not exist, I hope you can reply this TODO in here, so I can update this list in time. Or you have solved one of the TODOs and hope you can associate this issue for easy tracking.

- [ ] nodeup/pkg/model/context.go:		// TODO: Just check if the directories exist?
- [ ] nod

[2020-03-09 06:59] tanjunchen opened #8705 "[Helped] so many TODO in kops/dnsprovider , can we solve some of them?"
ref:https://github.com/kubernetes/kops/issues/8238

Here are TODO under /dnsprovider  folders.
If the following TODO does not exist, I hope you can reply this TODO in here, so I can update this list in time. Or you have solved one of the TODOs and hope you can associate this issue for easy tracking.

- [ ] dnsprovider/pkg/dnsprovider/rrstype/rrstype.go:	// TODO:  Add other types as required
- [ ]

[2020-03-09 07:03] tanjunchen opened #8706 "[Helped] so many TODO in kops/tools /docs /dns-controller /hack ,can we solve some of them?"
ref:https://github.com/kubernetes/kops/issues/8238

Here are TODO under /tools  /docs  /dns-controller /hack folders.

If the following TODO does not exist, I hope you can reply this TODO in here, so I can update this list in time. Or you have solved one of the TODOs and hope you can associate this issue for easy tracking.

- [ ] WORKSPACE:# TODO(fejta): use load.bzl, repos.bzl from repo-infra
- [

[2020-03-09 07:17] ppihus commented on #4632
/remove-lifecycle stale

[2020-03-09 08:44] zetaab opened #8707 "cluster did not pass validation (flapping)"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.17.0-alpha.4

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.17.2

**3. What cloud provider are you using?**

openstack

**4. What commands did you run?  What i

[2020-03-09 12:10] #8396 closed

[2020-03-09 12:15] hairyhenderson commented on #7902
@johngmyers thanks - which version of kops is your surging feature available in? I don't see #8021 mentioned in any of the release notes.

[2020-03-09 12:54] andersosthus opened #8708 "Add support for defining/using AWS ASG Lifecycle Hooks"
We would like support for defining AWS ASG Lifecycle hooks on an InstanceGroup.

Use case:
We use AWS ASG Lifecycle hooks with a custom script that watches for AWS Spot terminations, and if detected runs a drain on the node and then sends a `COMPLETED` signal to the Lifecycle hook, that then allows the instance to be terminated.
The fact that we have this Lifecycle hooks kinda "breaks" `kops rolli

[2020-03-09 13:14] paalkr commented on #8708
Yes, please!

[2020-03-09 13:41] rifelpet commented on #8702
for what its worth, all of these TODO comments are generated from this file: https://github.com/kubernetes/kops/blob/faf57d67b3c30dca8b230f71cf00061bf2c488d4/pkg/model/resources/nodeup.go#L123 so we really only need to address the TODOs there and then updated the expected test outputs

[2020-03-09 13:51] rifelpet commented on #8607
If I had to guess, it's because of many of the advantages are outlined [here](https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/resource-record-sets-choosing-alias-non-alias.html). mainly that it avoids an additional round trip dns lookup, avoids an intermediate TTL, supports health checking of alias targets, doesn't expose the aws resource's dns name, etc.

I'm sure Kops' route53 support

[2020-03-09 14:12] johngmyers commented on #4632
/lifecycle frozen

[2020-03-09 14:12] mikesplain commented on #8708
Out of curiosity, is there a reason you chose to go this way and not use something like https://github.com/pusher/k8s-spot-termination-handler?

[2020-03-09 14:13] johngmyers commented on #7902
It's in the unreleased master branch.

[2020-03-09 14:22] paalkr commented on #8708
I'm actually working with @andersosthus on this one, so I will make an answer. Yes, there is a good reason why we don't use the component you linked to. It does only support spot termination and we need a solution that also works on AGS termination. We do NOT use the common Cluster Autoscaler because we have memory bound and spiky workloads. So we export utilization metrics from Prometheus to Clou

[2020-03-09 14:59] pierluigilenoci commented on #6527
/remove-lifecycle stale

[2020-03-09 16:06] hairyhenderson commented on #7902
Ah, thanks @johngmyers - I'll look forward that being released!

[2020-03-09 16:19] johngmyers commented on #8707
It looks like the kube-proxy-nodes pod is itself flapping. The next thing to investigate is why. A `kubectl get pods --watch` would be helpful, possibly along with the pod logs.

[2020-03-09 18:35] mikesplain commented on #8470
Running into this as well, I have a fix that I'm testing.  Thanks!

[2020-03-09 19:54] selslack commented on #4632
@johngmyers hi, what does "frozen" mean in this repo's workflow?

[2020-03-09 20:08] johngmyers commented on #4632
It means it won't go stale

[2020-03-10 00:47] bensussman commented on #7397
@fbuchmeier I had this exact same issue (from `1.11.7` -> `1.12.10`), and it was "solved" by using the terrifying-but-effective

[code]

HOWEVER, i noticed in both @XxdpavelxX and my own manifest the `InstanceGroup` that the images (AMIs) are out of date:

[code]

When you run `kops upgrade` it will correctly update these images (but since it doesn't let you specify a version, it's effectively use

[2020-03-10 06:43] coryschwartz opened #8710 "apis depreciated in kubernetes 0.17 still used in addons"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**
aws

**4. What commands did you run?  What is the simplest

[2020-03-10 10:49] gerasym opened #8714 "kops always replaces SSHKey <nil> -> id:<nil> for cluster deployed with sshKeyName: """
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.16.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Version 1.16.6

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is

[2020-03-10 11:21] AlexLast opened #8715 "Kops 1.16 spot InstanceGroup stuck in NeedsUpdate"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`1.16.0`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

`1.16.7`

**3. What cloud provider are you using?**

`AWS`

**4. What commands did you run?  What is the si

[2020-03-10 13:09] zetaab commented on #8689
@srikiz could you help here? This looks like etcd-manager issue (maybe also kops configuration issue)

[2020-03-10 13:15] zetaab commented on #8383
I do not have currently environment where I could fix this, still running older versions of OpenStack

[2020-03-10 13:22] gjtempleton opened #8716 "Assets mirroring fails on SHA256 enabled assets"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Trying to upgrade from a v1.14.2  cluster to v1.16.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

v1.14.9

**3. What cloud provider are you using?**

AWS

**4. W

[2020-03-10 15:30] gjtempleton commented on #8716
Resolved.

[2020-03-10 15:30] #8716 closed

[2020-03-10 18:19] mgs4332 commented on #8607
Good news I was able to get this working with some manual intervention. I'll write up my override steps and post them here....there some manual steps but it is up and running and `kops validate cluster` returns positively.

[2020-03-10 22:52] rifelpet opened #8723 "Support Bottlerocket In AWS"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

AWS just announced a new container-focused Linux distribution. We should consider adding support for it in Kops

https://aws.amazon.com/bottlerocket/

**2. Feel free to provide a design supporting your feature request.**

[2020-03-11 07:22] domhdp opened #8728 "Only first zone, subnet and utility subnet are used with --dry-run"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.16.0 (git-4b0e62b82)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Haven't get a cluster yet

**3. What cloud provider are you using?**

AWS

**4. What

[2020-03-11 08:29] djablonski-moia commented on #8715
Seems like a regression of issue #6796 😢

[2020-03-11 13:51] stevenjm commented on #7970
/remove-lifecycle stale

[2020-03-11 13:51] stevenjm commented on #7971
/remove-lifecycle stale

[2020-03-11 16:05] sdarwin commented on #8400
After also hitting the issue, I wrote some instructions... (see pull request above).

[2020-03-11 17:05] jkbuster commented on #8470
AWS does not support changing the primary CIDR of a VPC, you can only add/remove additional ones.  Sounds like you started with 10.152.0.0/16, this will need to remain the value of `networkCIDR`.

You can then add:
[code]
to the YAML so it’s added as an additional CIDR on the VPC.

An extra catch you may run into: I find that creating a VPC with additional CIDRs can cause errors within Kops.  Howe

[2020-03-12 09:07] #7775 closed

[2020-03-12 11:08] smaillns commented on #6135
Typically the same issue, any other suggestions please

[2020-03-12 12:10] #7769 closed

[2020-03-12 12:51] bittopaz commented on #4127
/reopen

[2020-03-12 13:25] rifelpet commented on #4127
/lifecycle frozen

[2020-03-12 14:25] mariusv commented on #7135
/remove-lifecycle stale

[2020-03-12 18:12] #8695 closed

[2020-03-13 11:20] MMeent commented on #8690
Logs didn't show errors of that kind, as they were 1.16-nodes joining through a 1.15-master.

But the likely source of the issue is https://github.com/kubernetes/kubernetes/issues/88494, which has been fixed in 1.16.7.

Next wednesday the 18th we'll upgrade one more cluster from 1.15 to 1.16, I'll report back if that fixes the issue.

[2020-03-13 11:30] GMartinez-Sisti commented on #8690
Good luck!

But please check these resources again before upgrading:

- https://v1-16.docs.kubernetes.io/docs/setup/release/notes/#deprecations-and-removals (check the last item in kubelet)
- This is the PR that changed the node-labels behaviour https://github.com/kubernetes/kubernetes/pull/79305/files

[2020-03-13 12:14] GMartinez-Sisti commented on #6727
I had this problem, today when updating from 1.15.6 to 1.16.7.

Based on another cluster that followed the same upgrade path, I knew that dns-controller would only stand up after at least one master with 1.16.7 had bootstrapped. I "fixed" it by forcing one of the masters to upgrade to 1.16.7 by recycling the EC2 instance after updating the ASG and Launch Configuration to 1.16.7.

I believe the pro

[2020-03-13 14:35] mmerrill3 commented on #8512
we don't see this with etcd 3.3.13 and k8s 1.17.4.

[2020-03-13 15:56] mmerrill3 commented on #8512
This is related to, and maybe the fix is the same.

https://github.com/openshift/kubecsr/commit/aad75d333646da657e788db93f2ff75da850b542#diff-654ba8df3be94fe94c9404a7727d1fa2

 I was able to exec into the etcd-main pod and reproduce the issue.

./etcdctl --endpoints 127.0.0.1:4001 --cacert=/rootfs/mnt/master-vol-0963c543ee9f70a6d/pki/etcd-cluster-token-etcd/clients/ca.crt --cert=/rootfs/mnt/master

[2020-03-13 15:59] rifelpet opened #8736 "Refactor Integration Tests"
Currently the integration tests have many arguments which makes it difficult to tell which values are used for which settings. Also, anytime we need a new variable in an integration test we need to add an argument to every test.

I refactored them to use multiple functions rather arguments in a single function. I have two versions, one that uses method chaining and one that uses functional options

[2020-03-13 17:34] hakman opened #8738 "Use Docker 19.03.8 with Kops 1.17"
Kubernetes 1.17 was validated against Docker 19.03, no specific version mentioned in the release notes, but the website mentioned [Docker 19.03.4 with contained 1.2.10](https://github.com/kubernetes/website/pull/17405):
[code]

Since then, Docker released a few more versions, latest being Docker 19.03.8 with containerd 1.2.13. Both are patch releases with useful bugfixes:
* https://docs.docker.com

[2020-03-13 18:52] mmerrill3 commented on #8512
With etcd 3.3.13, this issue is still there at startup:

WARNING: 2020/03/13 02:56:47 Failed to dial 0.0.0.0:4001: connection error: desc = "transport: authentication handshake failed: remote error: tls: bad certificate"; please retry.

We just see the warning once at startup however.

[2020-03-13 21:43] #7762 closed

[2020-03-14 04:29] johngmyers opened #8740 "kops-aws-cni-cilium e2e test failing"
The [kops-aws-cni-cilium](https://testgrid.k8s.io/sig-cluster-lifecycle-kops#kops-aws-cni-cilium) is persistently failing.

Based on timing I would say #8655 is the prime suspect.

[2020-03-14 04:30] johngmyers commented on #8740
@olemarkus

[2020-03-14 06:51] #6587 closed

[2020-03-14 14:46] #8740 closed

[2020-03-14 18:07] hakman opened #8743 "Kops verify --wait doesn't respect the limit"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.18.0-alpha.3+11545b085

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
v1.19.0-alpha.0

**3. What cloud provider are you using?**
AWS

**4. What commands did you ru

[2020-03-14 19:56] etwillbefine commented on #7438
Having the same issue. Pods remain in `ContainerCreating` state. Maybe related: https://github.com/kubernetes/kops/issues/8224

[2020-03-15 00:18] #8465 closed

[2020-03-15 11:21] smaillns commented on #7743
Having the same problem, did you find a consistent solution ?

[2020-03-15 18:36] wizard580 commented on #7766
no news?

[2020-03-15 19:12] demisx commented on #4295
We are also experiencing the same issue in all 3 kops v1.16.1 clusters.  However, all clusters are successfully validated with `kops validate cluster`.

[code]

[2020-03-15 19:15] rifelpet commented on #4295
@demisx what are the health check settings on the load balancer? and does AWS provide any details on why the health check is failing (example: timeout or connection refused) ?

[2020-03-15 19:20] demisx commented on #4295
@rifelpet Thank you for your prompt response. This is what the "Health check" is set to. I am still digging for more info on why it fails the check. Strange that  only 1 node is out, while the other 2 are fine. All masters are in service too.

[code]

[2020-03-15 21:50] demisx commented on #4295
This is what I am getting back from each node. The "OutOf service" one returns "503 Service Unavailable".  Any idea what may cause one of the nodes to return 503?

[code]

[2020-03-15 23:18] reinaldo-pinto opened #8754 "Kops create cluster in GCP using VPC Custom"
I'm trying start cluster in GCP with VPC Custom.

My VPC, have 2 subnets, with 1 "IPs interval" in each.
Ex:
[code]

[code]

Please, exist solution to this issue?
Thanks

[2020-03-16 05:37] bjethwan commented on #5442
I ran into this issue today then upgraded kops to version 1.16.0...but issue still persists....and strangely in my case when I ssh'ed into my master node...I didn't see the static pods running....the manifests under /etc/kubernetes/manifests/ looked fine though.

admin@ip-172-20-xx-xx:~$ sudo crictl ps
sudo: crictl: command not found
admin@ip-172-20-xx-xx:~$ sudo docker ps
CONTAINER ID        IMAG

[2020-03-16 06:23] hakman commented on #8738
/milestone 1.18

[2020-03-16 08:57] Nyefan commented on #8382
This also happens intermittently for us:

`kops version`
`1.14.1`

`kubernetes version`
[code]
Err:1 http://cloudfront.debian.net/debian stretch/main amd64 strace amd64 4.15-2
  502  Bad Gateway [IP: 13.227.141.67 80]
E: Failed to fetch http://cloudfront.debian.net/debian/pool/main/s/strace/strace_4.15-2_amd64.deb  502  Bad Gateway [IP: 13.227.141.67 80]
[code]

[2020-03-16 09:02] mazzy89 commented on #7459
Despite some values are fulfilled automatically, for some like ones below are still needed

`__PILLAR__DNS__SERVER__` - set to kube-dns service IP.
`__PILLAR__LOCAL__DNS__ `- set to the link-local IP(169.254.20.10 by default).
`__PILLAR__DNS__DOMAIN__` - set to the cluster domain(cluster.local by default).

These have to be fetched up and replaced so this is why an approach like the one recommende

[2020-03-16 10:20] mazzy89 commented on #7459
Taking ownership of this. Slack reference https://kubernetes.slack.com/archives/C8MKE2G5P/p1584349567098900

I'll wire a PR by adding the node local dns as a classical addon. Spoke abou this with @olemarkus  and seems all fine.

[2020-03-16 10:28] olemarkus commented on #8382
@Nyefan this sounds more like an issue with a particular debian mirror. I don't think kops can do that much here.
Make sure you are using the latest images though.

[2020-03-16 12:00] krish512 commented on #8382
Manually changing the distributions from cloudfront to deb.debian works

`cloudfront.debian.net/debian` changed to `deb.debian.org/debian`

Can this be done using kops config? Currently we have to manually do this on every node

[2020-03-16 12:13] olemarkus commented on #8382
Probably not directly, as far as I know. But you can use a hook for that: https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#hooks

[2020-03-16 12:45] #6990 closed

[2020-03-16 13:12] austinorth commented on #7459
@mazzy89 YESSS! So glad to hear! We didn't see much improvement in our test cluster after implementing due to an unrelated issue, so I ended up just punting on rolling out Node Local to shift my focus elsewhere. I had just been setting those values with a script I wrote to test :sweat_drops:. So excited that this will be integrated into Kops tho; this will make things _way_ easier!

[2020-03-16 13:15] kciredor commented on #8383
Hi @zetaab, thanks, I understand. How about I give you access to my OpenStack project? We could use for example keybase to share openrc.sh.

[2020-03-16 13:24] Freyert commented on #8560
@robinpercy I have checked out velero, but it looks we're going to have too setup up some kind of multi-cluster mesh and migrate services one at a time.

[2020-03-16 14:35] lgg42 commented on #1796
For anyone reading this issue take this into account, it also happened to me.

[2020-03-16 15:40] demisx opened #8759 "One node instance is always "Out of Service""
**1. What `kops` version are you running?
`Version 1.16.0`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
`AWS`

**4. What commands did you run?  What is the simplest way to reproduce this issue?**
Create new cluster fr

[2020-03-16 15:42] demisx commented on #4295
I've created a new issue #8759 since my problem is slightly different than what was described by the OP.

[2020-03-16 19:52] #7812 closed

[2020-03-16 23:55] #7790 closed

[2020-03-17 11:34] zetaab commented on #8383
I am currently installing devstack, lets see can I code with that. At least I did initial octavia code with that

[2020-03-17 11:54] kirrmann commented on #7142
I also still experience this error with kops 1.16.0

[2020-03-17 13:17] rifelpet commented on #7876
seeing as the reported issue was fixed in 1.15 which has been stable for a while, i'm going to close this out.
/close

[2020-03-17 13:17] #7876 closed

[2020-03-17 17:06] joekohlsdorf commented on #3376
Just tried this on 1.16.0 against a cluster running 1.16.7 and faced no issues.

[2020-03-17 18:21] smaillns commented on #6172
Same error when executing **kubectl get nodes**

Note: Just After creating the kops cluster it works well, but after a period of time it give the above error !

[2020-03-17 21:27] smaillns opened #8765 "unexpected error during validation: error listing nodes: Get https://api.xxxx.xxxx.xxx.xx/api/v1/nodes: net/http: TLS handshake timeout"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.16.0
**2. What Kubernetes version are you running?**
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c1
2ce618213", GitTreeState:"clean", BuildDate:"2020-02-11T18:14:22Z", GoVersion:"go1.13.6", Compiler:"gc", Platform:"d

[2020-03-17 23:12] demisx commented on #8759
If anyone could please give some tips where to look for the problem I'd greatly appreciate it. Obviously, there is a web server that fails to respond to `/healthz` endpoint. But what type of server and where is it? I can't seem to find the log that would shed some lights on it, either. Thank you.

[2020-03-18 00:57] xamalahmed opened #8766 "us-gov-east image for k8s not found"
Hi
Can i have this image available in us-gov-east region?
k8s-1.15-debian-stretch-amd64-hvm-ebs-2020-01-17

I have successfully deployed k8s cluster in us-gov-west region using KOPS but i am getting image not found error on us-gov-east region using KOPS.

`W0318 00:56:06.410774   10998 executor.go:128] error running task "LaunchConfiguration/nodes.stg.k8s.local" (9m58s remaining to succeed): could

[2020-03-18 03:36] leoskyrocker commented on #490
/reopen

[2020-03-18 03:36] leoskyrocker commented on #490
hmm can we reopen this?

[2020-03-18 06:24] Deepak1100 commented on #6482
I also have the same issue in kops 1.16.0.

[2020-03-18 10:14] daviddyball commented on #8142
/remove-lifecycle stale

[2020-03-18 14:32] #8383 closed

[2020-03-18 14:48] rifelpet commented on #490
/remove-lifecycle rotten

[2020-03-18 15:14] iirekm opened #8767 "context "test.k8s.local" does not exist"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.16.0 (git-4b0e62b82)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.7", GitCommit:"

[2020-03-18 15:21] rifelpet commented on #8767
can you try running `kops export kubecfg test.k8s.local` ?

[2020-03-18 15:24] rifelpet opened #8768 "Use in-repo prow job definitions"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
Prow now supports defining jobs in the project repo rather than test infra. We should move our job definitions into the kops repo so for more visibility. Its easier to watch for PRs when they're all in one repo rather than both kops and test-infra.

https://github.com/kubernetes/test-infra/blob/master/prow/inrepoconfig.md

[2020-03-18 16:28] mohammadasim commented on #8091
I am facing exactly the same issue. I followed the documentation [https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md](url) but when I save the cluster YAML file and save it I get the following error.
`[spec.etcdClusters[main].Members[b]: Forbidden: EtcdCluster members cannot be added, spec.etcdClusters[main].Members[c]: Forbidden: EtcdCluster members cannot be added, spec.etcdClus

[2020-03-18 16:49] schollii opened #8769 "Not clear when/how to configure more than 3 masters"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.13.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.13.10

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simples

[2020-03-18 19:34] chrisghill opened #8771 "dns-controller fails to run when upgrading 1.15 -> 1.16"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
`Version 1.16.0 (git-4b0e62b82)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.15.6, attempting to upgrade to 1.16.8

**3. What cloud provider are you using?**
AW

[2020-03-19 02:11] jmymy commented on #8766
fyi this repo does not control kope.io image creating / distribution. https://github.com/kubernetes-sigs/image-builder

[2020-03-19 02:32] jmymy commented on #8766
after some digging, it looks like it pulls all the regions the builder has access to and since gov cloud is separate, it doesn't add the images there.
You could build your own and publish and then pass that AMI into the kops config. Or just copy the ami from one of the main regions to the us-gov region.

I assume @justinsb might just need to enable that region in the AWS account that builds the im

[2020-03-19 04:38] s3than commented on #8771
Hi, were seeing the same issue as well

[2020-03-19 07:41] iirekm commented on #8767
If works, but also with a small problem:

[code]

[2020-03-19 09:19] fortanu82 commented on #964
I noticed my problem was resolved by regenerating the certificate which was expired/changed. Its just about regenerating the kube config file. I was using AKS (Azure Kubernetes) cluster so the belwo command regenerated the config file.

az aks get-credentials --resource-group myResourceGroup --name myAKSCluster

[2020-03-19 09:52] #7815 closed

[2020-03-19 10:16] dataviruset commented on #7142
It would be great with a feature in Kops that would show you **why** an InstanceGroup would need to be updated. A diff of some kind?

[2020-03-19 11:54] nikhilc89 commented on #8771
So I did a workaround for this until this issue is sorted.
You can run:
`kubectl rollout history deployment.v1.apps/dns-controller -n kube-system`

And check how many revisions are there. If there are lets say 5, rollback to 4 (which will be 1.15)
`kubectl rollout undo deployment/dns-controller --to-revision=4 -n kube-system`

This should bring the dns-controller back up and the master node should

[2020-03-19 14:28] mausch commented on #8292
https://github.com/kubernetes/kops/issues/4147

[2020-03-19 21:28] fmmatthewzeemann opened #8773 "Show certificate expiration"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
Add option to kops that shows certificates being used their expiry similar to `kubeadm alpha certs check-expiration`

**2. Feel free to provide a design supporting your feature request.**
Add option `--show-certificate-expiration` to show certificates being used and their expiry
`kops get <cluster name> --show-certificate

[2020-03-19 21:33] fmmatthewzeemann opened #8774 "Certificate renewal"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
Add option to kops that renews certificates during an upgrade similar to kubeadm which can renew all the certificates during control plane upgrade.

**2. Feel free to provide a design supporting your feature request.**
Add option `--certificate-renewal` to perform renewal of certificates when upgrading the cluster (hopefu

[2020-03-19 23:25] zhan849 opened #8775 "Undocumented kubelet node address reporting change caused kops provisioned nodes to report different host name"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.16.8

**3. What cloud provider are you using?**
aws

**4. What commands did you run?  What is the simplest way to re

[2020-03-20 04:10] #7732 closed

[2020-03-20 05:16] nikhilc89 commented on #2961
Did you end up finding a fix for this?

We're on k8s `1.16.7` and seeing this issue on the 3rd master node that has been added, and destroying it doesn't seem to help either since the node that comes back throws the same error.

[2020-03-20 10:34] nirupbbnk commented on #8771
We are also facing same issue.

[2020-03-20 10:37] nirupbbnk commented on #8759
We are also facing same issue. Nodes are healthy in  AWS console, But one node will be randomly in Notready state. After some times this node also become ready state. Kube version v1.16.7 , kops v1.16.0

[2020-03-20 18:39] demisx commented on #8759
In my case, the "OutOfService" node is not working properly indeed, but I am not clear where to start troubleshooting from because this node is bootstrapped by the Kops itself.  I've check all all logs I could think of but didn't see any red flags. Any suggestions are highly appreciated.

[2020-03-21 01:42] rifelpet commented on #8768
It seems like there arent any kubernetes repos setup for [in_repo_config](https://github.com/kubernetes/test-infra/search?q=in_repo_config&unscoped_q=in_repo_config). It might be worth revisiting this once other projects have adopted it. Additionally we'll have to figure out how to keep the job images up to date since they're currently bumped automatically in the test-infra repo, so we'd want to d

[2020-03-21 01:57] rifelpet commented on #8771
@jacksontj implemented the [memberlist gossip implementation](https://github.com/kubernetes/kops/pull/7521) that was introduced in Kops 1.16, perhaps you can look into this?

[2020-03-21 08:25] SHUFIL opened #8778 "kops creating POD sucsussfully but not node"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.14.0
**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.14

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simple

[2020-03-21 08:26] SHUFIL commented on #8778
I have successfully created new POD using by autocaling as per the load, but all the pod is creating in same node, so i getting below error.

`1 Insufficient cpu, 1 node(s) had taints that the pod didn't tolerate`
How to resole this issue, what is best practise ?, as per this error we all knows it is needed one more instace for starting the new pod.

[2020-03-21 11:40] #7817 closed

[2020-03-21 18:33] #8598 closed

[2020-03-21 21:57] mazzy89 commented on #7459
Wired a PR here https://github.com/kubernetes/kops/pull/8780

[2020-03-21 23:20] valayDave commented on #7911
@chilland : https://github.com/NVIDIA/k8s-device-plugin/issues/139#issuecomment-602117608 . To Support Cuda 10.1, KOPS Needs to support NVIDIA Container Toolkit. The NVIDIA K8s plugin currently doesn't support the container Toolkit. The current KOPS NVIDIA Plugin is based on nvidia-docker2.

[2020-03-22 10:03] #7411 closed

[2020-03-22 12:32] mansurali901 commented on #1386
As my experience if you have difference in version of kops and kubectl and kubernetes plane version then Kops will never update the Route53 enteries you must need to have the same version for all in my case

`[root@ip-20-0-0-66 kuberneteswithkops]# kops version
Version 1.15.0 (git-9992b4055)
[root@ip-20-0-0-66 kuberneteswithkops]# kubectl version
Client Version: version.Info{Major:"1", Minor:"15",

[2020-03-22 15:48] nlykkei opened #8781 "kops: Very slow internal networking with timeouts on AWS C2"
**0. Problem.**

I'm learning Kubernetes using `kops` on AWS C2. I've configured a small cluster, consisting of a single master node and two worker nodes, using the official `kops` documentation on how to set up a cluster on AWS.

Since I'm using `kops` 1.16.0, I've configured the cluster using gossip DNS.

Inter-pod networking is very slow with timeouts all the time. DNS is barely functional, and

[2020-03-23 07:55] fribourgpierre commented on #429
Hi,

we are using the NVMe drive provided by AWS with some instances, for now I use the following KOPS hook to mount the NVMe & to assing pods & containers onto it:

`  hooks:
  - name: nvme
    roles:
    - Node
    before:
    - kubelet.service
    - docker.service
    - logrotate.timer
    - docker-healthcheck.timer
    - kubernetes-iptables-setup.service
    - docker-healthcheck.service
    -

[2020-03-23 10:08] flmmartins commented on #7861
Hello all,
I was able to downscale to zero using both numbers and leaving the template intact (without necessarily change the the IGs). That way when I want to raise them in again... we would be all set ^^ I will close this issue.

[2020-03-23 10:08] #7861 closed

[2020-03-23 13:37] strangeminds commented on #8759
We've also seen this issue once.  One day we started to see "504 Gateway Timeout" errors in our Application Load Balancer logs.  We traced the issue to one new node that was built using auto-scaling.  Checking the ALB target group and would see the one new node "OutOfService" and a few minutes later be fine, then back to "OutOfService".  When we would describe the node, we saw under event conditio

[2020-03-23 15:10] nlykkei opened #8784 "Enable anonymous authentication for kube-apiserver"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

I want to enable anonymous authentication for the `kube-apiserver`, i.e. provide an option of `--anonymous-auth=true`

Currently, the `kube-apiserver` runs as follows:

`/usr/local/bin/kube-apiserver --allow-privileged=true --anonymous-auth=false --apiserver-count=1 --authorization-mode=RBAC --basic-auth-file=/srv/kubern

[2020-03-23 15:39] schollii opened #8785 "Root EBS volumes do not get tagged"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.13.0 (git-be5fb9019)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2", GitCommit:"

[2020-03-23 16:17] flmmartins opened #8786 "Control the Desired Number of Machines in Auto Scaling in Kops"
Hello all,

Recently I wanted to downscale my cluster.

**Current State in AWS Scaling**
Desired number of nodes: 3
Min number of nodes: 3
Max number of nodes: 3

**What I wanted to do**
Desired number of nodes: 2
Min number of nodes: 2
Max number of nodes: 3

I wanted to bring down the Min & Desired. So I edit my IG to MinSize: 2, MaxSize: 3 and configured the below

**What Kops did after I edite

[2020-03-23 16:21] olemarkus commented on #8786
The desired number shouldn't be changed by kops. Usually one use things like cluster autoscaler to set that property.

[2020-03-23 16:30] flmmartins commented on #8786
Yes, true. We want to set this up but decided to give a test with manual scaling first.

[2020-03-23 16:38] olemarkus commented on #8786
Anything outside of kops can change this flag though. For example by just using the AWS API/CLI/Console directly.

[2020-03-23 18:08] johngmyers commented on #8184
/remove-lifecycle stale

[2020-03-24 00:53] exequielrafaela commented on #6990
Same here with:
* kops 1.12.3
* k8s 1.12.10
* etcd 3.3.13

:point_right:  `on a second attempt it worked` :heavy_check_mark: :checkered_flag:

CC: @diego-ojeda-binbash @gdmlnx

[2020-03-24 02:10] zarqman commented on #7200
I can confirm that changing the value of those two settings is still required for either metrics-server or kubernetes-dashboard to function on kubernetes 1.17 (and kops 1.17.0-beta.1). I definitely recommend changing the default values as suggested by OP.

[2020-03-24 03:29] TiagoGoddard opened #8788 "Question: Upgrading old cluster - what versions should I use as midpoints?"
So, my kubectl returns the following version:

`
Server Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitCommit:"d2835416544f298c919e2ead3be3d0864b52323b", GitTreeState:"clean", BuildDate:"2018-02-07T11:55:20Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}
`

We used kops to manage it, but the last person responsible for it left it at this version and left the com

[2020-03-24 04:06] johngmyers commented on #8785
Duplicate of #3358
/close

[2020-03-24 04:06] #8785 closed

[2020-03-24 18:11] rifelpet commented on #8768
See https://github.com/kubernetes/test-infra/issues/15676

[2020-03-24 20:27] olemarkus commented on #8788
I would start with the latest version of kops and then upgrade to the minimum supported k8s version. Follow the upgrade notices careful. Especially around the etcd upgrade

[2020-03-25 00:08] demisx commented on #8759
I realized that I have two load balancers:

1. Provisioned by Kops - no issues , all nodes are in service
1. Provisioned by Nginx Ingress - one node is out of service

The problem with the 2nd ELB appears to be with the scheduler placing 1 nginx controller pod on one node and the remaining 2 nginx controller pods on another node, thus the 3rd node has no nginx controller pod running at all. Theref

[2020-03-25 00:08] #8759 closed

[2020-03-25 03:06] pawanvivekananda opened #8791 "Did not find API endpoint for gossip hostname; may not be able to reach cluster"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.16.0 (git-4b0e62b82)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06

[2020-03-25 04:34] schollii opened #8792 "Not all resources get tags from cloudLabels in kops 1.13"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.13

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.13

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest way

[2020-03-25 08:55] MPV opened #8793 "OpenStack: Add support for clouds.yaml for Swift state store"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Most OpenStack clients support authenticating via either `OS_*` environment variables (often sourced from an `openrc` file), **_or via a `clouds.yaml` file_**.

The latter also supports defining multiple OpenStack clouds and/or regions in the same file.

However since Kops implements the older authentication method from

[2020-03-25 09:10] MPV commented on #8793
Curious about your input on this @zetaab 😊

[2020-03-25 10:49] flmmartins commented on #7739
So in the end there's no way to control the Desired Number in AWS unless you use Autoscaling.

More here: https://github.com/kubernetes/kops/issues/8786

[2020-03-25 10:49] #7739 closed

[2020-03-25 14:09] stku1985 commented on #6727
Just checking in to say: we see the same problem as @GMartinez-Sisti. An upgrade from 1.15.6 to 1.15.10 went through without problems.

[2020-03-25 14:34] weisjohn commented on #8607
@mgs4332 any updates you could provide would be helpful!

[2020-03-25 14:47] nirupbbnk commented on #8791
In Route53 service check record "api.internal.<cluster Name>" weather it is pointed to master IP.

[2020-03-25 14:51] nirupbbnk commented on #8690
I was facing same issue after upgrading my cluster to 1.16 , In my case In Route53 record "api.internal.<cluster Name>" was pointing to old Master IP .I changed it to new master IP it started to work

[2020-03-25 16:00] rifelpet opened #8796 "HA prow jobs failing due to gossip error"
The periodic E2E job that uses HA masters is [currently failing](https://testgrid.k8s.io/sig-cluster-lifecycle-kops#kops-aws-ha-uswest2). The [journal.log](https://storage.googleapis.com/kubernetes-jenkins/logs/e2e-kops-aws-misc-ha-uswest2/1242821999739277312/artifacts/18.237.216.239/journal.log) of one of the masters mentions this error:

Mar 25 14:56:54.012563 ip-172-20-122-89 docker[15646]: pro

[2020-03-25 16:55] #8796 closed

[2020-03-25 17:09] pablolibo commented on #6463
Same in kops 1.16.0

[2020-03-25 17:29] olemarkus commented on #6463
This feature is due for 1.17

[2020-03-25 18:59] weisjohn commented on #8766
This is also happening on AWS GovCloud west: `us-gov-west`

[2020-03-25 20:09] weisjohn commented on #8766
@xamalahmed I was able to successfully bring up a `kops`-based cluster by specifying the AMI via the `--image` parameter. https://github.com/kubernetes/kops/blob/master/docs/operations/images.md#coreos

[2020-03-25 21:59] brandonbell commented on #8754
We are working around this by adding `--lifecycle-overrides Network=Ignore` to the KOPS update command.

[2020-03-26 01:08] maximmi commented on #7946
/remove-lifecycle rotten

[2020-03-26 02:19] rifelpet commented on #7946
Kops 1.18 will support setting environment variables for etcd (#8402), so you should be able to set the `ETCD_LOG_LEVEL` env var. see the example [here](https://github.com/kubernetes/kops/blob/b129a83638f9c51a3981d907741ed65efc955ff1/pkg/model/components/etcdmanager/tests/overwrite_settings/cluster.yaml#L17-L20)

[2020-03-26 03:19] rifelpet commented on #7052
Another update:

I have essentially all of the HCL2 syntax building done. I'll open a PR once #8734 and #8737 land which should be soon. Back in the Dec 6th Kops Office Hours we discussed creating a new target (`--target terraform0.12` or something along those lines) but now I'm starting to wonder if using a feature flag would be better.

I think migration and deprecation of the old syntax would b

[2020-03-26 04:17] johngmyers commented on #8788
https://github.com/kubernetes/kops/blob/master/docs/operations/updates_and_upgrades.md recommends upgrading one minor Kubernetes release at a time.

[2020-03-26 09:25] #8791 closed

[2020-03-26 11:15] janvdvegt opened #8801 "Pods cannot communicate AWS"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.16

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

v1.16.7 (also tried with v1.15.10)

**3. What cloud provider are you using?**

AWS

**4. What commands did you

[2020-03-26 13:46] hakman commented on #7052
Maybe `terraform-0.12` with a dash?

[2020-03-26 13:55] rifelpet commented on #7052
Sure, I don't have a strong opinion on the new value used with either option.
* `terraform012`
* `terraform0.12`
* `terraform-0.12`

In the case of the `--target` option, it will permanently be the new `--target` value for HCL2 syntax, since I don't think replacing the behavior in `--target terraform` would be a good idea (it'd be better to use the feature flag option if we want to keep using `--t

[2020-03-26 14:17] hakman commented on #7052
Depends on the decision about supporting older terraform format. If we will just drop it, maybe we should just not complicate at all and add it in the 1.19 alpha.

[2020-03-26 15:42] rifelpet commented on #7052
It'd be great if terraform 0.11 had an official deprecation schedule that Kops could mimic. I'm having trouble finding one, only that [eventually new provider versions will only support 0.12](https://www.hashicorp.com/blog/deprecating-terraform-0-11-support-in-terraform-providers/) which means Kops may add functionality that wouldn't work in terraform 0.11. I found [this discussion](https://discus

[2020-03-26 15:46] janvdvegt commented on #8801
Sorry this is not the actual problem, I'll close and continue investigating the real issue

[2020-03-26 15:46] #8801 closed

[2020-03-26 17:19] den-is commented on #7052
make tf 0.12 default and hide tf 0.11 under such "ugly" additional keys --target terraformZero.Eleven :)
but actually I vote for 0.11 drop from future versions.
_(wrote this message because didn't find where to vote :) )_

[2020-03-26 19:37] cjbehm opened #8803 "kops 1.16.0 fails to provision k8s 1.16.8 masters with Amazon Linux 2"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.16.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Testing upgrade from 1.15.10 to 1.16.8

**3. What cloud provider are you using?**

AWS (using latest

[2020-03-26 20:09] AiswaryaM13 commented on #6135
how did you solve it?

[2020-03-26 21:46] #7093 closed

[2020-03-26 22:41] bwagner5 opened #8804 "Declarative Resource Based Instance Selection"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

There are a lot of instance types offered by AWS and other cloud providers that make setting up a simple node group difficult sometimes (or you just end up sticking with the defaults until it becomes a pain point). I think it would improve the CLI experience to offer a declarative model of configuring an instance group w

[2020-03-27 07:06] hakman commented on #8664
I cherrypicked the minimum set of fixes for the direct target to 1.16 https://github.com/kubernetes/kops/pull/8806 and 1.17 https://github.com/kubernetes/kops/pull/8805.

Terraform, CloudFormation or any of the other fixes would mean bigger changes that should be tested in 1.18 beta when available.

[2020-03-27 10:23] hakman commented on #8803
This was fixed in Kops 1.18. You should be able to try it in 1.18 beta.
/close

[2020-03-27 10:23] #8803 closed

[2020-03-27 12:32] hakman commented on #8803
@cjbehm Could you try setting the Docker version to 18.06.3 and try to see if it works?
Kops 1.18 has support for installing Docker from .tgz package instead of .rpm to avoid the selinux policy. That part cannot be backported.

[2020-03-27 13:40] hakman commented on #8664
Both backports are now merged.
/close

[2020-03-27 13:40] #8664 closed

[2020-03-27 14:56] cjbehm commented on #8803
@hakman thank you for the suggestion, that allowed the provisioning to go through. I definitely appreciate the follow up with a potential workaround!

For anyone who comes across this with the same problem
[code]

[2020-03-27 15:47] kvishweshwar commented on #6184
Hello hbceylan,

is this resolved for you ?
If yes, can you please share any workaround ?

Thanks in advance !!

[2020-03-27 16:08] hbceylan commented on #6184
@kvishweshwar sorry but it was a long time ago and I don't remember the solution.

[2020-03-27 16:39] hakman commented on #7142
This issue is fixed in 1.18 and should be testable with Kops 1.18.0-alpha.2.
I also created backports for 1.16 https://github.com/kubernetes/kops/pull/8808 and 1.17 https://github.com/kubernetes/kops/pull/8807.

[2020-03-27 16:42] gjtempleton opened #8809 "Support for Launch Template - Instance Interruption Behaviour"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Add support for launch template `Instance Termination Behaviour`.

We currently have stubs within both the CF and Terraform targets:

https://github.com/kubernetes/kops/blob/8df55b8571c1cd6dc5e6f7fba56175bf0945fb74/upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation.go#L66
https://github.com/kubernetes/kops

[2020-03-27 17:42] janvdvegt opened #8811 "KOPS on AWS, pods on different nodes cannot communicate to each other"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.16.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.15.10 (but same problem on 1.16.7)

**3. What cloud provider are you using?**

AWS

**4. What commands did

[2020-03-27 18:36] rifelpet commented on #7052
We discussed this during office hours today and I think we settled on how we'll roll this out. My guess is that users that voted for `--target` over `KOPS_FEATURE_FLAG` was due to not wanting to set an env var in order to use the new syntax. Given Terraform 0.12's widespread use, we decided that we wont support the old syntax indefinitely. Therefor what we plan to do is use a feature flag but defa

[2020-03-27 23:25] wizard580 commented on #8792
For our costs reporting it's important to have tags for all billable resources.
From what we see, Kops 1.15 tags most of resources except nat_gateway.
Our company is really interested in the fix for this issue.

[2020-03-28 08:19] janvdvegt commented on #8811
I equated another issue with this one and concluded that other network overlays didn't change the problem which was false. Sorry for the issues spam.

[2020-03-28 08:19] #8811 closed

[2020-03-28 18:30] #7379 closed

[2020-03-29 01:17] rfc2119 opened #8814 "multiple errors for terraform output"
**1. `kops` version**
Version 1.18.0-alpha.2 (git-9b9615bf5)

**2. Kubernetes version**

U

**3. Cloud provider**
AWS

**4. What commands did you run?  What is the simplest way to reproduce this issue?**
I was trying to create a local demo cluster using the command
[code]
However, when terraform (`v0.12.24`, `provider.aws v2.55.0`) looked at the file _kubernetes.tf_, it had spit out many errors. B

[2020-03-29 02:19] rifelpet commented on #8814
Terraform 0.12 support is being added in #7052 so feel free to follow that issue for updates. The JSON output feature flag will work for now but the native .tf support will be added in Kops 1.19.

/close

[2020-03-29 02:19] #8814 closed

[2020-03-29 07:43] #7140 closed

[2020-03-29 08:04] alexandrst88 opened #8815 "Support for Bind Mount option for InstanceGroup volume/volume mount"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
it will be great  to mount /var/lib/docker and /var/lib/kubelet to the AWS d types aka m5d.xalrge on the ephemeral volume(local storage).
For example:
[code]
All above have only one NVMe SSD, and it could share docker and kubelet directory.
So It should improve performance of kubelet as docker too.

**2. Feel free to prov

[2020-03-30 05:54] schollii opened #8817 "unable to change zones of control plane"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.13

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.13

**3. What cloud provider are you using?**

aws

**4. What commands did you run?  What is the simplest way

[2020-03-30 09:26] recollir opened #8819 "target groups from externalLoadBalancers are not removed from the ASG"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.15.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.15.6

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest wa

[2020-03-30 10:06] naveeng68 commented on #387
Do kops edit ig <name>  ## master as well as nodes and add below step

[2020-03-30 12:43] kciredor commented on #8129
@mikesplain just hit this one as well and I understand there's a workaround.

Why has this issue been closed when kops create does not result in a compliant cluster without having to specify the override manually?

[2020-03-30 13:12] #7866 closed

[2020-03-30 21:19] #4225 closed

[2020-03-31 03:49] johngmyers commented on #8184
There is definitely flapping:

[code]

[2020-03-31 14:10] #8736 closed

[2020-03-31 15:20] #8184 closed

[2020-03-31 19:04] tobernguyen opened #8823 "Kops delete cluster command should provide lifecycle-overrides option"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.17.0-beta.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simp

[2020-04-01 20:09] elisiano opened #8827 "Kops 1.16 unable to setup docker on recent Amazon Linux 2"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]
**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
running `1.15.7`, trying to update to `1.16.8`

**3. What cloud provider are you using?**
AWS

**4. What command

[2020-04-01 20:39] rikmos opened #8828 "AWS spot lifecycle and requests not created if created via upgrade"
1.15.1 (with no spot instances) upgrade to 1.15.2 (added spot instances and upgrade kubernetes version)

1.15.7 upgraded to 1.15.10
Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.10", GitCommit:"1bea6c00a7055edef03f1d4bb58b773fa8917f11", GitTreeState:"clean", BuildDate:"2020-02-11T20:05:26Z", GoVersion:"go1.12.12", Compiler:"gc", Platform:"linux/amd64"}

**3. What cloud prov

[2020-04-01 23:08] #7827 closed

[2020-04-02 07:16] #7664 closed

[2020-04-02 13:49] juanjoDiaz opened #8831 "Cloudformation deployment not setting the right API host"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.16

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.16

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest way to

[2020-04-02 20:43] rifelpet opened #8834 "Kops has a hard dependency on GitHub"
GitHub is currently experiencing an outage. Kops uses raw.githubusercontent.com to fetch the channels files.

During this outage, kops fails with:

[code]

We should have kops handle this more gracefully, continuing on unless thats not possible. For example, `update cluster` should work and just not report any channel updates, but `create cluster` may not since it might rely on the AMI or kubernet

[2020-04-02 21:10] geekofalltrades commented on #8834
I would go a step further and say that Kops should not have a hard dependency on GitHub at all. We run Kops as part of an automated service and it's alarming to me that our production environment is regularly pulling down data from GitHub.

[2020-04-03 08:55] Mikulas commented on #8827
We are also experiencing this issue with Amazon Linux 2, kops docker-ce fails to install on those stock AMIs:

* amazon.com/amzn2-ami-hvm-2.0.20190313-x86_64-gp2
* amazon.com/amzn2-ami-hvm-2.0.20200304.0-x86_64-gp2

[2020-04-03 09:02] Mikulas commented on #8827
I can confirm the bypass mentioned in https://github.com/kubernetes/kops/issues/8803#issuecomment-605045448 does work with `amzn2-ami-hvm-2.0.20200304.0-x86_64-gp2` **even with stable kops 1.16**.

[2020-04-03 09:02] ziemerz commented on #7263
I am bumping into this issue as well with a later version of Kops. Anyone who resolved this?
@imsrgadich @bhagwat070919

[2020-04-03 09:08] kirrmann opened #8837 "Enable usage of AWS Transit Gateway"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Cluster spec should allow the usage of AWS Transit Gateways, like it's possible to define `egress` to use specific NAT gateways (https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#egress)

I tried setting it to the resource `tgw-aedf1230` but validation of cluster spec fails with error `error populating

[2020-04-03 10:12] ThelonKarrde opened #8838 "Exclude resources when deleting a cluster"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
Could you please add an option to exclude some resources when you removing clusters?

Use case example:
When you need to recreate/migrate clusters, sometimes you need to leave in place IP addresses / NatGW or any other pieces of infrastructure. However, for now, the only possible way to do so is to unregister the cluster

[2020-04-03 11:59] metametadata commented on #4288
/remove-lifecycle rotten

[2020-04-03 14:44] opensean commented on #232
In the documentation for shared subnets (https://github.com/kubernetes/kops/blob/master/docs/run_in_existing_vpc.md#shared-subnets), it is unclear to me what is meant by "Doing so is not recommended unless you are using external networking".  Do CNI providers such as Calico classify as external networking? Or is it a reference to the line in the networking documentation "external networking is don

[2020-04-03 19:51] #7333 closed

[2020-04-03 21:25] reinaldo-pinto commented on #8754
@brandonbell, I'm trying create a new cluster in GCP. `kops create cluster`.

Exist flow to this work with `kops update` ??

Other issue, use of instances preemptive (spot aws) in GCP. It's possible create instance group with instance preemptive?

This informations, I no found in documentation. Thanks.

[2020-04-04 02:39] hakman opened #8843 "Default to iptables legacy mode for distros with iptables 1.8+"
Distros that package iptables 1.8+ contain 2 flavours of iptables Legacy and [NFT](https://wiki.nftables.org/wiki-nftables/index.php/Moving_from_iptables_to_nftables).

This was previously discussed in other issues also, so it's not new, but mostly a compilation of ideas and trying to move forward now that Kops 1.17 is close to release.
https://github.com/kubernetes/kops/issues/7379
https://github

[2020-04-04 02:54] hakman commented on #8843
/cc @justinsb @rifelpet @zetaab @olemarkus

[2020-04-04 05:41] olemarkus commented on #8843
I absolutely agree that trying to do this in nodeup is best.
From what we found, a pre-installed could have a race condition with nodeup and install its rules in the nft tables. If docker was disabled on boot in the kopeio iages and brought up by nodeup, it would solve this issue.

[2020-04-04 07:06] hakman commented on #8843
I submitted a PR to disable Docker and containerd by default. This should make it possible to use NodeUp for this now.

[2020-04-04 07:29] hakman commented on #8827
I can also confirm that, until **Kops 1.18** is released, https://github.com/kubernetes/kops/issues/8803#issuecomment-605045448 will be the only way to install Kubernetes on Amazon Linux 2. This is possible only because Kops 1.18 is aware of and manages containerd and not just Docker.

Please test Amazon Linux 2 support in Kops 1.18 alphas and betas when released and report any issues so that they

[2020-04-04 20:49] taksan commented on #8771
I'm also facing the same issue. @nikhilc89 suggestion did fixed the pod, but I'm not sure I can proceed with the rolling update and not break the cluster

[2020-04-05 01:20] #7469 closed

[2020-04-05 08:34] hakman commented on #8743
Fixed by #8515.

[2020-04-05 08:34] #8743 closed

[2020-04-05 08:34] MPV commented on #7921
I'm hoping this could be resolved by upgrading the Gophercloud implementation, as mentioned in #8793.

[2020-04-05 10:35] #8031 closed

[2020-04-05 10:38] #8512 closed

[2020-04-05 11:30] #7890 closed

[2020-04-05 13:07] hakman commented on #8738
Fixed by #8845.

[2020-04-05 13:07] #8738 closed

[2020-04-05 14:05] olemarkus commented on #8838
In many cases you can refer to existing resources when creating clusters, including things like subnets and gateways. To avoid kops removing something, you can remove the tags of these resources. See for example https://kops.sigs.k8s.io/run_in_existing_vpc/#shared-nat-egress

[2020-04-05 21:21] geojaz commented on #8699
closed by #8761

[2020-04-05 21:21] geojaz commented on #8699
/close

[2020-04-05 21:22] #8699 closed

[2020-04-06 00:27] elisiano commented on #8827
Unfortunately I’m not in a position where I can test alpha releases (only stable). I’m closing this ticket, given there is a known workaround.

[2020-04-06 00:27] #8827 closed

[2020-04-06 03:14] hakman commented on #8827
For future reference, this is the place where latest Kops is tested daily with Amazon Linux 2:
https://testgrid.k8s.io/sig-cluster-lifecycle-kops#kops-aws-distro-amazonlinux-2

[2020-04-06 05:29] wildk1w1 opened #8854 "Docker-engine repo is no longer available for Centos."
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Kops 1.15 , 1.16 & 1.17

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the s

[2020-04-06 06:12] johngmyers commented on #8854
/assign @hakman

[2020-04-06 06:31] hakman commented on #8854
@wildk1w1 Thanks for reporting this.
Could you also do step 7?
Any special reason you want to use Docker 1.12.6?

[2020-04-06 07:45] wildk1w1 commented on #8854
That is the default that is being used when I install from kops.  My testing uses versions of Kubernetes from 1.7 on up. While I know 1.7 is massive old and unsupported I have software that needs to be tested on versions that old.

The default for centos now needs to be looking at the docker-ce repos and any references to the old repos need to be removed from the installer. I would hazard a guess

[2020-04-06 07:56] wildk1w1 commented on #8854
output for kops get -o yaml with some critical data removed for vpc,subnet and cluster names.
The cluster is AWS with private api endpoints and private networking
apiVersion: kops.k8s.io/v1alpha2
kind: Cluster
metadata:
  creationTimestamp: "2020-04-06T07:50:34Z"
  name: cluster.x.y.z.local
spec:
  api:
    loadBalancer:
      type: Internal
  authorization:
    rbac: {}
  channel: stable
  cloudP

[2020-04-06 08:03] wildk1w1 commented on #8854
With kubernetes 1.8 specified the newer docker-ce becomes the default so not a massive issue for most people I would presume.

[2020-04-06 09:00] imsrgadich commented on #7263
@ziemerz Hi, the issue was my WiFi which didn't allow communication with AWS. Other wifi network resolved the issue.

[2020-04-06 09:09] hakman commented on #8854
You could create the cluster directly from a manifest similar to the one above, using `kops create -f manifest.yaml`. This should allow you to customise each cluster.

https://github.com/kubernetes/kops/pull/8846 should address the issue of the default version of Docker and will hopefully be released in the next few weeks.

[2020-04-06 09:47] wildk1w1 commented on #8854
Thanks.

[2020-04-06 09:47] #8854 closed

[2020-04-06 09:52] hakman commented on #6140
M6g, C6g, and R6g have been [announced](https://aws.amazon.com/about-aws/whats-new/2019/12/announcing-new-amazon-ec2-m6g-c6g-and-r6g-instances-powered-by-next-generation-arm-based-aws-graviton2-processors/) and looks like the performance is great:
https://www.anandtech.com/show/15578/cloud-clash-amazon-graviton2-arm-against-intel-and-amd/10

I will start experimenting with ARM support for Kops. Wo

[2020-04-06 10:22] ThelonKarrde commented on #8838
Thanks!

[2020-04-06 10:22] #8838 closed

[2020-04-06 12:11] hakman commented on #6140
/assign @hakman

[2020-04-06 12:55] #7254 closed

[2020-04-06 15:53] rikmos commented on #8828
The line: onDemandAboveBase: 0 was not set , default it 100% so lifcycle is was normal

[2020-04-06 15:53] #8828 closed

[2020-04-06 20:03] mr-rick commented on #8771
same issue. used nikhilc89's recommendation for now

[2020-04-07 04:52] zetaab opened #8861 "kops-controller stuck - node labels missing"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.17.0 alpha 4

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.17.3

**3. What cloud provider are you using?**

AWS and OpenStack

I am running quite m

[2020-04-07 05:18] zetaab commented on #8793
Sounds good

[2020-04-07 05:45] #8861 closed

[2020-04-07 09:14] MPV commented on #8793
I had a desire to also provide a pull request for the change, but I'm afraid my golang (go modules etc) skills aren't yet up to the task (although I saw how you did upgrade gophercloud in https://github.com/kubernetes/kops/commit/769c02f87c4959befda03e93311b200a4d813749).

Also not sure how to test the change properly, or what kind of automated test coverage there is for `kops` + OpenStack here.

[2020-04-07 11:00] juris commented on #8771
Had the same issue. Quick rolling first master with --cloudonly helped. However, it caused ~3 minutes of workers being in NotReady state and some restarted pods :(

[2020-04-07 12:39] nikhilc89 opened #8866 "Alertmanager StatefulSet not being re-created"
Hello,

It seems like AlertManager statefulset doesn't get re-created once deleted.

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
`Version 1.16.0`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. Wha

[2020-04-07 13:06] #7740 closed

[2020-04-07 14:11] hakman commented on #8781
Hi @nlykkei. I think you meant AWS EC2.

The `t3a.micro` instances are extremely small, especially for masters. AMD instances are also slower. I would recommend to use `t3.medium` at least and retry. Also replace `kubenet` with `calico` or some other network plugin.

That being said, if this doesn't work or you want to stick with `t3a.micro`, you should take a look at https://k3s.io.

[2020-04-07 15:46] mlushpenko commented on #7740
@rtluckie shall this really be closed? issues didn't go away, I just had to apply the same manual workaround on our clusters

[2020-04-07 16:01] #7052 closed

[2020-04-07 17:53] granular-ryanbonham opened #8867 "KOPS 1.16 - Rolling Update Failes if Node Scales Out"
If a node is scaled out during a rolling update, we fail to handle this correctly. This results in.

K8ClusterLaunch[30105] INFO failed to drain node "ip-10-252-197-137.sa-east-1.compute.internal": error cordoning node: nodes "ip-10-252-197-137.sa-east-1.compute.internal" not found

[2020-04-07 22:15] major7x commented on #7859
Looks like we're in the same boat. An increase in logs. Any idea how to enable rotation and delete?

[2020-04-07 22:50] grv231 commented on #7859
Still no clue on the 1.13.0 version. I recently upgraded the version to 1.14.10, but haven't checked what's going on with the logging level in this version.

[2020-04-08 04:43] hakman opened #8871 "kops-latest periodic e2e is failing"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.18.0-alpha.3+a06cebc91

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
v1.19.0-alpha.1.340+c158001bbc77b8

**3. What cloud provider are you using?**
AWS

**4. What

[2020-04-08 05:53] johngmyers commented on #8867
/area rolling-update
/assign

[2020-04-08 12:55] hakman commented on #8871
@justinsb any thoughts on this?

[2020-04-09 06:43] hakman commented on #7129
This was fixed by https://github.com/kubernetes/kops/pull/8164 and will be available in Kops 1.18.
RHEL uses iptables NFT only, which is only supported in Kubernetes 1.17+.

Backporting will not be possible due to dependencies on other fixes.

[2020-04-09 06:43] hakman commented on #7129
/close

[2020-04-09 06:43] #7129 closed

[2020-04-09 07:14] zetaab commented on #8793
deps are going to be updated in https://github.com/kubernetes/kops/pull/8884

[2020-04-09 07:37] MPV commented on #8793
@zetaab Would we maybe want/need to add https://github.com/gophercloud/utils too?

So [`gophercloud/utils/openstack/clientconfig`](https://github.com/gophercloud/utils/blob/9864b6f1f12fbbad1665b34cc1022035ae86f334/terraform/auth/config.go#L15) could be used (for the above).

[2020-04-09 10:51] Fizzadar commented on #8178
/remove-lifecycle stale

[2020-04-09 12:53] #8871 closed

[2020-04-09 15:23] hynespm commented on #6603
This issue still remains. I am using version Version 1.17.0-beta.1 (git-32af4ed9b)

[2020-04-09 18:55] dmbarsukov opened #8891 "new kubernetes 1.18"
**1. kops version
Version 1.16.0 (git-4b0e62b82)

**2. kubectl version
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.2", GitCommit:"f6278300bebbb750328ac16ee6dd3aa7d3549568", GitTreeState:"clean", BuildDate:"2019-08-05T09:23:26Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0", GitCommit:

[2020-04-10 05:45] IpaliboWhyte commented on #8771
Also having this same issue. Followed @nikhilc89's suggestion and rolled back the dns controller.

[2020-04-10 07:40] olemarkus commented on #8891
kops 1.16 only supports kubernetes up to version 1.16. So you should wait for kops 1.18 before using kubernetes 1.18

[2020-04-10 09:53] trajakovic commented on #8771
So, if we're rolling new master on k8s v1.16.7, new controller starts/joins normally?
Probably chicken-egg problem here :/

[2020-04-10 10:10] trajakovic commented on #8771
Yes, I can verifiy @juris conclusion.

`kops upgrade cluster --yes && kops update cluster --yes` make early cluster modification (new version of dns-cluster), but this shouldn't be problem if "old" version of dns-cluster is still running (rolling update).

Just make on 1 master instance `--cloud-only` upgrade: `kops rolling-update cluster --instance-group masterXXXX --cloudonly --yes` and wait unt

[2020-04-10 12:14] rifelpet commented on #8648
closed via #8734
/close

[2020-04-10 12:15] #8648 closed

[2020-04-10 12:15] rifelpet commented on #7743
Terraform support has been added in #8825 and will be a part of the next Kops 1.18 release
/close

[2020-04-10 12:16] #7743 closed

[2020-04-10 12:30] #7915 closed

[2020-04-10 16:59] juris commented on #8296
Still have it with kops 1.16.0

[2020-04-10 19:46] hairyhenderson commented on #7902
Still relevant...

/remove-lifecycle rotten

[2020-04-12 00:02] miracle2k commented on #5767
/remove-lifecycle stale

[2020-04-12 05:42] nlykkei commented on #8781
Thank you @hakman.
Can you say, why you want me to replace `kubetnet` with `calico`?
In my case, I resolved the performance issue by letting `kops` configure and use its own VPC and subnet by removing the following lines from the command:
`--vpc=vpc-0ee6b4bf9e8faaf23 --subnets=subnet-0d1019cf8f9344bd5`
Do you have any idea, why using existing VPC and subnet might slow down `kops` so drastically?

[2020-04-12 06:24] hakman commented on #8781
Kubenet is a very basic network plugin and usually harder to debug what happens with it:
https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/#kubenet

Glad you managed to solve your issue. Using an existing VPC and subnet is not slow in general. It is quite used in production setups. My guess is that the subnet you used was somehow miss-configured.

[2020-04-12 07:39] #8792 closed

[2020-04-12 19:23] #7250 closed

[2020-04-13 16:58] hakman opened #8908 "Kops fails to mount etcd volume for k8s 1.10 and 1.11"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
latest master

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.10 or 1.11

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is th

[2020-04-13 17:47] yurrriq commented on #2348
Related/alternative: #8830

[2020-04-13 17:47] yurrriq commented on #2348
/remove-lifecycle stale

[2020-04-13 19:49] kostab-sentinel opened #8909 "CVEs for coreos/flannel:v0.11.0 in kops 1.17 and 1.18"
Hi,
after performing a scan on the image of flannel:v0.11.0 we see the following CVE's, however we can not update the flannel manifest, is it possible to update the flannel image versions ?
quay.io/coreos/flannel
list of CVE's:

CVE-2019-9513, CVE-2019-9511, CVE-2019-8457, CVE-2019-5482, CVE-2019-5481, CVE-2019-3823, CVE-2019-3822, CVE-2019-14697, CVE-2018-20346, CVE-2018-16890

affected lib versi

[2020-04-13 19:58] kostab-sentinel opened #8910 "CVEs for kopeio/etcd-manager:3.0.20191025 in kops 1.17 and 1.18"
Hi,
We noticed the below CVE's in the etcd-manager image for 3.0.20191025, in kops 1.17 and 1.18.
is it planned to address them ? if so in which version?
CVE list:

CVE-2020-10531, CVE-2019-9513, CVE-2019-9511, CVE-2019-9506, CVE-2019-9503, CVE-2019-9500, CVE-2019-9458, CVE-2019-9454, CVE-2019-9213, CVE-2019-8980, CVE-2019-7221, CVE-2019-6974, CVE-2019-6454, CVE-2019-6133, CVE-2019-6111, CVE-2019-

[2020-04-13 20:49] #7438 closed

[2020-04-14 09:47] juris opened #8911 ""internal consistency error" when removing SpotPrice"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.16.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the sim

[2020-04-14 12:40] watery commented on #964
Hi, I'm getting this, but it's in the (journalctl) logs:

     k8s.io/kubernetes/pkg/kubelet/config/apiserver.go:46: Failed to list *v1.Pod: Get https://10.97.236.121:6443/api/v1/pods?fieldSelector=spec.nodeName%3Dtinkerboard&limit=500&resourceVersion=0: x509: certificate signed by unknown authority

I'm intentionally trying to corrupt kubernets configuration / certificates, to learn how to restor

[2020-04-14 15:52] #8097 closed

[2020-04-14 20:29] nicolasdonoso opened #8913 "Kubelet failing in nodes"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.16.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

v1.16.7

**3. What cloud provider are you using?**

Google Cloud

**4. What commands did you run?  Wh

[2020-04-15 06:13] cw75 opened #8915 "Removing a specific node and the associated EC2 instance from an instance group"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.15.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.15.3

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest

[2020-04-15 06:28] jeffb4 opened #8916 "kops 1.15.0, 1.16.1 are unable to connect to stable channel on Mac Catalina"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.15.0 (git-9992b4055)
Version 1.16.1 (git-d1b07f7fd6)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Not applicable (doesn't get that far), but 1.14.10

*

[2020-04-15 08:06] wizard580 commented on #7766
ping

[2020-04-15 15:26] strangeminds opened #8919 "Rotate cluster admin password steps"
We have had one of our cluster admins leave and for our security and to remove their responsibility in case something happens to our clusters, we want to rotate the cluster password.  Reviewing the kops project documentation I've been able to successfully rotate the cluster password on a test cluster.  Though it seems to take a few steps and before I started on our production clusters, I wanted to

[2020-04-15 16:57] fsadykov opened #8920 "Get all environment variables"
Hello team,

We are working on the China environment to build a Kubernetes cluster. We are facing some issues with Node up and other Assets. It turns out we can upload all assets to s3 bucket and used that s3 bucket to all assets bypassing Environment Variables

We are using and we had a very hard time to find all these ENV

1. CNI_VERSION_URL
2. NODEUP_URL
3. KUBE_API_VERSIONS
4. DNSCONTROLLER_IM

[2020-04-15 17:38] #6518 closed

[2020-04-16 07:10] coderanger opened #8923 "Mixed instance types and labels"
One issue we've had with using mixed instance policies has been that there doesn't seem to be a great way to tell if the node is spot or not. What would you all say about checking the instance metadata in nodeup and setting a label for it? I know we removed the automatic label setting stuff back in 1.16 because it moved to the kubelet, but this would be a different kind of thing?

[2020-04-16 10:19] marcindulak commented on #8382
A similar problem on an old k8s v1.10.6, it uses AMI `k8s-1.10-debian-jessie-amd64-hvm-ebs-2018-08-17 (ami-09b955ecb52ae9bcf)`

[code]

A manual fix https://unix.stackexchange.com/questions/2544/how-to-work-around-release-file-expired-problem-on-a-local-mirror helps

[code]

[2020-04-16 16:36] #8013 closed

[2020-04-16 16:37] nvanheuverzwijn commented on #8013
@jecnua Hi, can you take a look at #8921 ? I think it resolves your problem.

[2020-04-16 17:04] marcindulak commented on #8382
Shouldn't ebtables be part of the image? https://github.com/kubernetes/kops/issues/1711

[2020-04-16 18:02] ChandranshuRao14 commented on #8710
Any update on this? Happy to submit a small PR for this fix.

[2020-04-16 19:16] Henry-Asante opened #8927 "Allow AWS EBS Volume customisations when creating clusters"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

- I would like to set AWS EBS Volumes whiles creating clusters with Kubernetes Kops. The defaults set huge chunks of memory size, which are mostly not utilized.
- Also, I have to pay for them, whiles not in use, I do not understand this.

**2. Feel free to provide a design supporting your feature request.**

- Since from

[2020-04-16 19:56] #6676 closed

[2020-04-17 02:59] dobesv commented on #1071
I've been searching around to figure out if this is possible.  Can I switch from kubenet to calico on a running cluster?

[2020-04-17 08:24] jecnua commented on #8013
Hi @nvanheuverzwijn. Yes the PR looks like it solved the issue. Thank you so much for it, really appreciated :)

[2020-04-17 09:50] tomesm commented on #8244
Hi, can I also participate. I am a newbie and this seems to be a task which I could manage. I have already signed the CLA.

I am not sure if I can open the PR and reference it to this issue without asking thats why I am asking here in advance :)

[2020-04-17 12:25] rifelpet commented on #8244
I think the open PR #8256 might be addressing the remaining imports mentioned in this issue but if you find other imports with similar inconsistencies feel free to mention them here and open a PR :)

[2020-04-17 12:26] rifelpet commented on #8228
/remove-lifecycle stale

[2020-04-17 12:57] hakman opened #8932 "Add support for ARM64"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

AWS is ready to GA the [Graviton 2](https://aws.amazon.com/about-aws/whats-new/2019/12/announcing-new-amazon-ec2-m6g-c6g-and-r6g-instances-powered-by-next-generation-arm-based-aws-graviton2-processors/) instance types **(C6g, M6g, R6g)**.
Performance looks great and may become quite popular, so it would be nice if Kops c

[2020-04-17 12:57] hakman commented on #8932
/assign

[2020-04-17 13:56] Cryptophobia commented on #1071
@dobesv , have you checked these instructions in the kops documentation: https://github.com/kubernetes/kops/blob/master/docs/networking.md#switching-between-networking-providers

That whole document has lots of information. I have switched from kubenet to weave to calico on a single cluster deployed by kops. The main thing to know is that there is a way to do it gracefully. For example, calico wor

[2020-04-17 14:05] rifelpet commented on #8710
@ChandranshuRao14  feel free to open a PR :)

[2020-04-17 14:52] tomesm commented on #8244
@rifelpet Actually, there are lots of such files:

cmd/kops/export_kubecfg.go
cmd/kops/get_cluster.go
cmd/kops/rollingupdatecluster.go
cmd/kops/delete_cluster.go
cmd/kops/upgrade_cluster.go
cmd/kops/validate_cluster.go
upup/pkg/fi/cloudup/loader.go
upup/pkg/fi/cloudup/spec_builder.go
upup/pkg/fi/cloudup/networking.go
pkg/model/components/containerd_test.go
upup/pkg/fi/cloudup/deepvalidate_test.go

[2020-04-17 17:06] dobesv commented on #1071
Wow, thanks, I don't know how I missed that section!

[2020-04-17 17:07] dobesv commented on #1071
It does say "Switching from kubenet to a CNI network provider has not been tested at this time." but I guess I could test it myself.

[2020-04-17 20:42] rifelpet commented on #8923
I think this sounds reasonable. The two approaches I see are having nodeup check the instance metadata and add it to kubelet's `--node-labels`, or extend kops-controller to query the EC2 API in response to new nodes and label them through kube-apiserver. I suppose it depends on what the label key would be and whether kubelet has permission to set it, as you mentioned:

Is there a standard label fo

[2020-04-17 21:21] #7959 closed

[2020-04-18 09:10] etwillbefine commented on #7930
/reopen

[2020-04-18 13:22] #8891 closed

[2020-04-18 13:30] rifelpet commented on #8138
/remove-lifecycle rotten

[2020-04-18 13:38] rifelpet commented on #5192
For the record, both of these issues are fixed in Kops 1.18

[2020-04-18 14:01] rifelpet commented on #7859
This can now be achieved in Kops 1.18 by setting env vars via https://github.com/kubernetes/kops/pull/8402.

[code]

[2020-04-18 14:06] grv231 commented on #7859
@rifelpet thanks for the info.. is this only available in 1.18? Not on the lower version as far as you know?

[2020-04-18 14:09] rifelpet commented on #7859
Correct, it will be in the next 1.18 alpha release. We're hoping to get 1.17 out the door soon and then we'll be able to focus on releasing 1.18 :)

[2020-04-18 14:13] rifelpet commented on #7286
can you describe exactly what needs to change in order to support permission boundaries? From my limited understanding of permission boundaries it seems like the only change is in the policy attached to the IAM entity running the kops command, not any of the policies that kops creates.

If you can paste an AWS error message or suggest how the IAM policies need to change in order to support this, t

[2020-04-18 17:41] #7960 closed

[2020-04-18 22:11] rifelpet commented on #7800
all the staticcheck failures have been fixed. good job everyone
/close

[2020-04-18 22:11] #7800 closed

[2020-04-19 17:35] justinsb commented on #8908
Thanks for fixing this @hakman .. I think #8939 should be sufficient!

[2020-04-19 18:05] #7980 closed

[2020-04-19 18:51] #8908 closed

[2020-04-19 19:59] justinsb commented on #8562
Thanks for reporting @jhohertz.  The current theory is that it's related to the kernel version, and some kernels have bugs with computation of the checksums which can be worked around by turning off offload of that computation.

Which image (AMI) are you using (or are you using the default kops image)?

[2020-04-20 00:11] #7977 closed

[2020-04-20 04:15] #7851 closed

[2020-04-20 07:57] dvianello commented on #7286
Hi @rifelpet,

the only change that needs to happen is that when creating the various roles kops should set a permission boundary passed in by the user through the spec.

There's a field in the [CreateRoleInput](https://docs.aws.amazon.com/sdk-for-go/api/service/iam/#CreateRoleInput) struct in the AWS Go SDK to deal with this called `PermissionsBoundary` that accepts the ARN of the permission boun

[2020-04-20 10:22] gjtempleton commented on #7604
FWIW I'm unlikely to pick this work up in the near future given we've moved from using Calico to a different CNI internally so this is no longer a priority for me.

[2020-04-20 10:48] itskingori commented on #7604
/remove-lifecycle stale

[2020-04-20 15:27] marek-obuchowicz opened #8944 "Cannot delete keypair secrets"
Recreating issue #6482 which was closed due to inactivity. This is confirmed bug, we just lost our whole cluster created with kops and we can't rotate credentials using method described on https://github.com/kubernetes/kops/blob/master/docs/rotate-secrets.md - so we have complete kubernetes cluster down right now and the problem described in this issue prevents us from bringing cluster back online

[2020-04-20 15:30] marek-obuchowicz commented on #8944
@justinsb decided to mention you, as this issue can have a critical impact on cluster stability (unable to rotate credentials - i just have a cluster down because TLS certs expired and can't rotate them). Similar issue has been already reported several times and always seems to be auto-closed, without any triage or discussion. Issue exists at least since version `0.11.x`

Ability to correctly rota

[2020-04-20 15:48] marek-obuchowicz commented on #8944
Workaround: delete `pki/issued` and `pri/private` directly from S3 bucket which stores kops state information.

[2020-04-20 15:48] saidmasoud commented on #8916
This is most likely an issue with Catalina 10.15.4 itself. There have been a myriad of reports on SSL-related libs/apps breaking on 10.15.4. If you downgrade to 10.15.3 your issue might be resolved as well.

https://tyler.io/so-uh-i-think-catalina-10154-broke-ssh/

[2020-04-20 17:00] rifelpet commented on #7286
Ah ok, that makes more sense. Supporting that should be pretty simple. The main challenge will be what the API for it looks like.

[InstanceGroupSpec](https://pkg.go.dev/k8s.io/kops/pkg/apis/kops?tab=doc#InstanceGroupSpec) has the [IAMProfileSpec](https://pkg.go.dev/k8s.io/kops/pkg/apis/kops?tab=doc#IAMProfileSpec) where we can specify an AWS IAM Profile ARN. I don't think we could add a `Permissi

[2020-04-20 17:28] #7991 closed

[2020-04-20 17:44] dvianello commented on #7286
I think the chance of users requiring multiple permission boundaries is rather low. All the setups I've seen so far have a single permission boundary they use for creating all the IAM roles and I honestly can't see a lot of people making their life so complicated to have different permission boundaries depending on the instance profile within a single cluster. Maybe one per cluster, but in that ca

[2020-04-20 18:07] rifelpet commented on #7286
Agreed, if users want per-role boundaries we can recommend that they manage their own roles.

In that case I think we can move forward with adding a `PermissionBoundary` field to `IAMSpec`. I'm happy to do this when I get around to it but I think it would be a simple enough addition that if anyone else wants to take on the work I can provide assistance.

[2020-04-20 19:08] tomesm commented on #8809
@gjtempleton Hi Im a kubernetes (and kops) contributor novice but I'd like to try to solve this. to understand more of the context of this issue can you please tell me if my understanding is correct?

I believe (from very high level) I need to update the struct `InstanceGroups` and `LaunchTemplate`, check If we receive the `InstancesInterruptionBehavior` parameters and if yes properly add them to

[2020-04-20 19:10] olemarkus commented on #8944
After deleting the objects above, did you manage to continue?
I have solved the bug this issue is about, and I thought I would continue on the rotate secrets docs, but it won't provision new certs for me.

/assign

[2020-04-20 19:18] marek-obuchowicz commented on #8944
What worked for me as the whole process for credentials rotation was in end effect much more complicated:

 - delete objects from s3 (`pki/issued` and `pki/private`)
 - `kops update cluster --yes` (it says it generates new certs; i use terraform output, so I called terraform plan&apply after this step)
 - `kops rolling-update cluster --cloudonly --master-interval=10s --node-interval=10s --force --

[2020-04-20 20:31] #7576 closed

[2020-04-20 21:32] #7993 closed

[2020-04-20 23:34] #7911 closed

[2020-04-21 00:01] pryan-branch commented on #8178
Currently having this issue too and would like to know

[2020-04-21 06:33] itskingori commented on #7459
/close

[2020-04-21 06:33] #7459 closed

[2020-04-21 08:22] timothyclarke commented on #7741
/remove-lifecycle stale

[2020-04-21 08:47] olemarkus commented on #1020
Updating the docs in #8948

[2020-04-21 12:14] #8944 closed

[2020-04-21 16:29] amadav commented on #8834
Ran into this prod environment. Github seemed terribly slow and kops update cluster command kept failing to get the channels file. Is there a way to override the url at this moment before we have a better fix at this?

[2020-04-21 17:42] mariusv commented on #8834
This days Github has quite few issues and this causes small "outages" due to the fact that one can't upgrade/provision clusters. Anything we can help with to get this issue going?

[2020-04-21 17:47] hakman commented on #8834
Will add this on the discussion list for the next office hours and see what would be the best thing to do. :)

[2020-04-21 19:45] olemarkus commented on #8919
It is not that simple, unfortunately. If you exposed the admin user, it is probably more than just the password that could be compromised. You would need to follow this guide to rotate everything https://kops.sigs.k8s.io/rotate-secrets/

[2020-04-21 19:50] olemarkus commented on #8915
Basically, never run `kubectl delete node` unless you know what you are doing. In order to restore this, you have to delete the missing node using the aws api/console.

[2020-04-21 19:54] cw75 commented on #8915
Thanks for your reply @olemarkus . Are you saying instead of running `kubectl delete node`, I should just remove the ec2 instance associated with the node directly using the aws api? If so, after I deleted the ec2 instance, do I also need to run `kops edit ig nodes # setting the min and max to <previous value - 1>` and `kops update cluster --yes`?

[2020-04-21 19:57] olemarkus commented on #8915
No. Just use the aws API to remove the node you removed from k8s using `kubectl delete node`.

What is it that you tried to achieve with running that command?

[2020-04-21 20:48] strangeminds commented on #8919
Thanks for the feedback @olemarkus
I'll run some tests using that page.

[2020-04-22 00:31] cw75 commented on #8915
@olemarkus  Oh, since I'm using one instance group for all these nodes, I need to run `kops edit ig nodes` to change the MIN_COUNT and MAX_COUNT to <previous value - 1> and run `kops update cluster --yes` so that the cluster knows it is expecting to have 1 node less so that it won't autoscale by adding 1 extra node that I just deleted. I found that manually deleting ec2 instance leads to `kops val

[2020-04-22 04:38] Reinkaos opened #8953 "KOPS 1.16 UPGRADE: Kops Controller stuck in ContainerCreating state."
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.160.

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Currently running 1.15.7, attempting to upgrade to 1.16.7.

**3. What cloud provider are you using?**

AWS

*

[2020-04-22 05:05] olemarkus commented on #8915
If you want to delete a very specific node, you can detach it from the AWS ASG, then set the ASG desired flag to current - 1. This is what cluster autoscalers do in order to delete specific nodes. You don't need to change the max/min count of the IG.

[2020-04-22 05:07] olemarkus commented on #8919
Coincidentally, I am doing updates to that page. You may want to have a look at https://github.com/kubernetes/kops/pull/8948

[2020-04-22 08:29] hakman commented on #8910
@kostab-sentinel `kopeio/etcd-manager` is a different project. We don't pan to address these CVEs. As you well know, there is an virtually infinite number of CVEs and more appear each day.
If there are any particular vulnerabilities that should be addressed because of their severity, please provide details.

/close

[2020-04-22 08:29] #8910 closed

[2020-04-22 08:30] alok87 opened #8954 "Kernel throttling bug patch in kops node images"
**What?**

Linux Kernel has a bug in which un-necessary CPU throttling happens due to the bug in Kernel.
KernelBug: https://bugzilla.kernel.org/show_bug.cgi?id=198197
KubernetesIssue: https://github.com/kubernetes/kubernetes/issues/67577

Many of us use kops default node images and have been experiencing problems due to un-necessary CPU throttling in our pods.

Please suggest if the latest [kops n

[2020-04-22 08:33] hakman commented on #8909
Hi @kostab-sentinel.
We plan to upgrade `flanel` to v0.12.0, but it is a busy time of the year for the maintainers and may take a while. Feel free to submit a PR if this is a priority for you and assign it to me for review.
Thanks!

[2020-04-22 08:42] juris commented on #8296
This is how it looks at the worker node:
[code]

IPs it's trying to connect to are from the long gone worker nodes.

[2020-04-22 08:42] juris commented on #8296
/remove-lifecycle stale

[2020-04-22 09:47] alok87 commented on #8954
Issue is there in kops image `kope.io/k8s-1.15-debian-stretch-amd64-hvm-ebs-2019-09-26`. with Kernel `4.9.0`. Un-necessary throttling is happening. We need to path the kernel fix in node images.

[code]

[This](https://gist.github.com/bobrik/2030ff040fad360327a5fab7a09c4ff1) was used to do the analysis.

Note: all are with 1000 iterations
We set cfs quota to 20ms and cfs period to 100ms, so we can

[2020-04-22 10:29] hakman commented on #8954
@alok87 Is there a fix for this in the Debian Stretch official repo or images?

[2020-04-22 10:33] alok87 commented on #8954
not sure. how to find out?

[2020-04-22 10:43] hakman commented on #8954
You should be able to find out by doing all the updates, including kernel and rebooting before the testing.
BTW, distros with older kernels have other bugs also, quite many I would say. Another example is this one:
https://github.com/awslabs/amazon-eks-ami/issues/357

I proposed using Debian Buster or Ubuntu 20.04 in the near future instead of Debian Stretch. Not sure what the policy is for upgrad

[2020-04-22 10:52] alok87 commented on #8954
Does the Debian buster or Ubuntu 20.04 has the bug fixed? Should we move to these images? Does the node images needs to be custom build for Kubernetes?

[2020-04-22 10:56] wknapik commented on #8911
Ran into this today with kops 1.11.1 and kubernetes 1.11.10.

[2020-04-22 11:02] hakman commented on #8954
Ubuntu 20.04 should have these all fixed. I am not sure how many made it to Debian Buster.
Personally I use Ubuntu and Debian official images. Kops one are just Debian Stretch images with some packages pre-installed to have faster startup.

You can get an idea about how the default images are created and what they contain here:
https://github.com/kubernetes-sigs/image-builder/blob/master/images/ku

[2020-04-22 11:03] alok87 commented on #8954
thanks @hakman let me explore these options and hope to see the kops one upgrade to these since they have many issues fixed.

[2020-04-22 11:09] hakman commented on #8954
You're welcome. Ubuntu 20.04 support will come with the next releases hopefully this week.
If you want to try Debian Buster, you will need to use this:
https://github.com/kubernetes/kops/pull/7381#issuecomment-521878286

[2020-04-22 11:19] alok87 commented on #8954
You mean Ubuntu 20.04 support in kops for ubuntu 20.04 release?

[2020-04-22 11:29] alok87 commented on #8954
Upgraded kernel to 4.19, throttling is not reproducible. It has the patch i guess 🥳
[code]

<details>
  <summary>docker run --rm -it --cpu-quota 20000 --cpu-period 100000 -v $(pwd):$(pwd) -w $(pwd) golang:1.9.2 go run cfs.go -iterations 100 -sleep **1000ms**</summary>
  2020/04/22 11:22:02 [0] burn took 5ms, real time so far: 5ms, cpu time so far: 6ms
2020/04/22 11:22:03 [1] burn took 5ms, real ti

[2020-04-22 11:35] marcindulak commented on #8382
@olemarkus

[2020-04-22 11:44] hakman commented on #8954
One thing you forgot to mention is that this is from **backports**, not regular updates.

[2020-04-22 11:47] alok87 commented on #8954
May be then we should get this released as you suggested:
[code]

[2020-04-22 11:49] alok87 commented on #8954
May be then we should move to Debian Buster or Ubuntu 20.04

[2020-04-22 12:29] rifelpet commented on #8953
can you paste your cluster spec? googling ` failed to sync secret cache` suggests that this occurs when the cluster doesn't have RBAC enabled, which is now required in 1.16

[2020-04-22 12:36] rifelpet opened #8956 "Require clusters use RBAC"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Kops 1.16 includes kops-controller which uses a Role and ClusterRole, I see little benefit in continuing to support non-RBAC clusters. I dont know how feasible it would be to run kops-controller without RBAC enabled, or run a kops cluster without kops-controller (I dont think this is even possible to disable kops-control

[2020-04-22 13:00] michaelajr commented on #732
I have had a lot of problems with this. I do not think this works. The masters in the same zone have a race condition around mounting their etcd volumes. I get terminated masters... then they come back up - and eventually I get steady state. But the mounts are all wrong. master1 might have master2's etcd events volume, but its own ectd main volume. If both go down - and both come back up - they wi

[2020-04-22 13:31] michaelajr commented on #732
Well - I guess it does work - even with the race on volumes - and even though masters in the same AZ might mount different volumes at different times. Seems very odd. Can someone shed some light on this and let me know if this all ok?

[2020-04-22 14:24] saidmasoud opened #8957 "kops overwrites Kubernetes API URL in custom kube config"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.14.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.14.9

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest wa

[2020-04-22 15:21] alok87 commented on #8954
@hakman do you have the [yamls like these](https://github.com/kubernetes-sigs/image-builder/tree/master/images/kube-deploy/imagebuilder) for debian buster or ubuntu 20.04

[2020-04-22 15:31] hakman commented on #8954
no, but should be very similar to the stretch one or buster one from here https://github.com/kubernetes-sigs/image-builder/pull/205.

[2020-04-22 15:36] strangeminds commented on #8919
That answers most of my questions.  I followed the page on a test cluster and it worked great.

Thank you!

[2020-04-22 15:36] #8919 closed

[2020-04-22 18:42] Nuru commented on #8954
I have been trying to track the distribution of this patch as best I can, but have not been completely successful. So far, my best information is that
- I have reproduced the issue in the current kops stable 1.15 AMI: `kope.io/k8s-1.15-debian-stretch-amd64-hvm-ebs-2020-01-17`
- The patch probably made into Debian buster, since that is based on Linux kernel 4.19 and the fix landed in 4.19.84
- The

[2020-04-22 19:34] cw75 commented on #8915
@olemarkus I ended up still having to change MIN and MAX count but detaching the node from ASG seems to work. Thanks a lot for your help!

[2020-04-22 20:53] Reinkaos commented on #8953
Hey, thanks for your reply. I do have RBAC enabled, here is my cluster spec with sensitive information removed:

[code]

Hope that helps!

[2020-04-22 22:45] Reinkaos commented on #8953
Another clue I have at the moment is that my encryption provider pod does not get deployed to the new master node. What does the kops-controller pod do?

[2020-04-22 23:27] Reinkaos commented on #8953
This is potentially related to an issue that I have in the kube api server logs:

[code]

[2020-04-22 23:58] michaelajr commented on #8091
Yeah. Same here. Kinda need this.

[2020-04-23 02:22] Reinkaos commented on #8953
I have found the issue. It was because on my Pod spec for the static encryption provider pod I was giving the nodeSelector flag which doesn't appear to be required anymore and breaks the scheduling. Without that the pod was able to be scheduled and then the kops controller worked. It looks like this doc has been updated since I last looked https://github.com/kubernetes-sigs/aws-encryption-provider

[2020-04-23 02:22] #8953 closed

[2020-04-23 03:56] rifelpet opened #8959 "etcd-manager certificate rotation"
When etcd-manager is first launched it issues certificates for each master node. These certs have a [hard-coded duration of one year](https://github.com/kopeio/etcd-manager/blob/1b7ffc96c132f6f1bed81f6ea67847cff6623d04/pkg/pki/certutils.go#L91). If the cert expires, apiserver will no longer be able to reach the local etcd members.

etcd-manager was first introduced in Kops 1.12 which was released

[2020-04-23 03:56] rifelpet commented on #8959
/cc @justinsb

[2020-04-23 07:38] olemarkus commented on #8382
I don't think it is part of the image. It is installed by kops on boot.

[2020-04-23 08:31] marcindulak commented on #8382
According to https://github.com/kubernetes/kops/issues/1711#issuecomment-276841603 ebtables should be part of the image.

@justinsb  writes there ```We'll get it into the next image also, to skip the need to download it```

[2020-04-23 08:37] avdhoot commented on #7740
We should not close this issue. Exiting functionality is broken :(

[2020-04-23 09:59] shreben commented on #6333
/remove-lifecycle stale

[2020-04-23 12:22] #8707 closed

[2020-04-23 12:33] alok87 commented on #8954
@Nuru you can try this out: I have built the Debian Buster(10.3) AMI using ImageBuilder
- AMI: `k8s-1.15-debian-buster-am d64-hvm-ebs-2020-04-23`
- PR for kops to make it kops official for 1.15 https://github.com/kubernetes-sigs/image-builder/pull/215
- I ran the test no throttling is happening. Details are in https://github.com/kubernetes-sigs/image-builder/pull/215 description.
-

[2020-04-23 12:35] alok87 commented on #8954
@Nuru you can try this out: I have built the Debian Buster(10.3) AMI using ImageBuilder
- AMI: `k8s-1.15-debian-buster-am d64-hvm-ebs-2020-04-23`
- PR for kops to make it kops official for 1.15 https://github.com/kubernetes-sigs/image-builder/pull/215
- I ran the test no throttling is happening. Details are in https://github.com/kubernetes-sigs/image-builder/pull/215 description.

[2020-04-23 12:57] michaelajr commented on #8470
I can not get `additionNetworkCIDRs` to work. I have 1 of my 3 subnets in its own CIDR block (not part of the the CIDR of the other 2 subnets). And the master in that subnet never mounts etcd volumes and the nodes in the subnet never join the cluster. Other 2 masters got quorum and start up, nodes in those zones joined the cluster just fine.

[2020-04-23 13:57] marek-obuchowicz commented on #8959
I can help with the docs. The process is:
 - delete certs using kops. This is currently broken, #8945 fixes this. Can we assume that documentation for etcd cert rotation can rely on this functionality, will it be released soon?
Without this fix, i'm deleting files directly from S3:
[code]

 - call kops to regenerate etcd certificates:
[code]
 - get IPs of master nodes:
[code]
 - delete tls certs o

[2020-04-23 14:01] marek-obuchowicz commented on #8834
We could store latest downloaded channel information in S3 state bucket. That could give a "last known" state of channel information to actions like update cluster

[2020-04-23 14:30] jiraguha commented on #8834
This is a really bad issue and a sad issue and I have it:

[code]
I cannot deploy my environments now... I suppose I am not the only one stuck now.

In fact, I do not understand why kops need those channels' contents? Join the idea of @geekofalltrades, Is it something that can be packaged in the build release it-self and not having dependencies at all?

[2020-04-23 14:35] hakman commented on #8834
In theory, some if not all that that could be skipped if someone manually sets the:
* k8s version
* ig image

If those are set manually, I really see no reason for the channel check to be mandatory, maybe even could be completely skipped.

[2020-04-23 14:42] rifelpet commented on #8834
To give some background, the channels files serve a few purposes:

- provide a recommended AMI for each k8s minor version
- provide a recommended k8s patch version for each k8s minor version
- provide a notice to upgrade k8s patch versions in case a k8s patch version should not be used (security issues, etc.)
- provide a recommended k8s minor version for each Kops version

Some of this information

[2020-04-23 15:07] jiraguha commented on #8834
@rifelpet, Thanks for the explanation and good idea.

Just to follow your proposition, I would run kops in that order:

1. A channel check using live dependencies provided by kops team (eventually in multiple locations for redundancy)
2. if (1.) does not work, show a warning and make the check using a location that could be provided by kops users (a cache of channels file own by the user running k

[2020-04-23 16:28] olemarkus commented on #8959
I hope we can do a quick release to fix this. Should already be backported to 1.16.

It would be nice if nodeup could just replace these certs when there are newer in the secret store.

You would only need to restart the masters and you could do that gracefully. etcd should work as long as the CA remains the same.

[2020-04-23 17:01] gjtempleton commented on #8809
Hey @tomesm

Welcome! Good to see you getting stuck in!

Sorry for the delay in getting back to you.

You seem to have grabbed the essentials already and that existing PR is indeed a good guide to what you'll need to do to enable the behaviour.

As you'll see with it it'll be worth adding some validation in at the same time given AWS only supports 3 values here.

Happy to give any work you do on t

[2020-04-23 18:44] tomesm commented on #8809
Hi @gjtempleton, thanks for reply. Ok, gimme few days and I will prepare a PR linked to this issue. A review and feedbeck will be surely needed :)

[2020-04-23 19:25] sudermanjr commented on #8959
Taking a look at all the certs in those places in my clusters yields an expiration date that is 10 years out. I'm not sure how that could be, unless those are the wrong certs, or there is something else I'm missing here.

[2020-04-23 19:38] marcindulak commented on #8382
Is using hooks even feasible in order to modify apt repositories before nodeup is run https://github.com/kubernetes/kops/issues/387? @olemarkus

[2020-04-23 19:46] austinorth commented on #8512
I'm seeing this as well on a new cluster spin-up of Kubernetes 1.16. @linecolumn did you find a fix? Is that why you closed this? Would be nice to have something to hold us over until a stable version of Kops 1.17.4 is released.

[2020-04-23 19:50] marcindulak commented on #8382
Actually as per comment in the above issue, `additionalUserData` may help

[code]

[2020-04-23 19:56] rifelpet commented on #8959
The certs and keys in S3 are only for the CA certificates which have a 10 year expiration. The individual certs with 1 year expirations are issued locally on each host, so nothing needs to be removed from S3 at the moment.

We just successfully rotated the etcd certs on our clusters and found these steps to work:

1. SSH into each master instance and delete the pki directory from each volume mount

[2020-04-23 19:58] rifelpet commented on #8953
Kops 1.16.1 was just released which includes support for `--encryption-provider-config` (not `--experimental`) so you may want to try that out:

https://github.com/kubernetes/kops/releases/tag/v1.16.1

[2020-04-23 20:34] Reinkaos commented on #8953
Hey @rifelpet, thanks for that I will give that a go as well.

[2020-04-23 21:37] michaelajr commented on #8470
Aaaaannnnd. Never mind. The new subnet was set up using the wrong NACL. Once that was fixed `additionalNetworkCIDRs` worked perfectly.

[2020-04-23 22:15] prudhvigodithi opened #8968 "kops 1.16.1 docker TLS handshake timeout, Error getting v2 registry: Get https://k8s.gcr.io/v2/: remote error: tls: handshake failure""
**1. What `kops` version are you running? The command `kops version`, will display
 1.16.1 (same with 1.16.0)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
1.16.7

**3. What cloud provider are you using?**
aws

**4. What commands did you run?  What is the simplest way to reproduce this

[2020-04-23 22:21] coderanger commented on #8959
I put up a PR for etcd-manager to improve things. https://github.com/kopeio/etcd-manager/pull/309

[2020-04-23 22:23] coderanger commented on #8959
@rifelpet We used a similar approach, I did `mv pki pki-old` rather than `rm` but same idea. Everything came back cleanly. We had been on a prerelease of kops so I guess we got to experience this party a bit early.

[2020-04-23 23:12] jeffb4 commented on #8916
So I confirmed this problem occurs with the 1.16.1 release binary, but does NOT occur when I compile the v1.16.1 git tag locally and run it. Is this possibly a hidden code signing issue?

[2020-04-24 00:08] Cryptophobia commented on #1020
I stumbled on this issue and the docs after running into certificate problems with etcd after a cluster upgrade. I just have to say that I'm very thankful I found them and every single line worked as expected.

Big thank you for writing these docs! :heart:

[2020-04-24 00:44] #7994 closed

[2020-04-24 02:18] jay13jay commented on #8089
So the problem could have been the version, or the fact the dev team was only standing up 2 nodes versus the 3 we use as a minimum in production. Once we updated the cluster configuration to the typical 3 nodes, the issue stopped happening, however we also simultaneously updated KOPS.

Sorry I can't provide a more clear answer, once it started working I had to move on to other issues and did not h

[2020-04-24 02:18] #8089 closed

[2020-04-24 03:57] MoShitrit commented on #7930
Hey there, @rifelpet!
I'd like to take a stab at this issue if possible.
From poking around the code a little bit, what I think of doing is:
1. Add a new variable called `CpuRequests` under  `CalicoNetworkingSpec` (https://github.com/kubernetes/kops/blob/master/pkg/apis/kops/networking.go#L102) and `CanalNetworkingSpec` (https://github.com/kubernetes/kops/blob/master/pkg/apis/kops/networking.go#L1

[2020-04-24 04:11] rifelpet commented on #7930
Hi @MoShitrit yes feel free to tackle this.

[Weave would be a good reference](https://godoc.org/k8s.io/kops/pkg/apis/kops#WeaveNetworkingSpec) for resource related fields. Feel free to mimic those in `CalicoNetworkingSpec` and `CanalNetworkingSpec`. Specifically having the field named `CPURequest` and of type `*resource.Quantity`.

Run `make apimachinery crds` after adding the fields to `pkg/apis

[2020-04-24 04:56] MoShitrit commented on #7930
@rifelpet That's super helpful! Thanks for referring me to that.
Yeah I'd love to give it a try, probably over the weekend.
I'll let you know if I need any help, thanks so much!

[2020-04-24 04:57] MoShitrit commented on #7930
/assign

[2020-04-24 07:25] povils commented on #2216
Hey, after 3 years it's still an issue?

[2020-04-24 07:46] coderanger commented on #7740
While this indeed deprecated, if you need to use it to access scheduler settings that aren't yet exposed in Kops you can use this RBAC policy:

[code]

[2020-04-24 07:47] mitch000001 commented on #8959
I was just wondering how you would restore from a certificate rotation. Like, it is very easy to wipe all certs, but the more interesting and time consuming issue is the restoration of things afterwards. When we removed all (!) secrets and certs from a cluster and tried to start it over we had etcd complaining about old/bad certificates. We fixed it by restoring with `etcd-manager-ctl restore`, al

[2020-04-24 08:22] olemarkus commented on #8959
Just to stress what @rifelpet said: you do not need to do anything with the certs in the kops secret store (as in `kops get secret`). You only need to remove the certs from the etcd folders and then restart etcd.

[2020-04-24 12:41] #8311 closed

[2020-04-24 16:03] cbeneke commented on #8959
Since this will affect people 1yr after they first installed kops in 1.12 a small hint how to check if (or better, when) you will be affected. SSH into any master and

[code]

This will print the end-times of the certs you have running. (The volume path might differ for different cloud-providers/distros.. double check :) ).

[2020-04-24 17:27] mmerrill3 commented on #8959
Thanks @rifelpet, this process worked for me.  I just had an etcd outage in qa thankfully, applying this to prod.

[2020-04-24 18:01] #7752 closed

[2020-04-24 18:25] olemarkus commented on #8009
I am actially looking into this

/reopen

[2020-04-24 19:42] olemarkus commented on #8009
What I have at the moment is a VFS implementation for vault. It doesn't make use of IAM auth yet, but  that part should be trivial. Some wrinkles to iron out are things like not using vault for storage of etcd backups ...

[2020-04-24 19:54] iMichka opened #8973 "kops 1.16.1 release shasum has changed"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Not applicable / 1.16.1 ?

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Not applicable

**3. What cloud provider are you using?**

Not applicable

**4. What comma

[2020-04-24 20:14] mikesplain commented on #8973
Thanks for reaching out @iMichka!

It looks like this is the original PR? https://github.com/Homebrew/homebrew-core/pull/53611

I don't believe our sha256 has changed but this is something we'll take a look at.  It looks like the PR wasn't created with brew-bump-pr.  Is it possible the wrong sha256 was used? (I assume no because your build wouldn't have passed at that point?)

[2020-04-24 20:49] iMichka commented on #8973
Yes, this was the original PR. I noticed the change about 11 hours later, when I did the Linux build.
The CI will download the archive for the build, and check the shasum with the one provided by the git change. So the value definitively changed at some point.

We do not have the initial file anymore, else we could do a diff between both tar files

[2020-04-24 21:17] Bo98 commented on #8973
This also affected Alpine Linux.

It also affected the 1.16.0 tag. I compared the original and modified archive and found one difference:

<img width="1222" alt="Screenshot 2020-04-24 at 22 07 18" src="https://user-images.githubusercontent.com/1190754/80257214-4c265700-8678-11ea-9ec7-74066204df05.png">

The short form `%h` isn't documented to be or guaranteed to be any particular length. It seems

[2020-04-24 22:23] rifelpet commented on #8264
I've been giving this more thought. I think the MVP could provide the files within the state store and have the cluster admin host them publicly out of band. This allows us to later provide a hosting solution (manage an s3 bucket + objects, deployment, etc) in future iterations without locking us into any of those early.

As an aside, there's an [implementable KEP](https://github.com/kubernetes/en

[2020-04-25 05:06] dobesv commented on #8311
Did you ever figure out a way to do this?  I want to do the same thing.

[2020-04-25 05:12] #7806 closed

[2020-04-25 09:55] Henry-Asante opened #8976 "Error reading cluster configuration: Cluster.kops.k8s.io "cluster.app.com" not found"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.16.0 (git-4b0e62b82)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.5", GitCommit:"20

[2020-04-25 12:43] olemarkus commented on #8817
/assign

[2020-04-25 12:52] olemarkus commented on #8091
/assign

[2020-04-25 18:03] dignajar opened #8981 "Kops v1.16.1 and `kops get --name $NAME -o yaml` incorrect parse"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest wa

[2020-04-25 19:05] olemarkus commented on #8981
This is something that happens when parsing yaml that has trailing characters such as space. Look at the file you gave as input and see if there was anything like that there.

[2020-04-25 19:08] olemarkus commented on #8976
Did you run this against the correct state store?
Deletions of clusters normally works, so would have to know more details to help any further.

[2020-04-25 21:06] nekinie opened #8983 "Hetzner Cloud Support"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Utilize kops to deploy and manage Kubernetes clusters on [Hetzner Cloud](https://www.hetzner.com/cloud), also known has hcloud.

**2. Feel free to provide a design supporting your feature request.**

Hetzner provide an official Go library: https://github.com/hetznercloud/hcloud-go

[2020-04-25 21:36] irons opened #8984 "add CI support for Github Actions"
On the Apr 24 office hours call, @justinsb expressed an interest in Github Actions over Travis. I have a working implementation and wanted to confirm the desired scope.

What I've got now is:

* ubuntu-18.04 and macOS-10.15, each running `make nodeup examples test`, under go 1.13.x and go 1.14.x
* ubuntu-18.04, running what's currently `make travis-ci`, under go 1.13.x and go 1.14.x
* rename `trav

[2020-04-25 22:20] sanjaysingatalur opened #8985 "python as wrapper for creating KOPS kubernetes cluster"
I have a python wrapper which creates cluster on different cloud providers with kuberenetes client.However now i want to create a KOPS k8s cluster in AWS via python wrapper.
My requirement is to use my python script or API to create KOPS kubernetes cluster. Are there any packages available in KOPS to create cluster using python?

[2020-04-26 05:34] hakman commented on #8984
Hi @irons. Thanks for looking into Github Actions for Kops and dong this research.

The following should be done in a subsequent PR, once we have the time to compare Github Actions with Travis:
* rename `travis-ci` target to `github-actions`
* update CI badges in EN and ES readmes

Regarding the uncertainties:
* `make travis-ci` does some OS independent check so should be done only on Linux with G

[2020-04-26 06:21] irons commented on #8984
Thanks for the feedback. I'll turn it around in a PR tomorrow morning.

The environments currently supported by Github Actions are [detailed here](https://github.com/actions/virtual-environments/). They're not acknowledging anything specific to ARM64, and [until Azure supports it](https://github.com/microsoft/azure-pipelines-agent/issues/1911), Github probably won't. ARM is also [not yet supported

[2020-04-26 06:43] hakman commented on #8984
There could also be a mixed scenario where some jobs are also run in Travis as optional.
I am pretty sure everyone will want to start adding some ARM stuff at some point, at least to have some cheaper alternative to Intel.

[2020-04-26 10:17] krangerich opened #8992 "AWS IAM Authenticator doesn't work"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.16.1 (git-d1b07f7fd6)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:

[2020-04-26 10:31] krangerich opened #8993 "Add etcd detail settings to kops create cluster"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Additional settings for `kops create cluster`:

`--etcd-volume-size <GB>`

Should set `spec.etcdClusters[].etcdMembers[].volumeSize` in the cluster.yaml

`--etcd-storage-kms-key-arn <string>`

Should set `spec.etcdClusters[].etcdMembers[].kmsKeyId` in the cluster.yaml

[2020-04-26 12:43] #7043 closed

[2020-04-26 15:04] #8976 closed

[2020-04-26 15:20] dignajar commented on #8981
Thank you, was the trailing whitespaces.

[2020-04-26 15:20] #8981 closed

[2020-04-26 16:51] hakman commented on #7142
/close

[2020-04-26 16:51] #7142 closed

[2020-04-26 17:23] #7930 closed

[2020-04-26 18:21] olemarkus commented on #8993
Unless there are really good reasons, we avoid creating additional cli flags. Why do you need these settings as flags vs using the cluster resource?

[2020-04-26 20:44] krangerich commented on #8993
Whats the exact design choice when there is a CLI flag and when not, since there are like 50 of them?

You can change many of the current CLI flags on a running cluster by editing the cluster spec later, but not the etcd volume. Once it has been created, it has to stay the way it is.
So it's better to give people the option to properly encrypt their etcd volumes and use a sane volume size from the

[2020-04-27 05:23] johngmyers commented on #8264
I would prefer an `issuer` field that was an URL over an `issuerHostPath`.

How are you planning on getting the thumbprint(s) needed for the `CreateOpenIDConnectProvider` call?

Having `idp.create` be down a level seems wonky.

[2020-04-27 07:43] mprzygrodzki opened #8995 "1.16.1 After upgrading image on nodes cluster becomes unstable."
I've recently upgraded kops from version 1.15.2 to 1.16.1. Cluster upgrade went well, but after upgrading node images from **kope.io/k8s-1.14-debian-stretch-amd64-hvm-ebs-2019-08-16** to **kope.io/k8s-1.16-debian-stretch-amd64-hvm-ebs-2020-01-17** nodes becomes totally unstable and they're randomly disconnecting from cluster and have status NotReady for some period of time. I was using Weave as ne

[2020-04-27 09:58] tomesm commented on #8809
Hi @gjtempleton I have added
`InstanceInterruptionBehavior *string `json:"instanceInterruptionBehavior,omitempty"``
into InstanceGroupSpec struct.

How do I figure out if the value is simple string or a pointer to a string? Im not sure about that.

[2020-04-27 11:06] olemarkus commented on #8993
These days, flags are only added if they are needed for end-to-end testing. Test infra doesn't accept cluster specs, so we need flags there.

You can change any part of the spec before doing the first `kops update cluster <cluster> --yes`.

[2020-04-27 12:02] knagu commented on #7615
Could anyone resolved the issue above, im facing with this now getting output as below ```
`etcdClusters:
  - etcdMembers:
    - instanceGroup: master-[eu-west-2a eu-west-2b eu-west-2c]
      name: a
    name: main`

[2020-04-27 12:33] knagu opened #8996 "Kops Template has issues with {{range $i, $az := .availability_zones.value}}"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`1.16.1`

**2. What cloud provider are you using?**
AWS

**3. What commands did you run?  What is the simplest way to reproduce this issue?**
`kops toolbox template --name ${CLUSTER_NAME} --values <( echo ${TF_OUTPUT}) --template template.yaml --format-yaml > cluster.yaml`

**4. What happened a

[2020-04-27 13:03] #8867 closed

[2020-04-27 13:45] #8984 closed

[2020-04-27 14:02] jhohertz commented on #8562
We're currently using the latest Flatcar stable release.

I am currently looking at trying to patch in the ethtool thing for testing.

[2020-04-27 14:37] ysaakpr opened #9000 "kops update cluster error for externalPolicies"
I am unable to save the `kops edit cluster` while saving with externalPolicies
Its keep giving `Found fields that are not recognized`. I am able to update many other fields, like additionalPolicies etc. But only this setting is failing.

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.14.0 (git-d5078612f)

**2. What Kubernetes versi

[2020-04-27 17:03] hakman commented on #9000
`externalPolicies` will be available in Kops 1.18.
https://github.com/kubernetes/kops/pull/7837

[2020-04-27 17:26] hakman commented on #5524
/remove-lifecycle stale

[2020-04-27 18:08] Tawmu commented on #5767
Bumping to keep alive - would be very helpful.

[2020-04-27 19:18] #8091 closed

[2020-04-27 19:26] jhohertz commented on #8562
I maybe have found hints as to "what's different between 1.16 and 1.17".

A dependency in a netlink library used was bumped, and within that there are specific changes to vxlan and the handling of checksums. It *looks* like it should have really only added IPv6 UDP support for checksums, but... after searching around for whats different between 1.16 and 1.17, this kind of stands out.

Comment on f

[2020-04-27 20:04] grv231 commented on #7859
Closing this issue, since it's confirmed above that it's only going to be part of future Kubernetes releases (apart from 1.17) on not the previous ones. Thanks, @rifelpet for confirmation

[2020-04-27 20:04] #7859 closed

[2020-04-27 20:15] geojaz opened #9003 "Updating to v1 of GCE libs broke network.Find()"
The network self-link is [hardcoded](https://github.com/kubernetes/kops/blob/fd512ca1657ce88e3926fd32620e7de10c0fb1ba/upup/pkg/fi/cloudup/gcetasks/network.go#L79) to use `beta` resource name. When creating new clusters, this throws errors like :

[code]

Looks like we have another [place to update as well](https://github.com/kubernetes/kops/blob/master/upup/pkg/fi/cloudup/gcetasks/subnet.go#L196).

[2020-04-27 21:16] #9003 closed

[2020-04-27 21:42] rifelpet commented on #8264
Yes `issuer` makes more sense, every use of includes the protocol so it would be more intuitive to accept a URL.

Heres my work so far: https://github.com/kubernetes/kops/compare/master...rifelpet:irsa?expand=1

My current roadblock is indeed getting the thumbprint from a KeyPair task to the OIDCProvider task. I don't see any other cases of tasks depending on the output of other tasks beyond just

[2020-04-27 23:02] tvi commented on #4877
#8771 Might be related

[2020-04-27 23:19] tvi opened #9006 "Protokube with memberlist gossip DNS doesnt startup"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`Version 1.17.0-beta.1 (git-32af4ed9b)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
"kubernetesVersion": "1.15.9",

**3. What cloud provider are you using?**
aws

[2020-04-27 23:45] rajakshay opened #9007 "Cannot identify spot and on-demand EC2 instances when using mixedInstancePolicy in ASG"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
* It would be useful to identify whether an EC2 instance is spot or on-demand in a mixedInstancePolicy ASG.
* Ability to add this info as`cloudLabel` or `NodeLabel`.

This would help with:
1. Targeting workloads to spot Instances.
2. Be able to filter spot instances based on k8s node labels.

**2. Feel free to provide a d

[2020-04-28 00:03] jacksontj commented on #9006
We have actually figured this out internally, but explaining here for posterity.

First off, the panic itself is due to duplicate metrics registrations. The current memberlistmesh library registers a bunch of metrics (carryover from the old `alertmanager` names etc.) -- which can't be registered in duplicate (which should be fixed -- https://github.com/jacksontj/memberlistmesh/issues/1).

Non-supp

[2020-04-28 00:08] jacksontj commented on #8771
Sorry about the huge delay in responding here (apparently I missed the email :scream: ). We actually ran into a similar issue today (https://github.com/kubernetes/kops/issues/4877) when upgrading to upstream kops. What we saw was very similar -- but it was because we had already swapped to memberlistmesh (meaning we already had a gossipConfig defined in the yaml). If you also had one configured it

[2020-04-28 02:17] coderanger commented on #9007
Duplicate of #8923

[2020-04-28 03:51] tchainzzz opened #9010 "EOF Error from AWS api while validating new cluster"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
`Version 1.16.1 (git-d1b07f7fd6) `

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**
`AWS`

**4. What commands did yo

[2020-04-28 03:52] tchainzzz commented on #9010
deleting private info

[2020-04-28 04:00] johngmyers commented on #9010
The error indicates the apiserver is not responding. Since you have zero master nodes this is not surprising. You need working instances in order for the cluster to validate.

[2020-04-28 04:07] tchainzzz commented on #9010
I'd suspected that too, but even when I tried changing minSize and maxSize for the master to 1, and verified through the AWS console that I had instances running, `kops validate cluster` yielded exactly the same problem. I tried this again just now to confirm.

[2020-04-28 04:59] olemarkus commented on #9010
If you deleted some volumes, it could be that you broke your etcd cluster. That would cause the master node to fail. Check `/var/log/etcd.log` and `/var/log/kube-apiserver.log`

[2020-04-28 05:14] tchainzzz commented on #9010
I did delete some volumes, so that could explain it. I'm looking at `etcd.log`, anything in particular I should be looking for? It seems like it was able to mount volumes; I'm getting output along the lines of
[code]

[2020-04-28 05:22] tchainzzz commented on #9010
Ok, `kube-scheduler.log` has messages along the lines of
[code]
where the last 2 lines keep repeating.

[2020-04-28 05:27] johngmyers commented on #9007
/close

[2020-04-28 05:27] #9007 closed

[2020-04-28 05:29] johngmyers commented on #8923
A common label is `node-role.kubernetes.io/spot-worker`

[2020-04-28 05:30] tchainzzz commented on #9010
Oh, huh, `kops validate cluster` is working now. I think I just misunderstood how to use my cluster -- this is the longest I've left my instances running since I terminated them a couple of days ago. Ultimately it took ~15 min for things to get up and running from the `kops update cluster --yes` command, which was significantly longer than it took yesterday, so that threw me off.

I changed maxSiz

[2020-04-28 05:30] #9010 closed

[2020-04-28 06:00] johngmyers commented on #8264
I think you'll need a field in the spec for the thumbprint. The admin will have to supply it for an externally hosted issuer. (And I don't like the fact that if Amazon changes the root CA they use for S3 then all our IRSA IDPs will break.)

Kops could approve the CSR by putting an approver in kops-controller. I maintain such a thing: proofpoint/kapprover.

We simply run IRSA without a webhook. It'

[2020-04-28 07:36] gjtempleton commented on #8809
Are you meaning whether you declare it in the struct as

`InstanceInterruptionBehavior *string `json:"instanceInterruptionBehavior,omitempty"`

or

`InstanceInterruptionBehavior string `json:"instanceInterruptionBehavior,omitempty`?

Since pointers can be nil and this is an optional field, it'll allow you to do any required validation on whether the value's `nil`. In addition the existing low leve

[2020-04-28 08:15] bearnard opened #9012 "Support for new af-south-1 Africa (Cape Town) region"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
Support for new `af-south-1` `Africa (Cape Town)` region

**2. Feel free to provide a design supporting your feature request.**
Will this happen automatically when aws-sdk-go is bumped to a version that supports af-south-1,
or is there a bit more to the process of adding region support?
I see https://github.com/aws/aws-sd

[2020-04-28 11:54] hakman commented on #8923
NodeUp should be as fast as possible to get the instance running. I wouldn't complicate it more for this. `kops-controller` seems a good place for this.

The label itself, maybe `node.kubernetes.io/instance-lifecycle=spot`.
As @johngmyers said, `node-role.kubernetes.io/spot-worker` is/was also used, but not sure how much, except for `k8s-spot-termination-handler`.

[2020-04-28 11:56] rifelpet commented on #9012
Updating the aws-sdk-go vendoring as well as https://github.com/kubernetes/kops/blob/7c3b8546d03c414ae0ea898aeabd2a14c0a8a9a7/upup/pkg/fi/cloud.go should be all that is required in this repo. [etcd-manager](https://github.com/kopeio/etcd-manager) will also need a vendoring update

[2020-04-28 12:07] rifelpet commented on #8923
The downside of using kops-controller is more EC2 API requests, in this case `ec2.DescribeInstances`, rather than being able to use the compute metadata endpoint. Google has a fair amount of search results for `node-role.kubernetes.io/spot-worker` so I'd be inclined to go with that.

[2020-04-28 13:11] MoShitrit commented on #9012
/assign

[2020-04-28 13:25] MoShitrit commented on #8995
I _think_ we started seeing the same issue as well.
We upgraded two clusters in prod over the weekend from 1.15 to 1.16 using `kops-1.16.1` and our monitoring systems started throwing sporadic alerts about a large amount of nodes failing `kubelet` healthchecks. We haven't been able to triage it down yet, but seeing this issue make me worry that it _could_ be a problem with the image. We're also us

[2020-04-28 14:35] MoShitrit commented on #8995
@mprzygrodzki we're suspecting Docker to be the culprit.
I was suggested to try and set it manually to `19.03.4` through `cluster.spec`
(add this field to `spec`):
[code]
Can you try that on your end as well to see if it helps?

[2020-04-28 16:16] olemarkus commented on #8817
Can you have a look at the linked PR and see if this works for you?

[2020-04-28 18:55] rifelpet commented on #9012
aws-sdk-go v1.30.16 also includes eu-south-1 which was announced today, so we should upgrade to that and add support for both new regions.

[2020-04-28 18:56] MoShitrit commented on #9012
Will do @rifelpet !

[2020-04-28 20:31] mprzygrodzki commented on #8995
@MoShitrit thank for the tip, i will check it for sure but have to get some maintenance window to perform this action.

[2020-04-28 21:03] schollii commented on #8817
- [ ] - How do I test this, do I just `kops edit cluster`, do I `kops delete ig` d and e

[2020-04-28 21:22] lgg42 commented on #7737
I think this could be a nice addition. We could make use of it.

[2020-04-28 21:35] glesperance commented on #7052
Has this been released? I'm still getting old terraform files generated with kops v16.1.

I'm using this command to generate the news files:

[code]

[2020-04-29 07:23] olemarkus commented on #8817
If you can build a kops client from that PR and just do this how you expect to do this, it would be good. You can ping me on slack if you need any direct assistance. Hopefully the validation logic should guide you.

I'll stress again that when it comes to deleting master IGs you need to take care yourself not to break quorum (i.e you can only delete less than half of the master IGs at the same tim

[2020-04-29 08:25] tomesm commented on #8809
Hi @gjtempleton I have made the changes in my local repo. But I am getting errors when run `make verify `:

[code]

This error tells me nothing in detail about an error. I have run make crds and files got generated but no hint about why the error happened. Are there any log files hidden? I dunno how to debug this.

Also make test produces FAIL test on on terraform and cloudformation (this is becau

[2020-04-29 11:58] #9012 closed

[2020-04-29 11:59] rifelpet commented on #8809
Try running ./hack/update-expected.sh this will regenerate the expected outputs for many of the tests now that a new field has been added. And yea feel free to open a PR and we can address anything else that needs to happen :)

[2020-04-29 13:24] juris opened #9025 "API downtime during masters update"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]
**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]
**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest way

[2020-04-29 13:53] niconavarrete commented on #6603
moving .pub file to  ~ instead of ~.ssh/  and kops finds the file but it fails to find .kube/config ... so i may assumes it's some kind of other problem not related to kops (maybe snap or whatever)

[2020-04-29 14:32] timothyclarke commented on #7741
/remove-lifecycle stale

[2020-04-29 14:46] juris commented on #8296
Kops 1.16.1. Issue is still in place:
[code]

[2020-04-29 15:06] wknapik commented on #2428
/remove-lifecycle stale

[2020-04-29 15:57] juris commented on #8771
Looks like it is related. After adding and removing some nodes to/from the cluster, here's what I'm seeing in dns-controller logs
[code]

10.113.44.109 - IP address of the long gone node.

I've been experiencing issues with gossip and removed hosts for while #8296

[2020-04-29 16:14] mprzygrodzki commented on #8995
@MoShitrit unfortunatelly updating docker doesn't helped. Still pods related to networking are being randomly restarted. I've made also some more investigation, create new cluster with 1 master and 2 worker nodes from scratch on the older image with kubernetes 1.15.10 image - then performed kops upgrade and everything was working as expected, didnt seen any restarts or node disconnected status.. v

[2020-04-29 16:48] rocktavious commented on #5767
+1

[2020-04-30 09:00] ysaakpr commented on #9000
Are there any chance this to be backported to 1.14, or 1.16 since most of the userbase is still not moved out from kops 1.12

[2020-04-30 10:54] kzap commented on #8954
@alok87 I believe there are blockers for using Debian Buster with k8s < 1.17
https://github.com/kubernetes/kops/issues/8224

[2020-04-30 11:51] olemarkus commented on #8954
if you are fine with some minimal nftable mixed with legacy iptables _and_ all your pods supports nftables, Buster will work.
Kops may look into defaulting to Ubuntu 20.04 over Buster because of this though.

[2020-04-30 12:16] hakman commented on #8954
One good news is that Ubuntu 20.04 support will be available in Kops 1.16.2:
https://github.com/kubernetes/kops/commit/19386520fcec0f6ea775d7570c47062b6823cb0a

[2020-04-30 16:41] ysaakpr commented on #9000
It's my bad, I meant to say the Kubernetes version, not the kops version. And yeah, as you said i can anyways use kops 1.17 to manage k8s 1.14

[2020-04-30 18:20] MoShitrit commented on #8995
Thanks for the update @mprzygrodzki
So after all, seems like it's not the same issue we're having.
For us it ended up being datadog agent throwing false alarms about kubelet failing healthcheck while they're being scaled down by cluster-autoscaler.
Curious, when you grab the logs from one of these crashing pods (i.e. `calico-node-l5vsh`) - does it show anything useful?

[2020-04-30 18:35] cten opened #9031 "Add ability to set encryption flags for Cilium"
When using the CNI for Cilium my team would like to enable the ipsec settings for pod-to-pod and node traffic.

[2020-04-30 19:46] MoShitrit commented on #9031
Hey @cten !
From looking at the [cilium-agent command-line switches](https://docs.cilium.io/en/v1.7/cmdref/cilium-agent/), did you mean these two parameters?
[code]

I just want to make sure I have the right idea of what needs to be done here.
Thanks!

[2020-04-30 20:55] robinpercy commented on #8996
hey @knagu any chance you can paste the sanitized output of `echo ${TF_OUTPUT}` ?

[2020-05-01 02:08] MoShitrit commented on #9025
Hey @juris
I have a couple of questions / clarification needed:
1. Regarding the `kops rolling-update` command - did you run all three commands at once? Or did you run the first one, then waited until the validation succeeded and then moved on to the next one? In general, a thing we like to use when we perform a rolling update is to use the `--instance-group-roles master` which would handle all ma

[2020-05-01 05:19] olemarkus commented on #9031
Have a look at https://docs.cilium.io/en/v1.7/gettingstarted/encryption/

See what the helm template is changing when you enable/disable encryption and try to mimic this in kops. Could be you also want to try to manage the encryption key.

[2020-05-01 13:06] ksummersill2 commented on #8607
@mgs4332 Any update as @weisjohn responded would be much appreciated. I am in the same boat as I need some alias created.

[2020-05-01 13:54] #8817 closed

[2020-05-01 13:57] jsonmp-k8 commented on #8470
I too had the similar issue with adding the `additionNetworkCIDRs` and solved it by following the changes @jkbuster suggested and also added the `additionNetworkCIDRs` to the  no proxy list in the egressProxy
[code]

[2020-05-01 14:05] danmx opened #9037 "Allow adding list of security groups in securityGroupOverride"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

I'm able to pass a list of security groups that will be assigned to nodes.

**2. Feel free to provide a design supporting your feature request.**

Switching type of `securityGroupOverride` from `string` to `[]string`, not omit if empty, if length of the array is non-zero don't apply default security groups, iterate over

[2020-05-01 15:05] olemarkus commented on #8781
Using existing subnet with the kubenet cni is not a good idea since kubenet modifies the subnet route tables directly. Could be that your problems comes from that. If you want to reuse subnets, you definitely want to go for one of the other CNIs.

[2020-05-01 15:11] olemarkus commented on #8296
If I understand https://github.com/prometheus/alertmanager/pull/2019 correctly, it is actually intentional. But maybe @jacksontj can elaborate more on this.

[2020-05-01 15:15] olemarkus commented on #8624
When gossip is used, there is no code that will try to manipulate any hostedzone as many use gossip to avoid having a hostedzone in the first place. It could be a valid configuration, but would require quite a bit of code to be able to update the hostedzone with master IPs even if gossip is enabled.

[2020-05-01 15:37] MoShitrit commented on #9031
Hey @olemarkus, thanks for sharing that, really helpful! 😄
So I assume the idea is to grab the changes from the helm chart as you suggested, then parameterize the [template for Cilium](https://github.com/kubernetes/kops/blob/master/upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12.yaml.template) and add the necessary fields to Cilium spec in [networking.go](https://github.com/kube

[2020-05-01 15:39] olemarkus commented on #9031
Yep. That's about it.

[2020-05-01 15:40] MoShitrit commented on #9031
Cool. I can handle that one!
/assign

[2020-05-01 16:05] nlykkei commented on #8781
But why don’t it work, if kubenet is able to modify the subnet route
tables? Then the routes should work?

Indeed, it worked fine, when using a new subnet.

On Fri, 1 May 2020 at 17.06, Ole Markus With <notifications@github.com>
wrote:

[2020-05-01 16:35] olemarkus commented on #8781
It is hard to say without knowing more details. But ...
* Kubenet has its requirement to how the subnet is configured
* Kubernetes has other requirements, especially wrt tags and such to understand where to put load balancers etc.

Kubenet does anyways not support shared subnets. Nor does it support private subnets, something that I would recommend for a production setup.

[2020-05-01 16:44] nlykkei commented on #8781
In my case, kubenet was deployed to an existing subnet with lots of other
VMs.

Why do you mention that Kubernetes has other requirements? Don’t you mean
kops? Kubenetes by default has no requirements wrt. labels (tags?)

On Fri, 1 May 2020 at 18.35, Ole Markus With <notifications@github.com>
wrote:

[2020-05-01 17:13] olemarkus commented on #8781
tags. E.g the subnet used for ELBs need `kubernetes.io/role/elb`. Kops do need some tags when kops is managing the subnet, but not when you provide it an existing one (although kops will add tags to it too).

[2020-05-01 17:26] alok87 commented on #8954
We reverted from Debian Buster/kernel 4.19 to the kops 4.9 debian stretch. As we were facing a lot of issues in the nodes after upgrading. Here is the slack discussion about it. Process `ksoftirqd-0` started taking a lot of CPU and the node became unroutable.
Does this look like the issue is because of the same issue you have mentioned? @olemarkus @kzap

@hakman Will the Ubuntu20.04 support come f

[2020-05-01 17:30] hakman commented on #8954
@alok87 there is no check for minimum k8s version for Ubuntu 20.04.

[2020-05-01 19:20] weisjohn commented on #8607
@ksummersill2 i haven't had this issue since moving to gossip protocol: https://github.com/kubernetes/kops/blob/master/docs/getting_started/aws.md#configure-dns

[2020-05-01 19:23] ksummersill2 commented on #8607
I am glad you message me so that I can update this. I wrote an article to do this with gossip DNS just like you said. `https://medium.com/@ksummersill/setup-kops-and-calico-within-aws-gov-cloud-using-gossip-dns-cd6ed5cba36c`

[2020-05-01 19:51] alasla commented on #8959
I just had the same thing happen.  Everything ground to a halt because some of the keys/certs on the masters hit their one year timer.  Dumping the pki directories as @rifelpet suggested seems to have done the trick.  Thanks @rifelpet .

[2020-05-01 20:21] ksummersill commented on #8781
I am really curious about this. I am getting timeout (503/504) errors within my API Gateway when i am trying to hit a domain. I know the deployments and services are good. However i did create my cluster with Calico, Gossip DNS, and i did specify a VPC ID. So i how can i troubleshoot this on AWS?

[2020-05-01 20:32] Nuru commented on #8954
@alok87 If the 4.19 kernel has issues, can you use the 4.14 kernel? It has the appropriate kernel patches as of kernel version v4.14.154. I thought it was shipping in Debian Stretch-Backports at some point.

[2020-05-02 08:06] alok87 commented on #8954
Thanks @Nuru
we are waiting for kops 1.16.2 to try out Ubuntu 20.04 in Kubernetes 1.15 with Kernel 5+

[2020-05-02 12:28] rifelpet opened #9040 "Flaky Rolling Update test"
I noticed in an open PR of mine that a rolling update test failed in a GitHub Actions job. I'm not sure if its a timing issue due to the job's limited resources or what.

I don't see a way to view previous builds of a GHA job and the URL to the raw job output uses a short term token that has expired already, so here is the output of the test:

[code]

whenever you get a chance,
/assign @johngmyers

[2020-05-02 16:08] johngmyers commented on #9040
Thanks, I'll take a look.

[2020-05-02 20:11] #7054 closed

[2020-05-03 01:51] MoShitrit commented on #9031
Hey @olemarkus
So I was able to find the differences between the helm-generated templates of with and without the encryption flags, but one thing I'm not sure about is the part of generating the encryption key as described [here](https://docs.cilium.io/en/v1.7/gettingstarted/encryption/#generate-import-the-psk). According to the doc, the secret containing the encryption key should be created _befo

[2020-05-03 03:10] geojaz opened #9048 "Document the state of releases supported on GCE"
Something along the lines of https://github.com/kubernetes/kops/pull/9034
We can probably add some information about how to find the latest images and explain that we're currently working on graduating GCE support to GA (once we get our tests straightened out).

[2020-05-03 03:27] johngmyers commented on #9040
TLDR in the next comment.

Perhaps a very long GC pause? Things went off track around the lines:

[code]
The test expects the following sequence of events:

main thread: start goroutines A and B, calling `drainTerminateAndWait` to terminate node-1e and node-1c.
https://github.com/kubernetes/kops/blob/df7e0b18b62599aa610e1c19bde411fd76e9fdee/pkg/instancegroups/instancegroups.go#L173-L171
Then block

[2020-05-03 03:28] johngmyers commented on #9040
This test is complicated but it found a real bug where the code wasn’t using a labeled break and thus was blocking for all pending terminations to complete before starting any new ones. On the other hand, the sweep block is only useful for concurrency values other than 1 or 100%, which are probably going to be rare.

We can increase the delay in `delayThenWakeValidation`, but that is called 14 tim

[2020-05-03 05:20] #7820 closed

[2020-05-03 05:33] olemarkus commented on #9031
The kops way of doing tis would probably be to use the kops secret store.
Similar to how `weavepassword` works, you would crreate a "ciliumkey" secret or something that is deployed to a well-known path on every node. Instead of mounting a configmap, the cilium template would simply point to this file instead.

The `kubectl create secret` step would be fully replaced by this.

[2020-05-03 09:55] olemarkus commented on #226
I don't think this is directly a kops issue, but we can update the docs to refer to a couple of ways to achieve this.

/reopen

[2020-05-03 09:55] olemarkus commented on #226
/assign

[2020-05-03 12:45] hiteshsp commented on #7052
Looks this isn't fixed yet I see the same old terraform 0.11 files.
Correct me if I am missing something.

[2020-05-03 19:43] deepak1725 opened #9051 "Service Port Unreachable in Gcloud. Locked by firewall."
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.16.1 (git-d1b07f7fd6)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]
**3. What cloud provider are you using?**
`Google Cloud`

**4. What commands d

[2020-05-04 07:46] #7870 closed

[2020-05-04 08:01] olemarkus commented on #8781
If the cluster is fine, this is probably not a kops issue. You should check API gateway logs etc to see what is going on. If something related to kops was the culprit, you'd see general connectivity issues, dns lookup issues etc. Hard to do any kind of debugging here without more knowledge about the cluster, what is running there and how your components are set up.

[2020-05-04 08:04] olemarkus commented on #4877
I just wonder if all of these gossip issues is actually related to #8771

[2020-05-04 08:05] olemarkus commented on #2858
/assign

[2020-05-04 17:25] olemarkus commented on #9025
Could it be the same issue as #8771?

[2020-05-04 19:55] fred-vogt commented on #8992
I'm seeing this with 1.17.0-beta.1, this appears to be a "known issue"
* https://github.com/kubernetes/kops/blob/master/docs/releases/1.17-NOTES.md#known-issues

## local exec
[code]

## aws-iam-authenticator cm
[code]

## api-server logs
[code]

## /etc/kubernetes/authn.config
[code]

[2020-05-04 20:15] diego-lugones opened #9060 ""No more IP addresses available on network", "IpAddressGenerationFailure""
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.16.0 (git-4b0e62b82)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
  "kubernetesVersion": "1.16.9",

**3. What cloud provider are you using?**
Openstack R

[2020-05-04 23:02] nporsche opened #9061 "does anywhere to configure directRouting in flannel"
As described in flannel backends:
https://github.com/coreos/flannel/blob/master/Documentation/backends.md
where I can set DirectRouting to true, which has better performance if in same L2 network?

DirectRouting (Boolean): Enable direct routes (like host-gw) when the hosts are on the same subnet. VXLAN will only be used to encapsulate packets to hosts on different subnets. Defaults to false. Direc

[2020-05-05 01:11] Den3 opened #9062 "Terraform Ouput for ASG not specifying Launch Template when +EnableLaunchTemplates is set"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.16.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

v1.15.6

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simples

[2020-05-05 01:41] Den3 commented on #9062
Nvm. This feature should be out in 1.18.

[2020-05-05 01:41] #9062 closed

[2020-05-05 05:47] zetaab commented on #9060
this is not kops problem, it is problem in your OpenStack. Please contact your OpenStack environment admins and copy paste that error to them

[2020-05-05 07:51] doczico opened #9066 "zsh completion bad math expression error"
Dear awesome team,
Small but annoying issue with zsh completion.
when trying to complete the command kops edit / kops create and probably others
the following error is thrown
[code]

zsh : zsh 5.7.1 (x86_64-ubuntu-linux-gnu) + oh_my_zsh

kops: Version 1.16.1 (git-d1b07f7fd6)

Thank you very much for the work done !
Awesome

[2020-05-05 09:27] ari-becker commented on #8471
/close
fixed in 1.16

[2020-05-05 09:27] #8471 closed

[2020-05-05 12:00] andersosthus opened #9067 "Add support for disable-attach-detach-reconcile-sync flag in kube-controller-manager"
kubernetes/kubernetes#39551 added two flags to control the attach-detach reconcile sync in kube-controller-manager, `attach-detach-reconcile-sync-period` and `disable-attach-detach-reconcile-sync`, but only one of them got added to Kops in #1465.

We currently have the need to set `disable-attach-detach-reconcile-sync`, so I suggest adding `disable-attach-detach-reconcile-sync` as an option alongs

[2020-05-05 12:07] rifelpet commented on #9067
Yes, feel free to open a PR! [heres](https://github.com/kubernetes/kops/pull/8833/files) an example of a similar PR you can use as a reference. Essentially the field is added to `pkg/apis/kops/v1alpha2/componentconfig.go` and `pkg/apis/kops/componentconfig.go` and then you need to run `make apimachinery crds`.

[2020-05-05 12:30] olemarkus commented on #9066
The code around zsh completion is ... interesting. I'll have a look, but it will take a while
/assign

[2020-05-05 13:05] cmanzi commented on #8959
Looks like etcd-manager will now eagerly renew certs that are expiring as of the release last week: https://github.com/kopeio/etcd-manager/releases. Has anyone tested this out with Kops?

Also, for those of us who are not using 10-year CAs and plan on rotating them, has anyone devised a process for doing so non-disruptively? From what I've seen, rotating the CA and issuing new certs creates a prob

[2020-05-05 13:36] diego-lugones commented on #9060
I use kops create cluster   --cloud openstack  ... with  --network-cidr 10.0.0.0/24 as suggested in the Getting Started guide.

With that, kops creates one network 'my.k8s.local' with two subnets

One with 32 hosts, name "nova.my.k8s.local":
--> allocation_pools  | 10.0.0.34-10.0.0.62
-->  cidr              | 10.0.0.32/27

The other  "utility-nova.my.k8s.local":
--> allocation_pools  | 10.0.0.2-10

[2020-05-05 19:32] ari-becker commented on #8959
Short answer: no.

Longer answer: at the end of the day, the master servers are ordinary Linux servers running the various Kubernetes components, and the Kops state store is not encrypted. Nothing prevents the user from operating outside the `kops` command line tool.

But I really don't understand how non-disruptive credential rotation is not a supported workflow. It makes it impossible to recomme

[2020-05-05 20:06] olemarkus commented on #8959
If you have an idea on how to mom-disruptively rotate a CA, I'd be happy to take a look at that.

Kops biggest sin from my side in this regard is that the CA private key is in the state store. That is something I hope to do something about at some point.

[2020-05-05 20:39] cmanzi commented on #8959
I have yet to test this (though I will soon), but theoretically one should be able to:
1. Generate a new CA (we sign our CAs with a common root CA)
2. Use current CA and new CA to cross-sign a new set of Etcd client/server keypairs
3. Replace current cert pairs with cross-signed pairs
4. Deprecate old CA and continue rotation using new CA

This of course depends on Etcd being able to then validate