[2021-03-16 08:25] 7echno commented on #10917
As suggested I removed "gp2 storageclass", and it this 'issue' is gone after update. Still we switched everything to our "custom" storage class just to be safe in future.

[2021-03-16 08:25] #10917 closed

[2021-03-16 10:48] KlavsKlavsen opened #11062 "KOPS wants to change encrypted volume on etcd on running cluster (but does nothing but complain everytime)"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
kops 1.18.3

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.18.15

**3. What cloud provider are you using?**
aws

**4. What commands did you run?  What is the simpl

[2021-03-16 13:05] sp-francisco-manas opened #11063 "Rollback etcd-manager in +1.19"
Due to Go upgrade to 1.15 on `etcd-manager` version `3020210122`, kOps upgrades to 1.19 or newer are breaking (or are not being straightforward) because of this. The first master during a rolling update never joins the etcd clusters.

Until a proper fix is implemented I would opt for rolling back the version kOps uses to `3020201209` or a new one if `etcd-manager` is recompile with Go 1.14.

The c

[2021-03-16 15:35] #11063 closed

[2021-03-16 19:14] olemarkus commented on #11055
I started to dig into what dns-controller actually does.

The node label stuff is all lies! The code around this has been commented out.

You can add _annotations_ to pods, not labels, and it will work as expected (but not documented).

The alias stuff is not related to route53 aliases. dns-controller will create internal records for each node. Then each pod will "alias" to the node it is assigned

[2021-03-16 21:45] guydog28 commented on #11038
I was able to successfully download the package using:

[code]

However I have to run this script manually to get it to work... it doesn't download the file as part of cloud-init. does cloud-init have the rights to write this file at that stage?

[2021-03-17 00:05] KetchupBomb opened #11064 "Protokube Gossip causing network congestion"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

AWS.

**4. What commands did you run?  What is the simples

[2021-03-17 02:13] rifelpet commented on #11014
@gamer22026 can you post your full cluster spec? I'm curious what the `spec.authorization` field contains.

[2021-03-17 03:37] hakman commented on #11038
Try also `mkdir -p /var/cache/nodeup/packages/`. You should have an error in logs for that.
Also, not sure if the gpg key is needed for non-repo rpm.

[2021-03-17 04:41] hakman commented on #11062
Hi @KlavsKlavsen, could you check in the AWS console if those volumes are indeed encrypted or not?

[2021-03-17 05:01] hakman commented on #11008
I think I solved the mystery. When you are doing step 2 you are breaking the ASG settings. It is configured by kOps to use the latest available LT version and you are (most likely) changing it to a fixed one.

[2021-03-17 05:21] cameronattard commented on #11008
Interesting, I'll investigate our tooling to check for this. Thanks!

[2021-03-17 06:35] olemarkus commented on #11064
This is a tricky one ...

The kOps version you are using is somewhat old, and newer versions will have updated e.g mesh libraries.
Trying to reproduce something with 1000+ nodes is also somewhat hard for us maintainers.

There is also https://github.com/kubernetes/kops/issues/7427 which led to https://github.com/kubernetes/kops/pull/7521
The milestone says 1.15, but was actually released in 1.16.

[2021-03-17 07:37] sharoncr1 commented on #8409
@prageethw Thanks.. That worked like charm. Btw, Can you explain a bit on the solution?

[2021-03-17 09:22] KlavsKlavsen commented on #11062
All volumes under the instance is marked as Encrypted in AWs console.

[2021-03-17 09:47] cjheppell commented on #11055
Thanks for looking into this @olemarkus!

I can confirm node port is working for services. That's the current workaround I'm relying on.

It'd still be great to have support at the node level (since this would allow me to only register nodes in instancegroups I care about). Though I'm conscious you said the goal is to replace `dns-contoller` with `external-dns` so I suppose changes to `dns-control

[2021-03-17 09:49] hakman commented on #11062
In this case, I think you have enabled encryption by default or something similar:
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html#encryption-by-default

At the moment kOps doesn't know this and it assumes that you had unencrypted volumes that later transformed into encrypted ones. The only way to fix this is to update the config to match reality.

[2021-03-17 10:16] olemarkus commented on #11055
I think what you want then is to run the pods with hostNetwork true and annotate the pods.

If we were to add all nodes in an IG to a hostname and a pod is not running there, all clients that resolve to nodes without the pod would fail.

Without nodePort service and without hostNetworking, there would be nothing that routed traffic from the node to the pod either. So you need one of these.

[2021-03-17 12:21] KlavsKlavsen commented on #11062
@hakman I tried adding that using kops edit cluster - but that was rejected by kops (as not being changeable later on)

[2021-03-17 12:27] rifelpet commented on #11062
Maybe kops should change where it performs this immutable validation, rather than at the API layer it could ensure the encryption setting isnt changing closer to where it would otherwise call ec2.ModifyVolume.

This would mean the error would only happen if the setting would actually be changed on a volume, during `kops update cluster --yes` rather than during `kops edit cluster` or `kops replace`

[2021-03-17 15:40] cjheppell commented on #11055
But `kube-proxy` would pass that on to the node where the corresponding pod resides, surely?

Also, I think things may be getting a little muddled. Let's imagine we don't have any services and the only thing I care about is having a single `A` record in my route 53 hosted zone with values that point to all the IPs of the nodes.

It'd be nice to annotate a node with something like `dns.alpha.kubern

[2021-03-17 16:20] guydog28 commented on #11038
Ahead of you :). I did get it working with that.  However I did need the gpg key for the yum install to work, which I also thought to be strange.

[2021-03-17 16:33] hakman commented on #11038
I think RPMs can be signed, remember having to do it for a project a while back.
So, all good now? :)

[2021-03-17 16:35] olemarkus commented on #11055
kube-proxy will not forward any traffic without a nodePort service. Nor will the nodes have any ports open on external-facing interfaces.

[2021-03-17 16:45] cjheppell commented on #11055
Agreed.

But what I'm discussing here has nothing to do with node ports/pods/etc.

The proposal is to support having an annotation on a node such that its IP address will be registered in Route 53.

Services/nodeports/pods/etc are important further down the line once you've actually managed to route traffic to a node. But that's not the point I'm concerned about in this issue.

[2021-03-17 16:53] olemarkus commented on #11055
I am at loss trying to underhand what your usecase for this actually is.

[2021-03-17 17:02] cjheppell commented on #11055
I described this in https://github.com/kubernetes/kops/issues/11055#issuecomment-801186429

But to rephrase:

- I've got an autoscaling instance group
- I'm running some services on those nodes in the instance group
- I have a load balancer sat in front of my nodes
- I want that load balancer to route to the nodes in my instance group (I don't care about routing to a specific node, I just want it

[2021-03-17 17:29] guydog28 commented on #11036
I am going to close this.  I am not experiencing this issue in 1.19.1, using files staged to a local folder with --phase assets.

[2021-03-17 17:29] #11036 closed

[2021-03-17 17:38] cjheppell commented on #11055
One of us must be misunderstanding this (and it's highly likely its me, so apologies to keep this going around).

My intention is _just_ to be able to have a DNS `A` record resolve to a list of IP's associated with nodes in an instance group **by way of an annotation on a node**. Nothing to do with pods, nothing to do with services. **Purely an `A` record in DNS for every node in an instance group

[2021-03-17 17:51] olemarkus commented on #11055
Yeah the readme is definitely false on this. There is no code that supports the functionality described there.

If this is something that it should support... I don't know. Just for the sake of listing instances in the ASG without exposing anything meaningful behind it... Probably not. Using the AWS sdk to list instances seems like a better method for that.

[2021-03-17 18:02] cjheppell commented on #11055
Understood. It's odd for the code to be there but to be commented out. There was obviously a reason for it existing in the first place but I can't trace the reasoning for it being commented out in the git history. (It seems like it was pulled from elsewhere _with the commented out code already_ https://github.com/kubernetes/kops/pull/26/files#diff-aa90dc0963dbbef72270aa0a0a4ad6a33afb3e05f425317841

[2021-03-17 18:02] #11055 closed

[2021-03-17 18:05] KetchupBomb commented on #11064
Agreed on both points that we're running an older version of kops, and that reproducing with such cluster sizes is inaccessible to most. We are in process of upgrading kops to ~1.18, and we have long-term plans to front masters with a VIP, since this is our primary use case of Protokube (rather than paying the cost for Gossip across >1k nodes just for master discovery).

We mainly wanted to formal

[2021-03-17 18:07] guydog28 commented on #11038
I think we have a workable solution,  once I get a fully working cluster I think I'll document everything I did to get it working as a PR for offline environments.

[2021-03-17 18:28] hakman commented on #11038
That would really nice. Thanks! :)

[2021-03-18 03:50] hakman commented on #11021
Ref: #9990 #10105
/cc @justinsb

[2021-03-18 11:11] adeelahmadch commented on #9264
I ran into this issue and after trying different approaches I can say the safest way in case you lost **etcd main** or **etcd events** data is to restore it via [etcd-manager-ctl](https://github.com/kopeio/etcd-manager). In my case I restore the most recent backup to fix the issue. You can run these command from anywhere as long as you have access to s3 bucket used by kops.

[code]

You can also r

[2021-03-18 13:50] rifelpet commented on #11050
Ideas from office hours:

* Convert etcd-manager-ctl to a systemd unit
* Add a kube-apiserver initContainer that waits for etcd to be healthy (retrying more aggressively than standard crash loop backoffs)
* Have protokube apply channels immediately after adding node labels, rather than waiting for the next cycle 1 minute later

[2021-03-18 18:22] vadivkanag opened #11068 "no way for kops to use aws sso creds to authenticate cross account s3 state bucket"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`kops-1.18.3`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

`v1.17.11`

**3. What cloud provider are you using?**

`aws`

**4. What commands did you run?  What is

[2021-03-19 11:36] dgamanenko opened #11072 "KopsControllerConfig: NoSuchEntity Instance Profile"
[code]

[code]

 cloud provider: AWS

command: kops update cluster

When trying to create an instance with a unique own profile, the following problem occurs

[code]

[code]

[code]

After adding the instance profile manually (directly in kubernetes.tf) this  step was done
[code]
[code]

kops successfully generated required resources
[code]

After that new ig can't not join the cluster
[code]

The

[2021-03-19 13:57] olemarkus commented on #11050
I don't quite get why labels and channels aren't applied at the same time. This already should happen in the same iteration.

[2021-03-19 14:01] mwocka commented on #5299
/reopen

[2021-03-19 14:05] mwocka commented on #5299
@hakman could you take a look on this issue. It could be easy to fix.

[2021-03-19 18:40] guydog28 opened #11074 "kOps does not respect non-standard AWS region ARNs in generated policies"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.19.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.19.8

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest

[2021-03-20 03:22] suneeta-mall opened #11079 "Should a kops-based host be configured to disable overcommitting virtual memory?"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

I recently encountered a peculiar OOMKill issue on my pods that I have documented here https://suneeta-mall.github.io/2021/03/14/wth-who-killed-my-pod.html. It's a long read so I will summarize the issue here briefly here.

My pods started to get OOMKilled with 137 error code. There was no trace of Kubelet doing the kill

[2021-03-20 07:29] ReillyTevera commented on #10908
@liranp Were you ever able to figure out the best way to resolve this? Is deleting the lines I mentioned the best way? If so I'm more than happy to open a PR.

[2021-03-20 10:11] h3poteto commented on #11072
Refs: https://github.com/kubernetes/kops/pull/10728

Now IAM Profile must exist on AWS before `kops update` command when user specify IAM Profile. Because kops gets associated IAM Role from specified IAM Profile in update tasks.

Thinking about terraform, should the process of getting IAM Role be executed in kops-controller?
What do you think about this? @rifelpet @johngmyers

[2021-03-21 00:49] johngmyers commented on #11072
If a custom profile is specified in the IG spec, don't that profile and role need to have been previously created external to kops? What is the ownership model here?

Does this work with direct render? Perhaps this is a case of kops having to cache information rather than expect it to have been rendered?

[2021-03-21 07:12] olemarkus commented on #11068
Are you able to access the s3 bucket through AWS CLI?

[2021-03-21 07:18] olemarkus commented on #11064
I'd try to upgrade to 1.16+ and see if the alternative mesh implementation improves things.

How do you plan on implementing VIP for the masters on AWS?

Worth to mention that in upcoming versions of kops there are several other important domains used for scaling the control plane, such as dedicated API server nodes and etcd. This is especially useful for scaling larger clusters.

[2021-03-21 07:58] h3poteto commented on #11072
Yes, the profile and role must be created.

I think that it has the same problem even if direct render. However, we often create IAM Role and IAM Profile before kops command when using direct render, so it wasn't a problem.

[2021-03-21 09:09] vadivkanag commented on #11068
Thanks for the reply. So we have named profiles in our aws/config and both works just fine via aws cli.
our ~/.aws/credentials be like
[development]
....aws secrets...
[dev_kops_state_store]
....aws secrets...

I also set this env variable `AWS_PROFILE=development` so kOps know which aws creds to use and interact with the cluster. I think this works fine.

Now the issue is how can we let kOps know

[2021-03-21 10:10] olemarkus commented on #11068
This is probably related to kops not properly picking up `~/.aws/credentials`. Our assumption is that we can just rely on the AWS SDK to do the right thing, but based on #8481 that doesn't seem to be the case.

If you are able to, it would be nice if you can figure out what happens here.

If not, I will have access to an AWS organisation with SSO enabled in a few months, so I can take a look at th

[2021-03-21 16:14] rifelpet commented on #11050
@olemarkus pointed out another delay in slack, between the DNS record existing and nodes joining the cluster.

Using [this](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kops/11093/pull-kops-e2e-kubernetes-aws/1373648269804048384/artifacts/ip-172-20-49-145.ap-northeast-1.compute.internal/journal.log) node's journal log as an example.

* [14:56:37](https://storage.googleapis.com/ku

[2021-03-21 16:19] lichuan0620 commented on #10842
fixed in #10843
/close

[2021-03-21 16:19] #10842 closed

[2021-03-21 16:48] olemarkus commented on #11050
Wonder if we should just fail the task if dns resolved to the placeholder ip

[2021-03-22 04:01] rifelpet commented on #9640
/remove-lifecycle stale

I reviewed the condition keys available for API actions [here](https://docs.aws.amazon.com/service-authorization/latest/reference/list_amazonec2.html) and there is much better coverage of resource tags for EC2. I think it would be feasible to create a locked down IAM policy that has per-cluster permissions for the kops CLI and add it to the getting started documentation.

[2021-03-22 07:49] hakman commented on #11008
Any conclusion @cameronattard ?

[2021-03-22 11:20] HenningCash opened #11113 "nodeup creates invalid systemd config file"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.21.0-alpha.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

**3. What cloud provider are you using?**
openstack + minio for testing

**4. What commands did you r

[2021-03-22 12:07] hakman commented on #11113
Thanks for reporting this @HenningCash.

[2021-03-22 20:32] chodges15 opened #11115 "Cluster Creation Fails Due to etcd Volume Mounting Error"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.19.1
**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

**3. What cloud provider are you using?**
Openstack
**4. What commands did you run?  What is the simplest way t

[2021-03-22 22:01] chodges15 commented on #11115
I found the problem was due to the image I was using being configured for an IDE bus, which does not allow for the hot attach of etcd volumes that Kops wants to do. Doing a quick edit of the image properties solved my issue: `glance image-update --property hw_disk_bus=virtio --property hw_vif_model=virtio <uuid_of_image>`.

My issue is more with documentation. There should be something to state wh

[2021-03-23 10:58] tomekit opened #11116 "Kops can't create same name cluster even if VPC is different due to RouteTable/Subnet clash"
I am creating new cluster, in a different AWS VPC, however I am using same cluster configuration details, including name.
It seems that `kops` doesn't care if different VPC is used and instead of creating new `RouteTable` and `Subnet`, it finds existing `RouteTable` and `Subnet` by name, instead of by name and VPC (together) as a filter.

Because of that issue, I will proably change cluster name o

[2021-03-23 11:07] luarx commented on #10786
This is a critical bug because I lost access to my cluster. After removing manually those duplicated values I could access again.

[2021-03-23 12:11] #11113 closed

[2021-03-23 14:00] jurriaanpro opened #11117 "cluster-autoscaler addon: allow specifying scaleDownDelayAfterAdd parameter"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
After the upgrade to kOps 1.19 we’ve switched over to the cluster-autoscaler addon instead of the Helm chart, however we currently have a need to adjust the `scale-down-delay-after-add` parameter, but the configuration options for the addon don’t allow that.

I'd like to see the possibility to change this (and possibly ot

[2021-03-23 14:05] olemarkus commented on #11117
A PR for this would be most welcomed.

/milestone v1.21

[2021-03-23 14:45] taragurung commented on #4548
I am having same issue when trying to update from public to internal for loadbalancer during kops update .

[2021-03-23 14:53] olemarkus commented on #4548
Hi @taragurung can you post a new issue with the details requested in the issue template?

[2021-03-23 16:32] guydog28 commented on #11074
submitted PR https://github.com/kubernetes/kops/pull/11119

[2021-03-23 16:54] alen-z commented on #2990
Issue still persists. Great feature, but not usable at the moment.

[2021-03-23 16:55] alen-z commented on #2990
/reopen

[2021-03-23 17:04] erdii commented on #4032
https://github.com/kubernetes/kops/pull/10934

[2021-03-23 17:38] michaelajr commented on #11021
I confirmed this just now as well. Seems to be a result of `--create-kube-config` defaulting to `true`. It will result in a user-less config being written.

[2021-03-23 17:40] KetchupBomb commented on #11064
Yep, we're planning on going to 1.18. Optimistically, this will fix the Gossip issues, but even if it doesn't we're re-thinking our master-discovery mechanism.

Still evaluating options, and I'm ramping up on Kops, but I'm interested in chasing the following options, roughly in order:

1. Layer 7 or layer 4 ELB in front of auto-scaling groups which enforce master instance counts.
2. A DNS solution

[2021-03-23 17:45] hakman commented on #11021
Thanks for the patience. We discussed about this and @justinsb will look into it soon.

[2021-03-23 18:12] voiser opened #11122 "nodeLabels not applied after upgrading to kops 1.18.3 (k8s 1.18.17)"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest

[2021-03-23 19:21] rifelpet commented on #2990
/remove-lifecycle rotten

[2021-03-24 06:54] aneeshpanoli commented on #1449
I can confirm that I was able to get past `Please enter Username:` using `1.19.9`
[code]

[2021-03-24 09:47] olemarkus commented on #11064
Thanks.

Layer 7 load balancing is a bit tricky because of TLS,
Layer 4 LB or DNS is what kOps uses if you don't use gossip.

[2021-03-24 10:24] #11014 closed

[2021-03-24 10:58] JanSurft commented on #10941
Is there any workaround other than downgrading the go version on my system?

[2021-03-24 14:18] olemarkus commented on #10941
Master branch should not be bult with 1.16.

Note that it is possible to have multliple versions of go installed.

[2021-03-24 14:52] olemarkus commented on #10941
I think I will close this one.

And for those who want, anyone in need of assistance  to build kOps is welcome to ask for help in #kops-dev in the kubernetes slack.

[2021-03-24 14:52] #10941 closed

[2021-03-24 17:46] guydog28 commented on #11074
@hakman this is resolved by https://github.com/kubernetes/kops/pull/11119

[2021-03-24 19:33] #11074 closed

[2021-03-25 12:45] #9956 closed

[2021-03-25 12:45] #8957 closed

[2021-03-25 12:57] #11117 closed

[2021-03-25 19:07] Nyefan opened #11144 "AWS_VPC_K8S_CNI_RANDOMIZESNAT environment variable for `spec.networking.amazonvpc` resets to `prng` on every upgrade"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.19.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.18.12

**3. What cloud provider are you using?**

aws

**4. What commands did you run?  What is the simples

[2021-03-25 19:58] olemarkus commented on #10317
/remove-lifecycle rotten

/kind feature

[2021-03-25 19:59] olemarkus commented on #10317
This is a great suggestion. I could imagine using this to prebake images.

I would certainly review a PR on this.

[2021-03-25 22:13] yspro commented on #10941
It doesn't work for `go version go1.15.10 darwin/amd64`

[2021-03-26 02:29] cameronattard commented on #11008
Sorry for the delayed response @hakman - I think that was indeed the problem. Thanks again for your help on this.

[2021-03-26 02:29] #11008 closed

[2021-03-26 08:18] olemarkus commented on #10941
As mentioned above, the master branch requires golang 1.16

[2021-03-26 09:32] lukehinds opened #11145 "Domain registrable leading to DNS based attacks"
Hello, we received a security report that the domains within https://github.com/kubernetes/kops/blob/master/docs/getting_started/aws.md can be registered which could lead to someone performing various attacks. Granted, the user should not run these, but they may well do so at put themselves at risk.

Original report

While researching the kubernetes documentation, I found that the KOPS project's R

[2021-03-26 10:06] #10116 closed

[2021-03-26 16:38] yspro commented on #10941
It was mentioned that:

🤷‍♂️
And yes, I tried 1.16 as well, no luck

[2021-03-26 17:22] Olegone23 opened #11148 "gp3 volume kops 1.18.1"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.18.1
**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.17.13
**3. What cloud provider are you using?**
AWS
**4. What commands did you run?  What is the simplest way

[2021-03-26 18:12] hakman commented on #11148
Unfortunately, this is not possible. There is no plan for another patch release for 1.18. You would have to move to 1.19.x to get this working.

[2021-03-26 22:07] justinsb commented on #11021
Sorry about the behaviour here - we're trying to balance setting the current context so that you don't have to specify it every time (the UX) while also being more secure about not always exporting admin credentials.

There is a flag `--internal` BTW which should export the cluster's internal name - does that option mean you don't have to edit the kubeconfig file manually @MMeent?

I'm am looking

[2021-03-27 19:39] #10085 closed

[2021-03-28 04:50] tobernguyen commented on #8714
/remove-lifecycle stale

[2021-03-28 17:51] olemarkus commented on #10941
Ah. My mistake. `master` _should_ be built with 1.16.

If you cannot build with 1.16 _and_ you are sure that you have checked out the repos in `GOPATH`, I suggest reaching out to the slack channel mentioned above.

[2021-03-28 17:59] nckturner opened #11158 "Determine installation process for kubelet image credential provider"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
The built in cloud-specific credential providers (k/k/pkg/credentialprovider) are being removed from upstream, so the external credential providers will need to be added to worker node machine images.  The code for the external ECR credential provider is [here](https://github.com/kubernetes/cloud-provider-aws/tree/master/

[2021-03-28 18:18] olemarkus commented on #11158
At the moment, the commonly used node image is vanilla ubuntu server image. We also support a number of other distros where users would expect this to work out of the box.

The easiest is probably to have nodeup download the binary as a regular asset. nodeup would have configure kubelet anyway.

[2021-03-28 21:14] MoShitrit commented on #11144
That's probably because the AWS CNI daemonset version gets upgraded between version, which forces the manifest to get re-applied.
In order to work around that- I think the only option is to make that field configurable via the cluster spec.
I can work on that one.
We would probably keep `prng` as the default value, but can be overridden to any of the possible values taken from the official docs (h

[2021-03-28 21:26] nckturner commented on #11158
Got it, that makes sense.

[2021-03-28 21:34] Nyefan commented on #11144
Seeing as the daemonset `spec.template.spec.containers[].env[]` uses the patch merge key `name`, would it make sense to just follow that behavior by merging the `spec.networking.amazonvpc.env[]` array into the `aws-node.yaml` in the correct direction before `kubectl apply`ing it?  It seems that this is already done, but with the `aws-node.yaml` template taking priority where there are collisions r

[2021-03-29 03:10] #6788 closed

[2021-03-29 03:34] MoShitrit commented on #11144
Yeah, I think you're right.
In that case- since this config key (`AWS_VPC_K8S_CNI_RANDOMIZESNAT`) isn't required and already has an assigned value anyway, it _might_ make sense to simply remove it from the template. However- this also means that we would deviate from the [vendor's version](https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/release-1.7/config/v1.7/aws-k8s-cni.yaml) that _does

[2021-03-29 08:59] denisgranha commented on #10786
will this be fixed in a hotfix (1.18.x) or should we expect it only for >1.19 versions?

[2021-03-29 09:24] olemarkus commented on #10786
Unlikely we will do another release of 1.18, so expect this only for the versions this has already been merged into.

[2021-03-29 18:55] olemarkus commented on #11068
Can you try to run `export AWS_SDK_LOAD_CONFIG=1` and re-run the `kops` commands?

[2021-03-29 18:55] olemarkus commented on #8481
Can you try to run `export AWS_SDK_LOAD_CONFIG=1` and re-run the `kops` commands?

[2021-03-30 14:20] timothyclarke commented on #11116
This is intended after cashes were encountered with what you are describing

The root cause is that you're trying to have 2 DNS domains / zones with different info. eg `cluster.example.com`.
If `cluster.example.com` is a public domain then you can only have one cluster. If `cluster.example.com` is an internal zone then you can only have one per AWS account.
In short if you want another cluster giv

[2021-03-30 14:27] timothyclarke commented on #10997
IIRC that was something to be introduced in 1.21

[2021-03-30 16:47] #6727 closed

[2021-03-30 17:24] tomekit commented on #11116
Thanks for clarification, in which case I am closing this issue.

[2021-03-30 17:24] #11116 closed

[2021-03-30 20:18] Deepak1100 commented on #8432
we also needed ipv6 support for external load balancer on AWS. as its requirement for many compliances.
we used kops managed AWS VPC so we cannot just enable ipv6 on AWS vpc else kops terraform code will block.

that said, I will try to add it in kops for AWS, terraform this week.
but terraform AWS only support `assign_generated_ipv6_cidr_block` so we will not know the ipv6 series in advance but w

[2021-03-30 20:23] aojea commented on #8432
dual stack is beta in 1.22, maybe is a better intermediate step.
I have deployed it with kubeadm and cloudformation, https://github.com/aojea/k8s-aws-ipv6#creating-the-cluster-with-kubeadm just  FYI, I don't know if that can help

[2021-03-31 04:17] hakman commented on #8432
Nice. Thanks for the tip @aojea.

[2021-03-31 09:44] hugoboos opened #11162 "Protokube gossip DNS seeds not filtered on cluster name"
The protokube gossip DNS will use all the VMs beloning to a kOPS cluster, even if those VMs are from a different cluster.
There is no filtering on the name of the cluster.

This results in `No route to host` errors, because the 2 clusters are in a different OpenStack network.

I've not encountered problems with resolving DNS or anything like that. Only the logs flooding with connection errors to o

[2021-03-31 16:33] olemarkus commented on #11162
Thanks for this. A PR would be much appreciated.

/cc @zetaab

[2021-03-31 18:03] zetaab commented on #11162
Please do the pr, looks valid issue. We are not hitting this because we use one cluster per openstack project

[2021-04-01 05:52] olemarkus commented on #9854
/remove-lifecycle rotten
/close

[2021-04-01 05:52] #9854 closed

[2021-04-01 11:25] hugoboos commented on #11162
I'm having problems siging the CLA. I rather not disclose my personal information, address etc.

[2021-04-01 16:33] #10146 closed

[2021-04-02 13:51] tomekit commented on #8983
I would love to try out kops on Hetzner Cloud. Is this something in progress or ditched?

[2021-04-02 20:51] amorey commented on #10774
Kubernetes bug report for reference https://github.com/kubernetes/kubernetes/issues/100779

[2021-04-03 08:46] olemarkus commented on #11162
The CLA is a requirement from the kubernetes organisation. There isn't any way around that, I'm afraid.

[2021-04-03 19:22] #10165 closed

[2021-04-03 20:23] #7764 closed

[2021-04-04 03:43] hakman commented on #9763
/remove-lifecycle rotten

[2021-04-04 16:41] justinsb commented on #11021
I was curious if maybe we had a bug with `--internal`; I didn't observe one.  It might still not match user expectation (?), but it wasn't self-evidently broken:

[code]

I checked and it seemed to work with `kops export kubecfg --internal` also.

[2021-04-05 04:55] #9887 closed

[2021-04-06 08:00] kciredor commented on #11162
Could perhaps one of you with a signed CLA re-create @hugoboos PR? It's a minor change with major outcome ;-)

[2021-04-07 16:37] wknapik commented on #8911
/remove-lifecycle rotten

[2021-04-07 18:15] agilgur5 commented on #6150
#10022 should also enable fixing 1.2.6 / 1.1.21: `Ensure that the --kubelet-certificate-authority argument is set as appropriate (Scored)`.

It's not set by default by k8s and doesn't seem to be set [by kOps by default](https://github.com/olemarkus/kops/blob/5f10b87be6fc25062f8a7ffc35d6825a6cfd6d81/nodeup/pkg/model/kube_apiserver.go) either, but could be set now due to #10022 .

I _think_ one can

[2021-04-07 19:05] olemarkus commented on #8911
I cannot reproduce this one.
[code]

[2021-04-07 19:44] wknapik commented on #8911
@olemarkus I removed the label based on the [previous comment](https://github.com/kubernetes/kops/issues/8911#issuecomment-792722861). Can't verify this myself atm. If you think this is resolved, feel free to close the issue.

[2021-04-07 21:58] sagarkal commented on #11012
@rifelpet Thanks, turned out that my cluster creation job was using kops 1.19.1, but my cluster deletion was still using kops 1.16
Sorry for the delayed response!

[2021-04-07 23:11] #11012 closed

[2021-04-08 07:24] olemarkus commented on #10717
Thanks for confirming.

/close

[2021-04-08 07:24] #10717 closed

[2021-04-08 07:25] olemarkus commented on #10719
Thanks :)
/close

[2021-04-08 07:25] #10719 closed

[2021-04-08 15:16] MMeent commented on #11021
Hmm, yes, using `--internal` works. I didn't know that this option existed in this manner. I probably noticed it, but thought that it would be a version of the `--internal` flag of `create cluster` or something like that.

But, regardless, the behaviour of overwriting existing cluster configurations is still unexpected, and I'd like it if it didn't do that unless explicitly asked to do that.

[2021-04-08 21:32] mat285 opened #11187 "Error listing Route53 Zones when deleting cluster"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

v1.19.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.15", GitCommit:"2adc8d7091e89b6e3ca8d0

[2021-04-09 09:55] justinsb commented on #11021
@MMeent thanks for confirming.  We do want to export the kubecfg when we're first creating the cluster; we do also want to export it if the endpoint has changed (e.g. if the cluster switches from DNS to a load balancer, although I'm not sure this is actually something that can be done!).

We do have the `--create-kube-config=false` flag.  (And it's a bit of a hack, but you could always set `KUBECO

[2021-04-09 13:27] mat285 commented on #11187
Unrelated to Kops

[2021-04-09 13:27] #11187 closed

[2021-04-09 15:36] #9888 closed

[2021-04-09 16:16] johngmyers commented on #10777
Per office hours, will block 1.21

[2021-04-10 15:00] iamanv opened #11197 "Memory resource requests aren't picked up kops"
I have a use case wherein I am trying to update the resource requests of `kube-apiserver` for a k8s cluster on aws using kops. I tried applying the changes by running `kops_update` with the config changes as follows:

[code]

Nodes have sufficient memory and cpu to be allocated for the resource requests.

[code]
Why isn't the memory change detected as a change to be made to the cluster? Also, a si

[2021-04-10 15:37] hakman commented on #11197
Hi @iamanv. I can just deduce that you are not using kOps 1.19+, which is when this setting was added: https://github.com/kubernetes/kops/pull/10306.

[2021-04-10 16:32] iamanv commented on #11197
@hakman Thanks for replying. A quick version check reveals that the kops version is 1.19.1
![image](https://user-images.githubusercontent.com/73945184/114277327-58055780-9a48-11eb-8401-5e96566ba84d.png)

[2021-04-10 16:42] h3poteto commented on #11062
I can reproduce it in master (git-e465d57d81).
Maybe we can not update clusters which are created by kops without `encryptedVolume` parameter when EBS default encryption is enabled.

I will take this issue.

/assign

[2021-04-10 17:59] hakman commented on #11197
I tried to reproduce this and my result is different somehow. Please also note that kOps 1.19 uses launch templates instead of launch configs, so maybe it helps tracking the issue.
[code]

[2021-04-10 21:40] davidbnk opened #11199 "Ability to run CoreDNS on master node"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Ability to run CoreDNS on master node

**2. Feel free to provide a design supporting your feature request.**

Maybe by allowing the user to provide the Deployment specification

[2021-04-10 23:01] rifelpet commented on #10506
/remove-lifecycle stale

[2021-04-11 02:51] alex88 commented on #10974
I have the same issue upgrading a cluster to 1.19, I did found this instead https://github.com/projectcalico/calico/issues/4237 however I'm not sure how I can apply that

[2021-04-11 03:39] hakman commented on #10974
This should be fixed in kOps 1.20 that was just released and will be also fixed in next kOps 1.19.x in the near future.
Thanks for pointing me in the right direction @alex88.

[2021-04-11 03:48] alex88 commented on #10974
Oh my bad it seems brew still has 1.19 and I didn't check if there was an updated one,  I'll redo an update with the updated one to not leave any custom files behind.
Thanks @hakman that was quick!

[2021-04-11 07:22] #10974 closed

[2021-04-11 09:23] jmhostalet opened #11205 "Kops create multiple igs for nodes instead of just one (one per AZ in AWS)"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.19.1 (git-8589b4d157a9cb05c54e320c77b0724c4dd094b2)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Client Version: version.Info{Major:"1", Minor:"20", Gi

[2021-04-11 12:20] #10224 closed

[2021-04-11 12:58] aramhakobyan commented on #8823
+

[2021-04-11 17:11] bharath-123 commented on #11199
Why would you want to do this? What are the advantages of running coredns on a master node vs any other node?

[2021-04-11 18:02] johngmyers opened #11209 "e2e tests running against old version of nodeup"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

CI build

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Whatever k8s version the e2e test runs

**3. What cloud provider are you using?**

AWS

**4. What commands

[2021-04-11 18:03] johngmyers commented on #11209
@rifelpet

[2021-04-11 18:52] davidbnk commented on #11199
It would help to reduce the number of instances/costs on my testing environment on the cloud

[2021-04-11 19:38] #11209 closed

[2021-04-12 07:26] iamanv commented on #11197
@hakman What steps did you have to take to see the memory change? Would be helpful. Also, I noticed there was no launch template defined for creating instances in my case. It should be a good starting point though.

[2021-04-12 07:46] hakman commented on #11197
I could say the same about creating the issue without using the template :).
Steps:
1. Create simple cluster using kOps 1.19.1 and k8s 1.17
2. Update the config with:
[code]
3. Run `kops update cluster`

[2021-04-12 10:10] iamanv commented on #11197
I figured out that for provisioning one of my clusters(the one which didn't detect the change) had to do with the version. It was making use of some docker image that used kops v1.17.2 as a base image. After the upgrade, it worked fine. Thanks @ahakman for quick responses and suggestions. Will mark the issue as CLOSED

[2021-04-12 10:10] #11197 closed

[2021-04-12 10:15] xpepermint opened #11211 "Fresh cluster shows apiserver client certificate expiring, kube controller-manager and scheduler down"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`1.20`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

`AWS / EC2`

**4. What commands did you run?  What is the

[2021-04-12 10:25] olemarkus commented on #11211
Can you verify the actual certs written to the control plane nodes? The lifetime of client certs are roughly 450 days +/- some skew.

[2021-04-12 10:39] hakman commented on #11205
@jmhostalet I think this works as expected at the moment, but docs were not updated. Please see: https://github.com/kubernetes/kops/issues/8152.

[2021-04-12 10:41] xpepermint commented on #11211
I can confirm `etcd-ca.crt`, `etcd-client.crt` and `etcd-client.key` files are inside the `/etc/kubernetes/pki/kube-apiserver/` folder on `master`.

[2021-04-12 10:46] xpepermint commented on #11211
I hope I'm looking at the correct files. It looks like the certificates are valid:
[code]

[2021-04-12 11:51] olemarkus commented on #11211
The certs you are looking for are in `/srv/kubernetes/`

Those that you checked are important as well, but used by etcd, not the cluster itself.

[2021-04-12 14:19] xpepermint commented on #11211
I verified all the certificates in the `/srv/kubernetes/` folder and all certificates are valid.

[2021-04-12 14:33] JD557 opened #11214 "v1.19.1 SHA sum has changed"
Issue similar to: #8973

Downloading kops from https://github.com/kubernetes/kops/archive/v1.19.1.tar.gz is returning a file with the shasum `046e5a88eb07b29538baa6f3913c13b0449a9c88e8c80631ad27fb22e33cf8b6`

According to https://github.com/Homebrew/homebrew-core/blob/ecd9108516d6ae41a42ca3ebc880378c19f3b9e8/Formula/kops.rb, that shasum was previously `c7b1c362712d75119e25e4ec06dc44ddc810808c0ae3e

[2021-04-12 21:27] yurrriq opened #11217 "ChannelRecommendedKopsKubernetesVersion in 1.20.0 does not work as expected"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Irrelevant.

**3. What cloud provider are you using?**

AWS (but also, irrelevant)

**4. What commands did yo

[2021-04-13 04:55] hakman commented on #11217
Thanks for reporting this @yurrriq, was fairly easy to fix with the steps you provided.

[2021-04-13 05:00] #11205 closed

[2021-04-13 06:19] #11217 closed

[2021-04-13 07:45] KlavsKlavsen opened #11224 "Missing client certificate information: kubeadm certs check-expiration"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
kops 1.19.3

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.19.9

**3. What cloud provider are you using?**
aws

I have an alert on the api-server metric apiserver_

[2021-04-13 07:48] olemarkus commented on #11224
Sounds like https://github.com/kubernetes/kops/issues/11211

You can manually check the certs mentioned there. I am pretty certain there is something wrong with these checks.

[2021-04-13 08:14] KlavsKlavsen commented on #11224
its a metric output by api-server.. either metric was misunderstood or api-server is outputting a bad metric ? I'll go verify manually on all nodes, using the openssl command.

[2021-04-13 08:28] KlavsKlavsen commented on #11224
It seems prometheus guys believe the alert to be correct: https://github.com/prometheus-operator/kube-prometheus/issues/1089 (which was created by same author who created #11211 )

I'm trying to find some docs on api-server as this metric is generated by api-server - based on the client certificates that authenticates against it..  found https://github.com/kubernetes/kubernetes/commit/f90bbc3d6bfb

[2021-04-13 08:33] KlavsKlavsen commented on #11224
I have also noiticed that ever since updating to 1.19 - setup by KOPS - our kubectl config goes bad after ~1 day.. which is "fixed" by updating it using: kops export kubecfg --name=mycluster --admin - and I can see that the client cert is indeed a new one every day.
I checked that cert:
        Issuer: CN = kubernetes
        Validity
            Not Before: Apr 11 07:12:42 2021 GMT
            No

[2021-04-13 08:40] hakman commented on #11224
@KlavsKlavsen I think you missed the release notes for 1.19:
https://kops.sigs.k8s.io/releases/1.19-notes/#changes-to-kubernetes-config-export

[2021-04-13 09:02] #10155 closed

[2021-04-13 13:42] xpepermint commented on #11211
Thanks for directions posted [here](https://github.com/prometheus-operator/kube-prometheus/issues/1089#issuecomment-818704368), @paulfantom.

The `kube-prometheus` project has such documentation for [kubeadm](https://github.com/prometheus-operator/kube-prometheus/blob/main/docs/kube-prometheus-on-kubeadm.md#kubeadm-pre-requisites) but not for `kops`. As I can understand, we have to expose `kube-co

[2021-04-13 13:46] behrtam commented on #11062
Many orgs using AWS have a policy in place that will enforce default EBS encryption.

As @KlavsKlavsen mentioned if you try to edit the cluster and set the encryptedVolume it gets rejected: `[spec.etcdClusters[main].etcdMembers[a].encryptedVolume: Forbidden: encryptedVolume cannot be changed, spec.etcdClusters[events].etcdMembers[a].encryptedVolume: Forbidden: encryptedVolume cannot be changed]`

[2021-04-13 14:57] johngmyers commented on #11211
Those certs are issued per node. They will have expiration within seconds of the expiration of the node's apiserver server certificate. Why would you want to monitor them?

[2021-04-13 15:11] xpepermint commented on #11211
@johngmyers cert monitoring could be removed but we already have a workaround for this. The unresolved problems are `kube-controller-manager` and `kube-scheduler` where we need a way to expose them for monitoring. Any suggestions?

[2021-04-13 15:14] johngmyers commented on #11211
That's my question: why would you want to monitor `kube-controller-manager` and `kube-scheduler` separately?

The `--admin=87600h` is pretty dangerous security-wise. That's a pretty long time for an unrevokable user credential.

[2021-04-13 15:19] xpepermint commented on #11211
Do you think it's not needed? We just wanna see if they are up or not. I would ask you to join the discussion [here](https://github.com/prometheus-operator/kube-prometheus/issues/1089#issuecomment-818704368). It would be helpful to hear different opinions.

[2021-04-13 16:55] paulfantom commented on #11211
Just for more context. There are 2 separate issues:
1) Allowing scraping metrics from `kube-controller-manager` and `kube-scheduler`
2) Solving issue with client certificates expiration alerts

The first one is highly recommended to have since scheduler is a core component of kubernetes and monitoring its operations is essential. The second issue is a nice-to-have and we can disable those alerts i

[2021-04-13 17:06] johngmyers commented on #11211
In kOps, you don't rotate those certificates, you rotate the nodes. The new nodes then get newly issued certificates.

[2021-04-13 17:09] hakman commented on #11224
More details in case someone gets to this discussion someday:
https://github.com/prometheus-operator/kube-prometheus/issues/1089#issuecomment-818854038

[2021-04-13 17:38] bmelbourne commented on #11214
@JD557
I've verified the checksum is indeed incorrect, and it appears that the wrong checksum was applied during this commit.
https://github.com/Homebrew/homebrew-core/commit/9c0491b6848835dca7730b97542cd9c4d1a53d50

Feel feel to raise a PR in the `homecrew-core` project to fix the issue, or bump the kops version to `v1.20.0`.

[2021-04-13 20:27] johngmyers commented on #11224
@KlavsKlavsen I believe the metric to be misunderstood. Per the commit you mention, that measures the remaining lifetime of certificates used to authenticate to apiserver, not of any certificates that are necessarily on the node.

"Fixing" it by making clients use certificates that are valid for 10 years seems to be a bad security tradeoff.

[2021-04-13 23:05] johngmyers commented on #11211
This appears to be an issue with inappropriate alert definitions. See prometheus-operator/kube-prometheus#1089.
/close

[2021-04-13 23:05] #11211 closed

[2021-04-13 23:07] johngmyers commented on #11224
/close

[2021-04-13 23:07] #11224 closed

[2021-04-15 01:40] moonseokho85 commented on #4420
same error occurs to me!! where is solutions?

[2021-04-15 04:31] olemarkus commented on #4420
Can you add some more details? What is the change you are trying to make?

[2021-04-15 09:59] codablock commented on #11068
We had exactly the same problem with our SSO setup. Using `export AWS_SDK_LOAD_CONFIG=1` solved the issue. It's however important to know that access tokens might still expire and then lead to other issues, which kops won't solve (no token refresh?). The solution is to perform a re-login with aws-cli so that you have a fresh access token.

[2021-04-15 17:01] h3poteto commented on #11062
At the moment, AWS ignores `Encrypted` parameter in `ec2.CreateVolumeInput` when default encryption is enabled. So cluster config does not match, even if we specify `encryptedVolume: false` in cluster spec. Of course, kops creates volumes with `encryptedVolume: false` when we don't specify `encryptedVolume` in cluster spec, but the result does not change.

So I removed the validation, maybe you ca

[2021-04-15 20:09] johngmyers commented on #10498
/remove-lifecycle stale

[2021-04-15 20:10] johngmyers commented on #8774
/remove-lifecycle stale

[2021-04-16 00:05] Reinkaos opened #11242 "NLB Health Check Issues"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.19.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.19.9

**3. What cloud provider are you using?**

AWS

Hey,

After upgrading to Kops 1.19.2 and Kubernetes 1

[2021-04-16 05:13] eluricharter opened #11243 "error populating cluster spec: error building complete spec: options did not converge after 10 iterations"
I am trying to add the container proxy in my cluster configuration and getting the below error after adding  below assets

assets:
   containerProxy: example.com/css-devops

[2021-04-16 06:00] hakman commented on #11243
@eluricharter Please create a new issue using the template.

[2021-04-16 06:00] #11243 closed

[2021-04-16 06:04] eluricharter opened #11244 "error populating cluster spec: error building complete spec: options did not converge after 10 iterations"
I am trying to add the container proxy in my cluster configuration and getting the below error after adding below assets

**assets:
containerProxy: example.com/css-devops**

# Please edit the object below. Lines beginning with a '#' will be ignored,
# and an empty file will abort the edit. If an error occurs while saving this file will be
# reopened with the relevant failures.
#
# error populating

[2021-04-16 06:04] hakman commented on #11242
@Reinkaos Please provide a simple way to reproduce the issue, or at least a sanitized cluster config.

**7. Please provide your cluster manifest. Execute
  `kops get --name my.example.com -o yaml` to display your cluster manifest.
  You may want to remove your cluster name and other sensitive information.**

[2021-04-16 06:26] hakman commented on #11244
As I said before, there is a template when creating the issue. Please use it.

[2021-04-17 02:54] joulaud opened #11246 "Hubble Relay cannot reach Cilium agents"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`Version 1.19.1 (git-8589b4d157a9cb05c54e320c77b0724c4dd094b2)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]
**3. What cloud provider are you using?**
AWS

[2021-04-17 05:48] hakman commented on #11144
@MoShitrit Option 2 makes sense if we would want to make all/most of the defaults configurable.

Option 3 would be to comment all those env vars and create a template function that sets these defaults and overrides them with what amazonvpc.env has added:
https://github.com/kubernetes/kops/blob/97869057129b30ea284c3ed1bdf1db36e752701d/upup/models/cloudup/resources/addons/networking.projectcalico.or

[2021-04-17 06:24] hakman commented on #10412
@kenji-cloudnatix Do you think we could also add an entry with recommended image in the channels file for Azure?
I guess the URN would be something like `Canonical:0001-com-ubuntu-server-focal:20_04-lts:20.04.20210315` and the entry would be similar to the GCE one:
https://github.com/kubernetes/kops/blob/5bb54a3d5ecdde86851993c8e823ba886cfcae75/channels/alpha#L77-L80

[2021-04-17 17:57] olemarkus opened #11251 "1.21.0 addon bumps"
We should bump at least the following addons before 1.21

* [x] AWS EBS CSI driver
* [x] cluster autoscaler
* [x] cert-manager
* [x] AWS LB controller
* [x] metrics-server
* [x] cilium
* [x] node local dns cache
* [x] node termination handler #10995
* [x] coredns

[2021-04-18 07:09] h3poteto opened #11253 ""internal consistency error" when removing mixedInstancesPolicy"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
master (git-27f05ca939)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What i

[2021-04-18 07:16] h3poteto commented on #11253
I think it is because changes are not detected despite the difference between actual and expected.

[2021-04-18 08:17] vignesh-v-nutanix opened #11254 "Kops with terraform failing"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.19.0 (git-04d36d7d92c72601efd918877fc180c846129ffb)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Client Version: v1.21.0

also the terraform version i us

[2021-04-18 08:19] doczico commented on #11253
same here
$ kops version
Version 1.20.0 (git-8ea83c6d233a15dacfcc769d4d82bea3f530cf72)
cluster also 1.20

[2021-04-18 08:19] vignesh-v-nutanix commented on #11254
I tried using terraform v15, but i still get the same error.

[2021-04-18 08:35] h3poteto commented on #11253
I will investigate it.

/assign

[2021-04-18 08:55] vignesh-v-nutanix commented on #11254
This managed to pass after i did the `kops update cluster --name=mykops.tk --state=s3://mykops.tk --out=. --target=terraform`

But still i get this error:
I0418 14:20:27.779373   56354 cached_discovery.go:121] skipped caching discovery info due to Get "https://api.mykops.tk/api?timeout=32s": dial tcp: lookup api.mykops.tk on 8.8.8.8:53: no such host
I0418 14:20:27.841077   56354 cached_discovery.g

[2021-04-18 09:27] amorey opened #11256 "kops rolling-update doesn't de-register instances from ELB network load balancer gracefully"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.20.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.20.5

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest

[2021-04-18 09:35] vignesh-v-nutanix commented on #11254
closing this, it took some time for the cluster to warm up

[2021-04-18 09:39] #11254 closed

[2021-04-18 09:43] #10148 closed

[2021-04-18 13:20] rifelpet commented on #11256
I think the 90 seconds of dropped requests are due to the normal lifecycle of the pod and aren't specific to `kops rolling-update`. If you `kubectl delete pod` the echoserver pod, do you experience the same dropped requests?

If so you can avoid this by ensuring the echoserver's deployment replicas > 1, a PodDisruptionBudget matching the deployment pods with `minAvailable: 1`, and a preStop lifecy

[2021-04-18 18:40] johngmyers opened #11260 "RenderAWS issues with removing substructs"
The design of the `changes` parameter in `RenderAWS` leads to latent bugs where `RenderAWS` is unable to reconcile the removal of a substruct. An example of this is #11255.

It is easy to write code to test whether a subfield of `changes` is `== nil` in order to determine whether a change needs to be made. But if the expected is `nil` and actual is non-`nil` such naive code will miss that a change

[2021-04-18 21:10] Reinkaos commented on #11242
Hey @hakman,

Thanks for your reply. Here is my kops cluster config.

[code]

Not sure exactly how to reproduce, I have upgraded from Kops 1.18.1 to Kops 1.19.2 following the initial instructions for the NLB change.

Any help is much appreciated,

Richard

[2021-04-19 01:52] Reinkaos commented on #8264
This feature would be great for my team too :D.

[2021-04-19 02:37] adammw commented on #8451
`/srv/kubernetes/server.key` seems to be generated unique to each server on the most recent version of kops and I believe this configuration can actually cause token projection to not work correctly with multiple API servers. In contrast, leaving out the `serviceAccountKeyFile` and `serviceAccountSigningKeyFile`, kops will instead configure to use `/srv/kubernetes/service-account.key` which is sta

[2021-04-19 02:55] johngmyers commented on #8451
@adammw that is correct: one should not override either `serviceAccountKeyFile` or `serviceAccountSigningKeyFile` in kops 1.19+.

[2021-04-19 03:07] adammw commented on #8451
aha - found the relevant PRs: https://github.com/kubernetes/kops/pull/10712 and https://github.com/kubernetes/kops/pull/9534 - although I couldn't see any specific call out in the 1.19 CHANGELOG so we ran over this issue upgrading from kops 1.18

[2021-04-19 07:20] joulaud commented on #11246
Note that the security implications are quite different in Cilium 1.8 and Cilium 1.9 as [mTLS between cilium-agent and hubble-relay][mTLS] was [added in the meantime][PR12906].

[mTLS]: https://docs.cilium.io/en/v1.9/concepts/observability/hubble-configuration/#use-custom-tls-certificates
[PR12906]: https://github.com/cilium/cilium/pull/12906

[2021-04-19 07:27] olemarkus commented on #11246
kOps doesn't use mTLS yet unfortunately, as it doesn't have any good way of provisioning the TLS cert. We do have a new feature that can use cert-manager for provisioning certs, but scheduling cert-manager itself depends on cilium running.

[2021-04-19 07:29] olemarkus commented on #8264
Have a look at e.g #11194 and #11016 to see if this covers your need.

[2021-04-19 07:45] olemarkus commented on #11068
Not sure what it takes to refresh the tokens from SSO. If that is just `Credentials.Get()` or if this actually has to be managed outside of the application.

[2021-04-19 08:47] joulaud commented on #11246
If hubble-relay deployment is optional then it will be at the discretion of the admin to choose what he wants (mTLS or not).

[2021-04-19 13:38] h3poteto commented on #11260
I think that kops can detect additions and changes of fields, and `changes` includes them, but deletions are not included. Perhaps, we need to create a new parameter like `changes` to represent deletions.

[2021-04-19 13:41] h3poteto commented on #11253
I fixed it.

/close

[2021-04-19 13:41] #11253 closed

[2021-04-19 14:14] xlanor commented on #7615
Getting the same issues as you. on big sur.

Did you ever figure out a solution to this? I will test this on a linux VM tomorrow to check if it is the same.

[2021-04-19 15:06] Nilubkal commented on #10202
We are experiencing the same issues trying to create a new cluster via `kops-1.21-alpha-3`.

[2021-04-19 20:13] pbradly opened #11265 "Kubelet stuck in crash loop with upgrade to 1.18+"
**1. What `kops` version are you running?**
Version 1.20.0

**2. What Kubernetes version are you running?**
1.17.17

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest way to reproduce this issue?**
Updated the Kops config to upgrade cluster to K8s 1.18.x.

**5. What happened after the commands executed?**
kubelet.service on the master node gets st

[2021-04-19 21:34] d-m commented on #10202
I'm also running into this updating a cluster from 1.19 to 1.20

[2021-04-19 21:40] Nilubkal commented on #10202
/remove-lifecycle rotten

[2021-04-19 21:41] Nilubkal commented on #10202
/reopen

[2021-04-19 22:18] rifelpet commented on #10202
/reopen

[2021-04-19 23:09] johngmyers commented on #11265
Per the log file, you should remove `spec.kubelet.featureGates.PodPriority` from your cluster manifest.

[2021-04-19 23:10] johngmyers commented on #11265
/close

[2021-04-19 23:10] #11265 closed

[2021-04-20 05:29] hakman commented on #10611
I will take the lack of complaints as confirmation that this is fixed 😄

[2021-04-20 05:29] #10611 closed

[2021-04-20 06:34] cameronattard commented on #10611
All fixed, thanks again @hakman!

[2021-04-20 07:12] Nilubkal commented on #10202
just applying exactly the same template ( the same size/length ) with `kops-1.20.0` and `KOPS_RUN_TOO_NEW_VERSION=1` creates a `kubernetes 1.21.0` cluster without any complains about "User data is limited to 16384 bytes"

[2021-04-20 07:49] amorey commented on #11256
Thanks for your quick response!

The echoserver's deployment already had 2 replicas and, as per your suggestion, I added a PodDisruptionBudget with `minAvailable: 1` and a `preStop` sleep of 100 seconds. In addition, I added a `terminationGracePeriodSeconds` of 110 seconds to ensure the preStop hook would have time to complete.

Here's the script I used to curl on a loop (it also prints out a requ

[2021-04-20 08:09] Nilubkal commented on #10202
Another workaround is using the setting for the `InstanceGroup`:
[code]
introduced by this [PR](https://github.com/kubernetes/kops/pull/10357)

[2021-04-20 08:25] olemarkus commented on #10202
This isn't a workaround. This is the solution for those who depend on extending the user data.
Often, hooks is a better mechanism for manipulating the instance during boot. But it depends on what you are putting into user data.

[2021-04-20 08:30] olemarkus commented on #11256
I thought it could be related to https://github.com/kubernetes/kubernetes/issues/100779 but I see you are the author of that one as well

[2021-04-20 09:21] amorey commented on #11256
Yeah, I've been testing out various failure modes recently and that's another one I found. That issue has to do with automatic ELB de-registration when the master node instances restart so I don't think it's related but there might be some subtle connection in the kubernetes ELB controller code that I'm missing.

[2021-04-20 14:41] johngmyers commented on #10185
Fixed in 1.20 by #9575

[2021-04-20 14:41] #10185 closed

[2021-04-20 14:57] johngmyers commented on #11256
Perhaps not enough time between cordoning and termination for nodes that don't have any workload pods on them?

[2021-04-20 14:57] johngmyers commented on #11256
/area rolling-update

[2021-04-20 15:03] johngmyers commented on #11256
Perhaps we need to give the `preStop` and  `terminationGracePeriodSeconds` treatment to kube-proxy.

[2021-04-20 15:12] leiw324 opened #11268 "unable to determine machine architecture for InstanceGroup "master-us-west-2a": unsupported architecture for instance type "t2.micro": i386"
Hello,

Please help:
![image](https://user-images.githubusercontent.com/33790160/115420570-d4a8ea80-a22d-11eb-9320-b1cff42b4a30.png)

[2021-04-20 15:19] hakman commented on #11268
Hello, please create a new issue using the template.

[2021-04-20 15:19] #11268 closed

[2021-04-20 15:25] rifelpet commented on #11256
The challenge with integrating that in kops is choosing an appropriate duration. It should be longer than the longest expected response times of the service + any delay in updating all relevant load balancers to no longer send new requests to the node.

It would probably be easiest to just expose it in the API. It'd likely be most appropriate in KubeProxyConfig. It would be nice if the setting was

[2021-04-20 15:27] olemarkus commented on #11268
Hello. Don't use t2.micro. It is not supported. You havet to use amd64 or arm instances

[2021-04-20 15:33] kenji-cloudnatix commented on #10412
I see. @hakman , let me take a look!

[2021-04-20 15:42] javipolo opened #11269 "Template typo for cilium: <.Networking.Cilium.Version>: can't evaluate field Networking in type *kops.CiliumNetworkingSpec"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.20.0 (git-8ea83c6d233a15dacfcc769d4d82bea3f530cf72)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

v1.19.9

**3. What cloud provider are you using?**

AW

[2021-04-20 15:52] johngmyers commented on #11256
First we should confirm it is the kube-proxy that is the issue.

I believe cordoning is what starts removing the node from the LB. If so, we would need a minimum time between that and termination, regardless of the time it takes to drain. We don't normally include kube-proxy in the drain and Cilium can implement its functionality without a pod, so I don't think `terminationGracePeriodSeconds` woul

[2021-04-20 16:48] #11269 closed

[2021-04-20 21:09] amorey commented on #11256
In kubernetes v1.18.17, `kubectl cordon` starts removing nodes from LBs but this is not the case in v1.20.5. In kubernetes v1.20.5 `kubectl delete` removes nodes from LBs. The behavior for CLBs and NLBs is the same in both versions.

I think these are the steps that need to happen In order to decommission an instance gracefully:
1. De-register instance from the LBs
2. Drain the node
3. Close remai

[2021-04-20 21:23] johngmyers commented on #11256
@amorey https://kubernetes.io/docs/concepts/architecture/nodes/ states:

Caution: kubectl cordon marks a node as 'unschedulable', which has the side effect of the service controller removing the node from any LoadBalancer node target lists it was previously eligible for, effectively removing incoming load balancer traffic from the cordoned node(s).

Is the Kubernetes documentation out of date?

[2021-04-20 21:44] amorey commented on #11256
Either that or maybe it's a regression. We might be able to figure out when/why the behavior changed by looking at the history here: https://github.com/kubernetes/kubernetes/commits/master/staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer.go

[2021-04-21 00:00] johngmyers commented on #11256
Found in Kubernetes 1.19 release notes:

[2021-04-21 00:28] johngmyers commented on #11256
Filed kubernetes/website#27639

[2021-04-21 01:03] johngmyers commented on #11256
Partial fix in #11273

[2021-04-21 06:48] amorey commented on #11256
🚀 Wow! That's the fastest turnaround time I've seen on any open source project. Thanks!

What are you thinking about with regards to closing the active connections after the drain? For my use case, it's fine to let the LB close the connections but I need control over the the rolling-update timeout.

[2021-04-21 07:09] olemarkus commented on #11246
I'll dig into this a bit. I plan on doing an e2e test with more advanced kops configuration and that can also include hubble.

I am not sure relay or not really matters when it comes to mTLS. Without relay, the UI or whatever you use to talk to agents just talk directly to the agents. The result is similar, but with less scalability. That was why I didn't make relay configurable. The benefits of n

[2021-04-21 09:38] joulaud commented on #11246
1. With Hubble activated without relay we can yet generate specific hubble metrics and use `hubble observe` on each individual Cilium pod (using `kubectl exec` to the pod).

2. With Hubble relay activated you gain a way to aggregate information cluster-wide and to use the UI, at the cost of wide-opening port to each Cilium agent (possibly protected by mTLS).

At this point kOps makes believe it su

[2021-04-21 13:14] leiw324 opened #11279 "Cannot create cluster"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.20.0 (git-8ea83c6d233a15dacfcc769d4d82bea3f530cf72)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Not install yet

**3. What cloud provider are you usin

[2021-04-21 13:39] olemarkus commented on #11279
We do not build binaries for i386. You have to use either arm64 or amd64 instances. You also need to use sufficiently large instances. t3.small may work for very small clusters, but t3.medium is recommended.

[2021-04-21 14:12] rifelpet commented on #11279
We could probably make the error message clearer and mention that the instance type isn't supported and to use a different one.

[2021-04-21 14:34] amorey commented on #11256
Here's a kubernetes blog post from today:
https://kubernetes.io/blog/2021/04/21/graceful-node-shutdown-beta/

Apparently there's a graceful node shutdown feature that's in beta and enabled by default starting with 1.21. Rolling-update can offload some of the work there but I'm not sure if the feature will handle LB de-registration or not.

[2021-04-21 14:45] johngmyers commented on #11246
Can't we provision the mTLS client certs out of kops-controller?

[2021-04-21 15:02] hakman commented on #11279
@rifelpet Maybe validation should catch this corner case.

[2021-04-21 15:05] olemarkus commented on #11246
It's something like that I had in mind. Do you think it is necessary to have a dedicated CA?

[2021-04-21 15:24] johngmyers commented on #11246
A separate PKI would be more secure. No sense allowing things to authenticate to places they don't need to.

[2021-04-21 16:08] #10625 closed

[2021-04-21 16:10] johngmyers commented on #11256
I believe the intent of the 5s post-drain delay is to give the node time to send FIN packets for all connections to/from the terminated pods.

You bring up the point that we need something to give the node time to send FIN packets for connections to/from kube-proxy. There's also the issue that we might need additional time for the load balancers to notice the node has been removed from the pool (e

[2021-04-21 16:50] jankosecki opened #11280 "Using ETCD_LISTEN_METRICS_URLS"
Hi,
I tried to use ETCD_LISTEN_METRICS_URLS with our existing cluster, but after applying and rolling master it still didn't work and the metrics are available only on `https://:4001`. After a bit of digiig I've found the line from `etcd-manager`

[code]
Our cluster is quite old hence the version of `etcd` set in `kops edit cluster` is very old. I understand that ETCD_LISTEN_METRICS_URLS is availa

[2021-04-21 16:59] olemarkus commented on #11280
https://kops.sigs.k8s.io/cluster_spec/#etcd-metrics

[2021-04-22 01:14] #10299 closed

[2021-04-22 04:49] johngmyers opened #11282 "WarmPool task errors upon new cluster creation"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Version 1.21.0-alpha.3 (git-efd34a80aa)

**3. What cloud provider are you using?**

AWS

**4. What commands did you r

[2021-04-22 05:06] olemarkus commented on #11246
Cilium 1.10 will be out the coming weeks, and my focus for 1.21 will be on getting that one in. I can probably do template changes and such (e.g fix the hubble port), but PKI probably has to wait for 1.22 unless someone else is interested in looking at this.

[2021-04-22 06:11] nckturner opened #11283 "Understand (and rename?) RBAC and service account for AWS storage addon"
Currently `storage-aws.addons.k8s.io` includes [a ClusterRole and ClusterRoleBinding](https://github.com/kubernetes/kops/blob/master/upup/models/cloudup/resources/addons/storage-aws.addons.k8s.io/v1.15.0.yaml.template#L46-L85) with the name `system:aws-cloud-provider`.  These were added to the storage addon in https://github.com/kubernetes/kops/pull/6899, because it was removed from upstream in ht

[2021-04-22 06:12] nckturner commented on #11283
/cc @wongma7

[2021-04-22 06:52] olemarkus commented on #11283
The `aws-cloud-provider` service account was created by the legacy aws cloud provider, I believe. Good question if the external cloudprovider also creates them or if kOps should in this case. Or if it is indeed needed.

In the mix here, there is also the aws-ebs-csi-driver.addons.k8s.io addon that also provisions its own SA.

My guess is that we should not install those roles if the external CSI d

[2021-04-22 07:47] DOboznyi opened #11284 "Add possibility to use KMS key for encrypting gp2 storage class"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
Add possibility to provide kms key id/arn to use in default storage class encryption.
**2. Feel free to provide a design supporting your feature request.**

[2021-04-22 09:51] sharoncr1 commented on #4225
@rifelpet

Tried this one, but the ec2 instances stay on pending state probably due to the conflict in the auto-launching configuration created by kops which demands an un-encrypted volume and the default setting which demands an encrypted volume.

[2021-04-22 12:13] DmytroKozlovskyi commented on #10329
Had the same issue. We switched our cluster from dns to NLB for public and local endpoints. We checked DNS records and they were OK - pointed as alias to NLB. After that we did rolling update master nodes to apply new ami and after replace 3d node we lost cluster and all services running on it, because here were no DNS records for public and internal API endpoints. We returned records by rerunning

[2021-04-22 16:41] schantaraud opened #11288 "metrics-server pods CrashLoopBackOff upon cluster creation"
Kops version 1.20.0
Kubernetes version 1.20.5
AWS

[code]

Also:
- edited some cluster settings before applying:
[code]
- filtered out the "node*" instance groups
- added 5 new instance groups. e.g:

[code]

Upon cluster creation, the metrics-server pods goes into CrashLoopBackOff (`Liveness probe failed: HTTP probe failed with statuscode: 500`):

[code]

Logs:
[code]

**6. What did you expect to

[2021-04-22 20:27] Reinkaos commented on #11242
Hey,

I have contacted AWS support about this issue and apparently it is a known issue with Network Load Balancers that their internal team is aware of and working on a solution.

Thanks,
Richard

[2021-04-22 20:27] #11242 closed

[2021-04-22 21:47] lsowen opened #11290 "Cilium 1.9 uses incorrect cilium-operator"
In https://github.com/cilium/cilium/issues/9920 and https://github.com/cilium/cilium/pull/10972, Cilium started shipping a "fat" operator (`cilium-operator`) with everything built in and "slim" operators (eg `cilium-operator-generic` and `cilium-operator-aws`) with only the specific cloud provider options enabled.

The 1.9 addon templates reference the `cilium-operator-generic` (one of the "slim"

[2021-04-22 23:22] johngmyers commented on #11290
Or we could have it pick the correct operator for the cloud provider.

[2021-04-23 03:07] hakman commented on #11242
Thanks @Reinkaos. Hopefully AWS gets this fixed quickly.

[2021-04-23 04:25] johngmyers opened #11292 "Feature: Support Graceful Node Shutdown"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Add support for Graceful Node Shutdown.

**2. Feel free to provide a design supporting your feature request.**

Add `ShutdownGracePeriod` and `ShutdownGracePeriodCriticalPods` fields to `KubeletConfigSpec`.

As Kubernetes appears to not have added kubelet flags for these settings, this will mean we need to refactor kubel

[2021-04-23 07:17] karancode opened #11295 "failed to attach externalPolicies"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
`Version 1.18.2 (git-84495481e4)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
`Server Version: v1.18.12`

**3. What cloud provider are you using?**
AWS

**4. What

[2021-04-23 07:29] liranp commented on #10908
Thank you for approving #11289, @hakman. We can close this issue now.

[2021-04-23 07:37] hakman commented on #10908
Thanks for fixing it :)

[2021-04-23 10:33] Deshke opened #11297 "AWS LoadbalancerController IAM is missing ModifyTargetGroupAttributes"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**
AWS with the LoadbalancerController Addon

**4. What command

[2021-04-23 13:27] schantaraud commented on #11288
Note: the same happens with Kops 1.19.2 and Kubernetes 1.19.7.

[2021-04-23 13:45] olemarkus commented on #11288
I suspect this is related to the kubelet config. There is a general bug with kops if you do not have
[code]

But I will anyways try to reproduce this.

[2021-04-23 13:57] schantaraud commented on #11288
Thank you. It looks like `spec.kubelet.anonymousAuth` is set to `false` by default (it does appear in my cluster's yaml).

[2021-04-23 14:24] zetaab opened #11298 "not able to rolling update cluster from 1.20.x -> 1.21.0"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

master

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.21.0

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest

[2021-04-23 14:25] zetaab opened #11299 "kops 1.21 in AWS requires SQS but its not documented"
I tried to install new clean cluster with 1.21 kops alpha 3. Everything went almost fine. However, when I tried to delete the cluster I got

[code]

Access need to SQS should be documented in release-notes.

[2021-04-23 14:39] #10908 closed

[2021-04-23 15:14] #11282 closed

[2021-04-23 17:07] paulbdavis opened #11302 "nodes fail to join, nodeup/protokube failing doing rolling update 1.19 => 1.20"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`Version 1.20.0 (git-8ea83c6d233a15dacfcc769d4d82bea3f530cf72)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.19.9 and 1.20.5

**3. What cloud provider are you

[2021-04-23 17:16] leonsp-ai commented on #10974
@alex88 How did you apply `preserveUnknownFields: false` on older kops? I'm looking to get it to work on kops 1.18.3. Is it enough to `kubectl edit crd bgppeers.crd.projectcalico.org`, or does kops overwrite that when deploying?

[2021-04-23 17:44] alex88 commented on #10974
@leonsp-ai I've edited the calico S3 file since I saw that the master node was reading the config from there and then I've restarted the master node. I think kops replaces that when you do `kops cluster update` but I'm not 100%. However I think that's just a temporary way to fix it but in my case it was better than downtime

[2021-04-23 18:50] paulbdavis commented on #11302
[code]

running `ctr c ls` does not list any running containers on the new node, and the above is what I'm getting in the containerd logs

[2021-04-23 21:32] #9960 closed

[2021-04-23 23:33] lsowen commented on #11290
I'd be willing to work on a PR for this, as I'm keen to be able to upgrade to 1.9.x and still use ENI on AWS.

However, would need some direction on how this should be best handled.  For example, are the templates handcrafted, or are they based on the cilium helm chart?

[2021-04-23 23:50] rifelpet commented on #11297
Looks like theres a few other missing actions as well, like `SetIpAddressType` and `SetWebAcl`. All of the waf, shield, and cognito actions are missing too.

https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/docs/install/iam_policy.json

https://github.com/kubernetes/kops/blob/af353d16357de4805316f047451a92d3753ec16a/pkg/model/iam/iam_builder.go#L732

I'm guessing the actio

[2021-04-24 02:52] johngmyers commented on #11290
@lsowen you're going to need to create a template function that returns the right operator image. I believe the right place to add it is in https://github.com/kubernetes/kops/blob/dbd23473efe25c7eca1576f462b60233cd715d4d/upup/pkg/fi/cloudup/template_functions.go#L69

[2021-04-24 02:54] johngmyers commented on #11290
An existing Cilium template function is https://github.com/kubernetes/kops/blob/dbd23473efe25c7eca1576f462b60233cd715d4d/upup/pkg/fi/cloudup/template_functions.go#L184

[2021-04-24 05:28] olemarkus commented on #11297
I think the waf/cognito permissions are a bit broad and don't really want to support that functionality. The waf/shield flags are explicitly turned off.

With the IRSA support for AWS LB controller, `AddAWSLoadbalancerControllerPermissions` has to contain all the actions needed for AWS LB even if they are duplicate.

I tried to test all the various features of AWS LB, but I did not test nlb-ip. I

[2021-04-24 06:19] olemarkus commented on #11288
`anonymousAuth` is default `nil` in kOps, which means the flag is not passed on to kubelet. Kubelet defaults that flag to true.

But I cannot reproduce this with the 1.20 binaries.
From your logs, it looks like it cannot resolve from 100.64.0.10:53, which suggests an issue with the kube-dns service.

[2021-04-24 08:34] olemarkus commented on #9990
I think we have more or less solved this one now

/close
/remove-lifecycle stale

[2021-04-24 08:34] #9990 closed

[2021-04-24 09:49] #11162 closed

[2021-04-24 15:50] leiw324 opened #11311 "Validation failed: cluster not yet healthy"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.20.0 (git-8ea83c6d233a15dacfcc769d4d82bea3f530cf72)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Still not install yet

**3. What cloud provider are yo

[2021-04-24 18:41] #11290 closed

[2021-04-26 06:29] kciredor commented on #11162
Thanks!

[2021-04-26 09:45] #10325 closed

[2021-04-26 12:24] kciredor opened #11323 "OpenStack: etcd-manager does not always mount volumes resulting in invalid cluster creation"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.19.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.19.9

**3. What cloud provider are you using?**
OpenStack

**4. What commands did you run?  What is the simpl

[2021-04-26 12:36] rifelpet commented on #11323
Can you post etcd-manager logs from a host in which the issue occurs?

[2021-04-26 14:12] kciredor commented on #11323
Ofcourse, here you go. This is etcd.log. Same thing can happen with etcd-events.log. It's either etcd, or etcd-events getting in trouble.

`etcd-manager
I0426 13:18:09.656532    6229 volumes.go:206] Found project="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
I0426 13:18:09.656658    6229 volumes.go:215] Found instanceName="master-amsterdam1-7-1-dv-dev-k8s-local"
I0426 13:18:09.955072    6229 volumes.go:235]

[2021-04-26 14:32] schantaraud commented on #11288
I deleted and recreated the cluster multiple times over the last few days but the result is always the same.

Here's Kubelet's full command line:
[code]

CoreDNS's CoreFile:
[code]

CoreDNS' logs are all empty:
[code]

I can confirm that CoreDNS won't resolve node names:
[code]

[2021-04-26 16:10] hakman commented on #11323
@kciredor I can create an etcd-manager image that may fix the issue if you want to try.
Probably `udev` needs to be added to this list:
https://github.com/kubernetes-sigs/etcdadm/blob/c09b9e2d7cca67372328772f483c1f3249f25247/etcd-manager/images/base/BUILD#L11-L24.

[2021-04-27 04:51] olemarkus commented on #10640
/remove-lifecycle stale

Does the recent IRSA PRs solve this one?

[2021-04-27 05:08] olemarkus commented on #10325
Is this what you were looking for?
https://kops.sigs.k8s.io/cluster_spec/#registry-mirrors

[2021-04-27 07:45] leiw324 commented on #11311
Hello,

Can someone help?

Thanks

[2021-04-27 09:24] olemarkus commented on #11288
Can you confirm that your upstream nameserver can resolve hostnames?

[2021-04-27 09:53] olemarkus commented on #11288
Can you also try to create a cluster without setting `--vpc`? I suspect the vpc configuration may be set to not resolve instance hostnames.

[2021-04-27 12:03] olemarkus commented on #11311
Can you go through https://kops.sigs.k8s.io/operations/troubleshoot/ ? it should enable you to provide more relevant information.

[2021-04-27 14:01] atze234 commented on #10993
Thank you. As the Problem persists with v1.19 i opened up another bugreport there: https://github.com/kubernetes/kubernetes/issues/101526

[2021-04-27 14:01] #10993 closed

[2021-04-27 14:13] schantaraud commented on #11288
Thank, you led me to the solution.

My VPC had "DNS resolution" enabled but not "DNS hostnames", which is confusingly labeled as "Indicates whether instances with public IP addresses get corresponding public DNS hostnames". In reality, when it is set to false, Route53 won't resolve Amazon-provided private DNS hostnames either.

Another solution that works is to add  `--kubelet-preferred-address-ty

[2021-04-27 14:13] #11288 closed

[2021-04-27 14:19] h3poteto commented on #11282
I still have the same issue, when creating new clusters. I'm using kops master branch (git-6ed023ed30) .

When I create cluster, kops says error logs, but success to create.

[code]

[2021-04-28 03:36] jim-barber-he commented on #8481
After running `aws sso login` and running kops without the `AWS_SDK_LOAD_CONFIG` env var set it fails like so:
[code]
But setting that env var gets it to work:
[code]

[2021-04-28 05:33] jetersen commented on #8481
@olemarkus I missed your message 😅 But with v1.20.0 I can confirm with AWS_SDK_LOAD_CONFIG everything works.

[2021-04-28 06:43] hakman commented on #11323
@kciredor If you don't mind, could you test using this image?
[code]

[2021-04-28 07:05] olemarkus commented on #8481
Thanks for confirming. I think we can close this one now then.
/close

[2021-04-28 07:05] #8481 closed

[2021-04-28 08:42] atze234 opened #11345 "KubeDNS still running after 1.20 Upgrade"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
`v1.20.0`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
`v1.20.6`
**3. What cloud provider are you using?**
AWS
**4. What commands did you run?  What is the simples

[2021-04-28 08:45] atze234 commented on #11345
There was a similar issue with switching to coredns in the past: https://github.com/kubernetes/kops/issues/6318

[2021-04-28 08:49] kciredor commented on #11323
Thanks @hakman! My first test run is fine, I'll try again a couple of times today.

[2021-04-28 08:51] hakman commented on #11323
Great, thanks :).

[2021-04-28 09:17] kciredor commented on #11323
I'm afraid the second attempt resulted in another scanning busses issue:

[code]

Manually running sudo udevadm trigger on the 2 out of 7 master nodes running into this problem gives me exit 0. Not sure how to debug this.

[2021-04-28 09:27] hakman commented on #11323
If you exec from the pod `/sbin/udevadm` does it do anything?

[2021-04-29 08:21] leiw324 commented on #11311
[centos@ip-172-31-56-55 ~]$ kops validate cluster --name hkitblog.net --wait 10m --state=s3://wilson-testing
Validating cluster hkitblog.net

W0429 08:19:25.090604   65781 validate_cluster.go:173] (will retry): unexpected error during validation: error listing nodes: Unauthorized
W0429 08:19:35.093041   65781 validate_cluster.go:173] (will retry): unexpected error during validation: error listing

[2021-04-29 09:33] kciredor commented on #11323
Good one ;-)

[code]

[2021-04-29 10:06] hakman commented on #11323
Same here, but no idea how to reproduce and check that.

One more:
`gcr.io/k8s-staging-etcdadm/etcd-backup:v20210429-v0.1.3-733-g4703d502`

[2021-04-29 11:15] kciredor commented on #11323
From the pod:

[code]

/var/log/etcd.log now runs into a loop:

[code]

[2021-04-29 11:26] hakman commented on #11323
etcd-manager runs this with `nsenter` so you would not see the "Running in chroot, ignoring request.".
[code]

[2021-04-29 11:57] kciredor commented on #11323
Using that command it gives me exit 0 (loop is still active though, keeps "Waiting for volume").

[2021-04-29 12:01] kciredor commented on #11323
[code]

The first one is etcd1-main which is having trouble getting mounted on the master node. The second one is etcd1-events, which is mounted on _another node_. Is that 'normal'?

[2021-04-29 12:34] hakman commented on #11323
I don't think so, but I am not that familiar with the openstack implementation. Maybe @olemarkus has some thoughts.

[2021-04-29 14:50] edsonmarquezani commented on #10703
Just ran into the same issue for the first time after quite a few upgrades. Ideally, `kubernetesVersion` should be allowed to be set/overridden per *Instance Group*. This way we could easily upgrade masters securely before nodes.

As a workaround, as we don't apply anything in AWS with *KOPS*, but rather with *Terraform*, we are going to apply masters *Launch Templates* separately first.

[2021-04-29 18:34] semoac opened #11355 "Ability to renew etcd-client certificates issued for the apiserver without having to restart the control plane nodes."
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Right now `etcd-manager` takes care of renewing certificates located on `/etc/kubernetes/pki/etcd-*` but only nodeup generates client certificates for `/etc/kubernetes/pki/kube-apiserver`.

There is a way to renew those certificates without having to recreate the master nodes? Any plans on having a controller + reloader

[2021-04-29 18:50] olemarkus commented on #11355
Could you explain what you need this for?

[2021-04-29 22:29] nicktrav opened #11356 "feature: allow arbitrarily named AWS IAM roles to be used by nodes joining a cluster"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

We have a use-case where we'd like to add a node to an existing cluster that has a different AWS IAM Role to the Role that `kops-controller` is set up to look for (most likely a superset of permissions). The role doesn't have the same name as the role `kops-controller` expects and the node cannot be admitted.

To highlig

[2021-04-30 00:17] johngmyers commented on #11356
The check is to ensure that the request is indeed coming from an instance that is from the relevant ASG.

Information about configuring an instance group's instances to have additional or externally defined policies is in [the documentation](https://kops.sigs.k8s.io/iam_roles/).

[2021-04-30 07:36] leiw324 commented on #11311
Hello,

Do you know what happened?

Thanks

[2021-04-30 07:40] leiw324 commented on #11311
[centos@ip-172-31-56-55 ~]$ kops update cluster --yes --state=s3://wilson-testin                                                                                                                                                             g
Using cluster from kubectl context: hkitblog.net

********************************************************************************

[2021-04-30 09:17] leiw324 commented on #11311
VALIDATION ERRORS
KIND    NAME                    MESSAGE
Machine i-085c316bb84a6770f     machine "i-085c316bb84a6770f" has not yet joined cluster

Validation Failed
W0430 07:55:40.341625   69750 validate_cluster.go:221] (will retry): cluster not yet healthy

Validation failed: wait time exceeded during validation

[2021-04-30 16:27] nicktrav commented on #11356
Is there any risk to allowing a user to optionally disable this role check? For example, if I'd like to admit a node that is not part of the ASG and has a different role?

[2021-04-30 18:00] demisx commented on #11345
Would really help if [release notes](https://github.com/kubernetes/kops/releases/tag/v1.20.0) mentioned the switch from kubeDNS to coreDNS under "Significant Changes". I was wondering why my prometheus operator was throwing "Target Down" alert:

![Screen Shot 2021-04-30 at 10 59 42 AM](https://user-images.githubusercontent.com/4452412/116735335-32160780-a9a3-11eb-8dea-d4ec9b501897.gif)

[2021-04-30 22:59] demisx commented on #6318
What about the `kube-dns` service. Should it be removed as well when upgrading to kops v1.20?

[code]

[2021-05-01 01:21] dmcnaught commented on #6318
See the note at the bottom of this section (Saying the service should be left). I found that to be true when doing this upgrade - removing the service caused DNS to fail.
https://github.com/kubernetes/kops/blob/f294793e444a643469b346353a62ba2038f9586e/docs/cluster_spec.md#kubedns

[2021-05-01 01:57] demisx commented on #6318
@dmcnaught Thank you for pointing it out. I am leaving the service in place then. I also see the doc still says:

I've deleted the kube-dns deployments altogether with:

[code]
I did not update kube-dns-autoscaler since there is already `coredns-autoscaler` running. I thought one replaces another.

[code]

Is this OK? So far, I haven't noticed any issues with the cluster.

[2021-05-01 02:10] joshbranham commented on #6318
Yeah back when these docs were updated CoreDNS did not have a standalone auto scaler deployed. We should likely update those to reflect the current reality of just deleting the kube-dns deployments.

[2021-05-01 09:09] GerardRM commented on #5569
/close

El sáb., 1 may. 2021 8:15, fejta-bot ***@***.***> escribió:

[2021-05-01 09:09] #5569 closed

[2021-05-01 12:20] #10343 closed

[2021-05-01 23:09] johngmyers opened #11367 "Allow rolling update to make progress despite failing nodes in group"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Rolling update should be able to make progress despite having nodes in the instance group failing validation as long as the total amount of unavailability is within the limits set in the IG's rolling update policy.

**2. Feel free to provide a design supporting your feature request.**

* `hasFailureRelevantToGroup` will

[2021-05-02 06:00] olemarkus commented on #11323
Sorry, I am not that familiar. My guess is that there is a mismatch with tags. I think perhaps @zetaab is the one with the most knowledge of how this works now.

[2021-05-02 10:31] ari-becker commented on #9370
/remove-lifecycle stale

[2021-05-02 17:17] jlsan92 opened #11370 "Failed Kops upgrade 1.18.3 => 1.19.2 - Issuing new certificate: "master""
After running `kops update cluster ...` I notice `Issuing new certificate: "master"`. Then after a couple of seconds, `kubectl` and even `kops rolling-update cluster` fail with

[code]

To be able to connect again, I need to run `kops update cluster` again but with Kops 1.18.3 (The version I want to move from). Same behaviour, a couple of seconds after then I can connect back to my cluster's API.

[2021-05-02 17:39] johngmyers commented on #11370
It looks like you might have had a control plane node starting up using a 1.18.3 launch configuration/template, but after running "kops update cluster" to take it to 1.19.2. Next time you need to avoid that race condition and have new control plane nodes come up with the 1.19.2 launch configuration/template.

[2021-05-02 18:03] jlsan92 commented on #11370
Hey @johngmyers thx for the reply. I'm pretty sure no control plane nodes have started after running "update cluster" with 1.19.2.

It's like the current ones pick up the new issued certificate from the S3 bucket holding the Kops state config.

Also, I see cilium is crashing badly across worker nodes as well.

As I mentioned, there's no even chance to run "rolling-update cluster" without hitting t

[2021-05-02 18:19] johngmyers commented on #11370
I can't think of what would be updating the control plane nodes from S3.

In any case, this is fixed by fdc61b4bdbffe33cc28340fa553668b423d5e83e which is in 1.21. It might be worth a backport.

[2021-05-03 07:59] leiw324 commented on #11311
Hello, can someone help?

[2021-05-03 10:17] olemarkus commented on #11311
Have you tried the troubleshooting docs above? It should at least make it possible for you to understand more of what goes wrong. Without access to the logs mentioned etc, it is not much we can do. There is no issues I could immediately spot with your cluster config

[2021-05-03 14:43] johngmyers commented on #11298
This appears to be an issue with kops-controller permissions, not rolling update.

[2021-05-03 15:20] zetaab commented on #11298
I can reproduce this problem in both: AWS and OpenStack

[2021-05-03 15:23] zetaab commented on #11298
error is coming from here https://github.com/kubernetes/kops/blob/master/vendor/sigs.k8s.io/controller-runtime/pkg/cluster/cluster.go#L158

[2021-05-03 16:22] zetaab commented on #11298
I think I found the api call that is failing

[code]

and then in apiserver

[code]

[2021-05-03 16:45] zetaab commented on #11298
it looks like the problem is that `/src/kubernetes/service-account.key` is regenerated somehow. That private key should be same in all masters, but when upgrading from older kops to kops master - the key is regenerated. The private key value does not match to old masters. I do have 3 masters, and 2 old masters have the same private key and the newer one has different (which is failing).

[2021-05-03 17:15] zetaab commented on #11323
https://github.com/kopeio/etcd-manager/blob/e6cc5c083a951d119c1aee44d379322e2f9ce08e/pkg/volumes/openstack/volumes.go#L285

if you have only availability zone in computes + volumes, this is possible and normal. In case of many availability zones in computes + volumes this is not normal and should not happen. Which case matches to your setup?

[2021-05-03 17:53] hakman commented on #10362
/reopen

[2021-05-03 18:03] johngmyers commented on #11298
That commit has code to copy the old `master` key to `service-account`. It could be that when the `service-account` key doesn't exist the VFS implementation is incorrectly returning an error where `os.IsNotExist()` returns false. The VFS API does appear to require `os.IsNotExist()` for such cases.

[2021-05-03 21:39] dmcnaught commented on #10862
@olemarkus
I am seeing a similar error with kops 1.20.0
I have this in my cluster config:
[code]
and when I finish `kops edit cluster` to move from 1.19 to 1.20, I get this error:
[code]

[2021-05-04 04:51] #11298 closed

[2021-05-04 04:52] olemarkus commented on #10862
What is the reason for setting this label explicitly?

[2021-05-04 11:10] kciredor commented on #11323
This is single availability zone indeed.

Here's the output of all volume show's:

[code]

(The issue started with kops 1.19 coming from 1.18)

[2021-05-04 12:14] dmcnaught commented on #10862
It's for the AWS Ingress controller @olemarkus - following kops instructions here:
https://github.com/kubernetes/kops/blob/97869057129b30ea284c3ed1bdf1db36e752701d/addons/kube-ingress-aws-controller/README.md#modify-an-existing-cluster
"Cloud Labels are required to make Kube AWS Ingress Controller work, because it has to find the AWS Application Load Balancers it manages by AWS Tags, which are cal

[2021-05-04 12:53] olemarkus commented on #10862
Ouch. That looks dated and should be removed. https://kops.sigs.k8s.io/addons/#aws-load-balancer-controller should be used instead

[2021-05-04 13:03] dmcnaught commented on #10862
This is tight - kops 1.19 wasn't recognizing
[code]
for me, so I am planning to revisit the migration to the aws load balancer controller in 1.20, but I'm blocked in upgrading the cluster spec to kops 1.20 because of this reserved label issue.

[2021-05-04 13:04] dmcnaught commented on #10862
We need to leave some time to deprecate the AWS Ingress Controller. the link you sent says aws load balancer controller introduced to kops in 1.20

[2021-05-04 13:26] taragurung opened #11380 "Error listing nodes when passing the custom subnets and utility subnet"
**1. kops version .**
Version 1.19.0

**2. Trying to install kubernetes version.**
1.19.0

**3. What cloud provider are you using?**
AWS
**4. This is my kops create with private hosted zone**
[code]
**5. The cluster is not validated**
`W0504 13:15:09.736617    2535 validate_cluster.go:173] (will retry): unexpected error during validation: error listing nodes: an error on the server ("") has preven

[2021-05-04 13:37] olemarkus commented on #10862
You don't actually need the cloud labels. this is handled by kOps and k8s, which is why it is marked as reserved. it is rather dangerous to add it like that. Those docs are quite old and I'd consider the content deprecated already.

[2021-05-04 14:05] dmcnaught commented on #10862
You mean I can just remove that label and it won't affect the ingress controller?

[2021-05-04 14:59] hakman commented on #11380
Once you use your own subnets, you also own the routing. Should work ok after that.

[2021-05-04 15:02] taragurung commented on #11380
Hoping that to be expected behavior but not working. @hakman

[2021-05-04 15:08] hakman commented on #11380
You are the only person that can debug what's wrong. Maybe SSH to the nodes and check if internet connectivity works.
This may help too: https://kops.sigs.k8s.io/operations/troubleshoot/.

[2021-05-04 15:24] taragurung commented on #11380
This is the only thing I get to see on logs. not sure where are the issues.

```W0504 15:21:03.110535    3296 validate_cluster.go:173] (will retry): unexpected error during validation: error listing nodes: an error on the server ("") has prevented the request from succeeding (get nodes)```

[2021-05-04 15:26] taragurung commented on #11380
And i am not able to ssh as well to the nodes,to debug further

[2021-05-04 15:44] hakman commented on #11380
If you are not able to ssh to the nodes, then routing settings are not correct.

[2021-05-04 16:04] olemarkus commented on #10862
Yes. That should work

[2021-05-04 18:10] olemarkus commented on #11355
Can we close this one?

[2021-05-04 22:06] #11355 closed

[2021-05-05 08:18] leiw324 commented on #11311
Please see my command from your guideline

[2021-05-05 11:09] #11380 closed

[2021-05-05 13:08] olemarkus commented on #11311
so I see
[code]

but I don't see you trying to log into `"i-085c316bb84a6770f` trying to figure out why it hasn't joined. most likely the kops-configuration or kubelet log.

[2021-05-05 15:22] zetaab commented on #11323
I am sorry, I do not have idea what is wrong. Anyways, etcd-manager is not using volumes from /dev/vd* it is using those under /dev/disk/by-id. Can you check code https://github.com/kopeio/etcd-manager/blob/e6cc5c083a951d119c1aee44d379322e2f9ce08e/pkg/volumes/openstack/volumes.go#L346-L373 and check can you find volumes from that path? `ls -l /dev/disk/by-id/` and then check does any candidateDevi

[2021-05-06 04:32] johngmyers commented on #10043
Are you using an assumed role? You might need `AWS_SDK_LOAD_CONFIG=1` in your environment.

[2021-05-07 07:04] eddycharly opened #11399 "[Question] Is there a plan for 1.19.3 ?"
Quick question, do you have a plan to release kOps 1.19.3 ?

I ask because i saw a number of fixes that would be nice to have in a release (especially the calico and kubelet related ones).

[2021-05-07 08:50] hakman commented on #11399
Yes, soon.

[2021-05-07 10:57] #11297 closed

[2021-05-07 11:29] #11399 closed

[2021-05-07 11:31] ValeriiVozniuk opened #11400 "kops 1.20 toolbox template is no longer handling env_variables redirect to --values"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
```kops v1.20.0```
The issue is reproducible starting from v1.20.0-alpha.1 and up to v1.21.0-alpha.3

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
```kubectl v1.21.

[2021-05-07 12:20] sumo-drosiek opened #11402 "containerd is forced to be used for all k8s versions by default"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

` Version 1.21.0-alpha.3 (git-f0307cdcc9)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

**3. What cloud provider are you using?**

AWS

**4. What commands did yo

[2021-05-08 20:46] justinsb commented on #11370
So we have a fix, but I'm also trying to reproduce the problem so this won't happen again.

I'm trying to create a cluster with kops 1.18.3, k8s 1.18.18, install the cluster, then move to kops 1.19.2, do a `kops update`, `kops update cluster --yes`, then I try reusing the same same kubeconfig (still works), then I try doing a rolling update with 1.19.2 (still works).

I'm sure the problem is real,

[2021-05-09 00:50] johngmyers commented on #11370
Somehow a 1.18 apiserver needs to pick up the reissued certificate.

I think you might need to `kops update cluster --target terraform` and maybe update a master before applying.

[2021-05-09 20:16] #11402 closed

[2021-05-10 02:54] laul7klau opened #11443 "kops create -f command creates wrong config folder name in as s3 bucket"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
kops version
Version 1.20.0 (git-8ea83c6d233a15dacfcc769d4d82bea3f530cf72)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Client Version: version.Info{Major:"1", Min

[2021-05-10 07:02] jlsan92 commented on #11370
Also, try having S3 as the Kops state store. Once the `Issuing new certificate: "master"` message appears, new certs appear on

`s3://kops-state-store/my.cluster.net/pki/issued/master/XXXX.crt`

and

`s3://kops-state-store/my.cluster.net/pki/private/master/XXXX.crt`

And, somehow they get picked up by the current master nodes (no rollout yet) and the problem starts

[2021-05-10 10:59] peter-svensson opened #11446 "Fully support AWS Load Balancer Controller addon"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

v1.20.6

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simples

[2021-05-10 12:50] hakman commented on #11323
@kciredor There's a new etcd-manager version that was released last week. Could you use that for further debugging, as it has various updates that may help?
https://github.com/kubernetes/kops/pull/11098

[2021-05-10 14:00] kciredor commented on #11323
Interesting. Using the new image now. But this time, on the master node, there was no /dev/vdc only /dev/vdd (and the corresponding /dev/disk/by-id/virtio-xxx symlinks). Running udevadm trigger on the master node itself, made /dev/vdd and the by-id symlink appear resulting in an immediately mounted etcd-events volume next to the existing etcd-main.

Logs reflect this after a long loop of scanning

[2021-05-10 14:43] johngmyers commented on #11370
@jlsan92 which target were you using?

[2021-05-10 14:54] jlsan92 commented on #11370
Terraform is the target cc @johngmyers

Thanks for the reply @justinsb, I just checked and I see this "looping"

[code]

The last line doesn't look good, `sync-etcd-internal.service` keeps restarting, might be that?

And, no, I made sure my masters didn't rotate before/during the `kops update cluster ...`

[2021-05-10 17:29] yuvipanda commented on #11199
I can explicitly allow core-dns to work on the master node with:

[code]

[2021-05-11 03:19] xrl opened #11450 "Setting CoreDNS version to 1.8.3 did not update its RBAC"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

kops 1.19.2 built from the release-1.19 branch

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

kubernetes 1.19.10

**3. What cloud provider are you using?**

aws

*

[2021-05-11 14:20] buggyhunter opened #11455 "Ubuntu AMI instances couldn't resolve DNS"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.19.2 (git-e288df46e173ba8ce44ac52502283206c0d211ee)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

kubectl and kubernetes version 1.19.9

**3. What cloud

[2021-05-11 16:13] nicktrav opened #11456 "gce: allow "custom" mode VPCs and subnet creation"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Currently, when creating a GCE cluster with kops, subnets are provisioned automatically. The subnet creation relies on the "automatic subnet creation" flag being enabled for the VPC in which the cluster is being provisioned.

We'd like slightly more control over the subnet creation, so I'd like to propose allowing subnet

[2021-05-11 20:07] DiegoLelis opened #11458 "kops-controller setting taint as label"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.20.0 (git-1.20.0)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
`1.17.14`

**3. What cloud provider are you using?**
aws

**4. What commands did you run?

[2021-05-11 23:17] tobernguyen commented on #8823
/remove-lifecycle rotten

[2021-05-12 02:41] rifelpet commented on #11400
kOps uses helm for its values parsing and template rendering. Based on the versions you mentioned this is likely due to the helm library being upgraded to v3. Can you update `cluster.tmpl.yaml` to be just `{{ . }}` and see if that succeeds and what the resulting file contains?

[2021-05-12 05:18] ironytr commented on #11279
working

[2021-05-12 06:57] olemarkus commented on #11400
`--values` takes a path to a values file. Your first run works because that is what you are doing. The second run does not as you are redirecting the content of your variable to `stdin`.

Older kops may have accepted values on `stdin` by default if this used to work, while the change to v3 may have lost that functionality.

[2021-05-12 07:50] ValeriiVozniuk commented on #11400
Hi rifelpet,
In case with files
[code]
In case with redirect
[code]
On 1.19.x they match

[2021-05-12 07:53] ValeriiVozniuk commented on #11400
Hi olemarkus,
Any chance this would be fixed? Writing several files from env variables at runtime doesn't look like a good thing to do. Yes, writing can be used as a workaround, but I think it would be better to have a proper fix.

[2021-05-12 08:22] DiegoLelis commented on #11458
The kops controller was trying to sync the cloudlabel: ` k8s.io/cluster-autoscaler/node-template/label/taint/dedicated: gpu:NoSchedule` with nodeLabels, and adding the gpu:NoSchedule as a label.
I just removed those labels because the kops-controller is already setting the necessary cloudlabels for cluster autoscaler just by setting the taint

[2021-05-12 08:22] #11458 closed

[2021-05-12 09:59] hakman commented on #11455
Hi @buggyhunter, I would suggest to add a simple cluster config that can be used to reproduce this to the ticket.

[2021-05-12 11:47] #11279 closed

[2021-05-12 11:53] pjaak commented on #10558
Hi,

Curious if you ever solved this?

We just reached docker rate limiting and wanted to switch to our artifactory repo for docker images however running into this issue aswell:
`May 12 11:39:28 ip-10-0-11-116 kubelet[6424]: E0512 11:39:28.820078    6424 kuberuntime_image.go:51] Pull image "myartifactory.jfrog.io/elmo-docker/kube-controller-manager:v1.19.7" failed: rpc error: code = Unknown desc

[2021-05-12 16:48] huanggze opened #11469 "expected a single <clustername> to be passed as an argument"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.20.0 (git-8ea83c6d233a15dacfcc769d4d82bea3f530cf72)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

I am just about to create a cluster.
[code]
**3. What c

[2021-05-12 18:35] mikedanese opened #11471 "e2e-kops-gce-stable is consistently failing"
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/e2e-kops-gce-stable

This was noticed in the sig-auth meeting because of the noise it's causing in gubernator. It looks like kops isn't passing a few conformance tests.

[2021-05-12 21:18] cardoe commented on #9933
This appears to be still broken with 1.20. It might be related to this commit in gophercloud... https://github.com/Lirt/gophercloud/commit/e54703519a9c3bcf1e3c25450a02614beb583c6d

[2021-05-12 21:51] cardoe commented on #9933
/reopen

[2021-05-12 21:53] cardoe commented on #9933
@olemarkus Can we reopen this issue and update the version of gophercloud once the fix lands upstream?

[2021-05-13 06:25] olemarkus commented on #9933
/reopen

[2021-05-13 06:51] jdomag opened #11478 "Feature: support for kubectl drain pod selector in rolling update"
Would be great to have a --pod-selector flag in kops rolling update - it means that during the drain process only selected pods are evicted from the node (already supported by kubectl drain command).

Use case:
We use a lot of jobs in the cluster and doing an upgrade is a manual process at the moment - we can't use kops rolling update because jobs don't have PDB defined and are evicted during roll

[2021-05-13 08:59] mtb-xt commented on #10798
Well, unless someone fixed this and I didn't notice...

/remove-lifecycle stale

[2021-05-13 14:17] MoShitrit commented on #11144
I love option 3! That seems like it's the most flexible to the user.
I'll try to work on that soon.

[2021-05-13 18:27] #10350 closed

[2021-05-13 18:32] olemarkus commented on #11478
I am not sure this will do what you think it will.

If you set a pod selector on `kubectl drain`, those will be evicted. All well and good. But then kOps will terminate the instance and your Jobs are killed anywhere. Maybe even less graceful than if it was drained.

If you are using CAS, your best bet is to do something like `kops rolling-update --instance-group-roles=master`, then cordon/taint al

[2021-05-13 18:59] johngmyers commented on #11478
I would say you should put a PDB on your jobs.

[2021-05-14 07:39] olemarkus commented on #11400
It can and should be fixed. It is not on my priority list though, but I would absolutely review a PR if anyone is willing to have a look.

/kind bug

[2021-05-14 07:44] olemarkus commented on #10558
@pjaak are you saying kubernetes does not pick up the config.json file deployed by kOps? Can you post your cluster spec?

[2021-05-14 07:57] olemarkus commented on #11471
There has been work lately on cutting down on these errors. Looks like it is only one remaining: https://testgrid.k8s.io/kops-gce#kops-gce-latest

/cc @rifelpet

[2021-05-14 09:09] huanggze commented on #8791
Hi, @pawanvivekananda did u manage to solve it? i just have the error message when export kubeconfig after installing my cluster on aws.

[2021-05-14 11:14] jdomag commented on #11478
That's kind of difficult. Jobs are not a good candidate for packing it into the helm chart, we run them as fire and forget - apply k8s manifest and waits until the job is done - then it's automatically removed by k8s once TTL expires. If we added PDB to it I can image that PDB would be hanging there forever.

@olemarkus
Fair point, I forgot that rolling-update terminate instance at the end. What I

[2021-05-14 11:21] olemarkus commented on #11478
Do you actually need kOps to do anything to implement this? It seems like `kubectl drain` has everything you need

[2021-05-14 11:25] jdomag commented on #11478
Well I like the kops logic and how it handel rolling upgrade e.g. I use surge (https://kops.sigs.k8s.io/operations/rolling-update/#maxsurge)  that speed up whole process very well

[2021-05-14 11:36] olemarkus commented on #11478
What you need isn't really a rolling-update. You could maybe call the AWS API directly to scale up the amount of nodes in the cluster rather than draining and then have CAS scale up.

[2021-05-14 12:05] huanggze commented on #11469
solved by removing `--dns-zone`, though don't know why that works

[2021-05-14 12:05] #11469 closed

[2021-05-14 12:53] mikesplain opened #11492 "CNCF Kubernetes Conformance for kOps 1.20"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
We should be conformant for 1.20

**2. Feel free to provide a design supporting your feature request.**

[2021-05-14 12:53] mikesplain commented on #11492
Testing in progress.

[2021-05-14 14:40] johngmyers commented on #11478
@jdomag you could have a single, permanent PDB with a `minAvailable` of, say, `2147483647` and a `selector` that matches the Pods from all those Jobs you submit.

Or perhaps you could set `spec.rollingUpdate.dranAndTerminate` to `false`.

[2021-05-15 07:38] ari-becker commented on #9143
/remove-lifecycle stale

[2021-05-15 11:59] rifelpet commented on #11471
Thanks for the report. We've finished up some kubetest2 migrations on our GCE jobs and the job is now consistently passing.

/close

[2021-05-15 11:59] #11471 closed

[2021-05-16 08:44] dntosas commented on #11450
fixed with https://github.com/kubernetes/kops/pull/11459

[2021-05-16 14:52] xpepermint opened #11503 "Unable to connect"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.20.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]
**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest

[2021-05-16 15:37] johngmyers commented on #11503
"unable to connect" and "inaccessible" are vague descriptions of what happened. A better bug report would describe precisely the output you got.

I suspect you didn't read [the release note on changes to kubernetes config export](https://kops.sigs.k8s.io/releases/1.19-notes/#changes-to-kubernetes-config-export).

[2021-05-16 15:38] xpepermint commented on #11503
Yeah, sorry. I think it's required to have 3 nodes and I had 2.

[2021-05-16 15:38] #11503 closed

[2021-05-16 22:28] object88 opened #11505 "Discover which version of `kops` manages a given cluster"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

I have a collection of clusters which were created by `kops` at different times, and they get upgraded to different versions of Kubernetes at different times.  At any given time, they may be a minor version apart (i.e., we've moved _some_, but not _all_, from `1.x` to `1.[x+1]`, or maybe even two.

Given this, I want to

[2021-05-16 23:04] johngmyers commented on #11505
There's a file `kops-version.txt` in the state store. That got added in 1.19.

We do build and release kops-controller in the same process as kops and thus give it the same version number.

I wouldn't say either of these are part of the defined API.

[2021-05-16 23:46] rifelpet commented on #8723
/remove-lifecycle stale

[2021-05-17 11:34] daviddyball commented on #8142
/reopen

[2021-05-17 11:34] daviddyball commented on #8142
/remove-lifecycle rotten

[2021-05-17 11:34] daviddyball commented on #8142
This would still be a very useful feature to have.

[2021-05-17 13:54] h3poteto commented on #8823
I can reproduce this using master `git-3eacde0212`.
At the moment, kops delete only Instance Profiles that match [this expression](https://github.com/h3poteto/kops/blob/f3f131f7453b62f5ec42ea32fa8ceec20d9e3eae/pkg/resources/aws/aws.go#L2020-L2022). Deletion of IAM Roles is [similar condition](https://github.com/h3poteto/kops/blob/f3f131f7453b62f5ec42ea32fa8ceec20d9e3eae/pkg/resources/aws/aws.go#L1

[2021-05-17 13:55] h3poteto commented on #8823
I will take this issue.

/assign

[2021-05-17 15:30] object88 commented on #11505
That's helpful, thanks.  We _just_ got to `1.18` for most deployments, so in lieu of something more official, I will check for the `kops-version.txt` file first, and then fall back.

[2021-05-17 15:38] johngmyers commented on #8823
#11497 changes the logic for deleting IAM Roles from using name to using ownership tags. A similar change could be made for Instance Profiles.

[2021-05-17 15:54] h3poteto commented on #8823
@johngmyers Nice changes. #11497  will resolve a part of this issue.

It's good.
But this issue proposes `lifecycle-overrides` option, which do you think is the better way?

[2021-05-18 09:06] Ogguz opened #11511 "Add support for KubeVirt"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

[KubeVirt](https://kubevirt.io) is a virtualization API for Kubernetes. It would be nice to provide KubeVirt as a cloud source.

[2021-05-18 09:30] jdomag commented on #11478
@johngmyers
We can't have minAvaliable as each job is unique. I can set common label for all the jobs and attach PDB, but it means that if I have 10 jobs and minAvaliable=1 then 9 jobs will be terminated. I would have to update PDB each time I schedule a job and increase / decrease minAvaliable.

But thanks for  `spec.rollingUpdate.dranAndTerminate` I was not aware of this. I can then use `maxSurg

[2021-05-18 11:01] omg-sr opened #11513 "breaking change for spot inst elasticgroup users: machine type specified is invalid"
Hey :wave:

I'm encountering a breaking change when trying to update my cluster using the latest v1.20.1 release.

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

I0518 11:47:03.561416   10409 featureflag.go:165] FeatureFlag "Spotinst"=true
Version 1.20.1 (git-5a27dad40a703f646433595a2a40cf94a0c43cd5)

**2. What Kubernetes version are you ru

[2021-05-18 14:15] xoxbet opened #11515 "Unable to provide evictionHard to kubelet using kops 1.20"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.20.0 (upgraded from 1.19 series)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
v1.20.6

**3. What cloud provider are you using?**
aws

Cluster spec related with k

[2021-05-18 14:25] johngmyers commented on #11478
@jdomag my suggestion was to set `minAvailable` to `2147483647`, not `1`. That way, none of your unique jobs would be evicted.

[2021-05-18 14:49] hakman commented on #11513
I have a pretty good idea what's wrong there. Thanks for reporting.
/assign

[2021-05-19 06:13] hakman commented on #8432
Initial support for configuring IPv6 with AWS was merged today in https://github.com/kubernetes/kops/pull/11442. More PRs will follow to address remaining issues.

At the moment, the IPv6 feature configures the following AWS components:
* VPC:
  * always requests the IPv6 CIDR from AWS
  * cannot be disabled
* Routes:
  * always creates the default IPv6 route (for public topologies)
* Security Gro

[2021-05-19 08:11] olemarkus commented on #11515
Never mind those deprecation warnings. While k8s claim they are deprecated, the replacement are in perpetual beta. Which is why kOps still use the flags. Have not used the evictionHard feature, but I would assume if it is configured correctly, it should work.

[2021-05-19 08:13] olemarkus commented on #10836
/remove-lifecycle stale

Nothing more that can be done here.

/close

[2021-05-19 08:13] #10836 closed

[2021-05-19 08:34] atorrescogollo opened #11526 "kops get clusters not working without name flag (swift backend)"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.20.1 (git-5a27dad40a703f646433595a2a40cf94a0c43cd5)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
N/A

**3. What cloud provider are you using?**
openstack

[2021-05-19 08:41] WoodProgrammer commented on #8959
Hi there is only one instance is returning this error , I've tried this solution at this link
https://github.com/kubernetes/kops/issues/8959#issuecomment-618629976

into only one master-node with the name MASTER-A (cluster has 3 master-node) so etcd was not coming back up and  `tls certificate error still returning reffering to "serverName: other-master-address" `

[code]
Do you have any idea abou

[2021-05-19 08:42] WoodProgrammer opened #11527 "Etcd certificate renewing progress is not working properly"
Hi there is only one instance is returning certificate-expiration error , I've tried this solution at this link
https://github.com/kubernetes/kops/issues/8959#issuecomment-618629976

into only one master-node with the name MASTER-A (cluster has 3 master-node) so etcd was not coming back up and  `tls certificate error still returning referring to "serverName: other-master-address" `

[code]
Do you

[2021-05-19 09:34] hakman commented on #11527
There is an advisory about this, please follow the recommendations:
https://kops.sigs.k8s.io/advisories/etcd-manager-certificate-expiration/

[2021-05-19 09:42] atorrescogollo opened #11528 "Cluster created but not working on private Openstack cloud with private CA"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.20.1 (git-5a27dad40a703f646433595a2a40cf94a0c43cd5)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
openst

[2021-05-19 09:48] WoodProgrammer commented on #11527
Hi it's done we have tried it in all instances.
Thank you @hakman

[2021-05-19 09:48] #11527 closed

[2021-05-19 13:10] lboix commented on #8959
Hello @WoodProgrammer, I would suggest to apply the main solution you linked to all of your 3 master nodes.
They have been likely created around the same time (at the cluster creation) so if one master already had its etcd certificates expired because of what we discuss in this thread (etcd-manager version too old that does rotate certificates automatically) then the two others will follow soon.

[2021-05-19 13:46] alejandroandreu commented on #10753
@hakman do you think this is IAM policy should be included by default in Kops or should we close this?

[2021-05-19 13:59] hakman commented on #10753
Sorry for my late reply, forgot all about this. In my opinion, the permission should be added using additional policies:
https://kops.sigs.k8s.io/iam_roles/#adding-additional-policies

[2021-05-19 14:07] olemarkus commented on #10753
or IRSA once 1.21 is out :)

[2021-05-19 20:32] ryan-dyer-sp opened #11537 "kops breaking auth with kubeconfig changes"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.19.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.19.x

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest wa

[2021-05-20 05:23] hakman commented on #11537
Similar to https://github.com/kubernetes/kops/issues/11021 and https://github.com/kubernetes/kops/issues/11000.
@ryan-dyer-sp can you check if https://github.com/kubernetes/kops/issues/11021#issuecomment-816568687 helps?

/cc @justinsb @johngmyers

[2021-05-20 11:21] jdomag commented on #11478
oh ok - that make sense :) I will try that out, thanks!

[2021-05-20 11:21] #11478 closed

[2021-05-20 19:57] zetaab commented on #11528
Kops does not support self signed certificates in openstack setup

[2021-05-21 00:20] johngmyers commented on #8823
@h3poteto I'm struggling to understand what a lifecycle-overrides option to a `delete cluster` command would mean, especially in the general case. Would we need to support giving the `--phase` flag to `delete cluster`? With which combination of flags would we want to remove the cluster from the state store?

[2021-05-21 02:54] kellycampbell opened #11545 "AWS ASG couldn't launch new instances: Client error on launch"
During an upgrade, new instances were never starting and had this error in the AWS console instance troubleshooting section:

`Client.InternalError: Client error on launch`

This documentation page describes the issue and resolution:
https://docs.aws.amazon.com/autoscaling/ec2/userguide/ts-as-instancelaunchfailure.html#ts-as-instancelaunchfailure-12

In my case, I just had to grant the right polic

[2021-05-21 03:14] johngmyers commented on #11545
This report is missing the information as to which policies were missing. If it was caused by these unspecified new policies attached by your parent organization, I don't know how we could assist without at least knowing what those policies were.

Perhaps you are asking about [documentation for how to add additional IAM policies](https://kops.sigs.k8s.io/iam_roles/#adding-additional-policies)?

[2021-05-21 07:42] hakman opened #11546 "Remove `--cloud-provider` flag"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Kubelet `--cloud-provider` and `--cloud-config` flags are being deprecated and will be removed in Kubernetes 1.23.
https://github.com/kubernetes/kubernetes/pull/90408

**2. Feel free to provide a design supporting your feature request.**

Probably we need to discuss and plan how to handle this in 1.22 and 1.23

/cc @just

[2021-05-21 08:50] atorrescogollo commented on #11528
Thank you for your reply. In fact, they are not self-signed. They are signed by a private CA. I think that in an Openstack environment it is reasonable to have a private CA since it is private cloud. Is it planned to support this use case?

[2021-05-21 10:22] kellycampbell commented on #11545
Upon further digging, I no longer think this had anything to do with parent organization policies or config.

kops v1.20.0 made root volumes enabled by default, and unbeknownst to me, a teammate had specified a default ebs encryption key for this region last year, but we'd never used it with ASG's until now.

I'm not sure if policies within the `additionalPolices` section would work for this. The

[2021-05-21 11:41] shawel opened #11550 "Kubernetes upgrade from 1.15.12 -> 1.16.15 failed using kops"
Rolling upgrade done using kops 1.18 aborted
Other nodes are still in version 1.15.12 and working
Some master nodes have upgraded to 1.16.15

Node does not get to ready mode! ??
kubectl describe node ip-172-20-60-239.ec2.internal has the following status

[code]

[2021-05-21 14:01] wesselvdv commented on #11528
This is not necessarily supported by kOps, but it's very easy to add custom startup script using `spec.additionalUserdata`

[2021-05-21 14:04] wesselvdv commented on #11528
Example:

[code]

[2021-05-21 14:07] bokysan commented on #8983
/reopen

[2021-05-21 14:11] olemarkus commented on #8983
I don't think there is much point in trying to reopen this. If one wants support, one would have to provide PRs.

[2021-05-21 14:18] bokysan commented on #8983
Seems so, yeah. :-/

[2021-05-21 14:33] olemarkus commented on #8983
What you can do is to ask Hetzner to sponsor this. That is what many of the other cloud providers has done. DO especially, as of late

[2021-05-21 14:46] olemarkus commented on #11251
All updated :tada:

/close

[2021-05-21 14:46] #11251 closed

[2021-05-21 17:46] johngmyers commented on #10777
Per kOps office hours, remaining work does not block 1.21

[2021-05-21 18:28] atorrescogollo commented on #11528
I found why /etc/ssl/certs is not mounted in etcd containers. **I put `useHostCertificates` in InstanceGroup resource instead of Cluster resource**. My bad. Cluster nodes are now in Ready state. Correct configuration should be:
[code]
[code]

[2021-05-21 18:28] #11528 closed

[2021-05-21 20:08] gswallow commented on #11062
Can somebody explain @h3poteto's comment in plain English?  How does one get kops to create a cluster in an AWS account where EBS volume encryption has been enabled by default?

[2021-05-22 05:17] hakman commented on #10959
Spotinst uses `machineType` for a "," separated instance types list, which is not ideal.
`mixedInstancesPolicy` also has `instances` field for an instance types list.
I think going forward `machineType` should be a list, to have a single place to keep such info.

[2021-05-22 12:37] #10329 closed

[2021-05-22 13:02] hakman commented on #10272
/remove-lifecycle stale
/lifecycle frozen

[2021-05-22 13:23] h3poteto commented on #8823
@johngmyers I was expecting something like...
For example when I execute `kops delete cluster --lifecycle-overrides IAMRoles=Ignore`, kops deletes the cluster leaving only IAMRole. More specifically, when that option was specified, kops skips [these actions](https://github.com/kubernetes/kops/blob/d906f8312196dcac6e3c7784948f06e1b832df1b/pkg/resources/aws/aws.go#L84) in delete cluster command.

I'

[2021-05-22 16:23] johngmyers commented on #10959
We need to fix #9229 before we can do any apiversion changes.

[2021-05-22 16:27] johngmyers commented on #10959
We are way beyond being able to use the alpha rules. The next apiversion needs at least beta guarantees. We need to treat v1alpha2 as at least beta, if not stable.

I would say that we do not need to roundtrip fields that either cause validation to fail or have no effect on behavior.

[2021-05-22 16:53] johngmyers commented on #8823
@h3poteto perhaps you could look it up in the documentation?

[2021-05-22 16:57] h3poteto commented on #8823
@johanhubens Is this https://kops.sigs.k8s.io/cli/kops_update_cluster/#options ?

This option is similar I expected.

[2021-05-22 17:06] h3poteto commented on #8823
I think that your suggestion

is good idea.
We can delete Instance Profiles using ownership tags with the same logic as #11497 . If it can be implemented, I think that those options are unnecessary.

[2021-05-23 06:09] #11513 closed

[2021-05-23 14:01] ari-becker opened #11576 "Support structured logging ('--logging-format=json')"
As part of [KEP 1602 - Structured Logging](https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1602-structured-logging) the `--logging-format=json` flag was added to Kubernetes 1.19 in the following PRs:

* [kubelet](https://github.com/kubernetes/kubernetes/pull/91532)
* [kube-controller-manager](https://github.com/kubernetes/kubernetes/pull/91521)
* [kube-scheduler](ht

[2021-05-23 15:12] hakman commented on #11576
Thanks for the suggestion @ari-becker. Seems like an easy change, so anyone that wants to add thin new flag is welcome to do it.

[2021-05-24 14:01] ari-becker opened #11589 "When migrating a pre-existing cluster to containerd, the AWS VPC CNI DaemonSet still mounts dockershim"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.20.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.19.10

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest w

[2021-05-24 14:59] ari-becker commented on #11589
@johngmyers I concur, I do see when running `update cluster`:

[code]

which means that the containerd.sock should be mounted correctly. However, `updateStrategy` is rolling and not `OnDelete`.

[2021-05-24 15:36] johngmyers commented on #11589
Calico, Canal, and Weave are other CNIs that are still set to RollingUpdate.

[2021-05-25 05:04] #11589 closed

[2021-05-25 05:42] callum-p commented on #10206
Using additionalUserData doesn't even work. I have this in my cluster spec:

[code]

and when I check on a new node:

![image](https://user-images.githubusercontent.com/7827942/119445185-8634c180-bd80-11eb-8cac-b2f3c9c59817.png)

[2021-05-25 08:39] KlavsKlavsen commented on #11062
No. I didn't do that - I just created a cluster with KOPS - but as I did not specify disks to be encrypted - AWS sets them to be encrypted (perhaps we have a policy enforcing this in AWS somewhere)..  the validation removal should help.. I'll try once latest 1.20 version of kops is released with this.

[2021-05-25 09:00] hakman commented on #11062
@KlavsKlavsen I think 1.20.1 got released with the validation removal.

[2021-05-25 10:55] itskingori commented on #7604
/remove-lifecycle rotten

[2021-05-25 13:24] ryan-dyer-sp commented on #9929
/reopen

[2021-05-25 13:24] ryan-dyer-sp commented on #9929
/remove-lifecycle rotten

[2021-05-25 13:25] ryan-dyer-sp opened #11599 "Unable to use amazonvpc in govcloud region"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.19

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.19

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest way to

[2021-05-25 13:53] #10499 closed

[2021-05-25 19:08] zetaab opened #11603 "Add support for AWS Outpost"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

We would like to see AWS Outpost support in kops

**2. Feel free to provide a design supporting your feature request.**

Currently it is not clear that what parts we need to modify to get Outpost working.

- [ ] When creating subnet we need specify `OutpostArn` https://docs.aws.amazon.com/sdk-for-go/api/service/ec2/#Crea

[2021-05-26 04:47] olemarkus commented on #10777
@Jiawei0227 I was looking for an update on CSI migration, but it looks like many of the linked issues have gone stale. Is this still targeting 1.22?

[2021-05-26 17:06] jaredstehler opened #11607 "Enforcing kube-reserved fails after migrating to containerd runtime"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Tried 1.19.3 and 1.20.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.19.10 and 1.20.6

**3. What cloud provider are you using?**
AWS

**4. What commands did you

[2021-05-26 17:20] f-ld opened #11608 "Add support for AWS LB access log collection"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
When creating k8s clusters with kops on AWS, we have the [ability to select the cluster class](https://kops.sigs.k8s.io/cluster_spec/#load-balancer-class), either classic ELB or NLB (and more, like subnet configuration.

What cannot be done is the ability to configure access logs (for ELB or NLB with TLS termination).
Add

[2021-05-26 20:06] Jiawei0227 commented on #10777
AWS EBS, GCE PD and Azuredisk is still targeting turning on by default in 1.22

[2021-05-26 23:49] callum-p commented on #10206
None of the previous mentioned fixes worked for me. I dedicated some time to this today and have this reliable workaround. It temporarily turns reduces the MTU to 1500, then after 3 minutes turns it back to what it was originally. Obviously this will cause the node to still have the root cause issue, but it has fixed my plagued cluster.

[code]

[2021-05-27 13:08] #10753 closed

[2021-05-28 14:43] fvasco commented on #10206
We detected a similar error when launching two nodes at the same time.
One node works as expected and it downloads `kubelet` in 0.7s.

The other one logs:

[code]

Is this error related?

[2021-05-28 16:13] pawel-powroznik opened #11623 "Cannot create cluster due to oservice-account-jwks-uri setting"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
❯ kops version
Version 1.20.1 (git-5a27dad40a703f646433595a2a40cf94a0c43cd5)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

ubuntu@ip-172-20-38-9:/etc/kubernetes/ma

[2021-05-29 01:00] johngmyers commented on #11623
kOps no longer uses `/srv/kubernetes/server.key` as the service account signing key. The key in that file is now different for each control plane node. Why are you overriding those settings like that?

[2021-05-29 18:28] pawel-powroznik commented on #11623
I used this key for  ServiceAccountTokenVolumeProjection feature which is required to install Istio.
https://github.com/istio/istio/issues/17378#issuecomment-594366491

This was working with k8s 1.18 and 1.19.

[2021-05-29 22:15] johngmyers commented on #11623
That information is out of date. See https://kops.sigs.k8s.io/operations/service_account_token_volumes

[2021-05-30 07:10] olemarkus commented on #11623
I think those docs may also be a little bit out of date.

kOps 1.20+ will set the issuer settings correctly by default.
When istio uses  ServiceAccountTokenVolumeProjection, I assume it sets the correct audience on the projected token directly as well. So removing those API server settings will most likely make things work properly.

[2021-05-30 12:42] oded-dd commented on #10977
@olemarkus we encountered the same issue, we just want to be able to edit/replace the configmap used by the kubescheduler to support https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/
Is it possible, if we'll change the configMap the scheduler will be able to use it?

[2021-05-30 15:01] hakman commented on #8831
/reopen
/remove-lifecycle rotten

[2021-05-30 16:44] olemarkus commented on #10977
As mentioned this is not a configmap. It is a file written to disk that kube-scheduler consumes through a CLI flag.

[2021-05-30 17:47] johngmyers commented on #8831
/area cloudformation

[2021-05-30 17:55] johngmyers commented on #8831
/area cloudformation

[2021-05-30 18:22] johngmyers commented on #10400
I believe this would need to be added to `drain.Helper` in the upstream go-client.

One might want two timeouts: one on the PDB and another on `terminationGracePeriodSeconds` (once one has decided to involuntarily evict).

Another useful feature would be to first involuntarily evict the unready pods that are under PDB and give time before involuntarily evicting the ready pods.

[2021-05-30 19:55] johngmyers opened #11633 "Implement WarmPool on Terraform"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Implement `WarmPool.RenderTerraform()`

**2. Feel free to provide a design supporting your feature request.**

/kind feature
/area terraform
/lifecycle frozen

[2021-05-30 20:00] johngmyers opened #11634 "Implement IAM OIDC Provider in CloudFormation"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Implement `IAMOIDCProvider.RenderCloudformation()`

**2. Feel free to provide a design supporting your feature request.**

/kind feature
/area cloudformation
/lifecycle frozen

[2021-05-30 20:02] johngmyers opened #11635 "Implement external IAM policies in CloudFormation"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Implement `ExternalPolicies` in `IAMRolePolicy.RenderCloudformation()`

**2. Feel free to provide a design supporting your feature request.**

/kind feature
/area cloudformation
/lifecycle frozen

[2021-05-30 20:05] johngmyers opened #11636 "Implement Instance routes in CloudFormation"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Implement rendering the `Route.Instance` field in `Route.RenderCloudformation()`

**2. Feel free to provide a design supporting your feature request.**

/kind feature
/area cloudformation
/lifecycle frozen

[2021-05-30 22:49] johngmyers opened #11638 "Create criteria for cloud providers to graduate to beta or GA"
Decide and document criteria for a cloud provider to graduate to beta or GA status.

Things to consider:

* e2e tests
* e2e presubmit
* kops toolbox instance-selector
* UseKopsControllerForNodeBootstrap
* dns-controller
* apiserver  node role
* instancegroup volumes
* serviceaccount IAM
* encryptEtcdStorage by default for new clusters
* private topology
* external-dns
* terraform target
* rolling-

[2021-05-31 04:37] callum-p commented on #10206
@fvasco yes, those are the same symptoms :(

[2021-05-31 07:34] olemarkus commented on #10777
@Jiawei0227

After migrating to using the AWS EBS CSI driver by default we see this test consistently flaking:
`[sig-storage] Volume limits should verify that all nodes have volume limits`

https://kubernetes.io/docs/concepts/storage/storage-limits/#dynamic-volume-limits hints at that volume limits are now in a different location (CSINode instead of Node), but I would assume the tests were aware o

[2021-05-31 07:47] pawel-powroznik commented on #11623
I can confirm that kops 1.20.1 sets Service Account Token Volume Projection by default, without any custom kubeapi settings.
This issue can be closed.
Probably below docs need to be updated:
https://kops.sigs.k8s.io/operations/service_account_token_volumes/

[2021-05-31 08:17] olemarkus commented on #10977
For kOps to be able to handle ComponentConfig objects, we'd have to be able to transfer them from client to nodes, and in order to do this we need to be able to read them from local files and write them to e.g VFS. This in turn require https://github.com/kubernetes/enhancements/issues/1815 so we can use name/labels to identify which cluster the configuration is actually for. So until that KEP has

[2021-05-31 08:56] hakman commented on #10206
/remove-lifecycle stale
/lifecycle frozen

[2021-05-31 09:09] olemarkus commented on #11638
Feature-wise I think these are good points.

I also think we need some criterias around
* active maintainers
* access to dev environments

[2021-05-31 12:58] ottosulin opened #11643 "Kubelet duplicates log messages to log files"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.21.0 alpha 3

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.21.0

**3. What cloud provider are you using?**
OpenStack

**Description**

A cluster node

[2021-05-31 13:11] shamil opened #11644 "Error when starting a k8s 1.19 cluster specifying custom iam roles"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

[code]

**4. What commands did you run?  What i

[2021-05-31 13:26] shamil commented on #11644
Seems to be after restarting `kops-controller`, it was able to pick up the changes in the `configmap`. And now it works.

[2021-05-31 15:00] olemarkus commented on #11623
Just to confirm, you are not setting any custom audience either (istio-ca), right?

[2021-05-31 15:04] johngmyers commented on #11644
So you're saying you made some change not mentioned in the reproduction steps?

[2021-05-31 15:18] johngmyers commented on #11638
I doubt a cloud provider would meet whatever feature parity requirement we set without an active maintainer.

Does AWS even meet an "access to dev environments" requirement? My access to an AWS dev environment is through my employer, without which I would have to give AWS my credit card and risk four-figure bills due to AWS's lack of spending limits.

[2021-05-31 15:33] ioniryonathan opened #11646 "Allow attachment of more the one network interface (AWS, GCP)"
/kind feature

When creating a vm/instance, I would like to allow attaching an additional ENI (in AWS) or any other equivalent to the worker nodes.

[2021-05-31 15:35] shamil commented on #11644
Basically after adding a new node pool to the cluster and specifying custom IAM profile in the node's spec, the configmap get updated as it should, but seems like `kops-controller` doesn't pick the updated configmap and I manually need to restart the pod in order for the changes in configmap to take effect.

[2021-05-31 15:48] pawel-powroznik commented on #11623
yes, I do not have any custom kubeapi settings. Only defaults created by running below command:
[code]

[2021-05-31 15:52] #11623 closed

[2021-05-31 15:58] Patil2099 commented on #11633
I am new to this project and would love to help in implementing this feature. Can you guide me a little? @johngmyers

[2021-05-31 16:09] johngmyers commented on #11633
The task is to implement `WarmPool.RenderTerraform`.

I would suggest looking at other `RenderTerraform` receivers to see how they work. You'll need to create an annotated struct corresponding to the Terraform configuration syntax.

Adding an integration test for warmpool would also be good. The integration tests are in kops/cmd/kops/integration_test.go.

[2021-05-31 16:09] olemarkus commented on #11646
In most cases you want to do this with a pod. If you want this to happen pre-kubelet, you can use hooks for this. See https://kops.sigs.k8s.io/cluster_spec/#hooks

[2021-05-31 17:06] johngmyers commented on #11633
It looks like Terraform puts this inside the ASG definition, so you'll probably have to put this in `AutoscalingGroup.RenderTerraform` instead.

[2021-05-31 19:01] Itaachime commented on #11633
/assign

[2021-05-31 19:38] #5092 closed

[2021-06-01 06:15] olemarkus commented on #10959
I think we can promote v1alpha2 to v1. It just seems silly to have a stable product use alpha API versions that are really of v1 quality.

I think perhaps what we are discussing is v2alpha1.

[2021-06-01 13:26] hrytskivr opened #11660 "Cannot create cluster, s3 cluster.spec error"
Hi, trying to follow a tutorial and getting this:

error writing completed cluster spec: error writing configuration file s3://clusters.kube.hrytskivr.xyz/kube.hrytskivr.xyz/cluster.spec: error writing s3://clusters.kube.hrytskivr.xyz/kube.hrytskivr.xyz/cluster.spec: RequestError: send request failed
caused by: Put "https://s3.eu-central-1.amazonaws.com/clusters.kube.hrytskivr.xyz/kube.hrytskivr.x

[2021-06-01 16:45] zetaab commented on #11643
os: debian buster (10) and containerd in use

[2021-06-01 18:19] Jiawei0227 commented on #10777
To support VolumeLimite, the AWS CSI driver need to advertise this in their `NodeGetInfoResponse` call.

https://kubernetes-csi.github.io/docs/volume-limits.html

I am not very familiar with ebs driver. @wongma7 do you have any insights when running the migration tests?
/cc @msau42

[2021-06-02 09:19] hrytskivr commented on #11660
Just tried on macOS and it works fine there.
First try was at WSL2

[2021-06-02 12:08] olemarkus commented on #10147
/remove-lifecycle rotten

This is an upstream issue https://github.com/kubernetes/kubernetes/issues/92067 (among others). They should all have been fixed. Can you confirm that you are using latest supported k8s and still seeing this issue?

[2021-06-02 17:57] #10362 closed

[2021-06-03 00:03] archoversight opened #11669 "kops-controller uses insecure TLS ciphers (SWEET32)"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

kops 1.19.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.19.9

**3. What cloud provider are you using?**

aws

**4. What commands did you run?  What

[2021-06-03 21:26] wesselvdv opened #11685 "Seemingly arbitrary zone and subnet correlation for openstack"
I am trying to use a terraform provider for kOps with Openstack, and I am running into an issue with that’s caused by the code below:

https://github.com/kubernetes/kops/blob/466877c8d5105e8cf11dfaa8a4868924d316ec9d/upup/pkg/fi/cloudup/openstack/cloud.go#L555-L582

from my understanding there’s no such thing as a subnet in a specific availability zone for Openstack. This makes it damn near impossi

[2021-06-04 03:32] johngmyers commented on #11685
/area provider/openstack

[2021-06-04 08:35] olemarkus commented on #226
I believe this should work now. There should also not be any need for `export AWS_SDK_LOAD_CONFIG=1`

[2021-06-04 15:07] johngmyers commented on #5632
This behavior can already be disabled by setting `cluster.spec.disableSubnetTags: true`.
/close

[2021-06-04 15:08] #5632 closed

[2021-06-04 16:40] rifelpet opened #11689 "Upgrade usage of deprecated APIs removed in k8s 1.22"
/kind feature

**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22

In order to support k8s 1.22, kops will need to update its usage of deprecated APIs that have been removed in k8s 1.22.

[We first discovered this in testing the aws-load-balancer-controller](https://github.com/kubernetes-sigs/aws-loa

[2021-06-04 19:36] johngmyers commented on #226
The need for `AWS_SDK_LOAD_CONFIG=1` was removed by #11387.

kOps doesn't configure anything to allow manual prompting for an MFA code.

[2021-06-05 05:15] #10043 closed

[2021-06-05 16:34] oded-dd commented on #9713
/remove-lifecycle rotten

[2021-06-05 16:34] oded-dd commented on #9713
/remove-lifecycle stale

[2021-06-05 20:41] otakumike opened #11699 "Unable to complete "Required Actions" on 1.18.3 with "error reading cluster configuration""
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.18.3 (git-11ec695516)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
AWS

**4. What commands d

[2021-06-05 22:42] johngmyers commented on #8432
I recommend declaring dual-stack as out of scope. If we do it at all it should be a separate ticket.

The entire point of IPv6 is to not assign IPv4 addresses to things. We should be targeting a topology where the private and cluster networks are IPv6-only and dual-stack, if it exists at all, is only at the node level in the utility subnets, for cluster ingress and egress.

I would suggest as a wo

[2021-06-06 03:20] #10543 closed

[2021-06-06 09:26] olemarkus commented on #11699
This bug is filed against an unsupported kOps version. At minimum upgrade to 1.20 and see if the behavior persists.

[2021-06-06 17:13] EladDolev commented on #11356
One use-case (I've been using for years) is outputting kops outputs as Terraform code, and overriding IAM roles for different instance groups
The thing is that kops built-in mechanism for this only works if all IAM roles/profiles are being controlled from outside of kops, and this is not very convenient

[2021-06-06 18:35] johngmyers commented on #11356
@EladDolev then I believe your request is to allow a mix of existing and managed instance profiles.

[2021-06-06 18:37] krisshub opened #11705 "rootVolumeSize value not respected for on demand node instance group with 5TB root disk"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.18.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Client Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.6-beta.0", GitCommit

[2021-06-06 18:55] olemarkus commented on #11705
This bug report is against an unsupported version of kOps. At minimum, upgrade to latest kOps and see if the bug persists.

In particular there are changes done to root volume support in 1.20+.

[2021-06-06 18:58] johngmyers commented on #11705
/close

[2021-06-06 19:32] rifelpet commented on #10386
@srikiz with our initial job in place I think we can close this. If you have other cluster configurations you'd like to test we can certainly setup additional jobs, including running the existing job less frequently to avoid cost increases.

[2021-06-07 07:43] aojea commented on #8432
totally agree

[2021-06-07 07:57] olemarkus commented on #8432
Specifically, it is ipv6-only with masq. At least on AWS, which only allows for single-IP ENI IPs, doing globally routable IPv6 is not feasible.

[2021-06-07 07:58] krisshub commented on #11705
Hi @olemarkus , i am still seeing the same issue after upgrade of kops.
1. What kops version are you running? The command kops version, will display
this information.
Version 1.20.1

2. What Kubernetes version are you running? kubectl version will print the
version if a cluster is running or provide the Kubernetes version specified as
a kops flag.

Client Version: version.Info{Major:"1", Minor:"16

[2021-06-07 08:11] hakman commented on #8432
I also agree. This is why I didn't add any extra options or tried to modify validation to allow "," separated dual-stack addresses.

[2021-06-07 14:54] johngmyers commented on #8432
@olemarkus assuming one runs the CNI in ENI mode, why would single-IP ENI IPs make globally routable IPv6 not feasible?

[2021-06-07 15:00] johngmyers commented on #11705
/reopen

[2021-06-07 15:24] hakman commented on #11705
@krisshub It seems more of a limitation of the MBR partitioning scheme:
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/volume_constraints.html#aws_limits

[2021-06-07 17:51] olemarkus commented on #8432
As far as I know none of the CNIs that supports ENIs support those with ipv6 addresses.

[2021-06-07 17:53] krisshub commented on #11705
Thanks for the response @hakman. Is there any provision to add more space as our applications are failing due to low ephemeral storage.

[2021-06-07 18:17] hakman commented on #11705
Most likely, you will need to create a custom AMI with GPT. Once you have that, kOps should be able to use it without any issues.

[2021-06-07 18:22] krisshub commented on #11705
Ok, Can you please share any reference for the same.

Also, is the below method applicable for the image that i am using **"image: 099720109477/ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-20210415"**

https://kops.sigs.k8s.io/tutorial/working-with-instancegroups/#adding-additional-storage-to-the-instance-groups.

[2021-06-07 18:32] hakman commented on #11705
In theory it should work too, but never tried it with such big disks.

[2021-06-07 18:43] krisshub commented on #11705
[code]

The cluster fails and gets stuck during validation.

VALIDATION ERRORS
KIND    NAME                                            MESSAGE
Machine i-07d981f746d6a0efa                             machine "i-07d981f746d6a0efa" has not yet joined cluster
Pod     kube-system/coredns-5489b75945-g44kz            system-cluster-critical pod "coredns-5489b75945-g44kz" is pending
Pod     kube-system/co

[2021-06-07 18:48] hakman commented on #11705
Maybe it's `/dev/xvdf`? Also, `gp2` should probably be `gp3`.

[2021-06-07 20:16] johngmyers commented on #8432
Well, we've already generated a PR to cloud-provider-aws. It's likely we'd generate issues or PRs for CNIs.

There is significant value in doing non-masq and we should keep that in scope.

[2021-06-08 00:45] murphye opened #11715 "panic: runtime error: invalid memory address or nil pointer dereference"
I built my own `kops` command-line tool so I could experiment with IPv6. I am using `Version 1.22.0-alpha.1 (git-038d908078)`

However, it seems that Kops is not able to install due to a runtime error.

`journalctl -u kops-configuration.service`

[code]

[2021-06-08 00:46] murphye commented on #11715
Here is my Cluster configuration:

[code]

[2021-06-08 00:55] hakman commented on #11715
Also, check https://github.com/kubernetes/kops/pull/11688#issue-661793291, may be useful.

[2021-06-08 02:08] murphye commented on #11715
Thanks, I will try this tomorrow and let you know how it works

[2021-06-08 02:40] hakman commented on #11715
Thanks, that would be cool.

[2021-06-08 04:20] johngmyers commented on #8432
For comparison, the AWS public containers roadmap claims as of last October to be working on IPv6-only pods with nodes getting /80 blocks.

The AWS VPC CNI has slow-moving, draft PRs adding dual-stack.

Cilium 1.10 added some dual-stack support to some existing IPv6 support. It isn't clear what relevance, if any, that has to their ENI mode.

[2021-06-08 05:25] johngmyers commented on #8432
It seems to me that masq or not is a function of the CNI. Neither should be out of scope.

I do think that IPv6-only clusters in managed VPCs should default the ClusterCIDR to a chunk allocated out of the VPC's IPv6 allocation.

[2021-06-08 05:42] krisshub commented on #11705
[code]
Still facing the same issue after making the above changes.

[2021-06-08 06:03] hakman commented on #11705
I suggest to SSH to the instance and see what happens, you should find some error message that would help.

[2021-06-08 07:01] krisshub commented on #11705
Checked the logs, getting the below error:

Jun  8 06:56:50 ip-10-126-33-47 nodeup[1730]: I0608 06:56:50.197530    1730 volumes.go:65] Attempting to format and mount device: /dev/xvdf, path: /var/lib/docker
Jun  8 06:56:50 ip-10-126-33-47 nodeup[1730]: I0608 06:56:50.197555    1730 mount_linux.go:405] Attempting to determine if disk "/dev/xvdf" is formatted using blkid with args: ([-p -s TYPE -s P

[2021-06-08 08:04] hakman commented on #11705
The new disk is `/dev/nvme1n1`.

[2021-06-08 08:07] krisshub commented on #11705
i tried using **/dev/nvme1n1** also, but then i get the below error.

W0608 12:15:33.356072   62863 executor.go:139] error running task "AutoscalingGroup/nodes-us-east-1a.probe-test.k8s.local" (9m5s remaining to succeed): error creating AutoScalingGroup: You must use a valid fully-formed launch template. **Invalid device name /dev/nvme1n1**
I0

[code]

[2021-06-08 09:01] hakman commented on #11705
Maybe something like this?
[code]

[2021-06-08 09:25] krisshub commented on #11705
After the above change, it didn't create the volume on the EC2 instance.
[code]

[code]

Logs:
[code]

[2021-06-08 17:46] krisshub commented on #11705
Thanks @hakman . Tried your approach and now the below configuration works:
[code]

[code]

[2021-06-08 17:48] srikiz commented on #10386
@rifelpet - Sure. I think we should be good to close this. Thanks !!

[2021-06-08 17:59] rifelpet commented on #10386
/close

[2021-06-08 17:59] #10386 closed

[2021-06-08 18:32] murphye commented on #11715
I was able to get cluster with IPv6 installed with a caveat related to `ipv6CIDR`. I will open another issue for that.

Calico also installed, and I appreciate that reference from the comment. This is the config that worked for me (with exception to `ipv6CIDR`).

[code]

[2021-06-08 18:34] murphye commented on #11715
Closing this. Needed to add:

[code]

[2021-06-08 18:34] #11715 closed

[2021-06-08 18:36] murphye opened #11719 "ipv6CIDR is not being used to create VPC subnet in AWS"
/kind bug

`ipv6CIDR` is not being used to create a subnet when enabling IPv6 for a kOps cluster install. As a workaround, I need to manually add the ipv6CIDR to the subnet, and then resume cluster installation. Here is my cluster config:

[code]

This is a recent build of kOps:
[code]

[2021-06-08 18:41] murphye commented on #11719
IPv6 CIDR is not created from `ipv6CIDR`.
<img width="713" alt="Screen Shot 2021-06-08 at 10 45 36 AM" src="https://user-images.githubusercontent.com/643097/121239339-f8f86f00-c84d-11eb-8b20-a08d16f5b00a.png">

I have to manually add the Subnet CIDR block:

<img width="1112" alt="Screen Shot 2021-06-08 at 10 45 47 AM" src="https://user-images.githubusercontent.com/643097/121239265-e120eb00-c84d-11

[2021-06-08 18:51] murphye opened #11720 "Cannot know ipv6CIDR in advance, need to edit and resume install after IPv6 VPC created."
/kind bug

[code]

Cluster Config:

[code]

It doesn't seem to be possible to set the `ipv6CIDR` in advance, it's dependent on the VPC CIDR. In order to install, I need to edit the Cluster config with a `ipv6CIDR` with a CIDR that is compatible with the new VPC. Only way this can work is if I were able to specify the CIDR for the VPC itself, or have it calculated for me during the install.

[2021-06-08 18:52] murphye commented on #11720
Also see: https://github.com/kubernetes/kops/issues/11719

[2021-06-08 20:42] cardoe commented on #9933
Need to update gophercloud to at least https://github.com/gophercloud/gophercloud/commit/b7d5b2cdd7ffc13e79d924f61571b0e5f74ec91c to resolve this issue.

[2021-06-08 21:14] murphye opened #11723 "Kube API not listening on `::/0` for IPv6 Install"
/kind bug

Here is my Cluster config for IPv6 Cluster on AWS:

[code]

I wanted to verify connectivity from a Kubernetes Pod out to a host in the subnet. So, I simply tried to curl the Kube API endpoint from a Pod, as such:

[code]

As you can see, it's addressable from the Pod, but there is no response.

If I do the same Curl using the public IP Address, I get this:

[code]

I am thinking there i

[2021-06-09 01:50] hakman commented on #11715
Cool. Would you mind explaining a little your use case for IPv6 and the if you managed to make it work as you wanted?

[2021-06-09 01:51] hakman commented on #11705
👍

[2021-06-09 02:02] hakman commented on #11719
@murphye Would help if you would add some easy to reproduce steps and log snippet. For the future, please use the issue template.

[2021-06-09 03:50] hakman commented on #11033
@guydog28 I think https://github.com/kubernetes/kops/pull/11617 will address your request.
Please reopen or create a new issue if you would like additional functionality.

[2021-06-09 03:50] #11033 closed

[2021-06-09 04:03] hakman commented on #11720
IPv6 is still and **experimental** feature, so can't really call this bug. Please see https://github.com/kubernetes/kops/pull/11629 for more info.

[2021-06-09 04:23] hakman commented on #11723
You should be able to test the IPv6 endpoint from the master itself too at least to see where the issue comes from.
Unfortunately, I cannot reproduce this:
[code]

[2021-06-09 06:17] #11705 closed

[2021-06-09 07:16] olemarkus commented on #8432
I think the way to go is that NodeController in CCM should both provision ENI with address blocks _and_ assign kubelet that block. IIRC there is this "IPAMFromCloud" mode that CCM can run in. That way CNIs doesn't have to do anything special. Just rely on the Kubernetes IPAM for Pods.

[2021-06-09 07:44] henryj opened #11726 "The containerd runtime breaks execContainer hooks to install software on host/node machine."
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.20.1 (git-5a27dad40a703f646433595a2a40cf94a0c43cd5)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Client Version: version.Info{Major:"1", Minor

[2021-06-09 14:38] hakman commented on #11726
Hi @henryj. This is indeed missing for containerd.
You may try this as an alternative:
https://kops.sigs.k8s.io/instance_groups/#additionaluserdata

[2021-06-09 16:59] salavessa opened #11727 "KOPS upgrade 1.19.2 -> 1.20.1 - AWS IAMRole tag keys are case insensitive"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
`Version 1.20.1 (git-5a27dad40a703f646433595a2a40cf94a0c43cd5)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you us

[2021-06-10 17:34] jmcdonagh commented on #10977
@olemarkus should I close this then?

[2021-06-10 20:34] dskatz opened #11736 "CLB to NLB migration not working as expected with gossip clusters."
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

 Version 1.20.0 (git-8ea83c6d233a15dacfcc769d4d82bea3f530cf72)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

v1.18.18

**3. What cloud provider are you

[2021-06-10 22:45] JEFFA0101 commented on #11062
Just tried creating a cluster with version 1.20.1 and still receiving the same validation error.

[2021-06-10 23:33] otakumike commented on #11699
Is it safe to upgrade to kops 1.20 without completing the upgrade instructions for 1.18?

[2021-06-11 03:10] johngmyers commented on #8432
[ ] Terraform support for cidrsubnet()

[2021-06-11 10:54] #10252 closed

[2021-06-11 12:53] ederst opened #11740 "Compare OpenStack security groups deterministically"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

[code]

**4. What commands did you run?  What i

[2021-06-11 15:36] EladDolev commented on #11356
indeed :-)

[2021-06-11 15:54] #10563 closed

[2021-06-11 17:20] olemarkus commented on #10792
/remove-lifecycle rotten

I am working on a way to get addons uninstalled. First step is tracking resources and deleting dangling resources when we e.g rename something. Second step is to uninstall addons. Both things may make it into 1.22.

[2021-06-11 17:58] johngmyers commented on #11356
@EladDolev that would seem to be a different ticket. It's not clear to me why that wouldn't work. Please run a test and file an issue to either change the code or the documentation, as appropriate.

[2021-06-11 19:45] ederst opened #11742 "ForwardToKubeDNS when using NodeLocal DNSCache is not working as expected"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

OpenStack

**4. What commands did you run?  Wha

[2021-06-11 23:03] #11742 closed

[2021-06-12 00:18] alysonfranklin opened #11744 "Error provisioning kops on private network"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.19.1 (git-8589b4d157a9cb05c54e320c77b0724c4dd094b2)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.19.10

**3. What cloud provider are you using?**
AWS

[2021-06-12 12:20] kasunt-nixdev opened #11746 "Unable to bootstrap a IPv6 only cluster"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
**1.22.0-alpha.1 (compiled on master branch)**

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
**1.21.1**

**3. What cloud provider are you using?**
**AWS*

[2021-06-12 12:25] kasunt-nixdev commented on #11746
Ive also checked to see if it's possible to configure an advertised address for api server but theres no reference in the cluster spec about it.

[2021-06-12 15:18] hakman commented on #11746
@kasunt-nixdev Try adding, should help:
[code]

[2021-06-12 15:26] johngmyers commented on #11744
You need to have at least one public subnet in order to have a public loadbalancer. Perhaps we should add in API validation for this.

[2021-06-12 15:40] alysonfranklin commented on #11744
I have 4 public subnets!!

[2021-06-12 15:58] johngmyers commented on #11744
All three entries in the `spec.subnets` field of the cluster are `type: Private`. There are no public subnets declared as available to the cluster.

[2021-06-12 16:09] alysonfranklin commented on #11744
but I already declared public subnets and even so the same error happens :/

[2021-06-12 16:36] johngmyers commented on #11744
Please provide that cluster manifest.

[2021-06-12 17:01] alysonfranklin commented on #11744
Hi,
this is my manifest

This way I don't get an error, but the loadbalancer is created in the private subnets

[code]

[2021-06-12 20:02] #10388 closed

[2021-06-12 21:13] kasunt-nixdev commented on #11746
@hakman Thanks but it still appears to be the same problem. So AWS doesnt have probs with the subnets AFAICT. It generates both a IPv4 and IPv6.

However proxy is still failing due to
[code]

[2021-06-12 23:04] kasunt-nixdev commented on #11746
Looks like it works without feature flag `IPv6DualStack: "false"`

[code]

[2021-06-12 23:45] kasunt-nixdev commented on #11746
That only means compatibility right now for a control plane that isnt **IPv6 only**. Am i right in assuming this ? In order for it to be IPv6 only I guess the api server will have to advertise as a IPv6 address ?

[2021-06-13 05:08] hakman commented on #11746
Dual-stack is enable only when you use `--cluster-cidr="<IPv4CIDR>,<IPv6CIDR>"`. So, your cluster should be IPv6 only.
The feature gate is just there to enable some code paths. Most likely the feature gate will be removed in k8s 1.23.

[2021-06-13 08:52] EladDolev opened #11751 "Kops DNS records are derived from ClusterName and not from masterPublicName/masterInternalName"
/kind bug

**1. What `kops` version are you running? **

1.19.3

**2. What Kubernetes version are you running? **

1.19.11

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest way to reproduce this issue?**

Setting `metadata.name` to `k8s.<non existing domain/domain with no write permissions to master nodes>` would not allow worker nodes to join t

[2021-06-13 08:53] EladDolev commented on #10899
https://github.com/kubernetes/kops/issues/11751

[2021-06-13 09:24] kasunt-nixdev commented on #11746
May be Ive misunderstood this statement in the 1.21 docs then. "Starting in 1.21, IPv4/IPv6 dual-stack defaults to enabled"
Ref https://kubernetes.io/docs/concepts/services-networking/dual-stack. So I thought it was needed to be disabled explicitly.

And also the fact that the proxy was failing with the error,
[code]

[2021-06-13 10:11] hakman commented on #11746
Feature gates are a way of introducing new features in a way that makes it easy to disable or remove later if they don't get to be finalized.
https://kubernetes.io/blog/2020/08/21/moving-forward-from-beta/
The feature itself has its own enable / disable method and that is described here:
https://kubernetes.io/docs/concepts/services-networking/dual-stack/#configure-ipv4-ipv6-dual-stack

In this cas

[2021-06-13 10:35] kasunt-nixdev commented on #11746
@hakman Appreciate your time with this. And yes it is working as expected now.

[2021-06-13 10:48] hakman commented on #11746
👍
If you don't mind, can you share a little about the use case? Thanks!

[2021-06-13 10:54] kasunt-nixdev commented on #11746
We are trying to build an IPv6 only cluster to test the compatibility with Istio (both as single cluster and multi cluster topologies).

[2021-06-13 11:19] hakman commented on #11746
Are you planing on adding any other components to the cluster for NAT64/DNS64, or that is not a concern at the moment?

[2021-06-13 11:59] #11740 closed

[2021-06-13 15:46] EladDolev commented on #11356
I'm just proposing an approach of how to implement the feature requested on this ticket
if kOps would support a mix of existing and managed instance profiles this would be very easy
the documentation is right, and currently it is not supported

currently with kops-controller this is only possible by creating the role + instance profile under the same name, and passing `spec.iam.profile` to the ins

[2021-06-13 16:29] johngmyers commented on #11751
/assign

[2021-06-13 18:51] johngmyers commented on #11751
The api-server might be behind a load balancer (as appears to be the case in this sample). The load balancer would not be useful for kops-controller and people might not want to have to pay for a second load balancer for kops-controller.

kops-controller might not be on the same nodes as the api-server. As `masterInternalName` points to api-server, it is not appropriate for kops-controller.

[2021-06-13 19:06] EladDolev commented on #11751
Actually in this case the api-server is not behind a load balancer (even though one is provisioned), and might be another bug...

A load balancer may have multiple listeners, so routing different traffic to different services running on the same nodes is not a big deal, and there's not need for an additional load balancer.

On what scenario kops-controller might not run on the same nodes as the ap

[2021-06-13 23:41] kasunt-nixdev commented on #11746
No this isn't a concern as of yet.
I know I closed this issue but there is another minor issue im running into with this setup which is related to the webhooks.

Looks like api server isnt able to access any webhooks due to,
[code]
If you have any ideas please let me know.

[2021-06-14 01:09] kasunt-nixdev commented on #11746
I wonder if this is due to the fact that control plane is both IPv4 and IPv6 enabled and worker nodes are IPv6 enabled in CNI ?

[2021-06-14 03:19] marcoadasilvaa commented on #5039
+1

[2021-06-14 04:32] hakman commented on #11746
Maybe try describing the `cert-manager-webhook` service and its endpoints? Any IPv4 or no endpoints at all?

[2021-06-14 05:15] kasunt-nixdev commented on #11746
Here it is.
[code]

[2021-06-14 05:25] kasunt-nixdev commented on #11746
Strangely `dig AAAA cert-manager-webhook.cert-manager.svc +tcp` results in `NXDOMAIN` with CoreDNS
[code]

But `dig AAAA cert-manager-webhook.cert-manager.svc.cluster.local +tcp` returns `[INFO] [fd12:3456:789a:1:f6b:daa7:766f:8583]:39779 - 5311 "AAAA IN cert-manager-webhook.cert-manager.svc.cluster.local. tcp 92 false 65535" NOERROR qr,aa,rd 148 0.000188346s`

I couldnt see why the short alias wo

[2021-06-14 06:10] olemarkus commented on #5039
This is not on any roadmap, but if anyone is willing to contribute to this feature we are happy to help.

/reopen
/remove-lifecycle rotten

[2021-06-14 07:59] hakman commented on #11746
You can also add `log` to the Corefile and see all requests:
https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/#are-dns-queries-being-received-processed

I see that `cert-manager-webhook.cert-manager.svc.` contains a `.` at the end which suggests it looks for an absolute domain name.

[2021-06-14 08:31] ifosch opened #11759 "Kops cluster-autoscaler addon not getting deploy up"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

 I've tried this with both kops 1.19 and kops 1.20.

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

 I'm using kubernetes 1.19.9.

**3. What cloud provid

[2021-06-14 08:34] kasunt-nixdev commented on #11746
@hakman. Thanks. Yup been scratching my head on this for a while. Found a more serious issue than the one above and I think there might be a bigger network/CNI issue going on.

Ive got a 1 master 2 worker node topology as in the OP above.
But only one of the CoreDNS instances respond in the worker InstanceGroup. Any idea why this might be ?

[code]

[code]

[2021-06-14 09:05] hakman commented on #11746
All I can say is that I ran the k8s conformance tests with 5 nodes and worked with few minor unrelated issues.
I would suggest to delete the cluster and try a fresh one, see if you can reproduce. If you can, I can give it a try too in the next few days.

[2021-06-14 09:13] kasunt-nixdev commented on #11746
Cool thanks @hakman.

[2021-06-14 14:00] richerve commented on #5710
/remove-lifecycle rotten

[2021-06-14 15:14] jmcdonagh opened #11760 "etcd volumes do not line up with proper masters/IGs"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

[code]

**4. What commands did you run?  What i

[2021-06-14 15:16] jmcdonagh commented on #11760
Also, just as a sidenote, if you build this cluster as is you will experience some errors with the addons which will require adding tolerations for masters. This is a dev cluster build which is 100% spots for workers with a minimum node count of 0, so there's a chicken and egg scenario where the auto scaler and dns and others won't come up until you add those tolerations, which will then bring up

[2021-06-14 16:17] olemarkus commented on #11759
Are you able to ssh into a control plane node and run  `journalctl` for a minute? It should contain log lines about applying manifests.

[2021-06-14 16:18] hakman commented on #11746
One thought, I believe this is also needed:
[code]

[2021-06-14 19:41] vnzongzna commented on #11633
/assign

[2021-06-15 08:50] kasunt-nixdev commented on #11746
Ha thats exactly what i ended up doing and yes it worked

[2021-06-15 08:51] hakman commented on #11746
:)

[2021-06-15 08:53] kasunt-nixdev commented on #11746
@hackman that only fixes one of the problems still though. Theres still a pending issue with the api server denying requests to any webhook endpoints. My assumption here is that control plane / master is on IPv4. Is there any way to force `kubelet` and the rest of the components to IPv6 ?

[2021-06-15 08:57] kasunt-nixdev commented on #11746
Ive tried using `hostNetwork: true` but then running into this issue instead which i guess something to do with the CIDR pool
[code]

[2021-06-15 13:04] #11744 closed

[2021-06-15 13:38] olemarkus opened #11765 "Supporting component configuration"
/kind feature

More and more features are only available in component configs, for example https://kubernetes.io/blog/2021/04/21/graceful-node-shutdown-beta/ and #10977

I think both @justinsb and I are of the opinion that we should not extend our Cluster resources with all these options, but rather support these resources directly.

My suggestion is that we provide the mechanisms to write this to

[2021-06-15 14:52] h3poteto commented on #11062
@JEFFA0101 Could you tell me the procedure?

I can create a cluster with v1.20.1, and I can change `encryptedVolume` without validation error.

[2021-06-15 15:04] nettoclaudio opened #11766 "Cannot to rollout nodes on clusters that have Spot IGs"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]

I think the problem is happening since we merged the PR https://github.com/kubernetes/kops/pull/9118. So we're getting this problem around the v1.18.0 release.

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or p

[2021-06-15 18:06] ajitre opened #11768 "GCP MIG templates created with limited scopes (not full serviceAccount access)"
/kind bug

**1. What `kops` version are you running?** `1.20.1`

**2. What Kubernetes version are you running?** `v1.20.7`

**3. What cloud provider are you using?** `Google Compute Engine`

**4. What commands did you run?  What is the simplest way to reproduce this issue?** `kops create cluster simple.k8s.local --zones us-east1-c --cloud gce --state ${KOPS_STATE_STORE}/ --project=${PROJECT} --gce

[2021-06-15 21:01] yurrriq opened #11774 "Rolling update panic"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the

[2021-06-15 21:04] yurrriq commented on #11774
/assign @johngmyers

[2021-06-15 22:23] johngmyers commented on #11774
The issue is that incrementing `skippedNodes` can cause the code to try to detach more nodes than it has.

So this was introduced by #10740 and is technically a 1.21 regression.

[2021-06-16 00:49] johngmyers commented on #11765
Step one is to change our nodeup code from using `flagbuilder.BuildFlagsList()` to instead converting from our componentconfig to k/k's componentconfig and passing it using a `--config` flag.

A later kops API version (which would be 1.23 at the earliest) could then change from our componentconfig to k/k's componentconfig. We could then separate them from `Cluster` and `InstanceGroup` at that poin

[2021-06-16 02:26] johngmyers commented on #11765
I think we're going to find some impedance mismatches with the k/k componentconfigurations. For example, we have three levels of `KubeletConfigSpec`, one at the instancegroup level, one for control plane nodes, and a default. We merge these, allowing overrides at each level. In the k/k `KubeletConfiguration`, the `ReadOnlyPort` field is an `int32`, not a `*int32`. The value `0` means to disable th

[2021-06-16 06:45] olemarkus commented on #11765
A goal should be to have componentconfig API and kops API live independently with independent lifecycles. We should not be populating one with the value of the other. We can, however, validate across both where there may be incompatibilities. And cloudup can fill in missing pieces where needed.

When `--config` is set, the components will ignore/resolve conflicts between flags and configuration, s

[2021-06-16 07:21] johngmyers commented on #11765
So how would you propose we handle an independent `KubeletConfigSpec` with our three-level-merging semantics?

[2021-06-16 08:15] olemarkus commented on #11765
The three-level merging is an aspect of the `kops.k8s.io` API. If users provide `KubeletConfiguration` from `kubelet.config.k8s.io/v1beta1` then that merging functionality is "lost". Since these resources do not use pointers, it is not feasible to implement merging either. These resources also use a fair degree of nesting, which makes merging a bit tricky (override vs append).

The alternative, wh

[2021-06-16 08:15] ifosch commented on #11759
I've checked the `journalctl`. I found nothing explicitly about the cluster-autoscaler manifest/deployment.
I've found we have our NTP setup hook failing, but I don't think this is causing the main problem for the cluster-autoscaler addon.

The only other thing that I found could be related is these lines about the channels, which happened once in a minute:
[code]

I've also tried to do the same o

[2021-06-16 08:25] olemarkus commented on #11759
None of the lines above match the CAS addon (v1.19.{0,1}, id=k8s-1.15), so it looks like it wasn't added. maybe a typo in your manifest?

[2021-06-16 09:38] ifosch commented on #11759
Do you mean the cluster manifest? The cluster manifest was accepted by kops without any complaint. I was expecting it to complain if the cluster manifest is wrong. Also I've checked it, and it looks fine. the clusterAutoscaler section is almost a copy and paste from the addon docs.
Otherwise, what other manifest should I check? And how I could check it out? I'll try to download the whole cluster t

[2021-06-16 09:39] ifosch commented on #11759
Oh! Wait, last change I did in the cluster was to remove the section. adding it back now.

[2021-06-16 09:54] ifosch commented on #11759
Done, now I got these two new lines:
[code]

[2021-06-16 10:00] ifosch commented on #11759
As of #10246, I've checked my kube-system annotations, but I barely have an idea of what this should look like:
[code]

[2021-06-16 10:10] ifosch commented on #11759
Should I try to remove the cluster-autoscaler addon folder from my bucket for this cluster?

[2021-06-16 10:22] olemarkus commented on #11759
Yeah I noticed a bug here.
In 1.19, the autoscaler addon version is 1.19.1. In 1.20+ it changed to 1.19.0.
Quick workaround for this is to do `kubectl edit ns kube-system` and remove the annotation that mentions cluster-autoscaler. Then you should see the addon being deployed in about a minute.

[2021-06-16 10:46] ifosch commented on #11759
The workaround worked well, thank you!

[2021-06-16 11:13] #11759 closed

[2021-06-16 11:27] ederst opened #11783 "Launch Openstack instances with config drive"
/kind feature

Currently, instances launched by the openstack cloud provider only use the metadata service of Openstack to gather their user data.

Due to various circumstances (no metadata service available, or an unstable metadata service, no dhcp enabled on the Openstack network) it might be necessary to use a config drive for letting the instance gather this data.

Luckily, this is just possib

[2021-06-16 14:51] nettoclaudio commented on #11766
I'm gonna close this issue because it works if you do the right thing.  I forgot to export the mandatory env vars to activate the Spot integration. My bad. 😞

[2021-06-16 14:51] #11766 closed

[2021-06-16 15:10] jmcdonagh opened #11787 "Lack of ICMP causes cilium to think the cluster isn't doing well, prevents cilium start up with --enable-host-reachable-services=true"
/kind bug

I've brought this issue up before. Since ICMP is not allowed in the SGs, cilium status reports 0/0 hosts reachable. I was told this is cosmetic, which made me nauseous kind of, but I just went with it. Now we are trying to run cilium with --enable-host-reachable-services=true, we rolled the DS and the logs indicate that the inability to ping other nodes is preventing cilium from startin

[2021-06-16 15:12] jmcdonagh commented on #11787
Log output from when cilium refused to start:

level=info msg="regenerating all endpoints" reason="one or more identities created or deleted" subsys=endpoint-manager
level=info msg="regenerating all endpoints" reason= subsys=endpoint-manager
level=error msg="arping failed" error=timeout interface=ens5 ipAddr=172.20.38.109 subsys=node-neigh
level=error msg="arping failed" error=timeout interface=en

[2021-06-16 15:14] yurrriq commented on #11774
Aha, thanks for the explanation. So is this a duplicate issue, or should I leave it open?

[2021-06-16 15:39] jmcdonagh commented on #11787
Closing this because it appears the first time cilium hung on boot was for something else, regardless of how awkward it is to not have ICMP it is not the bug I thought it was.

[2021-06-16 15:39] #11787 closed

[2021-06-16 15:39] olemarkus commented on #11787
We use host-reachable-services without any such issue, so I don't think that is what is causing the problems.

That being said I don't mind allowing ICMP traffic. But others might.

[2021-06-16 15:43] jmcdonagh commented on #11787
Yes ended up being a red herring- btw THANK YOU for cluing us into this option for cilium in a slack msg when a colleague was troubleshooting recently. It has fixed a really annoying issue for us.

[2021-06-16 15:49] cardoe commented on #9933
@olemarkus Could I get an "ok-to-test" on the PR to fix this? It's #11788. I'm just bumping the version of gophercloud to the next release which includes a fix for this issue.

[2021-06-16 16:22] johngmyers commented on #11774
Leave it open

[2021-06-17 05:44] yum-dev opened #11790 "Unable to edit instance group."
/kind bug

**1. What `kops` version are you running?
[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
`aws`

**4. What commands did you run?  What is the simplest way to reproduce this issue?**
`$ kops edit instanc

[2021-06-17 06:24] olemarkus commented on #11760
That setup can get interesting ... we are introducing IRSA for addons, and this will cause CAS to be scheduled on worker nodes. So when a cluster spins up, at least one worker node has to exist. I guess kOps can set initial desired to 1 when creating the ASG.

[2021-06-17 15:39] DioniPinho opened #11794 "Kops can't find Azure DNS."
/kind bug

**1. What `kops` version are you running?**

[code]

**2. What Kubernetes version are you running?**

1.20

**3. What cloud provider are you using?**

Azure

**4. What commands did you run?  What is the simplest way to reproduce this issue?**

[code]

**5. What happened after the commands executed?**

This error:
*DNS not implemented on azureCloud*

**6. What did you expect to happen?**

[2021-06-17 21:13] jcmartins commented on #10250
How can I use containerRegistry with register authentication?
my registry need a username and password to auth

[2021-06-18 06:02] johngmyers commented on #11794
/area provider/azure

[2021-06-18 06:12] gycc7253 opened #11797 "kops create kubernetes cluster with limited internet availability"
Hi all,
I was trying to deploy a kubernetes cluster in our organization's aws vpc which is managed by much security harding and have very limited internet access except for some white-listed addresses.

When i try to create aws cluster with this command
`kops create cluster $NAME --zones "$ZONES" --authorization RBAC --master-size t2.medium --master-volume-size 32 --node-size t3.medium --node-volu

[2021-06-18 06:27] johngmyers commented on #11797
You could set `spec.channel: "none"` to avoid that particular query, but I suspect you'll need to run `kops` from a network that has access to the Internet for other reasons. The mechanism for copying assets to local repositories is called the "assets phase", but it's not well documented in the released versions.

[2021-06-18 06:36] gycc7253 commented on #11797
Alright I see,
May I ask where can I set the spec.channel to none?

[2021-06-18 07:06] ifosch commented on #11759
Thanks @olemarkus

[2021-06-18 09:15] ValeriiVozniuk opened #11798 "Switching between container runtimes on existing cluster breaks aws-node pods"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.19.2 (git-e288df46e173ba8ce44ac52502283206c0d211ee)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Client Version: version.Info{Major:"1", Minor

[2021-06-18 09:24] ValeriiVozniuk commented on #11798
In kubelet log on existing node I see a following entry
[code]

[2021-06-18 09:35] ValeriiVozniuk commented on #11798
Took one more step, in kube-controller-manager found following entries
[code]
But still not clear why that pod was replaced on existing nodes

[2021-06-18 09:50] hakman commented on #11798
Hi @ValeriiVozniuk. My guess is that this is similar to https://github.com/kubernetes/kops/issues/11589.
Ideally, AWS VPC CNI would just autodetect the container runtime, but at the moment ^^^ was the best solution we could think of.

[2021-06-18 09:54] ValeriiVozniuk commented on #11798
Hi @hakman,
Thank you, this link inside your link https://github.com/kubernetes/kops/pull/11590 describe my case better. Will definitely need to test it on kops 1.20

[2021-06-18 09:57] hakman commented on #11798
I don't think 1.20 with that fix is yet released, but next release should include it.

[2021-06-18 13:20] gfilis2 opened #11802 "Service accounts have unrestricted access on cluster"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the