[2022-10-13 11:14] #14363 closed

[2022-10-13 11:39] ScOut3R commented on #13611
Yes, I think the issue was resolved in https://github.com/projectcalico/calico/pull/6605

[2022-10-13 11:53] ScOut3R opened #14411 "Node affinity for cluster autoscaler"
While I fully agree with the changes in https://github.com/kubernetes/kops/pull/13846 there are certain use-cases where being able to configure the `nodeSelector` and `tolerations` for the cluster autoscaler would be ideal.

In my case I manage multiple clusters where, with the exception of the control plane, every other node group is made up from spot instances. On these clusters I wouldn't mind

[2022-10-14 23:11] IgalSc commented on #14396
I created another cluster from scratch and deleted this one

[2022-10-14 23:11] #14396 closed

[2022-10-14 23:17] IgalSc opened #14414 "I receive /actuator/gateway/... requests from an IP that's not even on the same continent"
/kind bug

I don't know if this is the right place to post it, but troubleshooting a gateway service on our cluster, we noticed /actuator/gateway/... requests coming in from ISP in Europe.
We are located in North America, our cluster is on AWS in us-east-1 region.

Here's from the load balancer log:
[code]

Can someone explain what is going on?
Thanks
Igal

[2022-10-15 06:08] olemarkus commented on #14414
I am very unsure what setup you here and what you are expecting.
By the looks of it, you have an ALB exposed publicly, and it is seeing traffic from somewhere.

[2022-10-15 06:16] olemarkus commented on #14411
We are working on disabling imds for Pods on the control plane as well. Once that works, we can move some of the pods using irsa back to the control plane. This would match what we do with karpenter. I hope this will be done in 1.26

[2022-10-15 08:22] #13659 closed

[2022-10-17 09:56] anthonyhaussman opened #14422 "Karpenter instance-groups can not rolling-update"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Client version: 1.25.0 (git-v1.25.0)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Client:
[code]
Server:
[code]

**3. What cloud provider are you using

[2022-10-17 10:04] anthonyhaussman commented on #14422
Same behavior with the last available kops version:
[code]

[2022-10-17 15:07] #14422 closed

[2022-10-17 20:59] #14174 closed

[2022-10-18 05:08] devzer01 opened #14428 "kops cluster status was reported incorrectly"
/kind bug

**1 Version 1.23.2 (git-4125bbbe975ca104c609ceaa625a9a5ff3ac19f4)

**2 Server Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.4"

**3.AWS

**4. kops get instances

**5. ![detached-state](https://user-images.githubusercontent.com/4328569/196339601-7abbf223-8b5a-4935-8bfd-77384be228fc.png)

**6. all instances to be attached and instance groups reflected here are what's on t

[2022-10-18 06:47] olemarkus commented on #14428
`kops get instances` reports what the AWS API reports. The condition for `detached` is that the instance exists, but is not a part of the ASG.

The detached instance lives until the rolling upgrade is completed, and only then is terminated. I.e it will continue to be detached until the replacement instance has been provisioned. In your case that probably didn't happen because the ASG could never s

[2022-10-20 16:51] yurrriq opened #14435 "drainAndTerminate=false no longer works as expected"
/kind bug

**1. What `kops` version are you running?**

1.24.1

**2. What Kubernetes version are you running?**

1.22.15

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest way to reproduce this issue?**

[code]

**5. What happened after the commands executed?**

* The cluster spec was updated in the state store
* All nodes, including those in Ins

[2022-10-20 19:37] yurrriq commented on #14435
It seems perhaps cluster-autoscaler was at fault here, and the logs look as expected, e.g.
[code]

I'll close this until I can prove it. :smile:

[2022-10-20 19:37] #14435 closed

[2022-10-21 08:24] djablonski-moia opened #14441 "Allow aws-ebs-csi-controller to be configured to run as non-root"
/kind feature

**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

In order to minimize workloads running as `root`, it would be nice to allow a configuration setting for the `AWSEBSCSIDriver` to enable running as non-root user, or alternatively, run as non-root by default.

**2. Feel free to provide a design supporting your feature request.**

The [Helm chart provided by

[2022-10-21 08:41] olemarkus commented on #14441
Isn't this already the case?
https://github.com/kubernetes/kops/blob/master/upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template#L458

[2022-10-21 08:48] djablonski-moia commented on #14441
🤦 You're right, but yet only in 1.25, and we're still using 1.24, that's why I missed it. Sorry, I will close this FR

[2022-10-21 08:48] #14441 closed

[2022-10-21 08:52] bhaumikmithun commented on #8959
i am facing the same issue ... Upgrading to 3.0.20200531  doescnot seems to help
kops version: 1.15.1
k8s version:  1.15.10

Please help here

[2022-10-21 17:14] olemarkus commented on #8959
Strongly recommend you upgrade to kops 1.21 (last version to support k8s 1.15) to resolve this. Remove any etcd-manager version from the spec.

[2022-10-21 19:15] lboix commented on #8959
@bhaumikmithun can you connect to the master nodes ? If yes then the two **sudo** commands in your quoted message can help (do one master at the time)

[2022-10-23 07:32] #13681 closed

[2022-10-23 14:32] #13671 closed

[2022-10-25 00:08] johngmyers opened #14451 "IPv6: Unable to create internal loadbalancer for Service in cluster with public topology"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.26.0-alpha.1 (git-v1.26.0-alpha.1-137-g21ac145028)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

v1.23.0

**3. What cloud provider are you using?**

[2022-10-25 09:06] bhaumikmithun commented on #8959
@lboix did that but still not able to recover from error

[2022-10-25 09:09] olemarkus commented on #8959
Did you rotate all the control plane nodes? The etcd-manager upgrade only happens as part of a rolling update.

[2022-10-25 16:48] manishsat opened #14453 "Not able to create cluster with Azure due to disk etcd disks being is different zone than VMs"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
❯ kops version
Client version: 1.25.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Client Version: v1.25.3
Kustomize Version: v4.5.7

**3. What cloud p

[2022-10-26 14:59] #13695 closed

[2022-10-27 09:51] pascal-hofmann opened #14462 "AWS: Allow shell access to instances via SSM Session Manager"
/kind feature

Allow shell access to EC2 instances via SSM Session Manager via `aws ssm start-session --target <instance-id>`

Required permissions for the instance are:
[code]
on `"Resource": "*"`

*Note:* On slack there was [a discussion](https://kubernetes.slack.com/archives/C8MKE2G5P/p1664646111473329) about adding AWS default policy `AmazonSSMManagedInstanceCore`. This policy also allows the

[2022-10-27 13:55] enavarre-cl commented on #4989
Tanks! XD

[2022-10-27 16:52] SiWafer commented on #5177
Any update? Can we not taint node with key with multiple values?

[2022-10-27 16:53] SiWafer commented on #5177
/reopen

[2022-10-27 22:15] johngmyers commented on #14462
Could we not narrow `ssm:UpdateInstanceInformation` down to instances tagged to the cluster?

[2022-10-28 06:28] pascal-hofmann commented on #14462
The condition key `[ssm:SourceInstanceARN](https://docs.aws.amazon.com/service-authorization/latest/reference/list_awssystemsmanager.html#awssystemsmanager-ssm_SourceInstanceARN) is available for ssm:UpdateInstanceInformation. I guess this can be used to limit the instance to only update info for itself.

[2022-10-28 08:37] youwalther65 commented on #14097
I need Cilium 1.12.x for AWS IP prefix delegation in Cilium!

[2022-10-28 18:19] ValeriiVozniuk commented on #14035
/remove-lifecycle stale

[2022-10-28 19:23] rgschmitz1 opened #14469 "Add support for IBM Cloud"
/kind feature

**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
Any chance kops will add support for IBM Cloud?  My company is testing out IBM Cloud for running bioinformatics workflows.  Thanks!

**2. Feel free to provide a design supporting your feature request.**

[2022-10-29 08:15] hakman opened #14474 "Replace GCE with GCP"
/kind feature

**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

As discussed during Office Hours, the GCE (Google Cloud Engine) name for the Google Cloud provider is not quite appropriate.
We should switch to the more correct GCP (Google Cloud Platform) naming, while still keeping the compatibility with older names.

**2. Feel free to provide a design supporting your f

[2022-10-29 17:18] johngmyers commented on #14474
I could take a crack at this after #14443 merges.

[2022-10-29 20:33] #13714 closed

[2022-10-31 05:05] hakman commented on #14068
Fixed by https://github.com/kubernetes/kops/pull/14466 and cherry-picked to https://github.com/kubernetes/kops/pull/14478 and https://github.com/kubernetes/kops/pull/14479.

[2022-10-31 05:05] #14068 closed

[2022-10-31 06:00] ayush-rathore-robomq opened #14480 "Nodeup fails on forced rolling-update after editing cluster, logs returns 'nodeup config hash mismatch'"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
`Version 1.22.0 (git-8ba0d78c0be251c7dd5584d178c3e342037705df)`
**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
`kubernetesVersion: v1.22.5`
**3. What cloud

[2022-10-31 06:57] sekasara opened #14481 "Add Support for AWS G5 Instances"
/kind feature

**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
AWS recently announced the G5 instance type (https://aws.amazon.com/about-aws/whats-new/2021/11/announcing-general-availability-amazon-ec2-g5-instances).
This is currently not a supported instance type, and it would be useful to be able to use these in our cluster, particularly for GPU-accelerated workloads

[2022-11-01 08:20] olemarkus commented on #5177
Can you open a new issue and share what taints you are trying to set and how?

[2022-11-01 09:53] #13725 closed

[2022-11-01 10:00] olemarkus commented on #13117
This may be an issue with legacy cloud controller manager. You may want to try the out of tree one. It is enabled by default when you use K8s 1.24, or you can enable it manually setting `spec.cloudControllerManager: {}`

[2022-11-01 10:51] hakman commented on #14480
@ayush-rathore-robomq There are a few issues that I can see at a first look:
0. you are combining Terraform with direct cluster updates
1. kOps 1.22 is not supported anymore, please switch to a newer version, like 1.25.2
2. kOps 1.22.0 is not even the latest 1.22.x
3. you are using Weave for networking, which is no longer developed, so you should move to Cilium or Calico soon
4. you are redacting

[2022-11-01 12:44] olemarkus commented on #14469
This would definitely require extra contributors. Supporting additional cloud providers bring in a lot of new code that needs maintaining by other people than current active contributors. And in most cases also requires more than one contributor or commitment from the cloud vendor itself.

But if you or someone else is willing to give it a try, we are happy to support. Recent additions of Scaleway

[2022-11-01 19:30] rayella-bergman-okcupid opened #14483 "Update OpenSSL"
Hello, are there any plans for OpenSSL to be updating above 3.0.7? Thanks!

[2022-11-01 19:57] #14483 closed

[2022-11-02 08:32] olemarkus commented on #14481
kOps should support this as long as the given region supports it. Are you seeing any errors when trying to use it?

[2022-11-02 13:19] MoShitrit commented on #14165
I can take a look soon.
/assign

[2022-11-03 11:47] ederst commented on #13850
/remove-lifecycle stale

[2022-11-03 11:50] ederst commented on #13850
@zetaab, @olemarkus is this still relevant, since K8s 1.21 support is deprecated and will be removed with kOps 1.27 (https://github.com/kubernetes/kops/releases/tag/v1.25.0)?

[2022-11-03 14:16] guusvw opened #14490 "NTH Deployment is not exposing Prometheus metrics"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

v1.24.3

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is

[2022-11-03 16:29] dhinesh2287 opened #14493 "Node level autoscaling not working in KOPS"
Hi All,
I have done the kubernetes setup with kops method i have deployed my applications on the servers all are working fine and also done the setup for HPA also it also working perfectly  i need to achieve the autoscaling on node level also can anyone help in this while increasing the load my pod got autoscaled but node instance didn't scaled please find the screenshots
<img width="375" alt="k8-

[2022-11-03 18:21] olemarkus commented on #14493
You probably want this addon: https://kops.sigs.k8s.io/addons/#cluster-autoscaler

[2022-11-03 19:18] olemarkus commented on #14490
Can you log into one of the control plane nodes and check `journalctl -u protokube` for errors?

[2022-11-03 19:19] olemarkus commented on #14097
Happy to review a PR.

[2022-11-04 09:22] guusvw commented on #14490
Seems there is nothing suspicious

[code]

in general it seems to work, at least the part generating the manifest, uploading it & applying it

[code]

[2022-11-04 09:23] guusvw commented on #14490
I would guess, that there is something wrong with the rendering of the template for the Node Termination Handler.

[2022-11-04 09:34] kuzaxak opened #14495 "Missing ability to add patch permission for awscni if ANNOTATE_POD_IP enabled"
Kops [allows][3] configuring a list of env variables for `aws-cni`. But some of them require [additional permissions][1] for the cluster role.

Can we add the same [condition][2] to the addon template?

[1]: https://github.com/aws/amazon-vpc-cni-k8s/tree/master#annotate_pod_ip-v193
[2]: https://github.com/aws/amazon-vpc-cni-k8s/blob/master/charts/aws-vpc-cni/templates/clusterrole.yaml#L17-L22
[3]:

[2022-11-04 14:02] sunilharipkd opened #14496 "Kops instance selector failing to create the instance group"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

ubuntu@ip-10-0-83-148:~$ kops version
Version 1.22.4 (git-d892bdc3f0cac39f2dbc9d90758208bf79200a6e)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
ubuntu

[2022-11-04 16:42] hakman commented on #14013
Seems pretty much fixed. If there's anything else please reopen.

[2022-11-04 16:42] #14013 closed

[2022-11-05 08:16] olemarkus commented on #14493
/kind support

[2022-11-05 08:18] olemarkus commented on #14490
Thanks. The logs looks good. So the manifest in k8s match the manifest rendered by kops. It could be your kops version is too old as well.

[2022-11-05 08:38] olemarkus commented on #14495
/remove-kind bug
/kind feature

Happy to review a PR.

[2022-11-05 13:28] dhinesh2287 commented on #14493
@olemarkus will check and try the site which you shared for addons and let you know

[2022-11-05 16:45] #13746 closed

[2022-11-06 18:51] #14480 closed

[2022-11-07 08:45] sekasara commented on #14481
@olemarkus Can you please help us with which version of kops is supporting G5 instance type ?
getting below error.
`spec.machineType: Invalid value: "g5.4xlarge": machine type specified is invalid`

[2022-11-07 09:02] olemarkus commented on #14481
In which region are you trying to use these?

[2022-11-07 09:07] guusvw commented on #14490
@olemarkus I will close the issue. You're right, our `kOps` version is "too old"
v1.24.3 hadn't this configurable
https://github.com/kubernetes/kops/blob/fa02a8c6ce84495600f77058fcdb5f47a4471622/upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template#L170-L171

Thanks for the support, we will go with a workaround till we updated.
Thanks for the support

[2022-11-07 09:28] sekasara commented on #14481
@olemarkus ap-south-1 region

[2022-11-07 09:41] olemarkus commented on #14481
Right. I don't think the instance type exists there. Only exists in Oregon, North Virginia, and Ireland.

[2022-11-07 10:25] sekasara commented on #14481
its available @olemarkus
<img width="742" alt="image" src="https://user-images.githubusercontent.com/63733959/200287382-bf0e03d0-df15-4d65-b9c9-1e9b17e1b81e.png">
https://aws.amazon.com/ec2/pricing/on-demand/

[2022-11-07 16:44] dhinesh2287 commented on #14493
while adding the below fields into my cluster configuration i couldn't update the cluster iam getting the below errors can anyone kindly advise
spec:
  clusterAutoscaler:
    enabled: true
    expander: least-waste
    balanceSimilarNodeGroups: false
    awsUseStaticInstanceList: false
    scaleDownUtilizationThreshold: 1
    skipNodesWithLocalStorage: true
    skipNodesWithSystemPods: true
    ne

[2022-11-07 18:46] #14165 closed

[2022-11-07 19:12] MoShitrit commented on #14165
@aramhakobyan thanks for reporting this!
Issue has been fixed via #14503 and is also being cherry-picked into the 1.24 (via #14505) and 1.25 (via #14506) release branches to be included in the next patch releases of these minor versions.

[2022-11-07 19:14] MoShitrit commented on #14495
I can take a look at that one
/assign

[2022-11-08 14:27] sunilharipkd commented on #14496
Any insights would be really helpful

[2022-11-08 15:52] johngmyers opened #14510 "GCE Networking does not work for Kubernetes 1.24+ or containerd"
/kind bug
/provider gcp

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.24+

**3. What cloud provider are you using?**

gce

**4. What commands did you run?  What

[2022-11-08 16:00] johngmyers commented on #14510
/area provider/gcp

[2022-11-08 16:03] johngmyers commented on #14510
GCE networking is not even mentioned in [`docs/networking.md`](https://kops.sigs.k8s.io/networking/). What is its support status? Should we fix it, deprecate it as of k8s 1.24, or remove it entirely?

[2022-11-08 16:10] hakman commented on #14510
/kind office-hours
/assign @justinsb

[2022-11-08 23:22] #14495 closed

[2022-11-09 10:42] chubchubsancho opened #14518 "Cluster-autoscaler autodiscovery and priorityexpander configMap"
/kind feature

**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
1.1. Autodiscovery:
Actually when deploying `cluster-autoscaler` addons, each instance group allowed to scale is added to `cluster-autoscaler` command line through:
[code]
`cluster-autoscaler` is able to auto discover instance group in different way (based on cloud provider).
eg for `AWS`: it search `ASG` w

[2022-11-09 12:49] olemarkus commented on #14493
Try quoting the numeric values.

[2022-11-09 14:04] olemarkus opened #14520 "client-go applier fails to upgrade resources"
The addon upgrade test has been failing since we migrated to the client-go-based applier in #14362: https://testgrid.k8s.io/kops-misc#kops-aws-addon-resource-tracking

This needs to be looked at or we need to prepare for flipping back to kubectl for another release.

/cc @justinsb

[2022-11-09 14:28] olemarkus commented on #14496
The error comes from the AWS SDK trying to reach the EC2 API through that domain. Could it be some local SDK configuration you have?

[2022-11-09 19:12] olemarkus commented on #14481
The error specifically comes from the ec2 `DescribeInstanceType` API endpoint not returning any values.

[2022-11-10 06:21] MinliangLin commented on #14481
Hi @olemarkus. Not sure if this could help your debugging, I just tired the `DescribeInstanceType` api. It seems working well on my EC2 machine. The aws cli version I am using is `aws-cli/1.18.107 Python/2.7.18 Linux/4.14.192-147.314.amzn2.x86_64 botocore/1.17.31`

[code]

[2022-11-10 07:33] Amithpn opened #14523 "Unable to run kubelet due to etcd failure after the kops update cluster to latest"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.25

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.22

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simp

[2022-11-10 08:00] olemarkus commented on #14523
The logs suggests you have etcd 2 installed, which seems very strange given your k8s version. I don't think kops 1.25 understands etcd2 at all as all support for that was removed some time ago.

Can you share more about what has happened in the past? Have you tried to do a recovery or deleted etcd volumes? Do you have multiple etcd volumes in the same AZ for the same cluster (check volume tags)?

[2022-11-10 08:42] djablonski-moia commented on #14068
Thank you! 😄

[2022-11-10 10:27] Amithpn commented on #14523
I tried updating my cluster from recently. I did kops update cluster --yes and my kubectl cmd stopped working. I logged in to the master node to see what is wrong and found out that etcd was not coming up. Do you know how to upgrade etcd on master node? Yes i see two directories for master node in the /mnt dir

[2022-11-10 12:56] Amithpn commented on #14523
Im basically updating from kops 1.11.1 to the latest. And my etcd cluster is broken now. Can you guide me through the way to recover my lost cluster. Im unable to go back to the old kops version also. I get below error if i try to revert back to old version.

`
Using cluster from kubectl context: uswest2b.server.prod.com

error reading cluster configuration: error reading cluster configuration "us

[2022-11-10 13:22] justinsb commented on #14510
Looking into this - I think we need to set up the rules as here: https://github.com/kubernetes/cloud-provider-gcp/blob/043a2d5bab9959aa503806a099637049fe78d436/cluster/gce/gci/configure-helper.sh#L160-L175

[2022-11-10 13:59] olemarkus commented on #14523
My guess is that you jumped too many K8s versions. You can only jump one by one. And when you jumped that many k8s versions, etcd also jumped too many versions.

My guess is that you have to try to upgrade using kOps 1.19, which still supports K8s 1.11 (assuming that is what you had before).

[2022-11-10 16:32] Amithpn commented on #14523
are you suggesting me that downgrade to kops 1.19.0 and try upgrading to latest?

[2022-11-10 16:43] olemarkus commented on #14523
What k8s version were you running and what are you running now?

[2022-11-10 17:33] Amithpn commented on #14523
I was running k8s 1.10.2 earlier. And im on 1.19 now

[2022-11-10 17:46] Amithpn commented on #14523
But im unable to revert to old version which i have mentioned earlier.

[2022-11-10 17:51] olemarkus commented on #14523
Not even 1.19?

[2022-11-10 17:52] Amithpn commented on #14523
Yes im able to downgrade to  kops 1.19 : kops update cluster --allow-kops-downgrade

[2022-11-10 18:17] Amithpn commented on #14523
[ec2-user@ip-172-DEMO.SCENE| ~]$ kops rolling-update cluster
Using cluster from kubectl context: uswest2b.testing.server.com

Unable to reach the kubernetes API.
Use --cloudonly to do a rolling-update without confirming progress with the k8s API

error listing nodes in cluster: Get "https://api.uswest2b.testing.server.com/api/v1/nodes": dial tcp 12.221.25.164:443: connect: connection refused
[ec2-

[2022-11-10 18:22] olemarkus commented on #14523
You probably have to add `--cloudonly` as the error says.

[2022-11-10 18:40] Amithpn commented on #14523
[ec2-user@ip-172-31-45-48|DEMO.SCENE| ~]$ kops rolling-update cluster --yes --cloudonly
Using cluster from kubectl context: uswest2b.testing.server.com

NAME                    STATUS          NEEDUPDATE      READY   MIN     TARGET  MAX
master-us-west-2b       NeedsUpdate     1               0       1       1       1
nodes                   NeedsUpdate     2               0       2       2       2

[2022-11-10 19:42] #13323 closed

[2022-11-10 22:01] mwoodson-coinbasecloud opened #14527 "systemd unit hooks are not run on reboot"
/kind feature

**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

We are running kops 1.24.2.
We are running on flatcar linux.

We are creating some systemd unit via the "hooks" section. These hooks run on first boot, but if a node is rebooted, the hooks do not run.

In this particular scenario we are running a "oneshot" systemd unit file to disable a network setting (fr

[2022-11-11 05:30] Amithpn commented on #14523
With --cloudonly option i see both master and node instances restarted and i see the same error in etcd.log in master.

etcd.log:

I1110 18:12:55.799500 8257 controller.go:295] I am leader with token "FKsFSzHhBCH-9Bf3noCfRg"
I1110 18:12:55.800073 8257 controller.go:705] base client OK for etcd for client urls [https://etcd-b.internal.uswest2b.testing.server.com:4001]
W1110 18:12:55.800521 8257 con

[2022-11-11 06:06] olemarkus commented on #14523
This is with running kops 1.19 and configured it to run k8s 1.11?

[2022-11-11 06:15] sekasara commented on #14481
@olemarkus will check with latest version of kops and will update.

[2022-11-11 06:51] olemarkus commented on #14527
The easiest fix for this is to supply your own raw manifest: https://kops.sigs.k8s.io/cluster_spec/#hooks

[2022-11-11 07:06] Amithpn commented on #14523
No this is with kops 1.19 and configured it to run k8s 1.19

[2022-11-11 07:16] olemarkus commented on #14523
If your previous version was 1.10 you have to set it to 1.11, then 1.12, then 1.13 etc... With a full cluster roll in between. If not your cluster may break beyond repair. Both kops and k8s docs are very clear about this.

[2022-11-11 10:39] Amithpn commented on #14523
We are not able go back to kops 1.11.1 now. What is the way forward make this work? Why is that there is no update path from any version kops version to latest version?

[2022-11-11 11:07] olemarkus commented on #14523
Make sure you keep k8s and kops version separate. So it should be kops 1.19 and k8s 1.11.

[2022-11-12 15:08] #13792 closed

[2022-11-13 10:06] ederst commented on #13150
/remove-lifecycle stale

[2022-11-13 19:15] Amithpn commented on #14523
With kops 1.19 and k8s 1.11.0 i was able to resolve the etcd issue But when i updated k8s to 1.12.0 i again see the etcd breaking.

etcd.log:

`
2022-11-13 19:10:34.545076 I | etcdmain: listening for client requests on https://0.0.0.0:4001
2022-11-13 19:10:34.545249 I | etcdmain: stopping listening for client requests on https://0.0.0.0:4001
2022-11-13 19:10:34.545266 I | etcdmain: stopping listen

[2022-11-13 22:12] johngmyers commented on #14523
Upgrading k8s 1.11 to 1.12 is tricky. There is documentation at https://kops.sigs.k8s.io/etcd3-migration/

[2022-11-14 00:29] justinsb commented on #14481
So I am proposing some more self-descriptive error messages in #14544, in particular printing the region in the error message.

However, it looks like our logic is correct (at least in the latest version of kOps).  kops 1.11 is really old, so I'm not quite sure of the logic there.  Was that maybe a typo?

The behaviour is that we look up the region in the region that corresponds to the cluster `--

[2022-11-14 04:45] sekasara commented on #14481
Hey @olemarkus @justinsb, Thanks for your time and effort on this issue.
I tested with newer kops version 1.19.0. its working in 1.19.0

**Cause:**
When I checking in kops repo, it looks, only few defined instance types are supported until 1.18.3. (https://github.com/kubernetes/kops/blob/v1.18.3/upup/pkg/fi/cloudup/awsup/machine_types.go#L72)

From 1.19.0 only kops supporting all the aws supported

[2022-11-14 04:45] #14481 closed

[2022-11-14 07:04] Amithpn commented on #14523
I got the cluster deployed with kops 1.19 and k8s 1.11. I see master node is working fine but worker nodes are failing to install kubectl with following error. Im using the follwoing image in IG group for both master and nodes: `099720109477/ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-20220924`

syslog on node insatnce:

[code]

[2022-11-14 08:34] ValeriiVozniuk commented on #11400
/remove-lifecycle stale

[2022-11-14 11:03] kciredor opened #14546 "Changes to new_cluster.go break OpenStack creation (and others?)"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
v1.25.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
v1.25.x

**3. What cloud provider are you using?**
OpenStack

**4. What commands did you run?  What

[2022-11-14 11:26] Amithpn commented on #14523
Any idea how to resolve the above issue in worker nodes?

[2022-11-14 17:26] #13313 closed

[2022-11-15 08:26] diversario opened #14560 "Multiple etcd-managers in the same AWS AZ can claim each other's volumes"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.20.3 (git-6995b12559257e37a05aee54939222c97d0f3c8f)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.20.15

**3. What cloud provider are you u

[2022-11-15 09:38] voriol opened #14561 "node-termination-handler addon: webhookURL"
/kind feature

**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

The "aws-node-termination-handler" have a "webhookURL" options to send notifications for, ie: slack:

https://github.com/aws/aws-node-termination-handler/blob/main/config/helm//README.md

[code]

But configuring the kops addon, i don't finde that option:

https://kops.sigs.k8s.io/addons/#node-termination-h

[2022-11-15 11:22] olemarkus commented on #14561
This feature currently does not exist, but shouldn't be too hard to add. Happy to review a PR

[2022-11-15 11:46] hakman commented on #14546
@olemarkus @zetaab Any ideas?

[2022-11-16 04:15] johngmyers commented on #14546
@kciredor could you please provide the exact command you ran to reproduce?

[2022-11-16 04:48] johngmyers commented on #14546
Looks specific to OpenStack, as that is the only cloud provider other than AWS that calls into the cloud to get the default instance type.

[2022-11-16 09:12] kciredor commented on #14546
Here's the full command I used @johngmyers:

[code]

Besides the bug I guess it would make sense to be able to specify the bastion instance type from the commandline. I can specify master and nodes already.

[2022-11-16 11:53] nshiveg commented on #14523
guys can you please help us? Me and Amith are from Nokia and we are blocked because of this. Can you guys please look into this?

[2022-11-16 14:17] InTheCage opened #14570 "got error running nodeup (will retry in 30s): error loading Cluster"
/kind bug

**1. What `kops` version are you running? `1.25.2`

**2. What Kubernetes version are you running? `v1.25.4`

**3. What cloud provider are you using?** `Openstack`

**4. What commands did you run?  What is the simplest way to reproduce this issue?**
[code]

**5. What happened after the commands executed?**
Cluster creates, but node not start.
Log of kops-configuration.service
[code]

**6

[2022-11-16 17:29] heybronson opened #14571 "kops toolbox instance-selector panic"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
N/A

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the sim

[2022-11-16 21:19] johngmyers commented on #14546
I added a `--bastion-image` flag in #14535. For the type I'm not sure why one wouldn't want the autodetected, smallest type that is appropriate for the image.

[2022-11-17 04:28] hakman commented on #14570
@InTheCage Is the AWS part for the S3 storage?

[2022-11-17 07:37] olemarkus commented on #14523
Can you describe the dns-controller pod to see why it is pending?
The kube-dns pods are pending because they run on worker nodes.

[2022-11-17 08:39] Amithpn commented on #14523
ubuntu@i-0e089017323ba1067:~$ kubectl -n kube-system describe pod dns-controller-6d779ff48c-68htq
Name:           dns-controller-6d779ff48c-68htq
Namespace:      kube-system
Node:           <none>
Labels:         k8s-addon=dns-controller.addons.k8s.io
                k8s-app=dns-controller
                pod-template-hash=2833599047
                version=v1.19.0
Annotations:    scheduler.alpha.

[2022-11-17 10:14] glomikuz opened #14575 "[cilium - eni IPAM MODE] problem with connection from POD to external resource in additional subnet after kops upgrade from 1.23 -> 1.25"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.23.2 (git-4125bbbe975ca104c609ceaa625a9a5ff3ac19f4) → Client version: 1.25.2 (git-v1.25.2)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.23

[2022-11-17 12:01] olemarkus commented on #14575
if it works to downgrade cilium, I wonder if this is an upstream bug. I don't think we do any big changes to the manifests that could affect this.

That being said, normally the nonMasqCIDR should match VPC CIDR in ENI mode. Also ensure there is no tunnelling enabled.

[2022-11-17 13:08] InTheCage commented on #14570
@hakman

yep.

Also in env configured KOPS_STATE_STORE=s3://storage...

[2022-11-17 13:11] hakman commented on #14570
In this case, I think you need to set the S3 related env vars instead:
[code]

[2022-11-17 16:03] InTheCage commented on #14570
@hakman

if i setup export S3_ENDPOINT it conflicts with KOPS_STATE_STORE

export S3_ENDPOINT=s3bucket

export KOPS_STATE_STORE=s3bucket

And state-store trying access s3://s3bucket/s3bucket/my-cluster.k8s.local/config

Also i noticed here is no config file located by $HOME/.kops.yaml

Im using macOS Ventura 13.0.1

[2022-11-17 16:06] hakman commented on #14570
See more about S3 endpoints: https://docs.aws.amazon.com/general/latest/gr/s3.html.
Should be something like: `s3.eu-central-1.amazonaws.com`.

[2022-11-17 18:42] #14571 closed

[2022-11-17 18:42] #14247 closed

[2022-11-18 10:42] ValeriiVozniuk commented on #14118
/lifecycle stale

[2022-11-18 10:43] ValeriiVozniuk commented on #14118
/remove-lifecycle stale

[2022-11-18 10:44] ValeriiVozniuk commented on #14118
We are trying to get rid of calico to see if it will help, but not much progress there, and no free time to create a proper reproduction scenario without much our cluster specifics

[2022-11-18 17:28] justinsb commented on #14510
I also came across this issue: https://github.com/kubernetes/cloud-provider-gcp/pull/393

[2022-11-18 18:12] #13848 closed

[2022-11-19 17:51] johngmyers opened #14603 "kops-controller fails to generate bootstrap response for APIServer nodes"
/kind bug

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

master branch

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

ci

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What i

[2022-11-19 17:51] johngmyers commented on #14603
/assign @hakman

[2022-11-20 13:46] olemarkus commented on #14160
Ubuntu 2204 is a known issue. See #14140
Could be the same issue happens on Debian 11 as well.

[2022-11-20 14:22] olemarkus commented on #14122
I think these are good suggestions, but probably hard to prioritise for most of the maintainers. It should however be low-hanging fruit for new contributors.

[2022-11-20 19:08] johngmyers commented on #14149
We don't appear to have any e2e tests on AWS gossip, much less any IPv6 ones.

I'm not sure what the use case is for IPv6 Gossip; if you're big enough to want IPv6, you can probably afford a Route53 zone. But if we're not going to support it, we should add an API validation against the combination.

/remove-lifecycle stale

[2022-11-20 19:28] johngmyers commented on #14122
The places that need this logging:

[code]

and any place that assigns the value `CloudInstanceStatusNeedsUpdate`

[2022-11-21 00:06] justinsb commented on #14520
Thanks for calling it out - I'll take a look!

[2022-11-21 00:18] justinsb commented on #14520
Looks like two separate problems:

1) Older kOps versions can't delete newer clusters, so once we leak one we "get stuck", because we clean up before we create a cluster:

`error removing cluster from state store: refusing to delete: unknown file found: s3://k8s-kops-prow/e2e-c0d41e2af2-13250.test-cncf-aws.k8s.io/cluster-completed.spec`

2) There might be a problem with a PodDisruptionBudget for k

[2022-11-21 00:33] justinsb commented on #14520
For 2, I think the problem is that we're mixing old and new objects (we switched from minAvailable to maxUnavailable in https://github.com/kubernetes/kops/pull/12915 . I'm thinking what we need to do is to switch the field manager from kubectl-applier to our SSA owner _before_ we apply an addon object.  I know you had a WIP PR here @olemarkus , but I can't find it...?   However, I do think doing i

[2022-11-21 10:53] olemarkus commented on #14149
I suggest not supporting and blocking it until there is a case that can't use `--dns=none`

[2022-11-21 12:27] glomikuz commented on #14575
I tried with  nonMasqueradeCIDR: **10.210.0.0/10**  got same behaviour  ( problem with access to external )

but i found some interesting facts

when we using ENI we must specify masquerade to false
https://github.com/kubernetes/kops/blob/851fce2b2e24a6b9cdc78122d3743d8ebbfc30d8/k8s/crds/kops.k8s.io_clusters.yaml#L4905-L4912

--masquerade=false by default in cilium manifest - > https://gist.github

[2022-11-21 12:48] olemarkus commented on #14575
Interesting. Thanks for catching this.

[2022-11-21 12:54] olemarkus commented on #14575
This should be an easy fix, but I want to spend some time setting up an e2e test for this so that we can catch such changes before it hits users.

[2022-11-21 17:27] justinsb commented on #14520
Actually I've found the logic to update the field manager, nicely merged into applyset.go.  It may be that we just need to cherry-pick that logic; I'm writing a test to be sure!

[2022-11-22 03:49] johngmyers commented on #14575
@olemarkus Perhaps we need a `cilium-eni` networking option.

[2022-11-22 07:32] olemarkus commented on #14575
Yeah that may make sense. It seems to be a popular option, so it would make adoption easier too.

[2022-11-22 10:03] kciredor commented on #14546
Right, makes sense @johngmyers, I generally like to "pin" things so that would be my motivation for setting the bastion instance type from the cli.

What remains is that for now I can't deploy Kops 1.25 on OpenStack. Perhaps @olemarkus or @zetaab can assist?

[2022-11-22 12:32] olemarkus commented on #14546
Let me have a look at how easy of a fix this is. I unfortunately don't have access to an openstack environment anymore, but hopefully this can be reproduced with integration tests.

[2022-11-22 14:51] learningcloudk8 opened #14627 "How to find ca.crt and ca.key in gcp cloud storage bucket"
I have created kubernetes cluster with kops with below command. I couldn't see ca.crt and ca.key in bucket. May i know where i can get it? Am i missing anything here?

kops create cluster gcpcloud44.xyz --zones us-central1-b,us-central1-a --state ${KOPS_STATE_STORE}/ --project=${PROJECT} --node-count=2 --master-count=1 --node-size=e2-medium --master-size=e2-medium --dns-zone=gcpcloud44.xyz --ssh-p

[2022-11-22 18:21] olemarkus commented on #14546
You can test this one: https://github.com/kubernetes/kops/pull/14630

[2022-11-22 19:56] IgalSc commented on #14149
it's not about being big to require IPv6, it's about the requirement of being able to handle IPv6 requests from embedded devices that communicate over IPv6 only.
You cannot add IPv6 or Dual-stack load balancer if your cluster is created as IPv4 only

[2022-11-23 00:00] #14603 closed

[2022-11-23 03:14] johngmyers commented on #14627
Look for `keyset.yaml`

[2022-11-23 03:18] johngmyers commented on #14149
I was under the impression that you could use a dualstack load balancer with an IPv4-only cluster, as long as your utility subnets are dual-stack.

[2022-11-23 05:48] #11634 closed

[2022-11-23 05:48] #11635 closed

[2022-11-23 05:48] #11636 closed

[2022-11-23 05:48] #11928 closed

[2022-11-23 11:00] kciredor commented on #14546
I was not able to build your branch @olemarkus, so instead applied your patch to the v1.25.2 branch, which builds fine.

Now it proceeds beyond the previous panic but then panics again:
[code]

I've also tried your patch on the master branch but unable to build, same as your branch:
[code]

[2022-11-23 14:38] olemarkus commented on #14546
/reopen

[2022-11-23 15:47] IgalSc commented on #14149
@johngmyers
How do you create these subnets using KOPS? Or do you suggest using "shared VPC" with existing subnets?

[2022-11-23 15:55] olemarkus commented on #14546
This one is a bit more tricky to solve with tests, I think ... @zetaab have you encountered this?

[2022-11-23 15:57] zetaab commented on #14546
We are not using this part of the code at all. We create all clusters using yaml spec, not from cli parameters

[2022-11-23 15:57] IgalSc commented on #14149
@johngmyers
also, as per https://github.com/kubernetes/kops/issues/14204#issuecomment-1232690138,
"You have to use load balancer controller addon and then an NLB with the dualstack annotation (not the ipfamily* fields)."

[2022-11-23 16:00] olemarkus commented on #14546
That last error seems to be from a task though ...
@kciredor what is the command you are using to produce this error?

[2022-11-23 16:29] justinsb opened #14639 "Retests not always running latest code"
I think there is an error where we don't always run the latest code in our e2e tests.  I think the issue is this:

[code]

I think that behaves differently when the target directory exists vs does not exist:

[code]

[code]

I think we always want the versioned copy (and need to figure out how to get the correct KOPS_BASE_URL)

[2022-11-23 23:00] johngmyers commented on #14149
I was suggesting using "shared subnets" that were provisioned externally.

And yes, you would have to use LBC to provision those load balancers.

For context, kOps is looking into deprecating Gossip, moving those use cases to none-DNS.

[2022-11-24 00:12] johngmyers commented on #8432
Not performing the following tasks:

* allow configuring Kubernetes IPv4/IPv6 dual-stack:
** Ruled as out of scope
* CloudFormation support for cidrsubnet()
** What's this "CloudFormation" you speak of? :-)

[2022-11-24 07:34] dmytronasyrov opened #14646 "Overcome a limit on target groups"
There is an AWS limitation on updates of no more than 10 target groups of load balancers at once. I have > 10 instance groups in the cluster, all of which are linked to the single LB. When I try to update any instance group, I get the error:
`Error: error running tasks: deadline exceeded executing task AutoscalingGroup/TGname. Example error: error detaching TargetGroups: ValidationError: Trying to

[2022-11-24 12:24] hakman commented on #14646
Thanks for reporting this @dmytronasyrov.
Any chance you have a test system on which you could test the proposed fix?

[2022-11-24 13:30] dmytronasyrov commented on #14646
Unfortunately, it's our production env with a lot of different things and it's super-complex to cut the demo out.
Here are 2 pages related to ALB and NLB quotas. I'm not sure why it says 10 TGs because in quotas I see 5 TGs per ALB and 1 TG per NLB per action. And these limits are not adjustable in the console.
[](https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-limits

[2022-11-24 14:46] fbozic opened #14649 "Cilium pods running on worker nodes keep restarting due to timeout while retrieving initial list of objects from kvstore"
/kind bug

I'm trying to set up a new cluster on GCE with cilium-etcd networking.

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`Client version: 1.25.2 (git-v1.25.2)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` fla

[2022-11-24 15:33] hakman commented on #14646
My problem is that I don't have a setup where it's easy to test such thing.
It would be helpful to see if there's a way to test the patch I made before merging it. Technically, you just need a new `kops` binary that contains the fix.

[2022-11-24 17:02] #8432 closed

[2022-11-24 18:00] #14646 closed

[2022-11-24 19:05] hakman commented on #14627
I guess the question was addressed. Please reopen if you think more info is required.

[2022-11-24 19:05] #14627 closed

[2022-11-24 20:18] #14649 closed

[2022-11-24 20:31] aojea commented on #8432
Thanks folks , it was a long run but we made it 👏

[2022-11-24 20:34] hakman commented on #8432
I bet that now you'll open an issue that it doesn't work on GCE 🤣

[2022-11-25 07:01] hakman commented on #14649
Thanks for reporting this @fbozic. The fix for the issue should be part of today's releases:
https://github.com/kubernetes/kops/releases/tag/v1.24.5
https://github.com/kubernetes/kops/releases/tag/v1.25.3

[2022-11-25 07:02] hakman commented on #14646
The possible fix for the issue should be part of today's releases:
https://github.com/kubernetes/kops/releases/tag/v1.24.5
https://github.com/kubernetes/kops/releases/tag/v1.25.3

[2022-11-25 08:36] #14570 closed

[2022-11-25 10:22] fbozic commented on #14649
That was really fast @hakman, thank you.

[2022-11-25 16:13] jandersen-plaid commented on #14176
/remove-lifecycle stale

[2022-11-26 14:10] ghost opened #14677 "needs more documentation about ha"
/kind feature

**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

**2. Feel free to provide a design supporting your feature request.**

needs more documentation about ha

[2022-11-26 14:36] tanshilingithub commented on #14677
kops is a nice project, but it has some different with our behavior, maybe i will describe it and implement it to push

[2022-11-26 18:41] johngmyers commented on #14677
The current documentation on HA is https://kops.sigs.k8s.io/operations/high_availability/

If that is insufficient, then it would be helpful to state what information is missing.

[2022-11-26 19:44] nineunderground opened #14679 "Add support for recently available new AWS region "eu-south-2""
/kind feature

**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
Basically, I'd like that new aws region (*eu-south-2*) is included in next kops version. So, then nodeup process will not fail when starting on _kops create cluster_ if that region manages the state in a AWS S3 bucket located there.

**2. Feel free to provide a design supporting your feature request.**
I im

[2022-11-27 00:39] johngmyers commented on #14679
You should be able to give `kops create cluster` the `--cloud aws` flag so it doesn't have to rely on its table mapping regions to cloud providers.

[2022-11-27 02:37] tanshilingithub commented on #14677
Sorry, I feel that the above document lacks more professional explanations, such as how the `kube-master` component group (`apiserver`, etc.) forms a cluster, and how components such as `kubelet` are connected to the master cluster

[2022-11-27 02:38] tanshilingithub commented on #14677
Yes, I am looking at the source code too, it is really good, but it will take some time

[2022-11-27 03:47] johngmyers commented on #14677
Ah, that document is intended for operators, giving them information on how to create and operate an HA cluster.

`contributing/how_it_works.md` is closer for those who want to know how things work. There's also `boot-sequence.md`.

[2022-11-27 04:18] tanshilingithub commented on #14677
ok, maybe it just called cloud's api interface to create a k8s cluster? but it maybe don't feel like this?

[2022-11-27 06:31] johngmyers commented on #14677
See `terraform.md` if you want to use Terraform instead of directly calling the cloud provider's API.

[2022-11-27 07:33] olemarkus commented on #14679
A new region also requires updated AWS SDK, so usually a new version is required anyway. But kOps latest should have a new enough SDK.

[2022-11-27 09:37] tanshilingithub commented on #14677
ok, thanks

[2022-11-27 12:13] nineunderground commented on #14679
Well, I feel it does. I tried that and running with latest tools (kops 1.25.2 and aws-cli 2.9.1) and dns-controller never runs, and nodeup log gives errors about the region not valid. So, I assume there is a validation blocking. (_I know there is kops 1.25.3 out there, but I don't see a reference about the new region in changelog, so I guess that won't solve the problem_)
Anyway, this was more lik

[2022-11-27 16:44] johngmyers commented on #14679
There is no validation in kOps proper, just code that guesses cloud provider from region name upon creation. There well might be in the AWS SDK, but that is not in our power to remove. We don't replicate their release notes.

[2022-11-27 17:07] johngmyers commented on #14679
We probably should add some validation of the region so that the failure happens sooner. The error message should refer to "supported by the <cloud-provider> SDK".

[2022-11-27 18:45] nineunderground commented on #14679
No problem. Thus AWS SDK should fix that eventually.
Thanks for clarification

[2022-11-27 18:45] #14679 closed

[2022-11-28 07:28] kciredor commented on #14546
Same command as before @olemarkus

[2022-11-28 12:51] #13540 closed

[2022-11-29 01:17] johngmyers commented on #14546
The stack trace suggests that no `lbclient` is set in the `OpenstackCloud`. That OpenStack load balancer logic is pretty convoluted.

[2022-11-29 19:19] hakman opened #14690 "Concerns about the MPL-2.0 of Hashicorp deps"
/kind office-hours

CNCF did a license scan as part of https://github.com/kubernetes/community/issues/6992 and kOps is mentioned with the as using deps under the MPL-2.0 license which is weak copyleft (**Be sure that it is used only as dynamic libraries, to be safe if it's not required remove it from your repo.**):
[code]

[2022-11-29 19:23] hakman commented on #14690
We need to file for license exceptions: https://github.com/cncf/foundation/tree/main/license-exceptions.
Example: https://github.com/cncf/foundation/issues/294.

[2022-11-30 07:44] johngmyers commented on #14690
Okay, I'll bite: why don't we remove that code from our repo?

We really don't need a fancy parsing library in order to generate Terraform code.

The cert-manager client for its CRDs lists those licenses, though doesn't include any of that code. If it causes problems for our scanner, we might be able to generate those clients ourselves.

We'd probably have to drop support for Vault. Seems a logica

[2022-11-30 07:46] olemarkus commented on #14690
I am for removing the vault support. It never reached stable and I've not seen a single feature/support request around this. No idea if it even works anymore.

[2022-11-30 08:05] hakman commented on #14690
+1 for vault support removal.
I have no idea why we are using the fancy library to generate Terraform code. I was wondering the same last time I touched that code. We could try removing this one too and lighten our deps load.

[2022-11-30 10:16] fbozic opened #14693 "Cluster-autoscaler pods on are in CrashLoopBackOff due to failure during GCE Manager creation"
/kind bug

I'm trying to set up a new cluster on GCE with cluster-autoscaler enabled. I couldn't find specific cluster-autoscaler GCE docs, so I've tried just to enable it. Let me know if cluster-autoscaler is not supported for GCE and this is not actually a bug.

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
`Client version: 1.25.3 (git-v1

[2022-11-30 10:55] olemarkus commented on #14575
The only configuration I could make work for cilium 1.11 _and 1.10 is
[code]

If I disable masqing or if I don't specify the masq interface, it seems incoming packets on ens5 is dropped. I'd especially want to avoid setting the interface name like this as it's distro dependent.

From the flow logs, it seems like traffic is masqed even if masqing is disabled. At least all traffic I could find in th

[2022-11-30 14:19] fbozic opened #14695 "Feature - Support GCP IAM Roles for Service Accounts"
/kind feature

**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
GCP has support for IAM Roles using K8s service accounts, and I think it would be great if kOps could handle configuring this automatically. GKE Workload Identity [docs](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity).

kOps already supports AWS IAM Roles for service accounts [docs

[2022-11-30 16:44] johngmyers commented on #14690
I'll take on refactoring the Terraform generation code.