[2020-09-16 17:30] zetaab commented on #9953
Ok we fixed this in following way:

`kubectl apply -f hack.yaml && sleep 20 && kubectl delete ds folderfix -n kube-system && kubectl delete pods -n kube-system -l k8s-app=kops-controller`

Where the hack.yaml is following:

[code]

[2020-09-16 19:49] hakman commented on #9930
If you are running the kops binary inside a docker container inside a kops cluster created with v1.18.x, you may need to do this:
https://kops.sigs.k8s.io/cluster_spec/#networking

[2020-09-16 21:09] fnpanic opened #9955 "1.19-alpha4 missing nodeup in bucket"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.19.0-alpha.4 (git-ecac8c5f142ae3df9c29f3195c5bd3e67645d38e)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
cluster did not build

**3. What cloud provider

[2020-09-16 21:11] fnpanic commented on #9955
mark this duplicate with #9951 sorry.

[2020-09-16 23:39] jeromeroserio commented on #8959
I had similar issue couple of days ago where I can't connect to my Kubernetes cluster using `kubectl`. It was giving  The connection to the server api.xxxxx.xxxxxxxx.com was refused - did you specify the right host or port?"

I have a 4 node Kubernetes cluster with 1 x master and 3 x worker nodes hosted on AWS. This Kubernetes cluster was setup using kops by a colleague of mine who no longer avail

[2020-09-16 23:48] jeffhubLR commented on #8823
/remove-lifecycle stale

[2020-09-17 05:14] johngmyers commented on #9953
Setting an `updateStrategy` of `OnDelete` seems appropriate. A static manifest would probably be even more appropriate, but there might be other issues with that.

The hack is likely to result in non-working (or only partially-working) kops-controllers on AWS, as it won't provision the keys/certs that the AWS bootstrap server needs. It might be enough to get cluster validation to pass long enough

[2020-09-17 05:26] johngmyers commented on #9953
If we do go with `OnDelete` we might need to put a hash derived from the manifest in the `NodeupConfig` of masters in order to make sure rolling update will deploy any changes.

[2020-09-17 06:08] johngmyers commented on #9955
/close

[2020-09-17 06:08] #9955 closed

[2020-09-17 06:21] kciredor opened #9956 "OpenStack kops-controller (re)auth problem part 2 (Swift)"
Kops version 1.17.2 (latest 1.17 release) running Kubernetes 1.17.11 on OpenStack .

Unfortunately the fix that was merged here https://github.com/kubernetes/kops/pull/8862 did not entirely solve the kops-controller token expiry issue.

Repeating my previous comment here for clarity:

gophercloud ReAuth default false... I mean... 👎 Now it's fixed for etcd-controller and supposedly for kops-control

[2020-09-17 06:26] johngmyers commented on #8714
That's a bit strange, since kops 1.19 branch by default uses LaunchTemplate instead of LaunchConfiguration.

Probably related to the fact that https://github.com/kubernetes/kops/blob/5b1ac2858121640636c3042199416149a0d65afc/upup/pkg/fi/cloudup/awstasks/launchconfiguration.go#L172-L176 populates an `SSHKey` struct, yet https://github.com/kubernetes/kops/blob/5b1ac2858121640636c3042199416149a0d65afc

[2020-09-17 06:37] johngmyers commented on #8774
Actually, all the client and server certificates rotate on node replacement for k8s 1.19+ on AWS.

[2020-09-17 06:39] zetaab opened #9957 "Failed to associate floatingip to bastion"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.19 alpha 4

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.19.1

**3. What cloud provider are you using?**

OpenStack

**4. What commands did you run?  What is

[2020-09-17 06:41] johngmyers commented on #8773
The client and server certs are now issued per-node, so this doesn't make sense.

[2020-09-17 07:13] zetaab commented on #9953
@johngmyers I can confirm that this workaround does not work for AWS, it do work only in OpenStack

[2020-09-17 07:16] hakman commented on #9951
Workaround until mirrors are fixed:
[code]

[2020-09-17 07:16] hakman commented on #9955
@fnpanic this workaround should help: https://github.com/kubernetes/kops/issues/9951#issuecomment-694021460.

[2020-09-17 07:37] johngmyers commented on #9806
Appears to have been sufficiently addressed by #9909
/close

[2020-09-17 07:37] #9806 closed

[2020-09-17 07:48] olemarkus commented on #9953
The same "problem" can exist for DaemonSets too. So not only things running on masters. We could add a nodeselector to the channels API and when that selector is set, channels cmd set `kops.k8s.io/needs-update` annotation on the matching nodes after running it's normal `kubectl apply`.

[2020-09-17 08:48] vixus0 commented on #8714
So I gave this a try on an existing cluster with 1.19-alpha4. I have `sshKeyName: ""` in my cluster manifest. It looks like (in the masses of output :stuck_out_tongue:) the `LaunchConfigurations` are all being replaced with `LaunchTemplates` and I don't see any mention of `SSHKey` anywhere.

[2020-09-17 09:38] vixus0 opened #9959 "Wrong ASG names passed to cluster-autoscaler"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.19.0-alpha.4 (git-1ecb9ab)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.19.0

**3. What cloud provider are you using?**
AWS

**4. What commands did you

[2020-09-17 09:39] ysaakpr commented on #9930
Little bit confused on this. This is mostly to bridging host network if you are running inside docker ran by docker run, instead of k8s. But ii am running inside k8s. I have internet access. But this is looks something else on hope count setup(aws/aws-sdk-go#2972) recently launched by ec2 metadata.

I have other docker services which call aws apis running in the same cluster, and none of them has

[2020-09-17 10:03] hakman commented on #9930
Maybe you can exec into that pod and see if a curl command works.

[2020-09-17 10:05] hakman commented on #9959
/cc @olemarkus

[2020-09-17 10:07] vixus0 commented on #9959
I guess the auto-discovery is dependent on the cloud provider, and I don't know how much logic you'd want in the template, so feel free to disregard that bit.

[2020-09-17 10:52] iusergii opened #9960 "Add configuration keys for Annotations to Cluster resources."
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
It would be nice to have an option to add custom annotations to the Cluster Control Plane resources.  We lack this for configuration:
* Monitoring
* Logs dissect

[2020-09-17 12:51] mikesplain commented on #7636
/remove-lifecycle stale

[2020-09-17 13:00] accnops commented on #8959
I had the same issue. Following [these instructions](https://github.com/kubernetes/kops/blob/master/docs/rotate-secrets.md) helped me a lot!

[2020-09-17 13:55] zetaab commented on #9956
https://github.com/kubernetes/kops/pull/9842

[2020-09-17 16:10] jeromeroserio commented on #8959
Thanks @accnops.
I went through the instructions at https://github.com/kubernetes/kops/blob/master/docs/rotate-secrets.md and as  it says at the beginning it is a disruptive procedure.

Currently my prod services are running OK. I understand if any POD has issues, then I won't be able to perform any management  tasks as ETCD is not working. So is there any way to bring ECTD back online without dis

[2020-09-17 17:34] hakman commented on #9947
I think Bazel version for 1.18 should be 2.2.0.
https://github.com/kubernetes/kops/blob/release-1.18/.bazelversion

[2020-09-17 18:52] djerraballi commented on #9728
so as of right now will the root volume encryption flag use the default? Or is the flag just added to the spec, but not actively used?

[2020-09-17 18:54] mat285 commented on #9947
I'm trying to build version 1.16.4, any advice on the version there?

[2020-09-17 18:58] hakman commented on #9947
I think should work with 2.2.0 also.

[2020-09-17 19:25] accnops commented on #8959
Yes, it will recreate a master and worker nodes. It's like a cluster version upgrade.

[2020-09-17 21:19] rifelpet opened #9966 "Inaccurate instructions for enabling Cilium"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
master

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.19.1

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest wa

[2020-09-18 10:10] MichaelJDrK opened #9970 "Allow using AWS Instance Metadata Service Version 2 (IMDSv2) in InstanceGroups"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

In AWS EC2 instances there is an Instance Metadata Service with Version 1 and Version 2
(https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/configuring-instance-metadata-service.html).

You can enforce usage of IMDSv2 (=disallow v1) setting "HttpTokens" to "required". Or you can turn off IMDS by setting "HttpEndpoint" t

[2020-09-18 11:00] #9951 closed

[2020-09-18 11:36] jeromeroserio commented on #8959
@hakman : I also experience similar issue like @duncanhall where I couldn't communicate using kubectl because kupe-apiserver certificate expired. So I manually (using openssl) created the certificate and replaced `/etc/kubernetes/pki/kube-apiserver/etcd-client.crt` and `/etc/kubernetes/pki/kube-apiserver/etcd-client.key` after that kube-apiserver docker started working and I am able to connect usi

[2020-09-18 11:38] jeromeroserio commented on #8959
Thanks @accnops for your response. I am trying to avoid the re-creation of master and worker nodes if possible.

[2020-09-18 21:23] bdfoster commented on #9741
Same here. Using an ACM certificate on the ELB, on a fresh cluster, v1.18.8 of K8s and latest version of kops.

[2020-09-19 06:39] olemarkus commented on #9148
/remove-lifecycle rotten

May be that this hook should be removed. Not sure we really need that anymore given things like nvidia's GPU operator.

[2020-09-19 09:56] #9957 closed

[2020-09-19 13:40] #8793 closed

[2020-09-19 17:52] olemarkus commented on #9388
/close

[2020-09-19 17:53] #9388 closed

[2020-09-20 09:36] ari-becker commented on #9370
/remove-lifecycle stale

[2020-09-20 20:27] ajouve opened #9976 "InstanceGroup "nodes" did not have enough nodes"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.18.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest

[2020-09-21 00:14] #8968 closed

[2020-09-21 06:48] olemarkus commented on #9976
I notice that you are trying to run ARM a1 instances. These are not supported by kops 1.18.

[2020-09-21 07:32] ajouve commented on #9976
@olemarkus Thanks

Where can I found the available instance list ? Would it work for `a1.metal` or `m6g.4xlarge` ?

Thanks

[2020-09-21 07:39] olemarkus commented on #9976
ARM architecture is not supported before kops 1.19. If you want to test out ARM you can use kops alpha. Note that support for ARM masters is not 100% done yet, but should work for normal nodes.

[2020-09-21 07:52] kciredor commented on #9956
Thanks @zetaab, I was positive 1.17.2 had this merged as well but I was wrong ;-) Will test with 1.18.x asap.

[2020-09-21 10:12] phchoi commented on #9158
Looks like the issue is still with version kops 1.18.1 ?

[2020-09-21 10:27] Deshke commented on #9432
not stale and still broken

[2020-09-21 10:49] olemarkus commented on #9158
That is expected. The changes done to openstack was rather extensive, so it will not be backported. You can test the latest kops 1.10 alpha version

[2020-09-21 14:14] bzuelke commented on #6333
/reopen

[2020-09-21 14:15] bzuelke commented on #6333
noo this is something that should be looked at.

[2020-09-21 15:58] rifelpet commented on #6333
/reopen

[2020-09-21 17:57] grosser opened #9977 "change api server livenessProbe toi livez from healthz"
https://kubernetes.io/docs/reference/using-api/health-checks/#api-endpoints-for-health says that healthz is deprecated, so it would be nice to stop using it ... not sure how much work that is though.
Not producing any issues, just saw that while reading the docs.

[2020-09-21 21:34] jeromeroserio commented on #8959
**Update to my previous comment**

I have two other Kubernertes clusters setup using kops in dev/qa. These clusters are running Kubernetes version v1.11.1 and do not have etcd-manager. I checked the path on the master volumes and found the path to be

for `etcd.manifest` --> `/mnt/master-vol-***/var/etcd/data/member/` which has folders `snap` and `wal`
for `etcd-events.manifest` --> `/mnt/master-v

[2020-09-21 22:36] djerraballi commented on #1845
@cjbehm manual encryption process was successful. Thanks for posting detailed steps!

[2020-09-21 23:36] #8973 closed

[2020-09-22 12:37] CrossRoast opened #9978 "aws getting started docs no client side encryption"
The getting started docs for the AWS cloud provider seem to suggest that kops uses client side encryption when it's unable to verify encryption configuration of the state store S3 bucket. Instead, I see from the source code that kops asks S3 to use the default AES256 server side encryption.

[2020-09-22 17:34] iusergii opened #9980 "Update LoadBalancerType from Public to Internal fails"
I'd like to migrate `LoadBalancerType` from `Public` to `Internal` but update fails with error:
[code]

**1. What `kops` version are you running?**
`Version 1.18.1 (git-453d7d96be)`

**2. What Kubernetes version are you running?**
`v1.18.9`

**3. What cloud provider are you using?**
`AWS`

**4. What commands did you run?  What is the simplest way to reproduce this issue?**
`kops update cluster --y

[2020-09-22 18:04] olemarkus commented on #9980
Unfortunately, changing type of load balancer isn't that trivial. But if you delete the existing load balancer and then run `kops update cluster`, kops will recreate it.

[2020-09-22 18:31] iusergii commented on #9980
@olemarkus  I've tried this as well and seems kops can not find subnets in this case:
[code]

[2020-09-23 00:57] Linutux commented on #6679
The problem is still there. I get "found multiple SecurityGroupRules" and it fails until it gives up.

[2020-09-23 04:48] olemarkus commented on #6679
Sorry to hear that. Can you file a new issue on this?

[2020-09-23 14:10] sdanbury commented on #8771
I am seeing this also on a brand-new cluster using kops version `1.17.2 (git-d18475e45d)` and kubernetes version `1.17.11`:
[code]

[2020-09-23 19:02] ajouve commented on #9976
Thanks for the help, I updated my nodes for `m5.4xlarge` and the exact same message

`Cluster did not pass validation, will retry in "30s": InstanceGroup "nodes" did not have enough nodes 2 vs 3`

`m5` foes not seem to be arm, is there any cache ?

I have the error running `kops --state s3://ajouve-k8s-local-state-store --name ajouve.k8s.local rolling-update cluster --yes`

[2020-09-24 13:56] dimitrez opened #9982 "panic: Terraform resource names cannot start with a digit. This is a bug in Kops, please report this in a GitHub Issue. Name: 1.etcd-events.k8s-cs.domain.net"
Version 1.18.1 (git-453d7d96be)

AWS

[code]

[code]

What did you expect to happen?

Please provide your cluster manifest. Execute
  `kops get --name my.example.com -o yaml` to display your cluster manifest.
  You may want to remove your cluster name and other sensitive information.**

[code]

[2020-09-24 14:43] yuha0 commented on #9845
Just want to +1 on this.

We have some containers that require direct docker socket access to work. To reduce security impact, they are scheduled on dedicated IGs and we don't want to open docker on any other IGs in the cluster.

[2020-09-24 16:53] paalkr opened #9983 "Surge during rolling update does not work for mixed instances Auto Scaling Groups"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.18.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.17.11

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest w

[2020-09-24 18:53] olemarkus commented on #9978
Thanks for reporting this. Is there any chance you could contribute a pull request amending this?

[2020-09-24 19:57] olemarkus commented on #9983
Thanks for reporting this.
I can reproduce this on kops 1.18, but seems to have been fixed in kops 1.19.

[2020-09-24 19:58] olemarkus commented on #9980
Did you reproduce this in the new attempt?

[2020-09-24 20:02] paalkr commented on #9983
Thanks for confirm the issue. It does seem a little inconsistent. Some of my AGSs with Mixed instances seems to behave as expected, and some don't. I cannot pinpoint anything that indicates why some work.

[2020-09-24 20:08] paalkr commented on #9983
Actually, it looks like the first instance in the rolling-update cycle is detached and replaced as expected, but the next instances are just terminated and then replaced.
![image](https://user-images.githubusercontent.com/9726307/94194756-688e2000-feb2-11ea-9d6f-db83acb2310b.png)

[2020-09-24 20:22] olemarkus commented on #9983
There is something very interesting going on here. I have an IG with instance a, b, c
* It detaches a
* waits for new node d
* d joins and cluster validates
* kops terminates instance c
* kops goes into "did not have enough nodes 2 vs 3"
* a remains detached

Looks like kops struggle to find the correct node to terminate.

[2020-09-24 20:38] paalkr commented on #9983
I experience a similar behavior, except that a actually gets terminated.

[2020-09-24 20:44] iusergii commented on #9980
@olemarkus my test cluster didn't have a private network, therefore it failed. Sorry for misleading, I'm going to try this over this weekend and will post results for the workaround.

[2020-09-24 20:51] eli-rh opened #9987 "Too many bootstrap tokens prohibits nodes from joining cluster"
**1. What kops version are you running? The command kops version, will display
this information.**

1.16

**2. What Kubernetes version are you running? kubectl version will print the
version if a cluster is running or provide the Kubernetes version specified as
a kops flag.**

1.16

**3. What cloud provider are you using?**

AWS

**4. What commands did you run? What is the simplest way to reproduc

[2020-09-25 06:15] olemarkus commented on #9983
![image](https://user-images.githubusercontent.com/77034/94232818-1aefd280-ff07-11ea-95d4-a352e821306a.png)

This is what I got.

[2020-09-25 08:16] paalkr commented on #9983
I think you are right, the reason why it only work for the first instance, is because kops delete a random instance in the AGS not the detached instance.

[2020-09-25 09:22] paalkr commented on #9983
The problem is for sure that kops drains and terminates the wrong node. Look at the logs and timeline below
First kops detach instance
`ip-10-4-218-230.eu-north-1.compute.internal`
AWS adds a replacement instance `i-0dbc24d5b2ca10afb (ip-10-4-210-42.eu-north-1.compute.internal)`
Then later kops terminates
`ip-10-4-143-1.eu-north-1.compute.internal` which is still part of the AGS

[code]

[2020-09-25 10:13] olemarkus commented on #9983
@johngmyers could you have a look here? This happens very consistently, and when I look at the code, it seems like we first sort nodes by attached/detached, then detach from the end of the node list, but terminate from the front of it.

[2020-09-25 14:26] justinsb commented on #9920
I'm going to suggest that we do hacktoberfest - I'm happy to try to lead office hour type events at least once a week.  I also suggest we can use these time slots to explore alternative time slots (#9833)

[2020-09-25 14:32] justinsb opened #9990 "Cluster-from-kubeconfig relies on us generating a kubeconfig; do we want to do that"
Q: How important is the "default cluster from kubeconfig" behaviour to user experience?  Should we try to reinstate that behaviour by exporting kubeconfig by default?

**Background**

Historically, we used the current cluster in kubeconfig to make specifying the cluster name optional for most commands, making the flow a little easier.

Recently we've started not exporting the kubeconfig by default

[2020-09-25 15:45] johngmyers commented on #9983
Rolling update is indeed supposed to terminate the detached instances last. When c gets terminated the ASG is supposed to create a new instance to replace it.

[2020-09-25 15:51] johngmyers commented on #9987
Node-authorizer will no longer be used for AWS as of kops 1.19. There will be a new mechanism for authorizing nodes that doesn't use bootstrap tokens.

[2020-09-25 16:01] CrossRoast commented on #9978
Sure, linked the pull request. Would a client side encryption feature be desired in the future?

[2020-09-25 16:19] rifelpet commented on #9833
We discussed the doodle poll results and decided to have our first additional office hours session on Thursday October 1st at 9am US/Eastern time / 1PM UTC. The intent will be to initially focus on supporting those interested in contributing for hacktoberfest but we can continue to triage issues, bring visibility to PRs, and clarify release statuses as necessary. We'll probably try some of the oth

[2020-09-25 16:30] olemarkus commented on #9833
Right on top of a recurring meeting at work :) but I can join for the second half (hopefully earlier).

[2020-09-25 17:06] olemarkus commented on #9983
Yeah that makes sense. No point in keep terminating and detaching.

[2020-09-25 19:59] rifelpet commented on #9982
Thanks for reporting this! This is definitely a bug in Kops. The problem is in the generated terraform code and the EBS volumes used by the etcd cluster. The terraform resource names for the volumes begin with the etcdMember name from the ClusterSpec.

Terraform 0.12 no longer allows resource names to begin with digits, but in your case you have etcdMember names of `1` `2` and `3`.

Kops could han

[2020-09-25 21:05] paalkr commented on #9983
Ahh, ok. That make sense. So for an ASG with three nodes (`a`,`b` and `c`) it would be like this

kops detaches `a` from the ASG, but do not drained nor remove `a` from the k8s cluster.
ASG adds `d` to replace `a`
kops wait for `d` to join
kops drains `b`, most pods are probably moved to `d`, but some pods might end up at `c` or `a` if there is free capacity
kops terminates and removes `b`  from t

[2020-09-25 21:16] #9978 closed

[2020-09-25 22:03] hakman opened #9992 "LoadBalancer task always run during cluster update"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Version 1.19.0-alpha.4

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What

[2020-09-25 22:45] rifelpet commented on #9992
Independent of this specific bug, I was thinking it would be useful to perform various API changes and confirm that a second `update cluster` doesn't report any changes. We do something similar in the [lifecycle integration tests](https://github.com/kubernetes/kops/blob/d9b99fccca70ba01882765746f0c732a7f7e1e19/cmd/kops/lifecycle_integration_test.go#L196-L203) but that's only for cluster creation.

[2020-09-25 23:20] johngmyers commented on #9983
As mentioned in [the documentation](https://kops.sigs.k8s.io/operations/rolling-update/), there's a soft taint placed on a, b, and c to encourage the scheduler to not move pods there.

So can this be closed Working As Designed?

[2020-09-25 23:24] johngmyers commented on #9983
Also, `maxSurge: 1` is the default for worker IGs on AWS.

Try `maxSurge: "100%"` sometime. It's a blast. Just make sure you have `PodDisruptionBudget`s in place.

[2020-09-26 07:26] paalkr commented on #9983
Thanks for clearing up my misunderstanding. Yes, I will close this

[2020-09-26 07:26] #9983 closed

[2020-09-26 07:36] paalkr commented on #9959
I support the idea of running the Cluster AutoScaler in auto discovery mode. It works great with kops 1.18.1 and later, when deployed manually after cluster creation.  Kops prior to 1.18 did not add the needed `kubernetes.io/cluster/<CLUSTER_NAME>:owned` ASG label, so then auto discovery did not work. Maybe it could be an option to choose which mode CAS should run in?

[2020-09-26 09:05] olemarkus commented on #9959
Thanks for catching this. Fix incoming soon.

Since we are approaching beta soon, I don't think we'll be adding more logic right now, but should be no problem adding more functionality in 1.20.

[2020-09-26 20:42] #9959 closed

[2020-09-26 21:52] erismaster opened #9994 "Typo in create cluster help output"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.18.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

NA

**3. What cloud provider are you using?**

NA

**4. What commands did you run?  What is the simpl

[2020-09-27 00:58] #9994 closed

[2020-09-27 11:39] jsonmp-k8 commented on #6356
Can this be enabled for the kubelet?

[2020-09-27 14:02] rifelpet commented on #9845
I think this would be a good issue for Hacktoberfest #9920

[2020-09-27 14:05] rifelpet commented on #6356
/reopen
This seems pretty straight forward and would be a good candidate for #9920

[2020-09-27 16:40] rifelpet commented on #9992
Looks related to https://github.com/kubernetes/kops/pull/9450/files

We probably need to be setting `ForAPIServer` in `awstasks`' [LoadBalancer.Find()](https://github.com/kubernetes/kops/blob/master/upup/pkg/fi/cloudup/awstasks/load_balancer.go#L282)

[2020-09-27 16:47] iusergii commented on #9980
Workaround works. Internal ELB created but initially, it didn't have instances behind.  ELB name remains the same and Masters' ASG actually had it.  Fixed with manually delete/add it.

[2020-09-27 18:04] denibertovic commented on #5532
I just hit this issue. It doesn't seem like this should be closed (even though there is a workaround).
It would be great if there was a `--kms-key-arn` or similar flag that would create the above workaround in the cluster spec for the user.

[2020-09-27 18:52] #9000 closed

[2020-09-27 19:53] #8995 closed

[2020-09-27 22:56] #8985 closed

[2020-09-27 22:56] #8996 closed

[2020-09-28 07:32] #9953 closed

[2020-09-28 12:33] nustiueudinastea opened #9999 "add hostPort support to Cilium"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

At the moment kops does not enable the hostPort functionality supported by Cilium. This means that a default kops installation using Cilium does not support hostPorts.

**2. Feel free to provide a design supporting your feature request.**

In order to enable this, kops needs to set the `enable-host-port` configuration pa

[2020-09-28 12:43] olemarkus commented on #9999
Can you elaborate on why you need to configure this one?

[2020-09-28 12:53] nustiueudinastea commented on #9999
Hi @olemarkus , hostPort functionality seems to me like fundamental functionality for any Kubernetes cluster. In case this requirement is rarely requested and I am in the minority, I can definitely accept that and do a custom installation of Cilium. Thanks!

[2020-09-28 13:07] olemarkus commented on #9999
`--enable-host-port` is defaults to on though.

[2020-09-28 13:10] nustiueudinastea commented on #9999
Ok got it. I only looked at the Cilium configmap and noticed that `enable-host-port` does not appear there and I assumed its disabled. Also hostPort functionality doesn't work on the default kops + Cilium installation so I assumed the missing configmap entry is the culprit. I will close this. Thanks for your time @olemarkus !

[2020-09-28 13:10] #9999 closed

[2020-09-28 13:59] olemarkus commented on #9999
We are using HostPort quite a bit without any problems. It may depend on other configurations of your cluster maybe.

[2020-09-28 14:07] nustiueudinastea commented on #9999
I was using kops 1.18.1 and looking at the cilium pod logs I couldn't see param `enable-host-port` being added. I am now trying with kops 1.19.0-alpha4 to see if this makes a difference. It is possible that I am doing something else wrong but I can't figure out what.

[2020-09-28 14:47] olemarkus commented on #9999
Think you are mixing the defaults of the cilium helm chart with the defaults of the cilium agent.

[2020-09-28 15:54] ryan109 commented on #8178
/remove-lifecycle rotten

[2020-09-28 16:13] #9037 closed

[2020-09-28 16:41] olemarkus commented on #9999
Worth to mention that for kops 1.19, we are using cilium's own hostport implementation in BPF by default and you definitely don't want to enable the cni chain.

[2020-09-28 16:43] nustiueudinastea commented on #9999
I confirm that kops 1.19 alpha4 works. Perhaps for the 1.18 deployment I didnt enable the portmap chaining, but I never figured out with certainty what I did wrong. Thanks!

[2020-09-28 17:14] #8624 closed

[2020-09-29 00:06] lundbird commented on #9946
Possible duplicate of my issue here: https://github.com/kubernetes/kops/issues/9913

[2020-09-29 00:56] ksummersill2 commented on #9946
I found out the issue was with the data produced from kops that are specific to the certificate connections between the AWS instances.

[2020-09-29 05:55] hakman commented on #8432
This seems to be a recurring request and may be worth some attention.
@olemarkus @rifelpet I thing you did some thinking on this topic, maybe you can share your thoughts.
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2020-09-29 06:41] olemarkus commented on #9466
Already merged to master.
/close

[2020-09-29 06:41] #9466 closed

[2020-09-29 12:41] mmerrill3 commented on #9977
@grosser I see two areas of change.  One is the addition of new arguments to the API server to configure settings for livez.  This includes adding new yaml configuration for the APIServer and implementing the options at the command line for the appropriate k8s version.  This would be updates to API protocolbuffers for kops, documentation, and changing the task to create the API server's launch opt

[2020-09-29 15:40] hakman commented on #8831
/remove-lifecycle stale

[2020-09-29 15:53] mmerrill3 commented on #9977
The sidecar will pass through requests to livez from the PR: (#9069)

Are you aiming to be able to set configuration for the livez check in the api server, like --livez-grace-period?

[2020-09-29 15:58] grosser commented on #9977
wow thx for the info ... I'd say that's more work then I hoped for ... so let's let this sit until the endpoint actually goes away :)

[2020-09-29 15:58] #9977 closed

[2020-09-29 18:21] olemarkus commented on #8432
Adding support for ipv6 for pre-provisioned subnets is a good start. I have not looked much into exactly how that works and the docs were somewhat lacking in this area.

[2020-09-30 10:59] zetaab opened #10003 "Cannot create new OpenStack kops cluster"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

master

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

**3. What cloud provider are you using?**

openstack

**4. What commands did you run?  What is the simplest w

[2020-09-30 11:14] zetaab commented on #10003
the problem is row https://github.com/kubernetes/kops/blob/master/upup/pkg/fi/cloudup/openstacktasks/floatingip.go#L261 for some reason `a` is not nil even if not floatingip created.

I can get that working by modifying row:

`if a == nil || fi.StringValue(a.ID) == "" {`

However, that feels like something else is not working correctly if `a` is defined before it really is?

[2020-09-30 11:19] zetaab opened #10004 "protokube.service: Executable /usr/bin/docker missing, skipping: No such file or directory"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

master

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.19.1

**3. What cloud provider are you using?**

openstack

**4. What commands did you run?  What is the si

[2020-09-30 11:22] olemarkus commented on #10003
It may be picked up by another floatnig ip attached to the bastion? Something in the logic of `Find()` that is matching something it shouldn't.

[2020-09-30 13:04] zetaab commented on #10003
I was using clean project, no other installations

[2020-09-30 17:33] hakman commented on #10004
@zetaab please ping me if you need any help with this.

[2020-09-30 19:36] #9966 closed

[2020-09-30 19:48] zetaab commented on #10004
@hakman yes I need, the weird thing here is that last version 1.19 alpha4 works fine, but master does not work. Something is changed somewhere

[2020-09-30 19:52] hakman commented on #10004
One idea would be to build it all, upload to S3 and use KOPS_BASE_URL to deploy.
If #9969 is the problem you could just set Docker version to 19.03.11 in config and should work.

[2020-09-30 22:06] #9051 closed

[2020-09-30 22:35] rifelpet opened #10006 "Improve cloudup reconciliation test coverage"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
I've noticed a few gaps in how the cloudup tasks reconcile their state with the cloud provider. Sometimes a certain transition from one state to another isn't covered, other times it results in repeated changes being reported by subsequent `update cluster`s. [This](https://github.com/kubernetes/kops/pull/9996) is one exam

[2020-09-30 23:14] DerrickMartinez commented on #10004
Resolved. But need to bump rules_docker to 0.14.4

[2020-10-01 00:19] rifelpet commented on #8837
/remove-lifecycle state

[2020-10-01 00:19] rifelpet commented on #8837
/remove-lifecycle stale

[2020-10-01 10:18] #8781 closed

[2020-10-01 10:52] #8228 closed

[2020-10-01 12:02] ehbello commented on #9868
I'm experiencing the same problem with any update. I'm forced to delete and re-create the cluster.

[2020-10-01 13:37] randomvariable commented on #7119
Related Cluster API issues:

* https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1899
* https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1871

And things we may want to look at:
* https://github.com/planetlabs/draino
* https://github.com/kubernetes-sigs/descheduler
* https://github.com/aws/aws-node-termination-handler

[2020-10-01 13:59] johngmyers opened #10009 "Rolling update ignore unready nodes in inapplicable instance groups"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Currently when a rolling update is performing cluster validation and an unrelated nodes instancegroup scales up, the rolling update will wait for that node to pass validation. It would be desirable if the rolling update could proceed even when nodes in unrelated instance groups are unhealthy.

The exception is that failu

[2020-10-01 14:05] zetaab commented on #10004
seems that nowadays we need build everything to get it working correctly

[2020-10-01 17:59] jeromeroserio commented on #8959
**Update:**

I have upgraded etcd-manager to `kopeio/etcd-manager:3.0.20200531` which resolved the issue. Cluster is back to healthy state. Many thanks to @hakman.

[2020-10-01 19:47] olemarkus commented on #10006
The reconciliation logic is largely `ApplyClusterCmd.Run()`. So it is also possible to use `BuildMinimalCluster` to build a cluster spec, then do a number of modifications to it and then apply it a couple of times. The benefit of building the clusterspec in code is that it would be simpler to run many smaller variations vs having many files that one would have to maintain for input.

OpenStack's [

[2020-10-01 23:30] #8992 closed

[2020-10-02 00:32] #9061 closed

[2020-10-02 02:13] rifelpet commented on #9868
If you can provide the detailed output of `kops -v 10 update cluster --yes` it would help us troubleshoot the issue.

[2020-10-02 04:54] lazzarello opened #10012 "kops-controller cannot access S3 in GovCloud us-gov-west-1 region"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`Version 1.18.0-beta.1 (git-ec8022b352)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

Amazon Web Services GovC

[2020-10-02 08:17] #9635 closed

[2020-10-02 12:25] codablock commented on #10004
I'm still having issues with docker not being installed, even though I'm on the latest master with #10007. It worked fine with alpha-4.

Is there anything additional I have to do? Maybe update the VM images?

[2020-10-02 12:48] hakman commented on #10004
@codablock you should be able to test using these steps:
https://kops.sigs.k8s.io/development/adding_a_feature/#testing

Also, this may be related to the newer Docker version that was added so, just setting the Docker version to `19.03.11` may get it to work without rebuilding anything.

[2020-10-02 12:48] #10004 closed

[2020-10-02 13:03] hakman commented on #10012
Please try with **kops 1.18.1** and let me know how it goes.

[2020-10-02 19:07] lazzarello commented on #10012
The version of kops used to bootstrap the cluster in question was actually different than my own, since I was working with a colleague. They are running this version `Version 1.18.1 (git-453d7d96be)` and that was what caused this issue.

Perhaps we're within days of getting the change in logic from the referenced PR that was merged? I can check but It seems like we nailed down the problem.

Any wa

[2020-10-02 23:55] #9060 closed

[2020-10-03 05:56] hakman commented on #10012
I think you are right, the fix will come in 1.18.2 (should be out in 2-3 weeks).
If you want to have a workaround for this you would have to add `AWS_REGION=us-gov-west-1` as env var for the DaemonSet. You will have to edit it first in the S3 bucket `addons/kops-controller.addons.k8s.io/k8s-1.16.yaml` and then in the running DaemonSet.

[2020-10-03 07:16] hakman opened #10014 "Add Calico implementation for disabling AWS source/destination checks"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Calico 3.16 adds a new option to disable source/destination checks: https://github.com/projectcalico/felix/pull/2381.
https://docs.projectcalico.org/reference/resources/felixconfig#spec

This can replace the current implementation that uses https://github.com/ottoyiu/k8s-ec2-srcdst.

**2. Feel free to provide a design su

[2020-10-03 07:42] bharath-123 commented on #10009
Hey @johngmyers ! I would like to pick this issue up and submit a PR.
Any steps to reproduce this issue or any suggestions for me before setting out to resolve this issue would be highly appreciated :)

[2020-10-03 07:50] sirinibin commented on #6603
Solution:

[code]
[code]

[2020-10-03 18:49] johngmyers commented on #10009
@bharath-123 to reproduce this, start with a cluster that has at least two instance groups of role "Nodes". Perform a rolling update on one of the instance groups, using `--force` if necessary to get it to update the group's nodes. While the a new node is coming up and rolling update is validating, terminate a node in the other instance group. You will notice that the validation phase will wait fo

[2020-10-03 20:20] bharath-123 commented on #10009
@johngmyers thanks for these suggestions! Super helpful! I ll begin work on this and think on my own too :) I ll get acquainted with the codebase and begin work. Please feel free to assign me to this.

I hope I can catch you and the rest of the kops people on the slack channel! :D

I will make sure to notify you if I am unable to pursue this issue for any reason.

[2020-10-03 22:17] rifelpet commented on #9875
What is the exact value of `data.terraform_remote_state.key_pair.outputs.k8s_key_public_key_filename`? And can you run `kops get cluster --name $clustername -o yaml` ? I'd like to see the value of `sshKeyName`

[2020-10-03 22:42] dezmodue commented on #9920
Hello maintainers, the hacktoberfest rules have changed with the aim of making the event opt-in for projects and reduce the amount of "spammy" contributions - blog post [here](https://hacktoberfest.digitalocean.com/hacktoberfest-update).

In order to opt in the project needs to add a topic 'hacktoberfest' to the repository and in order for a PR to "count" towards hacktoberfest it needs to be:

Sub

[2020-10-04 00:32] Overbryd commented on #7128
I had to manually update the `kube-dns` deployment with a toleration to run on the `master` node:

[code]

[2020-10-04 04:58] monicagangwar commented on #10014
@hakman I'd like to give this a try, can you please assign this issue to me ?

[2020-10-04 06:24] #8296 closed

[2020-10-04 06:27] hakman commented on #10014
Thanks for giving this a try @monicagangwar ! 😄
/assign @monicagangwar

[2020-10-04 12:59] rifelpet commented on #9506
related: #10006

[2020-10-04 17:59] kciredor commented on #9635
Nice work, thanks very much!

[2020-10-04 18:36] #9082 closed

[2020-10-04 20:32] rifelpet opened #10015 "Cleanup cloudformation lint warnings"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
AWS provides this tool for linting cloudformation files:

https://github.com/aws-cloudformation/cfn-python-lint

Running it against our integration test outputs in `tests/integration/update_cluster/*/cloudformation.json` reports quite a few warnings including mismatched types. It would be great to fix those and address an

[2020-10-05 03:55] rifelpet commented on #9970
I think this would be pretty straight forward to add. The main decision would be around the new API fields and their names. AWS, GCP, and Alibaba cloud use the term `instance metadata`, DO uses `droplet metadata` and Openstack seems to just use `metadata`. I think we could settle on `instanceMetadata` as a new section in the InstanceGroupSpec.

[code]

Some kops and k8s components require access t

[2020-10-05 11:48] #9433 closed

[2020-10-05 14:19] ehbello commented on #9868
Here it is, @rifelpet. I tried to increase the number of nodes from 1 to 2 replicas.

[kops-update.enrique.k8s.local.log](https://github.com/kubernetes/kops/files/5327935/kops-update.enrique.k8s.local.log)

[2020-10-05 16:20] Anu-9518 commented on #10015
I would like to take it up.

[2020-10-05 16:33] h3poteto commented on #10004
I encountered same error in master branch. I can resolve to specify the Docker version:

[code]

Thank you!

[2020-10-05 17:12] hakman commented on #10015
/assign @Anu9518

[2020-10-05 19:12] rifelpet commented on #9868
@ehbello can you also past the output of `kops get ig --name enrique.k8s.local -o yaml` ?

[2020-10-05 19:38] ehbello commented on #9868
@rifelpet here it is: [ig-enrique.k8s.local.yaml](https://github.com/kubernetes/kops/files/5329719/ig-enrique.k8s.local.yaml.txt)

[2020-10-05 22:50] lazzarello commented on #10012
Cool, thanks for the update. I'll close this one when the release is out.

[2020-10-06 12:43] nik13 commented on #7664
are G4 now supported? I'm not able to use them in cluster. It showing me pending status for the pod.

[2020-10-06 15:48] aychang95 commented on #9148
@olemarkus
As someone who would love to transfer to an automated management system like GPU operator, just want to check if this is aligned with the Kops roadmap?

We've been using kops hooks to apply the device plugins for each GPU software component which gets tedious and hard to manage pretty fast...especially with how quickly NVIDIA updates come out. Wouldn't mind this hook being removed for e

[2020-10-06 16:02] rifelpet commented on #9148
I'm not aware of any Kops maintainers using GPUs in their clusters, and Kops doesn't have automated e2e tests that cover GPU usage, so any changes to Kops' GPU support would need testing (or contribution) from the community. If there's a better solution like the GPU operator, we'd be happy to review any docs or code updates :)

[2020-10-06 16:16] bmelbourne commented on #9913
@lundbird
this is a possible duplicate of #9891 as well

[2020-10-06 16:28] h3poteto commented on #9753
Hi, I will take this issue.

/assign

[2020-10-06 16:28] monicagangwar commented on #10014
@hakman a question here, if the option to provide the manifest flag `FELIX_AWSSRCDSTCHECK` is added along with the existing option `spec.networking.calico.crossSubnet`
what should be the behaviour if the options are conflicting. eg: FELIX_AWSSRCDSTCHECK is set to `Disable` or `DoNothing` but `spec.networking.calico.crossSubnet` is set to true ?

[2020-10-06 16:35] hakman commented on #10014
I think the behaviour should be to enable the deployment for `k8s-ec2-srcdst`, but set the number of replicas to 0.
Unfortunately, kops cannot remove `k8s-ec2-srcdst` once it's deployed, so best to just to the above and document that if one wants to switch to `AwsSrcDstCheck`, should delete the `k8s-ec2-srcdst` deployment manually.

[2020-10-06 16:41] monicagangwar commented on #10014
@hakman correct me if i am wrong but why do we need to deploy k8s-ec2-srcdst altogether ? if `spec.networking.calico.crossSubnet` is set to true we can simply add the flag `FELIX_AWSSRCDSTCHECK` to `Disable` source destination checks, right ?

[2020-10-06 16:47] mmerrill3 opened #10017 "When using terraform to apply cluster AWS resources changes, you must update the ASGs to use launch templates"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
kops 1.19-alpha-4
**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
k8s 1.19.2
**3. What cloud provider are you using?**
aws
**4. What commands did you run?  What is the

[2020-10-06 16:49] hakman commented on #10014
Consider the case where a user already has k8s-ec2-srcdst enabled. Even if disabled in `spec.networking.calico.crossSubnet`, it won't be removed. I will just stay hung in the cluster until manually deleted.
In this case the safe way would be to set the replicas to 0 for it if FELIX_AWSSRCDSTCHECK is not "DoNothing", otherwise, they may conflict.

[2020-10-06 16:54] monicagangwar commented on #10014
@hakman got it, as for backward compatibility i understood that along with the option `spec.networking.calico.crossSubnet` we need to provide another option like `spec.networking.calico.awsSrcDestCheck` which will correspond directly to the flag `FELIX_AWSSRCDSTCHECK`. what to do if these two settings are contradictory ?

[2020-10-06 16:56] mmerrill3 opened #10018 "kops applies new daemon set for kops-controller via add-ons channel before cluster can use it"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
kops 1.19-alpha-4
**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
k8s 1.19.2
**3. What cloud provider are you using?**
aws
**4. What commands did you run?  What is the

[2020-10-06 17:24] hakman commented on #10014
With `spec.networking.calico.crossSubnet` you don't really have enable/disable. Once it is enabled, you cannot disable it anymore unless manually deleted.

Behaviour:
| crossSubnet | awsSrcDestCheck | Result |
| --- | --- | --- |
| false | Enabled/Disabled/DoNothing | k8s-ec2-srcdst deployment doesn't exist |
| true | Enabled/Disabled | k8s-ec2-srcdst deployment has 0 replicas, to effectively disa

[2020-10-06 17:26] monicagangwar commented on #10014
@hakman understood, thank you

[2020-10-06 17:28] hakman commented on #10014
Thanks also for the patience. If you have more Q, don't hesitate.

[2020-10-06 20:41] dalefwillis commented on #9148
@olemarkus are there any succinct details on setting up nvidia's [gpu operator](https://github.com/NVIDIA/gpu-operator) with kops? In the past (pre 1.15) I have setup GPU support using hooks specified by @aychang95.

With a new cluster (1.16) and given some of the issue comments here I spent the day fighting the good fight to setup the GPU operator on AWS without success (if I need to I'll open up

[2020-10-07 07:08] olemarkus commented on #9148
I have not had the chance to look into nvidia's operator just yet. But GPU support is something that is interesting for my employer, so I suspect I'll be able to make some form of support/documentation in the not-to-distant future.

I would at least use the Ubuntu AMIs if trying to use the operator. That will work on newer kops regardless of k8s version.

[2020-10-07 11:49] olemarkus commented on #6879
It is a question on how to provision the certificates on each node. In kops there is no central mechanism for issuing certificates that will work on every node (including the control plane).
The only approach I can think of is creating a new CA that is stored in the secret store, and then each node during boot fetch that CA and provision their own cert using that shared CA. The CA signing keys wou

[2020-10-07 11:57] olemarkus commented on #7083
Duplicate of #6879
Would like to find a solution for this that actually increases security, but not necessarily that easy.

[2020-10-07 13:30] dalefwillis commented on #9148
@olemarkus can you give a quick opinion on which versions of ubuntu, kops and k8s would be the best config? I'm running kops 1.16.0-alpha.2 with k8s v1.16.3. I tried AMIs of Ubuntu yesterday, 16, 18, and 20 all gave different variations of problems. (Very well could be my kops version but I have istio running and I've been a bit scared of upgrading too much and having the pop-sickle sticks come tu

[2020-10-07 14:06] shreben opened #10020 "[Openstack] Have servergroup policy configurable"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

I would like to be able to configure openstack server group policy.
From what I've found it is currently hard-coded to "Anti-Affinity" https://github.com/kubernetes/kops/blob/master/pkg/model/openstackmodel/servergroup.go#L216

With this setting it's impossible to run more workers than openstack compute nodes. Even if I

[2020-10-07 14:57] aychang95 commented on #9148
@dalefwillis I've using nvidia.com/gpu resources by setting the gpu-operator up with kops 1.18.*, kubectl 1.17.*, with Ubuntu 18.04 nodes (all matching kernel versions). I have istio running as well. What issues are you running into?

@rifelpet
Overall, using the gpu-operator with kops is very low-lift since it uses the operator framework. For the purpose of getting the nvidia container runtime, p

[2020-10-07 15:13] nfillot commented on #9982
I had the same issue as @dimitrez with etcd volumes starting with digits and i tried renaming it.
Straight forward is not the term i would use as you have etcd certificates name mismatch during the roll-out for example

I ended up purging masters volumes and restoring from etcd backup but we're testing if it could work by scaling up (adding new members with correct naming) and scaling down old mas

[2020-10-07 18:43] ivanlemeshev commented on #9970
Hi @rifelpet I would like to take this issue. Could you assign it to me?

[2020-10-07 18:48] rifelpet commented on #9970
/assign @ivanlemeshev

[2020-10-07 19:47] agilgur5 commented on #6879
@olemarkus why does this require more provisioning?

As far as I understand and as I wrote in [my comment above](https://github.com/kubernetes/kops/issues/6879#issuecomment-642966333), it seems to be asking for the kubelet's CA in order to verify the kubelet's cert. Per my comment and [the issue I linked to in `metrics-server`](https://github.com/kubernetes-sigs/metrics-server/issues/541), I was u

[2020-10-07 20:01] olemarkus commented on #6879
Kubelet has two certificate chains. One used as client authenticating to the API server. The other is a serving certificate used for the HTTP API.
You are trying to use the client CA cert, which is why you cannot get this working. At the moment the serving cert is self-signed generated by the kubelet _on each node_. This will never work with metrics-server as it cannot access the CA cert of each n

[2020-10-07 20:04] antoinedeschenes opened #10021 "kops upgrade image requires kope.io"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.18.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.18.9

**3. What cloud provider are you using?**

aws

**4. What commands did you run?  What is the simplest

[2020-10-07 21:10] olemarkus commented on #6879
Submitted #10022
Since metrics-server assumes the same CA as kube-apiserver is used by default, we don't even have to use `--kubelet-certificate-authority` flag.

[2020-10-07 21:31] rifelpet commented on #9148
@aychang95 I think if there's any kops-specific info that would be beneficial to someone installing the operator then we could have a docs page for it, otherwise we just tell users to follow the official installation docs for the operator.

[2020-10-08 08:43] dntosas opened #10026 "Support --request-timeout flag in KubeAPIServerConfig"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Currently, we support only `--min-request-timeout` flag in [componentconfig.go](https://github.com/kubernetes/kops/blob/master/pkg/apis/kops/componentconfig.go) but this flag is only honored by the WATCH request handler.

We should support `--request-timeout` flag also, to enable users for setting timeout value for all k

[2020-10-08 12:34] #10014 closed

[2020-10-08 12:44] monicagangwar commented on #9845
@rifelpet I'd like to pick this one, can you assign it to me ?

[2020-10-08 12:50] Payback159 opened #10027 "swiftfs.go on master node is looking for openstack config but openstack doesn't provide swift"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.18.1 (git-453d7d96be)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.0", GitCommit:

[2020-10-08 12:58] dignajar opened #10028 "Install docker-ce via yum repositories instead of binary. Centos 7"
Hi,
there is some way to install docker-ce via `yum` repositories instead of the binary files ?

I have some packages installed via `yum` that have as dependency `docker-ce`, for example, the `nvidia-docker2` which depends on `docker-ce`.

I'm trying to use the docker version 18.09.9, but looks like was removed as rpm from the `docker.go`.
https://github.com/kubernetes/kops/blob/v1.18.1/nodeup/pkg

[2020-10-08 13:49] nvanheuverzwijn commented on #10021
To handle this properly I see these solutions :

1. Add a flag to explicitely *not* update the image such as `kops upgrade cluster --yes --skip-image-update`.
2. Add a field other than image indicating we are not using channel's images.
3. Assume that all ubuntu image will be auto-updated.
4. Keep track of older image that went into the channel.

[2020-10-08 13:49] jmcdonagh commented on #6879
@olemarkus nice work. i think this will make more than a few people happy!

[2020-10-08 14:13] alesanmed commented on #9953
So sorry to ask again but I'm having this exact same problem after upgrading from 1.18.1 to 1.19.0... How can I fix this? :(

[2020-10-08 14:56] rifelpet commented on #9845
/assign @monicagangwar

Feel free to reach out if you have any questions! There is a similar set of fields for Kubelet in the [ClusterSpec](https://github.com/kubernetes/kops/blob/174ba0e32338c828f1706e6845cf7da1c14d8707/pkg/apis/kops/cluster.go#L156-L157) and [InstanceGroupSpec](https://github.com/kubernetes/kops/blob/174ba0e32338c828f1706e6845cf7da1c14d8707/pkg/apis/kops/instancegroup.go#L138-L1

[2020-10-08 17:06] jsonmp-k8 opened #10029 "Ability to set the DesiredCapacity for ASG."
AWS provides the capability to add the desired capacity to the ASG, This feature is missing in KOPS. KOPS allows only minSize and maxSize to be set for the ASG. It will be really good if there is an option to set the desired capacity for the ASG while bringing up the KOPS cluster.

https://github.com/kubernetes/kops/blob/v1.18.1/pkg/apis/kops/instancegroup.go#L94-L96

**1. What `kops` version are

[2020-10-08 17:21] hakman commented on #10029
@jsonmp-k8 Min and Max are used in the context of Cluster Autoscaler, which dynamically sets Desired. What would be the use case for setting Desired in kops config?

[2020-10-08 17:27] hakman commented on #10028
@dignajar Unfortunately we went full .tgz to avoid all the packaging quirks. Any ideas on how to provide a fake `docker-ce` dependency?

[2020-10-08 17:27] jsonmp-k8 commented on #10029
We have a cluster where we wanted to install istio and argocd as soon as the cluster is ready and wanted to manage cluster autoscaler using argocd. But when the minsize is set 1 there is no enough room for istio and argocd to get deployed. The idea behind having `desiredCapacity` to a higher number is that there will be enough room for doing these deployments and CA can shrink the cluster if there

[2020-10-08 17:29] hakman commented on #10029
OK, thanks for explaining.

[2020-10-08 17:36] olemarkus commented on #10027
The error is a bit misleading. Openstack auth logic uses switffs' `GetCredential` to authenticate. The actual problem is the nested error `Missing one of the following environment variables [OS_USERID, OS_USERNAME]`. I.e make sure that all the auth variables are exported in the environment you run `kops update cluster --yes` from.

[2020-10-08 17:44] rifelpet commented on #10029
Wouldn't it be easier to set minSize to 2 so that istio and argocd can be deployed and deploy cluster-autoscaler? Perhaps I'm not understanding why in your situation you would still want minSize to be 1.

[2020-10-08 17:52] jsonmp-k8 commented on #10029
There are some enterprise controls that wants all ASG minsize to  be set to 0 or 1 to save on the cloud cost and then scale the cluster based on the load. That prevents us from setting the minsize to a higher number.

[2020-10-08 17:58] olemarkus commented on #10029
If desired flag is set by kops, kops would reconcile that property every time you run `kops update cluster`. That is probably not what you want. It may be easier for you to just do a one-time change of the desired flag using e.g aws cli after the cluster has been created.

[2020-10-08 18:08] jsonmp-k8 commented on #10029
`kops update cluster` should ignore the `desiredCapacity` flag, if it is not an ASG creation event. I am not sure how this can be done with KOPS.
For example terraform has this feature `ignore_changes` which will ignore the desired capacity on any terraform updates other than the initial creation
[code]

[2020-10-08 18:12] olemarkus commented on #9953
@alesanmed can you file a new issue about this?

[2020-10-09 03:35] jsonmp-k8 commented on #9381
I think changing the volume type and size for etcd is not supported in KOPS

[2020-10-09 08:56] olemarkus commented on #10029
Kops can technically do the same by ignoring the flag when the ASG already exists. But it still sounds like a niche issue that is better solved outside of kops to me. Adding this may be very confusing for others that later on try to use this flag to adjust the desired node count on existing ASGs.

[2020-10-09 10:09] #6879 closed

[2020-10-09 13:33] jsonmp-k8 commented on #10029
I feel doing it outside seems like a hacky solution. We can do it from outside using AWS cli/ AWS console

[2020-10-09 20:16] bmelbourne commented on #10009
/assign @bharath-123

[2020-10-10 12:51] #9025 closed

[2020-10-10 16:06] h3poteto commented on #9751
Hi, I will take this issue.

/assign

[2020-10-10 16:42] eddycharly commented on #9381
Yeah, definitely. I had to do it manually.
Closing the issue.

[2020-10-10 16:42] #9381 closed

[2020-10-10 18:27] alesanmed commented on #9953
@olemarkus Sorry for not replying. I managed to rollback the cluster version and, since I've seen that the v1.19 is still an alpha, I'll wait for a stable release. Don't want to bother with issues since I'm sure they're going to fix them. Thanks!!

[2020-10-11 17:46] dignajar commented on #10028
@hakman ok, no idea, I'm still looking for it, because `yum` doesn't provide a way to skip dependencies (which is quite strange).
You can close this issue if I found the way I will post it.

[2020-10-11 17:46] MeirP-3 opened #10041 "Cluster validation error "master ** is missing kube-apiserver pod, master ** is missing kube-controller-manager pod, master ** is missing kube-scheduler pod" but they exist"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]
**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.14.2
[code]
**3. What cloud provider are you using?**
AWS
**4. What commands did you run?  What is the simples

[2020-10-11 18:20] #8913 closed

[2020-10-11 18:21] olemarkus commented on #10041
Is this something you are consistently experiencing across clusters?

The test for pods existing is fairly trivial so I am very curious how it can fail in this manner.

Are you able to provide a cluster manifest where you can reproduce this error with a plain AWS-based cluster?

[2020-10-12 05:44] dntosas commented on #10026
Implemented on https://github.com/kubernetes/kops/pull/10040

[2020-10-12 05:44] #10026 closed

[2020-10-12 09:36] ajayanaj commented on #8771
@sdanbury did you managed to solve this? I'm planning to upgrade my cluster 1.17.x, so wanted to check if upgrade is okay.
Thanks in advance!

[2020-10-12 09:57] dignajar commented on #10028
I made fake RPM and works fine.

## The issue
[code]

## The solution

docker-ce.spec
[code]

[code]

[2020-10-12 09:58] hakman commented on #10028
Thanks for posting the solution @dignajar .

[2020-10-12 09:58] #10028 closed

[2020-10-12 10:02] gs11 opened #10043 "Replacing kops state fails with network error"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.18.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.16.9

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest

[2020-10-12 10:32] avdhoot commented on #10017
similar issue faced when we updating cluster to k8s `v1.19.2` using kops `v1.19.0-alpha.4`

[code]

[2020-10-12 10:58] MeirP-3 commented on #10041
I have found the cause in the source code:
[The function `collectPodFailures` looks at `spec.priorityClassName` which my pods don't have.
](https://github.com/kubernetes/kops/blob/master/pkg/validation/validate_cluster.go#L229)
I can't change spec.priorityClassName nither spec.priority.
When I try to change them I get the following error:
[code]

[2020-10-12 11:12] olemarkus commented on #10041
can you check `/etc/kubernetes/manifests/kube-apiserver.manifest` and see if the priority class is set here?
If it is set there it may be an admission controller or something that mutates the manifest.

[2020-10-12 11:32] MeirP-3 commented on #10041
The priority class is not set at /etc/kubernetes/manifests/kube-apiserver.manifest.
[See the manifest](https://gist.github.com/MeirP-3/0e0624ac26db9d3988ba07493fa22604)

[2020-10-12 12:05] olemarkus commented on #10041
This is done by nodeup, so it may be that your custom nodeup is somewhat outdated.

[2020-10-12 14:26] gs11 commented on #10043
What isn't clear to me is **what** is supposed to respond on `169.254.169.254` as that seems to be a metadata API reachable from EC2 instances (?)

[2020-10-12 14:44] gs11 commented on #10043
I referred to the AWS credentials using `AWS_PROFILE` which the aws cli happily uses but when changing to `AWS_ACCESS_KEY_ID` / `AWS_SECRET_ACCESS_KEY` env vars I get further but with other errors..

Seems the AWS SDK / kops (?) didn't accept `AWS_PROFILE` and tried to fallback to using EC2 authentication using the metadata API(?)

[2020-10-12 16:05] olemarkus commented on #10043
It is not that much information in this ticket to go on. Safe to say that on a working environment, kops client should not try to use the metadata API. As far as I know, WSL should not cause this either, although I have not any way of confirming this one way or the other.

[2020-10-13 07:03] ari-becker commented on #9570
/remove-lifecycle stale

[2020-10-13 09:06] Payback159 commented on #10027
Hello, thank you for your answer. Instead of the OpenStack Application Credentials I have now used the .rc file of a "normal" user and added the environment variable OS_DOMAIN_NAME. After that the message disappeared.

[2020-10-13 09:06] #10027 closed

[2020-10-13 09:13] olemarkus commented on #10027
Cool. Application credentials is not supported yet. Will be added in 1.19

[2020-10-13 10:57] odidev commented on #9550
May I know when are you planning on releasing arm64 binaries for the master node?

[2020-10-13 11:01] hakman commented on #9550
Should be part of the 1.19 release in 1-2 months.

[2020-10-13 20:28] akhmadfld commented on #8771
I assume that you downgrade the deployment into 1.15.3 by using `kubectl rollout undo`. Just use `kubectl rollout undo` again into deployment that has 1.16.x image. It should be fine because we just "undo" our deployment twice to revert the deployment manifest into what kops 1.16.3 provide. This is what I did, and so far the cluster is running fine.

[2020-10-14 05:34] johngmyers commented on #10041
It appears the PriorityClassName is set on static pods starting with Kops 1.15.0. So this will happen when upgrading from Kops 1.14 or earlier directly to Kops 1.18 or later.

[2020-10-14 05:59] #8662 closed

[2020-10-14 06:27] #10041 closed

[2020-10-14 08:08] ari-becker commented on #9143
/remove-lifecycle rotten

Particularly important now with Docker Hub starting to rate-limit public access.

[2020-10-14 08:08] ari-becker commented on #9143
/remove-lifecycle stale

[2020-10-14 09:05] ajayanaj commented on #8771
@akhmadfld  Thanks. I manually updated the deployment and did a rollout restart. The cluster is healthy since last 1 month. We are planning to upgrade the cluster to 1.17.x, hope this won't break.

[2020-10-14 13:05] rifelpet commented on #10015
@Anu9518 do you need any assistance with this?

[2020-10-14 13:07] rifelpet commented on #9970
@ivanlemeshev do you need any assistance with this? Just checking in

[2020-10-14 13:58] rifelpet commented on #10017
So we discussed this a bit and came up with two ideas, perhaps you and others could provide input on them?

The problem is that Kops' migration from LaunchConfigurations to LaunchTemplates causes the generated terraform file to no longer include the LC. Terraform then tries to delete the LC even though it is still in use by the autoscaling groups until their instances have all be replaced with the

[2020-10-14 14:50] jsonmp-k8 commented on #4005
Does KOPS support this `--quota-backend-bytes` param for etcd ?

[2020-10-14 15:35] schollii opened #10053 "kops cluster using etcd2 mistakenly updated to etcd3, now down"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

I initially just wanted to change the machine type of cluster nodes (not masters), using kops 1.13 on a kubernetes 1.11 cluster. Have not had issue doing this on a kubernetes 1.13 cluster. The cluster has 3 master nodes. However for some reason, kops wanted to update the master images from k8s-

[2020-10-14 17:11] schollii commented on #10053
I was able to "update" back to the original kops cluster yaml and it now all works again.

[2020-10-14 17:11] #10053 closed

[2020-10-14 17:23] olemarkus commented on #10053
FYI it looks like you hit the etc2 -> etcd3 upgrade. Make sure you read the release notes on how to proceed with that.

[2020-10-14 18:01] #10021 closed

[2020-10-15 08:13] olemarkus commented on #4005
You can specify which ENV vars to pass on to etcd: https://kops.sigs.k8s.io/cluster_spec/#etcdclusters
So you just have to set `ETCD_QUOTA_BACKEND_BYTES` there.

[2020-10-15 08:48] hakman opened #10057 "ComponentStatus API is being deprecated"
kops uses ComponentStatus API which was deprecated by https://github.com/kubernetes/kubernetes/pull/93570:
https://github.com/kubernetes/kops/blob/5d9822dedb3cc1e8d093c33d6b81cccdaf8a5df2/pkg/validation/validate_cluster.go#L183

This results in the following warning printed during validation:
[code]

[2020-10-15 08:49] hakman commented on #10057
/kind bug
/cc @johngmyers

[2020-10-15 09:05] olemarkus commented on #9291
Is this still an issue? I see that the mentioned version is a 1.17 alpha.

[2020-10-15 09:37] rajatjindal commented on #9886
hey @olemarkus

I am thinking about reopening this issue. The prob we are running into is that we consume the o/p of kops command(s) in our code, and decode that to e.g. cluster-spec, and now we are running into decoding problems.

what do you think?

[2020-10-15 10:02] olemarkus commented on #9886
Logs go into stderr and shouldn't be consumed like that in such a way.

[2020-10-15 10:26] rajatjindal commented on #9886
thank you for the quick reply. I did verified stdout/stderr thing, but didn't realized i was verifying it within my wrapper (where i was using cmd.CombinedOutput).

i changed it to use different buffers for stdout and stderr, and that fixed it.

thanks a lot for quick reply.

[2020-10-15 12:38] jsonmp-k8 commented on #4005
Thanks @olemarkus

[2020-10-15 22:27] kenji-cloudnatix commented on #3957
Just wanted to update this issue as we have a fork that supports Azure.

It's not fully done, but major features have been implemented, including:

- management of Azure resources such as Resource Group, Virtual Network, VM Scale Sets and Managed Disks.
- etcd cluster setup with Azure Managed Disks in etcd-manager
- Azure Cloud config injection
- VFS backed by Azure Blob storage service

We can ke

[2020-10-15 22:58] #9128 closed

[2020-10-16 01:13] bzuelke commented on #3957
personally id love to see support for this even if there is a shift toward cluster-api. this is amazing and can be added onto if needed. haven't checked the code base yet but this would be great to have 1 tool for multi cloud provider if we can.

[2020-10-16 04:24] johngmyers commented on #9143
I'm thinking there should be a toolbox command that runs the assets phase, giving the option of output in either json or yaml. Without a `--dryrun` flag it would copy the assets.

[2020-10-16 09:46] sacoefrancis commented on #4967
@sanketjpatel  have you got any solution in this ? we are facing same issue.

[2020-10-16 10:44] zetaab opened #10060 "OpenStack SecurityGroupRule Missing input for argument [SecGroupID]"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.19.0 alpha 5

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.19.2

**3. What cloud provider are you using?**

openstack (train)

**4. What commands did you run?

[2020-10-16 10:50] zetaab commented on #10060
possible problem is that this has not created `api.v3.k8s.local` securitygroup at all. Also it is not visible if I write `kops update cluster v3.k8s.local`

[2020-10-16 12:05] binkkatal commented on #10015
@rifelpet , are the json files auto generated ? and is it fine if it gets updated manually ?

[2020-10-16 12:12] hakman commented on #10015
@binkkatal Json files are updated via `hack/update-expected`. It is not ok to update manually.

[2020-10-16 13:45] rifelpet commented on #10015
The json is generated from go struct types defined in `upup/pkg/fi/cloudup/awstasks` package.

For example, the autoscaling group min size and max size fields are integers but should be strings. We could update the field types [here](https://github.com/kubernetes/kops/blob/d105c9299e7e9f451c9d36876ddb6b3d62f1f6d4/upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go#L865-L866), update where they're bei

[2020-10-16 17:01] #10060 closed

[2020-10-17 17:39] #8607 closed

[2020-10-18 06:14] binkkatal commented on #10015
@rifelpet , @hakman ,
I raised a [PR#1066](https://github.com/kubernetes/kops/pull/10066) on this, rest of the lint errors were fixed.
There is one pending lint error which states as

[code]

need help with the format

[2020-10-18 10:31] olemarkus commented on #9383
This one has been implemented, so we can close this now
/close

[2020-10-18 10:32] #9383 closed

[2020-10-18 13:36] rifelpet commented on #10015
The CidrIp error sounds like an actual bug. That json line number is an IPv6 cidr block, and the [cloudformation docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-security-group-rule-1.html) show a separate `CidrIpv6` field. I think we should create that second field in our cloudformation type [here](https://github.com/kubernetes/kops/blob/18ffb493bf2c796b1228

[2020-10-18 13:55] rifelpet commented on #3957
Great work @kenji-cloudnatix ! Would you or someone from your team be able to join the next [Kops office hours](https://kops.sigs.k8s.io/welcome/office_hours/)? Friday Oct 23rd at 12pm US/Eastern. We can discuss a high level plan with other maintainers there and then hash out any details here or in PRs.

[2020-10-18 15:32] #9148 closed

[2020-10-18 15:35] hakman commented on #3957
Would be really cool to get this into Kops. Thanks @kenji-cloudnatix !

[2020-10-18 21:36] rifelpet commented on #8723
/remove-lifecycle stale

[2020-10-19 02:04] binkkatal commented on #10015
@rifelpet , can we have another github issue on this

[2020-10-19 05:17] kenji-cloudnatix commented on #3957
Thanks all! Sure, will join the office hours on Oct 23rd.

[2020-10-19 07:16] nehzata opened #10070 "additionalUserData runs before docker has been installed"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.18.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]
[code]

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simp

[2020-10-19 07:48] olemarkus commented on #10070
You may want to run this as a hook instead of as additionalUserData. See https://kops.sigs.k8s.io/cluster_spec/#hooks

[2020-10-19 10:34] #8909 closed

[2020-10-19 11:00] nehzata commented on #10070
thanks @olemarkus... that has done the trick. much appreciated!

[2020-10-19 11:00] #10070 closed

[2020-10-19 11:36] sacoefrancis opened #10071 "kubernetes version 1.18.9 and kops 1.18.1 kbcfg config is getting generated without user credentails"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.18.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.4", ", GitTreeState:"clean", Buil

[2020-10-19 12:44] mmerrill3 commented on #10018
issue is solved by #9998

[2020-10-19 12:44] #10018 closed

[2020-10-19 12:57] mmerrill3 commented on #10017
@rifelpet I'm going to try out your second suggestion today.  Whatever script I come up with to remove all of the LC resources prior to running `terraform apply,` I'll post it here.

[2020-10-19 13:34] azkore opened #10072 "Root volume type 'standard' is no longer accepted since kops 1.19"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.19.0-alpha.5 (git-921f3e7109a4871ec1cb0b0e512785533a24dbce)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.19.3 but should be reproducible with any ver

[2020-10-19 14:16] mmerrill3 commented on #10017
@rifelpet thanks for you suggestions.  I tried the following terraform updates, and it allowed to terraform apply to go through without any deletion errors.

`terraform state list | grep aws_launch_configuration | awk '{ print $1 }' | while read line; do terraform state rm $line; done`

I'll post the command I'll use with the aws cli to remove the old LCs.

[2020-10-19 15:02] rifelpet commented on #10072
/kind bug
/cc @olemarkus

[2020-10-20 06:21] avdhoot commented on #10017
@rifelpet 1st option is more transparent for users. :+1:

[2020-10-20 08:46] sacoefrancis commented on #10071
Above is  being fixed by  adding
spec:
  kubeAPIServer:
    disableBasicAuth: false

this is for kops version 1.18.1

[2020-10-20 08:46] #10071 closed

[2020-10-20 09:03] olemarkus commented on #10071
Note that basic auth is completely removed in 1.19, so you need to move away from that if you are using it.

[2020-10-20 13:04] #10072 closed

[2020-10-20 15:50] seh commented on #10017
Per @rifelpet's ideas above (in https://github.com/kubernetes/kops/issues/10017#issuecomment-708421918), when I ran into this problem, I used that second procedure: delete the Launch Configurations from Terraform's state using _terraform state rm,_ orphaning them. Terraform was not smart enough to first create the Launch Templates, bind the templates to the ASG, and only _then_ destroy the abandon

[2020-10-21 16:12] #6333 closed

[2020-10-21 20:13] dvdmuckle commented on #10017
I ran into the same issue regarding using LCs with mixed instance policies as @avdhoot, though I think it's a different issue from the one at hand here. This was with a cluster created and then updated with `Version 1.19.0-alpha.5 (git-ea96bbd768de53eca962d0bb1c17883e18cdadd1)` and K8s `1.19.3`.

[2020-10-21 21:46] rifelpet opened #10079 "Create release-1.19 branch"
Using this issue to link the associated PRs for cutting the release-1.19 branch. I'm following the steps [here](https://kops.sigs.k8s.io/development/release/#new-kubernetes-versions-and-release-branches) which will need updating as well.

[2020-10-22 14:03] linecolumn opened #10081 "Cluster not validated when cilium.enablePrometheusMetrics is set to true"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.19.0-alpha.5 (git-921f3e7109a4871ec1cb0b0e512785533a24dbce)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

v1.18.9

**3. What cloud provider are you usin

[2020-10-22 20:10] dvdmuckle opened #10082 "Failing to update spot instance ASGs with mixed instance policies"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.19.0-alpha.5 (git-ea96bbd768de53eca962d0bb1c17883e18cdadd1)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
v1.19.3

**3. What cloud provider are you using?

[2020-10-23 04:50] atam003 opened #10085 "Worker node is not joining the cluster because Unable to find image 'protokube:1.18.1' locally"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.18

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.11

**3. What cloud provider are you using?
AWS

**4. What commands did you run?  What is the simplest way to r

[2020-10-23 10:07] olemarkus commented on #10085
Those "unable to find" messages are to be expected as protokube is sideloaded, not downloaded from any registry. (search for `docker load` in the logs).

From what I can see, protokube is loaded and even running at some points. E.g log lines like this one:
[code]

There are some interesting things happening here:
[code]
where you seem to install docker. After that, the docker daemon has lost the s

[2020-10-23 16:09] olemarkus commented on #10081
Hi,

Can you please follow the issue template here: https://github.com/kubernetes/kops/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

In particular, we would need to know what validation errors you are getting.

[2020-10-23 17:16] atam003 commented on #10085
Hi Olemarkus,

I am using kops Nvidia device plugin hook
"kops/hooks/nvidia-device-plugin/" which is doing so.

Please note I am facing this issue very recently from 21st Oct. Earlier it used to work fine for me. Also, It happens always only on the first worker node. If I try to terminate this worker node and Autoscaler create a new one. This issue does not happen.

Any suggestions on what should

[2020-10-23 17:30] olemarkus commented on #10085
Most likely this is due to a race condition.
Unfortunately we cannot offer much support on the hook. And the hook will not work with newer kops/k8s versions.Have you considered something like nvidia's gpu operator? https://kops.sigs.k8s.io/gpu/

[2020-10-23 18:06] rifelpet commented on #3957
@kenji as discussed today, I think our next steps will be:
1. Open the big kops PR with all the changes. we'll likely end up breaking it up into smaller PRs but it helps to see the full scope of changes.
2. Open a kops PR with just the VFS changes (`util/pkg/vfs/*`) + necessary dependencies
3. Once the VFS PR is merged, open the etcd-manager PR with the updated kops dependency

In the big PR we ca

[2020-10-23 18:06] rifelpet commented on #3957
@kenji-cloudnatix as discussed today, I think our next steps will be:
1. Open the big kops PR with all the changes. we'll likely end up breaking it up into smaller PRs but it helps to see the full scope of changes.
2. Open a kops PR with just the VFS changes (`util/pkg/vfs/*`) + necessary dependencies
3. Once the VFS PR is merged, open the etcd-manager PR with the updated kops dependency

In the b

[2020-10-23 19:24] linecolumn commented on #10081
Here are addition information.

Validating cluster test2.redacted.com

[code]

cluster yaml:

[code]

kubectl version:

[code]

As soon as I comment:

[code]

or change it to false cluster can be created and validated properly.

[2020-10-24 00:45] atam003 commented on #10085
It will require Helm. currently, we are not using helm.
Unfortunately, this issue happened at every end of our release. We are getting stuck here.
If possible, If we can get any support as we are using kops 1.18 and Kubernetes 1.11.

[2020-10-24 07:35] olemarkus commented on #10081
Thanks. I suspect that you have a host port conflict. If you describe the pending pods you should be able to see what prevents it from being scheduled.

[2020-10-24 08:35] olemarkus commented on #10085
If it stopped working suddenly without changing anything from kops side, I don't think it is that much we can do. Not many kops maintainers use GPU, and myself use the GPU operator as the hook doesn't work on the k8s setup we require.

Given that support for 1.11 is running out also for kops, I can only encourage you to upgrade.

One solution is to use `helm template` to generate the resource file

[2020-10-24 09:47] linecolumn commented on #10081
Here are output of describe from pending pods:

all cilium pods:

[code]

[2020-10-24 10:58] #10079 closed

[2020-10-24 11:41] h3poteto commented on #10081
I can reproduce it in master branch.
I found the cause, so I will take this issue.

/assign

[2020-10-24 11:46] h3poteto commented on #10081
In cilium configmap template is: https://github.com/h3poteto/kops/blob/9e676135438fd65a062e634e2eb6bb20a6dab23e/upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template#L57
`enable-metrics: true` is not valid, it should be `enable-metrics: "true"`. So kops could not apply it in master instance.

[code]

[2020-10-24 12:25] h3poteto commented on #9370
I can probably add it as part of `kops-controller`, but is that OK?
If it is OK, I will take this issue.

[2020-10-24 12:53] #10081 closed

[2020-10-24 13:56] povils commented on #8296
Was this issue addressed?

[2020-10-24 14:32] ari-becker commented on #9370
@h3poteto yeah, that would be great!

[2020-10-25 03:39] amoskyler commented on #9887
I just ran into this issue but in a slightly different context. It would appear that adding this configuration into an existing cluster and then rolling a master node causes the kubeapi to loop perpetually and fail to re-join the cluster.

[2020-10-25 06:04] #9631 closed

[2020-10-25 08:14] h3poteto commented on #9370
/assign

[2020-10-25 13:17] olegsa commented on #7753
try to setup environment varieble AWS_SDK_LOAD_CONFIG
`export AWS_SDK_LOAD_CONFIG=1`

[2020-10-25 14:26] avdhoot opened #10104 "kops failed to update instance group with maxprice(spot) aws"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
 1.19.0-alpha.5
**2. What cloud provider are you using?**
aws
**3. What commands did you run?  What is the simplest way to reproduce this issue?**
Use below `instancegroup` manifest with kops `1.19`
**4. What happened after the commands executed?**
[code]

**5. What did you expect to happen?**

[2020-10-25 16:33] azkore commented on #8957
/remove-lifecycle stale

[2020-10-26 09:17] timothyclarke opened #10108 "[v1.18.2] Release notes reference non-existant Rolling Updates link"
**1. What `kops` version are you running? **
v1.18.2

**2. What Kubernetes version are you running?**
 N/A

**3. What cloud provider are you using?**
N/A

**4. What commands did you run?  What is the simplest way to reproduce this issue?**
Browse to [v1.18.2 release notes](https://github.com/kubernetes/kops/releases/tag/v1.18.2) Then follow documentation link for Rolling updates now support surgin

[2020-10-26 10:36] kciredor commented on #9956
Just tested with kops 1.18.2 and I'm afraid etcd-manager backups are not coming in after 60 minutes, @zetaab. Reauth issue still there.

(On the other hand: kops-controller reconcile loop has indeed been fixed which is great)

[2020-10-26 12:22] itskingori commented on #7604
/remove-lifecycle stale

[2020-10-26 13:50] hakman commented on #6527
/remove-lifecycle rotten
/lifecycle frozen

[2020-10-26 15:08] #9210 closed

[2020-10-26 18:04] hakman commented on #10012
@lazzarello Could you confirm that kops 1.18.2 fixes the issue?

[2020-10-26 22:37] kenji-cloudnatix commented on #3957
Sure, @rifelpet ! Just opened https://github.com/kubernetes/kops/pull/10114 for the first item.

[2020-10-27 06:09] hakman opened #10116 "Document setup in AWS GovCloud"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Using AWS GovCloud is a bit different from the regular AWS.
https://github.com/kubernetes/kops/blob/master/docs/getting_started/aws.md

**2. Feel free to provide a design supporting your feature request.**

Kops v1.18.2 improves the support for AWS GovCloud and should work without any additional tweaks, except for the fa

[2020-10-27 06:14] hakman commented on #10116
https://cloud-images.ubuntu.com/locator/ec2/ shows Ubuntu 20.04 release `20201014` as available in GovCloud as [ami-84556de5](https://console.amazonaws-us-gov.com/ec2/home?region=us-gov-west-1#launchAmi=ami-84556de5).

<img width="1125" alt="focal-govcloud" src="https://user-images.githubusercontent.com/2759402/97263779-58a88980-182c-11eb-8c82-c0637080f254.png">

[2020-10-27 07:09] hakman commented on #10108
Thanks for reporting this @timothyclarke. I updated the release notes in GitHub with proper links to the docs site.

[2020-10-27 07:18] hakman commented on #6527
Some CNI plugins like Cilium and Calico are adding eBPF support. Deploying `kube-proxy` as a DaemonSet would make it possible disable it and to enable eBPF support at same time, without the need for a rolling-update or downtime.

[2020-10-27 09:00] ttsrg opened #10119 "official manual has mistakes in syntax bash"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.18.1 (git-453d7d96be)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
v1.19.3
**3. What cloud provider are you using?**
aws
**4. What commands did you run?

[2020-10-27 09:06] timothyclarke commented on #10108
Thank you

[2020-10-27 09:19] avdhoot commented on #10104
Same issue https://github.com/kubernetes/kops/issues/10082

[2020-10-27 09:24] adam-thg commented on #9834
I ran into a similar issue as the above, and in my instance the etcd logs (of both etcd clusters) listed only the local deployment as existing, so for whatever reason they couldn't see each other.

I haven't invested much time in debugging further, as my installation was also unsupported (I believe) lacking any sort of LBaaS or DNS resolution in OpenStack.

[2020-10-27 17:01] hakman opened #10122 "Cluster cannot start with older versions of k8s"
After merging https://github.com/kubernetes/kops/pull/10048, the new way of installing Docker is conflicting with the pre-installed Docker in the `kope.io` images.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/e2e-kops-aws-k8s-1-15/1320685447990480896

A similar problem existed in 1.17 and was fixed in https://github.com/kubernetes-sigs/image-builder/pull/273, by just copying the Docker deb

[2020-10-27 17:16] hakman commented on #10119
@ttsrg This is related to Bash version (or other shell in general). See https://tldp.org/LDP/abs/html/parameter-substitution.html for explanation of how `${parameter:-default}` works.
What shell version and OS are you using?

[2020-10-27 18:51] johnegrosjean commented on #10012
@hakman We are running several kops clusters in AWS GovCloud.  We just upgraded kops from 1.17 to 1.18.1, and experienced the same issues.  I just upgraded one cluster to 1.18.2, and all is healthy once again.  It appears that .2 did fix this.  Thanks!

[2020-10-27 18:58] hakman commented on #10012
Thanks a lot for confirming @johnegrosjean. Could you tell me if there is any special step that needs to be done for GovCloud to work?

[2020-10-27 20:57] johnegrosjean commented on #10012
@hakman Nope.  I did not add "AWS_REGION=us-gov-west-1" to the daemon set, as 1.18.2 was literally released just in time.  I just followed our normal process; downloaded kops 1.18.2, kops update cluster, then kops rolling-update.  The rolling update isn't really necessary, it started working correctly as soon as "kops update cluster" had spun up the new kops-controller pods.

[2020-10-28 07:44] hakman commented on #10012
Cool. Do you need to specify a special AMI for it to work?
Also, could you check https://kops.sigs.k8s.io/getting_started/aws/ and see if your workflow is any different? I would like to document such things and mention in the docs that it works out of the box.

[2020-10-28 08:05] ttsrg commented on #10119
Hello.
I'm using Ubuntu 20.04.1 LTS and bash, version 5.0.17(1).

[2020-10-28 08:16] ikropotov opened #10127 "include in Docker configuration a Runtime option"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
I am working on having an alternative OCI runtime on the machines, and currently I can't configure it out of the box with `kops` so I would need to create an images with dockerd running with alternative runtime and skip docker installation on kops.

There is no runtime configuration for Docker:
https://pkg.go.dev/k8s.io/k

[2020-10-28 10:06] hakman commented on #10119
I have no idea why was done like that 4 years ago. Maybe BASH evolved also and TBH, it's not the most stable syntax over time. It is a good idea to simplify things though.

[2020-10-28 10:53] hakman commented on #10127
Hi @ikropotov. Could you be more specific about what OCI runtime you want to use, what extra flags you would need and the use case or using something other than `runc` (I guess this is the piece that you are trying to replace)?

[2020-10-28 11:23] ttsrg commented on #10119
Then I propose to apply my proposal and I guess  it  improves official --help.
Thanks

[2020-10-28 14:28] seh commented on #10017
Here's my latest code handling this problem as part of a larger upgrade procedure.
[code]

[2020-10-28 14:49] ikropotov commented on #10127
@hakman Yeah I am looking for a more isolated runtime to run DIND(docker-in-docker) and KIND(kubernetes-in-docker) without compromising nodes/hosts at scale, specifically https://github.com/nestybox/sysbox

[2020-10-28 15:55] #8804 closed

[2020-10-28 16:08] michaelajr commented on #6735
We end up using the lifecycle overrides on `kops update cluster` to avoid this.

[2020-10-28 16:19] andrewdunai commented on #5767
/remove-lifecycle stale

[2020-10-28 17:11] #10108 closed

[2020-10-28 17:45] atam003 commented on #10085
Looks Like this issue is resolved after modifying  "storage-driver": "overlay2" earlier it was overlay.
I modified the following file
https://github.com/kubernetes/kops/blob/master/hooks/nvidia-device-plugin/image/files/02-nvidia-docker.sh

Is the anyway,  I can contribute to kops code.

[2020-10-28 20:03] rifelpet commented on #10015
the remaining issues have been addressed and a new presubmit job has been added to ensure the generated cloudformation json remains valid

/close

[2020-10-28 20:03] #10015 closed

[2020-10-28 20:55] #10119 closed

[2020-10-28 22:19] #9891 closed

[2020-10-28 22:19] #9913 closed

[2020-10-28 22:55] rifelpet commented on #5762
/reopen
/remove-lifecycle rotten
/milestone v1.19

[2020-10-29 10:01] LordNoteworthy commented on #2422
Any update on this? Are you guys working on it and you're planning to release at some point?

I would love to see this feature released. I can help with testing at least.

Cheers.

[2020-10-29 10:38] olemarkus commented on #5767
Most of this has little to do with kops and more to do with k8s in itself.

In kops 1.19 we do have `kops get instances` that will provide some of the info requested above though.

[2020-10-29 11:23] azkore opened #10136 "Documentation: missing information on configuring NodeLocal DNSCache"
The [current documentation on NodeLocal DNSCache](https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#node-local-dns-cache) is missing a crucial part about changing clusterDNS to 169.254.20.10, which was present in the initial implementation, see [here](https://github.com/kubernetes/kops/pull/8780/files#diff-2983fab4084c9924c5b2b08ee707eb513c749db933e7b3481b8a746ddf033875R556)

Wit

[2020-10-29 11:33] azkore opened #10137 "Automatically change the cluster-dns setting if NodeLocal DNSCache is enabled"
Currently if you enable NodeLocal DNSCache as described [here](https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#node-local-dns-cache), it is still needed to change kubelet cluster-dns option manually, otherwise NodeLocal DNScache is not used (see #10136).
This is error prone, as both setting depend on each other and changing one without the other could lead to unexpected results

[2020-10-29 11:36] azkore commented on #10137
I also created a related documentation issue https://github.com/kubernetes/kops/issues/10136

[2020-10-29 13:30] paalkr commented on #2422
The basic functionality works, and we run windows workloads in our clusters. But there is a great potential for integrating windows support more tightly into Kops.

The biggest obstacle for us right now is all the general limitations with Kubernetes on Windows. Especially storage (CSI) is hard, but none of this issues are related to Kops in particular, they apply to Kubernetes on Windows in genera

[2020-10-29 20:07] johnegrosjean commented on #10012
I don't see where this workflow would have any particular problems on govcloud, though it's not the workflow we use.  We have an ansible playbook that creates a custom, FIPS enabled, hardened AMI, sets up the IAM roles, creates the cluster state storage, and exports the kops yaml files from a template.  We also don't use a kops IAM user, each individual admin has their own credentials that they le

[2020-10-29 21:40] seh opened #10139 "Enabling "spec.api.loadBalancer.useForInternalApi" requires access to kops controller port through API load balancer"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.19.0-alpha.5 (git-921f3e7109a4871ec1cb0b0e512785533a24dbce)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.19.3

**3. What cloud provider are you using

[2020-10-29 23:33] dobesv commented on #2505
To roll the nodes, you can use `kops rolling-update --force`

For anyone coming here looking for this feature, the docs are here:

https://github.com/kubernetes/kops/blob/master/docs/cli/kops_create_secret_dockerconfig.md

The secret is written to `/root/.docker/config.json`

[2020-10-30 05:10] johngmyers commented on #10139
/assign

[2020-10-30 07:16] hakman commented on #10012
Thanks for the explanation @johnegrosjean, really appreciate it.

[2020-10-30 07:17] hakman commented on #10012
Fix works as expected.
/close

[2020-10-30 07:17] #10012 closed

[2020-10-30 09:50] olemarkus commented on #5767
Unless someone has an idea of what can be improved from the kOps side, I will close this one.

[2020-10-30 12:33] seh commented on #10139
I woke up this morning with the realization that it looks like your #10142 implements, @johngmyers: The load balancer's security group was not allowing ingress from the worker machines.

[2020-10-30 18:39] dmcnaught opened #10146 "Apiserver becomes unavailable : kube-proxy logs net/http: TLS handshake timeout, then dial tcp 10.61.78.17:44 i/o timeout3: connect: no route to host, or"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.17.2
**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.17.13
**3. What cloud provider are you using?**
AWS
**4. What commands did you run?  What is the simplest way

[2020-10-30 19:26] tomekit commented on #6333
@Lampino I've noticed your question too late.
I didn't solve Kubernetes overriding my SG rules, however I did found the configuration option for the both SSH and API access, so it's now actually kops managing these rules:
[code]

[2020-10-30 20:49] dmcnaught commented on #10146
Instancegroups:
  Masters:
[code]
  Nodes:
[code]

[2020-10-31 01:51] #2363 closed

[2020-10-31 12:24] hakman commented on #9138
/remove-lifecycle stale
/lifecycle frozen

[2020-10-31 15:03] mikesplain commented on #6727
/remove-lifecycle rotten

[2020-10-31 18:35] rifelpet commented on #9992
@hakman can this be closed out?

[2020-10-31 18:41] hakman commented on #9992
I think so.
/close

[2020-10-31 18:41] #9992 closed

[2020-10-31 19:26] rifelpet commented on #10082
@dvdmuckle can you include the `kops update cluster` output showing the spot price change when you make networking changes?

And was this cluster created with a 1.19 alpha or 1.18 or earlier? If it was created with an earlier kops version, were the mixed instances policies also defined and working with the previous kops version?

[2020-10-31 19:43] seh commented on #10139
Thinking about this more, I now think that #10142 is fixing the wrong thing. It doesn't make sense to use this load balancer for contacting _kops-controller_. The load balancer is intended to front the Kubernetes API. Its security considerations take those API clients into account, and it maintains its target set based on the Kubernetes API servers' health.

If one of the Kubernetes API server con

[2020-11-01 11:24] azman0101 opened #10147 "dns-controller multiples pods in NodeAffinity status"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest

[2020-11-01 13:47] rifelpet commented on #10082
Also can you use CloudTrail to find the contents of the AWS requests that are failing and post their redacted versions here? You can lookup by request ID (`444a9dac-9589-4ec3-8363-b7a26e592dbe` for example). I'm mostly curious about the launch template parameters in the `UpdateAutoScalingGroup` requests. If you could also look up the launch templates themselves and see how their latest version num

[2020-11-01 13:58] rifelpet commented on #10147
@azman0101 can you also post your instance groups? `kops get ig --name test-cluster.aws.dummy-customer.fr -o yaml`

[2020-11-01 15:28] lsowen opened #10148 "Allow overriding image versions and repositories"
For various reasons, including the imminent introduction of pull limits for Docker hub (https://docs.docker.com/docker-hub/download-rate-limit/), it can be useful to be able to override the version and location for various components, including:

* Node local DNS: https://github.com/kubernetes/kops/blob/999ae2593236372c72faca7b33d33b0d8ed13585/upup/models/cloudup/resources/addons/nodelocaldns.addo

[2020-11-01 16:02] azman0101 commented on #10147
@rifelpet IGs added

[2020-11-01 19:16] olemarkus opened #10149 "Kubernetes secrets signed by kops CA"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

There are a couple of use cases for having kubernetes TLS secets signed by the kops CA. Metrics Server can use these secrets as client/serving certs. Addons using webhooks would also benefits from this.

**2. Feel free to provide a design supporting your feature request.**

This feature feels like a natural extension on

[2020-11-01 20:03] kitos9112 opened #10150 "Kubernetes Deployment `k8s-ec2-srcdst` uses wrong CA Path on CentOS-like worker nodes"
Hello,

I'm using the latest GA v1.18.2 version on Kops to bootstrap an AWS Kubernetes cluster on version 1.18.9 which employs Calico as CNI. The relevant piece of my cluster_config.yaml snippet would look like:

[code]

Everything seems to function quite well if I'm using the default debian-like AMI where all your automated tests run against, however, the problem arises when I use my company hard

[2020-11-01 22:20] rifelpet commented on #5569
/remove-lifecycle stale

[2020-11-01 22:24] johngmyers commented on #10149
I maintain proofpoint/kapprover and proofpoint/certificate-init-container for the TLS server cert use case. We since wrote (but haven't open-sourced) a mutating admission webhook to inject the init container. It provides a per-pod certificate/key in a volume, not one shared using a Secret.

[2020-11-02 08:20] olemarkus commented on #10149
If we were do go down this path, the addon could just specify the init-container, so the mutating webhook is probably not that useful. In our case, kops-controller would be the signer, so the code there would be somewhat similar to the CRD approach.

Validating the CSR is probably more complex than just writing a secret to a well-known location and trust that only e.g metrics-server has the RBAC p

[2020-11-02 08:40] olemarkus commented on #10148
For the docker hub rate limit case, I suggest using a docker hub mirror. See https://kops.sigs.k8s.io/cluster_spec/#registrymirrors

[2020-11-02 10:04] lsowen commented on #10148
Good suggestion, and not something I was aware of.  Unfortunately, doesn't work in my case, because the image names are changed when "vendored" to our private repo.

[2020-11-02 13:09] olemarkus commented on #10148
You can have a look at this one as well then https://kops.sigs.k8s.io/cluster_spec/#containerregistry (and the proxy below). That may fit more your use case.

[2020-11-02 16:04] fvasco opened #10155 "docker command not installed on Node"
**1. What `kops` version are you running?
`Version 1.18.2 (git-84495481e4)`

**2. What Kubernetes version are you running?
[code]

**3. What cloud provider are you using?**
AWS us-east-1

Unfortunately, we cannot provide a real reproducer, now a good report.
When an Ec2 instance has been started, it does not join the group as a Node.
Logging on in it using `ssh`, `kubelet` isn't started and `docke

[2020-11-02 16:29] hakman commented on #10155
@fvasco there should be a log for the `kops-configuration.service` that should give you more info.

[2020-11-02 20:00] fvasco commented on #10155
Hi, @hakman,
thank you for reply.
Unfortunately, it is not available anymore.
I'll collect the `journalctl -u kops-configuration.service` output next time.

[2020-11-03 08:34] olemarkus commented on #8370
/remove-lifecycle stale

With #9011 merged, this one can be closed

/close

[2020-11-03 08:34] #8370 closed

[2020-11-03 08:45] olemarkus commented on #10136
We recently released a change that will force clusterDNS to be 169.254.20.10 regardless of CNI. Do you experience the same problem on 1.18.2?

[2020-11-03 14:13] rifelpet commented on #7971
/remove-lifecycle stale

[2020-11-03 18:08] MeirP-3 commented on #7142
Hello,

I encounter this issue with kops 1.18.2 (git-84495481e4).
The weird thing is, one instance group which usually has 0-4 nodes got the update.
But for the other instance group which usually has 8-13 nodes, kops reports status NEEDUPDATE for all the nodes except one.

Kubernetes version: 1.14.2

using kops with "+Spotinst" feature flag.

[2020-11-03 23:09] edijsdrezovs commented on #8996
The problem is that `kops toolbox` cannot work with list from terraform output @knagu. I guess you are passing availability zones as. following - `data.aws_availability_zones.available.names`

In order to fix it you need to convert list to string.

[code]

[2020-11-04 04:21] hakman commented on #10150
@kitos9112 I think this could be easily fixed by mounting all the `/etc/ssl/certs`. Could you do a quick check?

[2020-11-04 08:54] kitos9112 commented on #10150
@hakman Thanks for your reply. Yes, that's an easy fix and makes sense instead of adding more configuration overhead.

I've just tried editing the `deployment` spec in the same live cluster by mounting the whole directory as a _Directory_ type in the hostPath directive with successful results.

[code]

Do you want me to submit a PR with this small fix?

[2020-11-04 10:02] miron9 opened #10165 "Resources not deleted when a new tag added after creation of cluster"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
`Version 1.18.1 (git-453d7d96be)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
N/A

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?

[2020-11-04 10:03] hakman commented on #10150
That would be great. Thanks :).

[2020-11-04 10:55] hakman commented on #10165
Hi @miron9.  By any chance you have FirewallManager enabled on the account?
https://docs.aws.amazon.com/waf/latest/developerguide/create-policy.html#creating-firewall-manager-policy-common-security-group

Also please try the these steps to see which resources is preventing the resources from being deleted:
https://aws.amazon.com/premiumsupport/knowledge-center/troubleshoot-dependency-error-delete-

[2020-11-04 10:59] fvasco commented on #10155
I attach a log of a successful started instance [kops-configuration.service.log.gz](https://github.com/kubernetes/kops/files/5487323/kops-configuration.service.log.gz)
Please consider timestamps of these two lines:

[code]

Network issues delay the bootstrap a lot (six minutes) and can potentially lock the node.
It should be really safe (and fast) to put all required resources in the base AMI, for

[2020-11-04 11:26] hakman commented on #10155
I agree with you that we could put all required resources in the base AMI. The problem is that someone has to maintain those images, release security updates and so on. Pretty much a full time job that we don't plan to do. Of course, you could build and use a custom image that suits your needs.

The issues I see here are from downloading the Kubernetes binaries, which is surprising. Usually that p

[2020-11-04 11:46] MeirP-3 opened #10166 "kops 1.18.2 with spotinst elastic groups: Instance group stuck in "NeedsUpdate""
*Kops version 1.18.2 (git-84495481e4)*

*Kubernetes version 1.14.2*

*Cloud provider: aws*

*Using "+Spotinst" feature flag*

**Behavior**
`kops rolling-update cluster --instance-group nodes`
kops reported 0 ready, 10 needupdate
`kops rolling-update cluster --instance-group nodes --yes`
Kops reported rolling update is completed
`kops rolling-update cluster --instance-group nodes`
kops reported 0 r

[2020-11-04 11:47] MeirP-3 commented on #7142
Submitted new issue #10166

[2020-11-04 11:59] hakman commented on #10166
@MeirP-3 please attach a full log, with -v10 and a cluster spec that can be used to reproduce this. Thanks!

[2020-11-04 12:05] fvasco commented on #10155
Hi, @hakman,
thank you for reply.
We don't plan to understand deeper how kOps works.

This is reasonable.
There is why some tools (like Packer) automate the process.

I agree, usually it is.

However the key issue is: what happen if an network error happens during bootstrap? It can be always recovered or it marks itself unhealthy until boot goes OK?
Is the Autoscaler able to detect the unjoined no

[2020-11-04 12:14] kitos9112 commented on #10150
Right, I´ll raise a PR this afternoon after work.

Cheers!

[2020-11-04 12:20] hakman commented on #10155
Even with automation, this is a lot of work.
As you well intuited, Custer Autoscaler will terminate such nodes and create others.

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-does-scale-up-work
"It may take some time before the created nodes appear in Kubernetes. It almost entirely depends on the cloud provider and the speed of node provisioning. Cluster Auto

[2020-11-04 13:10] fvasco commented on #10155
Thank you for reference, @hakman,
Unfortunately I mean [AWS Autoscaler](https://aws.amazon.com/en/ec2/autoscaling/)

[2020-11-04 14:11] seh opened #10168 "Allow Calico to use VXLAN backend (instead of BIRD)"
Calico—in particular, its "calico-node" daemon—has a configurable "networking backend" that accepts one of three values:
- _bird_
  Run the BIRD BGP daemon, for use with IP-in-IP or VXLAN encapsulation.
- _vxlan_
  Disable BIRD, and allow use of VXLAN encapsulation.
- _none_
  Disable BIRD, and use Calico only for network policy enforcement.

We can specify this value via [the "calico_backend" fie

[2020-11-04 14:15] miron9 commented on #10165
Hi @hakman,
No, I'm not using the firewall. I could remove the resources manually but this is not the point here I'm afraid. I created it all with KOPS and I believe KOPS should be able to undo it all.
Kind regards

[2020-11-04 14:17] hakman commented on #10155
AWS Autoscaler works only when Cluster Autoscaler is configured. Otherwise it's not doing much. You should give it a try.

[2020-11-04 14:20] hakman commented on #10165
I agree with you though, I would like to know what resource is not visible to Kops and preventing the delete.

[2020-11-04 14:21] seh commented on #10168
See the following Slack threads for background:
- ["kops-users" channel](https://kubernetes.slack.com/archives/C3QUFP0QM/p1604460525290400) in the "Kubernetes" workspace
- ["networking" channel](https://calicousers.slack.com/archives/CPEPF833L/p1604348149472500) in the "Calico Users" Slack workspace
- ["kubernetes" channel](https://calicousers.slack.com/archives/C0BCA117T/p1604458813203100) in the

[2020-11-04 14:42] #8993 closed

[2020-11-04 15:14] MeirP-3 commented on #10166
[Link to cluster spec](https://gist.github.com/MeirP-3/006b9975cef1f8d548f9eab08b8ecc50)
[log of rolling-update without --yes](https://gist.github.com/MeirP-3/11e8c32408c10ab9c0b29109d27f31df)
[log of rolling update process](https://gist.github.com/MeirP-3/f91ca9d5f382ecff1c2c327c9f4ddf01)
[log rolling-update without --yes, after the rolling update succeeded](https://gist.github.com/MeirP-3/1291e8

[2020-11-04 16:01] AgileOPS-IP commented on #10147
The same thing happened to me. The instance type is t3.medium

[2020-11-04 16:15] miron9 commented on #10165
Update: I changed the tag key to something like "cluster_autoscaler_mycluster.dev.eu-central-1.aws.svc.example.com" and it works now though to back out from previous situation one has to first run "kops create cluster ..." to update the tags to the new one and then "kops delete cluster ..."

Conclusion: there are some requirements/restrictions regarding key that that be applied with cluster labels

[2020-11-04 17:14] hakman commented on #10165
Maybe these tags should be per IG, not global.
Will try to reproduce and see if easy to fix one of these days.

[2020-11-04 18:13] rdrgmnzs commented on #7764
/remove-lifecycle stale

[2020-11-04 23:53] rifelpet commented on #9598
/remove-lifecycle stale

[2020-11-05 08:47] #10150 closed

[2020-11-05 11:46] kciredor opened #10173 "Kops on OpenStack AllowedCIDRs should ignore specific ordering"
Kops 1.18 supports AllowedCIDRs which is the modern Octavia way to whitelist API access on a loadbalancer instead of using a Security Group.
So far so good.
Problem is: kops update cluster wants the ordering of the whitelisted ip's returned by OpenStack's api to exactly match the ordering of kops state bucket (e.g. kops get cluster -o yaml). This means a dry run of kops update cluster will always

[2020-11-05 11:50] kciredor opened #10174 "Kops upgrade 1.17.x to 1.18.x dry run diff shows wrong version numbers"
Upgrading a cluster with kops 1.17.2 to 1.18.2 and setting the target kubernetes version (kops edit cluster) to 1.18.9, the end result will be a cluster running kubernetes 1.18.9. That's good.

But the initial dry run of kops update cluster shows a diff which claims images like api-server will be set to 1.18.2, which is false, they end up being the targeted 1.18.9.

**1. What `kops` version are yo

[2020-11-05 14:58] SCLogo commented on #9633
/remove-lifecycle stale

[2020-11-05 15:34] rifelpet commented on #10173
I agree the lists should be unordered. This should be a pretty straight forward fix if anyone wants to tackle it. It should just be a matter of sorting the lists of strings we get from openstack and build from ClusterSpec.

Here's the listener we get from openstack (`listenerList[0].AllowedCIDRs`)
https://github.com/kubernetes/kops/blob/9d6479fbba2f2f80d285e69ea73048f2a95accd3/upup/pkg/fi/cloudup/

[2020-11-06 06:38] #10009 closed

[2020-11-06 06:54] sharoncr1 opened #10177 "Is there a way to set the node-image once the cluster is created?"
While creating a cluster, kops gives us a set of arguments to configure the images to be used for the master instances and the node instances like the following as mentioned in the kops documentation for create cluster command :
[](https://github.com/kubernetes/kops/blob/master/docs/cli/kops_create_cluster.md)

`--image string                     Set image for all instances.
--master-image string

[2020-11-06 09:27] olemarkus commented on #10177
run `kops get <cluster name> -o yaml > cluster.yaml` edit it there, then run `kops replace -f cluster.yaml`

[2020-11-06 09:42] olemarkus commented on #10174
Are you sure you are not mixing kops components (protokube, dns-controller) with the k8s ones? The kops components should be the same as the kops version, which I suspect is is kops 1.18.2

[2020-11-06 10:13] sharoncr1 commented on #10177
@olemarkus Thanks a lot.. it's kinda solution when compared to the thing I was doing earlier...

I can do a search and replace in a single place instead of going to each instance group definition separately using `kops edit ig ig_name`

But my actual question I had was, whether we have a way to modify it in the cluster level so the change is in only one line and we can override if wanted in the in

[2020-11-06 10:13] #10177 closed

[2020-11-06 12:31] esimonov commented on #2990
Still seeing this issue.

Kops - Version 1.18.2
Terraform - v0.13.4

[2020-11-06 13:24] hakman commented on #9712
/remove-lifecycle stale
/lifecycle frozen

[2020-11-06 17:27] bharath-123 opened #10183 "Identify associated instance group for all validation error during cluster validation"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
In validate_cluster, ValidationError describes any sort of failures that have occured during cluster validation. A recent PR was merged where we don't wait on rolling update due to validation errors in an unrelated instance group. This feature requires us to know the instance group of the validation error.

Currently, it

[2020-11-06 17:27] bharath-123 commented on #10183
/assign bharath-123

[2020-11-06 17:29] bharath-123 commented on #10183
@johngmyers @hakman @justinsb Any suggestions or ideas which I can use here will be super helpful.

[2020-11-06 18:43] dene14 opened #10184 "[Question] Node reboot after initial setup"
We run our clusters in AWS, as a part of node initialization we set up extra software and perform distro update.
kops scripts also perform modifications to systems sometimes that require reboot.

On every node that was provisioned you may see "Reboot required" message in terminal.

So question: what is recommended way to reboot the node right after initialization?

[2020-11-06 19:29] #9318 closed

[2020-11-06 20:17] trajakovic opened #10185 "kops-controller stale node label values"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`Version 1.18.2`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

`AWS`

**4. What commands did you run?  What is

[2020-11-06 20:30] #7970 closed

[2020-11-06 22:06] Nuru commented on #10043
I am seeing similar behavior with kops 1.18.2 on Alpine 3.11.
[code]
It keeps retrying the failed metadata query but of course never succeeds

I am using [aws-vault](https://github.com/99designs/aws-vault) to provide AWS credentials via a local EC2 metadata server, but it only provides credentials, not the full EC2 Metadata. If the metadata server fails, it should fall back to using a standard API

[2020-11-06 22:12] Nuru commented on #10043
May be related to https://github.com/aws/aws-sdk-go/pull/3066

[2020-11-06 23:48] johngmyers commented on #10183
`validateNodes` could construct and return a map of nodes to groups. `collectPodFailures` already constructs a map of IP address to node, so it could then use that map of nodes to groups to go from pod to group.

[2020-11-07 00:38] johngmyers commented on #10185
I suspect this was fixed by #9575

[2020-11-07 05:04] havulv commented on #10173
Hello! If no one minds I would love to take a crack at this.

[2020-11-07 07:33] olemarkus commented on #10184
In short, we don't support this. We expect that the image used is reasonably up to date and just perform a normal unattended upgrade to update packages updated since the last ubuntu AMI release.

That being said, we don't necessarily have timely updates of the ubuntu AMIs. So if you see reboot required messages, then most likely we are missing an AMI update and would appreciate a PR to the channel

[2020-11-07 08:13] #10173 closed

[2020-11-07 09:24] ari-becker commented on #9713
/remove-lifecycle stale

[2020-11-07 21:55] next-luisalbertoleon commented on #10147
We've just had the same issue, we upgrade kops from 1.16.4 to 1.18.2, (1.17 in the middle)

[code]

The issue is that I added some params that affect master configuracion (etcd and kubeapiserver options) and when I do the rolling upgrade the problem is gone.

[code]

regards,

[2020-11-08 05:49] #10082 closed

[2020-11-08 05:49] #10104 closed

[2020-11-08 07:01] bharath-123 commented on #10057
In validate_cluster, In collect pod failures we already check whether kube-apiserver, kube-controller-manager and kube-scheduler are present in the cluster.
https://github.com/kubernetes/kops/blob/master/pkg/validation/validate_cluster.go#L235
I think we can remove component status and also check for health of the pods right here. Since ComponentStatus checked for the status of etcd(done thru kube

[2020-11-08 15:12] #9103 closed

[2020-11-08 21:45] azkore commented on #10136
Thank you @olemarkus, I just tested 1.18.2 and I can confirm that the kubelet `--cluster-dns` option is now set correctly  automatically

[2020-11-08 21:45] #10136 closed

[2020-11-08 21:46] azkore commented on #10137
Apparently this was fixed in  https://github.com/kubernetes/kops/pull/10059/files

[2020-11-08 21:46] #10137 closed

[2020-11-09 08:13] kciredor commented on #10174
Thanks, you are correct. Got a hint from my colleague which reminded me to create this issue. But I verified again by upgrading a cluster and it's the apiserver health check, not the apiserver itself being bumped to 1.18.2.

Closing this one!

[2020-11-09 08:13] #10174 closed

[2020-11-09 08:17] kciredor commented on #10173
Thanks @havulv!

[2020-11-09 08:39] djablonski-moia opened #10202 "Reduce boilerplate in AWS LaunchTemplate"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

In Kops 1.19.0-alpha.5, we can't start a new cluster anymore because of the size limitation of user data in AWS launch templates, which is 16k. We have approximately 3k of our own user data, and for the master nodes, deployment fails with

[code]

Looking into the Launch templates for the non-master instance groups, I se

[2020-11-09 08:40] fvasco commented on #10155
Hi, @hakman,
I suspect to be misunderstood.

We don't plan to install Cluster Autoscaler, nor kOps's documentation define it as a required component.

kOps uses "Amazon EC2 Auto Scaling" to keep EC2 instance up and running, I learn that Amazon Autoscaler is unable to understand if a master/node is working properly or not, this looks to me a bit strange.
That's all.

[2020-11-09 09:01] djablonski-moia commented on #10202
After removing most of our custom user data, I can confirm that Kops already uses up 15k of the user data on master nodes! 😳

[2020-11-09 09:05] olemarkus commented on #10155
If packages aren't installed, shouldn't kOps retry?

There are cases where nodeup will exit with failure and not retry. In these cases nodes will never join the cluster and have to be manually deleted (e.g using `kops delete instance` as of 1.19). AWS autoscaling will then reprovision the node.

[2020-11-09 09:17] olemarkus commented on #10202
The typical master user data should be around 12-13k. But since user data contains the cluster spec and the spec also contains additionalUserData, 3k will result in 6k added data.

3k of additional user data is quite sizeable though. Maybe some of this could be moved to a hook instead?

[2020-11-09 09:27] djablonski-moia commented on #10202
@olemarkus Sorry, I was talking about just the userData in the cluster spec, there is no duplication of our userData I can see (after reducing it significantly). But our list of `fileAssets` is also adding 1.5k.
I'll try to reduce our userData and fileAssets as much as possible by shifting stuff into the AMI, but I still think the Kops part should also be minimized.

[2020-11-09 10:04] hakman commented on #10155
AWS Autoscaler is a tool that keeps the number of instances at a given number and can have some scaling policies based in instance metrics. I don't think it has any simple way to know if kubelet is running on that node or not.

ClusterAutoscaler is an optional addon for kOps and hopefully will be enabled by default in kOps 1.20.
ClusterAutoscaler know both AWS instance and k8s node status and can

[2020-11-09 11:24] slashr opened #10203 "Unable to attach externalPolicy to InstanceGroup"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.18.2 (git-84495481e4)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
v1.18.6

**3. What cloud provider are you using?**
AWS

**4. What commands did you run

[2020-11-09 12:00] hakman commented on #10203
Hey @slashr, by any chance you are using this together with an existing IAM instance profile?
https://github.com/kubernetes/kops/blob/master/docs/iam_roles.md#use-existing-aws-instance-profiles

[2020-11-09 12:52] slashr commented on #10203
@hakman No, but I'm indeed using this together with additionalPolicies

https://github.com/kubernetes/kops/blob/master/docs/iam_roles.md#adding-external-policies

[2020-11-09 12:56] hakman commented on #10203
Could you add a minimal cluster spec to use for reproducing the issue? Thanks!

[2020-11-09 13:02] slashr commented on #10203
[code]

Am I right in assuming that the `spec.externalPolicies` should be the name of the InstanceGroup and not the name of the IAM Role? Either I tried using both and the result was the same.

[2020-11-09 14:37] azman0101 commented on #9741
Same with KOPS 1.18.2 and K8S 1.18.10

[2020-11-09 15:37] MeirP-3 commented on #10166
Do anyone knows somthing about this?

[2020-11-09 17:50] olemarkus commented on #9729
/close
/remove-lifecycle stale

[2020-11-09 17:50] #9729 closed

[2020-11-09 17:57] hakman commented on #10203
@slashr kOps has 3 types of instances: master, node and bastion. Both `externalPolicies` and `additionalPolicies ` use these as keys, not the IG name. Please try using `node` in this case and not `nodes`.

[2020-11-10 09:12] CheyiLin opened #10206 "nodeup error downloading assets from storage.googleapis.com when using official Ubuntu 20.04 AMI"
**1. What `kops` version are you running?**
`Version 1.18.2 (git-84495481e4)`

**2. What Kubernetes version are you running?**
[code]

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest way to reproduce this issue?**
`kops rolling-update cluster --name my-cluster-name --yes`

**5. What happened after the commands executed?**
The new node hasn't joi

[2020-11-10 10:08] CheyiLin opened #10207 "system-cluster-critical pod "calico-kube-controllers" is not yet ready over 10 minutes when performing rolling update"
**1. What `kops` version are you running?**
`Version 1.18.2 (git-84495481e4)`

**2. What Kubernetes version are you running?**
[code]

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest way to reproduce this issue?**
`kops rolling-update cluster --name my-cluster-name --yes`

**5. What happened after the commands executed?**
The cluster cannot pass

[2020-11-10 11:00] zetaab commented on #10207
for me it sometimes can take longer than 10 minutes, that is why I use 20minutes max time for waiting

[2020-11-10 11:15] CheyiLin commented on #10207
@zetaab Good to know that we're not alone. 😆
But if I manually delete the not-ready pod `calico-kube-controllers`, the new created pod will work normally and the cluster will pass the validation immediately.
In my opinion there should be something we can improve/fix to speed up the rolling update process.

[2020-11-10 13:15] hakman commented on #10207
@CheyiLin This is a Calico issue, unrelated to kOps. Please more about it in:
https://github.com/projectcalico/calico/issues/3751
https://github.com/projectcalico/libcalico-go/issues/1267
https://github.com/kubernetes/client-go/issues/374

[2020-11-10 13:41] antoinedeschenes commented on #9888
The kops cluster itself is running with it's own dedicated zone, however dns-controller autodiscovers all other route53 zones in the account including some zones which are registered both as private and public, which triggers the error message.

Now since dns-controller also supports the `dns.alpha.kubernetes.io/external` annotation on services and can watch ingresses, allowing the kops config to

[2020-11-10 15:30] CheyiLin commented on #10207
@hakman The issue projectcalico/calico#3751 is exactly what I reported here.
Thanks for the context and pointing this out!

[2020-11-10 15:30] #10207 closed

[2020-11-10 15:36] hakman commented on #10207
No problem. Keep an eye on those. I see there's some activity.

[2020-11-10 15:45] slashr commented on #10203
Thank you! That seems to have fixed the problem.

[2020-11-10 15:45] #10203 closed

[2020-11-10 15:59] hakman commented on #10203
👍

[2020-11-10 16:04] hakman commented on #10206
@CheyiLin just out of curiosity, what AWS region are you using?

[2020-11-10 16:19] CheyiLin commented on #10206
@hakman I'm using `us-west-2`.
Just tested with larger instance type `c5.large`, got the same result.

And I found PR #9136 [hard coded](https://github.com/kubernetes/kops/blob/v1.18.2/upup/pkg/fi/http.go#L82) the HTTP timeout:

[code]

So nodes will never get ready if `kubelet` cannot be downloaded in 2 minutes.

[2020-11-10 16:34] hakman commented on #10206
Hmm this is extremely slow. Will ask around if k8s has other faster mirrors.

[2020-11-10 16:56] CheyiLin commented on #10206
@hakman Thank you.

I just realized that why switching back to Debian Stretch AMI is working as expected.

The nodeup in Debian Stretch AMI downloads only few assets like `docker`, `cri-containerd`, `protokube` tarball and `protokube` images, not including big binaries like `kubelet` and `kubectl`. That's why it is faster than Ubuntu 20.04 AMI.

[2020-11-11 00:52] hakman commented on #10166
/cc @liranp

[2020-11-11 05:22] CheyiLin commented on #10206
**UPDATE**

The Debian Stretch I used `kope.io/k8s-1.17-debian-stretch-amd64-hvm-ebs-2020-07-20` removed [1] the prebaked `kubelet` and `kubectl`.

So it is weird that even the Debian Stretch AMI still need to download `kubelet` and `kubectl` from storage.googleapis.com, it is much faster [2] than Ubuntu 20.04 AMI which is also need to download them from the same place.

[1] kubernetes-sigs/image-

[2020-11-11 05:42] hakman commented on #10206
Can't say I can reproduce this even on a t3.small instance. Any special config on your side?
[code]

[2020-11-11 07:05] johngmyers commented on #10149
The CRD approach looks equivalent to a cert-manager `Issuer` type that issues from the cluster CA. I would not like us to invent a CRD that duplicates cert-manager's `Certificate`.

The mutating webhook abstracts away the implementation detail of the init container. The workload doesn't need to know (or update) the init container's version. The init container implementation could be replaced with

[2020-11-11 07:19] olemarkus commented on #10149
The CRD approach is analog to cert-manager, yes. We could very well be using cert-manager if we want to add that as an addon. We could then create an `Issuer` of type external that kops-operator is responsible for.

I was slightly reluctant to supporting cert-manager given its happiness fo breaking backwards-compatibility. But now that they have reached 1.0, I expect it to be more stable.

[2020-11-11 09:35] #10057 closed

[2020-11-11 16:23] #9307 closed

[2020-11-11 19:27] #9551 closed

[2020-11-12 04:15] rifelpet commented on #9756
This should be fixed in v1.19.0-beta.1 by migrating to an NLB. See https://github.com/kubernetes/kops/blob/master/permalinks/acm_nlb.md for more info.

/close

[2020-11-12 04:15] #9756 closed

[2020-11-12 05:46] hakman commented on #8954
kOps started using unmodified Ubuntu 20.04 images as default as of 1.18.
/close

[2020-11-12 05:46] #8954 closed

[2020-11-12 06:10] johngmyers commented on #10147
What does the dns-controller Deployment? Do you have some mutating admission controller that is adding a `nodeAffinity`?

[2020-11-12 07:03] djablonski-moia opened #10223 "Question: ClusterAutoscaler addon not installed, what is missing?"
kOps version: v1.19.0.-beta.1
K8s version: 1.18.9

I've added the cluster-autoscaler config to our cluster spec, as described in the [docs](https://kops.sigs.k8s.io/cluster_spec/#cluster-autoscaler), but when creating a new cluster or updating an existing cluster, nothing changes at all.

[code]

It seems I'm missing something, but I can't figure out what. Can you give me a hint? Thanks in advance

[2020-11-12 07:11] ttsrg opened #10224 "kops creates additional LB for bastion and bastion works behind this additional LB, why it was realized such?"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.18.2
or
1.19.0-beta.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Client Version: v1.19.3
Server Version: v1.18.10
or
Client Version: v1.19.3
Server Version: v1

[2020-11-12 08:02] hakman commented on #10223
I think the docs are wrong and should be just:
[code]
/cc @olemarkus

[2020-11-12 09:08] djablonski-moia commented on #10223
Thanks for the quick help, it fixed the problem 🥇

[2020-11-12 09:18] bharath-123 commented on #10127
Hi, I would like to pick this up.

[2020-11-12 09:18] bharath-123 commented on #10127
/assign bharath-123

[2020-11-12 09:32] hakman commented on #10127
@bharath-123 Thanks for taking this. At first glance, this would mean adding 2 new flags for Docker daemon:
[code]

Example of how to add these flags: https://github.com/kubernetes/kops/pull/7460/files.

[2020-11-12 09:33] hakman commented on #10223
np, reopening as a reminder to fix the docs.

[2020-11-12 10:29] hakman commented on #10224
Having a dedicated target group for bastion hosts may be an interesting solution now that we have NLB support.
/cc @rifelpet

[2020-11-12 10:42] hakman commented on #10017
Would you mind testing again with the 1.19.0-beta.1 release?

[2020-11-12 11:26] #10223 closed

[2020-11-12 17:52] yuha0 commented on #10206
I am facing the exact same issue and I am afraid it is not related to kops.

We are experiencing slow download speed in a private subnet when connecting to an Internet gateway. And the slowness is only observed when downloading from **Google hosted servers**:

- Downloading kubelet from storage.googleapis.com, container images from GCR, Google Chrome browser, even golang tarball from golang.org, a

[2020-11-12 18:33] hakman commented on #10206
Interesting @yuha0. Any idea if there in which Ubuntu AMI this was changed?
[code]

[2020-11-12 19:59] dragosrosculete commented on #6335
Is there any solution to this ?

[2020-11-12 20:10] bharath-123 commented on #10127
Thanks for the suggestions!

[2020-11-12 20:32] hongymagic commented on #10206
Last I heard was that this was _potentially_ introduced somewhere after kernel versions `4.19.86`.

While this behaviour still exists, and is at some random frequency (i.e., a lot of focal images worked okay, then after certain point all new instances using focal decided to exhibit this behaviour..), we don't have any conclusive evidence of what the exact cause is yet.

Even later builds of the bi

[2020-11-12 20:46] bmelbourne commented on #9862
@marianomirabelli @bertux
I believe this issue has been addressed in PR #9794 and will be released in Kops v1.19.

[2020-11-12 21:13] olemarkus commented on #6335
I don't think any of these addons are well maintained.
The metrics-server addon is also deprecated in kops 1.19 in favour of a maintained in-cluster addon.

[2020-11-13 08:57] bertux commented on #9862
thank you @bmelbourne for notifying me this PR which address this problem but I'm using AWS ACM for the SSL certificates of the LoadBalancers and it was written in the release notes of Kops 1.18 that I need to enable basic authentication for the API LoadBalancer which won't be possible anymore in Kops 1.19 so I will see after release date of Kops 1.19 what will be possible.

[2020-11-13 11:58] abuehaze commented on #10206
Hey,

This behavior has been introduced in kernel 4.19.86 because of  https://lore.kernel.org/patchwork/patch/1157936/.

Workarounds:
1-Decrease TCP  socket default rmem from 131072 to 87380 -----------------reliable
# sysctl -a | grep -i net.ipv4.tcp_rmem
net.ipv4.tcp_rmem = 4096        131072  6291456
# sysctl -w  net.ipv4.tcp_rmem="4096  131072 6291456"
net.ipv4.tcp_rmem = 4096  873806291456
#

[2020-11-13 13:12] marianomirabelli commented on #9862
Thanks @bmelbourne for notify me about this PR!

[2020-11-13 19:04] Slutzky commented on #8996
hi @edijsdrezovs

I have the same issue, question where should I add this `locals {
  availability_zones = [ join(",", [for az in data.aws_availability_zones.available.names : format("%q", az)]) ]
}`

?

I have template.yaml and output that I get with the following command:

`TF_OUTPUT=$(cd ../terraform && terraform output -json)
CLUSTER_NAME="$(echo ${TF_OUTPUT} | jq -r .cluster_name.value)"
kops

[2020-11-13 20:26] olemarkus commented on #8996
Without a reproducible example if the template, it is not much that we can do here.
That being said, we did recently bump helm and sprig deps, which are related to templating. Not very confident that will help though.

[2020-11-14 09:26] #9291 closed

[2020-11-14 15:51] rifelpet commented on #9586
With basic auth support being removed in Kubernetes 1.19, there would be no way for the cluster admin credentials generated by `kops export kubecfg` to work with a load balancer that only offers HTTP and HTTPS listeners. kops's admin credentials use client certificate authentication which requires a TCP listener, therefore I don't see ALB support as feasible.

Kops 1.19 will include NLB support so

[2020-11-14 15:51] #9586 closed

[2020-11-14 16:33] #9382 closed

[2020-11-14 16:40] bharath-123 commented on #10127
@hakman hmm add-runtime seems a bit tricky.
`dockerd --add-runtime runc=runc --add-runtime custom=/usr/local/bin/my-runc-replacement`

I initially thought this would be a map[string][string] but map[string][string] would parse as --add-runtime=runc=runc, custom=/usr/local/bin/my-runc-replacement according to https://github.com/kubernetes/kops/blob/master/pkg/flagbuilder/build_flags.go#L99

We coul

[2020-11-14 18:35] #9385 closed

[2020-11-14 20:01] bharath-123 commented on #9712
@hakman is this being actively worked on right now? Would love to pick this up if not. Have already submitted a few PRs to kops. I am sure I will be challenged here.

[2020-11-14 20:22] hakman commented on #9712
Why not, give it a try. If you see something out of place in the example PR, keep in mind that it was one of my first PRs here 😄 .

[2020-11-14 20:25] bharath-123 commented on #9712
yes! Will try this out! hahaha will let you know if I find anything in the example PR :D

[2020-11-14 20:35] #10127 closed

[2020-11-15 01:03] elifish4 commented on #2961
Having the same with kops v1.18.10
did you find the answer?

[2020-11-15 11:52] #9297 closed

[2020-11-15 16:57] #9353 closed

[2020-11-15 17:13] h3poteto commented on #6612
What do you think, everyone? Should it be controlled by kops?
If this is needed, I will take this issue. Probably I can implement it.

[2020-11-15 18:54] bharath-123 commented on #9970
@rifelpet Would love to work on this if @ivanlemeshev is not actively working on this issue. Getting into the kops codebase nowadays :)

[2020-11-15 23:13] rifelpet commented on #9970
@bharath-123 feel free to open a PR

[2020-11-15 23:35] #10183 closed

[2020-11-16 01:05] #8403 closed

[2020-11-16 05:42] johngmyers commented on #6612
Addition of new flags to componentconfig.go are low risk.

[2020-11-16 08:12] #8773 closed

[2020-11-16 14:35] YiannisH commented on #9728
As of today which 1.19 is in beta i only see the the root volume encryption can enabled but not with a custom kms key. Correct me if i am wrong.. see here the code https://github.com/kubernetes/kops/commit/36fbf9fc831ae6d078fada3cec44307512e70cf5#diff-a0bf037707fdd86cfc323f077cc9fff8c5b3bc7dbf6bfc23cfcb6ae572ce88f3

[2020-11-16 15:32] scDisorder commented on #9728
Nope, it is just a field now waiting for its realisation. I hope i'll commit it soon.

[2020-11-16 17:04] ryan-dyer-sp opened #10246 "New storageclass kops-ssd-1-17 not present on upgraded clusters"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.18.0 (git-698bf974d8)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.8", GitCommit:"9

[2020-11-16 20:00] johngmyers commented on #10246
What versions of kops has this cluster been on? It looks like it installed a version "1.15.1" of storage-aws, but I don't see that version in the handful of release branches I looked at.

[2020-11-16 20:26] ryan-dyer-sp commented on #10246
As our bucket is versioned I was able to find that back on Jan30`20 we ended up with the bootstrap which contains this version and ran with it until jul of this year.  Below is the file if it helps any
[code]

[2020-11-16 20:28] ryan-dyer-sp commented on #10246
Is there a way to remove the reference to 1.15.1 on the cluster?  I can't seem to find anywhere that this version is still referenced.

[2020-11-16 20:38] #7971 closed

[2020-11-17 03:16] #10246 closed

[2020-11-17 03:19] johngmyers commented on #10246
@ryan-dyer-sp there's an annotation on the kube-system Namespace. Remove the one for storage-aws and the addon will update.

[2020-11-17 05:00] xinau commented on #9127
/remove-lifecycle stale

[2020-11-17 10:10] DingGGu opened #10250 "Dockerhub rate limit caused Node NotReady"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
Since 11/16, 12:50pm Pacific,

Kops node cannot initialized due to [DockerHub Increase Rate limit](https://www.docker.com/increase-rate-limits)

[code]

Some required system containers use the docker.io registry. However, It cannot configure the registry itself.

Here is example of containers:
- CNI: `calico/node:v3.15.3`

[2020-11-17 16:17] jmcdonagh commented on #8723
This would be great

[2020-11-17 16:26] ryan-dyer-sp opened #10252 "Addition of etcd metrics does not trigger rolling update"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest wa

[2020-11-17 16:35] dvdmuckle commented on #10082
Howdy, very sorry for not getting back to this, was rather busy. This was fixed! Can confirm #10187 (or some commits around that time) fixed the issue!

[2020-11-17 17:41] johngmyers commented on #10250
You can configure a different registry through `spec.assets.containerRegistry` and copy images there through the assets phase.

[2020-11-17 19:52] kesor opened #10254 "nodeup for 1.18.2 is only mirrorred at GitHub releases"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`Version 1.18.2 (git-84495481e4)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
Amazon AWS

**4. What commands di

[2020-11-17 23:04] next-luisalbertoleon opened #10255 "Change to our containerRegistry failed master and nodes to download several images"
Hi there,

we are changing to our registry to avoid dockerhub limits on new nodes but I found this issue, maybe I'm doing something wrong:

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version s

[2020-11-18 07:24] #10139 closed

[2020-11-18 22:07] d-m commented on #10250
This type of thing (and the linked PR https://github.com/kubernetes/kops/pull/10204) would be helpful to us as well. We use the Weave network and the image is hardcoded there as well.

We looked at the `spec.assets.containerRegistry` and `spec.assets.containerProxy` however they seem to map all images to this one value, regardless of original repository. My org caches each repository (DockerHub, g

[2020-11-18 22:09] kuzaxak opened #10268 "Can't generate terraform when using externalLoadBalancers in two IGs"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.18

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest w

[2020-11-18 22:13] johngmyers commented on #10250
I haven't figured out the use case for `containerProxy`.

There is no support for sharding the `containerRegistry` like you ask and that does not strike me as being a widespread (or particularly useful) requirement.

Documentation for assets phase is indeed lacking.

[2020-11-18 22:21] hakman commented on #10268
/assign

[2020-11-18 22:29] d-m commented on #10148
@olemarkus My org proxies each approved Docker repository via Artifactory to different URLs (dockerhub -> dockerhub.my-internal-repo.local, k8s.gcr.io -> k8s-gcr-io.my-internal.repo.local, etc). I looked at using the `containerRegistry` but it seems to map all images, regardless of original repo, to the one `containerRegistry` value. Do you have any suggestions for how we would be able to proxy im

[2020-11-18 22:32] d-m commented on #10250
Well, I can't comment on whether or not the request is widespread but it would certainly be useful to my organization.

[2020-11-18 22:41] DingGGu commented on #10250
It is true from an operational perspactive that we want to reduce the number of points of management as much as possible.
From Kops 1.19 some components are moved to gcr, but etcd-manager and cni use dockerhub.

In this case, I will have to manage all the images that kops need for bootstrapping.

As mentioned above, the operator only wants to manage a few images, in order to reduce the management

[2020-11-18 23:46] johngmyers commented on #10250
I am unfortunately unable to deduce the utility of such sharding of the images. It strikes me as being an entirely cosmetic concern. Perhaps you could expound on the disadvantages of putting them in the same Artifactory repository?

[2020-11-19 00:54] d-m commented on #10250
The most immediate disadvantage is that Artifactory is managed by a separate team at my company and it's how they decided to do it. They are reluctant to put a bunch of remote repositories behind a single virtual repository due to the potential for naming collisions between the underlying remote repos.

[2020-11-19 01:10] johngmyers commented on #10250
When the assets phase copies the images into the `containerRegistry` it adjusts the image names to avoid naming collisions.

[2020-11-19 02:31] d-m commented on #10250
I'm thinking we may be talking about different things. My org blocks access to most of the Internet and requires us to go through Artifactory.  We have a one to one mapping for Docker repositories defined in Artifactory: we access DockerHub via dockerhub.my-internal-repo.local, k8s.gcr.io via k8s-gcr-io.my-internal-repo.local, etc. The description of  `spec.assets.containerProxy` says that "if, fo

[2020-11-19 08:16] olemarkus commented on #10148
At the moment there is no such feature. But https://github.com/kubernetes/kops/pull/10204#issuecomment-727754299 does suggest a feature that may be used to map arbitrary images to arbitrary repositories in the future.

[2020-11-19 11:20] ari-becker opened #10272 "Support AWS S3 Access Points for state buckets"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

AWS S3 has a feature called [Access Points](https://docs.aws.amazon.com/AmazonS3/latest/dev/access-points.html), which makes it easier to securely control access to state buckets. Instead of having EC2 instances access the state bucket (i.e. `s3://example-bucket-name`) directly, we'd like to be able to provide instance g

[2020-11-19 14:22] #9633 closed

[2020-11-19 16:40] h3poteto commented on #6612
OK, I will take this issue.
/assign

[2020-11-19 22:03] lboix commented on #8959
Thank you so much for your sharing @rifelpet , we were lucky to find this page!
Otherwise we were almost thinking about spinning a new cluster in emergency...

Instructions were clear and worked well, I will just add this extra we needed to do if that could help someone else:
- stop and start the master node instances was needed for us (after the docker restart of etcd-manager containers) otherwis

[2020-11-20 09:18] isaachui commented on #10250
I ran into this. Fairly frustrating, but thinking about what @DingGGu said about injecting credentials, I was able to work around this because I was able to `ssh` into each node. I was having issues with calico getting pulled down.
1. `kubectl get pods -n kube-system -o wide` to see which pod is failing and on which node
2. `kubectl describe pod calico-aaaaa -n kube-system` to find which image pul

[2020-11-20 09:25] DingGGu commented on #10250
Using [Kubelet docker credential](https://kubernetes.io/docs/concepts/containers/images/#configuring-nodes-to-authenticate-to-a-private-registry) with kOps [fileAssets](https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#fileassets) will helpful to automation.

[2020-11-20 11:50] #9432 closed

[2020-11-20 15:08] hakman opened #10279 "Clusters created with k8s v1.20 don't start"
e2e tests for k8s v1.20 fail to start:
https://testgrid.k8s.io/kops-versions#kops-aws-k8s-latest

Me and @rifelpet tracked this to https://github.com/kubernetes/kubernetes/pull/95896, which introduces some new mandatory flags:
[code]

/cc @justinsb @johngmyers @olemarkus

[2020-11-21 07:01] bharath-123 commented on #9970
@rifelpet I see that launch configurations are able to support only IMDSv2. I am able to create a launch configuration in aws manually with only IMDSv2 enabled. I do think Launch configurations support IMDSv2?

[2020-11-21 13:27] rifelpet commented on #9970
Ah, I did not know that. We are moving away from LaunchConfigurations though- 1.19 will default to LaunchTemplates and a few minor releases after that I expect us to drop support for LaunchConfigurations, so I think only implementing this for LTs would be fine.

[2020-11-21 20:21] #10268 closed

[2020-11-22 15:57] avdhoot commented on #10017
@hakman still same issue with `1.19.0-beta.2`

[2020-11-22 16:45] next-luisalbertoleon commented on #10250
You can configure docker login to dockerhub in all nodes with kops:

`kops create secret dockerconfig -f config.json`
config.json |
[code]
you can force the rolling update or wait new nodes are added with the new config:
`kops rolling-update cluster --instance-group nodes --yes --force`

Also we configured a mirror registry internal, that points to our Artifactory, following the docker recommendat

[2020-11-22 21:08] bmelbourne commented on #10254
@hakman
I believe the https://artifacts.k8s.io/binaries/kops/ URL is correct.
It seems that the Kops `v1.18.2` release binaries didn't get promoted and uploaded to Google storage Prod artifacts endpoint `gs://k8s-artifacts-prod/binaries/kops/`. They exist in Google storage Staging artifacts endpoint `gs://k8s-staging-kops/kops/releases/` though.

The following Google storage cURL command works fin

[2020-11-22 23:26] justinsb opened #10299 "bazel cache invalidation issue"
As addressed in #10267, switching architectures causes bazel to rebuild all artifacts.  This did not appear to be the case before #10240.  Opening this bug to document and try to report to bazel / find workarounds (though #10267 makes this much more tolerable).

[code]

[2020-11-22 23:33] justinsb commented on #10299
With `~/.bazelrc` containing `build --disk_cache=~/.bazel/cache`, the problem is avoided.

[code]

The crucial difference seems to be:

No disk_cache in .bazelrc
[code]

With disk_cache in .bazelrc
[code]

i.e. bazel now relies on the shared disk_cache when changing architectures, whereas I guess previously it didn't.

cc @hakman

[2020-11-23 02:41] hakman commented on #10254
Should be good now:
[code]

[2020-11-23 02:41] #10254 closed

[2020-11-23 03:16] rendhalver opened #10300 "control-plane node not labeled properly making kops-controller unschedulable"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.18.2 (git-84495481e4)
I also tried this with kops 1.16.4 with the same result.

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Client Version: version.Info{

[2020-11-23 05:07] hakman commented on #10017
@avdhoot what terraform version are you using?

[2020-11-23 11:41] andsens opened #10304 "Segmentation violation during rolling-update"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`Version 1.18.2 (git-84495481e4)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

AWS

**4. What commands did you

[2020-11-23 19:36] granular-ryanbonham commented on #9982
We also ran into this. Renaming the terraform resource would be less of a risk then trying to rename etcd members. I think the suggestion of "if the etcdmember name starts with a digit, prefix the terraform resource name with something like vol" is a good solution, and is inline with other 1.18 changes for terraform 12.

[2020-11-23 21:49] rendhalver commented on #10300
From the looks of it we are running into this feature which stops Kubelet from labelling itself as a control-plane node.
https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#noderestriction

I have gotten around this issue by manually labeling the control-plane node with the appropriate label that allows the kops-controller to be scheduled and it takes care of the rest of

[2020-11-23 23:37] rifelpet commented on #8264
/remove-lifecycle stale

[2020-11-24 01:51] rendhalver commented on #10300
We seem to have solved this.
We had a `hostnameOverride` that used the instance hostname which was being changed to match a naming we have been using. That seems to have been stopping the new bootstrap process from labelling the new control-plane node properly.
We removed that and the update worked as it was before.
I will close this now.

[2020-11-24 01:51] #10300 closed

[2020-11-24 07:30] hakman commented on #10255
Hey @next-luisalbertoleon. Please try replacing `containerRegistry` with `containerProxy`. Should be better.

[2020-11-24 09:36] #10255 closed

[2020-11-24 13:49] vinnie-kaboom opened #10313 "Undrain after Drain/Uncordon"
Is there some thing similar to an undrain in Kubernetes. In other words, after you go through the process of a drain and cordon of the node. Then after maintenance is done, uncordon and **drainback**, meaning all pods that were evicted from the node returns to the node where it was drained from; so the nodes drained won't remain empty.

[2020-11-24 18:54] schollii opened #10314 "Restore the advisory workaround in etcd-manager-certificate-expiration.md for cert renewal"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.13

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest way to re

[2020-11-24 19:03] FrederikNS commented on #9960
We could also really use this feature.

We run kops with flatcar linux, and have the flatcar-update-operator installed to restart the nodes when the update is ready.

This works well on on-demand nodes, but less well on spot-instances and auto-scaling nodes as they come and go. Therefore we would like to set the `flatcar-linux-update.v1.flatcar-linux.net/reboot-paused` annotation on spot and autos

[2020-11-24 20:42] olemarkus commented on #9960
Most likely this is something that kops-controller would be able to set. This is the component that is setting labels today.
It should not be too hard to implement, so if you want to do a PR, I would be happy to review.

[2020-11-25 00:43] johngmyers commented on #10313
In Kubernetes you can uncordon a node, but draining results in the pods being deleted. There's no concept of undeleting a pod.

In any case, this is not a kops issue.

[2020-11-25 16:14] microwaves opened #10317 "Feature for printing assets with json output option"
As discussed on Slack, I would like to request a feature for listing and printing assets required by Kops, similar to what's done executing `kops update cluster xyz.cluster.com --phase assets -v4`.

I believe this feature could be helpful for parsing and making sure those assets are available before creating/updating the cluster. As in private network setups, non-docker hub setups (Docker Hub rate

[2020-11-25 22:23] TheRealDwright commented on #372
/remove-lifecycle stale

[2020-11-26 13:33] superfly-git commented on #8996
Hey @olemarkus see below a snippet from the terraform output that based on what i have read above creates the problem.

Array of array is the issue i believe.

[code]

[2020-11-26 14:03] superfly-git commented on #8996
@knagu i guess you are trying to follow a tutorial like this https://medium.com/bench-engineering/deploying-kubernetes-clusters-with-kops-and-terraform-832b89250e8e

this is not an issue with KOPS but with how terraform generates the json output.

You need to change in your outpus.tf the following

[code]

[2020-11-26 15:45] #10313 closed

[2020-11-27 07:55] dene14 opened #10325 "[Question] Docker proxy fallback"
Is there a recommended way to use 2nd docker proxy as a fallback?

What I'm willing to do is to have NexusRM caching proxy clustered across multiple K8S clusters, each cluster should normally use cluster.local mirror, but in case it's down (or more likely not running yet) it use internet mirror (most likely another NexusRM in the ensemble but in another cluster).

I've seen #5475, but it wasn't me

[2020-11-27 18:41] #9464 closed

[2020-11-28 02:49] i5okie commented on #9741
Just wanted to share this here: https://github.com/kubernetes/kops/blob/master/permalinks/acm_nlb.md

[2020-11-28 08:01] sergey-safarov opened #10327 "CentOS 8: as base dist"
could you add CenOS8 support for AWS installation?
Base AMI now [available](https://aws.amazon.com/marketplace/pp/B08KYLN2CG?qid=1606550294161&sr=0-6&ref_=srh_res_product_title#pdp-pricing).

[2020-11-28 08:15] sergey-safarov commented on #10327
Also available images from CentOS
You can check the output of the command:
[code]

[2020-11-29 08:18] hakman commented on #10327
Very good news. Thanks @sergey-safarov!
/assign

[2020-11-29 11:30] WoodProgrammer opened #10329 "DNS Controller Remove InternalAPI"
Hi,

I have got a Kubernetes cluster deployed on 1.16.0 K8s version and components are routed to the internal load balancer. But when rolling-update command upgraded masters successfully, DNS-controller removes the internal-api load balancer record from Route53.
How can I fix this issue?

Kops manifest file:
[code]

Thanks

[2020-11-29 11:53] changsijay opened #10330 "k8s server endpoint in private network after deploying on aio openstack"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.19.0-beta.2 (git-c006d97e5596024f9b9a5681c97300165156319e)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

I cannot access by kubectl from host ma

[2020-11-30 02:14] sachincool opened #10331 "[Docs] Metric-server deployment"
**1. Add supporting docs for [metric-server](https://github.com/kubernetes-sigs/metrics-server) deployment in kops docs**
**2. [this comment](https://github.com/kubernetes-sigs/metrics-server/issues/212#issuecomment-459321884) Really helped me, I spent a long time searching why my kops nodes gave API-auth fails or even IP missing in SAN's of certificate**

[2020-11-30 06:11] olemarkus commented on #10331
As of kops 1.19 (currently in beta), metrics server can be installed as an addon by setting `spec.metricsServer.enabled: true`. The correct flags will then be passed on.

If you want to install through other means, the docs should be added there, I think.

[2020-11-30 06:40] #9470 closed

[2020-11-30 08:12] sachincool commented on #10331
@olemarkus Great to know! makes things easier. saw https://github.com/kubernetes/kops/pull/10022 Thanks for your hard work!  🔥 ⭐ 😄

[2020-11-30 08:12] #10331 closed

[2020-11-30 15:27] changsijay commented on #10330
not an issue, should create public one

[2020-11-30 15:27] #10330 closed

[2020-11-30 15:39] akloss-cibo commented on #7111
We've been limping along with a local build of kops that caches the result calling `findAllLaunchTemplatesVersions` in a local var.  This is almost certainly not an appropriate solution, but it lets us `kops update cluster` in minutes instead of hours.

[2020-11-30 16:22] olemarkus commented on #7111
@hakman did we resolve this one in 1.19?

[2020-11-30 16:40] hakman commented on #7111
@olemarkus I think so.

[2020-11-30 22:00] bwagner5 commented on #7119
I've chatted with @olemarkus on Slack about adding aws-node-termination-handler (NTH) as an add-on for kops.

NTH operates in two different modes: IMDS Processor (old-way) and Queue-Processor.  I think the queue-processor mode would be a good fit for kops since it's more resilient and can respond to more types of events  (spot ITNs, spot rebalance recommendations, ec2 instance status changes, ASG

[2020-11-30 22:06] paalkr commented on #7119
Sounds good. I have used CloudFormation to create the EventBridge rules and SQS queue right now, but integrating closer into Kops would be a nice addition.

[2020-11-30 22:08] paalkr commented on #7119
BTW, I ended up using the `kubernetes.io/cluster/<cluster-name>` as the `managedAsgTag`, as this label is already created and managed by Kops ;)

[2020-12-01 01:43] seh commented on #10168
@hakman, would you entertain a patch for this? I've reviewed the current code, and I don't think this looks like much of an intrusion.

We could introduce a field for Calico such as "backend," and use "bird" as the default value. We'd validate that a present value is either "bird" or "vxlan." Calico also accepts "none" as a value, but I'm not sure that we should try to allow using Calico in policy

[2020-12-01 04:53] white-hat commented on #6990
/reopen

[2020-12-01 05:01] white-hat commented on #6990
encountered the same issue when trying to enable "manager" provider with kops 1.17.2, k8s 1.12.7, etcd 3.2.24

etcd-manager is trying to launch version 3.1.11 of etcd and I could not find a way to override this behavior

[code]
and
[code]
and
[code]

Fortunately I did not recycle all the master nodes, so I was able to roll back the changes

Is there any chance this can be fixed?
Or at least are th

[2020-12-01 05:24] hakman commented on #10168
@seh That would be nice. I don't mind at all adding a new backend field, which should default to "bird" if not set.

[2020-12-01 08:32] olemarkus commented on #7119
So first step would be to add support for provisioning SQS + EventBridge rules. Then have cloudup provision those if NTH is enabled.

There is a number of changes to the template that is needed too. I think it is probably best to just have two separate templates and pick one based on which mode NTH is set to use. I would run the NTH deployment on masters and use the master IAM role for authenticat

[2020-12-01 10:12] paalkr commented on #7119
Also a AGS lifecycle hook need to be added to each ASG, so that nodes stays in the ASG until NTH has finished draining the node and can send a AGS lifecycle continue signal. And the behavior of NTH needs to be coordinated with kops rolling-update cluster commands. Which component is responsible for sending the AGS lifecycle continue signal during rolling update? NTH or Kops? Bot Kops and NTH will

[2020-12-01 13:06] olemarkus commented on #7119
I think kops should just let NTH do drain and terminate.

I can see a problem when using `--cloudonly` though. In this case, I think kops can just send the signal immediately.

But we can implement some of this also without the ASG lifecycle hooks, and adding things in increment may be a benefit here.

It looks like you both have a much better overview on how to approach this than I do. I can defi

[2020-12-01 14:59] lsc21 commented on #9854
/remove-lifecycle stale

[2020-12-01 17:28] olemarkus commented on #9854
kOps does not provide any specific hardening best practices. We now use the ubuntu AMIs and they are generally safe already. Additional hardening would typically be applied to the cluster itself. Things like PodSecurityPolicys, SecurityContexts etc.

[2020-12-01 18:04] bwagner5 commented on #7119
I can try to get something out. I'm not too familiar with the kops codebase, so I'll need some help as well. I'll be on vacation much of December, so probably can't do anything soon. But hopefully we can hammer out a plan and make sure this is going to work nicely.

How do the other cloud providers work for draining? I was going to say that if NTH is the termination handling component, then the ko

[2020-12-01 18:15] #9486 closed

[2020-12-01 19:00] olemarkus commented on #7119
Sounds good!

The code that drains a node can be found here: https://github.com/kubernetes/kops/blob/master/pkg/instancegroups/instancegroups.go#L328
This has access to the cluster spec, so you can skip call if NTH is enabled and jump straight to deleteNode. Our validation logic prevents NTH from being enabled on other clouds, so you don't have to worry about those.

One bit in the code linked abo

[2020-12-01 19:21] olemarkus commented on #8708
/remove-lifecycle stale

Anyone had any luck with this issue?

This is to some extent related to #7119

[2020-12-02 07:55] zetaab opened #10340 "dnscontroller ends to crashloopbackoff / crash"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.19 beta 2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.19.3

**3. What cloud provider are you using?**

openstack

**4. What commands did you run?  What is t

[2020-12-02 09:14] zetaab commented on #10340
/kind bug

[2020-12-02 09:34] djha736 commented on #2990
Hi Team,

Still i am getting certificate issue.

i am using Kops verion v1.19
terraform version v0.13.5

[2020-12-02 09:39] #10340 closed

[2020-12-02 09:45] djha736 opened #10343 "Kubernetes certification invalid - x509: certificate is valid for kubernetes, kubernetes.default"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.19.0-beta.2 (git-c006d97e5596024f9b9a5681c97300165156319e)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Client Version: version.Info{Major:"1", Minor:"

[2020-12-02 09:56] #6612 closed

[2020-12-02 10:32] paalkr commented on #8708
Currently we handled this using a custom systemd unit in the instance group. But the use case will not longer apply when we get this NTH implementation in place.

[2020-12-02 10:33] paalkr commented on #7119
Unfortunately I'm not a developer, but I can contribute with testing and discussing design and implementation specs in general.

[2020-12-02 16:23] MichaelJDrK opened #10349 "Support new gp3 ebs volume type on AWS"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

AWS launched a new ebs volume type "gp3": https://aws.amazon.com/blogs/aws/new-amazon-ebs-gp3-volume-lets-you-provision-performance-separate-from-capacity-and-offers-20-lower-price/

When adding a "rootVolumeType: gp3" to the InstanceGroup, "kops update" fails:

W1202 17:17:08.384141   45347 executor.go:128] error runnin

[2020-12-02 16:58] valouille opened #10350 "Optimized AMIs for Ubuntu 20.04"
Hello Kops team,

Starting Kops 1.18, [Ubuntu 20.04 official images](https://github.com/kubernetes/kops/blob/master/docs/operations/images.md#images) are used instead of Debian optimized images. Using Ubuntu 20.04 is a great change as it comes with a recent kernel fixing some issues like CPU throttling related issues.

However, as they're official images, they tend to take much more time to startu

[2020-12-02 17:19] olemarkus commented on #10350
The gist of it is that we don't have enough manpower to build our own images anymore.
It is something we may revisit later on if anyone is willing to set this up.

[2020-12-02 17:20] olemarkus commented on #10349
#10345 already takes care of adding gp3 to supported types.

gp3 may indeed become default in kops 1.20.

[2020-12-02 18:20] wknapik commented on #2428
/remove-lifecycle rotten

[2020-12-02 19:25] AngerM-DD opened #10356 "Docker should not be the default runtime"
With k8s 1.20 Docker support as the CRI is being deprecated. The default should probably be changed to containerd and a warning placed for users creating clusters with docker that it will not be supported in the future.

see: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md#deprecation

[2020-12-02 20:03] hakman commented on #10356
Thanks for the news. We will discuss how to notify the users and switch to containerd by default in the near future.

[2020-12-02 20:11] hakman commented on #10350
Could you check if by any chance you bumped into this?
https://github.com/kubernetes/kops/issues/10206#issuecomment-726237618

[2020-12-02 21:56] ReillyTevera commented on #10350
We're building and using custom Debian 10 images with a 5.4 kernel and everything pre-installed and it works well. I haven't timed it but I believe it's around 45s until a new node is fully functioning.

We use Packer to build the images.

[2020-12-03 08:01] kesor commented on #9852
I believe this was fixed for us by #9867

[2020-12-03 08:01] #9852 closed

[2020-12-03 08:04] white-hat commented on #6990
Answering my own question:
once you upgrade all master nodes simultaneously, all you need to do is:
1.  ssh to each master node
2. cd to 2 mounted etcd volumes (one for main, another for events) `cd /mnt/master-vol-02e4f7fb71a78b634/`
3. delete a state file which has a wrong etcd version in it and some "trash" directory `rm -rf state data-trashcan`
4. reboot the node `reboot`

[2020-12-03 10:41] MichaelJDrK commented on #10350
Have you tried using just the Ubuntu minimal images instead of the default server images?

[2020-12-03 10:41] MichaelJDrK commented on #10349
Oh nice, thanks!

[2020-12-03 10:41] #10349 closed

[2020-12-03 11:14] hakman commented on #10350
How would that change anything, except maybe make things slower?

[2020-12-03 13:18] jtbonhomme opened #10360 "Panic: Terraform resource names cannot start with a digit."
**1. What `kops` version are you running?
`Version 1.18.2`

**2. What Kubernetes version are you running? `

`Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T12:50:19Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Mino

[2020-12-03 13:19] jtbonhomme commented on #10360
Duplicate of #9982, feel free to close

[2020-12-03 13:24] jtbonhomme commented on #9982
Is there a way to bypass this issue if I create a new cluster ?

[2020-12-03 13:58] #9506 closed

[2020-12-03 13:59] nfillot commented on #9982
@jtbonhomme if you're specifying etcd members with a letter (or prefix) in a brand new cluster, it will work

Like this :
[code]

[2020-12-03 14:12] #10360 closed

[2020-12-03 14:13] hakman commented on #9982
@jtbonhomme do you modify in any way the cluster config after creating it?

[2020-12-03 16:50] jtbonhomme commented on #9982
@hakman no, I don't
@nfillot I am not sure to your point, I tried to export a cluster in yaml format (`kops get --name sn-dev.k8s.local -o yaml > cluster.yaml`), then I changed etcdmembers name to prefix them with a letter (the letter of the AZ), but how to i generate a terraform manifest from a cluster description file ?

[2020-12-03 16:53] jtbonhomme commented on #9982
@nfillot I tried to create a brand new cluster with a new name, then update it with `--target terraform` flag.
I think it will make it ...

[2020-12-03 18:33] hakman commented on #9982
Thanks @jtbonhomme. I think I found the issue and should be fixed in the next 1.18 release.
This will work only if you are creating the cluster in multiple AZs, in case it helps.

[2020-12-03 21:35] valouille commented on #10350
@hakman I'll do some tests in the upcoming days to ascertain this.

@ReillyTevera Do you happen to have published your Packer files on GitHub somewhere so that we can eventually reuse some part for Ubuntu 20.04 ?

[2020-12-03 21:55] ReillyTevera commented on #10350
@valouille Unfortunately our Packer build scripts do a lot of company-specific things like security hardening and setting up users and are generally unsuitable for being posted on GitHub.

For the most part though SSH into a running kops node and look at `/var/log/apt/history.log` (might be different on Ubuntu) to see what nodeup installs. Have your Packer script install those packages during the

[2020-12-04 07:43] johngmyers commented on #7119
Since draining is idempotent, it is not necessary to disable the drain code in rolling update. It is advantageous to do the bulk of the draining from rolling update as that makes what is going on more visible in the rolling update logs.

[2020-12-04 08:15] olemarkus commented on #10329
Does this happen on consecutive rolls?

It is natural this happens on the first roll after making the change as kube-apiserver pods still have the DNS annotation. To prevent this from happening during the first roll, you can scale the dns-controller to 0. But remember to scale it back up before rolling any nodes.

[2020-12-04 09:14] kmichailg commented on #2990
/reopen /remove-lifecycle rotten

Currently experiencing this
`kops` -> `Version 1.18.2 (git-84495481e4)`
`terraform` -> `v0.13.5`

Will try using `terraform:0.14.0`

[2020-12-04 09:42] kmichailg commented on #2990
Tried `terraform:0.14.0`

Still capturing the `.k8s.local` instead of the correct ELB address.

/reopen

[2020-12-04 09:53] olemarkus commented on #2990
/reopen

[2020-12-04 13:34] alefray opened #10362 "Cannot attach additionalPolicies to IAM role shared between instances groups"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`Version 1.18.2 (git-84495481e4)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

AWS

**4. What commands did you

[2020-12-04 14:20] hakman commented on #10362
You cannot combine custom instance profiles with additionalPolicies. kOps cannot modify the custom instance profile, as it may be used in multiple clusters. You should use either one or the other. Any thoughts?

[2020-12-04 14:44] jtbonhomme commented on #9982
OK @hakman congrats for your investigations and for having found the root cause.
Thank you for your help !

[2020-12-04 14:50] alefray commented on #10362
Thanks for your quick reply.

Defining additionalPolicies with a custom instance profile currently works: policy is added as inline.

To do so, I have to specify `--lifecycle-overrides IAMRole=ExistsAndWarnIfChanges,IAMInstanceProfileRole=ExistsAndWarnIfChanges` to reuse an existing role/instance profile but do not override the `IAMRolePolicy` stage.

Example with single instance group / custom ro

[2020-12-04 14:58] alefray commented on #10362
In our case, we made a small refactoring to set the policy out of kops spec, so it is not a critical issue.
Maybe adding some details in the documentation would be perfectly fine.

[2020-12-04 16:09] hakman commented on #10362
Thanks @alefray. Have to think a bit more about this.

[2020-12-04 16:23] hakman opened #10363 "Bump Calico to v3.17.1 for kOps v1.19"
Calico v3.17.0 and previous has some issues with disabling the AWS source/destination checks which is a major issue and should be fixed in the next release.

[2020-12-04 19:34] hakman commented on #9763
/remove-lifecycle stale

[2020-12-05 00:50] seh commented on #10168
I implemented most of this, but got stuck on how to handle the existing [`CalicoNetworkingSpec.IPIPMode` field](https://github.com/kubernetes/kops/blob/84495481e4e1f8adb7774c3101ee5a5740479518/pkg/apis/kops/networking.go#L127-L128).

If someone sets the new `CalicoNetworkingSpec.Backend` field to "vxlan," then they can't use IP-in-IP encapsulation, so setting a value for `IPIPMode` to anything but

[2020-12-05 06:45] kkreso commented on #3182
Expanding on @tomekit script - if there's only 1 EIP available in the pool it won't get associated to a new instance during rolling-update (since a previous instance is not yet terminated and holds association), so here's a initContainer version (in combo with podAffinity which is not included here):

[code]
In case EIP is already associated with given instance - it does nothing (except echoing In

[2020-12-05 12:43] #8382 closed

[2020-12-05 16:47] #9523 closed

[2020-12-05 20:09] bharath-123 opened #10372 "Use systemd as the cgroup driver for kubelet and CRI"
Currently in kops, kubelet and the container runtimes use cgroupfs driver as the cgroup-manager. Kubernetes recommends using systemd as the default cgroup-manager for kubelet and the container runtimes. Some projects like kubeadm and minikube have moved to set systemd as the default cgroup-driver.

https://kubernetes.io/docs/setup/production-environment/container-runtimes/

https://github.com/kube

[2020-12-05 20:33] johngmyers commented on #10279
kube-apiserver is crashlooping. The log is not terribly informative:

https://storage.googleapis.com/kubernetes-jenkins/logs/e2e-kops-aws-k8s-latest/1334602405844619264/artifacts/46.51.235.194/kube-apiserver.log

/reopen

[2020-12-05 20:35] johngmyers commented on #10279
Oh, it hasn't run since the merge.

[2020-12-05 20:36] johngmyers commented on #10279
The testgrid summary says it's passing, but the details don't show the new runs.
/close

[2020-12-05 20:37] #10279 closed

[2020-12-06 12:55] #3182 closed

[2020-12-06 20:42] bharath-123 commented on #10372
/assign @bharath-123

[2020-12-06 22:05] bharath-123 commented on #10372
Was having a discussion with @bmelbourne on this referring to PR [9879](https://github.com/kubernetes/kops/pull/9879). It seems like there was a consensus that moving to systemd cgroup driver would be a big breaking change for users.

I do agree that this can be a breaking change. Defaulting to systemd for kubelet and container runtimes is pretty straightforward, we only have to set a couple of de

[2020-12-07 06:24] #9489 closed

[2020-12-07 07:57] olemarkus commented on #10372
One can already set systemd as driver for kubelet, right? So what is missing is setting the appropriate driver for containerd.
For me that sounds straightforward enough.

I am not sure what the breaking change would be. From what I can tell, there are mostly benefits from this change.

Compared to the change done for docker, I would really like to see some validation logic ensuring that the contai

[2020-12-07 08:28] hakman commented on #10372
I would like to not have so much logic for a setting that most people won't notice or change. Defaulting to this for 1.20+ should be ok. Validating the kubelet and container runtime match seems overkill to me. Documentation should be good enough.
Don't remember the discussion about the breaking changes, but may be related to old Debian image.

[2020-12-07 09:37] hakman commented on #10372
Had a more detailed discussion with @olemarkus and agreed on to do here:
1. doc explaining how to set the cgroup driver and that needs to be done in both k8s and cri
2. doc note for contained configOverride that using it has to be done with care, as the default config may change between releases and can lead to incompatibilities
3. print a warning when configOverride is used that the cluster is us

[2020-12-07 13:25] bharath-123 commented on #10372
alright got these points. Will raise a PR with code keeping all of these in mind. Thanks!

[2020-12-07 13:26] hakman commented on #10372
Thanks also for doing this.

[2020-12-08 03:47] rifelpet opened #10382 "Service Account IAM Role names are too long"
The service account IAM roles created by the PublicJWKS feature flag can exceed the IAM role name length limit. See the failing job logs [here](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/e2e-kops-grid-scenario-public-jwks/1335447225534255104).

`W1206 04:58:15.902425    1067 executor.go:131] error running task "IAMRole/dns-controller.kube-system.sa.e2e-kops-scenario-public-jwks.test-cncf-

[2020-12-08 05:28] andytsnowden commented on #9741
Having this issue as well, I've added the "disableBasicAuth: false" but this just results in the new nodes never joining the existing cluster.  Even if I force two of them to reload they also don't form a cluster.

Hopefully, this is addressed for 1.19 and we can just skip right to it.  If not I'm afraid I'll have to blow out and recreate the cluster which is a pain.

[2020-12-08 05:45] #9728 closed

[2020-12-08 06:55] #9970 closed

[2020-12-08 09:21] timoreimann opened #10386 "Set up end-to-end testing for DigitalOcean"
In #10312 we discussed that it'd be great to have some end-to-end test coverage validating proper functioning of the DigitalOcean support in kops. This ticket is to track work needed to build initial DO testing.

TODOs:

- [ ] Set up a sponsored DO account that kops can use for testing purposes (owner: myself and @rifelpet who [offered assistance](https://github.com/kubernetes/kops/pull/10312#pull

[2020-12-08 09:32] timoreimann commented on #10386
@rifelpet being able to share the DO account that was set up for Cluster API DigitalOcean ([CAPDO](https://github.com/kubernetes-sigs/cluster-api-provider-digitalocean)) some time ago would be ideal from my perspective.

One thing we should look into then is whether we limits / quotas set on that account are still set up appropriately if we also start having kops use DigitalOcean cloud resources r

[2020-12-08 10:26] marcinwfilewave opened #10388 "protokube container started receiving Docker kill events with signal 23 after Flatcar upgrade to 2605.9.0"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.18.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest wa

[2020-12-08 11:57] wknapik commented on #8911
/remove-lifecycle stale

[2020-12-08 14:05] hakman commented on #9550
This is done. All binaries are released.
/close

[2020-12-08 14:06] #9550 closed

[2020-12-08 14:36] rifelpet commented on #10386
I think starting with a basic test that runs weekly would be sufficient. When doing the initial development of the e2e job we can have it run more often to reduce the feedback loop but once its in good shape we can back it off to weekly. The AWS jobs take about 40 minutes to run so we can probably expect timing to be similar depending on provisioning and teardown time in DO.

Regarding resource us

[2020-12-08 15:26] rifelpet commented on #5762
Kops 1.19.0-beta.2 added support for using an NLB as the API load balancer. There is more information in the [release notes](https://github.com/kubernetes/kops/releases/tag/v1.19.0-beta.2) and [docs](https://kops.sigs.k8s.io/cluster_spec/#load-balancer-class), and a few bug fixes that will be in future 1.19 releases including cleaning up the old LB during a migration on an existing cluster, but pl

[2020-12-08 15:26] #5762 closed

[2020-12-08 16:57] lboix commented on #7825
Exactly simply adding, in my `~/.kube/config file`, a new context with the exact same name as my cluster make my command `kops validate cluster --state=s3://BUCKET-NAME` pass.

Thank you @olemarkus @austinorth !

[2020-12-09 01:10] prudhvigodithi opened #10391 "target groups from externalLoadBalancers are not removed from the ASG."
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

**3. What cloud provider are you using?**

**4. What commands did you run?  What is the simplest way to reproduce thi

[2020-12-09 04:09] hakman commented on #10391
Thanks for reporting this. It is already fixed in kOps 1.19.
/close

[2020-12-09 04:09] #10391 closed

[2020-12-09 08:10] #10327 closed

[2020-12-09 12:33] hakman opened #10392 "etcd-manager broken for ARM64"
xRef: https://github.com/kopeio/etcd-manager/pull/379

[2020-12-09 13:06] prudhvigodithi commented on #10391
Thanks @hakman, I'm using kops 1.16.4 will upgrade to 1.19.

[2020-12-09 13:54] seh opened #10393 "AWS launch template metadata options lacking "http_endpoint" attribute fails with Terraform"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.19.0-beta.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.19.4
[code]

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What i

[2020-12-09 13:55] bharath-12345 commented on #10393
thanks for filing this. will get on to it to fix this.

[2020-12-09 14:35] jsonmp-k8 commented on #10043
I get this error while trying to do a rolling-update

[code]

[2020-12-09 17:33] hakman commented on #10392
Fixed by https://github.com/kubernetes/kops/pull/10394.

[2020-12-09 17:33] #10392 closed

[2020-12-09 21:16] jsonmp-k8 opened #10400 "Need a timeout option for kops rolling-update"
Currently kops rolling-update does not have an option to pass a time-out to specify how long the rolling update should wait for the pods on the nodes to be evicted. Sometimes when a node has an invalid or a strict PDB, the rolling update loops on the node for ever. This impedes/slows down the ability to do a rolling-update on large clusters with strict PDB's  set.

For example:We have tenants that

[2020-12-09 21:18] #10393 closed

[2020-12-10 08:01] #9914 closed

[2020-12-10 10:14] hakman commented on #10388
I think SIGURG comes from the changes introduced in Go 1.14. More discussions here: https://github.com/golang/go/issues/37942.

The new version of Docker bundled with Flatcar comes with containerd 1.3.x (new addition). Probably related to it. Not sure what kOps can do about it.

[2020-12-10 13:25] marga-kinvolk commented on #10388
Actually the latest Flatcar version comes with containerd 1.4.3. Also, this version was compiled with Go 1.15 (all golang packages, not just containerd) whereas the previous version was compiled with Go 1.13.

From my understanding of the Go changes, this signal 23 is just expected behavior. It's not actually _killing_ the process, just sending a SIGURG.

[2020-12-10 13:35] hakman commented on #10388
Not sure if containerd 1.4.3 is used for Docker or there is another one specially for it. Would be a bit scary to do bundle some 1.4.3 for docker when the official release uses 1.3.x.

One more thing, kOps switch to the latest stable images for testing with Flatcar and looks like all tests are passing:
https://testgrid.k8s.io/kops-distros#kops-aws-distro-flatcar

[2020-12-10 14:42] #9436 closed

[2020-12-10 15:04] joulaud opened #10403 "impossible to use Cilium > 1.7.7 with kops 1.18"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.18.1 (git-453d7d96be)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.8", GitCommit:"9

[2020-12-10 15:28] hakman commented on #10403
/cc @olemarkus

[2020-12-10 17:35] marcinwfilewave commented on #10388
Combining all the information you linked to, together with information from [here](https://groups.google.com/g/flatcar-linux-user/c/B4sDIimBidQ/m/rJ31uDoICQAJ) it seems like there is nothing wrong with kOps here, neither with Flatcar. Thank you.

[2020-12-10 19:44] seh commented on #10168
See #10404 for my implementation of this idea.

[2020-12-10 22:50] #9251 closed

[2020-12-11 11:58] #10403 closed

[2020-12-11 14:01] kesslerdev commented on #9933
Same read/write regression with 1.19.0-beta.2:

[code]
with 1.18.2:
[code]

[2020-12-11 16:48] hakman commented on #10372
@bmelbourne from what I know, kOps just replaces each node, so should not matter much. There won's be any mismatch between kubelet and runtime on any one the nodes, even if some will use cgroupfs or and others systemd.

[2020-12-11 17:00] bmelbourne commented on #10372
That's good to know. I'll be happy to test whatever the final solution might be once the PR has been raised.

[2020-12-11 17:07] #10363 closed

[2020-12-11 17:20] hakman commented on #10372
And I will be happy to review it 😁

[2020-12-11 17:50] kenji-cloudnatix opened #10412 "Remaining work for Azure support"
This issues track the remaining TODOs from https://github.com/kubernetes/kops/issues/3957 (Azure support)

- [ ] Be able to configure some more parameters for VM Scale Set such as Windows
- [ ] Be able to configure some more parameters for Azure Disks such as zone
- [ ] Be able to configure some more parameters for subnets such as security groups
- [ ] Support DNS
- [ ] Support tag update of virtu

[2020-12-11 21:16] bharath-123 commented on #10372
Working on it. Ran into a bunch of issues with nodeup and containerd configs. mostly resolved now :)

[2020-12-12 18:32] #9577 closed

[2020-12-14 07:36] karancode commented on #9913
I am facing this same issue with below versions:
[code]

Using provider version `v2.51.0` solves the issue.
Is it fixed in later version of kops ?

[2020-12-14 07:36] karancode commented on #9891
I am facing this same issue with below versions:
[code]

Using provider version `v2.51.0` solves the issue.
Is it fixed in later version of kops ?

[2020-12-14 10:57] Cplo commented on #7385
link can't open

[2020-12-14 11:18] abuehaze commented on #10206
For awareness this  is a kernel Bug, I have submitted patch [1] upstream to get this fixed and [2] should be in the stable queue at the moment.

You can also apply the below workaround until we have the fix merged:
$echo "net.ipv4.tcp_rmem=4096 196608 6291456" >> /etc/sysctl.conf
$sysctl -p

Links:

[1] https://lore.kernel.org/netdev/20201204180622.14285-1-abuehaze@amazon.com/
[2] https://lore.ker

[2020-12-14 11:57] hakman commented on #10206
Very nice. Thanks a lot for the fix and for the explanations @abuehaze. Probably this should be picker up by Ubuntu pretty soon.

[2020-12-14 16:08] jetersen commented on #2214
@starkers I would be interested in a script.

[2020-12-14 16:41] valouille commented on #10350
@hakman, it seems I bumped into the issue you mentioned indeed. Right now every startup is quite quick, using kubernetes-optimized Debian AMIs or Ubuntu Server ones.

I tried to create a custom Ubuntu AMI based on [this configuration file](https://github.com/kubernetes-sigs/image-builder/blob/54c102628f5dc59c730bcf665cc32b6bcbd1e472/images/kube-deploy/imagebuilder/templates/1.18-stretch.yml), and

[2020-12-14 17:11] hakman commented on #10350
That's good news @valouille. Thanks for the update. Based on https://github.com/kubernetes/kops/issues/10206#issuecomment-744372627 seems that the fix will be part of the official ubuntu images soon.
The rollout is a bit slower without optimized images, but using https://kops.sigs.k8s.io/operations/rolling-update/#maxsurge should help.

[2020-12-14 18:02] rodalli commented on #2214
I think the approach would definitely fit our use case... I'm assuming something like this would also allow more route tables to be created by `kops` within the same zone? Versus complaining if a user tries to create two different route tables in the same zone. Example:

[code]

If yes, then a more appropriate name for `routeTable` might be `routeTableZone`, or make `routeTable a header for `cidr`

[2020-12-14 18:17] olemarkus commented on #2214
kOps creates one route table for public subnets, and one table per private subnets. `routeTable` in the example above will only reference the name of the table that kOps create, not create arbitrary new ones. For those who let kOps provision networking, that should be fine.

Those who need more advanced setups should rather pre-create the networks using more suitable tools and reference them as ex

[2020-12-14 20:55] trondhindenes commented on #7385
Probably because I moved the blog. Correct url is:
https://hindenes.com/2019-08-09-kops-restore

[2020-12-14 20:57] prudhvigodithi opened #10422 "Kops /etc/hosts file shows deleted clusters information under "# Begin host entries managed by kops - do not edit"."
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.16.4

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
v1.16.10

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest

[2020-12-14 21:10] cdemers commented on #10388
Anyone found anything else regarding this issue?  We have same setup and same failures described here, except we use weave instead of cilium, but same result, a couple pre-production clusters went down at the same time.

[2020-12-15 04:41] igoratencompass commented on #10147
Same just happened to me in a k8s cluster v1.18.12 I just created with kOps v1.18.2

[code]

As you can see the `dns-controller` pod is already running on the node where the rest of them are in `NodeAffinity` state. The node is a master node:

[code]

[2020-12-15 04:51] #10017 closed

[2020-12-15 05:30] #8775 closed

[2020-12-15 11:58] marga-kinvolk commented on #10388
@cdemers, the issue described here is not causing clusters to go down. There are events showing that the containers received the SIGURG signal, but that shouldn't bring them down or anything (despite the use of the word "kill", not all signals kill processes) and the logging is just noise.

If your clusters are going down, then it's due to a different issue. Please open a separate issue in the cor

[2020-12-15 13:47] zetaab commented on #10422
I think this isolation was fixed already, could you try newer kops version.

[2020-12-15 16:48] supersaeyan commented on #10147
Hi @next-luisalbertoleon, could you please mention the exact params you added that fixed the problem?

[2020-12-15 17:29] next-luisalbertoleon commented on #10147
Hi there!

I think the problem was because we have an ig node with taints and nodelabels:

[code]

then the dns-controller was not able to start, maybe your scenario is the same.

The issue went away when I made another change in the cluster, all nodes were upgraded and running in the cluster.
I added memory and cpu request for etcd main and event, and modify kubeapiserver maxRequestsInflight para

[2020-12-15 18:32] #6500 closed

[2020-12-15 18:34] azman0101 commented on #10147
@next-luisalbertoleon

The original issue with kops 1.19.0-alpha.5 was triggered without any tainted node.

[2020-12-15 18:40] next-luisalbertoleon commented on #10147
I was reviewing your quote when I replied that your cluster didn't have tainted nodes, then I don't know but our cluster is working since then without problems.

[2020-12-15 21:53] #9706 closed

[2020-12-16 03:58] igoratencompass commented on #10147
This happens on a vanilla kOps install without any customization. The `dns-controller` deployment shows `replicas: 1` and toleration to run on a master. The fact that multiple pods get launched on the same master during initial cluster bootstrapping points to an issue with the controller code or maybe some race condition like deployment while the master is not fully ready.

[2020-12-16 12:17] hakman commented on #9705
At the moment, all AMI updates are done at the same time with the patch releases for k8s and use images that are also available for AWS GovCloud and AWS China. Thanks @MoShitrit for taking care of this chore.
@rifelpet is this an acceptable solution to this issue?