[2018-03-23 21:02] valdisrigdon opened #4767 "kops tries to delete route tables and nat gateways when subnets are shared"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

`1.9.0.alpha2`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes v

[2018-03-23 21:04] valdisrigdon commented on #4767
This maybe related to https://github.com/kubernetes/kops/issues/4614, but I thought I'd open this incase it isn't related.

I can help contribute a fix if pointed in the right direction.

[2018-03-23 21:43] chrislovecnm commented on #4767
Components need to be tagged shared label. When kops first ran did it try to tag the resources?

[2018-03-23 21:44] chrislovecnm commented on #4767
There has been internal discussion if kops should or should not delete resources that are not tagged.

@justinsb can you comment.

[2018-03-23 21:47] valdisrigdon commented on #4767
When kops first ran, it did not tag the existing route tables, subnets, or nat gateways.

[2018-03-23 22:45] musunuru opened #4768 "Kops failng when custom domain name is used in DHCP instead of ec2.internal which is default in aws"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
Version 1.8.0 (git-5099bc5)
2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the K

[2018-03-24 01:18] #618 closed

[2018-03-24 05:27] ihac commented on #4728
Hi, @mludvig, I've been developing kops for a while, and as far as I know, kops already allows us to use existing key pair with option `---ssh-public-key <public_key_file>`. By default, kops uses `~/.ssh/id_rsa.pub` as the default key and publishes it to your instances automatically.

I'm not sure if I've made it clear, or maybe you could provide more details about in which situations kops won't w

[2018-03-24 05:53] mludvig commented on #4728
Hi @ihac, with `--ssh-public-key` kops creates a new EC2 keypair in AWS. Even if it takes your existing locally created key and uploads to AWS it's still a "new" key in AWS.
Our organisation rules don't allow that, we've got a pre-created "official" EC2 keypair in each AWS account, named e.g. _aws-sandpit_, and we are supposed to use that for all EC2 instances that we create.
Hence I need a switch

[2018-03-24 06:48] mludvig commented on #4728
Hi again @ihac
I tried to do it myself a few days ago but as I don't know neither Go nor Kops internal I didn't get very far. Here's my attempt to date, hope you can take it from there :)
[ssh-key-name-attempt.diff.txt](https://github.com/kubernetes/kops/files/1844107/ssh-key-name-attempt.diff.txt)

[2018-03-24 14:18] lawrencedudley commented on #4032
This would be amazing

[2018-03-24 17:39] ihac commented on #4728
Seems that you wanna use the ssh key pre-created on AWS, rather than those on your local computer, is that right?

For what I know, kops currently does not support users to set the `SSHKeyName` field in cluster spec, and it would upload the local ssh key to aws and name it with `kubernetes.<cluster_name>-<publickey_fingerprint>`. This might be the "new" key you mentioned?

Back to your problem, I

[2018-03-24 20:44] #4761 closed

[2018-03-24 21:10] justinsb commented on #4767
Thanks for reporting @valdisrigdon and sorry for the problem.

You're absolutely correct - if kops does not create the object, it should not delete it!  It does get a little trickier for EIPs because it used to be the case that they could not be tagged, so I'm really looking at route tables.

Was your route-table was actually deleted?  Because kops shouldn't do that if the attached subnets are not

[2018-03-24 23:51] chrislovecnm commented on #4119
Done, closing

[2018-03-24 23:51] #4119 closed

[2018-03-24 23:51] valdisrigdon commented on #4767
The cluster was created. The subnets were shared and kops did not try to delete them. It was actively trying to delete route tables. It also followed the route tables and did delete the NAT gateways and the route to the nat gateway. On a delete it also indicated that it found new EIPs and marked those to be deleted as well.

It never actually deleted the route table because of dependencies from ot

[2018-03-24 23:54] chrislovecnm commented on #2830
@bethbuhawe is using manifests and templating not an option for you? See the using manifest documentation. We also have templating in toolbox.

Then you can kops create -f mycluster.yaml

Just a thought

[2018-03-25 00:20] chrislovecnm commented on #4138
/lifecycle frozen
/remove-lifecycle stale

[2018-03-25 00:20] chrislovecnm commented on #2214
/lifecycle frozen
/remove-lifecycle stale

[2018-03-25 00:24] chrislovecnm commented on #4728
We do have https://github.com/kubernetes/kops/blob/master/docs/secrets.md
Which shows how to add a key, also I am fairly certain we can reuse one.

The problem is that the cli at times expects an ssh key locally still. We need to do some tweaks so that if you are re-using a key we do not force one localy

[2018-03-25 00:25] chrislovecnm commented on #4728
Reuse one == reuse an existing key in aws.

[2018-03-25 05:05] markbooch commented on #245
Same question as @UlaganathanNamachivayam, Could we customize centos images for KOPS?

[2018-03-25 11:28] #3701 closed

[2018-03-25 17:03] smcquay commented on #2830
@chrislovecnm It had been suggested to me in slack to use `toolbox` commands and templates, I had some concerns about the format of the templating changing. My assumption was that as I upgrade kops in the future the edit interface would be more stable. Is my reasoning flawed? Is it fine to build up automation around a current snapshot of the templating?

[2018-03-25 17:28] chrislovecnm commented on #2830
The api is stable, we cannot change it without another API version. The yaml translated directly to the API. When we do a beta release we will have some tweaks, but we are in zero rush for that. I will push to have the alpha v2 api supported for a long long time.

[2018-03-25 17:30] chrislovecnm commented on #2830
Oh and the edit interface has zero different from using a manifest directly.  We have some validation differences, which we UCD bugs open for, but the API is the API.

[2018-03-25 19:41] vendrov commented on #4025
@chrislovecnm We can query AWS API about EC2 instance limit, and only it the there are enough slots we will proceed with the actual creation of the cluster.
WDYT?

[2018-03-25 20:10] chrislovecnm commented on #4025
@vendrov which API ... cause I have not been able to find that one ... AWS engineer could not help me find that one 😆

[2018-03-25 20:28] vendrov commented on #4149
/assign

[2018-03-25 22:39] #3351 closed

[2018-03-26 03:21] justinsb opened #4793 "AdditionalCIDR changes are not implemented"
Although AdditionalCIDRs can be set on a VPC, they are not actually configured.

[2018-03-26 03:58] justinsb commented on #4720
This is super-important given the etcd-quorum-read stuff.  But at this stage I think we have to push it to 1.10 (for now).

The tricky bit is going to be applying the change to existing clusters.   I believe that can be done, but I'm not sure whether it's totally safe, can be done online etc.

[2018-03-26 04:07] justinsb commented on #4691
Thanks for reporting - this was caused by some bad logic around when we classified a subnet as shared.  This should be fixed as of alpha2, and we now have test coverage of this so it should be good from now on.

[2018-03-26 04:16] justinsb commented on #4747
I think the PR makes a ton of sense and would love to get it merged (just needs CLA).  There _might_ be more to it, but this feels right & the right fix.

[2018-03-26 04:18] justinsb commented on #4672
I think this is likely a kops issue (assuming the NLB is tagged).  When kops deletes a cluster, it deletes the resources which were created by that cluster also (e.g. EBS volumes).  I presume that's what you mean @jpds - you created an NLB using the magic annotation on a service of `Type: LoadBalancer`, but then it wasn't cleaned up when you deleted the cluster?

[2018-03-26 05:33] jurgenweber commented on #4684
[code]

going to logLevel 1 is accepted and seems to do something. :0

[2018-03-26 05:38] pluttrell commented on #4118
/remove-lifecycle stale

[2018-03-26 07:03] lasse-kristensen commented on #4745
i have just upgraded to 1.8.3 and its working fine now, thank you.

[2018-03-26 07:03] #4745 closed

[2018-03-26 07:28] mludvig commented on #4728
Hi @chrislovecnm this is what works without creating a new AWS key:

1. First **create cluster** config in S3 but don't specify `--yes`

       ~ $ kops-1.9.0-alpha.2 create cluster --cloud aws [..all the options..] \
                --name k8keyname.example.com

2. Next **edit cluster** and add **`sshKeyName: aws-sandpit`** under `.spec` section, where `aws-sandpit` is an already existing EC2 SSH

[2018-03-26 08:05] vendrov commented on #4482
The fix has been merged

[2018-03-26 08:05] #4482 closed

[2018-03-26 09:20] jsierles commented on #2881
This behavior still happens without the fix mentioned by @duboisf.

[2018-03-26 11:02] kaspernissen opened #4798 "Failed to get system container stats for "/system.slice/kubelet.service" / docker.service kubelet issue"
**_1. What `kops` version are you running? The command `kops version`, will display
 this information._**
Kops version 1.8.1

**_2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag._**
Kubernetes version 1.8.6

**_3. What cloud provider are you using?_**
AWS

**_4. What commands

[2018-03-26 11:17] jkemp101 commented on #4798
Dupe of https://github.com/kubernetes/kops/issues/4049.  You can add the kubelet settings to the kops manifest as an easier workaround for now.

[2018-03-26 11:19] kaspernissen commented on #4798
Didn't see that issue! Thank you - will close this one then :)

[2018-03-26 11:19] #4798 closed

[2018-03-26 13:19] valdisrigdon commented on #4767
Thanks for the quick turnaround! I'll test this out today.

Is it expected that I would need to tag each route table or given I'm using shared subnets and shared VPC that kops won't delete the networking stack?

[2018-03-26 15:15] gertjan-carbon commented on #3121
Just ran the 1.9.0.alpha.2 controller and still run in to this

[2018-03-26 15:47] chrislovecnm commented on #4793
Also the warning message we have could be improved.  https://github.com/kubernetes/kops/pull/4796#pullrequestreview-106783253

[2018-03-26 16:57] #3119 closed

[2018-03-26 17:34] huang-jy commented on #4768
Is your domain hosted in Route 53?

[2018-03-26 18:21] huang-jy commented on #4768
A few basic troubleshooting questions:

1. Are your instances spot instances?
2. Have you waited for DNS to propagate?
3. Did `kops create cluster` complete successfully?
4. Did you run `kops update` and/or `kops rolling-update`?
5. Can you see the instances show up on EC2?
6. Can you SSH into them? (you may need to use bastions if you have internal IPs and no VPC tunnel)
7. Did any Route 53 entri

[2018-03-26 20:04] iostat commented on #3801
/remove-lifecycle rotten

[2018-03-27 01:19] astamaliyev commented on #4327
You can also upgrade kops to 1.8.1: https://github.com/kubernetes/kops/releases/tag/1.8.1
or you can upgrade weave image: https://github.com/kubernetes/kops/issues/3575 (look for AlexRRR's comment)

[2018-03-27 07:54] dzoeteman commented on #4768
Do you run both your custom domain and .internal? We are running that and having no issue.

`our.domain eu-central-1.compute.internal`

[2018-03-27 08:16] ese commented on #1784
I think this should be fixed in 1.10 https://github.com/kubernetes/kubernetes/pull/60125 if anyone can test it

[2018-03-27 08:17] ese commented on #3605
I think this should be fixed in kubernetes 1.10 kubernetes/kubernetes#60125 if anyone can test it

[2018-03-27 10:53] tan-tan-kanarek commented on #3635
+@chrislovecnm

Failed for me:

FIND: Parameter format not correct
Makefile:155: warning: overriding recipe for target 'set'
Makefile:152: warning: ignoring old recipe for target 'set'
FIND: Parameter format not correct
FIND: Parameter format not correct
Makefile:209: warning: overriding recipe for target 'set'
Makefile:155: warning: ignoring old recipe for target 'set'
Makefile:223: warning: over

[2018-03-27 12:39] cnuber commented on #4720
+1 on this.  I am having to make the disktype change after provisioning which is rather inconvenient and time consuming.

[2018-03-27 13:57] RobertDiebels commented on #4228
Getting the same issue.

[2018-03-27 14:07] RobertDiebels commented on #4228
@cdenneen I just resolved this by following the instructions from the README.md at the [dashboard project](https://github.com/kubernetes/dashboard). The instructions in the [addons.md ](https://github.com/kubernetes/kops/blob/master/docs/addons.md) were causing the error for me.

[2018-03-27 16:19] cdenneen commented on #4228
yea `/ui` was deprecated... probably should have closed this issue.

Thanks

[2018-03-27 16:19] #4228 closed

[2018-03-27 20:33] musunuru commented on #4768
@dzoeteman we have custom domain in DHCP set, I even tried by keeping but no luck.

[2018-03-27 20:36] musunuru commented on #4768
@huang-jy
Are your instances spot instances?
No On Demand
Have you waited for DNS to propagate?
Yes
Did kops create cluster complete successfully?
Yes
Did you run kops update and/or kops rolling-update?
update
Can you see the instances show up on EC2?
yes
Can you SSH into them? (you may need to use bastions if you have internal IPs and no VPC tunnel)
yes
Did any Route 53 entries get created? If so

[2018-03-27 20:40] dzoeteman commented on #4768
Can you check the logs of the instances that are spinned up? Specifically the syslog, which should have the kubelet logs in it. It will probably have the reason they are not being registered in the cluster.

[2018-03-27 20:40] huang-jy commented on #4768
Re your last point -- do you / have you use more than one cluster?

[2018-03-27 21:36] nikore opened #4813 "Protokube fails to mount volumes because they are already mounted"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

[code]

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

[code]

3. What cloud provider are you using?

AWS

4. What commands did you run?  What is the simplest way to reprod

[2018-03-27 22:27] hsteckylf commented on #1388
We just ran into this issue with an older, internal cluster running 1.7.x. What was the fix @chrislovecnm ?

[2018-03-27 22:29] musunuru commented on #4768
@huang-jy No, I used only cluster

[2018-03-27 22:29] musunuru commented on #4768
@dzoeteman Sure I will look into it.

[2018-03-28 01:05] number101010 opened #4814 "kops 1.8.1 default configuration creates unnecessary logspam"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

1.8.1

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

1.8.6

3. What cloud provider are you using?

AWS

4. What commands did you run?  What is the simplest way to reproduc

[2018-03-28 02:37] chrissnell commented on #4056
I assume that the multi-cluster folks in here are dropping the generated TF configs into separate, per-cluster directories and then laying additional TF configuration into each of those directories to do things like VPC peering and routes.

I experimented with putting the TF configs of multiple clusters into the same directory put `terraform plan` balks because of some namespacing issues that caus

[2018-03-28 03:14] techdragon commented on #3909
I'd like to see this fixed, this is a pretty major nuisance. AWS supports dynamic attach & detach of Security Groups without node restarts. So why does `kops` force the rolling restart?

[2018-03-28 03:14] techdragon commented on #3909
/remove-lifecycle rotten

[2018-03-28 04:15] huang-jy commented on #4768
What was the create command you used @musunuru? And can we have your cluster definition (you can redact sensitive content if needed)

[2018-03-28 07:38] ApsOps commented on #4353
I'm facing this issue as well. @azuretek Were you able to figure it out?

[2018-03-28 09:18] tcolgate commented on #4463
This is going to become more urgent. Kubernetes 1.10 deprecates etcd2 storage, it will be removed in 1.13

[2018-03-28 09:25] gwkunze commented on #3909
From what I understand of the architecture of how kops works this would be pretty hard. Adding a security group to a running ec2 instance is trivial, but adding it to an autoscaling group requires a new launch configuration triggering rolling-update to replace the instances.

I am curious about the use-case where you're changing security groups frequently.

[2018-03-28 11:18] liggitt commented on #4463
That was actually deprecated in 1.9. It was repeated in the 1.10 release notes for visibility.

[2018-03-28 16:16] musunuru commented on #4768
@huang-jy Got the issue resolved, In DHCP we have domain name as "company.com." by changing it to "company.com" it worked fine..

[2018-03-28 16:22] rdrgmnzs commented on #4793
/assign @rdrgmnzs

[2018-03-28 16:38] huang-jy commented on #4768
To confirm - you had a trailing dot?

[2018-03-28 16:50] musunuru commented on #4768
Yes trailing dot caused the issue

[2018-03-28 16:58] huang-jy commented on #4768
Thanks. If the issue is solved, please close the issue.

@chrislovecnm -- not sure if there's a knowledge base or similar on here, but might be worth adding/creating one with common issues.

[2018-03-28 16:59] #4768 closed

[2018-03-28 19:52] albertoa opened #4832 "error finding CloudInstanceGroups: unable to find autoscale groups: error listing autoscaling groups: ValidationError: The number of group names that may be passed in is limited to 50"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.8.0 (git-7210094)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the

[2018-03-28 20:11] chrislovecnm opened #4833 "toolbox dump is throwing panic during e2e testing"
kops is panicing during e2e testing

[code]

See https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws-canary/8016/build-log.txt

Same error in our regular e2e https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kops/4829/pull-kops-e2e-kubernetes-aws/5907/build-log.txt

[2018-03-28 21:00] MadWombat commented on #3203
I am on 1.8.1 and I am still seeing this issue.

[2018-03-28 21:38] chrissnell opened #4834 "DNS records are not being created when outputting to Terraform"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.9.0-alpha.3 (git-ad210dc4b)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is runnin

[2018-03-28 23:36] chrislovecnm commented on #4834
DNS records are set by protokube and dns controller, which are components of kops.  This is so that during upgrades we can have the cluster manage its own dns.

https://github.com/kubernetes/kops/issues/3612 - provides more details, on how kops starts.

1. Look at the protokube logs, a container running on the master, and see if it is setting etcd dns correctly
2. If etcd and the API server is sta

[2018-03-29 01:19] ctbarrett commented on #4813
We noticed the same thing when our kubelet nodes went from `CoreOS-stable-1632.3.0` to `CoreOS-stable-1688.4.0`

[2018-03-29 02:13] chrissnell commented on #4834
OK, thanks for those tips.   I was able to SSH into the master and get a little bit of an idea about what's going on here.

For some reason, the dns-controller is not successfully starting until almost five minutes after etcd, kube-apiserver, kubelet, and the rest of the gang come up.  I can't figure out why.  I noticed that kubelet seems to be unable to talk to kube-apiserver at first and, in tur

[2018-03-29 02:46] chrissnell commented on #4834
This may or may not be relevant:  when I build the cluster with CoreOS on all IGs, the cluster never comes up properly--not even after 10+ minutes--because etcd is never even started.

This is also something that worked when I built the cluster with `kops update` instead of `terraform apply`.

[2018-03-29 07:38] sandeeppaul-1994 opened #4835 "unable to create cluster with kops using existing subnet."
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
iam using kops Version 1.8.1 (git-94ef202) .

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is runnin

[2018-03-29 08:35] alanplatt commented on #4055
/remove-lifecycle stale

[2018-03-29 09:42] tcolgate commented on #4720
Also, it seems that, for AWS, this currently renders the volumeType option useless, since the AWS API seems to explicitly require IOPs in order to create the io1 volume at all:
`PersistentVolume: InvalidParameterCombination: The parameter iops must be specified for io1 volumes.`

[2018-03-29 10:29] gonfva opened #4836 "docker-healthcheck kills slow to reply docker daemons. Proposed change"
Under very heavy load, docker ps cannot respond quickly enough, so docker-healthcheck restarts the daemon.

I would suggest using docker ps -n 1 which should return faster but still check if docker daemon is running. See proposed changed

https://github.com/kubernetes/kops/commit/c3edc09d1b3e22647469f838249b7aaed4e8ef07

====

1. What `kops` version are you running? The command `kops version`, wil

[2018-03-29 12:58] Artiax commented on #4813
@ctbarrett we've experienced exactly the same issue with the latest stable coreos. The following one liner does the trick but would prefer a proper fix:
`docker exec $(docker ps -qf "ancestor=protokube:1.8.0") bash -c 'umount /rootfs/mnt/*'`

[2018-03-29 14:44] huang-jy commented on #4835
If you want to use existing subnets (and/or VPCs) you need to edit the cluster config before you commit it to the cloud.

https://blenderfox.com/2018/01/05/guide-to-creating-a-kubernetes-cluster-in-existing-subnets-vpc-on-aws-with-kops/

[2018-03-29 15:01] chrissnell commented on #4834
Digging further, my hunch is that etcd is part of the problem here.

Observations:

etcd is flapping on startup.  It appears to be having difficulty doing a DNS lookup on its own name record.  This is `etcd-b`, failing to resolve `etcd-b.internal.us-east-1-prod.kube.redacted.com`:

https://gist.github.com/chrissnell/675120ebc56732e45d284f37133b7f5c#file-etcd-log-L17

This is odd, because the recor

[2018-03-29 16:42] chrissnell opened #4837 "etcd is not started on CoreOS-based masters since 1688.4.0"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.9.0-alpha.3 (git-ad210dc4b)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or p

[2018-03-29 16:57] sstarcher commented on #4837
@chrissnell thanks for beating me to it.  I ran into the same issue.

[2018-03-29 17:25] JayBee6 commented on #4837
I am facing the exact same problem.

[2018-03-29 17:40] chrissnell commented on #4834
So, I figured out that the cluster **eventually** comes up...the API DNS record just takes much longer to come up when building from Terraform versus `kops update cluster`.  This, combined with my local DNS resolver caching NXDOMAIN records made it look like the API DNS was never coming up...but it was....slowly.

Closing for now.  If this concerns the authors, I'm happy to work with you to debug

[2018-03-29 17:40] #4834 closed

[2018-03-29 17:55] sandeeppaul-1994 commented on #4835
Is there any way we can dynamically assign available CIDR block even if its creating new subnets .

[2018-03-29 19:35] chrislovecnm commented on #4837
/assign @KashifSaadat @gambol99

[2018-03-29 19:55] johanneswuerbach commented on #4837
Looks like 1688.4.0 is broken and auto-updates on the stable channel are paused https://groups.google.com/forum/#!topic/coreos-user/5ihE2cKuYck/discussion

[2018-03-29 19:56] huang-jy commented on #4835
I haven't been able to (in fact, on more than one occasion, the CIDR it picked clashed with my currently created one.

[2018-03-29 20:03] chrissnell commented on #4837
@johanneswuerbach that certainly looks bad but I'm not sure if it's the same bug.   On my cluster, 1688.4.0 does boot...it's just that etcd doesn't start.

[2018-03-29 20:14] Jberlinsky opened #4838 "Update `kube-ingress-aws-controller` addon documentation to facilitate functional load balancers"
## Bug Report

1. What `kops` version are you running? The command `kops version`, will display
 this information.

`Version 1.9.0-alpha.3 (git-c707c82f6)`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

`1.9.3` (N/A)

3. What cloud provider are you using?

AWS

4. What co

[2018-03-29 20:29] sstarcher commented on #4837
My cluster was configured to use etcd3 when I ran into this issue.

[2018-03-29 20:44] chrissnell commented on #4837
@arithx  In my case, I was just using whatever kops chose by default which--I think--is still etcd2.

[2018-03-29 21:08] chrissnell commented on #4837
OK, I can confirm @sstarcher's report: specifying etcd 3.2.15 does not fix this issue.  etcd still does not start.

[2018-03-29 21:40] azuretek commented on #4837
Last night during troubleshooting we found this difference in the protokube log

working node:
[code]

broken node:
[code]

Looks like it mounts it incorrectly and never generates the etcd manifests for kubelet

[2018-03-29 21:55] umar-sik opened #4839 "Kubernetes cluster set up with AWS."
Hey,

I am trying to set up a kube cluster with AWS. I have bought a google domain so I created a subdomain (hosted zone) in AWS route 53. I set the NS name records in the google cloud console by creating the same zone over there as well. After I create my cluster with kops and run kops validate cluster, I get "Unable to connect to the server: dial tcp: lookup api.myfirstcluster.test.xxxx.io on 8.

[2018-03-29 22:11] gambol99 commented on #4766
/assign @gambol99

[2018-03-29 22:12] chrissnell commented on #4839
Do a `dig subdomain.yourdomain.com ns` and verify that you see the proper NS records pointing to AWS.   Verify that you provided the correct subdomain in your `kops create cluster ...` command.   Also, follow the issue template that you saw when you created this issue and provide your manifests and logs.

[2018-03-29 22:12] gambol99 commented on #4766
Much appreciated @geekofalltrades ... I'll take a look :-) unless you already have a PR?

[2018-03-29 22:49] vickatte commented on #4052
am having trouble updating the cluster with - I have added the following:
  kubeAPIServer:
    admissionControl:
    - NamespaceLifecycle
    - LimitRanger
    - ServiceAccount
    - PersistentVolumeLabel
    - DefaultStorageClass
    - DefaultTolerationSeconds
    - MutatingAdmissionWebhook
    - ValidatingAdmissionWebhook
    - ResourceQuota
    - NodeRestriction
    - Priority
and when I run "k

[2018-03-30 10:13] huang-jy commented on #4162
/remove-lifecycle stale

[2018-03-30 11:43] RobertDiebels commented on #3235
Hey guys, thought I'd just leave this here: https://github.com/kubernetes/kubernetes/issues/45726

I have the same issue as described above. It appears that (at least for me) Kubernetes:
1. Creates a PVC with the default storage class
1. Creates the EBS volume as a PV.
1. Attaches the EBS volume to a specific instance.
1. Binds the PVC and PV.
1. Tries to schedule a pod to the same instance and at

[2018-03-30 14:52] chrislovecnm commented on #4838
thanks for asking! Please PR!

I appreciate you being so formal, but we are all just helping out here as we can. Please just feel free to send in these kinds of PRs when you can. If it is something that is a huge change then you can ping the dev channel on slack, swing by our office hours, or file an issue.

[2018-03-30 14:54] Jberlinsky commented on #4838
You got it! Just wanted to make sure I followed the rules :)

PR is here: https://github.com/kubernetes/kops/pull/4843

[2018-03-30 14:57] chrislovecnm commented on #4837
something has changed with CoreOS’ fikesystem or how the mount paths. Something has changed.

I am seeing that they changed to “/dev” instead of “/rootfs/dev”? Can someone confirm this?

Also does this work with c5’s?

[2018-03-30 15:14] justinsb commented on #4837
Marked as blocks-next.  We also need to make it easy to turn off auto-upgrades for CoreOS :-)

[2018-03-30 17:27] geekofalltrades commented on #4766
I don't have a PR for this, no.

[2018-03-30 19:49] anillingutla commented on #3065
I have same issue Doing DNS lookup to verify NS records for "k8s-tf.****-poc.com" . no such host
Can you please explain the NS record changes you did to make this host visible ???

this was from setting the nameservers incorrectly in the zone. Once I'd done this everything was fine.

[2018-03-30 20:44] umar-sik commented on #4839
Issue solved.

[2018-03-30 20:44] #4839 closed

[2018-03-30 21:44] jordansissel commented on #3816
Hello! I am interested in helping test.

I made some assumptions (cross compiling by default == false assumption).

After setting GOARCH=amd64 and GOOS=windows, I found `make` invoking `go install` which fails:

[code]

Per [this comment](https://github.com/golang/go/issues/14213#issuecomment-179491876), a workaround is to use `go build`, so I copy/pasted the above `go install ...` and replaced `i

[2018-03-30 22:20] #4747 closed

[2018-03-30 22:47] thereverendtom opened #4844 "Cluster hung up starting, waiting for etcd volumes to attach"
------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

1.8.1

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

1.8.6

3. What cloud provider are you using?

AWS

4. What com

[2018-03-30 23:20] thereverendtom commented on #4813
I am running into the exact same issue, also running kops 1.8.1 in AWS. However, I am not using coreos - I'm using the Debian base images. I tried the `docker exec...` one liner, but that did not fix the issue. Did you find a solution to this problem?

The output I get is as follows:
[code]

And the `Waiting for volume...` message loops endlessly.

[2018-03-31 00:49] mrballcb commented on #4164
The commit was accepted and merged, is in the pipeline for the next (kops 1.9.0) stable release.

[2018-03-31 00:49] #4164 closed

[2018-03-31 03:42] #1303 closed

[2018-03-31 07:19] chrislovecnm commented on #4837
This is actually a duplicate ... https://github.com/kubernetes/kops/issues/4813#issuecomment-377089985

[2018-03-31 07:20] chrislovecnm commented on #4813
We actually got a duplicate of this as well. See #4837

[2018-03-31 13:02] lawrencedudley commented on #4032
We use t2 unlimited in other areas - annoyingly it's not supported on launch configurations for autoscaling groups, just launch templates (which I think signifies that AWS is suggesting that's where the future lies).

So a prerequisite for this is to move the configuration to launch templates first. I've not dug into the kops code properly but will try and do so over the next few weeks to see what

[2018-03-31 16:59] chrissnell opened #4847 "Terraform resources & outputs are not sufficiently namespaced"
**Summary:** Terraform resource and output names are not cluster-specific, leading to naming conflicts when multiple clusters' configs live in the same directory.

**Why would we want to fix this?**  If we can put multiple clusters' TF configs in the same directory, we can manage them from the same state namespace.  This is super useful if we want to do things like VPC peering, which requires clus

[2018-04-01 02:32] justinsb commented on #4833
Believed fixed by #4848

[2018-04-01 11:13] #1817 closed

[2018-04-01 14:06] thereverendtom commented on #4844
I solved the issue. Apparently, the new M5 AWS instance types are not supported in kops 1.8.1, as it does not support NVME for EBS volumes yet. Changing the instance type to M4 resolved the issue. There should be a warning when attempting to use unsupported instances types when provisioning a kops cluster.

[2018-04-01 14:06] #4844 closed

[2018-04-01 15:11] justinsb commented on #4847
Is using a tf module per cluster an option here?  I like that model because then the "cluster" tfmodule is managed by k8s, but the other modules have your stuff in them (e.g. RDS instances etc).  We do export some variables to try to make this practical (subnets & vpc ids, for example)

[2018-04-01 15:20] justinsb commented on #4836
This is a little tricky - this feels like a good idea if we're killing docker by mistake, but on the other hand `docker ps` should be fast and we do have persistent problems (admittedly with older docker versions) when we don't have the health check.

A few alternatives:

* we can try a more lightweight command, as you suggest
* we could try to prioritize the docker daemon (`nice` level)
* we coul

[2018-04-01 15:32] justinsb commented on #4814
This sounds correct, but as it is "only" logspam I don't want to risk introducing this into 1.9.0.  Thank you for reporting & suggesting the fix!

[2018-04-01 15:33] justinsb commented on #4813
Believed fixed by #4849, i.e. will be in 1.9.0-beta.1

[2018-04-01 15:36] justinsb commented on #4813
However @thereverendtom your issue sounds like there's no NVME support in the image/kernel you're using.  If you're using the kops default image, you have to switch from `jessie` to `stretch` in the image name.  Please do file a new issue, as this one will likely get closed and we at least need to improve docs, if not provide some hints about NVME with incompatible images.

[2018-04-01 15:38] justinsb commented on #4767
@valdisrigdon with kops 1.9.0-alpha.3 or beta.1 or later, it should "just work".  We'll add a "k8s.io/cluster/<clustername>=shared` tag and we then won't delete it.  We're also now more conservative about deleting potentially shared resources generally - we no longer assume that the lack of a tag means it can be deleted, we look for an owned tag (either `k8s.io/cluster/clustername=owned` or the le

[2018-04-01 15:41] justinsb commented on #4758
Thanks for reporting & sorry for the issue.  I believe this should be fixed in 1.9.0-alpha.3 (and later).  Please let me know if it's still broken in alpha.3 (or beta.1, which should be released today)

[2018-04-01 15:43] justinsb commented on #4725
Believed fixed by #4726 - please reopen if not!

[2018-04-01 15:43] #4725 closed

[2018-04-01 15:43] justinsb commented on #4725
(& thanks for fixing @waldman :-) )

[2018-04-01 18:20] #3755 closed

[2018-04-01 21:08] valdisrigdon commented on #4767
My testing was successful as well. Thanks for fixing!

[2018-04-01 22:07] justinsb commented on #4553
Should be fixed by #4647 but it didn't get LGTM

[2018-04-01 22:09] justinsb commented on #4394
Thanks for reporting @KashifSaadat .  I believe we fixed this, and the lifecycle unit test should actually test this, so I'm going to close.  Please reopen if you continue to see it in 1.9.0-alpha3 or later.

[2018-04-01 22:09] #4394 closed

[2018-04-02 00:08] justinsb commented on #3927
/remove-lifecycle stale

[2018-04-02 00:28] justinsb commented on #4665
@blakebarnett I don't suppose you have a log?  Trying to figure out whether we have a bug, or whether the node was marked as Ready, then later went NotReady.

[2018-04-02 00:41] justinsb opened #4853 "Validation around IOPS fields"
We should add validation to the volumeIops & rootVolumeIops fields (see https://github.com/kubernetes/kops/pull/4852#issuecomment-377829470).  I think that the only validation we can do though is to check the value is > 0

[2018-04-02 00:43] justinsb opened #4854 "volumeIops support for cloudformation / terraform"
Per https://github.com/kubernetes/kops/pull/4852#issuecomment-377829470

We need to add support for volumeIops to cloudformation & terraform

[2018-04-02 00:44] justinsb opened #4855 "volumeIops added to EBSVolume Find()"
We need to output volumeIops in EBSVolume Find() - per https://github.com/kubernetes/kops/pull/4852#issuecomment-377829470

Note we don't necessarily want to implement changing the value in 1.9 - that feels like it needs more testing

[2018-04-02 00:45] justinsb opened #4856 "Support for changing EBS volume IOPS or type"
Per https://github.com/kubernetes/kops/pull/4852#issuecomment-377829470 we need to implement changing the # of IOPS, and ideally the volume type as well.

[2018-04-02 03:21] Jberlinsky commented on #4838
@justinsb May I close this issue, now that the PR has been merged?

[2018-04-02 06:20] sergeylanzman commented on #4855
@justinsb Maybe it's already done? https://github.com/kubernetes/kops/pull/4852/files#diff-28f2ed90f7519537a083ae228827cb16R105

[2018-04-02 06:34] ti-yoyo commented on #3250
How is the progress, currently kops supports offline deployment?

[2018-04-02 08:50] Siilwyn opened #4867 "Estimated costs for smallest cluster on AWS & GCE?"
:wave: Hi there, I'm wondering what the monthly costs for a cluster of one master and two nodes would be on both available platforms using kops. (In EU west but I don't think there's a huge difference in pricing per region.)

Sorry about being a bit off-topic but I find the pricing pages of both providers hard to decipher and I'm new to kops so I'm also not sure what resources it will use. Besides

[2018-04-02 15:07] thereverendtom opened #4873 "Add warning/error when attempting to use AWS M5 instances with `jessie` images"
1. Describe IN DETAIL the feature/behavior/change you would like to see.

The kops default Debian `jessie` images do not support nvme for EBS volumes, which is used by the AWS M5 instance types. As a result, masters fail to start, as they can not mount the EBS volumes. Instead, you'll see the following message repeated endlessly in the logs:

`1576 volume_mounter.go:107] Waiting for volume "vol-xx

[2018-04-02 15:08] thereverendtom commented on #4813
Just filed issue #4873.

[2018-04-02 15:23] chrislovecnm commented on #4873
This is a duplicate I think ;)

[2018-04-02 16:20] jordansissel opened #4875 "ssh public key assumption on Windows could be improved"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.8.1 (git-94ef2027b)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

[code]

3. What cloud provider are you using?

AWS

4. What commands did you run?  What is the

[2018-04-02 16:29] chrislovecnm commented on #4875
This is a duplicate ;) unable to find the other issue now.

[2018-04-02 16:30] chrislovecnm commented on #4867
So you can use spot instances in aws for you nodes. Bit there are many many factors. I would cost out a cluster using the AWS calculator.

[2018-04-02 16:30] chrislovecnm commented on #4867
@arun-gupta can anyone on your team help?

[2018-04-02 16:55] blakebarnett commented on #4665
I don't have a log sorry.  The 2 cases I saw:
* Only 2 masters in Ready state (3rd wasn't even listed yet) and validation passed.
* Node in NotReady state and validation passed.

[2018-04-02 17:04] huang-jy commented on #4665
Assuming your configuration hasn't changed yet, could you copy paste what it says at the top where the table is, when you use `kops validate cluster` (it has a list of all the IGs, the max, min and zones)?

[2018-04-02 17:25] blakebarnett commented on #4665
That's the thing... `kops validation cluster` works fine.  It's the validation that happens during `kops rolling-update cluster` that fails.

[2018-04-02 18:21] chrissnell commented on #4867
How about this?

https://github.com/Bjorn248/terraform_cashier

[2018-04-02 19:13] huang-jy commented on #4665
If validation works, but rolling-update doesn't, then possibly your update is bad, or you've set a min/max to different values. So if, for example you have min of 2 and max of 5, and have 5 nodes in that group up, and kops respins 1, it'll still pass validation, even if that new one is showing as bad on the node list, since 4 (4 good, 1 bad) is still > 2.

So what is your configuration on your mas

[2018-04-02 19:14] tvi opened #4877 "dns-controller: :3999: bind: address already in use"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
`Version dev (git-210a7bfe9)`
2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the

[2018-04-02 21:54] chrissnell commented on #4847
@justinsb Using modules seems like the only sane way to do it.

Doing this with modules, putting each cluster in its own directory, would be sweet.  The top-level directory could contain TF configuration that is applied cluster-wide, like the VPC peering.  With the addition of a few extra outputs (like `region` and maybe `cluster_cidr_block`), we could do things like this in the top-level director

[2018-04-03 03:07] blakebarnett commented on #4665
Nope, this is not the case and never happened before.  The masters should ALWAYS validate that there are 3/3 no matter what anyway.

[2018-04-03 04:10] huang-jy commented on #4665
Only if you have a configuration that has a total of 3 min specified.

[2018-04-03 10:18] eisig opened #4889 "1.9.0-beta.1， gossip-based cluster, nodes can not connect to master"
1. What `kops` version are you running?

Version 1.9.0-beta.1 (git-210a7bfe9)

2. What Kubernetes version are you running?
1.9.7-beta.0

3. What cloud provider are you using?

aws (cn-northwest-1)

4. What commands did you run?  What is the simplest way to reproduce this issue?
export NAME=test-nx2.k8s.local
kops create cluster \
    --master-zones ${AWS_REGION}a --master-count 1 \
    --zones ${A

[2018-04-03 11:32] eisig commented on #4889
cause by #4877.
close this.

[2018-04-03 11:32] #4889 closed

[2018-04-03 13:07] justinsb opened #4890 "Look at whether trailing slash is needed in vfs metdata layer"
See comment: https://github.com/kubernetes/kops/pull/4880#discussion_r178816140

[2018-04-03 14:02] number101010 commented on #4814
Thanks for the response!

For future kubernetes operators we rolled the adjustments recommended above to production, logspam has been removed and the cluster has been operating without issue.

[2018-04-03 14:05] dalbhanj commented on #4867
@chrislovecnm, please assign it to me

[2018-04-03 14:45] Globegitter commented on #2785
@Artiax I am using the latest CoreOS AMI `595879546273/CoreOS-stable-1688.4.0-hvm` and seeing the same isse with kops 1.9.0-beta.1 - how does one set docker to use overlay2?

[2018-04-03 15:15] mikesplain commented on #4867
/assign @dalbhanj

[2018-04-03 15:29] KIVagant commented on #4052
TL;DR: Enabling **batch/v2alpha1** API group for existing cluster:

[code]

[2018-04-03 16:13] andrewsykim commented on #2785
Seems like a race between when docker is restarted with overlay2 and when nodeup pulls the image. I think the right solution here may be to issue a restart on `kops-configuration.service` if docker is ever restarted. Thoughts?

[2018-04-03 16:32] blakebarnett commented on #4665
@huang-jy yes, I do.  I understand very well how it works.

[2018-04-03 16:34] huang-jy commented on #4665
@blakebarnett assuming you aren't going to volunteer the information, then I cannot for certain rule out that as being a contributing factor to your issue, that's all I'm saying.

[2018-04-03 16:53] andrewsykim commented on #2785
I think https://github.com/kubernetes/kops/pull/4894 will work

[2018-04-03 17:48] dalbhanj commented on #4867
Sorry about that. While I'm getting ready to enroll, here is the info on pricing

This is high level guidance on AWS pricing when you run Kubernetes cluster using kops. Please review https://aws.amazon.com/ec2/pricing/[AWS documentation] for more details

Sample pricing page is populated using http://calculator.s3.amazonaws.com/index.html[Simple Monthly Calculator]

- On-demand costs with one mast

[2018-04-03 17:59] dcwangmit01 commented on #2493
I was able to work around the issue without needing to create a new AMI image, nor modifying the Dockerfile for the kopeio/nvidia-bootstrap container.

The workaround requires adding this custom kops hook to the gpunodes instancegroup definition.
[code]
The `ExecStop` above instructs  kops hook systemd to restart kubelet after the bootstrap container has run.

Note that the minus (-) sign in front

[2018-04-03 18:14] mikesplain opened #4895 "Go 1.10.1 breaks makefile logic"
When building kops via `make` and `go version go1.10.1` breaks compiler version logic:

https://github.com/kubernetes/kops/blob/dfa3396d28b3da76978b2f024a9404f8d1b055e9/Makefile#L98-L103

This makes the build appear as version 1.7.0 due to that being the default version.

[2018-04-03 18:14] mikesplain commented on #4895
Opening a pr with the fix in a moment

[2018-04-03 18:46] anillingutla commented on #4412
Notice Case sensitiveness for Masters & Nodes ONLY !!!.. What killed my times was investigating the HOSTED ZONES of where the  "." was coming from preceeding my Hosted zone.. !!! And it says its not found..

FAILS
--------
  topology:
    dns:
      type: Public
    masters: Public
    nodes: Public

WORKS
--------
  topology:
    dns:
      type: Public
    masters: public
    nodes: public

[2018-04-03 19:28] igorvpcleao opened #4897 "Hooks and failures"
Hi There,

Is it possible to have a sort of hook which sets the node as NotReady in case of failure?
Nowadays it seems that even if the container from within the hook exits with error, scheduling still happens. Is that right?

The problem I'm trying to solve is to schedule pods to a node only if a certain application succeeds executing a set of steps and verifications to this node. Not sure if a h

[2018-04-03 21:05] sergeylanzman commented on #4836
You right in high load or CPU spike `docker ps` it's slow command.
Another lightweight less command for check docker daemon use `_ping` command
`echo -e "GET /_ping HTTP/1.0\r\n" | nc -U /var/run/docker.sock`
[code]
https://github.com/moby/moby/blob/f0b9eb8627b0bbf3cbd95edd78cc552cb3626520/api/server/router/system/system_routes.go#L27

[2018-04-03 21:46] sergeylanzman commented on #4208
@mohammedali-kadri
You can set `volumeSize` parameters. From code is supported
https://github.com/kubernetes/kops/blob/14b29b0e0151580c4f7f5cb486380e84b04cdedd/pkg/model/master_volumes.go#L79
https://github.com/kubernetes/kops/blob/b8793930fa322e67d35b69fba79ae0c2adcd76db/pkg/apis/kops/v1alpha1/cluster.go#L351

[2018-04-03 21:46] tvi commented on #4877
@justinsb  This is still broken. Need to redeploy new version of `image: kope/dns-controller:1.9.0-beta.1`

[2018-04-03 22:55] dggc commented on #4295
I also came across this bug, using Kops 1.8.1 and K8s 1.10.1.

Then I tried reducing the number of master nodes from 3 to 1, recreated the cluster, and it worked. Far from ideal, but a good enough workaround for me while this bug gets resolved.

[2018-04-03 23:57] cciotti commented on #4161
I'm also seeing this

[2018-04-04 04:37] justinsb opened #4899 "We should support overlay2"
Probably we should consider making it the default in 1.10 (if it's the default upstream)

cf https://github.com/kubernetes/kops/pull/4894 and discussion there

[2018-04-04 04:40] justinsb opened #4900 "Better handle go versions > 1.10"
We should make the fix in https://github.com/kubernetes/kops/pull/4896 more generic, as I think it breaks on versions of go > 1.10.

[2018-04-04 05:45] techdragon commented on #3909
@gwkunze You're right about the AutoScaling groups, and in the very least this should be mentioned in the documentation for clarity purposes. There is however a relatively 'standard workaround' for when this is undesirable. Modify the autoscale first, so all new nodes will be correct, then perform exiting node remediation by finding all nodes in the autoscale group and modify them to match the new

[2018-04-04 07:34] Globegitter commented on #4458
@eherot I think the update operator would be a great solution if there was a setup for it to also update the kops config files. Otherwise, if new instances get added the updates are lost

@balboah Just ran into this as well and it seems adding a [hook](https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#hooks) the way @KashifSaadat mentioned should do the trick. So the hook I am us

[2018-04-04 09:40] forsberg commented on #3129
/remove-lifecycle rotten

[2018-04-04 09:57] gwkunze commented on #3909
Thank you for satiating my curiosity. I believe the rolling-update system only checks for a discrepancy between the current launch configuration and the launch configuration of the currently existing instances to see if a update is necessary.

So a solution would need to somehow mark historical and current launch configurations as compatible/no-instance-replacement-required. Since launch configura

[2018-04-04 10:45] gwkunze opened #4906 "Issue with CloudFormation rolling-update fix"
Affects: Kops 1.9 when using the CloudFormation target on a cluster made with an older version of Kops

In #4669 I patched the CloudFormation target to make sure the Autoscaling group has a proper name that matches what `kops rolling-update` expects. Unfortunately, in CloudFormation the [AutoScalingGroupName](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-as-group.ht

[2018-04-04 10:46] gwkunze commented on #3129
I ran into the same problem and fixed this in #4669 it should be in the 1.9 release of Kops. However as I was typing this reply I realized a potential serious problem with my fix and opened #4906

[2018-04-04 12:40] lsowen commented on #4209
I was running into this issue.  My problem was that I was trying to create new instance group which used properly available Availability Zones for my region (`aws ec2 describe-availability-zones --region us-east-1`), but I was referencing an AZ which was not configured for the cluster (`kops --name <cluster> cluster`).

In my case, my cluster is only configured to use `us-east-1a,us-east-1c,us-eas

[2018-04-04 14:40] styk-tv opened #4908 "aws auto-scaling group delete success premature false positive assumption"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

1.8.1

3. What cloud provider are you using?

aws

4. What commands did you run?  What is the simplest way to reproduce this issue?

kops delete

5. What

[2018-04-04 16:30] andrewsykim commented on #4813
@justinsb running the latest release and I still this issue, it may be specific to DigitalOcean though, This is on CoreOS:

[code]

[2018-04-04 17:16] KashifSaadat commented on #4837
This is fixed in master following PR #4849 and made it into the latest release (`1.9.0-beta.2`), thanks @justinsb!

I've raised PR #4909 in relation to disabling the update-engine by default for CoreOS.

[2018-04-04 18:34] cruisehall opened #4912 "r"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified

[2018-04-04 18:35] #4912 closed

[2018-04-04 20:04] chitopunk commented on #4814
We are seeing the same logs every second, but our kubernetes version is `1.8.7` and kops is `1.8.1`.

Not sure if this is causing strange behavior in our cluster, most of the apps started to have timeouts connecting to external services (RDS, api endpoints, etc), sudden disconnections.

So @number101010 , I just was wondering if you were having these issues too.

Best

[2018-04-04 22:44] chrislovecnm commented on #4190
/lifecycle frozen
/remove-lifecycle stale

[2018-04-04 23:16] rbtcollins commented on #429
I realise its probably implicit; but for reliability having the kubelet working space (logs, tmp) on a different volume to the pod storage as well as container writable layers is really important - whatever is done here, please do preserve that (at least as an option).

[2018-04-05 01:43] number101010 commented on #4814
Sorry, chitopunk.

We were not seeing any behavior like that.  We make heavy use of external services such as RDS/Redis/External APIs and did not see any noticeable negative impact when we first upgraded to k8s 1.8.

Perhaps you can dump tcpstats from the affected containers and get an idea of what is happening?

[2018-04-05 04:47] tvi commented on #4899
As I interpret website: https://docs.docker.com/storage/storagedriver/select-storage-driver/ recommends overlay2 to Stretch and newer? We run default Jessie.

[2018-04-05 04:53] techdragon commented on #3909
@gwkunze I haven't dug in to any of the code yet myself, but I would think that the better path would be `kops update cluster` getting 'smarter' so it can complete the task without needing to pass anything on for `kops rolling-update cluster` to do.

Your completely right about the Teraform and CloudFormation targets, my gut says that there may not be a way to make this 'smart mode' work for eithe

[2018-04-05 05:09] techdragon commented on #2677
/reopen

[2018-04-05 05:09] techdragon commented on #2677
The Documentation or the YAML should probably get an update so this works properly for new users.

[2018-04-05 05:10] techdragon commented on #2677
@WillemMali do you want to reopen this?

[2018-04-05 05:12] tvi opened #4917 "Refactor kops/pkg/apis into separate repo"
Is it feasible to move kops/pkg/apis/ or more specifically kops/pkg/apis/kops/ into separate repo?
I am working on some of our internal tooling that generates kops configs, and it seems excessive to import all of kops for bunch of structs.

Maybe even include kops/pkg/kopscodecs to parsing?
What are you thought about it?

[2018-04-05 05:12] tvi commented on #4917
@justinsb @chrislovecnm

[2018-04-05 07:29] styk-tv opened #4918 "KOPS validate cluster fails to report correct status of 50+ nodes cluster"
KOPS: 1.8.1
K8S: 1.8.7

This works:
[code]

This Does Not
[code]
It always stops around 50. Obviously AWS limits are fine currently set at 200. Autoscaling group reaches desired (min/max=60) without any problems.

And BEST for LAST: if you actually count above lines you will see 64 instances (lines with hostnames and TRUE flag confirming node is online. So summary is ok but bug in counting?

Can a

[2018-04-05 07:59] styk-tv commented on #4918
Ok so after few minutes of further investigation. This is a bug in `kops validate cluster` not in actual functionality of kops. Yes my script was failing but only i was relying on kops validate cluster to do its job. Cluster is actually fine its just reporting that's messed up.

Can anyone confirm this so we can classify this?

[2018-04-05 08:21] kudi-lanyu commented on #4390
1.check the hostname can help you
or
2.check your config file of kubelet which in /etc/systemd/system/kubelet.service.d/10-kubeadm.conf and check the flag "--hostname-override" if it's aright.

for mark master timeout condition.

[2018-04-05 10:14] chrisz100 opened #4920 "Add authorization-mode flag to kubelet api"
I would like to add the authorization-mode flag to the kubelet api.
We require this in order to further harden our clusters and be sure all requests to kubelet are authorized.

This will be used in conjunction with the already possible flag anonymous-auth.

[2018-04-05 11:08] chrisz100 commented on #4920
Proposed patch/ change:
https://github.com/chrisz100/kops/commit/8c3a2b7a87d74ede55e263895a0b83c0c9bd237a

[2018-04-05 14:04] sstarcher commented on #834
It should also work with ELB+ACM if the inbound is SSL and the outbound is also SSL

[2018-04-05 16:07] chrissnell commented on #4837
I'm going to close this.  I honestly don't know if this was fixed by PR #4849 or by the new CoreOS release or by both, but everything seems to work now.   Thanks @justinsb @KashifSaadat @chrislovecnm and everybody else for helping debug.

Closing this.

[2018-04-05 16:07] #4837 closed

[2018-04-05 22:39] bhack commented on #518
Untill will be solved upstream what do you think of integrate https://github.com/kubernetes/kops/issues/2493#issuecomment-378341307? /cc @dcwangmit01

[2018-04-06 00:10] dcwangmit01 commented on #518
@bhack I'm debating on whether to PR against the [GPU Doc](https://github.com/kubernetes/kops/blob/master/docs/gpu.md) to update with the custom workaround hook specification, or just fixing the [issue](https://github.com/kubernetes/kops/issues/2493#issuecomment-378341307) directly by PR'ing against the kopeio/nvidia-bootstrap Dockerfile run.sh script.  The latter depends on if someone can push a

[2018-04-06 00:31] bhack commented on #518
Check also upstream https://github.com/kubernetes/kubernetes/issues/54011

[2018-04-06 00:54] macropin commented on #4837
Can we get this fix back-ported to 1.8?

[2018-04-06 02:42] anillingutla commented on #1386
203.0.113.123 this is an error iam remembering in my dreams.. i barely am creating cluster with kops create and the sub domain is good. iam stuck at this IP for ever. what and how did you guys solve this ? am i dealing with an improper version of KOPS ?

[2018-04-06 02:43] anillingutla commented on #1386
all that #3888 is good but its not helping me.

[2018-04-06 12:57] fredsted commented on #4330
Ah, sorry. I replaced the image name in my ig and it seems to work.

[2018-04-06 13:04] ApsOps commented on #4330
Closing since NVME volumes (C5,M5, etc. instances) are supported in the debian stretch image. Please reopen if you still face any issues.

[2018-04-06 13:04] #4330 closed

[2018-04-06 16:43] gonfva-bcl commented on #4836
I deployed the change I had proposed initially, but I ended up facing a different issue (pleg not healthy), similar to one that can be found here
https://github.com/kubernetes/kubernetes/issues/45419
It seems even if docker-clusterhealth doesn't kill docker daemon, when docker is too slow to reply, there will be other issues.
I moved to Ubuntu 16.04 LTS images and so far the cluster seems more res

[2018-04-06 16:49] jhohertz commented on #4694
I ran into this as well. I tried changing this:
[code]
to
[code]

Which:
* let resource get created
* is more in-line with the upstream docs here: https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/deploy/skipper.yaml#L11
* didn't completely solve the issue, as the container still failed to launch

So not sure this was correct in the end.

[2018-04-06 16:55] jhohertz commented on #4838
Just a note, that I found the new egress rule had to be removed in my testing, as the API rejected it as a duplicate rule. Not sure why my experience seems to differ here.

I still have issues getting any of the containers to work after addressing this and the issues raised in #4694 (I see the health check errors that prompted the egress change I had to take out, and what appears to be another IAM

[2018-04-06 16:56] Jberlinsky commented on #4838
@jhohertz Did you create the security group in the AWS console, or via the API? I noticed that when I created security groups via the console, it automatically created the `0.0.0.0/0` egress rule (and its IPv6 analogue).

[2018-04-06 16:56] hsinhoyeh commented on #4694
@jhohertz changing `matchlabels` did help me to resolve my issue.
Do you mind to give us more details on the issue you have now?

[2018-04-06 17:08] jhohertz commented on #4694
Sure, just resetting my test cluster and will add details here.

[2018-04-06 17:12] jhohertz commented on #4838
I did it via the aws cli commands, using the variation in the upstream doc here (under "if you are not in the default VPC), but adding the egress line (then removing it when I saw the error)

https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/deploy/kops.md#security-group-for-ingress

[2018-04-06 19:02] mikesplain commented on #4854
Closing as this was fixed in https://github.com/kubernetes/kops/pull/4860

/close

[2018-04-06 19:02] #4854 closed

[2018-04-06 19:16] mikesplain commented on #4559
I think this is fixed in 1.9.0 since they're bumped to 2.6.7:

https://github.com/kubernetes/kops/blob/release-1.9/upup/pkg/fi/cloudup/bootstrapchannelbuilder.go#L480

[2018-04-06 19:31] blakebarnett commented on #4559
yes it's working fine in 1.9

[2018-04-07 13:34] andrewsykim commented on #4196
https://github.com/kubernetes/kops/pull/4935 locks the version, I will follow up later to propagate the kube router version from cluster spec

[2018-04-08 07:57] qrevel commented on #2142
/remove-lifecycle stale
still not solved

[2018-04-08 10:58] #616 closed

[2018-04-08 11:59] #3335 closed

[2018-04-08 13:00] #1964 closed

[2018-04-08 19:06] #3796 closed

[2018-04-08 19:48] Globegitter commented on #1896
@chrislovecnm Is there any documentation available yet?

From what I can see one could use the following config:

[code]

Can an existing cluster be updated with that? And does it need anything else? How often does it backup per default?

[2018-04-08 20:23] baldeynz opened #4940 "kops 1.9.0-beta.2 doesnt clean up NLB ingress secrutiy group rules"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.9.0-beta.2

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubern

[2018-04-09 02:13] #1724 closed

[2018-04-09 06:45] johanneswuerbach commented on #4587
Anything I could help with this? Just was hit by that when rolling a cluster

[2018-04-09 10:52] recollir opened #4946 "Rolling update puts nodes into "not ready""
1.  Kops version 1.8.0
2. Kubernetes version 1.8.6
3. AWS (3 masters and 3 nodes)

4. kops edit followed by kops update and kops rolling-update. kops edit to add configuration flags for the apiserver (dex related). Also tried kops rolling-update --instance-group <master...> to only update one master at a time.

5. Nodes become "not ready" in an unpredictable way. Sometimes no node is affected. Som

[2018-04-09 12:03] sstarcher commented on #4587
@johanneswuerbach did you hit this in 1.9.0-beta-2?  I thought it was fixed already.

[2018-04-09 13:50] johanneswuerbach commented on #4587
Yes, I was running beta-2. Not sure whether it was this or https://github.com/kubernetes/kops/pull/4941

[2018-04-09 13:52] johanneswuerbach commented on #4587
It could be also related to something else as we have seen some of our clusters marking a bunch of nodes as `NotReady` after a master has been rolled, but I'm still investigating the root-cause, which looks like kubelets are caching the internal master dns and won't connect anymore.

[2018-04-09 13:52] sstarcher commented on #4587
@johanneswuerbach If it was this issue it should of reported healthy and then failed healthy again and finally reported healthy.

If it was #4941 it should never become healthy.

[2018-04-09 13:57] johanneswuerbach commented on #4587
Thanks @sstarcher will continue testing and report back if I found something.

[2018-04-09 17:27] johanneswuerbach commented on #4946
In our case manually restarting the kubelet helped, do you have the logs of an affected node?

[2018-04-09 17:33] recollir commented on #4946
Not from the current test runs (cluster has been deleted and created a couple of times). But I can recreate this, keep the logs and attach them to this issue.

Nevertheless, I would be interested how to prevent this from happening. We need to do some changes to a production cluster where a restart of a kubelet seems rather inappropriate.

[2018-04-09 17:50] johanneswuerbach commented on #4946
Understandably, we are also started this this upgrading to 1.8 and I’m currently debugging what could cause this.

It looks in our case the kubelet tries to connect to an old API server IP so either its caching an old record or the record wasn’t updated correctly.

[2018-04-09 19:02] tgrosinger commented on #4146
#4240 was merged. Should this be closed now?

[2018-04-09 19:05] recollir commented on #4946
Thanks for the pointing this out. I will see if this is the same for us first thing in the morning. My TZ is CEST.

[2018-04-09 20:45] justinsb commented on #4946
Thanks for reporting & sorry about the problem.

Was this with a gossip DNS (.k8s.local) or a "real" Route53 DNS name?

[2018-04-09 20:46] john-delivuk commented on #3224
After making the changes. I noticed new nodes coming online get route updates quickly which is great, because we scare frequently. While testing this issue though I've noticed that if you after your  cluster running at capacity where your load matches your number of nodes, you then terminate one of those working nodes, you'll wont see route changes until reconciliation. I'm using the included v1.0

[2018-04-09 20:51] johanneswuerbach commented on #4946
In our case a real Route53 record.

[2018-04-09 21:03] recollir commented on #4946
Real Route53 DNS name.

[2018-04-09 22:15] chrislovecnm commented on #4243
/lifecycle frozen
/remove-lifecycle stale

[2018-04-09 22:24] chrislovecnm commented on #4918
We redid a bunch of the kops validate code in 1.9, do you mind retesting this with kops 1.9 beta?  It pretty much was a re-write on a bunch of the code.

[2018-04-09 22:28] chrislovecnm commented on #4867
@dalbhanj btw you need to be a k8s org member for us to assign issue to you.  Ping me if you have questions about membership, as it is actually pretty simple.  Thanks for helping out!

[2018-04-09 22:45] tvi commented on #4917
I am right now vendoring the whole kops repo and just download everything.
This is not too much of a priority for me, it would just be nice to have.

[2018-04-10 00:03] sstarcher commented on #4327
I have seen this same issue with 1.9.0-beta-2

[2018-04-10 00:54] tvi opened #4951 "error creating/updating IAMRolePolicy: MalformedPolicyDocument: Statement IDs (SID) in a single policy must be unique."
1. What `kops` version are you running? The command `kops version`, will display
 this information.
`Version dev (git-dfa3396d2)`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

3. What cloud provider are you using?
"1.9.3"

4. What commands did you run?  What is the simpl

[2018-04-10 01:15] tvi commented on #4951
Same thing happens if you use "sub-buckets" as well:

[code]

[2018-04-10 01:29] sstarcher commented on #4327
yep, using weave.  I see they have a few issues opened up.

https://github.com/weaveworks/weave/issues/3275
https://github.com/kubernetes/kops/issues/3575

already closed
https://github.com/weaveworks/weave/pull/3149

[2018-04-10 03:02] justinsb opened #4953 "Is there any value in the IAM Sid?"
Our IAM policies set Sid, which is optional but must be unique if set.  That went wrong in #4951 .

We should revisit whether there is a case for setting these at all, particularly because the allowed characters makes them ugly anyway (A-Z,a-z,0-9)

[2018-04-10 06:36] Siilwyn commented on #4867
Sorry about the late reply. :sweat_smile:

Thank you for all your replies, much appreciated! <3
As this answers my question I think I can close this issue.

[2018-04-10 06:36] #4867 closed

[2018-04-10 06:47] chrislovecnm commented on #4953
Nope no value. I would recommend yanking them.

[2018-04-10 09:41] GaudamThiyagarajan opened #4955 "Unable to create or update kops cluster"
1. Version 1.8.1 (git-94ef202)

2. `kops create cluster --name=kubernetes.xxxxxx.xxx  --state=s3://kops-state-xxxxxxx --zones=ap-south-1a --node-count=2 --node-size=t2.micro --master-size=t2.micro --dns-zone=kubernetes.ideaboard.xyz`
[code]

`
error doing DNS lookup for NS records for "kubernetes.xxxxxxxx.xxx": lookup kubernetes.ideaboard.xyz on 10.0.2.3:53: read udp 10.0.2.15:37721->10.0.2.3:53:

[2018-04-10 11:12] recollir commented on #4946
@johanneswuerbach seems the same for us - kubelet trying to connect to an old API server IP. Trying to verify this now.

[2018-04-10 12:34] #4951 closed

[2018-04-10 13:04] johanneswuerbach commented on #4946
We also hit this on another node again:
[code]

[2018-04-10 13:07] recollir commented on #4946
That is exactly the error msg I see. It starts to appear when the old IP address is removed from the A record for api.internal.xxx and the new IP address for the new master is added. Sometimes after the first master, sometimes after the second master.

[2018-04-10 13:20] 368863656547 opened #4956 "AWS autoscaled kops cluster creation from file fails (MissingParameter: The request must contain the parameter Owner)"
I'm trying to deploy an aws-autoscaled kubernetes cluster on AWS (from a t2.micro instance) without manual intervention (instead of going through the routine kops create cluster ... kops edit ig ...)
Using these commands:
kops create -f cluster.yaml
kops create secret --name k8s-showcase.cluster.k8s.local sshpublickey admin -i ~/.ssh/authorized_keys
kops update cluster k8s-showcase.cluster.k8s.loc

[2018-04-10 13:34] #4458 closed

[2018-04-10 15:43] #4920 closed

[2018-04-10 15:43] chrisz100 commented on #4920
Merged.

[2018-04-10 15:47] gertjan-carbon commented on #3121
By adding the flag: --route53-batch-size=100
However, Im running the 1.9.0 dns controller instead of the 1.8.0
(just changed the image in the yaml that was deployed by Kops.

[2018-04-10 15:51] kumudt commented on #3121
for me setting it to 50 worked.

[2018-04-10 18:30] baldeynz commented on #4940
@chrislovecnm you might be right there, i saw https://github.com/kubernetes/kubernetes/issues/57568 and thought that this had been fixed but i will check whether it is in the 1.9 branch or not

[2018-04-10 18:36] lkysow commented on #4946
It's probably due to: https://github.com/kubernetes/kubernetes/issues/41916#issuecomment-312428731 where the kubelet caches the IP of the old master nodes. That's why a restart fixes it.

[2018-04-10 19:45] jhohertz commented on #4728
Just wanted to leave a note as I'm experiencing something similar, where we are generating a YAML through another process to feed to `kops create cluster`. In that case it is insufficient to specify the sshKeyName in the spec section. Upon trying to run the update, it will complain that I have not yet created a secret.

For now I am just going to extract the key via awscli or boto to make it happy

[2018-04-10 19:50] sstarcher commented on #4946
I had the same issue today with 1.9.0-beta-2

[2018-04-10 20:52] lkysow commented on #4946
I think the best practice is to set up an internal ELB that fronts the masters and have the API url point to that, the same way it's done for the external api. Is that possible with kops right now?

[2018-04-10 21:14] recollir commented on #4946
I don’t think so. The type load balancer for the api in the spec refers to the client (kubectl) AFAIK. At least in a quick test I still got DNS round robin based entries for the api that the kubelet used.

I think as well an ELB for the kubelet to connect to would be the “right” way to go. At least it is the way kubeadm does HA nowadays (if though manually still). The ELB would detect that a maste

[2018-04-10 22:34] rroopreddy commented on #1967
/remove-lifecycle stale

[2018-04-10 23:57] eisig commented on #4847
I think you could manage you vpc and vpc peer in a separate directory, create cluster in the existing vpc.

[2018-04-11 00:17] blakebarnett commented on #3875
Just saw this using kops 1.9.0-beta.2

[2018-04-11 02:02] #3274 closed

[2018-04-11 03:33] RichardW42 opened #4961 "tencentcloud support"
Add support for [tencentcloud](https://cloud.tencent.com/), it's a popular cloud service provider other than [alicloud](https://www.aliyun.com).

We're planning to contribute some work on this.

[2018-04-11 08:49] JorgeCeja commented on #2150
Any updates on the current status? What is need to be production ready? I'll like to contribute, I just need more info on where the integration stands. Thanks!

[2018-04-11 13:15] andrewsykim commented on #2150
Hi @JorgeCeja! I expect that in the next release you should be able to stand up a working version of a kubernetes cluster.

Some features that are missing are:
* support for multiple masters (currently only supports 1)
* support for multiple regions - this is a debatable feature since I think generally you should have 1 cluster per region anyways.
* rolling update support
* lots of testing :)

Hap

[2018-04-11 15:52] dalbhanj commented on #4867
Hi @chrislovecnm, looks like I'm a member now. LMK if you think sending PR on AWS costs might help for future audience

[2018-04-11 18:23] sanketjpatel opened #4967 "Unable to access API server after restarting the cluster"
Hi,
I noticed a weird behavior with kops on aws.
I had setup the cluster, created a few deployments, running fine, all good.

I then terminated the nodes, master, and bastion. Updated the autoscaling groups for them to desired, min, max of 0. Went to sleep. Woke up in the morning and updated the autoscaling groups back to their original configuration…
Nodes - 2 (desired, min and max)
Master - 1
Ba

[2018-04-11 18:43] calder opened #4968 "Support multus-CNI networking"
Add support for using [multus-CNI](https://github.com/Intel-Corp/multus-cni) as the cluster networking provider.

[2018-04-11 18:50] ivans3 commented on #4688
Hi @craigjol  are you still working on this? If so, have you been making progress?  To change apiserver flags that aren't referenced in ./pkg/apis/kops/componentconfig.go , i believe that it would be necessary to build a custom nodeup binary from kops src and push to an s3 bucket.
This is what i am trying now,
https://github.com/kubernetes/kops/blob/master/docs/development/adding_a_feature.md
(see

[2018-04-11 19:25] Cryptophobia opened #4969 "Rethink docker-healthcheck.service ?"
### FEATURE REQUEST

1. Describe IN DETAIL the feature/behavior/change you would like to see.

Right now the docker-healthcheck service is terminating docker and creates uncertainty in other containers running on the system. Kops should not be affecting networking components by restarting docker daemon itself.

2. Feel free to provide a design supporting your feature request.

Symptoms of the prob

[2018-04-11 19:32] bhargavpss opened #4970 "Use Docker Images from private repository"
We are trying to create a k8s cluster using `kops` on AWS without any internet access for security purposes. We are now primarily looking at customizing the cluster to use the docker images from a private repository instead of `gcr.io` or `kope` repo in docker hub.

We were wondering if the images from `gcr.io` are hard-coded in the `nodeup` binary? We are confused whether they are configurable fr

[2018-04-11 19:52] dcwangmit01 commented on #518
I've added a PR to clean up some kops GPU hook issues.  See https://github.com/kubernetes/kops/pull/4971

[2018-04-11 21:44] wanghong230 commented on #384
/reopen

[2018-04-11 22:31] rudymccomb opened #4972 "AssumeRoleTokenProviderNotSetError MFA not working for 1.9"
1. What versoin of Kops
 kops version 1.9.0

2. What version of Kubernetes
Kubernetes 1.10.0

3. What cloud provider
AWS

4. What command did I run
 I ran `kops upgrade cluster --state s3://node.tld --name kubecluster

5. What happened after the commands executed?
Using cluster from kubectl context: kubecluster

error reading cluster configuration: error reading cluster configuration "kubecluster"

[2018-04-12 00:58] jacobrandall opened #4974 "Kubelet service breaks after reboot of GCE nodes (permission denied)"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

`Version 1.8.1`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

`1.8.7` and `1.8.8`

3. What cloud provider are you using?

GCE

4. What commands did you run?  What is the

[2018-04-12 02:06] stonefury opened #4975 "Enabling metrics on the etcd component"
Could someone please explain how I enable metrics for etcd? I'm expecting port 2379 to be open but it's not with my default kops install (I didn't do the HA method, just the standard install).

[2018-04-12 07:11] huang-jy commented on #4967
Did you change the values for max/min/desired through the AWS console or by changing the values using `kops edit ig` ?

[2018-04-12 07:16] huang-jy commented on #4955
Check your local DNS. I sometimes have this on my home pc which has a very crappy Sky Broadband connection.

Try setting your DNS to 8.8.8.8 (Google's one) and trying again.

[2018-04-12 07:58] sanketjpatel commented on #4967
From the AWS console

[2018-04-12 08:12] huang-jy commented on #4967
Okay, then you're possibly confusing the cluster.

I used to do the same thing as you and changing the values regularly, but I always used to change the max/min from the ig definition. (e.g. from max/min 2/2 to max/min 0/0)

If you really want to be able to change the values in the console between 0 and 2, you'll need to set a max/min of 0->2 and use the `desired` value on the console to set your

[2018-04-12 08:28] qrevel commented on #4263
/remove-lifecycle stale

[2018-04-12 09:14] bhack commented on #2047
Now 1.9 is released. Can we document how to enable it in the old clusters after the upgrade?

[2018-04-12 10:01] mhulscher commented on #4202
I have the same issue. This is inconvenient because I use fluentd to ship the STDOUT/STDERR logs of the kube-apiserver to some faraway place.

[2018-04-12 10:33] Mikulas opened #4978 "Handling Spot Instance Interruption Notices"
/kind feature

1. Describe IN DETAIL the feature/behavior/change you would like to see.

Whenever AWS schedules a Spot Instance for termination, it updates the [instance metadata](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html) and gives instance a 2 minute graceful period.

I propose handling the notification by cordoning the node and making it unschedulable.

2. F

[2018-04-12 13:11] mtablado commented on #964
This will happen if you recreate a cluster and you do not copy the new configuration to the regular user.

When you create a new cluster it prompts the following:
`To start using your cluster, you need to run the following as a regular user:

  mkdir -p $HOME/.kube
  sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
  sudo chown $(id -u):$(id -g) $HOME/.kube/config
`
Be sure to execute the

[2018-04-12 13:29] Globegitter commented on #4978
I found this project today https://github.com/kubernetes/charts/tree/master/incubator/kube-spot-termination-notice-handler which should do exactly what you are asking for.

[2018-04-12 14:15] Mikulas commented on #4978
Thanks. Alright given that it's already implemented as a daemonset in the https://github.com/mumoshu/kube-spot-termination-notice-handler you linked, I'll close this. It would be nicer to handle this in a lower level process, but the resource usage should be minimal anyway.

[2018-04-12 14:15] #4978 closed

[2018-04-12 15:30] Test-Jenkins-Docker commented on #3246
Has this been updated at all?  Currently trying to use Kops to deploy an air-gapped cluster and there doesn't seem to be any documentation on how to do this.  Any guidance would be greatly appreciated.

[2018-04-12 15:47] cablespaghetti opened #4979 "Maximum worker node disk size?"
1. What `kops` version are you running? 1.9.0

2. What Kubernetes version are you running? 1.9.1

3. What cloud provider are you using? AWS

4. What commands did you run?  What is the simplest way to reproduce this issue?
kops create cluster --node-size r4.xlarge mydomain.com --master-size m3.medium --ssh-public-key ~/.ssh/id_rsa.pub --ssh-access my-ip/32 --admin-access my-ip/32 --cloud aws --zone

[2018-04-12 16:07] sstarcher commented on #4946
Just did a rolling update from 1.9.0-beta-2 to 1.9.0 and the same issue all of my nodes go from Ready to not ready.

@chrislovecnm have you tried a master rolling update with 1.9.0 by chance on AWS?

[2018-04-12 16:20] huang-jy commented on #4979
Does it still happen if you don't explicitly specify the node volume size?

[2018-04-12 16:25] huang-jy commented on #4979
Can you pastebin (or using a method of your choice) the logs from one of the nodes? I'm not sure what's going on here but maybe it'll help one of the team debug it.

Also, pasting the cluster definition may be of help.

[2018-04-12 16:25] sstarcher commented on #4946
I can confirm it happens for 15mins or until the kubelet is restarted.

[2018-04-12 16:31] lkysow commented on #4946
15m is what is expected for the issue with kubelet caching IPs: https://github.com/kubernetes/kubernetes/issues/41916#issuecomment-312428731

[2018-04-12 16:34] cablespaghetti commented on #4979
I unfortunately haven't been able to get on any of the nodes to get the logs off, because it seems to get terminated before SSH comes up.

I'll see if I can get the cluster definition shortly.

[2018-04-12 16:49] cablespaghetti commented on #4979
Command:

[code]

Cluster YAML:
[code]

The result (I've left this for multiple hours previously):
![screenshot from 2018-04-12 17-45-49](https://user-images.githubusercontent.com/11150054/38691692-83c0813e-3e79-11e8-881c-8130b25a0b4d.png)

[2018-04-12 16:49] huang-jy commented on #4979
Yeah, most likely AWS is killing the instances because they aren't responding as healthy to the ASG.

[2018-04-12 16:53] huang-jy commented on #4979
Thanks for the cluster definition. I'll take a look at that (nothing jumps out at me at being wrong though).

Are you familiar with suspending processes on autoscaling groups?

[2018-04-12 16:54] cablespaghetti commented on #4979
Sorry, could you send me a link to instructions?

[2018-04-12 16:57] huang-jy commented on #4979
https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-suspend-resume-processes.html

Suspending all the processes means that AWS will not terminate or spin up new instances on the ASG. This will allow you to get onto the box and grab some logs to help determine the reason it's not coming good.

Just remember to remove the suspension afterwards ;)

[2018-04-12 17:07] Cryptophobia commented on #874
Any chance of a Debian image that is using a new kernel > 4.13? We are running into docker overlayfs obscure bugs that are related to older kernels. We don't want to switch docker to auf storage driver as that is older technology.

https://github.com/moby/moby/issues/19647

[2018-04-12 17:10] Cryptophobia commented on #874
/reopen

[2018-04-12 17:28] Cryptophobia commented on #3196
yes, but we are hitting obscure bugs now with overlayfs and older kernels  `=< 4.13`

https://github.com/moby/moby/issues/19647

[2018-04-12 18:34] ag237 opened #4980 "kops create secret keypair ca seems to not use supplied ca.cert"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

`Version 1.9.0`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

`Version 1.9.6`

3. What cloud provider are you using?

`AWS`

4. What commands did you run?  What is the si

[2018-04-12 18:36] xiru commented on #4557
Just checked using Kops 1.9 final and the configuration of etcd should be something like this:

`  etcdClusters:
  - etcdMembers:
    - instanceGroup: master-us-east-1a
      name: a
      volumeType: io1
      volumeIops: 500
      volumeSize: 100
    - instanceGroup: master-us-east-1d
      name: d
      volumeType: io1
      volumeIops: 500
      volumeSize: 100
    - instanceGroup: master-us-e

[2018-04-12 20:06] jacobrandall commented on #4974
I was able to get the kubelet service started and the node back to `Ready` after running:

[code]

after finding https://github.com/kubernetes/kops/blob/bdf0d04b0aa757fb8bf470fb2667bdf6423a93fe/nodeup/pkg/model/directories.go#L42-L43

Going to try using a kops hook to either create a oneshot systemd unit to run those commands, or to add something to `/etc/fstab` and see how that goes.

[2018-04-12 20:25] sanketjpatel commented on #4967
Thanks @huang-jy I will try it next time.

I'm seeing the following logs `kube-apiserver.log`

[code]

`kube-scheduler.log`
[code]

`kube-controller-manager.log`
[code]
Seems like it's not accepting connections on `127.0.0.1:443`. What would be a good place to look up documentation to fix this? I think it has something to do with the certificates

[2018-04-12 20:32] sanketjpatel commented on #4967
Some more context around these errors, I wanted to install Istio. So followed these steps on an already running cluster...

```kops edit cluster $CLUSTER```

Added following in the configuration file just opened:

[code]
[code]
Master was terminated and a new master instance was brought up, and these same errors started showing up

[2018-04-12 20:34] sanketjpatel commented on #4967
Aaah, I see the ```failed to initialize admission: Unknown admission plugin: MutatingAdmissionWebhook```.

Going through https://kubernetes.io/docs/admin/admission-controllers/

[2018-04-12 20:35] donbecker opened #4981 "Private cluster with specified access CIDR missing from ELB?"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

1.8.1

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

client: 1.9.6
server: 1.8.7

3. What cloud provider are you using?

aws

4. What commands did you run?  What is the si

[2018-04-12 22:06] donbecker commented on #4981
I was missing the `--api-loadbalancer-type=internal` flag on create.

[2018-04-12 22:06] #4981 closed

[2018-04-13 00:19] BillyMorgan opened #4984 "Upgrading with 1.9 results in invalid aws_eip terraform config"
1. What `kops` version are you running? The command `kops version`, will display
 this information.
Version 1.9.0 (git-cccd71e67)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.4", GitCommit:"9befc2b8928a9

[2018-04-13 07:57] gianrubio commented on #4975
The default Kops installation already deploy etcd with metrics in prometheus format. Despite this could be a security risk, you could change firewall rules, opening ports 4001 and 4002 in the master node allowing traffic from the nodes. Another way to monitor etcd is running a prometheus instance in the master nodes, I'd recommend you to read [this thread
](https://github.com/coreos/prometheus-ope

[2018-04-13 09:10] jeyglk commented on #4972
Same issue here:

[code]

We should be able to input the MFA.

[2018-04-13 09:17] jeyglk commented on #4972
Actually this is a duplicate of https://github.com/kubernetes/kops/issues/226

[2018-04-13 10:46] cablespaghetti commented on #4979
Unfortunately the machine never gets to a proper running state; it just goes straight to Stopped. So even with Termination turned off in the ASG I still can't log in to the machine. This makes sense if it's a filesystem limitation or similar.

[2018-04-13 10:58] huang-jy commented on #4979
Check the events on the Autoscaling group see if there's any indication why.

Also, try using different values for the filesystem size. Maybe there is a limitation elsewhere.

[2018-04-13 11:14] prat0318 commented on #2294
@kenden Can another workaround for this issue can be to define `--network-cidr` as a subset of the `<vpc-id>`'s cidr which i am sure there is no subnet created in yet. Won't that be much cleaner than manually assigning subnets CIDR each time?

[2018-04-13 11:16] prat0318 commented on #4462
@omerh Did you figure out a workaround for this? One workaround for this issue is to `kops edit` and manually edit the subnet CIDRs. But i think a better way can be to define `--network-cidr` as a subset of the <vpc-id>'s cidr which i am sure there is no subnet created in yet. Thoughts?

[2018-04-13 14:43] jnicholls commented on #367
Can we reopen this? I think it's pertinent for kops to support placement groups for node groups (both cluster and spread variants).

[2018-04-13 15:48] rajatjindal opened #4986 "cannot resolve external name services after upgrading kubernetes from 1.8.5 to 1.9.6"
1. What `kops` version are you running? The command `kops version`, will display
 this information.
Version 1.9.0 (git-cccd71e67)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

v1.9.6

3. What cloud provider are you using?
AWS

4. What commands did you run?  What is the s

[2018-04-13 15:50] rajatjindal commented on #4986
Once i created the configmap https://gist.github.com/rajatjindal/42ef389787bc4fad1f9f506f6d0c51c0 for kube-dns, it started to work.

But I am guessing more people will run into this issue after upgrading their clusters. and I am not sure what the root cause is, therefore reported the issue

[2018-04-13 16:06] lheinlen commented on #4986
I ran into the same issue and followed the same steps to resolve it.

[2018-04-13 16:26] donbecker commented on #4847
@eisig I'm doing just that. One TF directory to create the VPC's, peer, etc. Then each cluster is created in the existing peered VPC. Still working out issues with (potentially) VPC routes.

[2018-04-13 17:05] donbecker opened #4987 "vpc peering support for private clusters"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

1.8.1

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

client: 1.9.6
server: 1.8.7

3. What cloud provider are you using?

aws

4. What commands did you run?  What is the si

[2018-04-13 17:15] ayk33 commented on #4975
@gianrubio Which of the two options above would you recommend? Opening up the firewall or moving the prometheus installation to the master nodes of the cluster?

[2018-04-13 17:38] donbecker commented on #2214
+1 on this, managing clusters from an existing VPC and supplying kops with a new, empty VPC to manage all objects within seems to be a pattern people are trying to follow

[2018-04-13 17:41] donbecker commented on #4987
I have found [this blog post](https://ben.straub.cc/2015/08/19/kubernetes-aws-vpc-peering/#the-solution-band-aid) mentioning that 10.0.0.0/8 is hardcoded in k8s somewhere.

My admin VPC is 10.0.0.0/16, so I'm recreating the admin VPC as 11.0.0.0/16 to see if it has any effect.

[2018-04-13 17:51] andrewsykim commented on #2150
For anyone interested, on kops 1.9 you should be able to build a working Kubernetes cluster on DigitalOcean with kops. More details here https://github.com/kubernetes/kops/blob/master/docs/tutorial/digitalocean.md#getting-started-with-kops-on-digitalocean

[2018-04-13 18:24] donbecker commented on #4987
I believe I've found where my VPC's were misconfigured.

My admin VPC route table had the correct route over to the peered cluster VPC.

However, I was incorrectly adding a route to the cluster api route table to the admin VPC.

Instead, I needed to add a route to all cluster private route tables (one for each subnet) to the admin VPC.

[2018-04-13 18:24] #4987 closed

[2018-04-13 18:32] donbecker opened #4988 "Network CIDR restrictions with kops / k8s"
[This blog post](https://ben.straub.cc/2015/08/19/kubernetes-aws-vpc-peering/#the-solution-band-aid) which points to [this issue](https://github.com/kubernetes/kubernetes/issues/11204) regarding kubelet and masquerade being hardcoded to 10.0.0.0/8.

Is this currently an issue in k8s, and therefore kops?

If so, and we are using a dedicated private VPC for a cluster, should we specify the CIDR of t

[2018-04-13 18:46] tavisma commented on #4988
I haven't encountered this (pre kops 1.9.0)
We have several private VPCs we deploy kube into, each with custom CIDR blocks

You may want to pose this question in the chat room:
https://gitter.im/hashicorp-terraform/Lobby

[2018-04-13 20:14] wanghong230 opened #4989 "kops failed with Could not retrieve location for AWS bucket when do cross-account role profile in EC2 instance"
------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.8.1 (git-94ef202)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

kubenetes 1.10. I am installing, so it i

[2018-04-13 20:16] vietwow commented on #2214
+1 this. We have old legecy system that need to routing to K8s

[2018-04-13 21:58] HerrmannHinz commented on #3912
@mikesplain this looks good. solves the problem. thanks :)

[2018-04-14 04:43] #4967 closed

[2018-04-14 07:15] JorgeCeja commented on #2150
Awesome work! This made my day! I will initially help by testing it. I am ok with go, but if you have any resources or help on how to approach one of these problems, in general, it will be very helpful. From there I can go ahead and give them one of them a shot (I am looking into tacking support for multiple masters). Thanks!

[2018-04-14 13:07] klausenbusk opened #4995 "DO: Delete cluster delete NS recrods"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

`Version 1.9.0 (git-cccd71e67)`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

Not relevant

3. What cloud provider are you using?

DigitalOcean

4. What commands did you

[2018-04-14 13:17] klausenbusk opened #4996 "DO: Update machine type"
DigitalOcean did announce new droplet plans some time ago (https://blog.digitalocean.com/new-droplet-plans/), we should update the code to use the new droplet plans:
https://github.com/kubernetes/kops/blob/7a2ff89d77a77667c556663db05557f6ada026cc/upup/pkg/fi/cloudup/populate_instancegroup_spec.go#L36
https://github.com/kubernetes/kops/blob/7a2ff89d77a77667c556663db05557f6ada026cc/upup/pkg/fi/cloud

[2018-04-14 13:43] klausenbusk opened #4997 "Reduce default ETCD volume size and/or make it easy configurable"
1. Describe IN DETAIL the feature/behavior/change you would like to see.

The default ETCD volume size at the moment is 20GB: https://github.com/kubernetes/kops/blob/dc4a1a35b627f699a1c515790950c117919b84ca/pkg/model/master_volumes.go#L38
Which I think is way overkill for most clusters and a waste of money (DO example: 3 masters * 20GB disk * 2 * 0,1 = 12$/month). Lets change it to something more

[2018-04-14 14:18] klausenbusk opened #4998 "DO: Drop hostname override"
Right now according to the code, we override the hostname on DO with the private ip:
https://github.com/kubernetes/kops/blob/7b601e60d41c0d589d592af3407d2b7a96c711e7/upup/pkg/fi/nodeup/command.go#L364-L377

I assume it wasdone, as the hostname isn't resolvable? The KubeletPreferredAddressTypes was changed ~ 1 year ago, so apiserver -> node traffic should work nevertheless. https://github.com/kuber

[2018-04-14 14:28] klausenbusk opened #4999 "DO: Setup cloud firewall"
1. Describe IN DETAIL the feature/behavior/change you would like to see.

When creating a cluster on DO, we should setup a restricted [cloud firewall](https://www.digitalocean.com/products/cloud-firewalls/).

2. Feel free to provide a design supporting your feature request.

https://github.com/poseidon/typhoon/blob/ef18f19ec4f844689566561cc8f38edc21afed32/digital-ocean/container-linux/kubernetes/n

[2018-04-14 14:36] klausenbusk commented on #4998
Hmm, the change was done recently https://github.com/kubernetes/kops/pull/4880 .. Maybe I'm missing something?

[2018-04-14 14:45] klausenbusk opened #5000 "DO: Figure out a safer way to distribute DO_ACCESS_TOKEN"
1. Describe IN DETAIL the feature/behavior/change you would like to see.

The `DIGITALOCEAN_ACCESS_TOKEN` is currently embed in the droplets user-data, which from a security perspective isn't ideal, as the user-data is freely available from every single pod in the cluster (`curl http://169.254.169.254/metadata/v1/user-data`) **Edit:** I'm not 100% sure about this, as I did test on a `bootkube` clu

[2018-04-14 19:43] saptak opened #5001 "Deploying and Managing EKS clusters"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
Version 1.9.0
2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes vers

[2018-04-14 20:39] stormmore opened #5002 "Problem upgrading from 1.8.7 to 1.9.3 using kops 1.9.0"
1. What `kops` version are you running? The command `kops version`, will display
 this information.
[code]
2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
[code]
3. What cloud provider are you using?

AWS

4. What commands did you run?  What is the simplest way to reproduce

[2018-04-14 21:02] kaazoo opened #5003 "Changes to spec.api.loadBalancer.additionalSecurityGroups are not properly executed"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
Version 1.9.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes ver

[2018-04-14 21:08] kaazoo commented on #3350
This still doesn't seem to be fixed. In private VPC setup, `additionalSecurityGroups` still only configures the security groups on the bastion instance, not the bastion ELB.

[2018-04-14 21:59] #927 closed

[2018-04-14 22:14] klausenbusk opened #5004 "Deprecate etcd event cluster"
1. Describe IN DETAIL the feature/behavior/change you would like to see.

According to @chrislovecnm the etcd event cluster isn't needed anymore, but as it is legacy thing it is hard to remove.

2. Feel free to provide a design supporting your feature request.

Add logic so new clusters is created without a etcd event cluster, but still support old cluster with a etcd event cluster.

[2018-04-15 01:38] andrewsykim commented on #4998
@klausenbusk The hostname overrides are also used because the droplets that run kubernetes nodes are assigned the same name and so by default, they all try to register with the apiserver with the same name since kubelet uses hostname as the node name by default.

[2018-04-15 01:45] andrewsykim commented on #4995
@klausenbusk the NS records shouldn't be deleted unless you've configured the NS record to contain your cluster name which I'm guessing you did in this case. It shouldn't be if you use the default NS servers created when you created your domain. Updating kops to ignore NS records for subdomains seems fine to me though.

[2018-04-15 01:47] andrewsykim commented on #4999
I think this should be handled by the DO CCM, just a matter of doing the work at this point :)

[2018-04-15 01:51] klausenbusk commented on #4998
Oh, hmm.. If you for whatever reason need to SSH to a (or multiple) node for debugging purpose you gonna get confused. Wouldn't it be more ideal to numbering them?

[2018-04-15 01:55] klausenbusk commented on #4995
Correct, I have delegated a subdomain of a Cloudflare managed domain to DigitalOcean.

[2018-04-15 01:56] andrewsykim commented on #4995
Noted, I'll open a PR soon that will ignore records of type NS to avoid this case

[2018-04-15 02:02] andrewsykim commented on #4998
Yeah that's a good point which was why originally I was thinking about naming droplets by their public IPs instead so for SSHing purposes you wouldn't need to map private IPS back to droplet's public IPs. However, this is also consistent with the way kops assigns names for AWS/GCP (naming nodes after their private IPs) so figured I'd keep things consistent. fwiw, if you run `kubectl get no -o wide

[2018-04-15 02:15] klausenbusk commented on #4998
Naming them after their private ip sounds fine to me, although I generally find it easier to track servers after a meaningful hostname (`k8s-worker-N`) instead of similar-looking IP addresses.

[2018-04-15 02:31] andrewsykim commented on #4996
Ended up using `s-2vcpu-2gb` I think at the price point it's worth having that extra vCPU ;)

[2018-04-15 02:34] andrewsykim commented on #4998
Yeah that's a fair point, I avoided unique names for droplets since in the future I'd like to experiment with artificial autoscaling groups on droplets using CRDs and in the implementation I didn't want to worry about what names to give droplets 😆

[2018-04-15 06:26] dobesv commented on #893
/reopen

https://github.com/kubernetes/kops/blob/master/dns-controller/pkg/watchers/service.go#L156

[2018-04-15 14:15] #3297 closed

[2018-04-15 20:36] #4996 closed

[2018-04-16 00:27] andrewsykim commented on #5004
Thread: https://kubernetes.slack.com/archives/C8MKE2G5P/p1523721679000164

[2018-04-16 00:30] andrewsykim commented on #4999
/close

[2018-04-16 00:30] #4999 closed

[2018-04-16 00:44] andrewsykim commented on #4998
/close

[2018-04-16 00:44] #4998 closed

[2018-04-16 01:05] #4451 closed

[2018-04-16 02:14] andrewsykim commented on #5004
It seems like this is actually doable by removing `events` from [here](https://github.com/kubernetes/kops/blob/master/upup/pkg/fi/cloudup/populate_cluster_spec.go#L43) and this would only be applied for new clusters since we only read those values when we write the initial cluster spec [here](https://github.com/kubernetes/kops/blob/master/cmd/kops/create_cluster.go#L630-L651). I'm not sure  if we

[2018-04-16 05:01] #4995 closed

[2018-04-16 07:32] #1609 closed

[2018-04-16 08:54] vainu-arto commented on #2354
This apparently no longer works in kops 1.9, the secrets are not read from S3 even though "kops get secrets" lists them just fine.

[2018-04-16 11:02] vicenteampliffy commented on #2354
It's not working for me either

[2018-04-16 11:05] vainu-arto commented on #2354
In my understanding support for this was removed by PR #3835.

[2018-04-16 11:12] vicenteampliffy commented on #2354
I didn't see this coming. Maybe should be reflected in the release notes of kops 1.9 as a breaking change. I'm strugling to create certificates for the users, using @activeshadow comments, and in the meanwhile, I've done the changes manually in the .csv to keep everyone happy until I manage a problem I'm having with the certificates.

Currently, the api server rejects the user's certificate I've c

[2018-04-16 11:46] vicenteampliffy commented on #2354
Ok, solved, the problem was in the `- server auth` line, which should be `- client auth`.

Just for anyone referencing it, the script should be something like:
[code]

[2018-04-16 11:49] vicenteampliffy commented on #2354
Just closing up: as stated before, it would be nice that the secrets change was reflected in the release notes of kops 1.9 as a breaking change.

[2018-04-16 11:52] activeshadow commented on #2354
@vicenteampliffy glad you figured out the `server/client auth` requirement. Can you elaborate on how the change to secrets management is a breaking change?

[2018-04-16 11:55] thomasjungblut commented on #4326
I do have the same issue using Kops 1.9 and creating a brand-new cluster (calico as the network provider).

[2018-04-16 11:57] vicenteampliffy commented on #2354
@activeshadow well, kops 1.8 populates the /srv/kubernetes/known_tokens.csv with the files stored in the s3 secrets directory, but with kops 1.9 it's no longer so, as @vainu-arto has pointed before:

[2018-04-16 11:58] vainu-arto commented on #2354
@activeshadow All previously created user accounts in the cluster are now gone, and the method used to create them is no longer supported. Authentication needs to be redone from the ground up. I would consider it reasonable to mention this in the release notes...

[2018-04-16 12:05] activeshadow commented on #2354
@vicenteampliffy @vainu-arto got it, thanks! So to be clear, all user accounts previously created by adding them to the `known_tokens.csv` file no longer exist when upgrading to 1.9, and instead need to be added via the CSR method?

I would think users added via the CSR method before the upgrade to 1.9 would still be operational, but I suspect you were adding all of them via the `known_tokens.csv`

[2018-04-16 12:08] vainu-arto commented on #2354
Indeed, I should have qualified that statement. "All previously created token user accounts" or something like that. For someone using token auth and not using cert auth the end result is the same, though.

[2018-04-16 12:10] vicenteampliffy commented on #2354
Just for completeness, I understand you may gain some of the previous functionality using this kops feature and just maintaining your known_tokens.csv file yourself:
https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#fileassets

But I don't feel it's the way to go: if you mess it up you may end with a non-functional cluster, and everything seems to be pushing for Certificates.

[2018-04-16 13:06] ma-sattari opened #5007 "Is it possible to assign Elastic IP to nodes(master/slave) during Kubernetes cluster creation in AWS?"
Hi,

My backend services in K8s cluster on AWS need to connect to an external resources from a partner. However,  the partner requires us to prepare a list of fixed IPs to permit our access.

AFAIK I cannot change the IP address of nodes after built because the connection between the nodes will be lost. I was wondering if there is a method to assign Elastic IP to nodes during the cluster creation

[2018-04-16 13:14] MaSattari commented on #3182
We also need this feature, That would be great if we could have this.

Thank you.

[2018-04-16 13:34] bilalyasar commented on #4463
@justinsb does kops 1.9 take care of etcd 3 upgrade?

[2018-04-16 13:54] MilanDasek opened #5008 "Unable to create cluster"
Hello,

I am trying to start new cluster in AWS - existing VPC, new subnets, DNS (Route53 public zone)

1. What `kops` version are you running? The command `kops version`, will display
 this information.
Version 1.9.0 (git-cccd71e67)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops

[2018-04-16 15:24] jbialy commented on #1517
/reopen

[2018-04-16 15:32] stonefury commented on #4975
Thank you @gianrubio.  Yep, those ports work fine.

[2018-04-16 15:32] #4975 closed

[2018-04-16 17:48] bradenwright commented on #3927
Any updates on this, 1.9 is out and I would really like to use this feature but haven't been able how to configure in kops

[2018-04-16 18:06] jordanjennings commented on #3927
@bradenwright You can pretty easily enable this feature by adding some configuration to your kops manifest:

[code]

[2018-04-16 20:27] BillyMorgan commented on #4984
Awesome, thanks, this fixed the issue for me. Would probably be a good idea to add a note regarding this to the docs somewhere, maybe in the upgrade readme? Anywhoo, thanks again!

[2018-04-16 20:27] #4984 closed

[2018-04-16 20:39] tavisma opened #5009 "Terraform files generated by kops 1.9.0 need AWS provider version constraint"
Looks like the Terraform AWS provider only supports EIP tags starting from version 1.7.0 (https://github.com/terraform-providers/terraform-provider-aws/blob/master/CHANGELOG.md)
Which are used by default in kops 1.9.0

The .tf generated by Kops wont upgrade the AWS provider module by default.
If you have a Terraform working directory generated before the release of 1.7.0 you wont be able to access

[2018-04-17 05:40] julienla opened #5011 "Issue configuring insecure registry access with kops"
Hi,

1. What `kops` version are you running?
1.8.1

2. What Kubernetes version are you running?
1.10.0

3. What cloud provider are you using?
AWS

4. What commands did you run?  What is the simplest way to reproduce this issue?
I created an external plain HTTP docker registry following the procedure in this link:
[https://docs.docker.com/registry/deploying/#run-a-local-registry](https://docs.docke

[2018-04-17 07:39] huang-jy commented on #5003
Try deleting the ELB and letting kops recreate it with the next update.

[2018-04-17 07:57] gwkunze opened #5013 "Feature Proposal: Additional CloudFormation resources"
We're currently using the CloudFormation target to generate our clusters but we want our cluster to come with some extra resources not contained within the stack.

For example, we use [kube2iam](https://github.com/jtblin/kube2iam) and we need at least two IAM roles for any cluster, these roles need to be assumable by the instance role of our nodes. To make these roles assumable we need a reference

[2018-04-17 08:25] dezmodue commented on #4218
@chrislovecnm is it ok to close this issue since 4417 is released with 1.9.0 ?

[2018-04-17 10:48] gwkunze commented on #5013
To give an example, a cluster spec would look something like this:
[code]

Another potential addition would be the ability to specify CF outputs, allowing you to create an exported value that's usable in other stacks.

[2018-04-17 11:24] lambertpan opened #5015 "kops toolbox template - produces 'empty' clusterName in the output file"
1. What `kops` version are you running?
    1.8.1

2. What Kubernetes version are you running?
   "1.8.4"

3. What cloud provider are you using?
    aws

4. What commands did you run?  What is the simplest way to reproduce this issue?
   kops toolbox template --values dev.yaml --template cluster.yaml

5. What happened after the commands executed?
-  The command couldn't replace the {{.clusterName}

[2018-04-17 14:51] bradenwright commented on #3927
@jordanjennings thanks for the reply, I should have been a little more clear.  I'm not sure how to setup the config.  So I was trying to set:
[code]

but have not been able to get `kops edit cluster` to save, it doesn't like what I've tried.

[2018-04-17 15:00] volkertb opened #5018 "Dangerous assumption in README.md of kube-ingress-aws-controller about the default VPC"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
Version 1.9.0 (git-cccd71e67)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide th

[2018-04-17 15:04] jordanjennings commented on #3927
@bradenwright I wasn't aware that kops directly supported this at all, so I'm not sure about that syntax you're using.

In my case I was looking to set up dedicated nodes for a particular namespace, so I set up taints on an instance groups using kops, and then I set up the toleration restriction and node selector using annotations on the namespace. So if a namespace doesn't have any annotations it

[2018-04-17 15:11] volkertb commented on #5018
Apparently, the --vpc-id option does not work with "aws ec2 describe-security-groups". For that command, you need to provide a filter instead: --filter Name=vpc-id,Values=<filter-id>

[2018-04-17 15:31] volkertb commented on #5018
It appears that the most crucial command where --vpc-id is missing is "aws ec2 create-security-group". Some of the other "aws ec2" commands will also have to be adjusted accordingly. Using group IDs is safer than group names, since the former are unique across VPCs.

[2018-04-17 15:49] jjo commented on #4986
Ditto here (upgraded 1.8.9 -> 1.9.5 using kops-1.9.0), some `externalName` service was failing to resolve for _internal_ aws DNS RR entries, after adding the `kube-dns` configMap pointing to our internal aws DNS service, it got fixed.

[2018-04-17 16:12] volkertb commented on #5018
Apparently the repo at Zalando does already take into account the possibility of kops not being deployed on the default VPC: https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/deploy/kops.md

[2018-04-17 16:30] pviniciusfm commented on #290
Any updates about this issue?

[2018-04-17 16:49] huang-jy commented on #5008
Do you have more than one VPC in your account?

[2018-04-17 17:09] sonaltr commented on #4190
I am currently trying this out and I get the following error:

[code]

[2018-04-17 17:28] sonaltr opened #5019 "Treat Amazon Linux 2 as CentOS 7"
1. Describe IN DETAIL the feature/behavior/change you would like to see.
Treat Amazon Linux 2 as a CentOS 7 distribution in `nodeup`.

2. Feel free to provide a design supporting your feature request.
Return `DistributionCentos7, nil` if `etc/os-release` has line `Amazon Linux 2` in https://github.com/kubernetes/kops/blob/release/nodeup/pkg/distros/identify.go.

[2018-04-17 17:49] rekcah78 opened #5020 "Kubernetes 1.9 still with k8s-1.8 AMI"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

kops 1.9.0
k8s 1.9.3

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubern

[2018-04-17 18:14] wendorf commented on #4759
I ran into this problem as well. I have the problem when using m3.large, but not when using m3.medium.

I see the following crash when I look at the instance system log in AWS:

[code]

[2018-04-17 18:26] wendorf commented on #4759
@dmcnaught Which instance type were you using? Do you get similar output in the AWS system log?

[2018-04-17 18:35] dmcnaught commented on #4759
I am seeing the problem with the m3.large. Same error in the instance system logs.

[2018-04-17 18:36] dmcnaught commented on #4759
I hadn't narrowed down to understanding that it was a problem with a particular instance type, but I remember now I didn't see the problem with c4.xlarge.

[2018-04-17 20:02] bradenwright commented on #3927
@jordanjennings thans for replying, I may just have to go with that for now.  My worry is that if a new namespace is created we have to then remember to add above to a namespace, I was hoping to set a default for the cluster.

I've found some documentation: https://kubernetes.io/docs/admin/admission-controllers/#podnodeselector (anchor isn't working may want to search for PodNodeSelector) and http

[2018-04-17 20:32] sidhartanoleto commented on #2537
I am having the exactly same behavior on AWS.

I have ~10 nodes and on some of them the node cannot be drained and gets stuck on SchedulingDisabled state. All the pods inside this node is being evicted however it doesn't complete. When I terminate the instance manually it continues and goes on.

I notice that the only pods left on those nodes are managed by DaemonSets. Maybe that is somehow relate

[2018-04-17 20:54] valdisrigdon commented on #290
https://github.com/kubernetes/kops/pull/4799 should fix this.

[2018-04-17 22:59] jacobrandall commented on #4974
For now, we've added the folloing hook to the cluster spec to work around this, but I figure there's a better way to do this that would be built in to kops:

[code]

[2018-04-18 00:53] hh opened #5021 "Support Advance Auditing Webhook Config File"
Enabling audit-webhook at a mininum requires configuration file passed to [--audit-webhook-config-file](https://kubernetes.io/docs/reference/generated/kube-apiserver/)

I Suggest adding AuditWebhookConfigFile as a config option to enable the following:

[code]

There are related apiserver cmdline options that might also need consideration:

[code]

[2018-04-18 01:13] #3876 closed

[2018-04-18 02:42] alienth commented on #4533
The kernel *should* be expiring stale arp entries. Seems like the bug which was referenced in https://forums.aws.amazon.com/thread.jspa?messageID=572171 wasn't actually forwarded onto the kernel devs?

[2018-04-18 02:50] alienth commented on #4533
Worth noting: If you're getting `neighbor table overflow!` log entries, this indicates that even after a synchronous GC of the ARP table, there was not enough room to store the neighbour entry. In this event the kernel just drops the packet entirely. The specific threshold you're hitting there is `gc_thresh3`.

Perf issues abound when this happens because the neighbour table is locked while the sy

[2018-04-18 04:15] huang-jy commented on #4280
/close

[2018-04-18 04:15] #4280 closed

[2018-04-18 08:40] kumudt commented on #4549
Facing a similar error.
I tried downgrading the cluster to 1.7 as well using kops 1.8 and the issue persisted.
I think it's related to the kube-proxy QoS change in 1.8 which is burstable now and I believe it was BestEffort before.
Any workarounds for this?

[2018-04-18 08:45] antimack commented on #4549
@kumudt not sure if it can help you but I have just restarted master nodes in a rolling manner one by one and the problem has gone

[2018-04-18 08:57] vicenteampliffy commented on #5007
Hi,

You could create a deployment which launches a POD who does what you need. That's exactly what I'm doing myself: I select the node where this POD is running and assign it an EIP. If the POD restarts, then it reassigns the EIP again to the current POD's node. Just be careful to not do too much reassignments, as Amazon will charge for an excess of reassignments.

Hope that helps.

[2018-04-18 09:17] FrederikNS commented on #4986
The issue seems to be due to kube-dns version 1.14.9, see kubernetes/dns#224 and #4851.

I just upgraded our kube-dns to 1.14.10 using the same method mentioned in #3512, which fixed our issues with externalName.

[2018-04-18 09:25] annismckenzie commented on #5007
@vicenteampliffy we were thinking of creating a DaemonSet of an ElasticIP reconciler that works exactly like that. Why did you choose a deployment instead? Are you targeting one node specifically? I'd imagine using a DaemonSet with an optional node selector would work better. But your usecase is probably confined to doing that on a single node.

@MaSattari you can't do that during cluster creation

[2018-04-18 09:38] vippujain commented on #2130
/lifecycle frozen

[2018-04-18 09:42] vicenteampliffy commented on #5007
@annismckenzie , yes, we only need one node with the EIP. I guess, if you need to keep a list of EIPs, then it's better to have a Daemonset with some logic to assign the correct IPs to the correct Nodes.

[2018-04-18 10:51] HerrmannHinz commented on #5018
@volkertb feel free to raise a PR and adjust the docs?

[2018-04-18 10:55] HerrmannHinz commented on #5018
will adjust the docs. already working on it.

[2018-04-18 10:56] steven-cherry opened #5024 "Can't join an on-premise worker node to a kuberentes cluster created in AWS using KOPS"
Hi, I'm attempting to join an on-premise bare metal worker node to a Keberentes cluster created in AWS using KOPS.
We have a VPN link between our on-premise data centre and AWS, traffic flows freely between our VPC's and our internal on-premise network without restriction.
I'm able to generate a bootstrap token using kubeadm, yet when I come to using it during the join process I get an 'unauthoriz

[2018-04-18 11:49] styk-tv commented on #4918
@chrislovecnm ok so 1.9 no difference however... i just realized what the problem is at scale. so launch of 100 nodes in single instance groups gave me always about half nodes working (rest was failing),

i use internal registry with registry proxy and half of them didn't work (nodes showing fine, deploying fine) so finally i logged in to the nodes not working and i cant ping the master from one w

[2018-04-18 12:53] alex-percayso commented on #595
I have two clusters and I am trying to change the pod IP ranges also, has anyone figured out how?

[2018-04-18 12:58] sonaltr commented on #4190
@chrislovecnm I don't see Amazon Linux 2 [here](https://github.com/kubernetes/kops/blob/master/nodeup/pkg/distros/identify.go). Am I looking at the wrong place? or can I send a pull request?

I added it [here](https://github.com/sonaltr/kops/blob/5019/nodeup/pkg/distros/identify.go#L100-L102) today. Can I send this as a pull request?

[2018-04-18 13:03] MilanDasek commented on #5008
yes, but I do specify ID in config

[code]

[2018-04-18 13:36] xrl commented on #5001
Kops is for managing/operating kubernetes clusters. EKS is also for managing/operating kubernetes cluster. EKS does all the master management and authorization, it's a more "managed" service than Kops.

What benefit would you have for using Kops with EKS?

[2018-04-18 14:06] MilanDasek commented on #5008
I am not sure what do you mean?
I have SG attached VPC (because I am running another Kube cluster on 2 different subnets)
This new Kube is creating new subnets
subnets:
  - cidr: 10.2.4.0/24
    name: eu-central-1a
    type: Public
    zone: eu-central-1a
  - cidr: 10.2.5.0/24
    name: eu-central-1b
    type: Public
    zone: eu-central-1b

the error seems local anyway - 127.0.0.1
Error: error qu

[2018-04-18 14:09] styk-tv commented on #4918
KOPS: 1.9
K8S: v1.9.0

@chrislovecnm so above assumption was incorrect. it is not related to network topology. with /24 i get the following for my 106 nodes.

[code]

so Validate did work and its not bug in the validate. Validate actually did validate correctly that the nodes did not have a condition satisfied, however its not helping me in figuring out why.  40 nodes almost always work. anything

[2018-04-18 15:04] volkertb commented on #5018
@HerrmannHinz I'm afraid that the information you added is incomplete. This issue does not only arise when you have installed kops into an existing VPC. It also arises when a default VPC already exists when you start setting up a cluster with kops, since kops will then create a non-default VPC to install the cluster on. In that scenario, the same problem will occur if the cluster-specific VPC is n

[2018-04-18 21:05] dmcnaught opened #5033 "autoscaling with k8s 1.9.6 (created with kops 1.9.0) seems to need the metrics-service (docs say only needed for multiple metrics)"
1. What `kops` version are you running? The command `kops version`, will display
 this information.
[code]
2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
[code]
3. What cloud provider are you using?
[code]
4. What commands did you run?  What is the simplest way to reproduce

[2018-04-18 22:13] spiffxp commented on #2750
/remove-help
I don't think this meets [the criteria for `help wanted`](http://git.k8s.io/community/contributors/devel/help-wanted.md). Please add back via `/help` if I'm incorrect

[2018-04-18 23:21] treacher opened #5035 "kops validate cluster no longer works through SSH tunnel."
1. What `kops` version are you running? The command `kops version`, will display
 this information.
1.8.1
2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.
1.8.11
3. What cloud provider are you using?
AWS
4. What commands did you run?  What is the simplest way to reproduce thi

[2018-04-19 01:04] madeddie commented on #5015
I have the same problem running kops version 1.9.0 (installing k8s 1.8.7).

[2018-04-19 01:07] mostlyAtNight opened #5037 "No change made in Route 53"
I have been scratching my head for hours yesterday trying to get this to work:

TL;DR: I set up the plugin according to the guide inc. permissions.  When I create my service/deployment, no Route53 records are created and there's no error message.

Please see details below.

Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE -

[2018-04-19 03:18] dobesv opened #5038 "validate_cluster ignoring node with role "spot-worker""
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.9.0 (git-cccd71e67)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide t

[2018-04-19 06:03] sekka1 opened #5039 "GCP - Support preemptible instance types"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.9.0 (git-cccd71e67)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide t

[2018-04-19 06:49] MilanDasek commented on #5008
Oh, and make sure your CIDR matches or is a subset of the CIDR of your VPC

[MD]: yes, correct.

I have to clarify. Nodes are created and DNS is updated accordingly for nodes (10.x.x.x). Only api DNS is not. Protokube cannot start on masters - with the error above.

I also have to say I have created working cluster many times before using same config. Just lower kube version and without some new f

[2018-04-19 09:57] azman0101 commented on #5020
As stated in https://github.com/kubernetes/kops/blob/master/docs/images.md,

`kope.io => 383156758163`

The image `k8s-1.9-debian-stretch-amd64-hvm-ebs-2018-04-11` you mentioned is owned by 487596255802.

Is this an official account ?

Regards

[2018-04-19 11:01] thomasjungblut commented on #5020
The base image doesn't matter so much for the actual installation, all the relevant k8s pieces are installed through nodeup and they come up just fine and report 1.9.3. But I agree, it's confusing for people that don't know that implementation detail.

[2018-04-19 12:22] styk-tv opened #5040 "AWS Storage Gateway (S3) with K8S NFS-Provisioner"
K8S NFS-Provisioner: https://github.com/kubernetes-incubator/external-storage/tree/master/nfs

AWS Storage Gateway: https://aws.amazon.com/blogs/aws/file-interface-to-aws-storage-gateway/

It would be such a cool addition if we had ability to provision nfs volumes from pods directly onto s3. It seems with few terraform scripts automating storage gateway and already existing and proven component in

[2018-04-19 13:38] sonaltr commented on #5019
PR accepted. Issue Closed.

[2018-04-19 13:38] #5019 closed

[2018-04-19 13:55] thomasjungblut commented on #4559
anyone tested this with upgrading from k8s 1.8(.4) to 1.9(.3) using the respective kops versions?
My calico is still stuck on 2.6.6 and didn't bother to update.

[2018-04-19 13:57] mikesplain commented on #4559
@thomaschaaf what version of kops are you using? Kops 1.9 changed calico to do a rolling update which should resolve your problem.

[2018-04-19 13:58] thomasjungblut commented on #4559
I created a cluster using Kops 1.8.1 then did the usual upgrade procedure with newly released Version 1.9.0.
So we would probably need to patch the rolling upgrade in first and then it should trigger just fine.

[2018-04-19 14:04] mikesplain commented on #4559
Hmm that should auto updated. Does your calico config include this section?

https://github.com/kubernetes/kops/blob/cccd71e67e681754759c5cf7f66850d8908613b6/upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.7.yaml.template#L126-L129

[2018-04-19 14:06] thomasjungblut commented on #4559
if I create a new 1.9 cluster from scratch yes, The old ones in 1.8.4 still run with:
[code]

[2018-04-19 15:37] davidweizheng opened #5043 "Kops always creates new master volumes unattached"
I try to make simple change to the cluster (for example, modify cloudLabels), it appears that kops always creates new ebs volumes for master nodes and leave them unattached.

1. What `kops` version are you running? The command `kops version`, will display
 this information.
`Version 1.8.1 (git-94ef202)`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a clu

[2018-04-19 15:57] styk-tv commented on #5043
may depend on type of instance, some instances are ebs only and will always create ebs volume. https://aws.amazon.com/ec2/instance-types/ terraform will simply iterate with detail over what's happening.

[2018-04-19 16:17] davidweizheng commented on #5043
My question is why it creates new/unused volumes while volumes for master nodes already exist. After kops update completes, I have to manually delete those new volumes. Am I the only one that has this issues?

[2018-04-19 16:39] ameena007 opened #5044 "Unable to configure the apiServer setting via kops edit cluster command"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.8.1 (git-94ef202)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the

[2018-04-19 19:23] montyz opened #5045 "VPC additional CIDRs not allowed"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.9.0 (git-cccd71e67)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.1", GitCommit:"d4ab47518

[2018-04-19 19:27] Mahendra-Shivaswamy-Devops opened #5046 "Update the README: kops#compatibility-matrix"
Update the README
https://github.com/kubernetes/kops#compatibility-matrix
kops version 1.9.x is indicated as unreleased in the README.
Even though 1.9.x is released.

Thanks,
Mahendra

[2018-04-19 20:50] davidarcher commented on #2430
Changing EOL chars in my YAML from Windows CRLF to Unix LF fixed it for me.

[2018-04-19 21:05] rdrgmnzs commented on #4632
I'm also getting hit by this, removing an IG from the config and doing a replace does not remove the IG.

[2018-04-19 23:38] chotiwat opened #5047 "Support docker ce 18.03"
------------- FEATURE REQUEST TEMPLATE --------------------

1. Describe IN DETAIL the feature/behavior/change you would like to see.

    My team wanted to use docker's multi-stage build which is available on docker >= 17.05. We had tried docker 17.09 by specifying it in the kops cluster config but after the switch we started seeing pods stuck in terminating state because their container could no

[2018-04-20 00:01] mikesplain commented on #5046
It will be, just waiting on a PR to be merged 😄

https://github.com/kubernetes/kops/pull/4963

[2018-04-20 00:22] ayk33 opened #5048 "Backing up etcd with etcd-manager documentation. Kops 1.9.0"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- FEATURE REQUEST TEMPLATE --------------------
1. Describe IN DETAIL the feature/behavior/change you would like to see.

Hello! I am trying to figure out a good backup scheme for etcd. I noticed that with the release of kops 1.9.0 `etcd-manager` was introduced into the picture. Is there any kind

[2018-04-20 01:22] afpacket opened #5049 "CentOS 7 - centosSystemdSystemPath incompatible with Atomic Host"
------------- FEATURE REQUEST TEMPLATE --------------------

1. Describe IN DETAIL the feature/behavior/change you would like to see.

With CoreOS having been acquired by Red Hat, it seems inevitable that CoreOS/Container Linux will be deprecated in favor of Atomic host - RedHat's equivalent.

I have been testing the use of Atomic host with kops, and one failure I noticed off the bat has to do wit

[2018-04-20 01:28] jcscottiii commented on #5033
I can confirm that I did this with my cluster to get HPA to work.

[2018-04-20 01:47] mikesplain commented on #5033
@jcscottiii @dmcnaught Are you running Heapster? HPA's require either Heapster or custom metrics:

https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/

[2018-04-20 02:05] dmcnaught commented on #5033
@mikesplain yes - I was running heapster in both cases with
[code]

[2018-04-20 03:11] christopherhein opened #5051 "kops Delete Removes New ExecCredential Configurations In Kubecfgs"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

[code]

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version s

[2018-04-20 04:48] xlgao-zju commented on #4127
I'd love to see this feature. 😆

[2018-04-20 08:31] manojgoyal04 commented on #4390
Hi All,
I have the same issue in kubeadm-1.10.0
None of mentioned methods worked for me. After removing --hostname-override from /etc/systemd/system/kubelet.service.d/10-kubeadm.conf  file, atleast able to initialize cluster. Didn't give provide  --node-name.

If i give --node-name=<IP OF NODE> it fails and /varlog/syslog reports following error:

eviction manager: failed to get get summary stats:

[2018-04-20 09:06] thomasjungblut commented on #4559
for anyone else who wants to upgrade, you can patch the daemonset up front. Save below as `calico-patch.json`:

[code]

then just execute the patch directly using the file:

if you need to force rolling update for some reason you can run this:
[code]

[2018-04-20 10:51] MilanDasek commented on #5008
FIXED -

https://github.com/kubernetes/kops/issues/3551
https://github.com/kubernetes/kops/blob/master/docs/releases/1.9-NOTES.md

  authorization:
    rbac: {}

[2018-04-20 10:51] #5008 closed

[2018-04-20 11:30] duckie commented on #4390
@manojgoyal04 `--node-name` must be set to the actual fqdn of the host. A name of your own devising wont work.

[2018-04-20 13:17] MilanDasek opened #5052 "Default ClusterRoles missing"
Hello,

using  KOPS 1.9, when I use
[code]
in the config, new cluster does not start - with error
[code]

When I delete it - cluster starts correctly, but when I try

`kubectl get clusterrole`

default roles are missing: https://kubernetes.io/docs/admin/authorization/rbac/#user-facing-roles
**cluster-admin, admin, edit, view**

please clarify.

Thank you

[2018-04-20 13:26] huang-jy commented on #5008
Good question ^_^ since this cluster is a personal one, I don't have any extra roles set -- maybe they're not added as standard?

[2018-04-20 13:56] itskingori commented on #5033
Sorry if there was any confusion, I wrote the initial docs. How I understood it is that, if you have this ...

[code]

... then it means HPA needs the metrics-server. If that is false, it moves to legacy mode (using Heapster) which is being deprecated. Maybe someone can confirm if this is the case.

---

@dmcnaught did you have `horizontalPodAutoscalerUseRestClients: true`?

[2018-04-20 14:06] itskingori commented on #5033
And this error ...

[code]

... means that it can't access the `APIService` (could be anything really). So the question is why?

To give some context around this. Basically, when you install the metrics-server this should be  applied too:

[code]

Which registers metrics-server on the `metrics.k8s.io` group, version `v1beta1` on the API server. Thereafter you should have something like this:

[cod

[2018-04-20 14:42] dmcnaught commented on #5033
@itskingori I didn't make any changes, or add `horizontalPodAutoscalerUseRestClients: true` to my cluster spec.

Should it be looking for `pods.metrics.k8s.io` when it should be using heapster and not be configured to need metrics-server?

[2018-04-20 14:45] justinsb commented on #5048
Not yet; it will be documented once we have etcd-manger integrated (in kops 1.10): https://github.com/kubernetes/kops/blob/master/docs/etcd/roadmap.md

[2018-04-20 15:00] recollir commented on #4946
Just realised that the same problem affects the kube-proxy, btw.

[2018-04-20 15:04] justinsb commented on #4463
Etcd upgrades are not in kops 1.9, but we're on track for the plan, which is to opt-in to etcd-manager (which will allow upgrades) in kops 1.10: https://github.com/kubernetes/kops/blob/master/docs/etcd/roadmap.md

It's possible today to opt-in to etcd3 for new clusters, using `KOPS_FEATURE_FLAGS=SpecOverrideFlag kops create cluster --override=cluster.spec.etcdClusters[*].version=3.1.11`, and that'

[2018-04-20 15:26] jcscottiii commented on #5033
along with deploying the metrics server, i did add `horizontalPodAutoscalerUseRestClients: true` to my cluster spec.

[2018-04-20 15:44] #4986 closed

[2018-04-20 15:54] itskingori commented on #5033
@dmcnaught Hmmmmm 🤔 ... ok 😅

Seems like [this is what will happen in your case](https://v1-9.docs.kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/) ...

[code]

I haven't taken this approach so my thoughts on it are largely theoretical and a personal interpretation of the documentation.

That said, I'd recommend configuring your cluster with `horizontalPodAutoscalerUseRestClient

[2018-04-20 16:24] dmcnaught commented on #5033
Thanks!
Does `horizontalPodAutoscalerUseRestClients: true` break any integrations that you know of?

[2018-04-20 18:04] 007 commented on #1026
/remove-lifecycle rotten

[2018-04-20 20:11] nicolas-g opened #5054 "Updating ec2 tags should require a rolling update"
[code]

[code]

Using AWS Cloud

steps to reproduce on an existing cluster :
[code]

Kops will do a rolling update by terminating each node 1 by 1.

This is only updating the ec2 node tags , it should be able to do it on the fly while the instances are running and not a rolling instance relaunch.

[2018-04-20 21:01] wendorf opened #5055 "Cannot update weave CONN_LIMIT"
------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

`Version 1.9.0`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

Client Version: 1.10.1
Server Version: 1.9.6

3. Wha

[2018-04-21 01:14] chotiwat commented on #5047
Update: I reproduced the issue again, this time with a debian image `kope.io/k8s-1.8-debian-jessie-amd64-hvm-ebs-2018-02-08`, after running the CronJob for 4 hours. I also enabled debug log for docker daemon and this is what I got from `grep`ing the log with the container id of the first zombie pod:
[code]

I found that the handling of these error messages has been changed since docker 17.12, spec

[2018-04-21 10:12] itskingori commented on #5033
@dmcnaught Not to the best of my knowledge. I'm using it just fine (and in 1.8).

[2018-04-21 21:46] oliverseal commented on #4049
I'm using terraform output to spin up several clusters on AWS and this has been a source of aggravation having to go to each instance and edit the /etc/sysconfig/kubelet file. It's made aws auto scaling groups almost useless.

[2018-04-22 03:50] #2454 closed

[2018-04-22 13:04] kumudt commented on #4836
Same thing is happening for my kops 1.9.0 cluster running k8s 1.9.7
Some logs.
[code]
For me this happened 2 - 3 times before the docker is healthy again. There was a downtime of about 10 minutes.
Is there any workaround for this.
I am using kops debian stretch 1.9 image with docker version 17.3.2

[2018-04-22 17:02] davidweizheng commented on #5043
Looks like a similar issue was reported a year ago - #1339

Any idea?

[2018-04-22 19:40] mercantiandrea commented on #4049
@oliverseal You can modify the user-data bash script in the terraform template. It is encoded in base64 but you can easily decode, modify and finally encode again.

[2018-04-22 19:55] davidweizheng commented on #5043
OK, I think I figured out. It appears that Kops sets the 'Name' tag for etcd volumes like this:
[code]
I accidentally changed the tags to something else, therefore Kops thinks these volumes were missing and tries to create new ones. I fixed the Name tags, now kops update works as expected.

[2018-04-23 01:39] eisig commented on #5054
https://github.com/kubernetes/kops/blob/master/docs/labels.md
ec2 node tags is `cloudLabels`

[2018-04-23 02:02] mattparkes commented on #5020
This image doesn't support M5s though, so it'd be great if ti got updated.

[2018-04-23 05:58] huang-jy commented on #5037
Basic troubleshooting checks.

1. Do you run with more than one aws profile?
2. Are the AWS_ACCESS_KEY and AWS_SECRET_ACCESS_KEY variables populated?
3. Are you using the correct profile
4. Can the profile you're using actually view or see the Route 53 zone?
5. (I've done this) -- have you forgotten to change your profile and actually created the entries in the wrong account? :man_facepalming:

[2018-04-23 07:07] krogon-dp commented on #3605
Seems to be cherry-picked to latest 1.9.7

[2018-04-23 08:39] rlees85 commented on #3502
If Kops moves to external-dns for internal stuff too (I think that would be great) but in my opinion there would need to be a way to support split horizon. Currently this is done by running two instances of external-dns on a cluster. Using `--annotation-filter` (I think?) you can have the public external-dns only add public records for a service that should be public and a catch-all external-dns t

[2018-04-23 08:51] Globegitter commented on #2537
I had a similiar issue just now, a normal pod (nginx ingress controller) was still in running state and had been deployed for over 5 days. Somehow it kept the rolling update stuck (no timeout etc). It has however been restarted 676. Unfortunately I did not look at the logs or anything before I manually terminated the pod, so I can not even verify that there restarts are related to the rolling upda

[2018-04-23 11:05] daviddyball opened #5059 "`kops create -f` Doesn't Handle Multiple Input Objects in an Array"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

`Version 1.9.0 (git-cccd71e67)`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

`1.9.3`

3. What cloud provider are you using?

Amazon AWS

4. What commands did you run?  W

[2018-04-23 12:33] lasse-kristensen opened #5060 "error when scale down and change machine type"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
`Version 1.9.0-alpha.1 (git-f799036a3)`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or

[2018-04-23 15:57] corlettb commented on #2354
This really needed to go into the release notes. Rolling kops 1.9 out to our nonprod cluster and all the users are gone. Lots of moaning developers.

We use tokens rather than certs so the developers can use the kube-dashboard.

[2018-04-23 17:47] michaelajr commented on #3693
This is still an issue. I thought this was going to get fixed in 1.9.0.

[2018-04-23 19:00] activeshadow commented on #2354
@corlettb I just want to reemphasize your ability to (re)grant your developers' access to your 1.9 cluster fairly easily via the CSR resources in Kubernetes. This doesn't help the fact that their access got taken away, but it can be added back pretty quickly and easily.

As for giving them access to the kube-dashboard, that can be done by generating a service account for each developer (or develop

[2018-04-23 20:30] #3915 closed

[2018-04-23 22:31] montyz commented on #5045
After removing that CIDR from the VPC and fitting the new cluster into the original CIDR, I still get:

[code]

Note AWS still reports the extra CIDR:

[code]

[2018-04-23 23:15] ayk33 commented on #5048
Thanks for the feedback. Is there an estimated release date for kops 1.10?

[2018-04-24 04:40] Danpiel commented on #3801
In my use case, I need to add additional DNS server from LDAP, to allow resolution of private IP ranges in peered vpc, the reliable and fast way to do it is via DHCP options of the VPC.

[2018-04-24 09:09] lxcid commented on #4301
I'm facing the same issue though, anyone have a solution to this?

[2018-04-24 09:16] chrisfu commented on #4301
@KashifSaadat Good find, that sorted it. Apologies for the long time to respond; I completely missed this!

[2018-04-24 09:38] KashifSaadat commented on #4301
@chrisfu no worries :)

@lxcid the latest version of kops should now include this fix, can you upgrade to the latest release? https://github.com/kubernetes/kops/releases/tag/1.9.0

If you can't for whatever reason, have a look at the following comment (attaching an additional IAM policy to the nodes): https://github.com/kubernetes/kops/issues/4301#issuecomment-361528463

I'll close this issue, fee

[2018-04-24 09:38] #4301 closed

[2018-04-24 10:05] topochan commented on #3993
Hi, I have the same issue in 1.9, the issue still exists.

[2018-04-24 10:59] Globegitter commented on #2537
So strange, this keeps on happening now and is a subset of pods related to the nginx ingress controller (it is the internal ingress controller and the default backend for both internal and public ingress controller). The interesting thing is they are all deployments with 1 pod (where-as the public ingress controller has 2) but the rolling update strategy is set to:
[code]
so not sure if that is in

[2018-04-24 11:59] zytek commented on #5060
I guess you have a race between kops trying to delete instance that was just terminated by AWS ASG after scale-down event. You should wait till your ASG scales down to desired number of nodes before you do `rolling-update`.

One feature kops could implement is to NOT perform rolling-update when ASG is being updated by AWS, if this is reliably detectable via API.

[2018-04-24 22:30] jacobrandall commented on #4974
@justinsb curious if you've encountered this issue before with Kops on GCE?

[2018-04-25 01:28] vincent-dm commented on #4288
/remove-lifecycle stale

[2018-04-25 03:12] guilhermeblanco commented on #2348
Following https://github.com/kubernetes/kops/blob/master/docs/security.md#ssh-access , public keys are already available on S3 through the folder `pki/ssh/public/<username>/<hash_of_pub>`. The contents of the file is the public key.

It could be an easy enhancement to build a cloud-init script, launch configuration or something that could pull the key from there. Of course it would still not be li

[2018-04-25 07:50] zetaab commented on #3566
@zengchen1024 do you have plans how you are going to implement that autoscaling? Using heat yes, but how it is done exactly? At least we do not have senlin / ceilometer installed

[2018-04-25 08:01] KashifSaadat commented on #4590
Will close this, I believe it's resolved as part of PR #4651. @juris feel free to re-open if you're still experiencing this problem with the latest kops release (v1.9.0).

/close

[2018-04-25 08:01] #4590 closed

[2018-04-25 12:52] jwilander commented on #2384
I recently ran into the same issue trying to use `us-west-2a`, per [the guide](https://github.com/kubernetes/kops/blob/master/docs/aws.md). The nodes EC2 instance would spin up but the `master` would not. `kops validate cluster` would fail every time, complaining about the DNS. Waiting over an hour made no difference.

I switched to `us-east-1d` and it worked fine after a few minutes of waiting.

[2018-04-25 13:28] korend opened #5061 "Error when trying to use containerRegistry"
----

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.9.0 (git-cccd71e67)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.9.6

**3. What cloud provider are you using?**

AWS

**4. What commands did yo

[2018-04-25 15:10] recarmona commented on #4390
@kirsazlid did you solve this issue? I am having the same error.

[2018-04-25 16:48] #4149 closed

[2018-04-25 17:12] sanketjpatel opened #5062 "APIServer progressively becomes unhealthy"
API server has progressively become unhealthy.

<img width="920" alt="screen shot 2018-04-25 at 11 34 32 am" src="https://user-images.githubusercontent.com/3931731/39261336-c5245062-4881-11e8-991f-7f576f952a4b.png">
<img width="915" alt="screen shot 2018-04-25 at 11 34 42 am" src="https://user-images.githubusercontent.com/3931731/39261337-c531038e-4881-11e8-9b11-90dcd9e8b48d.png">
<img width="916"

[2018-04-26 01:42] jaredallard commented on #4946
Ran into this today with a beta environment deploy -- thankfully nothing broke in our production env, but certainly not a good sign... Any detailed fixes for this? `kubelet` restart sure, but on each node?

[2018-04-26 04:05] guilhermeblanco opened #5063 "Kops should deploy kube-dns 1.14.10, since 1.14.9 is broken for externalName services"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

[code]

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

[code]

3. What cloud provider are you using?

[code]

4. What commands did you run?  What is the simplest way to rep

[2018-04-26 08:40] zengchen1024 commented on #3566
@zetaab Thank you for your kind reminding! At present, I almost have finished the tasks of network, volume, and security group/rule. The next step is to implement the task of autoscaling. But I have not started to consider these details. If you have interest in implementing it, I will be very happy!

[2018-04-26 09:37] KashifSaadat opened #5064 "etcd-backup to support clusters with `enableEtcdTLS` configured"
Using the following etcdClusterSpec (shortened):
[code]

The `etcd-backup` container produces the following logs:
[code]

Changes would need to be made both to kops and the [etcd-manager project](https://github.com/kopeio/etcd-manager) to support clusters that have etcd TLS enabled, such as:
- kops pass the CA Cert path as an arg to etcd-backup (or the full list of arguments that etcd is run with)

[2018-04-26 09:58] Ramlaar commented on #4694
@jhohertz Had the same issue that you reported. After having added the below ClusterRole and ClusterRoleBinding, my issues were gone:

`apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    rbac.authorization.kubernetes.io/autoupdate: "true"
  labels:
    kubernetes.io/bootstrapping: rbac-defaults
  name: ingress-controler
rules:
- apiGroups:
  - extensions
  reso

[2018-04-26 10:01] ese commented on #3605
@alok87

It is basically an image with `curl` and `awscli` running this bash script

[code]

[2018-04-26 10:04] ameena007 commented on #5044
Any updates on this ??

[2018-04-26 10:05] zetaab commented on #3566
@hogepodge @dims @anguslees do you have ideas how that autoscaling part should be implemented to openstack? Making server group using heat, but what kind of autoscaling should be used? Like I mentioned in earlier post at least we do not have anything installed which is needed for autoscaling server group, but I would like to hear your opinion what the best plugin for that. Senlin or ceilometer or

[2018-04-26 10:06] ameena007 commented on #4688
Any updates on this ?? I am facing same issue .

[2018-04-26 10:36] recollir commented on #4946
Just to add another occasion where this can happen: when "updating" from kops 1.8 to kops 1.9 and performing the required rolling-update. As first all masters are restarted/recreated, the nodes can become not ready if kubelet/kube-proxy was/is talking to the corresponding, restarting master.

[2018-04-26 10:43] arikunbotify opened #5065 "Flag to configure maxSize/minSize when creating cluster/ig"
I'm trying to build automatic creation of K8s Cluster on AWS, using KOps, and with 3 node-IGs - one per AZ. The main purpose is to avoid ASG AZRebalance, without explicitly suspending it.
From what I found in the documentation I can define _--node-count_ on the `kops create clutser`. But that will set both maxSize/minSize to the same value, and adjusting it will require manually editing the cluste

[2018-04-26 10:58] stevefaro commented on #5011
I'm having the same issue.

[2018-04-26 11:02] edmeister opened #5066 "Kops rolling-update should give output when node draining is failing"
I was upgrading my kubernetes cluster from 1.8.7 to 1.9.3 with the latest stable version of kops. The upgrade of the masters went fine. When kops began upgrading the nodes, it kept hanging on the draining of the first node.

Only when I changed the log level, I could see what was actually going on. The draining couldn't be completed because of a PodDisruptionBudget violation.

It would be nice if

[2018-04-26 11:07] dims commented on #3566
@zetaab why can't we use what's available in the environment? https://coreos.com/blog/autoscaling-with-prometheus-and-kubernetes-metrics-apis

[2018-04-26 11:27] zetaab commented on #3566
@dims i am not talking about pod autoscaler. I am talking about node auto scaling. For instance in aws kops implements auto scaling groups which means that it will automatically add/remove nodes depending on load

[2018-04-26 11:37] dims commented on #3566
@zetaab node level metrics are available also in the metrics API, not just pod-level

[2018-04-26 11:43] ameena007 commented on #5044
We also need to implement mechanism to set flage --admission-control via KOPS

[2018-04-26 11:47] Raffo commented on #3780
@justinsb can you link to a PR or commit where you think this is fixed? I am experiencing similar issues but with a different setup and I'm trying to go a bit deeper with that problematic, any help would be beneficial.

[2018-04-26 12:56] allcloud-jonathan commented on #5063
Any workaround so far?

[2018-04-26 13:19] zetaab commented on #3566
so it means that we could make just normal stack with heat template server group. Then modify that server group using stack update

[2018-04-26 14:07] toxeek commented on #2941
I would refer you to the replace GitHub, where you find this script,

[code]

[2018-04-26 14:14] guilhermeblanco commented on #5045
If you want to try get it working, remove the state store file from S3. It should accept your new VPC configuration.

As for multiple VPCs to be supported, yes I also would like to see this. =)

[2018-04-26 14:38] imsky commented on #2656
still happens in 1.7.1:

[code]

[2018-04-26 14:39] imsky commented on #2656
/remove-lifecycle stale

[2018-04-26 14:57] mikesplain commented on #5063
This is fixed in master: https://github.com/kubernetes/kops/pull/5026

You can use the same method as documented here: https://github.com/kubernetes/kops/issues/3512

You can also reference the original issue: https://github.com/kubernetes/kops/issues/4986

[2018-04-26 14:58] mikesplain commented on #5063
@justinsb Any interest in cutting a patch release for the fix?

[2018-04-26 16:59] #5046 closed

[2018-04-26 17:56] juris commented on #4042
/remove-lifecycle rotten

[2018-04-26 18:14] ivans3 commented on #4688
Hi @ameena007, i am still working on this, results are so far promising, but customizing nodeup/protokube was necessary, and as well i encountered these major issues:

- kops1.9 and k8s 1.9.x were needed for: etcd tls, calico etcd tls integration, as well as the required podsecuritypolicy
-a health check user with no RBAC roles bound needs to be created and distributed to the master nodes somehow

[2018-04-26 20:06] ruippeixotog commented on #3554
Hi! I'm still a beginner with Kubernetes and Kops, and I have three questions after reading this:

- I see in many places the "channel tool" mentioned. Where can I download that tool?
- I know that I can use `kubectl` to create an addon at a specific version, but is there any way I can just `apply` a YAML with an `Addons` resource [like this](https://raw.githubusercontent.com/kubernetes/kops/maste

[2018-04-26 22:51] joeldeaguero commented on #4453
kops hooks and file assets seem like a poor fit for managing /usr/share/oem/grub.cfg, or more generally finding a good way to set audit=1 on the kernel command line, or other kernel command line parameters.  Is something else intended?

[2018-04-26 23:00] tvi opened #5070 "Need to expose Kubelet --config flag in KubeletConfigSpec"
We are running 1.10.1 cluster and our logs contain following log line
[code]
The problem is that we cannot specify --config file and KubeletConfiguration spec.

[2018-04-26 23:03] john-delivuk commented on #2189
Issue is happening in 1.9.0

[2018-04-26 23:48] levilovelock commented on #4142
/remove-lifecycle rotten

[2018-04-26 23:51] levilovelock commented on #4142
I would like to be able to specify `--no-utility-subnets` or pass in an empty string to `--utility-subnets` to avoid these subnets altogether.

[2018-04-27 00:45] #1839 closed

[2018-04-27 03:05] 13567436138 opened #5071 "can kops install k8s on bare compute"
can kops install k8s on bare compute

[2018-04-27 08:10] zytek commented on #4190
@sonaltr any success with Amazon Linux 2 and kops? Would be interested to try it out also.

[2018-04-27 08:13] zytek commented on #5065
You should probably switch to creating clusters from manifests rather via CLI: https://github.com/kubernetes/kops/blob/master/docs/manifests_and_customizing_via_api.md

[2018-04-27 08:43] ameena007 commented on #5065
zytek I do not agree with what you are suggesting. For fully automating the cluster creation process we need this functionality. In a secure environment we do not want a person to login and edit the configuration manually.

[2018-04-27 08:43] ameena007 commented on #5065
+1 for this feature

[2018-04-27 10:55] zytek commented on #5065
You can automate it, instead of executing kops with many options you just read a yaml file with full cluster definition (which can be templated by external tools).

kops does not and will not support ALL of cluster configuration options via CLI flags as it is not feasible, hence suggestion for using yaml manifests.

[2018-04-27 12:46] sonaltr commented on #4190
@zytek [This](https://github.com/kubernetes/kops/pull/5028) PR treats Amazon Linux 2 as CentOS 7.

Ideally, that should "just" work. I'm waiting on a KOPS release for nodeup (which should be available by Monday hopefully) to give that a spin.

[2018-04-27 21:10] ihoegen commented on #5070
I'm not seeing it exposed in

https://github.com/kubernetes/kops/blob/master/pkg/apis/kops/componentconfig.go

so it'll have to be added.

It's super easy to expose, see:

https://github.com/kubernetes/kops/blob/master/docs/development/api_updates.md

Add the struct value, generate api machinery and you'll be good to

[2018-04-28 01:11] hpham04 opened #5074 "How to create multi cluster by kops"
I want to create multiple cluster, each cluster has its own responsibility such as one for database, one for web application
Is it possible to do it by kops
If not, what is the alternative
Can you please help to advise

[2018-04-28 05:01] justinsb commented on #4767
Great news - thanks for confirming!

[2018-04-28 05:01] #4767 closed

[2018-04-28 14:55] jmcclell opened #5076 "Private topologies on AWS - ELB never sees masters as healthy"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

`1.9.0`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version

[2018-04-28 17:04] jmcclell commented on #5076
Ugh. This is because I'm using an `m5` image. It looks like other issues are already addressing this, in particular: #4873

[2018-04-28 17:04] #5076 closed

[2018-04-28 17:08] jmcclell commented on #4873
This really should be in the docs. I wasted hours on this thinking it was something entirely unrelated because it was really not obvious that the reason k8s wasn't provisioning was because of the instance type I chose.

[2018-04-29 02:42] rajaneeshk1990 commented on #4855
Unsupported volume type 'iops' for volume creation

[2018-04-29 02:43] rajaneeshk1990 commented on #4856
Unsupported volume type 'iops' for volume creation

[2018-04-29 08:12] alrf commented on #1467
How to use `enable-custom-metrics` from command line?
kops returned the error:
unknown flag: --enable-custom-metrics

[2018-04-29 10:42] #2313 closed

[2018-04-29 14:01] andrewsykim commented on #5004
The original reason for having a separate events cluster was due to scalability issues with etcd (https://github.com/kubernetes/kubernetes/issues/32361) and at the time it was recommended to separate events to a separate cluster.  Having said that, it seems in the issue most of the scalability problems have been addressed in etcd3(?) so we may want to revisit this when we support etcd3. cc @justin

[2018-04-29 22:12] borsboom commented on #4295
Has anyone checked whether kops 1.9.0 fixes this?

[2018-04-30 05:46] itskingori commented on #1467
@alrf I think you might have been confused by https://github.com/kubernetes/kops/issues/1467#issuecomment-273027105. There's no `--enable-custom-metrics` on the `kops` command. What Justin was referring to is the mapping of the config that the user will provide to the flag that needs to be set on the respective Kubernetes component.

So if you set this ...

[code]

... in your kops cluster state,

[2018-04-30 05:52] itskingori commented on #4049
@mercantiandrea @oliverseal Seems you're doing manually what's done automatically for you, i.e. https://github.com/kubernetes/kops/issues/4049#issuecomment-352152838. You only need to add these when you edit your cluster:

[code]

[2018-04-30 06:54] veerendra2 commented on #3575
I'm seeing similar issue in `kops v1.9.0` & Kubernetes `v1.9.6`. Used `Calico` network. Every time I have to restart `kubelet` or delete kube-dns and replace it. I'm not able to find root cause and there is nothing in the logs too. Any have any idea?
[code]
[code]

[2018-04-30 09:17] nebril commented on #4087
Closing this, as #4224 added support for Cilium.

[2018-04-30 09:17] #4087 closed

[2018-04-30 09:22] nicolas-goudry opened #5082 "Removing availability zones from cluster?"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

`Version 1.9.0`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

[code]

3. What cloud provider are you using?

**AWS**

4. What commands did you run?  What is the simplest

[2018-04-30 12:31] vippujain commented on #4314
For me, it shows all 59 nodes and says "Ready Node(s) 59 out of 51." Can anyone share any good way to see the fail nodes on cluster ?
Here is the list of nodes -
/code
ip-172-21-100-20.ap-southeast-1.compute.internal	node	True
ip-172-21-100-90.ap-southeast-1.compute.internal	node	True
ip-172-21-100-91.ap-southeast-1.compute.internal	node	True
ip-172-21-102-97.ap-southeast-1.compute.internal	node	T

[2018-04-30 12:56] michaelajr commented on #3993
Confirmed. 1.9.0 still has this issue. AWS Key is specified in the cluster YAML. Still get `SSH public key must be specified` when issuing `kops update`.

[2018-04-30 13:41] 007 commented on #4173
/remove-lifecycle rotten

[2018-04-30 13:46] jcardoso-bv commented on #2048
Also an issue for my company (billing).

[2018-04-30 14:05] dkirrane opened #5083 "VMWare vSphere 6.5 support"
Following instructions from https://github.com/kubernetes/kops/blob/master/docs/vsphere-dev.md

I cannot Deploy OVF template `DNSStorage.ova` using vSphere 6.5

Deployment Wizard in client returns the following error:
[code]

![image](https://user-images.githubusercontent.com/1280116/39431222-f535ebd0-4c87-11e8-825b-565dffdc94d2.png)

[2018-04-30 14:41] omerh commented on #4462
@prat0318 I am doing `kops edit`
If by adding to kops `--network-cidr` and kops will check the available subnets to create them it will be awsom

[2018-04-30 14:50] philrz commented on #4314
@vippujain: A couple comments back in this issue I pasted a Python script that could help you.

[2018-04-30 16:57] huang-jy commented on #4314
"says "Ready Node(s) 59 out of 51.""

This means your instance group is expecting 51 good nodes. You have somehow got 59 good nodes. So either you have set a minimum of 51 and a maximum of higher, and/or you have a autoscaler enabled and have a high demand?

[2018-04-30 21:08] rprvnkmr007 commented on #4181
VALIDATION ERRORS
KIND    NAME            MESSAGE
dns     apiserver       Validation Failed

The dns-controller Kubernetes deployment has not updated the Kubernetes cluster's API DNS entry to the correct IP address.  The API DNS IP address is the placeholder address that kops creates: 203.0.113.123.  Please wait about 5-10 minutes for a master to start, dns-controller to launch, and DNS to propaga

[2018-05-01 05:55] ameena007 commented on #3143
Hi,

I need to enable this in order to make my Cluster CIS Compliant.

Can we repoen this issue.

Regards
Amit Meena

[2018-05-01 05:55] ameena007 commented on #3143
/repopen

[2018-05-01 08:25] KashifSaadat commented on #5064
CC @justinsb

[2018-05-01 13:56] brosander commented on #4549
Seeing this with kops 1.9

[code]

[2018-05-01 14:40] mkornacker opened #5086 "Can 'kops update cluster' be run concurrently?"
I couldn't find this in the docs:

I'm wondering whether it's safe to run 'kops update cluster --yes' concurrently (from multiple machines, but with the same --name and --state).

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
1.9.0

2. What Kubernetes version are you running? `kubectl vers

[2018-05-01 14:42] byndcivilization opened #5087 "Support for skipping docker portion of nodeup"
We are trying to implement GPU backed nodes on our cluster. The Kops hook provided for nividia-bootstrap is broken in that its missing a crucial docker-ce and nvidia-docker2 installation and configuration. I can bake these into an AMI, however nodeup is clobbering my docker configs. Is there a feature flag to turn off docker.service? Guidelines on developing custom dockerized hooks? I've gotten to

[2018-05-01 20:51] byndcivilization commented on #4591
Is there any work happening on this? We are currently trying to run gpus on debian-stretch. I've baked the nvidia driver into an AMI but can rework that into an nvidia-bootstrap update. I'm having trouble with the nvidia-docker piece though. Currently if I run this as a hook, nodeup will overwrite the changes made by the hook.

[2018-05-02 08:08] sp-joseluis-ledesma commented on #1908
/remove-lifecycle stale

[2018-05-02 08:11] sp-joseluis-ledesma commented on #1908
kube-dns should also have:  “system-cluster-critical” or “system-node-critical” when podpriority is enabled
https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/

[2018-05-02 08:37] 3h4x opened #5090 "Custom secrets from S3 are not populated to `known_tokens.csv` with Kops 1.9"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

`Version 1.9.0 (git-cccd71e67)`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

[code]

3. What cloud provider are you using?

AWS

4. What commands did you run?  What is t

[2018-05-02 11:25] jrnt30 commented on #2309
I don't know that it is explicitly exposed in the UI, you can now `kops create cluster -f <specification file>`.

We have found it more usable to have a template cluster spec and inject some of our customizations on top of that to bake in some of these types of changes more easily.

[2018-05-02 12:08] gkope commented on #5086
You mean `rolling-update cluster` right?

If yes, you can't run concurrently, but you can change the flags to make ir run faster, and with cloud-only if you are not worried about your pods and graceful periods.

[2018-05-02 12:41] KashifSaadat commented on #4037
/remove-lifecycle stale
/lifecycle frozen

I've raised this PR to address the issue within flannel: https://github.com/coreos/flannel/pull/978
Until it's merged, it is not recommended to update the flannel version in the canal manifest file.

[2018-05-02 15:57] mkornacker commented on #5086
No, I really meant 'kops update cluster', not 'kops rolling-update cluster'.

Can two of those be run concurrently? This isn't about speed, it's
basically two independent parties adding instance groups separately and
then spinning them up in EC2.

On Wed, May 2, 2018 at 5:08 AM, Gabriel Kope <notifications@github.com>
wrote:

[2018-05-02 16:18] mf-lit opened #5092 "Adding a dockerconfig secret does not flag that an update is required"
I'm trying to add dockerhub credentials by following the docs at https://github.com/kubernetes/kops/blob/master/docs/security.md#docker-configuration but can't get the update to apply

[code]

[code]
So far so good, but:

[code]
Seems to work if I add `--force` to the rolling-update

Kops version: 1.9.0

kubectl version
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitCom

[2018-05-02 16:32] mbranyon commented on #4759
I am seeing this same kernel panic in us-east-1 with the c3.large on master nodes only.

[2018-05-02 22:09] bhack commented on #1726
There is a new PR at https://github.com/kubernetes/kops/pull/4971

[2018-05-03 02:35] chrislovecnm commented on #5066
These changes would need to occur upstream.

You can change the log levels by adding -v 10 flag.

[2018-05-03 05:50] awbacker commented on #4295
I'm using `kops 1.9` and having this issue as well (with kube_version 1.9.7).

It was able to create the cluster fine, and master was reachable (yay!).  However, I after I updated the nodes configuration and did a `kops update cluster --yes && kops rolliing-update cluster --yes` the master was *OutOfService* again.

Really scary to use kops, and no _idea_ how to reach it again

[2018-05-03 07:29] kaazoo opened #5098 "'kubectl get cs' only shows 2 out of 3 etcd instances"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

kops 1.9

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version

[2018-05-03 07:38] kaazoo commented on #3350
/reopen

[2018-05-03 07:39] kaazoo commented on #3350
/remove-lifecycle stale

[2018-05-03 08:57] kaazoo commented on #5074
You can deploy different clusters with kops by just using different cluster names. In order to make them more independent, you could use a different VPC for each of them (if using AWS).

If you just want to separate applications from each other, you could also deploy them in different k8s namespaces inside a single cluster and control communication with network policies:
https://kubernetes.io/docs

[2018-05-03 09:15] #4003 closed

[2018-05-03 10:06] #4740 closed

[2018-05-03 10:44] mozowski commented on #3993
`SH public key must be specified when running with AWS (create with `kops create secret --name mykeyname sshpublickey admin -i ~/.ssh/id_rsa.pub`)`
kops version
Version 1.9.0 (git-cccd71e67)
`spec:
     sshKeyName: mykeyname`

[2018-05-03 14:39] tmjd opened #5101 "Feature request: Install/upgrade to Calico v3"
# FEATURE REQUEST

## New functionality

Calico has a version v3.x and I would like to be able to install or upgrade to it using kops.

## Context

The new version of Calico is using a new data model and has switched to using etcd v3 API instead of the v2, much of this feature will have to do with being able to support the two different versions of Calico in Kops and support migration of the datas

[2018-05-03 15:30] sernst commented on #1771
/remove-lifecycle stale

[2018-05-03 19:46] erstaples opened #5103 "Intermittent kube-dns errors after upgrading kops to v1.9"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

`Version 1.9.0 (git-cccd71e67)`

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

[code]

3. What cloud provider are you using?

AWS

4. What commands did you run?  What is t

[2018-05-03 21:43] zachaller commented on #4424
I don't think this is an issue exactly if you read the documentation from amazon. I just tested this myself as well we had kops create a ig with spot instances they have now expired after 7 days but our instances are still running as spot instances.

The answer from the amazon employee explains it well and provides links to amazon documentation that explains it as well.

https://forums.aws.amazon.

[2018-05-03 21:46] zachaller commented on #4424
To add a little more, it since the instances stay running everything is fine until the price goes above your max bid at that point it will terminate the spot instance. However kops set on the launch configure that is attached to the autoscaling group that it should launch spot instances so when the asg drops below its node count it will try to recreate the spot requests and hence a new spot instan

[2018-05-03 21:49] smcquay commented on #2828
I just ran into this issue to enable similar `sysctl`s:

/remove-lifecycle stale

[2018-05-03 23:46] mikesplain commented on #2828
/remove-lifecycle rotten

[2018-05-04 00:02] kayano commented on #4112
@david92rl to make your hook work a I had to change
[code]
to
[code]

[2018-05-04 03:43] montyz commented on #5045
I found that the latest version lets you specify the additional CIDRs, and then things work for me. As far as I know there's no way to specify this from the command line.

[code]

See https://github.com/kubernetes/kops/blob/master/docs/run_in_existing_vpc.md#vpc-with-multiple-cidrs

[2018-05-04 03:43] #5045 closed

[2018-05-04 05:14] vainu-arto commented on #4112
@kayano This workaround should not be needed anymore, the bug has been fixed in kubelet in current releases of 1.8, 1.9 and 1.10.

[2018-05-04 05:31] vainu-arto commented on #4112
/close

[2018-05-04 05:31] #4112 closed

[2018-05-04 06:44] awbacker commented on #2378
Surprisingly not fixed yet (not the documentation about --config).

Still have to use the `export KUBECONFIG` workaround.  Pretty bad when you need to share a kubeconfig with someone.

[2018-05-04 07:34] pracucci commented on #5090
@justinsb This is the issue with custom auth tokens we've encountered in kops 1.9, I was talking to you about during lunch at KubeCon.

[2018-05-04 09:44] suchakjani commented on #367
/reopen
We need placement groups for things like NFT tests for certain applications.
Would appreciate if this is done

[2018-05-04 10:32] smartpierre opened #5105 "AWS LoadBalancer marking instances OutOfService"
Hello,
I'm trying to setup a proper cluster for our infrastructure, but I have problems with the AWS LoadBalancer, here is a replicate with a really simple cluster configuration :

**a single nginx pod and a single loadbalancer on a standard AWS cluster**

The LoadBalancer always shows the nodes as "OutOfService"
I've been trying to fix it for a while now and I don't understand what's wrong, could

[2018-05-04 12:08] smartpierre commented on #5105
I've just created another cluster on eu-west-1, default configuration, added the pod and the service, ELB still marks instances as OutOfService :(

[2018-05-04 16:10] erutherford commented on #367
/reopen I don't need it anymore, but it seems others do and I still think it was a good idea.

[2018-05-04 16:46] #1846 closed

[2018-05-04 16:46] #4011 closed

[2018-05-04 17:13] liskl commented on #5090
Hitting the same issue here, looking into a possible systemd unit solution to make it happen, will report back if i make progress.

[2018-05-04 19:33] zetaab commented on #3566
also one thing that we should think of: at least for me security groups does not work in lbaas (using haproxy).

[2018-05-05 04:29] itskingori commented on #4424
It is an issue if you want long lived spot instances i.e. greater than a week. People who are using this feature are trying to use spot instances to keep costs low as possible if the bid is acceptable.

The issue here isn't that this happens, but that it would be desirable to choose a longer period so that after one week your costs don't suddenly spike 📈 ... which is what happened to us.

[2018-05-05 08:06] zachaller commented on #4424
Per https://forums.aws.amazon.com/thread.jspa?messageID=827030

[code]

[2018-05-05 08:12] zachaller commented on #4424
Another thing to not you will notice on spot instances that have had their request put into the state request-canceled-and-instance-running' still maintain the lifecycle of spot.

![screen shot 2018-05-05 at 3 10 30 am](https://user-images.githubusercontent.com/201390/39661121-25f50b92-5012-11e8-821d-826c63ba9bb3.png)

[2018-05-05 10:25] MadhuriAndhale opened #5109 "Can I install KOPS in windows 7?"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified

[2018-05-05 11:32] zetaab commented on #3566
Things that we need to do (before we can start installing machines):
- servergroups
- servers
- some method to make LB for masters (lbaas?)

I think all of these tasks can be started now. So if someone has free time please go ahead.

We can later code heat support as well, but lets start without heat support (like AWS support both installation mechanisms if I read the code correctly).

[2018-05-05 20:25] henrydobson commented on #4813
Issue is still present in 1.9.0-beta.2

[2018-05-06 02:21] gh0o0st opened #5111 "Status of the kops api server"
Hi guy,

I'm wondering what's the status of the kops api server? Is it production ready?

I didn't find many doc related. I'm able to compile out the server, but how to set it up?

Any help would be grateful, thx

[2018-05-06 16:05] arikunbotify commented on #5065
@zytek When I tried using yaml manifest I got into multiple problems (e.g. if I supply a yaml file for IG with 1 subnet, and the cluster it belongs to has 2, kops will create the ig with all 3 subnets of the cluster ¯\_(ツ)_/¯ not sure if it's me misunderstanding how to use manifests or a bug, but there were many more problems). Anyway, seems to me min/max are very basic values for cluster and ig.

[2018-05-06 21:36] andrewsykim commented on #4813
@henrydobson yes this specific bug is present in 1.9.0-beta.2, should be fixed in 1.9.0 though based on the error you posted it's hard to tell if your issue is directly related to this one.

[2018-05-07 05:57] Cittarasu commented on #3957
@chrislovecnm @perryao  -- great start on Azure front. I can help in testing/development front. Let me know how we can sync-up on this front. We have been using KOPS for AWS extensively but we are exploring KOPS for vsphere and Azure.

[2018-05-07 07:02] zytek commented on #5098
You are confusing etcd instances with etcd clusters. Currently kops sets up two *clusters* - one main and one for events. Both clusters can have multiple instances - depending how many kubernetes master you run.

[2018-05-07 11:30] ilavender commented on #5090
any news? did somebody find a workaround?

[2018-05-07 15:56] #3311 closed

[2018-05-07 19:57] tsupertramp commented on #2354
Instead of using Token Auth, i would rather recommend using guard. - We use it to allow developers to access our cluster read only. - There are also some kops docs how to use it (https://github.com/appscode/guard/blob/master/docs/setup/install-kops.md). - Each github user for example gets assigned to rbac groups == github groups. This allows fine grained access. - Even static files are possible if

[2018-05-08 04:29] mliyanagamage commented on #5105
I spent the last two hours downgrading the cluster to see if it was a version issue... turns out I had mixed up `port` and `targetPort`.

[2018-05-08 06:53] antran89 commented on #2652
A LATE TO THE PARTY: (Hope it helps for new comers like me) I think there is a tutorial to do it:
https://github.com/kubernetes/kops/blob/master/docs/horizontal_pod_autoscaling.md#support-for-multiple-metrics

[2018-05-08 10:50] cytopia commented on #2348
What about a file which simply holds multiple public keys. I tried to deploy this right now, but it only uses the first line (first key). Can you simply allow to use a file that holds multiple public keys?

[2018-05-08 11:50] andrewsykim commented on #4087
This wasn't documented anywhere but you need to set
[code]
for the etcd version override to work. Hopefully in v1.10 we'll be using etcd3 by default so it's not required

[2018-05-08 12:35] truyet opened #5114 "kubectl permission denied on kops cluster"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.
1.9.0
2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version spec

[2018-05-08 13:10] Congrammers commented on #4401
I believe this is caused by AWS side, probably the server not responsive or something. I realized it has been working since today, without any update or anything.

[2018-05-08 13:10] #4401 closed

[2018-05-08 14:06] andinh-itm commented on #3182
We also have whitelist at partner side, which takes a lot of effort to update. Re-use existing EIP would be very helpful.

[2018-05-08 14:24] chrissound opened #5115 "must configure at least one InstanceGroup being reported when trying to update cluster"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

[code]

[code]

AWS

`kops -v 10 update cluster  --yes prod-1.k8s.nuclearpistachio.com`

Shows an error of:
`must configure at least one InstanceGroup`

But an instance group is defined, in fact more than one.

manifest
[code]

[2018-05-08 14:29] chrissound commented on #5115
So it seems to not be importing the actual yaml file I've previously exported which is:

[code]

How can I import / create from such a file?

[2018-05-08 14:41] igorvpcleao opened #5116 "High DNS latency after upgrading to kubernetes 1.9.7"
Version 1.9.0

Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitCommit:"d2835416544f298c919e2ead3be3d0864b52323b", GitTreeState:"clean", BuildDate:"2018-02-07T12:22:21Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.7", GitCommit:"dd5e1a2978fd0b97d9b78e1564398aeea7e7fe92", GitTreeState:"cl

[2018-05-08 14:54] MichaelCal commented on #4295
Running into this same issue. Kops 1.9.0, Kubernetes 1.10.2.

[2018-05-08 15:27] chrissound commented on #5059
Is there any alternative / work around?

[2018-05-08 15:37] Antiarchitect commented on #4295
My issue was this: https://github.com/kubernetes/kops/issues/4844, so solved by moving to m4 for master

[2018-05-08 15:39] amardomingo commented on #5063
+1 for the patch release. We have been affected by the kube-dns bug.

[2018-05-08 15:47] chrissound commented on #5115
[code]

...

[2018-05-08 16:07] iMartyn commented on #5035
As reported on slack, I believe the problem is that net.LookupHost(host) is actually trying to look up *including* the port sting.  net.LookupHost(host) should work for hosts file lines, it's the fact that it's not using the default port that's the problem.

[2018-05-08 16:12] lukeab commented on #5035
I was the one experiencing this issue. When i updated ~/.kube/config to use port 9443 for my api server url, kubectl continues to work fine, but kops validate cluster or kops rolling-update failed to talk to the api.
`unexpected error during validation: unable to resolve Kubernetes cluster API URL dns: lookup api.k8s.x.y.z.net:9443: no such host`
As seems to be suggested in the error message, it i

[2018-05-08 16:13] lukeab commented on #5035
As a cheeky workaround i dropped the 9443 port in ~/.kube/config and ran socat to forward actual 443 to 9443 locally
`sudo socat tcp-listen:443,reuseaddr,fork tcp:localhost:9443`
This works for now, but dns resolution needs to get fixed to recognise ports in the host, regardless.

[2018-05-08 17:03] henrydobson commented on #4813
@andrewsykim I can confirm the bug is not fixed in 1.9.0. Agreed but certainly mounting all of the require etcd volumes has got to be a step in the right direction when trying to fix etcd-events connection refused.

[2018-05-08 17:08] andrewsykim commented on #4813
Can you just check if the volume is mounted? This bug is specifically to fix volume mounting so if the volume is mounted it's likely a different problem.

[2018-05-08 19:03] Cryptophobia commented on #3311
It would be nice if docker version and storage driver options can be defined per instance group. It will allow people to test differences in performance of docker versions and different storage drivers.

[2018-05-08 19:04] Cryptophobia commented on #3311
/reopen

[2018-05-08 20:48] felipejfc commented on #5116
may be related to https://github.com/kubernetes/kops/issues/5103

[2018-05-08 21:13] sheldonkwok opened #5118 "kops rolling-update cluster hanging on pod eviction"
1. What `kops` version are you running?
`Version 1.9.0 (git-cccd71e67)`

2. What Kubernetes version are you running?
[code]

3. What cloud provider are you using?
AWS

4. What commands did you run?  What is the simplest way to reproduce this issue?
`kops rolling-update cluster $NAME`

5. What happened after the commands executed?
The rotation seems to be hung deleting pods on nodes. I am using the

[2018-05-08 21:14] sheldonkwok commented on #5118
Seems related to #2537

[2018-05-08 21:26] sheldonkwok commented on #5118
I realized I wasn't on -v 10 and I think I know the issue now

[2018-05-08 21:26] #5118 closed

[2018-05-08 22:29] smcquay commented on #2828
@cheddarwhizzy I've got a fix for `kops` to enable this, but I'm stuck in testing as everything I do to submit a pod with that annotation continues to give me the `SysctlForbidden` error.

I've added the following to a `Deployment` spec:

[code]

And I've tried adding a `PodSecurityPolicy` as well:

[code]

but that doesn't seem to help. I'm going to continue to dig deeper into the docs, but if yo

[2018-05-08 23:01] smcquay commented on #2828
I found my bug; it should be:

[code]

note the `unsafe-`

[2018-05-09 02:00] ameena007 commented on #3734
/reopen

[2018-05-09 02:10] ameena007 commented on #3734
This is a required security feature.

[2018-05-09 05:52] zachaller commented on #4946
We are also being hit by this and its causing our own api's to have downtime when the masters come back up. I do think that putting an elb on the internal api endpoint would help in this case as well.

[2018-05-09 07:50] bcorijn commented on #4402
/remove-lifecycle stale
Believe this one is still relevant!

[2018-05-09 10:54] chrissound opened #5120 "VPC not being created from config"
Is this possible? If so, how?

[2018-05-09 11:34] gambol99 commented on #5120
hi @chrissound ... easiest would be to build an ephemeral cluster and do a `kops get clusters -o yaml` to get a initial template to work from (assuming you can't find one online), you can use templating, snippets and environment configs via https://github.com/kubernetes/kops/blob/master/docs/cluster_template.md and to push the configuration `kops replace -f path`

[2018-05-09 11:40] gambol99 commented on #5115
We use `kops replace -f <filename>` for this .. i'm not sure the `create` will work ..

[2018-05-09 11:41] gambol99 commented on #5111
/assign @justinsb

[2018-05-09 11:47] chrissound commented on #5120
I already have the config, but the VPC don't seem to be created:

[code]

[2018-05-09 12:39] KashifSaadat commented on #4350
/remove-lifecycle stale
/lifecycle frozen

[2018-05-09 12:49] henrydobson opened #5121 "protokube / etcd-events failure kops 1.8.11-1.9.0"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

[code]

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

[code]

3. What cloud provider are you using?

[code]

4. What commands did you run?  What is the simplest way to rep

[2018-05-09 13:43] amatzia opened #5124 "ExpandPersistentVolumes/PersistentVolumeClaimResize Are Shown As Enabled But Are Not Working"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.9.0 (git-cccd71e67)

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide t

[2018-05-09 14:48] #5124 closed

[2018-05-09 17:34] brunsgaard commented on #4591
I will do PR on this later, but for now you can take a look at

https://github.com/brunsgaard/kops-nvidia-docker-installer

It works here, but need more testing and tuning.

[2018-05-09 18:25] pnorth1 opened #5127 "Add AWS SecurityGroup to instance group should not need rolling update / node restart"
1. What `kops` version are you running? The command `kops version`, will display
 this information.

Version 1.8.1

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.

Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCommit:"fc32d2f3698e36b93322a3465

[2018-05-09 18:29] mindprince commented on #4591
GKE doesn't use nvidia-docker. The shared libraries that need to be injected into the container are injected by the device plugin: https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/cmd/nvidia_gpu/README.md

[2018-05-09 18:37] brunsgaard commented on #4591
@mindprince Is your guess that the same approach would work for kops?

[2018-05-09 18:42] mindprince commented on #4591
It should.

[2018-05-09 20:26] chrissound opened #5128 "No EC2 instances created"
I've just tried to setup a cluster following https://kubernetes.io/docs/getting-started-guides/kops/

All the steps were successful,

However in the AWS admin I don't see any EC2 instances created, but there are some keypairs, volumes, and security groups?

How could I debug this further?

[code]

[2018-05-09 20:30] chrissound commented on #5128
Seeing this in the cloudtrail AWS logs:

Client.InstanceLimitExceeded

[2018-05-09 21:02] thomaschaaf opened #5129 "Set CloudTags on API ELB"
Currently the K8s API ELB is not tagged with the cloudTags.

kops v1.9.0

[2018-05-09 21:03] henrydobson commented on #4813
Not all etcd volumes have been mounted. In 3 master mode, the most common mount configuration I see is 2 etcd-main and 1 etcd-events with the remaining 3 volumes “skipped” because protokube believes they are already mounted.

[2018-05-09 21:16] iMartyn commented on #4249
@jhedev have you tested the latest release?

[2018-05-09 22:41] geekofalltrades opened #5130 "Kops should gracefully handle AWS credentials expiring during a command"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

1. What `kops` version are you running? The command `kops version`, will display
 this information.

   1.9.0

2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version

[2018-05-09 23:02] gaganapplatix commented on #2177
I am also interested in this. Our use case is that bastion is created outside of kops and is an ASG created instance and we would like to allow ssh access only from that instance to the nodes and master. We would like to use the sg associated with the Launch Configuration for the bastion ASG to be an ALLOW ssh rule for sg-bastion in the nodes and master sg.

[2018-05-09 23:02] sbinev opened #5131 "Update kops ami for cve issue CVE-2018-8897"
Release AMIs for kernel patched for CVE-2018-8897

The  kernel 4.4.125 and above are patched for CVE-2018-8897.

The latest AMI available for aws is k8s-1.9-debian-jessie-amd64-hvm-ebs-2018-03-11 which has the 4.4.121 kernel.

[2018-05-10 00:50] igoratencompass opened #5132 "The curl command from kops install instructions for Linux returns 404"
Thanks for submitting an issue! Please fill in as much of the template below as
you can.

------------- BUG REPORT TEMPLATE --------------------

4. What commands did you run?  What is the simplest way to reproduce this issue?
wget -O kops https://github.com/kubernetes/kops/releases/download/$(curl -s https://api.github.com/repos/kubernetes/kops/releases/latest | grep tag_name | cut -d '"' -f 4)/k

[2018-05-10 00:55] #5132 closed

[2018-05-10 01:37] #4953 closed

[2018-05-10 07:38] chrissound opened #5134 "kops export does not output any files"
[code]

[code]

I'm expecting some files to be written to the current directory.

[2018-05-10 07:46] strin opened #5135 "GPU for newer kubernetes versions"
It seems the GPU support for Kubernetes is stale: 1.7.2. For kubernets >= 1.8, GPUs are supported in a different way https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/

[2018-05-10 07:49] chrissound commented on #5128
Not sure what the cause of the issue was - possibly the AWS account was stuck on the free tier even though a billing account was added. I tried this on another AWS account and it worked fine.

[2018-05-10 07:49] #5128 closed

[2018-05-10 10:45] brunsgaard commented on #5135
I am working on an installer for `nvidia-docker` that uses kops hooks.

A rough but working solution can be found in my kops fork.
https://github.com/brunsgaard/kops/tree/nvidia-docker-docs/hooks/nvidia-docker

A PR will arrive some time next week :) Hope you find it useful.

[2018-05-10 10:49] brunsgaard commented on #5135
Duplicate of #4591

[2018-05-10 10:50] luisdavim commented on #3957
Any updates on this?

[2018-05-10 10:51] brunsgaard commented on #4591
@strin I am working on an installer for `nvidia-docker` that uses kops hooks.

A rough but working solution can be found in my kops fork.
https://github.com/brunsgaard/kops/tree/nvidia-docker-docs/hooks/nvidia-docker

A PR will arrive some time next week :)

Let me know if you give it a go, I am available in the slack channel for questions if you need help 👍

[2018-05-10 11:53] bhack commented on #4591
There is already a PR/Thread in https://github.com/kubernetes/kops/pull/4971

[2018-05-10 11:56] bhack commented on #1726
Do we want to close this and use https://github.com/kubernetes/kops/issues/4591?

[2018-05-10 13:36] so0k commented on #3554
@ruippeixotog
I cover the channels tool in [my kops workshop](https://github.com/honestbee/terraform-workshop/tree/master/kops#kops-addon-channels)

if you trust me, you can see how I [get the channels binary](https://github.com/honestbee/terraform-workshop/blob/master/setup/templates/cloud-config.tpl#L138) for that workshop... (custom compiled and pushed to github pages)

What's missing is the in

[2018-05-10 14:05] #4004 closed

[2018-05-10 14:55] lowerzero commented on #4011
Is ther any way to do this in current implementation?

[2018-05-10 15:56] liranp commented on #4759
I'm seeing this same kernel panic in us-west-2 with c3.large on non-master nodes as well.

[2018-05-10 16:19] miguelbernadi commented on #2489
/reopen

[2018-05-10 16:19] miguelbernadi commented on #2489
It seems `.pem` format does not work. Are there plans to support this?

[2018-05-10 17:25] badoet commented on #4873
i run to this issue as well. except i use --cloud-only tag so it just kill my instances
care to elaborate what is the solution? im pretty new with kube and kops
thank you