[2020-05-05 21:26] johngmyers commented on #8562
Is someone able to write up a release note for Kops 1.17? I would prefer we not hold up 1.17 indefinitely for a new version of Flannel.

[2020-05-05 21:49] diego-lugones commented on #9060
I have edited the utility-nova.my.k8s.local network cidr with  kops edit cluster my.k8s.local
I changed from 10.0.0.0/30 to 10.0.0.0/28 to enable more addresses and it worked.

[2020-05-06 10:56] juris commented on #9025
I did run command after command and waited for the new master to come up. I know I can update all master nodes with a single command, and I do it for test env. But for prod I prefer to manually check that cluster is still alive after each new master.

I just switched from t2.large to t3a.large. K8S version remained intact.

Don't have the exact output, but it was just a regular `t2.large > t3a.lar

[2020-05-06 11:02] juris commented on #8296
If it's intentional, I still can not understand reasoning behind leaving unused hosts in a mesh for a long time. Nodes are gone for +60 days, but their friends and still trying to reach them. I know it's hard to let go, but 2 month should be enough to forget.

[2020-05-06 11:58] 1996Shubh commented on #6135
sloution??

[2020-05-06 12:49] alexfrieden commented on #6135
Have you tried creating a gossip cluster? https://dzone.com/articles/creating-a-gossip-based-kubernetes-cluster-on-aws

[2020-05-06 13:39] #8058 closed

[2020-05-06 13:49] #8424 closed

[2020-05-06 17:25] #9067 closed

[2020-05-06 20:15] marek-obuchowicz commented on #8959
@justinsb I see in etcd-manager's changelog that this issue has been adressed. Do you happen to know anything about that? Is upgrading `etcd-manager` just the only step needed? What is the correct workflow to update it (ie. `kops edit cluster && kops update cluster --yes`, rotate masters with/without `--cloudonly`, anything else)?

I have the feeling that this issue might be found by many kops use

[2020-05-06 20:22] rifelpet commented on #8959
Instructions and more information is available in the [advisory here](https://kops.sigs.k8s.io/advisories/etcd-manager-certificate-expiration/).

[2020-05-06 21:32] demisx commented on #5762
We need NLBs too in order to use AWS Global Accelerator. The latter does not support classic load balancers.

[2020-05-06 22:44] sriramkannan opened #9082 "kops upgrade lost access to master nodes"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`Version 1.16.1 (git-d1b07f7fd6)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

`Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitComm

[2020-05-07 00:50] #7546 closed

[2020-05-07 04:11] johngmyers commented on #7764
/remove-lifecycle rotten

[2020-05-07 04:13] johngmyers commented on #8370
/remove-lifecycle stale

[2020-05-07 04:15] johngmyers commented on #5762
The active issue on this topic is #8370

[2020-05-07 04:56] jacksontj commented on #8296
First off, I can't think of a reason we'd _want_ to continue trying dead hosts for that long. If we want to make the timeout configurable we can, but likely the absolute max should be days at most (definitely not months!).

From my understanding of the code it looks like it is _supposed_ to remove failed peers at an interval (https://github.com/jacksontj/memberlistmesh/blob/master/cluster.go#L240)

[2020-05-07 07:14] robertwe commented on #8983
I would love to see it moving forward +1

[2020-05-07 07:57] #6771 closed

[2020-05-07 09:00] zetaab opened #9086 "Invalid metadata in OpenStack instance"
I am trying 1.18.0 alpha 3 release and creating instances:

Bad request with: [POST https://exxx.13774/v2.1/servers], error message: {"badRequest": {"message": "Invalid input for field/attribute metadata. Value: {u'kopsGroupName': u'master-zone-3-1', u'k8s': u'clusterospr-0502de.k8s.local', u'KopsRole': u'Master', u'k8s.io/cluster-autoscaler/node-template/label/kops.k8s.io/instancegroup': u'master

[2020-05-07 09:06] zetaab commented on #9086
/kind bug
/priority critical-urgent

[2020-05-07 09:37] hakman commented on #9086
Really sad to see this...

[2020-05-07 09:39] zetaab commented on #9086
I am thinking could we have e2e OpenStack tests also, but we need someone to deliver access

[2020-05-07 10:22] hakman commented on #9086
Someone could also manually run such tests before releases until such cluster would exist.
https://kops.sigs.k8s.io/development/testing/#kubernetes-e2e-testing

[2020-05-07 11:58] mitch000001 commented on #9086
I am sorry. Unfortunately it sneaked through. And it is in release 1.17 and 1.16. So, we should create PRs for those releases as well.

[2020-05-07 12:32] mitch000001 commented on #9086
@hakman @zetaab What do we need in order to add an Openstack env to the e2e tests of kops?

[2020-05-07 12:37] rifelpet commented on #9086
I think its worth following what cluster-api-provider-openstack did here: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/484

They use a project called OpenLab to run their tests: https://github.com/theopenlab/openlab/issues/141

And it looks like those tests are in the k8s testgrid: https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-openstack#capo-conform

[2020-05-07 12:38] zetaab commented on #9086
we do actually have https://github.com/theopenlab/openlab/issues/181 openstack project in some openstack installation. However, the problem is that the openstack version is pretty old in that one. We cannot really test loadbalancers etc there

[2020-05-07 12:59] rifelpet commented on #9086
Hm do we have any tests setup there at all? I wonder if "something is better than nothing" at this point. If we can get any sort of periodic testing on there and connected to our test grid, it could at least serve as some basic smoke testing until they eventually upgrade their openstack version and add functionality. Would a test there have caught an issue like this?

[2020-05-07 13:02] #8065 closed

[2020-05-07 15:57] GMartinez-Sisti commented on #8959
Upgrading from 1.16.0 to 1.16.2 doesn't work for me. The new master is not able to join the etcd events cluster. The other masters complain with:

```2020-05-07 15:48:51.792598 I | embed: rejected connection from "10.200.20.115:23166" (error "tls: \"10.200.20.115\" does not match any of DNSNames [\"etcd-events-b.internal.cluster.k8s.local\"]", ServerName "etcd-events-a.internal.cluster.k8s.local",

[2020-05-07 16:57] olemarkus commented on #8959
The fix for certificate rotation is that etcd-manager is upgraded to version 3.0.20200428. Since you have set a custom etcd-manager version, you need to fix this yourself or use kops default.

[2020-05-07 17:05] GMartinez-Sisti commented on #8959
I had to upgrade to use [Calico v3](https://github.com/kubernetes/kops/blob/master/docs/calico-v3.md). It's a supported procedure by kops, so I'm sharing for awareness and to see if someone had the same problem.

[2020-05-08 04:03] johngmyers commented on #8562
Can this be closed now that #9074 has been merged and cherrypicked to 1.17?

[2020-05-08 06:45] olemarkus commented on #8009
/remove-lifecycle rotten
/assign

[2020-05-08 07:43] olemarkus commented on #8009
A WIP of the vault VFS implementation: https://github.com/kubernetes/kops/pull/9094

[2020-05-08 11:02] rifelpet commented on #6850
/remove-lifecycle rotten

[2020-05-08 11:38] atmosx commented on #8923
Is anyone working on this? I'd be interested in working on this.

[2020-05-08 15:29] #8073 closed

[2020-05-08 17:13] zetaab commented on #9086
we do not have anything currently there. I am not sure how much the quota can handle there, maybe not much. So I do not know can that really be used for PR tests

[2020-05-08 17:59] hakman opened #9099 "containerd cannot pull kube-apiserver-healthcheck"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.18.0-alpha.4+de7cc70c3

**3. What cloud provider are you using?**
aws

**4. What commands did you run?  What

[2020-05-08 18:11] fred-vogt opened #9100 "kops 1.18 validate cluster - empty NODE STATUS table"
Noticed this while testing the lastest 1.18.0 alpha and its TF 12 output.

[code]

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud prov

[2020-05-08 18:14] fred-vogt commented on #9100
I can provide a cluster manifest or the response body from `/api/v1/nodes` if that is helpful.

[2020-05-08 18:33] rifelpet commented on #9086
yea, perhaps not PR tests but a single job that runs periodically? we could make sure even the most basic smoke test is green before releasing new kops versions. It'd also help us trace issues back to specific PRs.

[2020-05-08 21:29] #9099 closed

[2020-05-08 22:54] geojaz opened #9103 "Set a flag in cloudConfig/GCE to enable os-login"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
[Os Login](https://cloud.google.com/compute/docs/oslogin) is often used to control SSH access to VMs on GCE. It can simplify SSH access management by automatically creating and linking linux user accounts in a VM to a GCP identity (like a user who wanted to SSH into a node to debug).

We should probably configure this at

[2020-05-09 08:40] trustdark commented on #3427
Faced it when tried add bastion ig.
@demisx You mentioned that you solved issue editing YAML. Did you edit yaml file on s3 bucket side or locally?

[2020-05-09 15:46] nekinie commented on #8983
I have some work ongoing for it in the background, will start pushing my work into a branch a little later today

[2020-05-10 02:03] MoShitrit commented on #8923
Hey @atmosx ,
Doesn't seem like anyone's on that issue right now. Feel free to assign it to yourself by commenting `/assign`.
Thanks!

[2020-05-10 08:06] ari-becker commented on #4021
Not fixed by https://github.com/kubernetes/kops/pull/8312 ?

[2020-05-10 09:03] atmosx commented on #8923
/assign

[2020-05-10 10:30] #9006 closed

[2020-05-10 13:46] nvanheuverzwijn commented on #4021
This issue is fixed. The latest onaster branch uses AWS NTP server.

[2020-05-10 14:09] prashantkalkar opened #9109 "Unable to generate cluster.yaml from existing cluster"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.13.0 (git-be5fb9019)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Kubernetes Server Git version: v1.13.10
Kubectl client Git version: v1.16.0

**3. Wha

[2020-05-10 15:49] olemarkus commented on #9109
The command to `get` the entire cluster, including instance groups, is `kops get -o yaml`.

You can read more about templating here:
https://kops.sigs.k8s.io/operations/cluster_template/

There shouldn't really be any diffs when you `get` all the resources and then `replace` them after.

[2020-05-10 17:18] johngmyers commented on #4021
/close

[2020-05-10 17:18] #4021 closed

[2020-05-10 18:16] johngmyers opened #9110 "Certificate issuance cleanup and hardening"
I'd like to clean up and consolidate our certificate issuance code. It would be nice to harden things in the process. I'd like some input on the requirements.

Currently, most certificates and private keys are created out of `Keystore.CreateKeypair()`, called from `upup/pkg/fi/fitasks/Keypair`. All of these pairs are per-cluster, stored in the keystore in the VFS. They're also all issued with 10 y

[2020-05-10 18:18] #8098 closed

[2020-05-10 20:00] olemarkus commented on #3668
This works just fine now. Objects are validated, errors about missing objects are printed, but the `kops` exists.
/close

[2020-05-10 20:00] #3668 closed

[2020-05-10 20:55] #2858 closed

[2020-05-11 05:10] olemarkus commented on #9100
More information would be useful. I cannot reproduce this.

[2020-05-11 05:27] olemarkus commented on #1474
`kops replace` now validates the cluster.
Master nodes _have_ to run etcd. Master IGs won't be added unless they are referenced in the etcd spec.

/close

[2020-05-11 05:27] #1474 closed

[2020-05-11 06:01] johngmyers commented on #9100
Assuming it's not a case of every instance being skipped with the message `ignoring node with role` the only other case I can see is if `awsCloudImplementation.GetCloudGroups()` found zero non-bastion ASGs.

It looks like cluster validation might be blind to missing ASGs.

[2020-05-11 06:08] johngmyers commented on #9100
/assign

[2020-05-11 06:23] olemarkus commented on #4632
I imagine one would want a `sync` command that not only disruptively deletes all IGs, but:
* Updates/rolls (or force the user to do a rolling-update) any IGs with changes not marked for deletion
* Adds all new IGs mentioned in a spec file
* Drains IGs to be deleted
* Deletes IGs
* Performs validation between each steps.

The `delete ig` command terminates the entire ASG blindly and may be more dis

[2020-05-11 06:26] olemarkus commented on #4350
With etcd-manager, this issue doesn't appear anymore.

/close

[2020-05-11 06:26] #4350 closed

[2020-05-11 06:37] olemarkus commented on #2116
This works just fine now.

/close

[2020-05-11 06:37] #2116 closed

[2020-05-11 06:39] fred-vogt commented on #9100
@olemarkus , @johngmyers - thanks getting on this so fast.

Some extra info: - this is setup with mostly pre-created AWS resources, and TF 12 output.
The cluster full name is `{cluster}-{account}.kops.{domain}` -&gt; `1-18a-dev.kops.cicdenv.com`.

I'll start the cluster back up and add more details shortly.

[2020-05-11 06:41] olemarkus commented on #3669
/kind feature

[2020-05-11 06:42] olemarkus commented on #4057
/kind feature

[2020-05-11 06:42] olemarkus commented on #3954
/kind feature

[2020-05-11 06:43] olemarkus commented on #3888
/assign

[2020-05-11 06:44] fred-vogt commented on #9100
![kops-9100-ASGs-2020-05-10 23-40-38](https://user-images.githubusercontent.com/1837107/81531702-0f18c080-9318-11ea-95e8-7f34afbae8fb.png)
![kops-9100-ec2-instances-2020-05-10 23-42-29](https://user-images.githubusercontent.com/1837107/81531713-1344de00-9318-11ea-9f42-1449ca05a025.png)

[2020-05-11 06:44] fred-vogt commented on #9100
TF 12 output from `kops+update -output terraform`:
[code]

[2020-05-11 06:54] fred-vogt commented on #9100
@johngmyers - I can look thru kops go sources Monday.

Running `kops validate` with `-v 10` didn't have any relevant messages as far as I can tell.

[2020-05-11 07:23] fred-vogt commented on #9100
I looked at the code a little just now:
* [cmd/kops/validate_cluster.go](https://github.com/kubernetes/kops/blob/master/cmd/kops/validate_cluster.go)
* [pkg/validation/validate_cluster.go](https://github.com/kubernetes/kops/blob/master/pkg/validation/validate_cluster.go)

The "NODE STATUS" table printing is in the cmd module:
* [cmd/kops/validate_cluster.go#L261](https://github.com/kubernetes/kops

[2020-05-11 07:26] fred-vogt commented on #9100
Cluster manifest:
[code]

[2020-05-11 08:01] fred-vogt commented on #9100
Debug output - without the payloads from kube API (which are very long)
[code]

[2020-05-11 08:23] fred-vogt commented on #9100
This is 100% reproducible for this cluster.
Going to spin it down for now.

I'll have to create a custom kops build with extra logging to determine what is going on.

[2020-05-11 09:49] prashantkalkar commented on #9109
Thanks a lot for the reply.

Before I can try that I am facing a different issue now. It seems due to the previous run of the commands now, kops state is corrupt.

I am getting the following error even for simple commands like `kops get ig`

`error fetching cluster "<clustername>": error reading cluster configuration "<cluster-name>": error parsing s3://<bucket-name>/<cluster-name>/config: no kind

[2020-05-11 09:49] #9109 closed

[2020-05-11 10:12] olemarkus commented on #9109
Are you using the latest kops release (1.16.2)? It looks like you may be using an old version of kops.

[2020-05-11 10:15] prashantkalkar commented on #9109
I am using kops version: `Version 1.13.0 (git-be5fb9019)`. Is there any possibility of restoring the state for the version I am using.

[2020-05-11 10:27] olemarkus commented on #9109
No easy way, no. It is easier to just upgrade. What is holding you back from using 1.16.2?

[2020-05-11 11:57] prashantkalkar commented on #9109
I would like to first ensure I have proper CICD setup for the current version and have a way to promote changes to all environments (including Production). But yes will plan to do the upgrade soon.

I was able to restore the state back and was also able to generate the current YAML representing the cluster state. Adding details of what worked here:

It seems after the initial commands I executed,

[2020-05-11 13:22] jhohertz commented on #8562
Probably? Any way you could cut another beta with this in place for wider testing?

[2020-05-11 14:45] johngmyers commented on #8562
/close

[2020-05-11 14:45] #8562 closed

[2020-05-11 18:18] hakman commented on #8562
@jhohertz I think next release will be more of a RC or final. Not sure anything else can be done to improve things with Flannel until a new release comes.

[2020-05-12 00:57] KristianWindsor opened #9117 "How can I add another node to the cluster without updating other values? (kops cli version difference)"
My cluster is still on v1.14.6 (yes, I plan to update it, but I can't at the moment).

I need to add a few more nodes, just a simple change to the instance group.

But when I try to apply this change, kops tries to upgrade the entire cluster from v1.14.6 to v1.16.2. How can I disable this automatic K8s upgrade?

[2020-05-12 03:55] MoShitrit commented on #9117
Hey @KristianWindsor !
So looks like there are a few issues that I think may occur here, let's address each of them in separate:
1. Are you using the same `kops` binary now that you used the last time you interacted with this cluster? Generally- if you use a newer `kops` binary- you may expect things like that to happen. If you wish to maintain your cluster in its same state- make sure to use the

[2020-05-12 06:34] KristianWindsor commented on #7806
I had the same problem after downgrading kops from v.16.2 to v1.14.1.
[code]
This was fixed by following @rifelpet's solution. But in my case I only had to modify the config file. (`kops.k8s.io/v1alpha2` --> `kops/v1alpha2`)

[2020-05-12 07:12] KristianWindsor commented on #9117
Thanks for the help @MoShitrit!

Turns out that this problem was caused by me updating the kops cli version.

Apparently I used kops v1.10.0 to create the cluster, and I saw this behavior using v1.16.2. Reverting back to [v1.10.0](https://github.com/kubernetes/kops/releases/tag/1.10.0) solved this.

And kops was actually not trying to upgrade the Kubernetes version. I mistook the kops cli version

[2020-05-12 07:17] KristianWindsor commented on #9117
Updated the issue title to better reflect the problem

[2020-05-12 07:17] #9117 closed

[2020-05-12 07:49] johanssone commented on #9086
Just a comment here for people that are running into this, but wants to try out 1.18.0-alpha for Openstack deployments until there is a new release with fix, the below steps worked for me (golang required ofc):

[code]
kops binary can then be found under `${GOPATH}/src/k8s.io/kops/.build/local/kops`

[code]

That binary works out OK for deploying clusters on OpenStack it seems. Just keep in mind t

[2020-05-12 08:23] hakman commented on #9086
Even easier, the build including just this from the CI tests:
https://storage.googleapis.com/kops-ci/bin/1.18.0-alpha.4+3df14f2be/linux/amd64/kops

[2020-05-12 08:25] johanssone commented on #9086
Or that :D

[2020-05-12 12:29] olemarkus commented on #9066
/kind bug

[2020-05-12 13:14] #9066 closed

[2020-05-12 13:37] MoShitrit commented on #9117
Awesome, glad it worked out @KristianWindsor ! 😄

[2020-05-12 14:38] johngmyers commented on #9117
Specify the version of Kubernetes you want in the cluster spec.

[2020-05-12 15:04] searsaw commented on #6727
Still seeing a similar issue going from 1.14.9 to 1.15.11.

[code]

[2020-05-12 16:28] paulbdavis commented on #8771
I just ran into this as well. It seems that despite the `RollingUpgrade` strategy the new version of dns-controller was started up long enough that it terminated the old one, resulting in a crash loop on the new container since it could not connect.

I got around it by applying the older deployment revision and then I was able to do the normal rolling update (without the cloudonly flag)

[2020-05-12 17:46] victorrikhotso opened #9122 "af-south-1 is not a valid region"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`Version 1.16.2 (git-f5093e414)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

`Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.7", GitCommi

[2020-05-12 18:31] johngmyers commented on #9122
`af-south-1` will be supported in kops 1.17 per #9023
/close

[2020-05-12 18:31] #9122 closed

[2020-05-12 22:14] Naterd opened #9123 "Invalid node labels being passed to kubelet after upgrading to 1.16 kubernetes"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`Version 1.16.2`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the

[2020-05-13 03:00] johngmyers commented on #9123
kops 1.16.2 has code to ensure the `--node-labels=` flag is not set on kubelet when the Kubernetes version is 1.16 or later. Are you absolutely sure you used kops 1.16.2 to do the `kops update cluster --yes`?

[2020-05-13 03:25] johngmyers commented on #9123
Please report the problematic node's userdata. (You may redact any sensitive things such as the clusterName, ClusterName, ConfigBase, and S3 bucket names in channels)

[2020-05-13 04:23] arontx commented on #4728
/remove-lifecycle rotten

@
________________________________
From: fejta-bot <notifications@github.com>
Sent: Tuesday, May 12, 2020 11:21:03 PM
To: kubernetes/kops <kops@noreply.github.com>
Cc: arontx <arontrimble@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [kubernetes/kops] kops requires --ssh-public-key even if I want to use an existing one (#4728)

Stale issues rot after 30d o

[2020-05-13 04:30] MoShitrit commented on #9031
Hey again @olemarkus 😄
So following our discussion in #kops-dev Slack channel, it's pretty certain now that adding node-encryption breaks the connection between the nodes and the masters.
I've spent a good amount of time on it and found some possible issues on cilium repo which could be related (one that is a fairly good candidate is https://github.com/cilium/cilium/issues/10743).
Except for that

[2020-05-13 04:37] MoShitrit commented on #6474
Yep. The manifests for kube-state-metrics addon are veeeery outdated.
I'll add the recent one.
/assign
/remove-lifecycle stale

[2020-05-13 05:10] MoShitrit commented on #9025
Thanks for all that info @juris!
That's very interesting indeed.
So just wanted to make sure you saw @olemarkus's comment about a possible relation to #8771  - are you using DNS controller in your cluster right now? If so, that could be a good starting point. Could this have been related?

And another thing worth considering - I noticed you mentioned that you cluster runs ~160 nodes, yet the maste

[2020-05-13 07:52] olemarkus commented on #9031
I think it is fine to not support node encryption until we figure out why it is failing.

You can enable etcd-manager for cilium (https://kops.sigs.k8s.io/networking/#using-etcd-for-agent-state-sync) to see if this helps. it is unclear to me what exactly is the problem in that issue though.

There are so many cilium PRs that have gone into 1.18 though, so a PR for encryption may hold until we cut

[2020-05-13 08:06] trajakovic commented on #8771
To help others with my new findings (second cluster upgrade :)). Even if you `--cloudonly` upgrade master, `dns-controller` could spawn pod on some other "old" master node, and still not working. My suggestion is to scale it out (it's deployment after all) until some pod sits on upgraded version of master node, and do the rest rolling-update normal (without `--cloudonly`).

[2020-05-13 10:36] juris commented on #9025
Unfortunately, logs have been rotated. But here are CPU and memory stats for master-us-east-1c (the new master guy at the top). CPU spike at about 14:15 is when master-us-east-1a went down for upgrade.
The graphs for other two masters have the same pattern. As for me, it looks pretty fine in terms of utilisation.
![Screenshot 2020-05-13 at 13 21 18](https://user-images.githubusercontent.com/135914

[2020-05-13 10:47] olemarkus commented on #8534
Have you read this one? https://kops.sigs.k8s.io/rotate-secrets/

[2020-05-13 11:22] jsleeio commented on #6140
@hakman expect pain if you try to use the `imagebuilder`/`bootstrap-vz` tooling to build Debian Stretch ARM AMIs :-(

I tried this just after the `a1` instances were announced, and got as far as patching `bootstrap-vz` ... but got completely stuck on the bootloader config. If you're interested my abandoned changes are here:

https://github.com/jsleeio/bootstrap-vz/tree/arm64-support

(I use Packer

[2020-05-13 13:39] timothyclarke commented on #5762
There's a PR for this at https://github.com/kubernetes/kops/pull/9011

[2020-05-13 13:41] anoopmaurya commented on #8091
@rayh
I'm also facinig the same issue Is there any solution for it,
I can see that [branch](https://github.com/mccare/kops/tree/kops-single-master-upgrade) has been removed by @mccare in which he commented out the validation.

[2020-05-13 14:51] demisx commented on #5762
Just to clarify, in our case we need to be able to spin off an NLB when the ingress type is set to "Load Balancer". Currently, it creates a Classic LB with changing IPs. On the other hand, the classic LB in front of the k8s cluster API server works fine for us. Please advise me if this is not kops related and should be reported somewhere else.

[2020-05-13 14:54] rifelpet commented on #5762
Kops is only responsible for the load balancer that targets the Kubernetes API Server. Any load balancers that target your services would be handled by other components outside the scope of Kops, likely [cloud-provider-aws](https://github.com/kubernetes/cloud-provider-aws).

[2020-05-13 14:54] michalschott commented on #5762
@demisx in this case you should reach SIG (not sure which one covers ingress / aws, please help here).

[2020-05-13 15:07] demisx commented on #5762
Got it. Sorry, for posting off topic. Wasn't clear on ELB responsibilities.

[2020-05-13 15:35] olemarkus commented on #8091
The fix is in, but not released in a stable version yet

[2020-05-13 15:46] Naterd commented on #9123
Yes I am absolutely positive I was on version 1.16.2.

Manually terminating all the instances that could not join and then updating the cluster again seems to have fixed that issue. However nodes that are being created by the autoscaler are still showing the node labels being passed.

Is there anyway in kops to remove the troubling labels? I can update them via the instance group config but I cann

[2020-05-13 16:11] MoShitrit commented on #9031
Hmm, yeah that's a valid point. I'll give that a try later tonight and see if it helps.
If it still doesn't work- I'll probably go as you suggested and only add the `enableEncryption` flag. That should save a few steps at least.
Thanks again!

[2020-05-13 16:47] hakman commented on #7931
This is fixed and also CoreOS will be EOL soon.
/close

[2020-05-13 16:47] #7931 closed

[2020-05-13 17:27] jecnua commented on #8224
Still valid, please remove stale label.

[2020-05-13 18:14] #6474 closed

[2020-05-13 18:16] itskingori commented on #8224
/remove-lifecycle stale

[2020-05-13 19:27] Naterd commented on #9123
I decided to do another rolling update with kops to see if the issue would happen again and it did

kops version 1.16.2

I ran kops rolling-update cluster and am now seeing the same issue

[code]
I sshed to the node and the kubelet config is set as

[code]

the nodes user data

[code]

[2020-05-13 19:32] Bessonov commented on #3957
/remove-lifecycle stale

[2020-05-13 19:38] rifelpet commented on #9123
the node userdata suggests it was set by Kops 1.15.0, not 1.16.2:

Be sure that you're running `kops update cluster --yes` with Kops 1.16.2, perhaps running `kops version` beforehand in the same environment that is running `kops update cluster --yes`.

[2020-05-13 19:43] Naterd commented on #9123
Yeah I see that, I only have 1 version of kops installed and its 1.16.2.

I am looking if there is another automated process involved that may be overwriting my kops update cluster --yes command? Is that possibe

[2020-05-13 19:44] rifelpet commented on #9123
Yes, anything with write access to the kops s3 bucket could be running `kops update cluster --yes` which could overwrite the userdata. Another person, a CI environment, etc.

[2020-05-13 20:19] johngmyers commented on #9123
Also make sure you don't have `NODEUP_URL` set in your environment.

[2020-05-13 21:10] paalkr commented on #8562
Is there a kops 1.17.0 build available with this fix included? We have encountered kiam issues when testing kops 1.17.0-beta.2 with flannel networking, which we need for our windows worker nodes to join.

[2020-05-13 22:34] imsky commented on #6474
thanks @MoShitrit

[2020-05-14 04:51] johngmyers commented on #9100
Now #9118 has merged, it would be helpful if you could try with a build off of current master to verify you're now getting the new validation failures. If so, the question then becomes why `FindAutoscalingGroups` isn't returning any ASGs.

[2020-05-14 04:54] fred-vogt commented on #9100
@johngmyers - Thanks.   I'll test with master tomorrow after walking the dog.

[2020-05-14 07:05] axozoid commented on #8913
have you tried checking nodes' taints and the pod's tolerations?
what their values are?

[2020-05-14 09:48] xinau opened #9127 "user namespace remapping not working"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]
1.17.5

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simp

[2020-05-14 13:47] #8126 closed

[2020-05-14 14:56] flmmartins commented on #3733
Upvoting.....

[2020-05-14 15:02] flmmartins commented on #8959
Hello everyone,
I just did the upgrade to 1.16.2 & etcd-manager:3.0.20200429. Everything went okey.
Although I am watching Kops Github I didn't detect this.

Is there a way we can be informed about critical changes or releases by Kops? Or a specific place one should follow? I guess this would help a lot in case we have critical situations.

[2020-05-14 15:55] johngmyers commented on #8913
I think you need to diagnose a bit more why the nodes aren't registering. What error messages are they reporting?

[2020-05-14 16:40] drewwells opened #9128 "Support upgrading etcd volumes"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
We would like to change etcd in breaking ways. The etcd restore process will recover the cluster after infrastructure resources are recreated.
This is not possible because breaking etcd changes are validated. A flag to disable cluster or etcd validation will allow the changes. https://github.com/kubernetes/kops/blob/38572

[2020-05-14 16:44] Naterd commented on #9123
A CI/CD process that was running kops 1.15 was setting the userdata back to 1.15 version while I was mid upgrade. That is why I was seeing those random upgrade failures.

Thanks everyone.

[2020-05-14 16:44] #9123 closed

[2020-05-14 17:46] paul-theorem commented on #5767
I'd like to see this.

[2020-05-14 18:05] olemarkus commented on #8959
It was mentined here: https://github.com/kubernetes/kops/releases/tag/v1.16.2
If you follow github releases, you'd get this. I admit that the seriousness of this issue could be emphasised more on that page though.
Id create a separate issue on pushing info like this.

I actually think this particular issue can be closed now.

[2020-05-14 18:09] olemarkus commented on #8562
No release yet. It will go into the next one.

[2020-05-14 18:18] olemarkus commented on #8336
Kops stable have newer docker version than this now.

/close

[2020-05-14 18:18] #8336 closed

[2020-05-14 18:35] fred-vogt commented on #9100
Hm... today I turned the cluster back on and now it the node status table populates:
[code]
@johngmyers - I have a master build ready to test with your updates as well.

This might have something to do with using an "admin" kubeconfig or a "user" kubeconfig (aws-iam-authenticator).
I'll try creating some new clusters and update this again.

[2020-05-14 19:18] fred-vogt commented on #9100
@johngmyers - closing for now.  I can't reproduce this anymore.  If I see it again I'll test with a build of master.

[2020-05-14 19:18] #9100 closed

[2020-05-14 21:25] khos2ow commented on #7193
@mohag did you by any chance find a workaround for this? I just faced the exact same issue with regard to `/24` creates sets of `/27` and `/30` which the latter fails.

[2020-05-14 23:13] khos2ow opened #9129 "Creating subnets fail with InvalidSubnet.Range error on /24 network CIDR"
This is pretty much identical duplicate of #7193. I opened this for visibility, feel free to close this one in favor of the other.

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

- `1.16.2 (git-f5093e414)`
- `1.17.0-beta.2 (git-e0d2809d0)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster

[2020-05-15 09:06] #7766 closed

[2020-05-15 13:27] mohag commented on #7193
@khos2ow I'm currently using EKS instead.

You can manually edit the subnets before creating, but that is no fun...

[2020-05-15 14:11] #7767 closed

[2020-05-15 18:40] khos2ow commented on #9129
Based on [this message](https://kubernetes.slack.com/archives/C3QUFP0QM/p1517908874000553) in slack which led me to the AWS doc, the minimum allowed subnet size is `/28`. With manually editing the cluster config's subnet and change /30 subnets to /28 and adjust /27s with the new change I was able to make it work.

So it might worth to consider https://github.com/kubernetes/kops/issues/7193#issueco

[2020-05-15 20:13] rafilkmp3 commented on #7200
How i can create cluster with enabled ?

[code]

[2020-05-17 03:48] #8158 closed

[2020-05-17 15:16] trondhindenes commented on #7389
correct url for the post is: https://proseful.com/posts/2019-08-09-kops-restore

[2020-05-17 16:00] #8099 closed

[2020-05-18 04:12] #8163 closed

[2020-05-18 14:47] rifelpet opened #9138 "Update AWS China documentation with Route53 Support"
One of the AWS China regions now supports Route53: https://aws.amazon.com/about-aws/whats-new/2020/05/amazon-route-53-is-now-available-in-AWS-china-region/

If someone with an AWS China account can try creating a cluster using Route53 rather than gossip k8s.local and update docs/aws-china.md with their findings that would be much appreciated.

I'd be particularly curious if one can use Route53 in

[2020-05-18 17:14] olemarkus commented on #9128
There is a mismatch between the title and the description here. What kind of breaking change are you looking to perform?

[2020-05-18 19:27] #7816 closed

[2020-05-18 21:13] rdrgmnzs commented on #9128
+1 on what kind of breaking changes you are trying to perform.

Depending on what you are trying to do `--cloudonly` already allows some cluster level validation to be skipped.

[2020-05-18 23:44] vanakema commented on #7769
I believe the concerns noted in this issue have been addressed in #6957

[2020-05-19 03:50] semoac opened #9141 "Can't register new volume type for etcd ebs"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`Version 1.16.0 (git-4b0e62b82)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

`v1.16.9`

**3. What cloud provider are you using?**

`AWS`

**4. What commands did

[2020-05-19 10:40] iusergii opened #9143 "Feature Request: Offline install / Support private registry"
Add an option to deploy/upgrade cluster from a private registry. There are many case which becomes quite crucial for many customer:
* No external access from environment.
* Recent outage of public registry.
* Security scan.

[2020-05-19 11:50] iusergii commented on #3250
Raised a new one: https://github.com/kubernetes/kops/issues/9143

[2020-05-19 12:19] rifelpet commented on #9143
I believe Kops can already support overriding most if not all resources that it pulls externally. We may just need to add documentation around how to do it, and address the remaining gaps.

Grepping through the code I believe these are the environment variables that would need to be overridden:
[code]

Some of the documentation on how to [test a local kops build](https://kops.sigs.k8s.io/developme

[2020-05-19 12:47] jaredstehler commented on #372
/remove-lifecycle stale

[2020-05-19 12:51] Manikandan-Raj commented on #1386
I faced the same issue and tried the following steps, it got fixed.
1. changed master node type as c4.large, earlier t2.medium
2. updated both kobs and kubectl to 1.15.0

[2020-05-19 13:19] iusergii commented on #9143
@rifelpet thank you for point this out.  Is there any way to find out artifacts used by kops?
I guess this might change in future. Having a Doc for this would be a very helpful.

[2020-05-19 14:40] johngmyers commented on #9143
There's also the "assets phase". One of our juniors was able to get our tooling to use it, but I haven't been able to extract documentation.

[2020-05-19 15:00] rifelpet commented on #9143
Off the top of my head:

* protokube is a tar file representing an exported docker image. currently hosted in an s3 bucket (not the cluster state store)
* nodeup a binary downloaded from a variety of places including github.com and an s3 bucket

KOPS_BASE_URL will override both of those. See [urls.go](https://github.com/kubernetes/kops/blob/66228c5c477e2ac051077c795070a7438d76e73c/upup/pkg/fi/clou

[2020-05-19 15:02] f-ld opened #9145 "Ability to use custom calico image"
It appears from crd:
https://github.com/kubernetes/kops/blob/e4ca5a000df589e33a849ee41f8d2ec3f6baeed4/k8s/crds/kops.k8s.io_clusters.yaml#L2629-L2696

and code: https://github.com/kubernetes/kops/blob/5738ffab1387e49486f72494e2effc249b16a587/pkg/apis/kops/networking.go#L102-L136)

that it is not possible to specify a custom calico image.

But today quay.io got a major outage being unavailable for m

[2020-05-19 16:13] johngmyers commented on #9143
I think for his use case the assets phase is more appropriate. KOPS_BASE_URL et. al. are for substituting assets built elsewhere for the officially built ones.

[2020-05-19 17:32] jeffb4 opened #9146 "Allow specifying container images for cluster networking providers"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

I would like to specify custom images for cluster networking providers. Particularly Flannel in my case.

I locally host images in a registry and limit host access to that registry, so reaching out to quay.io is problematic for me.

**2. Feel free to provide a design supporting your feature request.**

[2020-05-19 17:35] jeffb4 commented on #9146
Related to #9145

[2020-05-19 17:42] jeffb4 commented on #9146
Required for #9143

[2020-05-19 21:31] semoac commented on #9141
I edited the bucket directly.

[2020-05-19 23:54] christianjoun commented on #9143
I have successfully implemented the “assets phase” for my organization.

The feature is not that heavily documented, but it’s totally doable.  https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#containerregistry is what documentation there is; what's missing is the section on fileRepository. https://github.com/kubernetes/kops/blob/master/pkg/assets/builder.go is the section of cod

[2020-05-20 07:05] aychang95 opened #9148 "nvidia-device-plugin breaking after latest Docker 19.03.9 release"
**1. What `kops` version are you running?
v1.16.0

**2. What Kubernetes version are you running?
v1.15.11

**3. What cloud provider are you using?**
aws

**4. What commands did you run?  What is the simplest way to reproduce this issue?**
Just follow the "preferred' approach for the nvidia-device-plugin hook here
https://github.com/kubernetes/kops/tree/master/hooks/nvidia-device-plugin
Generated i

[2020-05-20 07:10] aychang95 commented on #9148
I addressed this issue by downgrading docker 19.03.9->19.03.8 in the gpu nodes by editing the https://github.com/kubernetes/kops/blob/master/hooks/nvidia-device-plugin/image/files/02-nvidia-docker.sh file.

You can try using the image I built and pushed with by pasting in the following image in the  [aychang/nvidia-device-plugin:0.2.0-cuda10.0]( https://hub.docker.com/layers/aychang/nvidia-device-

[2020-05-20 07:37] iusergii commented on #9143
Thank you @christianjoun, I will have a try.

[2020-05-20 14:41] bikescholl commented on #8607
@ksummersill2 glad you found a workaround with the gossip protocol. Apologies as I changed jobs and no longer had access to the resources I was working on. The method I got around it with was wrapping it in Ansible and creating standard CNAME records and rebooting the worker nodes to have them automatically join the cluster after first boot.

[2020-05-20 17:33] ari-becker opened #9151 "[Documentation Clarity] Please clarify when specific fields are added to the configuration schemas"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

1.16.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.16.9

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest

[2020-05-20 18:27] christianjoun commented on #5435
Check /var/log/syslog for more information on the nodes.  In mycase, the api server was .cluster.local

[2020-05-20 21:18] johngmyers commented on #9146
The local registry use case would require more images to be replaced than just the networking providers. The kops asset phase and `assets.containerRegistry` would address that case.

[2020-05-20 21:19] johngmyers commented on #9145
The local registry use case would require more images to be replaced than just the networking providers. The kops asset phase and assets.containerRegistry would address that case.

[2020-05-20 23:18] #8181 closed

[2020-05-21 02:08] MoShitrit commented on #9031
So no matter what I tried, enabling node encryption breaks the cluster.
I'm going to drop the nodeEncryption support and only add the support to the main encryption flag which enables encryption between pods within the cluster.

[2020-05-21 13:00] mobilego opened #9158 "Getting "Error appending tag to subnet" error after upgrading kops"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.16.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.16.9
**3. What cloud provider are you using?**
OpenStack
**4. What commands did you run?  What is the

[2020-05-21 14:29] johngmyers commented on #9158
Does that subnet exist? Please provide your redacted cluster manifest and verbose logs.

[2020-05-21 18:05] olemarkus commented on #9129
I'll close this one as dupe of #7193
I'll see if there is anything to do about the logic.

/close

[2020-05-21 18:05] #9129 closed

[2020-05-21 18:08] olemarkus commented on #7193
The logic right now is to take the network CIDR, divide it into 8, and then take the last of those 8 and divide further into 8 subnets.

That logic makes in most cases, but there are edge cases such as these.

For the CNIs that use native ENI networking, I think the solution is more in the direction of creating dedicated subnets for that that is outside of standard networks kops creates. I'd handl

[2020-05-21 18:09] olemarkus commented on #7193
BTW, based on looking at some real clusters, the private subnets consume way more IPs than the utility subnets.

[2020-05-21 23:38] MoShitrit commented on #9143
There's also a partial guide here which we used at a previous job behind a corp proxy with _very_ limited access to the internet and were able to get to work with some adjustments (this was two years ago, so I can't remember the small changes we did. They were pretty straightforward though).
Worth a shot, let me know if it worked 😄
@iusergii
https://kops.sigs.k8s.io/aws-china/#offline-mode

[2020-05-22 04:06] johngmyers commented on #7193
That logic allows the later addition of availability zones, up to a total of seven.

We don't expect to add zones after cluster creation and usually use three zones, so our wrapper around kops divides the CIDR based on the number of initial zones. For four to seven zones it uses the same algorithm as kops. For two or three zones it divides by 4, with the last further divided into another 4. For a

[2020-05-22 08:00] olemarkus commented on #8597
Worth to mention these configs. https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#assets
There is also an undocumented `FileRepository`
https://godoc.org/k8s.io/kops/pkg/apis/kops#Assets

[2020-05-22 09:52] #6483 closed

[2020-05-22 14:34] nullzone opened #9159 "Upgrading from 1.15.3, 1.16.2 and v1.17.0-beta.2 to v1.18.0-alpha.3 doesn't get the etcd-manager downgraded to 3.0.20200307 from 3.0.20200429"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

  Version 1.18.0-alpha.3 (git-27aab12b2)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

  Client Version: v1.17.5
  Server Version: v1.17.5

**3. What cloud provid

[2020-05-22 19:13] hakman opened #9163 "Debian 10 (Buster) or Ubuntu 20.04 (Focal)"
Debian 9 (Stretch) is pretty old and will be replaced as base for the default image in Kops 1.18.

Debian 10 (Buster):
* Linux kernel 4.19
* more tested in the Kubernetes world
* natural upgrade from Debian 9
* defaults to iptables NFT (not supported by most CNI plugins)

Ubuntu 20.04 (Focal):
* Linux kernel 5.4
* has fixes for all known kernel bugs at this time (including conntrack ones)
* defaul

[2020-05-22 19:48] olemarkus commented on #9163
With buster we have to maintain our own build to default to legacy iptables, while with focal, we can just use a vanilla AMI. That tilts it in favour of focal from my side.

[2020-05-22 23:34] meabed commented on #6463
its been a year guys - can someone fix this please! thanks

[2020-05-23 05:33] mariusv commented on #9163
From my point of view this `has fixes for all known kernel bugs at this time (including conntrack ones)` makes a huge difference for most of the people.

[2020-05-23 06:05] olemarkus commented on #6463
This feature is due for 1.17

[2020-05-23 06:09] hakman commented on #6463
And can be tested in the 1.17.0-beta.2 release.
https://github.com/kubernetes/kops/releases/tag/v1.17.0-beta.2

[2020-05-23 06:20] hakman commented on #9159
@nullzone as explained in the advisory, 1.18.0-alpha.3 has the same etcd-manager version as 1.17.0-beta.2, so no downgrade will happen:
https://kops.sigs.k8s.io/advisories/etcd-manager-certificate-expiration/#how-do-i-know-if-im-affected

The overloading fix should also be present in the 3.0.20200429 version. Isn't it working?

[2020-05-23 11:13] olemarkus opened #9166 "Remove vsphere support"
(Almost) all of the code related to vsphere was added in #2401. After that most changes were to keep things compiling. It has always lived behind a feature flag and it requires a lot of hacks to get running.

I don't see this going anywhere, especially now that VMWare is pushing Tanzu for all it's worth. So I suggest we just punt it.

[2020-05-23 11:43] olemarkus commented on #7193
I think we can do things a bit simpler for `kops create`. The purpose of running `kops create cluster` is just to get a cluster going. If one has special needs (always with a production setup imho), one should use `kops create -f <spec>`. But kops should validate the CIDR a bit more, and I think being able to start smaller clusters do make sense.

So a suggestion for a fix is that we don't allow c

[2020-05-23 12:45] kzap commented on #9163
Focal for us, most important are the fixes, rather than keeping on the same distribution

[2020-05-23 13:39] #9040 closed

[2020-05-23 17:21] olemarkus commented on #8451
This one can be closed now?

[2020-05-23 17:38] olemarkus commented on #8292
I don't think there is much more to do here. Kops uses the EC2 health checks and there isn't much more that is offered directly from AWS.

/close

[2020-05-23 17:38] #8292 closed

[2020-05-23 17:41] johngmyers commented on #7193
That /24 boundary seems arbitrary. It seems to be incorporating the AWS-specific restriction on subnets not being smaller than /28.

Our automation, including for production clusters, runs `kops create` into a temporary bucket, extracts the generated spec, makes changes to it, then uses `kops create -f` or `kops replace -f` into the real bucket.

I think keying off of the maximum expected number o

[2020-05-23 19:24] johngmyers commented on #7193
`kops create cluster` and `kops create -f` both call `cloudup.PerformAssignments()`, which splits up the network CIDR. It also happens for such commands as `edit cluster`, `set cluster`, `upgrade cluster`, and so on.

[2020-05-23 21:25] fred-vogt commented on #9163
It would be great to have the default, weill tested kops image be ubuntu 20.04.

A lot of shops will be using this as their base server image soon anyways.

Used kops with ubuntu 16.04, 18.04 previously.
* The only issue I've had with ubuntu 18.04 was [systemd-resolvd - coreDNS loop](https://github.com/kubernetes/kops/pull/8353`)

[2020-05-23 22:12] mohag commented on #7193
Why always support up to 7 availability zones? Anything more than 3 in a single region seems to be extremely rare? (I'm assuming that clusters across multiple regions are not common) (The amount of subnets needed are known as well, which means that adapting to the relevant power of two for the split should be possible as well?) (The split function can gain a parameter for the number of parts neede

[2020-05-24 02:44] weisjohn commented on #8766
@justinsb any idea if pushing the images into GovCloud is a possibility?

[2020-05-24 04:39] olemarkus commented on #7193
My suggestion was only for allowing smaller clusters without redoing the entire logic for how we split subnets. Changing the logic for any CIDR would be larger discussion, I think.

But yeah, more than 3 masters is rare. Up to seven seems overkill for any scenario.

The CNIs that use ENI is a special case. Here we should create dedicated subnets that are used for pods so the 8 split actually makes

[2020-05-24 05:17] olemarkus commented on #8766
Following #9163, you may probably just want to use the default Ubuntu 20.04 images.

[2020-05-24 17:04] linecolumn opened #9173 "s3context.go: permission denied: unable to read /sys/devices/virtual/dmi/id/product_uuid"
Running KOPS **1.18.0-alpha.3** (git-27aab12b2) with **Ubuntu Focal** (_AMI: 099720109477/ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-20200423_) on **AWS** along with Kubernetes **v1.18.3**

During multiply cluster creation following messages always appears:

[code]

[2020-05-24 20:50] #8167 closed

[2020-05-25 03:33] jkieley commented on #4032
any update?

[2020-05-25 03:40] hakman commented on #9173
/assign

[2020-05-25 05:44] olemarkus commented on #4032
The plan is to enable LaunchTemplates by default in kops 1.18/1.19. But we Still need to make this configurable in the instance group spec.

[2020-05-25 05:47] olemarkus commented on #7825
Sorry taking so long to respond to this one. Kops expect a context named the same as the cluster, so you cannot rename it to something else. `kops export kubecfg --name <cluster name>` will fix the config file for you by readding the context.

[2020-05-25 05:48] olemarkus commented on #8621
I guess this one can just be closed now.
/close

[2020-05-25 05:48] #8621 closed

[2020-05-25 05:56] olemarkus commented on #4032
/kind feature

[2020-05-25 11:39] mtl-wgtwo opened #9176 "Calico should expose the IP autodetection method as part of the cluster config"
Apologies for doing this backward.  I have a WIP PR available as a starting point.

**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

By default, Calico auto-detects the IP address to bind to from the IP addresses available on the host using a "first-found" policy. This works, except when it doesn't. This will sometimes fail on hosts that have multiple interfaces. To wo

[2020-05-25 21:38] rifelpet commented on #9166
Git blame points me to these folks:
@SandeepPissay @abrarshivani @prashima @alrs

Would any of you be willing to help Kops' vSphere support move forward or should we go ahead and remove it?

[2020-05-26 00:07] akhfa commented on #6796
Still happened in Version 1.15.2 (git-ad595825a). Doesn't try latest version yet

[2020-05-26 04:48] sachinsaju commented on #9010
Hi, I had the same problem you described.The aws load balancer  is outofservice and results in failing to validate cluster giving the same error.But the cluster still not getting validated after waiting for long time.Do you still face the problem and how did you solve it?

[2020-05-26 04:56] tchainzzz commented on #9010
The problem was resolved by waiting ~15 min for the cluster to start. Eventually when I ran `kops validate cluster` I started seeing some information printed about resources coming online. If waiting, restarting your cluster, or changing your cluster config via `kops edit cluster` doesn't resolve the situation, you probably have a different problem than I had.

[2020-05-26 10:11] throrin19 commented on #8827
Any news about this ? I have the same problem using directly the latest Amazon Linux 2 AMI

[2020-05-26 10:28] olemarkus commented on #8827
As mentioned above, only the current kops alpha is expected to work. As we haven't released 1.17 yet, it will unfortunately take a while for 1.18 to go stable.

[2020-05-26 10:44] hakman commented on #8827
For now, the only known workaround is https://github.com/kubernetes/kops/issues/8803#issuecomment-605045448.

[2020-05-26 12:48] austinorth commented on #7825
Thanks @olemarkus ! I was able to figure this out on my own, but totally forgot to update the issue :sweat_smile:

[2020-05-26 12:49] #7825 closed

[2020-05-26 13:55] MoShitrit commented on #6796
This was fixed with versions 1.16.1 and up.

[2020-05-26 14:26] andersosthus opened #9180 "Ubuntu 20.04 - Nodes sometime fails to come up due to package install issues?"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.17-beta2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.17.5

**3. What cloud provider are you using?**
AWS

Monday 25th of May we started noticing problems with

[2020-05-26 14:29] hakman commented on #9180
/assign

[2020-05-26 14:50] paalkr commented on #9180
This is a slightly truncated version of the cluster spec

[code]

[2020-05-26 15:27] nullzone commented on #9159
I can see the ENV variable ETCD_LOG_LEVEL defined and available in the etcd-manager containers. On the other hand, the amount of log entries generated by the etcd-managers keeps being exactly the same.
So, I am assuming that:
- the new kops release is correctly handling the overloading fix and setting the ENV variable correctly as I above-mentioned.
- the current release being used for the etcd-ma

[2020-05-26 15:41] nullzone commented on #9159
OK, it seems the issue is related to the etcd-manager version being used in my cluster.
My cluster is using kopeio/etcd-manager:3.0.20200429 when using the ENV var ETCD_LOG_LEVEL is available from the version 3.4 (https://etcd.io/docs/v3.4.0/op-guide/configuration/). I will investigate how I can upgrade the version.
Anyhow, my original assumption is completely wrong.
I will close this issue. Sorry

[2020-05-26 15:41] #9159 closed

[2020-05-26 15:49] hakman commented on #9159
No worries, glad you found the reason. To help:
[code]

[2020-05-26 15:55] nullzone commented on #9159
Wonderful. Thank you!

[2020-05-26 16:21] SandeepPissay commented on #9166
@rifelpet I dont think anyone from VMware is maintaining this code. Please go ahead and remove it if nobody volunteers. Thanks!

[2020-05-27 00:52] #9146 closed

[2020-05-27 06:32] olemarkus commented on #8596
Anything more left in this issue, or can it be closed?

[2020-05-27 18:27] jhohertz commented on #8562
Just a note to warn, this nightmare may also have just landed in 1.16 as of 1.16.10 k8s. Still investigating but it's behaving the exact same way.

[2020-05-27 18:38] tuapuikia commented on #9180
Docker just added new repository for Focal, we can now use the official package instead of Bionic version.
https://download.docker.com/linux/ubuntu/dists/focal/

[2020-05-27 19:28] paalkr commented on #8562
We do run flannel on a non standard port, so for us the suggested fix wont help. But it's easy to already today address this flannel issue, using a custom hook in the cluster manifest.

[code]
Replace 4096 with 1 if you run with standard flannel setup.

[2020-05-27 20:09] regev-agabi commented on #1518
Hey have a basically the same problem can't understand how to fix it tried for few hours
@Miyurz
@justinsb
kops version:git-9992b4055
kubectl version GitVersion:"v1.18.0"
kubernetes: version: 1.18.0

ansible-parameters:
- name: Configure the cluster
  shell: >
    kops --v=3 create cluster
    --cloud={{ vendor }}
    --image={{ base_image }}
    --zones={{ aws_zones }}
    --node-count={{ node_co

[2020-05-28 04:09] jhohertz commented on #8562
I guess that was a bit dramatic of me. :smile: it just bothered me I couldn't explain *why*, though looking at the .10 patch looks like an iptables version bump (which also showed up in 1.16.0 to 1.17.0), may be the only thing networking related in the .10 patch.

I'm aware of that workaround but thank you for mentioning it anyways.

[2020-05-28 10:11] amitach commented on #8178
Have the exact same issue and would like to know if this is in the pipeline.

[2020-05-28 17:28] olemarkus commented on #4969
Is anyone still seeing this issue? The health check has changed a number of times since this issue was originally created.

[2020-05-28 17:37] Cryptophobia commented on #4969
We haven't had much errors from the healthcheck service in kops in a while. I'm going to close this as I am the one who opened this issue.

[2020-05-28 17:37] #4969 closed

[2020-05-28 17:39] olemarkus commented on #8017
/remove-lifecycle stale

This is an issue for us as well.
I think using the admin user is something we should generally discourage. Any command that now exports that user should rather have an `--export-admin-user` flag that explicitly exports that user. In addition we can add `--context-user` or similar for setting a pre-existing user to the context that kops creates. If neither flag is provided

[2020-05-28 17:43] olemarkus commented on #8178
We used to have this issue, but later opted for reusing the same subnet across all our clusters. For us, subnets didn't add any extra isolation anyway. It is not really something any of us are looking at at the moment.

/kind feature

[2020-05-28 17:54] olemarkus commented on #1518
This tends to happen if you have a space too many somewhere. Be on the lookout for that.

[2020-05-28 19:59] paalkr commented on #9180
@hakman , I can confirm that https://github.com/kubernetes/kops/pull/9182 fixed the problem.
Thanks

[2020-05-29 04:47] olemarkus commented on #8432
Would be interesting to support ipv6 with kops, but provisioning VPC/subnet with ipv6 is somewhat painful to do with the way kops works.

[2020-05-29 07:29] hakman commented on #9180
Thanks for the update and for all the effort on this @paalkr @andersosthus .
/close

[2020-05-29 07:29] #9180 closed

[2020-05-29 09:00] lrodorigo opened #9209 "Unable to set insecurePort"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.16.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.16.9

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest wa

[2020-05-29 09:59] povils commented on #9145
@johngmyers thanks for info! just not to confirm containerRegistry would allow us to specify our custom registry for all kops used images in one place? Like networking, protokube, cluster-autoscaler, spotinst and so on?

[2020-05-29 12:59] povils opened #9210 "Weird containerRegistry option behavior"
When setting containerRegistry with our local registry - kops works as expected, however, some docker images become invalid:

kopeio/etcd-manager -> kopeio-etcd-manager
kope/dns-controller -> kope-dns-controller

And so on..

I think this line makes it broken: https://github.com/kubernetes/kops/blob/c73659561e4c638c59e632f8c825a683ce837f73/pkg/assets/builder.go#L227

Is it a bug or intended featur

[2020-05-29 13:46] lrodorigo commented on #9209
Hi,
I'm trying to make my cluster compliant to CIS Security Benchmark.
In particular the comma 1.1.6 asserts  **Ensure that the --insecure-port argument is set to 0**.

So I'm trying to disable the API Server insecure port, by setting it to 0, which is a mandatory security requirement for a production cluster.

[2020-05-29 13:59] MoShitrit commented on #9209
Ohh I see now, yeah, that makes sense. Does seem like a bug.
I'll take a look at that.
Thanks for clarifying!

/kind bug
/assign

[2020-05-29 14:04] MoShitrit commented on #9209
Found another issue that seems to be related but was never handled:
https://github.com/kubernetes/kops/issues/7766

[2020-05-29 14:10] lrodorigo commented on #7766
There's a quick way to fix this (e.g. by rebuiling only API machinery), in order to apply the fix ASAP ?

[2020-05-29 14:10] lrodorigo commented on #9209
There's a quick way to fix this (e.g. by rebuiling only API machinery), so I can apply the fix ASAP ?

[2020-05-29 14:42] MoShitrit commented on #9209
Yeah, I believe there should be.
I'll post the required steps here as soon as I'll have the solution so you can repeat them locally.

[2020-05-29 15:00] MoShitrit commented on #9209
Ohh yeah, looks like it was removed at the api-server level as well
https://github.com/kubernetes/kubernetes/pull/72241
OK, so yeah, I guess there's nothing to do here really.
Thanks for pointing that out!
/remove kind

[2020-05-29 15:03] MoShitrit commented on #9209
/remove-kind bug

[2020-05-29 15:41] agilgur5 commented on #1517
Would adding `--wait` to `kops validate cluster` be more acceptable than adding to `kops create cluster`? i.e. `kops validate cluster --wait` would loop until the cluster passes validation.

Right now I've just added this script/function to do so:
[code]
(note that `$CONTEXT` and `$KOPS_STATE_STORE` must be set beforehand if you're planning to use that)

[2020-05-29 16:51] johngmyers commented on #9145
I don't know about the non-bootstrap addons, but yes to everything installed by `kops update cluster`.

[2020-05-29 17:01] f-ld commented on #9145
Ok, sorry, I missed that piece in the doc.

For whoever landing here with the same question, have a look to [the spec > assets > containerRegistry in the cluster spec](https://github.com/kubernetes/kops/blob/6830cf6d44004cfaa26b3037b28b118dcc9d7417/docs/cluster_spec.md#containerregistry)

Closing this ticket then

[2020-05-29 17:01] #9145 closed

[2020-05-29 19:18] atgaurav commented on #8959
I am validating the expiry of the certs but it seems there are multiple certs.

The command mentioned by @cbeneke  lists certs in etcd-manager-events-etcd.
Then there are certs in directory /etc/kubernetes/pki/

Which one causes the specified disruption here, can anyone shed some more light here please?

[2020-05-30 08:00] lrodorigo commented on #9209
So, the insecure-port must be open on Kubernetes v1.16.9 otherwise the cluster will stop working.
Now, what's the most secure way to prevent security issues? Setting `--insecure-bind-andress=127.0.0.1 ` to and taint the master node in order to prevent prevent pod from running on master?

[2020-05-30 08:43] olemarkus commented on #9209
You typically need to prevent pods from running on masters anyway because of the elevated AWS privileges the master role has. We do that using podnodeselector admission controller.

[2020-05-30 08:51] olemarkus commented on #8959
The certs in `/etc/kubernetes/pki/` are outside the scope of this issue. These certs are certs managed by kops, not etcd-manager.
The certs in this issue are only the ones in the etcd-manager mounts.

[2020-05-30 08:59] olemarkus commented on #1517
Doesn't `kops validate cluster` have a `--wait` flag now?
` kops validate cluster --wait 60s`

[2020-05-30 18:04] atgaurav commented on #8959
@olemarkus Thanks for confirmation, just rephrasing here
Certs in the directory "/etc/kubernetes/pki/" are managed by Kops so they are out of scope of this issue.

But certs in the directory are the impacted ones:
[code]

Even the CA certs in the above mentioned directory are out of scope.

[2020-05-31 02:10] fred-vogt commented on #8264
@rifelpet, @johngmyers - good to see this is being looked into.  This is a huge win for AWS installations.

@johngmyers - I'm testing [amazon-eks-pod-identity-webhook](https://github.com/aws/amazon-eks-pod-identity-webhook) with kops 1.18a3 and k8s 1.18.2 and noticed that the combination of:
* https://github.com/proofpoint/certificate-init-container
* https://github.com/proofpoint/kapprover
No lon

[2020-05-31 02:54] johngmyers commented on #8264
@fred-vogt that should be filed as an issue on the appropriate repo.

[2020-05-31 03:02] fred-vogt commented on #8264
@johngmyers - good point.  I'll create an issue with your kapprover repo.

For now I want to make the point for others testing with items mentioned here.

[2020-05-31 13:41] bwagner5 commented on #8804
planning on using this go library that was recently open sourced to implement the declarative resource based instance group creation in the toolbox:

https://github.com/aws/amazon-ec2-instance-selector

[2020-05-31 15:28] #8249 closed

[2020-05-31 18:31] #8153 closed

[2020-06-01 04:42] #8187 closed

[2020-06-01 07:45] #8174 closed

[2020-06-01 09:32] olemarkus commented on #8174
I assume this happened only on that one upgrade. If it happens on newest version of kops, let me know.

[2020-06-01 13:19] #9166 closed

[2020-06-01 23:16] blakebarnett opened #9240 "Calico Typha doesn't tolerate masters taint"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.16.3

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.15.12

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest w

[2020-06-02 08:18] linecolumn commented on #9173
KOPS **1.18-beta.1**, messages are gone away.

[2020-06-02 08:18] #9173 closed

[2020-06-02 08:31] linecolumn opened #9244 "kops export kubecfg spews three (redundant) warnings"
KOPS **v1.18.0-beta.1**

If we want to export kubecfg then warning about config not found is redundant.

[code]

[2020-06-02 08:46] fred-vogt opened #9245 "node-local-dns crash looping on masters '169.254.20.10:8080: bind: address already in use'"
`node-local-dns` crash looping on `masters` - new in `1.18.0-beta.1` :
[code]
Health port is conflict with API server health check sidecar.
* Release notes: `1.18.0-beta.1`
  * [kube-apiserver: healthcheck via sidecar container @justinsb #9069](https://github.com/kubernetes/kops/pull/9069)
* https://kubernetes-kops.netlify.app/cluster_spec/#node-local-dns-cache
  * https://github.com/kubernetes/ko

[2020-06-02 08:50] fred-vogt commented on #9245
Have seen this on 2 different clusters created with KOPS 1.18.0-beta.1.

Will test with 1.18.0-alpha.3 tomorrow.
I thought I've seen node local dns working before today.

[2020-06-02 13:41] kitos9112 commented on #4464
In case someone lands here. The above IMAGES.md file has been moved --> https://github.com/kubernetes/kops/blob/master/docs/operations/images.md

[2020-06-02 16:07] olemarkus commented on #4464
Or more precisely, here https://kops.sigs.k8s.io/operations/images/

[2020-06-02 18:52] rifelpet commented on #9245
Hi @fred-vogt thanks for the report. This does seem like an issue we'll need to fix for Kops 1.18.0.

This is the listening port we'll need to change in order to not conflict with kube-apiserver:

https://github.com/kubernetes/kops/blob/d18c88a546ba0659acaf6f2274d9e772f7ed7e1d/upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template#L58

@mazzy89 since you implemented

[2020-06-02 19:02] mazzy89 commented on #9245
Thank you @rifelpet to ping me on this. I brought in that port from the upstream node local dns cache manifest. I need to check this out and verify if any changes to that port could have any impact on the component itself. Going to check and i'll reply in a while

[2020-06-02 20:20] fred-vogt commented on #9245
@rifelpet, @mazzy89 - It doesn't happen with kops-1.18.0-alpha-3 - FYI.

If there is more info needed I can provide it.  Thanks all.  Great feature for 1.18.

[2020-06-02 20:23] johngmyers commented on #9245
The kube-apiserver-healthcheck sidecar that this conflicts with was added after 1.18.0-alpha3.

For reference, node-local-dns isn't in 1.17 branch, so this doesn't affect that branch despite kube-apiserver-healthcheck being backported there.

[2020-06-02 20:25] johngmyers commented on #9245
/milestone v1.18

[2020-06-02 20:44] johngmyers commented on #9245
Both node-local-dns and kube-apiserver-healthcheck should be using ports registered in pkg/wellknownports/wellknownports.go. Probably neither one should be using port 8080 on host network.

[2020-06-02 20:59] mazzy89 commented on #9245
I've checked and tried to find out how node local dns uses the port 8080. It is configured in the upstream manifest https://github.com/kubernetes/kubernetes/blob/a4e7db7cc3505bada9f98f6f0f7f21306cf217e2/cluster/addons/dns/nodelocaldns/nodelocaldns.yaml#L70 for health check purpouse. I haven't found at the moment any reference in the upstream code base though.

[2020-06-02 21:01] ssdowdavalon opened #9251 "master unavailable after update from 1.7.4 to 1.9.6"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.16.2

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.18.2 (and 1.7.4 to talk to the 1.7.4 cluster)

**3. What cloud provider are you using?**
AWS

**4. What comma

[2020-06-02 21:48] rifelpet commented on #9245
I'm guessing the health check port is only used by the livenessProbe so that would be the only other reference we would need to update when changing the port. Perhaps the docs can be updated to mention the health and prometheus ports in case users want to consume them.

[2020-06-02 22:34] rafilkmp3 commented on #2363
/reopen cloudflare makes a cheaper way to run a non gossip cluster, route53 is very expensive in small scenarios.

[2020-06-02 23:29] johngmyers commented on #9251
protokube version is indeed determined by kops version.

The next diagnosis steps would be to look into the protokube and/or kube-apiserver logs to see why apiserver isn't becoming ready.

[2020-06-02 23:34] johngmyers commented on #2363
/kind feature
/remove-lifecycle rotten

[2020-06-03 00:27] arontx commented on #5569
/remove-lifecycle stale

 @

[2020-06-03 00:59] jim-barber-he commented on #9245
This problem has also occurred for me using the newly released Kops `1.17.0` and a Debian 10 (buster) cloud image and Kubernetes 1.17.6, so it's not just limited to kops 1.18 by the looks of things.

[2020-06-03 01:25] jim-barber-he commented on #9245
This problem is not happening for kops 1.17.0-beta.2.
The release notes for 1.17.0-beta.2 to 1.17.0 show that the kube-apiserver healthcheck via sidecar container patch was pulled in and enabled.

[2020-06-03 03:17] johngmyers commented on #9245
@jim-barber-he I don't see nodelocaldns in the 1.17 branch. It appears to have been added to 1.18 in #8780 and I see no evidence of backporting.

So how is it you are getting nodelocaldns with kops 1.17.0?

[2020-06-03 04:13] fred-vogt commented on #9245
Checked in github - its in the history for kops-1.17.0:

Release Notes: 1.17.0-beta.2 to 1.17.0
* kube-apiserver: healthcheck via sidecar container @justinsb #9069
* ...
* kube-apiserver-healthcheck: actually enable on 1.17 @justinsb #9095
![kops-1 17 0-node-local-dns-01](https://user-images.githubusercontent.com/1837107/83595099-cff41e80-a515-11ea-8228-dfa4d5721caf.png)

[2020-06-03 04:15] johngmyers commented on #9245
@fred-vogt I'm aware that kube-apiserver-healthcheck is in 1.17. But nodelocaldns is not, so there's no problem.

[2020-06-03 04:16] fred-vogt commented on #9245
Oops.  Removed that comment.

[2020-06-03 05:12] jim-barber-he commented on #9245
It's still possible to install nodelocaldns into your cluster external to kops and have it all work with a few tweaks to their config file (apart for the find and replace on their placeholder vars we also added a tolerance to have it start on the master nodes too).
For earlier versions of nodelocaldns we used to have to set `spec.kubelet.clusterDNS` to `169.254.20.10` but with the 1.18 version of

[2020-06-03 05:28] johngmyers commented on #9245
If you're installing something into a cluster external to kops you can adjust the port it uses to not conflict.

[2020-06-03 06:51] olemarkus commented on #9244
The kubernetes client library reads that variable and emits that error directly.
If you want to export a cluster config to a new file without triggering those warnings, run
[code]

[2020-06-03 08:20] linecolumn commented on #9244
Just tried it, same thing:

[code]

[2020-06-03 08:41] olemarkus commented on #9244
did you unexport/unset `KUBECONFIG`?

[2020-06-03 09:05] linecolumn commented on #9244
That was it -- thanks!

`KUBECONFIG` was pointing to non-existing and not `/tmp/foo` file

Closing.

[2020-06-03 09:30] #9244 closed

[2020-06-03 13:20] jdomag commented on #8954
Hi,
Has anything changed here? is there any kops image with patched kernel?

[2020-06-03 13:24] olemarkus commented on #8954
Not yet. But kops supports running Ubuntu 20.04, and support for Debian Buster is underway.

[2020-06-03 13:25] hakman commented on #8954
Please use `image: ubuntu/ubuntu/images/hvm-ssd/ubuntu-focal-20.04-arm64-server-20200528`. It should fix you issue.

[2020-06-03 13:41] olemarkus commented on #8481
I _think_ this is only about the features of the AWS SDK.
It may work in newer kops, if not I could have a look if I can set up AWS SSO

[2020-06-03 14:12] ssdowdavalon commented on #9251
This is the protokube log (at least the first 150 lines of it).  /var/log/kube-apiserver.log is empty.

[protokube.log](https://github.com/kubernetes/kops/files/4723882/protokube.log)

[2020-06-03 14:50] johngmyers commented on #9251
Looks like it might be in the kubelet log.

[2020-06-03 15:22] ssdowdavalon commented on #9251
One more piece of info, in the bootstrap-channel.yaml downloaded from my s3 store, this is the 1.9 section:

[code]

None of the others have `version:` fields like this.

[2020-06-03 15:23] ssdowdavalon commented on #9251
@johngmyers Seeing this in the kubelet log:

[code]

`/etc/cni/net.d` is empty.

[2020-06-03 15:30] ivnilv opened #9264 "Kops fails to join new master when 1 master lost etcd events data volume"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest

[2020-06-03 15:32] olemarkus commented on #5408
Sorry for taking so very long to respond to this one.

So what is needed here, if I understand things correctly, is to fail cluster validation if a kubenet-based networking plugin is used (GCP, kubenet, external, or kopeio) and `Spec.Kubelet,HairpinMode != hairpin-veth` and kuberpoxy is in IPVS mode?

[2020-06-03 15:47] johngmyers commented on #9251
That's common. `/etc/cni/net.d` doesn't exist until it's created.

[2020-06-03 16:04] ssdowdavalon commented on #9251
@johngmyers kubelet.log has 350,000 lines.  Is there something else I can look for before posting that?

[2020-06-04 02:13] johngmyers commented on #9251
Fishing the real error message out of the kubelet log is a bit of an art. It can be helpful to eyeball a good kubelet run to see which errors (such as the `/etc/cni/net.d` ones) are normal and which are indicative of failure.

[2020-06-04 03:27] jdkealy commented on #2464
👍

[2020-06-04 09:56] #7921 closed

[2020-06-04 10:11] #9031 closed

[2020-06-04 17:00] johngmyers commented on #8017
Our wrapper around kops adds a flag that strips the admin credentials, replacing them with the configuration to invoke our authentication hook.

I think it would be better to only include the admin credentials when given an explicit flag requesting such. I'm not quite sure how to get the information to configure a presumably site-specific authentication hook.

[2020-06-04 21:07] #7999 closed

[2020-06-04 22:34] cwwarren opened #9273 "Switching Flatcar to other distro with Calico enabled breaks Flatcar nodes immediately after updating cluster"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.17.6

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest

[2020-06-05 00:47] #5807 closed

[2020-06-05 03:55] hakman commented on #9273
Thanks for reporting this @cwwarren. I have to think a bit if this can be fixed. Restrictions on Flatcar like distros and Kubernetes best practices don't always match.
/assign

[2020-06-05 04:00] rifelpet commented on #9273
Could it be a matter of the Calico DaemonSet having an update strategy of `RollingUpdate` rather than `OnDelete`? I know we've discussed switching to `OnDelete` for certain upgrade scenarios before.

[2020-06-05 06:41] olemarkus commented on #8017
#9280 illustrates what I'd like to see. I just hacked it in now, and didn't bother with tests. But you get the idea.
* If context doesn't exist, user have to add `--admin` or `--user <existing user>`
* If context exists and neither flag is specified, don't change the user bit of the context.

I am not sure how your authentication hook works, but ours work by using `exec` plugin. So kubectl calls o

[2020-06-05 06:52] olemarkus commented on #9273
I think `OnDelete` for CNI and similar is the way to go. There can be similar challenges with cilium as well. The sudden upgrade of those addons also seems to be surprising to some users.

Those who want to roll immediately can just do a `kubectl rollout restart ds ...` anyway.

[2020-06-05 06:57] olemarkus commented on #8405
So `/etc/cni/net.d/` is empty because the DS is not there, and it is the DS that writes the plugins to that directory. In 1.15, Kops will also write the plugins there, but Calico (and Canal) should (if the version is recent enough) also write those CNIs. Does this issue happen with newer versions of kops?

Note that when you change the CNI implementation, you need to manually delete the old daemon

[2020-06-05 07:06] hakman commented on #9273
Still, there could be incompatibilities if some nodes are on a CNI plugin version and some on another. This is why RollingUpdate seems ok as is.

[2020-06-05 07:09] olemarkus commented on #9273
The config will have to change in the manifest itself, so we only do this where we see it does no harm.
Rolling updates tend to be "graceful" in that not every pod is killed immediately. So incompatibilities seems like something providers should (must) avoid anyway.

[2020-06-05 07:46] olemarkus commented on #9273
One other downside with `RollingUpdate` is that we have low `maxUnavailable` for good reasons. For cilium, it means that you update kops, then wait for about 30-60 sec per node in the cluster for the entire DS to roll, and then you can roll the nodes. It is a bit time-consuming.

[2020-06-05 13:30] coolstang opened #9281 "Add Support for new c5a AWS instance types"
- Add c5a AWS instance types to the supported list.

I can help with a PR if you like but I wouldn't know where to start to test and validate the change.  The code does look trivial to update.

[2020-06-05 14:36] johngmyers commented on #9281
It depends on what the failures are. You probably need to run `hack/update-expected.sh`.

[2020-06-05 14:39] coolstang commented on #9281
I had the wrong go version installed so I adjusted it and build and tests now pass so I can put up the PR as soon as the feature request gets approved, and I complete the contributor process.

[2020-06-05 15:52] johngmyers commented on #8476
Support for CoreOS has been removed and Flatcar added.
/close

[2020-06-05 15:53] #8476 closed

[2020-06-05 16:55] hakman commented on #9163
Thanks everyone for the feedback and for voting.
Ubuntu 20.04 will be the default image in Kops starting with v1.18.

[2020-06-05 20:43] #9163 closed

[2020-06-06 12:06] olemarkus commented on #9151
My opinion is that we always describe in which version something was added when we add something to the documentation (including the kops api). I try to do this with my PRs, but we have no routine for this. It would be cool to have badges similar to k/k, but I think adding it in text is a good start.

It is worth to mention that one should in no way rely on docs outside of master. Anything in thos

[2020-06-06 14:48] #8289 closed

[2020-06-06 16:06] johngmyers commented on #8507
This is because that record is created by dns-controller, not Terraform.

[2020-06-06 22:45] darose opened #9290 "New version of kope.io/k8s-1.14-debian-stretch-amd64-hvm-ebs image needed due to AddTrust cert expiration problem"
As you may have heard, there's a major issue going around recently whereby a root cert ("AddTrust External CA Root") has expired, and is causing many problems with clients that verify SSL certs that have that root in the chain.  (See https://www.agwa.name/blog/post/fixing_the_addtrust_root_expiration)  For many SSL clients (such as most browsers) this is not an issue, as they have removed that roo

[2020-06-06 23:05] lazzarello opened #9291 "Nodes created via AutoScale Group are in Unauthorized state with same configuration as authorized nodes."
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`Version 1.17.0-alpha.1 (git-3f34983e6)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

AWS

**4. What commands

[2020-06-07 01:01] lazzarello commented on #9291
During debugging I discovered this has something to do with the EC2 Load Balancer of type Application and how it transmits certificates. Working through it...

[2020-06-07 06:34] ari-becker commented on #9151
If one can't rely on docs outside of master, one can't run master in production, and the docs in master can't be relied upon for the versions which users *do* run in production, then which docs, pray tell, are users supposed to rely upon?!

[2020-06-07 07:16] olemarkus commented on #9151
Users are supposed to use http://kops.sigs.k8s.io at least. But it is sort of "broken" when sections don't have any version info in them.

[2020-06-07 10:30] tanjunchen commented on #8703
/remove-lifecycle stale

[2020-06-07 10:31] tanjunchen commented on #8706
/remove-lifecycle stale

[2020-06-07 10:31] tanjunchen commented on #8704
/remove-lifecycle stale

[2020-06-07 10:31] tanjunchen commented on #8705
/remove-lifecycle stale

[2020-06-07 21:39] johngmyers commented on #9151
My question about the proposal to have the documentation describe the behavior of multiple versions of kops simultaneously is "What is the documentation deprecation policy?"

My PR #8372 to remove the documentation of the Calico CIDR migration that happened around kops 1.7 has languished for months. The documentation is going to be difficult to read and maintain if it has to cover all the variatio

[2020-06-08 00:49] rifelpet commented on #9151
So I did some research:

* Netlify supports having [branch subdomains](https://docs.netlify.com/domains-https/custom-domains/multiple-domains/#branch-subdomains) so we could configure netlify to create subdomains for each of our release branches. Unfortunately it uses [Netlify DNS](https://docs.netlify.com/domains-https/netlify-dns/) which requires delegating the apex domain to netlify. Currently

[2020-06-08 04:27] MoShitrit commented on #9151
@rifelpet I can give the structor tool a go and see how it works!
If no one will take the widget option by the time I'm done - I can take a stab at that one as well.

[2020-06-08 04:28] MoShitrit commented on #9151
/assign

[2020-06-08 05:16] olemarkus commented on #9151
Not really that confident we'll be able to manage multiple versions of the docs. But go for it. Personally, I think the widget is more helpful, and should be used by versioned docs anyway.

On deprecations, I have removed most that I don't find useful anymore. But old release notes ... I don't see the harm of keeping those around at least. I am more concerned where users can be confused.

[2020-06-08 07:17] olemarkus commented on #9290
/assign @justinsb

[2020-06-08 07:19] olemarkus commented on #9290
/area security

[2020-06-08 07:27] #8137 closed

[2020-06-08 07:28] olemarkus commented on #8708
This sounds good to me

[2020-06-08 07:30] pierluigilenoci commented on #6527
/remove-lifecycle stale

[2020-06-08 08:42] MartijnZuijd opened #9297 "no matches for kind "Cluster" in version "kops.k8s.io/v1alpha2" Kops version 1.15.1"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.15.1

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2", GitCommit:"59603c6e503c8716

[2020-06-08 12:56] olemarkus commented on #9297
Please ensure all your operators are using at least kops 1.16. That should work with the above-mentioned issue.

[2020-06-08 13:00] rifelpet commented on #9151
I think the main "gap" in versioning docs with our release branches is when a new feature is cherry-picked from master to a release branch but the associated docs are not. I don't know how often that happens, since usually the docs are included in the same PR as the feature itself.

I suppose we'd need to decide on a policy for all of the non-feature information in the docs. Off the top of my head

[2020-06-08 13:05] olemarkus commented on #9151
It happens quite frequently. At least with the recent rewrites I did of various sections. "backporting" those would make me dread doing more of those (and there are more needed).

Somewhat related: we should avoid backporting _features_. That would make the amount of backported docs a lot easier.

[2020-06-08 13:44] ari-becker commented on #9151
Question: how tightly coupled is the version of Kops to the version of Kubernetes to be managed, really?

In spite of what the docs claim, we (and I imagine, most others) will run the version of Kops that corresponds with the version of Kubernetes that's installed in the cluster.

If Kops 1.17.0 *really* supports Kubernetes 1.16.x and 1.15.x, then why bother maintaining older release branches at a

[2020-06-08 14:13] olemarkus commented on #9151
In short https://kops.sigs.k8s.io/welcome/releases/ is really accurate. And to some extent, we really only support the latest version of bugs unless something really critical happens (security or things like etcd-manager certs).

[2020-06-08 15:09] rifelpet commented on #9151
Often times a new Kops minor release introduces additional changes that a user may not be comfortable with applying at the moment. For example, new Kops minor versions often change CNI provider manifests. By providing bug fixes to older Kops minor versions we can allow users to make those broader changes like CNI upgrades at a time that is more convenient for them.

Regarding backporting features,

[2020-06-08 15:19] hakman opened #9298 "Periodic e2e fails for Kubernetes 1.11"
https://testgrid.k8s.io/kops-versions#kops-aws-k8s-1.11

Found this in `kops-configuration.log` for the master:
[code]

https://storage.googleapis.com/kubernetes-jenkins/logs/e2e-kops-aws-k8s-1-11/1269974107756171266/artifacts/34.240.30.233/kops-configuration.log

@johngmyers maybe you have some idea what happens there.

[2020-06-08 15:36] johngmyers commented on #9298
/assign

[2020-06-08 16:13] hakman opened #9301 "Periodic e2e fails for Kubernetes 1.19 - cAdvisor incorrectly detects ImageFS free space"
e2e pre-submits and periodic e2e for 1.19. Logs indicate it is related to the eviction manager that cannot correctly retrieve the disk stats:
https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/e2e-kops-aws-k8s-latest/1269848278476787712/
[code]

I tried to understand what exactly happens, but I am stuck at finding the root cause. For know, I know that:
* Kubernetes 1.18 works OK
* using containerd

[2020-06-08 16:46] johngmyers commented on #9298
Looks like a disagreement between cloudup and nodeup as to what the etcd provider is.

[2020-06-08 16:56] johngmyers commented on #9298
Ah, previously when using legacy manager it would fail to get the missing CA cert/key then just return. Now it's returning an error.

[2020-06-08 18:38] #8308 closed

[2020-06-09 00:44] #7086 closed

[2020-06-09 02:28] jsleeio opened #9307 "optionally disable NTP daemon installation+config"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

**TLDR**: we build and use our own AWS AMIs with all required packages already installed and would like a toggle that lets me skip some or all of the OS package checks/remediation. We prefer `chrony` over `ntp` for its security track record. The `ntp` package in Ubuntu 18.04 [has unpatched CVEs](https://people.canonical.

[2020-06-09 04:18] hakman commented on #9307
Thanks for the feedback @jsleeio, very detailed. Will try sped some time thinking about this.
/assign

[2020-06-09 06:34] hakman commented on #9307
For packages, the solution would be to use `pdatePolicy: external`:
https://kops.sigs.k8s.io/getting_started/arguments/#updatepolicy

[2020-06-09 11:11] xoxbet opened #9315 "Probable networking issue - ec2net.hotplug failing with exit code 1"
Kops: 17.0.0
Kubernetes: 1.17.6
Cloud provider: AWS

I have multiple instance groups and this issue seems to appear on both on demand and spot instances.

I did an upgrade from kops 16.2 to 17.0 on my development cluster and then the following errors started to appear in node syslog:
[code]
No additional info in logs.

Cluster manifest with sensitive and non-related info removed:
[code]

I'm not s

[2020-06-09 12:48] MoShitrit commented on #8715
This was fixed in kops 1.16.1+

[2020-06-09 12:48] MoShitrit commented on #8715
/close

[2020-06-09 12:49] #8715 closed

[2020-06-09 13:02] MoShitrit commented on #9297
I also noticed that the command you were trying to run in order to replace the cluster was `kubectl replace -f...` - shouldn't that be `kops replace -f ...`?
https://kops.sigs.k8s.io/cli/kops_replace/

[2020-06-09 17:41] smilelikeshit opened #9318 "Unable to create GKE on zones asia-southeast2-x"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.17.0 (git-a17511e6dd)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.1", GitCommit:"d

[2020-06-09 18:01] jeffb4 commented on #8662
/remove-lifecycle-stale

[2020-06-09 18:02] jeffb4 commented on #8662
/remove-lifecycle stale

[2020-06-09 18:10] jmcdonagh commented on #8400
/remove-lifecycle stale

[2020-06-09 18:10] jmcdonagh commented on #8400
I see the instructions were merged above, thanks a lot!!

[2020-06-09 18:10] #8400 closed

[2020-06-09 18:17] olemarkus commented on #7970
At the moment this is really the only way for kops to "safely" update things like the CNI DS. Kops will for example not be able to detect if nodes need updates by looking at the DS.

It isn't impossible to improve this, but we'd need some help implementing it.

[2020-06-09 18:18] olemarkus commented on #7970
/remove-lifecycle stale

[2020-06-09 20:08] johngmyers commented on #9297
Our wrapper around kops stores in the state store the version of kops last used to update a cluster. It then requires an `--allow-downgrade` flag in order to update that cluster with an older kops version. That solves the problem of different operators running different versions. Perhaps we should put that feature in kops proper.

[2020-06-09 22:30] mikesplainsonos commented on #9163
I feel like an idiot. I couldn't ssh into a test cluster. Turns out it's due to this (debian -> ubuntu = admin -> ubuntu user, duh).

Maybe we should add a release note highlighting this @hakman? Thanks for doing this!

[2020-06-09 22:35] mikesplain commented on #9163
I feel like an idiot. I couldn't ssh into a test cluster. Turns out it's due to this (debian -> ubuntu = admin -> ubuntu user, duh).

Maybe we should add a release note highlighting this @hakman? Thanks for doing this!

[2020-06-10 03:00] rifelpet commented on #9298
it looks to still be failing: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/e2e-kops-aws-k8s-1-11/1270458079854465028

`W0609 20:51:43.445067     156 urls.go:91] Using base url from KOPS_BASE_URL env var: "https://storage.googleapis.com/kops-ci/bin/1.18.0-alpha.4+7a5dd523a"
571` confirms that its using the kops commit from #9302

[2020-06-10 03:02] MoShitrit commented on #9151
Quick update on structor - I just tried to give it a first try but seems like it has a hard requirement for the `requirements.txt` file to be in the root of the repo (and of every branch).
I created [this issue](https://github.com/containous/structor/issues/23) to see if I'm doing something wrong.
I'll post further updates here when I have such.

[2020-06-10 03:18] rifelpet commented on #9151
👍 one issue we'll have with structor is that netlify only clones the repo with the master branch, so we'll need to add a remote and fetch the other branches that we want structor to checkout. a `git remote add origin https://github.com/kubernetes/kops.git; git fetch origin` in the `build-docs-netlify` make target should suffice.

luckily we're only dealing with a public repo, so we don't need to d

[2020-06-10 03:21] MoShitrit commented on #9151
Gotcha, yeah that makes sense!
So would that command be added to `netlify.toml` file? Or are we going to put that as part of the `build-docs-netlify` `make` function?

[2020-06-10 03:22] MoShitrit commented on #9163
That's a great point @mikesplain !
Yeah, I definitely vote for adding that highlight. Otherwise we'll probably see issues coming up from confused users 😄

[2020-06-10 03:26] hakman commented on #9163
Wanted to first get this all working first. Release notes are on the way :).

[2020-06-10 03:27] MoShitrit commented on #9163
Thanks, @hakman !! 😄

[2020-06-10 03:27] hakman commented on #9298
@rifelpet I think tests are failing because of https://github.com/kubernetes/kops/pull/9320.

[2020-06-10 04:10] johngmyers commented on #9298
/unassign
/assign @hakman

[2020-06-10 04:14] rifelpet commented on #9151
i see netlify.toml has a single `command` field. its not clear to me if that can be a set of commands executed in a shell, but I think it might be easier for developers to test it locally if we add the git operations to the make target.

[2020-06-10 04:20] MoShitrit commented on #9151
Sounds good to me!
So as soon as that `structor` issue is resolved, I'll make sure to update the `make` target to handle that.

[2020-06-10 05:10] olemarkus commented on #9297
@johngmyers that would be awesome

[2020-06-10 08:15] #2086 closed

[2020-06-10 08:57] voroniys commented on #7286
To my mind this issue needs to have more attention. It is quite easy to solve, but nevertheless stays for almost a year open. :(

Usage of the boundaries became more or less standard in any corporate environment and luck of support of this feature creates a substantial isues with using Kops in such environments. On other hands it looks like the whole issue can be solved with ~10-20 lines of code a

[2020-06-10 10:39] olemarkus commented on #7286
I don't at the moment. But I am happy to review a PR with 10-20 lines of code :)

[2020-06-10 10:56] voroniys commented on #7286
I have absolute no knowledge of Kops structure and build process. But even I can find the places in the code that needs to be changed. In fact 1 sting configuration option has to be added which in unchanged form has to be passed to AWS API call. How hard should it be for someone with good knowledge of the project?

[2020-06-10 11:23] simonracz commented on #7286
@voroniys Even though technically you are right, you miss the bigger point. Kops maintainers are not your contractors. This is an open source project. Sending in a PR is the right way to go.
Or reaching out to them in their preferred way, e.g. here : https://kops.sigs.k8s.io/welcome/contributing/#office-hours

[2020-06-10 14:52] strangeminds opened #9325 "Cluster memory limits enforced after upgrade to 1.16.10"
We upgraded one of our clusters from Kubernetes 1.16.9 to 1.16.10 and after the minor version bump, our cluster is now enforcing the Allocated resources Requests limits on memory.  We've always been able to over-provision our pod's Requests and for the most part, the cluster has allowed us to be overcommitted on both CPU & memory.  This is what our other **1.16.9** cluster looks like on one of our

[2020-06-10 17:25] feniix opened #9327 "After upgrading to 1.17.0 cannot reach the api server intermittently"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?  What is the simplest

[2020-06-10 20:02] #9325 closed, assigned to nobody

[2020-06-11 02:43] johngmyers commented on #7685
With node-local storage and post-replacement sync, the solution is to use a PodDisruptionBudget. One can include an additional Deployment in the scope of the PDB's selector, providing a pod that indicates ready only when the database has adequate replication.

[2020-06-11 06:10] olemarkus commented on #1517
`kops validate` alone isn't a valid command though. So the flags are only the global flag + the help flag. But I'll see if I can make the examples a bit more clear.

[2020-06-11 11:10] scp7 commented on #8481
Have a look at aws2-wrap2 which is a wrapper for executing a command with AWS CLI v2 and SSO. https://pypi.org/project/aws2-wrap2/

I was able to use Kops and AWS SSO with this.

[2020-06-11 13:13] medhasn commented on #9103
/assign @medhasn

[2020-06-11 14:41] coolstang commented on #9281
I have the work for this complete, can I get this item assigned to me so I can put up a MR?

[2020-06-11 15:12] rifelpet commented on #9281
/assign @coolstang

though I should point out that we recently merged https://github.com/kubernetes/kops/pull/8856 which removes the need for a hardcoded list of instance types. Those changes are in master (kops 1.19) so I think it would be best to have your PR target the release-1.18 branch so that we can add support for these types in kops 1.18. If there is anything special needed to handle thes

[2020-06-11 15:22] LeeHampton opened #9336 "New Kops 1.17 AWS StorageClass Wreaks Havoc with Existing Defaults and Provides Uncertain Upgrade Path"
[This commit](https://github.com/kubernetes/kops/pull/8582/files#diff-efbe8714d84ff556a917cc97b0e2e75d) introduces a new StorageClass called `kops-ssd-1-17`. There seem to be a couple of issues with this.

First, even though it is no longer explicitly declared in [this file](https://github.com/joshbranham/kops/blob/9f033f8e999b52ee7bd7dc7b5661f62cc62a706f/upup/models/cloudup/resources/addons/stora

[2020-06-11 15:45] #6605 closed

[2020-06-11 15:47] agilgur5 commented on #1517
Thanks @olemarkus changes in #9333 would've definitely made me notice that. Yea I recognize it's not a valid command but it previously gave details about `validate cluster` so I either didn't realize there was a different doc or that the `validate cluster` doc had a tiny difference. Now they're a good bit different from each so I think that's easier to tell. This issue is still first on a google s

[2020-06-11 16:09] joshbranham commented on #9336
Hey @LeeHampton sorry for the confusion here. We are discussing in #kops-dev, but I will say that I don't anticipate this new class to change much, and therefore the version matching should not change unless we find new setting to set.

We could not just use `gp2` because you can't modify settings of an existing storageclass, which would break on upgrades as well.

I think the missing piece here i

[2020-06-11 16:29] johngmyers commented on #9336
The previous `gp2` StorageClass was left in that file with the intention that the annotation would be removed upon upgrade.

[2020-06-11 16:35] joshbranham commented on #9336
Yup that’s right totally missed that. Do you have another class set as default?

[2020-06-11 17:02] joshbranham commented on #9336
Put up a fix, we needed to set the default to `false` versus omitting the annotation completely.

[2020-06-11 17:14] johngmyers commented on #9336
I'm curious as to why, as including the `default` class omitting the annotation appeared to work. Perhaps because `gp2` had been previously installed with `kubectl apply`?

[2020-06-11 17:21] feniix commented on #9327
Ok so apparently there was something stale on etcd

this is what I did to fix it

first I added the parameter `--endpoint-reconciler-type` to the apiserver

[code]

Second I logged in to the master and used etcdctl to remove the stale masterleases

[code]

Last, delete the endpoint `kubernetes` so it is recreated by the apiserver

[code]

[code]

[2020-06-11 17:21] #9327 closed

[2020-06-11 17:50] LeeHampton commented on #9336
Thanks @joshbranham , makes total sense. I think I've gotten bitten by the whole dropping-annotation-doesn't-remove-it thing before.

I'm still a little bit concerned about this sudden change in default though, especially because it doesn't appear to be easily modifiable in the kops yaml manifest (unless I'm missing something?). Given how transparent this change is, a developer could easily find t

[2020-06-11 18:14] PradeepKC opened #9339 "How can I download binary kops version 1.15.3?"
**1. What `kops` version are you running?
 kops version
Version 1.10.0 (git-8b52ea6d1)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
kubectl version
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc1

[2020-06-11 19:32] voroniys commented on #7286
That is what I'm doing with project based on technology I'm familiar with. Golang unfortunately is not one of them.

[2020-06-11 20:02] MoShitrit commented on #9339
@PradeepKC you can find them here
https://github.com/kubernetes/kops/releases/tag/v1.15.3
/close

[2020-06-11 20:02] #9339 closed

[2020-06-11 20:14] PradeepKC commented on #9339
Thanks. I am sure I tried that location just few hours ago. It works. Thanks for quick reply.

[2020-06-11 20:16] MoShitrit commented on #9339
No worries!
I think you might've tried this one - https://github.com/kubernetes/kops/releases/tag/1.15.3 (notice that the version isn't prefixed with `v`). This one doesn't have the binaries.
Starting kops 1.18 - this isn't going to be separated anymore so there will be just one place to look per version.

[2020-06-11 22:38] agilgur5 commented on #6879
Having the same issue trying to validate the `kubelet` cert with `metrics-server`. `--kubelet-insecure-tls` exposes a MITM attack vector and so is a bit 😬  that this the default option for the add-on.

I tried using `--kubelet-certificate-authority` myself, but no luck, can see a very detailed, fairly exhaustive description at https://github.com/kubernetes-sigs/metrics-server/issues/541.

Do any `

[2020-06-11 22:46] agilgur5 commented on #7083
You can configure webhook auth following the config in https://github.com/kubernetes/kops/issues/7200:

[code]

But this is for auth; without this `metrics-server` gets `401 Unauthorized`.

`--kubelet-insecure-tls` isn't to get around auth, it's to skip verification of the TLS cert that the `kubelet` presents. With token auth but without `--kubelet-insecure-tls` one gets:

[code]

The inverse of `

[2020-06-12 04:58] #4728 closed

[2020-06-12 05:12] olemarkus commented on #4728
Trying to figure out what is left of this issue. Is it being able to create a cluster without ssh keys using `kops create cluster`?
If so, I would perhaps keep it closed as typically one wants to use `kops create -f` when creating a proper production cluster. `kops create cluster` is more of a convenient method to just test kops, but will never give you all the flags you need to fully configure yo

[2020-06-12 05:37] hakman commented on #9301
@justinsb any chance you can help with this on the k/k side?

[2020-06-12 10:54] pshanoop opened #9350 "Upgrade from KubeDNS to CoreDNS with nodeLocalDNS is failing cluster spec validation"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.16.0 (git-4b0e62b82)
I tried with Version 1.17.0 (git-a17511e6dd) too.

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Client Version: version.Info{Major:"1

[2020-06-12 12:15] pshanoop commented on #9350
Doing further search, It seems `nodeLocalDNS` is missing in KubeDNSConfig type
 https://pkg.go.dev/k8s.io/kops/pkg/apis/kops?tab=doc#KubeDNSConfig

[2020-06-12 13:15] jdomag commented on #8954
I will wait until official kops image - for now i'll remove CPU limits as i use Brustable QoS anyway. Any idea how to protect some system/k8s resources so those always have an access to CPU? I'm wondering what will be impact if all the CPU on the node is being used.

[2020-06-12 13:42] olemarkus commented on #9350
It is another instance of #9151. Support for this is comes in  kops 1.18, which is currently in beta.

[2020-06-12 13:46] pshanoop commented on #9350
Until then is there anyway to enable `nodeLocalDNS` ?

[2020-06-12 13:52] olemarkus commented on #9350
You can just deploy the DS as per https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/ as long as you are not using kubeproxy ipvs mode or cilium

[2020-06-12 14:33] LeeHampton commented on #9336
It does have that annotation. Here is the full annotation set from my gp2 class:

```kubectl.kubernetes.io/last-applied-configuration={"apiVersion":"storage.k8s.io/v1","kind":"StorageClass","metadata":{"annotations":{"storageclass.beta.kubernetes.io/is-default-class":"true"},"labels":{"k8s-addon":"storage-aws.addons.k8s.io"},"name":"gp2"},"parameters":{"type":"gp2"},"provisioner":"kubernetes.io/aw

[2020-06-12 14:52] joshbranham commented on #9336
Yeah so with that said, since you modified the storageclass at some point, it would be hard for `kops` to work around that annotation forcing the default annotation

https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#replace-the-list-if-all-its-elements-are-primitives

[2020-06-12 15:28] diversario commented on #8954
@jdomag without limits, I think your best best is to set requests for your system processes at the level where it should be always or almost always enough.

[2020-06-12 15:31] hakman commented on #8954
There are no immediate plans to build an official Kops image with Ubuntu 20.04.
For now, 1.18 will use the official Ubuntu 20.04 image as default.
https://github.com/kubernetes/kops/pull/9283

[2020-06-12 16:29] LeeHampton commented on #9336
Is there anything in kops that would potentially result in a StorageClass being modified? The 1.16 clusters I upgraded from were all fairly new clusters and I can't find anything in my stack that edits the underlying StorageClasses.

[2020-06-12 20:09] feniix opened #9353 "Add support to pass endpointReconcilerType to apiserver"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

This is related to this issue: https://github.com/kubernetes/kops/issues/9327

From the documentation in https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/

[code]

but what is shown below is not a valid setting in the cluster.yaml
[code]

*It'd be nice to support that kube apiserver flag i

[2020-06-12 20:52] olemarkus commented on #9245
I had a look at the manifest for nodelocaldns. It is sort of doing the right thing. It binds to 8080 on the IP you specify as `LocalIP`. The reason for the conflict is because the health check binds to all ports on 8080. It would be more suitable if it bound to localhost:8080 instead, as far as I can tell.

[2020-06-13 13:08] akhmadfld commented on #8771
Hi @nikhilc89 and all,

I follow your workaround and can rolling update master successfully.
But after rolling update master, the dns controller still use old image (1.15). Should we rolled it back again to version 1.16 ?

Btw I use cluster with version 1.15, but need to update etcd manager using kops 1.16.3.

Thanks for your answer

[2020-06-14 05:46] #7990 closed

[2020-06-14 05:54] olemarkus commented on #7990
I assume this is no longer an issue. If so, let me know and I will reopen

[2020-06-14 05:57] olemarkus opened #9357 "Removing baremetal cloud provider"
Following #9166, does anyone mind removing baremetal? Looks like some basic work was done on this about three years ago, but that it was never completed. Later commits are more about general changes to cloud provides.

@justinsb any plans on doing more work on this? With where kops is today, a baremetal provider perhaps overlaps more than usual with kubeadm.

[2020-06-14 08:24] shachar-ash opened #9358 "After upgrading to 1.17.0 kubectl doesn't work on master"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.6", GitCommit:"d32e40e20d167e103faf894261614c5b

[2020-06-14 09:06] olemarkus commented on #9353
I can see how this makes sense on single-master clusters, but would be very unfortunate on multi-master ones. An idea could be that kops sets `endpoint-reconcilier-type` to `master-count` on single-master setups.

[2020-06-14 09:50] #7753 closed

[2020-06-14 09:52] olemarkus commented on #4190
We just changed from Debian to Ubuntu now. So guess we can consider this assessed.
/close

[2020-06-14 09:52] #4190 closed

[2020-06-14 13:24] jsleeio commented on #9307
Apologies for the delay in replying here, and thanks for looking into my issue, @hakman. I think the results of my testing (below) agree with your comment.

I can confirm that setting `updatePolicy: external` does **not** have the effect I'm looking for, though it may still be an option we'll use, as we build new patched AMIs every day. My test, using Kops 1.17.0 and a Kubernetes 1.17.6 cluster:

[2020-06-14 14:16] hakman commented on #9307
Probably there is a confusion. Please check the description of `updatePolicy`. This will help with not installing packages that you already have installed in you custom AMI, not all of them. Providing an option to completely disable doesn't seem like a good idea.

There is no option to disable NTP yet, but there was a plan to add various options to control NTP, like enable/disable, host(s) and may

[2020-06-14 14:47] #9336 closed

[2020-06-14 16:47] johngmyers commented on #9357
I have a pending PR for this.

[2020-06-14 16:57] #7599 closed

[2020-06-14 17:35] olemarkus commented on #8560
Given the limitations of EKS, this is probably not ever going to be possible. If one wants to migrate one probably have to do this through DNS/ELBs etc.

Anyways out of the scope of what Kops can offer.
/close

[2020-06-14 17:35] #8560 closed

[2020-06-14 17:37] olemarkus commented on #7599
The next best thing would be to run the manifests through some OPA rules such as deprek8-

[2020-06-14 17:55] olemarkus commented on #7004
Is still an issue in kops 1.17? As far as I can tell, the SGs are updated.
Note that if you use Bastion, `sshAccess` will not affect master nodes, but bastion instead.

[2020-06-14 18:04] olemarkus commented on #9358
I assume there is a "1" missing from those last version numbers there.
Which AMI are you using? Or which distro is it based on?

[2020-06-14 18:16] olemarkus commented on #5442
Anyone experiencing this with kops 1.17?
I see some mentioned of awfully small instance types. This could cause some pods to be stuck pending because they don't fit on any nodes.

[2020-06-14 18:53] pfisterer commented on #9158
@mobilego did you solve the issue? I've got the same error message.

[2020-06-14 18:55] pfisterer commented on #9158
@johanhubens this is an excerpt from the logs:

[code]

[2020-06-14 19:07] hakman commented on #9358
I guess this should work. Don't really know why it doesn't work by default.
[code]

[2020-06-15 03:42] den-is commented on #7004
I confirm that apiAccess and sshAccess are updated with 1.17 (and probably earlier), just did updates the day before yesterday

[2020-06-15 04:08] #8357 closed

[2020-06-15 06:46] olemarkus commented on #7004
Thanks. If anyone else experience this, we can reopen.
/close

[2020-06-15 06:46] #7004 closed

[2020-06-15 06:55] olemarkus commented on #9158
/area provider/openstack

[2020-06-15 07:50] shachar-ash commented on #9358
There is definetely a "1" missing, edited it.
It's a custom AMI based on Ubuntu.

It did work, it doesn't solve the issue and I'm still looking for a more "native" solution but I might use it to create a workaround, thanks!

[2020-06-15 08:00] hakman commented on #9358
#9369 should take care of this issue.

[2020-06-15 10:14] #5242 closed

[2020-06-15 15:41] rifelpet commented on #7323
We just experienced this during an upgrade from 1.16 -> 1.17.

It seems like we need a way to update the userdata of the master ASGs in a separate step from the node ASGs, that way any node autoscaling would create new nodes with the old k8s version until all masters have been upgraded to the new k8s version.

[code]

/reopen

[2020-06-15 16:20] #8362 closed

[2020-06-16 04:11] #9357 closed

[2020-06-16 07:33] ari-becker opened #9370 "Add a Prometheus Exporter?"
We'd like the ability to run the `kops` binary in a Prometheus metrics exporter mode, which starts a web server exposing a `/metrics` path that includes the following metrics:

* Whether or not a rolling update is required
* Break down instance groups, providing metrics for the current number of nodes in the instance group, the number of nodes that are ready, the number of nodes that need an updat

[2020-06-16 08:58] olemarkus commented on #7323
Kops does upgrades ASG by ASG, and the master ones before the node ones. I think a quite a lot would benefit from having a step in between rolling updates of each ASG

[2020-06-16 10:38] daviddyball commented on #8142
/remove-lifecycle stale

[2020-06-16 10:52] olemarkus commented on #8142
This is not a bad idea. It is a bit too much for me to take on, but would be happy to review a PR on this.
/kind feature

[2020-06-16 10:58] olemarkus commented on #9370
/kind feature

[2020-06-16 11:01] olemarkus commented on #8765
Did this get resolved? As far as I can tell there is nothing specifically wrong in that cluster setup.

[2020-06-16 16:58] johngmyers commented on #9245
Fixed by #9373
/close

[2020-06-16 16:59] #9245 closed

[2020-06-16 17:54] olemarkus commented on #8769
Kops won't let you run more than 1 master in a single AZ as far as I know. Any production cluster should definitely run 3 masters. 5 means even more HA (you can live with two AZs unavailable, something (almost) never happens).

The best practice note there looks silly. Not sure if AWS even have regions with only 2 AZs anymore.

[2020-06-17 03:50] zzh8829 commented on #5092
/open

[2020-06-17 12:16] ari-becker opened #9379 "Cluster refuses to start a rolling-update when the cluster does not pass validation"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

`Version 1.17.0 (git-a17511e6dd)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

AWS

**4. What commands did you

[2020-06-17 12:19] michalschott commented on #3223
by adding `--kubelet-cgroups=/kube-reserved --runtime-cgroups=/kube-reserved` I was finally able to enforce resource allocation for kubelet.

[2020-06-17 12:27] eddycharly opened #9381 "Changing etcd volume sizes ?"
Is this possible to change etcd volume size for an existing cluster ?
I see in the docs it's not possible out of the box but i wonder if there is a workaround for this.

This is for a multimaster cluster.
What happens if i change the volume size in the spec then terminate the master instances one by one, deleting the etcd volumes ?
Will this recreate the volumes with the new size and sync from oth

[2020-06-17 14:05] #7763 closed

[2020-06-17 14:05] #8244 closed

[2020-06-17 14:46] munjalpatel commented on #5039
Any updates here? Is this in a roadmap? Spot / Preemptive instances are quite important for cost savings and are ideal for stateless workloads and should not be overlooked.

[2020-06-17 14:50] munjalpatel opened #9382 "Support for GCP's Preemptive instances"
Spot / Preemptive instances are quite important for an effective clustering strategy which is cost effective. They are perfect to run stateless workloads.

Is this in a roadmap?

[2020-06-17 14:53] johngmyers commented on #9379
Per #9165, kops 1.18 will retry the initial validation before updating an instancegroup.

[2020-06-17 15:19] ari-becker commented on #9379
Oh awesome! Closing as duplicate then.

[2020-06-17 15:19] #9379 closed

[2020-06-17 16:50] schollii commented on #8769
Kops let me create 5 masters in 3 zones.

[2020-06-17 16:51] oded-dd opened #9383 "Add spot label"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
I would like to be able to monitor the number of spot instances running inside the cluster without using the AWS SDK.

The way I expect to do it is by using `kube-state-metrics` which exposes the nodes labels.
Today I have no label indicating the node is a spot, while the information exists in AWS under node description `

[2020-06-17 16:53] JensErat opened #9385 "Not all sysctl settings might not really have expected impact"
This is not really a bug report, but mostly about sharing some observations on potentially unexpected behavior.

When we setup our host sysctls, we also looked at the kops sysctl settings to determine a reasonable set. We had to realize though that the ideas behind the settings might not actually be what is implemented by the container drivers -- no matter whether using Docker or directly interfac

[2020-06-17 18:40] coolstang commented on #9281
I signed it

[2020-06-17 18:42] johngmyers commented on #9281
/check-cla

[2020-06-17 18:42] rifelpet commented on #9383
Kops 1.17 automatically labels spot instances with `node-role.kubernetes.io/spot-worker=true`, are you using Kops 1.17?

[2020-06-17 18:50] olemarkus commented on #8769
I see that you are running a fairly old kops version so it could be that this has changed now. I haven't checked though.
There are strong reasons for running 3 masters over 1, but running 5 masters seems overkill. If you need to scale, you probably want to use more performant instance types instead.

[2020-06-17 18:51] olemarkus commented on #8769
If you use kops 1.17, changing the number of masters should be quite easy anyway.

[2020-06-17 19:29] oded-dd commented on #9383
@rifelpet Yes.

[2020-06-17 19:41] fred-vogt commented on #9281
@coolstang, @rifelpet - I'd love this to be available in the 1.18.0 release.

AWS seems to be a bit behind schedule releasing these AMD instances:
* [Jeff Bar announcement (18-Nov-2019) -  c5a, c5ad](https://aws.amazon.com/blogs/aws/in-the-works-new-amd-powered-compute-optimized-ec2-instances-c5a-c5ad/)
* seems that `c5ad` instances still have not been released ~ 6.5 months later

If this gets int

[2020-06-17 20:13] johngmyers commented on #9383
That feature was backed out of 1.17. It is in 1.18.

[2020-06-17 23:48] Theoi-Meteoroi commented on #8774
/remove-lifecycle stale

[2020-06-17 23:51] sridhav commented on #8228
@rifelpet can I take a stab at this issue, if it's still happening?

[2020-06-18 00:48] rifelpet commented on #8228
Hi @sridhav yes this is still an issue, feel free to open a PR. The git commit in the branch i linked to above should still be relevant on master so that should help for a test case. Let me know if you have any questions!

[2020-06-18 02:25] MichelleZ opened #9388 "windows system: unable to connect to server EOF"
kubectl get pods or kubectl get namespaces

![image](https://user-images.githubusercontent.com/10205478/84970628-a9f18f80-b14d-11ea-8d57-eec60457c2e4.png)

![image](https://user-images.githubusercontent.com/10205478/84970657-b83fab80-b14d-11ea-8714-267fb4a0263e.png)

os: win10 pro

Docker desktop:
![image](https://user-images.githubusercontent.com/10205478/84970792-f9d05680-b14d-11ea-8adb-de427f94

[2020-06-18 02:28] MichelleZ commented on #9388
D6691544-8189-4359-9323-4F7934CAFFA5/20200618021549

[2020-06-18 05:45] olemarkus commented on #9388
I am guessing this is not related to the kops project. You may want to ask for help from your k8s provider.

[2020-06-18 07:04] olemarkus commented on #8773
/kind feature
/remove-lifecycle stale

[2020-06-18 07:04] olemarkus commented on #8774
/kind feature

[2020-06-18 08:22] #8287 closed

[2020-06-18 10:02] MartijnZuijd commented on #9297
Sorry that was indeed a type I did a kops replace command, will alter the description

[2020-06-18 12:34] #3223 closed

[2020-06-18 15:32] feniix commented on #9353
why not keep `lease` as the default but allow for changing it? or maybe set `master-count` as the default for single master installs but allow for reconfiguration in case someone wants to make a change ?

[2020-06-18 18:31] #6339 closed

[2020-06-18 22:46] rifelpet commented on #8823
/kind feature

I agree this is a gap in Kops' ability to support scenarios in which lifecycle overrides are intended.

[2020-06-18 22:50] rifelpet commented on #8837
/kind feature

[2020-06-18 22:52] rifelpet commented on #8708
/remove-lifecycle stale
/kind feature

[2020-06-18 22:55] rifelpet commented on #8295
The version of etcd-manager bundled with Kops 1.16.2 and 1.17.0 supports me-south-1.
If you still encounter etcd issues in that region feel free to reopen this.

/close

[2020-06-18 22:55] #8295 closed

[2020-06-18 22:57] rifelpet commented on #8403
/remove-lifecycle rotten
AWS Keypairs now support tagging so Kops could probably rely on tags rather than name prefixes. The change would likely be minimal, mostly in [this area of code](https://github.com/kubernetes/kops/blob/00b3951069bcdf35fad97474d6c32b2b17cd702b/upup/pkg/fi/cloudup/awstasks/sshkey.go#L56)

[2020-06-19 02:28] #6140 closed

[2020-06-19 02:28] #8932 closed

[2020-06-19 06:34] olemarkus commented on #8769
Revised the HA docs here https://github.com/kubernetes/kops/pull/9387 have a look and see if it makes more sense.

[2020-06-19 10:08] olemarkus commented on #8778
This is outside of the scope of kops, so closing this one.
Have a look at https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler for how to dynamically change cluster size based on changing resource requirements.

/close

[2020-06-19 10:08] #8778 closed

[2020-06-19 15:35] hakman commented on #9383
Should we add it back in? I think we rushed a bit with that revert.

[2020-06-19 15:36] hakman commented on #9358
Fixed by #9369. Will be available in Kops 1.17.1.
/close

[2020-06-19 15:36] #9358 closed

[2020-06-19 17:11] hakman opened #9405 "Links on kops.sigs.k8s.io are white on white background"
The Kops docs site https://kops.sigs.k8s.io has invisible links.
My guess is that it's related to https://github.com/kubernetes/kops/pull/9393.

/assign @mikesplain
/cc @rifelpet

[2020-06-19 17:13] mikesplain commented on #9405
Good eye. I’ll take a look

[2020-06-19 17:15] hakman commented on #9405
Was reported in Slack. I am just the messenger :). Thanks @hogepodge !

[2020-06-19 17:32] dntosas commented on #9370
such supportive functions could also be part of `kops-controller` deployment (?)

[2020-06-19 19:58] #9405 closed

[2020-06-19 20:04] hogepodge commented on #9405
That was fast. Thanks everyone! 🥇

[2020-06-20 04:54] johngmyers commented on #9383
The feature will go out with 1.18. I'm not so sure about backporting.

[2020-06-20 05:21] olemarkus commented on #8152
@rifelpet I think it is worth doing this. We use ASG per AZ ever since the autoscaling failure in eu-central-1 some time ago. That affected ASG scaling events in any ASG that spanned the affected AZ.

[2020-06-20 06:07] olemarkus commented on #8152
/reopen
/remove-lifecycle rotten

[2020-06-20 06:09] olemarkus commented on #9370
I was wondering if the intention was to have kops expose this for all clusters in the statestore or if one wants one exporter instance per cluster.
For the latter, I agree that kops-controller seems like the place to put this.

[2020-06-20 08:18] ari-becker commented on #9370
I think that having one exporter instance per cluster is probably simpler and more performant. I'm very used to running `kops --state s3://foo --name bar rolling-update cluster` so being able to simply run `kops --state s3://foo --name bar prometheus-metrics-exporter` seems, at least to me, more or less self-explanatory.

`kops-controller` may be the correct place to put this, but there may be uni

[2020-06-20 15:05] rifelpet commented on #8152
I think a PR would be pretty straight forward, mostly touching this logic:

https://github.com/kubernetes/kops/blob/80e1da9dd2cce66f7db8c7b5056baff4f340bf76/cmd/kops/create_cluster.go#L821-L842

Perhaps its worth bringing this up at the next office hours to get any more feedback and then move forward?

[2020-06-20 15:15] #8397 closed

[2020-06-20 15:50] #8769 closed

[2020-06-20 18:02] integrii commented on #9315
We just saw this on a node in our 1.11 cluster recently and it did cause some of our [synthetic tests](https://github.com/Comcast/kuberhealthy) to fail from connection issues... This appears to be some kind of AWS issue.

[2020-06-20 19:02] #8009 closed

[2020-06-20 19:19] #7889 closed

[2020-06-21 06:11] olemarkus commented on #9370
There are many compontents that kops deploys that has prometheus metrics. In order to get to these you need an in-cluster prometheus running. I don't think the metrics mentioned here need to be exposed any differently.
Arguably, the security is improved by going through kops controller as the kops-controller runs on master and have all the access it needs to both K8s API and AWS. Running from outs

[2020-06-21 06:11] olemarkus commented on #8152
Sounds like a good idea.

[2020-06-21 06:47] olemarkus commented on #9315
I see this happening frequently on kops 1.16 as well. It seems related to elastic interface changes on the instance. If you look at logs around this issue there is a lot of chatter about links going up and down, interfaces being renamed etc.
This happens also on Ubuntu. The script isn't failing since it doesn't exist there. But you'll see the same chatter about interfaces etc.

The consequence is

[2020-06-21 07:52] olemarkus commented on #7889
The typical way of solving things like govcloud is to use gossip: https://kops.sigs.k8s.io/gossip/
Private DNS is described here: https://kops.sigs.k8s.io/getting_started/aws/#using-publicprivate-dns-kops-15

[2020-06-21 14:37] MoShitrit commented on #8152
Yep, agree it's worth doing.
We also have one IG per AZ, as this is a recommendation on cluster-autoscaler for our setup.
Having kops manage that for us would be great!

[2020-06-21 17:41] vnextcoder commented on #9388
Looks like you should select right cluster in context menu of your docker desktop. Anyways Kops is not compatible with docker desktop

[2020-06-21 18:01] olemarkus commented on #8786
Closing since this is out of the scope for kops
/close

[2020-06-21 18:02] #8786 closed

[2020-06-21 18:07] olemarkus commented on #8784
You can read about this here: https://kops.sigs.k8s.io/security/#kubelet-api

[2020-06-22 03:27] schollii commented on #8769
@olemarkus thanks for the notice, I had a look and the changes are helpful for sure. Can you add something about changing the number of masters, or is this in a separate document? When could it makes sense to have more than 3 masters, and in that case should they be spread over equal number of zones?

[2020-06-22 04:34] MoShitrit commented on #9151
So I started looking into adding the feature stability widget with `mkdocs-macro` plugin.
The installation and implementation of the plugin seem pretty straightforward, but the tricky part is creating the macro (aka function) which will dynamically return the version in which a feature was added.
The first thing that comes to my mind in terms of how to achieve that is a function which will:
1. Fin

[2020-06-22 06:03] olemarkus commented on #9151
I think going into the gitlog would be quite error prone. In many cases docs and feature have been committed independently. Then you have backports that may or may not include the docs.
Personally all I want is a way to add a nicely formatted badge similar to k/k and I am happy with specifying version/state manually. Somewhere in between is to add a table of features, state (stable/beta/alpha), an

[2020-06-22 06:18] olemarkus commented on #8769
You have seen the docs on going from 1 to 3 masters? Procedure is the same.
I'd say running more than 3 masters would be quite rare. I have never considered it for any of our setups. Usually you have more failures related to AZs than to masters themselves, so if you ever should go for 5 nodes, definitely put them in separate AZs.

[2020-06-22 16:00] rifelpet commented on #9151
Agreed I think manually defining the versions for each feature is a sufficient first step. the macro could be used like:

[code]

we'd have to decide the relevant versions that we want displayed for a feature. some might be optional in which case we just omit that set of table cells.

* The kops version in which the feature was introduced behind a feature flag
* The kops version in which the featu

[2020-06-22 19:06] geekofalltrades commented on #8481
/remove-lifecycle stale

We are hoping to move to AWS SSO for CLI, and this is a blocker, wrapper notwithstanding.

[2020-06-22 19:17] olemarkus commented on #8481
So AWS SSO is currently not available for the accounts I have for testing kops, nor can it be enabled. I am happy to review a PR though.

[2020-06-22 19:31] coolstang commented on #9281
I'm going to put up a MR for 1.17 and 1.16 release branches as well.

[2020-06-22 21:03] coolstang commented on #9281
Merged into 1.18.

[2020-06-22 21:03] #9281 closed

[2020-06-23 01:31] #4877 closed

[2020-06-23 03:47] MoShitrit commented on #9151
Thanks for these comments!
So then based on @rifelpet's suggestion, the plan would be to create a function/macro called `kops_feature_table()` which would be roughly something like this?
[code]

[2020-06-23 10:22] Deshke opened #9432 "authorization upgrade to rbac broken?"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.17.0 (git-a17511e6dd)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]
**3. What cloud provider are you using?**

aws ec2

**4. What commands did yo

[2020-06-23 21:55] pshanoop opened #9433 "After upgrade to 1.16.10: Random dns failures and kernel flooded with IPVS: Creating netns size=2104 id=XXX messages"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
`Version 1.16.0 (git-4b0e62b82)`

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
AWS

**4. What commands did you run

[2020-06-24 09:52] tomekit opened #9436 "Similarly to `sshAccess` or `kubernetesApiAccess`, add `ingressAccess` option suitable when ClusterIP type NginX ingress is used"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

I am using `kops`, along with AWS. I use the NginX ingress which listens on the cluster / node IPs.
[code]

The NginX ingress that I am using isn't the officially advertised entry point to my cluster.
I am using externally managed standalone NginX's in many geo-locations which then forward the traffic to my Kubernetes cl

[2020-06-24 12:01] ardikabs opened #9437 "Etcd-manager is not trying to run etcd server that make the kube-apiserver won't up and running"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.15.0 (git-9992b4055)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Kubernetes v1.15.7
**3. What cloud provider are you using?**
AWS

**4. What commands di

[2020-06-24 12:43] rifelpet commented on #9151
I'm looking for examples in the k8s docs that we could mimic. I see references like [this](https://kubernetes.io/docs/concepts/policy/pod-security-policy/) and [this](https://kubernetes.io/docs/concepts/scheduling-eviction/scheduling-framework/)

But we need to display more information than that. Here are some ideas I came up with:

---

bulleted list:
[code]
renders as:

**FEATURE STATE**:
- Alph

[2020-06-24 13:48] iojas opened #9438 "aws classic load balancer becomes inactive after a while"
Hi all,

I am standing up a kubernetes cluster using kops with following command.
[code]

when the cluster stands up it's accessible with kubectl commands. but after about 6-8 hours my load balancer becomes unhealthy.

Instance to which load balancer is pointing to, master on kubernetes cluster, is running. the health check is failing that is why load balancer thinks instance status is unhealthy.

[2020-06-24 14:42] darose commented on #9290
Any thoughts on when it might be possible to release an updated image for this issue?

[2020-06-24 14:46] iojas commented on #9438
i also get this error when I try to stand up the cluster

```kops validate cluster```

[code]

[2020-06-24 17:21] olemarkus commented on #9290
If only 1.14 is affected, this won't be fixed and you need to upgrade to latest stable kops.

[2020-06-24 17:26] ltagliamonte-dd opened #9439 "Stable release req"
Dear community I'm really interested in having this change:
https://github.com/kubernetes/kops/commit/6766f47c670b68d2bf1a13ef94a710bd48f10678
in a stable kops release can we cherrypick it to a 1.16?

When are we supposed have a stable 1.18?

[2020-06-24 17:51] #8301 closed

[2020-06-24 18:01] olemarkus commented on #9151
Great examples there. Think the vertical table is my favourite.

[2020-06-24 18:34] olemarkus commented on #7946
Looks like we can close this one
/close

[2020-06-24 18:34] #7946 closed

[2020-06-24 18:36] olemarkus commented on #9438
Those instances there are _very_ small. Don't recommend going below kops default instance types.

[2020-06-24 20:33] darose commented on #9290
It does not appear that there are images available for any version of Kops that include the fix for this issue.  The most recent versions of all the Kops images appear to be from January (see attached).  But the fix was only released for Debian stretch in June.  (See https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=961907)

![Screenshot_2020-06-24_16-29-13](https://user-images.githubusercontent.c

[2020-06-24 21:03] mprzygrodzki opened #9440 "Kops 1.17.0 - Fails on creating SG's in AWS"
I've recently upgraded kops from version 1.16.1 to 1.17 and when i'm running command to update cluster i'm receiving error about duplicated security groups as cluster is running in AWS. For previous updates following errors never occured and i haven't found related issue so far, can anyone advice me what's wrong ?

`➜  utils git:(master) ✗ kops update cluster --yes
W0624 23:01:05.177272   72254 fi

[2020-06-24 21:05] johngmyers commented on #9290
@olemarkus the images are tied to k8s version through the channel, not to the kops version.

[2020-06-24 21:57] weisjohn commented on #8382
@marcindulak in my experience, the cloud-init scripts configured through `additionalUserData` run _after_ nodeup

[2020-06-24 23:00] weisjohn opened #9441 "scripts configured in InstanceGroup additionalUserData should be run before nodeup.sh"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

[cloud-init config/scripts specified via the InstanceGroup `additionalUserData` setting](https://github.com/kubernetes/kops/blob/master/docs/instance_groups.md#additionaluserdata) are [rendered by `nodeup.go` _after_ the `nodeup.sh` template](https://github.com/kubernetes/kops/blob/f5ce011fa036034e8b40d0dc94bc5bfc2419bc5

[2020-06-25 00:27] rifelpet commented on #9441
Rather than a new InstanceGroupSpec field we could add a new field within each additionalUserData item. Two ideas for how we could implement this:

1. A numerical field like “priority” or “order” where userdata items are sorted by the field and the nodeup code occurs at a well-known number.

2. An enum-like string field with possible values that mean “before nodeup” and “after nodeup”. This would

[2020-06-25 03:37] weisjohn commented on #9441
More digging here, I built a version of `kops` locally to put my scripts before `nodeup.sh`. Here's the userData for my AWS AutoScalingGroup Instance Config (truncated for visibility)

[code]

You can see my `additionalUserData` is rendered before `nodeup.sh`, but after bringing up the cluster, looking at `/var/log/cloud-init.log`, it still showed nodeup running _before_ my script. (Relevant log l

[2020-06-25 04:21] MoShitrit commented on #9151
Thanks again for the useful feedback!
So, I just gave the vertical table a shot right now.
I created this macro:
[code]
And called it from the `networking/cilium.md` doc under the encryption feature which is supported from 1.19:
[code]

Seems like the end result could use some cosmetics though:

<img width="783" alt="image" src="https://user-images.githubusercontent.com/12524503/85652865-ddff1000-

[2020-06-25 07:46] olemarkus commented on #9290
I was a bit short there. I was actually thinking of newer version of kops that runs updates on boot. Older versions of kops have automated updates, but it takes up to a day for the updates to trigger.

[2020-06-25 08:02] olemarkus commented on #9151
Looks cool to me. Great work!

 I wonder if perhaps horizontal is more user friendly as it doesn't consume that much estate between header and text.

[2020-06-25 11:44] #9350 closed

[2020-06-25 15:59] iojas commented on #9438
I learned a couple of things here.

1. I was changing the certificate halfway through as I wanted to add multiple domains on my cluster. for some reason, load balancer does not like it. However, you can have multiple domains on your cluster but the certificate should be valid (issued status) and not on pending status.

2. If you are complying with point 1. and status of any of the instances on the

[2020-06-25 18:36] guikcd commented on #4534
/remove-lifecycle rotten

[2020-06-25 18:36] guikcd commented on #4534
/reopen

[2020-06-25 22:16] jmcdonagh opened #9446 "Creating new etcd cluster for cilium doesn't work in 1.18.0-beta1 "open /etc/kubernetes/pki/etcd-manager/etcd-manager-ca.key: no such file or directory""
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the simplest

[2020-06-25 23:30] jmcdonagh commented on #9446
Just want to add- you guys have done amazing work with this software. I've been in the industry for coming up on 18 years and this is some of the best software I've used. The many updates I've done to our kops clusters flawlessly is mind-blowing. This is probably the first issue I've had with kops, and once I copied in the PKI into place from the state store, and the manifest file, the etcd cluste

[2020-06-26 01:32] jmcdonagh opened #9447 "Disabling kubeProxy and enabling cilium nodeport before cilium is first installed seems to break the cluster"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

``Version 1.18.0-beta.1 (git-ec8022b352)``

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

AWS

**4. What command

[2020-06-26 01:33] jmcdonagh commented on #9447
Realized I forgot to include the IGs:

[code]

[2020-06-26 01:48] jmcdonagh opened #9448 "Cilium in 1.18-beta1 won't start due to missing secrets volume"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

``Version 1.18.0-beta.1 (git-ec8022b352)``

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

AWS

**4. What command

[2020-06-26 02:21] johngmyers commented on #9446
Changing the CNI is usually disruptive. In general, CNIs tend not to be able to talk to each other.

What you probably needed to do in order to get Cilium working was to do a `--cloudonly` rolling-update of the masters in order to provision the Cilium etcd cluster. Even then you might have needed to do a `--cloudonly` rolling-update of the entire cluster.

To change the CNI away from Cilium with e

[2020-06-26 03:10] johngmyers commented on #9447
That is a disruptive change and probably requires a `--cloudonly` rolling-update of the cluster.

[2020-06-26 03:19] jmcdonagh commented on #9446
I'm gonna try to blow it away and re-create the whole cluster from scratch tomorrow or maybe the weekend. Thanks!

[2020-06-26 03:56] johngmyers commented on #9290
@olemarkus if you're thinking of #8635, that isn't in a stable release yet. And it probably wouldn't upgrade the CA certificates package as that one isn't explicitly installed by nodeup.

But do any of the sites that kops or Kubernetes pulls from using the OS trust store use an AddTrust cert?

[2020-06-26 04:53] olemarkus commented on #9446
In order to enable etcd for cilium, you need to roll the entire cluster before setting the cilium flags. The nodes also need the PKI files in order to connect to etcd.
It is unfortunately not possible to validate that the etcd cluster is in place before enabling etcd with cilium.

[2020-06-26 05:04] olemarkus commented on #9447
In my experience, going from kubeProxy to nodeport should not break. Once nodeport is enabled, kube-proxy is more or less ignored. Going the other way will be disruptive since kube-proxy is expected, but no longer there.
Need to see if I can reproduce this and if there is anything that should be documented about this.

[2020-06-26 05:10] olemarkus commented on #9290
Ah you are right. My mistake.
1.17 supports Ubuntu 20.04, so that may be an option then.

[2020-06-26 07:29] olemarkus commented on #8596
/close

[2020-06-26 07:29] #8596 closed

[2020-06-26 12:36] hakman commented on #9301
A new cAdvisor version was vendored in k/k. The issue should be fixed in the next Kubernetes 1.19 release.

[2020-06-26 12:52] fvasco commented on #8432
A first step might be to support IPv6 on already IPv6 configured subnet (my case).

[2020-06-26 17:21] fred-vogt commented on #9441
@rifelpet, @weisjohn - I too have relied on this behavior of cloud-init to perform configuration before `nodeup` runs.

For example to configure instance stores with Chef.

+1 for officially documenting this.

[2020-06-26 23:24] fred-vogt commented on #2307
@geekofalltrades - Got to dog pile a bit on this one too.

The default is: "https://kubeupv2.s3.amazonaws.com/kops/<version>/":
  * https://github.com/kubernetes/kops/blob/master/upup/pkg/fi/cloudup/urls.go

The `clusterspec::assets` setting doesn't seem to support nodeup binary:
* https://kubernetes-kops.netlify.app/cluster_spec/#assets

[2020-06-27 02:22] fred-vogt commented on #2435
@chrislovecnm - I think viper is setup up in kops to ONLY cover the case of the `state store` having a `default value`.

[cmd/kops/root.go](https://github.com/kubernetes/kops/blob/master/cmd/kops/root.go#L187)
[code]

The use case for this file might be somewhat limited:
- always required settings, or settings that apply to ALL clusters

Some items that might be candidates:
* [util/pkg/vfs/s3fs.go

[2020-06-27 05:42] olemarkus commented on #9448
Looks like we had something missing in the cilium manifest. Created a fix for that now.

[2020-06-27 06:49] fred-vogt opened #9452 "KOPS_BASE_URL isn't url-encoded safely when used"
TL;DR - `KOPS_BASE_URL` doesn't work if the URI requires url-encoding, doesn't matter if supplied url-encoded or not.

At issue is that the default CI versioning adds a URL hostile `+` between the bumped version number and git sha.

* [upup/pkg/fi/cloudup/urls.go](https://github.com/kubernetes/kops/blob/master/upup/pkg/fi/cloudup/urls.go)
* [util/pkg/vfs/context.go](https://github.com/kubernetes/k

[2020-06-27 07:51] fred-vogt commented on #2307
My notes on how to build / stage a release branch build:
* https://github.com/cicdenv/cicdenv/wiki/KOPS-use-custom-build

Ran into something odd with the CI default short version value:
* [KOPS_BASE_URL isn't url-encoded safely when used #9452](https://github.com/kubernetes/kops/issues/9452)

[2020-06-27 13:16] #9446 closed

[2020-06-27 13:16] #9448 closed

[2020-06-27 13:25] rifelpet commented on #2307
/remove-lifecycle rotten

[2020-06-27 18:28] jmcdonagh opened #9457 "Default master security group doesn't allow ICMP from nodes, thus making cilium not 100% working"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

``Version 1.18.0-beta.1 (git-ec8022b352)``

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

AWS

**4. What command

[2020-06-27 18:34] olemarkus commented on #9457
Cilium doesn't depend on able to reach nodes over ICMP. That check is only for diagnostics.
As long as the HTTP checks work, your cluster is fine wrt node connectivity.

Do you see any other signs of bad behaviour in your cluster?

[2020-06-27 20:03] #8435 closed

[2020-06-27 22:16] fred-vogt commented on #2778
@chrislovecnm - I think this can be closed.
* https://medium.com/kokster/how-to-run-cloud-controller-manager-on-aws-using-kops-6a51f61a1ba2
  * https://kubernetes-kops.netlify.app/advanced/experimental/
  * https://github.com/kubernetes/kops/pull/3408
  * https://github.com/kubernetes/kops/pull/3630

[2020-06-29 05:11] jmcdonagh commented on #7083
+1 for fixing this, I didn;t realize you still needed insecure tls to get this working, just discovered it while wrapping up a new cluster build.

[2020-06-29 07:11] olemarkus commented on #9457
Feel free to ping me if you see any signs of breakage beyond just the agent ICMP failures.

/close

[2020-06-29 07:11] #9457 closed

[2020-06-29 15:31] rifelpet commented on #9441
Ah if cloud-init is already sorting consistently then I agree we could just document this behavior [here](https://kops.sigs.k8s.io/instance_groups/#additionaluserdata), specifically calling out the ability to run scripts both before and after nodeup.

My only concern is whether cloud-init guarantees this behavior going forward or if we need to worry about it changing. Given that its not mentioned

[2020-06-29 17:21] #9447 closed

[2020-06-30 17:05] LeeHampton opened #9464 "Rolling Update Usually results in etcd/api-server Related Downtime"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Version 1.17.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.17.6

**3. What cloud provider are you using?**

AWS

**4. What commands did you run?  What is the

[2020-06-30 21:35] geekofalltrades opened #9466 "Control `--create-kube-config` with an environment variable or invert its default"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Our cluster uses an SSO solution in the kubeconfig for authentication to the cluster. Having Kops overwrite our kubeconfig every time we run `kops update cluster` is not helpful. It clobbers our working config, replacing it with a non-working config, and it installs admin-level credentials on developer desktops, which we

[2020-07-01 03:39] #9437 closed

[2020-07-01 05:59] olemarkus commented on #9466
100%.
This one is a duplicate of sorts to #8017 and will be fixed by #9280

[2020-07-01 07:45] rralcala commented on #6942
This was addressed in https://github.com/kubernetes/kops/pull/8407

[2020-07-01 08:55] pfisterer commented on #9158
@johngmyers in my case, the subnet exists. do you need additional information?

[2020-07-01 10:31] nikhilc89 commented on #8771
@akhmadfld Once you do a rolling update with kops 1.16.3, it will replace the default image of the dns-controller to 1.16.3 as well and you should be able to proceed without issues.
Have just done the same myself to fix the certificate issues in etcd.

[2020-07-01 10:36] #8866 closed

[2020-07-01 14:36] hakman commented on #8831
/remove-lifecycle stale

[2020-07-01 19:23] fred-vogt opened #9468 "aws-iam-authenticator v0.5.1 backend-mode(s)"
Would like to get this one in before the first office hours in July 2020.

**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
Support for `backend-mode`s that don't require restarting the containers running on masters when mappings are updated.

Currently kops deploys `aws-iam-authenticator` with a volume mounted ConfigMap - this is the `mounted-file` backend-mode.

@rife

[2020-07-01 19:29] emirot opened #9469 "[Question] How to enable Ephemeral Containers"
Hey there,

I would like to enable ephemeral container (https://kubernetes.io/docs/tasks/debug-application-cluster/debug-running-pod/#ephemeral-container) in a dev cluster.
However, I don't understand how to activate that feature using kops.
Looking at:
- https://kops.sigs.k8s.io/cluster_spec/#feature-gates
- https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

It look

[2020-07-01 19:34] rifelpet commented on #9468
I agree this would be great to have, thanks for outlining this!

Theres a WIP PR already for updating the image: https://github.com/kubernetes/kops/pull/8991 and we can probably do the API changes in a separate PR.

[2020-07-01 20:50] mayukuse24 opened #9470 "Kops update cluster fails for v1.18.0-beta"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

[code]

**3. What cloud provider are you using?**

GCP

**4. What commands did you run?  What is the simplest

[2020-07-01 21:49] fred-vogt commented on #9468
@rifelpet - I over hauled my test setup to provide "full" support for running custom kops builds.

I think I can provide an implementation PR for this early next week.
I'll need to do some testing / thinking about the various modes.

[2020-07-02 03:00] johngmyers commented on #9158
Looking at the code, it creates the subnet then goes into a retry/backoff loop trying to tag it. It looks like openstack took longer for the created subnet to be taggable than the kops backoff loop was willing to wait.

[2020-07-02 03:45] leosunmo commented on #7737
This has other uses as well. For example, if you want to tag EBS volumes of your nodes, you will need notifications set up on `launch` events so that a lambda or other listener can tag the EBS volumes attached to that instance.

[2020-07-02 03:55] johngmyers commented on #7737
Kops is going to be tagging the EBS volumes as it migrates to using launch templates instead of launch configurations.

[2020-07-02 04:12] leosunmo commented on #7737
@johngmyers Yeah I saw some code for the launch templates. Not entirely sure how they work vs launch configuration, but as long as they automatically pass the tags to the disks that's good. Might be a while before that's in a stable release though.

[2020-07-02 06:49] SCLogo commented on #6483
any update on this? from yesterday to today I see this error on 1.15.11

[2020-07-02 07:07] olemarkus commented on #9469
When gated features affects resources, you typically also have to add the feature gate to `kubeAPIServer` as the docs says.

[2020-07-02 07:23] pfisterer commented on #9158
@johngmyers Thank you. Is there any way either to increase the timeout or to manually add those tags so that it can continue?

[2020-07-02 07:28] pfisterer commented on #9158
Looking at the logs, it says `Resource not found`. However, the networks do exist and I can manually create instances within those networks.

[code]

<img width="1051" alt="image" src="https://user-images.githubusercontent.com/302635/86329302-3e77e980-bc46-11ea-9362-466845ad8a92.png">

<img width="1054" alt="image" src="https://user-images.githubusercontent.com/302635/86329332-4899e800-bc46-11ea-8

[2020-07-02 14:37] johngmyers commented on #9158
It looks like the timeouts would have to be increased in code. One oddity is that it is using the read backoff strategy when it would seem to be more appropriate to use the write backoff strategy.

https://github.com/kubernetes/kops/blob/5e3b94ae17c1a2cea2c21098ba1ee79eb910a470/upup/pkg/fi/cloudup/openstack/network.go#L32

[2020-07-02 15:51] emirot commented on #9469
Thanks a lot @olemarkus, I missed that.

Updating to
[code]
And now it works !

[2020-07-02 15:51] #9469 closed

[2020-07-02 16:08] #7685 closed

[2020-07-02 21:42] ozbillwang commented on #1758
`kops get cluster -o yaml` doesn't export all configurations.

Seems `edit cluster` has extra details.
[code]

[2020-07-02 21:45] ozbillwang commented on #1758
`kops get cluster -o yaml` doesn't export all configurations.

Seems `edit cluster` has extra details.
[code]

[2020-07-03 04:49] hakman commented on #9470
/cc @geojaz

[2020-07-03 05:05] hakman commented on #8843
This is no longer relevant as Kops is moving to Ubuntu 20.04 as default for the foreseeable future.
Ref: #9163

[2020-07-03 05:05] #8843 closed

[2020-07-03 09:22] pfisterer commented on #9158
I can volunteer to test any updated code but I'm not (yet) fluent in go.

[2020-07-03 10:45] alexcarol commented on #8957
I've observed this behaviour too, and think it would be interesting to have a flag to use the internal API server.

[2020-07-03 12:43] kavicse87 opened #9486 "Reference - kops/docs/instance_groups.md"
**1. for capacity optimized strategy  is there any interruption handler for the worker nodes to drain and move the workloads to other available nodes when the interruption occurs. The given time is less than 2 minutes.

**2. What is the recommendation for using on demand and spot combination in the capacity optimized strategy. Any sample examples that you can share would be helpful. To test this a

[2020-07-03 16:12] Sami-svmx opened #9489 "subnet have the same zone"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.17.0 (git-a17511e6dd)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Client Version: v1.18.5

**3. What cloud provider are you using?**
AWS

**4. What comm

[2020-07-03 16:20] #5408 closed

[2020-07-03 19:38] johngmyers commented on #9489
Kops does not currently support this. It only has the concept of allocating things out of a singular subnet for a zone.

[2020-07-04 05:30] kavicse87 commented on #9486
Any update / advise on this would be much helpful.

[2020-07-04 08:55] Sami-svmx commented on #9489
@johngmyers thanks for the info. Any chance of including this feature in near future?

[2020-07-04 16:02] johngmyers commented on #7119
/lifecycle frozen

[2020-07-04 16:28] johngmyers commented on #9489
It seems unlikely; I don't know of anyone working on such a thing. It would immediately bring up the problem of which of several possible subnets to use for assignments to new things.

[2020-07-04 16:33] johngmyers commented on #9486
#7119 is the feature request to drain nodes when they are terminated.

[2020-07-04 17:35] olemarkus commented on #9489
What is the use case for this? Maybe there are other solutions

[2020-07-05 06:58] #8405 closed

[2020-07-05 07:33] subudear opened #9496 "Birthday attacks against TLS ciphers with 64bit block size vulnerability (Sweet32)"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

version 1.16.0 (git-4b0e62b82)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.5", GitCommit:"

[2020-07-06 03:26] rdrgmnzs commented on #9489
If I remember correctly one of the issues here is that the ELB used by the masters only supports 1 subnet per zone.

[2020-07-06 09:42] Sami-svmx commented on #9489
@olemarkus i am already exploring network policies to isolate traffic. However it would be great to do subnet level separation ex: Bigger subnet - Application 1, Smaller subnet - Application 2, Smaller Subnet - Database 2.

@rdrgmnzs I will give it a try adding more subnets to same zone after cluster creation.

[2020-07-06 10:58] zagr0 opened #9506 "Subnet is not actually deleted after it's removed from cluster spec"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.16.0 (git-4b0e62b82)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
kubectl version
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3

[2020-07-06 12:21] amitbitcse opened #9507 "Failed to download kops-controller while passing KOPS_BASE_URL as env variable"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.17.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.17.6

**3. What cloud provider are you using?**
AWS

I am using Nexus as a proxy repo https://kubeupv2.s3.ama

[2020-07-06 16:31] #8507 closed

[2020-07-07 01:22] darose commented on #7052
*Really* can't wait until this issue gets fixed.  It's over a year old.  (And we're already up to terraform v0.12.28.)

[2020-07-07 02:21] johngmyers commented on #9489
Looking at the cluster creation code, the issue appears to be what to name the subnets that are specified by the `--subnets` switch of `kops create cluster`. Currently it gives them the same name as the zone they're in, but that only works if there's one subnet per zone.

[2020-07-07 03:39] #7871 closed

[2020-07-07 06:58] hakman commented on #9507
You can find the images in DockerHub:
https://hub.docker.com/r/kope/dns-controller/tags?page=1&ordering=last_updated
https://hub.docker.com/r/kope/kops-controller/tags?page=1&ordering=last_updated
https://hub.docker.com/r/kope/kube-apiserver-healthcheck/tags?page=1&ordering=last_updated

[2020-07-07 07:57] mbolek opened #9515 "1.14.10 upgrade fails with etcd mismatch (kops 1.14.1)"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.14.1 (git-b7c25f9a9)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.14.10

**3. What cloud provider are you using?**
AWS

**4. What commands did you run?

[2020-07-07 08:49] hakman commented on #9515
@mbolek could you try setting the version to for both etcd clusters manually and see if helps?
[code]

[2020-07-07 08:58] mbolek commented on #9515
I think I've got it (and maybe it's related to the general etcd issue with certs?)
etcd tries to run with a cert from the EBS volume which has expired :(
[code]
@hakman I think I had it set to 3.3.10 in the etcd settings etc. Can't really tell right now as I've tried to roll back but it seems the issue was possibly the certs all along

[2020-07-07 09:34] hakman commented on #9515
Great. One more thing, you should probably use Kops 1.17.1 to manage your cluster even if you use an older version of k8s. There are many bug fixes since 1.14 and, if you get into trouble, you may have to switch to a newer version of Kops anyway. (not to confuse with directly migration to k8s 1.17)

[2020-07-07 09:54] mbolek commented on #9515
yup... was certs all along, I got sidetracked by not knowing it would use cert from EBS volume:/
I've recreated the cert as with the current etcd advisory and 1.13.12 stood up. Updating to 1.14.10 now but I expect it to work.
as for 1.17 I planned to do so but understood there were some major changes in 1.14 -> 1.15 for kops so wanted to build it up gradually. will move ASAP
Thanks for a super qui

[2020-07-07 09:55] #9515 closed

[2020-07-07 15:33] jmcdonagh opened #9517 "kops-controller has been restarting constantly"
Hi, I'm noticing that the kops controller keeps restarting over and over, and see this in the logs:

[code]

But all my etcd pods are up and showing no restarts:

[code]

Kops version

``Version 1.18.0-beta.1 (git-ec8022b352)``

K8s version

[code]

Running on AWS. Let me know what more information you need, I know you probably do need more but I am not sure exactly what to give you.

[2020-07-07 17:55] jmcdonagh commented on #9517
Disregard, this thing is not restarting that often, my alerting/reporting system was not resetting old counters and led me to believe this was a lot more insane than it actually is.

[2020-07-07 17:55] #9517 closed

[2020-07-07 20:22] fred-vogt opened #9518 "master, 1.19.0-alpha.1 terraform output launch_templates user-data not base64 encoded"
* [release-1-18 branch](https://github.com/kubernetes/kops/tree/release-1.18) **works**:
  * [upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go ~ line 210](https://github.com/kubernetes/kops/blob/1b7eb3cb4d19f39f0c6d1d0bfb35e82e591cc409/upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go#L210)
* master / 1-19   **featureflag.Terraform012.Enabled()**
  * [upup/pkg/fi/cloud

[2020-07-07 21:33] fred-vogt commented on #9518
@rifelpet - Thanks for your efforts my friend.  This is the ONLY issue I've found so far with the [kops - v1.19.0-alpha.1](https://github.com/kubernetes/kops/releases/tag/v1.19.0-alpha.1).

This is with [kubernetes - v1.19.0-beta.2](https://github.com/kubernetes/kubernetes/releases/tag/v1.19.0-beta.2).

[2020-07-08 01:22] rifelpet commented on #9518
Hi @fred-vogt thanks for the report. Can you paste the aws_launch_template resource definition? It should be using `filebase64()` which will base64 encode the contents of the file, so that the file is stored in plaintext and the string passed to the user_data argument is base64 encoded.

[2020-07-08 01:38] fred-vogt commented on #9518
@rifelpet - Will do.  Spoiler alert `kops update` is not using `filebase64`.
I love the approach of keeping the on disk files "plain" and using `filebase64(...)` in the terraform output.

I'll post the slightly redacted `kubernetes.tf` in a few minutes ...

[2020-07-08 02:10] erickfaustino commented on #9350
I've stumble on this while doing some research about the same problem. In my case, my cluster is running with IPVS, so we need to set the following variable to customize nodelocaldns as suggested in https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/
[code]
Before it I was seeing kops cluster spec validation errors. This flags has the purpose of bypass it.

Maybe someone find it usef

[2020-07-08 02:29] cten commented on #9031
Does this require Kops 1.19? Thanks by the way for doing this!!!

[2020-07-08 02:39] MoShitrit commented on #9031
@cten correct, this is included in 1.19 release.
Glad to help!! :smile:

[2020-07-08 03:29] fred-vogt commented on #9518
@rifelpet - it must be happening in [upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go](https://github.com/kubernetes/kops/blob/b13209d65456153fd9ff196c850168e60ee46d09/upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go#L260)

[2020-07-08 03:34] johngmyers commented on #9518
It appears that `writeLiteral()` in pkg/fi/cloudup/terraform/hcl2.go knows nothing of filebase64. The code in `literal.LiteralFileExpression()` only puts filebase64 in `Value`, which is only used for terraform 0.11.

[2020-07-08 07:40] fred-vogt commented on #9452
Closing.  The git sha is no longer appended with a `+` in master.

[2020-07-08 07:40] #9452 closed

[2020-07-08 09:05] fred-vogt opened #9522 "upup/pkg/fi/cloudup/apply_cluster.go incorrect error message for semver check"
* https://github.com/kubernetes/kops/blob/master/upup/pkg/fi/cloudup/apply_cluster.go#L1080

[code]
This should be: `"unable to parse kops version ...`

The latest master builds `Makefile` no longer auto-bumps the version number when setting `CI=1`.
That being the case when testing a custom build you to have set `VERSION=` explicitly, where you can make a typo.

[2020-07-08 09:09] aslobodskoy-fiksu opened #9523 "protokube is not installed on every node"
1. Version 1.16.4 (git-469984634f)

2. $ kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"clean", BuildDate:"2020-04-16T23:35:15Z", GoVersion:"go1.14.2", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.10", GitCommit:"f3add640dbc

[2020-07-08 10:02] amitbitcse commented on #9507
Thanks @hakman
For now, I am taking your suggested approach to create tars from docker images and published it to a Nexus repo (type: Hosted)

Created a Group repo in Nexus with two member repositories
1) custom hosted repo (with tars which are missing missing in S3)
2) proxy repo pointing to https://kubeupv2.s3.amazonaws.com/kops

Using this new Nexus group type repo as KOPS_BASE_URL

[2020-07-08 10:49] marcindulak commented on #8382
https://github.com/kubernetes/kops/issues/9441

[2020-07-08 11:54] fred-vogt opened #9524 "v1.19.0-alpha.1 - aws authenticator not working "x509: cannot validate certificate ... it doesn't contain any IP SANs""
kube api server logs:
[code]

**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
[code]

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
[code]

**3. What cloud provider are you using?**
[code]

**4. What commands did

[2020-07-08 14:05] rifelpet commented on #9524
Ah I see you are using 0.5.1 already. If you still have the cluster up and running can you paste the certificate text here?

on the master:

[code]

[2020-07-08 14:13] jqmichael opened #9526 "pull-kubernetes-e2e-kops-aws failed for 1.19"
Hey kops experts,

Could anyone help me understand why the presubmit job below consistantly failed for 1.19?

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/91513/pull-kubernetes-e2e-kops-aws/1280849041231450112/

The build job output seemed to suggest kube-apiserver isn't up running for some reason? If so, any hints where I could go find kube-apiserver/kubelet logs?
[code]

Thanks

[2020-07-08 14:26] hakman commented on #9524
@fred-vogt Is this single or multi master setup?

[2020-07-08 14:37] hakman commented on #9526
Hey @jqmichael. The problem is that your setup doesn't build the ARM64 binaries. Not quite sure how the build part works in that job or if it is possible to build ARM64 or cross-builld .

[2020-07-08 14:48] johngmyers commented on #9524
This would have been fixed by #9354

[2020-07-08 15:15] hakman commented on #9523
Please check if this was fixed in 1.17.

[2020-07-08 15:45] johngmyers commented on #9524
The specific commit fixing this is c4151d48a8d4a099c2ec7c83d4e0ca31d9c537aa

[2020-07-08 16:06] fred-vogt commented on #9524
@rifelpet, @hakman, @johngmyers - Thanks for the quick responses.

I'll post the info and test a build containing #9354.

[2020-07-08 16:09] hakman commented on #9524
@johngmyers seems that there are still some issues with HA and may be related:
https://testgrid.k8s.io/kops-misc#kops-aws-ha-euwest1

[2020-07-08 16:11] fred-vogt commented on #9524
@hakman - this is an HA (3 zone) setup.

[2020-07-08 16:12] hakman commented on #9524
Maybe you can test with a single master setup for now, until this is addressed.

[2020-07-08 16:13] olemarkus commented on #9524
This commit seems to break HA setups, but single-master setups work fine.

[2020-07-08 16:59] jqmichael commented on #9526
Ah, thanks @hakman. Wasn't sure if that message was red-herring. Let me look into this.

[2020-07-08 17:09] #9522 closed

[2020-07-08 17:10] hakman commented on #9526
Btw, any special reason you need to run this test, just curious. :)
This may also be of interest: https://github.com/kubernetes/kops/pull/9510

[2020-07-08 17:18] fred-vogt commented on #9524
@rifelpet - for completeness

## openssl x509
[code]

## openssl s_client
[code]

[2020-07-08 20:17] fred-vogt commented on #9524
Confirmed a non HA control plane is working.

Keep this open until multiple masters is working again ?

[2020-07-08 21:14] zinizhu commented on #9438
@iojas did you solve your problem? I have the same issue here.

[2020-07-08 21:56] rifelpet commented on #9518
Ah you're right, I'll try to get a fix in place soon
/assign

[2020-07-08 22:02] javierlga opened #9530 "CNI not ready on particular instance group"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
Version 1.17.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Server Version: v1.17.7
Client Version: v1.17.0

**3. What cloud provider are you using?**
Amazon Web S

[2020-07-09 02:08] jqmichael commented on #9526
@hakman

That was run as part of a similar PR in k8s/k8s. https://github.com/kubernetes/kubernetes/pull/91513

[2020-07-09 03:01] johngmyers opened #9531 "Kops master branch: multiple masters fail to cluster together"
When there are multiple master nodes, the API servers fail to cluster together and worker nodes fail to register.

The second api-server fails with:

[code]

This appears to have been caused by #9354, which changed from using a single, ten-year TLS server certificate to per-node TLS server certificates with shorter lifetimes.

Initial investigation suggests that this is caused by kops configuring

[2020-07-09 03:02] johngmyers commented on #9524
Filed #9531 on the multi-master issue. This particular issue is fixed.
/close

[2020-07-09 03:03] #9524 closed

[2020-07-09 03:07] johngmyers commented on #9531
It seems a bad idea to reuse the TLS private key for signing service account tokens. Those are two entirely different purposes.

I believe we should have kops provision a separate private key out of cloudup for service account tokens. On upgrade from older kops versions it should pick up the old TLS server private key.

[2020-07-09 03:33] fred-vogt commented on #9531
@johngmyers - In typical "lurker" fashion I have to ask - a workaround on master would be using:
https://kubernetes-kops.netlify.app/operations/service_account_token_volumes/  ?

I'm using this for testing IAM Roles for Service Accounts.
So I'm already not re-using the TLS key for signing service account tokens correct ?

[2020-07-09 03:44] johngmyers commented on #9531
Those projected service account tokens are signed with the reused TLS key.

[2020-07-09 03:58] BenTheElder commented on #9526
/reopen

kops needs to not fail when there are only binaries for the current platform.

it's _very_ expensive (think 8 cores x 50GB takes over an hour) to do a full Kubernetes cross build / release build, and a ton of disk space on the node.

kubernetes presubmit builds a bazel-cached amd64 only build. even if we started running arm in presubmit for some reason we would not want to build _every_ p

[2020-07-09 03:58] BenTheElder commented on #9526
alternatively we can remove this presubmit and use the shared CI cross builds. but we strongly avoid doing `make release` in presubmit for a reason.

[2020-07-09 04:07] hakman commented on #9526
@BenTheElder Thanks for the feedback. Being a manually triggered job thought it may be ok. Anyway, it doesn't work, so I will revert the changes.
Not sure what the purpose of this presubmit is in k/k and if it can be removed and just have periodic job instead (I think that is what you were suggesting).

/cc @justinsb @rifelpet

[2020-07-09 04:14] BenTheElder commented on #9526
that's the simplest option, I don't know who may or may not be trying to
use this though and what the use case is.

one option I kicked around with justin (we happened to be talking already)
is having an option / env to allow missing architectures.
KOPS_YOLO_MISSING_BINARIES
if you will

On Wed, Jul 8, 2020 at 9:07 PM Ciprian Hacman <notifications@github.com>
wrote:

[2020-07-09 04:55] iojas commented on #9438
@zinizhu yes I have. whats the latest error you are facing ?

[2020-07-09 05:04] #9518 closed

[2020-07-09 05:25] jqmichael commented on #9526
Wondering if it is feasible for kops to take a whitelist instead of a blacklist for architectures. I'm interested in taking that task if someone can point me where that change should be.

(Apologies again for not doing the code digging myself. A busy week.)

[2020-07-09 06:51] hakman commented on #9526
Thanks for volunteering @jqmichael :).
Please check my PR that fixes this issue to get an idea of what and where to change.
Would probably need an extra cluster spec setting to specify the supported architectures, but at the moment Kops only supports AMD64 and ARM64 (there aren't any other uses cases for other architectures). Maybe open an issue and some others can provide feedback.

[2020-07-09 07:04] olemarkus commented on #8714
/remove-lifecycle rotten

[2020-07-09 07:38] olemarkus commented on #8714
I cannot reproduce this. Seems to be working fine now on master.

[2020-07-09 08:47] olemarkus commented on #9530
Any chance you can provide a spec that reproduces this issue that contains a bit less custom stuff? Would make it easier to diagnose the issue.

[2020-07-09 09:50] hakman commented on #9530
Aslo, can you check the `kops-configuration`, `kubelet` and `kube-proxy`  on one of the nodes that don't join the cluster?

[2020-07-09 10:57] olemarkus commented on #8728
/remove-lifecycle rotten
Can confirm that this happens in master.
/kind bug

[2020-07-09 13:13] olemarkus commented on #8728
Never mind.
If you change `--zones=$MASTER_ZONES` to `--zones=$NODE_ZONES` this probably works as expected.

[2020-07-09 15:35] #9438 closed

[2020-07-09 16:00] #9526 closed

[2020-07-09 16:11] javierlga commented on #9530
Sure, I have updated the cluster spec without the additional user data key.

Kops-configuration latest logs (I actually checked them since the beginning and didn't find any errors) :

[code]
Kubelet status is running but the logs from journalctl show:

[code]

Daemon arguments are:
[code]

Regarding kube-proxy, kube-router replaces its functionality.

[2020-07-09 16:32] hakman commented on #9530
The "network plugin is not ready: cni config uninitialized" part is misleading. This is an effect, not the cause. There should be other cause for nodes not being able to register, either in kubelet or in kube-router logs.

[2020-07-09 16:35] javierlga commented on #9530
Yes, I agree, it's really strange that it only happens on a particular instance group.

[2020-07-09 16:38] hakman commented on #9530
By any chance is the group with the taint?

[2020-07-09 16:40] javierlga commented on #9530
Yes, it has one:

[code]

However, I'm not completely sure if this is the issue because we have another cluster with the same config (apart from the k8s version 1.15.3) and it's running with no issues.

[2020-07-09 17:37] javierlga commented on #9530
Well, at the end of the day, the issue was with the taints, I just removed it and the nodes are now ready and joined to the cluster.

[2020-07-10 03:34] #9301 closed

[2020-07-10 03:56] hakman commented on #9489
Wouldn't this be a case where one would use `kops create -f cluster.yaml`?

[2020-07-10 03:59] hakman commented on #9530
Thanks for the update @javierlga.
/close

[2020-07-10 04:09] javierlga commented on #9530
/reopen

[2020-07-10 05:27] johngmyers commented on #9530
Your expectation would not be correct. Taints affect all pods that don't tolerate them. But the kuberouter tolerations do seem a bit narrow.

[2020-07-10 05:37] javierlga commented on #9530
Yes, that's correct, tbh I haven't checked kube-router tolerations.

[2020-07-10 07:44] mtl-wgtwo commented on #9176
This should be closed by https://github.com/kubernetes/kops/pull/9175

[2020-07-10 07:44] #9176 closed

[2020-07-10 10:58] #8437 closed

[2020-07-10 13:11] odidev opened #9550 "Binary releases for arm64"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

Hi team,

There are already binary being released for x86 platform, is there any plan to release for arm64 platform as well.

**2. Feel free to provide a design supporting your feature request.**

I would like to contribute to the binary release. Would you tell the process to be followed for the binary release process fo

[2020-07-10 13:41] olemarkus commented on #9550
Kops 1.19 has arm binaries: https://github.com/kubernetes/kops/releases/tag/v1.19.0-alpha.1
Note that arm64 is not supported for master nodes at the moment, and there are known issues with various AWS instance types and AMIs beyond our control. For example ubuntu 20.04 on c6g instances.

[2020-07-10 16:58] amitbitcse opened #9551 "Docker skipInstall resetting net.ipv4.conf.all.forwarding to 0"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.17.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.17.6

**3. What cloud provider are you using?**
AWS

When setting spec.docker.skipInstall=True for Kops clust

[2020-07-11 21:09] #9530 closed

[2020-07-12 11:46] #8534 closed

[2020-07-12 18:06] MoShitrit commented on #9151
Sorry it took me so long to get back to that, but I've finally found some time to do this 😄
Here's how it looks like with the vertical table:

<img width="820" alt="image" src="https://user-images.githubusercontent.com/12524503/87253372-ac8f8e00-c448-11ea-846e-320b5a73a8e3.png">

The only change here aside from the alignment is that I decided to keep `None` if one of the arguments wasn't passed (i

[2020-07-12 18:41] olemarkus commented on #9151
I love it!
I would remove the feature flag column if there are none, if possible. Feature flags aren't wildly used so this will mostly be none.
Where K8s version is N/A, I'd remove that as well.

[2020-07-12 18:44] johngmyers commented on #9151
Same for Default. If none, best to omit the column.

[2020-07-12 19:04] #9531 closed

[2020-07-12 19:23] MoShitrit commented on #9151
Done!
That made the macro look a bit messier because I can't just join lines now, because of how it's structured.
But the outcome looks better when it comes to the markdown:

<img width="806" alt="image" src="https://user-images.githubusercontent.com/12524503/87254776-13b24000-c453-11ea-865a-c79642840817.png">

In order to add this table to every place in the docs, we just have to add this line (w

[2020-07-12 19:56] rifelpet commented on #9151
looks great! You could probably combine the sets of if statements:

[code]

but feel free to open the PR now and we can iterate on it there :)

[2020-07-12 21:47] johngmyers commented on #9158
@olemarkus since you're in the Openstack code, care to look at using the write backoff strategy when tagging?

[2020-07-13 05:52] olemarkus commented on #9158
Yep. I ran into a similar error myself.

/assign

[2020-07-13 12:59] tomekit commented on #9436
My temporary workaround is to run this after `kops`.

[code]

It is possible to specify multiple IPs, by specifying multiple `CidrIp`:
{CidrIp=<allowed_ip_goes_here>/32},{CidrIp=<another_allowed_ip_goes_here>/32}

[2020-07-13 21:08] ssdowd commented on #9251
For anyone reading this and hoping for a working solution, I was unable to find a resolution and ended up migrating to a new cluster.

[2020-07-14 08:40] FahimaGold opened #9569 "error from server (internalerror): an error on the server ("") has prevented the request from succeeding"
I'm using kops 1.15.0 and kubectl v1.18.0

I'm trying to create a cluster on aws, it is created. However, whenever I try to run `kubectl get nodes` or any other command related to `kubectl` I get this error "error from server (internalerror): an error on the server ("") has prevented the request from succeeding"

I'm using Gossip-based cluster

[2020-07-14 08:44] ludydoo opened #9570 "feature request: kops operator"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**

**Kops Operator**. I'd like to be able to provision kops resources using standard k8s yaml files. It would be great if kops could be running inside a k8s cluster, as an operator, and be able to provision resources declared with custom CRDs, such as Clusters or InstanceGroups. so `kubectl get clusters`, `kubectl get insta

[2020-07-14 09:11] ari-becker commented on #9570
@ludydoo you may be interested in https://github.com/kubernetes-sigs/cluster-api
From what I understand, the long-term vision is that `kops` turns into a binary used to bootstrap a control cluster, and then the Cluster API is used to handle day-to-day operations. But the Cluster API is still under heavy development.

[2020-07-14 12:14] J-Ha opened #9571 "FlatcarLinux with Kops 1.17.0/1 wrong Flexvolume Path"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
1.17.1
**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
1.17.8
**3. What cloud provider are you using?**
AWS

KOPS 1.17.0 or 1.17.1 does not bootstrap a cluster with th

[2020-07-14 13:49] prashantkalkar commented on #8954
@hakman Is it possible to use Ubuntu 20.04 image for older k8s version clusters. I am using Kops 1.17 with k8s version: 1.14.10?

[2020-07-14 13:56] hakman commented on #8954
@prashantkalkar you can use Ubuntu 20.04 by manually setting the image for each instance group:
https://github.com/kubernetes/kops/blob/e323f188b3e7e2407184228dbcc6757b9cc19cac/channels/stable#L47

[2020-07-14 14:56] AGSaidi commented on #9550
What is the ubuntu 20.04 issue?

[2020-07-14 15:33] prashantkalkar commented on #8954
Thanks will use.

[2020-07-14 17:41] hakman commented on #9571
Please attach the cluster spec.

[2020-07-14 17:43] hakman commented on #9569
Kops 1.15.0 is no longer supported. Please use the latest version.
Also, when you open an issue, please follow the template.
/close

[2020-07-14 17:43] #9569 closed

[2020-07-14 17:44] hakman commented on #9551
Please provide more info. To my knowledge Kops doesn't change `net.ipv4.conf.all.forwarding` in any way.

[2020-07-14 17:45] hakman commented on #9550
CloudInit script are not run during first boot.

[2020-07-14 18:23] FahimaGold commented on #9569
Indeed.The problem was due to kops version. Changed the version to 1.17.1 and it worked. thanks

[2020-07-14 19:07] davdunc commented on #9550
I think @olemarkus is referring to the failure to https://bugs.launchpad.net/ubuntu/+source/cloud-init/+bug/1885973 That's fixed in the most recent dailies and on track for stable in the short term.

[2020-07-14 19:10] hakman commented on #9550
I just tested with `099720109477/ubuntu/images/hvm-ssd/ubuntu-focal-20.04-arm64-server-20200701` and seems to be working fine.
Thanks for the link @davdunc.

[2020-07-14 22:25] mr-rick commented on #5524
are there any cri/o or containerd pull requests merged in yet?

[2020-07-14 22:36] prashantkalkar commented on #8954
@hakman Unfortunately ubuntu image did not work for me when I tried. The kop-configuration service and the kubelet service both were failing due to the absence of docker.

kops-configuration service was failing with the message:

`Output: Failed to restart docker.service: Unit docker.socket not found.`

and docker-healthcheck.service was also failing with message:

`timeout: failed to run command

[2020-07-15 03:02] hakman commented on #5524
no

[2020-07-15 03:04] hakman commented on #8954
Please do. Thanks.

[2020-07-15 03:59] prashantkalkar opened #9574 "Docker is not installed properly for Ubuntu 20.04 Focul AMI"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Kops version: v1.17.0

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

Kubernetes version: 1.14.10

**3. What cloud provider are you using?**

Cloud Provider: AWS

*

[2020-07-15 04:00] prashantkalkar commented on #8954
A new issue is submitted here: https://github.com/kubernetes/kops/issues/9574

[2020-07-15 04:11] hakman commented on #9574
If the main issue is the missing Docker package for `18.06.3`, I recommend using a newer version of Docker.
I think the latest 1.17 release is bundled with `19.03.11`.

[2020-07-15 05:38] prashantkalkar commented on #9574
I can change the docker version but I think it has to be done at the cluster level. I am trying out the ubuntu AMI just for a single instance group. Is it possible to change the docker version only for an instance group?

Currently, my cluster configuration does not specify any docker configuration. Anyway, the process should not fail with the default setup.

[2020-07-15 06:04] hakman commented on #9574
Docker version is a cluster level option and will impact all IGs.

Unfortunately, there are no `18.06.3` packages for Ubuntu 20.04:
https://download.docker.com/linux/ubuntu/dists/focal/pool/stable/amd64/

[2020-07-15 06:51] J-Ha commented on #9571
`apiVersion: kops.k8s.io/v1alpha2
kind: Cluster
metadata:
  creationTimestamp: "2020-07-14T11:32:17Z"
  name: xxxx.eu-west-1.xxxx.io
spec:
  api:
    loadBalancer:
      crossZoneLoadBalancing: false
      type: Public
  assets:
    containerProxy: docker.repo.xxxx.xx
  authorization:
    rbac: {}
  channel: stable
  cloudLabels:
    Env: test
    Name: xxxx.eu-west-1.xxxx.io
    Owner: Karma Team

[2020-07-15 06:55] J-Ha commented on #9571
[code]

[2020-07-15 06:57] prashantkalkar commented on #9574
Sharing here as what I tried:

I updated the cluster spec with docker version `19.03.11`. But the replace command failed with as unsupported version:

[code]
So I changed the version to `19.03.8` and added an additional test instance group (IG) with Ubuntu AMI (I did not complete the rolling update for other IGs to avoid breaking anything).

It worked for the Ubuntu 20.04 Focal AMI (`099720109477/

[2020-07-15 06:58] hakman commented on #9571
Thanks. Also the instance group part.

[2020-07-15 06:59] hakman commented on #9574
Please use Kops 1.17.1.

[2020-07-15 07:17] J-Ha commented on #9571
[code]

[2020-07-15 07:40] hakman commented on #9571
Please specify the image with name instead of AMI and retry:
[code]

[2020-07-15 07:46] hakman commented on #9571
For reference: https://github.com/kubernetes/kops/pull/8062

[2020-07-15 08:04] prashantkalkar commented on #9574
Ok. I tested with Kops `1.17.1` and docker version `19.03.11` is supported. I can confirm that the setup worked for me Ubuntu as well as default Kops AMI.

I think the only thing we should do is update the documentation to mention the minimum docker version required for Ubuntu AMI use.

[2020-07-15 08:24] J-Ha commented on #9571
seems to solve the issue, i was taking a look into the code.
It should read the /etc/os-release to get the OS Type. so it should not care about ami or fully qualified image name?

https://github.com/kubernetes/kops/blob/v1.17.1/nodeup/pkg/model/kube_controller_manager.go#L169

[2020-07-15 08:32] hakman commented on #9571
How would you read `/etc/os-release` before the node even exists?
Also, this sets a value in a DaemonSet, which is cluster wide. Cannot set per node values there.

[2020-07-15 08:37] J-Ha commented on #9571
to identify the HostOS should be a preKubernetes step.
to setup the FlexVol should be a step that is initialized in while the kuberntes bootstrap.
it was working the last 2 years with the AMI from CoreOs and even until KOPS 1.16.

but anyways, this is working for now. thanks

[2020-07-15 09:20] hakman commented on #9571
There are some differences in what you expect and how Kops actually works, with some reason behind them. At the moment, when the Calico/Canal manifest is created there is no way to know what OS will be started on nodes and if all nodes are the same. It is up to the operator to configure the correct k8s plugin dir via the `spec.kubelet.volumePluginDirectory` option
In any case, I doubt anyone will

[2020-07-15 10:38] hakman commented on #9574
Thanks for confirming @prashantkalkar .
Keep in mind that Docker 18.06 was released in 2018 and Ubuntu 20.04 was released in 2020. One should expect to be some limitations and do some research into compatibility.
That being said, feel free to add a docs PR about the minimum required Docker version for Ubuntu 20.04.

/close

[2020-07-15 10:38] #9574 closed

[2020-07-15 10:43] jindov commented on #3554
For those who want to use kops addon, this is how I launch addons when creating cluster:

Declare `addons` in Cluster.spec. For example:
[code]
In the s3 bucket, there are 2 files:
addon.yaml declare addon:
[code]
and v0.3.6.yaml is your main deployment manifest:
[code]

then, when you run `kops create cluster --yes`, the cluster will be created with your addon installation

[2020-07-15 13:48] jeckhart commented on #7075
Fixed by #7084

[2020-07-15 13:50] iusergii commented on #2422
Is there any plan to move this forward?

[2020-07-15 15:05] hakman commented on #2422
At the moment there is no plan to add Windows support to Kops. Not to say that we don't want to have it, but none of the active maintainers expressed any interests. As it was written above, this is no trivial task by any means and anyone that want to work on this would have to have experience with the code base.

The most advanced work that I know of into making Kops work with windows is here, in

[2020-07-15 15:20] rifelpet commented on #2422
To add to @hakman's comment, with the recent ARM64 support the steps towards adding windows support have been simplified a bit but it will still require significant changes. In case anyone is interested in contributing windows support, these are the high level concerns we'll need to address:

* UserData - Since the userdata will need to be entirely different, we'll need to rely on a new API field

[2020-07-15 16:09] noahjd opened #9577 "Support for internal API load balancers for GCE"
**1. Describe IN DETAIL the feature/behavior/change you would like to see.**
In the current version of KOPS, while support for creating GCE K8s cluster does work. It is not possible to use an internal loadbalancer in the cluster spec for GCE type clusters.
**2. Feel free to provide a design supporting your feature request.**

[2020-07-15 23:35] yingxia2020 opened #9578 "Kops delete cluster on AWS could not finish successfully"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**
$ kops version
Version 1.17.1 (git-4dfd4779fe)

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**
Not related.

**3. What cloud provider are you using?**
AWS

**4. What

[2020-07-16 00:07] #8529 closed

[2020-07-16 05:59] johngmyers opened #9580 "aws-iam-authenticator: nodes of role master fail to build 17% of the time"
**1. What `kops` version are you running? The command `kops version`, will display
 this information.**

Private build off of master branch

**2. What Kubernetes version are you running? `kubectl version` will print the
 version if a cluster is running or provide the Kubernetes version specified as
 a `kops` flag.**

1.19.0-rc.1

**3. What cloud provider are you using?**

AWS

**4. What commands d

[2020-07-16 06:11] johngmyers commented on #9580
This was probably triggered by trying to use uid 10011 for kops-controller in my private build. That might be what `user` is normally assigned.

[2020-07-16 06:32] johngmyers commented on #9580
Looks like when `user` runs after another `UserTask` it gets assigned the next UID. So this is a race which happens when there are at least three `UserTask`s. So it probably also happes to people who use aws-iam-authenticator.

[2020-07-16 09:17] #7323 closed

[2020-07-16 10:02] mayrbenjamin92 commented on #1794
/reopen

We would also love to have support for this!

[2020-07-16 16:11] #9580 closed

[2020-07-16 16:22] skieffer commented on #8993
I wound up here while trying to figure out how to change the size of the etcd volumes.

Even if an `--etcd-volume-size` flag won't be added, it would be extremely helpful to add the `volumeSize` field to the default cluster yaml.

In other words, when a new user does `kops edit cluster`, instead of seeing this:

    etcdClusters:
    - cpuRequest: 200m
      etcdMembers:
      - instanceGroup: mas

[2020-07-16 16:57] #9151 closed

[2020-07-16 19:26] yingxia2020 commented on #9578
I just tried with the newest version: v1.19.0-alpha.1, the first problem is fixed (better cherry pick to older KOPs versions) and the second problem, vpc created for the cluster could not get deleted, still exist.

I0716 12:19:12.143330    3824 errors.go:32] unexpected aws error code: "InvalidVolume.NotFound"
volume:vol-0a5c8f48f0a566199    ok
subnet:subnet-0181434e9271ad60d ok
security-group:sg-0